<div class="create-linkage">
  <div class="linkage-name">
    <div class="linkage-label" [ngStyle]="{width: labelWidth}">
      <ti-icon name="staricon" style="color: red;"></ti-icon>
      <span>{{i18n.linkage.taskName}}</span>
    </div>
    <div class="linkage-input-button">
      <div class="linkage-input" [formGroup]="linkFormGroup">
        <input type="text" tiText [tiValidation]="{type: 'blur'}" [placeholder]="i18n.linkage.placeHolder"
          formControlName="taskName" [errorMessageWrapper]='taskNameErrorMsgWrapper' />
      </div>
      <div #taskNameErrorMsgWrapper></div>
    </div>
  </div>
  <div class="linkage-sys-scene">
    <div class="linkage-label" [ngStyle]="{width: labelWidth}">
      <ti-icon name="staricon" style="color: red;"></ti-icon>
      <span>{{i18n.linkage.selectScene}}</span>
    </div>
    <div class="linkage-scene-select">
      <div class="linkage-abnormal" *ngFor="let scene of scenes; index as index"
        (click)="clickSceneType(index);$event.stopPropagation()"
        [ngClass]="{'noActiveColor': !scene.currentCreateType}">
        <div class="linkage-scene-name" tiOverflow>{{scene.name}}</div>
        <div class="allCheck">
          <img src="./assets/img/summary/Selected.png" *ngIf="scene.currentCreateType">
          <img src="./assets/img/summary/Unselected.png" *ngIf="!scene.currentCreateType">
        </div>
      </div>
    </div>
  </div>
  <div class="linkage-task">
    <div class="linkage-label" [ngStyle]="{width: labelWidth}">
      <ti-icon name="staricon" style="color: red;"></ti-icon>
      <span>{{i18n.linkage.choseObject}}</span>
    </div>
    <div class="linkage-project">
      <div>
        <ti-select style="width: 482px;height: 33px;" [options]='myOptions' [(ngModel)]="mySelected" labelKey='label'
          id="analysisType" (ngModelChange)="onNgModelChange($event)">
        </ti-select>
      </div>
      <div class="linkage-tree">
        <div class="tab-header">
          <div class="left-tab normal-tab" [ngClass]="{'active-tab':activeTab}" (click)="changeTab(true)">
            <span>{{i18n.linkage.horizontal}}</span>
            <img class="img-tip" src='./assets/img/summary/tooltip.png'
              [tiTip]="i18n.linkage.horizontal_analysis_tip" />
          </div>
          <div class="right-tab normal-tab" [ngClass]="{'active-tab':!activeTab}" (click)="changeTab(false)">
            <span>{{i18n.linkage.hvertical}}</span>
            <img class="img-tip" src='./assets/img/summary/tooltip.png' [tiTip]="i18n.linkage.vertical_analysis_tip" />
          </div>
        </div>
        <div class="tab-content">
          <ti-tree *ngIf="activeTab" id="horizontalTree" [data]="horizontalTree" [multiple]="multiple"
            [parentCheckable]="parentCheckable" (select)="onHorizontalTreeSelect($event)">
            <ng-template let-item let-i=index>
              <span tiOverflow tiTipPosition="right">
                {{item.label}}
              </span>
            </ng-template>
          </ti-tree>
          <ti-tree *ngIf="!activeTab" id="verticalTree" [data]="verticalTree" [multiple]="multiple"
            [parentCheckable]="parentCheckable" (select)="onVerticalTreeSelect($event)">
            <ng-template let-item let-i=index>
              <span tiOverflow tiTipPosition="right">
                {{item.label}}
              </span>
            </ng-template>
          </ti-tree>
        </div>
      </div>
    </div>
  </div>
  <div class="button-bottom">
    <button type="button" tiButton color="primary"
      [disabled]="linkFormGroup.invalid || !treeSelectValid || noSceneChoice " (click)="addNewLinkage()">
      {{i18n.mission_modal.confirm}}
    </button>
    <button type="button" (click)="closeTask()" tiButton>{{i18n.mission_modal.cancle}}</button>
  </div>
</div>