.upload-container{
    position: fixed;
    bottom: 10px;
    right: -10px;
    width: 480px;
	background-color: #ffffff;
	box-shadow: 0px 6px 18px 0px 
		rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    text-align: center;
    .top{
        padding: 9px 16px;
        background-color: #6c92fa;
        border-radius: 1px;
        font-family: FZLTHJW--GB1-0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: 0px;
        color: #ffffff;
        text-align: left;
    }
    .content{
        display: inline-block;
        padding: 18px;
        border-radius: 1px;
        border: solid 1px #d8d8d8;
        text-align: left;
        margin: 18px auto;
        .progress-bar-bg{
            width: 377px;
            height: 3px;
            background-color: darkgray;
            border-radius: 2px;
            margin-top: 16px;
            position: relative;
            .progress-bar{
                width: 0%;
                height: 5px;
                background-color:#68D196;
                text-align: center;
                border-radius: 2px;
                position: absolute;
                top: -1px;
                left: 0;
            }
        }
    }
}