<!--component html goes here -->
<app-banner></app-banner>
<div *ngIf="upgrading === -1" class="upgrade-form">
    <p class="upgrade-title-gen title">{{ i18n.plugins_tuning_title_upgradeDt }}
        <a *ngIf="i18nService.currLang === i18nService.langType.zh_cn" (click)="clickFAQ(pluginUrlCfg.upgrade_openFAQ1)">
            <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark.svg">
            <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
        </a>
        <a *ngIf="i18nService.currLang === i18nService.langType.en" (click)="clickFAQ(pluginUrlCfg.upgrade_openFAQ1)">
            <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark.svg">
            <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
        </a>
    </p>
    <div class="upgrade-title-det">
        <img class="img_box" src="./assets/img/tip/icon_information.svg">
        <span class="top-tips"> {{i18n.plugins_common_message_upgradeDt1 }}
            <a (click)="clickFAQ(pluginUrlCfg.vscodeService_openFAQ2)">
                {{i18n.plugins_common_message_upgradeDt2}}</a>
            {{ i18n.plugins_common_message_upgradeDt3}} </span>
    </div>
    <p class="upgrade-title-gent title">{{ i18n.plugins_common_title_installTs }}</p>
    <div class="upgrade-form-item">
        <div class="ti3-icon ti3-icon-staricon upgrade-form-item-label">{{ i18n.plugins_tuning_label_ip }}
        </div>
        <input type="text" tiText [(ngModel)]="tempIP" (blur)="checkIP()" (change)="connected=false">
        <div *ngIf="ipCheckF" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
            <span class="ti3-validate-text">{{ i18n.plugins_tuning_message_ipError }}</span>
        </div>
    </div>
    <div class="upgrade-form-item">
        <div class="ti3-icon ti3-icon-staricon upgrade-form-item-label">{{ i18n.plugins_tuning_label_port }}
        </div>
        <input type="text" tiText [(ngModel)]="tempPort" (blur)="checkTempPort()" placeholder="22"
            (change)="connected=false">
        <div *ngIf="tempPortCheckF" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
            <span class="ti3-validate-text">{{ i18n.plugins_tuning_message_portError }}</span>
        </div>
    </div>
    <div class="upgrade-form-item">
        <div class="ti3-icon
        ti3-icon-staricon upgrade-form-item-label">{{ i18n.plugins_tuning_label_installUser }}
        </div>
        <input id="username" type="text" tiText [(ngModel)]="username" (blur)="checkUsername()"
            (change)="connected=false">
        <div *ngIf="usernameCheckNull" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
            <span class="ti3-validate-text tip-tem">{{ i18n.common_term_required_tip }}</span>
        </div>
    </div>
    <div class="ssh-type">
        <div>
            <!-- radio -->
            <div>
                <div class="ssh-type-title">{{ i18n.plugins_common_label_selectSSHType }}
                    <a *ngIf="i18nService.currLang === i18nService.langType.zh_cn" (click)="clickFAQ(pluginUrlCfg.upgrade_openFAQ2)">
                        <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark-1.svg">
                        <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
                    </a>
                    <a *ngIf="i18nService.currLang === i18nService.langType.en" (click)="clickFAQ(pluginUrlCfg.upgrade_openFAQ2)">
                        <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark-1.svg">
                        <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
                    </a>
                </div>
                <div *ngFor="let item of radioList" style="display: inline-block;margin-right: 40px">
                    <label class="ra-label" [for]="item.key">
                        <input type="radio" tiRadio name="sshType" [(ngModel)]="sshTypeSelected" [value]="item.key"
                            [id]="item.key" (change)="checkChange(item)">
                        <label [for]="item.key" class="ti3-radio">
                            <span class="ti3-radio-skin"></span>
                            <span class="ti3-radio-label"></span>
                        </label>
                        <span class="pointer color-d-e8-l-22">{{item.value}}</span>
                        <!-- <span class="pointer" style="display: inline-block; font-size: 14px;">{{item.value}}</span> -->
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- 密码认证 -->
    <div *ngIf="sshTypeSelected === 'usepwd'" class="upgrade-form-item">
        <div class="ti3-icon ti3-icon-staricon upgrade-form-item-label">{{ i18n.plugins_tuning_label_installPwd }}
        </div>
        <div style="position: relative;">
            <input id="pwd" [type]="upgradeType" tiText [(ngModel)]="pwd" (blur)="checkPwd()" (change)="connected=false"
                oncopy="return false" onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}" onpaste="return true"
                oncut="return false" style="padding-right: 32px;" noeye>
            <div class="eye">
                <span (click)="changInputType('password')" *ngIf="upgradeType === 'text'">
                    <img src="./assets/img/icon-view.svg">
                </span>
                <span (click)="changInputType('text')" *ngIf="upgradeType === 'password'">
                    <img src="./assets/img/icon-hide.svg">
                </span>
            </div>
        </div>
        <div *ngIf="pwdCheckNull" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
            <span class="ti3-validate-text tip-tem">{{ i18n.common_term_required_tip }}</span>
        </div>
    </div>
    <!-- 密匙认证 -->
    <div *ngIf="sshTypeSelected === 'usekey'" class="upgrade-form-item">
        <div class="ti3-icon ti3-icon-staricon upgrade-form-item-label">{{ i18n.plugins_common_label_installsshkey }}
        </div>
        <textarea resize="horizontal" tiTextarea class="usekey-input" [placeholder]="sshUploadKey"
            [(ngModel)]="localfilepath" readonly>
        </textarea>
        <div style="display: inline-block;" class="upload-btn">
            <button type="button" class="little-minor-btn" (click)="fileUpload()"
                style="display: inline-block; width: 100px; height: 28px; margin-left: 10px;">{{i18n.plugins_common_message_sshkeyUpload}}
                <input type="file" id="uploadFile" style="display: none;" (change)="uploadFile()">
            </button>
        </div>
        <div class="upgrade-form-item-label" style="margin-top: 20px;">{{ i18n.plugins_common_label_passphrase }}
        </div>
        <div style="position: relative;">
            <input [type]="upgradeType" tiText placeholder="{{i18n.plugins_common_message_passphrase}}"
                [(ngModel)]="passphrase"
                (change)="connected = false"
                oncopy="return false"
                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}"
                onpaste="return true"
                oncut="return false" noeye>
            <div class="eye">
                <span (click)="changInputType('password')" *ngIf="upgradeType === 'text'">
                    <img src="./assets/img/icon-view.svg">
                </span>
                <span (click)="changInputType('text')" *ngIf="upgradeType === 'password'">
                    <img src="./assets/img/icon-hide.svg">
                </span>
            </div>
        </div>
    </div>
    <div class="btn-group" [ngClass]="{'checkconnection-btn-en': i18nService.currLang === i18nService.langType.en}">
        <!-- 检测连接 -->
        <button type="button" class="secondary-btn check-conn-btn" [ngClass]="{'checking-btn': connectChecking}" (click)="checkConnBefore()"
            [disabled]="connectChecking || (sshTypeSelected === 'usekey' && !localfilepath)">
            <img *ngIf="connectChecking && currTheme === 1" src="./assets/img/loading-disabled.gif">
            <img *ngIf="connectChecking && currTheme === 2" src="./assets/img/loading-white.gif">
            <span>{{ i18n.plugins_common_button_checkConn }}</span>
        </button>
        <!-- 立即升级 -->
        <button type="button" class="primary-btn" (click)="upgrade()" [disabled]="!connected">
            <span>{{ i18n.plugins_tuning_button_upgradeConfirm }}</span>
        </button>
    </div>
</div>

<div *ngIf="upgrading !== -1" class="upgrade-form">
    <div *ngIf="upgrading === 0" class="upgrade-title-upgrading">
        <div class="color-d-e8-l-22">{{ i18n.plugins_tuning_message_upgradingInfo}}</div>
    </div>
    <div *ngIf="upgrading === 1" class="upgrade-title-upgraded">
        <img class="img_install" src="./assets/img/tip/icon_success.svg">
        <p> {{ i18n.plugins_tuning_title_installed }} </p>
    </div>
    <div *ngIf="upgrading === 2" class="upgrade-title-failed">
        <div class="install-failed-tip">
            <img class="img_install" src="./assets/img/tip/icon_failure.svg">
            <p class="install-failed-tip1"> {{ i18n.plugins_tuning_title_upgradeFailed }} </p>
        </div>
        <p class="install-failed-tip2">{{ i18n.plugins_tuning_message_installFailedInfo }}</p>
    </div>

    <div *ngIf="upgrading === 1" class="upgrade-message-upgraded">
        <div>
            <div>
                <div>
                    <p class="color-d-88-l-61" [innerHtml]="selectIPInfo"></p>
                    <div *ngFor="let item of ipList index as i">
                        <label class="ra-label" [for]="item.key" style="margin-top: 20px;">
                            <i class="ra-common ra-check" *ngIf="ipSelected === item.key"></i>
                            <i class="ra-common ra-uncheck" *ngIf="ipSelected !== item.key"></i>
                            <input type="radio" name="ipType" [(ngModel)]="ipSelected" [value]="item.key"
                                [id]="item.key" (change)="ipSelected === item.key">
                            <span class="color-d-e8-l-22" style="margin-left: 30px; font-size: 14px;">{{item.value}}</span>
                        </label>
                        <div *ngIf="ipSelected === 2 && i === ipList.length - 1">
                            <input type="text" tiText [(ngModel)]="extraIP" (blur)="checkExtraIP()"
                                style="margin-top: 10px;">
                            <div *ngIf="extraIpCheckF" class="ti3-unifyvalid-error-container">
                                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                                <span class="ti3-validate-text">{{ i18n.plugins_tuning_message_ipError }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.upgrading === 1" id="login-btn" class="primary-btn" (click)="goLogin()">
        <span>
            {{ i18n.plugins_tuning_button_login }}
        </span>
    </div>
    <div *ngIf="this.upgrading === 2" id="login-btn" class="primary-btn" (click)="retry()">
        <span>
            {{ i18n.plugins_tuning_button_retry }}
        </span>
    </div>
    <div class="showLoading" *ngIf="showLoading">
      <app-loading [height]="'100%'" [size]="'max'"></app-loading>
    </div>
</div>

<!-- 确认弹框 -->
<app-messagebox #showDialog>
    <div class="content tip-box user-deploy-box">
        <div class="tip-title color-d-e8-l-22">
            <span class="title-content">{{i18n.plugins_public_text_tip}}</span>
            <span (click)="cancelDiglogMsgTip()" class="icon-close">
                <img src="./assets/img/close_icon.svg">
                <img src="./assets/img/close_hover.svg">
            </span>
        </div>
        <div class="tip-dsc">
            <img class="img_box" src="./assets/img/tip/icon_information.svg">
            <div class="color-d-e8-l-61">
                <p>{{dialogShowDetailText}}</p>
            </div>
        </div>
        <div class="tip-confirm">
            <button type="button" class="primary-btn" (click)="openFAQ()">{{i18n.plugins_common_tips_checkConn_openFAQ}}</button>
            <button type="button" class="secondary-btn" (click)="confirmDialogMsgTip()">{{i18n.plugins_public_button_confirm}}</button>
            <button type="button" class="secondary-btn" (click)="cancelDiglogMsgTip()">{{i18n.plugins_public_button_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<!-- 指纹弹框 -->
<app-messagebox #fingerDialog>
    <div class="content tip-box finger-box" style="width: 360px;">
        <div class="tip-dsc">
            <img class="img_box" src="./assets/img/tip/icon_information.svg">
            <div class="color-d-e8-l-61">
                <p>{{fingerLoseText}}</p>
            </div>
        </div>
        <div class="tip-confirm">
            <button type="button" class="primary-btn" (click)="confirmFingerDialog()">{{i18n.plugins_public_message_confirm}}</button>
            <button type="button" class="secondary-btn" (click)="cancelFingerDialog()">{{i18n.plugins_public_message_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<app-notification-box #notificationBox>
    <div class="notification-message">{{notificationMessage}}</div>
</app-notification-box>