.warpper {
  --sys-tail-annotation-text-color: #979797;

  .fix-area{
    margin-top: 20px;
  }
  .tail-annotation {
    display: inline-block;
    margin-left: 8px;
    color: var(--sys-tail-annotation-text-color);
  }
  .prefix-miss{
    margin-left: 16px;
  }
}
