<div class="warpper">
  <div class="fix-area prefix-miss">
    <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
      <ti-item>
        <ti-item-label>
          <span [ngStyle]="{ width: labelWidth }" tiOverflow>
            {{ "net_io.caught_eth" | i18n }}
          </span>
        </ti-item-label>
        <input
          formControlName="ethName"
          type="text"
          tiText
          tiValidation
          style="width: 326px"
        />
      </ti-item>
    </ti-formfield>
  </div>
  <div class="fix-area right_align prefix-miss">
    <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
      <ti-item [label]="'net_io.filter_cond' | i18n">
        <app-caught-filter
          formControlName="filterCondition"
        ></app-caught-filter>
      </ti-item>
    </ti-formfield>
  </div>
  <div class="fix-area">
    <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
      <ti-item [required]="true">
        <ti-item-label>
          <span [ngStyle]="{ width: labelWidth }" tiOverflow>
            {{ "net_io.caught_time" | i18n: "s" }}
          </span>
        </ti-item-label>
        <ti-spinner
          formControlName="caughtDuration"
          [hySpinnerBlur]="{
            control: formGroup.get('caughtDuration'),
            min: 1,
            max: 300
          }"
          [format]="'N0'"
          tiValidation
          style="width: 132px"
        ></ti-spinner>
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "1~300" }}
        </div>
      </ti-item>
      <ti-item [required]="true">
        <ti-item-label>
          <span [ngStyle]="{ width: labelWidth }" tiOverflow>
            {{ 'net_io.caught_num' | i18n }}
          </span>
        </ti-item-label>
        <input
          formControlName="blockCount"
          tiText
          type="text"
          tiNumber
          [hySpinnerBlur]="{
            control: formGroup.get('blockCount'),
            min: 1,
            max: 10000
          }"
          [format]="'N0'"
          tiValidation
          style="width: 326px"
        />
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "1~10000" }}
        </div>
      </ti-item>
      <ti-item [label]="'net_io.file_size' | i18n: 'MB'">
        <ti-spinner
          formControlName="fileSize"
          [hySpinnerBlur]="{
            control: formGroup.get('fileSize'),
            min: 10,
            max: 1024
          }"
          [format]="'N0'"
          tiValidation
          style="width: 132px"
        ></ti-spinner>
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "10~1024" }}
        </div>
      </ti-item>
      <ti-item [label]="'net_io.file_num' | i18n">
        <ti-spinner
          formControlName="fileNumber"
          [hySpinnerBlur]="{
            control: formGroup.get('fileNumber'),
            min: 1,
            max: 10
          }"
          [format]="'N0'"
          tiValidation
          style="width: 132px"
        ></ti-spinner>
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "1~10" }}
        </div>
      </ti-item>
    </ti-formfield>
  </div>
</div>
