:host ::ng-deep {
    .info-log-container {
        padding: 0 24px;

        .custemDetailContainer > .ti3-tabs-container > .ti3-tab-content {
            width: 100%;
            margin-left: 0;
        }

        .custemDetailContainer > .ti3-tabs-container > .ti3-tab-content > .ti3-tab-pane > .content-container {
            padding: 20px 5px;
        }
    }

    
}
