.btn-header {
  display: flex;
  margin: 20px 0 20px 0;
  align-items: center;
  min-width: 536px;
  max-width: 100%;
  .pro-title {
    font-size: 16px;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    .pro_text {
      height: 20px;
      display: flex;
      line-height: 20px;
      justify-content: center;
      .pro_text_img {
        display: flex;
        margin-left: 5px;
        height: 20px;
        width: 20px;
      }
    }
    .toggleSnapshot:hover {
      cursor: pointer;
    }
  }
  .formula_text {
    margin-left: 20px;
    height: 20px;
    display: flex;
    line-height: 20px;
    justify-content: center;
    .formula_text_img {
      display: flex;
      margin-left: 5px;
      height: 20px;
      width: 20px;
    }
  }
}
.threshold {
  height: 24px;
  line-height: 24px;
  background: #f5f9ff;
  .thresholdBlock {
    margin-left: 26px;
    .thresholdText {
      margin-right: 10px;
    }
  }
}
.header-text {
  padding: 20px 0px 0px 0px;
  .show-text {
    .hot {
      font-size: 20px;
      color: #222;
    }
    .inf {
      font-size: 14px;
      color: #979797;
      margin-left: 20px;
      font-weight: 400;
    }
  }
  .tip {
    margin-left: 10px;
  }
}
.overview-container {
  padding: 10px 0px 20px;
  min-height: calc(100vh - 200px);
  .http-nodata {
    font-size: 1.1rem;
    position: relative;
    color: #333;
  }
  .thread-tabs {
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #dfe1e6;

    .item-tab {
      display: inline-block;

      .tab-label {
        padding: 0 20px;
        border-right: 1px solid #ccc;
      }

      .tab-label-first {
        padding-left: 0;
      }

      .item-split-none {
        border-right: none;
      }
    }

    .tab-active {
      padding-bottom: 5px;
      border-bottom: 2px solid #7599fb;
      color: #7599fb;
    }
  }
  .tabs {
    display: inline-block;
    color: #0067ff !important;
    border-bottom: 3px solid #0067ff;
    text-align: center;
    padding: 7px 0;
  }
  .thread-content {
    height: calc(100% - 55px);

    .hot-tree {
      height: 350px;
      margin-top: 20px;
      overflow: auto;
      border-radius: 1px;
      border-top: solid 1px #d4d9e6;
      border-bottom: solid 1px #d4d9e6;
      .stracktrace-rate {
        display: inline-block;
        height: 10px;
        background: #5d89d8;
      }
    }
  }

  .real-graph {
    margin-top: 35px;
    padding-bottom: 10px;
  }

  .real-content {
    margin: -25px 0 0 25px;
  }

  .disable-btn {
    background: #e6ebf5 !important;
    border: 1px solid #e6ebf5 !important;
    color: #b8becc !important;
    cursor: not-allowed !important;
  }
}
