// 深色主题适配
::ng-deep .vscode-dark{
    --color-body-background: #252526;
}

// 浅色主题适配
::ng-deep .vscode-light{
    --color-body-background: #FFFFFF;
}
.mask{
    background: rgba(0, 0, 0, 0.298);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0%;
    display: none;
    transition: .4s ease-out;
    z-index: 1001;
}
.mask.active{
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.content-box{
    background-color:var(--color-body-background) !important;
    transition: .4s ease-out;
    z-index: 112;
    border-radius: 2px;
    display: none;
    opacity: 0;
}
.content-box.active{
    display: block;
    opacity: 1;
}
