.hot-function {
  width: 100%;
  height: 100%;
  overflow: auto;

  .topology-tree {
    height: 100%;
    border-top: solid 1px var(--border-d-3c3c3c-l-e1e6ee);
    box-sizing: border-box;
    padding-bottom: 18px;
  }
}