<div class="cpu-detail">
    <div class="cpu-usage" *ngIf="memoryUtilization">
        <span class="box-title-set" style="position: relative;display: block">{{i18n.sys.titles.memUsage}}
            <div class="download" style=" width:0;overflow:hidden; right:5vw;top:1px;z-index: 99;display: none;">
                <a style="display: block;margin-bottom:5px;" (click)="downloadCsv1()"
                    [title]="i18n.sys_cof.sum.download_csv">
                    <img src="./assets/img/download.svg" alt="" />
                </a>
            </div>
        </span>
        <div class="table-box">
            <div *ngIf="usagEcharteData.length>0">
                <div *ngFor="let item of usagEcharteData">
                    <app-tables #usage [timeLine]='timeLine' [datas]='item' (dataZoom)='dataZoom($event)'
                        (echartsInstOut)='echartsInstOut($event)'></app-tables>
                </div>
            </div>
            <app-loading *ngIf="showLoading" [size]="'min'"></app-loading>
            <app-default-page *ngIf="!usageData&&!showLoading" [scene]="'noData'" [text]="i18n.common_term_task_nodata">
            </app-default-page>
        </div>
    </div>

    <div class="cpu-usage" *ngIf="Pagination">
        <span class="box-title-set" style="position: relative;display: block">{{i18n.sys.titles.memPag}}
        </span>
        <div class="table-box">
            <div *ngIf="pageEcharteData.length>0">
                <div *ngFor="let item of pageEcharteData">
                    <app-tables #pag [timeLine]='timeLine' [datas]='item' (dataZoom)='dataZoom($event)'
                        (echartsInstOut)='echartsInstOut($event)'></app-tables>
                </div>
            </div>
            <app-loading *ngIf="showLoading" [size]="'min'"></app-loading>
            <app-default-page *ngIf="!pagData&&!showLoading" [scene]="'noData'" [text]="i18n.common_term_task_nodata">
            </app-default-page>
        </div>
    </div>

    <div class="cpu-usage" *ngIf="exchange">
        <span class="box-title-set" style="position: relative;display: block;">{{i18n.sys.titles.memSwap}}
        </span>
        <div class="table-box">
            <div *ngIf="swapEcharteData.length>0">
                <div *ngFor="let item of swapEcharteData">
                    <app-tables #swap [timeLine]='timeLine' [datas]='item' [isHave]="'swap'"
                        (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
                </div>
            </div>
            <app-loading *ngIf="showLoading" [size]="'min'"></app-loading>
            <app-default-page *ngIf="!swapData&&!showLoading" [scene]="'noData'" [text]="i18n.common_term_task_nodata">
            </app-default-page>
        </div>
    </div>
</div>