<div class="warpper" [ngClass]="theme$ | async">
  <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth || '109px'">
    <ti-item>
      <ti-item-label>
        <div class="label">{{ 'nodeManagement.nodeIp' | i18n }}</div>
      </ti-item-label>
      <ti-ip
        formControlName="ipAddress"
        [version]="4"
        style="width: 326px"
      ></ti-ip>
    </ti-item>
    <ti-item>
      <ti-item-label>
        <div class="label">{{ 'sys_summary.cpupackage_tabel.networkName' | i18n }}</div>
      </ti-item-label>
      <input
        formControlName="ethName"
        type="text"
        tiText
        class="lastInput"
        tiValidation
      />
    </ti-item>
  </ti-formfield>
</div>
