<div class="box">
    <div class="box-title" (click)='toggle.networkSubsystem = !toggle.networkSubsystem'>
        <img *ngIf="currTheme === ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
            [ngClass]="{active: toggle.networkSubsystem}">
        <img *ngIf="currTheme === ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
            [ngClass]="{active: toggle.networkSubsystem}">
        {{i18n.sys.networkConfig}}
        <div class="titleDetail">
            <div tiOverflow *ngFor="let item of titleDetail">{{item.title}}: <span>{{item.data}}</span></div>
        </div>

    </div>
    <div class="box-content" [ngClass]="{active: toggle.networkSubsystem}">
        <div class="box">
            <div class="box-title" (click)='toggle.polymerization = !toggle.polymerization'>
                <img *ngIf="currTheme === ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.polymerization}">
                <img *ngIf="currTheme === ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.polymerization}">
                {{i18n.sys_cof.sum.network_info.irq_aggre_title}}
                <img *ngIf="susppendTipStr !== 'NULL'" class="compass" src="./assets/img/summary/compass.svg"
                    [tiTip]='susppendTipStr' tiTipMaxWidth='550px' tiTipPosition="top-left" />
            </div>
            <div class="box-content" [ngClass]="{active: toggle.polymerization}">
                <ti-table [(displayedData)]="polymerizationDisplayData" [srcData]="polymerizationContentData"
                    [columns]="polymerizationTitle" tiColsResizable>
                    <div class="ti3-resize-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of polymerizationTitle;index as i"
                                        width="{{column.width}}">
                                        <span [ngClass]="{'tableFirstData': i === 0}">
                                            {{column.title}}
                                            <img *ngIf="currTheme === ColorTheme.Dark && i!=0"
                                                src="./assets/img/summary/tooltip_dark.svg" [tiTip]='column.tipStr'
                                                tiTipPosition="top-left"/>
                                            <img *ngIf="currTheme === ColorTheme.Light && i!=0"
                                                src="./assets/img/summary/tooltip.png" [tiTip]='column.tipStr'
                                                tiTipPosition="top-left"/>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="polymerizationDisplayData.length > 0">
                                <tr *ngFor="let item of polymerizationDisplayData;">
                                    <td tiOverflow tiTipPosition='left'><span
                                            class="tableFirstData">{{item.data1}}</span>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data3}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data4}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data5}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data6}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data7}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <app-default-page *ngIf="ifpolymerization" [text]="polymerization"></app-default-page>
                    </div>
                    <ti-pagination *ngIf="!ifpolymerization" autoHide="true" [(currentPage)]="polymerizationCurrentPage"
                        style="padding-left: 10px;" [pageSize]="polymerizationPageSize"
                        [(totalNumber)]="polymerizationTotalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
        <div class="box">
            <div class="box-title" (click)='toggle.offload = !toggle.offload'>
                <img *ngIf="currTheme === ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.offload}">
                <img *ngIf="currTheme === ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.offload}">
                {{i18n.sys_cof.sum.network_info.offload_title}}
                <img *ngIf="offloadTipStr !== 'NULL'" src="./assets/img/summary/compass.svg" class="compass"
                    [tiTip]='offloadTipStr' tiTipMaxWidth='400px' tiTipPosition="top-left" />
            </div>
            <div class="box-content" [ngClass]="{active: toggle.offload}">
                <ti-table [(displayedData)]="offloadDisplayData" [srcData]="offloadContentData"
                    [columns]="offloadDataTitle" tiColsResizable>
                    <div class="ti3-resize-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of offloadDataTitle;index as i"
                                        width="{{column.width}}">
                                        <span [ngClass]="{'tableFirstData': i === 0}">
                                            {{column.title}}
                                            <img *ngIf="currTheme === ColorTheme.Dark && i !== 0"
                                                src="./assets/img/summary/tooltip_dark.svg" [tiTip]='column.tipStr'
                                                tiTipPosition="top-left">
                                            <img *ngIf="currTheme === ColorTheme.Light && i !== 0"
                                                src="./assets/img/summary/tooltip.png" [tiTip]='column.tipStr'
                                                tiTipPosition="top-left">
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!ifoffload">
                                <tr *ngFor="let item of offloadDisplayData;">
                                    <td tiOverflow tiTipPosition='left'><span
                                            class="tableFirstData">{{item.data1}}</span>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data3}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data4}}</td>
                                    <td tiOverflow tiTipPosition='left'>
                                        <span [ngStyle]="{color: (item.tipStr && item.tipStr !== 'NULL') ? '#f45c5e' : ''}">
                                            {{item.data5}}</span>
                                        <img src="./assets/img/rocket_dark.svg" class='rocket' [tiTip]='tipContent'
                                            [tiTipContext]='item.tipStr' tiTipMaxWidth='550px'
                                            *ngIf="currTheme === ColorTheme.Dark && item.tipStr && item.tipStr !== 'NULL'"
                                            tiTipPosition="top-left" />
                                        <img src="./assets/img/rocket.svg" class='rocket' [tiTip]='tipContent'
                                            [tiTipContext]='item.tipStr' tiTipMaxWidth='550px'
                                            *ngIf="currTheme === ColorTheme.Light && item.tipStr && item.tipStr !== 'NULL'"
                                            tiTipPosition="top-left" />
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data6}}</td>
                                    <td tiOverflow tiTipPosition='left'>
                                        <span [ngStyle]="{color: item.lroSuggestion ? '#f45c5e' : ''}">{{item.data7}}</span>
                                        <img src="./assets/img/rocket_dark.svg" class='rocket' [tiTip]='tipContent'
                                            [tiTipContext]='item.lroSuggestion' tiTipMaxWidth='550px'
                                            *ngIf="currTheme === ColorTheme.Dark && item.lroSuggestion"
                                            tiTipPosition="top-left" />
                                        <img src="./assets/img/rocket.svg" class='rocket' [tiTip]='tipContent'
                                            [tiTipContext]='item.lroSuggestion' tiTipMaxWidth='550px'
                                            *ngIf="currTheme === ColorTheme.Light && item.lroSuggestion"
                                            tiTipPosition="top-left" />
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data8}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data9}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <app-default-page *ngIf="ifoffload" [text]="offload"></app-default-page>
                    </div>
                    <ti-pagination *ngIf="!ifoffload" autoHide="true" [(currentPage)]="offloadCurrentPage"
                        style="padding-left: 10px;" [pageSize]="offloadPageSize" [(totalNumber)]="offloadTotalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
        <div class="box">
            <div class="box-title" (click)='toggle.lineUp = !toggle.lineUp'>
                <img *ngIf="currTheme === ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.lineUp}">
                <img *ngIf="currTheme === ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.lineUp}">
                {{i18n.sys_cof.sum.network_info.queue_title}}
                <img *ngIf="listTipStr !== 'NULL'" class="compass" src="./assets/img/summary/compass.svg"
                    [tiTip]='listTipStr' tiTipMaxWidth='500px' tiTipPosition="top-left" />
            </div>
            <div class="box-content" [ngClass]="{active: toggle.lineUp}">
                <ti-table [(displayedData)]="lineUpDisplayData" [srcData]="lineUpContentData" [columns]="lineUpTitle"
                    tiColsResizable>
                    <div class="ti3-resize-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of lineUpTitle;index as i"
                                        width="{{column.width}}">
                                        <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!iflineUp">
                                <tr *ngFor="let item of lineUpDisplayData;">
                                    <td tiOverflow tiTipPosition='left'><span
                                            class="tableFirstData">{{item.data1}}</span>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data2}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <app-default-page *ngIf="iflineUp" [text]="lineUp"></app-default-page>
                    </div>
                    <ti-pagination *ngIf="!iflineUp" autoHide="true" [(currentPage)]="lineUpCurrentPage"
                        style="padding-left: 10px;" [pageSize]="lineUpPageSize" [(totalNumber)]="lineUpTotalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
        <div class="box">
            <div class="box-title" (click)='toggle.Interrupt = !toggle.Interrupt'>
                <img *ngIf="currTheme === ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.Interrupt}">
                <img *ngIf="currTheme === ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.Interrupt}">
                {{i18n.sys_cof.sum.network_info.numa_core_NUMA}}
                <img *ngIf="listTipStr !== 'NULL'" src="./assets/img/summary/compass.svg" class="compass"
                    [tiTip]='numaTipStr' tiTipMaxWidth='800px' tiTipPosition="top-left" />
            </div>
            <div class="box-content" [ngClass]="{active: toggle.Interrupt}">
                <ti-table [(displayedData)]="InterruptDisplayData" [srcData]="InterruptContentData"
                    [columns]="InterruptTitle" tiColsResizable>
                    <div class="ti3-resize-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of InterruptTitle;index as i"
                                        width="{{column.width}}">
                                        <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                        <img *ngIf="currTheme === ColorTheme.Dark && column.tipStr"
                                            src="./assets/img/summary/tooltip_dark.svg" [tiTip]='column.tipStr'
                                            tiTipPosition="top"/>
                                        <img *ngIf="currTheme === ColorTheme.Light && column.tipStr"
                                            src="./assets/img/summary/tooltip.png" [tiTip]='column.tipStr'
                                            tiTipPosition="top"/>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="InterruptDisplayData.length !== 0">
                                <tr *ngFor="let item of InterruptDisplayData;">
                                    <td tiOverflow tiTipPosition='left'><span
                                            class="tableFirstData">{{item.data1}}</span>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data3}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{item.data4}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <app-default-page *ngIf="InterruptDisplayData.length === 0" [text]="Interrup">
                        </app-default-page>
                    </div>
                    <ti-pagination autoHide="true"
                        [(currentPage)]="InterrupCurrentPage" style="padding-left: 10px;" [pageSize]="InterrupPageSize"
                        [(totalNumber)]="InterrupTotalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
        <!-- 网卡缓冲 -->
        <div class="box">
            <div class="box-title" (click)='toggle.netbuff = !toggle.netbuff'>
                <img *ngIf="currTheme === ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.netbuff}">
                <img *ngIf="currTheme === ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.netbuff}">
                {{i18n.sys_cof.sum.network_info.nic_buff.circle_buff}}
                <img *ngIf="listTipStr !== 'NULL'" src="./assets/img/summary/compass.svg" class="compass"
                    [tiTip]='i18n.sys_summary.panorama.tip.circle_buff' tiTipMaxWidth='800px'
                    tiTipPosition="top-left" />
            </div>
            <div class="box-content" [ngClass]="{active: toggle.netbuff}">
                <ti-table [(displayedData)]="nicBuff.displayData" [srcData]="nicBuff.srcData"
                    [columns]="nicBuff.colums">
                    <table>
                        <thead>
                            <tr>
                                <th tiOverflow *ngFor="let col of nicBuff.colums; index as i">
                                    <span *ngIf="i === 0" class="tableFirstData">{{col.title}}</span>
                                    <span *ngIf="i === 1 || i === 2">
                                        {{col.title}}
                                        <img *ngIf="currTheme === ColorTheme.Dark && i !== 0"
                                            src="./assets/img/summary/tooltip_dark.svg" [tiTip]='col.tipStr'
                                            tiTipPosition="top-left"/>
                                        <img *ngIf="currTheme === ColorTheme.Light && i !== 0"
                                            src="./assets/img/summary/tooltip.png" [tiTip]='col.tipStr'
                                            tiTipPosition="top-left"/>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!nicBuff.isNull">
                            <tr *ngFor="let row of nicBuff.displayData;">
                                <td tiOverflow tiTipPosition='left'><span class="tableFirstData">{{row.nic_name}}</span>
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{row.tx | thousandSeparator}}</td>
                                <td tiOverflow tiTipPosition='left'>{{row.rx | thousandSeparator}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="nicBuff.isNull">
                            <tr class="ti3-table-nodata-simple">
                                <td tiColspan>
                                    <img style='width:198px;' src='./assets/img/projects/nodata-dark.png' />
                                    <div style="font-size: 1rem">{{Interrup}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="nicBuff.srcData.data.length === 0" [text]="Interrup">
                    </app-default-page>
                    <ti-pagination *ngIf="nicBuff.totalNumber > 10" [(currentPage)]="nicBuff.currentPage"
                        style="padding-left: 10px;" [pageSize]="nicBuff.pageSize" [(totalNumber)]="nicBuff.totalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
    </div>
</div>
<ng-template #tipContent let-context='context'>
    <span [innerHtml]="context"></span>
</ng-template>