::ng-deep .vscode-dark {
    --ti-default-body-bg: #1e1e1e;
    --ti-filter-bg-color: #252526;
    --ti-table-td-text-color: #aaaaaa;
    --ti-span-hover-color: #313131;
    --ti-checkbox-label-color: #aaaaaa;
    --ti-title-color: #e8e8e8;
    --ti-header-filter-bg-color: #2a2a2a;
    --ti-td-echart-bg-color: #252525;
    --thead-th-border-color:#545454;
}

::ng-deep .vscode-light {
    --ti-default-body-bg: #ffffff;
    --ti-filter-bg-color: #ffffff;
    --ti-table-td-text-color: #222222;
    --ti-span-hover-color: #f5f6f7;
    --ti-checkbox-label-color: #616161;
    --ti-title-color: #222;
    --ti-header-filter-bg-color: #f5f9ff;
    --ti-td-echart-bg-color: var(--ti-table-details-bg-color);
    --thead-th-border-color:#e1e6ee;
}

.scroll-content {
    min-height: 600px;
}

.section-content {
    position: relative;
}

.section-title {
    font-size: 20px;
    color: var(--ti-title-color);
    margin-bottom: 22px;
}

.selectTableBox {
    position: relative;

    .headerFilter {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 1;

        img {
            cursor: pointer;
            height: 9px;
            width: 9px;
        }
    }

    .statusFilter {
        font-size: 14px;
        display: none;
        position: relative;
        position: absolute;
        top: 25px;
        right: 5px;
        min-width: 195px;
        background-color: var(--ti-filter-bg-color);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding-top: 15px;

        span:not(.ti3-icon) {
            line-height: 32px;
            padding: 0 15px;
            box-sizing: border-box;
            width: 100%;
            height: 32px;

            &:hover {
                background: var(--ti-span-hover-color);
            }
        }
    }

    .statusFilter.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #0067ff;
    }
}

.expand-icon {
    transition: 0.2s linear;
    position: relative;
    left: 13px;
    top: 1px;
}

.expand-icon.active {
    transform: rotate(90deg);
}

::ng-deep ti-details-icon.hasNodata {
    display: none;
}


::ng-deep .ti3-checkbox .ti3-checkbox-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--ti-checkbox-label-color);
}

:host ::ng-deep .statusFilter input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin:hover {
    background-color: unset;
    border: 1px solid #b7b7b7;
}


:host ::ng-deep #io-summury .ti3-table-container {
    .tiDetailsTr td {
        padding: 0 0 0 40px;
    }
    .collapsed {
        background-color: var(--ti-td-echart-bg-color) !important;
    }
}

.table-func {
    border-left: 2px solid #0067ff;
}

.ti-page-func {
    margin-left: 10px;
}

:host ::ng-deep #io-summury .ti3-table>.ti3-table-fixed-head+.ti3-table-container::-webkit-scrollbar {
    width: 6px !important;
}