::ng-deep .vscode-dark {
    --color-switch-bgc: #616161;
    --color-bright-content: #e8e8e8;
    --color-content: #aaaaaa;
    --color-item-left-first-span: #aaaaaa;
    --color-item-right-first-p: #aaaaaa;
    --color-th-head-bg: #2a2a2a;
    --color-th-head: #aaaaaa;
    --color-td-oper: #0067ff;
    --color-tr-bg-hover: #313131;
    --color-separator: #4b4b4b;
    --color-msgbox-bg: #252526;
    --color-msgbox-close: #aaaaaa;
    --color-msgbox-info: #ffffff;
    --color-msgbox-content: #888888;
    --color-a-dft: #0067ff;
    --color-a-hover: #267dff;
    --color-a-active: #0057d9;
    --color-a-disabled: #313131;
    --color-a-visited: #888888;
    --color-btn-dft: #0067ff;
    --color-btn-disabled: #313131;
    --color-btn-font-disabled: #aaaaaa;
    --color-se-btn-dft: #0067ff;
    --color-se-btn-font-dft: #e8e8e8;
    --color-se-btn-border-dft: #dddddd;
    --color-se-btn-font-hover: #267dff;
    --color-se-btn-border-hover: #267dff;
    --color-se-btn-font-active: #0057d9;
    --color-se-btn-border-active: #0057d9;
    --color-tr-bg: #161616;
    --color-tr-hover: #313131;
    --color-tb-scrollbar: #424242;
    --color-big-number: #dddddd;
    --color-big-number-span: #dddddd;
    --color-detail-content-first-span: #aaaaaa;
    --color-table-fixed-head-after: #4b4b4b;
    --color-head-filter-icon: #aaaaaa;
    --color-head-filter-icon-hover: #267dff;
    --color-head-filtered-filter-icon: #0057d9;

    .ti3-table .ti3-table-fixed-head+.ti3-table-container table tbody tr:last-child td {
        border-bottom-color: #161616 !important;
    }

    .ti3-form .ti3-form-label {
        color: #aaa;
    }

    ::ng-deep .ti3-table-fixed-head-filler {
        background-color: #2a2a2a !important;
    }

    .ti3-head-filter-drop.ti3-head-filter-drop-down:before,
    .ti3-head-filter-drop.ti3-head-filter-drop-up:before {
        background-color: #252526 !important;
    }

    .ti3-tooltip {
        color: #aaaaaa !important;
        background-color: #252526 !important;
        border-color: #252526 !important;
    }

    .ti3-tooltip-top::after {
        background-color: #252526 !important;
    }

    .ti3-tooltip-top::before {
        background-color: #252526 !important;
        border-color: #252526 !important;
    }

    .content-main .ti3-form .ti3-form-content {
        position: relative;
        left: -12px;
        padding-bottom: 20px !important;
    }

    // 表单顶部对齐
    .formLabelAlign {
        &.top {
            >table {
                margin-left: 13px;

                >tbody>tr {
                    display: block;
                    position: relative !important;
                    margin-top: 30px;

                    >td {
                        &:nth-child(1) {
                            position: absolute !important;
                            left: -16px;
                            top: -35px;
                        }

                        &:nth-child(2) {
                            position: absolute !important;
                            left: -13px;
                            top: -35px;
                        }
                    }
                }
            }
        }
    }
}

::ng-deep .vscode-light {
    --color-switch-bgc: rgba(0,103,255,0.1);
    --color-bright-content: #222222;
    --color-content: #222222;
    --color-item-left-first-span: #616161;
    --color-item-right-first-p: #979797;
    --color-th-head-bg: #f5f9ff;
    --color-th-head: #616161;
    --color-td-oper: #0067ff;
    --color-tr-bg-hover: #313131;
    --color-separator: #e1e6ee;
    --color-msgbox-bg: #252526;
    --color-msgbox-close: #aaaaaa;
    --color-msgbox-info: #ffffff;
    --color-msgbox-content: #888888;
    --color-a-dft: #0067ff;
    --color-a-hover: #267dff;
    --color-a-active: #0057d9;
    --color-a-disabled: #313131;
    --color-a-visited: #888888;
    --color-btn-dft: #0067ff;
    --color-btn-disabled: #f5f5f5;
    --color-btn-font-disabled: #cccccc;
    --color-se-btn-dft: #0067ff;
    --color-se-btn-font-dft: #ffffff;
    --color-se-btn-border-dft: #979797;
    --color-se-btn-font-hover: #267dff;
    --color-se-btn-border-hover: #267dff;
    --color-se-btn-font-active: #0057d9;
    --color-se-btn-border-active: #0057d9;
    --color-tr-bg: var(--vscode-editor-background);
    --color-tr-hover: #f5f5f5;
    --color-tb-scrollbar: #424242;
    --color-big-number: #222222;
    --color-big-number-span: #616161;
    --color-detail-content-first-span: #616161;
    --color-table-fixed-head-after: #ffffff;
    --color-head-filter-icon: #979797;
    --color-head-filter-icon-hover: #267dff;
    --color-head-filtered-filter-icon: #0057d9;

    .ti3-table .ti3-table-fixed-head+.ti3-table-container table tbody tr:last-child td {
        border-bottom-color: #e1e6ee !important;
    }

    // 表单顶部对齐
    .formLabelAlign {
        &.top {
            >table {
                margin-left: 13px;

                >tbody>tr {
                    display: block;
                    position: relative !important;
                    margin-top: 30px;

                    >td {
                        &:nth-child(1) {
                            position: absolute !important;
                            left: -16px;
                            top: -35px;
                        }

                        &:nth-child(2) {
                            position: absolute !important;
                            left: -13px;
                            top: -35px;
                        }
                    }
                }
            }
        }
    }

    .content-main .ti3-form .ti3-form-content {
        position: relative;
        left: -12px;
        padding-bottom: 20px !important;
    }

    .ti3-head-filter-drop.ti3-head-filter-drop-down:before,
    .ti3-head-filter-drop.ti3-head-filter-drop-up:before {
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip {
        color: #222222 !important;
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-top::after {
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-top::before {
        background-color: var(--vscode-editor-background) !important;
        border-color: var(--vscode-editor-background) !important;
    }

    .ti3-table-fixed-head-filler {
        background-color: #f5f9ff !important;
    }
}

.content-main {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    color: var(--color-content);
    min-width: 800px;

    // 场景类型
    .sceneBox {
        display: flex;
        margin-top: 10px;

        >.sceneItem {
            width: 88px;
            height: 86px;
            border: 1px solid #5b5b5b;
            margin-right: 24px;
            text-align: center;
            color: #aaa;
            border-radius: 2px;
            box-sizing: border-box;
            font-size: 12px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding-top: 5px;

            img {
                display: block;
                width: 40px;
                height: 40px;
            }

            span {
                flex: 1;
                display: flex;
                align-items: center;
            }

            &:hover {
                background: linear-gradient(#303030, #1e1e1e);
                border: none;
                color: #e8e8e8;
                box-shadow: 0 16px 30px 0 rgba($color: #000000, $alpha: 0.5);
            }
        }

        .active {
            background: linear-gradient(#303030, #1e1e1e);
            border: none;
            color: #e8e8e8;
            box-shadow: 0 16px 30px 0 rgba($color: #000000, $alpha: 0.5);
        }
    }

    .div-p-title {
        padding-bottom: 20px;

        .p-title {
            font-size: 20px;
            line-height: 26px;
            color: var(--color-bright-content);
        }
    }

    .div-p-input-item {
        padding-bottom: 20px;
        font-size: 14px;

        .p-input-item {
            font-size: 14px;
            line-height: 18px;
        }

        .input {
            width: 423px;
            margin-top: 10px ;
        }

        > p {
            color: var(--d-aaaaaa-l-616161);
        }
    }

    .div-p-description-item {
        padding-bottom: 8px;
        font-size: 14px;

        .p-description-item {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .div-p-description-item-second {
        padding-bottom: 11px;

        .p-description-item-second {
            margin-top: 10px;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .table-detial {
        padding-bottom: 40px;
    }

    .div-button {
        button {
            width: 160px;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            text-align: center;
            border: 1px solid;
            cursor: pointer;
        }

        .main-button:hover {
            background-color: var(--color-se-btn-border-hover) !important;
        }

        .main-button:active {
            background-color: var(--color-se-btn-border-active) !important;
        }

        .main-button {
            color: var(--color-se-btn-font-dft) !important;
            background-color: var(--color-btn-dft) !important;
            border-color: var(--color-btn-dft) !important;
            margin-right: 20px;
            border: 0px solid;
        }

        .main-button[disabled] {
            background: var(--color-btn-disabled) !important;
            color: var(--color-btn-font-disabled) !important;
            cursor: not-allowed;
            border-color: var(--d-313131-l-cccccc)!important;
        }
    }

    .ti3-table .ti3-table-container table tbody tr {
        background-color: var(--color-tr-bg) !important;
        color: var(--color-content) !important;

        td {
            color: var(--color-content) !important;
        }
    }

    .ti3-table thead th {
        background-color: var(--color-th-head-bg) !important;
        color: var(--color-th-head) !important;
        font-size: 14px !important;
    }

    .ti3-table .ti3-table-container table tbody tr:hover {
        background-color: var(--color-tr-hover) !important;
    }

    .ti3-table .ti3-table-container::-webkit-scrollbar-thumb {
        border-radius: 5px !important;
        background-color: var(--color-tb-scrollbar) !important;
    }

    .ti3-table .ti3-table-container::-webkit-scrollbar {
        width: 5px !important;
        height: 10px !important;
        background: 0 0 !important;
    }

    .ti3-table-container {
        overflow-y: auto;
        border-bottom: 0px solid var(--color-separator) !important;
    }

    .ti3-table>.ti3-table-fixed-head tr {
        background-color: #222222 !important;
        color: var(--color-bright-content) !important;
    }

    .ti3-table td {
        font-size: 14px !important;
    }

    .ti3-table tr td {
        padding: 5px 10px !important;
        border-bottom: 1px var(--color-separator) solid !important;
    }

    .ti3-table a {
        color: var(--color-a-dft) !important;
        outline: none;
    }

    .ti3-table a:hover {
        color: var(--color-a-hover) !important;
    }

    .ti3-table a:active {
        color: var(--color-a-active) !important;
    }

    .ti3-table a.a-color-visited {
        color: var(--color-a-visited) !important;
    }

    .ti3-head-filter-container .ti3-head-filter-icon {
        color: var(--color-head-filter-icon) !important;
        outline: 0 !important;
    }

    .ti3-head-filter-container .ti3-head-filter-icon:hover {
        color: var(--color-head-filter-icon-hover) !important;
        outline: 0 !important;
    }

    .ti3-head-filter-container.ti3-head-filtered .ti3-head-filter-icon {
        color: var(--color-head-filtered-filter-icon) !important;
        outline: 0 !important;
    }

    .ti3-table-container::-webkit-scrollbar-track {
        border: none !important;
    }

    .ti3-table .ti3-table-fixed-head table thead tr th:not(:last-child)::after {
        background: var(--color-table-fixed-head-after) !important;
    }

    .ti3-table-container table tbody tr:last-child td {
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
    }

    .nodeStatus {
        display: flex;
        align-items: center;

        .icon_nodeStatus {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;

            &.online {
                background: #7adfa0;
            }

            &.offline {
                background: #b8becc;
            }
        }

        .running {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background-color: transparent;
            background-image: url("../../../assets/img/running.gif");
            background-size: 105%;
            animation: loading 1s linear infinite;
        }

        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(90deg);
            }

            50% {
                transform: rotate(180deg);
            }

            75% {
                transform: rotate(270deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .operateBox {
        span {
            color: #0067ff;
            cursor: pointer;
        }

        i {
            margin: 0 8px;
            color: #e1e6ee;
        }
    }

    .ti3-table {
        height: unset;
        max-height: 100%;
        display: flex;
        flex-direction: column;

        .ti3-table-fixed-head {
            flex: none;
        }

        .ti3-table-container {
            flex: 1;
        }
    }
}

.ti3-icon-staricon::before {
    color: #f45c5e !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.aLink {
    text-decoration: none;
    outline: none;
    color: #0067ff;
    cursor: pointer;
}

.aLink:hover {
    color: #267dff;
}

.aLink:active {
    color: #0057d9;
}

.databaseSelect {
    width: 400px;
}

::ng-deep .vscode-light {
    .sceneBox {
        >.sceneItem {
            border: 1px solid #979797 !important;
            background-color: transparent !important;

            &:hover {
                border-color: #0067ff !important;
                color: #0057d9 !important;
                background: rgba(0, 103, 255, 0.06) !important;
                box-shadow: none !important;
            }
        }

        .active {
            border-color: #0067ff !important;
            color: #0057d9 !important;
            background: rgba(0, 103, 255, 0.06) !important;
            box-shadow: none !important;
        }
    }
}
::ng-deep .table-detial input[type='radio'][tiRadio] + .ti3-radio {
    margin-left: 10px;
}
:host ::ng-deep .ti3-table{
    .ti3-table-fixed-head>table>thead>tr>th.notShow[checkbox-column]{
        cursor: auto;
        input[type=checkbox][tiCheckbox] + label.ti3-checkbox {
        cursor: auto;
        display: none;
        }
    }    
}
