<div class="warpper">
  <div class="input-warpper" [lang]="language">
    <div class="input-form">
      <ti-formfield [formGroup]='sysConfForm'>
        <ti-item [label]="config.label" [required]='isAdmin'>
          <ti-select class="input-item" [options]='config.range' formControlName='selectedValue'></ti-select>
        </ti-item>
      </ti-formfield>
    </div>
    <div class="log-tip-icon" [tiTip]="tipContent" [tiTipContext]="config.tip" tiTipPosition="right"
      [tiTipMaxWidth]='tipWidth'></div>
    <ng-template #tipContent let-context="context">
      <span [innerHtml]="context"></span>
    </ng-template>
  </div>
  <div *ngIf="isAdmin" class="btn-warpper" [lang]="language">
    <div *ngIf="mode === 'read'">
      <button type="button" tiButton (click)="onFixConfig()">{{i18n.system_config.change_config}}</button>
    </div>
    <div *ngIf="mode === 'write'">
      <button type="button" tiButton color="primary" (click)="onSubmit()">{{i18n.common_term_operate_ok}}</button>
      <button type="button" tiButton (click)="onCancel()">{{i18n.common_term_operate_cancel}}</button>
    </div>
  </div>
</div>
