<!-- 建议反馈跳转失败弹窗 -->
<ng-container *ngIf="isAlertShow">
    <div class="advice-contain">
        <div class="advice-mask">
            <div class="advice-head">
                <span class="title">{{i18n.common_connect_fail}}</span>
                <span class="close-img">
                    <img [src]="hoverAdvice==='advice'?'./assets/img/home/close_hover.svg':'./assets/img/home/close_icon.svg'"
                        alt="" (mouseenter)="onHoverSuggest('advice')" (mouseleave)="onHoverSuggest('')"
                        (click)="isAlertShow=false">
                </span>
            </div>
            <div class="advice-content">
                <div class="failtext1">
                    <img src="./assets/img/home/error_tip.svg">
                    <span>{{i18n.common_connect_fail_reason}}</span>
                </div>
                <div class="failtext2">
                    <span>{{i18n.common_connect_fail_reason1}}</span>
                    <a target="_blank" [href]="linkURL">{{linkURL}}</a>
                    <span>{{i18n.common_connect_fail_reason2}}</span>
                </div>
                <div class="failtext3">{{i18n.common_connect_fail_reason3}}</div>
                <div class="qr-code">
                    <img src="./assets/img/home/qr-code.png">
                </div>
            </div>
            <div class="state_btns">
                <button type="button" class="cancel_left" tiButton (click)="closeWindow()">
                    {{ i18n.common_term_operate_close }}
                </button>
            </div>
        </div>
    </div>
</ng-container>