::ng-deep {
  :root {
    --color-form-text: #616161;
    --color-text-value: #222222;
  }
  .vscode-dark #helperCreateTask {
    --color-form-text: #aaaaaa;
    --color-text-value: #aaaaaa;
    .samplingDuration,
    .pathConfig {
      padding-left: 0px !important;
    }
    .createBtn {
      margin-left: 0px !important;
    }
  }
  .vscode-light #helperCreateTask {
    .samplingDuration,
    .pathConfig {
      padding-left: 0px !important;
    }
    .createBtn {
      margin-left: 0px !important;
    }
  }
}
#helperCreateTask {
  margin: 24px;
  color: var(--color-text-value);
  .taskParams {
    .taskNameInfo {
      .proName {
        line-height: 30px;
        font-size: 14px;
      }
      .radioBox {
        display: inline-block;
        margin-right: 32px;
      }
      .chooseList {
        margin-bottom: 10px;
        color: var(--color-form-text);
      }
    }
    .launchApplication {
      margin-top: 20px;
    }
    .samplingDuration,
    .pathConfig {
      margin-top: 20px;
      padding-left: 16px;
      .rangeTip {
        color: #979797;
        margin-left: 8px;
      }
    }
    .nodeConfig {
      margin-top: 20px;
    }
    .createBtn {
      margin: 40px 0px 0px 16px;
    }
  }
}
.bigInput {
  width: 480px;
  height: 28px;
}
.imgQuestion {
  width: 14px;
  height: 14px;
  margin-left: 10px;
}
.nodeConList {
  margin-top: 20px;
}
:host ::ng-deep .ti3-form .ti3-form-label {
  color: var(--color-form-text) !important;
}
