.switch {
    color: #AAAAAA;
    font-size: 14px;
    margin-bottom: 20px;

    .label {
        width: 248px;
        margin-right: 20px;
        margin-bottom: 10px;
        height: 20px;
        text-align: left;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        color: var(--d-aaaaaa-l-616161);
    }
}

p.label.islable {
    width: 200px !important;
}

.fontsize {
    font-size: 14px !important;
}

div.isfunc {
    display: flex;
    margin: 20px 0 10px;
    font-size: 14px;
}

.radio.flex.radioflex {
    margin: 20px 0 10px;

    p {
        color: var(--d-e8e8e8-l-222222);
    }
}

.form {
    font-size: 14px;
    color: var(--d-aaaaaa-l-616161);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

    .schedule-task-time-title {
        width: 100%;

        > div {
            color: var(--d-aaaaaa-l-616161);
            font-size: 14px;
        }
    }

    .p.label.islable {
        width: 200px !important;
        margin: 0px !important;
    }

    .label.flex.islable {
        width: 200px !important;
        margin: 0px !important;
    }

    .func {
        .label {
            width: 241px;
            margin: 20px 0 10px !important;

            span {
              margin-left: 3px;
            }
        }

        .flex {
            display: flex;
        }

        .radio {

            .duration,
            .once {
                .selectDx {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 1px solid #888888;
                    box-sizing: border-box;
                    position: relative;
                    margin-right: 10px;

                    .selectDx_ed {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #0067FF;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                    }
                }

                .selectDx:hover {
                    border: 1px solid #0067FF !important;
                }

                .selectDx:focus {
                    border: 1px solid #0067FF;
                }
            }
        }
    }

    .time {
        .dur {

            .duration-time,
            .point-time {
                .label {
                    margin: 20px 0 10px;
                    width: 241px;

                }

                .flex {
                    display: flex;
                }
            }
        }

        .once-time {
            .label {
                margin: 20px 0 10px;
                width: 241px;
            }

            .flex {
                display: flex;
            }
        }
    }
}

.isShow {
    display: none;
}

.flex img {
    width: 16px;
    height: 16px;
}

//周期 时间
.point-time>.timeTab ::ng-deep {
    .ti3-time-container {
        box-shadow: 0 0 0 0 !important;
        border: 1px solid #888888 !important;
        width: 102px !important;
        height: 28px !important;
        font-size: 14px !important;

        input {
            border: 0 !important;
            height: 24px !important;
            margin-top: 1px;
        }
        .ti3-date-show {
            --ti-datetime-time-height: 24px;
        }
    }
    .ti3-time-container:hover {
        border: 1px solid #0067FF !important;
    }
    .timeRed{
        border: 1px solid #FF4C4C !important;
    }
    .timeRed:hover{
        border: 1px solid #FF4C4C !important;
    }
}

ti-date-range.isdatarang.ti3-date-range-input-container.ng-untouched.ng-pristine.ng-valid {
    width: 264px !important;
}

ti-date-range.isdatarang.ti3-date-range-input-container.ng-untouched.ng-dirty.ng-invalid {
    width: 264px !important;
}

ti-date-range.isdatarang.ti3-date-range-input-container.ng-dirty.ng-invalid.ng-touched {
    width: 264px !important;
}

ti-date-range.isdatarang.ti3-date-range-input-container.ng-dirty.ng-touched.ng-valid {
    width: 264px !important;
}

ti-datetime.isdatarang.ti3-datetime-input-container {
    width: 264px !important;
}

ti-datetime.isdatarang ti-date-dominator.ti3-date-dominator-container.ng-untouched.ng-pristine.ng-valid {
    width: 264px !important;
}


//周期 日期表格
.duration-time>.dataTab ::ng-deep {
    .ti3-date-range-input-container {
        width: 400px !important;
        height: 28px !important;
        border: 1px solid var(--d-888888-l-979797) !important;
        background-color: var(--ti-input-bg-color);
        overflow: hidden;

        .ti3-date-dominator-container {
            border: 0 !important;

            .ti3-icon {
                border-right: 1px solid #888888 !important;
            }

            .ti3-icon-calendar {
                border-right: none !important;
            }

            .ti3-date-show {
                line-height: 24px !important;
            }
        }
    }

    .ti3-date-range-input-container:hover {
        .ti3-date-dominator-container {
            .ti3-icon {
                border-right: 1px solid #888888 !important;
            }

            .ti3-icon-calendar {
                border-right: none !important;
            }

            .ti3-date-show {
                line-height: 24px !important;
            }
        }
    }

    .ti3-date-range-input-container:focus {
        .ti3-date-dominator-container {
            border: 1px solid #888888 !important;

            .ti3-icon {
                border-right: 1px solid #888888 !important;
            }

            .ti3-icon-calendar {
                border-right: none !important;
            }

        }
    }
    .durationRed{
        border: 1px solid #FF4C4C !important;
    }
    .durationRed:hover{
        border: 1px solid #FF4C4C !important;
    }
}

.once-time>.oncetimeTab ::ng-deep {
    .ti3-datetime-input-container {
        width: 399px;
        height: 28px;
        box-sizing: content-box;
        margin-left: 1px;
        background-color: var(--ti-input-bg-color);
        border-color: var(--ti-input-border-color) !important;

        &:hover {
            border: 1px solid #0067ff !important;
        }

        .ti3-date-dominator-container {
            width: 99% !important;
            height: 26px;
            margin-left: 1px;
            box-sizing: border-box;

            .ti3-date-clear-icon {
                margin-top: 8px !important;
                border-right: 1px solid #888888 !important;
            }
        }
    }
    .oncetimeTabRed{
        border: 1px solid #FF4C4C !important;
    }
    .oncetimeTabRed:hover{
        border: 1px solid #FF4C4C !important;
    }
}

.caveat {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: black;
    font-size: 14px;
    background: #ff4c4c;
    border-radius: 50%;
    margin-right: 10px;
}

input.ng-untouched.ng-pristine.ng-valid {
    background-color: unset;
}

::ng-deep .vscode-dark {

    //周期 时间
    .point-time>.timeTab ::ng-deep {
        .ti3-time-container {
            border: 1px solid #888888 !important;

            input {
                color: #E8E8E8 !important;
            }

            span {
                color: #E8E8E8 !important;
            }
        }
    }

    //周期 日期表格
    .duration-time>.dataTab ::ng-deep {
        .ti3-date-range-input-container {
            .ti3-date-dominator-container {
                color: #616161 !important;

                .ti3-icon {
                    color: #888888 !important;
                }

                .ti3-date-icon-container {
                    color: #888888 !important;
                }
            }

        }

        .ti3-date-range-input-container:hover {
            .ti3-date-dominator-container {
                color: #E8E8E8 !important;

                .ti3-icon {
                    color: #888888 !important;
                }

                .ti3-date-icon-container {
                    color: #888888 !important;
                }
            }
        }

        .ti3-date-range-input-container:focus {
            .ti3-date-dominator-container {
                color: #E8E8E8 !important;

                .ti3-icon {
                    color: #888888 !important;
                }

                .ti3-date-icon-container {
                    color: #888888 !important;
                }
            }
        }

    }

    .once-time>.oncetimeTab ::ng-deep {
        .ti3-datetime-input-container {
            .ti3-date-dominator-container {
                color: #616161;

                .ti3-date-icon-container {
                    color: #888888;
                }
            }
        }
    }
}

::ng-deep .vscode-light {
    .once-time>.oncetimeTab ::ng-deep {
        .ti3-datetime-input-container {
            background-color: #fff;

            .ti3-date-dominator-container {
                background-color: #fff;
                color: #616161;

                .ti3-date-icon-container {
                    color: #222222;
                }
            }
        }
    }

    //周期 时间
    .point-time>.timeTab ::ng-deep {
        .ti3-time-container {

            background-color: #fff !important;
            border: 1px solid #888888 !important;

            input {
                color: #222222 !important;
            }

            span {
                color: #222222 !important;
            }
        }

        .ti3-time-container:hover {
            border: 1px solid var(--ti3-time-container-hover-color) !important;
        }
    }

    //周期 日期表格
    .duration-time>.dataTab ::ng-deep {
        .ti3-date-range-input-container {
            .ti3-date-dominator-container {
                background-color: #fff !important;

                .ti3-icon {
                    color: #222222 !important;
                }

                .ti3-date-icon-container {
                    color: #222222 !important;
                }
            }

        }

        .ti3-date-range-input-container:hover {
            .ti3-date-dominator-container {
                color: #222222 !important;

                .ti3-icon {
                    color: #222222 !important;
                }

                .ti3-date-icon-container {
                    color: #222222 !important;
                }
            }
        }

        .ti3-date-range-input-container:focus {
            .ti3-date-dominator-container {
                color: #222222 !important;

                .ti3-icon {
                    color: #222222 !important;
                }

                .ti3-date-icon-container {
                    color: #222222 !important;
                }
            }
        }
    }

}

.once.flex p,
.duration.flex p {
    color: var(--d-aaaaaa-l-222222);
}

:host ::ng-deep .ti3-date-dominator-container .ti3-date-icon-container:before {
    top: -2px !important;
}

:host ::ng-deep .ti3-date-dominator-container .ti3-date-clear-icon {
    margin-top: 6.5px !important;
}
