// 深色主题
::ng-deep .vscode-dark {
    --mc-color-title-content: #E8E8E8;
    --mc-color-content: #AAAAAA;

    --mc-color-tab: #AAAAAA;
    --mc-color-tab-active: #0067FF;

    --mc-width-tb-border-bottom: 2px;
    --mc-color-tb-border-bottom: var(--vscode-editor-background);

    --mc-color-th: #E8E8E8;
    --mc-color-th-bg: #2A2A2A;
    --mc-color-th-separator: #4B4B4B;

    --mc-color-tr-bg-hover: #313131;
    --mc-color-tr-separator: #4B4B4B;

    --mc-color-td: #AAAAAA;
    --mc-color-td-bg: #161616;
    --mc-color-td-oper: #0067FF;

    --mc-color-dropdown-container-border: #0067FF;
    --mc-color-select-btn: #AAAAAA;

    --mc-color-select-option-selected: #FFFFFF;
    --mc-color-select-option-selected-bg: #0067FF;

    --mc-color-overflow-padding: #DDDDDD;

    --mc-color-page-size-option-bg: #313131;
    --mc-color-page-size-border: #888888;
    --mc-color-page-bg-disabled: #616161;
    --mc-color-page-prenext: #666666;
    --mc-color-page-bg-hover: #0067FF;
    --mc-color-page-bg-active: #0057D9;
    --mc-color-page-hover: #FFFFFF;

    --mc-color-separator: #4B4B4B;
    --mc-color-msgbox-bg: #252526;
    --mc-color-msgbox-close: #AAAAAA;
    --mc-color-msgbox-dsc-icon-bg: #FFFFFF;
    --mc-color-msgbox-content: #888888;
    --mc-color-msgbox-dsc-icon: #0067FF;

    --mc-color-btn-p: #E8E8E8;
    --mc-color-btn-p-bg-dft: #0067FF;
    --mc-color-btn-p-bg-hover: #267DFF;
    --mc-color-btn-p-bg-active: #0057D9;
    --mc-color-btn-p-bg-disabled: #313131;
    --mc-color-btn-m-bg: #313131;
    --mc-color-btn-m-dft: #DDDDDD;
    --mc-color-btn-m-hover: #267DFF;
    --mc-color-btn-m-active: #0057D9;
    --mc-color-btn-m-disabled: #616161;
    --mc-color-btn-m-bg-disabled: #313131;
    --mc-color-btn-text-disabled: #666666;

    .ti3-dropdown-option-hover {
        background-color: var(--mc-color-tr-bg-hover) !important;
    }

    // 下拉框选项（选中）
    .ti3-dropdown-option-selected {
        background-color: var(--mc-color-select-option-selected-bg) !important;
        color: var(--mc-color-select-option-selected) !important;
    }

}

// 浅色主题
::ng-deep .vscode-light {
    --mc-color-title-content: #222222;
    --mc-color-content: #979797;

    --mc-color-tab: #616161;
    --mc-color-tab-active: #0067FF;

    --mc-width-tb-border-bottom: 1px;
    --mc-color-tb-border-bottom: #E1E6EE;

    --mc-color-th: #616161;
    --mc-color-th-bg: #F5F9FF;
    --mc-color-th-separator: #FFFFFF;

    --mc-color-tr-bg-hover: #F5F5F5;
    --mc-color-tr-separator: #E1E6EE;

    --mc-color-td: #222222;
    --mc-color-td-bg: var(--vscode-editor-background);
    --mc-color-td-oper: #0067FF;

    --mc-color-dropdown-container-border: #0067FF;
    --mc-color-select-btn: #222222;

    --mc-color-select-option-selected: #FFFFFF;
    --mc-color-select-option-selected-bg: #0067FF;

    --mc-color-overflow-padding: #222222;

    --mc-color-page-size-option-bg: var(--vscode-editor-background);
    --mc-color-page-size-border: #979797;
    --mc-color-page-bg-disabled: #CCCCCC;
    --mc-color-page-prenext: #222222;
    --mc-color-page-bg-hover: #267DFF;
    --mc-color-page-bg-active: #267DFF;
    --mc-color-page-hover: #FFFFFF;

    --mc-color-separator: #E1E6EE;
    --mc-color-msgbox-bg: #FFFFFF;
    --mc-color-msgbox-close: #AAAAAA;
    --mc-color-msgbox-dsc-icon-bg: #FFFFFF;
    --mc-color-msgbox-content: #616161;
    --mc-color-msgbox-dsc-icon: #0067FF;

    --mc-color-btn-p: #FFFFFF;
    --mc-color-btn-p-bg-dft: #0067FF;
    --mc-color-btn-p-bg-hover: #267DFF;
    --mc-color-btn-p-bg-active: #0057D9;
    --mc-color-btn-p-bg-disabled: #F5F5F5;

    --mc-color-btn-m-bg: #FFFFFF;
    --mc-color-btn-m-dft: #979797;
    --mc-color-btn-m-hover: #267DFF;
    --mc-color-btn-m-active: #0057D9;
    --mc-color-btn-m-disabled: #CCCCCC;
    --mc-color-btn-m-bg-disabled: #F5F5F5;
    --mc-color-btn-text-disabled: #CCCCCC;

    .ti3-dropdown-option-hover {
        background-color: var(--mc-color-tr-bg-hover) !important;
    }

    // 下拉框选项（选中）
    .ti3-dropdown-option-selected {
        background-color: var(--mc-color-select-option-selected-bg) !important;
        color: var(--mc-color-select-option-selected) !important;
    }

}

::ng-deep .ti3-table>.ti3-resize-wrapper {
    border-bottom-width: 0px !important;
}

::ng-deep .ti3-table>.ti3-table-fixed-head>table,
::ng-deep .ti3-table>.ti3-resize-wrapper>table,
::ng-deep .ti3-table>.ti3-table-container>table {
    border-bottom-width: var(--mc-width-tb-border-bottom) !important;
    border-bottom-style: solid !important;
    border-bottom-color: var(--mc-color-tb-border-bottom) !important;
    border-collapse: collapse !important;

    &>thead>tr>th {
        color: var(--mc-color-th) !important;
        background-color: var(--mc-color-th-bg) !important;
        border: none !important;
        border-right: none;
        border-left-width: 1px !important;
        border-left-style: solid !important;
        border-left-color: var(--mc-color-th-separator) !important;
        padding-left: 10px !important;
        border-collapse: collapse !important;
        font-size: 14px !important;

        &:nth-child(1) {
            border-left: none !important;
        }

        &:not(:last-child)::after {
            width: 0px !important;
        }
    }

    &>tbody>tr {
        border-top-width: 1px !important;
        border-top-style: solid !important;
        border-top-color: var(--mc-color-tr-separator) !important;

        &.hover {
            background-color: var(--mc-color-tr-bg-hover) !important;
        }

        &>td {
            background-color: var(--mc-color-td-bg) !important;
            font-size: 14px !important;
            border-bottom: none;

            &:last-child {
                color: var(--mc-color-td-oper) !important;
                cursor: pointer !important;
            }

            &:not(:last-child) {
                color: var(--mc-color-td) !important;
            }

            a {
                color: var(--mc-color-td-oper);
                text-decoration: underline;
            }
        }
    }
}

::ng-deep .ti3-page-container {
    margin-top: 20px !important;
}

::ng-deep .ti3-dropdown-container-border {
    border: 1px solid var(--mc-color-dropdown-container-border) !important;
}

// 下拉框右侧三角按钮
::ng-deep .ti3-select-dominator-dropdown-btn {
    color: var(--mc-color-select-btn) !important;
}

// 下拉框选项（选中）
::ng-deep .ti3-dropdown-option-selected {
    background-color: var(--mc-color-select-option-selected-bg) !important;
    color: var(--mc-color-select-option-selected) !important;
}

// select下拉选项
::ng-deep .ti3-page-container>.ti3-page-size-option {
    color: var(--mc-color-title-content) !important;
    background-color: var(--mc-color-page-size-option-bg) !important;
    border: 1px solid var(--mc-color-page-size-border) !important;
    float: left !important;
    font-size: 12px !important;
    height: 24px !important;
    width: 60px !important;
    border-radius: 2px !important;

    &:hover {
        border-color: var(--mc-color-page-size-border) !important;
    }
}

// 总条数
::ng-deep .ti3-pag-total-items {
    color: var(--mc-color-title-content) !important;
    float: left !important;
    font-size: 12px !important;

    &:disabled {
        color: var(--mc-color-page-bg-disabled) !important;
    }
}

// 翻页
::ng-deep .ti3-pag-next,
::ng-deep .ti3-pag-prev {
    color: var(--mc-color-page-prenext) !important;
    background-color: inherit !important;
    width: 22px !important;
    height: 22px !important;

    &:hover {
        background-color: var(--mc-color-page-bg-hover) !important;
    }

    &:active {
        background-color: var(--mc-color-page-bg-active) !important;
    }

    &:disabled {
        color: var(--mc-color-page-bg-disabled) !important;
    }
}

// 页数
::ng-deep .ti3-pag-page {
    color: var(--mc-color-content) !important;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-size: 12px !important;
    border-radius: 2px !important;

    &:hover {
        background-color: var(--mc-color-page-bg-hover) !important;
        color: var(--mc-color-page-hover) !important;
    }

    // 当前选中
    &.active {
        background-color: var(--mc-color-page-bg-active) !important;
        color: var(--mc-color-page-hover) !important;
    }

    &:disabled {
        background-color: var(--mc-color-page-bg-disabled) !important;
        color: var(--mc-color-page-bg-disabled);
    }
}

.guardian-manage {
    margin-bottom: 30px;

    .title {
        font-size: 20px;
        margin-bottom: 20px;
        cursor: default;
        color: var(--mc-color-title-content);
    }

    button {
        margin-bottom: 10px;
        height: 28px;
        width: 100px;
        text-align: center;
        font-size: 14px;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        cursor: pointer;
        color: var(--mc-color-btn-p);
        background-color: var(--mc-color-btn-p-bg-dft);
        border-color: var(--mc-color-btn-p-bg-dft);

        &:hover {
            background-color: var(--mc-color-btn-p-bg-hover);
            border-color: var(--mc-color-btn-p-bg-hover);
        }

        &:active {
            background-color: var(--mc-color-btn-p-bg-active);
            border-color: var(--mc-color-btn-p-bg-active);
        }

        &:disabled {
            background-color: var(--mc-color-btn-p-bg-disabled);
            border-color: var(--mc-color-btn-p-bg-disabled);
            color: var(--mc-color-btn-text-disabled);
            cursor: not-allowed;
        }
    }

    .guardian-operate {
        display: flex;
        align-items: center;

        span {
            margin-right: 20px;
            color: var(--mc-color-td-oper) !important;
        }
    }
}

::ng-deep .guardianManagementModal {
    .ti3-modal-header {
        font-size: 20px;
        line-height: 26px;
        padding: 20px 0;
    }

    .ti3-modal-body {
        padding: 0 0 0 14px;
        margin-left: -13px;
    }

    .ti3-form {
        font-size: 12px;
    }

    .ti3-modal-footer {
        padding-top: 0;
    }

    input {
        background: none !important;
        box-shadow: none !important;
        color: var(--d-e8e8e8-l-222222) !important;
        height: 28px !important;
        line-height: 28px !important;
        font-size: 12px !important;
        border: 1px solid #888 !important;
    }

    .ti3-form .ti3-form-content {
        line-height: 28px;
        color: var(--d-e8e8e8-l-222222);
        width: 400px;
    }

    .ti3-form .ti3-form-label {
        color: #aaa;
        font-size: 12px;
        line-height: 28px;
        width: 102px;
        box-sizing: border-box;
    }

    .ti-item-content {
        display: inline-block;
        height: 28px;
        line-height: 28px;
    }

    .guardian-modal-tip {
        font-size: 14px;
        color: #AAAAAA;
        line-height: 20px;
        margin-top: 10px;
    }

    .error-message {
        min-height: 24px;
        font-size: 14px;
        color: #ff4c4c;
        text-align: center;
        margin-left: 104px;
    }

    .error-message img {
        margin-right: 5px;
        width: 16px;
        height: 16px;
    }

    .ti3-unifyvalid-error-container {
        display: flex;
        align-items: center;
    }

    .ti3-icon.ti3-close.ti3-icon-close {
        right: 40px;
        top: 23px;

        &:hover {
            transform: none;
        }

        &::before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            margin: 3px;
            border-radius: 2px;
            background: linear-gradient(to top right,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0) calc(50% - 1.5px),
                    #666 50%,
                    rgba(0, 0, 0, 0) calc(50% + 1.5px),
                    rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom right,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0) calc(50% - 1.5px),
                    #666 50%,
                    rgba(0, 0, 0, 0) calc(50% + 1.5px),
                    rgba(0, 0, 0, 0) 100%);
        }
    }
}

.ra-label {
    position: relative;
    display: inline-block;

    input {
        display: none;
    }

    i.ra-common {
        position: absolute;
        width: 14px;
        height: 14px;
        top: 3px;
        left: 0;
        outline: none;
        border-radius: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    i.ra-check {
        border: 1px solid #0067ff;
    }

    i.ra-check::after {
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        background-color: #0067ff;
        border-radius: 50%;
        -webkit-transition: opacity 0.8s;
        transition: opacity 0.8s;
    }

    i.ra-uncheck {
        border: 1px solid #bdbdbd;
    }
}

.label-radio-part {
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
    height: 20px;
    color: var(--lable-radio-part-clr);
}

.label-radio-all {
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
    height: 20px;
    color: var(--lable-radio-all-clr);
}

.modal-tip {
    display: flex;
    font-size: 12px;
    color: #888888;
    line-height: 18px;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.help-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: 8px;
}

::ng-deep .vscode-light {
    .ti3-tooltip {
        color: #222222 !important;
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-right::after {
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-right::before {
        background-color: var(--vscode-editor-background) !important;
        border-color: var(--vscode-editor-background) !important;
    }
    .guardian-list {
        background: var(--vscode-editor-background);
    }
}

::ng-deep .vscode-dark {
    .ti3-tooltip {
        color: #aaaaaa !important;
        background-color: #424242 !important;
        border-color: #424242 !important;
    }

    .ti3-tooltip-right::after,
    .ti3-tooltip-top::after {
        background-color: #424242 !important;
    }

    .ti3-tooltip-right::before,
    .ti3-tooltip-top::before {
        background-color: #424242 !important;
        border-color: #424242 !important;
    }
    .guardian-list {
        background: #161616;
    }
}
.guardian-list {
    overflow-y: auto;
    .guardian-table{
        min-width: 600px;
    }
}

.eyes {
    position: absolute;
    left: 375px;
    top: 6px;
    width: 20px;
    height: 20px;
}

::ng-deep .ti3-modal-dialog {
    margin: 0 auto !important;
}

::ng-deep .ti3-modal-open .ti3-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.no-project {
    height: 198px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text {
        font-size: 14px;
        color: #aaa;
        margin-top: 8px;
        line-height: 20px;
        text-align: center;
    }
}