::ng-deep .guardianManagementModal .guardian-tip {
    display: flex;
    font-size: 12px;
    color: #888888;
    line-height: 18px;
    margin-bottom: 22px;
    margin-left: -12px;
    img {
        margin-right: 10px;
    }
}
.help-icon {
    position: relative;
    top: 2px;
}

.root-warn {
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 400px;
    line-height: 18px;
    img {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      margin-top: -6px;
    }
    span {
      font-size: 12px;
      color: #616161;
    }
  }

.eyes {
    position: absolute;
    left: 375px;
    top: 6px;
    width: 20px;
    height: 20px;
}

.radios {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
  .radio-box {
      display: flex;
      input{
        flex: 1;
      }
      &:last-child {
          margin-left: 30px;
      }
  }
}
// 浅色主题
::ng-deep .vscode-light {
  input[type=radio][tiRadio]+.ti3-radio .ti3-radio-label{
    color: #222 !important;
  }
}
// 浅色主题
::ng-deep .vscode-dark {
  input[type=radio][tiRadio]+.ti3-radio .ti3-radio-label{
    color: #888 !important;
  }
}
