.node-config-modal {
  .tip {
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #6c7280;
  }
}

.tailPrompt {
  color: #979797;
}

// 非必填项 设置
.ml {
  margin-left: 16px;
}

:host ::ng-deep .schedule {
  .ti3-form > tbody tr > td {
    width: 16px;
  }
}
.immediately {
  margin-top: 20px;
  padding-left: 16px;
  display: flex;
}
.tint{
  color: #979797;
  margin-left: 8px;
  font-size: 12px;
  line-height: 21px;
}
