<ng-template #profileSettingModal>
    <ti-modal-header>
        {{ i18n.plugins_perf_java_profiling_limitation.name }}
        <span (click)="hide()" class="tip-close">
            <img class="ti3-close" src="./assets/img/newSvg/close_icon.svg" />
            <img class="ti3-close" src="./assets/img/newSvg/close_hover.svg">
        </span>
    </ti-modal-header>
    <ti-modal-body>
        <div id="body-wrapper">
            <details (toggle)="onDetailsToggle()" [id]="group.name" *ngFor="let group of settingGroups"
                [open]="group.name === activeTab">
                <summary>
                    <img src="./assets/img/projects/arrow-down.png" />
                    <title>{{ i18n.protalserver_profiling_tab[group.name] }}</title>
                </summary>
                <main>
                    <div class="input-group-box" *ngFor="let inputGroupConfig of group.inputs">
                        <p class="input-group-name" *ngIf="group.showSubName">
                            {{ i18n.plugins_perf_java_profiling_limitation.subtabs[inputGroupConfig.name] }}
                        </p>
                        <app-profile-setting-item *ngIf="inputGroupConfig.times" [options]="inputGroupConfig.times"
                            [value]="inputGroupConfig.times.value" type="times"
                            (confirm)="handleInputConfirm($event, inputGroupConfig, 'times')"
                            (restore)="handleInputRestore(inputGroupConfig, 'times')"></app-profile-setting-item>
                        <app-profile-setting-item *ngIf="inputGroupConfig.records" [options]="inputGroupConfig.records"
                            [value]="inputGroupConfig.records.value" type="records"
                            (confirm)="handleInputConfirm($event, inputGroupConfig, 'records')"
                            (restore)="handleInputRestore(inputGroupConfig, 'records')"></app-profile-setting-item>
                    </div>
                </main>
            </details>
        </div>
    </ti-modal-body>
    <ti-modal-footer [ngClass]="{'divider': showBottomDivider}">
        <button type="button" (click)="hide()">{{ i18n.common_term_operate_close }}</button>
    </ti-modal-footer>
</ng-template>