#createTaskInfo {
  width: 90%;
  min-width: 960px;
  font-size: 14px;
  color: var(--d-aaaaaa-l-616161);
  margin-top: 32px;
  margin-left: 80px;
  .taskParams {
    .taskBox {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
    }
    .label {
      width: 235px;
      display: flex;
      margin-bottom: 10px;

      ti-icon {
        font-size: 12px;
        margin-top: 4px;
      }
      .labelText {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #aaaaaa;
      }
      .tooltip {
        margin-left: 8px;
        margin-top: 3px;
        width: 14px;
        height: 14px;
      }
    }
    .detail {
      position: relative;
      width: calc(100% - 260px);

      .location{
        position: absolute;
        top: 28px;
        left: 0;
      }

      /* Attach to Process */
      .analysis-target-pid-notice {
        width: 100%;
        margin-top: -12px;
        margin-bottom: 20px;
        font-size: 12px;
        color: var(--d-888888-l-616161);
      }

      .nodeConfig {
        display: flex;
        .nodeTip {
          font-size: 12px;
          margin-left: 8px;
        }
      }
      .node-config {
        position: relative;
        left: -260px;
      }
      .diagnoseType {
        font-size: 14px;
      }
      .inputBox {
        width: 326px !important;
        margin-right: 8px;
      }
      ::-webkit-input-placeholder {
        color: var(--color-checkbox-disabled-border);
      }
      :-ms-input-placeholder {
        color: var(--color-checkbox-disabled-border);
      }
      input::-moz-placeholder {
        color: var(--color-checkbox-disabled-border);
      }
      textarea::-webkit-input-placeholder {
        color: var(--color-checkbox-disabled-border);
      }
      textarea:-ms-input-placeholder {
        color: var(--color-checkbox-disabled-border);
      }
      textarea::-moz-placeholder {
        color: var(--color-checkbox-disabled-border);
      }
      .password-eyes {
        width: 16px;
        height: 16px;
        pointer-events: none;
        position: absolute;
        top: 3px;
        right: 20px;
      }
      .importModel {
        position: absolute;
        top: 0;
        left: 336px;

        button {
          min-width: 100px;
          height: 28px;
        }
      }
      .rangeTip {
        color: #979797;
        margin-left: 8px;
      }
      .bottomTip {
        height: 18px;
        align-items: center;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        margin-top: 8px;
        cursor: pointer;
        .tipImg,
        .text {
          vertical-align: middle;
        }
        .tipImg {
          margin-right: 8px;
        }
        .tipWidth {
          display: flex;
          width: 390px;
          align-items: center;

          img {
            width: 16px;
            height: 16px;
          }

          span {
            line-height: 16px;
          }
        }
      }
      .textarea-params {
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #979797;
        &:hover {
          border: 1px solid #0067ff;
        }
        &:focus {
          border: 1px solid #0067ff;
          outline: none;
        }
        &:disabled {
          cursor: not-allowed;
          border: 1px solid var(--color-checkbox-disabled-border) !important;
        }
      }
      .memoryCheck {
        display: flex;
        height: 28px;
        .memory-leak,
        .memory-abnoemal {
          height: 28px;
          font-size: 14px;
          display: flex;
          align-items: center;
          margin-right: 24px;
          padding-left: 24px;
          box-sizing: border-box;
          .checkBox {
            margin-right: 24px;
            &:nth-child(3) {
              margin-right: 0;
            }
          }
        }
        .no-bg-color {
          padding-left: 0;
          background-color: transparent;
        }
        .memory-abnoemal {
          cursor: pointer;
        }
        .allCheck {
          img {
            width: 26px;
            height: 24px;
            margin-top: 6px;
            margin-left: 8px;
          }
        }
      }
    }
  }
  .mode-detail {
    display: flex;
    .choose-list {
      &:last-child {
        margin-left: 32px;
      }
    }
  }
  .diagnoseTarget {
    .editOrResetDiagnose {
      display: flex;
      align-items: center;
      margin: 10px 0px 20px 0px;
      height: 20px;
      .diagnoseLabel {
        color: var(--select-item-txt-colo);
        min-width: 235px;
      }
    }
    .title {
      font-size: 16px;
      margin: 32px 0 16px;
      font-weight: normal;
    }
    .select-box {
      display: flex;

      .select-item {
        width: 88px;
        height: 88px;
        background-color: var(--select-item-bg);
        box-shadow: var(--select-item-box-shadow);
        border: var(--select-item-border);
        border-radius: 2px;
        margin-right: 8px;

        img {
          width: 40px;
          height: 40px;
          margin: 11px 23px 0;
        }
        p {
          text-align: center;
          color: var(--select-item-txt-color);
        }
        .txtColor {
          color: var(--select-item-txt-click-color);
        }
      }
      .select-item:last-child {
        margin-right: 0;
      }
      .select {
        background-image: var(--select-item-hover-bg);
        box-shadow: var(--select-item-hover-box-shadow);
        cursor: pointer;
      }

      // 禁用状态
      .disabled-status {
        cursor: not-allowed;
        color: var(--analysis-type-font-disabled);
        background: var(--analysis-type-bg-disabled);
        border: 1px solid var(--analysis-type-border-disabled);
      }
    }
    .description {
      margin-top: 4px;
      color: #616161;
      font-size: 12px;
    }
  }
  .immediately {
    margin-top: 20px;
    margin-left: 4px;
  }
  .scheduled {
    margin-top: 20px;
  }
  .operateBtn {
    margin: 40px 0;
    .btn {
      margin-right: 16px;
    }
  }
  .run-user {
    margin-bottom: 24px;
    color: #aaaaaa;
  }
  .runUserForm {
    position: relative;
    top: 24px;
    left: -235px;
    margin-bottom: 32px;
  }
}
.table {
  margin-top: 10px;
  font-size: 12px;
  width: 670px;
  .config-btn {
    color: #0067ff;
    cursor: pointer;
  }
}

.status-icon {
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
  border: 3px solid #63b6f7;
}

.success-icon {
  border: 3px solid #7adfa0;
}

.reserve-icon {
  border: 3px solid #0067ff;
}
:host .run-user ::ng-deep .ti3-form .ti3-form-label {
  color: var(--select-item-txt-color);
  min-width: 212px !important;
}
:host .di-analysis-target-pid-input ::ng-deep .ti3-form .ti3-form-label {
  color: var(--select-item-txt-color);
  min-width: 212px !important;
}
:host .memoryCheck ::ng-deep .ti3-checkbox {
  line-height: 18px !important;
}
:host .memoryCheck ::ng-deep .ti3-checkbox {
  border-color: var(--ti-checkbox-border-color) !important;
}

// 深色主题
::ng-deep .vscode-dark {
  --select-item-bg: rgba(30, 30, 30, 0.3);
  --select-item-hover-bg: linear-gradient(180deg, #4b4b4b 0%, #1e1e1e 100%);
  --select-item-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0);
  --select-item-hover-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.5);
  --select-item-border: 1px solid #5b5b5b;
  --select-item-txt-color: #aaa;
  --select-item-txt-click-color: #e8e8e8;

  .memory-leak,
  .memory-abnoemal {
    color: #e8e8e8;
    background: #161616;
  }
  .activeColor {
    background: rgba($color: #0067ff, $alpha: 0.4);
  }
  :host .memoryCheck ::ng-deep .ti3-checkbox .ti3-checkbox-label {
    line-height: 18px !important;
    color: #e8e8e8 !important;
  }
}

// 浅色主题
::ng-deep .vscode-light {
  --select-item-bg: #fff;
  --select-item-hover-bg: #fff;
  --select-item-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
  --select-item-hover-box-shadow: 0px 2px 10px 0px rgba(0, 103, 255, 0.17);
  --select-item-border: 1px solid #fff;
  --select-item-txt-color: #616161;
  --select-item-txt-click-color: #222;
  .memory-leak,
  .memory-abnoemal {
    color: #161616;
    background: rgba($color: #b8becc, $alpha: 0.1);
  }
  .activeColor {
    background: #f0f6ff !important;
  }

  :host .memoryCheck ::ng-deep .ti3-checkbox .ti3-checkbox-label {
    line-height: 18px !important;
    color: var(--d-aaaaaa-l-222222) !important;
  }
  .labelText {
    color: var(--d-aaaaaa-l-616161) !important;
  }
  .textarea-params:disabled {
    color: #cccccc !important;
    border: 1px solid #cccccc !important;
    background: #f5f5f5 !important;
    cursor: not-allowed;
  }
}

:host
  #createTaskInfo
  ::ng-deep
  input[type="radio"][tiRadio]
  + .ti3-radio
  .ti3-radio-skin {
  margin-right: 10px;
}
:host #createTaskInfo ::ng-deep .ti3-form .ti3-form-label,
:host #createTaskInfo ::ng-deep .ti3-form .ti3-form-require {
  padding-bottom: 0;
}

:host ::ng-deep .control .node-info-form .node-boxs .node-box {
  width: 508px;
  padding: 16px 24px 16px 27px;
}
:host ::ng-deep ti-formfield .ti3-form tbody tr td {
  .ti3-form-top-label {
    .ti3-form-top-text {
      color: var(--select-item-txt-color);
      margin: 0;
    }
  }
}
:host ::ng-deep #createTaskInfo .warpper .form .prefix{
  margin-left: 16px;
}
:host ::ng-deep #createTaskInfo .warpper .form .prefix-miss,
:host ::ng-deep #createTaskInfo .warpper .opreation.prefix-miss {
  margin-left: 0;
}
:host ::ng-deep #createTaskInfo .warpper .form .reservation_title {
  padding-left: 0;
  margin-top: 10px;
}
:host #createTaskInfo ::ng-deep .choose-list .ti3-radio .ti3-radio-label {
  color: #aaaaaa !important;
}
:host #createTaskInfo ::ng-deep .choose .ti3-radio .ti3-radio-label {
  color: var(--d-e8e8e8-l-222222) !important;
}

:host ::ng-deep #createTaskInfo .targetAndClient {
  margin-left: -16px;
  .ti3-form .ti3-form-require .ti3-icon::before {
    margin-left: 0 !important;
  }
}

:host
  ::ng-deep
  #createTaskInfo
  .warpper
  .control
  .hy-collapse-warpper
  .hy-collapse-content {
  padding-left: 24px;

  .title,
  .label_margin,
  .advanced-parame {
    margin-left: 0;
  }
}

:host ::ng-deep .memoryCheck {
  input[type="checkbox"][tiCheckbox][disabled]:checked
    + .ti3-checkbox
    .ti3-checkbox-skin {
    border-color: var(--color-checkbox-disabled-border) !important;
  }
  input[type="checkbox"][tiCheckbox][disabled]:checked
    + .ti3-checkbox
    .ti3-checkbox-label {
    color: var(--color-checkbox-disabled-font) !important;
  }
}
:host ::ng-deep .di-analysis-target-pid-input {
  input[type="checkbox"][tiCheckbox][disabled]:checked
    + .ti3-checkbox
    .ti3-checkbox-skin {
    border-color: var(--color-checkbox-disabled-border) !important;
  }
  app-process-pid-input .warpper {
    margin-top: 0px;
  }
}
:host ::ng-deep .control .targetAndClient .control ti-formfield .ti3-form tbody tr td:first-child{
  width: 0;
}
.flex {
  display: flex;
}
::ng-deep .vscode-dark {
  --analysis-type-bg-disabled: #313131;
  --analysis-type-font-disabled: #666666;
  --analysis-type-border-disabled: #616161;
  --color-checkbox-disabled-border: #616161;
  --color-checkbox-disabled-font: #616161;
}
::ng-deep .vscode-light {
  --analysis-type-bg-disabled: #e6ebf5;
  --analysis-type-font-disabled: #cccccc;
  --analysis-type-border-disabled: #e6ebf5;
  --color-checkbox-disabled-border: #cccccc;
  --color-checkbox-disabled-font: #999999;
}
