.content {
    .mask-title{
      display:flex;
      justify-content: space-between;
      border-bottom: dashed 1px #d4d9e6;
      height:66px;
      line-height: 66px;
      font-size:20px;
      position: relative;
    }
    .edit-tip {
      display: flex;
      align-items: center;
      line-height: 18px;
      color: #979797;
      margin-top: 4px;
    }
    [tiText] {
      font-size: 12px !important;
    }
  }
  .msg-content ::ng-deep .ti3-unifyvalid-error-container {
    position: relative;
    left: 10px;
  }
  .msg-content.edit {
    margin-left: 16%;
  }
  
  .firstLogin {
    padding: 35px;
    background: white;
    position: relative;
    width: 300px;
    .title-border {
      height: 1px;
      display: block;
      width: 100%;
      margin-top: 1vw;
    }
    .create-title {
      color: #222;
    }
    .edit-box {
      margin-top: 1vw;
    }

  }
  :host .firstLogin ::ng-deep .ti3-validate-text {
    font-size: 0.8rem;
  }
  :host .firstLogin ::ng-deep .ti3-validate-text {
    vertical-align: top;
  }

  .mask2 {
    display: flex;
    flex-direction: column;
    padding: 0 32px 32px 32px;
    height: 95%;
    width: 560px;
    box-sizing: border-box;
    .edit-box {
      margin-top: 1vw;
      width: 100%;
    }
    .title-border {
      flex: 0 0 1px;
      display: block;
      width: 100%;
      background: #d4d9e6;
      margin-top: 1vw;
    }
    .btn-box {
      margin-top: 28px;
      text-align: center;
      width: 100%;
      button {
        width: 88px;
        height: 28px;
        line-height: 26px;
      }
      .user-close-btn {
        margin-left: 16px;
      }
    }
  }

  .user-manage {
    .create-title {
      color: #222222;
      font-size: 20px;
      font-weight: normal;
    }
    .create-btn {
      width: 130px;
      margin-top: 1vw;
      background: #6c92fa;
      border-color: #6c92fa;
      font-size: 0.9rem;
    }
    .user-table {
      margin-top: 1vw;
    }
    .user-close-btn {
      width: 15%;
      margin: 1vw auto;
      font-size: 0.9rem;
    }
    .user-opt {
      color: #0067ff;
      cursor: pointer;
    }
    .title-border {
      flex: 0 0 1px;
      display: block;
      width: 100%;
      background: #d4d9e6;
      margin-top: 1vw;
    }
    
  }
  li.notShow{
    display: none;
  }

  .deleteUser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 560px;
    padding: 0 32px 32px 32px;
    box-sizing: border-box !important;
    overflow: hidden;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 66px;
      border-bottom: dashed 1px #e1e6ee;
      .close {
        cursor: pointer;
      }
    }
    .main {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #222222;
      margin: 24px 0 22px 0;
      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      span {
        font-size: 14px;
        flex: 1;
      }
    }
    .msg-content {
      display: flex;
      span {
        font-size: 12px;
        color: #222222;
      }
    }
    .foot {
      width: 100%;
      text-align: center;
      margin-top: 32px;
      button {
        width: 88px;
        height: 28px;
        line-height: 26px;
      }
      .confirm {
        margin-right: 16px;
      }
    }
  }
  .ti3-table-container table{
    border-collapse: collapse;
    }
  .ti3-table-container table tr{
      border-bottom: 1px solid #e2e2e2;
  }
  :host ::ng-deep [disabled] section.ti3-select-dominator-text .ti3-overflow-padding {
    color: #cccccc !important;
    font-size: 12px !important;
  }
  ::ng-deep section.ti3-select-dominator-text .ti3-overflow-padding {
    font-size: 12px !important;
  }
  ::ng-deep .ti3-dropdown-option {
    font-size: 12px !important;
  }

.ti3-close{
  top: 0;
  right: 8px;
}
.chen-nodata-td{
  top: -10px;
}
:host .content[lang="zh-cn"] ::ng-deep .ti3-form .ti3-form-label {
  width: 100px;
}
:host .content[lang="en-us"] ::ng-deep .ti3-form .ti3-form-label {
  width: 140px;
}