<div class="hpc" [ngClass]="{ strulab: isModifySchedule }">
  <div [hidden]="!(analysisScene.TYPE_HPC === scenes)">
    <ti-formfield
        vertical
        [formGroup]="micarchCurrntForm"
        [labelWidth]="labelWidth"
    >
    <!-- 选择节点 -->
    <ti-item [required]="true">
      <ti-item-label>
        {{ i18n.node.selectNode }}
      </ti-item-label>
      <app-not-hpc-select-nodes
        [width]="isModifySchedule ? '600px' : '952px'"
        [nodeList]="nodeList"
        [isSelectNodeDisabled]="isSelectNodeDisabled"
        formControlName="nodeList"
        [isHPC]="true"
      ></app-not-hpc-select-nodes>
    </ti-item>
  </ti-formfield>
</div>
  <!-- 系统 -->
  <ti-formfield
    [labelWidth]="labelWidth"
    [formGroup]="micarchCurrntForm"
    *ngIf="!isLaunch"
  >
    <!-- 采样时长 -->
    <ti-item [label]="i18n.sys.duration" [required]="true">
      <div
        class="info-icon margin-bottom"
        [ngClass]="{ infoicon: isModifySchedule }"
        style="align-items: center"
      >
        <ti-spinner
          name="spinner"
          [(ngModel)]="micarchItems.duration.step"
          [placeholder]="micarchItems.duration.placeholder"
          [appSpinnerBlur]="samplingDurationBlur"
          [format]="micarchItems.duration.format"
          tiValidation
          formControlName="duration"
          (blur)="selectBlur($event,'duration')"
        >
        </ti-spinner>
        <span class="margin-left">
          {{ i18n.plugins_sysperf_tips_interval }}
        </span>
      </div>
    </ti-item>

    <!-- HPC分析类型 -->
    <ti-item [label]="i18n.mission_modal.hpc.label" [required]="false">
      <div class="types">
        <span *ngFor="let item of micarchItems.analysis.options">
          <input
            type="radio"
            tiRadio
            formControlName="analysis"
            [value]="item.id"
            [label]="item.text"
            [disabled]="micarchItems.analysis.disabled"
            [(ngModel)]="micarchItems.analysis.value"
          />
        </span>
      </div>
    </ti-item>
  </ti-formfield>

  <!-- 应用 Launch -->
  <ti-formfield
    [labelWidth]="labelWidth"
    [formGroup]="micarchCurrntForm"
    *ngIf="isLaunch"
  >
    <!-- 采样时长 -->
    <ti-item [label]="i18n.sys.duration" [required]="true">
      <div
        class="info-icon margin-bottom"
        [ngClass]="{ infoicon: isModifySchedule }"
        style="align-items: center"
      >
        <ti-spinner
          name="spinner"
          [(ngModel)]="micarchItems.duration.step"
          [placeholder]="micarchItems.duration.placeholder"
          [appSpinnerBlur]="samplingDurationBlur"
          [format]="micarchItems.duration.format"
          tiValidation
          formControlName="duration"
          (blur)="selectBlur($event,'duration')"
        >
        </ti-spinner>
        <span class="margin-left">
          {{ i18n.plugins_sysperf_tips_interval }}
        </span>
      </div>
    </ti-item>

    <!-- 分析类型 -->
    <ti-item [label]="i18n.mission_modal.hpc.label" [required]="true">
      <div class="types">
        <span *ngFor="let item of micarchItems.analysis.options">
          <input
            type="radio"
            tiRadio
            formControlName="analysis"
            [value]="item.id"
            [label]="item.text"
            [disabled]="micarchItems.analysis.disabled"
            [(ngModel)]="micarchItems.analysis.value"
          />
        </span>
      </div>
    </ti-item>

    <!-- 采集类型 -->
    <ti-item [label]="i18n.hpc.mission_create.collectionType" [required]="true">
      <div class="types">
        <span *ngFor="let item of micarchItems.collectionTypes.options">
          <input
            *ngIf="isIntellij && item.text !== this.i18n.mission_modal.hpc.mpi"
            type="radio"
            tiRadio
            [disabled]="isModifySchedule"
            formControlName="collectionTypes"
            [value]="item.status"
            [label]="item.text"
            (ngModelChange)="onChangeCollectionType($event)"
          />
          <input
            *ngIf="!isIntellij"
            type="radio"
            tiRadio
            [disabled]="isModifySchedule"
            formControlName="collectionTypes"
            [value]="item.status"
            [label]="item.text"
            (ngModelChange)="onChangeCollectionType($event)"
          />
        </span>
      </div>
    </ti-item>

    <!-- OpenMP 参数 -->
    <ti-item [show]="!micarchItems.mpi_status.value">
      <ti-item-label>
        <span>{{ i18n.hpc.mission_create.openMpParams }}</span>
        <img
          [tiTip]="i18n.hpc.mission_create.openMpParams_tip"
          class="margin_left tipIcon"
          tiTipMaxWidth="370px"
          tiTipPosition="bottom"
          src="./assets/img/summary/tooltip.png"
        />
      </ti-item-label>
      <input
        tiText
        type="text"
        formControlName="openMpParams"
        [tiValidation]="validation"
        [placeholder]="i18n.hpc.mission_create.openMpParams"
        class="openmp-params-input"
      />
    </ti-item>

    <!-- MPI命令所在目录 -->
    <ti-item
      [label]="i18n.mission_modal.hpc.mpi_env_dir"
      [required]="true"
      [show]="micarchItems.mpi_status.value"
    >
    <ti-item-label>
      <span>{{ i18n.hpc.mission_create. MPIDirectory }}</span>
    </ti-item-label>
      <input
        type="text"
        tiText
        formControlName="mpi_env_dir"
        [placeholder]="i18n.hpc.mission_create.MPIDirectory"
        [tiValidation]="{ type: 'blur' }"
        [(ngModel)]="micarchItems.mpi_env_dir.value"
        class="mpi_env_dir"
      />
    </ti-item>
    <!-- MPI参数 -->
    <ti-item
      [show]="micarchItems.mpi_status.value"
      [label]="i18n.hpc.mission_create.mpiParams"
      [required]="false"
    >
    <ti-item-label>
      <span>{{ i18n.hpc.mission_create.mpiParams }}</span>
      <img
        [tiTip]="i18n.hpc.mission_create.mpi_parameters_tips"
        class="margin_left tipIcon"
        tiTipMaxWidth="370px"
        tiTipPosition="bottom"
        src="./assets/img/summary/tooltip.png"
      />
    </ti-item-label>
      <textarea
        tiTextarea
        type="text"
        formControlName="mpiParams"
        class="textarea-params"
        resize="'vertical'"
        style="width: 378px;"
      ></textarea>
    </ti-item>
    <!-- 选择运行mpirun的运行节点 -->
    <ti-item [required]="true" [show]="micarchItems.mpi_status.value">
      <ti-item-label>
        <span>{{ i18n.hpc.mission_create.selectNode }}</span>
      </ti-item-label>
      <ti-select
        style="width: 400px"
        [options]="rankNodes.srcData.data"
        [searchable]="true"
        formControlName="selectNode"
        valueKey="nodeIp"
        labelKey="nickName"
      ></ti-select>
    </ti-item>

    <!-- Rank -->
    <ti-item
      *ngIf="isLaunch && micarchItems.mpi_status.value"
    >
    <div style="width: 952px;">
      <app-node-rank-config formControlName="hpc_mlt_rank_info"></app-node-rank-config>
    </div>
    </ti-item>
  </ti-formfield>

  <!-- 配置节点参数 -->
  <div class="node-config-modal" *ngIf="!collectionType && !isProfile ">
    <app-mission-node-config
      #nodeConfigM
      [labelWidth]="labelWidth"
      [taskType]="'hpcOpenMP'"
      [formData]="formDatas"
      [projectId]="projectId"
      [nodeConfigShow]="nodeConfigShow"
      [nodeConfigedData]="nodeConfigedData"
      [runUserData]="runUserData"
      [nodeList]="micarchCurrntForm.get('nodeList').value"
      [isAbled]="getIsAbled()"
      [modeAppPathAllow]="modeAppPathAllow"
      [isModifySchedule]="isModifySchedule"
      (onsControlNode)="onControlNode($event)"
      (onsOpentNode)="handleNodeEmit($event)"
      (openRunUserConfig)="openRunUserConfig($event)"
      (selectNodeDisable)="selectNodeDisable($event)">
    </app-mission-node-config>
  </div>

  <div style="flex: 1; margin-top: 15px">
    <!-- 预约定时启动 -->
    <app-mission-reservation
      #preSwitchMicarch
      [labelWidth]="labelWidth"
      [isModifySchedule]="isModifySchedule || isRestart || isEdit"
      [switch]="switchState"
    >
    </app-mission-reservation>
    <!-- 立即执行 -->
    <div
      class="immediately"
      *ngIf="!preSwitchMicarch.switchState && !isRestart"
    >
      <div *ngIf="switchState" [tiTip]="i18n.mission_create.disableeTip">
        <input
          type="checkbox"
          tiCheckbox
          [name]="startCheckMicarch.title"
          [(ngModel)]="startCheckMicarch.checked"
          [disabled]="switchState"
        />
      </div>
      <input
        *ngIf="!switchState"
        type="checkbox"
        tiCheckbox
        [name]="startCheckMicarch.title"
        [(ngModel)]="startCheckMicarch.checked"
      />
      <span class="start-now">{{ startCheckMicarch.title }}</span>
    </div>
  </div>

  <footer [ngClass]="{ tofooter: isModifySchedule }">
    <button
      class="little-primary-btn"
      tiButton
      type="button"
      color="primary"
      style="margin-right: 20px"
      (click)="createMicarchkAnalysis(isEdit)"
      [ngClass]="{ toRight: isModifySchedule }"
      [disabled]="!(taskNameValid && modeAppRunUserValid && micarchCurrntForm.valid &&
      appAndPidValid &&
      (preSwitchMicarch.previewState || !preSwitchMicarch.switchState))"
    >
      {{ i18n.common_term_operate_ok }}
    </button>
    <button class="little-minor-btn" tiButton type="button" (click)="close()">
      {{ i18n.common_term_operate_cancel }}
    </button>
    <button
      class="little-minor-btn"
      tiButton
      type="button"
      (click)="saveTemplates()"
      *ngIf="!isModifySchedule"
      [disabled]="
        !(
          micarchCurrntForm.valid &&
          modeAppRunUserValid &&
          appAndPidValid &&
          taskNameValid &&
          (preSwitchMicarch.previewState || !preSwitchMicarch.switchState)
        )
      "
    >
      {{ i18n.mission_modal.saveTemplates }}
    </button>
  </footer>
</div>

<ng-template #createMicarchConfirmModal let-context="context">
  <ti-modal-header>{{ i18n.secret_title }}</ti-modal-header>
  <ti-modal-body>
    <div class="header">
      <img
        src="./assets/img/common/icon_warning.png"
        style="width: 20px; height: 20px"
      />
      <span style="margin-left: 12px; font-size: 14px">{{
        i18n.secret_count
      }}</span>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <button
      class="little-primary-btn"
      type="button"
      color="primary"
      style="margin-right: 16px"
      (click)="context.close()"
    >
      {{ i18n.common_term_operate_ok }}
    </button>

    <button class="little-minor-btn" type="button" (click)="context.dismiss()">
      {{ i18n.common_term_operate_cancel }}
    </button>
  </ti-modal-footer>
</ng-template>
