.node-config-modal {
  .tip {
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #6c7280;
  }
}
::ng-deep .desc-content {
  padding-top: 8px;
}
.immediately {
  margin-top: 20px;
  padding-left: 16px;
  display: flex;
}
.tint{
  color: #979797;
  margin-left: 8px;
  font-size: 12px;
}

