.show {
  display: none;
}
.immediately {
  margin-top: 20px;
  padding-left: 16px;
  display: flex;
  > div > input {
    cursor: pointer;
  }
}
.padding{
  margin-top: 20px;
}
.switch > ti-switch {
  margin-top: 3px;
}
.thread-information{
  padding-left: 15px !important;
}
.process{
  ::ng-deep .sys-type-label{
    display: flex;
    justify-content: flex-start;

    >span{
      color:#666;
      position: relative;
      margin: 10px 0 13px;
      font-size: 14px;
      display: inline-block;
      min-width: 112px;
    }
  }
  .tint{
    color: #979797;
    margin-left: 8px;
    font-size: 12px;
  }
}
.reservation{
  margin-top: 13px;
  flex:1
}
