.sys-config-net-compare {

  section {

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-weight: normal;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        color: var(--common-color-font-primary);
      }

      div {
        display: flex;
        align-items: center;
        
        span {
          margin-right: 16px;
        }

        ti-select {
          width: 200px;
        }
      }
    }

    app-common-table {
      display: block;
      margin-top: 10px;
      font-size: 12px;

      .td-difference {
        span {
          &:last-of-type {
            width: 80%;
            line-height: 14px;
          }
        }
      }
    }
  }

  section + section {
    margin-top: 32px;
  }
}

:host ::ng-deep .ti3-table table tbody {
  tr:nth-of-type(odd) td:first-child {
    border-right: 1px solid var(--ti-table-border-bottom-color);
  }
  tr:nth-of-type(even) td:first-child {
    padding: var(--ti-table-td-padding);
  }
  tr:nth-of-type(4n + 3), tr:nth-of-type(4n + 4) {
    background-color: var(--ti-table-odd-tr-background-color) !important;
  }
}

:host ::ng-deep .sys-config-net-compare {
  .ti3-table-fixed-head {
    table {
        thead {
          tr {
            .th-box {
              cursor: default;
            } 
          }
          tr:nth-last-child(2)>td:first-child {
            border-bottom: none !important;
          }
        }
    }
  }
  .ti3-table-container {

    table tbody tr:nth-last-child(2)>td:first-child {
      border-bottom: none !important;
    }
  }
}