.advice-tip {
    height: 32px;
    width: 32px;
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 0px;
    cursor: pointer;
    span {
      img {
        vertical-align: middle;
        width: 32px;
        height: 32px;
      }
    }
  }
