.brush-main{
  position: absolute; 
  bottom: -16px; 
  overflow: hidden;
  height: 100px;
  left: -2%;
  width: 104%;
  padding: 0px 48px;
  box-shadow: 0px -3px 10px #E1E6EE; 
  box-sizing: border-box;
  background-color: #fff;
  transition: height 0.2s;
  z-index: 1003;
  
  &.active{
    height: 470px;
    transition: height 0.2s;
  }
  &.active.tips{
    height: 240px;
    transition: height 0.2s;
  }
  .suite-box{
    max-height: 320px;
  }
  }
  
  .toggle-btn-top{
      text-align: center;
      cursor: pointer;
      width: 100%;
      z-index: 99;
      user-select: none;
  
      img{
        width: 10px;
        transition: all 100ms linear;
  
        &.active{
          transform: rotate(180deg);
        }
      }
    }
  .page-title{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      line-height: 28px;
      .function-title{
         display: flex;
         font-size: 16px; 
         color: #222222;
      }
      .time_title{
          color: #616161;
          font-size: 12px;
          padding-right:55px
      }
  }
  
  .table {
      height: 100%;
      display: flex;
      flex-direction: column;
  
      >.title {
        flex: 0 0 auto;
      }
  
      >.ti3-table {
        max-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
  
        >.ti3-table-fixed-head {
          flex: 0 0 auto;
        }
  
        >.ti3-table-container {
          flex-grow: 1;
  
          td {
            position: relative;
  
            .pro-rate{
              position:absolute;
              top:0;
              left:0;
              background-color: #D6E4FF;
             .rateContent{
              line-height: 42px;
             } 
            }
          }
        }
  
        >.ti3-page-container {
          flex: 0 0 auto;
        }
      }
    }
:host ::ng-deep .nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 0;
}

:host ::ng-deep .ti3-table > .ti3-table-container > table > tbody > tr.nodataTr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr){
  background: #fff !important;
}
:host ::ng-deep .ti3-table.custemTable > .ti3-table-container > table > tbody > tr:hover > td {
  background-color: #fff;
}

.collapsed{
  position: relative;
  border-left: 34px solid #f0f3fa !important;
  &::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    content: "";
    width: 2px;
    background-color: #6c92fa;
    z-index: 999;   
  }
}

::ng-deep .table_box{
    position: relative;
    top: 20px;
    margin-bottom: 40px;
    .ti3-close{
    left: 3px;
    top: -31px;
    }
  }

:host ::ng-deep .delay_content{
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
     max-height: 200px ;
  }
  .nodata {
    margin-top: 8%;
  }
  .ti3-icon-close:hover span{
    color: #222222;
  }
}
:host ::ng-deep .data_size{
  height: 400px;
  overflow-y: auto;
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    max-height: 300px ;
  }
}

@media only screen and (max-height: 900px){
  .brush-main.active{
    height: 37vh;
  }
  .data_size {
    max-height: 27vh;
  }
  .delay_content{
    max-height: 24vh;
    overflow-y: auto;
  }
  .brush-main .suite-box{
    max-height: 16vh;
  }
  .quene  .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    max-height: 16vh;
  }
  .brush-main .nodata {
    margin: 0;
    margin-top: -12px;
  }
  .nodata img, .chen-nodata-td img {
    width: 259px !important;
  }
} 