// 自定义 ti3-tabs
:host ::ng-deep .custemTabs {
  > .ti3-tabs-container1 {
    .ti3-tabs-header {
      > .ti3-tabs {
        > li {
          // tiny默认是20px的间距，太大了
          margin: 0 12px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  // 页签间加分割线
  &.tabsWithSplitLine {
    > .ti3-tabs-container1 {
      .ti3-tabs-header {
        > .ti3-tabs {
          > li:not(:first-child) {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              left: -12px;
              top: 10px;
              width: 1px;
              height: 14px;
              background: var(--divider-style-tabs-header);
            }
          }
        }
      }
    }
  }

  // 页签底部加下划线
  &.tabsWithUnderline > .ti3-tabs-container1 .ti3-tabs-header .ti3-tab-active {
    border-bottom: 2px solid #0067ff;
  }
}

// 带背景色的页签
:host ::ng-deep .custemDarkTabs {
  > .ti3-tabs-container1 {
    > .ti3-tabs-header {
      background: #f5f9ff !important;

      > .ti3-tabs {
        padding-top: 4px;

        > li {
          > a {
            background: transparent;
            color: #616161;
            height: 36px;
            line-height: 36px;
            padding: 0 24px !important;

            &:hover,
            &:focus {
              background-color: #fff !important;
              color: #222 !important;
            }
          }

          &.ti3-tab-active:not(.disabled) {
            > a {
              background-color: #fff !important;
              color: #0067ff !important;
              box-shadow: inset 0px 1px 0px 0px #e1e6ee,
                inset 1px 0px 0px 0px #e1e6ee, inset -1px 0px 0px 0px #e1e6ee;
            }
          }
        }
      }
    }
  }
}
