.analysis-target-value {
    color: #333;
    input {
        width: 300px;
        height: 32px;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    ti-spinner {
        width: 165px;
    }

    .mission-app-warn,
    .mission-app-input-tip {
        max-width: 356px;
        color: #ff0000;
    }
    span{
        color: #888888;
        padding-left: 10px;
    }
}
.margin {
    margin-left: 10px;
}
