:root .vscode-dark {

  --ti-default-body-bg: #1e1e1e;
  --ti-default-font-color: #aaaaaa;
  --ti-button-primary-normal-color: #e8e8e8;
  // 高亮背景色，如table选中某一行、按钮禁用等
  --highlight-bg-color: #313131;
// 采集信息背景色
  --infor-bg-color: #12223b;
  --infor-key-font-color: #aaaaaa;
  --infor-value-font-color: #e8e8e8;
  --infor-url-font-color: #0067ff;
  --infor-detail-button-bg-color: #313131;
  --infor-detail-button-hover-color: #267dff;

  // lock-graph图颜色
  --lock-graph-address-bg-color: #aaaaaa;
  --lock-graph-address-border-color: #000000;
  --lock-graph-attr-border-color: #282b33;
  --lock-graph-green-color: #36bc80;
  --lock-graph-red-color: #e85d54;
  --lock-graph-yellow-color: #d2cb34;
  --lock-graph-orange-color: #f7b212;
  --lock-graph-text-overflow-color: #161616;
  --lock-graph-text-threadTime-color: #e8e8e8;

  --default-border-color: #dddddd;
  --disabled-color: #616161;
  --disabled-font-color: #aaaaaa;
  --disabled-border-color: var(--highlight-bg-color);
  --disabled-bg-color: var(--highlight-bg-color);
  --table-header-bg-color: #2a2a2a;
  --table-header-text-color: #e8e8e8;
  --input-placeholder-color: var(--ti-default-font-color);
  --table-border-bottom-color: #545454;
  --table-count-bg-color: #5d89d8;
  --select-bg-color-hover: #e8e8e8;
  --ti-tree-item-guide-line-color: #e1e6ee;
  --ti-tree-node-bg-color-checked: rgba(0, 103, 255, 0.08);
  --ti-tree-content-box-color-hover: #f5f9ff;
  --button-default-bg-color: var(--highlight-bg-color);
  --ti-modal-content-bg-color: #252526;
  --linenumber-font-color: #858585;
  --ti-modal-header-text-color: #e8e8e8;
  --ti-dropdown-bg-color: var(--highlight-bg-color);
  --ti-table-th-spacing-line-color: #4b4b4b;
  --ti-table-tr-bg-color: #161616;
  --ti-tip-bg-color: #424242;
  --ti-tip-text-color: var(--ti-default-font-color);
  
  /*-------------------------公共组件-------------------------------*/
  // timeline
  --shared-tl-box-border: rgba(0,103,255,.16);
  --shared-tl-font-color: var(--ti-default-font-color);
  --shared-tl-select-bg:rgba(0, 103, 255, 0.16);
  --shared-tl-box-bg: #161616;
  // suggestion-tip
  --shared-st-bg-color: #111D2C;
  --shared-st-border-color: #15395B;
  --shared-st-alarm-bg-color: #ffeeed;
  --shared-st-alarm-border-color: #ff9b00;
  --shared-st-error-bg-color: #ffeeed;
  --shared-st-error-border-color: #ed4b4b;
  --shared-st-text-color: #fff;
  //分割组件背景色
  --divider-bg-color:#313131;


  --alert-message-box-shadow: rgba(0, 0, 0, 0.5);
  --sample-tip: rgba(255, 255, 255, 0.65);
  --spinner-right-text:#888888;

  --disabled-tip-icon:#b8becc;
  --anchor-point-bg:#313131;
  /* 热点分析，switch滑块背景色 */
  --hot-analysis-switch: #313131;
}