.top_down {
  margin-bottom: 32px;
  .top_down_bar {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 20px;
      color: #222222;
      margin-bottom: 20px;
    }
    .right_top_down {
      display: flex;
      img {
        cursor: pointer;
        height: 32px;
        width: 32px;
      }
    }
    .right_switch {
      display: flex;
      padding-right: 6px;

      app-icon-react {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  }
  .top-table {
    .td-name {
      padding-left: 20px;
    }
    .ti3-table-container > table > tbody > tr > td {
      overflow: visible !important;
    }
    img {
      cursor: pointer;
      transition: 0.5s linear;
    }
    .top-table-box {
      .top-down-tr {
        position: relative;
        .topLine {
          position: absolute;
          top: -2px;
          left: 0;
          width: 0;
          height: 36px;
          background: #f0f3fa;
          border-right: 2px solid #6c92fa;
        }
      }
      max-height: 335px;
    }
    .active {
      transform: rotate(90deg);
    }
  }
  .nodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    transform: translateX(50%);
    margin-bottom: 32px;
    margin-top: 32px !important;
    img {
      width: 20%;
      display: block;
    }
    div {
      font-size: 0.8rem;
    }
  }
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -4%;
  img {
    width: 20%;
    display: block;
  }
  div {
    font-size: 0.8rem;
  }
}