<div class="hpc-detail">
    <ti-tabs class="hpc-tabs">
        <ti-tab [(active)]="item.active" *ngFor="let item of detailList; let index = index" [disabled]="item.disable">
            <ti-tab-header>
                <span>{{item.title}}</span>
                <span *ngIf="index < detailList.length - 1"></span>
            </ti-tab-header>
            <div class="content-container"
                *ngIf="item.title === i18n.common_term_task_tab_congration && item.disable === false"
                [ngClass]="{showDetail: item.active}">
                <app-configuration (returnConfigInfo)="getConfigInfo($event)" [nodeid]='nodeid'
                    [projectName]='projectName' [taskName]='taskName' [status]='status' [analysisType]='analysisType'
                    [taskid]='id'></app-configuration>
            </div>
            <ng-template #tiTabContent>
                <div class="content-container"
                    *ngIf="item.title === i18n.mission_modal.hpc.summary && item.disable === false"
                    [ngClass]="{showDetail: item.active}">
                    <app-hpc-summary-detail [nodeId]='nodeid' [projectName]='projectName' [taskName]='taskName' [taskId]='id'></app-hpc-summary-detail>
                </div>
                <div class="content-container"
                    *ngIf="item.title === i18n.mission_modal.hpc.hpcTarget && item.disable === false"
                    [ngClass]="{showDetail: item.active}">
                    <app-hpc-detail-target [nodeId]='nodeid' [taskId]='id' [analysisTarget]='analysisTarget'
                        [mpiHpcInfo]='taskInfo'>
                    </app-hpc-detail-target>
                </div>
                <div class="content-container"
                    *ngIf="item.title === i18n.common_term_task_tab_log && item.disable === false"
                    [ngClass]="{showDetail: item.active}">
                    <app-configuration-log [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName'
                        [analysisType]='analysisType' [status]='status' [taskid]='id'></app-configuration-log>
                </div>
            </ng-template>
        </ti-tab>
    </ti-tabs>
</div>