<div>
    <ti-tabs>
      <ti-tab *ngFor="let tab of tabs" [(active)]="tab.active" (activeChange)="tab.onActiveChange($event)" [header]="tab.title">
        <div *ngIf="showTable">
          <ti-table [(displayedData)]="displayed" [srcData]="srcData">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                    <!--为了更好的渲染性能，建议在ngFor数据时总是trackBy数据条目中的某个唯一属性值(如id)-->
                    <tr *ngFor="let row of displayed;trackBy: trackByFn">
                        <!-- tiOverflow指令的作用是使文本溢出时出'...'，且hover时出tip-->
                        <td tiOverflow>{{row.range}}</td>
                        <td tiOverflow>{{row.read}}</td>
                        <td tiOverflow>{{row.write}}</td>
                    </tr>
                </tbody>
            </table>
        </ti-table>
        </div>
        <span *ngIf="!showTable">
            {{tips}}
        </span>
      </ti-tab>
  </ti-tabs>
  </div>