<div style="position: relative;">
    <div class="flame-box" *ngIf='showfire&&hasData'>
        <div class="d3-container">
            <div [id]='fireID'>
                <div *ngIf="showNoData" style="margin-top:12%">
                    <img *ngIf="currTheme == ColorTheme.Dark"
                        style='width:16%; position:relative; left:42%; display:block; margin-bottom:15px;'
                        src='./assets/img/projects/nodata-dark.png' />
                    <img *ngIf="currTheme == ColorTheme.Light"
                        style='width:16%; position:relative; left:42%; display:block; margin-bottom:15px;'
                        src='./assets/img/projects/nodata-light.png' />
                    {{ i18n.common_term_task_nodata }}
                </div>
            </div>
        </div>
        <div id='flame-menu' [hidden]="!showMenu" [ngStyle]="{'left': menuX,'top':menuY}">
            <div class="menu-text" [ngClass]="{' notStack': !isStack}">{{ hoverFunctionName }}</div>
            <div class="menu-item" id='menu1' (click)='clickMenu1()' *ngIf="isStack">{{
                i18n.plugins_sysperf_button_viewFunctionDetails }}</div>
        </div>
    </div>
    <app-default-page *ngIf='showfire && !hasData' [height]="'80vh'" [bgColor]="'#1e1e1e'"></app-default-page>
</div>