::ng-deep .vscode-dark {
    .tips {
        color: #e8e8e8;
    }
    .tip-title {
        color: #aaaaaa;
    }
    .ti3-checkbox-label {
        color: #e8e8e8;
    }
}

::ng-deep .vscode-light {
    .tips {
        color: #222222;
    }
    .tip-title {
        color: #222222;
    }
    .ti3-checkbox-label {
        color: var(--ti-checkbox-label-color);
    }
}
.tips{
    font-size: 14px;
    display: flex;
}

.left-tips{
    width:75vw;
}
.content1{
    width:calc(100% - 75vw);
    padding-top: 54px;
    padding-left: 24px;
    position: relative;
}
.title1{
    display: flex;
    padding-bottom: 31px;
    img {
        padding-right:8px;
        width: 16px;
        height: 16px;
    }
}
.brushTips{
    width: 100%;
    height: 145px;
}
.checkBox{
    position: absolute;
    bottom: 8px;
    right: 8px;
}
