<div class="tips">
    <div class="left-tips">
        <div class="title1">
            <img src="./assets/img/common/icon-information.png">
            {{i18n.storageIO.tips}}
        </div>
        <hy-theme-content class="brushTips">
            <img *ngIf="!isIntellij" src="./assets/img/brush-dark.gif" dark>
            <img *ngIf="isIntellij" src="./assets/img/brush-ide-dark.gif" dark>
            <img src="./assets/img/brush-light.gif" light>
        </hy-theme-content>
    </div>
    <div class="content1">
        <div class="tip-title">{{tips}}</div>
        <div class="checkBox">
            <input type="checkbox" tiCheckbox [name]='i18n.storageIO.notdisplay' [(ngModel)]="readChecked"
                (ngModelChange)="changeBrushTip($event)" [label]='i18n.storageIO.notdisplay'>
        </div>
    </div>
</div>
