<div class="sys-config-os">
  <div class="os-info-item" *ngFor="let item of osInfo">
    <div class="label">
      <span>{{ item.label }}</span>
      <hy-theme-content *ngIf="item.question" [tiTip]="item.question">
        <app-icon-static [name]="'questionMarkTipLight'" light></app-icon-static>
        <app-icon-static [name]="'questionMarkTipDark'" dark></app-icon-static>
      </hy-theme-content>
    </div>
    <div class="text">
      <p *ngFor="let text of item.texts">{{ text }}</p>
    </div>
  </div>
</div>
