::ng-deep .vscode-dark {
  --color-bg-d-111d2c-l-f0f6ff: #111d2c;
  --color-border-d-15395b-l-2072ea: #15395b;
  --color-font-d-e8e8e8-l-333333: #E8E8E8;
  --select-node-describe-color: #aaa;
}

::ng-deep .vscode-light {
  --color-bg-d-111d2c-l-f0f6ff: #f0f6ff;
  --color-border-d-15395b-l-2072ea: #2072ea;
  --color-font-d-e8e8e8-l-333333: #333333;
  --select-node-describe-color: #979797;
}
.create {
    width: 90%;
    min-width: 960px;
    font-size: 14px;
    color: var(--d-e8e8e8-l-616161);
    margin-top: 40px;
    margin-left: 80px;

    .mission-name {
        .ti3-icon-staricon::before {
            color: #f45c5e !important;
            margin-left: -14px !important;
        }

        .mission-label {
            box-sizing: border-box;
            margin-bottom: 10px;

            span {
                font-size: 14px;
                color: var(--d-aaaaaa-l-616161);
            }
        }

        .mission-input-button {
            margin-bottom: 30px;

            .mission-input {
                display: flex;
                justify-content: flex-start;

                input {
                    width: 286px;
                    height: 28px !important;
                    font-size: 12px !important;
                    margin-right: 10px;
                }

                .mission-import {
                    button {
                        min-width: 100px;
                        width: auto !important;
                        height: 28px;

                        &:active {
                            animation: none;
                        }

                        &:focus {
                            background: none;
                        }
                    }

                    .little-minor-btn:hover {
                        animation: unset;
                    }

                    .secondary-btn {
                        font-size: 12px;
                        background-color: #313131 !important;
                        color: #e8e8e8 !important;
                        line-height: 28px;
                        border: 1px solid #dddddd !important;
                        border-radius: 2px;
                    }

                    .secondary-btn:hover {
                        background-color: rgb(83, 83, 92);
                        color: #ffff;
                    }

                    .secondary-btn:active {
                        background-color: rgb(13, 14, 15);
                        color: #ffff;
                    }
                }
            }

            .mission-warn {
                display: none;
                position: relative;
                margin-top: 4px;

                span {
                    font-size: 12px;
                    color: #f45c5e;
                    position: absolute;
                }
            }

            .warnShow {
                display: block;
            }
        }
    }

    .analysis-target {
        display: flex;
        flex-direction: column;

        .analysis-target-title {
            font-size: 20px;
            font-weight: 600;
            color: var(--d-e8e8e8-l-222222);
        }

        .analysis-target-lists {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;

            .analysis-target-list {
                width: 88px;
                height: 88px;
                box-sizing: border-box;
                margin-right: 26px;
                border: 1px solid var(--type-border-color);
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-weight: normal;
                color: var(--d-aaaaaa-l-222222);
                background: var(--analysis-type-bg);
                transition: box-shadow 0.8s;
                box-shadow: var(--analysis-target-box-shadow);

                &.clicked {
                    color: var(--d-aaaaaa-l-0057d9);
                }

                img {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                }

                p {
                    font-size: 10px;
                    line-height: 15px;
                    margin-top: 15px;
                    font-size: 12px;
                }
            }

            .font-hover {
                color: #e8e8e8;
                background: linear-gradient(#303030, #1e1e1e);
                cursor: pointer;
            }

            // 分析对象点击后变色
            .font-hover,
            .clicked {
                border: none;
                box-shadow: var(--analysis-target-hover-box-shadow);
                color: var(--d-e8e8e8-l-0057d9);
                background: linear-gradient(#303030, #1e1e1e);
                cursor: pointer;
                p{
                    color: var(--typeName-color_hover);
                }
            }
        }

        .analysis-info {
            .analysis-target-notice {
                .notice-sys,
                .notice-app {
                    color: var(--d-888888-l-616161);
                    font-size: 12px;
                    line-height: 18px;
                    display: inline-block;
                    margin-top: 8px;
                    margin-bottom: 30px;
                }

                .notice-app {
                    margin-bottom: 20px;
                }
            }

            .analysis-target-app-choose {
                .analysis-target-app-label {
                    font-size: 14px;
                    color: var(--d-aaaaaa-l-616161);
                    margin-bottom: 12px;
                }

                .choose-list {
                    font-size: 12px;
                    line-height: 14px;
                    margin-right: 64px;
                    display: inline-block;
                    box-sizing: border-box;

                    input[type="radio"][tiRadio] + .ti3-radio .ti3-radio-label {
                        color: #e8e8e8 !important;
                    }

                    img {
                        margin-right: 8px;
                    }
                }

                .choose-list:hover {
                    color: #6c92fa;
                    cursor: pointer;
                }
            }

            .analysis-target-pid,
            .analysis-target-application {
                margin-bottom: 20px;

                .analysis-target-app-notice,
                .analysis-target-pid-notice {
                    font-size: 12px;
                    color: #888888;
                    line-height: 18px;
                    margin: 10px 0 20px;
                }

                .analysis-target-app-notice {
                    font-size: 12px;
                    color: #888888;
                    margin: 10px 0 20px;
                }

                .analysis-target-content {
                    .analysis-target-app-label {
                        font-size: 14px;
                        color: #aaaaaa;
                        margin-bottom: 10px;

                        .analysis-target-app-label-app {
                            line-height: unset;
                        }
                    }

                    .analysis-target-app-input {
                        position: relative;
                        margin-bottom: 20px;

                        input {
                            width: 400px;
                            height: 28px;
                            background-color: var(--vscode-editor-background);
                            box-shadow: none;
                            font-size: 12px;
                            color: var(--ti-input-text-color);
                            line-height: 28px;
                            border: 1px solid #888888;
                        }

                        .mission-app-input-tip {
                            height: 18px;
                            line-height: 18px;
                            margin-top: 5px;
                            font-size: 12px;
                        }
                    }
                }

                .analysis-target-params {
                    margin-bottom: 20px;

                    .analysis-target-params-label {
                        font-size: 14px;
                        color: var(--d-aaaaaa-l-616161);
                        margin-bottom: 10px;
                    }

                    .analysis-target-params-input {
                        textarea {
                            width: 380px;
                            height: 56px;
                            line-height: 18px !important;
                            padding: 6px 10px 8px !important;
                        }

                        .textarea-params {
                            outline: none !important;
                        }
                    }
                }
                .analysis-target-runUser {
                    .analysis-target-app-label-runUser {
                        font-size: 14px;
                        color: var(--d-aaaaaa-l-616161);
                        margin-bottom: 10px;
                    }
                    .analysis-target-app-input-runUser {
                        margin-bottom: 10px;
                    }
                }

                .analysis-target-tip {
                    display: flex;
                    width: 952px;
                    margin: 10px 0;
                    padding: 7px 16px;
                    background-color: var(--color-bg-d-111d2c-l-f0f6ff);
                    border-radius: 2px;
                    border: solid 1px var(--color-border-d-15395b-l-2072ea);
                    box-sizing: border-box;

                    .analysis-target-tip-img {
                        width: 16px;
                        height: 16px;
                    }

                    .analysis-target-tip-text {
                        flex: 1;
                        display: flex;
                        margin-left: 8px;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0px;
                        color: var(--color-font-d-e8e8e8-l-333333);
                    }
                }
                .analysis-target-user {
                    .analysis-target-user-label {
                        font-size: 14px;
                        color: var(--d-aaaaaa-l-616161);
                        margin-bottom: 18px;
                    }
                    .analysis-target-user-input {
                        margin-bottom: 20px;

                        input {
                            width: 400px;
                            height: 28px;
                            background-color: var(--vscode-editor-background);
                            box-shadow: none;
                            font-size: 12px;
                            color: var(--common-color-font-primary);
                            line-height: 28px;
                            border: 1px solid var(--ti-input-border-color);
                        }
                    }
                }
                .analysis-target-password {
                    .analysis-target-password-label {
                        font-size: 14px;
                        color: var(--d-aaaaaa-l-616161);
                        margin-bottom: 10px;
                    }
                    .analysis-target-passWord-input {
                        position: relative;
                        input {
                            width: 400px;
                            height: 28px;
                            background-color: var(--vscode-editor-background);
                            box-shadow: none;
                            font-size: 12px;
                            color: var(--common-color-font-primary);
                            line-height: 28px;
                            border: 1px solid var(--ti-input-border-color);
                        }
                        .eye {
                            position: absolute;
                            left: 375px;
                            top: 6px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .analysis-target-app .analysis-target-app-label {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .analysis-type {
        min-height: 210px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;

        .analysis-type-title {
            font-size: 20px;
            font-weight: 600;
            color: var(--d-e8e8e8-l-222222);
        }

        .analysis-type-lists {
            display: none;
            flex-wrap: wrap;
            justify-content: end;
            transform: translateX(-100%);
            transition: transform 0.6s;
            top: 20px;
            left: 0;
            padding-left: 24px;
            margin-top: 10px;
            background: var(--analysis-target-bg);
            width: 936px;

            .analysis-type-outer-lists {
                padding-top: 10px;
                margin-right: 24px;
                height: 125px;

                .typeTitle {
                    padding-bottom: 7px;
                    font-size: 14px;
                    color: var(--typeTitle-color);
                }
                .typeTitleHover,
                .typeClicked {
                    color: #0067ff;
                    border-bottom: 2px solid #0067ff;
                }
                .analysis-type-inside-lists {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    transition: transform 0.6s;
                    overflow: hidden;
                    margin-top: 10px;

                    .analysis-type-list {
                        width: 88px;
                        height: 88px;
                        box-sizing: border-box;
                        margin: 10px 8px 0 0;
                        border: 1px solid var(--type-border-color);
                        border-radius: 2px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        font-weight: normal;
                        color: var(--d-aaaaaa-l-222222);
                        transition: box-shadow 0.8s;
                        padding: 0 1px;
                        background: var(--analysis-type-bg);
                        box-shadow: var(--analysis-target-box-shadow);

                        &.clicked {
                            color: var(--d-aaaaaa-l-0057d9);
                        }

                        img {
                            margin: 6px auto 0;
                            width: 40px;
                            height: 40px;
                        }

                        p {
                            width: 84px;
                            height: 36px;
                            font-size: 12px;
                            line-height: 13px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--d-aaaaaa-l-222222);
                        }
                        .typeNameClicked,
                        .typeNameHover {
                            color: var(--typeName-color_hover);
                        }
                    }

                    .font-hover {
                        border: solid 1px #6c92fa;
                        color: #6c92fa;
                        background-color: #eef2fe;
                        cursor: pointer;
                    }
                    // 分析对象点击后变色
                    .font-hover,
                    .clicked {
                        border: none !important;
                        color: var(--d-e8e8e8-l-0057d9);
                        box-shadow: var(--analysis-type-box);
                        background: linear-gradient(#303030, #1e1e1e);
                        cursor: pointer;
                    }
                    // 禁用状态
                    .disabled-status {
                      cursor: not-allowed;
                      color: var(--analysis-type-font-disabled);
                      background: var(--analysis-type-bg-disabled);
                      border: 1px solid var(--analysis-type-border-disabled);
                    }
                }
            }
            .analysis-type-outer-lists:last-child {
                margin-right: 0;
            }
        }

        .analysis-type-info {
            color: var(--d-888888-l-616161);
            font-size: 12px;
            line-height: 18px;
            margin: 10px 0;
        }

        .showTypes {
            transform: translateX(0);
            display: flex;
        }
    }

    .analysis-detail {
        margin-top: 0;

        ::ng-deep .select-nodes{
            margin-left: 0;
            .nodes-table .keep{
                padding-left: 0;
                width: var(--ti-table-column-icon-width);
                box-sizing: unset;
            }
        }
        ::ng-deep .tint{
            color: var(--select-node-describe-color);
            margin-left: 8px;
            font-size: 12px;
            line-height: 21px;
        }

    }
}
.show{
  display: block!important;
}
.detailIteml{
  display: none;
}
.disabled {
    cursor: not-allowed !important;
    color: #666666;
    background: #313131;
    border: 1px solid #616161;
}

input[type="radio"][tiRadio] + .ti3-radio .ti3-radio-skin::after {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    content: "";
    left: 4px;
    top: 4px;
    height: 6px;
    width: 6px;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
}

::ng-deep .ti3-form-label {
    color: var(--d-aaaaaa-l-616161) !important;
}

::ng-deep .create .ti3-form-content {
    .ti3-checkbox-label {
        font-size: 12px !important;
    }
}

:host ::ng-deep ti-time.ti3-time-container .ti3-time-input {
    background-color: transparent !important;
}
::ng-deep .vscode-dark {
    --analysis-target-box-shadow: null;
    --analysis-target-hover-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.5);
    --type-border-color: #5b5b5b;
    --d-aaaaaa-l-222222: #aaa;
    --analysis-type-box: 0px 16px 30px 0px rgba(0, 0, 0, 0.5);
    --analysis-target-bg: rgba(0, 0, 0, 0.2);
    --analysis-type-bg: rgba(30, 30, 30, 0.3);
    --typeName-color_hover: #e8e8e8;
    --typeTitle-color: #aaa;
    --analysis-type-bg-disabled: #313131;
    --analysis-type-font-disabled: #666666;
    --analysis-type-border-disabled: #616161;
    .analysis-target-params-input {
        textarea:disabled:hover {
            border: 1px solid #616161 !important;
        }
    }
    .analysis-target-app-input {
        input:disabled {
            background-color: #313131 !important;
        }
    }
}

::ng-deep .vscode-light {
    --analysis-target-box-shadow:0px 2px 10px 0px rgba(0, 103, 255, 0.17);
    --analysis-target-hover-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
    --type-border-color: #fff;
    --d-aaaaaa-l-222222: #222;
    --analysis-type-box: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
    --analysis-target-bg: #f8fafd;
    --analysis-type-bg: #fff;
    --typeName-color_hover: #0067ff;
    --typeTitle-color: #616161;
    --analysis-type-bg-disabled: #e6ebf5;
    --analysis-type-font-disabled: #cccccc;
    --analysis-type-border-disabled: #e6ebf5;
    .analysis-target-app-input {
        [tiText][disabled]:not(.ti3-spinner-input):disabled {
            color: #ccc !important;
            border: 1px solid #ccc !important;
            background-color: #f5f5f5 !important;
        }
    }
    .analysis-target-user{
        .analysis-target-user-input {
            input { 
                color: var(--d-aaaaaa-l-222222);
            }
        }
    }
    
    .analysis-target-app{
        .analysis-target-app-input{
            #ti_auto_id_20{
                color: var(--d-aaaaaa-l-222222) !important;
            }
        }
        .analysis-target-app-label{
            span{
                color: #616161;
            }
        }
    }
    
    .analysis-target-password{
        .analysis-target-user-input {
            input { 
                color: var(--d-aaaaaa-l-222222);
            }
        }
    }

    
    .analysis-target-params-input {
        .textarea-params:disabled {
            color: #ccc !important;
            border: 1px solid #ccc !important;
            background: #f5f5f5 !important;
        }
        .textarea-params:disabled:hover {
            border: 1px solid #ccc !important;
        }
    }

    .analysis-target-list.clicked,
    .analysis-target-list.font-hover,
    .analysis-type-list.clicked,
    .analysis-type-list.font-hover {
        background: #fcfdff !important;
        box-shadow: var(--type-border-color);
        border-style: solid !important;
        border-width: 1px !important;
        border-image-source: linear-gradient(180deg, rgba(153, 181, 255, 0.51) 0%, rgba(91, 91, 91, 0) 100%) !important;
        border-image-slice: 1 !important;
    }
}

::ng-deep {
    input[type="radio"][tiRadio] + .ti3-radio .ti3-radio-label {
        color: var(--d-e8e8e8-l-222222) !important;
    }

    .start-now {
        color: var(--d-aaaaaa-l-616161);
    }
    .start-now.selected{
        color: var(--d-e8e8e8-l-222222);
    }
}
.padding_bottom {
    padding-top: 20px;
}
.restart-mission-name,
.restart-analysis-target-title,
.restart-analysis-type {
    color: var(--ti-default-font-color);

    .restart-label {
        color: var(--d-aaaaaa-l-616161);
        margin-bottom: 10px;
    }
}
.restart-mission-name,
.restart-analysis-target-title {
    margin-bottom: 20px;
}

.margin_left {
    margin: 3px 0 0 10px;
}
