<ti-table class="commmon-table" [(displayedData)]="displayed" [srcData]="srcData" tiColsResizable
    [columns]="columns">
    <div class="ti3-table-fixed-head">
        <table>
            <thead>
                <tr>
                    <th *ngIf="isDetails" [attr.rowspan]="maxLevel + 1" colspan="1" details-icon-column></th>
                    <ng-container *ngFor="let column of allColumns[0]; last as isLast">
                        <th *ngIf="column.checked || column.checked === undefined" [tiColumnFixed]="column.fixed"
                            width="{{ column.width }}" [attr.rowspan]="column.rowspan" [attr.colspan]="column.colspan"
                            [ngClass]="{
                              needBefore: isFilters || column.isNeedBefore,
                              'hasChildren': column.childrenNum > 0,
                              'lastNoChildren': isFilters && column.childrenNum === 0 && isLast,
                              'floating-fixed-left-column': hasScroll && column.fixed === 'left' }">
                            <ng-container *ngTemplateOutlet="thBox; context: {$implicit: column}"></ng-container>
                        </th>
                    </ng-container>
                </tr>  
                <ng-container *ngFor="let columns of allColumns; let ifirst=first; let ilast=last;">
                    <tr *ngIf="!ifirst">                  
                        <ng-container *ngFor="let column of columns; let jlast=last;">
                            <th not-resizable *ngIf="column.checked || column.checked === undefined" [tiColumnFixed]="column.fixed"
                                width="{{ column.width }}" [attr.rowspan]="column.rowspan" [attr.colspan]="column.colspan"
                                [ngClass]="{
                                  needBefore: isFilters || column.isNeedBefore,
                                  'hasChildren': column.childrenNum > 0,
                                  'lastNoChildren': isFilters && jlast && allColumns[0][allColumns[0].length -1].childrenNum > 0,
                                  'floating-fixed-left-column': hasScroll && column.fixed === 'left'
                                }">
                                <ng-container *ngTemplateOutlet="thBox; context: {$implicit: column}"></ng-container>
                            </th>
                        </ng-container>
                    </tr>   
                </ng-container> 
            </thead>
        </table>
        <div *ngIf="isFilters" class="th-filter" [ngClass]="{'floating-fixed-right-column': hasScroll}">
            <div class="filter-icon">
                <app-icon-react name="arrowDownDouble" [ngClass]="{'active': filterTreePop.isShow}"
                    [pop]="filterTipContent" #filterTreePop="pop" popClass="filter-container"
                    [popOffset]="{ x: -190, y: 25 }">
                </app-icon-react>
            </div>
        </div>
    </div>
    <div class="ti3-table-container ti3-resize-wrapper" hyNodata [nodataShow]="displayed.length === 0">
        <table>
            <thead>
                <tr>
                    <th *ngIf="isDetails" [attr.rowspan]="maxLevel + 1" colspan="1" details-icon-column></th>
                    <ng-container *ngFor="let column of allColumns[0];">
                        <th *ngIf="column.checked || column.checked === undefined" [tiColumnFixed]="column.fixed"
                            width="{{ column.width }}" [attr.rowspan]="column.rowspan" [attr.colspan]="column.colspan">
                        </th>
                    </ng-container>
                </tr>  
                <ng-container *ngFor="let columns of allColumns; let ifirst=first; let ilast=last;">
                    <tr *ngIf="!ifirst">                  
                        <ng-container *ngFor="let column of columns; let jlast=last;">
                            <th *ngIf="column.checked || column.checked === undefined" [tiColumnFixed]="column.fixed"
                            width="{{ column.width }}" [attr.rowspan]="column.rowspan" [attr.colspan]="column.colspan">
                        </th>
                        </ng-container>
                    </tr>   
                </ng-container> 
            </thead>
            <ng-container *ngIf="itemTemplate else tableContenTemplate">
                <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: displayed, columns: columns}">
                </ng-container>
            </ng-container>
            <!-- 最基本无操作数据展示和PID-TID展开可以使用-其他 -->
            <ng-template #tableContenTemplate>
                <tbody>
                    <ng-container *ngFor="let row of displayed;index as i">
                        <tr>
                            <td *ngIf="isDetails" details-icon-column class="details-icon-column">
                                <ti-icon name="right-1" [ngClass]="{'active': row.showDetails}" 
                                    (click)="row.showDetails = !row.showDetails"></ti-icon>
                            </td>
                            <ng-container *ngFor="let column of columns;">
                                <td *ngIf="column.checked || column.checked === undefined" [tiColumnFixed]="column.fixed" 
                                [ngClass]="{'canClick': column.canClick && row[column.key] !== '--'}"  (click)="viewDetails(column.key, row[column.key], column.canClick, row)"
                                    tiOverflow>{{ row[column.key] }}</td>
                            </ng-container>
                        </tr>
                        <ng-container *ngIf="isDetails">
                            <ng-container *ngFor="let childrenItem of row.children">
                                <tr *ngIf="row.showDetails">
                                    <td class="details-hd">
                                    </td>
                                    <ng-container *ngFor="let column of columns;">
                                        <td *ngIf="column.checked || column.checked === undefined" [tiColumnFixed]="column.fixed"
                                            tiOverflow>{{ childrenItem[column.key] }}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>       
                        </ng-container>
                    </ng-container>
                </tbody>
            </ng-template>
        </table>
    </div>
    <ti-pagination *ngIf="isPagination && srcData.data.length > 10" [(currentPage)]="pageNo" 
        [pageSize]="pageSize" [(totalNumber)]="srcData.data.length" [type]="paginationType"
        [showGotoLink]="showGotoLink" (pageUpdate)="onPageUpdate()">
    </ti-pagination>
</ti-table>

<ng-template #thBox let-column>
    <div class="th-box" [ngClass]="{'th-box-center': column.colspan > 1}">
        <div tiOverflow>{{column.label}}</div>
        <div *ngIf="column.filterConfig" class="icon filterIcon">
            <ti-head-filter [options]="column.filterConfig.options"
                [(ngModel)]="column.filterConfig.selected"
                (select)="onFilterSelect($event, column)"
                [labelKey]="column.filterConfig.labelKey || 'label'"
                [ngClass]="{ 'ti3-head-filtered': column.filterConfig.filterStatus }"
                [multiple]="column.filterConfig.multiple"
                [selectAll]="column.filterConfig.selectAll"
                [searchable]="column.filterConfig.searchable"
            ></ti-head-filter>
        </div>
        <div *ngIf="column.searchKey" class="icon searchIcon">
            <ng-container *ngTemplateOutlet="searchTipContent; context: {$implicit: column}"></ng-container>
        </div>
        <div *ngIf="column.sortKey" class="icon sortIcon">
            <app-sub-module-table-sort [sortStatus]="column.sortStatus"
                (sortTable)="handleSort($event, column.sortKey, column.compareType)">
            </app-sub-module-table-sort>
        </div>
        <div *ngIf="column.tip" class="icon tipIcon">
            <hy-theme-content [tiTip]="column.tip" tiTipMaxWidth='400px'>
                <app-icon-static [name]="'questionMarkTipLight'" light></app-icon-static>
                <app-icon-static [name]="'questionMarkTipDark'" dark></app-icon-static>
            </hy-theme-content>
        </div>
    </div>
</ng-template>

<ng-template #searchTipContent let-column>
    <ti-icon name="search" class="search-icon" [ngClass]="{'active': processSearchPop.isShow || searchWordsSave[column.searchKey]}" 
        [pop]="searchTip" #processSearchPop="pop" [popOffset]="{x: -40, y: 24 }" popClass="common-table-search-pop"
        [popContext]="column">
    </ti-icon>

    <ng-template #searchTip let-context="context">
        <ti-searchbox
            [ngModel]="searchWordsSave[column.searchKey]"
            (clear)="onTableHeaderSearch('', context)"
            (search)="onTableHeaderSearch($event, context)">
        </ti-searchbox>
    </ng-template>
</ng-template>
<!-- 搜索 -->

<!-- 表头筛选 -->
<ng-template #filterTipContent let-context="context">
    <ti-tree [data]="columnsTree" [multiple]="true" (select)="selectFn($event)">
    </ti-tree>
</ng-template>