<div class="process-bubble-gragh">
  <header>
    <hy-theme-content *ngIf="currShowPidThread" class="arrow-left" (click)="backToProcess()">
      <app-icon-react name="arrowLeftDark" dark></app-icon-react>
      <app-icon-react name="arrowLeft" light></app-icon-react>
    </hy-theme-content>
    <span *ngIf="currShowPidThread">PID{{ currShowPidThread }}</span>
    <span *ngIf="!currShowPidThread">{{ pidGraghTitle }}</span>
  </header>
  <div class="process-wrapper" *ngIf="appTitle" [ngClass]="{'hidden': currShowPidThread}">
    <app-process-bubble-box
      [ngClass]="{'active': currShowView === 'idle'}"
      [active]="currShowView === 'idle'"
      [threshold]="{
        start: 0,
        end: cpuTarget.currThreshold?.lowValue
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [sysData]="pidViewDataSet.sys[cpuTarget.currTarget]?.idle"
      [appData]="pidViewDataSet.app[cpuTarget.currTarget]?.idle"
      [appTitle]="appTitle"
      (click)="switchCoreView('idle')"
      (bubbleClick)="onCoreBubbleClick($event.pid, $event.type)"
      shape="rect"
      [bubbleInfoMap]="pidDataMap"
      type="process"
      status="idle">
    </app-process-bubble-box>
    <app-process-bubble-box
      [ngClass]="{'active': currShowView === 'normal'}"
      [active]="currShowView === 'normal'"
      [threshold]="{
        start: cpuTarget.currThreshold?.lowValue,
        end: cpuTarget.currThreshold?.highValue
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [sysData]="pidViewDataSet.sys[cpuTarget.currTarget]?.normal"
      [appData]="pidViewDataSet.app[cpuTarget.currTarget]?.normal"
      [appTitle]="appTitle"
      (click)="switchCoreView('normal')"
      (bubbleClick)="onCoreBubbleClick($event.pid, $event.type)"
      shape="rect"
      [bubbleInfoMap]="pidDataMap"
      type="process"
      status="normal">
    </app-process-bubble-box>
    <app-process-bubble-box
      [ngClass]="{'active': currShowView === 'busy'}"
      [active]="currShowView === 'busy'"
      [threshold]="{
        start: cpuTarget.currThreshold?.highValue,
        end: 1
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [sysData]="pidViewDataSet.sys[cpuTarget.currTarget]?.busy"
      [appData]="pidViewDataSet.app[cpuTarget.currTarget]?.busy"
      [appTitle]="appTitle"
      (click)="switchCoreView('busy')"
      (bubbleClick)="onCoreBubbleClick($event.pid, $event.type)"
      shape="rect"
      [bubbleInfoMap]="pidDataMap"
      type="process"
      status="busy">
    </app-process-bubble-box>
  </div>
  <div class="process-wrapper" *ngIf="!appTitle" [ngClass]="{'hidden': currShowPidThread}">
    <app-bubble-box
      [ngClass]="{'active': currShowView === 'idle'}"
      [active]="currShowView === 'idle'"
      [threshold]="{
        start: 0,
        end: cpuTarget.currThreshold?.lowValue
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [data]="pidViewDataSet.sys[cpuTarget.currTarget]?.idle"
      (click)="switchCoreView('idle')"
      (bubbleClick)="onCoreBubbleClick($event)"
      shape="rect"
      [bubbleInfoMap]="pidDataMap"
      type="process"
      status="idle">
    </app-bubble-box>
    <app-bubble-box
      [ngClass]="{'active': currShowView === 'normal'}"
      [active]="currShowView === 'normal'"
      [threshold]="{
        start: cpuTarget.currThreshold?.lowValue,
        end: cpuTarget.currThreshold?.highValue
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [data]="pidViewDataSet.sys[cpuTarget.currTarget]?.normal"
      (click)="switchCoreView('normal')"
      (bubbleClick)="onCoreBubbleClick($event)"
      shape="rect"
      [bubbleInfoMap]="pidDataMap"
      type="process"
      status="normal">
    </app-bubble-box>
    <app-bubble-box
      [ngClass]="{'active': currShowView === 'busy'}"
      [active]="currShowView === 'busy'"
      [threshold]="{
        start: cpuTarget.currThreshold?.highValue,
        end: 1
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [data]="pidViewDataSet.sys[cpuTarget.currTarget]?.busy"
      (click)="switchCoreView('busy')"
      (bubbleClick)="onCoreBubbleClick($event)"
      shape="rect"
      [bubbleInfoMap]="pidDataMap"
      type="process"
      status="busy">
    </app-bubble-box>
  </div>
  <div class="thread-wrapper" *ngIf="currShowPidThread">
    <app-bubble-box
      [ngClass]="{'active': currShowView === 'idle'}"
      [active]="currShowView === 'idle'"
      [threshold]="{
        start: 0,
        end: cpuTarget.currThreshold?.lowValue
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [data]="tidViewDataSet[cpuTarget.currTarget]?.idle"
      (click)="currShowView = 'idle'"
      shape="triangle"
      [bubbleInfoMap]="tidDataMap"
      type="thread"
      status="idle">
    </app-bubble-box>
    <app-bubble-box
      [ngClass]="{'active': currShowView === 'normal'}"
      [active]="currShowView === 'normal'"
      [threshold]="{
        start: cpuTarget.currThreshold?.lowValue,
        end: cpuTarget.currThreshold?.highValue
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [data]="tidViewDataSet[cpuTarget.currTarget]?.normal"
      (click)="currShowView = 'normal'"
      shape="triangle"
      [bubbleInfoMap]="tidDataMap"
      type="thread"
      status="normal">
    </app-bubble-box>
    <app-bubble-box
      [ngClass]="{'active': currShowView === 'busy'}"
      [active]="currShowView === 'busy'"
      [threshold]="{
        start: cpuTarget.currThreshold?.highValue,
        end: 1
      }"
      [currShowBubble]="currShowPid"
      [bubbleInfoTipContent]="bubbleInfoTipContent"
      [data]="tidViewDataSet[cpuTarget.currTarget]?.busy"
      (click)="currShowView = 'busy'"
      shape="triangle"
      [bubbleInfoMap]="tidDataMap"
      type="thread"
      status="busy">
    </app-bubble-box>
  </div>
</div>

<ng-template #bubbleInfoTipContent let-context="context">
  <div class="bubble-info-tip">
    <div class="info-item" *ngIf="context?.pid">
      <span class="info-item-label">PID</span>
      <span class="info-item-value">{{ context?.pid }}</span>
    </div>
    <div class="info-item" *ngIf="context?.tid">
      <span class="info-item-label">TID</span>
      <span class="info-item-value">{{ context?.tid }}</span>
    </div>
    <div class="info-item">
      <span class="info-item-label">%{{ cpuTarget.currTarget }}</span>
      <span class="info-item-value">{{ context[cpuTarget.currTarget] | number:'1.0-2' }}%</span>
    </div>
    <div class="info-item" *ngIf="context?.pid">
      <button class="hy-btn-text" (click)="viewThread(context?.pid)">
        {{ i18n.tuninghelper.taskDetail.viewThread }}
      </button>
    </div>
    <div class="divider"></div>
    <ng-container *ngFor="let target of context | keyvalue">
      <div class="info-item" *ngIf="
        target.key !== 'pid'
        && target.key !== 'tid'
        && target.key !== 'iowait'
        && target.key !== cpuTarget.currTarget">
        <span class="info-item-label">%{{ target.key }}</span>
        <span class="info-item-value">{{ target.value | number:'1.0-2' }}%</span>
      </div>
    </ng-container>
  </div>
</ng-template>
