.detail-item {
    padding-left: 15px;
    color: #ddd;
}

#detail-container {
    --ti-common-space-3x: 20px;

    .content-container {
        opacity: 0;
        height: 88%;
        overflow: hidden;
    }
}
.showDetail {
    opacity: 1 !important;
}

::ng-deep .ti3-tabs {
    width: 93.5%;
}
::ng-deep #detail-container .ti3-tabs-container .ti3-tabs > li {
    margin-right: 30px;
    a {
        padding: 2px 0 10px !important;
        line-height: 16px;

        ti-tab-header {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
.listDiv .listTitle ti-searchbox{
    border: 1px solid var(--input-search-border-color);
}
::ng-deep .vscode-dask{
    --input-search-border-color:#888888;
}
::ng-deep .vscode-light{
    --input-search-border-color:#e1e6ee;
}