.io-warpper {
    padding: 20px 0;
    .form-warpper {
        padding: 0;
    }
    footer {
        margin-top: 40px;
        button {
            height: 28px;
            line-height: 0px;
            margin-right: 20px;
            min-width: 120px;
            margin-left: 0;
        }
    
        button.toRight {
            margin-left: 0 !important;
        }
    }
    
    .footer {
        position: absolute;
        bottom: 24px;
        left: calc(50% - 130px)
    }
    .io-form-warpper {
        .part-one {
            padding: 0;
        }
        .part-two {
            margin: 16px 0px;
        }
        .part-three {
            margin-top: 14px;
        }
        .part-four {
            margin: 17px 0 21px 1px;
        }
        .spinner-domain {
            color: var(--d-aaaaaa-l-979797);
            margin-left: 8px;
        }
        .formContent {
            display: flex;
            align-items: center;
        }
    }
    app-mission-reservation-plus {
        position: relative;
        left: -272px;
    }
}

:host ::ng-deep .io-warpper {
    .ti3-form .ti3-form-content {
        padding-bottom: 0 !important;
    }
}

::ng-deep .warn-tip-img {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
::ng-deep .warn-tip-msg {
    float: left;
    width: calc(100% - 30px)
}

.spinner-width {
    width: 140px;
}
