$common12: 12px;

.warpper {

    .input-warpper {
        padding: 0;
        margin-top: 20px;
        margin-left: -12px;
        & ::ng-deep .ti3-form .ti3-form-require .ti3-icon, .ti3-form .ti3-form-require .ti3-table-soldout {
            font-size: $common12;
        }
    }

    .btn-warpper {
        margin-top: 20px;
        margin-left: 348px;
    }
    .btn-warpper-en {
        margin-left: 494px;
    }

    .btn-fix {
        button {
            padding: 0px !important;
        }
    }
}

input {
    width: 300px;
}

ti-select {
    &[disabled] {
        width: 300px;
    }

    &:not([disabled]) {
        box-sizing: border-box;
        width: 300px;
        background: #fff !important;
    }
}

label {
    display: inline-block;
    width: 346px;
    font-size: 14px;
    color: #666;
    position: relative;
    padding-right: 14px;
    &::before {
        position: relative;
        top: 4px;
        left: -2px;
        content: "*";
        width: $common12;
        height: $common12;
        margin-left: 5px;
        color: #ff524e;
    }
}
.label-value-en {
    width: 492px;
}

button+button {
    margin-left: 16px;
}

button {
    width: 88px;
}

span {
    margin-left: 8px;
    color: #616161;
}

.log-tip-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 8px;
}

:host .input-form-pwd ::ng-deep td.ti3-form-label.ti3-text-form-label {
    width: 328px !important;
}
:host .input-form-en ::ng-deep td.ti3-form-label.ti3-text-form-label {
    width: 474px !important;
}
