<div class="weidheight" id="itemWeakPasswordDictionary" [ngStyle]="{ 'margin-bottom': (isAdmin ? 0 : '30px') }">
    <div class="weakBox">
        <div style="display: flex;">
            <div class='weakTitle'>{{i18n.plugins_porting_menu_weak_password_dic}}</div>
            <div>
                <a *ngIf="currLang === LANGUAGE_TYPE.ZH" [href]="pluginUrlCfg.faqTwentyTwoZn">
                    <img *ngIf="currTheme == 1" src="./assets/img/icon-help-dark.svg" alt="" class="help-tips">
                    <img *ngIf="currTheme == 2" src="./assets/img/icon-help-light.svg" alt="" class="help-tips">
                </a>
                <a *ngIf="currLang === LANGUAGE_TYPE.EN" [href]="pluginUrlCfg.faqTwentyTwoEn">
                    <img *ngIf="currTheme == 1" src="./assets/img/icon-help-dark.svg" alt="" class="help-tips">
                    <img *ngIf="currTheme == 2" src="./assets/img/icon-help-light.svg" alt="" class="help-tips">
                </a>
            </div>
        </div>
        <div class="weakContent">
            <div class="addWeakPwd" [ngStyle]="{ 'margin-top': (isAdmin ? '22px' : 0) }">
                <ti-searchbox class="search" [placeholder]="weakPadPlaceholder" (search)="weakPadSearch($event)" (clear)="weakPwdClear($event)" maxlength="32"></ti-searchbox>
                <button *ngIf="isAdmin" type="button" [ngClass]="{ 'weakPassword-btn': currLang === 1 }" class="little-primary-btn"
                    (click)="addWeakPad(addWeakPwd)">
                    {{i18n.plugins_porting_weakPassword.addWeakPwd}}
                </button>
            </div>
            <div class="weakPwdList">
                <ti-table [(displayedData)]="displayed" [srcData]="weakPadData" [columns]="columnsWeak"
                    [searchWords]="searchWords" (stateUpdate)="stateUpdate($event)">
                    <!--.ti3-table-fixed-head是表头的容器，它的子元素中的table(thead)是实际显示的表头-->
                    <!--注意:此处一定要使用.ti3-table-fixed-head样式类-->
                    <div class="ti3-table-fixed-head">
                        <table>
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let column of columnsWeak; let index = index">
                                        <!--注意:给表格设置宽度时，给.ti3-table-fixed-head和.ti3-table-container下的对应的th都要设置-->
                                        <th tiOverflow [ngStyle]="index == 0 ? '' : { width: '30%' }">
                                            {{ column.title }}
                                        </th>
                                    </ng-container>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="ti3-table-container ti3-resize-wrapper weak-pwd-table">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let item of columnsWeak; let index = index"
                                        [ngStyle]="index == 0 ? '' : { width: '30%' }">
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="displayed.length !== 0">
                                <tr *ngFor="let row of displayed">
                                    <td tiOverflow>{{ row.weak_password }}</td>
                                    <td *ngIf="isAdmin">
                                        <span class="text-btn"
                                            (click)="delePopUp(deleWeak, row.id, row.weak_password)">{{i18n.common_term_operate_del}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <app-loading *ngIf="displayed.length === 0 && showLoading"></app-loading>
                        <app-default-page [text]="i18n.plugins_porting_message_weak_pwd_noData" *ngIf="displayed.length === 0 && !showLoading"></app-default-page>
                    </div>
                    <!-- 在表格中使用分页组件时必须保证其父元素是ti-table -->
                    <ti-pagination *ngIf="displayed.length !== 0" style="margin-top: 20px;" autoHide="true" [(currentPage)]="currentPageWeak"
                        [pageSize]="pageSizeWeak" [(totalNumber)]="totalNumberWeak">
                    </ti-pagination>

                </ti-table>
            </div>
        </div>
    </div>
</div>

<!-- 新增弱口令 -->
<app-messagebox #addWeakPwd>
    <div class="content show-box">
        <div class="do-title">
            <span class="title">{{i18n.plugins_porting_weakPassword.addWeakPwdTitle}}</span>
            <div class="tip-close" (mousedown)="cancelWeakPwd($event)" >
                <img class="ti3-close" src="./assets/img/close_icon.svg" />
                <img class="ti3-close" src="./assets/img/close_hover.svg"/>
            </div>
        </div>
        <div class="title-border"></div>
        <div class="edit-box">
            <ti-formfield [formGroup]="WeakPwd">
                <ti-item [label]="weakPwdContent" [required]="true">
                    <input
                    tiText
                    [ngStyle]="{'width': currLang === LANGUAGE_TYPE.EN ? '400px' : '440px'}"
                    style="background: none !important;"
                    [tiValidation]="validation"
                    formControlName="pwd"
                    type="text"
                    maxlength="32"
                    />
                </ti-item>
            </ti-formfield>
            <div class="btn-box">
                <button
                type="button"
                class="primary-btn"
                autofocus
                (click)="checkWeakPwdRule($event)"
                style="width:160px"
                tiButton
                >
                    {{i18n.common_term_operate_ok}}
                </button>
                <button
                type="button"
                (mousedown)="cancelWeakPwd($event)"
                class="little-minor-btn"
                tiButton
                style="margin-left: 16px; width:160px;"
                >
                    {{i18n.common_term_operate_cancel}}
                </button>
            </div>
        </div>
    </div>
</app-messagebox>