.box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 26px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid var(--shared-tl-box-border);
  background: var(--shared-tl-box-bg);
  .time {
    flex: 1;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    span {
      width: 1px;
      height: 6px;
      background-color: #6c7280;
      display: block;
    }
    p {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 12px;
      font-size: 12px;
      line-height: 12px;
      color: var(--shared-tl-font-color);
    }
  }
  .select {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: var(--shared-tl-select-bg);
    width: 100%;
    left: 0px;
    height: 100%;
    align-items: center;
    border-left: 1px solid var(--ti-base-color-brand);
    border-right: 1px solid var(--ti-base-color-brand);
    span {
      width: 4px;
      height: 20px;
      display: block;
      background-color: var(--ti-base-color-brand);
      cursor: move;
    }
    .left {
      margin-left: -2px;
      cursor: w-resize;
    }
    .right {
      margin-right: -2px;
      cursor: e-resize;
    }
  }
}
