<div class="storageSchedule">
  <div class="storageCreateform" [formGroup]="formGroup">
    <div class="prefix-miss">
      <ti-formfield [labelWidth]="labelWidth">
        <ti-item [label]="'common_term_task_name' | i18n">
          <span class="labelVal">{{ taskData.taskName }}</span>
        </ti-item>
        <ti-item [label]="'diagnostic.taskParams.diagnosticTarget' | i18n">
          <span class="labelVal">{{ "diagnostic.taskParams.storageIO" | i18n }}</span>
        </ti-item>
      </ti-formfield>
    </div>
    <!-- 诊断功能 -->
    <div class="control">
      <ti-formfield [labelWidth]="labelWidth">
        <ti-item [label]="'network_diagnositic.taskParams.diagnositic_scen' | i18n" [required]="true">
          <div class="diagnosticFunc">
            <div *ngFor="let item of diagnosticFunc; index as i" class="funcItem" [tiTip]='item.tip'
              tiTipPosition='bottom'>
              <div *ngIf="item.show">
                <input type="checkbox" tiCheckbox [(ngModel)]="item.checked" [name]='item.label'
                  (ngModelChange)="onNgModelChange($event,i)" [ngModelOptions]="{standalone: true}" [label]='item.label'
                  [disabled]="item.disabled">
              </div>
            </div>
          </div>
        </ti-item>
      </ti-formfield>
    </div>
    <!-- 压测对象 -->
    <div class="control">
      <app-press-obj [projectId]="projectId" formControlName="nodeConfig"></app-press-obj>
    </div>
    <!-- 关键指标 -->
    <div class="control">
      <app-key-metric-select [isDoOrder]="true" formControlName="indicatorForm"></app-key-metric-select>
    </div>
    <!-- 其他参数 -->
    <div class="control prefix-miss" *ngIf="formOption.sysMonitor.display">
      <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
        <!-- 采集时长（s） -->
        <ti-item [label]="'network_diagnositic.network_load_param.collection_time' | i18n">
          <div class="paramValue">
            <ti-spinner formControlName="collectDuration" [format]="'N0'" tiValidation
              [hySpinnerBlur]="{ control: formGroup.get('collectDuration'), min: 1, max: 300 }">
            </ti-spinner>
            <span class="range">{{ "common_scope_replace_teml" | i18n: "1~300" }}</span>
          </div>
        </ti-item>
        <!-- 采样间隔（s） -->
        <ti-item [label]="'storageIo.storageInterval' | i18n">
          <div class="paramValue">
            <ti-spinner formControlName="collectSeparation" [format]="'N0'" tiValidation
              [hySpinnerBlur]="{ control: formGroup.get('collectSeparation'), min: 1, max: 10 }">
            </ti-spinner>
            <span class="range">{{ "process.intervalTip" | i18n }}</span>
          </div>
        </ti-item>
      </ti-formfield>
    </div>
    <div class="control" [ngClass]="{'prefix-miss': !formOption.cyclePeriod.display}">
      <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
        <!-- 周期统计 -->
        <ti-item>
          <ti-item-label>
            <div class="flex">
              <span>{{ "storageIo.cycleOn" | i18n }}</span>
              <img class="toolTip" src="./assets/img/summary/tooltip.png"
                [tiTip]="'storageIo.cycleOn_toolTip' | i18n" />
            </div>
          </ti-item-label>
          <div class="paramValue" style="display: flex;align-items: center;">
            <ti-switch formControlName="cycleOn"></ti-switch>
            <span class="range" tiOverflow>{{ "storageIo.cycleOn_tip" | i18n }}</span>
          </div>
        </ti-item>
        <!-- 统计周期 -->
        <ti-item [required]="true" *ngIf="formOption.cyclePeriod.display">
          <ti-item-label>
            <div class="flex">
              <span>{{ "storageIo.cyclePeriod" | i18n }}</span>
              <img class="toolTip" src="./assets/img/summary/tooltip.png"
                [tiTip]="'storageIo.cyclePeriod_toolTip' | i18n" />
            </div>
          </ti-item-label>
          <div class="paramValue">
            <input [placeholder]="'storageIo.cyclePeriod_placeholder' | i18n" formControlName="cyclePeriod" tiNumber
              type="text" tiText [tiValidation]="{ type: 'blur' }" style="width: 326px;" />
          </div>
        </ti-item>
      </ti-formfield>
    </div>
    <!-- 采集文件大小 -->
    <div class="control">
      <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
        <ti-item [label]="'collection_size' | i18n" [required]="true">
          <div class="paramValue">
            <ti-spinner formControlName="collectSize" [format]="'N0'" tiValidation
              [hySpinnerBlur]="{ control: formGroup.get('collectSize'), min: 1, max: 100 }">
            </ti-spinner>
            <span class="range">{{ "common_scope_replace_teml" | i18n: "1~100" }}</span>
          </div>
        </ti-item>
      </ti-formfield>
    </div>
    <!-- 预约定时启动 -->
    <div class="control prefix-miss" *ngIf="formOption.doOrder.display">
      <ti-formfield [labelWidth]="labelWidth">
        <ti-item [label]="'network_diagnositic.taskParams.reservation' | i18n">
          <div class="switch-align">
            <ti-switch formControlName="doOrder"></ti-switch>
          </div>
        </ti-item>
      </ti-formfield>
    </div>

    <!-- 预约定时编辑控件 -->
    <div *ngIf="formOption.orderConfig.display">
      <app-mission-reservation-plus formControlName="orderConfig" [labelWidth]="labelWidth">
      </app-mission-reservation-plus>
    </div>

    <!-- 立即启动 -->
    <div class="control prefix-miss" *ngIf="formOption.taskStartNow.display">
      <div class="immediately">
        <input tiCheckbox type="checkbox" formControlName="taskStartNow" />
        <span class="start-now">{{ "network_diagnositic.taskParams.immediate" | i18n }}</span>
      </div>
    </div>
  </div>
  <div class="operateBtn">
    <button class="Operatebutton" tiButton color="primary" [disabled]="!formGroup.valid" (click)="onConfirm()">
      {{"network_diagnositic.taskParams.confirm" | i18n}}</button>
    <button class="Operatebutton" tiButton (click)="onCancel()">
      {{"network_diagnositic.taskParams.cancel" | i18n}}</button>
  </div>
</div>