.storageSchedule {
  margin: 20px 0px;
  .storageCreateform {
    .labelVal {
      font-size: 14px;
      line-height: 28px;
    }
    .control {
      margin: 20px 0px 0px;
      .diagnosticFunc {
        font-size: 14px;
        display: flex;
        .funcItem {
          margin-right: 32px;
        }
      }
      .paramValue {
        .range {
          font-size: 12px;
          margin-left: 8px;
          max-width: 380px;
          color: var(--ti-input-border-color);
        }
      }
      .flex {
        display: flex;
        align-items: center;
        .toolTip {
          width: 14px;
          height: 14px;
          margin-left: 8px;
        }
      }
    }
    .prefix-miss {
      margin-left: 16px;
    }
  }
  .operateBtn {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    .Operatebutton {
      margin-right: 16px;
    }
  }
}
::ng-deep {
  .vscode-dark {
    --ti3-form-label-color: #aaa;
  }
  .vscode-light {
    --ti3-form-label-color: #616161;
  }
  .vscode-dark,
  .vscode-light {
    .storageSchedule {
      padding-left: 16px;
      .prefix-miss {
        margin-left: 0px !important;
      }
    }
    .ti3-form .ti3-form-label {
      color: var(--ti3-form-label-color) !important;
    }
    .ti3-form .ti3-form-content {
      width: 100%;
    }
    app-mission-reservation-plus .reservation_title {
      padding-left: 0px !important;
    }
    :host .list-info {
      padding-bottom: 0px !important;
    }
  }
}
