.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .main{
        flex: 1;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        background-color: #EEF0F5;
        
         .router-content{
            flex: 1;
            width: 100%;
            background-color: #fff;
        }
        
    }
}


.chartTip{
  background: rgba(50,50,50,0.8);
  border: 1px solid rgba(50,50,50,0.8);
  padding: 10px;
  position: fixed;
  display: none;
}
