<!-- import task modal -->
<ng-template #importTaskModalComponent let-context='context'>
  <ti-modal-header>{{ i18n.project.importTask }}</ti-modal-header>

  <!-- 弹框内容定义 -->
  <ti-modal-body>
    <ti-formfield [formGroup]="context.formGroup">
      <!--工程名称 -->
      <ti-item [label]="importTaskForm.projectName.label" [required]="importTaskForm.projectName.required">
        <input
          style="width: 488px"
          tiText
          type="text"
          formControlName="projectName"
          [placeholder]="importTaskForm.projectName.placeholder"
          [tiValidation]="validation"
          [errorMessageWrapper]="errorMsgWrapper"
          (blur)="trimProjectName(context.formGroup)"
        >

        <!-- 自定义错误提示位置 -->
        <div #errorMsgWrapper></div>
      </ti-item>

      <!--任务名称 -->
      <ti-item [label]="importTaskForm.taskName.label" [required]="importTaskForm.taskName.required">
        <input
          style="width: 488px"
          tiText
          type="text"
          formControlName="taskName"
          [placeholder]="importTaskForm.taskName.placeholder"
          [tiValidation]="validation"
          [errorMessageWrapper]="taskNameerrorMsgWrapper"
          (blur)="trimTaskName(context.formGroup)"
        >

        <!-- 自定义错误提示位置 -->
        <div #taskNameerrorMsgWrapper></div>
      </ti-item>

      <!-- 导入模式 -->
      <ti-item *ngIf="!context.retry" [label]="importTaskForm.importMode.label" [required]="importTaskForm.importMode.required">
        <span *ngFor="let option of importTaskForm.importMode.list; index as index" [ngStyle]="{'margin-left': index ? '32px' : '0'}">
          <input type="radio" tiRadio formControlName="importMode" [label]="option.label" [value]="option.value" style="line-height: 28px;" 
            (ngModelChange)="context.handleInputModeChange($event, context)"
          />
        </span>
      </ti-item>

      <!-- 上传文件 -->
      <ti-item *ngIf="!context.retry" [label]="importTaskForm.uploadFile.label" [required]="importTaskForm.uploadFile.required" [show]="context.formGroup.value?.importMode === 'web'">
        <input type="text" tiText formControlName='uploadFile' [placeholder]="importTaskForm.uploadFile.placeholder" style="width: 288px" readonly>
        <label for="file" style="margin-left: 8px;" tiButton>{{ i18n.project.browse }}</label>
        <input type="file" id="file" name="file" multiple style="opacity: 0; width: 0; height: 0;" (change)="context.handleFileChange($event, context)">
      </ti-item>

      <!-- 文件存放路径 -->
      <ti-item *ngIf="!context.retry" [label]="importTaskForm.filePath.label" [required]="importTaskForm.filePath.required" [show]="context.formGroup.value?.importMode === 'server'">
        <input type="text" tiText formControlName='filePath' [placeholder]="importTaskForm.filePath.placeholder" style="width: 388px" [tiValidation]="validation">
      </ti-item>
    </ti-formfield>
  </ti-modal-body>

  <ti-modal-footer>
    <button
      tiButton type="button" color="primary" style="margin-right: 16px"
      (click)="context.confirm(context)" [disabled]="!context.formGroup.valid || context.interfacing"
    >{{ i18n.common_term_operate_ok }}</button>
    
    <button type="button" (mousedown)="context.dismiss()" tiButton>
      {{ i18n.common_term_operate_cancel }}
    </button>
  </ti-modal-footer>
</ng-template>