<div class="file-io" *ngIf="closeLoad && tableListData.length !== 0">
  <div class="table">
    <div class="table-content">
      <div class="search-box">
        <ti-searchbox class="search" [placeholder]="searchValue.placeholder" (clear)="searchClear($event)"
          (search)="keySearch($event)" [(ngModel)]="searchValue.value"></ti-searchbox>
      </div>
      <ti-table [(displayedData)]="displayedTable" [srcData]="srcDataTable" [columns]="columnsTable"
        [searchWords]="searchWords" [searchKeys]="searchKeys" [closeOtherDetails]="closeOtherDetails" tiColsResizable>
        <div class="ti3-table-fixed-head">
          <table>
            <thead>
              <tr>
                <ng-container *ngFor="let column of columnsTable; let idx = index">
                  <th width="{{ column.width }}">
                    <ti-cell-text>{{
                      column.title
                    }}</ti-cell-text>
                    <ti-head-sort *ngIf="column.isSort" [sortKey]="column.sortKey"></ti-head-sort>
                  </th>
                </ng-container>
              </tr>
            </thead>
          </table>
        </div>
        <div class="ti3-table-container ti3-resize-wrapper"
          [ngStyle]="{'height': expand ? '520px' : '240px', 'min-height': '240px'}">
          <table>
            <thead>
              <tr [ngStyle]="{'opacity': 0}">
                <ng-container *ngFor="let column of columnsTable; let idx = index">
                  <th tiOverflow width="{{ column.width }}"></th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <!-- 第一行 -->
              <ng-container *ngFor="let row of displayedTable; index as i">
                <tr (click)="onClickTableRow(row, i)"
                  [ngStyle]="{'background-color': filePathSelect===row.path ? '#F7FAFF' : ''}">
                  <td style="left: 0px;" tiOverflow width="{{ columnsTable[0].width }}">
                    <ti-details-icon [row]="row" [index]="i" (beforeToggle)="beforeToggle($event)"></ti-details-icon>
                    <span style="margin-left: 4px;">{{ row.path }}</span>
                  </td>
                  <td tiOverflow>
                    {{ onChangeTime(row.totalIOTime) }}
                  </td>
                  <td width="25%">
                    <div style="position: relative;">
                      <span *ngIf="row.count!==0" [ngStyle]="{
                          width:
                            (row.totalCount / row.totalCount) * 100 +
                            '%'
                        }" class="count-fill"></span>
                      <span class="count-right">{{row.totalCount | separator}}</span>
                    </div>
                  </td>
                  <td tiOverflow>
                    {{ row.readCount | separator }}
                  </td>
                  <td tiOverflow>
                    {{ row.writeCount | separator }}
                  </td>
                  <td tiOverflow>
                    {{ libService.onChangeUnit(row.bytesRead) }}
                  </td>
                  <td tiOverflow>
                    {{ libService.onChangeUnit(row.bytesWritten) }}
                  </td>
                </tr>
                <!--第二级-->
                <ng-container *ngIf="row.showDetails">
                  <ng-container *ngFor="let subRow of currentHostTableListTop; let sec = index">
                    <tr class="tr-hover"
                      [ngStyle]="{'background-color': fileFdSelected===subRow.path ? '#F7FAFF' : '#fff'}"
                      (click)="onClickTableRow(subRow, i, sec)">
                      <td style="padding-left: 0px!important;margin-left: 0px!important;position: sticky!important;"
                        tiOverflow details-icon-column>
                        <span>
                          <span class="headbg"></span>
                          <span class="downicon" (click)="beforeToggleSecond(subRow)">
                            <img src="./assets/img/projects/expand-down.png" [ngClass]="{'open': subRow.showDetailsH}">
                          </span>
                          <span style="margin-left: 4px;">{{subRow.path}}</span>
                        </span>
                      </td>
                      <td tiOverflow>
                        {{ onChangeTime(subRow.totalIOTime) }}
                      </td>
                      <td tiOverflow>
                        <div style="position: relative;">
                          <span *ngIf="subRow.count!==0" [ngStyle]="{
                              width:
                                (subRow.totalCount / row.totalCount) * 100 +
                                '%'
                            }" class="count-fill"></span>
                          <span class="count-right">{{subRow.totalCount | separator}}</span>
                        </div>
                      </td>
                      <td tiOverflow>
                        {{ subRow.readCount | separator }}
                      </td>
                      <td tiOverflow>
                        {{ subRow.writeCount | separator }}
                      </td>
                      <td tiOverflow>
                        {{ libService.onChangeUnit(subRow.bytesRead) }}
                      </td>
                      <td tiOverflow>
                        {{ libService.onChangeUnit(subRow.bytesWritten) }}
                      </td>
                    </tr>
                    <!--第三级-->
                    <ng-container *ngIf="subRow.showDetailsH">
                      <tr *ngFor="let third of subRow.children; let idx = index"
                        (click)="onClickTableRow(third, i, sec, idx)"
                        [ngStyle]="{'background-color': filethreadSelect===third.path ? '#F7FAFF' : ''}">
                        <td style="padding-left: 0px!important;margin-left: 0px!important;position: sticky!important;"
                          tiOverflow>
                          <span>
                            <span class="headbgfirst"></span>
                            <span class="headbgsecond"></span>
                            <span style="margin-left: 85px;">{{third.path}}</span>
                          </span>
                        </td>
                        <td tiOverflow>
                          {{ onChangeTime(third.totalIOTime) }}
                        </td>
                        <td tiOverflow>
                          <div style="position: relative;">
                            <span *ngIf="third.count!==0" [ngStyle]="{
                                width:
                                  (third.totalCount / subRow.totalCount) * 100 +
                                  '%'
                              }" class="count-fill"></span>
                            <span class="count-right">{{third.totalCount | separator}}</span>
                          </div>
                        </td>
                        <td tiOverflow>
                          {{ third.readCount | separator }}
                        </td>
                        <td tiOverflow>
                          {{ third.writeCount | separator }}
                        </td>
                        <td tiOverflow>
                          {{ libService.onChangeUnit(third.bytesRead) }}
                        </td>
                        <td tiOverflow>
                          {{ libService.onChangeUnit(third.bytesWritten) }}
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
            <tbody *ngIf="displayedTable.length === 0">
              <tr class="noHover">
                <td tiColspan>
                    <div class="noData noDataRight">
                        <div >
                            <img class='newNoData' src="./assets/img/projects/noData.svg" />
                            <p>{{i18n.common_term_task_nodata}}</p>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
          </table>

        </div>
        <!-- 在表格中使用分页组件时必须保证其父元素是ti-table -->
        <ti-pagination [(currentPage)]="currentPage"
                       [pageSize]="pageSize"
                       [(totalNumber)]="totalNumber"
                       class="pagination-bottom">
        </ti-pagination>
      </ti-table>
      <img (click)="onClickExpand()" class="table-expand" *ngIf="expand"
        (mouseenter)="libService.onHoverIcon('expand-up')" (mouseleave)="libService.onHoverIcon()"
        [src]="libService.hoverIcon === 'expand-up' ? './assets/img/home/expand_up_hover.svg' : './assets/img/home/expand_up.svg'">
      <img (click)="onClickExpand()" class="table-expand" *ngIf="!expand"
        (mouseenter)="libService.onHoverIcon('expand-down')" (mouseleave)="libService.onHoverIcon()"
        [src]="libService.hoverIcon === 'expand-down' ? './assets/img/home/expand_down_hover.svg' : './assets/img/home/expand_down.svg'">
    </div>
  </div>
  <div class="echarts">
    <div class="echarts-title">{{echartsTitle}}<span style="margin-left: 16px;font-size:16px;
      color: #979797;">{{echartsName}}</span></div>
    <div class='timeLine'>
      <app-time-line [timeData]='timeData' (timeLineData)='timeLineData($event)' #ioTimeLine>
      </app-time-line>
    </div>
    <div class="echarts-content">
      <div class="echarts-label">
        <div class="echarts-label-top">
          {{echartsLabelTop}}
        </div>
        <div class="echarts-label-bottom">
          {{echartsLabelBottom}}
        </div>
      </div>
      <div class="myecharts" [id]="chartId + 'main'" echarts [options]="echartsOption.option" [merge]="updateOption"
        (chartInit)="onChartInit($event)" (chartDataZoom)="handleDatazoom($event)" style="height: 250px;"></div>
    </div>
  </div>
  <div class="stack">
    <div class="config-title">{{ i18n.protalserver_sampling_lock_stack }}</div>
    <div class="config-border"></div>
    <div class="config-tree" id="stackData">
      <app-stack-tree #stackTrace [recordId]="recordId" [eventType]="eventType"></app-stack-tree>
    </div>
    <div class="config-border"></div>
  </div>
</div>
<div class="file-io-nooperate" *ngIf="closeLoad && tableListData.length === 0">
  <div class="noData">
    <div class="msg">
      <img class='newNoData' src="./assets/img/projects/noData.svg" />
      <p>{{i18n.io.noOperate}}</p>
    </div>
  </div>
</div>