.file-io {
  display: flex;
  flex-direction: column;
  .control {
    display: flex;
    justify-content: flex-start;
    height: 32px;
    line-height: 32px;
    margin-bottom: 24px;
    .control-button {
      margin-right: 8px;
    }
    .tip {
      margin-right: 24px;
    }
    .control-value {
      display: flex;
      justify-content: flex-start;
      .control-value-title,
      .control-value-input {
        margin-right: 8px;
      }
    }
  }
  .table {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
    height: 100%;
    position: relative;
    .table-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .search {
        margin-left: 0px !important;
      }
      .pagination-bottom {
        position: absolute;
      }
    }
    .table-time {
      display: flex;
      flex-direction: column;
    }
    .tr-hover {
      background-color: #fff;
    }
    .tr-hover:hover {
      background-color: #f7faff;
    }
  }
  .table-expand {
    cursor: pointer;
    position: absolute;
    bottom: -14px;
    left: 50%;
    width: 80px;
    height: 12px;
  }
  .echarts {
    position: relative;
    margin-bottom: 24px;
    .echarts-title {
      font-size: 20px;
      position: absolute;
      z-index: 1;
    }
    .timeLine {
      width: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 40px;
    }
    .echarts-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      position: relative;
      .echarts-label {
        height: 150px;
        left: 7px;
        bottom: 20px;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        color: grey;
        box-sizing: border-box;
        .echarts-label-top,
        .echarts-label-bottom {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .echarts-line {
            width: 120px;
            border: solid 1px lightgrey;
          }
        }
      }
      .echarts-label-last {
        width: 4%;
        height: 219px;
        right: 0;
        bottom: 2px;
        position: absolute;
        border-top: solid 2px lightgrey;
        border-bottom: solid 2px lightgrey;
      }
      .myecharts {
        flex: 1;
      }
    }
  }
  .stack {
    padding: 20px 0;
    margin-bottom: 24px;
    .config-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .config-border {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid #e1e6ee;
    }
    .config-tree {
      min-height: 240px;
      overflow: auto;
      padding-top: 20px;
    }
  }
}
.count-fill {
  display: inline-block;
  background: var(--table-count-bg-color);
  width: 16.6667%;
  height: var(--ti-common-space-20);
  position: absolute;
  top: calc(50% - var(--ti-common-space-20) / 2);
  left: -10px;
}
.count-right {
  position: absolute;
  left: 0;
  top: -10px;
}
.file-io-nooperate {
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px
}
.right-table {
  border-left: solid 2px #0067ff;
}
:host ::ng-deep .ti3-toggle-details .ti3-icon-angle-right:before {
  content: "\e919" !important;
}
:host ::ng-deep .ti3-table > .ti3-page-container{
  margin-top:16px;
}
:host ::ng-deep .ti3-icon-angle-transform-up-thin {
  display: inline-block;
  transform: rotate(270deg) !important;
}
:host ::ng-deep .ti3-icon-angle-transform-down-thin {
  display: inline-block;
  transform: rotate(180deg) !important;
}
.headbg {
  border-right: solid 2px #0067ff;
  border-bottom: hidden !important;
  background: #f5f9ff;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 35px;
  height: 47px;
}
.downicon {
  display: inline-block;
  position: relative;
  margin-left: 44px;
  img {
    transform: rotate(-90deg);
    &.open {
      transform: rotate(0deg);
    }
  }
}
.headbgfirst {
  border-right: solid 2px #0067ff;
  border-bottom: hidden !important;
  background: #f5f9ff;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 35px;
  height: 47px;
}
.headbgsecond {
  border-right: solid 2px #0067ff;
  border-bottom: hidden !important;
  background: #f5f9ff;
  position: absolute;
  top: 0;
  display: inline-block;
  margin-left: 35px;
  width: 35px;
  height: 47px;
}
.noData {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: #616161;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
    text-align: center;
  }
}
.noHover:hover {
  background-color: transparent !important;
}
