<div class="exceptionDetail" hyThemeClass>
    <div *ngIf="nodataDisplay === 'isData'" class="exceptionBox">
        <div class="source-code-left">
            <app-mem-leak-func-list [taskId]="taskId" [nodeId]="nodeId" [memType]="'mem_exception'"
                (functionClick)="handleFuncClick($event)">
            </app-mem-leak-func-list>
        </div>
        <div class="source-code-right">
            <div class="right_switch">
                <hy-theme-content>
                    <div dark>
                        <img src="./assets/img/micarch/table_dark.svg" *ngIf="isTable" (click)="chart()">
                        <img src="./assets/img/micarch/table_selected_dark.svg" *ngIf="!isTable" (click)="chart()">
                        <img src="./assets/img/micarch/code_dark_normal.svg" *ngIf="!isTable" (click)="chart()">
                        <img src="./assets/img/micarch/code_dark_select_normal.svg" *ngIf="isTable" (click)="chart()">
                    </div>
                    <div light>
                        <img src="./assets/img/micarch/table_light1.svg" *ngIf="isTable" (click)="chart()">
                        <img src="./assets/img/micarch/table_selected_light.svg" *ngIf="!isTable" (click)="chart()">
                        <img src="./assets/img/micarch/code_light_normal.svg" *ngIf="!isTable" (click)="chart()">
                        <img src="./assets/img/micarch/code_dark_select_normal.svg" *ngIf="isTable" (click)="chart()">
                    </div>
                </hy-theme-content>
               
            </div>
            <div class="tableListDetail contentDrtail" [ngClass]="{ifShow: !isTable}">
                <app-tab-list-detail [data]='tabListData'>
                </app-tab-list-detail>
            </div>
            <div class="codeDetail contentDrtail" [ngClass]="{ifShow: isTable}">
                <app-source-code-viewer [memLeakType]="diagnosticType" [data]="sourceCodeData">
                </app-source-code-viewer>
            </div>
        </div>
    </div>
    <div *ngIf="nodataDisplay === 'loading'" class="exceptionBox nodataBox">
        <app-loading [size]="'max'"></app-loading>
    </div>
    <div *ngIf="nodataDisplay === 'isNoData'" class="exceptionBox nodataBox">
        <app-default-page [scene]="'noData'"></app-default-page>
    </div>
</div>