::ng-deep .vscode-dark {
    --error-info-clr: #CCCCCC;
    --error-info-bg-clr: #2A1215;
    --error-info-border-clr: #58181C;
    --close-icon-color: #979797;
    --color-dark-e8-light-2: #E8E8E8;
    --color-dark-8-light-97: #888888;
    --color-dark-a-light-61: #AAAAAA;
}

::ng-deep .vscode-light {
    --error-info-clr: #222222;
    --error-info-bg-clr: #FFEEED;
    --error-info-border-clr: #ED4B4B;
    --close-icon-color: #f06161;
    --color-dark-e8-light-2: #222222;
    --color-dark-8-light-97: #979797;
    --color-dark-a-light-61: #616161;
    --light-checkbox-label-color-disabled: #ccc;
}

.login-box {
    width: 100%;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    min-height: 600px;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 46px;
}

.user-container {
    color: #6c7280;
    height: 64px;
    display: flex;
    align-items: center;
}

.create-remark {
    color: #888888;
    font-size: 14px;
}

.user-container img {
    margin-left: 5px;
    vertical-align: middle;
}

.helpTip {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: -22px;
    margin-left: 10px;
}

.tipImg {
    vertical-align: middle;
    margin-right: 8px;
}

.user-container:hover+.user-list-box {
    display: block;
    opacity: 1;
}

.change-lang {
    display: inline-block;
    padding-right: 10px;

    img {
        margin-right: 5px;
    }

    ul {
        right: 180px;
        width: 80px;
        color: #6c7280;
    }
}

:host .firstLogin ::ng-deep .ti3-validate-text {
    font-size: 0.875rem;
}

.firstLogin {
    width: 660px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px 40px 40px 40px;

    .modal-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        line-height: 26px;
        height: 26px;
        font-size: 20px;
        color: var(--btn-font-d-e8e8e8-l-222222);
        border-bottom: 1px dashed var(--diclaimer-border-clr);

        .title-content {
            font-size: 20px;
            height: 26px;
            color: var(--disclaimer-title-clr);
        }

        .modal-close-icon {

            &>img:nth-of-type(1) {
                display: block;
            }

            &>img:nth-of-type(2) {
                display: none;
            }

            &:hover,
            &.active {
                &>img:nth-of-type(1) {
                    display: none;
                }

                &>img:nth-of-type(2) {
                    display: block;
                }
            }
        }

    }
    .title-border {
        height: 1px;
        display: block;
        width: 100%;
        border-bottom: 1px dashed var(--th-border_b-d-4b4b4b-l-e1e6ee);
        background: var(--input-bg-d-252526-l-ffffff);
    }

    .edit-box {
        margin-top: 20px;

        input {
            width: 400px;
            height: 28px;
        }

        input:not([disabled]) {
            background-color: var(--input-bg-d-252526-l-ffffff) !important;
        }

        ::ng-deep .ti3-form-label {
            width: 96px;
            box-sizing: border-box;
        }
    }

    .btn-box {
        margin-top: 1vw;
        text-align: center;
    }
    .modal-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;

        button {
            width: 160px;
            height: 32px;
            line-height: 18px;
            font-size: 14px;
            letter-spacing: 0;
            text-align: center;
            cursor: pointer;
            border-radius: 2px;
            border-width: 1px;
        }

        .btn-confirm {
            margin-right: 20px;
            background-color: #0067ff;
            border-color: #0067ff;
            color: var(--btn-primary-font-d-e8e8e8-l-ffffff);

            &:hover {
                background-color: #267dff;
                border-color: #267dff;
            }

            &:active {
                background-color: #0057d9;
                border-color: #0057d9;
            }
        }

        .btn-cancel {
            background-color: var(--btn-bg-d-313131-l-ffffff);
            border-color: var(--btn-border-d-dddddd-l-979797);
            color: var(--btn-cancel-d-e8e8e8-l-444444);

            &:hover {
                border-color: #267dff;
                color: #267dff;
            }

            &:active {
                border-color: #0057d9;
                color: #0057d9;
            }
        }
    }
}

.primary-btn {
    margin-top: 50px;
}

:host .firstLogin ::ng-deep .ti3-validate-text {
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

.user-list-box {
    width: 95px;
    height: auto;
    background-color: #202228;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0px;
    top: 50px;
    padding: 10px;
    z-index: 100;
    display: none;
    opacity: 0;
    transition: 0.5s linear;
    text-align: center;
    color: #6c7280;
}

.user-list-box>li {
    margin-top: 10px;
    cursor: pointer;
}

.user-list-box>li:nth-child(1) {
    margin-top: 0px;
}

.user-list-box:hover {
    display: block;
    opacity: 1;
}

.title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 20px;
    vertical-align: top;
}

.login-form {
    width: 50%;
    min-width: 200px;
    margin-left: 80px;
    margin-top: 40px;
    height: auto;
    box-sizing: border-box;
    top: 10vw;
    padding: 0px;

    .login-title1 {
        font-size: 20px;
        height: 26px;
        width: 688px;
        margin-bottom: 4px;
        color: var(--color-dark-e8-light-2);
        position: relative;
    }

    a.help-tips-icon {
        position: absolute;
        top: 5px;
        padding-left: 10px;
        outline: none;
    }

    .login-title2 {
        display: flex;
        line-height: 20px;
        align-items: center;
        font-size: 14px;
        color: var(--color-dark-8-light-97);

        .img_box {
            margin-right: 6px;
        }
    }

    .login-form-item {
        margin-top: 20px;

        .login-form-item-label {
            height: 18px;
            font-size: 14px;
            width: 400px;
            color: var(--color-dark-a-light-61);
        }

        input {
            width: 400px;
            border: none;
            margin-top: 10px;
            border: 1px solid #999;
            box-shadow: none;
            border-radius: 0px;
            background: #3c3c3c;
            height: 28px;
            font-size: 14px;
            color: #b7b7b7;
            background-image: unset !important;
        }

        input:focus {
            border: none;
            border: 1px solid #6c92fa;
        }

        input:hover {
            border: none;
            border: 1px solid #6c92fa;
        }

        .codeInput {
            width: 67%;
        }

        .codeImg {
            width: 5.416vw;
            height: 2.3vw;
            vertical-align: bottom;
            margin-left: 0.6vw;
        }

        .check {
            display: inline-block;
        }
    }

    .nofirstlogin-form {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
}

:host .check ::ng-deep :host input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-label {
    color: #222 !important;
    font-size: 1rem;
}

:host .check ::ng-deep input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin,
input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin:focus {
    border-color: #6c92fa;
    background-color: #6c92fa;
}

.login-btn {
    display: inline-block;
    width: 98px;
    height: 28px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background: #0067ff;
    color: #ffffff;
    margin-top: 2vw;
    cursor: pointer;
}

.last-info {
    text-align: center;
    margin-top: 0.83vw;
    font-size: 1rem;
}

.footer {
    font-size: 1rem;
    color: #888;
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
}

.tool-version {
    font-size: 1.25rem;
    color: #282b33;
    margin-top: 10px;
    margin-bottom: 2.18vw;
    font-family: "huawei sans";
}

#user {
    height: 28px;
    width: 400px;
    background-color: #e6ebf5;
    border-radius: 1px;
    font-family: "huawei sans";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #b8becc;
    padding-left: 10px;
    box-sizing: border-box;
}

.fisrstTit {
    background-color: #d1ebff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px #6cbfff;
    box-sizing: border-box;
    padding: 11px 16px;
}

.fisrstTit p {
    font-family: "huawei sans";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #282b33;

    img {
        padding-right: 8px;
        vertical-align: bottom;
    }
}

.error-info {
    color: var(--error-info-clr);
    font-size: 0.875rem;
    line-height: 20px;
    margin-top: 10px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    background-color: var(--error-info-bg-clr);
    padding: 10px 10px 10px 16px;
    box-sizing: border-box;
    border: 1px solid var(--error-info-border-clr);
    border-radius: 2px;

    .error-text {
        margin: 0 10px;
        flex: 1;
    }

    img {
        width: 12px;
        height: 12px;
        cursor: pointer;
        padding-top: 4px;
    }
}

.tipText {
    span {
        color: #ff4c4c;
        font-size: 0.875rem;
    }
}

.help-tips-icon {
    img {
        float: left;
    }
}

//深色主题样式
::ng-deep .vscode-dark {
    .firstLogin {
        background: #252526;

        .title-border {
            background: #4b4b4b;
        }

        .create-title {
            color: #e8e8e8;
            font-size: 20px;
        }
    }

    --background-clr: #1e1e1e;
    --font-clr: #aaaaaa;
    --title-clr: #dddddd;
}

//浅色主题样式
::ng-deep .vscode-light {
    .firstLogin {
        background: #ffffff;

        .title-border {
            background: #222222;
        }

        .create-title {
            color: #222222 !important;
            font-size: 20px;
        }
    }

    --background-clr: #ffffff;
    --font-clr: #222222;
    --title-clr: #222222;
}

.message {
    margin-top: 20px;
    line-height: 14px;
}

.autoLogin {
    margin-top: 18px;
    font-size: 14px;

    .inputSelect {
        width: auto !important;
        border-right: 10px;
    }

    .checkbox {
        display: inline-block;
        vertical-align: top;

        p {
            position: relative;
            font-size: 16px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    ::ng-deep .home_checkbox_item {
        .ti3-checkbox-skin {
            border-color: #888888 !important;

            &:hover {
                border-color: #0067ff !important;
            }

            &:active {
                animation: none !important;
            }
        }

        input:checked+.ti3-checkbox .ti3-checkbox-skin::before {
            content: '';
            display: block;
            width: 9px;
            height: 4.5px;
            transform: rotate(-45deg) translate(0, 3px);
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
    }

    .auto-login {
        display: inline-block;
        margin-right: 40px
    }
}

.eyes {
    position: absolute;
    left: 375px;
    top: 16px;
    width: 20px;
    height: 20px;
}

.eye {
    position: absolute;
    left: 375px;
    top: 6px;
    width: 20px;
    height: 20px;
}

.errTip {
    display: block;
}

::ng-deep .errTip>.ti3-unifyvalid-error-container {
    display: flex;
    line-height: 23px;
}

::ng-deep .errMsg>.ti3-unifyvalid-error-container {
    display: flex;
    line-height: 23px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
