<!-- 配置管理页面 -->
<div class="config-container">
  <div class="left">
    <header>
      <div class="return" (click)="closeLeftMenu()">
        <img src="./assets/img/header/return-7.png">
        <span class="text">{{i18n.common_term_return}}</span>
      </div>
    </header>

    <ul class="config-leftmenu">
      <li *ngFor="let item of leftMenuList" [ngClass]="{'notShow':item.admin && role !=='Admin'}"
        routerLink="/configuration/{{item.params}}" routerLinkActive="active" (click)="getItemData(item)">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div class="right">
    <div class="right-content">
      <app-user-management *ngIf="currentMenu === 'userManage'"></app-user-management>
      <app-log-manage *ngIf="currentMenu === 'logManage'"></app-log-manage>
      <app-webcertficate *ngIf="currentMenu === 'webServer'"></app-webcertficate>
      <app-weak-pwd *ngIf="currentMenu === 'weakPwd'"></app-weak-pwd>
      <app-header-system-setting *ngIf="currentMenu === 'sysSetting'"></app-header-system-setting>
    </div>
  </div>
</div>
