<div class='config-log'>
    <!-- 微架构和Miss任务在820版本只有一种采集日志 -->
    <div *ngIf="collectionLogs?.all; else other" class='log-box all'>
        <div class="log-item" *ngFor="let item of collectionLogs.all">
            <div>{{item}}</div>
        </div>
        <app-default-page *ngIf="collectionLogs.all.length == 0"></app-default-page>
    </div>

    <ng-template #other>
        <div class='Acq'>
            <div class="log-title-div">
                <span class='log-title'>{{i18n.common_term_task_tab_log_basic}}</span>
            </div>
            <div class='log-box'>
                <div class="log-item" *ngFor="let item of Acq">
                    <div>{{item}}</div>
                </div>
                <app-default-page *ngIf="Acq.length === 0" [height]="'100%'"></app-default-page>
            </div>
        </div>

        <div class='Data'>
            <div class="log-title-div">
                <span class='log-title'>{{i18n.common_term_task_tab_log_data}}</span>
            </div>
            <div class='log-box'>
                <div class="log-item" *ngFor="let item of Data">
                    <div>{{item}}</div>
                </div>
                <app-default-page *ngIf="Data.length === 0" [height]="'100%'"></app-default-page>
            </div>
        </div>
    </ng-template>
</div>