.detail-container {
  padding-top: 20px;
  .detail-items {
    line-height: 34px;
    overflow: hidden;
    >h1{
      font-size: 20px;
      color: #282b33;
      margin-bottom:24px;
      font-weight: normal;
      line-height: 1;
    }
    .setting-left{
      float: left;
      width: 50%;
      .setting-left-item{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 16px;
        span,div{
          height: 18px;
          font-size: 14px;
          line-height: 18px;
        }
        span:first-child{
          width: 240px;
          color: #6C7280;
        }
        span:last-child{
          height: 18px;
          color: #222;
          font-size: 14px;
        }
        div {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .items-uninstall,
    .items-install {
      display: inline-block;
      width: 33%;
      padding-left: 1.5%;
      vertical-align: top;

      .items-title {
        width: 100%;
        line-height: 32px;
        border-bottom: dashed 1px #d4d9e6;
        margin-bottom: 20px;
        font-size: 16px;
      }
      .item-label {
        float: left;
        color: #9ea4b3;
        margin-right: 30px;
      }

      .item-content {
        float: left;
      }

      .item-child {
        flex: 1;

        .item-child-container {
          display: flex;

          .item-label {
            color: #9ea4b3;
            flex: 0.7;
            min-width: 220px;
          }

          .item-content {
            flex: 1;
            padding-left: 10px;
            padding-right: 20px;
          }
        }
      }
    }

    .items-software {
      display: inline-block;
      width: 65%;

      .items-title {
        width: 100%;
        line-height: 32px;
        border-bottom: dashed 1px #d4d9e6;
        margin-bottom: 20px;
        font-size: 16px;
      }

      .item-child {
        flex: 1;

        .item-child-container {
          display: flex;

          .item-label {
            color: #9ea4b3;
            flex: 0.7;
            min-width: 220px;
          }

          .item-content {
            flex: 1;
            padding-left: 10px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  .recognize-items {
    margin-top: 15px;
    box-sizing: border-box;

    .title {
      font-size: 20px;
      color: #282b33;
      margin: 20px 0;
    }
    &::ng-deep thead tr th{
      background: #f5f9ff;
    }
     &::ng-deep tbody tr{
      background: white!important;
      td{
        border-bottom:1px solid #E6EBF5;
        color:#282B33;
        padding: 5px 10px!important;
      }
    }
    &::ng-deep tbody tr:hover{
      background: #F7FAFF!important;
    }
    .report-detail-table {
      .table-container {
        line-height: 48px;
        margin-bottom: 5px;

        .detail-label {
          display: inline-block;
          min-width: 240px;
          font-size: 20px;
          color: #282b33;
          margin-bottom: 15px;
          line-height: 1;

          .detail-img {
            img {
              vertical-align: middle;
              cursor: pointer;
            }
          }

          .detail-icon {
            margin-right: 20px;
            margin-left: 10px;
            vertical-align: middle;
          }
        }

        .detail-content {
          margin-bottom: 14px;
          padding-left: 10px;
          border: 1px solid #0067FF;
          background-color: #F0F6FF;
          color: #0067FF;
          font-size: 14px;
          line-height: 30px;
        }
      }

      .items-detail-container {
        overflow-y: auto;
      }

    }
  }
}
.en_width{
  width: 370px;
}

.ti3-table>.ti3-table-fixed-head+.ti3-table-container {
  border-bottom: none !important;
}

@media only screen and (max-width: 1700px) {
  .detail-container .detail-items .setting-left .setting-left-item span:first-child {
    width: 200px;
  }
  .detail-container{
    padding-bottom: 20px;
  }
}

// ti-table错位问题
:host ::ng-deep .ti3-table>.ti3-table-fixed-head>table{
  table-layout: fixed;
}
:host ::ng-deep .ti3-table>.ti3-table-container>table{
  table-layout: fixed;
}

.auto-fix-btn-en {
  width: 300px !important;
}

.del-report {
  width: 400px !important;
}

.btn-box {
  text-align: center;
  width: 100%;
  button {
    min-width: 88px !important;
  }
  .user-sure-btn {
    margin-right: 6px;
  }
}
