.kernel-packet-loss {
  margin-left: -20px;
  margin-bottom: -20px;

  .search-icon {
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      color: #267dff;
    }
    &.active {
      color: #0057d9;
    }
  }

  .cell-icon {
    img {
      position: relative;
      top: 2px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  tbody tr td.no-border {
    display: flex;
    padding: 0 !important;
    border-bottom: none;

    div {
      height: 32px;
      &:first-child {
        box-sizing: border-box;
        width: 30px;
      }
      &:last-child {
        flex: 1;
        border-bottom: 1px solid var(--sub-table-545454-e6ebf5);
      }
    }

    .ext_more {
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: calc(100% + 1px);
        border-right: 2px solid #0067ff;
        background-color: var(--ti-table-expand-children-margin-background-color);
      }
    }
  }
  .pagination {
    margin-top: 20px;
  }
}

:host .kernel-packet-loss ::ng-deep {
  .ti3-searchbox-container {
    margin: 10px;
  }
  .ti3-table > .ti3-table-fixed-head > table > thead > tr > th:nth-child(2) {
    border-left: none;
  }
  .ti3-page-container {
    margin: 20px 0 20px 20px
  }
  .ti3-table > .ti3-table-container > table > tbody > .ti3-details-tr > td {
    padding: 0px;
    padding-left: 10px;
  }

  .ti3-table > .ti3-table-fixed-head > table > thead > tr > th:first-child:after {
    width: 0;
  }

  .ti3-table > .ti3-table-fixed-head > table > thead > tr > th:nth-child(2),
  .ti3-table > .ti3-table-container > table > tbody > tr > td:nth-of-type(2) {
    padding-left: 24px;
  }
}