::ng-deep .projectManagementModal {
  .ti3-modal-content {
    .ti3-modal-body {
      > ti-formfield {
        width: 100%;

        > .ti3-form {
          width: 100%;
          display: block;

          > tbody {
            width: 100%;
            display: block;

            > tr {
              width: 100%;

              > .ti3-form-content {
                width: 100%;
                display: inline-block;

                > ti-item {
                  width: 100%;
                  display: block !important;

                  > .nodeListTable {
                    width: 100%;

                    > app-node-list {
                      width: 100%;

                      > .ti-table {
                        width: 100%;

                        > div {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .bigInput,
      .bigSelect {
        width: 436px;
      }
      .smallSelect {
        width: 210px;
      }
      .storageTypeDetail {
        margin-left: 16px;
      }
      .databaseSelect {
        width: 256px;
      }

      // 修改工程-信息展示
      .infoListTip {
        color: #222;
        font-size: 12px;
        padding: 4px 16px;
        margin-bottom: 54px;
        background: #f5f9ff;
        .nodeItem {
          padding-right: 20px;
          span:first-child {
            color: #616161;
            padding-right: 10px;
          }
        }
      }

      // 场景类型
      .sceneBox {
        display: flex;

        > .sceneItem {
          label.ti3-radio {
            display: none;
          }

          label:not(.ti3-radio) {
            width: 88px;
            height: 88px;
            padding: 11px 0;
            background: transparent;
            border-radius: 2px;
            cursor: pointer;
            color: #222;
            box-sizing: border-box;
            transition: 0.8s;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
            border-radius: 2px;

            > img {
              width: 40px;
              height: 40px;
            }

            > span.text {
              font-size: 10px;
            }
          }

          &:not(.disabled):hover > label:not(.ti3-radio),
          > input[type="radio"]:not(:disabled):checked ~ label:not(.ti3-radio) {
            box-shadow: 0px 2px 10px 0px rgba(0, 103, 255, 0.17);
          }

          &:not(:first-child) {
            margin-left: 8px;
          }
        }
        .sceneItem.active .currentLabel{
          color: #2072EA;
        }
        .disabled,
        .disabled label {
          cursor: not-allowed !important;
          color: #b8becc !important;
          background-color: #e6ebf5;
        }
      }

      .info {
        margin-top: 8px;
        color: #616161;
        font-size: 12px;
        line-height: 18px;
      }

      .nodeListTip {
        font-size: 14px;
        color: #979797;
        margin-bottom: 10px;

        a {
          color: #0067ff;
        }
      }

      .nodeListTable {
        flex: 1;
        overflow: hidden;
        display: flex;
      }
    }
  }

  &.showInfo {
    .ti3-modal-body {
      > ti-formfield {
        display: block;
        background: #f5f9ff;
        padding: 0 10px;
        box-sizing: border-box;
      }

      > .nodeListTable {
        margin-top: 23px;
      }
    }
  }
}
::ng-deep .custemModal .ti3-modal-body {
  overflow: auto;
  max-height: 450px !important;
}
