<ng-template #myModal let-context='context'>
  <!-- 弹框头部定义 -->
  <ti-modal-header>
    <div class="title">{{ modalTitle }}</div>
  </ti-modal-header>

  <!-- 弹框内容定义 -->
  <ti-modal-body id="addProjectContent">
    <!-- 修改工程信息展示 -->
    <div *ngIf="openType ==='edit'" class="infoListTip">
      <!-- 场景类型 -->
      <span class="nodeItem">
        <span>{{ i18n.project.scenario }}</span>
        <span>{{ currentScene.label }}</span>
      </span>
      <!-- 大数据-组件 -->
      <span *ngIf="currentScene?.prop === 'big_data'" class="nodeItem">
        <span>{{ i18n.project.component }}</span>
        <span>{{ projectInfoFormGroup.get('component').value?.label }}</span>
      </span>
      <!-- 大数据-应用场景 -->
      <span *ngIf="currentScene?.prop === 'big_data'" class="nodeItem">
        <span>{{ i18n.project.applicationScenario }}</span>
        <span>{{ projectInfoFormGroup.get('applicationScenario').value?.label }}</span>
      </span>
      <!-- 分布式存储-存储类型 -->
      <span *ngIf="currentScene?.prop === 'distributed_storage'" class="nodeItem">
        <span>{{ i18n.project.storageType }}</span>
        <span>{{ projectInfoFormGroup.get('storageType').value?.label }}</span>
        <span>/</span>
        <span>{{ projectInfoFormGroup.get('storageTypeDetail').value?.label }}</span>
      </span>
      <!-- 数据库-数据库类型 -->
      <span *ngIf="currentScene?.prop === 'database'" class="nodeItem">
        <span>{{ i18n.project.databaseType }}</span>
        <span>{{ projectInfoFormGroup.get('databaseType').value?.label }}</span>
      </span>
    </div>

    <!-- 创建 / 修改任务弹框 -->
    <ti-formfield *ngIf="['create', 'edit'].includes(openType)" [formGroup]="projectInfoFormGroup"
      class="formLabelAlign top">

      <!-- 工程名称 -->
      <ti-item [label]="i18n.common_term_projiect_name" [required]="true" id="input-project-name">
        <input type="text" tiText class="bigInput" formControlName="projectName" [tiValidation]="validation"
          (blur)="trimProjectName()">
      </ti-item>

      <!-- 场景类型 -->
      <ti-item [label]="i18n.project.scenario" [required]="true" id="select-project-scene"
        [show]="!isDiagnose && openType === 'create'">
        <div class="sceneBox">
          <div class="sceneItem" *ngFor="let option of sceneList; index as index" (mouseenter)="option.hover = true"
            (mouseleave)="option.hover = false" [ngClass]="{active:option.prop === currentScene.prop}">
            <input type="radio" tiRadio formControlName="scene" [value]="option.value" [id]="'scene' + index" />
            <label [for]="'scene' + index">
              <img
                [src]="(option.hover || option.value === currentScene?.value) ? option.imgPath_hover : option.imgPath_normal"
                alt="">
              <span class="text" class="currentLabel">{{ option.label }}</span>
            </label>
          </div>
        </div>

        <p class="info">{{ currentScene.info }}</p>
      </ti-item>

      <!--大数据-组件 -->
      <ti-item [label]="i18n.project.component" [required]="true"
        [show]="currentScene?.prop === 'big_data' && openType === 'create'">
        <ti-select class="bigSelect" [options]="componentList" formControlName="component"
          [placeholder]="i18n.project.selectAComponent"></ti-select>
      </ti-item>

      <!--大数据-应用场景 -->
      <ti-item [label]="i18n.project.applicationScenario" [required]="true"
        [show]="currentScene?.prop === 'big_data' && openType === 'create'">
        <ti-select class="bigSelect" [options]="applicationScenarioList" formControlName="applicationScenario"
          [placeholder]="i18n.project.applicationScenarioPlaceholder"></ti-select>
      </ti-item>

      <!-- 分布式存储-存储类型-->
      <ti-item [label]="i18n.project.storageType" [required]="true"
        [show]="currentScene?.prop === 'distributed_storage' && openType === 'create'">
        <ti-select class="smallSelect" [options]="storageTypeList" formControlName="storageType"
          [placeholder]="i18n.project.selectStorageType"></ti-select>

        <ti-select class="smallSelect storageTypeDetail" [options]="storageTypeDetailList"
          formControlName="storageTypeDetail"></ti-select>
      </ti-item>

      <!--数据库-组件 -->
      <ti-item [label]="i18n.project.databaseType" [required]="true"
        [show]="currentScene?.prop === 'database' && openType === 'create'">
        <ti-select class="databaseSelect" [options]="databaseTypeList" formControlName="databaseType"
          [placeholder]="i18n.project.databasePlaceholder">
        </ti-select>
      </ti-item>

      <!-- 节点列表 -->
      <ti-item [label]="i18n.node.selectNode" [required]="true" id="select-project-node">
        <p class="nodeListTip">
          {{ currentScene?.prop === 'HPC' ? i18n.project.HPCSelectNodeTip : i18n.nodeManagement.selectNodesInfo }}
          <!-- user-guide 新手指导流程隐藏 -->
          <a *ngIf="role === 'Admin'" routerLink="/nodeManagement/nodeManagement" routerLinkActive="active"
            (click)="context.dismiss()">
            {{ i18n.nodeManagement.goToNodeManagement }}
          </a>
        </p>

        <!-- 节点列表表格 -->
        <div class="nodeListTable">
          <!-- user-guide -->
          <app-node-list 
          [selectMode]="currentScene?.prop" 
          [hasPagination]="true" [selectedNodeIds]="currentScene?.prop === 'HPC' ? selectedNodeId : selectedNodeIds"
          (selectedNodeIdsChange)="selectedNodeIdsChange($event)" [nodeNumLimit]="currentScene.prop === 'HPC' ? 100 : 10"></app-node-list>
        </div> 
      </ti-item>
    </ti-formfield>

    <!-- 查看工程弹框【文本表单】 -->
    <ng-container *ngIf="openType === 'showProjectInfo'">
      <ti-formfield type="text" *ngIf="!isDiagnose">
        <!-- 场景类型 -->
        <ti-item [label]="i18n.project.scenario" tiOverflow>
          <span>{{ currentScene.label }}</span>
        </ti-item>

        <!--大数据-组件 -->
        <ti-item [label]="i18n.project.component" [show]="currentScene?.prop === 'big_data'" tiOverflow>
          <span>{{ projectInfoFormGroup.get('component').value?.label }}</span>
        </ti-item>

        <!--大数据-应用场景 -->
        <ti-item [label]="i18n.project.applicationScenario" [show]="currentScene?.prop === 'big_data'" tiOverflow>
          <span>{{ projectInfoFormGroup.get('applicationScenario').value?.label }}</span>
        </ti-item>

        <!-- 分布式存储-存储类型-->
        <ti-item [label]="i18n.project.storageType" [show]="currentScene?.prop === 'distributed_storage'" tiOverflow>
          <span>{{ projectInfoFormGroup.get('storageType').value?.label }}</span>
          <span>/</span>
          <span>{{ projectInfoFormGroup.get('storageTypeDetail').value?.label }}</span>
        </ti-item>

        <!--数据库-数据库类型 -->
        <ti-item [label]="i18n.project.databaseType" [show]="currentScene?.prop === 'database'" tiOverflow>
          <span>{{ projectInfoFormGroup.get('databaseType').value?.label }}</span>
        </ti-item>
      </ti-formfield>

      <!-- 节点列表 -->
      <div class="nodeListTable">
        <app-node-list [nodeList]="context.nodeList" style="width: 100%"></app-node-list>
      </div>
    </ng-container>
  </ti-modal-body>

  <!-- 弹框底部定义 -->
  <ti-modal-footer id="create-project-sure">
    <button tiButton type="button" class="ok" color="primary"
      [disabled]="!projectInfoFormGroup.valid || context.interfacing" (click)="newProject(context)"
      *ngIf="openType !== 'showProjectInfo'">{{ i18n.common_term_operate_ok }}</button>

    <button tiButton type="button" (click)="context.dismiss()">
      {{ openType === 'showProjectInfo' ? i18n.common_term_operate_close : i18n.common_term_operate_cancel }}
    </button>
  </ti-modal-footer>
</ng-template>