::ng-deep {
    .vscode-dark #profileHeapdumpSavedModal {
        // 弹窗背景颜色
        --modal-background-color: #252526;
        // 弹窗头部下边框颜色
        --modal-header-bottom-border-color: #4b4b4b;
        // 弹窗头部标题颜色
        --modal-header-title-color: #e8e8e8;
        // 弹窗底部上边框颜色
        --modal-footer-top-border-color: #6e6e6e;
        // 主要按钮字体颜色
        --primary-button-font-color: #e8e8e8;
        // 弹窗底部次级按钮字体颜色
        --modal-footer-secondary-button-font-color: #e8e8e8;
        // 弹窗底部次级按钮背景颜色
        --modal-footer-secondary-button-background-color: #313131;
        // 弹窗底部次级按钮边框颜色
        --modal-footer-secondary-button-border-color: #dddddd;
        // 弹窗内容提示文本颜色
        --model-tip-text-color: rgba(255, 255, 255, 0.65);
        // 滚动条滑块颜色
        --scrollbar-thumb-background-color: rgba(121, 121, 121, 0.4);
        // 滚动条外层轨道和内层滚动条颜色
        --scrollbar-thumb-track-background-color: #252526;

        --modal-body-tip-box-border-color: #15395b;
        --modal-body-tip-box-background-color: #111d2c;
        --primary-button-disabled-font-color: #b8becc;
        --primary-button-disabled-background-color: #313131;
    }
    
    .vscode-light #profileHeapdumpSavedModal {
        --modal-background-color: #ffffff;
        --modal-header-bottom-border-color: #e1e6ee;
        --modal-header-title-color: #222222;
        --modal-footer-top-border-color: #e1e6ee;
        --primary-button-font-color: #ffffff;
        --modal-footer-secondary-button-font-color: #222222;
        --modal-footer-secondary-button-background-color: #ffffff;
        --modal-footer-secondary-button-border-color: #979797;
        --model-tip-text-color: #222222;
        --scrollbar-thumb-background-color: #979797;
        --scrollbar-thumb-track-background-color: #ffffff;

        --modal-body-tip-box-border-color: #0067ff;
        --modal-body-tip-box-background-color: #f0f6ff;
        --primary-button-disabled-font-color: #ccc;
        --primary-button-disabled-background-color: #f5f5f5;    
    }
    
    #profileHeapdumpSavedModal {
        .ti3-modal {
            z-index: 9999999 !important;
        }
        .ti3-modal-content {
            background-color: var(--modal-background-color) !important;
    
            .ti3-modal-header {
                color: var(--modal-header-title-color) !important;
                border-color: var(--modal-header-bottom-border-color);
                padding: 20px 0px !important;
                span {
                    display: flex;
                    font-size: 20px;
                    line-height: 26px;
                    justify-content: space-between;
    
                    .close-icon {
                        position: relative;
                        top: 0;
                        right: 0;
                    }
                }
            }
    
            .ti3-modal-body {
                max-height: 438px;
                padding: 0 !important;          
                .main {
                    .tip-box {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        padding: 0 20px;
                        box-sizing: border-box;
                        height: 40px;
                        background-color: var(--modal-body-tip-box-background-color);
                        border-radius: 2px;
                        border: 1px solid var(--modal-body-tip-box-border-color);

                        .tip-icon {
                            width: 16px;
                            height: 16px;
                        }

                        .tip-text {
                            margin-left: 10px;
                            font-size: 14px;
                            width: calc(100% - 52px);
                            color: var(--model-tip-text-color);
                        }

                        .close-icon {
                            width: 16px;
                            height: 16px;
                            margin-left: 10px;
                        }
                    }
                    .info-box {
                        margin-top: 20px;
                        padding: 0 2px;

                        .info-item {
                            display: flex;      
                            margin-bottom: 20px;
                            font-size: 12px;

                            .info-item-label {
                              width: 100px;
                              flex-shrink: 0;
                              color: var(--d-aaaaaa-l-616161);
                              
                              span {
                                line-height: 28px;
                              }
                            }
                            .info-item-content {
                                margin-left: 10px;
                                color: var(--ti-table-td-text-color);
                                width: 400px;
                                
                                .info-input {
                                  width: 100%;
                                  background-color: transparent !important;
                                }
                            }

                            
                        }
                    }
                }
            }
    
            .ti3-modal-footer {
                padding: 20px 0 40px 0 !important;
                background: var(--modal-background-color) !important;
    
                button {
                    width: 160px;
                    height: 32px;
                    border-radius: 2px;
                    font-size: 14px;
                    line-height: 32px;

                    &.sure-btn {
                        text-align: center;
                        background: #0067ff !important;
                        color: #e8e8e8 !important;
                        border: none !important;
                        cursor: pointer;
                    }
                
                    &.sure-btn:hover {
                        background: #267dff !important;
                        color: #ffff !important;
                    }
                
                    &.sure-btn:active {
                        background: #0057d9 !important;
                        color: #ffff !important;
                    }
    
                    &.sure-btn[disabled] {
                        color: var(--primary-button-disabled-font-color) !important;
                        border: none !important;
                        background: var(--primary-button-disabled-background-color) !important;
                        cursor: not-allowed;
                    }
    
                    &.secondary {
                        background: var(--modal-footer-secondary-button-background-color);
                        border: 1px solid var(--modal-footer-secondary-button-border-color);
                        color: var(--modal-footer-secondary-button-font-color);
        
                        &:hover {
                            color: #267dff;
                            border-color: #267dff;
                        }
        
                        &:active {
                            color: #0057d9;
                            border-color: #0057d9;
                        }
                    }
    
                }
    
            }
        }
    }
    
    .tip-close{
        display: inline-block;
        img:hover {
            cursor: pointer;
        }
        & > img {
            display: none;
        }
        & > img:nth-of-type(1) {
            display: block;
        }
        &:hover {
            & > img:nth-of-type(1) {
                display: none;
            }
            & > img:nth-of-type(2) {
                display: block;
            }
        }
        &:active {
            & > img:nth-of-type(1) {
                display: none;
            }
            & > img:nth-of-type(2) {
                display: block;
            }
        }
    }
}