.light {
  --strio-table-txt-color: #222;
  --strio-table-label-color: #616161;
}
.dark {
  --strio-table-txt-color: #aaa;
  --strio-table-label-color: #aaa;
}
.itemParam {
  display: flex;
  height: 18px;
  line-height: 18px;
  color: var(--strio-table-txt-color);
  font-size: 12px;
  margin-bottom: 10px;
  .label {
    width: 180px;
    font-size: 14px;
    color: var(--strio-table-label-color);
    box-sizing: border-box;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
