::ng-deep .nodeConfigModal {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: unset !important;

  .ti3-modal-content {
    background-color: #252526;
    margin: unset;
    width: 680px !important;
    max-height: 438px;
    overflow-y: auto;
    .ti3-modal-body {
      --ti-default-font-size: 12px;
      --ti-formfield-item-padding-bottom: 10px;
      margin-bottom: 24px;
      .nodeInfo {
        ti-formfield {
          .ti3-form {
            // 解决没有required参数的表单会和带有required参数的表单不对齐的问题
            & > tbody > tr > td:first-child {
              width: 16px;
            }

            .ti3-form-label {
              color: #aaaaaa;
              padding: 0 20px 12px 0;
            }
          }
        }
      }
    }
  }
  .footerButs {
    display: flex;
    justify-self: flex-start;
    padding-bottom: 24px !important;
    button {
      width: 160px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 2px;
    }
  }
}
.nodeInfoItem {
  line-height: 32px;
  font-size: 12px;
  width: 198px;
}
.nodeInfo {
  margin-left: 2px;
  margin-bottom: 20px;
}
.bottomTip {
  font-size: 12px;
  margin-top: 4px;
  max-width: 350px;
  color: #888888;
}
.tipImg {
  margin-left: 8px;
}
.tiTextarea {
  height: 70px;
  padding: 8px;
  width: 300px;
  margin-top: 8px;
  box-sizing: border-box;
}
.heightConfig {
  width: 100%;
  height: 20px;
}
.eye {
  position: absolute;
  right: 8px;
  top: 2px;
}
.pid-name {
  margin-bottom: 20px;
}