<!--component html goes here -->
<app-banner></app-banner>
<div *ngIf="uninstalling === -1" class="uninstall-form">
    <p class="uninstall-title-gen title">{{ i18n.plugins_tuning_title_uninstallDt }}
        <a *ngIf="i18nService.currLang === i18nService.langType.zh_cn" (click)="clickFAQ(pluginUrlCfg.uninstall_openFAQ1)">
            <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark.svg">
            <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
        </a>
        <a *ngIf="i18nService.currLang === i18nService.langType.en" (click)="clickFAQ(pluginUrlCfg.uninstall_openFAQ1)">
            <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark.svg">
            <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
        </a>
    </p>
    <div class="uninstall-title-det">
        <img class="img_box" src="./assets/img/tip/icon_information.svg">
        <span class="top-tips"> {{i18n.plugins_common_message_uninstallDt }}
        </span>
    </div>
<!--    <p class="uninstall-title-gent title">{{ i18n.plugins_common_title_installTs }}</p>-->
    <div class="uninstall-form-item">
        <div class="ti3-icon ti3-icon-staricon uninstall-form-item-label">{{ i18n.plugins_tuning_label_ip }}
        </div>
        <input type="text" tiText [(ngModel)]="tempIP" (blur)="checkIP()" (change)="connected=false" [disabled]="connectChecking"/>
        <div *ngIf="ipCheckF" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"><img src="./assets/img/tip/icon_failure.svg"></span>
            <span class="ti3-validate-text">{{ i18n.plugins_tuning_message_ipError }}</span>
        </div>
    </div>
    <div class="uninstall-form-item">
        <div class="ti3-icon ti3-icon-staricon uninstall-form-item-label">{{ i18n.plugins_tuning_label_port }}
        </div>
        <input type="text" tiText [(ngModel)]="tempPort" (blur)="checkTempPort()" placeholder="22"
            (change)="connected=false" [disabled]="connectChecking"/>
        <div *ngIf="tempPortCheckF" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"><img src="./assets/img/tip/icon_failure.svg"></span>
            <span class="ti3-validate-text">{{ i18n.plugins_tuning_message_portError }}</span>
        </div>
    </div>
    <div class="uninstall-form-item">
        <div class="ti3-icon
         ti3-icon-staricon uninstall-form-item-label">{{ i18n.plugins_tuning_label_installUser }}
        </div>
        <input id="username" type="text" tiText [(ngModel)]="username" (blur)="checkUsername()" [disabled]="connectChecking"
            (change)="connected=false" oncopy="return false"
            onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
            onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}" onpaste="return true"
            oncut="return false" />
        <div *ngIf="usernameCheckNull" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"><img src="./assets/img/tip/icon_failure.svg"></span>
            <span class="ti3-validate-text">{{ i18n.common_term_required_tip }}</span>
        </div>
    </div>
    <div class="ssh-type">
        <div>
            <div>
                <div class="ssh-type-title ti3-icon-staricon">{{ i18n.plugins_common_label_selectSSHType }}
                    <a *ngIf="i18nService.currLang === i18nService.langType.zh_cn" (click)="clickFAQ(pluginUrlCfg.uninstall_openFAQ2)">
                        <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark-1.svg">
                        <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
                    </a>
                    <a *ngIf="i18nService.currLang === i18nService.langType.en" (click)="clickFAQ(pluginUrlCfg.uninstall_openFAQ2)">
                        <img *ngIf="currTheme === 1" class="help-icon" src="./assets/img/icon-help-dark-1.svg">
                        <img *ngIf="currTheme === 2" class="help-icon" src="./assets/img/icon-help-light.svg">
                    </a>
                </div>
                <div *ngFor="let item of radioList" style="display: inline-block;margin-right: 40px">
                    <label class="ra-label" [for]="item.key">
                        <input tiRadio type="radio" name="sshType" [(ngModel)]="sshTypeSelected" [value]="item.key"
                            [id]="item.key" (change)="checkChange(item)" [disabled]="connectChecking"/>
                        <label [for]="item.key" class="ti3-radio">
                            <span class="ti3-radio-skin"></span>
                            <span class="ti3-radio-label"></span>
                        </label>
                        <span class="pointer color-d-e8-l-22">{{item.value}}</span>
                        <!-- <span class="pointer" style="display: inline-block; font-size: 14px;">{{item.value}}</span> -->
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- 密码 -->
    <div *ngIf="sshTypeSelected === 'usepwd'" class="uninstall-form-item">
        <div class="ti3-icon ti3-icon-staricon uninstall-form-item-label">{{ i18n.plugins_tuning_label_installPwd }}
        </div>
        <div style="position: relative;">
            <input id="pwd" [type]="uninstallType" tiText [(ngModel)]="pwd" (blur)="checkPwd()" [disabled]="connectChecking"
                (change)="connected=false" oncopy="return false"
                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}" onpaste="return true"
                oncut="return false" style="padding-right: 32px;" noeye />
            <div class="eye">
                <span (click)="changInputType('password')" *ngIf="uninstallType === 'text'">
                    <img src="./assets/img/icon-view.svg" />
                </span>
                <span (click)="changInputType('text')" *ngIf="uninstallType === 'password'">
                    <img src="./assets/img/icon-hide.svg" />
                </span>
            </div>
        </div>
        <div *ngIf="pwdCheckNull" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"><img src="./assets/img/tip/icon_failure.svg"></span>
            <span class="ti3-validate-text">{{ i18n.common_term_required_tip }}</span>
        </div>
    </div>
    <!-- 密匙 -->
    <div *ngIf="sshTypeSelected === 'usekey'" class="uninstall-form-item">
        <div class="ti3-icon ti3-icon-staricon uninstall-form-item-label">{{ i18n.plugins_common_label_installsshkey }}
        </div>
        <textarea resize="horizontal" tiTextarea class="usekey-input" [placeholder]="sshUploadKey"  [disabled]="connectChecking"
            [(ngModel)]="localfilepath" readonly>
        </textarea>
        <div style="display: inline-block;" class="upload-btn">
            <button type="button" class="little-minor-btn" (click)="fileUpload()"
                style="display: inline-block; width: 100px; height: 28px; margin-left: 10px;" [disabled]="connectChecking">{{i18n.plugins_common_message_sshkeyUpload}}
                <input type="file" id="uploadFile" style="display: none;" (change)="uploadFile()"  [disabled]="connectChecking"/>
            </button>
        </div>
        <div *ngIf="sshkeyCheckNull" class="ti3-unifyvalid-error-container">
            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"><img src="./assets/img/tip/icon_failure.svg"></span>
            <span class="ti3-validate-text">{{ i18n.plugins_common_message_sshkeyFail }}</span>
        </div>
        <div class="uninstall-form-item-label ti3-icon-staricon" style="margin-top: 20px;">{{ i18n.plugins_common_label_passphrase }}
        </div>
        <div style="position: relative;">
            <input [type]="uninstallType" tiText placeholder="{{i18n.plugins_common_message_passphrase}}" [disabled]="connectChecking"
                [(ngModel)]="passphrase"
                (change)="connected = false"
                oncopy="return false"
                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}"
                onpaste="return true"
                oncut="return false" noeye>
            <div class="eye">
                <span (click)="changInputType('password')" *ngIf="uninstallType === 'text'">
                    <img src="./assets/img/icon-view.svg">
                </span>
                <span (click)="changInputType('text')" *ngIf="uninstallType === 'password'">
                    <img src="./assets/img/icon-hide.svg">
                </span>
            </div>
        </div>
    </div>

    <div class="btn-group" [ngClass]="{'checkconnection-btn-en': i18nService.currLang === i18nService.langType.en}">
        <!-- 检测连接 -->
        <button type="button" class="secondary-btn check-conn-btn" [ngClass]="{'checking-btn': connectChecking}" (click)="checkConnBefore()"
            [disabled]="connectChecking || (sshTypeSelected === 'usekey' && !localfilepath)">
            <img *ngIf="connectChecking && currTheme === 1" src="./assets/img/loading-disabled.gif">
            <img *ngIf="connectChecking && currTheme === 2" src="./assets/img/loading-white.gif">
            <span>{{ i18n.plugins_common_button_checkConn }}</span>
        </button>
        <!-- 开始卸载 -->
        <button type="button" class="primary-btn" (click)="uninstall()" [disabled]="!connected">
            <span>{{ i18n.plugins_tuning_button_uninstallConfirm }}</span>
        </button>
    </div>
</div>

<div *ngIf="uninstalling !==- 1" class="uninstall-form">
    <div *ngIf="uninstalling === 0" class="uninstall-title-uninstalling color-d-e8-l-22">{{ i18n.plugins_tuning_message_uninstallingInfo }}</div>
    <div *ngIf="uninstalling === 1" class="uninstall-title-uninstalled">
        <img  class="img_uninstall" src="./assets/img/home/icon_success.png" />
        <p> {{ i18n.plugins_tuning_title_uninstalled }} </p>
    </div>
    <div *ngIf="uninstalling === 2" class="uninstall-title-failed">
        <img class="img_uninstall" src="./assets/img/home/icon_error.png" />
        <p> {{ i18n.plugins_tuning_title_uninstallFailed }} </p>
        <p> {{ i18n.plugins_tuning_message_installFailedInfo}} </p>
    </div>
    <div *ngIf="this.uninstalling === 1" id="login-btn" class="primary-btn" (click)="exit()">
        <span>
            {{ i18n.plugins_common_button_exit }}
        </span>
    </div>
    <div *ngIf="this.uninstalling === 2" id="login-btn" class="primary-btn" (click)="retry()">
        <span>
            {{ i18n.plugins_tuning_button_retry }}
        </span>
    </div>
    <div class="showLoading" *ngIf="showLoading">
      <app-loading [height]="'100%'" [size]="'max'"></app-loading>
    </div>
</div>



<!-- 确认弹框 -->
<app-messagebox #showDialog>
    <div class="content tip-box user-deploy-box">
        <div class="tip-title color-d-e8-l-22">
            <span class="title-content">{{i18n.plugins_public_text_tip}}</span>
            <span (click)="cancelDiglogMsgTip()" class="icon-close">
                <img src="./assets/img/close_icon.svg">
                <img src="./assets/img/close_hover.svg">
            </span>
        </div>
        <div class="tip-dsc">
            <img class="img_box" src="./assets/img/tip/icon_information.svg">
            <div class="color-d-e8-l-61">
                <p>{{dialogShowDetailText}}</p>
            </div>
        </div>
        <div class="tip-confirm">
            <button type="button" class="primary-btn" (click)="confirmDialogMsgTip()">{{i18n.plugins_public_button_continue}}</button>
            <button type="button" class="secondary-btn" (click)="cancelDiglogMsgTip()">{{i18n.plugins_public_button_cancel}}</button>
            <button type="button" class="secondary-btn" (click)="openFAQ()">{{i18n.plugins_common_tips_checkConn_openFAQ}}</button>
        </div>
    </div>
</app-messagebox>

<!-- 指纹弹框 -->
<app-messagebox #fingerDialog>
    <div class="content tip-box finger-box" style="width: 360px;">
        <div class="tip-dsc">
            <img class="img_box" src="./assets/img/tip/icon_information.svg">
            <div class="color-d-e8-l-61">
                <p>{{fingerLoseText}}</p>
            </div>
        </div>
        <div class="tip-confirm">
            <button type="button" class="primary-btn" (click)="confirmFingerDialog()">{{i18n.plugins_public_message_confirm}}</button>
            <button type="button" class="secondary-btn" (click)="cancelFingerDialog()">{{i18n.plugins_public_message_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<app-notification-box #notificationBox>
    <div class="notification-message">{{notificationMessage}}</div>
</app-notification-box>

<!-- 带按钮的错误提示弹框 -->
<app-notification-with-action #serverErrorBox>
    <span class="notification-message">{{i18n.plugins_common_message_responseError_deployScenario}}</span>
    <div class="action-content">
        <button type="button" class="primary-btn error-instruction-button" (click)="openErrorInstruction()">{{i18n.plugins_common_button_checkErrorDetails}}</button>
    </div>
</app-notification-with-action>
