.control {
  padding: 20px 0px 20px;
  .item-table {
    .left-btn{
      width: 150px!important;
      height: 32px!important;
    }
    .title {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 16px;
      color: #222222;
    }

    .count-proportion {
      display: inline-block;
      height: 10px;
      vertical-align: middle;
      background: var(--table-count-bg-color) !important;
    }

    .totalDurtion {
      display: inline-block;
    }

    #cass-sql-table {
      position: relative;

      .expand-btn {
        position: absolute;
        left: 50%;
        bottom: -14px;
        height: 12px;
      }
    }
  }
}

.item-echart,
.item-tree {
  margin-top: 40px;
}

.item-echart .title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
  color: #222222;
}
.disable-btn {
  background: #e6ebf5 !important;
  border: 1px solid #e6ebf5 !important;
  color: #b8becc !important;
  cursor: not-allowed !important;
}

.snap_title {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}
.snap_content {
  font-size: 12px;
  line-height: 18px;
  color: #616161;
}
.red_count {
  width: 14px;
  height: 14px;
  font-size: 10px;
  background-color: #ed4b4b;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -6px;
}
.count_disabled {
  width: 14px;
  height: 14px;
  font-size: 10px;
  background-color: #f5f5f5;
  color: #cccccc;
  border: #cccccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -6px;
}
.analyz-svg{
  width: 240px;

  .browser-img {
    width: 240px;
  }
}
