.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../../../assets/img/home/webbanner.png');
  background-size: cover;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  height: 64px;
}
.headerPureBg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #061829;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 64px;
}

.header-left {
  margin-left: 22px;
  display: flex;
  align-items: center;

  .logo {
    width: 32px;
    height: 32px;
  }
}

.header-right-new {
  margin-right: 32px;
  position: relative;
  z-index: 999;
  display: flex;
  order: 1;
  align-items: center;
  .user-container {
    color: #fff;
    font-size: 16px;
    height: 64px;
    line-height: 64px;
    margin-left: 18px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .user-container:hover {
    .user-list-box{
      display:block;
    }
  }
  .user-container:nth-child(1) {
    padding-right: 24px;
    position: relative;
    &::after{
      content: '|';
      color: rgba($color: #fff, $alpha: 0.5);
      position: absolute;
      top:0;
      right:0;
      font-size: 10px;
      font-weight: bold;
    }
  }
  .user-container img {
    margin-left: 7px;
  }
  .user-container > img:nth-child(1) {
    margin-right: 5px;
  }
  .user-container:hover + .user-list-box {
    display: block;
    opacity: 1;
  }
  .user-list-box {
    width: max-content;
    height: auto;
    background-color: #061829;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: -50%;
    top: 64px;
    padding: 13px 0;
    color: #6c7280;
    z-index: 170;
    display: none;
    transition: 0.5s linear;
    line-height: 14px;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}
  .user-list-box.lang {
    right: -16px;
    width: auto;
  }
  .user-list-box.setting {
    right: -16px;
    width: auto;
  }
  .user-list-box.login {
    right: 0;
    width: auto;

  }
  .user-list-box > li {
    font-size: 14px;
    padding: 7px 32px;
    margin-top: 6px;
    cursor: pointer;
    white-space: nowrap;
    color: #aaa;
  }
  .user-list-box > li:nth-child(1) {
    margin-top: 0;
  }
  .user-list-box:hover {
    display: block;
    opacity: 1;
  }
  .user-list-box li:hover {
    color: #fff;
    background-color: #022547;
  }
}

.header-up {
  height: 12px;
  width: 12px;
  margin-left: 8px;
  background: url("../../../assets/img/header/icon_header_arrow_down.svg") center no-repeat;
}
.header-config {
  height: 16px;
  width: 16px;
  background: url("../../../assets/img/header/icon_header_setting.svg") no-repeat;
}
.user-container:nth-child(2):hover {
  margin-left: 6px;
  padding-left: 18px;
  .header-config {
    background: url("../../../assets/img/header/icon_header_setting_hover.svg") no-repeat;
  }
}
.header-lang {
  height: 13px;
  width: 15px;
  background: url("../../../assets/img/header/icon_header_more.svg") no-repeat;
}
.user-container:nth-child(3):hover {
  margin-left: 6px;
  padding-left: 18px;
  .header-lang {
    background: url("../../../assets/img/header/icon_header_more_hover.svg") no-repeat;
  }
}
.header-user {
  height: 23px;
  width: 24px;
}

li.notShow{
  display: none;
}

.content {
  overflow-y: auto;
}

.header-left .title {
  font-size: 16px;
  color: #ffffff;
  margin-left: 16px;
  height: 24px;
  line-height: 24px;
}

.mask2 {
  box-sizing: border-box;
  width: 560px;
  display: flex;
  flex-direction: column;
  padding: 18px 32px 0 32px;
  height: 95%;
  .edit-box {
    margin-top: 24px;
    margin-left: -16px;
    padding-right: 68px;
  }
  .create-title {
    border-bottom: dashed 1px #d4d9e6;
    padding-bottom:20px;
    color: #222;
    font-size: 20px;
  }

  .btn-box {
    margin: 32px 0;
    text-align: center;
    .user-sure-btn {
      margin-right: 16px;
    }
  }
}

/* update modal start */
.update-modal {
  position: relative;
  .img-box {
    position: absolute;
    top: 18px;
    right: 32px;
    cursor: pointer;
  }
}
/* update modal end */

:host .edit-box ::ng-deep .ti3-form .ti3-form-label {
  width: 190px;
}

.btn-box {
  text-align: center;
  .user-sure-btn {
    margin-right: 16px;
    width: 88px;
  }
  .user-close-btn {
    width: 88px;
  }
}

ti-formfield {
  ti-item {
    input {
      width: 300px;
    }
  }
}

.about-box{
  position: relative;
  text-align: left;
  .about-close {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  p{
    margin-top: 20px;
    font-size: 12px;
    color: #222;
    display: flex;
    align-items: center;
    span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #E1E6EE;
      margin-right: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
