<div class="open-mp">
    <p>{{i18n.hpc.hpc_target.open_mp}}</p>
    <!-- 非MPI模式 -->
    <div class="open-mp-box" [appLoading]="isLoading" *ngIf="!rankData.length">
        <app-common-table [isDetails]="false" [isFilters]="true" [commonTableData]="paralleData"></app-common-table>
        <div class="barrier">
            <app-common-table [isDetails]="false" [isFilters]="true" [commonTableData]="barrierData"></app-common-table>
        </div>
    </div>
    <!-- MPI模式 -->
    <div class="rank-box"  *ngIf="rankData.length" [appLoading]="isLoading">
        <ng-container *ngFor="let rank of rankData">
            <div class="rankline">
                <div class="rank-left">
                    <img src="./assets/img/summary/row.png" (click)="toggle(rank)" [ngClass]="{active:rank.expand}">
                    <span>{{i18n.hpc.hpc_target.rank}}{{rank.id | padStart: 3: '0' }}</span>
                </div>
                <div class="rank-right">
                    <span>{{i18n.hpc.basic.exe_time}}{{i18n.common_term_colon}}{{rank.exe_time}}{{i18n.common_term_task_crate_s}}</span>
                    <span>{{i18n.hpc.basic.serial_time}}{{i18n.common_term_colon}}{{rank.run_time}}{{i18n.common_term_task_crate_s}}</span>
                    <span>{{i18n.hpc.basic.parallel_time}}{{i18n.common_term_colon}}{{rank.paraller_time}}{{i18n.common_term_task_crate_s}}</span>
                    <span>{{i18n.hpc.basic.unbalance_time}}{{i18n.common_term_colon}}{{rank.unbalance_time}}{{i18n.common_term_task_crate_s}}</span>
                </div>
            </div>
            <div *ngIf="rank.expand" class="rank-mpi">
                <div class="rank-color">
                </div>
                <div class="rank-table">
                    <app-common-table [isDetails]="false" [isFilters]="false" [commonTableData]="paralleData"></app-common-table>
                    <div class="barrier">
                        <app-common-table [isDetails]="false" [isFilters]="true" [commonTableData]="barrierData"></app-common-table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>