<div class="modal-dialog">
    <div class="content flex-column">
        <span class="create-title">{{i18n.common_term_setting_label}}</span>
        <div class="common-warpper modal-dialog-container">
            <div>
                <div class="sys-item">
                <app-setting-label-item *ngIf="commonConfigInputValue.length" [config]="commonConfigSel" [value]="commonConfigSelValue"
                    (confirm)="onConfigConfirm($event)" [configInput]="commonConfigInput" [valueInput]="commonConfigInputValue">
                </app-setting-label-item>
            </div>
        </div>
    </div>
</div>