.light {
  --dial-rtt-tip-title-color: #616161;
}
.dark {
  --dial-rtt-tip-title-color: #aaaaaa;
}
.warrper {
  .dial-test-common-table-l1 {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .echart-header {
    display: flex;
    height: 24px;
    justify-content: space-between;
    .unit {
      font-size: 16px;
    }
  }
}

.tipWarpper {
  .title {
    font-size: 12px;
    height: 18px;
    color: var(--dial-rtt-tip-title-color);
  }
  .index-row {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    .pre {
      .color-box {
        display: inline-block;
        margin-right: 5px;
        width: 8px;
        height: 8px;
      }
      .pre-label {
        display: inline-block;
      }
    }
  }
}
