.show-tip {
    display: flex;
    .tipIcon {
        width: 13px;
        padding-left: 8px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}