<div class="box" >
  <div class="box-title" (click)='toggle.networkSubsystem=!toggle.networkSubsystem'>
    <img src="./assets/img/summary/row.png" class='title-icon'[ngClass]="{active: toggle.networkSubsystem}">
    {{i18n.sys.networkConfig}}
    <div class="titleDetail">
      <div tiOverflow *ngFor="let item of titleDetail">{{item.title}}<span>{{item.data}}</span></div>
    </div>

  </div>
  <div class="box-content" [ngClass]="{active: toggle.networkSubsystem}">
    <!-- 中断聚合 -->
    <div class="box" >
      <div class="box-title" (click)='toggle.polymerization=!toggle.polymerization'>
        <img src="./assets/img/summary/row.png" class='title-icon' [ngClass]="{active: toggle.polymerization}">
        {{i18n.sys_cof.sum.network_info.irq_aggre_title}}
        <img src="./assets/img/summary/compass.svg" class="compass" [tiTip]='susppendTipStr'
      tiTipMaxWidth='550px' *ngIf="susppendTipStr !='NULL'" tiTipPosition="top-left" />
      </div>
      <div class="box-content" [ngClass]="{active: toggle.polymerization}">
        <ti-table [(displayedData)]="polymerizationDisplayData" [srcData]="polymerizationContentData" [columns]="polymerizationTitle">
          <table>
            <thead>
              <tr>
                <th tiOverflow *ngFor="let column of polymerizationTitle;index as i">
                  <span [ngClass]="{'tableFirstData': i == 0}">
                    {{column.title}}
                    <img src="./assets/img/summary/tooltip.png"  [tiTip]='column.tipStr' tiTipPosition="top-left" *ngIf="i!=0" />
                  </span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!ifpolymerization">
              <tr *ngFor="let item of polymerizationDisplayData;">
                <td tiOverflow tiTipPosition='left'><span class="tableFirstData">{{item.data1}}</span></td>
                <td tiOverflow tiTipPosition='left'>{{item.data2}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data3}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data4 | thousandSeparator}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data5 | thousandSeparator}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data6 | thousandSeparator}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data7 | thousandSeparator}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="ifpolymerization">
              <tr class="ti3-table-nodata-simple">
                  <td tiColspan>
                    <img style='width:198px;' src='./assets/img/projects/nodata.png' />
                  <div style="font-size: 1rem" >{{polymerization}}</div>
                  </td>
              </tr>
          </tbody>
          </table>
          <ti-pagination *ngIf="polymerizationTotalNumber > 10" [(currentPage)]="polymerizationCurrentPage" style="padding-left: 10px;"
            [pageSize]="polymerizationPageSize"
            [(totalNumber)]="polymerizationTotalNumber">
          </ti-pagination>
        </ti-table>
      </div>
    </div>
    <div class="box">
      <div class="box-title" (click)='toggle.offload=!toggle.offload'>
        <img src="./assets/img/summary/row.png" class='title-icon' [ngClass]="{active: toggle.offload}">
        {{i18n.sys_cof.sum.network_info.offload_title}}
        <img src="./assets/img/summary/compass.svg"  class="compass"  [tiTip]='offloadTipStr'
        tiTipMaxWidth='400px' *ngIf="offloadTipStr !='NULL'" tiTipPosition="top-left" />
      </div>
      <div class="box-content" [ngClass]="{active: toggle.offload}">
        <ti-table [(displayedData)]="offloadDisplayData" [srcData]="offloadContentData" [columns]="offloadDataTitle">
          <table>
            <thead>
              <tr>
                <th tiOverflow *ngFor="let column of offloadDataTitle;index as i">
                  <span [ngClass]="{'tableFirstData': i == 0}">
                    {{column.title}}
                    <img src="./assets/img/summary/tooltip.png"  [tiTip]='column.tipStr' tiTipPosition="top-left" *ngIf="i!=0" />
                  </span>

                </th>
              </tr>
            </thead>
            <tbody *ngIf="!ifoffload">
              <tr *ngFor="let item of offloadDisplayData;">
                <td tiOverflow tiTipPosition='left'><span class="tableFirstData">{{item.data1}}</span></td>
                <td tiOverflow tiTipPosition='left'>{{item.data2}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data3}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data4}}</td>
                <td tiOverflow tiTipPosition='left'>
                  <span [ngClass]="{'redColor': item.tipStr && item.tipStr !='NULL'}">{{item.data5}}</span>
                  <img src="./assets/img/rocket.svg" class='rocket' [tiTip]='tipContent' [tiTipContext]='item.tipStr'
                  tiTipMaxWidth='550px' *ngIf="item.tipStr && item.tipStr !='NULL'" tiTipPosition="top-left" />
                </td>
                <td tiOverflow tiTipPosition='left'>{{item.data6}}</td>
                <td tiOverflow tiTipPosition='left'>
                  <span [ngClass]="{'redColor': item.lroSuggestion}">{{item.data7}}</span>
                  <img src="./assets/img/rocket.svg" class='rocket' [tiTip]='tipContent' [tiTipContext]='item.lroSuggestion'
                  tiTipMaxWidth='550px' *ngIf="item.lroSuggestion" tiTipPosition="top-left" />
                </td>
                <td tiOverflow tiTipPosition='left'>{{item.data8}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data9}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="ifoffload">
              <tr class="ti3-table-nodata-simple">
                  <td tiColspan>
                    <img style='width:198px;' src='./assets/img/projects/nodata.png' />
                  <div style="font-size: 1rem" >{{offload}}</div>
                  </td>
              </tr>
          </tbody>
          </table>
          <ti-pagination *ngIf="offloadTotalNumber > 10" [(currentPage)]="offloadCurrentPage" style="padding-left: 10px;"
            [pageSize]="offloadPageSize"
            [(totalNumber)]="offloadTotalNumber">
          </ti-pagination>
        </ti-table>
      </div>
    </div>
    <!-- 队列 -->
    <div class="box">
      <div class="box-title" (click)='toggle.lineUp=!toggle.lineUp'>
        <img src="./assets/img/summary/row.png" class='title-icon' [ngClass]="{active: toggle.lineUp}">
        {{i18n.sys_cof.sum.network_info.queue_title}}
        <img src="./assets/img/summary/compass.svg" class="compass" [tiTip]='listTipStr' tiTipMaxWidth='500px'
      *ngIf="listTipStr !== 'NULL'" tiTipPosition="top-left" />
      </div>
      <div class="box-content" [ngClass]="{active: toggle.lineUp}">
        <ti-table [(displayedData)]="lineUpDisplayData" [srcData]="lineUpContentData" [columns]="lineUpTitle">
          <table>
            <thead>
              <tr>
                <th tiOverflow *ngFor="let column of lineUpTitle;index as i">
                  <span [ngClass]="{'tableFirstData': i == 0}">{{column.title}}</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!iflineUp">
              <tr *ngFor="let item of lineUpDisplayData;">
                <td tiOverflow tiTipPosition='left'><span class="tableFirstData">{{item.data1}}</span></td>
                <td tiOverflow tiTipPosition='left'>{{item.data2 | thousandSeparator}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="iflineUp">
              <tr class="ti3-table-nodata-simple">
                  <td tiColspan>
                    <img style='width:198px;' src='./assets/img/projects/nodata.png' />
                  <div style="font-size: 1rem" >{{lineUp}}</div>
                  </td>
              </tr>
          </tbody>
          </table>
          <ti-pagination *ngIf="lineUpTotalNumber > 10" [(currentPage)]="lineUpCurrentPage" style="padding-left: 10px;"
            [pageSize]="lineUpPageSize"
            [(totalNumber)]="lineUpTotalNumber">
          </ti-pagination>
        </ti-table>
      </div>
    </div>
    <div class="box" >
      <div class="box-title" (click)='toggle.Interrupt=!toggle.Interrupt'>
        <img src="./assets/img/summary/row.png" class='title-icon' [ngClass]="{active: toggle.Interrupt}">
        {{i18n.sys_cof.sum.network_info.numa_core_title}}
        <img src="./assets/img/summary/compass.svg"  class="compass"  [tiTip]='numaTipStr' tiTipMaxWidth='800px'
      *ngIf="listTipStr !== 'NULL'" tiTipPosition="top-left" />
      </div>
      <div class="box-content" [ngClass]="{active: toggle.Interrupt}">
        <ti-table [(displayedData)]="InterruptDisplayData" [srcData]="InterruptContentData" [columns]="InterruptTitle">
          <table>
            <thead>
              <tr>
                <th tiOverflow *ngFor="let column of InterruptTitle;index as i" [ngClass]="{'show-tip': column.tip}">
                  <span [ngClass]="{'tableFirstData': i == 0}">{{column.title}}</span>
                  <div *ngIf="column.tip" class="tipIcon">
                    <hy-theme-content [tiTip]="column.tip" tiTipPosition="right" tiTipMaxWidth='400px'>
                        <app-icon-static [name]="'questionMarkTipLight'" light></app-icon-static>
                        <app-icon-static [name]="'questionMarkTipDark'" dark></app-icon-static>
                    </hy-theme-content>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!ifInterrup">
              <tr *ngFor="let item of InterruptDisplayData;">
                <td tiOverflow tiTipPosition='left'><span class="tableFirstData">{{item.data1}}</span></td>
                <td tiOverflow tiTipPosition='left'>{{item.data2 | thousandSeparator}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data3 | thousandSeparator}}</td>
                <td tiOverflow tiTipPosition='left'>{{item.data4}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="ifInterrup">
              <tr class="ti3-table-nodata-simple">
                  <td tiColspan>
                    <img style='width:198px;' src='./assets/img/projects/nodata.png' />
                  <div style="font-size: 1rem" >{{Interrup}}</div>
                  </td>
              </tr>
          </tbody>
          </table>
          <ti-pagination *ngIf="InterrupTotalNumber > 10" [(currentPage)]="InterrupCurrentPage" style="padding-left: 10px;"
            [pageSize]="InterrupPageSize"
            [(totalNumber)]="InterrupTotalNumber">
          </ti-pagination>
        </ti-table>
      </div>
    </div>
    <!-- 环形缓冲区 -->
    <div class="box">
      <div class="box-title" (click)='toggle.netbuff=!toggle.netbuff'>
        <img src="./assets/img/summary/row.png" class='title-icon' [ngClass]="{active: toggle.netbuff}">
        {{i18n.sys_cof.sum.network_info.nic_buff.circle_buff}}
        <img src="./assets/img/summary/compass.svg" class="compass" [tiTip]='i18n.sys_summary.panorama.tip.circle_buff' tiTipMaxWidth='500px'
        *ngIf="listTipStr !== 'NULL'" tiTipPosition="top-left" />
      </div>
      <div class="box-content" [ngClass]="{active: toggle.netbuff}">
        <ti-table [(displayedData)]="nicBuff.displayData" [srcData]="nicBuff.srcData" [columns]="nicBuff.colums">
          <table>
            <thead>
              <tr>
                <th tiOverflow *ngFor="let col of nicBuff.colums; index as i">
                  <span *ngIf="i===0" class="tableFirstData">{{col.title}}</span>
                  <span *ngIf="i===1 || i===2">
                    {{col.title}}
                    <img src="./assets/img/summary/tooltip.png" [tiTip]='col.tipStr' tiTipPosition="top-left"/>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!nicBuff.isNull">
              <tr *ngFor="let row of nicBuff.displayData;">
                <td tiOverflow tiTipPosition='left'><span class="tableFirstData">{{row.nic_name}}</span></td>
                <td tiOverflow tiTipPosition='left'>{{row.tx | thousandSeparator}}</td>
                <td tiOverflow tiTipPosition='left'>{{row.rx | thousandSeparator}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="nicBuff.isNull">
              <tr class="ti3-table-nodata-simple">
                <td tiColspan>
                  <img style='width:198px;' src='./assets/img/projects/nodata.png' />
                  <div style="font-size: 1rem">{{Interrup}}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <ti-pagination *ngIf="nicBuff.totalNumber > 10" [(currentPage)]="nicBuff.currentPage"
            style="padding-left: 10px;" [pageSize]="nicBuff.pageSize" [(totalNumber)]="nicBuff.totalNumber">
          </ti-pagination>
        </ti-table>
      </div>
    </div>
  </div>
</div>
<ng-template #tipContent let-context='context'>
  <span [innerHtml]="context"></span>
</ng-template>

