.load-monitoring {

  .load-cpu-load,
  .load-memory-usage,
  .load-io-statistics {
    margin-top: 32px;
  }

  .cpu-header {
    margin-bottom: 10px;
    .title {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

:host .load-monitoring ::ng-deep .load-table {
  .cpu-header {
    margin-bottom: 10px;
    .title {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .cpu-table {
    .cell-icon {
      img {
        position: relative;
        top: 3px;
        margin-left: 8px;
        cursor: default;
      }
    }

    .ti3-table-container {
      max-height: 321px;
    }
  }

  .ti3-table > .ti3-table-container > table > tbody > tr > td {
    line-height: 11px;
  }
  .ti3-table>.ti3-table-fixed-head>table>thead>tr>th{
    border: 0px;
  }
  .ti3-table>.ti3-table-fixed-head>table>thead>tr>th:first-child, .ti3-table>.ti3-table-container>table>tbody>tr>td:first-child{
    padding-left: 24px;
  }
}

:host ::ng-deep .ti3-page-container .ti3-pag-goto .ti3-pag-goto-input{
  text-align: center !important; 
}
