.modal-content {
  > p {
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: var(--common-color-font-primary);
    display: flex;

    &:first-of-type {
      margin-bottom: 20px;
    }

    .label {
      flex-shrink: 0;
      width: 178px;
      color: var(--common-color-font-secondary);
      padding-right: 16px;
      box-sizing: border-box;
    }

  }

  .source-code-box {
    height: 359px;
    padding-top: 20px;
    box-sizing: border-box;
  }
}
