.method-box {
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  .select-box {
    font-stretch: normal;
    letter-spacing: 0px;
    color: #282b33;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .select-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .select-item:nth-child(2) {
    margin-left: 20px;
  }

  .content {
    margin-top: 30px;
  }

  .chartSty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content > .tree {
    height: 100%;
  }

  .content > .chart {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tree {
    display: flex;
    flex-direction: column;
    .tree-nodes {
      width: 100%;
      height: 610px;
      overflow: auto;
      .noData {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: #616161;
          font-size: 14px;
          line-height: 21px;
          margin-top: 5px;
          text-align: center;
        }
      }
    }
    .pagenation {
      margin: 20px 0 20px 0;
      height: 28px;
    }
  }

  .loadData {
    width: 100%;
    min-height: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.d3-flame-graph rect {
  stroke: none !important;
}
.d3-flame-graph rect:hover {
  stroke: #474747 !important;
  stroke-width: 0.5 !important;
  cursor: pointer !important;
  border: 1px solid #474747 !important;
}
.d3-flame-graph foreignObject {
  border: 1px solid #fff !important;
}
.d3-flame-graph foreignObject:hover {
  stroke: #474747;
  stroke-width: 0.5;
  cursor: pointer;
  border: 1px solid #474747 !important;
}
// 栈跟踪样式 -- start
.tree .ti3-tree-parent-node {
  white-space: nowrap !important;
}
.tree .ti3-tree-parent-node > li {
  width: 100% !important;
  overflow: hidden !important;
  display: table !important;
}
.tree .ti3-tree-leaf-node {
  width: 100% !important;
  overflow: hidden !important;
  display: table !important;
}
.tree .ti3-tree-content-box {
  width: 100% !important;
  white-space: nowrap !important;
}
.tree .ti3-tree-node-text {
  overflow: visible !important;
  text-overflow: visible !important;
}
.expandAll {
  vertical-align: middle;
}
// 栈跟踪样式 -- end

.tip-for-ie {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 999;
  .warpper {
    width: 100%;
    position: relative;
    .ie-tip {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 44px;
      background-color: #edf4ff;
      border-radius: 2px;
      img {
        margin: 0 13px 0 20px;
      }
      .ie-tip-des {
        margin-right: 20px;
      }
    }
  }
}