<div class="cpu-detail" >
    <div class="cpu-usage" *ngIf="transmission">
        <span class="box-title" style="position: relative;display: block">{{i18n.sys.titles.netOk}}
        </span>
        <div class="table-box" [appLoading]='okLoading'>
          <div *ngIf="okEchartsData.length>0">
            <div *ngFor="let item of okEchartsData" >
            <app-tables #netOk [timeLine]='timeLine' (loading)="okLoading = false" [datas]='item' (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
            </div>
          </div>
            <div class="nodata" *ngIf="okEchartsData.length==0 && !okLoading">
                <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
                <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
            </div>
        </div>
    </div>
    <div class="cpu-usage"  *ngIf="malfunction">
        <span class="box-title" style="position: relative;display: block">{{i18n.sys.titles.netError}}
        </span>
        <div class="table-box" [appLoading]='errorLoading'>
          <div *ngIf="errorEchartsData.length>0">
            <div *ngFor="let item of errorEchartsData" >
            <app-tables #netError [timeLine]='timeLine' (loading)="errorLoading = false" [datas]='item' (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
            </div>
          </div>
            <div class="nodata" *ngIf="errorEchartsData.length==0 && !errorLoading">
                    <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
                    <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
                </div>
        </div>
    </div>
</div>
