.divider {
  height: 100%;
  width: 1px;
  background-color: var(--divider-bg-color);
  float: left;
  position: relative;
  .toggle-btn {
    position: absolute;
    top: calc(50% - 83px);
    left: -16px;
    cursor: pointer;
    height: 90px;
    width: 20px;
  }
  .activeToggle {
    transform: rotateY(180deg);
    left: -3px;
  }
}
