# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 8 Chrome versions
last 6 Firefox versions
last 2 Safari versions
Edge >=10
IE 9
IE 10
IE 11
