.mission-create-pid-process {
    margin-bottom: 10px;

    .pid-item,
    .process-item {
        .item-checkbox {
            margin: 5px 0;
        }
        textarea {
          height: 60px;
          padding: 5px 10px;
          box-sizing: border-box;
          border-radius: 2px;
        }
    }

    ::ng-deep .process-item {
      margin-top: 10px;

      .ti3-checkbox {
        width: fit-content;
      }

      .ti3-form {

        .ti3-form-content {
          padding-bottom: 10px;
  
          .processInput {
            width: 300px;
            margin-bottom: 10px;
          }
        }

        .ti3-form-require {
          padding-bottom: 0;
  
          .ti3-icon {
            position: relative;
          }
          
          .ti3-icon-staricon::before {
            position: absolute;
            top: -4px;
          }
        }
      } 

    }
}
