<div class="mission-create-pid-process" [ngClass]="{ modify: isModifySchedule, index: !isModifySchedule }">
  <form [formGroup]="ppFormGroup">
    <div class="process-item">
      <ti-formfield>
        <ti-item [required]="ctl.processCheck.value">
          <input type="checkbox" tiCheckbox tiValidation formControlName="processCheck" [label]="i18n.mission_create.process_alias"
            (click)="types === 'java-mixed-mode' ? checkClick(0) : null" (ngModelChange)="processCheckChange()">
        </ti-item>
        <ti-item>
          <input type="text" tiText [tiValidation]='validation' formControlName="processInput"
            [placeholder]="processPlaceholder" class="processInput">
        </ti-item>
        <ti-item [required]="ctl.pidCheck.value">
          <input type="checkbox" tiCheckbox tiValidation formControlName="pidCheck" [label]="'PID'"
            (click)="types === 'java-mixed-mode' ? checkClick(1) : null" (ngModelChange)="pidCheckChange()">
        </ti-item>
        <ti-item>          
          <textarea tiTextarea *ngIf="atMostPid === attachProcessPidNumMax" [tiValidation]='validation' formControlName="pidInput"
            [placeholder]="i18n.mission_create.pid_input_placeholder" style="width: 300px"></textarea>
          <input *ngIf="atMostPid !== attachProcessPidNumMax" type="text" tiText [tiValidation]='validation' formControlName="pidInput"
            [placeholder]="i18n.mission_create.pid_input_placeholder_java" style="width: 300px">
        </ti-item>
      </ti-formfield>
    </div>
  </form>
</div>