// 任务详情布局
:host ::ng-deep .custemDetailContainer {
  margin-top: 0;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100%;

  >.ti3-tabs-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    >.ti3-tabs-container1 {
      flex: 0 0 auto;
    }

    >.ti3-tab-content {
      flex-grow: 1;
      overflow: hidden;
      width: 104%;  // 解决home界面tab-content 2%的左右margin导致子组件tab content的滚动条太过靠近内容的问题
      margin-left: -2%;

      >.ti3-tab-pane {
        height: 100%;
        box-sizing: border-box;
        padding-top: 0;

        >.content-container {
          height: 100%;
          padding: 20px 2%;  // padding是为了滚动条可以贴边
          box-sizing: border-box;
          overflow-y: auto;

          &.noPadding {
            padding: unset;
          }
        }
      }
    }
  }
}