#detail-container {
    .content-container {
        opacity: 0;
        padding-top: 40px;
    }
}
.showDetail {
    opacity: 1 !important;
}
::ng-deep .ti3-tabs {
    width: 93.5%;
    position: fixed !important;
    height: 80px !important;
    background: var(--vscode-editor-background) !important;
    z-index: 999;
    padding-top: 30px !important;
}
::ng-deep .ti3-tabs + .ti3-tab-slider {
    position: fixed !important;
    margin-top: 56px;
    margin-left: 80px;
    z-index: 999;
}
::ng-deep #detail-container .ti3-tabs-container .ti3-tabs > li {
    margin: 0 30px 0 0;
    a {
        padding: 10px 0 !important;
        ti-tab-header {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
::ng-deep .ti3-tooltip {
    white-space: pre-wrap !important;
    max-height: 600px;
}
::ng-deep .vscode-dark {
    ::ng-deep .ti3-page-container .ti3-pag-pages > .ti3-pag-next {
        font-size: 12px !important;
        background-color: unset !important;
        color: #666666 !important;
    }
    ::ng-deep .ti3-page-container .ti3-pag-pages > .ti3-pag-prev {
        font-size: 12px !important;
        background-color: unset !important;
        color: #666666 !important;
    }
    ::ng-deep .ti3-page-container .ti3-pag-page {
        font-size: 12px !important;
        .active {
            font-weight: normal;
        }
    }
    ::ng-deep .ti3-page-container .ti3-page-mini-option,
    .ti3-page-container .ti3-page-size-option {
        height: 24px !important;
        border-color: #888888 !important;
    }
    .summary-box {
        color: #e8e8e8;
    }
    .back {
        color: #e8e8e8;
    }
    .box {
        background: #2a2a2a !important;
    }
    .box-title {
        background: #252525 !important;
        box-shadow: inset 0px -1px 0px 0px #4b4b4b !important;
    }
    .box-content {
        border-left-color: #0067ff;
        background: none !important;
    }
    .box-content .ti3-table table thead tr th,
    .ti3-table > .ti3-table-fixed-head > .ti3-table-fixed-head-filler,
    .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
        background: #2a2a2a !important;
        color: #e8e8e8 !important;
        border-bottom-color: #4b4b4b !important;
    }
    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th {
        color: #e8e8e8 !important;
    }
    .box-content .ti3-table table tbody tr td {
        background: #161616 !important;
        color: #aaaaaa !important;
        border-bottom-color: #4b4b4b !important;
        font-size: 14px;
    }
    .ti3-table table tbody tr td,
    .box-content .ti3-table table tbody tr td {
        border-top-color: #4b4b4b !important;
        border-bottom: 1px solid #545454;
        color: #aaaaaa;
    }
    #box-title .content {
        border-bottom: dashed 1px #545454 !important;
    }
    .box-title .titleDetail div {
        border-left-color: #545454 !important;
    }
    .ti3-table table thead tr th:not(:last-child)::after {
        background: #4b4b4b !important;
    }
    #box-title .content .content-intermediate div em {
        color: #0067ff !important;
    }
    .box-title .titleDetail {
        color: #aaaaaa !important;
        font-size: 12px !important;
    }
    #box-title .content .content-left div span {
        color: #aaaaaa;
    }
    #box-title .content .content-intermediate div span {
        color: #aaaaaa;
    }
    #box-title .content .content-right div span {
        color: #aaaaaa;
    }
    #box-title .content .viewDetail {
        color: #0067ff !important;
    }

    .viewDetail-mask {
        background-color: #252526 !important;
        box-shadow: 2px 3px 4px 0px #000000, -2px -3px 4px 0px rgba(0, 0, 0, 0.5) !important;
        .viewDetail-title {
            color: #e8e8e8 !important;
            border-bottom-color: #6e6e6e !important;
        }
        .viewDetail-content {
            color: #aaaaaa !important;
        }
        button {
            background-color: #313131 !important;
            color: #e8e8e8 !important;
            border-color: #dddddd !important;
        }
        button:hover {
            background-color: #313131 !important;
            color: #267dff !important;
            border-color: #267dff !important;
        }
        button:active {
            background-color: #313131 !important;
            color: #0057d9 !important;
            border-color: #0057d9 !important;
        }
    }

    .box-content .ti3-table table tbody :hover {
        background: #313131 !important;
    }

    .raid-config-title {
        color: #aaaaaa !important;
    }

    .raid-config-content {
        color: #e8e8e8 !important;
    }
}

::ng-deep .vscode-light {
    --background-clr: #ffffff;
    .box-title {
        box-shadow: inset 0px -1px 0px 0px #e6ebf5 !important;
    }

    .box-content .ti3-table table tbody :hover {
        background: #267dff !important;
    }
    .ti3-table > .ti3-resize-wrapper > table > tbody > tr.ti3-odd-tr:not(.ti3-selected-tr),
    .ti3-table
        > .ti3-resize-wrapper
        > table
        > tbody
        > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
    .ti3-table > .ti3-table-container > table > tbody > tr.ti3-odd-tr:not(.ti3-selected-tr),
    .ti3-table
        > .ti3-table-container
        > table
        > tbody
        > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
    .ti3-table > .ti3-table-fixed-head > table > tbody > tr.ti3-odd-tr:not(.ti3-selected-tr),
    .ti3-table
        > .ti3-table-fixed-head
        > table
        > tbody
        > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
    .ti3-table > table > tbody > tr.ti3-odd-tr:not(.ti3-selected-tr),
    .ti3-table
        > table
        > tbody
        > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr) {
        background-color: #fff !important;
    }
    .msg-content[_ngcontent-uls-c21] .msg-main[_ngcontent-uls-c21] .msg-title[_ngcontent-uls-c21] {
        background: #ffffff !important;
    }
}
