.progress-bg {
  background: rgba(0, 0, 0, 0.298);
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10000;
}

.progress-modal {
  background: #fff;
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  width: 500px;
  padding: 32px;

  .modal-header {
    position: relative;
    margin-bottom: 20px;

    .icon {
      width: 24px;
      height: 24px;
      vertical-align: bottom;
    }

    .title {
      font-size: 18px;
      flex: 1;
      margin-left: 10px;
      line-height: 24px;
    }

    .close-icon {
      position: absolute;
      top: -20px;
      right: -15px;
    }
  }

  .madal-content {
    margin-bottom: 30px;

    .content {
      color: #6c7280;
      font-size: 14px;
    }
  }
}
