<div class="hotWord-table-content">
    <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" tiColsResizable>
        <div class="ti3-table-fixed-head">
            <table>
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of columns, index as i">
                            <th width="{{ column.width }}">
                                <div class="thContent">
                                    <ti-cell-text tiOverflow>
                                        {{ isSnapshotCompare ? i18n.profileMemorydump.snapShot.jdbc[column.title] :
                                        i18n.protalserver_profiling_jdbc[column.title] }}
                                    </ti-cell-text>
                                    <ti-icon class="ti3-sort" [name]="column.sortStatus" (click)="onTableSort(i)"
                                        *ngIf="column.isSort"></ti-icon>
                                </div>
                            </th>
                        </ng-container>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="ti3-table-container ti3-resize-wrapper" style="height: auto; max-height: 320px;"
            [hyNodata]="{text: i18n.common_term_task_nodata }" [nodataShow]="displayed.length === 0">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow width="{{ columns[i].width }}" *ngFor="let column of columns, index as i"
                            [ngClass]="{'totalDurtionTh': i === 1}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let node of displayed" [hidden]="!node.isShow" (click)="getScrollTop($event)">
                        <td [ngStyle]="getLevelStyle(node)" tiOverflow>
                            <span *ngIf="node.hasChildren" class="ti3-table-tree" (click)="toggle(node)">
                                <i class="ti3-icon"
                                    [ngClass]="{'ti3-icon-plus-square': !node.expand,'ti3-icon-minus-square': node.expand}"></i>
                            </span>
                            <span class="expandAll" *ngIf="!node.expand && node.hasChildren"
                                (click)="expandAllNode(node)">
                                <img src="./assets/img/profiling/expand.svg">
                            </span>
                            <span class="expandAll" *ngIf="node.expand && node.hasChildren"
                                (click)="expandAllNode(node)">
                                <img src="./assets/img/profiling/noExpand.svg">
                            </span>
                            <span [ngStyle]="{'padding-left': node.hasChildren ? '0' : '46px'}">{{ node.label }}</span>
                        </td>
                        <ng-container *ngIf="isSnapshotCompare">
                            <td tiOverflow>
                                <span *ngIf="node.own==='A'">--</span>
                                <span *ngIf="node.own==='A&B' || node.own==='B'">
                                    <span class="count-proportion"
                                        [ngStyle]="{ width: (node.insCountWidth || 'inherit') + 'px' }"></span>
                                    <span style="padding-left: 5px;">{{ node.totalDurPer }}</span>
                                </span>
                            </td>
                            <td tiOverflow>
                                <span *ngIf="node.own==='A'">--{{i18n.profileMemorydump.snapShot.onlyASnapshot}}</span>
                                <span *ngIf="node.own==='B'">--{{i18n.profileMemorydump.snapShot.onlyBSnapshot}}</span>
                                <span *ngIf="node.own==='A&B'">
                                    <span *ngIf="node.compare.totalDur>= 0" class="count-fill-red">
                                        <span>+</span>
                                        <span>{{ node.compare.totalDur | separator }}</span>
                                    </span>
                                    <span *ngIf="node.compare.totalDur<0" class="count-fill-greed">
                                        <span>{{ node.compare.totalDur | separator }}</span>
                                    </span>
                                    <span *ngIf="node.compare.totalPer>= 0" class="count-fill-red">
                                        <span>(+</span>
                                        <span>{{ node.compare.totalPer | separator }}%)</span>
                                    </span>
                                    <span *ngIf="node.compare.totalPer<0" class="count-fill-greed">
                                        <span>({{ node.compare.totalPer | separator }}%)</span>
                                    </span>
                                </span>
                            </td>
                            <td tiOverflow>
                                <span *ngIf="node.own==='A'">--</span>
                                <span *ngIf="node.own==='A&B' || node.own==='B'">
                                    {{ node.aver | separator }}
                                </span>
                            </td>
                            <td tiOverflow>
                                <span *ngIf="node.own==='A'">--{{i18n.profileMemorydump.snapShot.onlyASnapshot}}</span>
                                <span *ngIf="node.own==='B'">--{{i18n.profileMemorydump.snapShot.onlyBSnapshot}}</span>
                                <span *ngIf="node.own==='A&B'">
                                    <span *ngIf="node.compare.aver>= 0" class="count-fill-red">
                                        <span>+</span>
                                        <span>{{ node.compare.aver | separator }}</span>
                                    </span>
                                    <span *ngIf="node.compare.aver<0" class="count-fill-greed">
                                        <span>{{ node.compare.aver | separator }}</span>
                                    </span>
                                </span>

                            </td>
                            <td tiOverflow>
                                <span *ngIf="node.own==='A'">--</span>
                                <span *ngIf="node.own==='A&B' || node.own==='B'">{{ node.count | separator }}</span>
                            </td>
                            <td tiOverflow>
                                <span *ngIf="node.own==='A'">--{{i18n.profileMemorydump.snapShot.onlyASnapshot}}</span>
                                <span *ngIf="node.own==='B'">--{{i18n.profileMemorydump.snapShot.onlyBSnapshot}}</span>
                                <span *ngIf="node.own==='A&B'">
                                    <span *ngIf="node.compare.count>= 0" class="count-fill-red">
                                        <span>+</span>
                                        <span>{{ node.compare.count | separator}}</span>
                                    </span>
                                    <span *ngIf="node.compare.count<0" class="count-fill-greed">
                                        <span>{{ node.compare.count | separator}}</span>
                                    </span>
                                </span>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="!isSnapshotCompare">
                            <td tiOverflow>
                                <span class="count-proportion" [ngStyle]="{
                                    width: (node.insCountWidth || 'inherit') + 'px'
                                }"></span>
                                <span style="padding-left: 5px;" [tiTip]="node.isShowTip ? node.totalDurPer : ''">{{
                                    node.totalDurPer }}</span>
                            </td>
                            <td tiOverflow>
                                {{ node.aver }}
                            </td>
                            <td tiOverflow>{{ node.count }}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </ti-table>
    <div class="expand-btn" (click)="expandTable()" *ngIf="displayed.length !== 0">
        <hy-theme-content>
            <img dark [hidden]="expandFlag" (mouseenter)="libService.onHoverIcon('expand-down-dark')" (mouseleave)="libService.onHoverIcon()"
                [src]="getImgSrc('expand-down-dark')" />
            <img dark  [hidden]="!expandFlag" (mouseenter)="libService.onHoverIcon('expand-up-dark')" (mouseleave)="libService.onHoverIcon()"
                [src]="getImgSrc('expand-up-dark')" />
            <img light [hidden]="expandFlag" (mouseenter)="libService.onHoverIcon('expand-down-light')" (mouseleave)="libService.onHoverIcon()"
                [src]="getImgSrc('expand-down-light')" />
            <img light [hidden]="!expandFlag" (mouseenter)="libService.onHoverIcon('expand-up-light')" (mouseleave)="libService.onHoverIcon()"
                [src]="getImgSrc('expand-up-light')" />
        </hy-theme-content>
    </div>
</div>