.item-table {
    margin-bottom: 50px;

    .count-proportion {
        display: inline-block;
        height: 10px;
        vertical-align: middle;
        background: var(--proportion-bg-color) !important;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 32px;

        .title {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .totalDurtion {
            display: inline-block;
        }

        .mongodb-threshold {
            width: 80px;
            height: 28px !important;
        }
    }
}
.red_count {
    width: 14px;
    height: 14px;
    background-color: #ed4b4b;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: 18px;
}

::ng-deep .vscode-dark {
    .threshold {
        margin-right: 10px;
        font-size: 14px;
        color: #e8e8e8;
    }
}

:host ::ng-deep .ti3-spinner-downicon {
    display: none;
}

:host ::ng-deep .ti3-spinner-upicon {
    display: none;
}

:host ::ng-deep .ti3-spinner-input-box {
    top: -1px !important;
    left: -1px !important;
    width: 80px !important;
    border-radius: 2px;
}

:host ::ng-deep .ti3-spinner-input-box>input {
    text-align: left !important;
    padding: 14px !important;
    color: var(--text-color-d-e8-l-2) !important;
}


:host ::ng-deep [tiText][disabled]:disabled {
    color: #aaa !important;
}

.expand-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    ::ng-deep hy-theme-content {
        display: flex;
        margin-top: -1px;
        z-index: 0;
    }
}

.expandAll {
    img {
        vertical-align: middle;
        margin-right: 6px;
    }
}
.count-fill-red {
    color: #e85d54;
}

.count-fill-greed {
    color: #45cc90;
}

::ng-deep .hotWord-table-content .thContent {
    display: flex;
    align-items: center;
    height: 32px;
    .ti3-cell-text-container {
        height: 32px;
        line-height: 32px;
        .ti3-cell-text {
            max-width: 100% !important;
        }
    }
    .ti3-sort {
        margin-left: 7px;
    }
}