#detail-container {
  width: 100%;
  padding: 40px 80px;
  box-sizing: border-box;
  transform: translateZ(0);
  .content-container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    .group {
      height: 32px;
      background: #12223b;
      padding: 0 8px;
      line-height: 32px;
      box-sizing: border-box;
      .group-list {
        margin-right: 30px;
        font-size: 12px;

        .function-label {
          color: #aaaaaa;
          margin-right: 10px;
        }
        .function-content {
          color: #e8e8e8;
          margin-left: 8px;
        }
      }
    }

    .func-main {
      margin-top: 10px;
      display: flex;
      flex-direction: row;

      .source-left,
      .assembly-right {
        flex: 1;
        background: #161616;
      }
      .source-left {
        margin-right: 80px;
        .table-container {
          height: 100%;
          .table-title {
            height: 46px;
            margin-bottom: 10px;

            h2 {
              font-weight: 400;
              color: #e8e8e8;
              font-size: 20px;
            }
            img {
              width: 32px;
              height: 32px;
              margin: 0;
            }
          }
        }
      }

      .assembly-right {
        .table-container {
          .table-title {
            height: 46px;
            display: flex;
            justify-content: space-between;
            justify-items: center;
            margin-bottom: 10px;

            h2 {
              font-weight: 400;
              color: #e8e8e8;
              font-size: 20px;
            }
            div {
              height: 32px;
              img {
                width: 32px;
                height: 32px;
                margin: 0 0 0 8px;
              }
            }
          }
        }
      }
    }

    .source-img {
      border: 1px solid #d4d9e6;
      border-radius: 5px;
      width: 77.3vw;
      margin-top: 10px;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      height: 312px;
    }
  }
}
.source-table {
  text-align: left;
  border-width: 0;
  width: 100%;
}
.source-table thead tr {
  width: 100%;
}
.source-table thead th {
  box-sizing: border-box;
  position: relative;
  cursor: default;
  background-color: #e1e4e5;
  outline: 0;
  line-height: 32px;
  color: #333;
  font-weight: 400;
  border-left: none;
  padding: 0 10px;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-container {
  transform: translateZ(0);
}

.source-table tbody {
  margin-top: 34px;
}
.source-table > tbody > tr {
  background: #161616 !important;
  box-shadow: 0 -1px 0 0 #545454;
  height: 32px;
  font-size: 12px;
}
.table-box {
  height: 46vw;
  min-height: 19vw;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateZ(0);
}
.table-header div,
.table-header2 div {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  cursor: default;
  background-color: #2a2a2a;
  outline: 0;
  line-height: 32px;
  color: #e8e8e8;
  font-weight: 400;
  font-size: 12px;
  border-left: none;
  padding: 0 10px;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 -1px 0 0 #545454;
  border-right: 1px solid #4b4b4b;
}
.table-header div:last-child,
.table-header2 div:last-child {
  border-right: 0;
}
.table-header div:nth-child(1) {
  width: 30%;
  padding: 0 0 0 24px;
}
.table-header div:nth-child(2) {
  width: 50%;
}
.table-header div:nth-child(3) {
  width: 20%;
}
.table-header2 div:nth-child(1) {
  width: 20%;
}
.table-header2 div:nth-child(2) {
  width: 20%;
}
.table-header2 div:nth-child(3) {
  width: 40%;
}
.table-header2 div:nth-child(4) {
  width: 20%;
}
:host .source-table ::ng-deep .ti3-table-tree.active {
  transform: rotate(90deg);
}
.ti3-table-tree {
  display: inline-block;
}
.source-img {
  position: relative;
}
#insvg {
  position: relative;
  transform-origin: center center;
  text-align: center;
  height: 100%;
  margin-top: 30px;
}
.svg-title {
  margin-bottom: 10px;
  position: absolute;
  z-index: 111;
  width: 100%;
}
.svg-title h2 {
  display: inline-block;
}
.svg-title span {
  float: right;
  margin-right: 10px;
}
.svg-title span img {
  margin-right: 20px;
}
.sort-title {
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}
:host ::ng-deep .func-main .sort-box {
  position: static;
}
.operate-box {
  float: right;
}
.operate-box img {
  margin-right: 8px;
  cursor: pointer;
}
:host ::ng-deep .chen-nodata-td {
  background: #161616 !important;
}

.chen-nodata-td {
  width: 9.5%;
  display: block;
  margin-bottom: 15px;

  > span {
    display: inline-block;
  }
}
