.download-msg {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    background-color: #F0F6FF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px #0067FF;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px; 
    color: #282b33;
    margin-bottom: 15px;
}

/* 生成 csr 文件 start */
.csr-modal {
    width: 496px;
}
/* 生成 csr 文件 end */

.ti3-table > table > tbody > tr > td, 
.ti3-table > table > thead > tr > th {
    border-bottom: 1px solid #e1e6ee;
}

.msg {
    margin-bottom: 16px;
    margin-top: 24px;
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    p {
        font-size: 14px;
        color: #000;
    }
}

.status-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #61D274;
    vertical-align: middle;
    &.reserve-icon {
        background-color:#63B6F7;
    }
    &.failed-icon {
        background-color:#F45C5E;
    }
}

.config-modal {
    margin: 18px 32px 32px 32px;

    .mask-title {
        font-size: 20px;
        padding-bottom: 17px;
        border-bottom: 1px dashed #E1E6EE;
        position: relative;

        .close-btn {
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }

    .mask-container {
        margin-left: -16px;
        margin-top: 26px;
        & > p {
            margin-left: 16px;
        }
        p {
           font-size: 14px;
           color: #616161;
           line-height: 20px;
           margin-bottom: 26px;

           img {
               width: 24px;
               height: 24px;
               vertical-align: middle;
               margin-right: 8px;
           }
        }

        button:nth-of-type(1) {
            margin-right: 16px;
        }

        .upload-error {
            color: rgb(237, 75, 75);
            font-size: 12px;
            margin-top: 5px;

            img {
                width: 16px;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
}

.btn-box {
    margin-top: 32px;
    text-align: center;
}

.public-container ::ng-deep .ti3-form .ti3-form-label {
    width: 94px;
    padding: 0;
    padding-right: 8px;
}
.public-container ::ng-deep .ti3-aui-file-container div:first-child {
    display: flex;
}
:host ::ng-deep .modal-dialog {
  .sertificate-action-menu {
    a:nth-of-type(1){
      margin-right: 8px !important;
    }

    a:nth-of-type(2){
      margin: 0 8px !important;
    }
    
    ti-menu {
      margin-left: 8px !important;
    }
  }
}