<div class="modal-dialog">
    <div class="content flex-column">
        <span class="create-title">{{i18n.certificate.title}}</span>
        <div class="modal-dialog-container">
          <div class="download-msg" *ngIf="isAdmin">
            <img src="./assets/img/home/icon_home_tip.svg" style="width:16px; margin-right:8px; vertical-align: middle;" />
            <span>{{ i18n.certificate.download_title }}<a style="margin-left: 10px;" class="cursor-link" (click)="downloadCertificate()">{{ i18n.certificate.download_link_name }}</a></span>
          </div>
          <div class="msg" *ngIf="isAdmin">
              <p>{{ i18n.certificate.webNotice }}</p>
          </div>
          <ti-table [(displayedData)]="displayed" [srcData]="srcData">
              <table>
                <thead>
                  <tr>
                    <th tiOverflow width="21%">{{i18n.certificate.name}}</th>
                    <th tiOverflow width="25%">{{i18n.certificate.validTime}}</th>
                    <th tiOverflow width="21%">{{i18n.certificate.status}}</th>
                    <th tiOverflow *ngIf="isAdmin" [ngStyle]="{'width': curLang === 'zh-cn' ? '33%' : '50%'}">{{i18n.certificate.options}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of displayed">
                    <td tiOverflow>{{item.name}}</td>
                    <td tiOverflow>{{item.validTime}}</td>
                    <td *ngIf="item.certStatus == '1'" tiOverflow><i class="status-icon analyzing-icon"></i>{{i18n.certificate.valid}}
                    </td>
                    <td *ngIf="item.certStatus == '0'" tiOverflow><i
                        class="status-icon reserve-icon"></i>{{i18n.certificate.nearFailure}}</td>
                    <td *ngIf="item.certStatus == '-1'" tiOverflow><i class="status-icon failed-icon"></i>{{i18n.certificate.failure}}
                    </td>
                    <td *ngIf="isAdmin">
                      <ti-actionmenu class="sertificate-action-menu" [data]="item" [dataToItemsFn]='dataToItemsFn' maxShowNum="3" (select)='onSelect($event)'></ti-actionmenu>
                    </td>
                  </tr>
                </tbody>
              </table>
          </ti-table>
        </div>
    </div>
</div>
<!-- 显示 生成CSR文件 模态框 -->
<app-pop-mask #csrConfig>
  <div class="content config-modal csr-modal">
    <p class="mask-title">
      <span>{{i18n.certificate.generation_file}}</span>
      <span class="close-btn" (mousedown)="closeCrsModal($event)">×</span>
    </p>
    <div class="mask-container public-container">
      <p>
        <img src="./assets/img/home/prompt-tip.svg" alt="">
        <span>{{i18n.common_term_webcert_import_pre_tip}}</span>
      </p>
      <ti-formfield [formGroup]="csrConfForm">
        <ti-item [label]="csrFormList.country" [required]="true">
          <input type="text" tiText [tiValidation]="validation" formControlName="country" class="inp-width300" maxlength="2" tiMaxLength="2">
        </ti-item>
        <ti-item [label]="csrFormList.province">
          <input type="text" tiText [tiValidation]="validation" formControlName="province" class="inp-width300" maxlength="128" tiMaxLength="128">
        </ti-item>
        <ti-item [label]="csrFormList.city">
          <input type="text" tiText [tiValidation]="validation" formControlName="city" class="inp-width300" maxlength="128" tiMaxLength="128">
        </ti-item>
        <ti-item [label]="csrFormList.company">
          <input type="text" tiText [tiValidation]="validation" formControlName="company" class="inp-width300" maxlength="64" tiMaxLength="64">
        </ti-item>
        <ti-item [label]="csrFormList.dept">
          <input type="text" tiText [tiValidation]="validation" formControlName="dept" class="inp-width300" maxlength="64" tiMaxLength="64">
        </ti-item>
        <ti-item [label]="csrFormList.commName" [required]="true">
          <input type="text" tiText [tiValidation]="validation" formControlName="commName" class="inp-width300" maxlength="64" tiMaxLength="64">
        </ti-item>
      </ti-formfield>
      <div class="btn-box">
        <button type="button" tiButton color="primary" (click)="requestCsrFile()" [disabled]="!csrConfForm.valid">{{i18n.common_term_operate_ok}}</button>
        <button type="button" tiButton  (mousedown)="closeCrsModal($event)">{{i18n.common_term_operate_cancel}}</button>
      </div>
    </div>
  </div>
</app-pop-mask>

<!-- 导入web服务端证书 start -->
<app-pop-mask #certImport>
  <div class="content config-modal" [ngStyle]="{'width': curLang === 'zh-cn' ? '496px' : '556px'}">
    <p class="mask-title"> 
      <span>{{i18n.certificate.export_file}}</span>
      <span class="close-btn" (click)="closeImportModal()">×</span>
    </p>
    <div class="mask-container public-container">
      <ti-formfield>
        <ti-item [label]="importCert.label" [required]="true">
          <ti-upload style="width: 400px;font-size: 12px" [url]='importCert.url' [showSubmitButton]="false"
            [inputFieldWidth]="curLang === 'zh-cn' ? '300px' : '340px'"
            [placeholder]='importCert.placeholder'
            [autoUpload]='importCert.autoUpload' [filters]='filters'
            (completeItems)='onCompleteItems($event)' [headers]='importCert.headersConfig'
            (beforeSendItems)='onBeforeSendItems($event)'
            (addItemSuccess)='onAddItemSuccess($event)'
            (addItemFailed)='onAddItemFailed($event)'
            #CSRUpload
          ></ti-upload>
          <span style="color: #979797; font-size: 12px;padding-top:4px;">{{i18n.common_term_webcert_import_tip}}</span>
          <div class="upload-error" *ngIf="importCert.errorTip">
            <img alt="" src="./assets/img/home/icon_error.png">
            {{importCert.errorTip}}
          </div>
        </ti-item>
      </ti-formfield>

      <div class="btn-box">
        <button type="button" color="primary" tiButton (click)='CSRUpload.upload()' [disabled]="!isImport">{{ i18n.common_term_cert_import_btn }}</button>
        <button type="button" tiButton (click)='closeImportModal()'>{{ i18n.common_term_operate_cancel }}</button>
      </div>
    </div>
  </div>
</app-pop-mask>
<!-- 导入web服务端证书 end -->

<app-pop-mask #updateKey>
  <div class="content config-modal" style="width: 336px;">
    <p class="mask-title"> 
      <span>{{i18n.certificate.update}}</span>
      <span class="close-btn" (click)="closeUpdateKeyModal()">×</span>
    </p>
    <div class="mask-container">
      <p>
        <img src="./assets/img/home/warn-tip.svg" alt="">
        <span>{{i18n.common_term_webcert_update_key_tip}}</span>
      </p>
      <div style="margin-top: 32px; text-align: center;">
        <button type="button" color="primary" tiButton  (click)="requestUpdateKey()">{{i18n.common_term_operate_ok}}</button>
        <button type="button" tiButton  (click)="closeUpdateKeyModal()">{{i18n.common_term_operate_cancel}}</button>
      </div>
    </div>
  </div>
</app-pop-mask>