<!-- BC文件下载 modal -->
<ng-template  #bcDownloadModal let-context="context">
  <div class="content bc-download intellij-bc-download">
    <ti-modal-header>{{ i18n.plugins_porting_weakCheck.bc_download }}</ti-modal-header>
    <ti-modal-body class="intellij-bc-download-modal-body">
      <button type="button" tiButton (click)="bcDownLoad()"
        [disabled]="multipleDownloadBtn" class="intellij-bc-download-button bc-download-btn">
        {{i18n.plugins_porting_weakCheck.bc_modal.download_btn}}
      </button>
      <div id="intellij-bc-download-modal" class="modal-body intellij-bc-download-div">
        <div class="drag-box drop-area" style="margin-top: 24px">
          <ti-table [(displayedData)]="bcFileTableData" [srcData]="bcFileSrcData">
            <div class="ti3-table-fixed-head">
              <table>
                <thead>
                  <tr>
                    <th checkbox-column>
                      <!--全选按钮-->
                      <!--如果有分页，全选需要控制当前页时，items接口传入displayed
                          如果全选要控制表格所有数据，items接口传入srcData.data-->
                      <input type="checkbox"
                        tiCheckgroup
                        [items]="bcFileSrcData.data"
                        [(checkeds)]="checkedList"
                        (checkedsChange)="onMyChange($event)"/>
                    </th>
                    <th tiOverflow *ngFor="let column of bcFileColumns; let index = index"
                      width="{{column.width}}"
                      [ngClass]="{'second-th': index === 0}"
                    >{{column.title}}</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="ti3-table-container" style="max-height:300px;">
              <table>
                <thead>
                  <tr>
                    <th checkbox-column></th>
                    <th tiOverflow *ngFor="let column of bcFileColumns" width="{{column.width}}"></th>
                  </tr>
                </thead>
                <tbody>
                  <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                  <!--为了更好的渲染性能，建议在ngFor数据时总是trackBy数据条目中的某个唯一属性值(如id)-->
                  <tr *ngFor="let row of bcFileTableData;let index = index"
                    [ngClass]="{
                      'ti3-selected-tr': checkedList.indexOf(row) !== -1}">
                      <!-- tiOverflow指令的作用是使文本溢出时出'...'，且hover时出tip-->
                    <td checkbox-column
                      [ngClass]="{
                        'ti3-disabled-cell': row.disabled}">
                      <input type="checkbox"
                        tiCheckitem
                        [disabled]="row.disabled"
                        [item]="row"/>
                    </td>
                    <td tiOverflow>{{ index + 1 }}</td>
                    <td tiOverflow>{{ row.label }}</td>
                    <td tiOverflow>{{ workspace + weakFileName + '/' + row.label }}</td>
                    <td #row tiOverflow (click)="bcDownLoad(row.label)" style="color: #0067FF; cursor: pointer;">{{ i18n.plugins_porting_weakCheck.bc_modal.download_btn }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ti-table>
        </div>
      </div>
    </ti-modal-body>
    <ti-modal-footer>
    </ti-modal-footer>
  </div>
</ng-template>

