
::ng-deep .vscode-dark {
  --color-table-fixed-head-after: #2A2A2A;
  --color-separator: #4b4b4b;
}

::ng-deep .vscode-light {
  --color-table-fixed-head-after: #ffffff;
  --color-separator: #e1e6ee;
}

::ng-deep #bcDownloadModal {
  .dragModal700 {
    width: 700px !important;
  }
  
  .content .ti3-modal-body {
    margin-top: 18px;
  }

  .ti3-table>.ti3-table-fixed-head>table>thead>tr>th:first-child[checkbox-column] {
    padding-left: 10px !important;
  }

  input[type=checkbox][tiCheckbox]:not([disabled]):indeterminate +
  .ti3-checkbox .ti3-checkbox-skin {
    background-color: #0067ff !important;
  }
  
  .ti3-page-container .ti3-pag-next.disabled,
    .ti3-page-container .ti3-pag-prev.disabled {
    background-color: transparent;
  }

  .res-title {
    margin-top: 20px;
  }

  .ti3-modal-header {
    border-bottom: 1px var(--color-separator) dashed;
    margin: 0 32px;
    padding: 20px 0;
  }

  .ti3-table tbody tr td {
    font-size: 12px !important;
    padding: 6px 10px !important;
    border-bottom: 1px var(--color-separator) solid !important;
  }

  .ti3-table table thead tr th {
    font-size: 12px !important;
  }

  .ti3-table tbody tr:last-child td {
    border-bottom: none !important;
  }

  .ti3-table table thead tr th:not(:last-child)::after {
    background: var(--color-separator) !important;
  }
}

.ti3-table>.ti3-page-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

.ti3-modal-header {
  border-bottom: 1px solid;
  margin: 0 32px;
  padding-left: 0;
}