.overview-container {
    .database-tab {
        .tab-content {
            position: relative;

            .item-tab {
                padding: 0 16px;

                .tab-title {
                    display: inline-block;
                    cursor: pointer;
                    box-sizing: border-box;
                    font-size: 14px;
                    line-height: 20px;
                    position: relative;

                    .tab-active {
                        display: inline-block;
                        padding-bottom: 6px;
                        color: #267dff;
                        border-bottom: 2px solid #267dff;
                    }
                }

                .tab-title:hover {
                    color: #267dff;
                }
            }

            .item-tab:hover {
                color: #0067ff;
            }
        }

        .tab-content:nth-of-type(1) {
            .item-tab {
                padding-left: 0;
            }
        }

        .tab-content:not(:last-child) {
            .item-tab:after {
                content: "";
                position: absolute;
                height: 10px;
                width: 1px;
                right: 0;
                top: calc(50% - 5px);
                background-color: #888;
            }
        }
    }

    .ti3-table-scroll-bar::-webkit-scrollbar,
    .ti3-table>.ti3-table-container::-webkit-scrollbar {
        width: 5px;
        background: var(--vscode-editor-background);
    }
}

:host ::ng-deep {

    .ti3-table>.ti3-table-fixed-head>table>thead>tr>th>.ti3-cell-text-container>.ti3-cell-text,
    .ti3-table>.ti3-table-container>table>tbody>tr>td>.ti3-cell-text-container>.ti3-cell-text {
        vertical-align: middle;
    }

    .ti3-table>.ti3-table-fixed-head>table>thead>tr>th>.ti3-sort-container .ti3-sort,
    .ti3-table>.ti3-table-container>table>thead>tr>th>.ti3-sort-container .ti3-sort {
        font-size: 16px;
    }

    .ti3-btn-default,
    [tiButton] {
        background: #313131;
        color: #E8E8E8;
        border-color: #DDDDDD;
    }

    .ti3-btn-default[disabled],
    [tiButton][disabled] {
        background: #313131;
        color: #AAAAAA;
        border-color: #616161;
    }

    .ti3-btn-default:not([disabled]):hover,
    [tiButton]:not([disabled]):hover {
        background: #313131;
        border-color: #267DFF !important;
        color: #267DFF;
    }

    .ti3-btn-default:not([disabled]):focus,
    .ti3-btn-default:not([disabled]):active,
    [tiButton]:not([disabled]):focus,
    [tiButton]:not([disabled]):active {
        color: #0057D9 !important;
        border-color: #0057D9 !important;
        background: #313131;
    }

    // 写在tiButton后面，不然样式会被覆盖
    .ti3-btn-primary {
        color: #E8E8E8 !important;
        background: #0067FF !important;
        border-color: #0067FF !important;
    }

    .ti3-btn-primary[disabled] {
        color: #AAAAAA !important;
        background-color: #313131 !important;
        border-color: #313131 !important;
    }

    .ti3-btn-primary:not([disabled]):hover {
        background: #267DFF !important;
        border-color: #267DFF !important;
    }

    .ti3-btn-primary:not([disabled]):focus,
    .ti3-btn-primary:not([disabled]):active {
        color: #E8E8E8 !important;
        background: #0057D9 !important;
        border-color: #0057D9 !important;
    }

    input[type='checkbox'][tiCheckbox]+.ti3-checkbox .ti3-checkbox-label {
        display: inline !important;
        font-size: 14px !important;
        vertical-align: middle !important;
    }

    input[type='checkbox'][tiCheckbox]:not([disabled]):indeterminate+.ti3-checkbox .ti3-checkbox-skin {
        background-color: #0067ff !important;
        border-color: #0067ff !important;
    }

    .ti3-tree-container .ti3-icon-minus-square:hover,
    .ti3-tree-container .ti3-icon-plus-square:hover,
    .ti3-tree-container .ti3-icon-minus-square {
        color: #0067ff;
    }

    .ti3-tree-container .ti3-icon-minus-square:active,
    .ti3-tree-container .ti3-icon-plus-square:active {
        color: #0057D9;
    }

    .ti3-table>.ti3-table-container>table>tbody>tr>td .ti3-table-tree .ti3-icon-minus-square:hover,
    .ti3-table>.ti3-table-container>table>tbody>tr>td .ti3-table-tree .ti3-icon-plus-square:hover {
        color: #0067ff;
    }

    .ti3-table>.ti3-table-container>table>tbody>tr>td .ti3-table-tree .ti3-icon-minus-square:active,
    .ti3-table>.ti3-table-container>table>tbody>tr>td .ti3-table-tree .ti3-icon-plus-square:active {
        color: #0057D9;
        background: transparent;
    }

    .ti3-table>.ti3-table-container>table>tbody>tr>td .ti3-table-tree .ti3-icon-minus-square {
        color: #0067ff;
    }

    .ti3-compnent-container-border:not([disabled])[tiFocused],
    ti-select:not([disabled])[tiFocused] {
        border-color: #0067ff !important;
    }

    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-bg);
        opacity: 0.2;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    .ti3-table-scroll-bar::-webkit-scrollbar,
    .ti3-table>.ti3-table-container::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important;
    }

    .ti3-table {
        font-size: 14px;
    }
}