<div class="overview-container">
    <div class="database-tab" [hidden]="!showDatabaseTab">
        <span *ngFor="let tab of databaseTabs; let idx = index" [routerLink]="[tab.link]" (click)="activeChange(idx)"
            class="tab-content">
            <span class="item-tab">
                <span class="tab-title">
                    <span [ngClass]="{ 'tab-active': tab.active }">
                        {{ tab.title }}
                    </span>
                </span>
            </span>
        </span>
    </div>
    <router-outlet></router-outlet>
</div>