.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
        display: flex;
        align-items: center;
        flex-direction: column;

        .text {
            font-size: 14px;
            color: var(--d-aaaaaa-l-000000);
            margin-top: 8px;
            line-height: 20px;
            text-align: center;
        }
    }
}
