.fun-table {
    margin-top: 1.04vw;
}

.rocket {
    margin-bottom: -4px;
    margin-left: 8px;
}

.redColor {
    color: #f45c5e;
}

:host .fun-table ::ng-deep .ti3-icon-angle-right {
    transition: 0.5 linear !important;
    margin-right: 6px;
    display: inline-block;
}

:host .fun-table ::ng-deep .ti3-icon-angle-right.active {
    transform: rotate(90deg);
}

:host .fun-table ::ng-deep table tr {
    background-color: var(--d-ffffff-l-222222);
}

:host .fun-table ::ng-deep table tr {
    border-bottom: 1px solid var(--d-4b4b4b-l-e2e2e2) !important;
}

:host .fun-table ::ng-deep table thead tr {
    border-bottom: none;
}

.canClick {
    text-decoration: underline;
    cursor: pointer;
    color: var(--mc-color-btn-p-bg-dft);

    &:hover {
        color: var(--mc-color-btn-p-bg-hover);
    }

    &:visited {
        color: #004ec1;
    }
}

.stack-tip {
    white-space: nowrap;
    max-width: 470px;
    max-height: 500px;
    overflow-y: auto;
}

.function table > tbody > tr {
    &:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
    &:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
        td {
            background-color: var(--d-161616-l-ffffff) !important;
        }
    }
}

.ti3-table.custemTable > .ti3-table-container > table > tbody > tr > td .angleBtn {
    margin-right: 2px;
    width: 16px;
}

.ti3-table.custemTable > .ti3-table-container > table > tbody > tr > td > .tdContent > .overflowEllipsis {
    padding-left: 24px;
}

.select-title {
    display: flex;
    justify-content: space-between;
    .refresh {
        width: 28px;
        height: 28px;
    }
}

.tipField {
    color: var(--d-0067ff-l-222222);
}

::-webkit-scrollbar {
    width: 8px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px !important;
    background: rgba(232, 232, 232, 0.2) !important;
}

::-webkit-scrollbar-track {
    border: none !important;
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
