<div class="function" style="position: relative;">
    <div class="select-title">
        <ti-select style="width: 300px;" [options]='options' labelKey='title' [(ngModel)]="selectOption" placeholder=''
            (ngModelChange)="doSelectOption($event)" id="myselect">
        </ti-select>
        <div class="refresh" (mouseenter)="imgStatusChange('hover')" (mousedown)="imgStatusChange('click')"
            (mouseleave)="imgStatusChange('normal')" (mouseup)="imgStatusChange('normal')" (click)="refreshFunction()">
            <img [src]="sanitizer.bypassSecurityTrustResourceUrl(refreshImgStatus)">
        </div>
    </div>
    <ti-table [(displayedData)]="displayed" style="width: 100%" [srcData]="srcData" [columns]="columns"
        class='fun-table custemTable' *ngIf='showTable' [searchWords]="searchWords" [searchKeys]="searchKeys" #table1>
        <div class="ti3-table-fixed-head">
            <table>
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of columns">
                            <!--注意:给表格设置宽度时，给.ti3-table-fixed-head和.ti3-table-container下的对应的th都要设置-->
                            <th tiOverflow *ngIf="column.show || column.show === undefined" width="{{column.width}}">
                                {{column.title}}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="ti3-table-container ti3-resize-wrapper"
            style="max-height:44vw;min-height:44vw;overflow-y: auto;position: relative;">
            <table>
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of columns">
                            <!--此处的表头是用来控制各列宽度，实际不显示，所以注意 th 标签内部不要嵌套任何内容。-->
                            <th tiOverflow *ngIf="column.show || column.show === undefined" width="{{column.width}}">
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                    <ng-container *ngIf="showFlameTable">
                        <ng-container *ngFor="let node of displayed;index as i">
                            <tr *ngIf="node.isShow" [ngClass]="{childTr: node.level}">
                                <td [tiTip]='tipContent' tiTipMaxWidth='500px' [tiTipContext]='node'
                                    tiTipPosition="right"
                                    [ngStyle]="{'padding-left': widthArr[node.level].outer + 'px'}">
                                    <ng-container *ngFor="let item of [].constructor(node.level); index as index">
                                        <div [style.width.px]="40 * (node.level - index) - 2" class="indentLine"></div>
                                    </ng-container>

                                    <div class="tdContent"
                                        [ngStyle]="{'padding-left': widthArr[node.level].inside + 'px'}">
                                        <button *ngIf="node.hasChildren" class="angleBtn" (click)="toggle(node)">
                                            <img src='./assets/img/summary/row_dark.svg'
                                                [ngClass]="['expandIcon', node.expand ? 'active' : '']">
                                        </button>

                                        <span (click)='addFunctionTab(node)' class="overflowEllipsis"
                                            [ngClass]="{canClick: node.name=='function'}">{{node.nodeName ||
                                            node.Function || node.Callstack || node.total || node.Module ||
                                            node.ThreadName || node.Core || node.Class}}</span>
                                        <span (click)='addFunctionTab(node)'
                                            [ngClass]="{canClick: node.name=='function'}" class="overflowEllipsis"
                                            *ngIf="node.Core==0">{{node.Core}}</span>
                                    </div>
                                </td>

                                <td tiOverflow>{{(node['Time(s)'] || 0) | threePoint:6 }}</td>
                                <td tiOverflow>{{ [0, '0', 'None', null, undefined].includes(node.Cycles) ? '--' :
                                    (node.Cycles | thousandSeparator) }}</td>
                                <td tiOverflow>
                                    <span
                                        [ngClass]="{'redColor': node.tipStr && node.tipStr !='NULL'}">{{node.Cycles_percent
                                        ? ((node.Cycles_percent * 100).toFixed(2) + '%') : '0%'}}</span>
                                    <img src="./assets/img/rocket.svg" class='rocket' [tiTip]='tipContentRocket'
                                        [tiTipContext]='node.tipStr' tiTipMaxWidth='550px'
                                        *ngIf="node.tipStr && node.tipStr !='NULL'" tiTipPosition="top-left" />
                                </td>
                                <td tiOverflow>{{(node.Instructions || 0) | thousandSeparator}}</td>
                                <td tiOverflow>{{node.Instructions_percent === '--' ? '--': ((node.Instructions_percent
                                    * 100 | threePoint:2) + '%')}}</td>
                                <td tiOverflow>{{ [0, '0', 'None', null, undefined].includes(node.IPC) ? '--' :
                                    (node.IPC | threePoint:2) }}</td>
                                <td tiOverflow>{{node.Module}}</td>
                                <td tiOverflow *ngIf="selectOption.label === 'Function/Thread/Core/Callstack View'">
                                    {{node.Pid}}</td>
                                <!-- TID -->
                                <td tiOverflow *ngIf="selectOption.label === 'Function/Thread/Core/Callstack View'">
                                    <span [ngClass]="{tipField: node.cmdline}" [tiTip]='tipField'
                                        [tiTipContext]='node.cmdline' tiTipPosition="top">
                                        {{ node.Tid }}
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

            <app-loading *ngIf="(displayed.length === 0 || !showFlameTable) && (noDataInfo === i18n.loading)"
                [height]="'44vw'"></app-loading>
            <app-default-page *ngIf="(displayed.length === 0 || !showFlameTable) && (noDataInfo !== i18n.loading)"
                [height]="'44vw'" [text]="noDataInfo"></app-default-page>
        </div>
        <ti-pagination *ngIf="displayed.length !== 0" [(currentPage)]="currentPage" [pageSize]="pageSize"
            [(totalNumber)]="totalNumber">
        </ti-pagination>
    </ti-table>
    <div *ngIf="isLoading" class="loading">
        <app-loading [height]="'100%'" [size]="'max'"></app-loading>
    </div>
    <ng-template #tipContent let-context='context'>
        <div class="stack-tip" [innerHTML]="(context.nodeName || context.Function || context.Callstack || context.total || context.Module || context.ThreadName ||
                  context.Core || context.Class || context.Core).toString().replaceAll('&lt;-','&lt;/br>') | html">
        </div>
    </ng-template>

    <ng-template #tipField let-context='context'>
        <div class="tipFieldContainer">
            {{ context }}
        </div>
    </ng-template>
</div>
<ng-template #tipContentRocket let-context='context'>
    <span [innerHtml]="context"></span>
</ng-template>