<div class="progress-bg" *ngIf="isCreatingModal">
  <div class="progress-modal">
    <div class="close-modal" (click)="closeModal()" [tiTip]="closeModalTip">
      <span style="font-size: 30px;">
        <img src="./assets/img/home/close.svg" alt=""
      /></span>
    </div>
    <div class="madal-tip" *ngIf="currentLang === 'en-us'">
      Recording {{ guardian.name }} ...
    </div>
    <div *ngIf="currentLang === 'zh-cn'" class="madal-tip">
      {{ guardian.name }}记录中…
    </div>
    <div style="width: 400px; height: 116px; margin: 0 auto;">
      <img style="height: 100%;" src="./assets/img/analysis.gif" />
    </div>
    <div class="madal-content">
      <div *ngIf="recordAutoTime !== -1">
        <div style="margin-top: 20px;">
          {{ i18n.common_term_recording }}:<span>{{ timeRequired }}</span>
        </div>
        <div class="progress-bar-bg">
          <div
            class="progress-bar"
            [ngStyle]="{ width: barWidth + 'px' }"
          ></div>
        </div>
        <span style="padding-left: 5px;">{{ progessValue }}</span>
      </div>
      <div *ngIf="recordAutoTime == -1">
        <div style="margin-top: 20px;">
          <span>{{ i18n.common_term_sampling_forms.duration }}</span>
          <span>{{ startTime }}</span>
          <span> - </span>
          <span>{{ timeRequired }}</span>
        </div>
        <div class="progress-bar-bg">
          <div
            class="progress-bar"
            [ngStyle]="{ width: barWidth60 + 'px' }"
          ></div>
          <div
            class="progress-bar progress-cover"
            [ngStyle]="{ width: barWidth60 - 60 + 'px' }"
          ></div>
        </div>
      </div>
      <div style="margin-top: 30px;">
        <button
          type="button"
          class="thor-btn-primary"
          (click)="stop_analysis()"
        >
          {{ i18n.common_term_sampling_forms.stop_analysis }}
        </button>
        <button
          type="button"
          class="thor-btn-normal"
          style="margin-left: 20px;"
          (click)="cancel_analysis()"
        >
          {{ i18n.common_term_sampling_forms.cancel_analysis }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="success-modal-bg" *ngIf="isSuccess">
  <div class="success-modal" style="padding-top: 40px; width: 400px;">
    <img src="./assets/img/home/success.png" />
  </div>
</div>
