<div class="method-box">
  <div class="select-box">
    <div class="select-item">
      <span class="select-item-title">{{
        i18n.protalserver_sampling_method.graph_type
        }}</span>
      <ti-select style="width: 270px;" [options]="typeOptions" [(ngModel)]="typeSelected" placeholder="Please Select"
        (select)="typeChange($event)" id="myselect">
      </ti-select>
    </div>
    <div class="select-item">
      <span class="select-item-title">{{
        i18n.protalserver_sampling_method.sample_data
        }}</span>
      <ti-select style="width: 270px;" [options]="dataOptions" [(ngModel)]="dataSelected" placeholder="Please Select"
        (select)="dataChange($event)" id="myselect2">
      </ti-select>
    </div>
  </div>
  <div class="content flame-content">
    <app-loading *ngIf="showLoading" [size]="'max'" [height]="'80vh'"></app-loading>
    <app-default-page *ngIf="noDataFlag" [height]="'80vh'" [bgColor]="'#1e1e1e'"></app-default-page>
    <div class="data-box">
      <div class="chart" [ngClass]="{nodata: noDataFlag}" *ngIf="chartType === 'Flame'">
        <div id="chart"></div>
      </div>
      <div class="tree" *ngIf="!noDataFlag && chartType !== 'Flame'">
        <div class="tree-nodes">
          <ti-tree [data]="stackTranceData" (select)="selectTreeNode($event)" (beforeExpand)="beforeExpand($event)">
            <ng-template let-item let-i=index>
              <span tiOverflow tiTipPosition="right" style="vertical-align: middle;">
                <span class="expandAll" *ngIf="!item.expanded  && item.children && item.children.length"
                  (click)="expandAllNode(item)">
                  <img src="./assets/img/profiling/expandAll.svg">
                </span>
                <span class="expandAll" *ngIf="item.expanded && item.children && item.children.length && ideType === 'other'"
                  (click)="expandAllNode(item)">
                  <img src="./assets/img/profiling/notExpandAll.svg">
                </span>
                <span class="expandAll" *ngIf="item.expanded && item.children && item.children.length && ideType === 'intellij'"
                  (click)="expandAllNode(item)">
                  <img src="./assets/img/profiling/newNotExpandAll.svg">
                </span>
                <span class="processBar" [ngStyle]="{ width: item.value / totalCountStackTrace * 150 + 'px' }"></span>
                <span>{{item.label}}</span>
              </span>
            </ng-template>
          </ti-tree>
        </div>
        <div class="pagenation">
          <ti-pagination [pageSize]="pageSize" [(currentPage)]="pageNation.currentPage"
            [(totalNumber)]="pageNation.totalNumber" (pageUpdate)="handlePageUpdate($event)"></ti-pagination>
        </div>
      </div>
    </div>
  </div>
</div>