::ng-deep .vscode-dark {
    --title-border-bottom: #484a4e;
}
::ng-deep .vscode-light{
    --title-border-bottom: #e1e6ee;
}
.webBox {
    width: 96%;
    .webTitle {
        font-family: "huawei sans";
        -webkit-font-smoothing: none;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        letter-spacing: 0px;
        color: #e8e8e8;
        margin-bottom: 22px;
    }
    .splitLine {
        width: 100%;
        height: 27px;
        margin-bottom: 22px;
        border-bottom: solid 1px #d4d9e6;
    }
    .webContent {
        .addwebPwd {
            display: flex;
            justify-content: space-between;
        }
        .webCertList {
            margin-top: 10px;
            .status-icon {
                border-radius: 50%;
                vertical-align: middle;
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 2px;
            }
            .analyzing-icon {
                border: 5px solid #7adfa0;
            }
            .stopping-icon {
                border: 5px solid #ffb146;
            }
            .failed-icon {
                border: 5px solid #f45c5e;
            }
            .inactive-icon {
                border: 5px solid blue;
            }
        }
    }
}
.content {
    display: flex;
    flex-direction: column;
    margin: 32px;
    height: 95%;
    width: 34vw;
    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;

        img {
            width: 16px;
            height: 100%;
            vertical-align: middle;
            margin-right: 8px;
        }
    }
    .create-title {
        font-size: 20px;
        padding-bottom: 18px;
        position: relative;
        margin-bottom: 0;
        border-bottom: 1px dashed var(--title-border-bottom);
        .close-btn {
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;
            cursor: default;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .edit-box {
        margin-top: 32px;
        width: 100%;
    }
    .title-border {
        flex: 0 0 1px;
        display: block;
        width: 100%;
        background: #d4d9e6;
        margin-top: 1vw;
    }
    .btn-box {
        margin: 32px 0 0 0;
        text-align: center;
        width: 100%;
        .user-sure-btn {
            margin-right: 1.5vw;
            width: 100px;
        }
        .user-close-btn {
            width: 100px;
        }
    }
}

.moreText {
    color: var(--d-aaaaaa-l-222222);
    cursor: pointer;
    font-size: 12px;
    display: block;
    padding-top: 3px;
    padding-left: 5px;
    text-align: left;
}
.moreText:hover {
    background-color: #0067ff;
    color: #fff;
}

::ng-deep .ti3-file-upload-container {
    display: inline;
    margin-left: 8px !important;
}

::ng-deep .ti3-table > table > thead > tr > th:not(:last-child)::after,
.ti3-table > .ti3-resize-wrapper > table > thead > tr > th:not(:last-child)::after,
.ti3-table > .ti3-table-fixed-head > table > thead > tr > th:not(:last-child)::after,
.ti3-table > .ti3-table-container > table > thead > tr > th:not(:last-child)::after {
    width: 1px;
    background: #4b4b4b;
    color: #4b4b4b;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
}

::ng-deep ti-tip-container .ti3-tooltip {
    padding: 10px 0 !important;
}

.little-minor-btn:hover {
    cursor: pointer;
}

::ng-deep .ti3-form .ti3-form-content {
    width: 100%;
}

.dashed-line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #4b4b4b 0%, #4b4b4b 50%, transparent 50%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
}

.leftButton {
    margin-right: 20px;
    width: 100px
}

.restart-service {
    width: 660px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 30px 24px;
    margin: 0;

    .create-title {
        position: relative;
        padding-bottom: 20px;

        .img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2px;
            right: 0;
            cursor: pointer;
        }
    }

    .dashed-line {
        height: 2px;
    }

    .tip {
        display: flex;
        justify-content: flex-start;
        margin: 22px 0 24px;

        .warn {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .text {
            height: 18px;
            font-size: 12px;
            line-height: 18px;
            color: #888;
            margin-bottom: 0;
        }
    }

    .btn-box {
        margin: 0;
    }
}
::ng-deep  .ti3-table > .ti3-resize-wrapper > table > thead > tr > th,
.ti3-table > .ti3-table-container > table > thead > tr > th,
.ti3-table > .ti3-table-fixed-head > table > thead > tr > th,
.ti3-table > table > thead > tr > th {
    border-bottom: none !important;
}
::ng-deep .ti3-table>.ti3-resize-wrapper>table>thead>tr>th, 
.ti3-table>.ti3-table-container>table>thead>tr>th, 
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th, 
.ti3-table>table>thead>tr>th{
    border-bottom: none !important;
}
::ng-deep .ti3-table>.ti3-resize-wrapper>table>tbody>tr>td, 
.ti3-table>.ti3-table-container>table>tbody>tr>td, 
.ti3-table>.ti3-table-fixed-head>table>tbody>tr>td, 
.ti3-table>table>tbody>tr>td{
    border-bottom: none !important;
}