.sys-config-mem {

  .mem-info {
    display: flex;

    p {
      font-size: 12px;
      line-height: 18px;

      .label {
        color: var(--common-color-font-secondary);
      }

      .text {
        margin-left: 8px;
        color: var(--common-color-font-primary);
      }
    }

    p + p {
      margin-left: 32px;
    }
  }

  ti-table {
    margin-top: 10px;
    font-size: 12px;
  }
  ::ng-deep .ti3-table table tbody {
    tr td:first-child {
      padding: var(--ti-table-td-padding);
    }
  }
}