<div class="analysis-container">
  <div class="analysis-content">
    <div class="main left-container">
        <div class="analysis-content-header" style="margin-left: 10px;color:#000;font-size: 20px;">
          <div>
            <p class="title" style="margin-bottom: 8px;">{{ i18n.common_term_headerTab4_label }}</p>
            <p style="margin-bottom:20px;font-size: 14px;color:#616161;">
              {{ i18n.common_term_headerTab4_label_tip }}
            </p>
          </div>

          <!-- 当环境不满足时 -->
          <app-environment-tip
            *ngIf="noEnvironment && selectType.curSelObj.id === 'weak'"
            [headerTip]="i18n.weak_env_no.tip"
            [guideList]="guideList"
            [linkUrl]="linkUrl"
            (handleCloseGuide)="handleCloseGuide()"
          ></app-environment-tip>

          <ul>
            <li>
              <div class="sceneBox">
                <div class="sceneItem" *ngFor="let option of selectType.options; index as index" (mouseenter)="option.hover = true"
                  (mouseleave)="option.hover = false" [ngClass]="{active:option.id === selectType.curSelObj.id}">
                  <input style="display: none;" type="radio" [(ngModel)]="selectType.selectedId" (change)="selectTypeChange(option)" [value]="option.id" [id]="'option' + index"/>
                  <label [for]="'option' + index">
                    <img
                      [src]="(option.hover || selectType.curSelObj.id === option.id) ? option.isSelectedImg : option.isNormalImg"
                      alt="">
                    <span class="text currentLabel">{{ option.key }}</span>
                  </label>
                </div>
              </div>
            </li>
            <li style="margin-top: -5px; font-size: 12px; color: #616161;">
              <span style="max-width: 740px;">
                <p style="line-height: 20px;">
                  {{selectType.curSelObj.desc}}
                </p>
              </span>
            </li>
          </ul>
        </div>
        <ul [ngSwitch]="selectType.selectedId">
          <!-- 64位运行模式检查 start -->
          <li *ngSwitchCase="'precheck'">
            <div>
              <span class="required" tiOverflow>*</span>
              <span class="label" tiOverflow>{{ i18n.common_term_ipt_label.source_code_path }}</span>
              <span class="value" style="max-width: 740px;">
                <p tiOverflow>{{ workspace }}</p>
              </span>
            </div>
            <div>
              <span class="label"></span>
              <span class="value p-relative">
                <span class="forTextarea">
                  <textarea
                    type="text" tiText
                    [tiValidation]="validationChange" [formControl]="maxFilenameLength"
                    placeholder="{{i18n.common_term_analysis_source_code_path1}}&#10;{{i18n.common_term_analysis_source_code_path2}}&#10;{{inputPrompt1}}"
                    class="areaMatch" [ngClass]="{'areaMatch-zh': inputValuePrecheck !== ''}"
                    [ngStyle]="{'height':(this.currLang == 'zh-cn') ? '142px' : '180px',
                                'border-color':(uploadResultTip.content && uploadResultTip.state==='error') || noFileSelected ? '#ED4B4B':''}"
                    [(ngModel)]="inputValuePrecheck" [errorMessageWrapper]="wrapper"
                    (focus)="focusTextArea('precheck')" (blur)="blurAreaMatch()" (keyup)="keyupAreaMatch('precheck')"
                  ></textarea>
                  <div #wrapper style="margin-left: 10px;"></div>
                </span>
                <!-- 输入自动匹配 -->
                <div class="areaMatchDiv" *ngIf="displayAreaMatch && pathlist.length">
                  <ul>
                    <li *ngFor="let path of pathlist" style="cursor: pointer;">
                      <p (mousedown)="clickAreaMatch(path, 'precheck')">{{path}}</p>
                      <div (mousedown)="isDeleteAreaMatch(path)"></div>
                    </li>
                  </ul>
                </div>
                <!-- 上传按钮 -->
                <div>
                  <div *ngIf="isShow || isCompress " class="selectUpload-disabled" [ngClass]="{ enSelectUpload: currLang == 'en-us' }" [tiTip]="i18n.common_term_upload_file_resource" style="height: 28px;line-height: 28px;">
                    <p >
                      {{ i18n.common_term_upload_code}}
                      <img src="./assets/img/header/select-down.png" class="button-arrow" />
                    </p>
                  </div>
                  <div *ngIf="!isShow && !isCompress" class="selectUpload" (mouseenter)="showUpload()" (mouseleave)="hideUpload()"
                    [ngClass]="{ enSelectUpload: currLang == 'en-us' }">
                    <ul>
                      <li class="hoverButton button-main" >
                        <p style="margin: 0 auto;">
                          {{ i18n.common_term_upload_code}}
                          <img src="./assets/img/header/select-down.png" class="button-arrow" />
                        </p>
                      </li>
                      <li class="selectItem" (click)="zipUpload()" style="margin-bottom: 0px;"  *ngIf="hoverFlag">
                        <p tiOverflow>{{ i18n.common_term_upload_compressed }}</p>
                      </li>
                      <!-- 上传压缩包 -->
                      <input type="file" id="zipload" class="dis-none" (change)="uploadFile('normal', '2')" [accept]="byteAccrptType">
                      <label for="filesbeta"  class="selectItem" *ngIf="hoverFlag && !isIE" (click)="cancelTip()">
                        {{ i18n.common_term_upload_directory }}
                      </label>
                      <!-- 上传文件夹 -->
                      <input type="file" id="filesbeta" webkitdirectory style="display: none;" (change)="toZip('normal', '2', $event)" />
                    </ul>
                  </div>
                </div>
                <!-- 未选择文件 -->
                <p class="no-file-selected" *ngIf="noFileSelected">
                  <img src="./assets/img/home/icon_error.png" alt="">
                  <span>{{ i18n.common_term_source_code_path_empty }}</span>
                </p>
                <!-- Mac -->
                <p class="mac-info" *ngIf="isMac">{{ i18n.source_code_info.mac_info }}</p>
                <!-- 上传报错 -->
                <p class="upload-restule-tip" *ngIf="uploadResultTip.content">
                  <img [src]="uploadResultTip.state === 'success'? './assets/img/home/success-tip.svg': './assets/img/home/icon_error.png'" alt="">
                  <span [ngStyle]="{'color': uploadResultTip.state === 'success' ? '#616161':'#ED4B4B'}">{{uploadResultTip.content}}</span>
                  <ng-container *ngIf="fileExceed">
                    <span *ngIf="currLang === 'zh-cn'" class="file-err-help"><a (click)="goFileHelp()">{{ i18n.common_term_help_tip }}</a>。</span>
                    <span *ngIf="currLang === 'en-us'" class="file-err-help"><a (click)="goFileHelp()">online help</a>.</span>
                  </ng-container>
                </p>
              </span>
            </div>
            <div class="btn-box-run">
              <span class="label"></span>
              <div style="display: inline-block;" [tiTip]="createBtnDisabledTip" tiTipPosition='right' >
                <span>
                  <button type="button" color="primary" class="operation" tiButton (click)="checkAnalyzeForm()" [disabled]="createBtnDisabled">{{i18n.common_term_opt_check}}</button>
                </span>
              </div>
            </div>
          </li>
          <!-- 64位运行模式检查 end -->
          <!-- 结构体字节对齐 start -->
          <li *ngSwitchCase="'byte'">
            <div>
              <span class="required" tiOverflow>*</span>
              <span class="label" tiOverflow>{{ i18n.common_term_ipt_label.source_code_path }}</span>
              <span class="value" style="max-width: 740px;">
                <p tiOverflow>{{ workspace }}</p>
              </span>
            </div>
            <div>
              <span class="label"></span>
              <span class="value p-relative">
                <span class="forTextarea">
                  <textarea
                    type="text" tiText
                    [tiValidation]="validationChange" [formControl]="maxFilenameLength"
                    placeholder="{{i18n.common_term_analysis_source_code_path1}}&#10;{{i18n.common_term_analysis_source_code_path2}}&#10;{{inputPrompt1}}"
                    class="areaMatch" [ngClass]="{'areaMatch-zh': inputValueByte !== ''}"
                    [ngStyle]="{'height':(this.currLang == 'zh-cn') ? '142px' : '180px',
                                'border-color':(uploadResultTip.content && uploadResultTip.state==='error') || noFileSelected ? '#ED4B4B':''}"
                    [(ngModel)]="inputValueByte" [errorMessageWrapper]="wrapper"
                    (focus)="focusTextArea('byte')" (blur)="blurAreaMatch()" (keyup)="keyupAreaMatch('byte')"
                  ></textarea>
                  <div #wrapper style="margin-left: 10px;"></div>
                </span>
                <!-- 输入自动匹配 -->
                <div class="areaMatchDiv" *ngIf="displayAreaMatch && pathlist.length">
                  <ul>
                    <li *ngFor="let path of pathlist" style="cursor: pointer;">
                      <p (mousedown)="clickAreaMatch(path, 'byte')">{{path}}</p>
                      <div (mousedown)="isDeleteAreaMatch(path)"></div>
                    </li>
                  </ul>
                </div>
                <!-- 上传按钮 -->
                <div>
                  <div *ngIf="isShow || isCompress " class="selectUpload-disabled" [ngClass]="{ enSelectUpload: currLang == 'en-us' }" [tiTip]="i18n.common_term_upload_file_resource" style="height: 28px;line-height: 28px;">
                    <p >
                      {{ i18n.common_term_upload_code}}
                      <img src="./assets/img/header/select-down.png" class="button-arrow" />
                    </p>
                  </div>
                  <div *ngIf="!isShow && !isCompress" class="selectUpload" (mouseenter)="showUpload()" (mouseleave)="hideUpload()"
                    [ngClass]="{ enSelectUpload: currLang == 'en-us' }">
                    <ul>
                      <li class="hoverButton button-main" >
                        <p style="margin: 0 auto;">
                          {{ i18n.common_term_upload_code}}
                          <img src="./assets/img/header/select-down.png" class="button-arrow" />
                        </p>
                      </li>
                      <li class="selectItem" (click)="zipUpload()" style="margin-bottom: 0px;"  *ngIf="hoverFlag">
                        <p tiOverflow>{{ i18n.common_term_upload_compressed }}</p>
                      </li>
                      <!-- 上传压缩包 -->
                      <input type="file" id="zipload" class="dis-none" (change)="uploadFile('normal', '1')" [accept]="byteAccrptType">
                      <label for="filesbeta"  class="selectItem" *ngIf="hoverFlag && !isIE" (click)="cancelTip()">
                        {{ i18n.common_term_upload_directory }}
                      </label>
                      <!-- 上传文件夹 -->
                      <input type="file" id="filesbeta" webkitdirectory style="display: none;" (change)="toZip('normal', '1' , $event)" />
                    </ul>
                  </div>
                </div>
                <!-- 未选择文件 -->
                <p class="no-file-selected" *ngIf="noFileSelected">
                  <img src="./assets/img/home/icon_error.png" alt="">
                  <span>{{ i18n.common_term_source_code_path_empty }}</span>
                </p>
                <!-- Mac -->
                <p class="mac-info" *ngIf="isMac">{{ i18n.source_code_info.mac_info }}</p>
                <!-- 上传报错 -->
                <p class="upload-restule-tip" *ngIf="uploadResultTip.content">
                  <img [src]="uploadResultTip.state === 'success'? './assets/img/home/success-tip.svg': './assets/img/home/icon_error.png'" alt="">
                  <span [ngStyle]="{'color': uploadResultTip.state === 'success' ? '#616161':'#ED4B4B'}">{{uploadResultTip.content}}</span>
                  <ng-container *ngIf="fileExceed">
                    <span *ngIf="currLang === 'zh-cn'" class="file-err-help"><a (click)="goFileHelp()">{{ i18n.common_term_help_tip }}</a>。</span>
                    <span *ngIf="currLang === 'en-us'" class="file-err-help"><a (click)="goFileHelp()">online help</a>.</span>
                  </ng-container>
                </p>
              </span>
            </div>
            <!-- 结构体字节对齐检查 构建工具 -->
            <div>
              <span class="required"></span>
              <span class="label">{{inputItems.tool.label}}</span>
              <span class="value">
                <ti-select [options]="inputItems.tool.options" [(ngModel)]="inputItems.tool.selected"
                  id="toolselect" (ngModelChange)="commandChange($event)" class="inp-disabled common-size">
                </ti-select>
              </span>
            </div>
            <!-- 结构体字节对齐检查 编译命令 -->
            <div style="display: flex;">
              <span class="required">*</span>
              <span class="label">{{inputItems.command.label}}</span>
              <span class="value">
                <input type="text" tiText [(ngModel)]="inputItems.command.value"
                  [tiValidation]="validation" [formControl]="commandControl" class="byte-input common-size inp-disabled command-input" maxlength="32" tiMaxLength="32"/>
                  <p class="command-tip">
                    <span>{{ i18n.common_term_ipt_label.command_tip }}</span>
                    <span *ngIf="currLang === 'zh-cn'"><a (click)="help('command')">{{ i18n.common_term_help_tip }}</a>。</span>
                    <span *ngIf="currLang === 'en-us'"><a (click)="help('command')">online help</a>.</span>
                  </p>
              </span>
            </div>
            <div class="btn-box-run">
              <span class="label"></span>
              <div style="display: inline-block;" [tiTip]="createBtnDisabledTip" tiTipPosition='right'>
                <span>
                  <button type="button" color="primary" class="operation" tiButton (click)="checkAnalyzeForm()" [disabled]="createBtnDisabled">{{i18n.common_alignment_check.operation}}</button>
                </span>
              </div>
            </div>
          </li>
          <!-- 结构体字节对齐 end -->
          <!-- cacheline模式检查 start -->
          <li *ngSwitchCase="'cache'">
            <div>
              <span class="required" tiOverflow>*</span>
              <span class="label" tiOverflow>{{ i18n.common_term_ipt_label.source_code_path }}</span>
              <span class="value" style="max-width: 740px;">
                <p tiOverflow>{{ workspace }}</p>
              </span>
            </div>
            <div>
              <span class="label"></span>
              <span class="value p-relative">
                <span class="forTextarea">
                  <textarea
                    type="text" tiText
                    [tiValidation]="validationChange" [formControl]="maxFilenameLength"
                    placeholder="{{i18n.common_term_analysis_source_code_path1}}&#10;{{i18n.common_term_analysis_source_code_path2}}&#10;{{inputPrompt1}}"
                    class="areaMatch" [ngClass]="{'areaMatch-zh': inputValueCache !== ''}"
                    [ngStyle]="{'height':(this.currLang == 'zh-cn') ? '142px' : '180px',
                                'border-color':(uploadResultTip.content && uploadResultTip.state==='error') || noFileSelected ? '#ED4B4B':''}"
                    [(ngModel)]="inputValueCache" [errorMessageWrapper]="wrapper"
                    (focus)="focusTextArea('cache')" (blur)="blurAreaMatch()" (keyup)="keyupAreaMatch('cache')"
                  ></textarea>
                  <div #wrapper style="margin-left: 10px;"></div>
                </span>
                <!-- 输入自动匹配 -->
                <div class="areaMatchDiv" *ngIf="displayAreaMatch && pathlist.length">
                  <ul>
                    <li *ngFor="let path of pathlist" style="cursor: pointer;">
                      <p (mousedown)="clickAreaMatch(path, 'cache')">{{path}}</p>
                      <div (mousedown)="isDeleteAreaMatch(path)"></div>
                    </li>
                  </ul>
                </div>
                <!-- 上传按钮 -->
                <div>
                  <div *ngIf="isShow || isCompress " class="selectUpload-disabled" [ngClass]="{ enSelectUpload: currLang == 'en-us' }" [tiTip]="i18n.common_term_upload_file_resource" style="height: 28px;line-height: 28px;">
                    <p >
                      {{ i18n.common_term_upload_code}}
                      <img src="./assets/img/header/select-down.png" class="button-arrow" />
                    </p>
                  </div>
                  <div *ngIf="!isShow && !isCompress" class="selectUpload" (mouseenter)="showUpload()" (mouseleave)="hideUpload()"
                    [ngClass]="{ enSelectUpload: currLang == 'en-us' }">
                    <ul>
                      <li class="hoverButton button-main" >
                        <p style="margin: 0 auto;">
                          {{ i18n.common_term_upload_code}}
                          <img src="./assets/img/header/select-down.png" class="button-arrow" />
                        </p>
                      </li>
                      <li class="selectItem" (click)="zipUpload()" style="margin-bottom: 0px;"  *ngIf="hoverFlag">
                        <p tiOverflow>{{ i18n.common_term_upload_compressed }}</p>
                      </li>
                      <!-- 上传压缩包 -->
                      <input type="file" id="zipload" class="dis-none" (change)="uploadFile('normal', '12')" [accept]="byteAccrptType">
                      <label for="filesbeta"  class="selectItem" *ngIf="hoverFlag && !isIE" (click)="cancelTip()">
                        {{ i18n.common_term_upload_directory }}
                      </label>
                      <!-- 上传文件夹 -->
                      <input type="file" id="filesbeta" webkitdirectory style="display: none;" (change)="toZip('normal', '12', $event)" />
                    </ul>
                  </div>
                </div>
                <!-- 未选择文件 -->
                <p class="no-file-selected" *ngIf="noFileSelected">
                  <img src="./assets/img/home/icon_error.png" alt="">
                  <span>{{ i18n.common_term_source_code_path_empty }}</span>
                </p>
                <!-- Mac -->
                <p class="mac-info" *ngIf="isMac">{{ i18n.source_code_info.mac_info }}</p>
                <!-- 上传报错 -->
                <p class="upload-restule-tip" *ngIf="uploadResultTip.content">
                  <img [src]="uploadResultTip.state === 'success'? './assets/img/home/success-tip.svg': './assets/img/home/icon_error.png'" alt="">
                  <span [ngStyle]="{'color': uploadResultTip.state === 'success' ? '#616161':'#ED4B4B'}">{{uploadResultTip.content}}</span>
                  <ng-container *ngIf="fileExceed">
                    <span *ngIf="currLang === 'zh-cn'" class="file-err-help"><a (click)="goFileHelp()">{{ i18n.common_term_help_tip }}</a>。</span>
                    <span *ngIf="currLang === 'en-us'" class="file-err-help"><a (click)="goFileHelp()">online help</a>.</span>
                  </ng-container>
                </p>
              </span>
            </div>
            <div class="btn-box-run">
              <span class="label"></span>
              <div style="display: inline-block;" [tiTip]="createBtnDisabledTip" tiTipPosition='right' >
                <span>
                  <button type="button" color="primary" class="operation" tiButton (click)="checkAnalyzeForm()" [disabled]="createBtnDisabled">{{i18n.common_term_opt_check}}</button>
                </span>
              </div>
            </div>
          </li>
          <!-- cacheline模式检查 end -->

            <!-- 内存一致性检查 start -->
            <li class="weak"  *ngSwitchCase="'weak'">
              <div>
                <span class="label weak-label" [ngClass]="{'label-en': currLang === 'en-us'}">{{ i18n.check_weak.mode_name }}</span>
                <div class="value">
                  <span *ngFor="let mode of weakModeList; let index = index" [ngClass]="{'mode-active': mode.active, 'weak-mode-radio-en': currLang === 'en-us', 'ie-weak-mode-radio-en': currLang === 'en-us' && isIE}" class="weak-mode-radio">
                    <input type="radio" tiRadio name="weakMode"
                      [(ngModel)]="weakModeSel" [value]="mode.id" [label]="mode.name"
                      (ngModelChange)="changeWeakMode(mode, index)"
                    />
                  </span>
                </div>
              </div>
              <div class="tip_check tip_check_2" [ngClass]="{'tip-check-en': currLang === 'en-us'}">
                <p *ngIf="weakEnvironment" style="max-width: 700px;margin-top: 4px;margin-bottom: 20px;">{{ i18n.check_weak.mode_tip }}{{ weakEnvironment }}</p>
              </div>
              <div *ngIf="weakModeList[0].active" style="margin-bottom: 0;">
                <span class="label weak-label" [ngClass]="{'label-en': currLang === 'en-us'}">{{ i18n.check_weak.bc_tip }}</span>
                <div class="value">
                  <span *ngFor="let mode of weakFileList; let index = index" [ngClass]="{'mode-active': mode.active, 'weak-file-radio-en': currLang === 'en-us', 'ie-weak-file-radio-en': currLang === 'en-us' && isIE}" class="weak-file-radio">
                    <input type="radio" tiRadio name="weakFile"
                      [(ngModel)]="weakFileSel" [value]="mode.id" [label]="mode.name"
                      (ngModelChange)="changeFileMode(mode, index)"
                    />
                  </span>
                </div>
              </div>
              <!-- 编译器自动修复 -->
              <div *ngIf="weakModeList[1].active">
                <app-auto-fix></app-auto-fix>
              </div>
              <ul class="uploader" *ngIf="weakFileList[0].active && weakModeList[0].active" [ngClass]="{'upload-en-container': currLang === 'en-us'}">
                <p class="warn-title" [ngClass]="{'label-en-weak': currLang === 'en-us'}">{{ i18n.check_weak.warn_title }}</p>
                <!-- 上传源码文件 start-->
                <li class="step-item">
                  <p class="step-label" [ngClass]="{'select-step': curStep == weakStepList[0].step, 'executed-step': curStep > weakStepList[0].step}">
                    <span class="step-num">{{ weakStepList[0].step }}</span>
                    <span>{{ i18n.check_weak.step[0].title }}</span>
                  </p>
                  <div class="step-content" *ngIf="curStep == weakStepList[0].step">
                    <p class="step-path step-relative" tiOverflow>
                      <span class="required" style="color: red;">*</span>
                      {{ i18n.check_weak.step[0].path }}: {{ workspace }}
                    </p>
                    <p>
                      <span class="value">
                        <span class="value-row">
                          <span [tiTip]='isCheck ? i18n.disable_tip.arm_tip : ""' tiTipPosition="center" [tiTipMaxWidth]="currLang === 'zh-cn' ? '176px' : '180px'">
                            <textarea
                              type="text" tiText
                              [tiValidation]="validationChange" [formControl]="maxFilenameLengthArm"
                              placeholder="{{i18n.common_term_analysis_source_code_path1}}&#10;{{i18n.common_term_analysis_source_code_path2}}&#10;{{inputWeak}}"
                              class="areaMatchWeakDiv" [ngClass]="{'areaMatchWeakDiv-zh': weakFileName !== ''}"
                              [ngStyle]="{'height': (this.currLang == 'zh-cn') ? '142px' : '180px', 'border-color':uploadResultTip.content&&uploadResultTip.state==='error'? '#ED4B4B':''}"
                              [(ngModel)]="weakFileName" [errorMessageWrapper]="wrapper"
                              (focus)="focusTextArea('weak')" (blur)="blurAreaMatch()" (keyup)="keyupAreaMatch('weak')"
                              (ngModelChange)="changeUploadFile()"
                            >
                            </textarea>
                            <div #wrapper></div>
                          </span>
                          <!-- Mac -->
                          <p class="mac-info mac-weak-info" *ngIf="isMac">{{ i18n.source_code_info.consistency_mac_info }}</p>
                          <!-- 上传报错 -->
                          <p class="upload-restule-tip" *ngIf="uploadResultTip.content" style="margin-left: 0;">
                            <img [src]="uploadResultTip.state === 'success'? './assets/img/home/success-tip.svg': './assets/img/home/icon_error.png'" alt="">
                            <span [ngStyle]="{'color': uploadResultTip.state === 'success' ? '#616161':'#ED4B4B'}">{{ uploadResultTip.content }}</span>
                            <ng-container *ngIf="fileExceed">
                              <span *ngIf="currLang === 'zh-cn'" class="file-err-help"><a (click)="goFileHelp()">{{ i18n.common_term_help_tip }}</a>。</span>
                              <span *ngIf="currLang === 'en-us'" class="file-err-help"><a (click)="goFileHelp()">online help</a>.</span>
                            </ng-container>
                          </p>
                          <!-- 输入自动匹配 -->
                          <div class="areaMatchWeakDisplay areaMatchDiv"  *ngIf="displayAreaMatch && pathlist.length" [ngClass]="{'areaMatchMac': isMac, 'areaMatchMacEn': isMac && currLang === 'en-us'}">
                            <ul>
                              <li style="margin: 0;" *ngFor="let path of pathlist" style="cursor: pointer;">
                                <p (mousedown)="clickAreaMatch(path, 'weak')">{{ path }}</p>
                                <div (mousedown)="isDeleteAreaMatch(path)"></div>
                            </li>
                            </ul>
                          </div>
                          <!-- 上传按钮 -->
                          <div *ngIf="!isCheck || weakEnvironment || !createWeakCompilerDisabled">
                            <div *ngIf="isShow || isCompress " class="selectUpload-disabled" [ngClass]="{ enSelectUpload: currLang == 'en-us' }" [tiTip]="i18n.common_term_upload_file_resource" style="height: 28px;line-height: 28px;left: 440px;">
                              <p >
                                {{ i18n.common_term_upload_code}}
                                <img src="./assets/img/header/select-down.png" class="button-arrow" />
                              </p>
                            </div>
                            <div *ngIf="!isShow && !isCompress" class="selectUpload" (mouseenter)="showUpload()" (mouseleave)="hideUpload()"
                              [ngClass]="{ enSelectUpload: currLang == 'en-us' }" style="left: 440px;">
                              <ul>
                                <li class="hoverButton button-main">
                                  <p style="margin: 0 auto;">
                                    {{ i18n.common_term_upload_code}}
                                    <img src="./assets/img/header/select-down.png" class="button-arrow" />
                                  </p>
                                </li>
                                <li  class="selectItem" (click)="zipUpload()" style="margin-bottom: 0px;"  *ngIf="hoverFlag">
                                  <p tiOverflow>{{ i18n.common_term_upload_compressed }}</p>
                                </li>
                                <input type="file" id="zipload" style="display: none;" (change)="uploadWeakFile('normal', '6')"
                                [accept]="weakAccrptType" />
                                <label for="files"  class="selectItem" *ngIf="hoverFlag && !isIE" (click)="cancelTip()">
                                  {{ i18n.common_term_upload_directory }}
                                </label>
                                <input type="file" id="files" webkitdirectory style="display: none;" (change)="toZipWeak('normal', '6', $event)" />
                              </ul>
                            </div>
                          </div>
                          <div *ngIf="isCheck || !weakEnvironment" class="selectUpload-disabled" [ngClass]="{ enSelectUpload: currLang == 'en-us' }" [tiTip]="i18n.disable_tip.arm_tip" style="height: 28px;line-height: 28px;left: 440px;">
                            <p >
                              {{ i18n.common_term_upload_code}}
                              <img src="./assets/img/header/select-down.png" class="button-arrow" />
                            </p>
                          </div>
                          <div *ngIf="createWeakCompilerDisabled" class="selectUpload-disabled" [ngClass]="{ enSelectUpload: currLang == 'en-us' }"  style="height: 28px;line-height: 28px;left: 440px;">
                            <p >
                              {{ i18n.common_term_upload_code}}
                              <img src="./assets/img/header/select-down.png" class="button-arrow" />
                            </p>
                          </div>
                        </span>
                      </span>
                    </p>
                    <p class="step-relative" style="margin-top: 26px;">
                      <span class="required" style="color: red;">*</span>
                      <span>{{ i18n.check_weak.compile_command }}</span>
                    </p>
                    <span [tiTip]='isCheck ? i18n.disable_tip.arm_tip : ""' tiTipPosition="right" [tiTipMaxWidth]="currLang === 'zh-cn' ? '176px' : '180px'">
                      <textarea
                          type="text" tiText class="cmd-weak"
                          [(ngModel)]="inputItems.weakTool.value"
                          [placeholder]="cmdHolder"
                          [tiValidation]="validation" [formControl]="weakControl"
                        >
                      </textarea>
                    </span>
                  </div>
                  <div *ngIf="curStep !== weakStepList[0].step" class="code-path">
                    <div>{{ i18n.check_weak.step[0].path + '：' + workspace + weakFileName }}</div>
                    <div class="com-mand" tiOverflow tiTipPosition="top">{{ i18n.check_weak.compile_command + '：' + inputItems.weakTool.value }}</div>
                  </div>
                </li>
                <!-- 上传源码文件 end-->
                <!-- 解析构建命令 start -->
                <li class="step-item">
                  <p class="step-label" [ngClass]="{'select-step': curStep == weakStepList[1].step, 'executed-step': curStep > weakStepList[1].step}">
                    <span class="step-num">{{ weakStepList[1].step }}</span>
                    <span>{{ i18n.check_weak.step[1].title_1 }}</span>
                  </p>
                  <div class="step-content" *ngIf="curStep >= weakStepList[1].step">
                    <p class="step-relative" *ngIf="!createWeakCompilerDisabled">
                      <span class="required" style="color: red;">*</span>
                      <span>{{ i18n.check_weak.bc_file }}</span>
                    </p>
                    <p>{{ i18n.check_weak.bc_download_on }}<span
                       class="cursor-link" (click)="showBcDownloadModal()">
                       {{ i18n.check_weak.bc_modal.download_btn }}
                      </span>{{ i18n.check_weak.bc_download_un }}
                    </p>
                    <p [ngClass]="{'color222': curStep == 2}" *ngIf="!createWeakCompilerDisabled">
                      <ti-select style="width: 440px;"
                          [multiple]="true"
                          [selectAll]="true"
                          [options]='bcOptions'
                          [(ngModel)]="bcSelecteds"
                          [placeholder]='i18n.check_weak.step[1].title_2'
                          (ngModelChange)="onNgModelChange($event)"
                          [noDataText]="i18n.common_term_task_nodata"
                          [disabled]="createWeakBtnDisabled"
                          id="myselect">
                      </ti-select>
                    </p>
                    <div style="margin-top: 10px;">
                      <input
                      type="checkbox"
                      tiCheckbox
                      [disabled]=compilerConfigurationFile.disabled
                      [name]=compilerConfigurationFile.title
                      [(ngModel)]=compilerConfigurationFile.checked
                      [label]=compilerConfigurationFile.title
                      />
                    </div>
                  </div>
                  <input type="file" id="compilerfile" style="display: none;" (change)="uploadWeakFile('normal','7')" accept=".out"/>
                </li>
                <!-- 解析构建命令 end -->
                <li>
                  <button type="button" tiButton style="margin-right: 13px;" (click)="stepChangePre()"
                  *ngIf="curStep === weakStepList[1].step" [disabled]="createWeakCompilerDisabled || createWeakBtnDisabled">
                  {{ i18n.analysis_center.prev_btn }}
                  </button>
                  <span [tiTip]='isCheck ? i18n.disable_tip.arm_tip : ""' tiTipPosition="right" [tiTipMaxWidth]="currLang === 'zh-cn' ? '176px' : '180px'" class="tip-btn-box">
                    <button type="button" tiButton color="primary" (click)="stepChangeNext()" *ngIf="curStep === weakStepList[0].step" [disabled]="!weakFileName || createWeakCompilerDisabled || !inputItems.weakTool.value">
                      {{ i18n.analysis_center.next_btn }}
                    </button>
                  </span>
                  <span [tiTip]="createWeakBtnDisabled?createWeakBtnDisabledTip:''" tiTipPosition="right">
                    <button type="button" tiButton color="primary" *ngIf="curStep === weakStepList[1].step" (click)="confirmWeakCheck()" [disabled]="createWeakBtnDisabled || isCommit || createWeakCompilerDisabled || bcDisabled">
                      {{ i18n.check_weak.confirm_title }}
                    </button>
                  </span>
                </li>
              </ul>
              <!-- BC文件上传 -->
              <ul class="bc-area uploader" *ngIf="weakFileList[1].active && weakModeList[0].active" [ngClass]="{'upload-en-container': currLang === 'en-us'}">
                <div class="bc-label">
                  <span class="required" style="color: red;">*</span>
                  <span class="label" style="margin-right: 7px;">{{ i18n.check_weak.wait_test }}</span>
                </div>
                <span class="bc-upload" *ngIf="weakFileList[1].active">
                  <p class="bc-title">
                    <span>{{ i18n.check_weak.bc_tip1 }}</span>
                    <a (click)="help('weak')">{{ i18n.common_term_help_tip }}</a>
                    <span *ngIf="currLang === 'zh-cn'">。</span>
                    <span *ngIf="currLang === 'en-us'">.</span>
                  </p>
                  <app-bc-upload
                    #bcUpload
                    [weakEnvironment]="weakEnvironment"
                    [BCCommit]="BCCommit"
                  ></app-bc-upload>
                </span>
              </ul>

            </li>
            <!-- 内存一致性检查 end -->
        </ul>
        <div class="analysis-content-footer"></div>
    </div>

    <!-- 历史报告 -->
    <app-history-list
      *ngIf="selectType.curSelObj.id === 'weak' && weakModeList[0].active"
      (getReportTotalNum)="getReportTotalNum($event)"
      (changeIsCommit)="changeIsCommit($event)"
      (changeBCCommit)="changeBCCommit($event)"
    ></app-history-list>

    <app-upload-progress
      [isShow]="isShow"
      [isSlow]="isSlow"
      [info]="info1"
      [uploadProgress]="uploadProgress"
      (closeRequest)="closeRequest()"
    ></app-upload-progress>
    <app-zip-progress *ngIf="isCompress" [info]="info1" [waiting]='waiting' (closeRequest)="closeRequest()"></app-zip-progress>
  </div>
</div>

<!-- 查看须知 -->
<app-pop-mask #moremask>
  <div class="content config-modal" style="box-sizing: border-box;width: 560px;margin: 0;padding: 18px 32px 32px;">
    <p class="mask-title">
        <span>{{ i18n.compilation_preCheck_1_tip_see_more }}</span>
        <span class="close-btn" (click)="closeMaskMore()"><img src="./assets/img/header/icon_header_pop_close.svg" alt=""></span>
    </p>
    <div class="mask-container" [ngSwitch]="selectType.selectedId">
      <div class="desc" *ngSwitchCase="'precheck'" style="color: #616161;">
        <p>{{i18n.common_term_build_tip}}</p>
        <p style="margin-top: 8px;">{{ i18n.common_term_build_tip_1 }}</p>
      </div>
      <div class="desc" *ngSwitchCase="'byte'" style="color: #616161;">
        <p>{{ i18n.common_term_build_tip_2 }}</p>
        <p style="margin-top: 8px;">{{ i18n.common_term_build_tip_3 }}</p>
      </div>
    </div>
    <div class="btn-box">
      <button type="button" tiButton color="default"
        (click)="closeMaskMore()">{{ i18n.common_term_operate_close }}</button>
    </div>
  </div>
</app-pop-mask>

<!-- 上传重复文件 modal start -->
<app-pop-mask #exitmask>
  <div class="content config-modal exit-modal-560">
      <p class="mask-title">
          <span>{{i18n.analysis_center.exit.title}}</span>
          <span class="close-btn" (click)="closeMaskExit()">
            <img src="./assets/img/header/icon_header_pop_close.svg" />
          </span>
      </p>
      <div class="mask-container">
        <div class="img-box">
          <img src="./assets/img/tip/warn.svg" />
        </div>
        <p style="max-width: 460px;">{{exitFileNameReplace}}</p>
      </div>
    <div class="btn-box">
      <button type="button" tiButton color="primary" (click)="uploadAgain('override')">{{ i18n.analysis_center.exit.replace }}</button>
      <button type="button" tiButton (click)="uploadAgain('save_as')" *ngIf="noAgain">{{ i18n.analysis_center.exit.save_as }}</button>
      <button type="button" tiButton (click)="closeMaskExit()">{{ i18n.common_term_operate_cancel }}</button>
    </div>
  </div>
</app-pop-mask>
<!-- 上传重复文件 modal end -->

<!-- 另存为 modal start -->
<app-pop-mask #saveasmask>
  <div class="content config-modal exit-modal-560">
      <p class="mask-title">
          <span>{{i18n.analysis_center.exit.save_as}}</span>
          <span class="close-btn" (click)="closeMaskSaveAs()">
            <img src="./assets/img/header/icon_header_pop_close.svg" />
          </span>
      </p>
      <div class="mask-container">
        <ti-formfield class="save-as-field">
          <ti-item [label]="confirmName.zip.label" [required]="confirmName.zip.required">
            <input class="command-input saveAs-input" type="text" tiText [(ngModel)]="exitFileName"
                [tiValidation]="validation" [formControl]="confirmUploadZip" [errorMessageWrapper]="wrapper"/>
                <div #wrapper></div>
          </ti-item>
        </ti-formfield>
      </div>
    <div class="btn-box">
      <button type="button" tiButton color="primary" (click)="saveAs('save_as')">{{i18n.common_term_operate_ok}}</button>
      <button type="button" tiButton (click)="closeMaskSaveAs()">{{i18n.common_term_operate_cancel}}</button>
    </div>
  </div>
</app-pop-mask>
<!-- 另存为 modal end -->


<!-- BC文件下载 modal start -->
<app-bc-download
  #bcDownload
  [bcOptions]="bcOptions"
  [workspace]="workspace"
  [weakFileName]='weakFileName'
  [weakCopmilerId]='weakCopmilerId'
></app-bc-download>
<!-- BC文件下载 modal end -->
