$col97: #979797;
$themeColor: #0067ff;

.analysis-container {
  position: relative;
  width: 100%;
  .banner-container {
    height: 58%;
    position: relative;
    overflow: hidden;

    .bg-img {
      position: absolute;
      width: 110%;
      height: 100%;
    }

    .welcome {
      margin-left: 3%;
      top: 1vw;
      position: relative;
      color: #fafbff;
      width: 68%;
      .banner-title {
        font-size: 48px;
        color: #fafbff;
        margin-bottom: 15px;
      }
      .banner-desc {
        font-size: 20px;
        color: #fafbff;
        margin-bottom: 30px;
      }
      .build-tip {
        font-size: 16px;
        color: #fafbff;
        line-height: 25px;
      }
    }
  }
  .analysis-content {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 300px;
    background: #fff;
    .main {
      box-sizing: border-box;
      flex: 1.5;
      width: calc(100% - 520px);
      padding: 32px 30px;
      padding-bottom: 46px;
      border-right: 1px solid #e1e6ee;
      overflow-y: visible;
      .analysis-content-header,
      & > ul {
        max-width: 960px;
        &:nth-child(2) {
          li > div + div{
            margin-bottom: 24px;
          }
        }
      }
      .analysis-content-footer {
        height: 30px; // 抬高下边界
      }

      .areaMatch {
        margin-left: 10px;
      }
      .areaMatch,
      .areaMatchWeakDiv {
        box-sizing: border-box;
        width: 440px;
        padding: 7px;
        font-size: 14px;
        word-wrap: break-word;
        white-space: pre-line;
      }
      .areaMatch-zh {
        height: 110px;
      }
      .areaMatch-zh,
      .areaMatchWeakDiv-zh {
        word-break: break-all;
      }

      li {
        line-height: 25px;
        font-size: 14px;
        margin-bottom: 10px;
        > span {
          position: relative;
        }
        .selectFile {
          position: absolute;
          top: 0;
          left: 460px;
          z-index: 1;
          border-radius: 1px;
          background-color: #fff;
          text-align: center;
          cursor: pointer;
          li {
            box-sizing: border-box;
            width: 80px;
            height: 28px;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 28px;
            border-radius: 2px;
            .selectFile-label {
              display: block;
              border: solid 1px #979797;
              &:hover {
                border: 1px solid #267dff;
                color: #267dff;
                cursor: pointer;
              }
            }
          }
        }
        .required {
          display: inline-block;
          width: 10px;
          font-size: 20px;
          color: #ff524e;
          position: relative;
          top: 5px;
        }
        .label {
          display: inline-block;
          min-width: 148.86px;
          width: 9.58vw;
          margin-right: 16px;
          color: #6c7280;
        }
        .bc-area {
          position: relative;
        }
        .bc-label {
          position: absolute;
          left: 0;
          top: 32px;
        }
        .bc-upload {
          display: inline-block;
          font-size: 12px;
        }
        .bc-title {
          margin-bottom: 8px;
          max-width: 700px;
        }
        .weak-label {
          min-width: 130.86px;
        }
        .label-en {
          min-width: 89.88px;
          width: 6.58vw;
        }
        .value {
          display: inline-block;
          color: #282b33;
          .areaMatchDiv {
            position: absolute;
            left: 0;
            width: 440px;
            margin-left: 10px;
            box-sizing: border-box;
            border: 1px solid $themeColor;
            border-top: 1px solid #e1e6ee;
            background-color: #fff;
            z-index: 9;
            max-height: 300px;
            overflow-y: auto;
            li {
              margin-bottom: 0;
            }
            li:last-child {
              margin-top: 0;
              margin-bottom: 0 !important;
            }
          }
          .areaMatchWeakDisplay {
            margin-left: 0;
            &.areaMatchMac {
              margin-top: -22px;
            }
            &.areaMatchMacEn {
              margin-top: -38px;
            }
            li {
              &:nth-of-type(3) {
                margin: 0 !important;
              }
            }
          }
        }
        .value.authorizate {
          width: 79%;
        }
        .operation {
          display: inline-block;
          box-sizing: border-box;
          min-width: 130px;
          height: 32px;
          margin-left: 10px;
          border: none !important;
          color: #fff;
          font-size: 14px;
          text-align: center;
          line-height: 32px;
          border-radius: 1px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          -ms-border-radius: 1px;
          -o-border-radius: 1px;
        }
        .operation[disabled] {
          border: 1px solid #ccc !important;
          color: #ccc;
        }
        .btn-box-run {
          margin-top: 32px;
        }
        .tip {
          color: #ff524e;
        }
        .sceneBox {
          display: flex;

          > .sceneItem {
            input[type=radio]+.ti3-radio {
              display: none !important;
            }

            label:not(.ti3-radio) {
              width: 88px;
              height: 88px;
              padding: 11px 0;
              background: transparent;
              border-radius: 2px;
              cursor: pointer;
              color: #222;
              box-sizing: border-box;
              transition: 0.8s;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
              border-radius: 2px;

              > img {
                width: 40px;
                height: 40px;
              }

              > span.text {
                font-size: 10px;
              }
            }

            &:not(.disabled):hover > label:not(.ti3-radio),
            > input[type="radio"]:not(:disabled):checked ~ label:not(.ti3-radio) {
              box-shadow: 0px 2px 10px 0px rgba(0, 103, 255, 0.17);
            }

            &:not(:first-child) {
              margin-left: 8px;
            }
            &:hover > label:not(.ti3-radio) > span.text{
              color: #2072EA;
            }
          }
          .currentLabel {
            font-size: 12px;
            line-height: normal;
            max-width: 88px;
          }
          .sceneItem.active .currentLabel{
            color: #2072EA;
          }
          .disabled,
          .disabled label {
            cursor: not-allowed !important;
            color: #b8becc !important;
            background-color: #e6ebf5;
          }
        }
      }
      li.weak {
        width: 100%;
        margin-top: 14px;
        margin-left: 10px;
        .tip_check {
          margin: 24px 0;
          color: #222;
          font-size: 16px;
        }
        .tip_check_2 {
          margin-top: 0;
          margin-left: 10.41vw;
          margin-bottom: 14px;
          font-size: 12px;
        }
        .step-label {
          color: #979797;
          font-size: 14px;
        }
        .step-relative {
          position: relative;
          left: -10px;
          max-width: 760px;
        }
        .step-num {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #ffffff;
          line-height: 14px;
          text-align: center;
          border: 1px solid #979797;
          margin-right: 5px;
        }
        .warn-title {
          margin-top: 4px;
          margin-bottom: 20px;
          font-size: 12px;
          max-width: 700px;
        }
        .step-content {
          border-left: 1px solid #eee;
          padding-left: 15px;
          margin-left: 7px;
          color: #616161;
          .color222 {
            color: #222;
          }
          .des {
            margin: 12px 0 4px;
            p {
              line-height: 20px;
            }
          }
          .value {
            position: relative;
          }
          .tip-btn-box,
          .disabled-btn {
            position: absolute;
            top: 0;
            left: 440px;
          }
        }
        .select-step {
          color: #0067ff;
          .step-num {
            border-color: #0067ff;
            color: #ffffff;
            background-color: #0067ff;
          }
        }
        .executed-step {
          color: #222;
          .step-num {
            border-color: #6882da;
            color: #0067ff;
            background-color: #fff;
          }
        }
      }
    }

    /* 编译命令提示 */
    .command-tip {
      width: 460px;
      margin-top: 4px;
      font-size: 12px;
      color: $col97;
    }
    /* 内存一致性检查 start */
    .weak {
      .weak-mode-radio {
        &:last-child {
          padding-left: 98px;
        }
        &.weak-mode-radio-en:last-child {
          padding-left: 86px;
        }
        // ie 英文下
        &.ie-weak-mode-radio-en:last-child {
          padding-left: 76px;
        }
      }

      .weak-file-radio {
        &:last-child {
          padding-left: 70px;
        }
        &.weak-file-radio-en:last-child {
          padding-left: 53px;
        }
        // ie 英文下
        &.ie-weak-file-radio-en:last-child {
          padding-left: 100px;
        }
      }
    }
    /* 内存一致性检查 end */

    .arm-tip-container {
      position: relative;
      box-sizing: border-box;
      max-width: 100%;
      padding: 10px 20px;
      background-color: #f0f6ff;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      border: solid 1px #0067ff;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 18px;
      letter-spacing: 0px;
      color: #282b33;
      position: relative;
      margin-bottom: 15px;
      .close-arm-tip {
        position: absolute;
        right: 16px;
        cursor: pointer;
      }
    }
    .arm-tip-zh {
      width: 724px;
    }

    .welcome {
      max-width: 600px;
      flex: 1;
      padding-top: 30px;
      padding-right: 80px;
      .build-tip {
        font-size: 14px;
        color: #666;
        line-height: 25px;
        p:first-child {
          color: #333;
          font-weight: bold;
        }
      }
    }
    .err-border {
      border: 1px solid #ff524e;
    }
    .selectFile-disabled {
      display: block;
      border: 1px solid #ccc;
      background-color: #f5f5f5 !important;
      color: #ccc;
      cursor: not-allowed;
      li {
        height: 28px;
        line-height: 28px;
      }
    }
  }
}

.common-size {
  font-size: 12px;
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  .welcome {
    .banner-title {
      font-size: 40px !important;
    }
    .banner-desc {
      font-size: 24px !important;
    }
    .build-tip {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 1600px) {
  .welcome {
    .banner-title {
      font-size: 32px !important;
    }
    .banner-desc {
      font-size: 16px !important;
    }
    .build-tip {
      font-size: 12px !important;
    }
  }
}

.alerm-container {
  z-index: 1;
  position: absolute;
  right: 80px;
  top: 0;

  .alerm-circle {
    width: 80px;
    display: inline-block;
    height: 80px;
  }

  .alerm-tip {
    background-color: #282b33;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    width: max-content;
    position: absolute;
    top: 80px;
    left: calc(-100% - 60px);
    display: none;
    padding: 10px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
  }
}

.alerm-container:hover .alerm-tip {
  display: block;
  z-index: 200;
}

td.ti3-form-label.ti3-text-form-label {
  width: 20% !important;
}
.btn-box {
  margin-top: 32px;
  button {
    min-width: 88px !important;
    &:nth-child(2) {
      margin: 0 16px;
    }
  }
}

/* 上传 info start */
.no-file-selected,
.upload-restule-tip,
.mac-info {
  font-size: 12px;
  line-height: 16px;
  margin-left: 12px;
  width: 440px;
}
.mac-info {
  margin-top: 5px;
  color: $col97;
}
.mac-weak-info {
  margin-left: 0;
}
.no-file-selected {
  span {
    color: #ED4B4B;
  }
}
.no-file-selected,
.upload-restule-tip {
  img {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
/* 上传 info end */

@media screen and (max-width: 1560px) and (min-width: 1500px) {
  .page-history-right {
    width: 24.08vw;
  }
}
@media screen and (max-width: 1566px) {
  .selsct-type-radio-en {
    &:nth-of-type(2) {
      padding: 0 20px !important;
    }
  }
  .uploader {
    .bc-label {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .tip_check_2 {
    margin-left: 142.2px !important;
  }
  .tip-check-en {
    margin-left: 109.28px !important;
  }
  .uploader {
    padding-left: 142.2px;
  }
  .upload-en-container {
    padding-left: 109.28px;
  }
}
@media screen and (min-width: 1366px) {
  .tip-check-en {
    margin-left: 6.58vw !important;
    padding-left: 16px;
    line-height: 16px !important;
    margin-bottom: 25px !important;
  }
  .uploader {
    padding-left: 10.41vw;
  }
  .upload-en-container {
    padding-left: calc(6.58vw + 16px);
    .bc-label {
      margin-top: 24px;
    }
  }
}

:host ::ng-deep ti-dominator[disabled] .ti3-select-dominator-text {
  color: #ccc;
}

:host ::ng-deep .ti3-multiselect-container > .ti3-select-dominator-text {
  max-height: calc(2 * var(--ti-input-height) - 4px) !important;
}

:host ::ng-deep ti-select {
  height: auto !important;
}
:host ::ng-deep .ti3-icon-clear:before {
  content: "\e923";
}
.code-path {
  margin-left: 8px;
  padding-left: 10px;
  border-left: 1px solid #eee;
}
.selectUpload {
  box-sizing: border-box;
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 450px;
  right: -90px;
  min-width: 80px;
  margin-left: 8px;
  border: solid 1px #979797;
  background-color: #fff;
  font-size: 14px;
  color: #282b33;
  text-align: left;
  line-height: 14px;
  font-weight: normal;
  font-stretch: normal;
  border-radius: 1px;
  letter-spacing: 0;
}
.selectUpload:hover {
  border-radius: 1px;
  border-color: #0067ff;
}

.selectUpload-disabled {
  top: 0px;
  left: 450px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #ccc;
  p {
    padding-left: 10px;
  }
}
.selectUpload-disabled:hover {
  border: 1px solid #ccc;
}

.selectUpload li,
.selectUpload label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 80px;
  height: 34px;
  padding-left: 10px;
}

.selectItem {
  justify-content: center;
  padding-left: 0;
  text-align: left;
  > p {
    height: 100%;
    line-height: 34px;
    &:first-child {
      margin-top: -2px;
    }
  }
}

.selectItem:hover {
  background-color: #0067ff;
  color: #fff;
}

.enSelectUpload {
  left: 450px;
  width: 8.59375vw;
  z-index: 99;
  ul,
  li,
  label {
    width: 100%;
  }
}
.button-arrow {
  vertical-align: middle;
  margin-left: 8px;
}
.button-main {
  height: 28px !important;
  margin-bottom: 0px !important;
}
.cmd-weak {
  height: 110px;
  padding: 5px;
  width: 440px;
  word-break: break-word;
  font-size: 14px;
}
.com-mand {
  width: 550px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.label-en-weak {
  line-height: 16px !important;
}
