.pstyle-second {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-pstyle-second) !important;
}

.input {
    width: 378px !important;
    height: 26px !important;
    margin-top: 10px !important;
    padding: 0 10px;
    outline: none;
    margin-right: 10px;
}

input:disabled {
    width: 378px !important;
    height: 26px !important;
    cursor: not-allowed !important;
    vertical-align: bottom;
}

.little-primary-btn {
    margin-right: 10px;
}

::ng-deep .vscode-light {
    .little-primary-btn:hover {
        color: #ffffff;
        background: #267dff !important;
    }
    
    .little-primary-btn:active {
        background: #0057d9 !important;
    }
    
    .little-primary-btn[disabled] {
        background: #f5f5f5 !important;
        color: #cccccc !important;
        border: 1px solid #cccccc !important;
    }
}

::ng-deep .vscode-dark {
    ti-tip-container.ti3-tooltip.ti3-tooltip-right:before {
        background: var(--ti3-tooltip-background-color) !important;
    }
}
::ng-deep .vscode-dark {
    ti-tip-container.ti3-tooltip.ti3-tooltip-right:after {
        background: var(--ti3-tooltip-background-color) !important;
    }
}

.little-minor-btn {
    vertical-align: middle;
}

.little-minor-btn[disabled] {
    cursor: not-allowed;
}

.ti3-icon-staricon::before {
    color: #f45c5e !important;
}

.secondheight {
    margin-top: 20px;

    input:focus {
        border: none;
        outline: none;
    }
}

.titleset {
    font-size: 20px;
    padding-bottom: 30px;
    cursor: default;
    color: var(--color-titleset) !important;
}

.error-message-del {
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ff4c4c;
    display: block;
}

.error-message-del img {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.close-err-img {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 20px;
}

.inputstyle-select {
    --ti-input-height: 28px;
    width: 400px !important;
    margin-top: 10px;
}

.inputstyle-select:focus {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--mc-color-select-option-selected-bg) !important;
}

.inputstyle-select:hover {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--mc-color-select-option-selected-bg) !important;
}

.inputstyle-select[disabled] {
    margin-right: 10px !important;
    vertical-align: bottom;
    border: 1px solid !important;
    background-color: var(--color-inputstyle-select-disable) !important;
    border-color: var(--color-inputstyle-select-disable-font) !important;
    ::ng-deep .ti3-overflow-padding {
        color: var(--color-inputstyle-select-disable-font) !important;
    }
}

.run-log-level {
    .modify-btn {
        display: inline-block;
    }

    .modifying-btns {
        margin-top: 20px;

        .cancel-modify-btn {
            height: 26px;
            width: 98px;
        }
    }
}
