<div id="itemSysSetting" style="margin: 30px 0;">
    <div class="titleset">{{ i18n.plugins_porting_menu_system_config }}</div>
    <!-- 最大同时在线普通用户数 -->
    <div>
        <div *ngIf="!userManager.userInput">
            <div>
                <div class="pstyle-second ti3-icon ti3-icon-staricon">{{i18n.common_term_max_user_num}}</div>
                <div>
                    <span *ngIf="isDangerousUser" class="error-message-del">
                        <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                        <span class="ti3-validate-text">{{errorMessageUser}}</span>
                        <img class="close-err-img" src="./assets/img/migration-center/icon-close.svg"
                            (mousedown)='closeErrMessageUser()'>
                    </span>
                    <input class="input" type="text" [(ngModel)]="userManager.finnaluserNum" disabled>
                    <span class="little-primary-btn"
                        (click)="openNumChange()">{{i18n.common_term_operate_modify}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="userManager.userInput">
            <div class='secondheight'>
                <div class="pstyle-second">
                    <div class="ti3-icon ti3-icon-staricon">{{i18n.common_term_max_user_num}}
                    </div>
                </div>
                <input class="input" type="text" [(ngModel)]="userManager.spinnerValue"
                    [tiValidation]="validation"  [formControl]="maxUsersControl"
                    (ngModelChange)="userManager.checkNums()">
            </div>
            <div class='secondheight'>
                <button type="button" class="little-primary-btn" tiButton
                    [disabled]="userManager.userNumsFlag" (click)="changeNum()">{{ i18n.common_term_operate_ok }}</button>
                <span class="little-minor-btn" style="height: 26px; width: 98px;"
                    (click)="closeNumChange()">{{i18n.common_term_operate_cancel}}</span>
            </div>
        </div>
    </div>
    <!-- 会话超时时间 -->
    <div>
        <div *ngIf="!timeOutManager.timeInput">
            <div>
                <div class="secondheight pstyle-second ti3-icon ti3-icon-staricon">{{i18n.plugins_porting_title_timeout}}</div>
                <div>
                    <input class="input" type="text" [(ngModel)]="timeOutManager.finnaluserNum" disabled>
                    <span class="little-primary-btn"
                        (click)="openTimeOutChange()">{{i18n.common_term_operate_modify}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="timeOutManager.timeInput">
            <div class='secondheight'>
                <div class="pstyle-second">
                    <div class="ti3-icon ti3-icon-staricon">
                        {{i18n.plugins_porting_title_timeout}}
                    </div>
                </div>
                <input class="input" type="text" [(ngModel)]="timeOutManager.spinnerValue"
                    [tiValidation]="validation"  [formControl]="timeoutControl"
                    (ngModelChange)="timeOutManager.checkNums()">
            </div>
            <div class="secondheight">
                <button type="button" class="little-primary-btn" tiButton
                    [disabled]="timeOutManager.userNumsFlag" (click)="changeTimeOut()">{{ i18n.common_term_operate_ok }}</button>
                <span class="little-minor-btn" style="height: 26px; width: 98px;"
                    (click)="closeTimeOut()">{{i18n.common_term_operate_cancel}}</span>
            </div>
        </div>
    </div>
    <!-- web服务证书自动告警时间(7～180天) -->
    <div>
        <div *ngIf="!changeFlag">
            <div class='secondheight'>
                <div class="pstyle-second ti3-icon ti3-icon-staricon">{{i18n.plugins_porting_webServerCertificate.cert_warn_value}}</div>
                <div>
                    <input id="displayWebCert" class="input" type="number" [(ngModel)]="webCertThreshold" disabled>
                    <span class="little-primary-btn"
                        (click)="modifyWebCert()">{{i18n.common_term_operate_modify}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="changeFlag">
            <div class='secondheight'>
                <div class="pstyle-second">
                    <div class="ti3-icon ti3-icon-staricon">
                        {{i18n.plugins_porting_webServerCertificate.cert_warn_value}}
                    </div>
                </div>
                <input id="modifyWebCert" class="input" type="text" [(ngModel)]="modifyWebCertThreshold"
                    [tiValidation]="validation"  [formControl]="certWarnControl"
                    (ngModelChange)="changeWebCert()">
            </div>
            <div class='secondheight'>
                <button type="button" class="little-primary-btn" tiButton
                    [disabled]="errorWebCertFlag" (click)="setCertTimeoutConfig()">{{ i18n.common_term_operate_ok }}</button>
                <span class="little-minor-btn" style="height: 26px; width: 98px;"
                    (click)="cancelWebCert()">{{i18n.common_term_operate_cancel}}</span>
            </div>
        </div>
    </div>
    <!-- 运行日志级别 -->
    <div class="run-log-level">
        <div class="pstyle-second mt-20 ti3-icon ti3-icon-staricon">{{ logLevel.label }}</div>
        <ti-select class='inputstyle-select' [options]='logLevel.options'
            [(ngModel)]="logLevel.selected" [disabled]='!logLevel.modifying'></ti-select>
        <div *ngIf="!logLevel.modifying" class="modify-btn">
            <span class="little-primary-btn" (click)="modifyLevel()">
                {{ i18n.common_term_operate_modify }}
            </span>
        </div>
        <div *ngIf="logLevel.modifying" class="modifying-btns">
            <span class="little-primary-btn" (click)="confirmModifyLevel()">
                {{ i18n.common_term_operate_ok }}
            </span>
            <span class="little-minor-btn cancel-modify-btn" (click)="cancelModifyLevel()">
                {{ i18n.common_term_operate_cancel }}
            </span>
        </div>
    </div>
  <!-- 吊销列表校验 -->
  <div class="run-log-level">
    <div class="pstyle-second mt-20 ti3-icon ti3-icon-staricon">{{ crlConfig.label }}</div>
    <ti-select class='inputstyle-select' [options]='crlConfig.options'
               [(ngModel)]="crlConfig.selected" [disabled]='!crlConfig.modifying'></ti-select>
    <div *ngIf="!crlConfig.modifying" class="modify-btn">
            <span class="little-primary-btn" (click)="modifyCRL()">
                {{ i18n.common_term_operate_modify }}
            </span>
    </div>
    <div *ngIf="crlConfig.modifying" class="modifying-btns">
            <span class="little-primary-btn" (click)="confirmModifyCRL()">
                {{ i18n.common_term_operate_ok }}
            </span>
      <span class="little-minor-btn cancel-modify-btn" (click)="cancelModifyCRL()">
                {{ i18n.common_term_operate_cancel }}
            </span>
    </div>
  </div>
</div>
