::ng-deep {

  .vscode-light {
    --table-details-td-bottom-border: #f7faff;
  }

  .vscode-dark {
    --table-details-td-bottom-border: #545454;
  }
}

ti-table.ti3-table-nest {

  table {
    tbody {
      tr {
        td {
          border-bottom: 1px solid var(--table-details-td-bottom-border);
        }
      }
    }
  }

}