.modal-dialog {
  .chen-nodata-td{
    box-sizing: border-box;
  }
  .ti3-table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .ti3-table-fixed-head {
      flex: 0 0 auto;
    }

    .ti3-table-container {
      flex-grow: 1;
      overflow: auto;

      .taskStatusTdContent {
        display: flex;
        align-items: center;

        >.status {
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;

          >.statusIcon {
            width: 8px;
            height: 8px;
            border-radius: 50%;

            &.succeeded {
              background: #61d274;
            }
        
            &.failed {
              background: #ed4b4b;
            }
          }

          >.running {
            width: 16px;
            height: 16px;
            background-color: transparent;
            background-image: url('../../../assets/img/home/running.gif');
            background-repeat: no-repeat;
            background-size: 105%;
          }
        }

        >.info {
          margin-left: 10px;
          font-size: 12px;
          line-height: 18px;
          color: #222;
        }
      }

      .operateBox {
        span.operateIcon {
          color: #0067ff;
          cursor: pointer;
          user-select: none;
          display: inline-block;

          &.disabled {
            color: #c0c4cc;
            cursor: not-allowed;
          }
      
          &:not(:first-child) {
            margin-left: 16px;
          }
        }
      }
    }

    .ti3-page-container {
      flex: 0 0 auto;
    }
  }
}
::ng-deep .delete-list .ti3-modal-content{
  width: 400px !important;
  margin: 0 auto;
}