.radios {
  display: flex;
}
.flex{
  width: fit-content;
  display: flex;
  align-items: center;
}
.paramValue {
  display: flex;
  height: 28px;
  align-items: center;

  input {
    width: 326px;
  }
  span {
    font-size: 12px;
    color: #979797;
    margin-left: 8px;
  }
}
.control_label {
  display: flex;
  align-items: center;
  width: fit-content;

  img {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }
}
.title {
  font-size: 14px;
  margin: 32px 0 0 16px;
}

.form-hight {
  margin-top: 32px;

  .title {
    display: flex;
    align-items: center;
    width: fit-content;

    span {
      margin-right: 8px;
      cursor: pointer;
    }
    img {
      cursor: pointer;
    }
  }
  .advanced-parame {
    margin: 20px 0 0 16px;

    .control {
      margin-top: 20px;
    }
  }
}
