/* You can add global styles to this file, and also import other style files */
$themeColor: #0067ff;
$switchOffColor: #9ea4b3;

html {
  font-size: 100%;
}

.ti3-tooltip {
  min-width: 50px;
  color: #282b33!important;
  box-shadow: 0px 4px 8px 0px 
		rgba(0, 0, 0, 0.2)!important;
	border-radius: 4px!important;
  font-size: 12px;
}
.ti3-tooltip-content {
  max-height: 300px;
  overflow-y: auto;
}

body {
  padding: 0 !important;
  margin: 0;
  height: 100vh;
  font-size: 14px;
  font-size: 1rem;
  font-family: "huawei sans";
}

div {
  box-sizing: border-box;
}

body * {
  padding: 0px;
}

@media only screen and (max-width: 1580px) and (min-width: 1366px) {
  html {
    font-size: 75.7% !important;
  }

  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 13px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1367px) {
  html {
    font-size: 75.7% !important;
  }

  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 12px;
    font-size: 1rem;
  }
}

p {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: break-word;
  outline: none;
}

dl,
ul,
ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}

table {
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table > tr {
  vertical-align: baseline;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  width: 0px;
}

.cl {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.mg-top20 {
  margin-top: 20px;
}

.mg-left10 {
  margin-left: 10px;
}

.main-container {
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 48px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 64px;
}

.main-title {
  display: flex;
  align-items: center;
  line-height: 58px;
  width: 100%;
  border-bottom: 1px solid #e1e6ee;
  margin-bottom: 20px;

  img {
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin-left: 15px;
  }

  span:nth-of-type(1) {
    font-size: 14px;
    color: #333333;
  }

  span:nth-of-type(2) {
    font-size: 20px;
    color: #333333;
  }
}

.main-content {
  width: 100%;
}

.error-msg-tip {
  color: #ff4c4c;
}

// 树形表格的icon样式
.expand_icon {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #6c7280;
  vertical-align: middle;
  margin-right: 5px;
}

.not_expand_icon {
  display: inline-block;
  border: 5px solid transparent;
  border-left-color: #6c7280;
  vertical-align: middle;
  margin-right: 5px;
}

// 重写tiny无数据时的样式

.modal-dialog ti-formfield#select-modal table.ti3-form {
  margin-bottom: 20px !important;
}

.modal-dialog ti-formfield#select-modal-java table.ti3-form {
  margin-bottom: 20px !important;
}

#detail-container,
.project-tabs ti-tabs .ti3-tab-content {
  border-top: none !important;
}

#detail-container .project-tabs ti-tabs .ti3-tabs + .ti3-tab-slider {
  border-bottom: none;
}

#detail-container .ti3-tabs > li {
  margin-right: 0;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li {
  padding-right: 20px;
}

.project-tabs > ti-tabs > ul {
  padding-top: 10px;
  height: 48px;
  background: #eef0f5;
}

.project-tabs ti-tabs .ti3-tab-content {
  border-top: none !important;
}

.project-tabs ti-tabs .ti3-tabs + .ti3-tab-slider {
  border-bottom: none;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li ti-tab-header > span.tab-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  color: #282b33;
  font-size: 16px;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li ti-tab-header > span.tab-close {
  position: absolute;
  right: -20px;
  cursor: pointer;
}

.project-tabs ti-tabs li.ti3-tab-active {
  background: #fff;
  height: 48px;
}

.ti3-validate-icon {
  margin-right: 5px !important;
}
.ti3-validate-text {
  display: inline-block;
  line-height: 20px;
}
.code .d2h-file-wrapper {
  border: none !important;
}

//去掉diff的header
.code .d2h-file-header {
  display: none !important;
}

.code tbody tr .d2h-del {
  background-color: transparent !important;
  border-color: transparent !important;
}

.code tbody tr .d2h-info {
  display: none;
}

.code tbody tr td.d2h-code-linenumber {
  background-color: #f0f2f5 !important;
  width: 4em !important;
  text-align: center !important;
}

.code tbody tr td .d2h-code-line {
  padding: 0 4em !important;
}

.code tbody tr td .d2h-code-line .d2h-code-line-ctn {
  padding-left: 15px;
}

.code tbody tr td .d2h-code-line .d2h-code-line-prefix {
  display: none;
}

.desc-content {
  font-size: 12px;
  color: #888888;
}

.ti3-switch.ti3-switch-on .ti3-switch-track {
  top: 7px !important;
  border: 1px solid $themeColor !important;
  background: $themeColor !important;
}
.ti3-switch.ti3-switch-on .ti3-switch-pointer {
  left: 22px !important;
  top: 7px !important;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid $themeColor !important;
}
.ti3-switch.ti3-switch-off .ti3-switch-track {
  top: 7px !important;
  height: 16px !important;
  border-radius: 20px !important;
  border-color: $switchOffColor !important;
  background: $switchOffColor !important;
}

.ti3-switch.ti3-switch-off .ti3-switch-pointer {
  top: 7px !important;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid $switchOffColor !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(40, 43, 51, 0.2);
  border-radius: 3px;
}

#test tr:nth-child(even) {
  background: #e1e4e5;
}

#assembly tr:nth-child(even) {
  background: #e1e4e5;
}

#assembly tr.active {
  background: #ecec77;
}

#test tr.active {
  background: #ecec77;
}

.ti3-table-tree {
  display: inline-block;
  transition: 0.5 ease-in-out;
}

.ti3-table-tree.active {
  transform: rotate(90deg);
}

.ti3-table-tree img {
  width: 12px;
}

#assembly .level1 {
  padding-left: 20px;
}

.chen-nodata-td {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chen-nodata-td div {
  margin-top: 15px;
}

.ti3-modal-content {
  width: 460px;
}

:host ::ng-deep .ti3-modal-body {
  word-break: break-word;
}

:host ::ng-deep body .ti3-modal-header span {
  word-break: break-word;
}

.thor-btn-primary {
  background-color: #0067ff !important;
  color: #fff !important;
  border: 1px solid #0067ff;
  padding: 7px 20px;
  border-radius: 1px;
  &:hover {
    background-color: #267dff !important;
  }
}

.thor-btn-normal {
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding: 7px 20px;
  border-radius: 1px;
  &:hover {
    color: #267dff !important;
    border-color: #267dff !important;
  }
}

.env-main .ti3-form .ti3-form-label {
  line-height: 14px;
  color: #9ea4b3;
}

.overview-params .ti3-form .ti3-form-label {
  padding: 0;
}

.overview-params .ti3-form .ti3-form-content {
  padding: 0;
}

.env-main .ti3-form .ti3-form-content {
  padding-bottom: 16px;
}

.line {
  width: 150%;
  height: 2px;
  background: #ddd;
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  color: #ddd;
  font-size: 0.8rem;
}

.table-y .title {
  flex: 1;
  display: flex;
  align-items: center;
}

.title-num {
  text-align: right;
}

.ti3-compnent-container-border:not([disabled])[tiFocused],
ti-select:not([disabled])[tiFocused] {
  border-color: $themeColor !important;
}

.ti3-btn-default:not([disabled]):hover,
[tiButton]:not([disabled]):hover {
  border-color: $themeColor !important;
}

.ti3-btn-default:not([disabled]):focus,
[tiButton]:not([disabled]):focus,
.ti3-btn-default:not([disabled]):active,
[tiButton]:not([disabled]):active {
  color: $themeColor !important;
  border-color: $themeColor !important;
}

//确认按钮
.ti3-btn-primary {
  background: #0067ff !important;
  border-color: #0067ff !important;
}
.ti3-btn-primary:hover {
  color: #ffffff !important;
  background: #267dff !important;
  border-color: #267dff !important;
}

.ti3-btn-primary:not([disabled]):focus,
.ti3-btn-primary:not([disabled]):active {
  color: #ffffff !important;
  background: #0057d9 !important;
  border-color: #0057d9 !important;
}
.ti3-btn-primary[disabled] {
  color: #cccccc !important;
  border: 1px solid #cccccc !important;
  background: #f5f5f5 !important;
}

.ti3-btn-danger {
  color: #fff !important;
  background: #6c92fa !important;
  border-color: #6c92fa !important;
}
.ti3-btn-danger:not([disabled]):hover {
  color: #fff !important;
  background: #6c92fa !important;
  border-color: #6c92fa !important;
}
.ti3-btn-danger:not([disabled]):focus,
.ti3-btn-danger:not([disabled]):active {
  box-shadow: none;
  color: #fff !important;
  background: #6c92fa !important;
  border-color: #6c92fa !important;
}
.main .ti3-form .ti3-form-label {
  line-height: 28px !important;
  min-width: 94px !important;
  padding: 0 16px 0px 0 !important;
}
.d2h-file-list-wrapper {
  display: none;
}

.ti3-select-dominator-container {
  height: 28px !important;
  line-height: 28px !important;
}
ti-dominator[disabled].ti3-select-dominator-container {
  background-color: #f5f5f5 !important;
  border-color: #ccc;
}
.tip-toggle {
  vertical-align: bottom;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.tip-toggle.active {
  transform: rotate(90deg);
}
.tip-detail {
  display: none;
  margin-top: 5px;
}

.tip-detail.active {
  display: block;
}

.tip-box,
.wsTip-box {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 99999;
  .tip-content {
    display: inline-block;
    pointer-events: all;
    padding: 11px 16px;
    text-align: left;
    min-width: 400px;
    background: #edfff9;
    border: 1px solid #61d274;
    border-radius: 2px;
    font-size: 0.875rem;
    color: #222;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .tip-content-warn {
    background: #fff3e8;
    border: 1px solid #ff9b00;
  }

  .tip-content-success {
    background: #edfff9;
    border: 1px solid #61d274;
  }

  .tip-content-error {
    background: #ffeeed;
    border: 1px solid #ed4b4b;
  }

  .tip-content-tip {
    background: #f0f6ff;
    border: 1px solid #0067ff;
  }
  .tip-icon {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 8px;
    position: relative;
    top: -1px;
  }
  .tip-close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    .tip-close-btn {
      width: 16px;
      height: 16px;
    }
    .tip-close-btn-ws {
      width: 16px;
      height: 16px;
      display: none;
    }
  }
}
.snapshotBg {
  width: 28px;
  height: 28px;
  background-image: url("./assets/img/home/snapshot_border.svg");
  background-size: 100% 100%;
}
.notSnapshot {
  width: 28px;
  height: 28px;
  cursor: not-allowed;
  background-image: url("./assets/img/home/snapshot_disabled.svg");
  background-size: 100% 100%;
}
.snapshotBg:hover {
  background-image: url("./assets/img/home/snapshot_border_hover.svg");
}
.snapshotBg:active {
  background-image: url("./assets/img/home/snapshot_border_active.svg");
}
.exportBg {
  width: 28px;
  height: 28px;
  margin-left:16px;
  cursor: pointer;
  background-image: url("./assets/img/home/export.svg");
  background-size: 100% 100%;
}
.exportBg:hover {
  background-image: url("./assets/img/home/export_hover.svg");
}
.exportBg:active {
  background-image: url("./assets/img/home/export_active.svg");
}
.datalimitBg {
  width: 28px;
  height: 28px;
  margin-left:16px;
  display: block;
  cursor: pointer;
  background-image: url("./assets/img/home/data_limit.svg");
  background-size: 100% 100%;
}
.datalimitBg:hover {
  background-image: url("./assets/img/home/data_limit_hover.svg");
}
.datalimitBg:active {
  background-image: url("./assets/img/home/data_limit_active.svg");
}
.ti3-error-icon-bg {
  width: 14px!important;
  height: 14px!important;
  margin-top: 2px;
  background-image: url("./assets/img/home/alert-warn.svg");
}
.ti3-icon-alert-warn:before {
  content:""!important;
}

// 新手引导关闭按钮样式
#close-guide {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #a9a9a9;
  box-sizing: border-box;
  right: 20px;
  top: 8px;
  cursor: pointer;
  font: 16px/35px tiFont;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: #0067ff;
  }
}
#close-guide::before {
  content: "\e905";
}
.search-box {
  padding-top: 10px;
  padding-bottom: 10px;
  .select {
    width: 100px !important;
    border-right: 0px;
  }
  .search {
    margin-left: -2px;
    width: 260px;
    height: 28px;
  }
}
.newNoData {
  width: 320px;
  height: 130px;
}
.databaseNodata {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 57vh;
  .no-text {
    color: #616161;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
}

.ti3-searchbox-container {
  width: 300px !important;
}
.svg-toggle {
  display: inline-block;

  img:hover {
      cursor: pointer;
  }

  & > img {
      display: none;
  }

  & > img:nth-of-type(1) {
      display: block;
  }

  &:hover {
      & > img:nth-of-type(1) {
          display: none;
      }

      & > img:nth-of-type(2) {
          display: block;
      }

      & > img:nth-of-type(3) {
          display: none;
      }
  }

  &:active {
      & > img:nth-of-type(1) {
        display: none;
      }

      & > img:nth-of-type(2) {
        display: block;
      }
      & > img:nth-of-type(3) {
        display: block;
      }
  }
}
// 分页样式
ti-pagination.ti3-page-container {
  .ti3-pag-prev:not(.disabled):active,
  .ti3-pag-next:not(.disabled):active {
    color: $themeColor !important;
  }
  .ti3-pag-goto {
    width: 87px;
    position: relative;
    box-sizing: border-box;
    margin-left: 8px;
    .ti3-pag-goto-input {
      width: 44px;
      border: 1px solid #979797 !important;
      height: 24px !important;
      line-height: 22px;
      border-radius: 2px;
    }
    .ti3-pag-goto-text{
      width: 44px;
      position: absolute;
      top: 0;
      left: 43px;
      font-size: 12px;
      text-align: center;
      line-height: 22px !important;
      margin: 0 !important;
      border: 1px solid #979797;
      border-left: 0;
      border-radius: 2px;
      box-sizing: border-box;
    }
    .ti3-pag-goto-icon-container{
      width: 44px !important;
      margin: 0 !important;
      position: absolute;
      top: 0;
      left: 43px;
      opacity: 0;
    }
  }
}
.ti3-pag-goto-icon {
  border-left: 6px solid #3399ff !important;
}
