::ng-deep .vscode-dark #profileSettingModal .input-box {
    // 输入框label字体颜色
    --input-label-font-color: #aaaaaa;
    // 主要按钮字体颜色
    --primary-button-font-color: #e8e8e8;
    // 次级按钮字体颜色
    --secondary-button-font-color: #e8e8e8;
    // 次级按钮背景颜色
    --secondary-button-background-color: #313131;
    // 次级按钮边框颜色
    --secondary-button-border-color: #dddddd;
    --error-info-clr: #CCCCCC;
}

::ng-deep .vscode-light #profileSettingModal .input-box {
    --input-label-font-color: #222222;
    --primary-button-font-color: #ffffff;
    --secondary-button-font-color: #222222;
    --secondary-button-background-color: #ffffff;
    --secondary-button-border-color: #979797;
    --error-info-clr: #222222;
}

.input-box {
    label {
        display: block;
        margin-left: -10px;
        margin-bottom: 10px;
        height: 20px;
        line-height: 20px;

        .required-icon {
            display: inline-block;
            width: 8px;
            height: 8px;
            padding: 1px;
        }

        span {
            font-size: 14px;
            color: var(--input-label-font-color);
        }
    }

    .input-box-body {
        display: block;
        align-items: center;

        input {
            width: 300px;
            height: 28px !important;
            box-sizing: border-box;
            padding: 0 10px;

            &:not(:disabled) {
                background: none !important;
            }

            &:focus {
                outline: none;
            }

            &.error:focus {
                animation: border-blink 1s forwards;
            }

        }

        span {
            margin-left: 8px;
            font-size: 14px;
            color: #888888;
        }

        .error-info {
            display: block;
            color: var(--error-info-clr);
            font-size: 12px;
            line-height: 20px;
            margin-top: 10px;
            width: 400px;
            background-color: var(--error-info-bg-clr);
            box-sizing: border-box;
            .ti3-error-icon-bg {
                background-color: #ed4b4b;
                border-radius: 50%;
                flex-shrink: 0;
                height: 18px;
                width: 18px;
                display: inline-block;
                margin-left: 0px;
                .ti3-error-icon{
                    color: #fff;
                    margin-left: 2px;
                }
            }
            .error-text {
                flex: 1;
                color: #ed4b4b;
            }
        }
    }

    .input-box-btns {
        padding: 20px 0;
        button {
            margin-right: 10px;
        }
        button:disabled {
            border: none !important;
            color: #b8becc !important;
            background: #313131 !important;
        }
    }
}

// 边框闪烁动画
@keyframes border-blink {
    0% { border-color: #ed4b4b; }
    25% { border-color: #0067ff; }
    50% { border-color: #ed4b4b; }
    75% { border-color: #0067ff; }
    100% { border-color: #ed4b4b; }
}