.trouble-suggestion {

  .detail-list {
    .detail-title {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      padding: 0 24px;
      background-color: var(--common-color-background-f5f9ff-2a2a2a);
      line-height: 44px;
      cursor: pointer;

      .left-title {
        max-width: 80%;
        img,
        span {
          vertical-align: middle;
        }
        span {
          margin-left: 16px;
          font-size: 14px;
          color: var(--common-color-font-primary);
        }
      }

      .ti3-icon {
        display: inline-block;
        &.active-icon {
          transform: rotate(180deg);
        }
      }
    }

    .detail-container {
      margin: 0px 1px;
      padding: 0px 24px 0px 55px;
      border: solid 1px var(--divider-d7dbe7-6e6e6e);
      border-top: none;
      .reason-suggestion {
        padding: 10px 0px;
        line-height: 20px;
        color: var(--color-font-d-aaaaaa-l-222222);
      }
      .reason-suggestion + .reason-suggestion {
        border-top: 1px dashed var(--divider-d7dbe7-6e6e6e);
      }
    }
  }
  .detail-list + .detail-list {
    margin-top: 20px;
  }
}