::ng-deep .vscode-dark {
    --header-padding-left: 16px;
}

::ng-deep .vscode-light {
    --header-padding-left: 0;
}

:host ::ng-deep .content-container {
    height: 100vh;
    padding: 39px 56px 0 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > .header {
        background-color: var(--d-12223b-l-ffffff);
        padding-left: var(--header-padding-left);
        height: 32px;
        line-height: 32px;
        color: var(--d-e8e8e8-l-222222);
        .group-list {
            font-size: 12px;

            &:not(:first-child) {
                margin-left: 30px;
            }

            .function-label {
                color: var(--d-aaaaaa-l-222222);
                padding-right: 10px;
            }
        }
    }

    > .body {
        margin-top: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;

        > .func-main {
            flex: 1;
            display: flex;
            flex-direction: row;
            margin-bottom: 24px;

            .table-container {
                width: 700px;
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;

                > .title {
                    h2 {
                        font-size: 20px;
                        height: 30px;
                        font-weight: normal;
                        line-height: 30px;
                        color: var(--d-e8e8e8-l-222222);
                    }
                }

                .ti3-table {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    height: calc(100% - 46px);

                    .ti3-table-fixed-head {
                        border-bottom: 1px solid var(--d-545454-l-e1e6ee);

                        table > thead > tr > th {
                            border-bottom: 0 !important;
                        }
                    }

                    th {
                        .content {
                            display: flex;
                            align-items: center;
                            overflow: hidden;

                            .ti3-cell-text-container {
                                overflow: hidden;
                                height: 32px;

                                .ti3-cell-text {
                                    max-width: 100% !important;
                                }
                            }

                            &.center {
                                justify-content: center;
                            }
                        }
                    }

                    .ti3-table-container {
                        position: relative;
                        height: calc(100% - 33px);
                        max-height: calc(100% - 33px);

                        td.codeLine {
                            white-space: pre-wrap !important;
                        }

                        tbody tr > td {
                            padding-top: 2px;
                            padding-bottom: 5px;
                            border-top: 0 !important;

                            > span {
                                padding-top: 2px;
                                padding-bottom: 2px;
                            }
                        }
                    }
                }
            }

            .assembly-right {
                margin-left: 48px;

                .operate-box {
                    float: right;

                    img {
                        margin-right: 8px;
                        cursor: pointer;
                        width: 28px;
                    }
                }
            }
        }

        > .source-img {
            box-sizing: border-box;
            width: 100%;
            position: absolute;
            bottom: 20px;
            background-color: var(--background-clr);
            overflow: hidden;

            &.active {
                height: 42px;
            }

            > h2 {
                font-size: 20px;
                width: 1159px;
                height: 30px;
                font-weight: normal;
                line-height: 30px;
                color: var(--d-e8e8e8-l-222222);
                margin-bottom: 16px;
            }

            .source-svg {
                border: 1px solid var(--d-545454-l-e1e6ee);
                border-radius: 5px;
                position: relative;
                height: 240px;
                overflow: hidden;

                > img {
                    position: absolute;
                    z-index: 111;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    user-select: none;
                }

                #insvg {
                    position: relative;
                    transform-origin: center center;
                    text-align: center;
                    margin-top: 30px;
                    height: calc(100% - 30px);

                    svg text {
                        user-select: none;
                    }
                }
            }
        }
    }
}

.ti3-table.custemTable
    > .ti3-table-container
    > table
    > tbody
    > tr.active:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table.custemTable
    > .ti3-table-container
    > table
    > tbody
    > tr.active:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr) {
    background: var(--d-2d2d2d-l-f5f9ff) !important;
}

.ti3-table.custemTable > .ti3-table-container > table > tbody > tr > td .angleBtn {
    width: 16px;
    margin-right: 24px;
    margin-left: 14px;
}

.ti3-table.custemTable > .ti3-table-container > table > tbody > tr.childTr > td:first-child > .tdContent {
    padding: 3px 10px 6px;
    margin-bottom: -5px;
}

// 深色主题适配
::ng-deep .vscode-dark .func-main ti-pagination {
    --mc-color-page-hover: #ffffff;
    --mc-color-page-bg-disabled: #616161;
}

// 浅色主题适配
::ng-deep .vscode-light .func-main ti-pagination {
    --mc-color-page-hover: #ffffff;
    --mc-color-page-bg-disabled: #cccccc;
}
:host ::ng-deep .func-main ti-pagination {
    ti-select {
        height: 24px !important;
        background-color: #313131 !important;

        &:focus {
            border-color: #747474 !important;
        }

        &:hover {
            border-color: #747474 !important;
        }
    }
    // 总条数
    .ti3-pag-total-items {
        color: var(--d-aaaaaa-l-222222) !important;
        float: left !important;
        font-family: FZLTHJW--GB1-0 !important;
        font-size: 12px !important;
    }

    // 翻页
    .ti3-pag-next,
    .ti3-pag-prev {
        color: var(--d-aaaaaa-l-222222) !important;
        background-color: inherit !important;
        width: 22px !important;
        height: 22px !important;

        &:hover,
        &:active {
            color: #ffffff !important;
            background-color: var(--mc-color-page-bg-hover) !important;
        }

        &.disabled {
            color: var(--mc-color-page-bg-disabled) !important;
            background-color: inherit !important;
        }
    }

    // 页数
    .ti3-pag-page {
        color: var(--d-aaaaaa-l-222222) !important;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        font-family: FZLTHJW--GB1-0 !important;
        font-size: 12px !important;
        border-radius: 2px !important;

        &:hover {
            background-color: var(--mc-color-page-bg-hover) !important;
            color: var(--mc-color-page-hover) !important;
        }

        // 当前选中
        &.active {
            background-color: var(--mc-color-page-bg-active) !important;
            color: var(--mc-color-page-hover) !important;
        }

        &:disabled {
            background-color: var(--mc-color-page-bg-disabled) !important;
            color: var(--mc-color-page-bg-disabled);
        }
    }
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 12px !important;
}

.toggle-btn-top {
    text-align: center;
    cursor: pointer;
    width: 100%;
    z-index: 99;
    user-select: none;
    position: relative;

    img {
        transition: all 100ms linear;

        &.active {
            transform: rotate(180deg);
        }
    }
}

.folding-line {
    position: fixed;
    left: 0;
    top: calc(100% - 325px);
    z-index: 999;
    width: 100%;
    border-top: 1px solid var(--d-545454-l-e1e6ee);

    &.active {
        top: calc(100% - 62px);
    }
}
