<div class="content-container" [id]='boxID'>
    <div class="header" *ngIf="headers">
        <span *ngFor="let header of headers" class="group-list">
            <span class="function-label">{{ header.label }}</span>
            <span class="function-content">{{ (["",null, undefined].includes(header.content) ? '--' : header.content) |
                thousandSeparator }}</span>
        </span>
    </div>

    <div class="body">
        <div class="func-main" [ngStyle]="{ 'max-height': isFold ? 'calc(100% - 88px)' : 'calc(100% - 350px)' }">
            <div class="source-left table-container">
                <div class="title">
                    <h2>{{i18n.common_term_task_tab_function_source}}</h2>
                </div>

                <ti-table [(displayedData)]="sourceData.displayed" [srcData]="sourceData.srcData"
                    [columns]="sourceData.columns" tiColsResizable class="custemTable">
                    <div class="ti3-table-fixed-head">
                        <table>
                            <thead>
                                <tr>
                                    <th *ngFor="let column of sourceData.columns; let index = index" tiOverflow
                                        [width]="column.width">{{ column.label }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="ti3-table-container ti3-resize-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th *ngFor="let column of sourceData.columns; let index = index"
                                        [width]="column.width"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let row of sourceData.displayed" [ngClass]="{ active: row.active }"
                                    [id]="row.id"
                                    (click)="highlight(row)">
                                    <ng-container *ngFor="let column of sourceData.columns">
                                        <td *ngIf="column.prop === 'countAndProportion'; else sourceOtherTd" tiOverflow>
                                            {{ row.count | thousandSeparator }}({{ row.proportion }})
                                        </td>

                                        <ng-template #sourceOtherTd>
                                            <td [ngClass]="{codeLine: column.prop === 'line_code'}" tiOverflow>
                                                {{ row[column.prop] }}</td>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                        <app-loading *ngIf="showLoading" [size]="'min'" [height]="'100%'"></app-loading>
                        <app-default-page *ngIf="!sourceData.displayed.length && !showLoading"
                            [text]="i18n.common_term_task_nodata" [height]="'100%'">
                        </app-default-page>
                    </div>
                </ti-table>
            </div>

            <div class="assembly-right table-container">
                <div class="title">
                    <h2 style="display: inline-block;">{{i18n.common_term_task_tab_function_assembley}}</h2>

                    <div class="operate-box" *ngIf="functionDetails.assemblyCode.hasCodeBlock !== false && !isIntellij">
                        <img id="pre-block" [src]="sanitizer.bypassSecurityTrustResourceUrl(preImgSrc)"
                            [tiTip]='i18n.common_term_preBlock' tiTipPosition="top" (click)='clickBlock("pre")'
                            (mouseenter)="changeBlockColor('#pre-block', './assets/img/projects/mouseenterPreBlockNew.svg')"
                            (mouseleave)="changeBlockColor('#pre-block', './assets/img/projects/preBlockNew.svg')"
                            (mousedown)="changeBlockColor('#pre-block', './assets/img/projects/mousedownPreBlockNew.svg')"
                            (mouseup)="changeBlockColor('#pre-block', './assets/img/projects/mouseenterPreBlockNew.svg')" />
                        <img id="next-block" [src]="sanitizer.bypassSecurityTrustResourceUrl(nextImgSrc)"
                            [tiTip]='i18n.common_term_nextBlock' tiTipPosition="top" (click)='clickBlock("next")'
                            (mouseenter)="changeBlockColor('#next-block', './assets/img/projects/mouseenterNextBlockNew.svg')"
                            (mouseleave)="changeBlockColor('#next-block', './assets/img/projects/nextBlockNew.svg')"
                            (mousedown)="changeBlockColor('#next-block', './assets/img/projects/mousedownNextBlockNew.svg')"
                            (mouseup)="changeBlockColor('#next-block', './assets/img/projects/mouseenterNextBlockNew.svg')" />
                    </div>
                    <div class="operate-box" *ngIf="functionDetails.assemblyCode.hasCodeBlock !== false && isIntellij">
                      <img id="pre-block" src="./assets/img/projects/preNormalBlock.svg"
                           [tiTip]='i18n.common_term_preBlock' tiTipPosition="top" (click)='clickBlock("pre")'
                           (mouseenter)="changeBlockColor('#pre-block', './assets/img/projects/preBlockHover.svg')"
                           (mouseleave)="changeBlockColor('#pre-block', './assets/img/projects/preNormalBlock.svg')"
                           (mousedown)="changeBlockColor('#pre-block', './assets/img/projects/preBlockClick.svg')"
                           (mouseup)="changeBlockColor('#pre-block', './assets/img/projects/preBlockHover.svg')" />
                      <img id="next-block" src="./assets/img/projects/nextNormalBlock.svg"
                           [tiTip]='i18n.common_term_nextBlock' tiTipPosition="top" (click)='clickBlock("next")'
                           (mouseenter)="changeBlockColor('#next-block', './assets/img/projects/nextBlockHover.svg')"
                           (mouseleave)="changeBlockColor('#next-block', './assets/img/projects/nextNormalBlock.svg')"
                           (mousedown)="changeBlockColor('#next-block', './assets/img/projects/nextBlockClick.svg')"
                           (mouseup)="changeBlockColor('#next-block', './assets/img/projects/nextBlockHover.svg')" />
                    </div>
                </div>

                <ti-table [(displayedData)]="assemblerData.displayed" [srcData]="assemblerData.srcData"
                    [columns]="assemblerData.columns" tiColsResizable class="custemTable">
                    <div class="ti3-table-fixed-head">
                        <table>
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let column of assemblerData.columns; let index = index">
                                        <th *ngIf="column.prop === 'detailsIcon'; else otherTh" details-icon-column>
                                        </th>

                                        <ng-template #otherTh>
                                            <th tiOverflow [width]="column.width">{{ column.label }} </th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="ti3-table-container ti3-resize-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let column of assemblerData.columns; let index = index">
                                        <th *ngIf="column.prop === 'detailsIcon'; else otherTh" details-icon-column>
                                        </th>

                                        <ng-template #otherTh>
                                            <th tiOverflow [width]="column.width"></th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                            </thead>

                            <tbody>
                                <ng-container *ngFor="let row of assemblerData.displayed;index as i">
                                    <tr [ngClass]="{ active: row.active }" [id]="row.id"
                                        (click)="highlight(row)">
                                        <ng-container *ngFor="let column of assemblerData.columns; let index = index">
                                            <td tiOverflow style="padding-top: 6px;" *ngIf="!index; else asmCountAndProportionTd">
                                                <button *ngIf="row.children" class="angleBtn"
                                                    (click)="row.showChildren = !row.showChildren">
                                                    <img src='./assets/img/summary/row_dark.svg'
                                                        [ngClass]="['expandIcon', row.showChildren ? 'active' : '']">
                                                </button>

                                                <span>{{ row[column.prop] }}</span>
                                            </td>

                                            <ng-template #asmCountAndProportionTd>
                                                <td *ngIf="column.prop === 'countAndProportion'; else asmOtherTd"
                                                    tiOverflow>
                                                    {{ row.count | thousandSeparator }}({{ row.proportion }})
                                                </td>
                                            </ng-template>

                                            <ng-template #asmOtherTd>
                                                <td tiOverflow>{{ row[column.prop] }}</td>
                                            </ng-template>
                                        </ng-container>
                                    </tr>

                                    <ng-container *ngIf="row.showChildren">
                                        <tr *ngFor="let child of row.children" class="childTr"
                                            [ngClass]="{ active: child.active }" [id]="child.id"
                                            (click)="highlight(child)">
                                            <ng-container
                                                *ngFor="let column of assemblerData.columns; let index = index">
                                                <td tiOverflow *ngIf="!index; else asmChildCountAndProportionTd"
                                                    [ngStyle]="{'padding-left': '40px'}">
                                                    <div class="indentLine"></div>

                                                    <div class="tdContent" style="padding-left: 24px;">
                                                        {{ child[column.prop] }}</div>
                                                </td>

                                                <ng-template #asmChildCountAndProportionTd>
                                                    <td *ngIf="column.prop === 'countAndProportion'; else asmChildOtherTd"
                                                        tiOverflow>
                                                        {{ child.count | thousandSeparator }}({{ child.proportion }})
                                                    </td>
                                                </ng-template>

                                                <ng-template #asmChildOtherTd>
                                                    <td tiOverflow>{{ child[column.prop] }}</td>
                                                </ng-template>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                        <app-loading *ngIf="showLoading" [size]="'min'" [height]="'100%'"></app-loading>
                        <app-default-page *ngIf="!assemblerData.displayed.length && !showLoading" [height]="'100%'">
                        </app-default-page>
                    </div>
                </ti-table>
            </div>
        </div>

        <div class="folding-line" [ngClass]="{ 'active': isFold }"></div>

        <div class="source-img" [ngClass]="{ 'active': isFold }" id='source-img' *ngIf="functionDetails.codeStream">
            <div class="toggle-btn-top" (click)='toggleTop()'>
                <img id="user-guide-toggle" src="./assets/img/arrow-down.png" [ngClass]="{ 'active': isFold }" />
            </div>
            <h2>{{i18n.common_term_task_tab_function_flow}}</h2>
            <div class="source-svg">
                <img src='./assets/img/header/da.svg' style="right: 38px;" (click)="scale(true)">
                <img src='./assets/img/header/xiao.svg' (click)="scale(false)">

                <div id='insvg'></div>
            </div>
        </div>
    </div>
</div>
