.vscode-dark #profileExportModal {
    // 弹窗背景颜色
    --modal-background-color: #252526;
    // 弹窗头部下边框颜色
    --modal-header-bottom-border-color: #4b4b4b;
    // 弹窗头部标题颜色
    --modal-header-title-color: #e8e8e8;
    // 弹窗底部上边框颜色
    --modal-footer-top-border-color: #4b4b4b;
    // 主要按钮字体颜色
    --primary-button-font-color: #e8e8e8;
    // 弹窗底部次级按钮字体颜色
    --modal-footer-secondary-button-font-color: #e8e8e8;
    // 弹窗底部次级按钮背景颜色
    --modal-footer-secondary-button-background-color: #313131;
    // 弹窗底部次级按钮边框颜色
    --modal-footer-secondary-button-border-color: #dddddd;
    // 树图文字颜色
    --details-summary-font-color: #e8e8e8;
    // 滚动条滑块颜色
    --scrollbar-thumb-background-color: rgba(121, 121, 121, 0.4);
    // 滚动条外层轨道和内层滚动条颜色
    --scrollbar-thumb-track-background-color: #252526;

    --ti-select-no-allow-color: #525252;
    .ti3-tree-container .ti3-icon-plus-square:hover {
        font-size: 16px !important;
        color: #0067ff;
    }
    .ti3-tree-container .ti3-icon-plus-square {
        font-size: 16px !important;
        margin-right: 8px !important;
    }
    .ti3-tree-container .ti3-icon-minus-square {
        font-size: 16px !important;
        color: #0067ff;
        margin-right: 8px !important;
    }
    --button-disabled-bg-color: #313131;
}

.vscode-light #profileExportModal {
    --modal-background-color: #ffffff;
    --modal-header-bottom-border-color: #e1e6ee;
    --modal-header-title-color: #222222;
    --modal-footer-top-border-color: #e1e6ee;
    --primary-button-font-color: #ffffff;
    --modal-footer-secondary-button-font-color: #222222;
    --modal-footer-secondary-button-background-color: #ffffff;
    --modal-footer-secondary-button-border-color: #979797;
    --details-summary-font-color: #222222;
    --scrollbar-thumb-background-color: #979797;
    --scrollbar-thumb-track-background-color: #ffffff;
    --button-disabled-bg-color: #f5f5f5;
}

#profileExportModal {
    .ti3-modal {
        z-index: 9999999 !important;
    }

    .ti3-modal-content {
        background-color: var(--modal-background-color) !important;

        .ti3-modal-header {
            color: var(--modal-header-title-color) !important;
            border-color: var(--modal-header-bottom-border-color);
            padding: 20px 0px !important;
            span {
                display: flex;
                font-size: 20px;
                line-height: 26px;
                justify-content: space-between;

                .ti3-close {
                    position: relative;
                    top: 0;
                    right: 0;
                }
            }
        }

        .ti3-modal-body {

            margin-left: -10px !important;
            padding: 0px;
            margin-bottom: 20px !important;
            header {
                margin-top: 10px;
                .tipTop{
                    .required-icon {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        padding: 1px;
                    }
                }
                .tip-box {
                    display: flex;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    margin-left: 10px;
                    padding: 10px 16px;
                    box-sizing: border-box;
                    background-color: var(--modal-body-tip-box-background-color);
                    border-radius: 2px;
                    border: 1px solid var(--modal-body-tip-box-border-color);

                    img{
                        margin-top: 2px;
                    }
        
                    .tip-icon {
                        width: 16px;
                        height: 16px;
                    }
        
                    .tip-text {
                        margin-left: 10px;
                        font-size: 14px;
                        width: calc(100% - 52px);
                        color: var(--model-tip-text-color);
                    }
        
                    .close-icon {
                        width: 16px;
                        height: 16px;
                        margin-left: 10px;
                        margin-top: 2px;
                    }
                }
            }

            main {
                height: calc(100% - 68px);
                overflow-y: auto;
                margin-top: 10px;
                .tree-item {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    img {
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                    }

                    .tiptext {
                        font-size: 12px;
                        line-height: 18px;
                        color: var(--details-summary-font-color);
                    }
                }

                .ti3-tree-item-active {
                    background: none;
                }

                .ti3-tree-content-box {
                    display: flex;
                    align-items: center;

                    &:hover {
                        background: none;
                    }

                    & > span {
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid var(--ti-select-no-allow-color) !important;
                        border-left: 1px solid var(--ti-select-no-allow-color) !important;
                        & > .ti3-tree-checkbox-wrapper {
                            display: flex;
                        }

                        & > .ti3-tree-node-text-wrapper {
                            width: auto;
                        }
                    }
                }

                input[type=checkbox][tiCheckbox]:not([disabled]):indeterminate + .ti3-checkbox .ti3-checkbox-skin {
                    background-color: #0067ff !important;
                }
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--scrollbar-thumb-background-color) !important;
            }

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-track-piece {
                background: var(--scrollbar-thumb-track-background-color);
            }
        }

        .ti3-modal-footer {
            border-top: 1px dashed var(--modal-footer-top-border-color) !important;
            padding: 32px 0 !important;
            background: var(--modal-background-color) !important;

            button {
                width: 160px;
                height: 32px;
                border-radius: 2px;
                font-size: 14px;
                line-height: 32px;

                &.primary {
                    color: var(--primary-button-font-color);
                    border: none !important;
                    --ti-button-default-normal-bg-color: #0067ff;
                    &[disabled] {
                        background: var(--button-disabled-bg-color) !important
                    }
    
                    &:not([disabled]):hover {
                        background: #267dff !important;
                    }
    
                    &:active {
                        background: #0057d9 !important;
                    }
                }

                &.secondary {
                    background: var(--modal-footer-secondary-button-background-color);
                    border: 1px solid var(--modal-footer-secondary-button-border-color);
                    color: var(--modal-footer-secondary-button-font-color);
    
                    &:hover {
                        color: #267dff;
                        border-color: #267dff;
                    }
    
                    &:active {
                        color: #0057d9;
                        border-color: #0057d9;
                    }
                }

            }

        }
    }
}
.ti3-tree-leaf-node:not(:last-child) > .ti3-tree-parent-node:after{
    border-left: 1px solid var(--ti-select-no-allow-color) !important;
}
.ti3-tree-node-text-wrapper:hover{
    background: none !important;
}
.tip-close{
    display: inline-block;
    img:hover {
        cursor: pointer;
    }
    & > img {
        display: none;
    }
    & > img:nth-of-type(1) {
        display: block;
    }
    &:hover {
        & > img:nth-of-type(1) {
            display: none;
        }
        & > img:nth-of-type(2) {
            display: block;
        }
    }
    &:active {
        & > img:nth-of-type(1) {
            display: none;
        }
        & > img:nth-of-type(2) {
            display: block;
        }
    }
}

input[type=checkbox][tiCheckbox][disabled]:not(:checked) + .ti3-checkbox .ti3-checkbox-skin{
    border-color:#616161 !important;
}