<div class="method-box">
    <div [hidden]="typeSelected.id != 'raw'" style="height: 100%;">
        <div class="file-list">
            <div class="list-content" [ngStyle]="{'display': leftState? 'none':'block'}">
                <div class="select-box">
                  <ti-select style="width: 120px;" [options]="typeOptions" [(ngModel)]="typeSelected" placeholder="Please Select"
                      (select)="typeChange($event)" id="myselect">
                  </ti-select>
                </div>
                <div id="threadTree">
                    <ti-tree id="tree" [data]="fileList" [changedByCheckbox]="true" (beforeExpand)="beforeExpand($event)"
                        (select)="getAllContent($event)">
                        <ng-template let-item let-i=index>
                            <span class="parentSpan" tiOverflow tiTipPosition="right">
                                <img *ngIf="!item.children" src="./assets/img/newSvg/file_icon.svg">
                                <span style="cursor: pointer">{{item.name}}</span>
                            </span>
                        </ng-template>
                    </ti-tree>
                </div>
            </div>
            <div class="toggle-line">
              <div class="toggle-btn" (click)='toggleLeft()' [ngClass]="{'activeToggle': leftState}">
                <img (mouseenter)="libService.onHoverIcon('threadToggle')" (mouseleave)="libService.onHoverIcon()"
                    [src]="libService.hoverIcon === 'threadToggle' ? './assets/img/projects/toggle_hover.svg':'./assets/img/projects/toggle.svg'" />
              </div>
            </div>
            <div class="file-diff" [ngStyle]="{'padding-left': leftState?'37px':'17px'}">
                <app-diff #diffIns [currentFile]="currentFile"></app-diff>
                <div *ngIf="fileList.length === 0 ">
                    <div class="noData">
                        <img class='newNoData' src="./assets/img/projects/noData.svg" />
                        <p>{{i18n.common_term_task_nodata}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="typeSelected.id != 'graph'" style="height: 100%" #showFullEl>
        <div class="file-list">
            <div class="list-content" [ngStyle]="{'display': leftState? 'none':'block'}">
                <div class="select-box">
                  <ti-select style="width: 120px;" [options]="typeOptions" [(ngModel)]="typeSelected" placeholder="Please Select"
                      (select)="typeChange($event)" id="myselect">
                  </ti-select>
                </div>
                <div class="list-item" style="padding-left: 0">
                    <ul class="item-child-container">
                        <li class="item-child" [ngClass]="{ active: activeGraph === fileIndex }"
                            *ngFor="let file of fileList; let fileIndex = index"
                            (click)="getFileDataAndShowLock(file, fileIndex)">
                            <img style="margin: 0px 10px 2px 20px;" src="./assets/img/newSvg/file_icon.svg">
                            <span class="overflow-class" style="white-space: nowrap; width: 100%">{{ file.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="toggle-line">
                <div class="toggle-btn" (click)='toggleLeft()' [ngClass]="{'activeToggle': leftState}">
                    <img (mouseenter)="libService.onHoverIcon('graphToggle')" (mouseleave)="libService.onHoverIcon()"
                        [src]="libService.hoverIcon === 'graphToggle' ? './assets/img/projects/toggle_hover.svg':'./assets/img/projects/toggle.svg'" />
                </div>
            </div>
            <div class="file-diff lock-graph" [ngStyle]="{'padding-left': leftState?'37px':'17px'}" [hidden]="fileList.length === 0 ">
                <div class="graph-header">
                    <div class="graph-control">
                        <div class="obersver">
                            <div class="control-label">{{i18n.newLockGraph.obersver}}</div>
                            <div class="control-switch" [tiTip]='obersverContent' tiTipPosition="right-top">
                                <ti-switch id="myswitch1" [(ngModel)]="obersverSwitch"></ti-switch>
                            </div>
                            <div class="obersver-select" *ngIf="obersverSwitch">
                                <app-full-select [ngModel]="obersverSelect" [options]='obersverOptions' (ngModelChange)="obersverSelectChange($event)"></app-full-select>
                            </div>
                        </div>
                        <div class="compare">
                            <div class="control-label">{{i18n.newLockGraph.compare}}</div>
                            <div class="control-switch" [tiTip]='compareContent' tiTipPosition="right-top">
                                <ti-switch id="myswitch2" [(ngModel)]="compareSwitch"
                                    (ngModelChange)="compareSwitchChange()" [disabled]="compareOptions.length < 2">
                                </ti-switch>
                            </div>
                            <div class="compare-select" *ngIf="compareSwitch">
                                <app-full-select [ngModel]="compareSelect" [options]='compareOptions' (ngModelChange)="compareSelectChange($event)"></app-full-select>
                            </div>
                        </div>
                    </div>
                    <div class="graph-status">
                        <div class="status">
                            <div><span class="circle green"></span>{{i18n.protalserver_profiling_overview_env.runable}}
                            </div>
                            <div><span class="circle red"></span>{{i18n.protalserver_profiling_overview_env.blocked2}}
                            </div>
                            <div><span
                                    class="circle yellow"></span>{{i18n.protalserver_profiling_overview_env.waiting2}}
                            </div>
                            <div><span
                                    class="circle orange"></span>{{i18n.protalserver_profiling_overview_env.waitingTime}}
                            </div>
                        </div>
                        <div class="lines">
                            <div class="dashLine"><img
                                    src="./assets/img/projects/dashedLine.svg" /><span>{{i18n.newLockGraph.requestLocked}}</span>
                            </div>
                            <div class="solidLine"><img
                                    src="./assets/img/projects/solidLine.svg" /><span>{{i18n.newLockGraph.hasLocked}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph-content">
                    <div class="graph-svg" id="draggableSvg" #draggable>
                        <div class="left">
                            <app-lock-graph #lockGraph [name]="'current'" [threadTime]="currentThreadTime"
                                [isObersver]="obersverSwitch" [isCompare]="compareSwitch"></app-lock-graph>
                        </div>
                        <div class="right" [hidden]="!compareSwitch">
                            <app-lock-graph #lockGraph2 [name]="'compare'" [threadTime]="compareThreadTime"
                                [isObersver]="obersverSwitch" [isCompare]="compareSwitch"></app-lock-graph>
                        </div>
                    </div>
                </div>
                <div class="zoom-screen">
                  <app-zoom-screen [fullEl]="showFullEl" [draggableEl]="draggableEl" [wheelShowScale]="wheelShowScale"
                  (zoomBn)="onZoomStatus($event)" (zoomParam)="onZoomParam($event)"></app-zoom-screen>
                </div>
            </div>
            <div *ngIf="fileList.length === 0 " class="file-diff">
                <div class="noData">
                    <img class='newNoData' src="./assets/img/projects/noData.svg" />
                    <p>{{i18n.common_term_task_nodata}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #obersverContent>
    <div [innerHtml]="i18n.newLockGraph.obersverTip"></div>
</ng-template>
<ng-template #compareContent>
    <div [innerHtml]="i18n.newLockGraph.compareTip"></div>
</ng-template>