.advice-contain{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 20px 32px;
    font-size: 14px;
    color: var(--d-e8e8e8-l-222222);
    .advice-mask{
      .title{
        font-size: 20px;
        img{
            width: 16px;
            height: 16px;
            margin-right: 6px;
            display: inline-block;
        }
      }
      .advice-content{
          margin-top: 20px;
          padding: 24px;
          background: var(--d-161616-l-ffffff);
          .failtext2{
            font-weight: normal;
          }
          .failtext3{
            margin-top: 32px;
          }
          .qr-code{
              margin-top: 32px;
              img{
                  width: 160px;
                  height: 160px;
              }
          }
      }
  }
}

