.content .ti3-modal-body {
  margin-top: 12px;
}

.down-btn:focus {
  background: var(--ti-button-default-normal-bg-color);
  border-color: var(--ti-button-default-normal-border-color);
  color: var(--ti-button-default-normal-color);
}

.down-btn:hover {
  background: var(--ti-button-default-bg-color-active);
  border-color: var(--ti-button-default-border-color-active);
  color: var(--ti-button-default-color-active);
}

.ti3-table>.ti3-table-fixed-head>table>thead>tr>th:first-child[checkbox-column] {
  padding-left: 10px !important;
}

.ti3-modal-footer {
  text-align: left;
}

.ti3-table>.ti3-page-container {
  margin-top: 15px;
  margin-bottom: 20px;
}
