<div class="projectManagementBox">
  <div class="add" [ngClass]="{isDiagnoseAddBox: isDiagnose}">
    <span class="addTitle" tiOverflow>{{i18n.project_manage}}</span>
    <span class="operate">
      <!-- user-guide -->
      <span id="user-guide-add-project" [tiTip]='i18n.tipMsg.createP' tiTipPosition="bottom-left" (click)="addProject()">
        <app-icon-react name="addProject"></app-icon-react>
      </span>

      <!-- 导入任务 -->
      <span class="importBtn" [tiTip]='i18n.project.importTask' tiTipPosition="bottom-left" (click)="importTask()">
        <app-icon-react [name]="'importTask'"></app-icon-react>
      </span>

      <!-- 导出任务 -->
      <span class="exportBtn" [tiTip]='i18n.project.exportTask' tiTipPosition="bottom-left" (click)="exportTask()">
        <app-icon-react [name]="'exportTask'"></app-icon-react>
      </span>

      <span class="add-btn refresh" [tiTip]='i18n.tipMsg.refreshP' tiTipPosition="bottom-left" (click)="refreshProject()">
        <app-icon-react name="refreshProject"></app-icon-react>
      </span>
    </span>
  </div>
  <div class="tree-box">
    <ti-tree [data]="tree" class="projectTree" #TREE (select)="onSelect($event)" (beforeExpand)="beforeExpand($event)">
      <ng-template let-item let-i=index>
        <div [ngClass]="['tree-item', item.level, item.hilight==true?'mytree-checked':'', item.hilight == true?'user-guide-tree':'']">
          <!-- project status -->
          <ng-container *ngIf="item.level === 'project'">
            <!-- imported project -->
            <span *ngIf="item.isImport; else otherProject" class="importedProject" [tiTip]="i18n.project.importedProject" tiTipPosition="top"></span>

            <ng-template #otherProject>
              <span [ngClass]="{'abnormal': item.status == 'abnormal'}" class="project-status"></span>
            </ng-template>
          </ng-container>

          <!-- node status -->
          <span *ngIf="item.level=='node'" [tiTip]='getTaskStatus(item.sampleStatus)' tiTipPosition="bottom">
            <span *ngIf="['Created', 'Waiting'].includes(item.sampleStatus)" class="node-status waiting"></span>
            <span *ngIf="['Completed', 'Aborted'].includes(item.sampleStatus)" class="node-status success "></span>
            <span *ngIf="['Sampling', 'Analyzing', 'Stopping', 'Cancelling'].includes(item.sampleStatus)" class="node-status running"></span>
            <span *ngIf="['Failed', 'Cancelled'].includes(item.sampleStatus)" class="node-status failed"></span>
          </span>

          <!-- project label -->
          <span *ngIf="item.level=='project'" class="label project-label" (click)='showProjectNodeInfo(item)' tiOverflow tiTipPosition='bottom'>
            {{item.label}}
          </span>

          <!-- task label -->
          <span
            *ngIf="item.level=='task'"
            class="label task-label"
            [hyTiTip]="tipContent"
            [hyTipStyle]="{'pointer-events': 'none'}"
            [tiTipContext]="isDiagnose ? taskTipDiagnose : taskTip"
            tiTipPosition="top"
            (mouseleave)="textColor($event)"
            (mouseenter)="getTipInfo($event, item)"
          >{{item.label}}</span>

          <!-- node label -->
          <span *ngIf="item.level=='node'" class="label nodeLabel">
            <span tiTipPosition='bottom' class="text" tiOverflow>
              {{item.label}}
            </span>

            <!-- node has deleted -->
            <span *ngIf="item.level === 'node' && item.nodeStatus === 'delete' && !item.isImport" class="deleted">
              {{ i18n.common_term_left_parentheses }}{{ i18n.nodeManagement.deleted }}{{ i18n.common_term_right_parentheses }}
            </span>
          </span>

          <!-- project operate btns -->
          <span
            *ngIf="item.level === 'project' && (userInfo.role === 'Admin' || item.ownerId === userInfo.id)"
            class="operate-box"
            [ngClass]="{ 'user-guide-add-task': item.currentGuide, wizarding: wizarding }"
          >
            <span class="icon-btn Add" *ngIf="item.ownerId === userInfo.id && !item.isImport" (click)="taskAction('create',item);$event.stopPropagation()" [tiTip]='i18n.tipMsg.createM' tiTipPosition="bottom-left">
              <app-icon-react name="createTask"></app-icon-react>
            </span>

            <span class="icon-btn Edit" *ngIf="!item.isImport" (click)='editProject(item);$event.stopPropagation()' [tiTip]='i18n.tipMsg.modifyP' tiTipPosition="bottom-left">
              <app-icon-react name="editProject"></app-icon-react>
            </span>

            <span class="icon-btn Delete" (click)='deleteProject(item);$event.stopPropagation()' [tiTip]='i18n.tipMsg.deleteP' tiTipPosition="bottom-left">
              <app-icon-react name="deleteProject"></app-icon-react>
            </span>
          </span>

          <!-- task operate btns -->
          <span *ngIf="item.level === 'task' && (userInfo.role === 'Admin' || item.ownerId === userInfo.id)" class="operate-box task">
            <a class="icon-btn Start"
              *ngIf="item.status === 'Created'"
              (click)="taskAction('start',item);$event.stopPropagation()"
              [tiTip]='i18n.tipMsg.startM'
              tiTipPosition="bottom-left">
              <app-icon-react name="startTask"></app-icon-react>
            </a>

            <!-- common_term_task_run -->
            <a class="icon-btn Restart"
              *ngIf="['Aborted', 'Failed', 'Completed', 'Cancelled'].includes(item.status) && !item.isImport"
              (click)="taskAction('restart',item);$event.stopPropagation()"
              [tiTip]='i18n.tipMsg.restartM'
              tiTipPosition="bottom-left">
              <app-icon-react name="restartTask" [freeze]="!!item.offline ? 'disabled' : null"></app-icon-react>
            </a>

            <a class="icon-btn Stop"
              *ngIf="item.status === 'Sampling'"
              (click)="taskAction('stop',item);$event.stopPropagation()"
              [tiTip]='i18n.tipMsg.stopM'
              tiTipPosition="bottom-left">
              <app-icon-react name="stopTask"></app-icon-react>
            </a>

            <a class="icon-btn Edit"
              *ngIf="item.status === 'Created' && !item.offline"
              (click)="taskAction('edit',item);$event.stopPropagation()"
              [tiTip]='i18n.tipMsg.modifyM'
              tiTipPosition="bottom-left">
              <app-icon-react name="editProject"></app-icon-react>
            </a>

            <!-- 有节点离线时显示 -->
            <a *ngIf="['Waiting', 'Completed', 'Aborted', 'Failed', 'Created', 'Cancelled'].includes(item.status)" 
              class="icon-btn Delete"
              (click)="taskAction('delete',item);$event.stopPropagation()"
              [tiTip]='i18n.tipMsg.deleteM' 
              tiTipPosition="bottom-left">
              <app-icon-react name="deleteProject"></app-icon-react>
            </a>
          </span>
        </div>
      </ng-template>

    </ti-tree>

    <div class="nodata2"  *ngIf="tree.length<=0">
      <div> <img src="./assets/img/projects/no-project-light.png"  /></div>
      <div style="text-align: center;">{{i18n.common_term_task_nodata2}}</div>
      <button type="button" size="small" tiButton id="mybutton1" color='primary' class="small"
        (click)="addProject()">{{i18n.common_term_operate_add_project}}</button>
    </div>
  </div>
</div>
<app-add-project
  #addProjectTemp
  (newProjectSuccessfully)="addProjectOK($event)"
  (modifyProjectSuccessfully)="editProjectOK($event)"
></app-add-project>

<ng-template  #tipContent let-context='context' >
  <div *ngIf="!isDiagnose">
    <div class="task-tip"><span>{{ i18n.task_info.task_name }}</span><span>{{ context.taskName }}</span></div>
    <div class="task-tip"><span>{{ i18n.task_info.analysis_object }}</span><span>{{ context.analysisObject }}</span></div>
    <div class="task-tip">
      <span>{{ i18n.task_info.task_analysis_type }}</span>
      <span>{{ context.analysisType }}</span>
    </div>
  </div>
  <div *ngIf="isDiagnose">
    <div class="task-tip"><span>{{ i18n.task_info.task_name }}</span><span>{{ context.taskName }}</span></div>
    <div class="task-tip"><span>{{ i18n.task_info.diagnose_object }}</span><span>{{ context.diagnoseObject }}</span>
    </div>
    <div class="task-tip" style="display: flex;">
      <span style="white-space: nowrap;">{{ context.isFunction?i18n.task_info.diagnose_function
        :i18n.task_info.diagnose_content}}</span>
      <span>{{ context.diagnoseContent }}</span>
    </div>
  </div>
</ng-template>

<!-- 导出任务 -->
<app-export-task-modal #exportTaskModel></app-export-task-modal>

<!-- 导入任务 -->
<app-import-task-modal #importTaskModel></app-import-task-modal>