.projectManagementBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .add {
        flex: 0 0 auto;
    }

    .tree-box {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-bottom: 20px;
    &>span{
      font-size: 16px;
      color:  #252B3A;
    }

    >.operate {
        display: flex;
        align-items: center;

        >span {
            width: 16px;
            height: 16px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            border: 5px solid transparent;
            &:not(:first-child) {
                margin-left: 7px;
            }
        }
    }
}
.add.isDiagnoseAddBox{
    padding-top: 20px;
    border-bottom: dashed 1px #d4d9e6;
    .addTitle{
        font-size: 20px;
        line-height: 30px;
        color: #222;
    }
}
.tree-box {
    overflow: hidden;
}

.projectTree {
    .ti3-tree-content-box {
        line-height: normal !important;

        &.ti3-tree-item-leaf {
            margin-left: 0;
            padding-left: 0;

            >span:last-child>.ti3-tree-node-text-wrapper .tree-item {
                padding-left: 10px;
            }

        }

        .ti3-icon-plus-square{
            font-size: 16px !important;
        }
            >.ti3-tree-node-text-wrapper {
                width: 100%;
                height: 100%;
                flex: 1;
                display: flex;
                overflow: hidden;
                width: 100%;
                .tree-item {
                    padding-right: 20px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    &.mytree-checked {
                        background-color: var(--ti-tree-node-bg-color-checked);
                        margin-left: calc(48px - 2 * var(--ti-common-space-6x));
                        padding-left: calc(-48px + 2 * var(--ti-common-space-6x));
                    }

                    >.importedProject {
                        display: inline-block;
                        width: 13px;
                        height: 16px;
                        margin-right: 7px;
                        background-image: url("../../../../assets/img/home/importedProject.svg");
                        background-size: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        vertical-align: middle;
                    }

                    >.project-status{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #7ADFA0 ;
                        vertical-align: middle;
                        margin-right: 7px;
                        cursor: pointer;
                        &.abnormal{
                            background-color:#f45c5e;
                        }
                    }

                    .node-status{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #7ADFA0 ;
                        margin: 0 7px;
                        &.failed{
                            background-color:#f45c5e;
                        }
                        &.waiting{
                            background-color:#60b0ff;
                        }
                        &.running{
                            background-color:transparent;
                            background-image: url('../../../../assets/img/home/running.gif');
                            background-size: 105%;
                        }
                    }

                    >.label {
                        flex: 1;
                        cursor: pointer;
                        font-size: 14px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding: 8px 0;
                        &.nodeLabel {
                            display: flex;

                            >.text {
                                flex: 1;
                            }
                        }
                    }

                    >.operate-box{
                        cursor: pointer;
                        margin-left: 10px;
                        width: 82px;
                        display: none;

                        .icon-btn{
                            width: 16px;
                            height: 16px;
                            background-size: 100%;
                            display: inline-block;
                            vertical-align: middle;

                            &:not(:first-child) {
                                margin-left: 17px;
                            }
                        }

                        &.user-guide-add-task.wizarding {
                            display: block;
                        }
                    }

                    &:hover >.operate-box{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
.ti3-tree-content-box:hover .project-label{
    color: rgb(38, 125, 255);
}
.ti3-tree-content-box:hover .task-label{
    color: rgb(97, 97, 97) !important;
    cursor: default !important;
}
.left .nodata2{
    width: 0;
    overflow: hidden;
}

.left.active .nodata2{
    width: auto;
    text-align: center;
    margin-top: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    button{
        margin-top: 30px;
    }
    .small{
        padding: 0 13px;
        height: 27px;
        line-height: 27px;
    }
    img{
        width: 320px;
    }
}

.task-tip {
    &:nth-of-type(2) {
        margin: 8px 0;
    }

    > span {
        line-height: 18px;
        font-size: 12px;
        font-family: "huawei sans";

        &:first-of-type {
            color: #616161;
            margin-right: 4px;
        }

        &:last-of-type {
            color: #222;
        }
    }
}
::ng-deep .project-del .ti3-modal-content{
    width: 400px !important;
    margin: 0 auto;
}

@media only screen and (max-height: 900px){
    .nodata2{
        img{
            width: 260px !important;
        }
    }
}
