::ng-deep .configNodeModal {
    .modal-background {
        top: 0;
    }

    .modal-container {
        width: 600px;
        .modal-dialog {
            max-height: 100%;
            display: flex;
            flex-direction: column;

            &.ie {
                height: 100%;
            }

            .ti3-form {
                // 解决没有required参数的表单会和带有required参数的表单不对齐的问题
                & > tbody > tr > td:first-child {
                    width: 16px;
                }

                textarea {
                    box-sizing: border-box;
                }
            }

            .modal-title {
                height: 20px;
                margin: 0px 32px;
                padding-bottom: 32px;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 20px;
                color: #222222;
                border-bottom: 1px lightgrey dashed;
            }

            .modal-content {
                flex: 1;
                padding: 32px;
                overflow: scroll;

                .nodeInfo {
                    margin-bottom: 20px;

                    .nodeInfoItem {
                        line-height: 32px;
                        font-size: 14px;
                    }
                }
            }

            footer {
                height: 50px;
                clear: both;
                text-align: center;
            }
        }
    }
}
