<div class="table-title">{{i18n.sysPerfDetailed.netCon}}</div>
<app-common-table [isDetails]="false" [isFilters]="true" [commonTableData]="netioData"
    (trigger)="triggerPop($event, viewStack)"></app-common-table>
<ng-template #viewStack let-context='context'>
    <ti-modal-header>{{ 'net_io.details' | i18n:title }}</ti-modal-header>
    <ti-modal-body class="dev-modal" (scroll)="onModalBodyScroll()">
        <div class="metrics" *ngFor="let item of tableList;index as i">
            <div class="title " (click)="item.open = !item.open" [ngClass]="{borderBottom: item.open}">
                <span class="expendIcon">
                    <hy-theme-content>
                        <img [ngClass]="{'active': item.open}" src="./assets/img/summary/row.svg" light>
                        <img [ngClass]="{'active': item.open}" src="./assets/img/summary/row_dark.svg" dark>
                    </hy-theme-content>
                </span>
                <span>{{item.title}}</span>
            </div>
            <div class="content" *ngIf="item.open">
                <app-general-table [dataList]="tcpData" [columns]="tcpTitle" *ngIf="item.prop === 'tcpUdp'"
                    (trigger)="viewThreadsData($event, context)"></app-general-table>
                <app-common-table [isDetails]="false" [isFilters]="true" [commonTableData]="hardConfigData" *ngIf="item.prop === 'hardConfig'">
                </app-common-table>
                <app-hart-number-table [hartNumberData]="hartNumberData" *ngIf="item.prop === 'interConfig'"></app-hart-number-table>
            </div>
        </div>
    </ti-modal-body>
    <ti-modal-footer>
        <div>
            <button tiButton (click)="context.dismiss()">{{i18n.common_term_operate_close}}</button>
        </div>
    </ti-modal-footer>
</ng-template>