<div class="container">
    <div class="left" style="float:left">
        <app-code-monaco-show #codeShow *ngIf="temp && temp.content" [code]='temp' [intellijFlag]='intellijFlag' (stepIndex)="scrollToRight($event)"
            [struckStep]='struckStep'></app-code-monaco-show>
    </div>
    <div class="right">
        <app-struct-assign *ngIf="temp && temp.suggestion" [struckData]='temp && temp.suggestion' [intellijFlag]='intellijFlag' [stepIndex]='step'
            (step)="scrollToLeft($event)"></app-struct-assign>
    </div>
</div>