<div class="cpu-detail">
  <div class="cpu-usage" *ngIf="UtilizationShow">
    <span class="box-title" style="position: relative;display: block;margin-bottom: 10px;">{{i18n.sys.titles.cpuUsage}}

    </span>
    <div class="table-box" [appLoading]='usageLoading'>
      <div *ngIf="cpuEchartData.length>0">
        <div *ngFor="let item of cpuEchartData">
          <app-tables #cpuUsage [timeLine]='timeLine' [datas]='item' [isHave]="'cpu'" (dataZoom)='dataZoom($event)'
            (loading)="usageLoading = false" (echartsInstOut)='echartsInstOut($event)'></app-tables>
        </div>

      </div>
      <div class="nodata" *ngIf="cpuEchartData.length==0 && !usageLoading">
        <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
        <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
      </div>
    </div>

  </div>

  <div class="cpu-usage" *ngIf="averageShow">
    <span class="box-title" style="position: relative;display: block;margin-bottom: 10px;">{{i18n.sys.titles.avgLoad}}
    </span>
    <div class="table-box" [appLoading]='avgloadLoading'>
      <div *ngIf="averageEchartData.length>0">
        <div *ngFor="let item of averageEchartData">
          <app-tables #cpuAverage [timeLine]='timeLine' [datas]='item' (loading)="avgloadLoading = false"
            (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
        </div>
      </div>

      <div class="nodata" *ngIf="averageEchartData.length==0 && !avgloadLoading">
        <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
        <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
      </div>
    </div>
  </div>
</div>