:host {
  display: flex;
  font-size: 12px;
  line-height: 18px;

  .item-left {
    color: var(--common-color-font-secondary);
    display: flex;
    align-items: center;
    height: fit-content;
    flex: none;

    p.label {
      margin: 0 8px;
    }

    img,
    hy-theme-content {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
    }
  }

  .item-right {
    margin-left: 16px;
    color: var(--common-color-font-primary);

    .item-right-line + .item-right-line {
      margin-top: 10px;
    }
  }

  .hidden {
    visibility: hidden;
  }
}