<div>
  <div class="itemParam">
    <div class="label">{{"storage_io_detail.result_tab.test_model_label"|i18n}}</div>
  </div>
  <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" tiColsResizable>
    <div class="ti3-table-fixed-head">
      <table>
        <thead>
          <tr>
            <th tiOverflow *ngFor="let column of columns;index as index" width="{{column.width}}">{{column.title}}</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="ti3-table-container ti3-resize-wrapper">
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of columns" width="{{column.width}}"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of displayed">
            <td tiOverflow>{{row.block_size}}</td>
            <td tiOverflow>{{row.rwType}}</td>
            <td tiOverflow>
              <ng-container *ngIf="rwMixRead.includes(row.rwType);else elseBlock">
                <span>{{row.rw_mix_read_ratio}}</span>
                <span>:</span>
                <span>{{100 - (row.rw_mix_read_ratio ? row.rw_mix_read_ratio : 0)}}</span>
              </ng-container>
              <ng-template #elseBlock>--</ng-template>
            </td>
            <td tiOverflow>{{row.io_depth}}</td>
            <td tiOverflow>{{row.io_engine}}</td>
            <td tiOverflow>{{row.num_jobs}}</td>
            <td tiOverflow>{{row.direct}}</td>
            <td tiOverflow>{{row.size}}</td>
            <td tiOverflow>{{row.runtime}}</td>
            <td tiOverflow>{{row.indicatorType}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ti-table>
</div>