<div class="suggestion-container">
  <div class="suggestion-check">
    <p>{{i18n.common_term_suggestion_tip1}}</p>
    <div class="checkbox-item">
        <input id='mycheckBox' type="checkbox" tiCheckbox  [(ngModel)]="showChecked"
        (ngModelChange)="checkedChange($event)">
        <label for='mycheckBox'>{{i18n.common_term_show_source_code}}</label>
    </div>
    <div  class="btn-item">
        <button tiButton [disabled]="isShowAgreeBox" type="button" (click)="showDiffCode()"> {{i18n.common_term_operate_ok}}</button>
    </div>
  </div>
</div>
