::ng-deep .vscode-dark {
    --color-bright-content: #e8e8e8;
    --color-content: #aaaaaa;
    --color-item-left-first-span: #aaaaaa;
    --color-item-right-first-p: #aaaaaa;
    --color-th-head-bg: #2a2a2a;
    --color-th-head: #aaaaaa;
    --color-tr-bg-hover: #313131;
    --color-td-oper: #0067ff;
    --color-separator: #4b4b4b;
    --color-msgbox-bg: #252526;
    --color-msgbox-close: #aaaaaa;
    --color-msgbox-info: #ffffff;
    --color-msgbox-content: #888888;
    --color-a-dft: #0067ff;
    --color-a-hover: #267dff;
    --color-a-active: #0057d9;
    --color-a-disabled: #313131;
    --color-a-visited: #888888;
    --color-btn-dft: #0067ff;
    --color-se-btn-dft: #313131;
    --color-se-btn-font-dft: #e8e8e8;
    --color-se-btn-border-dft: #dddddd;
    --color-se-btn-font-hover: #267dff;
    --color-se-btn-border-hover: #267dff;
    --color-se-btn-font-active: #0057d9;
    --color-se-btn-border-active: #0057d9;
    --color-tr-bg: #161616;
    --color-tr-hover: #313131;
    --color-tb-scrollbar: #424242;
    --color-big-number: #dddddd;
    --color-big-number-span: #dddddd;
    --color-detail-content-first-span: #aaaaaa;
    --color-table-fixed-head-after: #4b4b4b;
    --color-head-filter-icon: #aaaaaa;
    --color-head-filter-icon-hover: #267dff;
    --color-head-filtered-filter-icon: #0057d9;

    .ti3-table .ti3-table-fixed-head + .ti3-table-container table tbody tr:last-child td {
        border-bottom-color: #4b4b4b !important;
    }

    ::ng-deep .ti3-table-fixed-head-filler {
        background-color: #2a2a2a !important;
    }

    .ti3-dropdown-option {
        background-color: #252526 !important;
        .ti3-overflow-padding {
            color: #aaaaaa !important;
        }
    }

    .ti3-dropdown-option-hover {
        background-color: #313131 !important;
        .ti3-overflow-padding {
            color: #e8e8e8 !important;
        }
    }

    .ti3-dropdown-option-selected {
        background-color: #0067ff !important;
        .ti3-overflow-padding {
            color: #e8e8e8 !important;
        }
    }

    .ti3-head-filter-drop.ti3-head-filter-drop-down:before,
    .ti3-head-filter-drop.ti3-head-filter-drop-up:before {
        background-color: #252526 !important;
    }

    .ti3-tooltip {
        color: #aaaaaa !important;
        background-color: #252526 !important;
        border-color: #252526 !important;
    }

    .ti3-tooltip-top::after {
        background-color: #252526 !important;
    }

    .ti3-tooltip-top::before {
        background-color: #252526 !important;
        border-color: #252526 !important;
    }
}

::ng-deep .vscode-light {
    --color-bright-content: #222222;
    --color-content: #222222;
    --color-item-left-first-span: #616161;
    --color-item-right-first-p: #979797;
    --color-th-head-bg: #f5f9ff;
    --color-th-head: #616161;
    --color-tr-bg-hover: #313131;
    --color-td-oper: #0067ff;
    --color-separator: #e1e6ee;
    --color-msgbox-bg: #252526;
    --color-msgbox-close: #aaaaaa;
    --color-msgbox-info: #ffffff;
    --color-msgbox-content: #888888;
    --color-a-dft: #0067ff;
    --color-a-hover: #267dff;
    --color-a-active: #0057d9;
    --color-a-disabled: #313131;
    --color-a-visited: #888888;
    --color-btn-dft: #0067ff;
    --color-se-btn-dft: #ffffff;
    --color-se-btn-font-dft: #222222;
    --color-se-btn-border-dft: #979797;
    --color-se-btn-font-hover: #267dff;
    --color-se-btn-border-hover: #267dff;
    --color-se-btn-font-active: #0057d9;
    --color-se-btn-border-active: #0057d9;
    --color-tr-bg: var(--vscode-editor-background);
    --color-tr-hover: #f5f5f5;
    --color-tb-scrollbar: #424242;
    --color-big-number: #222222;
    --color-big-number-span: #616161;
    --color-detail-content-first-span: #616161;
    --color-table-fixed-head-after: #ffffff;
    --color-head-filter-icon: #979797;
    --color-head-filter-icon-hover: #267dff;
    --color-head-filtered-filter-icon: #0057d9;

    .ti3-table .ti3-table-fixed-head + .ti3-table-container table tbody tr:last-child td {
        border-bottom-color: #e1e6ee !important;
    }

    .ti3-dropdown-option {
        background-color: var(--vscode-editor-background) !important;
        .ti3-overflow-padding {
            color: #222222 !important;
        }
    }

    .ti3-dropdown-option-hover {
        background-color: #f5f5f5 !important;
        .ti3-overflow-padding {
            color: #222222 !important;
        }
    }

    .ti3-dropdown-option-selected {
        background-color: #0067ff !important;
        .ti3-overflow-padding {
            color: #ffffff !important;
        }
    }

    .ti3-head-filter-drop.ti3-head-filter-drop-down:before,
    .ti3-head-filter-drop.ti3-head-filter-drop-up:before {
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip {
        color: #222222 !important;
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-top::after {
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-top::before {
        background-color: var(--vscode-editor-background) !important;
        border-color: var(--vscode-editor-background) !important;
    }

    ::ng-deep .ti3-table-fixed-head-filler {
        background-color: #f5f9ff !important;
    }
}

.content-main {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    color: var(--color-content);
    min-width: 800px;

    .div-p-input-item {
        padding-bottom: 20px;

        .p-input-item {
            font-size: 14px;
            line-height: 18px;
        }

        .input {
            width: 400px !important;
            height: 28px !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            outline: none;
        }
    }

    .table-detial {
        padding-bottom: 40px;
    }

    .div-button {
        text-align: left;

        button {
            width: 160px;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            text-align: center;
            border: 1px solid;
            cursor: pointer;
        }

        .main-button:hover {
            background-color: var(--color-se-btn-border-hover) !important;
        }

        .main-button:active {
            background-color: var(--color-se-btn-border-active) !important;
        }

        .main-button {
            background-color: var(--color-btn-dft) !important;
            border-color: var(--color-btn-dft) !important;
            color: var(--color-se-btn-font-dft) !important;
            margin-right: 20px;
        }
    }

    .ti3-table .ti3-table-container table tbody tr {
        background-color: var(--color-tr-bg) !important;
        color: var(--color-content) !important;
    }

    .ti3-table thead th {
        background-color: var(--color-th-head-bg) !important;
        color: var(--color-th-head) !important;
        font-size: 14px !important;
    }

    .ti3-table .ti3-table-container table tbody tr:hover {
        background-color: var(--color-tr-hover) !important;
    }

    .ti3-table .ti3-table-container::-webkit-scrollbar-thumb {
        border-radius: 5px !important;
        background-color: var(--color-tb-scrollbar) !important;
    }

    .ti3-table .ti3-table-container::-webkit-scrollbar {
        width: 5px !important;
        height: 10px !important;
        background: 0 0 !important;
    }

    .ti3-table-container {
        overflow-y: auto;
        border-bottom: 0px solid var(--color-separator) !important;
    }

    .ti3-table > .ti3-table-fixed-head tr {
        background-color: #222222 !important;
        color: var(--color-bright-content) !important;
    }

    .ti3-table td {
        font-size: 14px !important;
    }

    .ti3-table tr td {
        padding: 5px 10px !important;
        border-top: 1px var(--color-separator) solid !important;
    }

    .ti3-table a {
        color: var(--color-a-dft) !important;
        outline: none;
    }

    .ti3-table a:hover {
        color: var(--color-a-hover) !important;
    }

    .ti3-table a:active {
        color: var(--color-a-active) !important;
    }

    .ti3-table a.a-color-visited {
        color: var(--color-a-visited) !important;
    }

    .ti3-head-filter-container .ti3-head-filter-icon {
        color: var(--color-head-filter-icon) !important;
        outline: 0 !important;
    }

    .ti3-head-filter-container .ti3-head-filter-icon:hover {
        color: var(--color-head-filter-icon-hover) !important;
        outline: 0 !important;
    }

    .ti3-head-filter-container.ti3-head-filtered .ti3-head-filter-icon {
        color: var(--color-head-filtered-filter-icon) !important;
        outline: 0 !important;
    }

    .ti3-table-container::-webkit-scrollbar-track {
        border: none !important;
    }

    .ti3-table .ti3-table-fixed-head table thead tr th:not(:last-child)::after {
        background: var(--color-table-fixed-head-after) !important;
    }

    .ti3-table-container table tbody tr:last-child td {
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
    }

    .nodeStatus {
        display: flex;
        align-items: center;

        .icon_nodeStatus {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;

            &.online {
                background: #7adfa0;
            }

            &.offline {
                background: #b8becc;
            }
        }

        .running {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background-color: transparent;
            background-image: url("../../../assets/img/running.gif");
            background-size: 105%;
        }
    }

    .operateBox {
        span {
            color: #0067ff;
            cursor: pointer;
        }

        i {
            margin: 0 8px;
            color: #e1e6ee;
        }
    }

    .ti3-table {
        height: unset;
        max-height: 100%;
        display: flex;
        flex-direction: column;

        .ti3-table-fixed-head {
            flex: none;
        }

        .ti3-table-container {
            flex: 1;
        }
    }
}
.infos {
    color: var(--d-e8e8e8-l-616161);
    display: flex;
    .hidden {
        display: none;
    }
    .show {
        display: block;
    }
    .left {
        width: 74px;
    }
    margin-bottom: 16px;
    font-size: 14px;
}
