<div class="modal-dialog">
  <div class="content flex-column">
      <div class="create-title">
          <span>{{i18n.passwordDic}}</span>
          <span style="margin-left: 8px" [tiTip]='weakPwdTip' tiTipPosition="right-top"><img src="./assets/img/header/help.png" alt=""></span>
      </div>
      <div class="modal-dialog-container flex-column">
        <div class="flex-center flex-row-reverse serach-container">
          <ti-searchbox 
            class="search"
            [placeholder]="weakPadPlaceholder"
            (search)="weakPwdSearch($event)"
            (clear)="weakPwdClear($event)"
            maxlength="32"
            tiMaxLength="32"
          >
          </ti-searchbox>
          <button *ngIf="isAdmin" type="button" tiButton id="mybutton2" (click)='addWeakPassword(addWeakPwd)'
            class="create-btn btn64">{{ i18n.weakPassword.title }}</button>
        </div>
        <div class="weakPwdList">
          <ti-table
            [(displayedData)]="displayed"
            [srcData]="weakPwdData"
            [columns]="columnsWeak"
            [searchWords]="searchWords"
            (stateUpdate)="stateUpdate($event)"
            class="flex-column"
          >
            <!--.ti3-table-fixed-head是表头的容器，它的子元素中的table(thead)是实际显示的表头-->
            <!--注意:此处一定要使用.ti3-table-fixed-head样式类-->
            <div class="ti3-table-fixed-head">
              <table>
                <thead>
                  <tr>
                    <ng-container *ngFor="let column of columnsWeak; let index = index">
                      <!--注意:给表格设置宽度时，给.ti3-table-fixed-head和.ti3-table-container下的对应的th都要设置-->
                      <th
                        tiOverflow
                        [ngStyle]="index == 0 ? '' : { width: '30%' }"
                      >
                        {{ column.title }}
                      </th>
                    </ng-container>
                  </tr>
                </thead>
              </table>
            </div>
    
            <div class="ti3-table-container ti3-resize-wrapper setting-table">
              <table>
                <thead>
                  <tr>
                    <th
                      tiOverflow
                      *ngFor="let item of columnsWeak; let index = index"
                      [ngStyle]="index == 0 ? '' : { width: '30%' }"
                    >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of displayed">
                    <td tiOverflow>{{ row.weak_password }}</td>
                    <td *ngIf="isAdmin">
                      <a
                        (click)="delePopUp(row.id, row.weak_password)"
                        >{{i18n.common_term_operate_del}}</a
                      >
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="displayed.length===0">
                  <tr class="ti3-table-nodata td-no-data">
                    <td tiColspan>{{ i18n.common_no_table.weakPwd }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 在表格中使用分页组件时必须保证其父元素是ti-table -->
            <ti-pagination 
              *ngIf="totalNumberWeak > 10"
              [(currentPage)]="currentPageWeak"
              [pageSize]="pageSizeWeak"
              [(totalNumber)]="totalNumberWeak"
              [showGotoLink]="showGotoLink"
            >
            </ti-pagination>
          </ti-table>
        </div>
      </div>
  </div>
</div>


<!-- 新增弱口令 start -->
<app-pop-mask #addWeakPwd>
  <div class="content mask2 update-modal">
    <span class="modal-title">{{i18n.weakPassword.addWeakPwd}}</span>
    <div class="img-box">
        <img src="./assets/img/common/modal_close.svg" (mousedown)="cancelWeakPwd($event)" />
    </div>
    <div class="edit-box">
      <ti-formfield [formGroup]="WeakPwd">
        <ti-item [label]="weakPwdContent" [required]="true">
          <input
            tiText
            [tiValidation]="validation"
            formControlName="pwd"
            type="text"
            class="inp-width300"
            maxlength="32"
          />
        </ti-item>
      </ti-formfield>
    </div>
    <div class="btn-box">
      <button
        type="button"
        color="primary"
        (click)="confirmWeakPwd($event)"
        tiButton
      >
      {{i18n.common_term_operate_ok}}
      </button>
      <button
        type="button"
        (mousedown)="cancelWeakPwd($event)"
        tiButton
        style="margin-left: 16px;"
      >
      {{i18n.common_term_operate_cancel}}
      </button>
    </div>
  </div>
</app-pop-mask>
<!-- 新增弱口令 end -->