.modal-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  .content {
    display: flex;
    flex-grow: 1;
    .create-title {
      span {
        img {
          width: 16px;
        }
      }
    }
    .create-btn {
      min-width: 88px;
      padding: 0 6px !important;
    }
  }
}

.mask2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 18px 32px 0 32px;
  height: 95%;

  .edit-box {
    margin-top: 24px;
    margin-left: -16px;
    padding-right: 68px;
  }

  .modal-title {
    border-bottom: dashed 1px #d4d9e6;
    padding-bottom: 20px;
    color: #222;
    font-size: 20px;
  }

  .name-tip {
    margin-top: 10px;
    font-size: 12px;
    color: #888;
    line-height: 12px;
  }

  .title-border {
    flex: 0 0 1px;
    display: block;
    width: 100%;
    background: #d4d9e6;
    margin-top: 1vw;
  }
}

.update-modal, .mask2 {
  position: relative;

  .img-box {
    position: absolute;
    top: 18px;
    right: 32px;
    cursor: pointer;
  }
}

.btn-box {
  margin: 32px 0;
  text-align: center;

  .user-sure-btn {
    margin-right: 16px;
  }
}

.modal-dialog-container,
.weakPwdList {
  flex: 1;
}

.serach-container {
  margin-bottom: 10px;
  .search {
    width: 400px !important;
  }
}

.del-weak {
  width: 400px;
}
.weak {
  width: 560px;
  #addWeakBody {
    margin-left: 16px;
  }
  .ti3-form .ti3-form-label {
    width: 94px;
  }
  .ti3-text-form-content {
    width: 300px;
    .ti3-unifyvalid-error-container {
      max-width: 300px;
    }
  }
}

#weakHead {
  .img-box {
    position: absolute;
    top: 18px;
    right: 32px;
    cursor: pointer;
  }
}

.ti3-modal-header {
  padding: 18px 32px;
  .header {
    border-bottom: 1px dashed #E1E6EE;
    padding-bottom: 18px;
    p {
      font-size: 20px;
    }
  }
}
.ti3-modal-body {
  overflow-y: hidden !important;
}

.ti3-form .ti3-form-label {
  width: 120px;
}

#weakBody .content {
  display: flex;
  img,
  p {
    vertical-align: middle;
  }
  img {
    width: 24px;
    height: 24px;
  }
  p {
    color: #616161;
    font-size: 14px;
    margin-left: 8px;;
  }
  .weak-content {
    font-weight: bold;
  }
}

// ti-table错位问题
:host ::ng-deep .ti3-table>.ti3-table-fixed-head>table{
  table-layout: fixed;
}
:host ::ng-deep .ti3-table>.ti3-table-container>table{
  table-layout: fixed;
}