<div class="lock">
    <ti-formfield vertical [labelWidth]="labelWidth" [formGroup]="lCurrntFormLock" class="taskForm" *ngIf="isHpcPro">
        <!-- 选择节点 -->
        <ti-item [required]="true">
          <ti-item-label>
            {{ i18n.node.selectNode }}
            <span class="tint">{{ i18n.hpc_project_node_select_title.syslockAnalysis  }}</span>
          </ti-item-label>
          <app-not-hpc-select-nodes
            [width]="isModifySchedule ? '600px' : '952px'"
            [nodeList]="allNodeList"
            formControlName="nodeList"
            [isSelectNodeDisabled]="isSelectNodeDisabled"
            ></app-not-hpc-select-nodes>
        </ti-item>
    </ti-formfield>

    <!-- launch Application -->
    <ti-formfield vertical [labelWidth]="labelWidth" [formGroup]='launchItemsLockForm' class="taskForm"
        *ngIf="isLaunch">
        <!-- 采样间隔 -->
        <ti-item [label]="commentItems.cpu.label+ ' (' + LaunchItemsLock.cpu.unit + ')'"
            [required]="commentItems.cpu.required">
            <div class="formContent">
                <ti-select style="width: 165px; margin-right: 16px" [options]="commentItems.cpu.options"
                    [tiValidation]='validation' formControlName='cpu_ctrl'
                    (ngModelChange)="cpu_interval_change($event, LaunchItemsLock.cpu, 'lock')" id="direselect-lock">
                </ti-select>
                <ti-spinner name='spinner' [step]='commentItems.cpu.spinner.step'
                    [format]="commentItems.cpu.spinner.format" [placeholder]='commentItems.cpu.spinner.placeholder'
                    [correctable]="false" tiValidation formControlName='cpu_spinner_ctrl' style='width: 165px;'
                    [errorMessageWrapper]='appIntervalErrorMsgWrapper' [appSpinnerBlur]="intervalBlur"></ti-spinner>

                <!-- 尾后提示 -->
                <span class="tailPrompt">
                    {{ commentItems.cpu.tailPrompt }}
                </span>
            </div>
            <!-- 自定义错误提示位置 -->
            <div #appIntervalErrorMsgWrapper></div>
        </ti-item>
        <!-- 采样范围 -->
        <ti-item [required]="false">
            <ti-item-label>
                <span>{{i18n.micarch.label.typeItem}}</span>
            </ti-item-label>
            <ti-select style="width: 352px;" [options]="commentItems.typeItem.options" [tiValidation]='validation'
                formControlName='typeItem_ctrl'></ti-select>
        </ti-item>
        <!-- 标准函数 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{commentItems.lock_function.label}}</span>
                <ti-icon [tiTip]="i18n.lock.tip.select_function" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <ti-select style="width: 352px;" [multiple]="true" [tiValidation]='validation'
                formControlName='functionNamesForm' [options]='functionNames' [(ngModel)]="functionNamesSelected"
                (ngModelChange)="profileFunctionNameChange($event)" [placeholder]='i18n.selectPlace' id="myselect">
            </ti-select>
        </ti-item>
        <!-- 自定义函数 -->
        <ti-item [required]="commentItems.custom_lock_function.required">
            <ti-item-label>
                <span
                    [ngClass]="{'wrap':isModifySchedule && commentItems.custom_lock_function.label === strObj.custom_lock_function}">{{
                    commentItems.custom_lock_function.label }}</span>
                <ti-icon [tiTip]="i18n.lock.tip.function" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img [ngClass]="{'icon':isModifySchedule && commentItems.custom_lock_function.label === strObj.custom_lock_function}"
                        src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='functions'
                [placeholder]="i18n.lock.lock_input_place" style="width: 352px">
        </ti-item>
        <!-- 符号文件路径 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{i18n.mission_modal.lockSummary.filname}}</span>
                <ti-icon [tiTip]="i18n.mission_modal.lockSummary.common_term_task_crate_c_bs_tip"
                    style="margin-left:10px;" tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='b_s_ctrl' style="width: 352px">
        </ti-item>
        <!-- C/C++源文件路径 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{i18n.mission_modal.lockSummary.source_path}}</span>
                <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" style="margin-left:10px;"
                    tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='source_ctrl' style="width: 352px">
        </ti-item>
        <!-- 采集文件大小 -->
        <ti-item [label]="i18n.common_term_task_crate_collectFiles" [required]="false" class="filrFize">
            <ti-spinner name='spinner' [step]='commentItems.fileSize.step' [format]="commentItems.fileSize.format"
                [placeholder]='commentItems.fileSize.placeholder' tiValidation formControlName='fileSize'
                class="collect-files" [appSpinnerBlur]="collectFileBlur"></ti-spinner>
            <span class="margin-left">{{ commentItems.fileSize.tailPrompt }}</span>
        </ti-item>
        <!-- 内核函数关联汇编指令 -->
        <ti-item [required]="commentItems.kcore.required">
            <ti-item-label [ngClass]="{'wrap':isModifySchedule && commentItems.kcore.label === strObj.kcore}">
                {{ commentItems.kcore.label }}</ti-item-label>
            <div class="formContent">
                <ti-switch formControlName="kcore"></ti-switch>
            </div>
        </ti-item>
    </ti-formfield>

    <!-- 系统 -->
    <ti-formfield vertical [labelWidth]="labelWidth" [formGroup]="profileItemsLockForm" class="taskForm"
        *ngIf="isProfile">
        <!-- 采集时长 -->
        <ti-item [label]="commentItems.c_d.label" [required]="commentItems.c_d.required">
            <div class="formContent">
                <ti-spinner name='spinner' [step]='commentItems.c_d.step' [format]="commentItems.c_d.format"
                    [correctable]="false" [placeholder]='commentItems.c_d.placeholder' tiValidation
                    formControlName='c_d_ctrl' style='width: 165px;' [errorMessageWrapper]='sysDurationErrorMsgWrapper'
                    [appSpinnerBlur]="samplingDurationBlur">
                </ti-spinner>

                <!-- 尾后提示 -->
                <span class="tailPrompt">
                    {{ commentItems.c_d.tailPrompt }}
                </span>
            </div>

            <!-- 自定义错误提示位置 -->
            <div #sysDurationErrorMsgWrapper></div>
        </ti-item>
        <!-- 采样间隔 -->
        <ti-item [label]="commentItems.cpu.label + ' (' + profileItemLock.cpu.unit + ')'"
            [required]="commentItems.cpu.required">
            <div class="formContent">
                <ti-select style="width: 165px; margin-right: 16px" [options]="commentItems.cpu.options"
                    [tiValidation]='validation' formControlName='cpu_ctrl'
                    (ngModelChange)="cpu_interval_change($event, profileItemLock.cpu, 'lock')" id="direselect">
                </ti-select>
                <ti-spinner name='spinner' [step]='commentItems.cpu.spinner.step'
                    [format]="commentItems.cpu.spinner.format" [placeholder]='commentItems.cpu.spinner.placeholder'
                    [correctable]="false" tiValidation formControlName='cpu_spinner_ctrl' style='width: 165px;'
                    [errorMessageWrapper]='sysIntervalErrorMsgWrapper' [appSpinnerBlur]="intervalBlur"></ti-spinner>

                <!-- 尾后提示 -->
                <span class="tailPrompt">
                    {{ commentItems.cpu.tailPrompt }}
                </span>
            </div>

            <!-- 自定义错误提示位置 -->
            <div #sysIntervalErrorMsgWrapper></div>
        </ti-item>
        <!-- 采样范围 -->
        <ti-item [required]="false">
            <ti-item-label>
                <span>{{i18n.micarch.label.typeItem}}</span>
            </ti-item-label>
            <ti-select style="width: 352px;" [options]="commentItems.typeItem.options" [tiValidation]='validation'
                formControlName='typeItem_ctrl'></ti-select>
        </ti-item>
        <!-- 标准函数 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{commentItems.lock_function.label}}</span>
                <ti-icon [tiTip]="i18n.lock.tip.select_function" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <ti-select style="width: 352px;" [multiple]="true" [tiValidation]='validation'
                formControlName='functionNamesForm' [options]='functionNames' [(ngModel)]="functionNamesSelected"
                (ngModelChange)="profileFunctionNameChange($event)" [placeholder]='i18n.selectPlace' id="myselect">
            </ti-select>
        </ti-item>
        <!-- 自定义函数 -->
        <ti-item [required]="commentItems.custom_lock_function.required">
            <ti-item-label>
                <span
                    [ngClass]="{'wrap':isModifySchedule && commentItems.custom_lock_function.label === strObj.custom_lock_function}">{{
                    commentItems.custom_lock_function.label }}</span>
                <ti-icon [tiTip]="i18n.lock.tip.function" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img [ngClass]="{'icon':isModifySchedule && commentItems.custom_lock_function.label === strObj.custom_lock_function}"
                        src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='functions'
                [placeholder]="i18n.lock.lock_input_place" style="width: 352px">
        </ti-item>
        <!-- 符号文件路径 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{i18n.mission_modal.lockSummary.filname}}</span>
                <ti-icon [tiTip]="i18n.mission_modal.lockSummary.common_term_task_crate_c_bs_tip"
                    style="margin-left:10px;" tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='b_s_ctrl' style="width: 352px">
        </ti-item>
        <!-- c/c++源文件路径 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{i18n.mission_modal.lockSummary.source_path}}</span>
                <ti-icon [tiTip]='i18n.tip_msg.common_term_task_crate_c_source_tip' style="margin-left:10px;"
                    tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='source_ctrl' style="width: 352px">
        </ti-item>
        <!-- 采集文件大小 -->
        <ti-item [label]="i18n.common_term_task_crate_collectFiles" [required]="false" class="filrFize">
            <ti-spinner name='spinner' [step]='commentItems.fileSize.step' [format]="commentItems.fileSize.format"
                [placeholder]='commentItems.fileSize.placeholder' tiValidation formControlName='fileSize'
                class="collect-files" [appSpinnerBlur]="collectFileBlur"></ti-spinner>
            <span class="margin-left">{{ commentItems.fileSize.tailPrompt }}</span>
        </ti-item>
        <!-- 内核函数关联汇编指令 -->
        <ti-item [required]="commentItems.kcore.required">
            <ti-item-label [ngClass]="{'wrap':isModifySchedule && commentItems.kcore.label === strObj.kcore}">
                {{ commentItems.kcore.label }}</ti-item-label>
            <div class="formContent">
                <ti-switch formControlName="kcore"></ti-switch>
            </div>
        </ti-item>
    </ti-formfield>

    <!-- attach to process -->
    <ti-formfield vertical [labelWidth]="labelWidth" [formGroup]="attachItemsLockForm" class="taskForm"
        *ngIf="isAttach">
        <!-- 采集时长 -->
        <ti-item [label]="commentItems.c_d.label" [required]="commentItems.c_d.required">
            <div class="formContent">
                <ti-spinner name='spinner' [step]='commentItems.c_d.step' [format]="commentItems.c_d.format"
                    [correctable]="false" [placeholder]='commentItems.c_d.placeholder' tiValidation
                    formControlName='c_d_ctrl' style='width: 165px;' [errorMessageWrapper]='pidDurationErrorMsgWrapper'
                    [appSpinnerBlur]="samplingDurationBlur">
                </ti-spinner>

                <!-- 尾后提示 -->
                <span class="tailPrompt">
                    {{ commentItems.c_d.tailPrompt }}
                </span>
            </div>

            <!-- 自定义错误提示位置 -->
            <div #pidDurationErrorMsgWrapper></div>
        </ti-item>
        <!-- 采样间隔 -->
        <ti-item [label]="commentItems.cpu.label + ' (' + attachItemsLock.cpu.unit + ')'"
            [required]="commentItems.cpu.required">
            <div class="formContent">
                <ti-select style="width: 165px; margin-right: 16px" [options]="commentItems.cpu.options"
                    [tiValidation]='validation' formControlName='cpu_ctrl' id="direselect-lock">
                </ti-select>
                <ti-spinner name='spinner' [step]='commentItems.cpu.spinner.step'
                    [format]="commentItems.cpu.spinner.format" [placeholder]='commentItems.cpu.spinner.placeholder'
                    [correctable]="false" tiValidation formControlName='cpu_spinner_ctrl' style='width: 165px;'
                    [errorMessageWrapper]='pidIntervalErrorMsgWrapper' [appSpinnerBlur]="intervalBlur"></ti-spinner>

                <!-- 尾后提示 -->
                <span class="tailPrompt">
                    {{ commentItems.cpu.tailPrompt }}
                </span>
            </div>

            <!-- 自定义错误提示位置 -->
            <div #pidIntervalErrorMsgWrapper></div>
        </ti-item>
        <!-- 采样范围 -->
        <ti-item [required]="false">
            <ti-item-label>
                <span>{{i18n.micarch.label.typeItem}}</span>
            </ti-item-label>
            <ti-select style="width: 352px;" [options]="commentItems.typeItem.options" [tiValidation]='validation'
                formControlName='typeItem_ctrl'></ti-select>
        </ti-item>
        <!-- 标准函数 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{commentItems.lock_function.label}}</span>
                <ti-icon [tiTip]="i18n.lock.tip.select_function" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <ti-select style="width: 352px;" [multiple]="true" [tiValidation]='validation'
                formControlName='functionNamesForm' [options]='functionNames' [(ngModel)]="functionNamesSelected"
                (ngModelChange)="profileFunctionNameChange($event)" [placeholder]='i18n.selectPlace' id="myselect">
            </ti-select>
        </ti-item>
        <!-- 自定义函数 -->
        <ti-item [required]="commentItems.custom_lock_function.required">
            <ti-item-label>
                <span
                    [ngClass]="{'wrap':isModifySchedule && commentItems.custom_lock_function.label === strObj.custom_lock_function}">{{
                    commentItems.custom_lock_function.label }}</span>
                <ti-icon [tiTip]="i18n.lock.tip.function" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img [ngClass]="{'icon':isModifySchedule && commentItems.custom_lock_function.label === strObj.custom_lock_function}"
                        src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='functions'
                [placeholder]="i18n.lock.lock_input_place" style="width: 352px">
        </ti-item>
        <!-- 符号文件路径 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{i18n.mission_modal.lockSummary.filname}}</span>
                <ti-icon [tiTip]="i18n.mission_modal.lockSummary.common_term_task_crate_c_bs_tip"
                    style="margin-left:10px;" tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='b_s_ctrl' style="width: 352px">
        </ti-item>
        <!-- C/C++源文件路径 -->
        <ti-item [required]="commentItems.lock_function.required">
            <ti-item-label>
                <span>{{i18n.mission_modal.lockSummary.source_path}}</span>
                <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" style="margin-left:10px;"
                    tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/template/icon_question.svg'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='source_ctrl' style="width: 352px">
        </ti-item>
        <!-- 采集文件大小 -->
        <ti-item [label]="i18n.common_term_task_crate_collectFiles" [required]="false" class="filrFize">
            <ti-spinner name='spinner' [step]='commentItems.fileSize.step' [format]="commentItems.fileSize.format"
                [placeholder]='commentItems.fileSize.placeholder' tiValidation formControlName='fileSize'
                class="collect-files" [appSpinnerBlur]="collectFileBlur"></ti-spinner>
            <span class="margin-left">{{ commentItems.fileSize.tailPrompt }}</span>
        </ti-item>
        <!-- 内核函数关联汇编指令 -->
        <ti-item [required]="commentItems.kcore.required">
            <ti-item-label [ngClass]="{'wrap':isModifySchedule && commentItems.kcore.label === strObj.kcore}">
                {{ commentItems.kcore.label }}</ti-item-label>
            <div class="formContent">
                <ti-switch formControlName="kcore"></ti-switch>
            </div>
        </ti-item>
    </ti-formfield>

    <!-- 配置节点参数 -->
    <div class="node-config-modal import-btn">
        <app-mission-node-config #nodeConfigL [labelWidth]="labelWidth" [formData]="formDatas"
            [taskType]="'system_lock'" [projectId]="projectId"
            [isAbled]="!(lCurrntFormLock.valid && taskNameValid && appAndPidValid && modeAppRunUserValid)"
            [nodeConfigShow]="nodeConfigShow" [nodeConfigedData]="nodeConfigedData" [runUserData]="runUserData"
            (onsControlNode)="onControlNode($event)" (onOpentNode)="handleNodeEmit($event)"
            [modeAppPathAllow]="modeAppPathAllow" [isModifySchedule]="isModifySchedule"
            [nodeList]="isHpcPro ? lCurrntFormLock.get('nodeList').value : null"
            (selectNodeDisable)="selectNodeDisable($event)"
            ></app-mission-node-config>
    </div>
    <!-- 预约 -->
    <div style="margin-top: 2.5px; flex:1">
        <app-mission-reservation [hidden]="taskDetail.isFromTuningHelper" #preSwitchLock [labelWidth]="labelWidth"
            [isModifySchedule]="isModifySchedule || isRestart || isEdit" [switch]="switchState">
        </app-mission-reservation>
        <!-- 立即 -->
        <div class="immediately" *ngIf='!preSwitchLock.switchState && !isRestart'>
            <div *ngIf="switchState" [tiTip]="i18n.mission_create.disableeTip">
                <input type="checkbox" tiCheckbox [name]='startCheckLock.title' [(ngModel)]="startCheckLock.checked"
                    [disabled]="switchState">
            </div>
            <input *ngIf="!switchState" type="checkbox" tiCheckbox [name]='startCheckLock.title'
                [(ngModel)]="startCheckLock.checked" [disabled]="taskDetail.isFromTuningHelper">
            <span class="start-now">{{startCheckLock.title}}</span>
        </div>
    </div>
    <footer [ngClass]="{ footer: isModifySchedule }">
        <button tiButton type="button" class="little-primary-btn" color="primary" (click)="createLockAnalysis(isEdit)"
            [ngClass]="{toRight: isModifySchedule}"
            [disabled]='!(lCurrntFormLock.valid && taskNameValid && appAndPidValid && (preSwitchLock.previewState || !preSwitchLock.switchState))'>

            {{i18n.common_term_operate_ok}}</button>
        <button tiButton type="button" class="little-minor-btn" (click)="close()"> {{i18n.common_term_operate_cancel}}
        </button>
        <button tiButton type="button" class="little-minor-btn" (click)="saveTemplates()" *ngIf="!isModifySchedule && !taskDetail.isFromTuningHelper"
            [disabled]='!(lCurrntFormLock.valid && taskNameValid && appAndPidValid && (preSwitchLock.previewState || !preSwitchLock.switchState))'>{{i18n.mission_modal.saveTemplates}}</button>
    </footer>
</div>
<ng-template #createLockConfirmModal let-context='context'>
    <ti-modal-header>{{i18n.secret_title}}</ti-modal-header>

    <ti-modal-body>
        <div style="display:flex;font-size: 12px;color: #888888;line-height: 18px;">
            <img src="./assets/img/common/icon_warning.png" style="width:20px;height:20px;">
            <span style="margin-left:12px;font-size: 14px;">{{i18n.secret_count}}</span>
        </div>
    </ti-modal-body>

    <ti-modal-footer>
        <button class="little-primary-btn" type="button" color="primary" style="margin-right: 16px;"
            (click)="context.close()">
            {{ i18n.common_term_operate_ok }}
        </button>

        <button class="little-minor-btn" type="button" (click)="context.dismiss()">
            {{ i18n.common_term_operate_cancel }}
        </button>
    </ti-modal-footer>
</ng-template>