<!-- 内存诊断 -->
<app-mission-sliding #missionSliding [labelWidth]="labelWidth" [nodeName]="nodeParams.nodeName"
    [nodeIP]="nodeParams.nodeIp">
    <div class="pid-name nodeConfigBox" *ngIf="isAtttach" [formGroup]="pidProcessGroup">
      <app-mem-process-pid [attachRadioName]="'configNodeRadioCreate'" formControlName="pidProcess" [inputWidth]="'300px'" ></app-mem-process-pid>
    </div>
    <ti-formfield [labelWidth]="labelWidth" [formGroup]='formGroup' class="nodeConfigBox">
        <ng-container *ngIf="!isAtttach">
          <!-- 应用路径 -->
          <ti-item [label]="form.path.label" [required]="form.path.required">
            <ti-item-label>
                <span>{{form.path.label}}</span>
                <ti-icon [tiTip]="i18n.mission_create.modeAppNotice" tiTipMaxWidth='370px' style="margin-left:10px;">
                    <img src='./assets/img/summary/tooltip.png'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='path_ctrl' style="width: 300px"
                (ngModelChange)="checkValid()">
          </ti-item>

          <!-- 应用参数 -->
          <ti-item [label]="form.params_c.label" [required]="form.params_c.required">
            <ti-item-label>
                <span>{{form.params_c.label}}</span>
                <ti-icon [tiTip]="i18n.mission_create.modeAppParamsNotice" style="margin-left:10px;">
                    <img src='./assets/img/summary/tooltip.png'>
                </ti-icon>
            </ti-item-label>
            <textarea tiTextarea style="width:300px;font-size: 14px;color: #333;" [tiValidation]='validation'
                formControlName='params_ctrl'></textarea>
          </ti-item>
        </ng-container>

        <!-- 二进制/符号文件路径 -->
        <ti-item [required]="form.b_s.required" [hidden]="currentCreateType" *ngIf="!currentCreateType">
            <ti-item-label [hidden]="currentCreateType">
                <span>{{form.b_s.label}}</span>
                <ti-icon [tiTip]="form.b_s.tip" style="margin-left:10px;" tiTipMaxWidth='370px' tiTipPosition="bottom">
                    <img src='./assets/img/summary/tooltip.png'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='b_s_ctrl' style="width: 300px"
                (ngModelChange)="checkValid()">
        </ti-item>

        <!-- C/C++源文件路径 -->
        <ti-item [required]="form.c_source.required" *ngIf="showCFile">
            <ti-item-label>
                <span>{{form.c_source.label}}</span>
                <ti-icon [tiTip]="form.c_source.tip" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img src='./assets/img/summary/tooltip.png'>
                </ti-icon>
            </ti-item-label>
            <input type="text" tiText [tiValidation]='validation' formControlName='source_ctrl' style="width: 300px"
                (ngModelChange)="checkValid()">
        </ti-item>
    </ti-formfield>
    <div class="heightConfig"></div>
    <ti-formfield class="userFormConfig" [formGroup]='userFormGroup' [labelWidth]="labelWidth" *ngIf="!isAtttach">
        <ti-item [required]="form.runUserStatus.required">
            <ti-item-label>
                <span>{{ form.runUserStatus.label }}</span>
                <ti-icon [tiTip]="form.runUserStatus.tip" style="margin-left:10px;" tiTipMaxWidth='370px'
                    tiTipPosition="bottom">
                    <img src='./assets/img/summary/tooltip.png'>
                </ti-icon>
            </ti-item-label>
            <ti-switch id="myswitch" ngDefaultControl formControlName='runUserStatus' (ngModelChange)="checkValid()">
            </ti-switch>
        </ti-item>
        <ti-item [required]="form.user.required" [show]="userFormGroup.controls.runUserStatus.value">
            <ti-item-label>
                <span>{{ form.user.label }}</span>
            </ti-item-label>
            <input type="text" tiText formControlName='user' style="width: 300px" [tiValidation]='validation'
                (ngModelChange)="checkValid()" />
        </ti-item>

        <ti-item [required]="form.password.required" [show]="userFormGroup.controls.runUserStatus.value">
            <ti-item-label>
                <span>{{ form.password.label }}</span>
            </ti-item-label>
            <input type="password" tiText formControlName='password' style="width: 300px" [tiValidation]='validation'
                (ngModelChange)="checkValid()" />
        </ti-item>
    </ti-formfield>
    <footer>
        <button tiButton type="button" color="primary" style="margin-right: 20px" [disabled]='btnCheck'
            (click)="confirm()">{{i18n.common_term_operate_ok}}</button>
        <button tiButton type="button" (click)="close()">{{i18n.common_term_operate_cancel}}</button>
    </footer>
</app-mission-sliding>