<div class="progress-bg">
    <div class="progress-modal">
        <div class="madal-content">
            <p>
                <span>{{ i18n.common_term_bc_check_porting_tip }}</span>
                <span>
                    <span style="padding-right: 10px">{{ progessValue }}</span>
                    <img (click)="closeTask()" style="cursor: pointer;" src="./assets/img/common/icon_close.svg" />
                </span> 
            </p>
            <div class="progress-bar-bg">
                <div class="progress-bar-zero progress-bar" style="left: 0%;" *ngIf="progess < 1"></div>
                <div class="progress-bar" [ngStyle]="{'width': barWidth + 'px'}" *ngIf="progess >= 1"></div>
            </div>
        </div>
    </div>
</div>