:root {
   
  

    .vscode-dark {
        --ti-default-body-bg: #1E1E1E;

        // 按钮颜色
        --btn-font-d-e8e8e8-l-222222: #E8E8E8;
        --btn-bg-d-313131-l-ffffff: #313131;
        --btn-border-d-dddddd-l-979797: #DDDDDD;
        --btn-disabled-font-d-aaaaaa-l-cccccc: #AAAAAA;
        --btn-disabled-bg-d-313131-l-f5f5f5: #313131;
        --btn-disabled-border-d-313131-l-cccccc: #313131;
        --btn-second--disabled-border-d-616161-l-cccccc: #616161;  // 次要按钮
        --btn-primary-font-d-e8e8e8-l-ffffff: #E8E8E8;
        --btn-primary-bg-d-0067ff-l-0067ff: #0067FF;
        --btn-primary-border-d-0067ff-l-0067ff: #0067FF;
        --d-aaaaaa-l-616161: #AAAAAA;

        // 表格颜色
        --th-font-d-e8e8e8-l-616161: #E8E8E8;
        --th-bg-d-2a2a2a-l-f5f9ff: #2A2A2A;
        --th-border_b-d-4b4b4b-l-e1e6ee: #4B4B4B;
        --byte-main-border-e1e6ee: #616161;
        --th-border_r-d-4b4b4b-l-ffffff: #4B4B4B;
        --td-font-d-aaaaaa-l-222222: #AAAAAA;
        --td-bg-d-161616-l-ffffff: #161616;
        --executed-num-border: #0067FF;

        // 背景颜色
        --bg-d-1e1e1e-l-fafafa: #1E1E1E;
        --thumb-d-424242-l-aaaaaa: #424242;
        --d-333333-l-dddddd: #333333;
        --bg-d-313131-l-f5f5f5: #313131;
        --bg-d-313131-l-ffffff: #313131;
        --bg-d-424242-l-ffeeee: #424242;

        // 字体颜色
        --font-d-888888-l-616161: #888888;
        --font-d-888888-l-979797: #888888;
        --font-d-616161-l-979797: #616161;
        --font-d-e8e8e8-l-222222: #E8E8E8;
        --font-d-e8e8e8-l-282b33: #E8E8E8;
        --font-d-aaaaaa-l-979797: #AAAAAA;
        --font-d-aaaaaa-l-616161: #AAAAAA;
        --font-d-aaaaaa-l-222222: #AAAAAA;
        --font-d-e8e8e8-l-616161: #E8E8E8;
        --font-d-616161-l-cccccc: #616161;

        // 边框颜色
        --border-d-888888-l-979797: #888888;
        --border-d-616161-l-cccccc: #616161;
        --border-d-616161-l-979797: #616161;

        // 选择框
        --md-color-btn-p-bg-disabled: #313131;
        --ti-checkbox-border-color-checked-disabled: #616161;

        // tiny tips 主题
        --ti-tip-bg-color: #424242;
        --ti-tip-border: #424242;
        --ti-common-color-icon-normal: #888888;

        --upload_file: #0067FF;

        --tip-title-clr-span:#333333;
        --tip-title-clr-a:#267DFF;

        --ra-label-backgroud-color-linear: #4b4b4b;
        --ra-label-backgroud-color-change: #1e1e1e;
        --ra-label-span-active-color: #e8e8e8 !important;
        --ra-label-backgroud-color: rgba(30, 30, 30, 0.3);
        --ra-label-soild-color: #5b5b5b;
        --ra-label-soild-color-active:#5b5b5b;
    }

    .vscode-light {
        --ti-default-body-bg: #FFFFFF;
        --btn-font-d-e8e8e8-l-222222: #222222;
        --btn-bg-d-313131-l-ffffff: #FFFFFF;
        --btn-border-d-dddddd-l-979797: #979797;
        --btn-disabled-font-d-aaaaaa-l-cccccc: #CCCCCC;
        --btn-disabled-bg-d-313131-l-f5f5f5: #F5F5F5;
        --btn-disabled-border-d-313131-l-cccccc: #CCCCCC;
        --btn-second--disabled-border-d-616161-l-cccccc: #CCCCCC;  // 次要按钮
        --btn-primary-font-d-e8e8e8-l-ffffff: #FFFFFF;
        --btn-primary-bg-d-0067ff-l-0067ff: #0067FF;
        --btn-primary-border-d-0067ff-l-0067ff: #0067FF;
        --d-aaaaaa-l-616161: #616161;

        // 表格颜色
        --th-font-d-e8e8e8-l-616161: #616161;
        --th-bg-d-2a2a2a-l-f5f9ff: #f5f9ff;
        --th-border_b-d-4b4b4b-l-e1e6ee: #E1E6EE;
        --byte-main-border-e1e6ee: #e1e6ee;
        --th-border_r-d-4b4b4b-l-ffffff: #FFFFFF;
        --td-font-d-aaaaaa-l-222222: #222222;
        --td-bg-d-161616-l-ffffff: #FFFFFF;

        // 背景颜色
        --bg-d-1e1e1e-l-fafafa: #FAFAFA;
        --thumb-d-424242-l-aaaaaa: #AAAAAA;
        --d-333333-l-dddddd: #DDDDDD;
        --bg-d-313131-l-f5f5f5: #F5F5F5;
        --bg-d-313131-l-ffffff: #ffffff;
        --bg-d-424242-l-ffeeee: #ffeeee;

        // 字体颜色
        --font-d-888888-l-616161: #616161;
        --font-d-888888-l-979797: #979797;
        --font-d-616161-l-979797: #979797;
        --font-d-e8e8e8-l-222222: #222222;
        --font-d-e8e8e8-l-282b33: #282b33;
        --font-d-aaaaaa-l-979797: #979797;
        --font-d-aaaaaa-l-616161: #616161;
        --font-d-aaaaaa-l-222222: #222222;
        --font-d-e8e8e8-l-616161: #616161;
        --font-d-616161-l-cccccc: #CCCCCC;

        // 边框颜色
        --border-d-888888-l-979797: #979797;
        --border-d-616161-l-cccccc: #CCCCCC;
        --border-d-616161-l-979797: #979797;

        // 选择框
        --md-color-btn-p-bg-disabled: #F5F5F5;
        --ti-checkbox-border-color-checked-disabled: #CCCCCC;

        // tiny tips 主题
        --ti-tip-bg-color: #fff;
        --ti-tip-border: #fff;
        --ti-common-color-icon-normal: #979797;

        --upload_file: #0067FF;

        --tip-title-clr-span:#888888;
        --tip-title-clr-a:#267DFF;
    }

    .color-d-e8-l-22 {
        color: var(--font-d-e8e8e8-l-222222);
    }

    .color-d-aa-l-97 {
        color: var(--font-d-aaaaaa-l-979797);
    }

    .color-d-aa-l-61 {
        color: var(--font-d-aaaaaa-l-616161);
    }

    .color-d-88-l-97 {
        color: var(--font-d-888888-l-979797);
    }

    .color-d-e8-l-61 {
        color: var(--font-d-e8e8e8-l-616161);
    }
}
