/* You can add global styles to this file, and also import other style files */
@import './colorTheme.scss';

html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 1062px;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    font-family: "huawei sans";
}

.vscode-dark,
.vscode-light {
    height: 100%;
}

@media only screen and (max-width: 1550px) {
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 1rem;
        overflow: hidden !important;
        font-family: "huawei sans";
    }
}

p {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-word;
    outline: none;
}

dl,
ul,
ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #0067ff;
}

a:hover {
    color: #267DFF !important;
    cursor: pointer;
}

a:active {
    color: #0057d9 !important;
}

:root,
:root .vscode-light,
:root .vscode-dark {
    button {
        min-width: 88px !important;
    }
}

/**
 * 页面加载样式
 **/
.loading-box {
    width: 100%;
    height: 260px;
    top: 50%;
    position: absolute;
    transform: translateY(-130px);

    .spinner {
        margin: 100px auto;
        width: 50px;
        height: 60px;
        text-align: center;
        font-size: 10px;
    }

    .spinner>div {
        background-color: #0067ff;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
        animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    @-webkit-keyframes stretchdelay {

        0%,
        40%,
        100% {
            -webkit-transform: scaleY(0.4);
        }

        20% {
            -webkit-transform: scaleY(1);
        }
    }

    @keyframes stretchdelay {

        0%,
        40%,
        100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }

        20% {
            transform: scaleY(1);
            -webkit-transform: scaleY(1);
        }
    }
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #eef0f5;
    padding: 0 30px 30px 30px; //todo
    box-sizing: border-box; //todo
}

.ti3-validate-icon {
    margin-right: 5px !important;
}

.mytip {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99999;

    #close {
        margin-top: 8px;
    }
}

.tip-content {
    display: inline-block;
    pointer-events: all;
    padding: 8px 20px;
    max-width: 20vw;
    text-align: center;
    min-width: 8vw;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    color: #222;
}

.tip-icon {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.required {
    color: #e02020 !important;
    font-size: 14px;
    line-height: 20px;
}

// 单选按钮的样式
input[type="radio"][tiRadio]+.ti3-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="radio"][tiRadio]+.ti3-radio .ti3-radio-skin {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    border-radius: 50%;
    margin-right: 8px;
    box-sizing: border-box;
}

input[type="radio"][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-skin {
    border-color: #0067ff;
    background-color: var(--vscode-editor-background) !important;
}

input[type="radio"][tiRadio]+.ti3-radio .ti3-radio-skin:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
}

input[type="radio"][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-skin:after {
    background-color: #0067ff;
    opacity: 1;
    transform: translate(0) scale(1);
    transition: opacity .2s ease-out, transform .2s;
}

input[type="radio"][tiRadio]+.ti3-radio .ti3-radio-label {
    color: #616161 !important;
}

input[type="radio"][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-label {
    color: #aaa !important;
}

input[type="radio"][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-skin {
    border-color: #0067ff !important;
    background-color: var(--vscode-editor-background) !important;
}

input[type="radio"][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-skin:hover {
    border-color: #0067ff !important;
}

input[type="radio"][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-skin::after {
    background-color: #0067ff !important;
    opacity: 1;
}

input[type="radio"][tiRadio]:disabled:checked+.ti3-radio .ti3-radio-skin::after {
    background-color: #616161 !important;
    opacity: 1;
}

input[type="radio"][tiRadio]+.ti3-radio .ti3-radio-skin {
    background-color: var(--vscode-editor-background) !important;
}

// 勾选时label颜色
input[type="radio"][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-label {
    color: #e8e8e8 !important;
}

input[type="radio"][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-label {
    color: #AAAAAA !important;
}

// 禁用radio样式
input[type="radio"][tiRadio]:disabled+.ti3-radio .ti3-radio-skin {
    border-color: #616161 !important;
    background-color: #313131 !important;
}

input[type="radio"][tiRadio]:disabled:checked+.ti3-radio .ti3-radio-skin::after {
    background-color: #616161 !important;
}

// 禁用label样式
input[type="radio"][tiRadio]:disabled+.ti3-radio .ti3-radio-label {
    color: #616161 !important;
}

.ti3-radio-label {
    font-size: 14px;
}

input[type="checkbox"][tiCheckbox] {
    display: none !important;
}

input[type="checkbox"][tiCheckbox]+.ti3-checkbox {
    display: flex;
    align-items: center;
}

input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin {
    border-collapse: separate;
    border-radius: 2px;
    box-sizing: border-box;
    color: transparent;
    display: inline-block;
    height: 16px;
    line-height: 14px;
    margin-bottom: 0;
    margin-right: 10px;
    position: relative;
    text-align: center;
    transition: background-color .15s, border-color .15s;
    vertical-align: middle;
    width: 16px;
}

input[type="checkbox"][tiCheckbox]:checked+.ti3-checkbox .ti3-checkbox-skin::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 21%;
    transform: rotate(45deg) translate(-55%, -55%) scale(1);
    display: table;
    width: 7px;
    height: 9px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    box-sizing: border-box;
    border-color: #fff;
}

// 勾选框样式修改
input[type="checkbox"][tiCheckbox]:not([disabled]):not(:checked)+.ti3-checkbox .ti3-checkbox-skin {
    border: 1px solid #b7b7b7 !important;
}

input[type="checkbox"][tiCheckbox]:not([disabled]):not(:checked)+.ti3-checkbox .ti3-checkbox-skin:hover {
    border: 1px solid #0067ff !important;
}

input[type="checkbox"][tiCheckbox]:not([disabled]):not(:checked)+.ti3-checkbox .ti3-checkbox-skin:focus {
    border-color: #b7b7b7;
}

input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin,
input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin:focus {
    background-color: #0067ff !important;
}

input[type="checkbox"][tiCheckbox][disabled]:checked+.ti3-checkbox .ti3-checkbox-skin {
    background-color: var(--md-color-btn-p-bg-disabled) !important;
    border: 1px solid var(--ti-checkbox-border-color-checked-disabled);
    color: var(--ti-checkbox-border-color-checked-disabled);
}

//黑色主题
.vscode-dark {
    input:focus {
        border: 1px solid #0067ff !important;
        outline: 1px solid #0067ff;
    }

    input:hover {
        border: 1px solid #0067ff !important;
    }

    input:disabled {
        border-color: #616161 !important;
        background: #313131 !important;
        color: #AAAAAA !important;
    }

    .cancel-btn {
        display: inline-block;
        width: 96px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        background: #313131;
        color: #dddddd;
        margin-top: 6px;
        cursor: pointer;
        border: 1px solid #dddddd !important;
    }

    .cancel-btn:hover {
        color: #ffffff !important;
        border-color: #0067ff !important;
    }

    .cancel-btn:active {
        background: #1c314f !important;
        color: #0067ff !important;
    }

    // 小次要按钮控件样式
    .little-minor-btn {
        display: inline-block;
        text-align: center;
        background: #313131;
        color: #e8e8e8;
        width: 100px;
        height: 28px;
        line-height: 26px;
        font-size: 12px;
        border-radius: 2px;
        border: 1px solid #dddddd !important;
    }

    .little-minor-btn:hover {
        background: #313131 !important;
        color: #267dff !important;
        border-color: #267dff !important;
        cursor: pointer;
    }

    .little-minor-btn:focus,
    .little-minor-btn:active {
        background: #313131 !important;
        color: #0057d9 !important;
        border-color: #0057d9 !important;
    }

    .little-minor-btn[disabled] {
        background: #313131 !important;
        color: #666666 !important;
        border: 1px solid #616161 !important;
    }

    .ti3-checkbox-label {
        line-height: 17px;
        display: inline-block;
        width: 46px;
        height: 17px;
        color: unset !important;
    }

    .title {
        height: 26px;
        line-height: 26px;
        font-size: 20px;
        color: #e8e8e8;
    }

    input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin {
        background-color: #1e1e1e;
        border: 1px solid #888;
    }

    input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin:hover {
        border: 1px solid #2072ea;
    }

    input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin,
    input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin:focus {
        width: 16px;
        height: 16px;
        font-weight: lighter;
    }

    input[type="checkbox"][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin:active {
        line-height: 14px;
    }

    .ti3-icon-checkmark:before {
        content: "\e901";
        display: inline-block;
        margin-top: 1px;
    }

    input[type="checkbox"][tiCheckbox]:not([disabled]):indeterminate+.ti3-checkbox .ti3-checkbox-skin,
    input[type="checkbox"][tiCheckbox]:not([disabled]):indeterminate+.ti3-checkbox .ti3-checkbox-skin:hover {
        background-color: #ffffff !important;
        border: 5px solid #0067ff !important;

        &:before {
            width: 0px !important;
        }
    }

    textarea:focus,
    textarea:hover {
        border: 1px solid #0067ff !important;
        color: #E8E8E8 !important;
    }

    [tiText] {
        box-shadow: unset !important;
    }
}

//浅色主题
.vscode-light {
    .ra-label {
        i.ra-uncheck {
            border: 1px solid #a4a4a4;
        }
    }

    input:focus {
        border: 1px solid #0067ff !important;
        outline: 1px solid #0067ff;
    }

    input:hover {
        border: 1px solid #0067ff !important;
    }

    input:disabled {
        background: #f5f5f5 !important;
        color: #cccccc !important;
        border: 1px solid #cccccc !important;
    }

    .cancel-btn {
        display: inline-block;
        width: 96px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        background: #ffffff;
        color: #333333;
        margin-top: 6px;
        cursor: pointer;
        border: 1px solid #b8becc !important;
    }

    .cancel-btn:hover {
        border-color: #0067ff !important;
        border: 1px solid #0067ff !important;
    }

    .cancel-btn:active {
        color: #0067ff !important;
        border: 1px solid #0067ff !important;
    }

    // ******小按钮控件样式******//
    .little-minor-btn {
        display: inline-block;
        text-align: center;
        background: #ffffff;
        color: #222222;
        width: 100px;
        height: 28px;
        line-height: 26px;
        font-size: 12px;
        border-radius: 2px;
        border: 1px solid #979797 !important;
    }

    .little-minor-btn:hover {
        color: #267dff !important;
        border-color: #267dff !important;
    }

    .little-minor-btn:focus,
    .little-minor-btn:active {
        color: #0057d9 !important;
        border-color: #0057d9 !important;
    }

    .little-minor-btn[disabled] {
        background: #f5f5f5 !important;
        color: #cccccc !important;
        border: 1px solid #cccccc !important;
    }

    .ti3-checkbox-label {
        line-height: 17px;
        font-size: 14px;
        color: unset !important;
    }

    .title {
        height: 26px;
        line-height: 26px;
        font-size: 20px;
        color: #222222;
    }

    input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin {
        background-color: #fff;
        border: 1px solid #ccc;
    }

    input[type="checkbox"][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin:hover {
        border: 1px solid #39f;
    }

    input[type="checkbox"][tiCheckbox]:not([disabled]):indeterminate+.ti3-checkbox .ti3-checkbox-skin,
    input[type="checkbox"][tiCheckbox]:not([disabled]):indeterminate+.ti3-checkbox .ti3-checkbox-skin:hover {
        background-color: #ffffff !important;
        border: 5px solid #0067ff !important;

        &:before {
            width: 0px !important;
        }
    }

    .ra-label {
        i.ra-uncheck {
            border: 1px solid #a4a4a4;
        }
    }

    textarea:focus,
    textarea:hover {
        border: 1px solid #0067ff !important;
    }
}

// ******错误提示******
.ti3-unifyvalid-error-container {
    width: 400px;
    min-height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin: 4px 0;
    color: #ff4c4c;
    display: flex;
    align-content: center;
}

.ti3-validate-icon {
    color: #ff4c4c;
    margin-right: 10px;
    font-size: 16px;
}

.ti3-icon-staricon::before {
    color: #f45c5e !important;
    margin-left: -14px !important;
}

.ti3-icon {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ti3-validate-icon {
    margin-right: 5px !important;
}

.ra-label {
    width: 100%;
    position: relative;
    display: inline-block;

    input {
        display: none;
    }

    i.ra-common {
        position: absolute;
        width: 14px;
        height: 14px;
        left: 0;
        outline: none;
        border-radius: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    i.ra-check {
        border: 1px solid #0067ff;
    }

    i.ra-check::after {
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        background-color: #0067ff;
        border-radius: 50%;
        -webkit-transition: opacity 0.8s;
        transition: opacity 0.8s;
    }

    i.ra-uncheck {
        border: 1px solid #bdbdbd;
    }
}

a {
    &:focus {
        outline-style: none;
    }
}


img[src$="dark-nodata.png"] {
    width: 218px;
    height: 84px;
}

// 按钮样式start
.primary-btn[disabled] {
    background-color: var(--btn-disabled-bg-d-313131-l-f5f5f5) !important;
    color: var(--btn-disabled-font-d-aaaaaa-l-cccccc) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: var(--btn-disabled-border-d-313131-l-cccccc) !important;
    cursor: not-allowed;
}

/** icon-close start **/
.icon-close {
    img {
        display: none;

        &:hover {
            cursor: pointer;
        }

        &:nth-of-type(1) {
            display: block;
        }
    }

    &:active,
    &:hover {
        img:nth-of-type(1) {
            display: none;
        }

        img:nth-of-type(2) {
            display: block;
        }
    }
}

/** icon-close end **/


.primary-btn,
.secondary-btn {
    width: 120px;
    font-size: 12px !important;
    padding: 0 20px;
    height: 32px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

// 最右侧的按钮取消margin-right
.rightest-btn {
    margin-right: 0 !important;
}



.primary-btn {
    background-color: #0067ff !important;
    border-color: #0067ff !important;
    color: #FFFFFF !important;

    &:hover {
        background-color: #267dff !important;
        border-color: #267dff !important;
    }

    &:active {
        background-color: #0057d9 !important;
        border-color: #0057d9 !important;
    }

    &:disabled {
        color: var(--btn-disabled-font-d-aaaaaa-l-cccccc) !important;
        background-color: var(--btn-disabled-bg-d-313131-l-f5f5f5) !important;
        border-color: var(--btn-disabled-border-d-313131-l-cccccc) !important;
    }
}

.secondary-btn {
    background-color: var(--btn-bg-d-313131-l-ffffff);
    border-color: var(--btn-border-d-dddddd-l-979797);
    color: var(--btn-font-d-e8e8e8-l-222222);

    &:hover {
        border-color: #4C94FB;
        color: #4C94FB;
    }

    &:active {
        border-color: #1563D7;
        color: #1563D7;
    }

    &:disabled {
        color: var(--btn-disabled-font-d-aaaaaa-l-cccccc) !important;
        border-color: var(--btn-second--disabled-border-d-616161-l-cccccc) !important;
        background-color: var(--btn-disabled-bg-d-313131-l-f5f5f5) !important;
        cursor: not-allowed;
    }
}

/** input start**/
input {
    width: 65%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-d-888888-l-979797) !important;
    background-color: var(--vscode-editor-background) !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    height: 28px !important;
    font-size: 12px !important;
    color: var(--font-d-e8e8e8-l-222222) !important;
}

textarea {
    background-color: var(--vscode-editor-background) !important;
    font-size: 12px !important;
    color: var(--font-d-e8e8e8-l-222222) !important;
    border-color: var(--border-d-888888-l-979797) !important;
    box-shadow: unset !important;
    resize: vertical;
    border-radius: 2px !important;

    &:focus {
        outline: 1px solid #0067ff;
    }
}

.checkconnection-btn-en {
    button {
        width: 172px;
    }

    .checking-btn {
        width: 192px;
    }
}

.pointer {
    cursor: pointer;
}