.tick-warpper {
    position: absolute;
    top: 0;
    left: 0;
    .tick-being {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 38px;
      width: max-content;
      transform: translate(-50%, 0);

      .tick-up,
      .tick-down {
        width: 2px;
        height: 6px;
        background-color: #6c7280;
      }

      .tick-text {
        user-select: none;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        color: #AAAAAA;
      }
    }
  }