.ti3-table {
  position: relative;
}

.irp-modal {
  position: relative;

  .headerFilter {
    position: absolute;
    top: 27px;
    right: 13px;
    z-index: 2;

    app-icon-react {
      height: 9px;
      width: 9px;
      cursor: pointer;
    }

    .statusFilter {
      font-size: 14px;
      display: none;
      position: absolute;
      top: 25px;
      right: 5px;
      min-width: 195px;
      background-color: var(--ti-table-tr-bg-color-selected);
      max-height: 310px;
      overflow-y: auto;
      border-radius: 4px;

      span {
        line-height: 32px;
        box-sizing: border-box;
        width: 100%;
        height: 32px;

        &:hover {
          background-color: #f0f3fa;
        }

        ::ng-deep .ti3-checkbox {
          padding: 0 15px !important;
          width: 100% !important;
        }
      }
    }

    .statusFilter.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .ti3-table>.ti3-table-fixed-head+.ti3-table-container {
    max-height: 320px;
  }
}

.map-modal {
  .ti3-modal-content {
    width: 912px;
    padding: 0 32px;
    .ti3-close {
      margin-top: 8px;
    }

    .ti3-modal-header {
      margin: 0 0 26px;
      padding: 22px 0 21px;
      border-bottom: 1px dashed var(--common-color-divider);
    }

    .ti3-modal-body {
      overflow-y: auto;
      height: 422px;
      padding: 0 !important;
      margin: 0;
    }
    .ti3-modal-footer {
      border-top: 1px dashed var(--common-color-divider) !important;
      box-sizing: border-box;
      padding: 32px 0 0 0 !important;
      height: 88px;
    }

    .body-header {
      display: flex;
      margin-bottom: 20px;
      .text {
        margin-right: 24px
      }
      .modal-detail {
        margin-left: 48px;
      }
    }
  }
}

.hart-name-map-modal {
  .ti3-modal-content {
    .ti3-modal-body {
      overflow-y: auto;
      max-height: 600px !important;
    }
  }
}

.ti3-table>.ti3-table-fixed-head>table>thead>tr>th.center {
  border: none;
  text-align: center;
}

:host .irp-modal ::ng-deep .ti3-tree-item-leaf {
  margin-left: 0;
}

:host .irp-modal ::ng-deep .ti3-tree-container .ti3-icon-minus-square {
  display: none;
}
.th-filter {
  width: 30px !important;
  padding-left: 10px;
  padding-right: 0;
  .filter-icon {
      cursor: pointer;
      width: 14px;
      margin-top: 5px;
  }
}

:host ::ng-deep .irp-modal {
  .ti3-table>.ti3-table-fixed-head>table>thead>tr:not(:first-child)>th:after {
    color: transparent;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    background: var(--ti-table-head-th-border-right-color) !important;
  }

  .ti3-table .th-filter {
    app-icon-static {
      margin-left: -2px;
    }
  }
}
