// 深色
::ng-deep .vscode-dark {
    --leftBox-bg-color: #2a2a2a;
    --rightBox-bg-color: #161616;
    --box-font-color: #aaaaaa;
    --color-input: #252526;
    --color-middle-font: #aaaaaa;
    --color-body-background: #161616;
    --color-body-font: #aaaaaa;
    --color-head-font: #e8e8e8;
    --color-tb-scrollbar: #424242;
    --color-head-background: #2a2a2a;
    --color-head-border: #4b4b4b;
    --color-tr-hover: #313131;
    --ti-table-th-spacing-line-color: #4b4b4b;

    .ti3-table > .ti3-resize-wrapper > table > thead > tr > th,
    .ti3-table > .ti3-table-container > table > thead > tr > th,
    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th {
        border-bottom: 1px solid #4b4b4b !important;
    }
    
    .primary-btn[disabled] {
        background: #313131 !important;
        color: #616161 !important;
        cursor: not-allowed;
    }
}

// 浅色
::ng-deep .vscode-light {
    --leftBox-bg-color: #f0f3fa;
    --rightBox-bg-color: #ffffff;
    --box-font-color: #222222;
    --color-input: #ffffff;
    --color-middle-font: #000000;
    --color-body-background: #ffffff;
    --color-body-font: #222222;
    --color-tb-scrollbar: #6b708b;
    --color-head-font: #616161;
    --color-head-background: #f5f9ff;
    --color-head-border: #ffffff;
    --color-tr-hover: #f5f5f5;
    --ti-table-th-spacing-line-color: #4b4b4b;

    .ti3-table > .ti3-resize-wrapper > table > thead > tr > th,
    .ti3-table > .ti3-table-container > table > thead > tr > th,
    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th {
        border-bottom: 1px solid #ffffff !important;
    }

    .primary-btn[disabled] {
        background: #f5f5f5 !important;
        color: #cccccc !important;
        border: 1px solid #cccccc !important;
    }
}

::ng-deep .ti3-table > .ti3-resize-wrapper > table > tbody > .ti3-details-tr > td,
.ti3-table > .ti3-table-container > table > tbody > .ti3-details-tr > td {
    border-bottom: 0px !important;
}

.tiTemplate {
    border: 0px !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
}

:host ::ng-deep {
    .ti3-icon-angle-right:before {
        content: "\e919" !important;
    }
    .ti3-icon-angle-transform-up-thin {
        display: inline-block;
        transform: rotate(270deg) !important;
    }
    .ti3-icon-angle-transform-down-thin {
        display: inline-block;
        transform: rotate(180deg) !important;
    }
}

.ti3-table {
    .ti3-table-container {
        display: block;
        overflow-y: auto;
        border-bottom: none;
        table {
            tbody {
                tr {
                    &:nth-of-type(1) {
                        td {
                            border-top: none !important;
                        }
                    }

                    &.expanded {
                        background: var(--d-2a2a2a-l-ffffff) !important;
                    }
                    .ext_more {
                        position: relative;
                        p {
                            margin-left: 10px;
                        }
                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .ti3-table-container::-webkit-scrollbar-thumb {
        border-radius: 2px !important;
        background-color: var(--color-tb-scrollbar) !important;
    }
    .ti3-table-container::-webkit-scrollbar {
        width: 4px !important;
        background: var(--vscode-editor-background) !important;
    }
    .ti3-table-container::-webkit-scrollbar-track {
        border: none !important;
    }
    .ti3-table-fixed-head {
        table {
            width: 100% !important;
            tr {
                th {
                    color: var(--color-head-font);
                    background-color: var(--color-head-background) !important;
                }
                th:not(:last-child)::after {
                    background: var(--color-head-border);
                }
            }
        }
    }
}
::ng-deep .ti3-table-fixed-head-filler {
    background-color: var(--color-head-background) !important;
    width: 5px !important;
}

.fckLine {
    width: 100%;
    height: 21px;
    margin-bottom: 22px;
    border-bottom: 1px dashed #4b4b4b;
}
.create-title {
    margin-top: 20px;
}

.modal-dialog content {
    height: 480px !important;
}

::ng-deep .ti3-table .ti3-table-container tr:hover {
    background-color: var(--color-tr-hover) !important;
}

::ng-deep .ti3-table tr:hover {
    background-color: var(--color-tr-hover) !important;
}

.mainstyle {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-input) !important;
}

.leftBox {
    background-color: var(--leftBox-bg-color) !important;
    border-right: 1px solid #0067ff;
}
.header .title {
    -webkit-font-smoothing: none;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #222222;
}

.collapsed {
    width: 100%;
    padding-left: 32px;
    background-color: var(--rightBox-bg-color) !important;
    color: var(--box-font-color) !important;
    overflow: hidden;
    box-sizing: border-box;
    .table {
        margin-left: 20px;
        width: 100%;
        box-sizing: border-box;
        .box_content {
            width: 100%;
            .box {
                width: 100%;
                display: flex;

                .box_left {
                    width: 155px;
                    font-size: 14px;
                    overflow: hidden;
                    color: var(--color-middle-font) !important;
                    margin-right: 20px;
                }
                .box_right {
                    width: 240px;
                    min-height: 40px;
                    font-size: 14px;
                    color: var(--color-middle-font) !important;
                    box-sizing: border-box;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding-left: 10px;
                }
            }
        }

        .table-left,
        .table-right {
            display: inline-block;
            ul li p {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                overflow: hidden;
            }
        }
    }

    .table-left {
        width: 155px;
        font-size: 14px !important;
        display: inline-block;
        color: var(--color-middle-font) !important;
        margin-right: 20px;
    }

    .table-right {
        width: 240px;
        font-size: 14px !important;
        display: inline-block;
        padding-left: 5px;
        color: var(--color-middle-font) !important;
        box-sizing: border-box;
        p {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.isShow {
    display: none;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 24px 0;

    .primary-btn {
        margin-right: 20px;
        border: none;
        height: 32px;
    }

    .cancel-btn {
        height: 32px;
        width: 160px;
        border-radius: 2px;
        margin-top: 0;
    }
}

.content-list {
    .lable-right {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 20px 0px;
        .label {
            width: 175px;
        }
    }
}
.infomation {
    display: flex;
    justify-content: flex-start;
    .info {
        display: flex;
        flex-direction: column;
        color: #6c7280;
        font-size: 16px;
        line-height: 32px;
        .label {
            margin-right: 24px;
        }
    }
}

.nodataSrc {
    padding-top: 50px !important;
    text-align: center;
}

.nodata-temp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .no-data {
        font-size: 12px;
        color: var(--box-font-color) !important;
    }
}
.mask-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    height: 20px;
    font-size: 20px;
}

.tip_title {
    padding-top: 24px;
    padding-bottom: 8px;
    font-size: 14px;
    color: #616161;

    img {
        margin-bottom: -5px;
        padding-right: 10px;
    }
}

.incorrect {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}
.table ul li p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tip-close {
    display: inline-block;
    img:hover {
        cursor: pointer;
    }
    & > img {
        display: none;
    }
    & > img:nth-of-type(1) {
        display: block;
    }
    &:hover {
        & > img:nth-of-type(1) {
            display: none;
        }
        & > img:nth-of-type(2) {
            display: block;
        }
    }
    &:active {
        & > img:nth-of-type(1) {
            display: none;
        }
        & > img:nth-of-type(2) {
            display: block;
        }
    }
}

.label-left {
    width: 240px;
    margin-right: 24px;
}
.label-right {
    width: 240px;
}
.wrap {
    white-space: normal;
    line-height: 20px !important;
}

.wrapper {
    padding: 0px 40px;
    box-sizing: border-box;
    flex-grow: 1;
    background: var(--d-252526-l-ffffff);
}
