.detail-item {
    padding-left: 15px;
    color: #ddd;
} 

#detail-container {
    margin-top: 20px;
   

    .content-container {
        margin-top: 20px;
        opacity: 0;
    }
}
.showDetail{
    opacity: 1 !important;
}