.ioapis-detail {
    position: relative;
    cursor: crosshair;
    width: 100%;
}

.mask-box {
    position: absolute;
    top: 46px;
    left: 70px;
    width: calc(100% - 150px);
    height: 40px;
    display: none;
    overflow: hidden;
    z-index: 1000;
    .brush-box {
        position: absolute;
        height: 40px;
        top: 0;
        left: 0px;
        width: 0px;
        border: solid;
        border-width: 0px 2px 0px 2px;
        border-color: #267dff;
        background-color: rgba($color: #267dff, $alpha: 0.1);
        box-sizing: border-box;
    }
}
.table-box {
    position: relative;
    display: flex;
    height: 120px;
}
.table-y {
    width: 5%;
    height: 100%;
}
.table-y .title {
    flex: 1;
    display: flex;
    align-items: center;
}
.table {
    height: 100%;
    flex: 1;
}
.line {
    width: 150%;
    height: 2px;
    background: #ddd;
}
.title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    color: #ddd;
    font-size: 0.8rem;
}
.title-num {
    text-align: right;
}
.one:hover {
    width: 50px;
}
