::ng-deep {
    :root {
        --level-background-color: #f5f9ff;
        --level-border-color: #0067ff;
        --modalTitle-border-bottom: #e1e6ee;
    }
    .vscode-dark .process-detail-container {
        --level-background-color: #252525;
        --level-border-color: #2072ea;
        --modalTitle-border-bottom: #4b4b4b;
    }
}
.process-detail-container {
    overflow-y: auto;
    overflow-x: hidden;
    .metricsList {
        margin-top: 20px;
        .metrics {
            .title {
                font-size: 16px;
                height: 48px;
                line-height: 48px;
                padding-left: 23px;
                border-top: 1px solid var(--modalTitle-border-bottom);
                .expendIcon {
                    width: 26px;
                    display: inline-block;
                    img {
                        width: 6px;
                        height: 10px;
                    }
                }
                .active {
                    transform: rotate(90deg);
                }
            }
            .borderBottom {
                border-bottom: 1px solid var(--modalTitle-border-bottom);
            }
            .content {
                display: flex;
                .content-left {
                    min-height: 24px;
                    width: 36px;
                    border-right: 2px solid var(--level-border-color);
                    background-color: var(--level-background-color);
                }
                .content-right {
                    flex: 1;
                    .hotFunc-box {
                        background-color: var(--common-color-background-base);
                        width: 100%;
                        .hotFunc-select {
                            margin: 16px 24px;
                            width: 145px;
                            line-height: initial;
                        }
                        .tableData {
                            margin: 0px 0px 16px 24px;
                        }
                        .ti3-select-dominator-container {
                            vertical-align: unset;
                        }
                    }
                }
            }
        }
    }
}

:host ::ng-deep app-process-indicator-info {
    ti-table {
        font-size: 12px;
    }
    .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
        border-bottom: none !important;
    }
    td.details-hd {
        border-bottom: none !important;
    }
}
::ng-deep .process-pid-common-timodal-box {
    .ti3-modal-content {
        width: 900px;
        max-height: 600px;
        overflow: hidden;
        .ti3-close {
            top: 16px;
        }
        ti-modal-header {
            height: 90px;
            padding-top: 0;
            padding-bottom: 0;
            .stackName {
                width: 100%;
                height: 66px;
                line-height: 66px;
                box-sizing: border-box;
                padding-right: 50px;
                border-bottom: var(--divider-style);
            }
        }
        ti-modal-body {
            max-height: 424px !important;

            .system-call-info-content {
                white-space: pre-wrap;
                font-size: 12px;
                line-height: 18px;
            }
        }
        ti-modal-footer {
            height: 86px;
            padding: 32px 20px 0 !important;
            box-sizing: border-box;
        }
    }
    .subModuleFunctionTable {
        width: 100%;
    }
}
