<div class="process-detail" #container>
    <div class="headerBox">
        <!-- 选择进程/线程 -->
        <div class="left" *ngIf="['status', 'durationSummary'].includes(currentType)"
            [ngClass]="{durationSummary: ['durationSummary'].includes(currentType)}">
            <div class="icon" [tiTip]="i18n.sys_res.selecThread" (click)="showSelectTaskModal()"
                (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
                <img class="filterIcon" [src]="sanitizer.bypassSecurityTrustResourceUrl(filterSrc)">
            </div>
            <app-tag-box [label]='i18n.sys_res.selectedThread' [selecTag]="locatePTidData.selected"
                (deleteTag)="deleteTask($event)" #tagBox></app-tag-box>

        </div>


        <div *ngIf="!noData" class="right">
            <!-- 运行时长排序 -->
            <div class="filterContainer" *ngIf="['durationSummary'].includes(currentType)">
                <span class="title">{{ sortDurationSummary.title }}</span>

                <div class="content">
                    <ti-select [(ngModel)]="sortDurationSummary.selected" [options]="sortDurationSummary.list"
                        (ngModelChange)="switchDurationSummarySortBy()" panelWidth="auto" style="width: 140px;">
                    </ti-select>

                    <div class="sortContainer" style="margin-left: 4px;" (click)="switchDurationSummarySortStatus()">
                        <ti-icon class="ti3-sort"
                            [name]="sortDurationSummary.sortStatus === 'asc' ? 'sort-ascent' : sortDurationSummary.sortStatus === 'desc' ? 'sort-descent' : 'sort'">
                        </ti-icon>
                    </div>
                </div>
            </div>

            <!-- 切换图标 -->
            <div>
                <img id="processTime" [tiTip]="timeTip" tiTipPosition="top"
                    src="./assets/img/resource/timeCheckNormal.svg" (click)="switchType('status', 'time')"
                    (mouseenter)="changeIcon('#processTime', iconStatus.time.hover)"
                    (mouseleave)="changeIcon('#processTime', iconStatus.time.normal)"
                    (mousedown)="changeIcon('#processTime', iconStatus.time.press)"
                    (mouseup)="changeMouseup(loosenIcon.time)" />
                <img id="processPercentage" [tiTip]="percentageTip" tiTipPosition="top"
                    src="./assets/img/resource/percentageUncheckNormal.svg"
                    (click)="switchType('durationSummary', 'percentage')"
                    (mouseenter)="changeIcon('#processPercentage', iconStatus.percentage.hover)"
                    (mouseleave)="changeIcon('#processPercentage', iconStatus.percentage.normal)"
                    (mousedown)="changeIcon('#processPercentage', iconStatus.percentage.press)"
                    (mouseup)="changeMouseup(loosenIcon.percentage)" />
            </div>
        </div>
    </div>

    <app-time-line #timeLineDetail *ngIf="timeLineShow && !noData" [timeData]="timeData" [lineData]="timeLine"
        (timeLineData)="timeLineDataChange($event)" class="time-line"></app-time-line>

    <div class="chartBox" [ngClass]="{ hidden: noData }" #chartBox>
        <div *ngIf="!isFirst" class="topLine"></div>

        <table class="left chartBox-table">
            <thead *ngIf="!isFirst">
                <tr>
                    <td align="left" class="chartBox-thead-td">{{ i18n.sys_res.sum.thread_name }}</td>
                    <td align="left" class="chartBox-thead-td">TID/PID</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of orderlist">
                    <td class="chartBox-tbody-td">{{ item.taskname }}</td>
                    <td class="chartBox-tbody-td">{{ item.pid || '--' | thousandSeparator }} /
                        {{ item.ppid || '--' | thousandSeparator }}</td>
                </tr>
            </tbody>
        </table>

        <div class="chart process-echart-content" echarts [options]="options" [merge]="updateOptions" (chartInit)="onChartInit($event)"></div>

        <div *ngIf="!isFirst" class="bottomLine"></div>
    </div>

    <ti-pagination *ngIf="!isFirst && !noData" [(currentPage)]="currentPage" [pageSize]="pageSize" [(totalNumber)]="totalNumber"
        (pageUpdate)="onPageUpdate()" [showGotoLink]="true" style="margin-top: 5px;"></ti-pagination>

    <div *ngIf="showLoading" class="global-loading">
        <app-loading [size]="'max'" [height]="'70vh'" [bgColor]="'none'"></app-loading>
    </div>
    <div *ngIf="noData" class="noData">
        <app-default-page [height]="'80vh'"></app-default-page>
    </div>
</div>

<ng-template #timeTip let-context="context">
    <span>{{i18n.sys_res.tidPidStatusTime}}</span>
</ng-template>

<ng-template #percentageTip let-context="context">
    <span>{{i18n.sys_res.tidPidStatusPercentage}}</span>
</ng-template>

<!-- 选择线程侧滑框 -->
<app-side-modal [item]="'numa'" (confimSelect)="confimModal($event)" [taskId]="taskid" [nodeId]="nodeid"
    #selectTaskModal></app-side-modal>