<div class="summury-container" *ngIf="isActive">
    <app-msg-suggestion [suggestMsg]="suggestMsg"></app-msg-suggestion>

    <div class="cpu-box box " *ngIf="cpuData?.srcData?.data?.length">
        <div class="box-title" (click)='expand[0] = !expand[0]'>
            <img class='expand-icon' src="./assets/img/summary/row.svg" [ngClass]="{active: expand[0]}">
            <span>{{this.i18n.process.cpu}}</span>
        </div>
        <div class="cpu-table summury-table" [ngClass]="{active: expand[0]}" *ngIf="expand[0]">
            <ti-table [(displayedData)]="cpuData.displayed" [srcData]="cpuData.srcData" [columns]="cpuData.title"
                *ngIf="cpuData.srcData.data.length">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th tiOverflow tiTipPosition='left' *ngFor="let title of cpuData.title">
                                    <div class="content">
                                        <span class="sort-title"> {{title.name}}</span>
                                        <app-sub-module-table-sort *ngIf="title.sortKey" [sortStatus]="title.sortStatus"
                                            (sortTable)="tableService.sortTable(cpuData.data, cpuData.title, title.sortKey, $event)">
                                        </app-sub-module-table-sort>
                                        <img src="./assets/img/summary/tooltip.svg" class="tooltip"
                                            [tiTip]='title.tip' tiTipMaxWidth='400px' tiTipPosition="right">
                                    </div>
                                </th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-fixed-body">
                    <table>
                        <tbody *ngFor="let item of cpuData.data; let index1 = index" [ngClass]="{active: item.active}">
                            <tr>
                                <td tiOverflow tiTipPosition='left'>
                                    <img class='expand-icon' src="./assets/img/summary/row.svg" alt="sorry"
                                        *ngIf="item.children.length>0" [ngClass]="{active: item.active}"
                                        (click)='item.active = !item.active'>
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{item.title}}</td>
                                <td tiOverflow tiTipPosition='left'>{{item['%user'] | numFormat:2 | thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>
                                    {{ getValue(item['%sys']) | numFormat:2 | thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>
                                    {{ getValue(item['%wait']) | numFormat:2 | thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{item['%CPU'] | numFormat:2 | thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{item.Command}}</td>
                            </tr>
                            <ng-container *ngIf="item.active">
                                <tr *ngFor="let tidTr of item.children" class="tidTr">
                                    <td></td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr.title}}</td>
                                    <td tiOverflow tiTipPosition='left'>
                                        <span *ngIf="tidTr['%user'].above; else elseUser" [tiTip]='tipContent'
                                            [tiTipContext]="tidTr['%user']" tiTipMaxWidth='400px' tiTipPosition="right"
                                            class="blockCls">
                                            <span style="color: #f45c5e;"> {{ getValue(tidTr['%user']) | numFormat:2 |
                                                thousandSeparator }}</span>
                                            <img src="./assets/img/rocket.svg" class="redtop">
                                        </span>
                                        <ng-template #elseUser>
                                            <span>{{ getValue(tidTr['%user']) | numFormat:2 | thousandSeparator
                                                }}</span>
                                        </ng-template>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>
                                        <span [tiTip]='tipContent' [tiTipContext]="tidTr['%sys']" tiTipMaxWidth='400px'
                                            *ngIf="tidTr['%sys'].above; else elseSys" tiTipPosition="right"
                                            class="blockCls">
                                            <span style="color: #f45c5e;"> {{ getValue(tidTr['%sys']) | numFormat:2 |
                                                thousandSeparator }}</span>
                                            <img src="./assets/img/rocket.svg" class="redtop">
                                        </span>
                                        <ng-template #elseSys>
                                            <span>{{ getValue(tidTr['%sys']) | numFormat:2 | thousandSeparator }}</span>
                                        </ng-template>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>
                                        <span [tiTip]='tipContent' [tiTipContext]="tidTr['%wait']" tiTipMaxWidth='400px'
                                            *ngIf="tidTr['%wait'].above; else elseWait" tiTipPosition="right"
                                            class="blockCls">
                                            <span style="color: #f45c5e;"> {{ getValue(tidTr['%wait']) | numFormat:2 |
                                                thousandSeparator }}</span>
                                            <img src="./assets/img/rocket.svg" class="redtop">
                                        </span>
                                        <ng-template #elseWait>
                                            <span>{{ getValue(tidTr['%wait']) | numFormat:2 | thousandSeparator
                                                }}</span>
                                        </ng-template>
                                    </td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr['%CPU'] | numFormat:2 |
                                        thousandSeparator}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr.Command}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <ti-pagination [(currentPage)]="cpuData.currentPage" [pageSize]="cpuData.pageSize"
                    [(totalNumber)]="cpuData.totalNumber" (pageUpdate)="updateCpuPage($event, cpuData)" class="margin">
                </ti-pagination>
            </ti-table>
            <app-default-page *ngIf="!cpuData.srcData.data.length" [scene]="'noData'"></app-default-page>
        </div>
    </div>

    <div class="cpu-box box " *ngIf="memData?.srcData?.data?.length">
        <div class="box-title" (click)='expand[1] = !expand[1]'>
            <img class='expand-icon' src="./assets/img/summary/row.svg" [ngClass]="{active: expand[1]}">
            <span>{{i18n.process.mem}}</span>
        </div>
        <div class="cpu-table summury-table" [ngClass]="{active: expand[1]}" *ngIf="expand[1]">
            <ti-table [(displayedData)]="memData.displayed" [srcData]="memData.srcData" [columns]="memData.title"
                *ngIf="memData.srcData.data.length">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th tiOverflow tiTipPosition='left' *ngFor="let title of memData.title">
                                    <div class="content">
                                        <span class="sort-title"> {{title.name}}</span>

                                        <app-sub-module-table-sort *ngIf="title.sortKey"
                                            [sortStatus]="title.sortStatus || ''"
                                            (sortTable)="tableService.sortTable(memData.data, memData.title, title.sortKey, $event)">
                                        </app-sub-module-table-sort>

                                        <img src="./assets/img/summary/tooltip.svg" class="tooltip"
                                            [tiTip]='title.tip' tiTipMaxWidth='400px' tiTipPosition="right">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-fixed-body">
                    <table>
                        <tbody *ngFor="let item of memData.data; let index1 = index" [ngClass]="{active: item.active}">
                            <tr>
                                <td tiOverflow tiTipPosition='left'><img class='expand-icon'
                                        src="./assets/img/summary/row.svg"
                                        *ngIf="item.children.length>0 && item.children"
                                        [ngClass]="{active: item.active}" (click)='item.active = !item.active'>
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{item.title}}</td>
                                <td tiOverflow tiTipPosition='left'>{{item['minflt/s'] | numFormat:2 |
                                    thousandSeparator}}</td>
                                <td tiOverflow tiTipPosition='left'>{{item['majflt/s'] | numFormat:2 |
                                    thousandSeparator}}</td>
                                <td tiOverflow tiTipPosition='left'>{{item.VSZ | numFormat:2 | thousandSeparator}}</td>
                                <td tiOverflow tiTipPosition='left'>{{item.RSS | numFormat:2 | thousandSeparator}}</td>
                                <td tiOverflow tiTipPosition='left'>{{item['%MEM'] | numFormat:2 | thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{item.Command}}</td>
                            </tr>
                            <ng-container *ngIf="item.active">
                                <tr *ngFor="let tidTr of item.children" class="tidTr">
                                    <td tiOverflow tiTipPosition='left'></td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr.title}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr['minflt/s'] | numFormat:2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr['majflt/s'] | numFormat:2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr.VSZ | numFormat:2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr.RSS | numFormat:2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr['%MEM'] | numFormat:2}}</td>
                                    <td tiOverflow tiTipPosition='left'>{{tidTr.Command}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <ti-pagination [(currentPage)]="memData.currentPage" [pageSize]="memData.pageSize"
                    [(totalNumber)]="memData.totalNumber" (pageUpdate)="updateCpuPage($event, memData)" class="margin">
                </ti-pagination>
            </ti-table>
            <app-default-page *ngIf="!memData.srcData.data.length" [scene]="'noData'"></app-default-page>
        </div>
    </div>

    <div class="cpu-box box " *ngIf="diskData?.srcData?.data?.length">
        <div class="box-title" (click)='expand[2] = !expand[2]'>
            <img class='expand-icon' src="./assets/img/summary/row.svg" [ngClass]="{active: expand[2]}">
            <span>{{i18n.process.disk}}</span>
        </div>
        <div class="cpu-table summury-table" [ngClass]="{active: expand[2]}" *ngIf="expand[2]">
            <ti-table [(displayedData)]="diskData.displayed" [srcData]="diskData.srcData" [columns]="diskData.title"
                *ngIf="diskData.srcData.data.length">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th tiOverflow tiTipPosition='left' *ngFor="let title of diskData.title">
                                    <div class="content">
                                        <span class="sort-title"> {{title.name}}</span>

                                        <app-sub-module-table-sort *ngIf="title.sortKey" [sortStatus]="title.sortStatus"
                                            (sortTable)="tableService.sortTable(diskData.srcData.data, diskData.title, title.sortKey, $event)">
                                        </app-sub-module-table-sort>

                                        <img src="./assets/img/summary/tooltip.svg" class="tooltip"
                                            [tiTip]='title.tip' tiTipMaxWidth='400px' tiTipPosition="right">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-fixed-body">
                    <tbody *ngFor="let item of diskData.data; let index1 = index" [ngClass]="{active: item.active}">
                        <tr>
                            <td tiOverflow tiTipPosition='left'><img class='expand-icon'
                                    src="./assets/img/summary/row.svg" *ngIf="item.children.length>0"
                                    [ngClass]="{active: item.active}" (click)='item.active = !item.active'>
                            </td>
                            <td tiOverflow tiTipPosition='left'>{{item.title}}</td>
                            <td tiOverflow tiTipPosition='left'>{{item['kB_rd/s'] | numFormat:2 | thousandSeparator}}
                            </td>
                            <td tiOverflow tiTipPosition='left'>{{item['kB_wr/s'] | numFormat:2 | thousandSeparator}}
                            </td>
                            <td tiOverflow tiTipPosition='left'>{{item.iodelay | numFormat:2 | thousandSeparator}}</td>
                            <td tiOverflow tiTipPosition='left'>{{item.Command}}</td>
                        </tr>
                        <ng-container *ngIf="item.active">
                            <tr *ngFor="let tidTr of item.children" class="tidTr">
                                <td tiOverflow tiTipPosition='left'></td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr.title}}</td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr['kB_rd/s'] | numFormat:2 |
                                    thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr['kB_wr/s'] | numFormat:2 |
                                    thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr.iodelay | numFormat:2 | thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr.Command}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </div>
                <ti-pagination [(currentPage)]="diskData.currentPage" [pageSize]="diskData.pageSize"
                    [(totalNumber)]="diskData.totalNumber" (pageUpdate)="updateCpuPage($event, diskData)"
                    class="margin">
                </ti-pagination>
            </ti-table>
            <app-default-page *ngIf="!diskData.srcData.data.length" [scene]="'noData'"></app-default-page>
        </div>
    </div>

    <div class="cpu-box box " *ngIf="contextData?.srcData?.data?.length">
        <div class="box-title" (click)='expand[3] = !expand[3]'>
            <img class='expand-icon' src="./assets/img/summary/row.svg" [ngClass]="{active: expand[3]}">
            <span>{{i18n.process.context}}</span>
        </div>
        <div class="cpu-table summury-table" [ngClass]="{active: expand[3]}" *ngIf="expand[3]">
            <ti-table [(displayedData)]="contextData.displayed" [srcData]="contextData.srcData"
                [columns]="contextData.title" *ngIf="contextData.srcData.data.length">
                <div class="ti3-table-fixed-head">
                    <thead>
                        <tr>
                            <th></th>
                            <th tiOverflow tiTipPosition='left' *ngFor="let title of contextData.title">
                                <div class="content">
                                    <span class="sort-title"> {{title.name}}</span>

                                    <app-sub-module-table-sort *ngIf="title.sortKey"
                                        [sortStatus]="title.sortStatus || ''"
                                        (sortTable)="tableService.sortTable(contextData.srcData.data, contextData.title, title.sortKey, $event)">
                                    </app-sub-module-table-sort>

                                    <img src="./assets/img/summary/tooltip.svg" class="tooltip"
                                        [tiTip]='title.tip' tiTipMaxWidth='400px' tiTipPosition="right">
                                </div>
                            </th>
                        </tr>
                    </thead>
                </div>
                <div class="ti3-table-fixed-body">
                    <tbody *ngFor="let item of contextData.data; let index1 = index" [ngClass]="{active: item.active}">
                        <tr>
                            <td tiOverflow tiTipPosition='left'><img class='expand-icon'
                                    src="./assets/img/summary/row.svg" *ngIf="item.children.length>0"
                                    [ngClass]="{active: item.active}" (click)='item.active = !item.active'>
                            </td>
                            <td tiOverflow tiTipPosition='left'>{{item.title}}</td>
                            <td tiOverflow tiTipPosition='left'>{{item['cswch/s'] | numFormat:2 | thousandSeparator}}
                            </td>
                            <td tiOverflow tiTipPosition='left'>{{item['nvcswch/s'] | numFormat:2 | thousandSeparator}}
                            </td>
                            <td tiOverflow tiTipPosition='left'>{{item.Command}}</td>
                        </tr>
                        <ng-container *ngIf="item.active">
                            <tr *ngFor="let tidTr of item.children" class="tidTr">
                                <td tiOverflow tiTipPosition='left'></td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr.title}}</td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr['cswch/s'] | numFormat:2 |
                                    thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr['nvcswch/s'] | numFormat:2 |
                                    thousandSeparator}}
                                </td>
                                <td tiOverflow tiTipPosition='left'>{{tidTr.Command}}</td>

                            </tr>
                        </ng-container>
                    </tbody>
                </div>
                <ti-pagination [(currentPage)]="contextData.currentPage" [pageSize]="contextData.pageSize"
                    [(totalNumber)]="contextData.totalNumber" (pageUpdate)="updateCpuPage($event, contextData)"
                    class="margin">
                </ti-pagination>
            </ti-table>
            <app-default-page *ngIf="!contextData.srcData.data.length" [scene]="'noData'"></app-default-page>
        </div>
    </div>

    <div class="cpu-box box" *ngIf="syscallData?.srcData?.data?.length">
        <div class="box-title" (click)='expand[4] = !expand[4]'>
            <img class='expand-icon' src="./assets/img/summary/row.svg" [ngClass]="{active: expand[4]}">
            <span>{{i18n.process.sum.syscall.syscall_title}}</span>
        </div>
        <div class="cpu-table summury-table" [ngClass]="{active: expand[4]}" *ngIf="expand[4]">
            <ti-table [(displayedData)]="syscallData.displayed" [srcData]="syscallData.srcData"
                [columns]="syscallData.title" *ngIf="syscallData.srcData.data.length">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th tiOverflow tiTipPosition='left' *ngFor="let title of syscallData.title">
                                    <div class="content">
                                        <span class="sort-title"> {{title.name}}</span>

                                        <app-sub-module-table-sort *ngIf="title.sortKey"
                                            [sortStatus]="title.sortStatus || ''"
                                            (sortTable)="tableService.sortTable(syscallData.srcData.data, syscallData.title, title.sortKey, $event)">
                                        </app-sub-module-table-sort>

                                        <img src="./assets/img/summary/tooltip.svg" class="tooltip"
                                            [tiTip]='title.tip' tiTipMaxWidth='400px' tiTipPosition="right">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-fixed-body">
                    <tbody *ngFor="let item of syscallData.data; let index1 = index" [ngClass]="{active: item.active}">
                        <tr>
                            <td tiOverflow tiTipPosition='left'></td>
                            <td tiOverflow tiTipPosition='left' *ngFor="let column of syscallData.title">
                                {{ item[column.prop] === null ? 'NULL' : item[column.prop] }}
                            </td>
                        </tr>
                    </tbody>
                </div>
                <ti-pagination [(currentPage)]="syscallData.currentPage" [pageSize]="syscallData.pageSize"
                    [(totalNumber)]="syscallData.totalNumber" (pageUpdate)="updateCpuPage($event, syscallData)"
                    class="margin">
                </ti-pagination>
            </ti-table>
            <app-default-page *ngIf="!syscallData.srcData.data.length" [scene]="'noData'"></app-default-page>
        </div>
    </div>

    <app-loading *ngIf="showLoading" [height]="'80vh'" [size]="'max'"></app-loading>
    <app-default-page *ngIf="hasData()" [height]="'80vh'" [scene]="'noData'"></app-default-page>

    <ng-template #tipContent let-context='context'>
        <span>{{i18n.sys.baseValue}}:</span>
        <span style="margin-left: 4px">{{context.ref}}</span>
        <div>
            <span *ngIf="language=='zh'" [innerHTML]="context.suggestion_ch"></span>
            <span *ngIf="language=='en'" [innerHTML]="context.suggestion_en"></span>
        </div>
    </ng-template>
</div>