<div id="detail-container" class="custemDetailContainer">
  <ti-tabs class="custemTabs tabsWithSplitLine tabsWithUnderline">
    <ti-tab [(active)]="item.active" *ngFor="let item of detailList; let index = index" [disabled]="item.disable"
      (activeChange)='change()'>
      <ti-tab-header>
        <span>{{item.title}}</span>
      </ti-tab-header>

      <!--懒加载的内容区必须使用ng-template标签包裹，并且加上#tiTabContent的标识-->
      <ng-template #tiTabContent>
      <div class="content-container" *ngIf="item.title === i18n.common_term_task_tab_congration && item.disable==false">
        <app-configuration (returnConfigInfo)="getConfigInfo($event)" [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [status]='status'
          [analysisType]='analysisType' [taskid]='taskId'></app-configuration>
      </div>
        <div class="content-container" *ngIf="item.title === i18n.linkage.perfData && item.disable==false">
          <app-perf-data [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [taskid]='taskId'>
          </app-perf-data>
        </div>
        <div class="content-container" *ngIf="item.title === i18n.linkage.configData && item.disable==false">
          <app-config-data [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [taskid]='taskId'>
          </app-config-data>
        </div>
        <div class="content-container" *ngIf="item.title === i18n.linkage.typeData && item.disable==false">
          <app-typical-data [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [taskid]='taskId'>
          </app-typical-data>
        </div>
        <div class="content-container" *ngIf="item.title === i18n.linkage.onCPUdiff && item.disable==false">
          <app-differential [nodeid]='nodeid' [Active]='item.active' [projectName]='projectName' [taskName]='taskName' [taskid]='taskId' [flame]="'onCPU'">
          </app-differential>
        </div>
        <div class="content-container" *ngIf="item.title === i18n.linkage.offCPUdiff && item.disable==false">
          <app-differential [nodeid]='nodeid' [Active]='item.active' [projectName]='projectName' [taskName]='taskName' [taskid]='taskId' [flame]="'offCPU'">
          </app-differential>
        </div>
      </ng-template>
    </ti-tab>
  </ti-tabs>
</div>
