.summury-container {
  overflow-y: auto;
  transform: translateX(0px);
  height: 100%;
}
.expand-icon {
  transition: 0.5s linear;
  position: relative;
  left: 22px;
  top: 1px;
}
.expand-icon.active {
  transform: rotate(90deg);
}

.box {
  position: relative;
  .box-title {
    height: 5.6vh;
    line-height: 5.6vh;
    font-family: "huawei sans";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #282b33;
    box-shadow: inset 0px -1px 0px 0px #e6ebf5;
    span {
      padding-left: 33px;
    }
  }

  .summury-table {
    position: relative;
    max-height: 0;
    border-left: 40px solid #f0f3fa;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      content: "";
      width: 2px;
      background-color: #6c92fa;
      z-index: 999;
    }
    tr th,
    tr td {
      height: 32px;
      font-family: "huawei sans";
      font-size: 14px;
      color: #282b33;
      line-height: 32px;
      text-align: left;
      font-weight: normal;
      font-stretch: normal;
      &:first-child {
        width: 5vw;
      }
    }
    tr.tidTr td {
      &:nth-child(2) {
        padding-left: 24px;
      }
    }
    thead tr,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      box-shadow: inset 0px -1px 0px 0px #e6ebf5;
    }
    thead {
      tr {
        background-color: #f0f3fa;
      }
      th {
        font-size: 12px;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          height: 16px;
          width: 0;
          padding-left: 2px;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #d4d9e6;
        }

        .content {
          display: flex;
          align-items: center;

          .sort-title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: calc(100% - 23px);
          }

          &.center {
            justify-content: center;
          }
        }
      }
    }

    tbody tr:hover {
      background: #f7faff;
    }
  }

  tbody {
    position: relative;
    display: block;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 0;
      height: calc(100% - 32px);
      width: 40px;
      background-color: #f0f3fa;
      border-right: 2px solid #6c92fa;
    }
  }

  .summury-table.active,
  tbody.active {
    max-height: 5000px;
    overflow: auto;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  }
}
img.redtop {
  padding-left: 8px;
}
img.tooltip {
  padding-left: 7px;
}
.loadData {
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.box ::ng-deep .cpu-table.summury-table.active,
.box ::ng-deeptbody .active {
  max-height: 13000px;
  overflow: auto;
}

ti-pagination.ti3-page-container {
  margin-left: 22px;
}

.ti3-table > .ti3-resize-wrapper > table > thead > tr > th:first-child:after,
.ti3-table > .ti3-table-container > table > thead > tr > th:first-child:after,
.ti3-table > .ti3-table-fixed-head > table > thead > tr > th:first-child:after,
.ti3-table > table > thead > tr > th:first-child:after {
  width: 0px;
}
