<div class="net-port-display" *ngIf="netDisplayData">
  <div class="title">{{ 'net_io.details' | i18n:title }}</div>

  <ul class="detail-list-container">
    <li *ngFor="let detail of detailList;index as index" class="detail-list">
      <div class="detail-title" (click)="showDetail(detail)">
        <ti-icon name="right-1" [ngClass]="{'active': detail.isActive}"></ti-icon>
        <span>{{ detail.title }}</span>
      </div>

      <div class="detail-container" *ngIf="detail.isActive" [ngClass]="{'pd-0': index === 2}">
        <!-- 网络配置信息 -->
        <div class="network-config detail-content" [hidden]="index">
          <app-port-network-config
            [portInfoData]="portInfoData"
            [bondInfoData]="bondInfoData"
            [routeData]="netDisplayData.route_info"
            [arpData]="netDisplayData.arp_info"
          ></app-port-network-config>
        </div>

        <!-- 中断及 XRS/RPS 信息 -->
        <div class="interrupt-XPS-RPS detail-content" [hidden]="index !== 1">
          <app-port-xps-rps
            [bindName]="bindName"
            [allIrqData]="netDisplayData.irq_affinity_info"
            [singleIrqData]="singleIrqData"
            [allIrqCPUData]="netDisplayData.cpu_irq_info"
            [singleIrqCPUData]="singleIrqCPUData"
            [softwareInterData]="netDisplayData.softirq_info"
            [ipiInfo]="ipiInfo"
            [ksoftirqdList]="netDisplayData.ksoftirqd_list"
          ></app-port-xps-rps>
        </div>

        <!-- 占用网络IO进程 -->
        <div class="consume-network-IO table-style" [hidden]="index !== 2">
          <app-port-consume-io [consumeIOData]="consumeIOData" [pidInfo]="netDisplayData.pid_info"></app-port-consume-io>
        </div>
      </div>
    </li>
  </ul>
</div>