.net-port-display {
  padding: 32px 0;

  .title {
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }

  .detail-list-container {
    .detail-list {
      .detail-title {
        box-sizing: border-box;
        height: 48px;
        padding: 16px 20px;
        border-bottom: 1px solid var(--common-color-divider);
        cursor: pointer;
        .ti3-icon {
          margin-right: 16px;
          display: inline-block;
          color: var(--ti-sort-icon-color);
          font-size: 13px;
        }

        .active {
          transform: rotate(90deg);
        }

        span {
          font-size: 14px;
        }
      }

      .detail-container {
        position: relative;
        padding: 20px 0 20px;
        border-bottom: 1px solid var(--common-color-divider);
        &::before {
          box-sizing: border-box;
          position: absolute;
          top: 0;
          bottom: 0;
          content: '';
          width: 40px;
          border-right: 2px solid #0067FF;
          background-color: var(--ti-table-expand-children-margin-background-color);
        }
        .detail-content {
          margin-left: 60px;
        }
        .consume-network-IO {
          margin-left: 41px;
        }
        .table-style {
          padding: 0;
          border-bottom: none;
        }
      }

      .pd-0 {
        padding: 0 0 20px 0 !important;
      }

      &:first-child {
        border-top: 1px solid var(--common-color-divider);
      }
    }
  }
}

:host .net-port-display ::ng-deep .detail-content {
  .info-container {
    .title {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 20px;
      height: 20px;
    }
  }
  .info-container + .info-container {
    margin-top: 32px;
  }

  .ti3-table-container {
    max-height: 320px;
  }

  .ti3-table > .ti3-table-container > table > tbody > tr > td {
    line-height: 11px;
  }
}

::ng-deep .vscode-dark,
::ng-deep .vscode-light {
  .net-port-display {
    padding: 32px 2%;
  }
}