.hot {
  height: 100%;
  padding-top: 1px;
}
.hot-analysis {
  height: 100%;
  display: flex;
  min-width: 900px;
  min-height: calc(100vh - 185px);
  .hot-left {
    padding-top: 18px;
    width: 100%;
    min-width: 600px;
  }
  .hot-head {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .left-btn {
      width: 150px;
      height: 32px;
      border-radius: 2px;
      flex-shrink: 0;

      &.primary-en {
        width: 190px;
      }
      &:active{
        background: #0057d9!important;
      }
      &:focus{
        background: #0067ff!important;
      }
    }
    .help-top {
      width: 12px;
      height: 12px;
      margin-left: 10px;
      flex-shrink: 0;
    }
    .hot-tip {
      margin-left: 24px;
    }
  }
  .hot-content {
    height: calc(100% - 85px);
    .flamegraph {
      height: calc(100% - 40px);
      position: relative;
      overflow: auto;
    }
    .infor-collection {
      width: 100%;
      min-height: 24px;
      margin-bottom: 20px;
    }
    .showSvg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 16px);
      .noDataText {
        text-align: center;
        font-size: 14px;
        color: var(--infor-key-font-color);
      }
      .browser-img {
        width: 240px;
      }
      .begin-sample {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    .flamegraph-head {
      display: flex;
      justify-content: space-between;
      .legend {
        margin-right: 20px;
      }
    }
    .hotChart {
      width: 100%;
      height: calc(100% - 85px);
      margin-top: 16px;
      #hotChart {
        min-width: 900px;
      }
    }
    .no-data {
      height: calc(100% - 36px);
    }
  }
  .chartOper {
    position: relative;
  }
}
.no-data {
  font-size: 14px;
  color: var(--infor-key-font-color);
}
.modal-content {
  padding: 0 0 6px 16px;
}
.formlabel{
  margin-bottom: 20px;
}
.record-input{
  display: flex;
}
:host ::ng-deep .formList .ti3-form .ti3-form-label {
  min-width: 126px !important;
  height: 20px !important;
  line-height: 20px !important;
  padding: 5px 32px 0px 0 !important;
  font-size: 14px !important;
  color: var(--infor-key-font-color) !important;
}
:host ::ng-deep .formList-en .ti3-form .ti3-form-label {
  min-width: 208px !important;
  padding: 5px 54px 0px 0 !important;
}
:host ::ng-deep .hy-nodata-text{
  max-width: 260px;
  margin: auto;
  word-break: break-all !important;
  word-wrap: break-word !important;
  white-space: normal !important;
}
.maxStackDepth {
  display: flex;
  .help {
    position: relative;
    z-index: 1;
    height: 14px;
    width: 14px;
  }
  .maxStack {
    margin-left: -14px;
  }
}
.helpImg {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 8px;
}
.helpImg:hover {
  cursor: pointer;
}
.hotFormBox {
  height: 418px;
  overflow: auto;
  .hot-textarea {
    width: 288px;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
  }
  .spinner-right {
    width: 80px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    color: var(--spinner-right-text);
    display: inline-block;
    padding-left: 8px;
  }
  .hot-select {
    width: 300px;
  }
  .error-tip {
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-size: 12px;
    color: var(--shared-st-error-border-color);
    width: 300px;
    position: relative;
    .error-img {
      position: absolute;
      top: 1px;
    }
    .error-text {
      display: inline-block;
      margin-left: 20px;
    }
  }
}
.switchTip {
  margin-top: 8px;
  color: #979797;
}
.rebuild-hot {
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
  }
  .infor-tip {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-left: 10px;
  }
}
.zoom-screen {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.createLoading {
  width: 320px;
}
.duration-tip {
  width: 500px;
  color: var(--sample-tip);
  font-size: 12px;
  border: 1px solid var(--shared-st-border-color);
  padding: 7px 14px;
  background-color: var(--shared-st-bg-color);
  display: flex;
  align-items: self-end;
  margin-left: -8px;
  margin-bottom: 24px;
  font-size: 12px;

  &.sampling-tip {
    width: 468px;
  }
  &.duration-tip-ie {
    max-width: 450px;
  }
  &.duration-tip-en {
    width: 564px;
  }

  .duration-tip-img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -14px;
  }

  .disabled-tip-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 8px;
    display: block;
    float: left;
    background: var(--disabled-tip-icon);
  }
}
.hotAssembly {
  .Hotspot-compile {
    height: 100%;
    padding: 18px 0 0 20px;
    .bytecode-dome {
      height: 100%;
      .bytecode-header {
        display: flex;
        align-items: center;
        span {
          display: inline-block;
        }
        .bytecode-name {
          height: 30px;
          min-width: 100px;
          font-size: 20px;
          font-weight: normal;
          line-height: 30px;
          letter-spacing: 0px;
          color: var(--ti-default-font-color);
        }
        .method-name {
          margin-left: 24px;
          height: 18px;
          font-size: 12px;
          font-weight: normal;
          line-height: 18px;
          letter-spacing: 0px;
          color: var(--spinner-right-text);
        }
      }
      .bytecode-table {
        border-top: 1px solid var(--table-border-bottom-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
        height: 260px;
        .bytecode-dom {
          height: 100%;
          overflow: auto;
          width: 100%;
          .bytecodeLi {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: var(--shared-tl-font-color);
            white-space: nowrap;
            span {
              display: inline-block;
            }
            .itemL {
              width: 20px;
              text-align: right;
            }
            .itemL_l{
              width: 6px;
              margin: 0px 4px;
            }
            .itemM {
              width: 110px;

            }
            .itemO {
              width: 50px;
            }
          }
          .bytecodeLi:hover {
            background-color: var(--highlight-bg-color);
          }
        }
        .bytecode-dom-nodata {
          height: 240px;
          display: flex;
        }
      }
    }
    .compile-dom {
      margin-top: 20px;
      height: 58%;
      .compile-header {
        display: contents;
        .compile-header-h{
          display: flex;
        }
        span {
          display: inline-block;
        }
        .compile-name {
          max-width: 180px;
          height: 30px;
          font-size: 20px;
          font-weight: normal;
          line-height: 30px;
          letter-spacing: 0px;
          color: var(--ti-default-font-color);
        }
        .method-name {
          margin-left: 24px;
          width: 200px;
          height: 30px;
          font-size: 12px;
          font-weight: normal;
          line-height: 30px;
          letter-spacing: 0px;
          color: var(--spinner-right-text);
        }
        .full-select {
          width: 140px;
          margin-left: 24px;
        }
        .JVMselect{
          margin-left: 24px;
        }
      }
      .compile-table {
        margin-top: 18px;
        height: calc(100% - 72px);
        .compileNoHover {
          ::ng-deep
            tr:not(.ti3-details-tr):not(.ti3-disabled-tr):not(.ti3-table-nodata):not(.ti3-table-nodata-simple)
            :not(.ti3-table-loadfail):not(.ti3-table-nodata-guide):not(.ti3-selected-tr):hover,
          tr:not(.ti3-details-tr):not(.ti3-disabled-tr):not(.ti3-table-nodata):not(.ti3-table-nodata-simple)
            :not(.ti3-table-loadfail):not(.ti3-table-nodata-guide):not(.ti3-selected-tr):hover {
            background-color: var(--infor-detail-button-bg-color) !important;
          }
        }
      }
      .compile-ti-table {
        height: 100%;
        .ti3-resize-wrapper {
          height: calc(100% - 24px);
        }
      }
      .hy-nodata-text {
        font-size: 14px;
      }
    }
  }
}
.toggle {
  height: 1px;
  width: 100%;
  background: var(--table-border-bottom-color);
  display: flex;
  justify-content: center;
}
:host ::ng-deep .record-input .ti3-radio {
  margin-right: 20px;
}
:host .modal-content ::ng-deep .ti_input_ip_anchor {
  height: 24px !important;
}
:host ::ng-deep .record-input .ti3-radio {
  margin-top: 7px !important;
}
input[type="radio"][tiRadio] + .ti3-radio .ti3-radio-label {
  font-size: 14px !important;
  color: var(--infor-value-font-color) !important;
}
input[type="radio"][tiRadio]:not(:disabled):checked + .ti3-radio .ti3-radio-skin:focus,
input[type="radio"][tiRadio]:not(:disabled):checked + .ti3-radio .ti3-radio-skin:hover {
  background-color: var(--infor-url-font-color) !important;
  border-color: var(--infor-url-font-color) !important;
}
:host ::ng-deep input[type="radio"][tiRadio]:not(:disabled):checked + .ti3-radio .ti3-radio-skin::after {
  background-color: var(--infor-url-font-color) !important;
}
:host ::ng-deep .ti3-switch.ti3-switch-on .ti3-switch-pointer {
  border: 1px solid;
  width: 20px !important;
  height: 20px !important;
}
:host ::ng-deep .ti3-switch.ti3-switch-off .ti3-switch-pointer {
  width: 20px !important;
  height: 20px !important;
}
:host ::ng-deep .ti3-switch.ti3-switch-off .ti3-switch-track {
  height: 20px !important;
}
:host ::ng-deep .ti3-switch.ti3-switch-on .ti3-switch-track {
  height: 20px !important;
}
:host ::ng-deep .ti3-switch.ti3-switch-off .ti3-switch-track {
  background-color: var(--hot-analysis-switch) !important;
}

.ti3-table > table > tbody > tr > .white-space-none {
  white-space: none !important;
}
.overflow-cls {
  line-height: 24px;
}
:host ::ng-deep .d3-flame-graph foreignObject:hover {
  stroke: #474747;
  stroke-width: 0.5;
  cursor: pointer;
  border: 1px solid #474747 !important;
}
:host ::ng-deep input[type="radio"][tiRadio] + .ti3-radio .ti3-radio-label {
  color: var(--infor-value-font-color);
}
:host ::ng-deep .ti3-form[_ngcontent-dum-c93] .ti3-form-label[_ngcontent-dum-c93] {
  color: var(--infor-key-font-color);
}
:host ::ng-deep .ti3-icon-staricon::before {
  margin-left: 0px !important;
}
:host ::ng-deep ti-spinner .ti3-spinner-downicon::after {
  width: 0px !important;
}
:host ::ng-deep ti-spinner .ti3-spinner-upicon::after {
  width: 0px !important;
}
:host ::ng-deep ti-spinner .ti3-spinner-downicon:hover {
  background: none !important;
}
:host ::ng-deep ti-spinner .ti3-spinner-upicon:hover {
  background: none !important;
}
.ti3-table > .ti3-resize-wrapper > table > tbody > tr > td,
.ti3-table > .ti3-table-container > table > tbody > tr > td,
.ti3-table > .ti3-table-fixed-head > table > tbody > tr > td,
.ti3-table > table > tbody > tr > td {
  padding: 3px 3px 3px 10px !important;
}
:host ::ng-deep .d3-flame-graph rect {
  stroke: none;
}
:host ::ng-deep .d3-flame-graph rect:hover {
  stroke: #474747;
  stroke-width: 0.5;
  cursor: pointer;
  border: 1px solid #474747;
}
:host ::ng-deep .d3-flame-graph foreignObject {
  border: 1px solid #fff !important;
}
.vscode-dark :host ::ng-deep .d3-flame-graph foreignObject{
  border: 1px solid #1e1e1e !important;
  &:hover{
    stroke: #fff;
      stroke-width: 0.5;
      cursor: pointer;
      border: 1px solid #fff !important;
  }
}
.ti3-table > .ti3-resize-wrapper > table > tbody > .setBg,
.setBg {
  background-color: var(--shared-st-bg-color)!important;
}
a {
  color: var(--ti-table-td-text-color);
}
.ti3-table > .ti3-resize-wrapper > table > tbody > tr > .showZoomTd,
.ti3-table > .ti3-table-container > table > tbody > tr > .showZoomTd,
.ti3-table > .ti3-table-fixed-head > table > tbody > tr > .showZoomTd,
.ti3-table > table > tbody > tr > .showZoomTd {
  white-space: normal !important;
}
.compilation-m{
  width: 50px;
  display: inline-block;
}
.compilation-o{
  display: inline-block;
}
:host ::ng-deep #assembleTip .infor-dom{
  margin-top: 20px;
}
:host ::ng-deep #assembleTip .infor-dom .infor-close {
  display: none !important;
}
