<ti-formfield [labelWidth]="labelWidth" id="select-modal" [formGroup]="formGroup" class="taskForm"
    *ngIf="analysisMode === 'app'">
    <!-- 待采样CPU核 -->
    <ti-item *ngIf="analysisType === 'falsesharing'" [label]="allFormElements.cpuToBeSamples.label" [required]="false"
        [verticalAlign]="allFormElements.cpuToBeSamples.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.cpuToBeSamples.label }}</span>
            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_mask_tip" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <input tiText type="text" formControlName="cpuToBeSamples" />
        </div>
    </ti-item>
    <!-- 符号文件路径 -->
    <ti-item *ngIf="analysisType === 'falsesharing'" [label]="allFormElements.symbolFilePath.label" [required]="false"
        [verticalAlign]="allFormElements.symbolFilePath.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.symbolFilePath.label }}</span>
            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_bs_tip" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <input type="text" formControlName="symbolFilePath" />
        </div>
    </ti-item>
    <!-- C/C++源文件路径 -->
    <ti-item [label]="allFormElements.c_source.label" [required]="false"
        [verticalAlign]="allFormElements.c_source.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.c_source.label }}</span>
            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <input type="text" formControlName="c_source" />
        </div>
    </ti-item>
    <!-- 采集文件大小 -->
    <ti-item *ngIf="analysisType === 'falsesharing'" [label]="allFormElements.filesize.label" [required]="false"
        [verticalAlign]="allFormElements.filesize.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.filesize.label }}</span>
            <ti-icon [tiTip]="i18n.falsesharing.filesizeTips" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <ti-spinner name='spinner' formControlName="filesize" [correctable]="allFormElements.filesize.correctable"
                [step]='allFormElements.filesize.step' [format]="allFormElements.filesize.format"
                [placeholder]="allFormElements.filesize.placeholder" tiValidation></ti-spinner>
            <span>{{ allFormElements.filesize.tailPrompt }}</span>
        </div>
    </ti-item>
</ti-formfield>
<ti-formfield [labelWidth]="labelWidth" id="select-modal" [formGroup]="formGroup" class="taskForm"
    *ngIf="analysisMode === 'sys'">
    <!-- 待采样CPU核 -->
    <ti-item [label]="allFormElements.cpuToBeSamples.label" [required]="false"
        [verticalAlign]="allFormElements.cpuToBeSamples.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.cpuToBeSamples.label }}</span>
            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_mask_tip" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <input type="text" formControlName="cpuToBeSamples" />
        </div>
    </ti-item>
    <!-- 符号文件路径 -->
    <ti-item *ngIf="analysisType === 'falsesharing'" [label]="allFormElements.symbolFilePath.label" [required]="false"
        [verticalAlign]="allFormElements.symbolFilePath.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.symbolFilePath.label }}</span>
            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_bs_tip" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <input type="text" formControlName="symbolFilePath" />
        </div>
    </ti-item>
    <!-- C/C++源文件路径 -->
    <ti-item [label]="allFormElements.c_source.label" [required]="false"
        [verticalAlign]="allFormElements.c_source.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.c_source.label }}</span>
            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <input type="text" formControlName="c_source" />
        </div>
    </ti-item>
    <!-- 采集文件大小 -->
    <ti-item *ngIf="analysisType === 'falsesharing'" [label]="allFormElements.filesize.label" [required]="false"
        [verticalAlign]="allFormElements.filesize.verticalAlign">
        <ti-item-label>
            <span>{{ allFormElements.filesize.label }}</span>
            <ti-icon [tiTip]="i18n.falsesharing.filesizeTips" class="margin" tiTipMaxWidth='370px'
                tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg'>
            </ti-icon>
        </ti-item-label>
        <div class="analysis-target-value">
            <ti-spinner name='spinner' formControlName="filesize" [correctable]="allFormElements.filesize.correctable"
                [step]='allFormElements.filesize.step' [format]="allFormElements.filesize.format"
                [placeholder]="allFormElements.filesize.placeholder" tiValidation></ti-spinner>
            <span>{{ allFormElements.filesize.tailPrompt }}</span>
        </div>
    </ti-item>
</ti-formfield>