<ng-container>
    <div class="section-title">{{i18n.storageIO.trace_title}}</div>
    <div class="section-content">
        <ti-table [(displayedData)]="displayedData" [srcData]="srcData" [columns]="colTableColumns">
            <div class="ti3-table-container" hyNodata [nodataShow]="srcData.data.length === 0">
                <table>
                    <thead>
                        <tr>
                            <!--使用展开详情图标时，需要给展开详情图标列加 details-icon-column 属性-->
                            <th details-icon-column [attr.rowspan]="2"></th>
                            <ng-container *ngFor="let item of colTableColumns[0];index as i">
                                <th tiOverflow 
                                [attr.rowspan]="item.rowspan"
                                [attr.colspan]="item.colspan"
                                width="{{item.width || (thWidth * item.colspan + '%')}}"
                                [ngClass]="{setBorder: item.colspan > 1, center: i > 0}">
                                    <ti-cell-text>
                                        <span>{{item.title}}</span>
                                        <ti-icon [tiTip]='item.annotation' tiTipMaxWidth='370px' tiTipPosition="top" *ngIf="item.annotation">
                                            <img src='./assets/img/summary/tooltip.png' class="tooltip">
                                        </ti-icon>
                                    </ti-cell-text>
                                    <ti-head-filter *ngIf="i === 0" [options]="item.options"
                                                [(ngModel)]="item.selected"
                                                (select)="onSelect()"
                                                [ngClass]="{'ti3-head-filtered': item.selected && item.selected.length}"
                                                [multiple]="item.multiple"
                                                [selectAll]="item.selectAll"></ti-head-filter>
                                </th>
                            </ng-container>
                            <th [attr.rowspan]="2" width="30" class="last-rowspan-th">
                                <div class="headerFilter" >
                                    <img src="./assets/img/micarch/tableHeader.svg" (click)="traceHeadShow = !traceHeadShow">
                                    <div class="statusFilter" [ngClass]="{'active': traceHeadShow}" appClickOutside (clickOutside)="closeFilter()">
                                        <div class="filter">
                                            <ti-tree
                                                id="tree"
                                                [data]="innerData"
                                                [multiple]="true"
                                                (select)="selectFn()">
                                            </ti-tree>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let item of colTableColumns[1]">
                                <th not-resizable tiOverflow>
                                    <ti-cell-text>
                                        <span>{{item.title}}</span>
                                        <ti-icon [tiTip]='item.annotation' tiTipMaxWidth='370px' tiTipPosition="top" *ngIf="item.annotation">
                                            <img src='./assets/img/summary/tooltip.png'  class="tooltip">
                                        </ti-icon>
                                    </ti-cell-text>
                                    <ti-head-sort [sortKey]="item.sortKey"></ti-head-sort>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                        <ng-container *ngFor="let row of displayedData;index as i">
                            <tr>
                                <td details-icon-column>
                                    <ti-details-icon [row]="row" [index]="i"></ti-details-icon>
                                </td>
                                <td tiOverflow>{{row.name}}</td>
                                <ng-container *ngFor="let item of innerData; index as i">
                                    <ng-container *ngIf="item.children">
                                        <ng-container *ngFor="let child of item.children">
                                            <td tiOverflow *ngIf="child.checked">{{row[item.name + '.' + child.name]}}</td>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="!item.children && i > 0">
                                        <td tiOverflow *ngIf="item.checked">{{row[item.name]}}</td>
                                    </ng-container>
                                </ng-container>
                                <!-- 筛选表头下的空td -->
                                <td></td>
                            </tr>
                            <tr *tiDetailsTr="row">
                                <!--详情内容行tiDetailsTr，传入行数据-->
                                <td [attr.colspan]="colTableColumns[1].length+3">
                                    <!-- Tiny3.1.3版本新增，theme-ui3主题下不用加此div和类名。 -->
                                    <div class="ti3-table-detail-container" [ngClass]="{'adapter': platform === 'vscode'}">
                                        <app-trace-detail
                                        [platform]="platform"
                                        [staticData]="blockData.result[row.name].latency_statistic"
                                        [header]="traceTableColumns"
                                        [descData]="blockData.header.latency_statistic"></app-trace-detail>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" [(totalNumber)]="totalNumber">
            </ti-pagination>
        </ti-table>
    </div>
    
</ng-container>
