.node-config{
  width: calc(100% - 16px);
  margin-top: 10px;
  font-size: 14px;
  .config-button{
    width: 96px;
    height: 32px;
    margin: 20px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c92fa;
    color: #ffffff;
  }
  .table{
    .config-btn{
      color: #6c92fa;
      cursor: pointer;
    }
  }
}
.status-icon {
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  border: 4px solid #63B6F7;
}
.success-icon {
  border: 4px solid #61D274;
}
.reserve-icon {
  border: 4px solid #0067ff;
}
.flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.config-title{
  width: 220px;
  padding-left: 16px;
  margin: 20px 0px;
  color: #6c7280;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.table-input{
  width: 100%;
  height: 32px;
  padding-left: 8px;
  font-size: 14px;
	background-color: #ffffff;
	border-radius: 1px;
  border: solid 1px #b8becc;
  box-sizing: border-box;
}
:host ::ng-deep .ti3-table > table > tbody > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
    background: #161616 !important;
}