<div class="about-more-container">
    <div>
        <p>{{i18n.about_more.about_more_step1}}</p>
        <ul class="os-list">
            <li *ngFor="let os of currentSupportOS">{{os}}</li>
        </ul>
    </div>

    <div class="about-step2">
        <span>{{i18n.about_more.about_more_step2}}</span>
        <a target="_blank" (click)="openUrl(pluginUrlCfg.portingPackages)">{{i18n.plugins_porting_tips_whiteListManagement_uploadZip_link}}</a>{{i18n.period}}
    </div>
    
    <div *ngIf="i18nService.currLang === i18nService.langType.zh_cn" class="about-step3">
        <span>3、获取后，</span>
        <span *ngIf="!isAdmin">请使用管理员用户登录，</span>
        <span>在工具右边单击“</span>
        <span class="icon-setting" *ngIf="!intelliJFlagDef">···</span>
        <span *ngIf="intelliJFlagDef">
            <img *ngIf="currTheme === 1" src="./assets/img/icon-setting-dark.svg" style="vertical-align:middle">
            <img *ngIf="currTheme === 2" src="./assets/img/icon-setting-light.svg" style="vertical-align:middle">>设置</span>
            >依赖字典”升级依赖字典。
        <p>
            <span>（具体操作步骤请参考</span>
            <a (click)="openUrl(pluginUrlCfg.faqTwentyOneZn)" target="_blank">FAQ</a>
            。）
        </p>
    </div>

    <div
        *ngIf="!(i18nService.currLang === i18nService.langType.zh_cn)"
        class="about-step3"
    >
        <span *ngIf="isAdmin">3. Click "</span>
        <span *ngIf="!isAdmin">3. Log in as an administrator and click "</span>
        <span class="icon-setting" *ngIf="!intelliJFlagDef">···</span>
        <span *ngIf="intelliJFlagDef">
            <img *ngIf="currTheme === 1" src="./assets/img/icon-setting-dark.svg" style="vertical-align:middle">
            <img *ngIf="currTheme === 2" src="./assets/img/icon-setting-light.svg" style="vertical-align:middle">>Show Settings</span>
        <span
            >>Dependency Dictionary" on the right of the tool to upgrade the
            dependency dictionary.</span>
        <span>(For details, see the </span
        >
        <a (click)="openUrl(pluginUrlCfg.faqTwentyOneEn)" target="_blank">FAQ</a>
        .)
    </div>

    <div class="about-step4">
        <p>{{ i18n.about_more.about_more_step4 }}</p>
        <div class="step4-desc">
            <div>{{ i18n.about_more.about_more_step4_desc1 }}</div>
            <div *ngIf="i18nService.currLang === i18nService.langType.zh_cn">
                <span>如果目标操作系统不在列表中，请单击工具右边的“</span>
                <span class="icon-setting" *ngIf="!intelliJFlagDef">···</span>
                <span *ngIf="intelliJFlagDef">
                    <img *ngIf="currTheme === 1"src="./assets/img/icon-setting-dark.svg" style="vertical-align:middle">
                    <img *ngIf="currTheme === 2" src="./assets/img/icon-setting-light.svg" style="vertical-align:middle"></span>
                <span>>意见反馈”，在论坛中反馈该问题。</span>
            </div>
            <div *ngIf="!(i18nService.currLang === i18nService.langType.zh_cn)">
                <span>If the target OS is not in the list, click"</span>
                <span class="icon-setting" *ngIf="!intelliJFlagDef">···</span>
                <span *ngIf="intelliJFlagDef">
                    <img *ngIf="currTheme === 1" src="./assets/img/icon-setting-dark.svg" style="vertical-align:middle">
                    <img *ngIf="currTheme === 2" src="./assets/img/icon-setting-light.svg" style="vertical-align:middle"></span>
                <span
                    >> Feedback" on the right of the tool to post the problem in
                    the forum.</span
                >
            </div>
        </div>
    </div>
</div>
