<div class='content' id="Thor-Container">
    <div class='main'>
        <div class='router-content'>
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-advice-feedback-icon *ngIf="showAdviceIcon" #adviceIcon (openAdvice)="openAdvice($event)">
    </app-advice-feedback-icon>


    <div class='loading-box' id='loading-box'>
        <app-loading class="loading" [bgColor]="''" [size]="'max'" [height]="'100%'"></app-loading>
    </div>
    <div class='loading-box' id='sample-loading-box'>
        <app-loading class="loading" [bgColor]="''" [size]="'max'" [height]="'100%'"></app-loading>
    </div>
</div>