<div class="taskInfoBox" [appLoading]="obtainingTaskInfo">
  <div class="task-info" *ngFor="let item of configList" [ngClass]="{
      'dotted-line':
      item.key === i18n.common_term_task_analysis_type ||
      item.key ===  this.i18n.diagnostic.taskParams.diagnosticTarget ||
        item.key === i18n.common_term_task_tab_summary_start}" [ngStyle]="{'display': item.key === ''?'none':'block'}">
    <div class="clearfix">
      <span class="span-left" tiOverflow [ngStyle]="{display: item.display ? item.display : 'inline'}"> {{ item.key
        }}</span>
      <div class="span-right" [ngStyle]="{display: item.display ? item.display : 'block'}">
        <div class="span-right-up">
          <span class="status-icon" *ngIf="item.key === i18n.common_term_task_status"
            [ngClass]="statusFormat(item.status)"></span>
          <span *ngIf="isInterval(item.key)">{{ item.text | thousandSeparator }}</span>
          <span *ngIf="!isInterval(item.key)"> {{ item.text }}</span>
          <span *ngIf="item.text === i18n.status_Failed" class="arrow-up"
            (click)="showFailReason(arrStatus, item.taskcode)"></span>
        </div>
        <div *ngIf="item.text === i18n.status_Failed && arrStatus" class="reasonBox">
          <div class="reason-title">{{ i18n.common_term_task_fail_reason }}:</div>
          <div class="reason-content"
            *ngIf="item.taskcode.indexOf('Kunpeng Compute github repo') === -1 && item.taskcode.indexOf('Kunpeng Compute Github repo') === -1">
            {{ item.taskcode }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="item.key === i18n.hpc.mission_create.rankNodes">
      <ti-table [(displayedData)]="mpiDisplayed" [srcData]="srcData" [columns]="columns" class="ti3-table-small"
          tiColsResizable style="width:400px;">
          <div class="ti3-resize-wrapper">
            <table>
              <thead>
                <tr>
                  <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of mpiDisplayed">
                  <td tiOverflow>{{row.nodeName}}</td>
                  <td tiOverflow>{{row.rank}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ti-table>
    </div>
  </div>
  <div class="linkage-table-box">
    <app-disk-table [dataList]="linkageData" [totalPage]="linkageData.data.length"
      [columns]="configTableService.taskMsg" [hasPage]="true" *ngIf="linkageData.data.length > 0"></app-disk-table>
  </div>
</div>