// 深色
::ng-deep .vscode-dark {
  --color-middle-font: #AAAAAA;
}

// 浅色
::ng-deep .vscode-light {
  --color-middle-font: #000000;
}

.head-img {
  vertical-align: top;
  margin-right: 2px;
}

.content {
  max-height: 0px;
  transition: max-height 250ms;
  overflow: hidden;
}

.content.active {
  max-height: unset;
  height: auto;
  font-size: 14px;
  color: var(--color-middle-font) !important;
}

.title {
  display: flex;
  align-items: center;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: var(--color-middle-font) !important;
  cursor: pointer;
  margin-left: -18px;
}
