.stack-tree-content {
    .label {
        box-sizing: content-box;
        vertical-align: middle;

        .stracktrace-rate {
            display: inline-block;
            height: 10px;
            background: #5d89d8 !important;
        }

        .vertical-align {
            vertical-align: middle;
        }
    }

    .more-label {
        color: #0067ff;
    }

    .more-label:hover {
        color: #267DFF;
    }

    .more-label:active {
        color: #0057D9;
    }

    .margin-left {
        margin-left: 10px;
    }

    .expandAll {
        vertical-align: middle;
        margin-right: 6px;
    }
}
::ng-deep .ti3-tree-leaf-node:not(:last-child) > .ti3-tree-parent-node:after{
    border-left: 1px solid var(--ti-table-border-bottom-color) !important;
}