<div class="switch flex" *ngIf="isShow">
    <!-- 按钮 -->
    <span class="label">{{i18n.mission_create.nodeParamsConfig}}</span>
</div>
<div class="buts" *ngIf="isShow">
    <ti-switch id="myswitch" ngDefaultControl [disabled]="isAbled"
        [tiTip]="isAbled ? i18n.mission_create.paramsConfigNotice : ''" tiTipPosition="right" [(ngModel)]="switchStatus"
        (ngModelChange)="onSwitchChange($event)">
    </ti-switch>
    <span style='font-size:12px'>{{i18n.nodeConfig.nodeTip}}</span>
</div>
<div class="node-config" *ngIf="isShow && switchStatus">
    <div class="table">
        <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow>{{columns[1].title}}</th>
                        <th tiOverflow>{{columns[2].title}}</th>
                        <th tiOverflow>{{columns[3].title}}</th>
                        <th tiOverflow>{{columns[4].title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of displayed;index as i">
                        <td tiOverflow>{{row.nickName}}</td>
                        <td tiOverflow>{{row.node}}</td>
                        <td tiOverflow>
                            <span class="status-icon"
                                [ngClass]="row.params.status ? 'success-icon' : 'reserve-icon'"></span>
                            <span>{{row.params.status ? i18n.nodeConfig.configed : i18n.nodeConfig.noConfig}}</span>
                        </td>
                        <td tiOverflow><span (click)="onConfigParams(i)"
                                class="config-btn">{{i18n.nodeConfig.configParams}}</span></td>
                    </tr>
                </tbody>
            </table>
        </ti-table>
    </div>
</div>

<!-- 修改指定节点参数模板 -->
<ng-template #modifyNodeComponent let-context='context'>
    <ti-modal-header>
        <div class="modal-title">
            <span>{{i18n.mission_create.nodeParamsConfig}}</span>
        </div>
    </ti-modal-header>

    <ti-modal-body>
        <div *ngIf="taskType === 'microarchitecture'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'profile'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.cpu_kernel.label}}
                            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_mask_tip" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.cpu_kernel.value">
                    </div>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- 指定运行用户 -->
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.process_name.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.process_name.value" />
                    </div>
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.pid.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.pid.value" />
                    </div>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.sourceLocation.label}}
                        <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" style="margin-left:10px;"
                            tiTipMaxWidth='370px' tiTipPosition="bottom">
                            <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                class="imgQuestion">
                            <img src='./assets/img/template/icon_question_light.svg'
                                *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                        </ti-icon>
                    </span>
                    <input type="text" [(ngModel)]="nodeConfig.sourceLocation.value">
                </div>
            </div>
        </div>
        <div *ngIf="taskType === 'C/C++ Program'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'profile'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.cpu_kernel.label}}
                            <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_mask_tip" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <input tiText type="text" [(ngModel)]="nodeConfig.cpu_kernel.value">
                    </div>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- 指定运行用户 -->
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.process_name.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.process_name.value" />
                    </div>
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.pid.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.pid.value" />
                    </div>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.assemblyLocation.label}}
                        <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_bs_tip" style="margin-left:10px;"
                            tiTipMaxWidth='370px' tiTipPosition="bottom">
                            <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                class="imgQuestion">
                            <img src='./assets/img/template/icon_question_light.svg'
                                *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                        </ti-icon>
                    </span>
                    <input type="text" [(ngModel)]="nodeConfig.assemblyLocation.value">
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.c_path.label}}
                        <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" style="margin-left:10px;"
                            tiTipMaxWidth='370px' tiTipPosition="bottom">
                            <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                class="imgQuestion">
                            <img src='./assets/img/template/icon_question_light.svg'
                                *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                        </ti-icon>
                    </span>
                    <input type="text" [(ngModel)]="nodeConfig.c_path.value">
                </div>
            </div>
        </div>
        <div *ngIf="taskType === 'resource_schedule'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- 指定运行用户 -->
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.process_name.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.process_name.value" />
                    </div>
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.pid.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.pid.value" />
                    </div>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.assemblyLocation.label}}
                        <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_bs_tip" style="margin-left:10px;"
                            tiTipMaxWidth='370px' tiTipPosition="bottom">
                            <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme === ColorTheme.Dark"
                                class="imgQuestion">
                            <img src='./assets/img/template/icon_question_light.svg'
                                *ngIf="currTheme === ColorTheme.Light" class="imgQuestion">
                        </ti-icon>
                    </span>
                    <input type="text" [(ngModel)]="nodeConfig.assemblyLocation.value">
                </div>
            </div>
        </div>
        <div *ngIf="taskType === 'system_lock'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- 指定运行用户 -->
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.process_name.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.process_name.value" />
                    </div>
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.pid.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.pid.value" />
                    </div>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.assemblyLocation.label}}
                        <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_bs_tip" style="margin-left:10px;"
                            tiTipMaxWidth='370px' tiTipPosition="bottom">
                            <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                class="imgQuestion">
                            <img src='./assets/img/template/icon_question_light.svg'
                                *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                        </ti-icon>
                    </span>
                    <input type="text" [(ngModel)]="nodeConfig.assemblyLocation.value">
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.sourceLocation.label}}
                        <ti-icon [tiTip]="i18n.tip_msg.common_term_task_crate_c_source_tip" style="margin-left:10px;"
                            tiTipMaxWidth='370px' tiTipPosition="bottom">
                            <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                class="imgQuestion">
                            <img src='./assets/img/template/icon_question_light.svg'
                                *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                        </ti-icon>
                    </span>
                    <input type="text" [(ngModel)]="nodeConfig.sourceLocation.value">
                </div>
            </div>
        </div>
        <div *ngIf="taskType === 'ioperformance'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- 指定运行用户 -->
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>
                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.process_name.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.process_name.value" />
                    </div>
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.pid.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.pid.value" />
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="taskType === 'process-thread-analysis'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <!-- 应用路径 -->
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <!-- 应用参数 -->
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- 指定运行用户 -->
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.process_name.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.process_name.value" />
                    </div>
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <div></div>{{nodeConfig.pid.label}}
                        </span>
                        <input type="text" [(ngModel)]="nodeConfig.pid.value" />
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="taskType === 'hpcOpenMP'">
            <div class="modal-content">
                <div class="modal-item">
                    <span>
                        <div></div>{{nodeConfig.nodeName.label}}
                    </span>
                    <span>{{nodeConfig.nodeName.value}}</span>
                </div>
                <div class="modal-item" style="margin-top: 10px;">
                    <span>
                        <div></div>{{nodeConfig.nodeIp.label}}
                    </span>
                    <span>{{nodeConfig.nodeIp.value}}</span>
                </div>
                <div *ngIf="analysisType === 'launch'">
                    <!-- 应用路径 -->
                    <div class="modal-item" style="margin-top: 10px;">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">
                            {{nodeConfig.appDir.label}}
                            <ti-icon [tiTip]="i18n.common_term_task_c_app" style="margin-left:10px;"
                                tiTipMaxWidth='370px' tiTipPosition="bottom">
                                <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme == ColorTheme.Dark"
                                    class="imgQuestion">
                                <img src='./assets/img/template/icon_question_light.svg'
                                    *ngIf="currTheme == ColorTheme.Light" class="imgQuestion">
                            </ti-icon>
                        </span>
                        <div>
                          <input type="text" (blur)="requireBlur()" [(ngModel)]="nodeConfig.appDir.value" />
                          <div class="ti3-unifyvalid-error-container" *ngIf="!appPathValid && appPathWarnMsg">
                            <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                            <span class="ti3-validate-text">{{appPathWarnMsg}}</span>
                          </div>
                        </div>
                    </div>
                    <!-- 应用参数 -->
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.appParameters.label}}
                        </span>
                        <textarea type="text" [(ngModel)]="nodeConfig.appParameters.value"></textarea>
                    </div>
                    <!-- openmp参数 -->
                    <div class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.openMpParams.label}}
                        </span>
                        <div>
                            <input type="text" (blur)="checkOpenMp(nodeConfig.openMpParams.value)" [(ngModel)]="nodeConfig.openMpParams.value"/>
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!openMpValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ openMpErrorMsg }}
                            </div>
                        </div>
                    </div>
                    <!-- 指定运行用户 -->
                    <div *ngIf="!isModifySchedule" class="modal-item" style="margin-top: 9px;">
                        <span>
                            <div></div>{{nodeConfig.runUserStates.label}}
                        </span>
                        <ti-switch id="myswitch" [(ngModel)]="nodeConfig.runUserStates.value"
                            (ngModelChange)="checkUserOrPassWord($event, 'switch')">
                        </ti-switch>
                    </div>
                    <!-- 用户名 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.user_name.label}}
                        </span>
                        <div>
                            <input type="text" #like tiText [(ngModel)]="nodeConfig.user_name.value"
                                (blur)="checkUserOrPassWord($event, 'user')" />
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runUserValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ runUserMsg }}
                            </div>
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="modal-item" style="margin-top: 9px;" *ngIf="nodeConfig.runUserStates.value">
                        <span>
                            <img src="./assets/img/mission/redStar.svg">{{nodeConfig.password.label}}
                        </span>
                        <div class="modal-item-value">
                            <input [type]="passwordInputType" #like tiText [(ngModel)]="nodeConfig.password.value"
                                (blur)="checkUserOrPassWord($event, 'password')">
                            <div class="mission-app-warn ti3-unifyvalid-error-container" *ngIf="!runPasswordValid">
                                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                                {{ i18n.tip_msg.system_setting_input_empty_judge }}
                            </div>
                            <div class="eye">
                                <span (click)="passwordInputType = 'password'" *ngIf="passwordInputType === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="passwordInputType = 'text'" *ngIf="passwordInputType === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="analysisType === 'attach'">
                    <div class="pl12">
                        <app-process-pid-input labelWidth="134px" [inputWidth]="inputWidth" [pinProcess]='hpcProcessPidParam'
                            (checkProcessPid)="checkProcessPid($event)" (getAppParamChange)="getAppParamChange($event)">
                        </app-process-pid-input>
                    </div>
                </div>
            </div>
        </div>
        
        
    </ti-modal-body>

    <ti-modal-footer>
        <div class="footerButs">
            <button class="little-primary-btn" [disabled]="disabled"
                (click)='confirm(context)'>{{i18n.common_term_operate_ok}}</button>
            <button class="little-minor-btn" (click)='context.dismiss()'> {{i18n.common_term_operate_cancel}} </button>
        </div>
    </ti-modal-footer>
</ng-template>