<div *ngIf="diagnoseTarget === 'netio_diagnostic'">
  <app-net-io-create
    [projectName]="projectName"
    [taskName]="taskName"
    [actionType]="actionType"
    [taskDetail]="taskDetail"
    [networkinfo]="networkinfo"
    (closeTab)="onClose($event)"
    (sendMissionKeep)="onSendMissionKeep($event)"
  >
  </app-net-io-create>
</div>

<div *ngIf="diagnoseTarget === 'storageio_diagnostic'">
  <app-storage-io-create 
    [projectName]="projectName" 
    [taskName]="taskName" 
    [actionType]="actionType"
    [taskDetail]="taskDetail" 
    [storageIoInfo]="storageIoInfo"
    (closeTab)="onClose($event)"
    (sendMissionKeep)="onSendMissionKeep($event)"
  >
  </app-storage-io-create>
</div>
