<div class="mainconta" id="recordManage">
    <!-- 菜单栏 -->
    <div id="menu" class="left">
        <div class='clickindex'><a (click)="jumpScroll('profillingAnalysisRecordManage')"
                id="profillingAnalysisRecord">{{i18n.common_term_profile}}</a>
        </div>
        <div class='clickindex'><a (click)="jumpScroll('samplingAnalysisRecordManage')"
                id="samplingAnalysisRecord">{{i18n.common_term_sample}}</a>
        </div>
    </div>
    <!-- 内容区 -->
    <div id="content" class="right">
        <!-- profilling分析记录管理 -->
        <app-profiling-manage></app-profiling-manage>
        <!-- sampling分析记录管理 -->
        <div id="samplingAnalysisRecordManage">
        </div>
    </div>