<div class="workLog" [appLoading]="isLoading">
  <ti-table [(displayedData)]="runLogsTable.displayed" [srcData]="runLogsTable.srcData" [columns]="runLogsTable.columns">
    <table>
      <thead>
        <tr>
          <th tiOverflow *ngFor="let column of runLogsTable.columns" width="{{column.width}}">{{column.title}}</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let row of runLogsTable.displayed; index as i">
          <tr>
            <td tiOverflow>{{ row.fileName }}</td>
            <td tiOverflow>
              <span class="textBtn" (click)='getOperationFiles(row)'>{{ i18n.operationLog.download }}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ti-table>
</div>

<!-- 下载弹框 -->
<ng-template #downLoad let-context='context'>
  <ti-modal-header>{{ context.title }}</ti-modal-header>

  <ti-modal-body>
    <div class="tip">
      <img src="./assets/img/tip/warn.svg">
      <span>{{ i18n.operationLog.sureDownload }}</span>
    </div>

    <ti-table [(displayedData)]="downloadFilesTable.displayed" [srcData]="downloadFilesTable.srcData" [columns]="downloadFilesTable.columns" tiColsResizable>
      <div class="ti3-table-fixed-head">
        <table>
          <thead>
            <tr>
              <th *ngFor="let column of downloadFilesTable.columns" tiOverflow width="{{ column.width }}">{{ column.title }}</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="ti3-table-container ti3-resize-wrapper">
        <table>
          <thead>
            <tr>
              <th *ngFor="let column of downloadFilesTable.columns" tiOverflow width="{{ column.width }}"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of downloadFilesTable.displayed; let index = index">
              <td tiOverflow>{{ row.name }}</td>
              <td tiOverflow>{{ row.size || '--' }}</td>
            </tr>
          </tbody>
        </table>

        <!-- 无数据 -->
        <div *ngIf="!downloadFilesTable.displayed.length" class='chen-nodata-td unsetPosition'>
          <img src='./assets/img/projects/nodata.png' />
          <div>{{ i18n.common_term_task_nodata }}</div>
        </div>
      </div>
    </ti-table>
  </ti-modal-body>

  <ti-modal-footer>
    <button tiButton type="button" color="primary" [disabled]="context.interfacing" (click)="context.confirm(context)">
      {{ i18n.common_term_operate_ok }}
    </button>

    <button type="button" (click)="context.dismiss()" tiButton>{{ i18n.common_term_operate_cancel }}</button>
  </ti-modal-footer>
</ng-template>