.import-box {
    width: 100%;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    min-height: 600px;
    font-size: 14px;
    color: var(--d-e8e8e8-l-222222);
    overflow: hidden;
    .btns{
        margin-top: 40px;
        margin-left: 80px;
        .sureBtn {
            display: inline-block;
            width: 98px;
            height: 28px;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
            background: #0067FF;
            color: #ffffff;
            margin-top: 2vw;
            cursor: pointer;
        }
    }
}

.import-form {
    width: 100%;
    min-width: 200px;
    margin-left: 80px;
    margin-top: 40px;
    height: auto;
    box-sizing: border-box;
    top: 10vw;
    padding: 0px;

    .title{
        font-size: 20px;
        height: 26px;
        width: 688px;
        margin-bottom: 20px;
        position: relative;
    }

    .form {
        margin-top: 20px;

        .label {

            height: 18px;
            font-size: 14px;
            width: 110px;
            display: inline-block;
        }

        input {
            width: 400px;
            border: none;
            border: 1px solid var(--ti-input-border-color);
            box-shadow: none;
            border-radius: 0px;
            height: 28px;
            font-size: 14px;
        }

        input:focus {
            border: none;
            border: 1px solid #6C92FA;
        }

        input:hover {
            border: none;
            border: 1px solid #6C92FA;
        }

        .check {
            display: inline-block,
        }
    }
    .uploadBtn{
        margin-left: 8px;
        background: var(--d-313131-l-ffffff);
        color: var(--d-e8e8e8-l-222222);
        display: inline-block;
        width: 100px;
        height: 28px;
        line-height: 26px;
        vertical-align: middle;
        font-size: 12px;
    }
    .uploadBtn:hover {
        border-radius: 2px;
        border: solid 1px #267dff;
        color: #267dff !important;
    }
    .uploadBtn[disabled]{
        background: #313131 !important;
        color: #aaa !important; 
        cursor: not-allowed;
    }
}


.mode-choose {
    margin-top: 10px;
    margin-bottom: 10px;
    .mode-label {
        font-size: 14px;
        margin-bottom: 12px;
        color: var(--d-e8e8e8-l-222222);
        width: 110px;
        display: inline-block;
    }

    .choose-list {

        input[type=radio][tiRadio]+.ti3-radio .ti3-radio-label {
            color: #E8E8E8 !important;
        }

        img {
            margin-right: 8px;
        }
    }

}

.primary-btn {
    display: inline-block;
    width: 160px;
    line-height: 32px;
    height: 32px;
    margin-right: 0;
    background: #0067ff;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 2px;
}
.primary-btn:hover {
	background-color: #267dff;
	border-radius: 2px;
    border: solid 1px #267dff;
    color: #e8e8e8 !important;

}

.primary-btn[disabled]{
    background: var(--d-313131-l-f5f5f5) !important;
    color: #aaa !important; 
    cursor: not-allowed;
    border-color: var(--d-00000000-l-ccccccff) !important;
}

.minor-btn {
    display: inline-block;
    text-align: center;
    background: var(--d-313131-l-ffffff);
    color: var(--d-e8e8e8-l-222222);
    width: 160px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #979797 !important;
}

.minor-btn:hover {
	background-color: var(--d-313131-l-ffffff);
	border-radius: 2px;
    border: solid 1px #267dff;
}

.minor-btn:active {
    color: #0057d9 !important;
    border-color: #267dff !important;
    background: var(--d-313131-l-ffffff) !important;
}

.minor-btn[disabled] {
    background: #616161 !important;
    color: #cccccc !important;
    border: 1px solid #cccccc !important;
}


input[type=radio][tiRadio]+.ti3-radio .ti3-radio-skin::after {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    content: "";
    left: 4px;
    top: 4px;
    height: 6px;
    width: 6px;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
}

.info {
    width: 688px;
    margin-top: 10px;
}
::ng-deep .vscode-dark {
    .help-tips-icon {
        img {
            vertical-align: top;
        }
    }
    .mode-choose {
        input:disabled {
            background-color: #313131 !important;
        }
    }
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important;
    }

    --background-clr: #1E1E1E;
    --font-clr: #AAAAAA;
    --title-clr: #DDDDDD;
}

::ng-deep .vscode-light {
    .help-tips-icon {
        img {
            vertical-align: top;
        }
    }
    .mode-choose {
        [tiText][disabled]:not(.ti3-spinner-input):disabled {
            color: #CCC !important;
            border: 1px solid #CCC !important;
            background-color: #F5F5F5 !important;
        }
    }
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important;
    }

    .import-box .edit-box input {
        background-color: #fff !important;
    }

    --background-clr: #FFFFFF;
    --font-clr: #222222;
    --title-clr: #222222;
}

.error-message {
    min-height: 24px;
    font-size: 14px;
    color: #ff4c4c;
    display: block;
    text-align: center;
}

.error-message img {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

:host ::ng-deep .ti3-form .ti3-form-label {
    color: #aaaaaa !important;
    font-size: 12px !important;
}

.message {
    margin-top: 20px;
    line-height: 14px;
}

