.new-task-container {
    width: 90%;
    min-width: 900px;
    padding-bottom: 50px;
    font-size: 14px;
    margin-top: 32px;
    margin-left: 41px;
    overflow: hidden;

    .top-title {
        height: 48px;
        padding: 10px;

        .top-tip {
            display: flex;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin-right: 9px;
            }

            div {
                height: 26px;
                color: var(--big-color);
                font-size: 20px;
            }
        }

        .bottom-tip {
            margin-top: 4px;
            margin-left: 30px;
            height: 18px;
            line-height: 20px;
            color: var(--small-color);
        }
    }

    .analysis-target {
        display: flex;
        margin-top: 20px;
        margin-left: 40px;
        flex-direction: column;
        position: relative;

        .analysis-target-title {
            font-size: 20px;
            height: 26px;
            line-height: 30px;
            padding: 10px 0px;
            color: var(--big-color);
        }

        .analysis-target-lists {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .analysis-target-list {
                width: 130px;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border-box;
                border: 1px solid #5B5B5B;
                border-radius: 2px;
                transition: 0.8s;

                img {
                    margin-top: 20px;
                    width: 60px;
                    height: 60px;
                }

                p {
                    margin-top: 15px;
                    height: 17px;
                    line-height: 1;
                    text-align: center;
                }

                .active {
                    cursor: pointer;
                    color: #0067ff;
                }

                .active:hover {
                    color: #267dff;
                }

                .no-active {
                    color: var(--small-color);
                }
            }

            .arrow {
                width: 15px;
                height: 12px;
                margin: 0 42px;
            }
        }
    }
}

.new-task {
    overflow: hidden;
}

::ng-deep .vscode-light {
    --big-color: #222222;
    --small-color: #616161;
}

::ng-deep .vscode-dark {
    --big-color: #E8E8E8;
    --small-color: #888888;
}
