<ng-container *ngFor="let node of tabList;index as i">
    <ng-container *ngIf="node.displayType === 'nodeProcessDisplay' || node.displayType === 'dataDisplay'">
        <app-task-process [taskName]="node.title" [hidden]="!node.active" [projectName]="node.projectName"
            [displayType]="node.displayType" [analysisType]="node.taskType" [status]="node.status"
            [deletingProject]="deletingProject" [taskId]="node.taskId" [nodeid]="node.nodeid" [tabShowing]="node.active"
            [taskDetail]="node.taskDetail" [ownerId]="node.ownerId" (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-task-process>
    </ng-container>
    <ng-container *ngIf="node.displayType === 'sourceCodeDisplay'">
        <app-function-info *ngIf="node.taskType=='lock'" [hidden]="!node.active" [headers]="node.headers"
            [functionDetails]="node.functionDetails">
        </app-function-info>
    </ng-container>
    <ng-container *ngIf="node.displayType === 'addTask'">
        <app-mission-create *ngIf="!isDiagnose" [hidden]="!node.active" [projectName]="node.projectName"
            [actionType]="node.actionType" [taskDetail]="node.taskDetail" [scenes]="node.scenes"
            (closeIndexTab)="onCloseTabAndOpenDetail($event, i)">
        </app-mission-create>
        <!-- 诊断调试 -->
        <app-create-task *ngIf="isDiagnose" [hidden]="!node.active" [projectName]="node.projectName"
            [actionType]="node.actionType" [taskDetail]="node.taskDetail"
            (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-create-task>
    </ng-container>
    <!-- 从调优助手优化建议详情页跳转创建诊断调试分析任务 -->
    <ng-container *ngIf="node.displayType === 'tuningCreateDiagnoseTask'">
        <app-create-task [hidden]="!node.active" [projectName]="node.projectName"
            [actionType]="node.actionType" [taskDetail]="node.taskDetail"
            (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-create-task>
    </ng-container>
    <!-- 调优助手-创建工程 -->
    <ng-container *ngIf="node.displayType === 'createTuninghelperProject'">
        <app-tuninghelper-create-project [hidden]="!node.active" (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-tuninghelper-create-project>
    </ng-container>
    <!-- 调优助手-创建任务 -->
    <ng-container *ngIf="node.displayType === 'createTuninghelperTask'">
        <app-tuninghelper-create-task [hidden]="!node.active" [projectName]="node.projectName"
            [actionType]="node.actionType" [taskDetail]="node.taskDetail"
            (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-tuninghelper-create-task>
    </ng-container>
    <!-- 调优助手-查看运行的进程详情 -->
    <ng-container *ngIf="node.displayType === 'tuninghelperProcessPidDetailsysPerf'">
        <app-runing-process-detail [hidden]="!node.active" [message]="node.message"></app-runing-process-detail>
    </ng-container>
    <ng-container *ngIf="node.displayType === 'addLinkage'">
        <app-linkage-create-container [hidden]="!node.active" (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-linkage-create-container>
    </ng-container>
    <ng-container *ngIf="node.displayType ==='addCompare'">
        <app-compare-create [hidden]="!node.active" (closeTab)="onCloseTabAndOpenDetail($event, i)">
        </app-compare-create>
    </ng-container>
    <ng-container *ngIf="node.displayType === 'netPortDetail'">
        <app-net-port-display [hidden]="!node.active" [message]="node.message"></app-net-port-display>
    </ng-container>
    <ng-container *ngIf="node.displayType === 'TuninghelperProcessPidDetail'">
        <app-process-app-pid-detail [hidden]="!node.active" [message]="node.message"></app-process-app-pid-detail>
    </ng-container>
    <ng-container  *ngIf="node.displayType === 'TuninghelperCompareProcessCommandDetail'">
        <app-compare-process-app-command-detail [hidden]="!node.active" [message]="node.message"></app-compare-process-app-command-detail>
    </ng-container>

    <!-- 抓包源码页 -->
    <ng-container *ngIf="node.displayType === 'netCaptureSource'">
        <app-net-capture-source [hidden]="!node.active" [headers]="node.message.headers"
            [functionDetails]="node.message.functionDetails"></app-net-capture-source>
    </ng-container>
</ng-container>