#detail-container {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 57.5px;
    overflow: hidden;

    .content-container {
        opacity: 0;
        padding-right: 32px;
    }
}
.showDetail {
    opacity: 1 !important;
}
::ng-deep .ti3-tabs {
    width: 93.5%;
}
::ng-deep #detail-container .ti3-tabs-container .ti3-tabs{
    > li {
        margin-right: 30px;
        a {
            padding: 10px 0 !important;
            ti-tab-header {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
} 
