.struck-top {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    .source-area {
        flex: 1;
    }

    .advised-area {
        width: 1;
    }
}

.struct-content {
    height: 94%;
    width: 90%;
    position: relative;

    .struck-assign {
        height: 96%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border: solid 1px var(--byte-main-border-e1e6ee);
        box-sizing: border-box;
        overflow: hidden;

        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        position: relative;
    }
    .struck-box {
        width: 100%;
        position: relative;
        margin-top:30px
    }
    .struck-title {
        text-align: center;
        width: 140px;
        height: 32px;
        line-height: 32px;
        border: 1px solid var(--border-d-888888-l-979797);
        border-radius: 4px;
        margin-left: 50px;
        position: absolute;
        top: -26px;
        left: -39px;
        background: var(--bg-d-313131-l-ffffff);
        font-size: 14px;
        color: var(--font-d-e8e8e8-l-222222);
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .struck-left {
        position: absolute;
        left: -60px;
        top: 39%;
        color: var(--font-d-aaaaaa-l-222222);
    }
    .struck-value {
        width: 160px;
        border-radius: 4px;
        border: 1px solid var(--border-d-616161-l-979797);
        border-bottom: none;
        background: var(--bg-d-313131-l-ffffff);
    }
    .struck-span {
        margin: 5px 0;
        width: 100%;
        text-align: center;
        display: inline-block;
        color: var(--font-d-aaaaaa-l-616161);
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: default;
    }
    .open-img {
      vertical-align: text-bottom;
    }
}

.d2h-file-side-diff{
    overflow: none !important;
}
#line{
    position: absolute;
}
#instructions {
    position: fixed;
    left: 50%;
}
.siblings {
    position: absolute;
    left: -100px;
    top: -21px;
    width: 1000px;
    height: 1px;
    background-color: var(--byte-main-border-e1e6ee);
}
