<div class='box' #tiSelectCon>
  <!-- 建议反馈 -->
  <app-advice-feedback-icon *ngIf="showAdviceIcon" #adviceIcon (openAdvice)="openAdvice($event)">
  </app-advice-feedback-icon>
  <app-advice-error-alert #errorAlert></app-advice-error-alert>
  <div class='router-content1'>
    <app-header 
      *ngIf='showHeader1'
      [bannerShow]='bannerShow'
      class="header"
      (hideArrow)="hideArrow($event)"
      (openAdvice)="openAdvice($event)"
    ></app-header>
    <router-outlet></router-outlet>
  </div>
</div>