<div style="padding: 20px 0px;">
    <div class="item-table">
        <div style="margin-bottom: 20px;display: flex;justify-content: space-between;" *ngIf="!isDownload">
            <div class="head">
                <div style="display: inline-block;" *ngIf="!snapShot">
                    <button type="button" class="operation-anal" [disabled]="startBtnDisabled || snapShot"
                        (click)="startJDBC()" *ngIf="!isStart">
                        {{ i18n.protalserver_profiling_jdbc.start_analysis }}
                    </button>
                    <button type="button" class="operation-anal" (click)="stopJDBC()" *ngIf="isStart">
                        {{ i18n.protalserver_profiling_jdbc.stop_analysis }}
                    </button>
                    <img [tiTip]="jdbcBtnTip" tiTipPosition="right"
                        style="position: relative; width: 12px; height: 12px;margin-left: 10px;"
                        src="./assets/img/projects/help.svg" alt="">
                </div>
                <div style="display: flex; align-items: center; margin-left: 30px;">
                    <span class="threshold">{{threshold.label}}</span>
                    <ti-formfield [formGroup]="jdbcGroup">
                        <ti-item>
                            <ti-spinner class="jdbc-threshold" name="spinner" [format]="threshold.format"
                                [tiRangeValue]="threshold.rangeValue" tiValidation tiRequired
                                [disabled]="snapShot || isStart" (blur)="verifySpinnerValue(jdbcBlur)"
                                formControlName="jdbc_threshold">
                            </ti-spinner>
                        </ti-item>
                    </ti-formfield>
                    <img [tiTip]="jdbcThresholdTip" tiTipPosition="right" style="position: relative; width: 12px; height: 12px;margin-left: 10px;
                        margin-right: 32px;" src="./assets/img/projects/help.svg" alt="">
                    <input type="checkbox" tiCheckbox [name]='i18n.jdbcpool.analysisDbPool' [(ngModel)]="analysisDbPool"
                        (click)="onChoseAsync()" [label]='i18n.jdbcpool.analysisDbPool'
                        [disabled]="downloadService.dataSave.isAsyncDis || snapShot">
                </div>
            </div>
        </div>
        <div *ngIf="(srcData.data.length) else elseNodata" id="jdbc-sql-table">
            <!-- 热点语句树表 -->
            <app-hotword-table #hotWordTable [srcData]="srcData" [columns]="columns"
                (sendExpandData)="send_ExpandData($event)" (sendTableSort)="onTableSort($event)">
            </app-hotword-table>
        </div>
    </div>
    <app-time-line *ngIf="timeData.length" [timeData]='timeData' (timeLineData)='timeLineData($event)' #timeLineDetail>
    </app-time-line>
    <div class="item-echart" *ngIf="echartDatas.executed && echartDatas.executed.length">
        <ng-container>
            <app-echarts-common [startDate]="startDate" [datas]="excutedEchartDatas"
                [updateOptions]="excutedUpdateOptions" [timeData]='timeLine' [gridRight]="echartGridRight"
                (dataZoom)='dataZoom($event)' #excutedEchart>
            </app-echarts-common>
        </ng-container>
        <ng-container>
            <app-echarts-common [startDate]="startDate" [datas]="averageEchartDatas"
                [updateOptions]="avarageUpdateOptions" [timeData]='timeLine' [gridRight]="echartGridRight"
                (dataZoom)='dataZoom($event)' #averageEchart>
            </app-echarts-common>
        </ng-container>
    </div>
</div>
<ng-template #elseNodata>
    <app-loading *ngIf="snapShot" [size]="'max'" [height]="'760px'" [bgColor]="'transparent'"></app-loading>
    <app-default-page *ngIf="!snapShot" [height]="'calc(80vh - 98px)'" [bgColor]="'#1e1e1e'"
        [scene]="isStart ? 'creatingTask' : 'noData'"
        [text]="isStart ? i18n.plugins_perf_java_profileNoData.jdbcAnalysisMsg : noDataTip">
    </app-default-page>
</ng-template>
<ng-template #tipSnapshot let-context='context'>
    <div class="snap_title">{{i18n.snapshot_analysis}}</div>
    <div class="snap_content">
        <span>{{i18n.snapshot_analysis_content1}}</span>
        <span style="color: #0067ff;cursor: pointer;"
            (click)="jumpToSnapShot()">{{i18n.snapshot_analysis_content2}}</span>
        <span>{{i18n.snapshot_analysis_content3}}</span>
    </div>
</ng-template>