.sys-config-cpu-compare {
  --ti-table-th-bg-color: transparent;
  --ti-common-font-size-base: 12px;
  height: 100%;

  ::ng-deep {

    .custom-expand-tree .ti3-tree-content-box {
      height: auto !important;
      line-height: 48px !important;

      &.ti3-tree-item-leaf {
        padding: 0;
        cursor: auto;

        .ti3-tree-node-text-wrapper {
          flex: 1;
        }

        > *:not(.ti3-tree-node-text-wrapper) {
          display: none;
        }
      }
    }

  }

  .cpu-and-numanode {
    padding: 20px 0 20px 20px;
    width: 100%;

    hr {
      margin: 20px 0;
    }

    p.title {
      height: 18px;
      font-size: 12px;
      line-height: 18px;
      color: var(--common-color-font-primary);
      margin-left: 22px;
      margin-bottom: 10px;
    }

    .summary, .detail {
      app-compare-text-item + app-compare-text-item {
        margin-top: 10px;
      }
    }
  }

  .cache-info {
    padding: 20px 0 20px 20px;
    width: 100%;

    app-compare-text-item + app-compare-text-item {
      margin-top: 20px;
    }
  }

}