.dominantTree {
    margin-top: 20px;

    .sortIcon {
        margin-left: 5px;
    }

    .ti3-table-container {
        margin-bottom: 10px;
        max-height: 730px;
        overflow-y: auto;

        .toggleIcon {
            display: inline-block;
            position: relative;

            img {
                width: 16px;
                height: 16px;
                transform: rotate(-90deg);
                margin-right: 16px;

                &.open {
                    transform: rotate(0deg);
                }
            }
        }

        .bottomBorder {
            width: 100%;
            display: inline-block;
            left: 0;
            position: absolute;
            bottom: 0;
        }

        .loadMore {
            color: #0067ff;
            cursor: pointer;

            &:hover {
                color: #267dff;
            }
        }

        .headbg {
            display: inline-block;
            position: absolute;
            width: 35px;
            height: 43px;
            top: 0;
            background-color: #2A2A2A;
            border-right: 1px solid #0067ff;
        }
    }
}

.loading {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;

    p {
        margin-bottom: 32px;
        font-size: 14px;
    }

    img {
        width: 400px;
        height: 117px;
    }
}

.noDate {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: 130px;
    }

    p {
        color: #979797;
        font-size: 14px;
        margin-top: 16px;
    }
}

.noHover:hover {
    background-color: transparent !important;
}

.snap_title {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
}

.snap_content {
    font-size: 12px;
    line-height: 18px;
    color: #616161;
}

.red_count {
    width: 14px;
    height: 14px;
    font-size: 10px;
    background-color: #ed4b4b;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: -6px;
}

.histogram_tr {
    position: relative;

    .histogram_more {
        position: absolute;
        left: 10px;
        z-index: 1;
        width: auto;
        min-width: 225px;
        background-color: #fff;
        margin-top: 13px;
        padding: 9px;
        border: 1px solid #267dff;
        box-shadow: 1px 1px 1px 0px rgba(136, 136, 136, 0.5);

        .histogram_more_li {
            width: 214;
            height: 18px;
            padding: 4px 0px;

            .histogram_more_li_text {
                padding-left: 8px;
            }
        }
    }
}

.showAllSum {
    font-size: 12px;
    color: #222222;
    font-weight: 600;
}

.tip-close {
    display: inline-block;

    img:hover {
        cursor: pointer;
    }

    &>img {
        display: none;
    }

    &>img:nth-of-type(1) {
        display: block;
    }

    &:hover {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }
    }

    &:active {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }
    }
}

::ng-deep .vscode-dark {

    .ti3-table-container>table>tbody>tr:hover>td {
        background: #313131 !important;
    }
}

::ng-deep .vscode-light {
    .dominantTree .ti3-table-container .headbg {
        background-color: #e1e6ee;
    }
    #Thor-Container .ti3-table > .ti3-table-container > table > tbody > tr:hover{
        background-color: #e1e6ee !important;
    }

    .ti3-table-container>table>tbody>tr:hover>td {
        background: #e1e6ee !important;
    }
}
:host ::ng-deep .ti3-table > .ti3-table-fixed-head > table,
:host ::ng-deep .ti3-table > .ti3-resize-wrapper > table,
:host ::ng-deep .ti3-table-container > table {
    border: none !important;

    & > thead > tr > th {
        font-size: 16px !important;
    }
}
.cellText{
    font-size: 14px !important;
}
.sortIcon{
  .tableIcon{
    display: inline-block;
    ti-icon{
        vertical-align: middle;
        height: 16px;
        width: 16px;
    }
  }
  .colorIcon{
    color: #267dff;
  }
  .tableIcon:hover{
    color: #267dff;
  }
}
::ng-deep .ti3-icon-sort-ascent:before{
  font-size: 16px!important;
}