<div class="progress-bg">
    <div class="progress-modal">
        <div class="madal-content">
            <p>
                <span>{{ progressStatus === portWorkerStatusService.progressWaitWorkerStatus ? i18n.common_alignment_check.weakWaiting : i18n.common_term_weak_compiler_tip }}</span>
                <span>
                    <img (click)="closeTask()" style="cursor: pointer;" src="./assets/img/common/icon_close.svg" />
                </span> 
            </p>
            <div class="progress-bar-bg">
                <div [ngClass]="{'progress-bar': progressStatus !== portWorkerStatusService.progressWaitWorkerStatus}"
                    style="left: 0%;"></div>
            </div>
            <div *ngIf="portWorkerStatusService.workerStatusWeak === portWorkerStatusService.createTaskLackWorkerStatus"
                style="margin-top: 16px;">
                <app-user-guide-bar [status]="portWorkerStatusService.workerStatusWeak"></app-user-guide-bar>
            </div>
        </div>
    </div>
</div>
