.ti-icon-red{
    margin-bottom: -2px;
}
.nodata {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ti3-head-filter-container.first-th{
    padding-left: 25px;
}
.img-span{
    width: 41px;
    padding-right: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    display: inline-block;
}
.ti3-resize-wrapper{
    max-height: 620px;
}
.ti3-icon-search{
    padding-left: 8px;
    cursor: pointer;
    position: relative;
    top: -2px;
    &:hover{
        color: var(--ti-table-sort-color-hover);
    }
    &.active{
        color: var(--ti-table-sort-color-hover);
    }
    &::before{
        position: absolute;
        top: -6px;
    }
}
.table-multiple-box{
    position: relative;
}
.ti3-searchbox-container.multiple-search-box{
    top: 25px;
    left: 42px;
    position: absolute;
    z-index: 1;
}
@media only screen and (max-height: 900px) and (min-height: 768px) {
    .ti3-resize-wrapper{
        max-height: 450px;
    }
}

  @media only screen and (max-height: 768px) {
    .ti3-resize-wrapper{
        max-height: 330px;
    }
  }