.webpack-situation-modal,
.webpack-success-modal,
.webpack-fail-modal{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.webpack-situation-wrap,
.webpack-success-wrap,
.webpack-fail-wrap {

    .situation {
        font-size: 32px;
        color: #282b33;
        margin: 32px 0;
    }
    .tip,
    .analyzing{
        font-size: 14px;
        color: #888;
    }
    
}
.webpack-situation-wrap{
    .img{
        height: 154px;
        margin: 0 auto;
    }
    .analyzing img{
        vertical-align: middle;
        margin-right: 10px;
    }
}
@keyframes loading{
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
img.loading{
    animation: loading 2s linear infinite;
}

.progress-modal, .success-modal {
    background: #fff;
    font-size: 14px;
    .gif{
        width: 400px;
    }
    .analyzing img{
        vertical-align: middle;
        margin-right: 10px;
    }
    .madal-content {
        text-align: left;

        p {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            .content {
                padding-left: 10px;
                width: 380px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .progress-bar-bg{
            width: 440px;
            height: 3px;
            background-color: darkgray;
            border-radius: 2px;
            margin: 0 auto;
            margin-top: 16px;
            position: relative;
            .progress-bar{
                width: 60px;
                height: 5px;
                background-color:#68D196;
                text-align: center;
                border-radius: 2px;
                position: absolute;
                top: -1px;
                left: 0;
            }
        }
    }


}


@keyframes fadeInLeft {
	0% {
		transform: translateX(0px);
	}	
	100% {
		transform: translateX(380px);
	}
}

.progress-bar{
    -webkit-animation: 'fadeInLeft' 3s infinite alternate;
}