$col222: #222;
$col0067ff: #0067ff;

.user-table {
  margin-top: 16px;

  .reset-pwd {
    margin-right: 8px;
  }
  
  .del-text {
    margin-left: 8px;

    &:before {
      display: inline-block;
      position: relative;
      right: 8px;
      top: 1px;
      content: "";
      width: 1px;
      height: 12px;
      background-color: #E1E6EE;
    }
  }
}

/* create-user modal start */
.mask2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 18px 32px 0 32px;
  height: 95%;

  .edit-box {
    margin-top: 24px;
    margin-left: -16px;
    padding-right: 68px;
  }

  .modal-title {
    border-bottom: dashed 1px #d4d9e6;
    padding-bottom: 20px;
    color: $col222;
    font-size: 20px;
  }

  .name-tip {
    margin-top: 10px;
    font-size: 12px;
    color: #888;
    line-height: 12px;
  }

  .title-border {
    flex: 0 0 1px;
    display: block;
    width: 100%;
    background: #d4d9e6;
    margin-top: 1vw;
  }
}

/* create-user modal end */

/* update modal start */
.update-modal, .mask2 {
  position: relative;

  .img-box {
    position: absolute;
    top: 18px;
    right: 32px;
    cursor: pointer;
  }
}

/* update modal end */

.delUserMask {
  position: relative;
  box-sizing: border-box;
  width: 560px;
  padding: 18px 32px;

  .del-header {
    padding-bottom: 18px;
    border-bottom: dashed 1px #d4d9e6;

    .title {
      font-size: 20px;
      color: #222;
      line-height: 30px;
    }

    img {
      position: absolute;
      top: 30px;
      right: 23px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .tip {
    margin-top: 26px;
    margin-bottom: 22px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    img,
    span {
      vertical-align: middle;
    }
  }

  .form {
    margin-left: -10px;
    ;
  }
}

/* common modal start */
.btn-box {
  margin: 32px 0;
  text-align: center;

  .user-sure-btn {
    margin-right: 16px;
  }
}

ti-formfield {
  ti-item {
    input {
      width: 300px;
    }
  }
}

:host .edit-box ::ng-deep .ti3-form .ti3-form-label {
  width: 190px;
}

/* common start end */

// ti-table错位问题
:host ::ng-deep .ti3-table>.ti3-table-fixed-head>table {
  table-layout: fixed;
}

:host ::ng-deep .ti3-table>.ti3-table-container>table {
  table-layout: fixed;
}

.user-manage {
  .create-btn {
    width: 88px;
    padding: 0 !important;
  }
}
