<!-- 配置管理页面 -->
<div class="config-container">
  <div class="left">
    <header>
      <div class="return" (click)="closeLeftMenu()">
        <img src="./assets/img/header/return-7.png">
        {{i18n.common_term_return}}
      </div>
    </header>
    
    <ul class="config-leftmenu">
      <li *ngFor="let item of leftMenuList" [ngClass]="{'notShow':item.admin && role !=='Admin'}"
        routerLink="/configuration/{{item.params}}" routerLinkActive="active" (click)="getItemData(item)">
        <span>{{item.title}}</span>
      </li>
    </ul>

  </div>
  <div class="right">
    <div class="right-content">
      <app-user-management *ngIf="ifLeftMenuShow === 'userManage'"></app-user-management>
      <app-mission-reservation-list *ngIf="ifLeftMenuShow === 'ScheduledTasks'" #pretablelist>
      </app-mission-reservation-list>
      <app-mission-templates-all *ngIf="ifLeftMenuShow === 'missionTemplate'" #templatesAll></app-mission-templates-all>
      <app-log-manage *ngIf="ifLeftMenuShow === 'logManage'"></app-log-manage>
      <app-header-system-setting *ngIf="ifLeftMenuShow === 'sysConfig'"></app-header-system-setting>
      <app-weak-pwd *ngIf="ifLeftMenuShow === 'passwordDic'"></app-weak-pwd>
      <app-import-and-export-task-list *ngIf="ifLeftMenuShow === 'importAndExportTaskList'"></app-import-and-export-task-list>
    </div>
  </div>
</div>