.hy-nodata-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;

  .hy-nodata-icon {
    width: 320px;
  }
}
