<div class="hy-nodata-container">
  <ng-container [ngSwitch]="theme$ | async">
    <div *ngSwitchCase="themeEnum.Dark" class="hy-nodata-icon">
      <hy-icon-static [name]="'nodataDark'"></hy-icon-static>
    </div>
    <div *ngSwitchCase="themeEnum.Grey" class="hy-nodata-icon">
      <hy-icon-static [name]="'nodataGery'"></hy-icon-static>
    </div>
    <div *ngSwitchDefault class="hy-nodata-icon">
      <hy-icon-static [name]="'nodataLight'"></hy-icon-static>
    </div>
  </ng-container>
  <div class="hy-nodata-text">
    <ng-container *ngIf="showConfig?.text == null; else showConfigText">
      {{'hyNodata.nodata' | hyTranslate}}
    </ng-container>
    <ng-template #showConfigText>
      {{ showConfig.text }}
    </ng-template>
  </div>
</div>