.light {
  --title-color: #222222;
  --table-input-after-txt-color: #979797;
}
.dark {
  --title-color: #e8e8e8;
  --table-input-after-txt-color: #888888;
}
.warpper {
  .change-area {
    margin-top: 20px;
  }

  .fix-area {
    margin-top: 15px;
  }

  .title {
    width: fit-content;
    font-size: 14px;
    color: var(--title-color);
    display: flex;
    align-items: center;
    margin: 32px 0 0 16px;

    span {
      cursor: pointer;
    }
    img {
      width: 14px;
      height: 14px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .radios {
    display: flex;
    height: 28px;
    align-items: center;
  }

  .label_margin {
    margin-left: 16px;
  }

  .flex {
    width: fit-content;
    display: flex;
    align-items: center;

    img {
      margin-left: 8px;
      width: 14px;
      height: 14px;
    }
  }

  .paramValue {
    input {
      width: 326px;
    }
    span {
      font-size: 12px;
      color: var(--table-input-after-txt-color);
      margin-left: 8px;
    }
  }
}
