.setting {
  width: 100%;
  display: flex;
  flex-direction: column;
  .share-setting,
  .java-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    .setting-header {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      color: #222222;
    }
    .setting-contents {
      display: flex;
      flex-direction: column;
      .setting-list {
        display: flex;
        flex-direction: column;
        .form {
          margin: 16px 0px 0px 0px;
          .select-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          .error-message {
            font-size: 14px;
            display: flex;
            align-items: center;
            min-height: 24px;
            line-height: 24px;
            margin: 4px 0;
            color: #ff4c4c;
            .error-img {
              margin-right: 5px;
              width: 16px;
              height: 16px;
            }
          }
        }
        .button-control {
          margin-top: 8px;
          .ti3-btn,
          [tiButton] {
            padding: 0px !important;
          }
          .btns {
            .confirm {
              margin-right: 16px;
            }
          }
          button {
            text-align: center;
            width: 88px;
          }
        }
      }
    }
  }
  .java-setting {
    margin-top: 30px;
  }
}
ti-select {
  width: 400px;
  margin-right: 8px;
}
:host .setting-list[lang="zh-cn"] ::ng-deep .ti3-form .ti3-form-label {
  width: 20vw;
}
:host .setting-list[lang="en-us"] ::ng-deep .ti3-form .ti3-form-label {
  min-width: 23vw;
}
:host
  ::ng-deep
  [disabled]
  section.ti3-select-dominator-text
  .ti3-overflow-padding {
  color: #cccccc !important;
}
.manage-log-title {
  font-size: 14px;
}
.manage-log-tip {
  line-height: 18px;
}
