<div class="container">
    <div class="top">
        <h3>{{i18n.common_term_orginal_source_code_label}}</h3>
        <div class="menu">
          <ul>
            <li class="line" style="width: 14px;" (click)=prev() [tiTip]="i18n.common_term_advised_prev_label">
              <span>
                <app-icon-react name="prev"></app-icon-react>
              </span>
            </li>
            <li (click)=next() [tiTip]="i18n.common_term_advised_next_label">
              <span>
                <app-icon-react name="next"></app-icon-react>
              </span>
            </li>
          </ul>
        </div>
       
    </div>
    <div class="main" id='codes'>
       
    </div>
    
</div>
