:host .structure{
    padding-top: 20px;
    
    .node-config-modal {
        .tip {
            padding-left: 16px;
            display: flex;
            align-items: center;
            color: #6c7280;
        }
    }
    footer {
        margin-top: 40px;
        padding-bottom: 20px;
        button {
            height: 28px;
            line-height: 0px;
            margin-right: 20px;
            min-width: 120px;
            margin-left: 0;
            padding: 0 !important;
            text-align: center;
        }
    
        button.toRight {
            margin-left: 0 !important;
        }
    }
    
    .footer {
        position: absolute;
        bottom: 24px;
        left: calc(50% - 130px);
        padding-bottom: 0;
    }
}
.imgQuestion {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.structure.strulab {
    margin-top: -60px;
}

.myradio.radiomarg {
    margin-top: 10px;
    margin-right: 60px !important;

}

p.changcontent {
    color: #e8e8e8 !important;
}

.sys-type-label.anasytip {
    width: auto !important;
}

//标题

::ng-deep .structure>ti-formfield>.ti3-form .ti3-form-label {
    color: var(--d-aaaaaa-l-616161) !important;
    padding: 0;
    .wrap{
        display: inline-block;
        white-space: normal;
        line-height: 18px !important;
        height: 35px;
    }
}

::ng-deep input[type=radio][tiRadio]+.ti3-radio .ti3-radio-skin {
    background-color: #1E1E1E !important;
    border-color: #888888;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-skin::after {
    background-color: #0067FF !important;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):checked+.ti3-radio .ti3-radio-skin {
    animation: 0 !important;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-skin:focus {
    border-color: #0067FF !important;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-skin:hover {
    border-color: #0067FF !important;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-skin:active {
    border-color: #0067FF !important;
    background-color: #1E1E1E !important;
    animation: 0 !important
}

::ng-deep input[type=checkbox][tiCheckbox]:not(:disabled):not(:checked)+.ti3-checkbox .ti3-checkbox-skin:active {
    animation: none;
}

::ng-deep input[type=checkbox][tiCheckbox]:not([disabled]):not(:checked)+.ti3-checkbox .ti3-checkbox-skin:active {
    border-color: #b7b7b7;
}

::ng-deep input[type=checkbox][tiCheckbox]:not([disabled]):not(:checked)+.ti3-checkbox .ti3-checkbox-skin:focus {
    border-color: #b7b7b7;
}

ti-formfield ::ng-deep input[type=radio][tiRadio]+.ti3-radio .ti3-radio-label {
    color: #E8E8E8;
}

ti-formfield ::ng-deep .desc-content {
    color: #888888;
}

ti-formfield ::ng-deep .desc-content1 {
    color: #888888;
    margin-top: 10px;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-skin {
    border-color: #888888 !important;
}

::ng-deep input[type=radio][tiRadio]:not(:disabled):not(:checked)+.ti3-radio .ti3-radio-skin:active {
    border-color: #0067FF !important;
    background-color: #1E1E1E !important;
}

//加减输入框
::ng-deep .ti3-spinner-container {
    width: 104px !important;
    border: 1px solid #888888 !important;
}

::ng-deep .ti3-spinner-container:hover {
    border: 1px solid #0067FF !important;
}

::ng-deep .ti3-icon-add:before,
::ng-deep .ti3-icon-reduce:before {
    color: #AAAAAA !important;
}

::ng-deep .ti3-icon-add:hover:before,
::ng-deep .ti3-icon-reduce:hover:before {
    color: #E8E8E8 !important;
}

::ng-deep .vscode-light {
    .ti3-icon.ti3-spinner-downicon.ti3-icon-reduce.ti3-spinner-icon-disabled {
        color: #aaa !important;
        background-color: #f0f0f0 !important;
    }

    .ti3-icon.ti3-spinner-downicon.ti3-icon-reduce {
        color: #333 !important;
        background-color: #fff !important;
    }

    input.ti3-spinner-input.ng-untouched.ng-valid.ti3-text-input-noborder.ng-dirty {
        color: #333 !important;
        background-color: #fff !important;
    }

    .ti3-icon.ti3-spinner-upicon.ti3-icon-add {
        background-color: #fff !important;
    }

    .ti3-spinner-input-box {
        background-color: #fff !important;
    }

    input[type=radio][tiRadio]+.ti3-radio .ti3-radio-skin {
        background-color: #fff !important;
    }

    input.ng-pristine.ng-valid.ng-touched {
        background-color: #fff !important;
    }

    input.ng-valid.ng-touched.ng-dirty {
        background-color: #fff !important;
    }

    input.ng-untouched.ng-pristine.ng-valid {
        background-color: unset !important;
    }

    ti-dominator.ti3-select-dominator-container.ng-untouched.ng-pristine.ng-valid {
        background-color: #fff !important;
    }

}


.create .ti3-spinner-container .ti3-spinner-downicon:hover,
.create .ti3-spinner-container .ti3-spinner-upicon:hover {
    background: #161616 !important;
    color: #AAAAAA !important;
}

//分析指标
::ng-deep input[type=checkbox][tiCheckbox]+.ti3-checkbox .ti3-checkbox-label {
    color: var(--d-e8e8e8-l-222222) !important;
    font-size: 14px !important;
}

::ng-deep input[type=checkbox][tiCheckbox]+.ti3-checkbox .ti3-checkbox-skin {
    background-color: #1E1E1E;
    border: 1px solid #888888;
}

::ng-deep .sys-type-label>span {
    color: #666 !important;
    margin-right: 20px;
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-items: center;
    min-width: 250px;
}

::ng-deep .sys-type-label>span img {
    width: 12px;
    height: 12px;
}

::ng-deep .sys-type-label>span:nth-child(3) {
    margin-bottom: 10px;
}

::ng-deep .sys-type-label>span:nth-child(4) {
    margin-bottom: 10px;
}

::ng-deep input[type=checkbox][tiCheckbox]:not([disabled]):not(:checked)+.ti3-checkbox .ti3-checkbox-skin:hover {
    border-color: #0067FF !important;
}

//采样范围下拉框
//下拉 
::ng-deep .structure .ti3-form .ti3-form-content {
    padding-bottom: 0 !important;
}

::ng-deep .ti3-select-dominator-container {
    border: 1px solid #888888 !important;
}

::ng-deep .ti3-select-dominator-container:hover {
    border: 1px solid #0067FF !important;
}
::ng-depp .vscode-dark{
    .ti3-select-dominator-text,
    .ti3-select-dominator-text-delete {
    color: #E8E8E8 !important;
    font-size: 12px !important;
}
}


::ng-deep .ti3-select-dominator-dropdown-btn:after {
    border-top: 5px solid #888888 !important;
}

::ng-deep .ti3-select-dominator-container:focus {
    border: 1px solid #0067FF !important;
}

@keyframes ti3-radio-notChecked-hover-keyframes {
    0% {
        border: 1px solid #888888 !important;
    }

    100% {
        border: 1px solid #0067FF !important;
    }
}

@keyframes ti3-button-default-hover-keyframes {
    0% {
        border: none;
    }

    100% {
        border: none;
    }
}

.margin-bottom {
    position: relative;
}

// 尾后提示
.margin-left {
    display: inline-block;
    width: 92px;
    color: var(--d-aaaaaa-l-979797);
    margin-left: 16px;
}

div.infoicon {
    margin-top: 0px;
    top: 0px !important;
    width: 200px;
}

::ng-deep .fontsize input[type=checkbox][tiCheckbox]+.ti3-checkbox .ti3-checkbox-label {
    font-size: 12px !important;
}

::ng-deep .createMicarchConfirmModal {
    .ti3-icon.ti3-close.ti3-icon-close {
        right: 40px;
        padding-top: 5px;
        font-size: 16px;
    }
}

.structure>ti-formfield ti-item>.noRed {
    border: 1px solid #888888 !important;
}
ti-switch.ti3-switch-container {
    padding-top: 6px;
}

:host ::ng-deep ti-formfield .ti3-form tbody tr td .ti3-form-content {
    margin-bottom: 20px;
}
