<div class="summury-box-download container" [appLoading]='okLoading' [ngClass]="{loadingHeight: okLoading}">
    <!-- 优化建议 -->
    <div *ngIf="!back" class="summuryDownload">
      <app-msg-suggestion  [suggestMsg]="suggestMsg"></app-msg-suggestion>
    </div>
  <!-- 返回 -->
  <div class="back" *ngIf="back">
    <div class="backCursor" (click)="svgBack()">
      <img (mouseenter)="onHover('sysSummuryBack')" (mouseleave)="onHover()" [src]="changeHover==='sysSummuryBack' ?
      './assets/img/header/back_hover.svg':
      './assets/img/header/back.svg'" alt="">
      {{backName}}
    </div>
  </div>
  <!-- 总图  -->
  <app-panorama-analysis *ngIf="showSvgChart.panoramaSvg && tabShowing" (clickElement)='drillDown($event)'  [ngClass]="{ifShow: showSvgChart.panoramaSvg && tabShowing}" class="summuryDownload svgPage"
     [memoryData]="memoryData" [panoramaData]="runtimeInformationData" [isAllSvgChartShow]="isAllSvgChartShow" >
  </app-panorama-analysis>
  <!-- cpu package numa图 -->
  <div  *ngIf="showSvgChart.cpuPackageSvg"  [ngClass]="{ifShow: showSvgChart.cpuPackageSvg}" class="svgPage svgPageCpu">
    <app-cpu-package-numa *ngIf="tabShowing"  [cpuPackageData]='cpuPackageData' [cpuName]='drillDownCpuName'></app-cpu-package-numa>
    <app-cpu-package-numa-table [cpuPackageData]='cpuPackageData' [cpuName]='drillDownCpuName'></app-cpu-package-numa-table>
  </div>
  <!-- 网络子系统svg图 -->
  <div  *ngIf="showSvgChart.networkSvg" [ngClass]="{ifShow: showSvgChart.networkSvg}" class="svgPage svgPageNet">
    <app-network-subsystem-chart *ngIf="tabShowing" [networkData]='networkData' [cpuName]='drillDownNetCpuName'></app-network-subsystem-chart>
    <app-network-table [networkData]='networkData' [cpuName]='drillDownNetCpuName'></app-network-table>
  </div>
  <!-- 内存子系统 svg图-->
  <div   *ngIf="showSvgChart.memorySvg" [ngClass]="{ifShow: showSvgChart.memorySvg}" class="svgPage svgPageMem">
    <app-memory-subsystem *ngIf="tabShowing"  [memoryData]="memoryData" [isAllSvgChartShow]="isAllSvgChartShow"></app-memory-subsystem>
    <app-memory-table [memoryData]="memoryData"></app-memory-table>
  </div>
  
  <!-- 存储子系统 svg图 -->
  <div  *ngIf="showSvgChart.storageSvg" [ngClass]="{ifShow: showSvgChart.storageSvg}" class="svgPage svgPageStorage">
    <app-storage-subsystem  *ngIf="tabShowing" [storageData]="storageData" [currentCpu]="drillDownStorageCpuName" [isAllSvgChartShow]="isAllSvgChartShow"></app-storage-subsystem>
    <app-storage-table  [storageData]="storageData" [currentCpu]="drillDownStorageCpuName"></app-storage-table>
  </div>
  <div *ngIf="chartSwitch">
    <!-- cpu package -->
    <app-cpu-package *ngIf="showData.cpuPackage"  [cpuPackageData]='cpuPackageData'></app-cpu-package>
    <!-- 内存子系统 -->
    <app-memory-subsystem-data *ngIf="showData.memorySubsystem" [memoryData]='memoryData'></app-memory-subsystem-data>
    <!-- 存储子系统 -->
    <app-storage-subsystem-data *ngIf="showData.storageSubsystem" [storageData]='storageData'>
    </app-storage-subsystem-data>
    <!-- 网络子系统 -->
    <app-network-subsystem-data *ngIf="showData.networkSubsystem" [networkData]='networkData'>
    </app-network-subsystem-data>
  </div>

  <!-- 运行时环境信息 -->
  <app-runtime-information *ngIf="showData.runtimeInformation&&pagesizeShow" [runtimeInformationData]='runtimeInformationData' [ngClass]="{ifShow: showData.runtimeInformation}" class=" summuryDownload svgPage"
    [nodeid]='nodeid' [taskid]='taskid' [Unfold] = 'showSvgChart.panoramaSvg' [pagesizeTipStr]='pagesizeTipStr' [borderShow]='showSvgChart.panoramaSvg '></app-runtime-information>
  <!-- 存储资源配置 -->
  <app-storage-resource-config *ngIf="showData.storageConfig" [nodeid]='nodeid' [taskid]='taskid' [ngClass]="{ifShow: showData.storageConfig}" class="summuryDownload svgPage">
  </app-storage-resource-config>
  <!-- 网口配置 -->
  <app-network-config-data *ngIf="showData.networkConfig" [configItemData]='configItemData'[ngClass]="{ifShow: showData.networkConfig}" class="summuryDownload svgPage"></app-network-config-data>

</div>

