<div class="process-pid-mic-metrics-container">
    <div class="basic-info-box" tiOverflow>
        <span class="info-key">Cycles</span>
        <span class="info-value">{{ micMetricsData?.cycles }}</span>
        <span class="info-key">Instructions</span>
        <span class="info-value">{{ micMetricsData?.instructions }}</span>
        <span class="info-key">IPC</span>
        <span class="info-value">{{ micMetricsData?.IPC }}</span>
    </div>
    <app-common-table class="noPagination" [commonTableData]="tableData" [isPagination]="false"></app-common-table>
</div>