.overview-container {
  padding: 17px 0px 30px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 197px);
  overflow: hidden;
  --ti-tree-minus-square-color: #0067ff;
  --ti-tree-icon-color-active: #0067ff;

  .thread-tabs {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #dfe1e6;
    font-size: 14px;
    padding-bottom: 10px;

    .item-tab {
      display: inline-block;
      cursor: pointer;

      .tab-label {
        padding: 0 12px;
        border-right: 1px solid #e1e6ee;
        color: #616161;
      }
      .tab-label:hover {
        color: #222222;
      }

      .tab-label-first {
        padding-left: 0;
      }

      .item-split-none {
        border-right: none;
      }
    }
    .item-tab:last-child {
      .tab-label {
        border-right: none;
      }
    }
    .tab-active {
      padding-bottom: 7px;
      color: #0067ff !important;
      border-bottom: 3px solid #0067ff;
    }
  }
  .threadBtn {
    margin-top: 21px;
    .btnHelp {
      position: relative;
      top: 2px;
      width: 14px;
      height: 14px;
      margin-left: 10px;
    }
  }
  .thread-nodata {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100% - 44px);
    .no-text {
      color: #616161;
      font-size: 14px;
      line-height: 21px;
      margin-top: 5px;
    }
  }
  .x-labels {
    padding: 10px 0px 0px 300px;
    display: flex;
    border-bottom: 1px solid #eee;
    color: #999;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 60px;
  }

  .thread-content {
    height: calc(100% - 125px);
    overflow-y: auto;

    .chart-box {
      width: 100%;
      height: 600px;
      overflow-y: auto;
      display: flex;
      flex-direction: row;
    }

    .left {
      width: 300px;
      .thread-list {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .right {
      flex: 1;
      background: white;
      position: relative;
    }

    .right-bg {
      position: absolute;

      width: 96%;
      left: 2%;
    }
  }

  .graph-btn {
    background: #6c92fa;
    padding: 8px 25px;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #5b7ede;
    }
  }

  .file-list {
    overflow: hidden;
    vertical-align: top;
    height: calc(100vh - 250px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;

    .leftTree{
      width: 277px;
      .typeSelected{
        width: 120px;
        line-height: 26px;
        float: left;
        margin-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .rightSet{
        float: right;
        display: flex;
        justify-content: center;
        .save-box{
          margin: 22px 10px 17px 0px;
          .svg-toggle {
            img:hover {
              cursor: pointer;
            }

            & > img {
              display: none;
             }

            & > img:nth-of-type(1) {
              display: block;
            }

            &:hover {
              & > img:nth-of-type(1) {
                  display: none;
              }

              & > img:nth-of-type(2) {
                  display: block;
              }

              & > img:nth-of-type(3) {
                  display: none;
              }
            }

            &:active {
              & > img:nth-of-type(1) {
                  display: none;
              }

              & > img:nth-of-type(2) {
                  display: none;
              }

              & > img:nth-of-type(3) {
                  display: block;
              }
            }

          }
        }
      }
    }
    .deleteIcon {
      width: 16px;
      height: 21px;
      margin: 20px 5px 17px 0px;
    }
    .list-content {
      width: 277px;
      padding: 20px 20px 0px 0;
      overflow-y: auto;
      border-top: 1px dashed #e1e6ee;
      height: 90%;
      position: relative;
      .treeContent {
        height: 100%;
        overflow-y: auto;
        .parentSpan {
          width: 100%;
        }
      }
      .leftListBt {
        position: absolute;
        bottom: 10px;
        left: 0;
        .confirm {
          margin-right: 16px;
        }
      }
      img {
        vertical-align: text-bottom;
        margin-right: 8px;
      }

      .list-item {
        line-height: 32px;
        font-size: 12px;
      }

      .item-child {
        white-space: nowrap;
        cursor: pointer;
      }

      .active {
        background-color: var(--ti-table-th-bg-color);
      }

      .item-child:hover {
        background-color: var(--ti-table-th-bg-color);
      }
    }
    .graph-view{
      position: relative;
    }

    .split-line {
      height: 100%;
      border-left: 1px solid #EFF0F5 ;
      padding: 0;
      position: relative;
      .toggle-btn {
        position: absolute;
        top: calc(50% - 45px);
        right: -3px;
        cursor: pointer;
        img {
          width: 20px;
          height: 90px;
        }
      }
      .activeToggle {
        right: -18px;
        transform: rotateY(180deg);
        z-index: 10;

      }
    }

    .file-diff {
      flex: 1;

      .echarts-btns {
        float: right;

        .btn-box {
          border: 1px solid #ccc;
          padding: 3px;
        }
      }

      .echarts-desc {
        position: relative;
        &:after {
          content: "";
          clear: both;
          display: block;
        }

        .desc-number {
          float: left;
        }

        .line-desc {
          position: fixed;
          right: 130px;
        }
      }
    }
  }
  .graph-list{
    height: 100%;
  }

  .file-diff {
    box-sizing: border-box;
    float: left;
    height: 100%;
    vertical-align: top;
    overflow: auto;

    .source-area {
      flex: 1;
    }

    .advised-area {
      flex: 1;
    }

    &::ng-deep .d2h-file-diff {
      overflow-y: visible;
    }

    &::ng-deep .d2h-code-linenumber {
      position: static;
      border-width: 3px 0px;
    }

    &::ng-deep .code tbody tr td .d2h-code-line {
      padding: 0 !important;
    }
  }

  .active {
    background-color: var(--ti-table-th-bg-color);
  }

  .overflow-class {
    width: 280px;
    vertical-align: bottom;
  }

  .circel-running,
  .circel-deadlock {
    display: inline-block;
    margin-bottom: 24px;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #67c78b;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .circel-deadlock {
    span {
      background: #f45c5e;
      margin-left: 20px;
    }
  }

  .loadData {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}

.graph-header {
  width: 98%;
  padding: 40px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  .graph-control {
    display: flex;
    justify-content: flex-start;
    min-width: 300px;
    min-height: 28px;
    .obersver {
      margin-right: 8px;
    }
    .obersver,
    .compare {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .control-label {
        margin-right: 8px;
      }
      .control-switch {
        margin-right: 8px;
      }
    }
  }
  .graph-status {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 377px;
    .status {
      display: flex;
      justify-content: flex-end;
      div {
        height: 32px;
        line-height: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 8px;
        color: #6c7280;
        .circle {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 8px;
        }
        .green {
          background-color: rgba(122, 223, 160, 0.75);
        }
        .red {
          background-color: rgba(244, 92, 94, 0.75);
        }
        .yellow {
          background-color: rgba(236, 232, 95, 1);
        }
        .orange {
          background-color: rgba(232, 153, 84, 1);
        }
      }
    }
    .lines {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      div {
        color: #6c7280;
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
        }
      }
      .dashLine {
        margin-right: 24px;
      }
    }
  }
}
.lock-graph {
  background-size: 100%;
  background-image: url("../../../assets/img/projects/lock_graph_bg.png");
  background-repeat: repeat;
}
.graph-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 90px;
  .graph-svg{
    display: flex;
    .left {
      min-width: 600px;
      height: 100%;
    }
    .right {
      height: 100%;
      min-width: 600px;
    }
  }
}

.move-line {
  color: #838a9b;
}
.unDataThread {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  box-sizing: border-box;
  color: #979797;
  div {
    color: #616161;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
}
.dnone {
  display: none;
}
.dblock {
  display: block;
}
.thread-title-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .thread-title-top-left {
    position: relative;
    top: 20px;
  }
}
.btn-search {
  display: flex;
  align-items: baseline;
  .btn-search-btn{
    width: 150px!important;
    height: 32px!important;
  }
}
:host ::ng-deep ti-tag.ti3-multiselect-box-cell .ti3-icon-close-staic {
  display: none;
}
:host ::ng-deep .btn-search .ti3-multiselect-box-cell .ti3-box-cell-key {
  width: 65px !important;
}

:host ::ng-deep .btn-search .ti3-multiselect-container > .ti3-select-dominator-text {
  align-items: center;
  overflow: hidden !important;
  padding: 0!important;
}
::ng-deep .ti3-select-dominator-text {
  margin-top: -2px !important;
}
:host ::ng-deep .inputDiv .ti3-multiselect-box-cell .ti3-box-cell-key {
  width: 68px !important;
}
:host
  .treeContent
  ::ng-deep
  .ti3-tree-container
  .ti3-tree-parent-node
  .ti3-tree-leaf-node
  .ti3-tree-parent-node
  .ti3-tree-checkbox-wrapper {
  display: none;
}
.control-select1 {
  width: 89px;
}
.control-select2 {
  width: 168px;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding: 0 32px 31px 32px;
  overflow: hidden;
  .header {
    font-size: 20px;
    color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    border-bottom: solid 1px #e1e6ee;
    .close {
      cursor: pointer;
    }
  }
  .main-body {
    width: 100%;
    align-items: center;
    margin-top: 20px;
    .tip{
      .report-tips {
        background-color: #f0f6ff;
        border-radius: 2px;
        border: solid 1px #0067ff;
        min-width: 496px;
        display: flex;
        font-size: 12px;
        color: #222222;
        justify-content: space-between;
        padding: 10px 17px;
        div {
          img {
            vertical-align: middle;
          }
          .span {
            padding-left: 9px;
          }
        }
        .report-icon {
          padding-left: 0px;
        }
        .report-icon1 {
          height: 16px;
          width: 16px;
          cursor: pointer;
        }
        .report-close {
          justify-content: center;
          cursor: pointer;
          width: 16px;
          height: 16px;
        }
      }
    }
    .inputDiv {
      margin-top: 20px;
      height: 100%;
      position: relative;
      display: flex;
      .leftText {
        font-size: 14px;
        line-height: 30px;
        color: #616161;
        display: block;
        width: 120px;
        flex-shrink: 0;
      }
      .text{
        height: 30px;
        line-height: 30px;
      }
      .right {
        width: 300px;
        .saveRecord{
          width: 100%;
          height: 28px;
          ::ng-deep .ti3-select-dominator-container {
            display: block;
          }
        }
        input{
          width: 300px;
        }
      }
    }
  }
  .foot {
    width: 100%;
    text-align: center;
    margin-top: 31px;
    button {
      width: 88px;
      height: 28px;
      line-height: 26px;
    }
    .confirm {
      margin-right: 16px;
    }
  }
}
.alertLink{
  top: 50px;
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  .see{
    cursor: pointer;
    color: #0067ff;
    margin-left: 10px;
  }
}
::ng-deep ti-alert{
  width: auto !important;
}
.obersver-select{
  display: block;
  width: 89px;
}
.compare-select{
  display: block;
  width: 168px;
}
.zoom-screen {
  position: fixed;
  right: 70px;
  bottom: 48px;
}
