<div class="porting-password">
    <input
        class="password-input"
        [type]="inputType"
        autocomplete="off"
        oncontextmenu="return false"
        (cut)="cutHandler($event)"
        (copy)="copyHandler($event)"
        (paste)="pasteHandler($event)"
        (keyup)="keyEventHandler($event)"
        (keydown)="keyEventHandler($event)"
        tiText
        [tiValidation]="appTiValidation"
        [errorMessageWrapper]="passwordTip"
        [value]="inputValue"
        [disabled]="isDisabled"
        (change)="changeHandler($event)"
        (blur)="onTouched()"
        maxlength="32" noeye
    />
    <span #passwordTip></span>
    <div class="password-eyes" (click)="eyesClickHandler()">
        <img *ngIf="inputType === 'text'" src="./assets/img/icon-view.svg" />
        <img *ngIf="inputType === 'password'" src="./assets/img/icon-hide.svg" />
    </div>
</div>
