.porting-password {
    position: relative;
    width: 400px;

    .password-input {
        width: 100%;
        background: none !important;
    }

    .password-eyes {
        position: absolute;
        top: 0;
        right: 5px;
        height: 28px;
        display: flex;
        align-items: center;

        > img {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }

}