// 深色主题
::ng-deep .vscode-dark {

    ::ng-deep .ti3-table>table>tbody>tr,
    .ti3-table>.ti3-resize-wrapper>table>tbody>tr,
    .ti3-table>.ti3-table-fixed-head>table>tbody>tr,
    .ti3-table>.ti3-table-container>table>tbody>tr {
        background-color: #161616 !important;
        color: #545454;
    }

    ::ng-deep .ti3-table>table>thead>tr>th:not(:last-child)::after {
        background-color: #4b4b4b;
    }



    .suggest-title {
        color: #e8e8e8;
    }

    .ctx {
        .sug-header {
            border-bottom: 1px solid #4b4b4b;
            color: #e8e8e8;
        }
    }

    .sug-btn {
        .sug-button {
            color: #ddd;
            background: #313131;
        }
    }

    .opti_title {
        color: #e8e8e8;
    }

    .left-color {
        background-color: #313131;
        border-right: 2px solid #0067ff;
    }

    .sug-border {
        border-bottom: 1px solid #4b4b4b;
    }

    .dark-icon {
        display: initial;
    }
    .light-icon {
        display: none;
    }
}

// 亮色主题
::ng-deep .vscode-light {

    .suggest-title {
        color: #222222;
    }

    .ctx {
        .sug-header {
            border-bottom: 1px solid #e1e6ee;
            color: #222222;
        }
    }


    .opti_title {
        color: #222;
    }

    .left-color {
        background-color: #f5f9ff;
        border-right: 2px solid #0067ff;
    }

    .sug-border {
        border-bottom: 1px solid #e1e6ee;
    }

    .dark-icon {
        display: none;
    }
    .light-icon {
        display: initial;
    }
}

::ng-deep .ti3-close {
    display: none !important;
}

::ng-deep .ti3-modal-body {
    margin: auto !important;
}

::ng-deep .ti3-modal-body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 2px !important;
}

::ng-deep .ti3-modal-body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px !important;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px !important;
}

::ng-deep .ti3-modal-body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 2px !important;
}

::ng-deep .ti3-btn-default:not([disabled]):hover,
[tiButton]:not([disabled]):hover {
    color: #267dff !important;
    border-color: #267dff !important;
}

::ng-deep .ti3-modal-footer {
    padding-bottom: 32px !important;
}

.set-body, .noData {
    height: 441px;
}

.progress-bg {
    background: rgba(0, 0, 0, 0.298);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 26px;

    .suggest-title {
        font-size: 20px;
        height: 26px;
        line-height: 26px;
    }
}





.ctx {
    width: 580px;
    margin: 0 auto;
    overflow: auto;

    .sug-header {
        display: flex;
        height: 44px;
        line-height: 44px;
        font-size: 14px;

        .sug-div {
            display: flex;
            padding-left: 24px;

            span {
                padding-left: 12px;
            }
        }

        .arow {
            padding-left: 15px;
            cursor: pointer;
            transform: rotate(360deg);
            img {
                vertical-align: middle;
            }
        }

        .toggle-up {
            cursor: pointer;
            transform: rotate(270deg);
        }
    }

    .sug-content {
        font-size: 14px;
        overflow: auto;
        display: flex;
        width: 100%;
        padding: 16px 24px;
    }
}

.sug-btn {
    height: 32px;
    .sug-button {
        width: 88px;
    }

    .sug-button:hover {
        color: #267dff !important;
        border-color: #267dff !important;
        background: var(--d-313131-l-ffffff);
    }
}

.opti_title {
    font-size: 14px;
    margin: 16px 24px 12px 24px;
}

.sug-table {
    margin: 0px 0px 32px 24px;
}

.left-color {
    min-width: 40px;
}

.sug-border {
    display: flex;
}

.tip-close {

    img:hover {
        cursor: pointer;
    }

    &>img {
        display: none;
    }

    &>img:nth-of-type(1) {
        display: block;
    }

    &:hover {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }
    }

    &:active {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }
    }
}
#addWeakBody {
    overflow-x: hidden !important;
    --ti-modal-content-margin: 0
}
#weakHeader {
    padding: 20px 0;
}