<div class="suggest-section">
    <div class="suggest-title">{{suggestData.title}}</div>
    <div class="action-box">
        <div class="action" *ngFor="let item of suggestData.data">
            <div class="action-title">{{item.title}}</div>
            <div class="button right"  [ngClass]="{'checked': item.effect, 'isNotOwner': taskDetail.ownerId !== loginId && loginId !== '1' || item.effect}">
                <input  type="checkbox"  [(ngModel)]="item.effect" (change)="getStatus('effect',item.effect,item)" >
                <ti-icon [name]="'alert-success'" class="close" ></ti-icon>
                {{i18n.tuninghelper.record.effective }}
            </div>
            <div class="button error" [ngClass]="{'checked': item.invalid, 'isNotOwner': taskDetail.ownerId !== loginId  && loginId !== '1' || item.invalid}">
                <input  type="checkbox"  [(ngModel)]="item.invalid"  (change)="getStatus('invalid',item.invalid,item)">
                <ti-icon [name]="'close'" class="close" ></ti-icon>
                {{i18n.tuninghelper.record.invalidation }}
            </div>
        </div>
    </div>
</div>
