<div class="process" [ngClass]="{fontsize: isModifySchedule}">
    <ti-formfield [labelWidth]="labelWidth" [formGroup]="processForm">
        <!-- 采样时长 -->
        <ti-item [label]="processItems.duration.label" [required]="processItems.duration.required">
            <div class='info-icon margin-bottom' [ngClass]="{infoicon: isModifySchedule}" style="align-items: center;"
                [style.left]="tipInfoLeftPosition">
                <ti-spinner name='spinner' (blur)="selectBlur($event,'duration')" (click)="updateWebViewPage()"
                    [step]='processItems.duration.spinner.step' [format]="processItems.duration.spinner.format"
                    [placeholder]='processItems.duration.spinner.placeholder' tiValidation formControlName='duration'
                    class="tiWidth" [appSpinnerBlur]="samplingDurationBlur"></ti-spinner>
                <span class="tiItem" [ngClass]="{'infospan': isModifySchedule}">{{processItems.info.label}}</span>
            </div>
        </ti-item>
        <!-- 采样间隔 -->
        <ti-item [label]="processItems.interval.label" [required]="processItems.interval.required">
            <div class='info-icon margin-bottom' [ngClass]="{infoicon: isModifySchedule}" style="align-items: center;"
                [style.left]="tipInfoLeftPosition">
                <ti-spinner name='spinner' (blur)="selectBlur($event,'interval')" (click)="updateWebViewPage()"
                    [step]='processItems.interval.spinner.step' [format]="processItems.interval.spinner.format"
                    [placeholder]='processItems.interval.spinner.placeholder' tiValidation formControlName='interval'
                    class="tiWidth" [appSpinnerBlur]="intervalBlur"></ti-spinner>
                <span *ngIf="!isModifySchedule" class="tiItem">{{i18n.process.intervalTip1}}</span>
            </div>
            <span *ngIf="isModifySchedule" class="tiItem"
                [ngClass]="{iteminfo: isModifySchedule}">{{i18n.process.intervalTip1}}</span>
        </ti-item>
        <ti-item [label]="processItems.type.label" [required]="processItems.duration.required">
            <div class="sys-type-label newCheck" [ngClass]="{labcheck: isModifySchedule}">
                <span *ngFor="let item of processTypeOptions" class="tiType" [ngClass]="{ti_type: isModifySchedule}">
                    <input type="checkbox" tiCheckitem [item]="item" [beCheckeds]="processCheckedTypes"
                        [label]="item.text">
                    <span style="padding-left: 10px;"></span>
                </span>
            </div>
        </ti-item>
        <ti-item [label]="processItems.trace.label" [required]="false" class='switch' *ngIf="targetClicked">
            <ti-item-label>
                <span>{{i18n.process.label.trace}}</span>
                <img [tiTip]="i18n.process.trace_tip" style="margin-left:10px;" name="info-circle" tiTipMaxWidth='370px'
                    tiTipPosition="bottom" src="./assets/img/template/icon_question.svg">
            </ti-item-label>
            <ti-switch id="trace" [ngClass]="{changswit: isModifySchedule}" formControlName='trace' class="newSw">
            </ti-switch>
        </ti-item>
        <ti-item [label]="processItems.collection.label" [required]="processItems.collection.required" class='switch'>
            <ti-switch id="collection" formControlName='collection' class="mySw"
                (click)="updateWebViewPage()" [ngClass]="{changswit: isModifySchedule}"></ti-switch>
        </ti-item>
    </ti-formfield>
    <!-- 配置节点参数 -->
    <div class="node-config-modal import-btn" style="margin-top:20px;">
        <app-mission-node-config [hidden]="!showNodeConfig" #nodeConfigC [labelWidth]="labelWidth"
            [isAbled]="!(processForm.valid && processCheckedTypes.length > 0 && taskNameValid && appAndPidValid && modeAppRunUserValid)"
            [taskType]="'process-thread-analysis'" [formData]="formDatas" [projectId]="projectId"
            [nodeConfigShow]="nodeConfigShow" [nodeConfigedData]="nodeConfigedData" [runUserData]="runUserData"
            [modeAppPathAllow]="modeAppPathAllow" [isModifySchedule]="isModifySchedule"
            (onsControlNode)="onControlNode($event)" (onsOpentNode)="handleNodeEmit($event)"></app-mission-node-config>
    </div>
    <!-- 预约 -->
    <div style="margin-top: 20px; flex:1">
        <app-mission-reservation #preSwitchProcess [labelWidth]="labelWidth"
            [isModifySchedule]="isModifySchedule || isRestart || isEdit" [switch]="switchState">
        </app-mission-reservation>
        <!-- 立即 -->
        <div class="immediately" *ngIf='!preSwitchProcess.switchState && !isRestart'>
            <div *ngIf="switchState" [tiTip]="i18n.mission_create.disableeTip">
                <input type="checkbox" tiCheckbox [name]='startCheckProcess.title'
                    [(ngModel)]="startCheckProcess.checked" [disabled]="switchState">
            </div>
            <input *ngIf="!switchState" type="checkbox" tiCheckbox [name]='startCheckProcess.title'
                [(ngModel)]="startCheckProcess.checked">
            <span class="start-now">{{startCheckC.title}}</span>
        </div>
    </div>
    <footer [ngClass]="{ footer: isModifySchedule }">
        <button class="little-primary-btn" type="button" color="primary" (click)="createProcess(isEdit)"
            [ngClass]="{toRight: isModifySchedule}" [disabled]='!(processForm.valid  
                && processCheckedTypes.length>0 && taskNameValid  && appAndPidValid
                && (preSwitchProcess.previewState || !preSwitchProcess.switchState) 
            )'>
            {{i18n.common_term_operate_ok}}</button>
        <button class="little-minor-btn" type="button" (click)="close()"> {{i18n.common_term_operate_cancel}} </button>
        <button class="little-minor-btn" type="button" (click)="saveTemplates()" *ngIf="!isModifySchedule"
            [disabled]='!(processForm.valid  && processCheckedTypes.length>0 && taskNameValid  && appAndPidValid &&
                (preSwitchProcess.previewState || !preSwitchProcess.switchState))'>{{i18n.mission_modal.saveTemplates}}</button>
    </footer>
</div>
<ng-template #createProcessConfirmModal let-context='context'>
    <ti-modal-header>{{i18n.secret_title}}</ti-modal-header>

    <ti-modal-body>
        <div style="display:flex;font-size: 12px;color: #888888;line-height: 18px;">
            <img src="./assets/img/common/icon_warning.png" alt="" style="width:20px;height:20px;">
            <span style="margin-left:12px;font-size: 14px;">{{i18n.secret_count}}</span>
        </div>
    </ti-modal-body>

    <ti-modal-footer>
        <button class="little-primary-btn" type="button" color="primary" style="margin-right: 16px;"
            (click)="context.close()">
            {{ i18n.common_term_operate_ok }}
        </button>

        <button class="little-minor-btn" type="button" (click)="context.dismiss()">
            {{ i18n.common_term_operate_cancel }}
        </button>
    </ti-modal-footer>
</ng-template>