<div class="home-container">
    <app-banner></app-banner>
    <div class="project-container">
        <div class="project-left scroll-style">
            <div class="left-container">
                <ul class="otherul" [ngClass]="{'en-otherul': currLang === 'en'}">
                    <div class="migration-title color-dark-e8-light-2" [ngClass]="{'intellij-color': intellijFlag}">
                        {{i18n.plugins_port_migration_appraise}}
                        <a class="help-tips-icon" *ngIf="currLang === 'zh-cn'"
                            (click)="openHyperlinks(pluginUrlCfg.faqElevenZn)">
                            <img *ngIf="currentTheme === 1" src="./assets/img/icon-help-dark.svg" alt="">
                            <img *ngIf="currentTheme === 2" src="./assets/img/icon-help-light.svg" alt="">
                        </a>
                        <a class="help-tips-icon" *ngIf="currLang === 'en' || currLang === 'en-us'" 
                            (click)="openHyperlinks(pluginUrlCfg.faqElevenEn)">
                            <img *ngIf="currentTheme === 1" src="./assets/img/icon-help-dark.svg" alt="">
                            <img *ngIf="currentTheme === 2" src="./assets/img/icon-help-light.svg" alt="">
                        </a>
                    </div>
                    <span class="tipinfo color-dark-8-light-61"
                        [ngClass]="{'intellij-tipinfo': intellijFlag}">{{i18n.plugins_porting_apprisetip_info}}</span>
                    <!-- 分析软件安装包 -->
                    <li class="otherli">
                        <div class="content-title">
                            <div class="checkbox home_checkbox_item input-checkbox">
                                <input tiCheckbox id="softPack" type="checkbox" [(ngModel)]="form1">
                                <p class="color-dark-e8-light-2" [ngClass]="{'intellij-color': intellijFlag}">{{homeContent.packpath.title}} </p>
                            </div>
                            <form [hidden]="!form1" class="ml-26">
                                <div class="softPackUpload">
                                    <input type="radio" *ngFor="let item of softRadioList" tiRadio
                                        name="softPackUpload" [(ngModel)]="isSoftPackUpload" [value]="item.key" [label]="item.value"
                                        (ngModelChange)="onNgSoftRadioModelChange($event)">
                                </div>
                            </form>
                            <div [hidden]="form1" style="margin-left: 26px;">
                                <span class="tipinfo color-dark-8-light-97"
                                    [ngClass]="{'intellij-tipinfo': intellijFlag}">{{homeContent.packpath.tip}}</span>
                            </div>
                        </div>
                        <div class="form-content mt-20 ml-26" [hidden]="!form1" style="padding-bottom: 12px;">
                            <ti-formfield labelWidth="300px">
                                <!-- 已上传的安装包 -->
                                <div *ngIf="isSoftPackUpload !== 'softPackUpload'">
                                    <ti-item>
                                        <div class="pathTip ">
                                            <p class="color-dark-a-light-61" [ngClass]="{'intellij-color':intellijFlag}" style="display: flex;">
                                                <span class="ti3-icon ti3-icon-staricon"></span>
                                                <span>{{i18n.plugins_porting_label_cFile_path1}}{{ userPath }}</span>
                                            </p>
                                        </div>
                                        <textarea tiText cols="30" rows="3" resize="vertical"
                                            [(ngModel)]="inputItems.packpath.value" [placeholder]="inputPrompt"
                                            class="areaMatch srcTextArea" (focus)="areaMatchDis()"
                                            (blur)="blurAreaMatch()" (input)="inputAreaMatch()"
                                            (keyup)="keyupAreaMatch()"
                                            [tiValidation]="validation" [formControl]="filenameLength"
                                            ></textarea>
                                        <!-- 输入自动匹配列表 -->
                                        <div class="areaMatchDiv" *ngIf="displayAreaMatch && (pathlist.length !== 0)">
                                            <ul>
                                                <li *ngFor="let path of pathlist"
                                                    style="cursor: pointer;">
                                                    <p (mousedown)="clickAreaMatch(path)">{{path}}</p>
                                                    <div (mousedown)="isDeleteAreaMatch(path)">
                                                        <img src="./assets/img/analysis/icon_delete_normal.svg"
                                                            onmouseover="this.src='./assets/img/analysis/icon_delete_hover.svg'"
                                                            onmouseout="this.src='./assets/img/analysis/icon_delete_normal.svg'" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ng-template #tipIpt tiTipPosition="top">{{i18n.common_term_src_ipt_tip}}
                                        </ng-template>
                                    </ti-item>
                                </div>
                                <!-- 上传安装包 -->
                                <div *ngIf="isSoftPackUpload === 'softPackUpload'">
                                    <ti-item>
                                        <div class="pathTip">
                                            <p class="color-dark-a-light-61" [ngClass]="{'intellij-color':intellijFlag}" style="display: flex;">
                                                <span class="ti3-icon ti3-icon-staricon"></span>
                                                {{i18n.plugins_porting_label_softPackPath}}{{ userPath }}
                                            </p>
                                        </div>
                                        <div style="margin-bottom: -28px; display: inline-block;
                                        position: relative;">
                                            <textarea class="commonTextArea" tiText cols="30" rows="1"
                                                [(ngModel)]="inputItems.packpath.value"
                                                [placeholder]="inputPrompt1"
                                                [tiValidation]="validation" [formControl]="filenameLength">
                                            </textarea>
                                            <div class="uploadBut">
                                                <button type="button" style="margin-left: 8px;" class="little-minor-btn"
                                                    [disabled]="isUploading"
                                                    onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                                                    onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                                                    (click)="zipUpload()">{{i18n.plugins_common_button_upcode}}</button>
                                                <input type="file" id="zipload" style="display: none;"
                                                    (change)="uploadFile('normal')" [accept]="accrptType" />
                                            </div>
                                        </div>
                                        <ng-template #tipIpt tiTipPosition="top">{{i18n.common_term_src_ipt_tip}}
                                        </ng-template>
                                    </ti-item>
                                </div>
                            </ti-formfield>
                        </div>
                    </li>
                    <!-- 分析已安装软件 -->
                    <li class="otherli">
                        <div class="content-title">
                            <div class="checkbox home_checkbox_item">
                                <div class="input-checkbox" [ngClass]="{'intellij-color': intellijFlag}" *ngIf="!isX86Evn" [tiTip]='isX86EvnTipStr' tiTipPosition='right'
                                    style="display: inline-block;">
                                    <input type="checkbox" tiCheckbox [label]='homeContent.instpath.title' [disabled]="true">
                                </div>
                                <div *ngIf="isX86Evn" class="input-checkbox">
                                    <input *ngIf="isX86Evn" tiCheckbox id="installSoft" type="checkbox"
                                        [(ngModel)]="form2">
                                    <p class="color-dark-e8-light-2" [ngClass]="{'intellij-color': intellijFlag}">{{homeContent.instpath.title}} </p>
                                </div>
                            </div>
                            <div [hidden]="form2" style="margin-left: 26px;">
                                <span class="tipinfo color-dark-8-light-97" style="margin-bottom: 10px;"
                                    [ngClass]="{'intellij-tipinfo': intellijFlag}">
                                    {{homeContent.instpath.tip}}</span>
                            </div>
                        </div>
                        <div class="form-content nopadding ml-26" [hidden]="!form2" style="margin-top: 0;">
                            <ti-formfield [formGroup]="forminst" labelWidth="195px">
                                <ti-item style="position:relative">
                                    <div class="softPackPath color-dark-a-light-61"
                                         [ngClass]="{'intellij-color': intellijFlag}">
                                        <span [ngClass]="{'ti3-icon': inputItems.instpath.required,
                                        'ti3-icon-staricon': inputItems.instpath.required}"></span>
                                        <span>{{inputItems.instpath.label}}</span>
                                    </div>
                                    <div>
                                        <textarea class="" cols="30" rows="3" tiTextarea id="x86InstallPath"
                                            [(ngModel)]="inputItems.instpath.value" [placeholder]="inputPrompt2"
                                            [tiValidation]="validationChange" [formControl]="pathLength">
                                        </textarea>
                                    </div>
                                    <ng-template #tipIpt2 tiTipPosition="top">{{i18n.common_term_src_ipt_tip2}}
                                    </ng-template>
                                </ti-item>
                            </ti-formfield>
                        </div>
                    </li>

                    <li class="common-ipt otherli" style="margin-top: 40px;">
                        <div class="form-content content-title nopadding">
                            <ti-formfield [formGroup]="formsrc" labelWidth="210px">
                                <ti-item>
                                    <div style="text-align: left;">
                                        <button type="button"
                                            [ngClass]="{'intellij-primary-btn': intellijFlag, 'operation-anal': !intellijFlag}"
                                            [disabled]="isAnalyzing
                                            || (!form1 && !form2)                                     
                                            || !inputItems.linuxOS.options.length"
                                            onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                                            onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                                            (click)="checkAnalyzeForm()" style="width: 160px;">
                                            {{i18n.common_term_analysis_btn}}
                                        </button>
                                    </div>
                                </ti-item>
                            </ti-formfield>
                        </div>
                    </li>
                </ul>
                <!-- 目标环境配置 -->
                <ul class="targetEnv">
                    <li class="common-ipt otherli" style="margin-top: 0px;">
                        <div class="form-content content-title nopadding" style="margin-top: 0px;">
                            <div class="sys-lable color-dark-e8-light-2" [ngClass]="{'intellij-color': intellijFlag}">
                                {{i18n.plugins_porting_title_targetOSSetting}}</div>
                            <ti-formfield [formGroup]="formsrc" labelWidth="210px">
                                <!-- 目标操作系统 -->
                                <ti-item>
                                    <div class="labelBottom color-dark-a-light-61"
                                         [ngClass]="{'intellij-tipinfo': intellijFlag}">
                                        <span [ngClass]="{'ti3-icon': inputItems.linuxOS.required,'ti3-icon-staricon': inputItems.linuxOS.required}"></span>
                                        {{inputItems.linuxOS.label}}
                                    </div>
                                    <ti-select class="common-select" [options]="inputItems.linuxOS.options"
                                        formControlName="linuxOS" [searchable]="true"
                                        labelKey='label' (ngModelChange)="osSelectChange($event)"
                                        [ngClass]="{enCommonInput: currLang === 'en', 'intellij-tipinfo': intellijFlag}"
                                        [(ngModel)]="inputItems.linuxOS.selected"
                                        (beforeOpen)="onBeforeOpen($event)">
                                        <ng-template #footer let-item>
                                          <div class="btn-about-more">
                                            <span (mousedown)="openAboutMask()">{{i18n.about_more.about_more_btn}}</span>
                                          </div>
                                        </ng-template>
                                    </ti-select>
                                </ti-item>

                                <ti-item>
                                    <div class="labelBottom color-dark-a-light-61" [ngClass]="{'intellij-tipinfo': intellijFlag}">
                                        <span [ngClass]="{'ti3-icon': inputItems.kernelVersion.required, 'ti3-icon-staricon':inputItems.kernelVersion.required}"></span>
                                        {{inputItems.kernelVersion.label}}
                                    </div>
                                    <input type="text" tiText [(ngModel)]="inputItems.kernelVersion.selected.label"
                                        formControlName="kernelVersion" class="command-input" disabled />
                                </ti-item>

                            </ti-formfield>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="showLoading" class="loading">
        <app-loading [height]="'100%'" [size]="'max'"></app-loading>
    </div>
</div>

<!-- 免责声明 -->
<app-mask-disclaimer></app-mask-disclaimer>

<app-messagebox #exitmask>
    <!-- check_upload情况已存在 -->
    <div class="content config-modal modal-box">
        <p class="modal-title">
            <span>{{i18n.plugins_porting_message_analysis_center.exit.title}}</span>
            <span (click)="closeMaskExit()" class="modal-close-icon">
                <img src="./assets/img/install/icon-close.svg">
                <img src="./assets/img/install/icon-close-hover.svg">
            </span>
        </p>
        <div class="modal-title-border"></div>
        <div class="mask-container">
            <div class="des">
                <img class="des-warn-icon noSpace" alt="" src="./assets/img/home/warn.png" />
                <p *ngIf="isUploadPack">{{exitFileNameReplace}}</p>
                <p *ngIf="!isUploadPack">{{exitFileNameReplaceCode}}</p>
            </div>
        </div>
        <div class="btn-box">
            <button type="button" tiButton color="primary"
            [ngClass]="{'primary-btn user-sure-btn user-intellij-primary-btn': intellijFlag, 'user-little-btn small-primary-btn': !intellijFlag}"
                (click)="uploadAgain('override')">{{i18n.plugins_porting_message_analysis_center.exit.replace}}</button>
            <button type="button" tiButton
            [ngClass]="{'little-minor-btn user-intellij-little-btn': intellijFlag, 'user-little-btn little-minor-btn': !intellijFlag}"
                (click)="uploadAgain('save_as')">{{i18n.plugins_porting_message_analysis_center.exit.save_as}}</button>
            <button type="button" tiButton
            [ngClass]="{'little-minor-btn user-intellij-little-btn': intellijFlag, 'user-little-btn little-minor-bt': !intellijFlag}"
                (click)="closeMaskExit()">{{i18n.plugins_common_button_term_operate_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<app-messagebox #saveasmask>
    <div class="content config-modal modal-box">
        <p class="modal-title">
            <span>{{i18n.plugins_porting_message_analysis_center.exit.save_as}}</span>
            <span (click)="closeMaskSaveAs()" class="modal-close-icon">
                <img src="./assets/img/install/icon-close.svg">
                <img src="./assets/img/install/icon-close-hover.svg">
            </span>
        </p>
        <div class="modal-title-border"></div>
        <div class="mask-container">
            <div class="saveAs">
                <span class="save-label">
                    <span class="ti3-icon ti3-icon-staricon" [ngClass]="{'save-as-star': intellijFlag}"></span>
                    {{i18n.plugins_porting_message_analysis_center.exit.file_name}}
                </span>
                <div class="formArea">
                    <ti-formfield>
                        <ti-item class="save-item">
                            <input *ngIf="isUploadPack" id="saveas-input" class="command-input" type="text" tiText
                                [(ngModel)]="exitFileName" [tiValidation]="validation"
                                [formControl]="confirmUploadZip" />
                            <input *ngIf="!isUploadPack" id="saveas-input" class="command-input" type="text" tiText
                                [(ngModel)]="exitFileNameCode" [tiValidation]="validation"
                                [formControl]="confirmUploadZip" />
                            <span class="suffix">{{suffix}}</span>
                        </ti-item>
                    </ti-formfield>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button type="button" tiButton color="primary" class="user-little-btn small-primary-btn"
            [ngClass]="{'user-sure-btn primary-btn': intellijFlag}"
                (click)="saveAs('save_as')">{{i18n.plugins_common_button_term_operate_ok}}</button>
            <button type="button" tiButton class="little-minor-btn"
            [ngClass]="{'user-close-btn little-minor-btn': intellijFlag}"
                (click)="closeMaskSaveAs()">{{i18n.plugins_common_button_term_operate_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<app-messagebox #uploadConfirmTip>
    <div class="content config-modal modal-box">
        <p class="modal-title">
            <span>{{i18n.plugins_porting_migration_compatible_tip_title}}</span>
            <span (click)="cancelUploadMsgTip()" class="modal-close-icon">
                <img src="./assets/img/install/icon-close.svg">
                <img src="./assets/img/install/icon-close-hover.svg">
            </span>
        </p>
        <div class="mask-container">
            <div class="des">
                <img class="des-warn-icon" alt="" src="./assets/img/home/intellij_icon_tip.svg" />
                <p *ngIf="isUploadPack">{{i18n.plugins_porting_migration_compatible_tip}}</p>
            </div>
        </div>
        <div class="btn-box">
            <button type="button" tiButton class="user-sure-btn user-intellij-primary-btn primary-btn"
                (click)="confirmUploadMsgTip()">{{i18n.plugins_porting_migration_tip_confirm}}</button>
            <button type="button" tiButton class="user-intellij-little-btn little-minor-btn"
                (click)="cancelUploadMsgTip()">{{i18n.plugins_common_button_term_operate_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<!-- 文件名是否含有 aarch64 | arm64  modal-->
<app-messagebox #aarch64Modal>
    <div class="content modal-box">
        <div class="modal-title">
            <span class="title-content">{{i18n.common_term_modal.relayArm.title}}</span>
            <span (click)="fileModalCancel()" class="modal-close-icon">
                <img src="./assets/img/install/icon-close.svg">
                <img src="./assets/img/install/icon-close-hover.svg">
            </span>
        </div>
        <div class="modal-tip-dsc">
            <img src="./assets/img/home/icon_tip.svg" />
            <p>{{i18n.common_term_modal.relayArm.content}}</p>
        </div>
        <div class="modal-group-btn">
            <button type="button" class="btn-confirm"
                (click)="fileModalConfirm('normal')">{{i18n.common_term_operate_ok}}</button>
            <button type="button" class="btn-cancel"
                (click)="fileModalCancel()">{{i18n.common_term_operate_cancel}}</button>
        </div>
    </div>
</app-messagebox>

<!-- 了解更多 -->
<app-messagebox #aboutmore class="modal-about-more">
    <div class="content modal-box">
        <p class="modal-title">
        <span>{{i18n.about_more.title}}</span>
        <span (click)="closeAboutMoreMask()" class="modal-close-icon">
            <img src="./assets/img/install/icon-close.svg">
            <img src="./assets/img/install/icon-close-hover.svg">
        </span>
        </p>
        <div class="modal-container">
            <app-about-more-system [intelliJFlagDef]='intellijFlag'></app-about-more-system>
        </div>
        <div class="modal-footer">
            <button (click)="closeAboutMoreMask()" type="button" tiButton class="little-minor-btn"
            [ngStyle]="{'float':intellijFlag ? 'right':'none'}">
                {{i18n.common_term_operate_close}}
            </button>
        </div>
    </div>
</app-messagebox>
