// 历史记录相关样式

/* 历史报告达到警告值 start */
.reportLimit, .report-limit,
.reportLimiterror, .report-limit-error {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  top: -6px;
  width: 100%;
  padding: 10px 16px;
  color: #222;
  line-height: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  img,
  span {
    vertical-align: middle;
  }
  img {
    margin-right:8px;
  }
}
.reportLimit,
.report-limit {
  background-color: #F0F6FF;
  border: 1px solid $themeColor;
}
.reportLimiterror,
.report-limit-error {
  background-color: #FFEEED;
  border: solid 1px #ED4B4B;
  img {
    margin-top: 2px;
  }
}
/* 历史报告达到警告值 end */

// 下载指令样式
.tip-instruct {
  cursor: pointer;
  &::before {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: -100%;
    left: -100%;
    content: '下载指令已下发';
    min-width: 104px;
    margin-top: 15px;
    background-color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba($color: #000, $alpha: 0.1);
  }
  .tip-span {
    display: inline-block;
    width: 16px;
    height: 19px;
  }
}

// 下载文件指令样式
.tip-file-list {
  cursor: pointer;
  &::before {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: -238%;
    left: -261%;
    content: '下载指令已下发';
    min-width: 104px;
    margin-top: 15px;
    background-color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba($color: #000, $alpha: 0.1);
  }
}

.tip-file-list-en {
  &::before {
    display: none;
    min-width: 200px;
    left: -90px;
    content: 'Download command issued';
    padding: 0 4px;
  }
}

.tip-instruct-en {
  &::before {
    display: none;
    left: -200%;
    content: 'Download command issued';
    padding: 0 4px;
  }
}
.tip-instruct-show {
  &::before {
    display: block;
  }
}

// 无数据
.hs-no-data {
  margin-top: 70px;
  color: #9ea4b3;
  text-align: center;
}
