// 报告页 样式

$common12: 12px;

$col0067ff: #0067ff;

// 复制下载链接
.re-copy-link {
  margin-left: $common16;
  color: $col0067ff;
  cursor: pointer;
  &::before {
    display: inline-block;
    position: relative;
    right: 8px;
    top: 1px;
    content: '';
    width: 1px;
    height: $common12;
    background-color: #E1E6EE;
  }
}
.visited {
  color: #004EC1;
}
.re-copy-inp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -666;
  opacity: 0;
}

// 下拉详情图标
.ti3-icon-angle-transform-down-thin {
  transform: rotate(0);
}
.ti3-icon-angle-transform-up-thin {
  transform: rotate(90deg);
}

// 下载按钮 容器
.re-download-container {
  margin-top: 30px;
}
