<div class="cpu-detail">
  <div class="cpu-usage" *ngIf="memoryUtilization">
    <span class="box-title" style="position: relative;display: block">{{i18n.sys.titles.memUsage}}

    </span>
    <div class="table-box" [appLoading]='usageLoading'>
      <div *ngIf="usagEcharteData.length>0">
        <div *ngFor="let item of usagEcharteData">
          <app-tables #usage [timeLine]='timeLine' (loading)="usageLoading = false" [datas]='item'
            (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
        </div>
      </div>
      <div class="nodata" *ngIf="usagEcharteData.length==0 && !usageLoading">
        <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
        <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
      </div>
    </div>
  </div>

  <div class="cpu-usage" *ngIf="Pagination">
    <span class="box-title" style="position: relative;display: block">{{i18n.sys.titles.memPag}}
    </span>
    <div class="table-box" [appLoading]='pageLoading'>
      <div *ngIf="pageEcharteData.length>0">
        <div *ngFor="let item of pageEcharteData">
          <app-tables #pag [timeLine]='timeLine' (loading)="pageLoading = false" [datas]='item'
            (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
        </div>
      </div>
      <div class="nodata" *ngIf="pageEcharteData.length==0 && !pageLoading">
        <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
        <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
      </div>
    </div>
  </div>

  <div class="cpu-usage" *ngIf="exchange ">
    <span class="box-title" style="position: relative;display: block;">{{i18n.sys.titles.memSwap}}
    </span>
    <div class="table-box" [appLoading]='swapLoading'>
      <div *ngIf="swapEcharteData.length>0">
        <div *ngFor="let item of swapEcharteData">
          <app-tables #swap [timeLine]='timeLine' (loading)="swapLoading = false" [datas]='item' [isHave]="'swap'"
            (dataZoom)='dataZoom($event)' (echartsInstOut)='echartsInstOut($event)'></app-tables>
        </div>
      </div>
      <div class="nodata" *ngIf="swapEcharteData.length==0 && !swapLoading">
        <img style='width:10%;display:block' src='./assets/img/projects/nodata.png' />
        <div style="font-size: 1rem">{{i18n.common_term_task_nodata}}</div>
      </div>
    </div>
  </div>
</div>