<!-- 热点函数 -->
<div class="table-section">
    <div class="table-titl">{{i18n.tuninghelper.taskDetail.hotFunction}}</div>
    <ti-table [(displayedData)]="hotFunction.displayed" [srcData]="hotFunction.srcData" class="top-table custemTable"
        [columns]="hotFunction.columns">
        <div class="ti3-table-fixed-head">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let column of hotFunction.columns" width="{{column.width}}">
                            <div class="thContent">
                            <ti-cell-text tiOverflow>{{column.label}}</ti-cell-text>
                            <app-sub-module-table-sort *ngIf="column.sortKey" [sortStatus]="column.sortStatus"
                                (sortTable)="tableService.sortTable(hotFunction.dataList['data'], hotFunction.columns, column.sortKey, $event)">
                            </app-sub-module-table-sort>
                        </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="ti3-table-container" hyNodata [nodataShow]="hotFunction.displayed.length === 0">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let column of hotFunction.columns"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                    <tr *ngFor="let row of hotFunction.displayed">
                        <td class="td-hover">
                            {{row.function}}
                            <img [tiTip]='tipContent' [tiTipContext]='row' tiTipMaxWidth='400px'
                                src="./assets/img/rocket.svg" class="rocket" style="display: inline-block;"
                                *ngIf="row.suggestion_url">
                        </td>
                        <td tiOverflow>{{row.module}}</td>
                        <td tiOverflow>{{row.module}}</td>
                        <td tiOverflow>{{row.module}}</td>
                        <td tiOverflow>{{row.module }}</td>
                        <td tiOverflow>{{row.module | threePoint:6}}</td>
                        <td tiOverflow>
                            <span class="view-stacks" (click)="viewStacks(viewStack, row)">{{i18n.tuninghelper.taskDetail.viewStack}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ti-table>
</div>
<!-- 操作的文件 -->
<div class="table-section">
    <div class="table-titl">{{i18n.tuninghelper.taskDetail.operationFile}}</div>
    <app-general-table [dataList]="operationFile.srcData"  class="quene"
        [columns]="operationFile.columns">
    </app-general-table>
</div>
<!-- 操作的网口 -->
<div class="table-section">
    <div class="table-titl">{{i18n.tuninghelper.taskDetail.operationNetport}}</div>
    <app-general-table [dataList]="operationNetport.srcData" class="quene"
        [columns]="operationNetport.columns">
    </app-general-table>
</div>
<!-- 操作的系统调用 -->
<div class="table-section">
    <div class="table-titl">{{i18n.tuninghelper.taskDetail.operationSys}}</div>
    <app-general-table [dataList]="operationSys.srcData" class="quene"
        [columns]="operationSys.columns">
    </app-general-table>
</div>
<ng-template #tipContent let-context='context'>
    <div class="suggest_content">
        <div class="suggest_tip">{{i18n.sys.sug}}:</div>
        <div class="sug_content">{{context.suggestion_url}}</div>
        <div class="url" *ngFor="let item of context.urlArr;let index = index">
            <div *ngIf="context.urlArr.length > 1 && index == 0">KAE:</div>
            <div *ngIf=" index == 1">KAEzip:</div>
            <div *ngIf=" index == 2">KAEdriver:</div>
            <a class="copy" target="_blank" [href]="item">{{i18n.sys.download}}</a>
            <div class="copy" >{{i18n.sys.copy}}</div>
            <textarea type="text" class="url_copy0 url_copy">{{item}}</textarea>
        </div>
    </div>
</ng-template>
<ng-template #tipContentRocket let-context='context'>
    <span [innerHtml]="context"></span>
</ng-template>

<ng-template #viewStack let-context='context'>
    <ti-modal-header>{{ i18n.sys_res.selecThread }}</ti-modal-header>
    <ti-modal-body> 
        <table class="subModuleFunctionTable">
            <thead>
              <tr>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let node of stacksDisplayed">
                <td [ngStyle]="{'padding-left': 48 * node.levelIndex + 'px'}" tiOverflow>
                  <ng-container *ngFor="let item of [].constructor(node.levelIndex); index as index">
                    <div [style.width.px]="48 * (node.levelIndex - index)" class="indentLine"></div>
                  </ng-container>
  
                  <div class="tdContent" [ngStyle]="{'padding-left': 10 + (node.children ? 0 : 20) + 'px'}">
                    <button *ngIf="node.children" class="angleBtn" (click)="toggle(node)">
                      <ti-icon name="right-1" [ngClass]="{active: node.expand}"></ti-icon>
                    </button>
  
                    <span>{{ node.title }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </ti-modal-body>
    <ti-modal-footer>
        <div >
            <button  tiButton (click)="context.dismiss()">{{i18n.common_term_operate_close}}</button>
        </div>
    </ti-modal-footer>
</ng-template>