.view-stacks{
    cursor: pointer;
    color: #2072ea;
}
.table-titl{
    font-size: 16px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #222222;
    padding-top: 24px;
    padding-bottom: 10px;
}
.subModuleFunctionTable {
    width: 100%;
    tbody {
      >tr {
        &:last-child {
          >td:not(:first-child) {
            border-bottom: 1px solid #e1e6ee !important;
          }
        }

        >td:first-child {
          position: relative;
          border-bottom: 0;
          padding: 0;
  
          .indentLine {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #f0f3fa;
            border-right: 2px solid #6c92fa;
          }
  
          >.tdContent {
            padding: 12px 10px;
            border-bottom: 1px solid #e1e6ee;
  
            .angleBtn {
              padding: 0;
              background: transparent;
              border: 0;
              outline: none;
              min-width: auto !important;
            }
          }
        }
      }
      tr td:first-child {
        position: relative;
  
        .indentLine {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: #f0f3fa;
          border-right: 2px solid #6c92fa;
        }
      }
    }
  }