.com-table-container {
  margin-top: 20px;
  .cpu-header {
    .title {
      font-size: 16px;
    }
  }
  .cpu-table {
    margin-top: 10px;
    .ti3-table-container {
      max-height: 410px;
      min-height: 175px;
      overflow-y: auto;
    }
    .cell-icon {
      img {
        position: relative;
        top: 2px;
        left: 8px;
        cursor: pointer;
      }
    }
    .searchIcon {
      display: inline-block;
      cursor: pointer;
      width: 12px;
      padding-left: 8px;
    }
  }
  .clickStyle {
    color: #0067ff !important;
    cursor: pointer;
    &:hover {
      color: #267dff !important;
    }
    &:active {
      color: #0057d9 !important;
    }
  }
}
:host ::ng-deep ti-table {
  font-size: 12px;
}
