.migration-detail{
    box-sizing: border-box;
    padding: 0 4.166% 30px;
    overflow-y: auto;
    position: relative;
    .detail-title{
        margin-top: 30px;
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #E1E6EE;
        .back{
            cursor: pointer;
            padding-right: 10px;
            width: 20px;
            height: 20px;
        }
        h2{
            display: inline;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 20px;
            color: #222;
        }
    }

    .main-content {
        padding-top: 10px;
        width: 100%;
        background: #fff;
        height: calc(100vh - 215px);
        box-sizing: border-box;
        .software p,
        .desc p {
            margin-bottom: 14px;
        }
        .sub-info{
            h3{
                font-size: 20px;
                color: #222;
                font-weight: normal;
                font-stretch: normal;
                margin-bottom: 24px;
            }
            .info-detail{
                ul, li{
                    list-style: none;
                }
                li{
                    display: block;
                    margin-bottom: 16px;
                    vertical-align: top;
                    span{
                        display: inline-block;
                        color: #282B33;
                        font-size: 14px;
                        line-height: 14px;
                    }
                    span:nth-child(2){
                        width: 70%;
                    }
                    .title{
                        font-size: 14px;
                        line-height: 14px;
                        color: #6C7280;
                        display: inline-block;
                    }
                    .title4 {
                        width: 30%;
                        vertical-align: top;
                    }
                    .title5 {
                        width:14%;
                        vertical-align: top;
                        line-height: 20px;
                    }
                }
                li:first-child,
                li:nth-child(3){
                    width: 70%;
                    .title{
                        width: 20%;
                    }
                }
                li:last-child,
                li:nth-child(2){
                    width: 70%;
                    .title{
                        width: 20%;
                    }
                }
                a {
                    line-height: 20px;
                }
            }

        }
        .steps-content{
            .confirm-status {
                vertical-align: middle;
            }
            @keyframes loading{
                0%{
                    transform: rotate(0);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
            .confirm-status.loading{
                animation: loading 2s linear infinite;
            }
            .precond{
                .title {
                    font-size: 20px;
                    color: #222;
                    font-weight: normal;
                    font-stretch: normal;
                    margin-bottom: 24px;
                    margin-top: 14px;
                }
            }
            .gap-line{
                width: 100%;
	            height: 0px;
                border: dashed 1px #d4d9e6;
                margin-top: 16px;
            }
            .mt24{
                margin-top: 24px;
            }
            h3{
                font-size: 20px;
                color: #282b33;
                margin-bottom: 14px;
            }
            .steps-title {
                font-size: 14px;
                color: #6c7280;
                margin: 10px 26px 8px 0;
                font-weight: normal;
                vertical-align: middle;
                .ti3-checkbox{
                    vertical-align: top;
                }
                ::ng-deep input:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin, input[type=checkbox][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin:focus{
                    border-color: #0067FF;
                    background-color: #0067FF;
                }
                .txt{
                    padding-right: 5px;
                }
            }

            .step-group{
                margin:0;
            }
            .com{
                color: #666;
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                padding: 0 25px;
                vertical-align: middle;
            }
            .comps{
                color: #666;
                display: inline-block;
                vertical-align: middle;
                margin-left: 25px;
            }
            .before{
                color: rgba($color: #000000, $alpha: 0.85);
                display: inline-block;
                vertical-align: middle;
            }
            .title{
                font-size: 16px;
                color: #333;
                font-weight: 600;
            }
            .cmd{
                background: #f7f8f8;
                width: 100%;
                font-size: 14px;
                color: #282b33;
                line-height: 29px;
            }

            .line {
                display: inline-block;
                font-size: 12px;
                background: #e1e4e5;
                color: #6c7280;
                width: 40px;
                text-align: center;
                margin-right: 48px;
            }
            .steps-title,
            .opt-name{
                display:inline-block;
            }
            .opt-name{
                color: #666;
                margin-left:25px;
            }
            .step{
                .title {
                    font-size: 20px;
                    color: #222;
                    font-weight: normal;
                    font-stretch: normal;
                }
                .txt2{
                    color: #666;;
                }
                p{
                    line-height: 29px;
                }
                .opt-step{
                    p{
                        color: #666;
                    }
                    .opt-item{
                        margin: 0 0 16px;
                        .cmd{
                            margin-top: 16px;
                            padding:12px 25px;
                            line-height: 20px;
                            color: #282b33;
                            box-sizing: border-box;
                        }
                    }
                }
                .arrow {
                    margin: 0 10px;
                    position: relative;
                    top: 3px;
                }
                .combg{
                    background-color: #f7f8f8;
                    padding:12px 25px;
                    margin: 16px 0;
                    line-height: 20px;
                    color: #282b33;
                    box-sizing: border-box;
                }
                .combgStatic {
                    background-color: #f7f8f8;
                    margin: 16px 0;
                    line-height: 20px;
                    color: #282b33;
                    box-sizing: border-box;
                    div:nth-child(2) {
                        padding-top: 10px;
                    }
                    div:last-child {
                        padding-bottom: 10px;
                    }
                    div:empty{
                        padding: 0;
                    }
                    .com {
                        color: #282b33;
                        padding-top: 2px;
                        padding-bottom: 2px;
                    };
                }
            }
            .sub-opt{
                margin-left: 25px;
            }

        }
        .option{
            margin: 0;
            button{
                height: 32px;
                line-height: 32px;
                text-align: center;
                font-size: 14px;
                min-width: 115px;
            }
            button[disabled]{
                color: #b8becc;
            }
        }
    }
}
.steps-execution-content {
    overflow-y: auto;
}
.mask{
    width: 100%;
    height:calc(100% + 20px);
    background: rgba(0, 0, 0, 0.298);
    position: absolute;
    top: -20px;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.dif-button{
    position: relative;
    margin: 0 4.166%;
    border-top: 1px dashed #ccc;
    bottom: 10px;
    background-color: #fff;
    button{
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 14px;
        min-width: 115px;
        margin-top: 20px;
    }
    button[disabled]{
        color: #b8becc;
    }
}

.to-top {
    position: absolute;
    right: 20px;
    bottom: 40px;
}
