.taskListBox {
  position: fixed;
  width: 400px;
  bottom: 0;
  right: 48px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background: #fff;
  z-index: 1010;

  >.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    background: #5599ff;
    padding: 0 16px;
    cursor: pointer;

    >.title {
      font-size: 12px;
      color: #fff;
    }

    >.operate {
      display: flex;
      align-items: center;

      >.accordion-fold {
        color: #fff;

        &.active {
          transform: rotate(180deg);
        }
      }
    }
  }

  >.body {
    max-height: 50vh;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >.taskItem {
      border: 1px solid #d8d8d8;
      width: 100%;

      >.header {
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 14px;
        border-bottom: 1px solid #d8d8d8;

        >.title {
          font-size: 14px;
          color: 222;
        }

        >.operate {
          display: flex;
          align-items: center;
    
          >.close {
            cursor: pointer;
          }
        }
      }

      >.body {
        padding: 16px;
      }

      &:not(:first-child) {
        margin-top: 16px;
      }
    }

    >.viewDetails {
      margin-top: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;

      >.info {
        color: #0067ff;
      }

      >.icon {
        margin-left: 4px;
        width: 16px;
        height: 16px;
        background-image: url("../../../assets/img/home/arrow_normal.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover {
        >.icon {
          background-image: url("../../../assets/img/home/arrow_hover.svg");
        }
      }
    }
  }
}