.mask{
  background: rgba(0, 0, 0, 0.298);
  position: fixed;
  width: 100%;
  top: 996px;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  transition: .4s ease-out;
  z-index: 999;
}
.mask.active{
  display: block
}
// echarts tips z-index为9999999
.content-box{
  position: fixed;
  right: -100%;
  background: white;
  width: auto;
  height: 100%;
  transition: .4s ease-out;
  top: 0px;
  z-index: 1000;
}
.content-box.active{
  right: 0%;
  height: calc(100% - 64px);
  margin-top: 64px;
}
