<div class="warpper">
  <ng-container
    *ngIf="taskStatusEnum.Completed === nodeStatus; else dialTestFailed"
  >
    <div class="kpi-svg sub-item">
      <app-dial-kpi-svg
        [endType]="currEndTarget"
        [dialType]="currDialTestType"
        [kpiData]="kpiData"
        [tabShowing]="tabShowing"
      >
      </app-dial-kpi-svg>
    </div>

    <div class="test-rtt sub-item">
      <app-dail-test-rtt
        [rttData]="rttData"
        [average]="dailTestStat?.rtt_arg"
      ></app-dail-test-rtt>
    </div>

    <div class="test-statistic sub-item">
      <app-dial-test-stat [statData]="dailTestStat"></app-dial-test-stat>
    </div>

    <div class="router-info sub-item">
      <app-connect-router-info
        [routerData]="routerInfo"
      ></app-connect-router-info>
    </div>
  </ng-container>

  <ng-template #dialTestFailed>
    <app-dial-test-failed
      [endType]="currEndTarget"
      [dialType]="currDialTestType"
      [kpiData]="kpiData"
      [tabShowing]="tabShowing"
    >
    </app-dial-test-failed>
  </ng-template>
</div>
