<div class="net-packet-loss">

  <ul class="detail-list-container">
    <li *ngFor="let detail of detailList;index as index" class="detail-list">
      <div class="detail-title">
        <div class="left-title" (click)="showDetail(detail)">
          <ti-icon name="right-1" [ngClass]="{'active-icon': detail.isActive}"></ti-icon>
          <span>{{ detail.title }}</span>
        </div>
        <a class="right-title" *ngIf="index !== 3" (click)="showSuggestion(suggestionModal, index)">{{ 'net_capture_loss.loss.sugg_title' | i18n }}</a>
      </div>

      <div class="detail-container" *ngIf="detail.isActive">
        <!-- 网卡硬件和驱动丢包 -->
        <div class="detail-content" [hidden]="index">
          <app-network-io-packet-loss 
            [IOPacketData]="IOPacketData"
            [IOEhtStatData]="IOEhtStatData"
          ></app-network-io-packet-loss>
        </div>

        <!-- 协议栈缓冲队列丢包 -->
        <div class="detail-content" [hidden]="index !== 1">
          <app-queue-packet-loss [queuePacketData]="queuePacketData"></app-queue-packet-loss>
        </div>

        <!-- 协议栈丢包 -->
        <div class="detail-content" [hidden]="index !== 2">
          <app-stack-packet-loss [stackPacketData]="stackPacketData"></app-stack-packet-loss>
        </div>

        <!-- 内核调用栈丢包 -->
        <div class="detail-content" [hidden]="index !== 3">
          <app-kernel-packet-loss 
            [nodeId]="nodeId"
            [taskId]="taskId"
            [kernelPacketData]="kernelPacketData"
          ></app-kernel-packet-loss>
        </div>
      </div>
    </li>
  </ul>

</div>

<!-- 排查建议弹框 -->
<ng-template #suggestionModal let-context='context'>
  <ti-modal-header style="line-height: 26px;">{{ 'net_capture_loss.loss.sugg_title_1' | i18n }}</ti-modal-header>
  <ti-modal-body style="height: 416px;">
    <app-trouble-suggestion [suggestionList]="suggestionList"></app-trouble-suggestion>
  </ti-modal-body>
  <ti-modal-footer>
    <button type="button" (click)="context.dismiss()" tiButton>{{ 'common_term_operate_close' | i18n }}</button>
  </ti-modal-footer>
</ng-template>