.net-packet-loss {
  .detail-list-container {
    .detail-list {
      .detail-title {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        padding: 0 20px 0 24px;
        border-bottom: 1px solid var(--common-color-divider);
        line-height: 48px;
        .right-title {
          min-width: 230px;
        }
        .left-title {
          cursor: pointer;
          width: 80%;
          .ti3-icon {
            display: inline-block;
            margin-right: 24px;
            color: var(--ti-sort-icon-color);
            font-size: 13px;
            &.active-icon {
              transform: rotate(90deg);
            }
          }

          span {
            font-size: 14px;
          }
        }
      }

      .detail-container {
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--common-color-divider);
        &::before {
          box-sizing: border-box;
          position: absolute;
          top: 0;
          bottom: 0;
          content: "";
          width: 40px;
          border-right: 2px solid #0067FF;
          background-color: var(--ti-table-expand-children-margin-background-color);
        }
        .detail-content {
          margin-left: 60px;
        }
      }

      &:first-child {
        border-top: 1px solid var(--common-color-divider);
      }
    }
    li:nth-child(3) {
      .detail-container {
        padding-bottom: 0px;
      }
    }
  }
}

.net-packet-loss ::ng-deep {
  .ti3-table-container {
    max-height: 320px;
  }

  .ti3-table > .ti3-table-container > table > tbody > tr > td {
    line-height: 11px;
  }

  .detail-content {
    .ti3-icon-angle-transform-down-thin {
      transform: rotate(0);
    }
    .ti3-icon-angle-transform-up-thin {
      transform: rotate(90deg);
    }

    .ti3-table > .ti3-resize-wrapper > table > tbody > .ti3-details-tr > td,
    .ti3-table > .ti3-table-container > table > tbody > .ti3-details-tr > td,
    .ti3-table > table > tbody > .ti3-details-tr > td {
      padding-left: 10px;
    }

    .ti3-table > .ti3-table-container > table > tbody > tr > td[details-icon-column] {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .ti3-table>.ti3-resize-wrapper>table>thead>tr>th,
  .ti3-table>.ti3-table-container>table>thead>tr>th {
    border-bottom: none !important;
  }
}
:host ::ng-deep ti-table {
  font-size: 12px;
}

::ng-deep .modal832 {
  .ti3-modal-footer {
    padding: 32px 0;
    margin-top: 4px;
    border-top: 1px dashed var(--divider-d7dbe7-6e6e6e);
  }
}