.timing-container {
    overflow: hidden;
    .color {
        width: 100%;
        margin: 10px 0;
    }

    .timing {
        height: 100%;
        width: 100%;

        .timing_timeaxis {
            background-color: #fff;
            height: 41px;
            display: flex;

            .timing_timeaxis_col_1 {
                width: 90px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
            }

            .timing_timeaxis_col_2 {
                width: 100%;
            }
        }

        .timing_table {
            height: 434px;

            .timing_table_item {
                height: 56px;
                display: flex;

                .item-name {
                    width: 90px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                }

                .item-chart {
                    height: fit-content;
                    width: fit-content;
                    flex: 1;
                }

                & + .timing_table_item {
                    margin-top: 6px;
                }
            }
        }
        .separator {
            width: 100%;
            margin-top: 15px;
            border-top: #e1e6ee 1px solid;
        }

        .timing-single,
        .timing-axis {
            display: flex;
            .black {
                width: 90px;
                flex-shrink: 0;
            }
            .single-chart {
                height: fit-content;
                width: calc(100% - 90px);
                flex: 1;
                .opreation {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 9px;
                }
            }
        }

        .timing-single {
            margin-top: 15px;
        }
        .timing-axis {
            position: relative;
            top: -1px;
        }
    }
}
.chart-axis{
    width: calc(100% - 90px);
}
.flagpole {
    position: absolute;
    top: 36px;
    opacity: 0;
    border-left: 1px solid #6c7280;
    height: calc(100% - 71px);
    display: inline-block;
    pointer-events: none;
}

.flag-tooltip {
    margin: 0px !important;
    opacity: 0;
    position: absolute;
    display: inline-block;
    padding: 13px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    line-height: 20px;
    border-radius: 2px;
    margin-left: 12px;
    pointer-events: none;
    cursor: default;
    box-shadow: 0px 4px 8px 0px #000000;

    @for $i from 0 through 100 {
        $offset: '[offset="#{$i}"]';

        &[placement="left"]#{$offset} {
            transform: translate(calc(-100% - 20px), $i * -1%);
        }

        &[placement="right"]#{$offset} {
            transform: translate(20px, $i * -1%);
        }
    }
}

.tooltip-warpper {
    width: max-content;
    font-size: 14px;
    max-width: 300px;
    .timestamp {
        padding: 0;
    }
    .tip-text {
        display: flex;
        align-items: flex-start;
        .tip-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            flex-shrink: 0;
        }
    }
    .tip-items {
        display: grid;
        grid-template-columns: 12px auto auto;
        grid-row-gap: 5px;

        .tip-items-color {
            display: flex;
            align-items: center;
        }
        .tip-items-value {
            margin-left: 10px;
        }
    }
}
