.mask{
    background: rgba(0, 0, 0, 0.298);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: none;
    transition: .4s ease-out;
    z-index: 111;
}
.mask.active{
    display: block
}
.login-content-box{
    position: fixed;
    right: 0;
    background:rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    transition: .4s ease-out;
    top: 0px;
    z-index: 112;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;

    ::ng-deep .ti3-form .ti3-icon-staricon::before {
        margin-top: -10px;
        position: absolute;
    }

}
.login-content-box.active{
    display: flex;
    opacity: 1;
}