<div class="error-instruction-container">
    <div class="instruction-title">
        <p>
            <img *ngIf="currTheme == ColorTheme.Dark" src="./assets/img/server_error_icon_dark.svg"
                class="instruction_error_icon" />
            <img *ngIf="currTheme == ColorTheme.Light" src="./assets/img/server_error_icon_light.svg"
                class="instruction_error_icon" />
            <span class="instruction-title-content">{{ i18n.plugins_common_title_serverException }}</span>
        </p>
    </div>
    <div class="instruction-step-list">
        <div class="instruction-step">
            <p>{{ networkErrorTip }}</p>
            <p class="normal-suggestion">{{ i18n.plugins_common_message_networkErrorResult1 }}</p>
            <p class="exception-suggestion">{{ i18n.plugins_common_message_networkErrorResult2 }}</p>
        </div>
        <div class="instruction-step">
            <p>{{ networkErrorYunTip }}</p>
            <p class="normal-suggestion">{{ i18n.plugins_common_message_connIssue1 }}</p>
            <p class="normal-suggestion">{{ connIssueTwoDesc }}</p>
            <p class="normal-suggestion">{{ i18n.plugins_common_message_connIssue3 }}</p>
            <p class="normal-suggestion">{{ i18n.plugins_common_message_connIssue4 }}</p>
            <p class="normal-suggestion">{{ i18n.plugins_common_message_connIssue5 }}</p>
        </div>
        <div class="instruction-step" [ngStyle]="{'display': isDeployFlag ? 'none':'inherit'}">
            <p>{{ i18n.plugins_common_message_serverErrorTip }}</p>
            <p class="normal-suggestion">{{ i18n.plugins_common_message_serverErrorResult1 }}</p>
            <p class="exception-suggestion" id="server-error"></p>
        </div>
        <div class="instruction-step">
            <p id="access-community"></p>
        </div>
    </div>
</div>