.ti3-sort-container{
  cursor: pointer;
  margin-left: 8px;
  display: flex;
  align-items: center;

  >.ti3-sort {
    cursor: pointer;
    font-size: 16px;

    &:hover {
      color: #5e7ce0;
    }
  }

  &.ti3-sort-ascent, &.ti3-sort-descent {
    >.ti3-sort {
      color: #5e7ce0;
    }
  }
}