:host ::ng-deep .content-container {
  height: 100%;
  min-height: 80vh;
  padding: 32px 0 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .header {
    display: flex;
    padding: 7px 0 7px 10px;
    line-height: 18px;
    background-color: var(--color-bg-d-12223b-l-f5f9ff);

    .group-list {
      display: flex;
      align-items: center;
      font-size: 12px;

      &:not(:first-child) {
        margin-left: 30px;
      }

      .function-label {
        padding-right: 10px;
        color: var(--common-color-font-secondary);
      }

      .function-content {
        max-width: 320px;
        color: var(--common-color-font-primary);
      }
    }
  }

  > .body {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    > .func-main {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      .table-container {
        flex: 1;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > .title {
          h2 {
            font-size: 20px;
            height: 30px;
            font-weight: normal;
            line-height: 30px;
            color: var(--common-color-font-primary);
          }
        }

        .ti3-table {
          margin-top: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow: hidden;

          th {
            .content {
              display: flex;
              align-items: center;
              overflow: hidden;

              .ti3-cell-text-container {
                overflow: hidden;
                height: 32px;

                .ti3-cell-text {
                  max-width: 100% !important;
                }
              }

              &.center {
                justify-content: center;
              }
            }
          }

          .ti3-table-container {
            flex: 1;
            position: relative;
            padding-bottom: 10px;

            thead {
              > tr {
                > th {
                  border-bottom: 0;
                }
              }
            }

            tbody {
              .ti3-table-tree img {
                margin-right: 10px;

                &.active {
                  transform: rotate(90deg);
                }
              }

              tr {
                &.active {
                  background: var(--active-edf4ff-d4d956) !important;

                  td:first-child > div {
                    background: var(--active-edf4ff-d4d956);
                  }
                }

                &:hover {
                  background: var(
                    --ti-table-expand-children-margin-background-color
                  ) !important;

                  td:first-child > div {
                    background: var(
                      --ti-table-expand-children-margin-background-color
                    );
                  }
                }
              }

              .childTr td {
                padding: 0 10px;

                &:first-child {
                  background: var(
                    --ti-table-expand-children-margin-background-color
                  );
                  border-bottom: 0;
                  padding: 0;

                  > div {
                    margin-left: 30px;
                    height: 100%;
                    padding: 10px;
                    transition: background-color 150ms linear;
                    position: relative;
                    border-bottom: 1px solid var(--common-color-divider);

                    &::before {
                      content: "";
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 2px;
                      height: calc(100% + 1px);
                      background: #6c92fa;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .assembly-right {
        margin-left: 48px;

        .operate-box {
          float: right;
          display: flex;

          .blockIcon {
            width: 28px;
            height: 28px;
            cursor: pointer;
            margin-right: 8px;

            .pre-btn-disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }

    > .source-img {
      box-sizing: border-box;
      width: 100%;
      position: absolute;
      bottom: 0;
      overflow: hidden;

      &.active {
        height: 42px;
      }

      > h2 {
        font-size: 20px;
        width: 1159px;
        height: 30px;
        font-weight: normal;
        line-height: 30px;
        color: var(--common-color-font-primary);
        margin-bottom: 16px;
      }

      .source-svg {
        border: 1px solid var(--common-color-divider);
        border-radius: 5px;
        position: relative;
        height: 240px;
        overflow: hidden;

        img {
          position: absolute;
          z-index: 111;
          top: 10px;
          right: 10px;
          cursor: pointer;
          user-select: none;
        }

        #insvg {
          position: relative;
          transform-origin: center center;
          text-align: center;
          margin-top: 30px;
          height: calc(100% - 30px);

          svg text {
            user-select: none;
          }
        }
      }
    }
  }

  tbody tr td.no-border {
    display: flex;
    padding: 0 !important;
    border-bottom: none;

    div {
      height: 32px;
      &:first-child {
        box-sizing: border-box;
        width: 30px;
      }
      &:last-child {
        flex: 1;
        border-bottom: 1px solid var(--sub-table-transparent-e6ebf5);
      }
    }

    .ext_more {
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: calc(100% + 1px);
        border-right: 2px solid #0067ff;
        background-color: var(
          --ti-table-expand-children-margin-background-color
        );
      }
    }
  }
}

.ti3-table-tree {
  display: inline-block;
}

:host
  .ti3-table
  > .ti3-table-fixed-head
  + .ti3-table-container
  > table
  > tbody
  > tr:last-child
  > td:not(:first-child) {
  border-bottom: 1px solid var(--common-color-divider) !important;
}
.ti3-table > .ti3-table-fixed-head + .ti3-table-container {
  border-bottom: none !important;
}

.net-capture-source ::ng-deep {
  .ti3-icon-angle-transform-down-thin {
    transform: rotate(0);
  }
  .ti3-icon-angle-transform-up-thin {
    transform: rotate(90deg);
  }

  .ti3-table > .ti3-table-container > table > tbody > tr > td {
    line-height: 11px;
  }

  .ti3-table > .ti3-resize-wrapper > table > tbody > .ti3-details-tr > td,
  .ti3-table > .ti3-table-container > table > tbody > .ti3-details-tr > td,
  .ti3-table > table > tbody > .ti3-details-tr > td {
    padding-left: 10px;
  }

  .ti3-table
    > .ti3-table-container
    > table
    > tbody
    > tr
    > td[details-icon-column] {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ti3-table > .ti3-table-container > table > tbody > .ti3-details-tr > td {
    padding: 0px;
    padding-left: 10px;
  }
}

.toggle-btn-top {
  text-align: center;
  cursor: pointer;
  width: 100%;
  z-index: 99;
  user-select: none;
  line-height: 1;

  img {
    transition: all 100ms linear;

    &.active {
      transform: rotate(180deg);
    }
  }
}

.folding-line {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid var(--common-color-divider);
}

::ng-deep {
  :root {
    --color-bg-d-12223b-l-f5f9ff: #f5f9ff;
  }
  .vscode-dark,
  .vscode-light {
    .content-container {
      height: 100vh;
      padding: 32px 2%;
    }
  }

  .vscode-dark .net-capture-source {
    --color-bg-d-12223b-l-f5f9ff: #12223b;

    .header {
      opacity: 0.73;
    }
  }
}

:host ::ng-deep .net-capture-source {

  .ti3-table-container {
    table {
      tbody {
        td {
          &.details-icon-column {
            ti-details-icon {
              .ti3-icon-angle-right {
                &:before {
                  content: "\e929";
                }

                &.ti3-icon-angle-transform-down-thin {
                  display: inline-block;
                  transform: rotate(0deg);
                }
                &.ti3-icon-angle-transform-up-thin {
                  display: inline-block;
                  transform: rotate(90deg);
                }
              }
            }
          }
          &.details-hd {
            background: var(--ti-table-expand-children-margin-background-color);
            border-right: 2px solid #0067ff;
            border-bottom: none !important;
          }
        }
      }
    }
  }

  .ti3-table>.ti3-resize-wrapper>table>tbody>.ti3-details-tr,
  .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr,
  .ti3-table>table>tbody>.ti3-details-tr {
    background: var(--ti-table-tr-bg-color);
  }
  .ti3-table>.ti3-resize-wrapper>table>tbody>.ti3-details-tr:hover,
  .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr:hover,
  .ti3-table>table>tbody>.ti3-details-tr:hover {
    background-color: var(--ti-table-tr-bg-color-hover);
    transition: background-color .2s var(--ti-timing-function-default);
  }

  .ti3-table > .ti3-table-fixed-head > table > thead > tr > th:first-child:after {
    width: 0;
  }

  .ti3-table > .ti3-table-fixed-head > table > thead > tr > th:nth-child(2),
  .ti3-table > .ti3-table-container > table > tbody > tr > td:nth-of-type(2) {
    padding-left: 24px;
  }

  .func-main .table-container {
    .title {
      height: 30px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
