.light {
    --mission-diagnose-tiFrom-color: #222222;
 }
 
 .dark {
    --mission-diagnose-tiFrom-color: #AAAAAA;
 }

.warpper {
    display: flex;
    background-color: var(--ti-default-body-bg);
    .nothing {
        background-color: #f0f3fa;
        &.templateDetail {
            width: 0px;
        }
        &.reservation {
            width: 33px;
        }
        &.templateImport {
            display: none;
        }
    }
    .list-warpper {
        margin: 10px 0px 10px 57px;
        width: 100%;
        &.templateImport {
            margin: 10px 0px 10px 0px;
        }
    }
}

:host ::ng-deep .ti3-form {
    width: 100%;
    font-size: 14px;
    .ti3-form-label,
    .ti3-text-form-label {
        width: 25%;
        color: var(--mission-diagnose-tiFrom-color) !important;
    }
    .ti3-text-form-content {
        ti-item {
            line-height: 27px;
        }
    }
    tbody:not(.ti3-text-form) .ti3-form-label {
        padding: 0 16px 16px 0 !important;
    }
}

::ng-deep .ti3-table .ti3-table-container tr:hover {
    background-color: var(--ti-default-body-bg) !important;
}
