::ng-deep .vscode-dark {
    --nodata-bg: #161616;
    --input-disabled-bg: #313131;
    --input-disabled-border: #616161;
    --table-head-bg: #2A2A2A;
    --table-tr-tr-bg: #141414;
    --table-tr-hover: #313131;
    --table-tr-bottom-color: #545454;
}

::ng-deep .vscode-light {
    --nodata-bg: #ffffff;
    --input-disabled-bg: #f5f5f5;
    --input-disabled-border: #ccc;
    --table-head-bg: #f5f9ff;
    --table-tr-tr-bg: #fff;
    --table-tr-hover: #f5f9ff;
    --table-tr-bottom-color: #e1e6ee;
}

.jdbcpool {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;

    .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .control {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btntip {
                display: flex;
                align-items: center;
            }

            .tip {
                margin-left: 10px;
                margin-right: 24px;
            }

            .control-value {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;

                .control-value-title,
                .control-value-input {
                    margin-right: 8px;
                    color: #6c7280;
                }

                .control-value-input {
                    height: 32px;
                }

                .hbase-threshold {
                    width: 80px;
                    height: 28px !important;
                }
            }

            .visible-type {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #6c7280;

                .visible-type-label {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                }

                ti-select[tiFocused] {
                    border-color: #0067ff !important;
                }
            }
        }

        .config_border {
            width: 28px;
            height: 28px;
            cursor: pointer;

            &>img:nth-of-type(1) {
                display: block;
            }

            &>img:nth-of-type(2) {
                display: none;
            }

            &:hover,
            &.active {
                &>img:nth-of-type(1) {
                    display: none;
                }

                &>img:nth-of-type(2) {
                    display: block;
                }
            }
        }

        .configBg {
            margin-left: 24px;
            width: 32px;
            height: 32px;
        }
    }

    .jdbcpool-table {
        display: none;

        .row-select-bg {
            background-color: var(--table-tr-hover) !important;
        }

        .row-left {
            border-right: 2px solid #0067ff;
            border-bottom: hidden !important;
            background: var(--table-td-left-color);
        }

        .spinner-value {
            margin-right: 5px;
        }
    }

    .jdbcpool-echarts {
        display: none;
    }

    .show {
        display: block;
    }

    .stack {
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;

        .jdbcpool-tack {
            width: 50%;

            .no-data {
                height: 230px;
                background-color: var(--nodata-bg);
            }

            .stack-time {
                color: #aaaaaa;
                font-size: 14px;
                margin-left: 8px;
            }
        }
    }
    
}
::ng-deep .jdbcpool .report-tips {
    margin-bottom: 20px;
}
.tip-config {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 300px;

    .config-title {
        color: var(--d-e8e8e8-l-222222);
        margin: 15px 15px 5px 15px;
        padding-bottom: 10px;
        border-bottom: solid 1px #888;
    }

    .config-content {
        margin: 5px 15px 15px 15px;
        font-size: 14px;

        .label {
            min-width: 100px;

            .label-box {
                width: 400px;

                .content-label {
                    line-height: 22px;
                    font-size: 12px;
                    color: #888;
                    float: left;
                }

                .content-value {
                    line-height: 22px;
                    color: #AAA;
                    font-size: 14px;
                    word-break: break-all;
                    overflow: hidden;
                }
            }
        }

        .value {
            display: flex;
            flex-direction: column;
            color: #282b33;
            margin-left: 20px;
        }
    }
}

.disable-btn {
    background: #e6ebf5 !important;
    border: 1px solid #e6ebf5 !important;
    color: #b8becc !important;
    cursor: not-allowed !important;
}

.snap_title {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
}

.snap_content {
    font-size: 12px;
    line-height: 18px;
    color: #616161;
}

.red_count {
    width: 14px;
    height: 14px;
    font-size: 10px;
    background-color: #ed4b4b;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: 18px;
}

.config_title {
    font-size: 14px;
    color: #aaaaaa;
    padding-bottom: 8px;
    border-bottom: solid 1px #e6ebf5;
}

.spinner_content {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 2px;
}

.opti_title {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
    margin-bottom: 7px;
}

.opti_content {
    font-size: 12px;
    margin-bottom: 5px;
    color: #616161;
}
.expandAll {
    img{
        vertical-align: middle;
        margin-right: 4px;
    }
}

.profile-echarts {
    height: 360px;
    position: relative;

    .right-legend {
        width: 100%;
        height: 20px;
        margin-bottom: 8px;
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 10;

        .green-legend {
            margin-right: 16px;
        }
    }

    .echart {
        width: 100%;
        height: 375px;
        position: relative;

        .mychart {
            width: 100%;
            height: 100%;
        }
    }
}

.green {
    background-color: #7adfa0;
}

.red {
    background-color: #f45c5e;
}

.write {
    box-shadow: 0 0 1px #000000;
}

.black {
    box-shadow: 0 0 1px #ffffff;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.link-position {
    color: #9ea4b3;
    font-size: 12px;
    position: absolute;
    top: 26px;
    left: 22px;
}

.box-echarts {
    width: 100%;
    height: 340px;
    overflow: auto;
    position: absolute;
    top: 32px;
}

#Thor-Container .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr>td {
    padding: 0 !important;
}

:host ::ng-deep .ti3-icon-angle-right:before {
    content: "\e919" !important;
}

:host ::ng-deep .ti3-icon-angle-transform-up-thin {
    display: inline-block;
    transform: rotate(270deg) !important;
}

:host ::ng-deep .ti3-icon-angle-transform-down-thin {
    display: inline-block;
    transform: rotate(180deg) !important;
}

.ti3-table>.ti3-table-fixed-head>table>thead>tr>th {
    background-color: var(--table-head-bg) !important;
}

td .ti3-table table>tbody>tr:last-child>td {
    border-bottom: none !important;
}

:host ::ng-deep .ti3-table table>tbody>tr>td {
    border-bottom: 1px var(--table-tr-bottom-color) solid !important;
}

::ng-deep .vscode-light .ti3-table>.ti3-table-fixed-head>table>thead>tr>th {
    border-bottom: 1px #e1e6ee solid !important;
}

td .ti3-table table>tbody>tr>td {
    background-color: var(--table-tr-tr-bg);
}

::ng-deep #Thor-Container .ti3-table>.ti3-table-container>table>tbody>tr.ti3-odd-tr:not(.ti3-selected-tr):hover,
::ng-deep #Thor-Container .ti3-table>.ti3-table-container>table>tbody>tr.ti3-even-tr:not(.ti3-selected-tr):hover,
td .ti3-table table>tbody>tr:hover>td {
    background-color: var(--table-tr-hover) !important;
}

::ng-deep .ti3-table>.ti3-table-fixed-head+.ti3-table-container {
    border-bottom: 1px var(--table-tr-bottom-color) solid;
}

::ng-deep .ti3-table>.ti3-table-fixed-head>.ti3-table-fixed-head-filler {
    background-color: var(--table-head-bg) !important;
}

::ng-deep .ti3-table>.ti3-resize-wrapper>table>tbody>tr>td,
.ti3-table>.ti3-resize-wrapper>table>tbody>tr>td {
    color: var(--ti-table-td-text-color) !important;
}

::ng-deep #Thor-Container .begin-tree,
::ng-deep #Thor-Container .end-tree {
    .ti3-tree-container {
        height: auto !important;
        min-height: 230px;
    }
}

::ng-deep .vscode-dark {
    .threshold {
        margin-right: 10px;
        font-size: 14px;
        color: #E8E8E8;
    }
}

:host ::ng-deep .ti3-spinner-downicon {
    display: none;
}

:host ::ng-deep .ti3-spinner-upicon {
    display: none;
}

:host ::ng-deep .ti3-spinner-input-box {
    top: -1px !important;
    left: -1px !important;
    width: 80px !important;
    border-radius: 2px;
}

:host ::ng-deep .ti3-spinner-input-box>input {
    text-align: left !important;
    padding: 14px !important;
    color: var(--text-color-d-e8-l-2) !important;
}

:host ::ng-deep [tiText][disabled]:disabled {
    background: var(--input-disabled-bg) !important;
    color: #aaa !important;
    border: 1px solid var(--input-disabled-border) !important;
}

ti-spinner[disabled] {
    background-color: var(--input-disabled-bg);
    border-color: var(--input-disabled-border) !important;
}

ti-spinner[disabled]:hover {
    border-color: var(--input-disabled-border) !important;
}

.expand-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 12px;
}

::-webkit-scrollbar {
    height: 6px !important;
    width: 6px !important;
}

td .ti3-table table>tbody .tr-active td {
    background-color: var(--table-tr-hover) !important;
}

.x-labels {
    padding: 0px 0px 0px 40px;
    display: flex;
    color: var(--d-e8e8e8-l-222222);
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 60px;
}

:host ::ng-deep .ti3-tree-content-box {
    width: max-content;
}

:host ::ng-deep {
    .ti3-tree-node-text-wrapper {
        height: 100%;
    }

    .ti3-table>.ti3-table-fixed-head>table>thead>tr>th {
        color: var(--d-e8e8e8-l-222222) !important;
        font-size: 14px;
        line-height: 1;
    }
}

.jdbcSug {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -300px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);

    .tip-config {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .config-title {
            color: #222222;
            margin: 20px 32px;
            padding-bottom: 20px;
            border-bottom: solid 1px lightgrey;
        }

        .config-border {
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #e1e6ee;
        }

        .config-tree {
            width: 100%;
            min-width: 300px;
            height: 280px;
            padding-top: 20px;
        }

        .config-content {
            display: flex;
            justify-content: flex-start;
            margin: 0px 32px 32px 32px;
            font-size: 14px;
            overflow: auto;
            height: 400px;

            .label {
                display: flex;
                flex-direction: column;
                color: #9ea4b3;
                width: 100%;

                .label-box {
                    display: flex;
                    align-items: center;

                    .content-label {
                        width: 40%;
                        margin: 10px 10px 10px 0px;
                    }

                    .content-value {
                        width: 60%;
                        margin: 10px 0px 10px 10px;
                    }
                }
            }

            .value {
                display: flex;
                flex-direction: column;
                color: #282b33;
                margin-left: 20px;
            }
        }
    }

    .jdbc-btn {
        margin: 20px 0 20px 304px;
    }
}

.poolSug {
    z-index: 100;
}
::ng-deep #Thor-Container .tiTree .ti3-tree-container {   
    height: auto !important;
}
::ng-deep #Thor-Container .file-io .ti3-tree-container {   
    height: auto !important;
    min-height: 230px;
}

.expandAll {
    img {
        vertical-align: middle;
        margin-right: 6px;
    }
}