<div
  [ngClass]="theme$ | async"
  class="hy-collapse-warpper"
  [ngStyle]="{
    width: width == null ? '100%' : width
  }"
>
  <div class="hy-collapse-header">
    <div
      class="hy-collapse-trigger"
      (click)="isCollapsed = !isCollapsed; trigger.emit()"
      [ngStyle]="{
        transform: isCollapsed ? 'rotate(-90deg)' : 'rotate(0deg)'
      }"
    >
      <img src="./assets/img/template/arrowRight.png" style="transform: rotateZ(90deg);"/>
    </div>
    <div class="hy-collapse-title">
      <div #titleRef><ng-content select="[title]"></ng-content></div>
      <div *ngIf="titleRef.children.length === 0">{{ title }}</div>
    </div>
  </div>
  <div class="hy-collapse-content" [tiCollapse]="isCollapsed">
    <div #contentRef>
      <ng-content select="[content]"></ng-content>
    </div>
    <div *ngIf="contentRef.children.length === 0">
      {{ content }}
    </div>
  </div>
</div>
