<div class="node-info-form" [ngClass]="theme$ | async">
  <div class="node-boxs">
    <div *ngFor="let form of formArray.controls; index as i" class="node-box">
      <!-- IPv4表单 -->
      <ti-formfield [formGroup]="form" [labelWidth]="labelWidth">
        <!-- 任务节点 -->
        <ti-item
          [label]="'network_diagnositic.taskParams.task_node' | i18n"
          [required]="true"
        >
          <div style="position: relative">
            <ti-select
              class="form-value"
              formControlName="serverIp"
              [options]="allTaskNodeOption"
              valueKey="value"
              [tiValidation]="{ type: 'blur' }"
              [errorMessageWrapper]="errorServerIPMsg"
            >
            </ti-select>
            <span class="location" #errorServerIPMsg></span>
          </div>
        </ti-item>
        <!-- 源IP -->
        <ti-item [required]="false">
          <ti-item-label>
            <div tiOverflow>
              {{ "network_diagnositic.taskParams.source_ip" | i18n }}
            </div>
          </ti-item-label>
          <ti-ip
            class="form-value"
            #ipv4
            [version]="4"
            formControlName="sourceIp"
            style="width: 325px"
          >
          </ti-ip>
        </ti-item>
        <!-- 目标服务器IP -->
        <ti-item [required]="true">
          <ti-item-label>
            <div tiOverflow>
              {{ "network_diagnositic.taskParams.target_server_ip" | i18n }}
            </div>
          </ti-item-label>
          <div style="position: relative">
            <ti-ip
              class="form-value"
              #ipv4
              [version]="4"
              formControlName="destinationIp"
              [tiValidation]="{ type: 'blur' }"
              [errorMessageWrapper]="errorDestinationIpMsg"
              style="width: 325px"
            >
            </ti-ip>
            <span class="location" #errorDestinationIpMsg></span>
          </div>
        </ti-item>
      </ti-formfield>
      <!-- 删除按钮 -->
      <div
        *ngIf="i > 0"
        (click)="onFormArrayRemoveFG(i)"
        class="delete-node-btn"
      >
        <app-icon-react name="deleteProject"></app-icon-react>
      </div>
    </div>
  </div>
  <div
    *ngIf="allTaskNodeOption.length > formArray.controls.length"
    (click)="onFormArrayAddFG()"
    class="add-node-btn"
  >
    <div class="add-img">
      <app-icon-react name="addProject" [freeze]="'hover'"></app-icon-react>
    </div>
    <span>{{ "network_diagnositic.taskParams.add" | i18n }}</span>
  </div>
</div>
