<div class="mainconta">
    <!-- 菜单栏 -->
    <div id="menu" class="left">
        <!-- 修改密码(普通用户) -->
        <div *ngIf="!userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_modify_password }}'
            (click)="jumpScroll('itemModifypsw')">
            <span id="menuModifypsw">{{ i18n.plugins_porting_menu_modify_password }}</span>
        </div>
        <!-- 用户管理 -->
        <div *ngIf="userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_user_management }}'
            (click)="jumpScroll('itemUser')">
            <span id="menuUser">{{ i18n.plugins_porting_menu_user_management }}</span>
        </div>
        <!-- 弱口令字典 -->
        <div class='clickindex' title='{{ i18n.plugins_porting_menu_weak_password_dic }}'
            (click)="jumpScroll('itemWeakPasswordDictionary')">
            <span id="menuWeakPasswordDictionary">{{ i18n.plugins_porting_menu_weak_password_dic }}</span>
        </div>
        <!-- 系统配置 -->
        <div *ngIf="userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_system_config }}'
            (click)="jumpScroll('itemSysSetting')">
            <span id="menuSysSetting">{{ i18n.plugins_porting_menu_system_config }}</span>
        </div>
        <!-- 登录配置 -->
        <div *ngIf="isSystem && !userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_login_config }}'
            (click)="jumpScroll('itemLogin')">
            <span id="menuLogin">{{ i18n.plugins_porting_menu_login_config }}</span>
        </div>
        <!-- 操作日志 -->
        <div class='clickindex' title='{{ i18n.plugins_porting_menu_operation_log }}'
            (click)="jumpScroll('itemOperatlog')">
            <span id="menuOperatlog">{{ i18n.plugins_porting_menu_operation_log }}</span>
        </div>
        <!-- 运行日志 -->
        <div *ngIf="userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_run_log }}'
            (click)="jumpScroll('itemRunlog')">
            <span id="menuRunlog">{{ i18n.plugins_porting_menu_run_log }}</span>
        </div>
        <!-- 依赖字典 -->
        <div *ngIf="userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_dependency_dic }}'
            (click)="jumpScroll('itemWhitelist')">
            <span id="menuWhitelist">{{ i18n.plugins_porting_menu_dependency_dic }}</span>
        </div>
        <!-- 软件迁移管理 -->
        <div *ngIf="userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_software_migrate_temp }}'
            (click)="jumpScroll('itemMigratemp')">
            <span  id="menuMigratemp">{{ i18n.plugins_porting_menu_software_migrate_temp }}</span>
        </div>
        <!--扫描参数配置-->
        <div class='clickindex' title='{{ i18n.plugins_porting_menu_scan_params_settings }}'
            (click)="jumpScroll('itemDepparam')" >
            <span id="menuDepparam">{{ i18n.plugins_porting_menu_scan_params_settings }}</span>
        </div>
        <!-- 阈值设置 -->
        <div *ngIf="userRoleFlag" class='clickindex' title='{{ i18n.plugins_porting_menu_threshold_settings }}'
            (click)="jumpScroll('itemThreshold')">
            <span id="menuThreshold">{{ i18n.plugins_porting_menu_threshold_settings }}</span>
        </div>
        <!-- web服务证书 -->
        <div class='clickindex' title='{{ i18n.plugins_porting_menu_certificate_settings }}'
            (click)="jumpScroll('itemWebServerCertificate')" >
            <span id="menuWebServerCertificate">{{ i18n.plugins_porting_menu_certificate_settings }}</span>
        </div>
      <div class='clickindex' title='{{ i18n.plugins_porting_menu_crl_settings }}'
           (click)="jumpScroll('itemCertificateRevocationList')" >
        <span id="menuCertificateRevocationList">{{ i18n.plugins_porting_menu_crl_settings }}</span>
      </div>
    </div>
    <!-- 内容区 -->
    <div id="content" class="right">
        <!-- 修改密码(普通用户) -->
        <div *ngIf="!userRoleFlag" class="weidheight" id="itemModifypsw">
            <div id="item4" style="width: auto" class='titleset'>{{i18n.common_term_title_change}}
                <div class="secondheight">
                    <span class="little-primary-btn"
                        (click)="openPwdChange()">{{i18n.common_term_operate_modify}}</span>
                </div>
            </div>
        </div>
        <!-- 用户管理 -->
        <div *ngIf="userRoleFlag" class="weidheight" id="itemUser">
            <div id="item4" class="titleset">{{i18n.plugins_porting_menu_user_management}}
                <div class='secondheight'>
                    <span class="little-primary-btn" (click)="openUserCreate()">{{i18n.common_term_create_user}}</span>
                </div>
                <div class="user-table">
                    <ti-table [(displayedData)]="displayed" [srcData]="userManager.userList"
                        [columns]="columns">
                        <div class="ti3-table-fixed-head">
                            <table>
                                <thead>
                                    <tr>
                                        <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">
                                            {{column.title}}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="ti3-table-container user-table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th *ngFor="let column of columns" width="{{column.width}}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of displayed">
                                        <td tiOverflow>{{row.username}}</td>
                                        <td tiOverflow>{{i18n.plugins_porting_common_role[row.role]}}</td>
                                        <td tiOVerflow>{{row.workspace}}</td>
                                        <td *ngIf="isManager">
                                            <span>-</span>
                                            <span>-</span>
                                        </td>
                                        <td tiOverflow *ngIf="!isManager">
                                            <span *ngIf="row.role === 'User'" class="text-btn"
                                                (click)="openPwdReset(row)">{{i18n.common_term_operate_reset}}</span>
                                            <span *ngIf="row.role === 'Admin'" class="text-btn"
                                                (click)="openPwdChange(row)">{{i18n.common_term_title_change}}</span>
                                            <span *ngIf="row.role === 'User'" class="text-btn"
                                                (click)="openUserDelete(row)"
                                                style="margin-left: 30px">{{i18n.common_term_operate_del}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ti-table>

                    <app-default-page *ngIf="displayed.length === 0"></app-default-page>
                </div>
            </div>
        </div>
        <!-- 弱口令字典 -->
        <app-weak-pwd-dictionary></app-weak-pwd-dictionary>
        <!-- 系统配置 -->
        <app-system-setting *ngIf="userRoleFlag"></app-system-setting>
        <!-- 登录配置 -->
        <div *ngIf="isSystem && !userRoleFlag" id="itemLogin">
            <div class='titleset'>{{i18n.plugins_porting_menu_login_config}}
                <div *ngIf="!changeLogin" class="config-form">
                    <ti-formfield [formGroup]="loginConfigForm" labelWidth="15px">
                        <ti-item>
                            <div class="pstyle-second">{{rememberPwdSelect.label}}</div>
                            <ti-select class='inputstyle-select-disable' [disabled]='!changeLogin'
                                [options]='rememberPwdSelect.options' formControlName="rememberPwdSelect"
                                [(ngModel)]="rememberPwdSelect.selected">
                            </ti-select>
                        </ti-item>
                        <ti-item>
                            <div class="pstyle-second">{{autoLoginSelect.label}}</div>
                            <ti-select class='inputstyle-select-disable' [disabled]='!changeLogin'
                                [options]='autoLoginSelect.options' formControlName="autoLoginSelect"
                                [(ngModel)]="autoLoginSelect.selected">
                            </ti-select>
                        </ti-item>
                    </ti-formfield>
                    <div *ngIf="loginConfig.disAutoSet" class='secondheight'>
                        <span class="little-primary-btn" (click)="modifyLogin()">{{i18n.common_term_modify_set}}</span>
                    </div>
                    <div *ngIf="!loginConfig.disAutoSet" class='secondheight'>
                        <button class="little-primary-btn"
                            [disabled]="!loginConfig.disAutoSet">{{i18n.common_term_modify_set}}</button>
                    </div>
                </div>
                <div *ngIf="changeLogin" class="config-form">
                    <ti-formfield [formGroup]="loginConfigForm" labelWidth="15px">
                        <ti-item>
                            <div class="pstyle-second">{{rememberPwdSelect.label}}</div>
                            <ti-select Class="inputstyle-select" [options]='rememberPwdSelect.options'
                                formControlName="rememberPwdSelect" [(ngModel)]="rememberPwdSelect.selected"
                                (blur)="getAutoSet()">
                            </ti-select>
                        </ti-item>
                        <ti-item>
                            <div class="pstyle-second">{{autoLoginSelect.label}}</div>
                            <ti-select Class="inputstyle-select" [options]='autoLoginSelect.options'
                                formControlName="autoLoginSelect" [(ngModel)]="autoLoginSelect.selected"
                                (blur)="getRememberSet()"></ti-select>
                        </ti-item>
                    </ti-formfield>
                    <div class='secondheight'>
                        <span class="little-primary-btn" (click)="saveConfig()">{{i18n.common_term_operate_ok}}</span>
                        <span class="little-minor-btn" style="height: 26px; width: 98px;"
                            (click)="configLoginCancel()">{{i18n.common_term_operate_cancel}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 日志：操作日志,运行日志 -->
        <app-logmanager></app-logmanager>
        <!-- 依赖字典 -->
        <app-passinglist-management *ngIf="userRoleFlag"></app-passinglist-management>
        <!-- 软件迁移管理 -->
        <div *ngIf="userRoleFlag" class="weidheight" id="itemMigratemp">
            <div class='titleset' style='margin-top: 10px;'>{{i18n.plugins_porting_menu_software_migrate_temp}}</div>
            <!-- 升级软件迁移模板-->
            <div class='titleset'>{{i18n.plugins_porting_title_migUpgrade}}
                <div class="pstyle">{{i18n.plugins_porting_tips_migUpgradeOpera}}<a class='line'
                        [href]='pluginUrlCfg.portingPackages'>{{i18n.plugins_porting_tips_migUpgradePackage_download}}</a>
                </div>
                <div *ngIf="!migUpgradeShow" class="secondheight">
                    <button class="little-primary-btn" [disabled]="startGrade"
                        (click)="startMigOpera('migUpgradeShow')">{{i18n.plugins_porting_button_migStartGrade}}</button>
                </div>
                <div *ngIf="migUpgradeShow" class='secondheight'>
                    <div class="secondheight">
                        <div class="pstyle-second">{{i18n.plugins_porting_tips_migUpgradePackage}}</div>
                        <div style="display: flex;">
                            <textarea class="edit-style" type="text" [tiValidation]="validation" (blur)="isRight()"
                                [(ngModel)]="inputItems.packpath.value" readonly></textarea>
                            <div class="uploadButton">
                                <button class="little-minor-btn" [disabled]="isUploading"
                                    (click)="zipUpload()">{{i18n.plugins_porting_analysis_upload}}
                                    <input type="file" id="zipload" style="display: none;" (change)="uploadMigFile()" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="migUpgradeShow" class='secondheight'>
                        <div class="pstyle-second">
                            <div class="ti3-icon ti3-icon-staricon">{{i18n.plugins_porting_tips_migManagerPwd}}</div>
                        </div>
                        <div style="position: relative; font-size: 0;">
                            <input id="pwd" class='input' [type]="textType.type2" [(ngModel)]="migUpgradePwd"
                                oncopy="return false" [ngClass]="{inputError: upgradePwdFlag}"
                                (focus)="upgradePwdFlag = false"
                                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                                onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                                onpaste="return true" oncut="return false"
                                (ngModelChange)="checkMigPwd('upgradePwdFlag')" maxlength="32" noeye>
                            <div class="eyes" style="top: 16px;">
                                <span (click)="changeType('type2')" *ngIf="textType.type2 == 'text'">
                                    <img src="./assets/img/icon-view.svg" />
                                </span>
                                <span (click)="changeType1('type2')" *ngIf="textType.type2 == 'password'">
                                    <img src="./assets/img/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                        <div *ngIf="upgradePwdFlag" class="errormessage">
                            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                            <span class="ti3-validate-text">{{managePwdTips}}</span>
                        </div>
                        <div class='secondheight'>
                            <span class="little-primary-btn"
                                (click)="manageMigrationModel('upgrade')">{{i18n.common_term_operate_ok}}</span>
                            <span class="little-minor-btn" style="height: 26px; width: 98px;"
                                (click)="cancelMigOpera('migUpgradeShow')">{{i18n.common_term_operate_cancel}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 恢复软件迁移模板 -->
            <div class='titleset'>{{i18n.plugins_porting_title_migRecover}}
                <p class="pstyle">{{i18n.plugins_porting_tips_migRecoverOpera}}</p>
                <div *ngIf="!migRecoverShow" class="secondheight">
                    <button class="little-primary-btn" [disabled]="startRecover"
                        (click)="startMigOpera('migRecoverShow')">{{i18n.plugins_porting_buttton_migStartRecover}}</button>
                </div>
                <div *ngIf="migRecoverShow" class='secondheight'>
                    <div class="pstyle-second">
                        <div for="user" class="ti3-icon ti3-icon-staricon">{{i18n.plugins_porting_tips_migManagerPwd}}
                        </div>
                    </div>
                    <div style="position: relative; font-size: 0;">
                        <input id="pwd" class='input' [type]="textType.type3" [(ngModel)]="migRecoveryPwd"
                            oncopy="return false" [ngClass]="{inputError: recoveryPwdFlag}" oncontextmenu="return false"
                            (focus)="recoveryPwdFlag = false"
                            onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}" onpaste="return true"
                            oncut="return false" (ngModelChange)="checkMigPwd('recoveryPwdFlag')" maxlength="32" noeye>
                        <div class="eyes" style="top: 16px;">
                            <span (click)="changeType('type3')" *ngIf="textType.type3 == 'text'">
                                <img src="./assets/img/icon-view.svg" />
                            </span>
                            <span (click)="changeType1('type3')" *ngIf="textType.type3 == 'password'">
                                <img src="./assets/img/icon-hide.svg" />
                            </span>
                        </div>
                    </div>
                    <div *ngIf="recoveryPwdFlag" class="errormessage">
                        <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                        <span class="ti3-validate-text">{{managePwdTips}}</span>
                    </div>
                    <div class='secondheight'>
                        <span class="little-primary-btn"
                            (click)="manageMigrationModel('recovery')">{{i18n.common_term_operate_ok}}</span>
                        <span class="little-minor-btn" style="height: 26px; width: 98px;"
                            (click)="cancelMigOpera('migRecoverShow')">{{i18n.common_term_operate_cancel}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 扫描参数配置 -->
        <div id="itemDepparam">
            <div class='titleset'>{{i18n.plugins_porting_menu_scan_params_settings}}
                <a  *ngIf="currLang === 0"
                    [href]="pluginUrlCfg.faqNineteenZn">
                    <img class="help-tips-icon" *ngIf="currTheme == 1" src="./assets/img/icon-help-dark.svg" alt="">
                    <img class="help-tips-icon" *ngIf="currTheme == 2" src="./assets/img/icon-help-light.svg" alt="">
                </a>
                <a  *ngIf="currLang === 1"
                    [href]="pluginUrlCfg.faqNineteenEn">
                    <img class="help-tips-icon" *ngIf="currTheme == 1" src="./assets/img/icon-help-dark.svg" alt="">
                    <img class="help-tips-icon" *ngIf="currTheme == 2" src="./assets/img/icon-help-light.svg" alt="">
                </a>
                <div *ngIf="!depParamSet.changeDep" class="config-form">
                    <ti-formfield [formGroup]="configForm" labelWidth="15px">
                        <ti-item>
                            <div class="pstyle-second">{{configData.keepGoing.label}}</div>
                            <ti-select class='inputstyle-select-disable' [disabled]='!depParamSet.displayset'
                                [options]='configData.keepGoing.options' formControlName="keepGoing"
                                [(ngModel)]="configData.keepGoing.selected"></ti-select>
                        </ti-item>

                        <ti-item>
                            <div class='pstyle-second'>
                                <div class="ti3-icon ti3-icon-staricon">{{configData.cLine.label}}</div>
                            </div>
                            <input class='input' [readonly]="!depParamSet.displayset"
                                [ngClass]="{inputError: depParamSet.cLineFlag}" (focus)="depParamSet.cLineFlag = false"
                                formControlName="cLine" onpaste="return true" oncut="return false"
                                [(ngModel)]="configData.cLine.value" disabled />
                            <div *ngIf="depParamSet.cLineFlag" class="ti3-unifyvalid-error-container">
                                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                                <span class="ti3-validate-text">{{i18n.plugins_porting_term_config_valid}}</span>
                            </div>
                        </ti-item>
                        <ti-item>
                            <div class='pstyle-second'>
                                <div class="ti3-icon ti3-icon-staricon">{{configData.asmLine.label}}</div>
                            </div>
                            <input class='input' [readonly]="!depParamSet.displayset" formControlName="asmLine"
                                (focus)="depParamSet.asmLineFlag = false" onpaste="return true" oncut="return false"
                                [ngClass]="{inputError: depParamSet.asmLineFlag}" [(ngModel)]="configData.asmLine.value"
                                disabled />
                            <div *ngIf="depParamSet.asmLineFlag" class="ti3-unifyvalid-error-container">
                                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                                <span class="ti3-validate-text">{{i18n.plugins_porting_term_config_valid}}</span>
                            </div>
                        </ti-item>
                        <ti-item>
                            <div class='pstyle-second'>{{configData.pMonthFlag.label}}</div>
                            <ti-select class='inputstyle-select-disable' style="width: 400px;height: 28px;"
                                [disabled]="!depParamSet.displayset" [options]='configData.pMonthFlag.options'
                                formControlName="pMonthFlag" [(ngModel)]="configData.pMonthFlag.selected">
                            </ti-select>
                        </ti-item>
                        <ti-item>
                            <div *ngIf="!depParamSet.displayset">
                                <span class="little-primary-btn"
                                    (click)="modifyDepParam()">{{i18n.common_term_modify_set}}</span>
                            </div>
                        </ti-item>
                    </ti-formfield>
                </div>
                <div *ngIf="depParamSet.changeDep" class="config-form">
                    <ti-formfield [formGroup]="configForm" labelWidth="15px">
                        <ti-item>
                            <div class="pstyle-second">{{configData.keepGoing.label}}</div>
                            <ti-select class='inputstyle-select' [disabled]="!depParamSet.displayset"
                                [options]='configData.keepGoing.options' formControlName="keepGoing"
                                [(ngModel)]="configData.keepGoing.selected"></ti-select>
                        </ti-item>
                        <ti-item>
                            <div class='pstyle-second'>
                                <div class="ti3-icon ti3-icon-staricon">{{configData.cLine.label}}</div>
                            </div>
                            <input class='input' [readonly]="!depParamSet.displayset"
                                [ngClass]="{inputError: depParamSet.cLineFlag}" (focus)="depParamSet.cLineFlag = false"
                                formControlName="cLine" onpaste="return true" oncut="return false"
                                [(ngModel)]="configData.cLine.value" (blur)="cLineCheck()" />
                            <div *ngIf="depParamSet.cLineFlag" class="ti3-unifyvalid-error-container">
                                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                                <span class="ti3-validate-text">{{i18n.plugins_porting_term_config_valid}}</span>
                            </div>
                        </ti-item>
                        <ti-item>
                            <div class='pstyle-second'>
                                <div class="ti3-icon ti3-icon-staricon">{{configData.asmLine.label}}</div>
                            </div>
                            <input class='input' [readonly]="!depParamSet.displayset" formControlName="asmLine"
                                (focus)="depParamSet.asmLineFlag = false" onpaste="return true" oncut="return false"
                                [ngClass]="{inputError: depParamSet.asmLineFlag}" [(ngModel)]="configData.asmLine.value"
                                (blur)="asmLineCheck()" />
                            <div *ngIf="depParamSet.asmLineFlag" class="ti3-unifyvalid-error-container">
                                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                                <span class="ti3-validate-text">{{i18n.plugins_porting_term_config_valid}}</span>
                            </div>
                        </ti-item>
                        <ti-item>
                            <div class='pstyle-second'>{{configData.pMonthFlag.label}}</div>
                            <ti-select class='inputstyle-select' style="width: 400px;height: 28px;"
                                [disabled]="!depParamSet.displayset" [options]='configData.pMonthFlag.options'
                                formControlName="pMonthFlag" [(ngModel)]="configData.pMonthFlag.selected"></ti-select>
                        </ti-item>
                        <ti-item>
                            <div *ngIf="!depParamSet.displayset">
                                <span class="little-primary-btn"
                                    (click)="modifyDepParam()">{{i18n.common_term_modify_set}}</span>
                            </div>
                            <div *ngIf="depParamSet.displayset">
                                <div class="pstyle-second">
                                    <div class="ti3-icon ti3-icon-staricon">{{label.userPwd}}
                                    </div>
                                </div>
                                <div style="position: relative;">
                                    <input class='input' [ngClass]="{inputError: depParamSet.errorpwdFlag}"
                                        [type]="textType.type4" formControlName="userPwd" [(ngModel)]="userPwd"
                                        (focus)="depParamSet.errorpwdFlag = false"
                                        onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                                        oncopy="return false"
                                        onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}"
                                        onpaste="return true" oncut="return false" (ngModelChange)="depparamPwdCheck()" maxlength="32" noeye>
                                    <div class="eyes">
                                        <span (click)="changeType('type4')" *ngIf="textType.type4 == 'text'">
                                            <img src="./assets/img/icon-view.svg" />
                                        </span>
                                        <span (click)="changeType1('type4')" *ngIf="textType.type4 == 'password'">
                                            <img src="./assets/img/icon-hide.svg" />
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="depParamSet.errorpwdFlag" class="ti3-unifyvalid-error-container">
                                    <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                                    <span class="ti3-validate-text">{{depParamSet.errorpwdinfo}}</span>
                                </div>
                                <div class='secondheight'>
                                    <span class="little-primary-btn"
                                        (click)="configOk()">{{i18n.common_term_operate_ok}}</span>
                                    <span class="little-minor-btn" style="height: 26px; width: 98px;"
                                        (click)="configCancel()">{{i18n.common_term_operate_cancel}}</span>
                                </div>
                            </div>
                        </ti-item>
                    </ti-formfield>
                </div>
            </div>
        </div>
        <!-- 阈值设置 -->
        <div *ngIf="userRoleFlag" class="weidheight" id="itemThreshold">
            <div *ngIf="!changeRe">
                <div class='titleset'>{{i18n.plugins_porting_menu_threshold_settings}}
                    <div class="tip-dsc">
                        <img src="./assets/img/tip/icon_information.svg">
                        <span class="top-tips">{{ i18n.common_term_report_warn }}</span>
                    </div>
                    <div class='secondheight'>
                        <p class="middlefont">{{ i18n.common_term_min_report_num }}</p>
                        <p class="middlefont-tip">{{ i18n.common_term_min_report_tit }}</p>
                        <input class="input" style="margin-top: -4px;" [(ngModel)]="thresholdSet.safenum" disabled>
                    </div>
                    <div class='secondheight'>
                        <p class="middlefont">{{ i18n.common_term_max_report_num }}</p>
                        <p class="middlefont-tip">{{ i18n.common_term_max_report_tit }}</p>
                        <input class="input" style="margin-top: -4px;" [(ngModel)]="thresholdSet.dangerousnum" disabled>
                    </div>
                    <div *ngIf="!comchange" class='secondheight'>
                        <button type="button" class="little-minor-btn" disabled>{{i18n.common_term_modify_set}}</button>
                    </div>
                    <div *ngIf="comchange" class='secondheight'>
                        <span class="little-primary-btn" (click)="changeReport()">{{i18n.common_term_modify_set}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="changeRe">
                <div class='titleset'>{{i18n.plugins_porting_menu_threshold_settings}}
                    <div class="tip-dsc">
                        <img src="./assets/img/tip/icon_information.svg">
                        <span class="top-tips">{{ i18n.common_term_report_warn }}</span>
                    </div>
                    <div class='secondheight'>
                        <p class="middlefont">{{ i18n.common_term_min_report_num }}</p>
                        <p class="middlefont-tip">{{ i18n.common_term_min_report_tit }}</p>
                        <input class="input" style="margin-top: -4px;" [(ngModel)]="thresholdSet.minValue"
                            [required]="true" [ngClass]="{inputError: thresholdSet.safenumsFlag}" oncopy="return false"
                            onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}" onpaste="return true"
                            oncut="return false" (ngModelChange)="safenumsCheck()">
                        <div *ngIf="thresholdSet.safenumsFlag" class="errormessage">
                            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                            <span class="ti3-validate-text">{{safeMessage}}</span>
                        </div>
                    </div>
                    <div class='secondheight'>
                        <p class="middlefont">{{ i18n.common_term_max_report_num }}</p>
                        <p class="middlefont-tip">{{ i18n.common_term_max_report_tit }}</p>
                        <input class="input" style="margin-top: -4px;" [(ngModel)]="thresholdSet.maxValue"
                            [required]="true" [ngClass]="{inputError: thresholdSet.dangerousnumsFlag}"
                            oncopy="return false" onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}" onpaste="return true"
                            oncut="return false" (ngModelChange)="dangerousnumsCheck()">
                        <div *ngIf="thresholdSet.dangerousnumsFlag" class="errormessage">
                            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                            <span class="ti3-validate-text">{{dangerousMessage}}</span>
                        </div>
                        <div *ngIf="thresholdSet.topLarge" class="errormessage">
                            <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                            <span class="ti3-validate-text">{{i18n.common_term_report_warn}}</span>
                        </div>
                        <div class='secondheight'>
                            <span class="little-primary-btn" (click)="reportOk()">{{ i18n.common_term_operate_ok
                                }}</span>
                            <span class="little-minor-btn" style="height: 26px; width: 98px;"
                                (click)="changeReportCancel()">{{ i18n.common_term_operate_cancel }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- web服务证书 -->
        <app-web-server-certificate></app-web-server-certificate>
        <app-certificate-revocation-list></app-certificate-revocation-list>
    </div>
</div>

<app-messagebox #CreateUserPage>
    <div class="content show-box" *ngIf="showCreateModal">
        <div class="do-title">
            <span class="title">{{i18n.common_term_create_user_title}}</span>
            <span (mousedown)="closeUserCreate()" class="tip-close">
                <img class="ti3-close" src="./assets/img/close_icon.svg" />
                <img class="ti3-close" src="./assets/img/close_hover.svg">
            </span>
        </div>
        <div class="title-border"></div>
        <div class="edit-box">
            <div *ngIf="isDangerous" class="error-info">
                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                <span class="error-text">{{errorMessage}}</span>
                <img src="./assets/img/close_icon.svg" (click)="closeErrMessageAdd()">
            </div>
            <ti-formfield [formGroup]="createRoleForm" class="form">
                <ti-item [label]="label.Name" [required]="true">
                    <input class="inputJump" type="text" tiText [tiValidation]="validation" formControlName="name" maxlength="32"
                        (blur)="getWorkSpace()" onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                        onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}" onpaste="return true"
                        oncut="return false" oncopy="return false" oncontextmenu="return false">
                    <p class="name-tip">{{i18n.common_term_create_tip}}</p>
                </ti-item>
                <ti-item [label]="label.Workspace">
                    <input class="inputJump" type="text" tiText formControlName="workspace" [(ngModel)]="workspace"
                        disabled>
                </ti-item>
                <ti-item [label]="label.AdminPwd" [required]="true">
                    <app-porting-password [appTiValidation]="validation" formControlName="cadminPwd">
                    </app-porting-password>
                </ti-item>
                <ti-item [label]="label.Pwd" [required]="true">
                    <app-porting-password [appTiValidation]="validation" formControlName="pwd">
                    </app-porting-password>
                </ti-item>
                <ti-item [label]="label.Cpwd" [required]="true">
                    <app-porting-password [appTiValidation]="validation" formControlName="cpwd" (keyup.enter)="createUser()">
                    </app-porting-password>
                </ti-item>
            </ti-formfield>
            <div class="btn-box">
                <span class="user-sure-btn" (click)="createUser()">{{i18n.common_term_operate_ok}}</span>
                <span class="user-close-btn" (mousedown)="closeUserCreate()">{{i18n.common_term_operate_cancel}}</span>
            </div>
        </div>
    </div>
</app-messagebox>

<app-messagebox #ResetPwdPage>
    <div class="content show-box" *ngIf="showResetModal">
        <div class="do-title">
            <span class="title">{{i18n.common_term_operate_reset}}</span>
            <span (mousedown)="closePwdReset()" class="tip-close">
                <img class="ti3-close" src="./assets/img/close_icon.svg" />
                <img class="ti3-close" src="./assets/img/close_hover.svg">
            </span>
        </div>
        <div class="title-border"></div>
        <div class="edit-box">
            <div *ngIf="isDangerousRes" class="error-info">
                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                <span class="error-text">{{errorMessageRes}}</span>
                <img src="./assets/img/close_icon.svg" (click)="closeErrMessageRes()">
            </div>
            <ti-formfield [formGroup]="resetPwdForm">
                <ti-item [label]="label.Name">
                    <input class="inputJump" tiText disabled [(ngModel)]="updateUser" [tiValidation]="validation" formControlName="name" maxlength="32">
                </ti-item>
                <ti-item [label]="label.Workspace">
                    <input class="inputJump" type="text" tiText formControlName="workspace" [(ngModel)]="workspace"
                        disabled>
                </ti-item>
                <ti-item [label]="label.AdminPwd" [required]="true">
                    <div style="position: relative;">
                        <input class="inputJump" [type]="textType.type8" tiText [tiValidation]="validation"
                            formControlName="radminPwd" oncopy="return false" oncontextmenu="return false"
                            onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}" onpaste="return true"
                            oncut="return false" maxlength="32" noeye>
                        <div class="eyes">
                            <span (click)="changeType('type8')" *ngIf="textType.type8 == 'text'">
                                <img src="./assets/img/icon-view.svg" />
                            </span>
                            <span (click)="changeType1('type8')" *ngIf="textType.type8 == 'password'">
                                <img src="./assets/img/icon-hide.svg" />
                            </span>
                        </div>
                    </div>
                </ti-item>
                <ti-item [label]="label.newPwd" [required]="true">
                    <div style="position: relative;">
                        <input class="inputJump" tiText [tiValidation]="validation" formControlName="pwd"
                            [type]="textType.type9" autocomplete="new-password" oncopy="return false"
                            oncontextmenu="return false"
                            onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}" onpaste="return true"
                            oncut="return false" maxlength="32" noeye>
                        <div class="eyes">
                            <span (click)="changeType('type9')" *ngIf="textType.type9 == 'text'">
                                <img src="./assets/img/icon-view.svg" />
                            </span>
                            <span (click)="changeType1('type9')" *ngIf="textType.type9 == 'password'">
                                <img src="./assets/img/icon-hide.svg" />
                            </span>
                        </div>
                    </div>
                </ti-item>
                <ti-item [label]="label.Cpwd" [required]="true">
                    <div style="position: relative;">
                        <input class="inputJump" tiText [tiValidation]="validation" formControlName="cpwd"
                            [type]="textType.type10" oncopy="return false" oncontextmenu="return false"
                            onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}" onpaste="return true"
                            oncut="return false" (keyup.enter)="resetPwd()" maxlength="32" noeye>
                        <div class="eyes">
                            <span (click)="changeType('type10')" *ngIf="textType.type10 == 'text'">
                                <img src="./assets/img/icon-view.svg" />
                            </span>
                            <span (click)="changeType1('type10')" *ngIf="textType.type10 == 'password'">
                                <img src="./assets/img/icon-hide.svg" />
                            </span>
                        </div>
                    </div>
                </ti-item>
            </ti-formfield>
            <div class="btn-box">
                <span class="user-sure-btn" (mousedown)="resetPwd()">{{i18n.common_term_operate_ok}}</span>
                <span class="user-close-btn" (mousedown)="closePwdReset()">{{i18n.common_term_operate_cancel}}</span>
            </div>
        </div>
    </div>
</app-messagebox>

<app-messagebox #DelUserPage>
    <div class="content show-box" *ngIf="showDeleteModal">
        <div class="do-title">
            <span class="title">{{i18n.common_term_operate_delete_title}}</span>
            <span (click)="closeUserDelete()" class="tip-close">
                <img class="ti3-close" src="./assets/img/close_icon.svg" />
                <img class="ti3-close" src="./assets/img/close_hover.svg">
            </span>
        </div>
        <div class="title-border"></div>
        <div class="del-content" [ngStyle]="{display: isDangerousDel ? 'none' : 'block'}">
            <img src="./assets/img/home/warn.png" alt="">
            <p>{{i18n.common_term_operate_delete_tip1}}</p>
        </div>
        <div class="edit-box">
            <div *ngIf="isDangerousDel" class="error-info">
                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                <span class="error-text">{{errorMessageDel}}</span>
                <img src="./assets/img/close_icon.svg" (click)="closeErrMessageDel()">
            </div>
            <ti-formfield [formGroup]="delRoleForm">
                <ti-item [required]="true" [label]="label.AdminPwd">
                    <app-porting-password [appTiValidation]="validation" formControlName="dadminPwd">
                    </app-porting-password>
                </ti-item>
            </ti-formfield>
            <div class="btn-box">
                <span class="user-close-btn" (click)="deleteUser()">{{i18n.common_term_operate_ok}}</span>
                <span class="user-sure-btn" (mousedown)="closeUserDelete()">{{i18n.common_term_operate_cancel}}</span>
            </div>
        </div>
    </div>
</app-messagebox>

<ng-template #ModifyPwdPage>
    <ti-modal-header>
        {{ i18n.common_term_title_change }}
        <span (mousedown)="closePwdChange()" class="tip-close">
            <img class="ti3-close" src="./assets/img/close_icon.svg" />
            <img class="ti3-close" src="./assets/img/close_hover.svg">
        </span>
    </ti-modal-header>
    <ti-modal-body>
        <div class="edit-box">
            <div *ngIf="isDangerousEdt" class="error-info">
                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                <span class="error-text">{{errorMessageEdt}}</span>
                <img src="./assets/img/close_icon.svg" (click)="isDangerousEdt = false">
            </div>
            <ti-formfield [formGroup]="changePwdForm">
                <ti-item [label]="label.Name">
                    <input class="inputJump" tiText disabled [(ngModel)]="updateUser" [tiValidation]="validation" formControlName="name" maxlength="32">
                </ti-item>
                <ti-item [label]="label.oldPwd" [required]="true">
                    <app-porting-password [appTiValidation]="validation" formControlName="oldPwd">
                    </app-porting-password>
                </ti-item>
                <ti-item [label]="label.newPwd" [required]="true">
                    <app-porting-password [appTiValidation]="validation" formControlName="pwd">
                    </app-porting-password>
                </ti-item>
                <ti-item [label]="label.Cpwd" [required]="true">
                    <app-porting-password [appTiValidation]="validation" formControlName="cpwd" (keyup.enter)="changePwd()">
                    </app-porting-password>
                </ti-item>
            </ti-formfield>
        </div>
    </ti-modal-body>
    <ti-modal-footer>
        <div class="btn-box" style="margin-top: 0px;">
            <span class="user-sure-btn" (click)="changePwd()">{{i18n.common_term_operate_ok}}</span>
            <span class="user-close-btn" (mousedown)="closePwdChange()">{{i18n.common_term_operate_cancel}}</span>
        </div>
    </ti-modal-footer>
</ng-template>
