:host ::ng-deep .content-container {
  height: 100%;
  min-height: 80vh;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .header {
    .group-list {
      font-size: 12px;

      &:not(:first-child) {
        margin-left: 30px;
      }

      .function-label {
        color: #9ea4b3;
        padding-right: 10px;
      }
    }
  }

  > .body {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    > .func-main {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      .table-container {
        flex: 1;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > .title {
          h2 {
            font-size: 20px;
            height: 30px;
            font-weight: normal;
            line-height: 30px;
            color: #222222;
          }
        }

        .ti3-table {
          margin-top: 20px;
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow: hidden;

          th {
            .content {
              display: flex;
              align-items: center;
              overflow: hidden;

              .ti3-cell-text-container {
                overflow: hidden;
                height: 32px;

                .ti3-cell-text {
                  max-width: 100% !important;
                }
              }

              &.center {
                justify-content: center;
              }
            }
          }

          .ti3-table-container {
            flex: 1;
            position: relative;
            padding-bottom: 10px;

            td.codeLine {
              white-space: pre-wrap !important;
            }

            thead {
              > tr {
                > th {
                  border-bottom: 0;
                }
              }
            }

            tbody {
              .ti3-table-tree img {
                margin-right: 10px;

                &.active {
                  transform: rotate(90deg);
                }
              }

              tr {
                &.active {
                  background: #edf4ff !important;

                  td:first-child > div {
                    background: #edf4ff;
                  }
                }

                &:hover {
                  background: #f5f9ff !important;

                  td:first-child > div {
                    background: #f5f9ff;
                  }
                }
              }

              .childTr td {
                padding: 0 10px;

                &:first-child {
                  background: #f5f9ff;
                  border-bottom: 0;
                  padding: 0;

                  > div {
                    margin-left: 30px;
                    padding: 10px;
                    background: #fff;
                    transition: background-color 150ms linear;
                    position: relative;
                    border-bottom: 1px solid #e1e6ee;

                    &::before {
                      content: "";
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 2px;
                      height: calc(100% + 1px);
                      background: #6c92fa;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .assembly-right {
        margin-left: 48px;

        .operate-box {
          float: right;
          display: flex;

          .blockIcon {
            width: 28px;
            height: 28px;
            cursor: pointer;
            margin-right: 8px;
          }

          .preBlock {
            background: url(../../../../../../assets/img/projects/preBlock_normal.svg);

            &:hover {
              background: url(../../../../../../assets/img/projects/preBlock_hover.svg);
            }

            &:active {
              background: url(../../../../../../assets/img/projects/preBlock_active.svg);
            }

            &.disabled {
              background: url(../../../../../../assets/img/projects/preBlock_disabled.svg);
            }
          }

          .nextBlock {
            background: url(../../../../../../assets/img/projects/nextBlock_normal.svg);

            &:hover {
              background: url(../../../../../../assets/img/projects/nextBlock_hover.svg);
            }

            &:active {
              background: url(../../../../../../assets/img/projects/nextBlock_active.svg);
            }

            &.disabled {
              background: url(../../../../../../assets/img/projects/nextBlock_disabled.svg);
            }
          }
        }
      }
    }

    > .source-img {
      box-sizing: border-box;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #fff;
      overflow: hidden;

      &.active {
        height: 42px;
      }

      > h2 {
        font-size: 20px;
        width: 1159px;
        height: 30px;
        font-weight: normal;
        line-height: 30px;
        color: #222222;
        margin-bottom: 16px;
      }

      .source-svg {
        border: 1px solid #e1e6ee;
        border-radius: 5px;
        position: relative;
        height: 240px;
        overflow: hidden;

        > img {
          position: absolute;
          z-index: 111;
          top: 10px;
          right: 10px;
          cursor: pointer;
          user-select: none;
        }

        #insvg {
          position: relative;
          transform-origin: center center;
          text-align: center;
          margin-top: 30px;
          height: calc(100% - 30px);

          svg text {
            user-select: none;
          }
        }
      }
    }
  }
}

.ti3-table-tree {
  display: inline-block;
}

:host .ti3-table > .ti3-table-fixed-head + .ti3-table-container > table > tbody > tr:last-child > td:not(:first-child) {
  border-bottom: 1px solid #e1e6ee !important;
}

.toggle-btn-top {
  text-align: center;
  cursor: pointer;
  width: 100%;
  z-index: 99;
  user-select: none;

  img {
    transition: all 100ms linear;

    &.active {
      transform: rotate(180deg);
    }
  }
}

.folding-line {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #e1e6ee;
}

@media only screen and (max-height: 900px) {
  .chen-nodata-td.sourceCode {
    img {
      width: 260px !important;
    }
    div {
      margin-bottom: 0px;
    }
  }
}
