<app-mission-public #missionPublic [labelWidth]="labelWidth" [drawerLevel]="drawerLevel"
    [nodeName]="nodeParams.nodeName" [nodaIP]="nodeParams.nodeIP">
    
    <div class="model-body" id="hpc-node-params" [formGroup]="formGroup">
        <app-pid-process-input *ngIf="options.pidProcess.display" [labelWidth]="labelWidth"
            formControlName="pidProcess">
        </app-pid-process-input>
        <app-app-params-input *ngIf="options.appAndParams.display" [labelWidth]="labelWidth"
            formControlName="appAndParams">
        </app-app-params-input>

        <div class="analysis-target-item" *ngIf="options.openMpParams.display">
            <div class="analysis-target-item-label" [ngStyle]="{width: labelWidth}">
            <span>{{'hpc.mission_create.openMpParams' | i18n}}</span>
                    <ti-icon [tiTip]="'hpc.mission_create.openMpParams_tip' | i18n" style="margin-left:10px;" tiTipMaxWidth='370px'
                        tiTipPosition="bottom">
                        <img src='./assets/img/summary/tooltip.png'>
                    </ti-icon>
            </div>
            <div class="analysis-target-item-value">
                <input tiText type="text" formControlName="openMpParams" [tiValidation]="validation"
                    [placeholder]="'hpc.mission_create.openMpParams' | i18n" style="width: 300px" />
            </div>
        </div>

    </div>
    <footer>
        <button tiButton type="button" color="primary" style="margin-right: 20px" [disabled]="!formGroup.valid"
            (click)="onConfirm()">{{'common_term_operate_ok' | i18n}}</button>
        <button tiButton type="button" (click)="onClose()"> {{'common_term_operate_cancel' | i18n}} </button>
    </footer>
</app-mission-public>