<div class="environment-container p-relative">
    <div class="top-container flex">
        <div class="img-box">
            <img src="./assets/img/home/icon_home_tip.svg" />
        </div>
        <p class="text-title">
            <span>{{ headerTip }}</span>
            <a class="decoration" (click)="coolapse = true" *ngIf="!coolapse">{{ i18n.automake_evn_check.link }}</a>
        </p>
    </div>
    <p class="close-tip" (click)="closeGuideTip()">×</p>
    <div class="bottom-container" *ngIf="coolapse">
        <p >{{ i18n.automake_evn_check.guide_title }}</p>
        <p *ngFor="let guide of guideList; let index = index">{{ guide }}</p>
        <p>
            <a *ngFor="let link of linkUrl" class="cursor-link" target="_blank" [href]="link.link">{{ link.text }}</a>
        </p>
       <a (click)="coolapse = false" class="decoration">{{ i18n.automake_evn_check.hide_guide }}</a>
    </div>
</div>
