<app-mission-modal #missionModal>
  <div class="modal-dialog" [ngClass]="[explorer]">

    <div class="modal-title">{{ funcInfo.funcName }}</div>

    <div class="modal-content">
      <p class="stack">
        <span class="label">{{ i18n.common_term_task_tab_summary_callstack }}</span>
        <span class="text" tiOverflow>{{ funcInfo.stack }}</span>
      </p>
      <p class="mem-leak-type">
        <span class="label">{{ i18n.diagnostic.memReleaseType }}</span>
        <span class="text">{{ funcInfo.memReleaseType }}</span>
      </p>
      <div class="source-code-box">
        <app-source-code-viewer
          [memLeakType]="2"
          [data]="funcInfo.sourceCodeData"
          [isModal]="true"
        >
        </app-source-code-viewer>
      </div>
      <div class="footer">
        <button tiButton type="button" (click)="close()">
          {{ i18n.common_term_operate_close }}
        </button>
      </div>
    </div>

  </div>
</app-mission-modal>
