<div class="timing_container">
    <!-- 外源坐标 -->
    <div class="extraposition-axis">
        <app-extraposition-axis [option]="extrapositionOption" [hotspotDomain]="timingChartHotDomain"
            (axisTransform)="onExtraAxisTransform($event)"></app-extraposition-axis>
    </div>

    <div class="title_bar" style="display:flex;justify-content: space-between;">
        <div class="left_select" style="display:flex;">
            <span class="select-item">
                <ti-select style="width: 180px;margin-right: 40px;" [multiple]="false" [options]="typeOptions"
                    [searchable]="false" [(ngModel)]="typeSelected" (ngModelChange)="typeChange($event)" id="myselect1">
                </ti-select>
            </span>
            <span class="select-item" id="select">
                <ti-select style="width: 180px; overflow: hidden;" [multiple]="true" [options]="cpuNumsOption"
                    [searchable]="true" [(ngModel)]="cpuSelected" (ngModelChange)="cpuChange($event)" id="myselect2">
                </ti-select>
            </span>
        </div>
    </div>
    <!-- 时序表 -->
    <div class="timing_table" *ngIf="!chartShow">
        <app-timing-normalized [data]="timingData" [hotspotDomain]="timingChartHotDomain"
            (chartClick)="childData($event)" (timingTransform)="onTimingTransform($event)"></app-timing-normalized>
    </div>
</div>
<div *ngIf="chartShow && !showLoading" style="height: calc(100% - 91px);">
    <app-default-page [scene]="'noData'" [height]="'80vh'" [bgColor]="'transparent'">
    </app-default-page>
</div>

<div *ngIf="showLoading" class="global-loading">
    <app-loading [size]="'max'" [height]="'100vh'" [bgColor]="'none'"></app-loading>
</div>