.ddr-summury {
  .echart-header {
    display: flex;

    title {
      display: block;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      margin-right: 8px;
    }
    .show-average {
      border: none;
      background: none;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #0067ff;
      cursor: pointer;
    }
  }

  .echart-box {
    height: 170px;
    position: relative;

    .y-axis-header {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 30px;
      align-items: center;
      z-index: 1;

      > span {
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #222222;
        margin-right: 10px;
      }

      ti-select {
        width: 30px;
        height: 30px;

        ::ng-deep {
          .ti3-select-dominator-text {
            display: none;
          }
        }
      }
    }

    .echarts {
      height: 170px;
    }
  }
}

::ng-deep #averageModal {
  .ti3-table>.ti3-resize-wrapper>table>tbody>tr>td,
  .ti3-table>.ti3-table-container>table>tbody>tr>td,
  .ti3-table>.ti3-table-fixed-head>table>tbody>tr>td,
  .ti3-table>table>tbody>tr>td {
    padding: 6px var(--ti-table-td-padding);
  }
}
