<app-time-line *ngIf="timeData.length" [timeData]='timeData' [lineData]='timeLine' (timeLineData)='timeLineData($event)'
    #timeLineDetail></app-time-line>
<!-- CPU平均利用率 -->
<div class="chart-box">
    <div class="select-box">
        <span class="box-title">{{i18n.linkage.cpuUsage}}</span>
        <span class="select-title">{{i18n.linkage.cpuAvg}}</span>
        <ti-select *ngIf="usage.cpuOptions.length>0" class="select-cpu select" [options]='usage.cpuOptions'
            [(ngModel)]="usage.cpuSelected" (ngModelChange)="getData('cpu_usage')">
        </ti-select>
        <span class="select-title">{{i18n.linkage.smooth}}</span>
        <ti-select *ngIf="smoothOptions.length>0" class="select" [options]='smoothOptions'
            [(ngModel)]="usage.smoothSelected" (ngModelChange)="getData('cpu_usage')">
        </ti-select>
    </div>
    <div class="chart-content" [ngClass]="{'nodata-content' : !usage.displayData.time.length}" hyNodata [nodataShow]="!initializing && !usage.displayData.time.length">
        <app-perf-chart [datas]='usage.displayData' *ngIf="usage.displayData.time.length > 0" (dataZoom)='dataZoom($event)'
            [timeLine]='timeLine' (echartsInstOut)='echartsInstOut($event)' #usageChart></app-perf-chart>
    </div>
</div>
<!-- CPU平均负载 -->
<div class="chart-box">
    <div class="select-box">
        <span class="box-title">{{i18n.linkage.cpuAverageLoad}}</span>
        <span class="select-title">{{i18n.linkage.smooth}}</span>
        <ti-select *ngIf="smoothOptions.length>0" class="select" [options]='smoothOptions'
            [(ngModel)]="average.smoothSelected" (ngModelChange)="getData('cpu_avgload')">
        </ti-select>
    </div>
    <div class="chart-content" [ngClass]="{'nodata-content' : !average.displayData.time.length}" hyNodata [nodataShow]="!initializing && !average.displayData.time.length">
        <app-perf-chart [datas]='average.displayData' *ngIf="average.displayData.time.length > 0" (dataZoom)='dataZoom($event)'
            [timeLine]='timeLine' (echartsInstOut)='echartsInstOut($event)' #avageChart></app-perf-chart>
    </div>
</div>
<!-- 内存使用情况 -->
<div class="chart-box">
    <div class="select-box">
        <span class="box-title">{{i18n.linkage.memUsage}}</span>
        <span class="select-title">{{i18n.linkage.smooth}}</span>
        <ti-select *ngIf="smoothOptions.length>0" class="select" [options]='smoothOptions'
            [(ngModel)]="memUsage.smoothSelected" (ngModelChange)="getData('mem_usage')">
        </ti-select>
    </div>
    <div class="chart-content" [ngClass]="{'nodata-content' : !memUsage.displayData.time.length}" hyNodata [nodataShow]="!initializing && !memUsage.displayData.time.length">
        <app-perf-chart [datas]='memUsage.displayData' *ngIf="memUsage.displayData.time.length > 0" (dataZoom)='dataZoom($event)'
            [timeLine]='timeLine' (echartsInstOut)='echartsInstOut($event)' #memChart></app-perf-chart>
    </div>
</div>
<!-- 存储IO -->
<div class="chart-box">
    <div class="select-box">
        <span class="box-title">{{i18n.linkage.disk}}</span>
        <div class="icon" (click)="onThreadScreenClick('storage')" (mouseenter)="mouseenter()"
                    (mouseleave)="mouseleave()">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(filterSrc)">
                </div>
        <span class="select-title">{{i18n.linkage.smooth}}</span>
        <ti-select *ngIf="smoothOptions.length>0" class="select" [options]='smoothOptions'
            [(ngModel)]="disk.smoothSelected" (ngModelChange)="getData('disk_usage')">
        </ti-select>
    </div>
    <div class="chart-content" [ngClass]="{'nodata-content' : !disk.displayData.time.length}" hyNodata [nodataShow]="!initializing && !disk.displayData.time.length">
        <app-perf-chart [datas]='disk.displayData' *ngIf="disk.displayData.time.length > 0" (dataZoom)='dataZoom($event)'
            [timeLine]='timeLine' (echartsInstOut)='echartsInstOut($event)' #diskChart></app-perf-chart>
    </div>
</div>
<!-- 网络IO -->
<div class="chart-box">
    <div class="select-box">
        <span class="box-title">{{i18n.linkage.net}}</span>
        <div class="icon" (click)="onThreadScreenClick('net')" (mouseenter)="mouseenter()"
                    (mouseleave)="mouseleave()">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(filterSrc)">
                </div>
        <span class="select-title">{{i18n.linkage.smooth}}</span>
        <ti-select *ngIf="smoothOptions.length>0" class="select" [options]='smoothOptions'
            [(ngModel)]="net.smoothSelected" (ngModelChange)="getData('net_info')">
        </ti-select>
    </div>
    <div class="chart-content" [ngClass]="{'nodata-content' : !net.displayData.time.length}" hyNodata [nodataShow]="!initializing && !net.displayData.time.length">
        <app-perf-chart [datas]='net.displayData' *ngIf="net.displayData.time.length > 0" (dataZoom)='dataZoom($event)'
            [timeLine]='timeLine'(echartsInstOut)='echartsInstOut($event)' #netChart></app-perf-chart>
    </div>
</div>
<!-- 能耗 -->
<div class="chart-box">
    <div class="select-box">
        <span class="box-title">{{i18n.plugins_sysperf_title_consumption.consumption}}</span>
        <span class="select-title">{{i18n.linkage.smooth}}</span>
        <ti-select *ngIf="smoothOptions.length>0" class="select" [options]='smoothOptions'
            [(ngModel)]="consumption.smoothSelected" (ngModelChange)="getData('cfg_sys_power')">
        </ti-select>
    </div>
    <div class="chart-content" [ngClass]="{'nodata-content' : !consumption.displayData.time.length}" hyNodata [nodataShow]="!initializing && !consumption.displayData.time.length">
        <app-perf-chart [datas]='consumption.displayData' *ngIf="consumption.displayData.time.length > 0" (dataZoom)='dataZoom($event)'
            [timeLine]='timeLine' (echartsInstOut)='echartsInstOut($event)' #consumptionChart></app-perf-chart>
    </div>
</div>

<!-- 筛选侧滑框 -->
<app-panoramic-mask (closeMask)="onSelectCancel($event)" #selectMask>
    <ng-container class="content">
        <div class="thread-screen ">
            <div class="header-title">{{i18n.linkage.selectObj}}
                <span  class="ti3-close ti3-icon ti3-icon-close" (click)="onSelectCancel()"></span>
            </div>
            <div class="table-wrapper">
                <div class="devSelectBox" *ngFor="let item of differentNodesData; index as i">
                    <div class="box-title" (click)='item.expand = !item.expand'>
                        <img class='expand-icon' src="./assets/img/summary/row.svg" alt=""
                            [ngClass]="{active: item.expand}">
                        <span>{{item.projectName}}</span>
                    </div>
                    <div class="summury-table" [ngClass]="{active: item.expand}">
                        <ti-table [(displayedData)]="item.displayed" [srcData]="item.srcData" [columns]="columns">
                            <div class="ti3-table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="disabledInput">
                                                <input type="checkbox" tiCheckgroup [items]="item.displayed"
                                                    [(checkeds)]="item.checkedList" [disabled]="true"
                                                    (checkedsChange)="onMyChange($event, item.displayed)"/>
                                            </th>
                                            <ng-container *ngFor="let column of columns;index as i;">
                                                <th tiOverflow>{{column.title}}</th>
                                            </ng-container>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let obj of item.displayed; index as j">
                                            <td checkbox-column>
                                                <input type="checkbox" tiCheckitem [item]="obj" [disabled]="obj.disabled"/>
                                            </td>
                                            <ng-container *ngFor="let row of columns; index as k">
                                                <td tiOverflow tiTipPosition='left'>
                                                    {{obj[row.key] }}
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ti-table>
                    </div>
                </div>
            </div>
            <div class="opreation-btn">
                <button (click)="onSelectConfirm(maskType)" class="primary-btn btn" color="primary" type="button">
                    {{i18n.common_term_operate_ok}}
                </button>
                <button (click)="onSelectCancel()" type="button" class="cancel-btn btn">
                    {{i18n.plugins_perf_button_cancel}}
                </button>
            </div>
        </div>
    </ng-container>
</app-panoramic-mask>