//浅色主题样式
::ng-deep .vscode-light {
  --select-box-color: #282b33;
  --filter-box-bg: #fff;
  --filter-bg: #fff;
  --table-left-border: #f0f3fa;
  --ti3-selected-tr-bg: #fff;
  --ti3-table-fixed-head-filler-bg: #f5f9ff;
  --ti3-selected-tr-hover-bg: #f5f9ff;
  --filter-button-bg: #fff;
  --filter-button-txt-close-hover-color: #0067ff;
  --filter-button-border-color: 1px solid #979797;
  --filter-button-border-hover-color: 1px solid #0067ff;
  --filter-button-txt-ok-color: #fff;
  --table-tr-border-color: 1px solid #e1e6ee;
  --table-shadow-color: #e6ebf5;
  --icon-border-color: 1px solid #aaa;
  --icon-border-hover-color: 1px solid #0067ff;
  --select-txt-color: #222;
  --select-title-txt-color: #282b33;
  --ti-filter-bg-color: #fff;
  --ti-filter-border-color: #0067ff;
  --ti-filter-span-bg: #fff;
  --ti-filter-span-hover-bg: #f5f9ff;
  --select-title-color: #616161;
  --header-title-bottom: #e1e6ee;
}

//深色主题样式
::ng-deep .vscode-dark {
  --select-box-color: #e8e8e8;
  --filter-box-bg: #252526;
  --filter-bg: #313131;
  --table-left-border: #252526;
  --ti3-selected-tr-bg: #161616;
  --ti3-table-fixed-head-filler-bg: #2a2a2a;
  --ti3-selected-tr-hover-bg: #2a2a2a;
  --filter-button-bg: #252526;
  --filter-button-txt-close-hover-color: #0067ff;
  --filter-button-border-color: 1px solid #ddd;
  --filter-button-border-hover-color: 1px solid #0067ff;
  --filter-button-txt-ok-color: #fff;
  --table-tr-border-color: 1px solid #545454;
  --table-shadow-color: #545454;
  --icon-border-color: 1px solid #313131;
  --icon-border-hover-color: 1px solid #313131;
  --select-txt-color: #e8e8e8;
  --select-title-txt-color: #aaa;
  --ti-filter-bg-color: #252526;
  --ti-filter-border-color: #0067ff;
  --ti-filter-span-bg: #252526;
  --ti-filter-span-hover-bg: #313131;
  --select-title-color: #aaaaaa;
  --header-title-bottom: #4b4b4b;
}
:host ::ng-deep .icons-warpper{
    width: 32px;
  }
.box-title{
    font-size: 16px;
    color: var(--select-txt-color);
}
.select-title{
    font-size: 14px;
    color: var(--select-title-color);
    padding: 0 16px 0 32px;
}
.select-box{
    line-height: 32px;
    display: flex;
    padding-bottom: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  background: var(--filter-bg);
  border-radius: 2px;
  border: var(--icon-border-color);
  margin-left: 16px;
  cursor: pointer;

  img {
      width: 12px;
      height: 12px;
      margin: 11px 10px;
  }
}
.chart-content{
    padding-bottom: 32px;
    position: relative;
}
.nodata-content{
    height: 190px;
    .chen-nodata-td{
        padding: 0;
    }
}

.thread-screen {
    padding: 18px 32px;
    position: relative;
    height: 100%;

    .header-title {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        color: var(--select-txt-color);
        border-bottom: dashed 1px var(--header-title-bottom);
        position:relative;
        .ti3-icon-close{
          position: absolute;
          right: 0;
          top: 0;
          font-size: 14px;
          color: var(--ti-modal-close-icon-color);
          cursor: pointer;
        }
    }
    .table-wrapper {
        height: 435px;
        overflow-y: auto;
        width: 636px;
    }
    .table-wrapper.selectContent{
      width: 596px;
      box-shadow: -6px 0px 18px 0px	rgba(0, 0, 0, 0.1);
    }
    .opreation-btn {
        margin-top: 26px;
        text-align: center;
        .btn{
          width: 88px;
          border-radius: 2px;
          height: 30px;
          line-height: 28px;
          min-width: 96px;
        }
        .primary-btn {
          border: 0px;
        }
        .cancel-btn {
          border: 1px solid #dddddd;
        }
    }
}
.expand-icon {
    transition: 0.3s linear;
    position: relative;
    left: 22px;
    top: 3px;
  }
  .expand-icon.active {
    transform: rotate(90deg);
  }
.devSelectBox {
    position: relative;
    .box-title {
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      color: var(--select-box-color);
      border-top: var(--table-tr-border-color);
      box-shadow: inset 0px -1px 0px 0px var(--table-shadow-color);
      span {
        padding-left: 33px;
      }
    }
  
    .summury-table {
      position: relative;
      max-height: 0;
      border-left: 40px solid var(--table-left-border);
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
      overflow: hidden;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        content: "";
        width: 2px;
        background-color: #2072ea;
        z-index: 999;
      }
      tr th,
      tr td {
        height: 32px;
        font-family: "huawei sans";
        font-size: 14px;
        color: var(--select-box-color);
        line-height: 32px;
        text-align: left;
        font-weight: normal;
        font-stretch: normal;
      }
      tr.tidTr td {
        &:nth-child(2) {
          padding-left: 24px;
        }
      }
      thead tr,
      tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        box-shadow: inset 0px -1px 0px 0px var(--table-shadow-color);
      }
      thead {
        tr {
          background-color: #f0f3fa;
        }
        th {
          font-size: 12px;
          position: relative;
  
          &::before {
            position: absolute;
            content: "";
            height: 16px;
            width: 0;
            padding-left: 2px;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #d4d9e6;
          }
  
          .content {
            display: flex;
            align-items: center;
  
            .sort-title {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: calc(100% - 23px);
            }
  
            &.center {
              justify-content: center;
            }
          }
        }
      }
  
      tbody tr:hover {
        background: #f7faff;
      }
    }
  
    .summury-table.active,
    tbody.active {
      max-height: 5000px;
      overflow: auto;
      transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    }
  }
  .select{
      width: 100px;
      height: 28px;
  }
  .select-cpu{
      width: 203px;
  }
  :host ::ng-deep .ti3-select-dominator-container{
      top: -5px;
  }
  :host ::ng-deep .disabledInput{
    .ti3-checkbox{
      display: none !important;
    }
  }
  .ti3-table>.ti3-table-container>table>tbody>tr>td{
    padding: 0 var(--ti-table-td-padding);
    padding-left: var(--ti-table-column-icon-left-space);
  }
  .devSelectBox .summury-table thead th:first-child, .ti3-table>.ti3-table-container>table>tbody>tr>td:first-child{
    padding-left: var(--ti-table-column-icon-left-space);
    width: 60px;
  }
  .ti3-table>.ti3-table-container>table>thead>tr>th:not(:last-child):after{
      width: 0;
  }
  .summury-table .ti3-table>.ti3-table-container>table>thead>tr>th, .ti3-table>.ti3-table-container>table>tbody>tr>td{
    border-bottom: var(--table-tr-border-color);
  }
