.item-table {
    margin-bottom: 50px;

    .count-proportion {
        display: inline-block;
        height: 10px;
        vertical-align: middle;
        background: var(--proportion-bg-color) !important;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 32px;

        .title {
            font-size: 16px;
            margin-bottom: 20px;
        }


        .totalDurtion {
            display: inline-block;
        }

        .cass-threshold {
            width: 80px;
            height: 28px !important;
        }
    }

    .snapshotBg,
    .notSnapshot {
        width: 28px;
        height: 28px;
    }

    .red_count {
        width: 14px;
        height: 14px;
        font-size: 10px;
        background-color: #ed4b4b;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -7px;
        right: -6px;
    }

    .count_disabled {
        width: 14px;
        height: 14px;
        font-size: 10px;
        background-color: #f5f5f5;
        color: #cccccc;
        border: #cccccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -7px;
        right: -6px;
    }
}

.item-echart {
    margin-top: 30px;
}

.disable-btn {
    background: #e6ebf5 !important;
    border: 1px solid #e6ebf5 !important;
    color: #b8becc !important;
    cursor: not-allowed !important;
}

.snap_title {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
}

.snap_content {
    font-size: 12px;
    line-height: 18px;
    color: #616161;
}

.red_count {
    width: 14px;
    height: 14px;
    background-color: #ed4b4b;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: 18px;
}

::ng-deep .vscode-dark {
    .threshold {
        margin-right: 10px;
        font-size: 14px;
        color: #e8e8e8;
    }
}

:host ::ng-deep .ti3-spinner-downicon {
    display: none;
}

:host ::ng-deep .ti3-spinner-upicon {
    display: none;
}

:host ::ng-deep .ti3-spinner-input-box {
    top: -1px !important;
    left: -1px !important;
    width: 80px !important;
    border-radius: 2px;
}

:host ::ng-deep .ti3-spinner-input-box>input {
    text-align: left !important;
    padding: 14px !important;
    color: var(--text-color-d-e8-l-2) !important;
}

:host ::ng-deep [tiText][disabled]:disabled {
    color: #aaa !important;
}

.expand-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
}