.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding: 0 32px 32px 32px;
  overflow: hidden;
  .header {
    font-size: 20px;
    color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
    border-bottom: dashed 1px #e1e6ee;
    .close {
      cursor: pointer;
    }
  }
  .main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    span {
      font-size: 14px;
      color: #616161;
    }
  }
  .foot {
    width: 100%;
    text-align: center;
    margin-top: 32px;
    button {
      width: 88px;
      height: 28px;
      line-height: 26px;
    }
    .confirm {
      margin-right: 16px;
    }
  }
}
.changePwd-input {
  width: 300px !important;
}
:host ::ng-deep .ti3-form .ti3-form-label {
  min-width: 94px;
}
:host ::ng-deep.ti3-unifyvalid-tip-error-container {
  width: 367px;
}
