::ng-deep {
  
  app-cpu-topology {
    --color-box-background-line1: #efefef;
    --color-box-background-line2: #f8f8f8;
    --color-tree-box-background: #f4f8ff92;
    --color-tree-box-title-background: #0067ff0d;
    --color-thumbnail-background: #f4f8ff;
  }

  .vscode-dark {
    app-cpu-topology {
      --color-box-background-line1: #2a2a2a;
      --color-box-background-line2: #242424;
      --color-tree-box-background: #333435;
      --color-tree-box-title-background: #ffffff21;
      --color-thumbnail-background: #2b2c2d;
    }
  }

}

.cpu-topology {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .background1,
  .background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .background1 {
    background:
      -webkit-linear-gradient(top, transparent 29px, var(--color-box-background-line1) 30px),
      -webkit-linear-gradient(left, transparent 29px, var(--color-box-background-line1) 30px);
    background-size: 30px 30px;
  }

  .background2 {
    background:
      -webkit-linear-gradient(top, transparent 14px, var(--color-box-background-line2) 15px),
      -webkit-linear-gradient(left, transparent 14px, var(--color-box-background-line2) 15px);
    background-size: 15px 15px;
  }

  .picture {
    width: 100%;
    z-index: 1;

    title {
      display: block;
      width: 100%;
      height: 26px;
      font-size: 12px;
      line-height: 26px;
      color: var(--common-color-font-primary);
      position: absolute;
      background-color: var(--color-tree-box-title-background);
      text-align: center;
      z-index: 1;
    }
    .tree{
      background-color: var(--color-tree-box-background);
    }
  }

  .right-thumbnail-list {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    padding: 0 8px;
    z-index: 2;

    .thumbnail {
      position: relative;
      width: 148px;
      height: 62px;
      margin: 16px 0;
      background: var(--color-thumbnail-background);
      border-radius: 2px;
      box-sizing: border-box;
      cursor: pointer;
      border: solid 2px var(--color-thumbnail-background);
      overflow: hidden;

      .label {
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        color: var(--common-color-font-primary);
        position: absolute;
        left: 8px;
        top: 8px;
      }

      &.active {
        border-color: #0067ff;
      }
    }
  }

  .right-zoom {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 2;
    border-radius: 1px;
    border: solid 1px #979797;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;

    .divider {
      width: 100%;
      height: 1px;
      background-color: var(--common-color-divider);
      margin: 5px 0;
    }

    > span {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
      color: #979797;
      cursor: pointer;
    }
  }
}
