.summaryBox {
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px 2%;
}

.scroll-content{
    position: relative;
    min-height: 50vh;
}
.section-content {
  position: relative;
  z-index: 0;
}
.disk-io {
  z-index: 1;
}
.thread-screen {
    padding: 28px 32px;
    position: relative;
    height: 100%;

    .header-title {
        font-size: 20px;
        color: #222222;
    }

    .line-between {
        margin: 18px 0px;
        width: 100%;
        border-bottom: dashed 1px #E1E6EE;
        height: 0px;
    }

    .table-wrapper {
        height: min-content;
        width: 30vw;
    }

    .opreation-btn {
        position: absolute;
        bottom: 80px;
        width: 90%;
        text-align: center;

        button+button {
            margin-left: 16px;
        }
    }
}
.ti3-table>.ti3-table-container>table>tbody>tr.nodataTr{
    border-bottom: 0px solid #e2e2e2;
  }
  .nodata{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6%;
  }
  .ti3-table > .ti3-table-container > table > tbody > tr.nodataTr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr){
      background-color: #fff!important;
  }

  .section-title{
    font-size: 20px;  
    color: #222;
    margin-bottom:22px;
  }
  .collapsed{
      position: relative;
      border-left: 34px solid #f0f3fa!important;
      &::before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        content: "";
        width: 2px;
        background-color: #6c92fa;
        z-index: 999;   
      }
      ::ng-deep .ti3-table > .ti3-page-container {
        padding-left: 15px;
      }
  }

 ::ng-deep ti-details-icon.hasNodata{
      display: none;
  }


  .selectTableBox{
    .headerFilter{
      position: absolute;
      top: 57px;
      right: 13px;
      z-index: 2;
      img{
        cursor: pointer;
        height: 9px;
        width: 9px;
      }
    }
  .statusFilter {
      border: 1px solid #0067ff;
      font-size: 14px;
      display: none;
      position: absolute;
      top: 25px;
      right: 5px;
      min-width: 195px;
      background-color: #ffffff;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      .filter {
        overflow: scroll;
        height: 337px;
      }
      span {
        line-height: 36px;
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        &:hover {
          ::ng-deep input[type=checkbox][tiCheckbox] + .ti3-checkbox .ti3-checkbox-label {
            background-color: var(--ti-tree-node-bg-color-checked);
          }
        }
        ::ng-deep .ti3-checkbox{
          display: flex;
          align-items: center;
          padding: 0 14px !important;
          width: 100% !important;
        }
        ::ng-deep input[type=checkbox][tiCheckbox] + .ti3-checkbox .ti3-checkbox-label {
          flex: 1;
          line-height: 36px;
          height: 36px;
          padding: 0 4px;
        }
      }
  
    }
    
    .statusFilter.active {
      display: block;
    }
  }
  ::ng-deep .ti3-checkbox .ti3-checkbox-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }