<div class="tracing-box">
    <div class="left-box">
        <div class="title">{{i18n.sys_summary.tracing.baseInfo}}</div>
        <div class="tracing-content">
            <ng-container *ngIf="contentList.length > 0">
                <div *ngFor="let item of contentList">{{item}}</div>
            </ng-container>
            <ng-container *ngIf="contentList.length === 0 && !initializing">
                <div class="nodata chen-nodata-td" >
                    <img src='./assets/img/projects/nodata.png' />
                    <div>{{i18n.common_term_task_nodata2}}</div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="right-box">
        <div class="title-head">
            <div class="example-left">
                <div class="title">{{i18n.sys_summary.tracing.title}}</div>
                <div class="title-msg">{{i18n.sys_summary.tracing.downloadTip}}</div>
                <div class="file-info">
                    <span class="file-left">
                        <span class="file file-name">{{i18n.sys_summary.tracing.file}}</span>
                        <span class="size">{{fileName}}</span>
                    </span>
                    <span class="file-right">
                        <span class="file file-size">{{i18n.sys_summary.tracing.fileSize}}</span>
                        <span class="size">{{fileSize}}</span>
                    </span>
                </div>
            </div>
            <button class="download-btn ti3-btn-primary" (click)="downloadFile()" [disabled]="fileName === '--'">
                <img src="./assets/img/tracing/download.svg">
                <span class="btn-title">{{i18n.sys_summary.tracing.downloadbtn}}</span>
            </button>
        </div>
        <div class="img-box">
            <img src="./assets/img/tracing/tracingExample.png" class="exampleImg">
            <div class="bottom-tip">{{i18n.sys_summary.tracing.exampleTip}}</div>
        </div>

    </div>
</div>