<div class="leak-box">
    <app-suggestion-tip [suggetNum]="suggestArr.length" (openSuggest)="openModal()"></app-suggestion-tip>
    <div class="leak-header">
        <app-table-search-box [searchOptions]="searchOptions" (searchEvent)="searchEvent($event)">
        </app-table-search-box>
        <div class="right">
            <ti-select style="width: 132px;" (select)="dataChange($event)" [(options)]="myOptionsRight"
                [(ngModel)]="mySelect2"></ti-select>
        </div>
    </div>
    <div class="leak-table">
        <!-- 左侧表格 -->
        <div class="left-table">
            <div class="table_bg"></div>
            <ti-table [(displayedData)]="leakDisplayed" [searchWords]="searchWords" [searchKeys]="searchKeys"
                [srcData]="leakSrcData" [columns]="leakColumns" tiColsResizable style="height: 100%;">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th tiOverflow width="{{leakColumns[0].width}}">
                                    <ti-cell-text>{{i18n.protalserver_sampling_leak.tabel.time}}</ti-cell-text>
                                    <ti-head-sort [sortKey]='leakColumns[0].sortKey'></ti-head-sort>
                                </th>
                                <th tiOverflow width="{{leakColumns[1].width}}">
                                    <ti-cell-text>
                                        {{i18n.protalserver_sampling_leak.tabel.object}}
                                    </ti-cell-text>
                                    <ti-head-sort [sortKey]='leakColumns[1].sortKey'>
                                    </ti-head-sort>
                                </th>
                                <th tiOverflow width="{{leakColumns[2].width}}">
                                    <ti-cell-text>
                                        {{i18n.protalserver_sampling_leak.tabel.thread}}
                                    </ti-cell-text>
                                    <ti-head-sort [sortKey]='leakColumns[2].sortKey'>
                                    </ti-head-sort>
                                </th>
                                <th tiOverflow width="{{leakColumns[3].width}}">
                                    <ti-cell-text>
                                        {{i18n.protalserver_sampling_leak.tabel.stack_size}}
                                    </ti-cell-text>
                                    <ti-head-sort [sortKey]='leakColumns[3].sortKey'>
                                    </ti-head-sort>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-container ti3-resize-wrapper" style="height: 100%;">
                    <table [hidden]="leakSrcData.data.length > 0?false :true">
                        <thead>
                            <tr>
                                <th tiOverflow *ngFor="let item of leakColumns" width="{{item.width}}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of leakDisplayed;" (click)="getPool(row)"
                                [ngClass]="{'isSelect': row.isSelect}">
                                <td tiOverflow>{{row.time}}</td>
                                <td tiOverflow>{{row.objects}}</td>
                                <td tiOverflow>{{row.thread}}</td>
                                <td tiOverflow>{{row.formatSize || '--' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="leakSrcData.data.length === 0" [height]="'100%'"></app-default-page>
                </div>
                <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize"
                    [(totalNumber)]="leakSrcData.data.length">
                </ti-pagination>
            </ti-table>
        </div>
        <!-- 右侧表格 -->
        <div class="right-table">
            <div class="table_bg"></div>
            <ti-table [(displayedData)]="statckDisplayed" [srcData]="stackSrcData" [columns]="stackColumns" *ngIf="pool"
                style="height: 100%;">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {{i18n.protalserver_sampling_leak.stack}}
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-container ti3-resize-wrapper" style="height: 100%;">
                    <table [hidden]="stackSrcData.data.length > 0?false :true">
                        <tbody>
                            <tr tiOverflow *ngFor="let item of statckDisplayed;let idx=index">
                                <td>
                                    <img src="./assets/img/projects/last_arrow.svg" style="padding-right: 4px;"
                                        *ngIf="(stackPageSize.size*(stackCurrentPage-1)+idx)==(stackSrcData.data.length-1)">
                                    <img src="./assets/img/projects/stack_arrow.svg" style="padding-right: 4px;"
                                        *ngIf="(stackPageSize.size*(stackCurrentPage-1)+idx)!=(stackSrcData.data.length-1)">
                                    {{item.stack}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="stackSrcData.data.length === 0" [height]="'100%'"></app-default-page>
                </div>
                <ti-pagination [(currentPage)]="stackCurrentPage" [pageSize]="stackPageSize"
                    [(totalNumber)]="stackSrcData.data.length">
                </ti-pagination>
            </ti-table>
            <ti-table [(displayedData)]="referDisplayed" [srcData]="referSrcData" [columns]="referColumns" *ngIf="!pool"
                style="height: 100%;">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {{i18n.protalserver_sampling_leak.reference}}
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-container ti3-resize-wrapper" style="height: 100%;">
                    <table [hidden]="referSrcData.data.length > 0?false :true">
                        <tbody>
                            <tr tiOverflow *ngFor="let item of referDisplayed;let idx=index">
                                <td>
                                    <img src="./assets/img/projects/last_arrow.svg" style="padding-right: 4px;"
                                        *ngIf="(referPageSize.size*(referCurrentPage-1)+idx)==(referSrcData.data.length-1)">
                                    <img src="./assets/img/projects/stack_arrow.svg" style="padding-right: 4px;"
                                        *ngIf="(referPageSize.size*(referCurrentPage-1)+idx)!=(referSrcData.data.length-1)">
                                    {{item.refer}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="referSrcData.data.length === 0" [height]="'100%'"></app-default-page>
                </div>
                <ti-pagination [(currentPage)]="referCurrentPage" [pageSize]="referPageSize"
                    [(totalNumber)]="referSrcData.data.length">
                </ti-pagination>
            </ti-table>
        </div>
    </div>
    <!-- echarts图表 -->
    <div class="leak-title">
        {{i18n.protalserver_sampling_leak.size}}
    </div>
    <div class="wrap-box">
        <div class="echartWrap" *ngIf="leakSrcData.data.length!==0">
            <app-time-line [timeData]="timeData" (timeLineData)='timeLineData($event)' #timeLine>
            </app-time-line>
        </div>
        <div class="echartWrap" *ngIf="leakSrcData.data.length!==0">
            <div echarts [options]="leakViewOption" id="myEchart" (chartInit)="onChartInit($event)">
            </div>
        </div>
        <app-default-page *ngIf="leakSrcData.data.length === 0 && !showLoading" [height]="'230px'"></app-default-page>
    </div>

    <div *ngIf="showLoading" class="global-loading">
        <app-loading [size]="'max'" [height]="'80vh'"></app-loading>
    </div>
</div>
<app-sample-suggest #suggestion></app-sample-suggest>