<div class="sys-config-data-detail">
  <header>
    <p tiOverflow>
      <span class="label">{{ 'common_term_projiect_name' | i18n }}</span>
      <span class="text">{{ summary.projectName }}</span>
    </p>
    <p tiOverflow>
      <span class="label">{{ 'common_term_task_name' | i18n }}</span>
      <span class="text">{{ summary.taskName }}</span>
    </p>
    <p tiOverflow>
      <span class="label">{{ 'nodeManagement.nodeName' | i18n }}</span>
      <span class="text">{{ summary.nodeName }}</span>
    </p>
    <p tiOverflow>
      <span class="label">{{ 'common_term_node_ip' | i18n }}</span>
      <span class="text">{{ summary.nodeIP }}</span>
    </p>
    <p tiOverflow>
      <span class="label">{{ 'tuninghelper.sysConfigDetail.nodeForm' | i18n }}</span>
      <span class="text">{{ summary.nodeForm }}</span>
    </p>
    <p tiOverflow>
      <span class="label">{{ 'tuninghelper.sysConfigDetail.kernelVersion' | i18n }}</span>
      <span class="text">{{ summary.kernelVersion }}</span>
    </p>
    <p tiOverflow>
      <span class="label">{{ 'tuninghelper.sysConfigDetail.osVersion' | i18n }}</span>
      <span class="text">{{ summary.osVersion }}</span>
    </p>
  </header>
  <main>
    <ti-tabs class="custom-ti-tabs">
      <hy-backtop [target]="{classes: ['ti3-tab-content']}"></hy-backtop>
      <ti-tab header="CPU" [active]="true">
        <ng-template #tiTabContent>
          <app-sys-config-cpu></app-sys-config-cpu>
        </ng-template>
      </ti-tab>
      <ti-tab [header]="'tuninghelper.sysConfigDetail.mem' | i18n">
        <ng-template #tiTabContent>
          <app-sys-config-mem></app-sys-config-mem>
        </ng-template>
      </ti-tab>
      <ti-tab [header]="'tuninghelper.sysConfigDetail.disk' | i18n">
        <ng-template #tiTabContent>
          <app-sys-config-disk></app-sys-config-disk>
        </ng-template>
      </ti-tab>
      <ti-tab [header]="'tuninghelper.sysConfigDetail.net' | i18n" >
        <ng-template #tiTabContent>
          <app-sys-config-net></app-sys-config-net>
        </ng-template>
      </ti-tab>
      <ti-tab [header]="'tuninghelper.sysConfigDetail.osConfig' | i18n" >
        <ng-template #tiTabContent>
          <app-sys-config-os></app-sys-config-os>
        </ng-template>
      </ti-tab>
    </ti-tabs>
  </main>
</div>