.form-warpper {
    .form-area {
        .control {
            & + .control {
                margin-top: 20px;
            }
            .spinner-domain {
                margin-left: 8px;
            }
        }
        .taskName,
        .analysisType,
        .analysisTarget,
        .analysisMode,
        .mpiStatus,
        .doOrder,
        .preset,
        .openMpParams,
        .taskStartNow,
        .doNodeConfig {
            margin-left: 17px;
        }
        .doNodeConfig {
            .node-config-tip {
                display: flex;
                align-items: center;
                color: #6c7280;
                margin-top: 14px;

                img {
                    margin-right: 8px;
                }

                span {
                    font-size: 0.8rem;
                }
            }
        }
        .preset {
            .radio-item{
                margin-right: 32px;
                margin-bottom: 10px;
                display: inline-block;
            }
        }
        .appAndParams{
            ::ng-deep .analysis-target-content > .analysis-target-item > .analysis-target-item-label{
                margin-right: var(--ti-formfield-item-label-padding-right);
            }
        }
        // 修改预约任务侧滑框宽度不够，能够容纳input最宽430px
        .pidProcess{
            ::ng-deep .warpper input{
                width: 430px;
            }
        }
    }
    .opreation {
        display: flex;
        justify-content: center;
        margin: 18px 0px 100px 0px;
        button + button {
            margin-left: 16px;
        }
    }
}

:host ::ng-deep .ti3-form {
    .ti3-text-form-content {
        ti-item {
            line-height: 22px;
            .ti3-unifyvalid-tip-error-container {
                line-height: 16px;
            }
        }
    }
}
:host ::ng-deep .form-warpper .form-area .pidProcess {
    .warpper {
        .pid-item,
        .process-item {
            .item-input {
                input {
                    width: 400px;
                }
            }
        }
    }
}


.margin_left{
    margin-left: 10px;
}
.openmp-tip-icon {
    width: 14px;
    height: 14px;
    margin-top: 6px;
}
:host ::ng-deep .form-warpper .form-area app-pid-process-input{
    input[type=checkbox][tiCheckbox] + .ti3-checkbox .ti3-checkbox-label,
    input[type=checkbox][tiCheckbox][disabled] + .ti3-checkbox .ti3-checkbox-label {
        color: var(--ti-common-color-text-secondary);
    } 
}
:host ::ng-deep .form-warpper .form-area {
    app-mission-reservation-plus .radio {
        width: 400px;
    }
    app-mission-node-config .switch .config-title {
        padding-right: var(--ti-formfield-item-label-padding-right);
    }
}