.overview-container {
    padding: 20px;
    height: calc(100vh - 197px);
    overflow: hidden;

    .title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .count-proportion {
        display: inline-block;
        height: 10px;
        vertical-align: middle;
        background: var(--table-count-bg-color) !important;
    }

    .item-echarts {
        margin-top: 40px;

    }

    .disable-btn {
        background: #e6ebf5 !important;
        border: 1px solid #e6ebf5 !important;
        color: #b8becc !important;
        cursor: not-allowed;
    }
}