  <!-- 中间节点优化建议详情 -->
  <div class="tree-middle-detail">

    <!-- 采集值 -->
    <div *ngIf="hasCollectedValue" class="collected-value">
      <div class="collected-value-title">{{i18n.tuninghelper.treeDetail.collectedValue}}</div>

      <!-- 文本表单-->

      <div *ngIf="collectedValueForm.length" class="mb22">
        <app-form-sug-detail [formList]="collectedValueForm"></app-form-sug-detail>
      </div>

      <!-- 一个表格 -->
      <div *ngIf="relavantConfigTable.srcData.data.length" class="mb22">
        <app-tree-sug-table-detail [table]="relavantConfigTable"></app-tree-sug-table-detail>
      </div>
      <div *ngIf="relavantIndicatorTable.srcData.data.length" class="mb22">
        <app-tree-sug-table-detail [table]="relavantIndicatorTable"></app-tree-sug-table-detail>
      </div>

      <!-- 多个表格 relavantConfig -->
      <ng-container *ngIf="relavantConfigMultiTableList.length">
        <!-- 单层表头的表格 -->
        <div *ngFor="let table of relavantConfigMultiTableList" class="mb22">
          <app-tree-sug-table-detail [table]="table"></app-tree-sug-table-detail>
        </div>
      </ng-container>

      <!-- 多个表格 relavantIndicator -->
      <ng-container *ngIf="relavantIndicatorMultiTableList.length">
        <!-- 单层表头的表格 -->
        <div *ngFor="let table of relavantIndicatorMultiTableList" class="mb22">
          <app-tree-sug-table-detail [table]="table"></app-tree-sug-table-detail>
        </div>
      </ng-container>
    </div>

    <!-- 阈值 -->
    <div [hidden]="!thresholdDetail.length" class="mb22">
      <div class="item-title">{{i18n.tuninghelper.treeDetail.threshold}}</div>
      <app-form-sug-detail [formList]="thresholdDetail"></app-form-sug-detail>
    </div>

    <!-- 指标说明 -->
    <div *ngIf="indicatorDesc">
      <div class="item-title">{{i18n.tuninghelper.treeDetail.indicatorDesc}}</div>
      <div class="info" [innerHtml]="indicatorDesc"></div>
    </div>
  
    <div *ngIf="!thresholdDetail.length && !hasCollectedValue && !indicatorDesc"
      [hyNodata]="{ text: i18n.common_term_task_nodata }"
      [nodataShow]="!collectedValueForm.length && !thresholdDetail.length && !indicatorDesc" class="no-data">
    </div>
  </div>
