// 深色主题
::ng-deep .vscode-dark {
    .method-box {
        padding: 20px 0 50px 0;
        padding-top: 27px !important;
        position: relative;
        min-height: calc(100vh - 197px);

        .table-right {
            color: #aaaaaa !important;

        }

        .no-data {
            background-color: #161616;
        }

        .table-body {
            border-bottom: 1px solid #545454 !important;

            table {
                tbody {
                    tr {
                        td {
                            border-bottom: 1px solid #545454 !important;
                        }
                    }
                }
            }
        }
    }

    .top-box {
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .top-box>div {
        width: 46%;
    }

    .ti3-table>table>thead>tr>th {
        background-color: #2a2a2a !important;
    }

    .ti3-table>.ti3-table-fixed-head>.ti3-table-fixed-head-filler {
        background-color: #2a2a2a !important;
    }

    .ti3-table>.ti3-table-fixed-head>table>thead>tr>th {
        background-color: #2a2a2a !important;
    }

    .ti3-table-container>table>tbody>tr>td {
        color: #aaaaaa !important;
    }

    .ti3-tree-container .ti3-icon-plus-square:active {
        color: #0067ff !important;
    }

    .ti3-tree-item-active {
        background: #313131 !important;
    }

    #Thor-Container .ti3-tree-item-active .ti3-tree-node-text-wrapper span {
        background: #313131;
    }

    .tree-container {
        min-height: 250px;
        border-radius: 1px;
        overflow-y: auto;
    }

    /*定义了滚动条滑块的样式*/
    ::-webkit-scrollbar {
        height: 6px;
    }

    :host .tree-container ::ng-deep .ti3-tree-node-text {
        overflow: visible !important;
        text-overflow: visible !important;
    }

    .box-title {
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        letter-spacing: 0px;
        color: #e8e8e8;
        margin-bottom: 20px;
        display: inline-block;
    }

    .noDataTable {
        width: 100%;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        margin-top: 60px;
    }

    .loadData {
        width: 100%;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 97px;
        }
    }
}

// 浅色主题
::ng-deep .vscode-light {
    .method-box {
        padding: 20px 0 50px 0;
        position: relative;
        min-height: calc(100vh - 197px);

        .table-right {
            color: #616161 !important;

        }

        .no-data {
            background-color: #ffffff;
        }

        .table-head {
            table {
                thead {
                    tr {
                        th {
                            border-bottom: 1px solid #e1e6ee !important;
                        }
                    }
                }
            }
        }

        .table-body {
            border-bottom: 1px solid #545454 !important;

            table {
                tbody {
                    tr {
                        td {
                            border-bottom: 1px solid #e1e6ee !important;
                        }
                    }
                }
            }
        }
    }

    .top-box {
        justify-content: space-between;
    }

    .top-box>div {
        width: 47%;
    }

    .ti3-table>table>thead>tr>th {
        background-color: #fafafa !important;
    }

    .ti3-table>.ti3-table-fixed-head>.ti3-table-fixed-head-filler {
        background-color: #fafafa !important;
    }

    .ti3-table>.ti3-table-fixed-head>table>thead>tr>th {
        background-color: #fafafa !important;
    }

    .ti3-tree-item-active {
        background: #e8f5fe !important;
    }

    .tree-container {
        min-height: 30vh;
        max-height: 80vh;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1px;
        border: solid 1px #e0e0e0;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 1.5vw;
        overflow-y: auto;
    }

    :host .tree-container ::ng-deep .ti3-tree-node-text {
        overflow: visible !important;
        text-overflow: visible !important;
    }

    .box-title {
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        letter-spacing: 0px;
        color: #222222;
        margin-bottom: 20px;
        display: inline-block;
    }

    .noDataTable {
        width: 100%;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        margin-top: 60px;

        img {
            width: 97px;
        }
    }

    .loadData {
        width: 100%;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 97px;
        }
    }

    /*定义了滚动条滑块的样式*/
    ::-webkit-scrollbar {
        height: 6px;
        background: #ccc !important;
    }

    #Thor-Container .ti3-table>.ti3-table-container>table>tbody>tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
    #Thor-Container .ti3-table>.ti3-table-container>table>tbody>tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
        background-color: rgb(204, 204, 204) !important;
    }

    #Thor-Container .ti3-table>table>tbody>tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
        background-color: rgb(204, 204, 204);
    }

    #Thor-Container .ti3-table>table>tbody>tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
        background-color: rgb(204, 204, 204) !important;
    }

    #Thor-Container .ti3-table>.ti3-table-container>table>tbody>tr.ti3-odd-tr:not(.ti3-selected-tr):hover {
        background-color: rgb(204, 204, 204) !important;
    }
}

::ng-deep .vscode-dark .ti3-tree-content-box:hover {
    background: #313131 !important;
}

::ng-deep .vscode-light .ti3-tree-content-box:hover {
    background: #f5f9ff !important;
}

::ng-deep .vscode-dark .ti3-table>.ti3-table-container>table>tbody>.isSelect {
    background-color: #313131 !important;
}

::ng-deep .vscode-light .ti3-table>.ti3-table-container>table>tbody>.isSelect {
    background-color: #f5f9ff !important;
}

:host ::ng-deep .ti3-table > .ti3-page-container{
    margin-top:16px;
}
.tiTableDmo{
  margin-top: 20px;
}