<div class="cpu-softirq">
  <div class="cpu-header">
    <p class="title">{{ 'tuninghelper.detailedData.soft_irq' | i18n }}</p>
  </div>
  <div class="cpu-table">
    <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" tiColsResizable>
      <div class="ti3-table-fixed-head">
        <table>
          <thead>
            <tr>
              <th tiOverflow *ngFor="let column of columns;index as index" width="{{column.width}}">
                <ti-cell-text>{{column.title}}</ti-cell-text>
                <ti-head-filter *ngIf="column.filter" [options]="column.options" [(ngModel)]="column.selected"
                  (select)="onSelect($event, column)"
                  [ngClass]="{'ti3-head-filtered': column.selected && column.selected.length}"
                  [multiple]="column.multiple" [selectAll]="column.selectAll" [searchable]="column.searchable">
                </ti-head-filter>
                <ti-head-sort *ngIf="column.sortKey" [sortKey]="column.sortKey"></ti-head-sort>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="ti3-table-container ti3-resize-wrapper" hyNodata [nodataShow]="displayed.length === 0">
        <table>
          <thead>
            <tr>
              <th *ngFor="let column of columns" width="{{column.width}}"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of displayed;index as i">
              <td tiOverflow class="clickStyle" (click)="viewDetails(row,softIrqMapModal)">{{ row.type }}</td>
              <td tiOverflow>{{ row.frequency | thousandSeparator}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ti-pagination class="pagination" [(currentPage)]="currentPage" [pageSize]="pageSize"
        [(totalNumber)]="totalNumber" [showGotoLink]="true"></ti-pagination>
    </ti-table>
  </div>
</div>

<!-- 软中断 分布图 -->
<ng-template #softIrqMapModal let-context='context'>
  <ti-modal-header>{{ 'tuninghelper.detailedData.soft_map' | i18n }}</ti-modal-header>
  <ti-modal-body>
    <div class="content-warpper">
      <app-soft-map [softIrqData]="context.softIrqData" [bodyTitle]="context.bodyTitle"></app-soft-map>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <button type="button" (click)="context.close()" tiButton>{{'common_term_operate_close' | i18n}}</button>
  </ti-modal-footer>
</ng-template>