::ng-deep {
  :root {
    --level-background-color: #f5f9ff;
    --level-border-color: #0067ff;
    --modalTitle-border-bottom: #e1e6ee;
  }
  .vscode-dark .cpu-usage-container {
    --level-background-color: #252525;
    --level-border-color: #2072ea;
    --modalTitle-border-bottom: #4b4b4b;
  }
}
.cpu-table {
  margin-top: 10px;
  .cell-icon {
    img {
      position: relative;
      top: 4px;
      margin-left: 8px;
      cursor: pointer;
    }
  }
  .ti3-table-container {
    max-height: 410px;
    min-height: 175px;
    .clickStyle {
      color: #0067ff !important;
      cursor: pointer;
      &:hover {
        color: #267dff !important;
      }
      &:active {
        color: #0057d9 !important;
      }
    }
  }
}
.cpu-header {
  .title {
    font-size: 16px;
  }
}
::ng-deep .softIrqMapModal {
  .ti3-modal-content {
    width: 700px;
    .ti3-close {
      margin-top: 8px;
    }
    .ti3-modal-header {
      margin: 0 32px 20px;
      padding: 23px 0 22px;
      border-bottom: 1px solid var(--modalTitle-border-bottom);
    }
    .ti3-modal-body {
      overflow-y: auto;
      min-height: 438px;
    }
    .body-header {
      display: flex;
      margin-bottom: 20px;
      .text {
        margin-right: 24px;
      }
      .modal-detail {
        margin-left: 48px;
      }
    }
  }
}
