.brush-main{
position: absolute; 
bottom: -16px; 
overflow: hidden;
height: 100px;
left: -2%;
width: 104%;
padding: 0px 48px;
box-shadow: 0px -3px 10px #E1E6EE; 
box-sizing: border-box;
background-color: #fff;
transition: height 0.2s;
z-index: 1003;

&.active{
  height: 400px;
    transition: height 0.2s;
}
&.active.tips{
  height: 240px;
  transition: height 0.2s;
}
}

.toggle-btn-top{
    text-align: center;
    cursor: pointer;
    width: 100%;
    z-index: 99;
    user-select: none;

    img{
      width: 10px;
      transition: all 100ms linear;

      &.active{
        transform: rotate(180deg);
      }
    }
  }
.page-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .function-title{
       font-size: 16px; 
       color: #222222;
    }
    .time_title{
        color: #616161;
        font-size: 12px;
    }
}
:host .brush-main ::ng-deep  .ti3-table .ti3-table-fixed-head table thead  tr th .thContent{
  display: flex ;
  height: 32px;
  .ti3-sort-container> .ti3-sort{
    line-height: 32px;
  }
  
}
.table {
    height: 100%;
    display: flex;
    flex-direction: column;

    >.title {
      flex: 0 0 auto;
    }

    >.ti3-table {
      max-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      >.ti3-table-fixed-head {
        flex: 0 0 auto; 
      }

      >.ti3-table-container {
        flex-grow: 1;

        td {
          position: relative;

          .pro-rate{
            position:absolute;
            top:0;
            left:0;
            background-color: #D6E4FF;
           .rateContent{
            line-height: 42px;
           } 
          }
        }
      }

      >.ti3-page-container {
        flex: 0 0 auto;
      }
    }
  }
  .nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15% 0%;
    transform: translateX(252%);
  }
  ::ng-deep .ti3-tooltip {
    white-space: pre-wrap !important;
    max-height: 600px;
  }
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    height: 257px !important;
}


@media only screen and (max-height: 900px){
  .brush-main.active{
      height: 37vh;
  }
  .data_size {
    max-height: 27vh;
  }
  .delay_content{
    max-height: 24vh;
    overflow-y: auto;
  }
  .brush-main .suite-box{
      max-height: 15vh;
  }
  .quene  .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    max-height: 16vh;
  }
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    height: 125px !important;
  }
  .nodata{
    margin: 0;
    margin-top: -21px;
  }
}