::ng-deep .message-modal {
    .ti3-modal-content {
        .ti3-close {
            top: 15px;
            right: 40px;
        }

        app-message-modal {
            ti-modal-header {
                font-size: 20px;
                line-height: 30px;
            }
            ti-modal-body {
                .content {
                    display: flex;

                    > i {
                        font-size: 20px;
                        margin-right: 8px;

                        &.ti3-icon-check-circle {
                            color: #61d274;

                            &:before {
                                content: "\e909";
                            }
                        }
                        &.ti3-icon-info-circle {
                            color: #0067ff;
                            
                            &:before {
                                content: "\e906";
                            }
                        }
                        &.ti3-icon-warn {
                            color: #ff9b00;

                            &:before {
                                content: "\e907";
                            }
                        }
                        &.ti3-icon-exclamation-circle {
                            color: #ed4b4b;

                            &:before {
                                content: "\e908";
                            }
                        }
                    }

                    > p {
                        line-height: 20px;
                        font-size: 14px;
                        color: var(--d-888888-l-616161);
                    }
                }
            }
        }
    }
    .okButtonStyle{
        margin-right: 16px;
    }
}
