:host {
  position: relative;

  input {
    width: 44px;
    height: 28px;
    box-sizing: border-box;
    padding: 0 14px 0 5px;
    text-align: center;

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    &[type="number"] {
      -moz-appearance: textfield;
    }

    &:focus,
    &:hover {
      border: 1px solid #0067ff;
      border-radius: 2px;
    }
  }

  span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

