:host ::ng-deep .taskForm {
  .ti3-form {
    // 解决没有required参数的表单会和带有required参数的表单不对齐的问题
    & > tbody > tr > td:first-child {
      width: 16px;
    }
  }
  .ti_form_radio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
    & > div {
      margin-right: 20px;
      height: 32px;
      display: flex;
      align-items: center;
  
      &:last-child {
        margin-right: unset;
      }
    }
  }

  .ti_form_switch {
    height: 32px;
    display: flex;
    align-items: center;
  }

  // 通栏显示
  .showThrough {
    position: relative;
    margin-top: 21px;
    left: -220px;
    width: calc(100% - 16px + 200px);
  }

  .info-icon{
    display: flex;
    align-items: center;
    margin-top: 21px;
    color: #666;
    font-size: 0.9rem;
    min-width: 260px;
    img {
      margin-right: 8px;
    }

    span {
      font-size: 0.8rem;
    }
  }

  // 修改 tiny TiValidationDirective 的错误提示信息
  .ti3-unifyvalid-error-container {
    align-items: flex-start;

    >.ti3-error-icon {
      margin-right: 8px;
      font-size: unset;
      width: 16px;
      height: 16px;
      background: url('../../../../assets/img/tip/error.svg') 1px center no-repeat;
      background-size: 14px 14px;
      float: left;
      flex: 0 0 auto;

      &::before {
        content: '';
      }
    }

    
  }
  
  .expandBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
  
    button {
      margin: 0;
      margin-left: 6px;
      padding: 0;
      border: none;
      outline: none;
      background: unset;
      cursor: pointer;
      position: relative;
      padding-left: 15px;
      color: #6c92fa;
  
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-left-color: #6c92fa;
        transform: translateY(-50%);
        transform-origin: 25% 50%;
      }
    }
  }
  .expandBtn.active button::before {
    transform: translateY(-50%) rotate(90deg);
  }

  // 设置输入框 placehold 字体大小
  input::-webkit-input-placeholder {
    font-size: 12px;
  }

  &.textForm {
    td {
      padding: unset;
    }

    .ti3-text-form-label {
      color: #9ea4b3;
    }

    .ti3-text-form-content {
      padding-left: 2vw;
    }
  }

  &.template {
    .ti3-form {
      width: 100%;
      margin-bottom: unset !important;

      .ti3-form-content {
        padding-left: 5px;
      }
    }
  }

  .ti3-form-content {
    .formContent {
      display: flex;

      .lableType{
        color:#666 !important;
        position: relative;
        margin-top: 20px;
        font-size: 0.78rem;
        display: block;
        min-width: 90px;
      }

      .tailPrompt {
        color: #979797;
        font-size: 14px;
        margin-left: 10px;
        line-height: 28px;
        white-space: nowrap;
      }

      .info-icon {
        margin-top: 0;
        margin-left: 10px;
      }

      .ti3-unifyvalid-error-container {
        display: flex;

        // 宽度取决于HTML设定的input框的宽度为300px，再减去图标的宽度【IE11不设置宽度会撑开td的宽度，导致变形】
        .ti3-validate-text {
          width: 300px - 20px;
        }
      }
    }
  }
}