<div class="user-management">
    <div>
        <button type="button" class="create-btn" tiButton
            (click)="createUser()">{{i18n.common_term_admin_user_create}}</button>
    </div>
    <ti-table [(displayedData)]="displayed" class="user-table" [srcData]="userList" [columns]="columns"
        (stateUpdate)="userListUpdate($event,1)" #userListTable [appLoading]="isLoading">
        <div class="ti3-table-fixed-head">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="ti3-table-container">
            <table>
                <thead>
                    <tr [ngStyle]="{'opacity': 0}">
                        <th *ngFor="let column of columns" width="{{column.width}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of displayed">
                        <td tiOverflow>{{row.username}}</td>
                        <td tiOverflow>{{row.displayRole}}</td>
                        <td tiOverflow>
                            <a class="user-opt"
                                (click)="doEditUser(row)">{{i18n.common_term_admin_user_edit}}</a>
                            <span style="margin-left: 0.5vw; color: #e1e6ee;font-size: 14px;">|</span>
                            <a class="user-opt" style="margin-left: 0.5vw;"
                                (click)="doDeleteUser(row)">{{i18n.common_term_operate_del}}</a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="displayed.length === 0  && !isLoading">
                    <div class="cert-nodata">
                        <img class='newNoData' src="./assets/img/projects/noData.svg" />
                        <div>
                          {{ i18n.common_term_task_nodata }}
                        </div>
                      </div>
                </tbody>
            </table>
        </div>
        <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" style="width:100%;"
            [(totalNumber)]="totalNumber">
        </ti-pagination>
    </ti-table>
    <app-alert-modal #creatUser>
        <div class="content creatUser" [lang]="language" *ngIf="creatUserEyes">
            <div class="c-title">
                <span class="create-title">{{maskTitle}}</span>
                <img class="close-img" class="incorrect" (mousedown)="closeUserOpt()"
                    (mouseenter)="onHoverClose('closer')" (mouseleave)="onHoverClose('')"
                    [src]="hoverClose==='closer'?'./assets/img/newSvg/close_hover.svg':' ./assets/img/newSvg/close_icon.svg'">
            </div>
            <div class="edit-box">
                <ti-formfield [formGroup]='editRole'>
                    <ti-item [label]="label.Name" [required]='true'>
                        <input type="text" tiText [tiValidation]='validation' formControlName='name'
                            (ngModelChange)='updatePwdValidator()' oncopy="return false" oncut="return false">
                        <span class="edit-tip" [ngStyle]="{'display':create?'flex':'none'}">
                            {{i18n.common_term_admin_user_notAllowEdit}}</span>
                    </ti-item>
                </ti-formfield>
                <div class="creat-form">
                    <ti-formfield [formGroup]='editPwd' *ngIf='setpwd || create'>
                        <ti-item [label]="label.managerPwd" [required]='true'>
                            <input tiText [tiValidation]='validation' formControlName='managerPwd' type="password"
                                oncopy="return false" oncut="return false" id='managerPwd'
                                (keydown)="disableCtrlZ($event)" />
                        </ti-item>
                        <ti-item [label]="label.Pwd" [required]='true'>
                            <input tiText [tiValidation]='validation' formControlName='pwd' type="password" id='pwd'
                                oncopy="return false" oncut="return false" (ngModelChange)='updateConfirmValidator()'
                                autocomplete="new-password" (keydown)="disableCtrlZ($event)" />
                        </ti-item>
                        <ti-item [label]="label.Cpwd" [required]='true'>
                            <input tiText [tiValidation]='validation' formControlName='cpwd' type="password"
                                oncopy="return false" oncut="return false" (keydown)="disableCtrlZ($event)" />
                        </ti-item>
                    </ti-formfield>
                </div>
                <div class="btn-box" *ngIf='!(setpwd || create)'>
                    <button type="button" tiButton style="margin-right:20px;min-width:88px" color="primary"
                        (click)='userOpt()' [disabled]="true">{{i18n.common_term_operate_ok}}</button>
                    <button type="button" tiButton class="user-close-btn"
                        (mousedown)='closeUserOpt()'>{{i18n.common_term_operate_cancel}}</button>
                </div>
                <div class="btn-box" *ngIf='setpwd || create'>
                    <button type="button" tiButton color="primary"
                        (click)='userOpt()' [disabled]='!editPwd.valid || (create && !editRole.valid)'>{{i18n.common_term_operate_ok}}</button>
                    <button type="button" tiButton class="user-close-btn"
                        (mousedown)='closeUserOpt()'>{{i18n.common_term_operate_cancel}}</button>
                </div>
            </div>
        </div>
    </app-alert-modal>
    <app-alert-modal #deleteUser>
        <div class="content deleteUser" [lang]="language" *ngIf="deleteEyes">
            <div class="header">
                <span>{{i18n.common_term_admin_user_delete_title}}</span>
                <img class="close" (click)="deleteClose()" (mouseenter)="onHoverClose('closer')"
                    (mouseleave)="onHoverClose('')"
                    [src]="hoverClose==='closer'?'./assets/img/newSvg/close_hover.svg':' ./assets/img/newSvg/close_icon.svg'">
            </div>
            <div class="main">
                <img src="./assets/img/newSvg/warn.svg">
                <span>{{i18n.common_term_admin_user_delete_detail}}</span>
            </div>
            <div class='msg-content'>
                <ti-formfield [formGroup]='editPwd'>
                    <ti-item [label]="i18n.common_term_user_label.adminPwd" [required]="true">
                        <input class="name-input" type="password" tiText [(ngModel)]='managementPwd' [tiValidation]='validation'
                        formControlName='managerPwd' id='managerPwd' autocomplete="new-password" (ngModelChange)='manPwdValidator()' oncopy="return false"
                            oncut="return false" (keydown)="disableCtrlZ($event)" />
                    </ti-item>
                </ti-formfield>
            </div>
            <div class="foot">
                <button class="confirm" type="button" tiButton [disabled]="deleteBtnDis"
                    (click)="toDeleteUser()">{{i18n.common_term_ok}}</button>
                <button type="button" tiButton color="primary"
                    (mousedown)="deleteClose()">{{i18n.common_term_operate_cancel}}</button>
            </div>
        </div>
    </app-alert-modal>
</div>