<div id="itemAgent" class="modal-dialog">
    <div class="content">
        <div class="content-title">{{i18n.certificate.agentTitle}}</div>
        <div class="content-table">
            <!-- Agent服务证书过期告警阈值(天) -->
            <div class="agent-warn">
                <div class="middle-font">
                    <img class="required-icon" src="./assets/img/input-required.png" />
                    {{ i18n.plugins_perf_secondtitle_setting[5] }}
                </div>
                <div class="setting-list">
                    <app-sys-setting-item [config]="{ label: '', range: [7, 180] }" [value]="agentWarnDeadlineValue"
                        (confirm)="onAgentWarnDeadlineConfirm($event)">
                    </app-sys-setting-item>
                </div>
            </div>
            <div class="buts">
                <button *ngIf="role" class="little-primary-btn" type="button" (click)='createCert()'>
                    {{i18n.common_term_certificate}}
                </button>
            </div>
            <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" id="agent" class="agent-table">
                <table>
                    <thead>
                        <tr>
                            <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                        <!--为了更好的渲染性能，建议在ngFor数据时总是trackBy数据条目中的某个唯一属性值(如id)-->
                        <tr *ngFor="let row of displayed;">
                            <!-- tiOverflow指令的作用是使文本溢出时出'...'，且hover时出tip-->
                            <td tiOverflow>{{row.nodeIp}}</td>
                            <td tiOverflow>{{row.nodeNickname}}</td>
                            <td tiOverflow>
                                <div *ngFor="let item of row.certInfo" class="certInfo">
                                    {{item.certName}}
                                </div>
                            </td>
                            <td tiOverflow>
                                <div *ngFor="let item of row.certInfo" class="certInfo">
                                    {{item.certExpTime}}
                                </div>
                            </td>
                            <td tiOverflow>
                                <div *ngFor="let item of row.certInfo" class="certInfo">
                                    <span class="status-icon"
                                        [ngClass]="statusFormat(item.certStatus)"></span>{{item.certStatus}}
                                </div>
                            </td>
                            <td tiOverflow *ngIf="role">
                                <div>
                                    <div class="operation-text"
                                        (click)="changeType(changeCert,row,'cert',this.i18n.agentCertificate.update_certificate)">
                                        {{this.i18n.agentCertificate.update_certificate}}</div>
                                    <div
                                        style="float:left;width: 1px;height: 12px; background: #E1E6EE;margin:8px;margin-top: 4px;">
                                    </div>
                                    <div class="operation-text"
                                        (click)="changeType(changeCert,row,'key',this.i18n.agentCertificate.update_work_key)">
                                        {{this.i18n.agentCertificate.update_work_key}}</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-default-page *ngIf="displayed.length === 0"></app-default-page>
                <app-loading *ngIf="showLoading" [height]="'100%'" class="loading"></app-loading>
            </ti-table>
        </div>
    </div>
    
    <div *ngIf="isLoading" class="global-loading success-loading">
        <app-loading [size]="'max'" [height]="'100vh'" [bgColor]="'none'"></app-loading>
    </div>
</div>

<!-- 更换证书/更换工作密钥 -->
<ng-template let-context="context" #changeCert>
    <!-- 弹框头部自定义：此处自定义了弹框头部关闭按钮和头部对齐方式 -->
    <ti-modal-header class="tip-th" id="certHead">
        <div class="header">
            <p>{{ opeartTitle }}</p>
            <div style="background: url('./assets/img/weakPassword/close.svg');" (click)="context.dismiss()">
            </div>
        </div>
    </ti-modal-header>

    <!-- 弹框内容定义 -->
    <ti-modal-body id="certBody">
        <div class="certContent">
            <ti-formfield [formGroup]="certForm">
                <!-- 节点IP -->
                <ti-item [label]="certFormLable.nodeId" style="padding-top:8px">
                    <span>{{nodeIp}}</span>
                </ti-item>
                <!-- 用户名 -->
                <ti-item [label]="i18n.plugins_perf_label_username" [required]="true">
                    <input type="text" tiText formControlName="username" [tiValidation]='validation'
                        oncopy="return false" oncut="return false">
                </ti-item>
                <!-- 认证方式 -->
                <ti-item [label]="certFormLable.verificationLable" [required]="true">
                    <ti-select style="width: 100%" [tiValidation]="validation" [options]='verificationType'
                        [(ngModel)]="mySelected" formControlName="type" (ngModelChange)="onNgModelChange(mySelected)">
                    </ti-select>
                </ti-item>
                <!-- 口令 -->
                <div *ngIf="verificationChoose === 0">
                    <ti-item [label]="certFormLable.password" [required]="true">
                        <div style="position: relative;">
                            <input tiText [tiValidation]="validation" formControlName="pwd" [type]="certType.type1"
                                oncopy="return false"
                                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false; }"
                                onkeydown="if(event.ctrlKey && event.keyCode === 90){return false;}"
                                onpaste="return true" oncut="return false" />
                            <div class="eyes">
                                <span (click)="eyesSwitch(1, 'password')" *ngIf="certType.type1 === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="eyesSwitch(1, 'text')" *ngIf="certType.type1 === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </ti-item>
                </div>
                <div *ngIf="verificationChoose === 1">
                    <!-- 私钥文件 -->
                    <ti-item [label]="certFormLable.keyFile" [required]="true">
                        <div style="position: relative;">
                            <input tiText [tiValidation]="validation" formControlName="pwdFile" [type]="certType.type2"
                                oncopy="return false"
                                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false; }"
                                onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false; }"
                                onpaste="return true" oncut="return false" />
                            <div class="eyes">
                                <span (click)="eyesSwitch(2, 'password')" *ngIf="certType.type2 === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="eyesSwitch(2, 'text')" *ngIf="certType.type2 === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </ti-item>
                    <!-- 密码短语 -->
                    <ti-item [label]="certFormLable.pwdPhrase">
                        <div style="position: relative;">
                            <input tiText [tiValidation]="validation" formControlName="pwdText"
                                [placeholder]="i18n.certificate.keyPlaceHoder" [type]="certType.type3"
                                oncopy="return false"
                                onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false; }"
                                onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false; }"
                                onpaste="return true" oncut="return false" />
                            <div class="eyes">
                                <span (click)="eyesSwitch(3, 'password')" *ngIf="certType.type3 === 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="eyesSwitch(3, 'text')" *ngIf="certType.type3 === 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </ti-item>
                </div>
            </ti-formfield>
            <!-- root口令 -->
            <div *ngIf="certForm.value?.username !== 'root'" class="tip-content tip-content-tip rootPwdTip">
                <img src='./assets/img/common/icon-information.png' class="tip-icon" />
                <span>{{ i18n.plugins_perf_tip_sysSet.rootPwdTip }}</span>
            </div>
            <ti-formfield labelWidth="144px" [formGroup]="certForm" class="taskForm">
                <ti-item [label]="i18n.plugins_sysperf_message_nodeManagement.rootAuth" [required]="true"
                    [show]="certForm.value?.username !== 'root'">
                    <div style="position: relative;">
                        <input type="password" tiText formControlName='rootPassword' [tiValidation]='validation'
                            [type]="certType.type4"
                            [placeholder]="i18n.plugins_sysperf_message_nodeManagement.rootPlaceholder" appDisableCtrl
                            oncopy="return false" onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false; }"
                            onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false; }" onpaste="return true"
                            oncut="return false" />
                        <div class="eyes">
                            <span (click)="eyesSwitch(4, 'password')" *ngIf="certType.type4 === 'text'">
                                <img src="./assets/img/common/icon-view.svg" />
                            </span>
                            <span (click)="eyesSwitch(4, 'text')" *ngIf="certType.type4 === 'password'">
                                <img src="./assets/img/common/icon-hide.svg" />
                            </span>
                        </div>
                    </div>
                </ti-item>
            </ti-formfield>
        </div>
    </ti-modal-body>
    <ti-modal-footer id="certFooter">
        <button type="button" class="little-primary-btn" [disabled]="!changeCertBtn" autofocus
            (click)="confirmCert(context)" style="margin-right: 16px;">
            {{i18n.common_term_operate_ok}}
        </button>
        <button type="button" class="little-minor-btn" (click)="context.dismiss()">
            {{i18n.common_term_operate_cancel}}
        </button>
    </ti-modal-footer>
</ng-template>

<!-- 确认指纹/root用户二次确认弹框 -->
<ng-template #fingerPrintConfirmationModalComponent let-context='context'>
    <ti-modal-header class="tip-th">
        {{ i18n.plugins_sysperf_message_nodeManagement.confirmFingerprint }}
    </ti-modal-header>

    <!-- 分割线 -->
    <div class="dashed-line"></div>

    <!-- 弹框内容定义 -->
    <ti-modal-body>
        <p class="tipInfo">
            <img src="./assets/img/tip/tip.svg" alt="" />
            {{ context.tipInfo }}
        </p>

        <ti-table [(displayedData)]="fingerPrintConfirmationTable.displayed"
            [srcData]="fingerPrintConfirmationTable.srcData" [columns]="fingerPrintConfirmationTable.columns">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let column of fingerPrintConfirmationTable.columns"
                            width="{{column.width}}">{{ column.title }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let row of fingerPrintConfirmationTable.displayed">
                        <td tiOverflow *ngFor="let column of fingerPrintConfirmationTable.columns">{{ row[column.prop]
                            }}</td>
                    </tr>
                </tbody>
            </table>
        </ti-table>
    </ti-modal-body>

    <ti-modal-footer id="fingerPrint">
        <button tiButton type="button" class="little-primary-btn" color="primary" style="margin-right: 16px;"
            (click)="context.confirm(context)">{{ i18n.common_term_operate_ok }}</button>
        <button type="button" class="little-minor-btn" (mousedown)="context.dismiss()" tiButton>{{
            i18n.common_term_operate_cancel }}</button>
    </ti-modal-footer>
</ng-template>