.migration-container{
    width: 100%;
    height: 100%;
    position: relative;
    .banner-container {
        height: 49%;
        position: relative;
        overflow: hidden;
    
        .bg-img {
          position: absolute;
          width: 100%;
        }
    
        .welcome {
          margin-left: 3%;
          top: 5.6vw;
          position: relative;
          color: #fafbff;
          width: 50%;
        }
    
        .welcome p:nth-child(1) {
          font-size: 48px;
          color: #fafbff;
        }
    
        .welcome p:nth-child(2) {
          top: 1.6vw;
          font-size: 16px;
          position: relative;
          color: #fafbff;
        }
    }

    .migration-content{
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        min-height: 440px;
        background: #ffffff;
        .left{
            width: 296px;
            border-right: 1px solid #d8d8d8;
            padding: 30px;
            box-sizing: border-box;
            ul{
                border-left:3px solid #d4dfff;
                li{
                    line-height: 35px;
                    padding-left: 35px;
                    color: #6c7280;
                    font-size: 16px; 
                    cursor: pointer;
                    &.active{
                        border-left: 3px solid #0067FF;
                        color: #282b33;
                        position: relative;
                        left: -3px;
                    }
                }
            }
            
        }
        .right{
            flex: 1;
            padding: 30px;
            box-sizing: border-box;
            .software-name {
                color: #0067FF;
                cursor: pointer;
            }
        }
    }
}

.show-mask{
   padding: 32px;
   box-sizing: border-box;

   .mask-close-btn{
    width: 15%;
    margin: 0 auto;
    font-size: 14px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -7.5%;
   }
}

.do-title{
    position: relative;
    border-bottom: 1px dashed #E1E6EE;
    padding-bottom: 18px;
    margin-top: -12px;
    margin-bottom: 26px;
    .title{
      width: 327px;
      font-family: "huawei sans";
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 18px;
      letter-spacing: 0px;
      color: #282b33;
    }
    img{
      padding-bottom: 6px;
    }
  }

.show-box{
    box-sizing: border-box;
    width: 560px;
    margin: 0 auto;
    position: relative;
  }
  .ps{ 
    margin-bottom: 16px;
    width: 540px;
    p{
      display: flex;
      width: 540px;
      font-family: "huawei sans";
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 24px;
      letter-spacing: 0px;
      color: #6c7280;
    }
  }
  .select{
    display: flex;
    align-items: center;
    font-family: "huawei sans";
    margin-left: 34px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #888888;
    span{
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 16px;
    }
    span.default{
      background: url("../../../../assets/img/migration-center/unselected.png");
    }
    span.active{
      background: url("../../../../assets/img/migration-center/selected.png");
    }
  }
  .btn-box{
    text-align: center;
    button{
        width: 96px;
        height: 32px;
        border-radius: 1px;
        margin: 30px auto;
        border-radius: 1px;
        font-size: 14px;
        cursor: pointer;
    }
    button.disabled-btn {
        cursor:not-allowed;
    }
      
  }

  

.alerm-container {
  z-index: 1;
  position: absolute;
  right: 80px;
  top: 0;

  .alerm-circle {
    width: 80px;
    display: inline-block;
    height: 80px;
  }

  .alerm-tip {
    background-color: #282b33;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    width: max-content;
    position: absolute;
    top: 80px;
    left: calc(-100% - 60px);
    display: none;
    padding: 10px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
  }
}

.alerm-container:hover .alerm-tip {
  display: block;
  z-index: 200;
}

.ti3-table>.ti3-table-fixed-head+.ti3-table-container {
  border-bottom: none !important;
}

// ti-table错位问题
:host ::ng-deep .ti3-table>.ti3-table-fixed-head>table{
  table-layout: fixed;
}
:host ::ng-deep .ti3-table>.ti3-table-container>table{
  table-layout: fixed;
}