<app-mission-modal-header #missionModal class="configNodeModal" >
  <div class="modal-dialog content" [ngClass]="[explorer]" style.width.px="760">
    <div class="modal-title">{{ i18n?.diagnostic?.taskParams.switch }}</div>

    <div class="modal-content">
      <div class="nodeInfo">
        <ti-formfield [labelWidth]="labelWidth">
          <!-- 节点别名 -->
          <ti-item [label]="i18n.common_term_another_nodename">
            <span class="nodeInfoItem">{{ nodeName }}</span>
          </ti-item>

          <!-- 节点IP -->
          <ti-item [label]="i18n.common_term_node_ip">
            <span class="nodeInfoItem">{{ nodeIP }}</span>
          </ti-item>
        </ti-formfield>
      </div>

      <ng-content select=".nodeConfigBox"></ng-content>
      <ng-content select="ti-formfield" class="customFormField"></ng-content>
      <ng-content select=".model-body"></ng-content>
      <ng-content select="app-task-form"></ng-content>
    </div>

    <ng-content select=".operateBtn"></ng-content>
  </div>
</app-mission-modal-header>