::ng-deep {
  :root {
    --tag-btn-normal-font: #222222;
    --tag-btn-normal-border: #979797;
    --tag-btn-normal-font-hover: #222222;
    --tag-btn-normal-border-hover: #616161;
    --tag-btn-selected-font: #2aa956;
    --tag-btn-selected-border: #2aa956;
    --tag-btn-selected-font-hover: #2aa956;
    --tag-btn-selected-border-hover: #187f3c;
  }

  .vscode-dark .tag-button-container {
    --tag-btn-normal-font: #AAAAAA;
    --tag-btn-normal-border: #979797;
    --tag-btn-normal-font-hover: #E8E8E8;
    --tag-btn-normal-border-hover: #E8E8E8;
    --tag-btn-selected-font: #2aa956;
    --tag-btn-selected-border: #2aa956;
    --tag-btn-selected-font-hover: #45cc90;
    --tag-btn-selected-border-hover: #45cc90;
  }
}
.tag-button-container {
  .tag-button {
    padding: 0 12px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    background-color: var(--common-color-background-primary);
    border: 1px solid var(--tag-btn-normal-border);
    color: var(--tag-btn-normal-font);
    text-align: center;
    min-width: 80px;
    box-sizing: border-box;
    display: inline-block;

    .icon {
        font-size: 12px;
    }
    
    .text {
        font-size: 14px;
        margin-left: 8px;
    }
  }

  .tag-btn-normal:hover {
    border-color: var(--tag-btn-normal-border-hover);
    color: var(--tag-btn-normal-font-hover);
  }
  
  .tag-btn-selected {
    border-color: var(--tag-btn-selected-border);
    color: var(--tag-btn-selected-font);

    .icon {
      color: var(--tag-btn-selected-font);
    }
  }
  
  .tag-btn-selected-hover:hover {
    border-color: var(--tag-btn-selected-border-hover);
    color: var(--tag-btn-selected-font-hover);

    .icon {
      color: var(--tag-btn-selected-font-hover);
    }
  }
  
  .tag-btn-can-click {
    cursor: pointer;
  }
}
  