.box {
  position: relative;

}
.back{
  height: 21px;
  line-height: 21px;
  font-size: 21px;
  color: #252c3c;
  display: flex;
  align-items: center;
  img{
    height: 10px;
    width: 6px;
    margin-right: 16px;
  }
}
.show{
  display: none;
}

 .titleDetail {
  display: flex;
  align-items: center;
  height: 18px;
  font-family: "huawei sans";
  font-size: 14px;
  justify-content: center;
  margin: 27px 0px 16px 0px;
  div {
    margin-right: 25px;
    font-size: 12px;
    line-height: 18px;
    color: #565d6b;
  }
}
.tableBox{
  .tableTitle{
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #282b33;
  margin: 48px 0px 16px 0px ;
}
}

:host ::ng-deep  .ti3-table>table>thead>tr>th{
  background-color: #f0f3fa !important
}
#Left-Normal,#right-Hover{
  cursor: pointer;
}

