.process-detail {
  .headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;


    >.right {
      display: flex;
    >.filterContainer {
        display: flex;
        align-items: center;
        padding-right: 20px;
        >.title {
          font-size: 14px;
          line-height: 20px;
          color: #222;
        }

        >.content {
          margin-left: 16px;
          display: flex;
          align-items: center;

          >ti-select {
            width: 320px;
          }

          >.sortContainer {
            width: 26px;
            height: 26px;
            border: 1px solid #979797;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            >ti-icon {
              font-size: 17px;
            }
          }
        }

        &:not(:first-child) {
          margin-left: 32px;
        }
      }
      >.iconBtn {
        background-size: cover;
        background-position: center;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &.statusIcon {
          z-index: 30;  // 设计提供的图片带有边框
          background: url(../../../../assets/img/projects/cpuStatus_normal.svg);

          &:hover {
            background: url(../../../../assets/img/projects/cpuStatus_hover.svg);
          }

          &.active {
            background: url(../../../../assets/img/projects/cpuStatusSelected_normal.svg);

            &:hover {
              background: url(../../../../assets/img/projects/cpuStatusSelected_hover.svg);
            }
          }
        }

        &.durationSummaryIcon {
          z-index: 20;
          margin-left: -1;
          background: url(../../../../assets/img/projects/durationSummary_normal.svg);

          &:hover {
            background: url(../../../../assets/img/projects/durationSummary_hover.svg);
          }

          &.active {
            background: url(../../../../assets/img/projects/durationSummarySelected_normal.svg);

            &:hover {
              background: url(../../../../assets/img/projects/durationSummarySelected_hover.svg);
            }
          }
        }

        &.locatePTidIcon {
          z-index: 10;
          margin-left: -1px;
          background: url(../../../../assets/img/projects/locatePTid_normal.svg);

          &:hover {
            background: url(../../../../assets/img/projects/locatePTid_hover.svg);
          }

          &.active {
            background: url(../../../../assets/img/projects/locatePTidSelected_normal.svg);

            &:hover {
              background: url(../../../../assets/img/projects/locatePTidSelected_hover.svg);
            }
          }
        }
      }
    }
  }
}

.box-title {
  font-size: 1rem;
  margin-right: 10px;
  color: #282b33;
}

.header-box {
  z-index: 11;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-item {
  display: inline-block;
  color: #6c7280;
  margin-right: 15px
}

.status-item>.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px
}

.detailTable {
  width: 97.5%;
}

.loadData {
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px
}


.chartBox {
  margin-top: 20px;
  display: flex;
  position: relative;

  .topLine {
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e1e6ee;
  }

  .bottomLine {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e1e6ee;
  }

  >.left {
    flex: 0 0 auto;
    color: #222;
    font-size: 14px;

    thead td {
      height: 34px;
    }

    tbody td {
      height: 30px;
      font-size: 14px;
      color: #222;
      line-height: 30px;
    }
  }
  >.chart {
    display: none;
    flex: 1;
    height: 100% !important;
  }
  >.chart.ifShow {
    display: block;
  }
  .unsetPosition{
    padding: 0;
  }
}

::ng-deep .tipTable {
  tr {
    line-height: 28px;
    vertical-align: top;

    td {
      max-width: 400px;
      white-space: pre-wrap;

      &:not(:first-child) {
        padding-left: 16px;
      }
    }
  }
}

.headerBox .left {
  display: flex;
   .filerIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    flex: none;
  }

}
.left[hidden]{
  display: none;
}

:host ::ng-deep .durationSummary{
  .selectedTasks{
    max-width: 1085px;
  }
  .tagBox{
    min-width: 925px;
  }
}
.selectedTasks .icons-warpper{
  width: 24px;
}
.noDataBox{
  height: 220px !important;
}

.chartBox > .left tbody td{
  line-height: normal !important;
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  :host ::ng-deep .durationSummary{
    .selectedTasks{
      max-width: 700px;
    }
    .tagBox{
      min-width: 500px;
    }
  }
}
@media only screen and (max-width: 1366px) {
  :host ::ng-deep .durationSummary{
    .selectedTasks{
      max-width: 600px;
    }
    .tagBox{
      min-width: 460px;
    }
  }
}
.left-title, .left-content {
  display: inline-block;
  padding: 0 10px;
  > div:first-child {
    height: 36px;
    line-height: 34px;
  }
  > div:not(:first-child) {
    height: 30px;
    line-height: 30px;
  }
}