$themeColor: #0067FF;
$color61: #616161;

.analysis-container {
    width: 100%;
    height: 100%;
    position: relative;
    .main-title {
        display: flex;
        align-items: center;
    }
    .banner-container {
        height: 58%;
        position: relative;
        overflow: hidden;

        .bg-img {
          position: absolute;
          width: 110%;
          height: 100%;
        }
    }
    .analysis-content{
        height: 100%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        min-height: 300px;
        background: #ffffff;
        .main{
            width: calc(100% - 520px);
            padding: 32px  40px;
            padding-right: 0;
            min-width: 750px;
            box-sizing: border-box;
            overflow-y: visible;
            li{
                line-height: 20px;
                font-size: 14px;
                margin-bottom: 16px;

                .step-label {
                    color: #979797;
                    margin-bottom: 17px;

                    .step-title {
                        font-size: 16px;
                    }
                }
                .step-num {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: #ffffff;
                    line-height: 14px;
                    text-align: center;
                    border: 1px solid #979797;
                    margin-right: 5px;
                }
                .step-path {
                    margin-left: -12px;
                    margin-bottom: 4px;
                    color: #616161;
                    max-width: 760px;
                    .required {
                        display: inline-block;
                        position: relative;
                        top: 5px;
                        width: 8px;
                        color: red;
                        font-size: 20px;
                    }
                }
                .executed-step {
                    color: #222222;
                }
                .select-step {
                    color: #0067FF;
                }
                .executed-num {
                    border: 1px solid #6882DA;
                    color: #0067FF;
                    background: #ffffff;
                }
                .select-num {
                    border: 1px solid #0067FF;
                    color: #ffffff;
                    background: #0067FF;
                }
                .value{
                    display: inline-block;
                    color: #282b33;
                    .value-row {
                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 80px;
                            margin-left: 8px;
                        }
                    }
                    .areaMatchDiv {
                        position: absolute;
                        left: 0 ;
                        box-sizing: border-box;
                        border: 1px solid $themeColor;
                        border-top: 1px solid #E1E6EE;
                        background-color: #fff;
                        z-index: 9;
                        max-height: 300px;
                        overflow-y: auto;
                        li {
                            margin: 0;
                            cursor: pointer;
                        }
                        li:last-child {
                            margin-top: 0;
                        }
                      }
                    input{
                        width: 43%;
                        height: 25px;
                        line-height: 25px;
                    }
                }
                .value.authorizate{
                    margin-top: 16px;
                    color: #222222;
                    display: flex;
                }
                .operation{
                    display: inline-block;
                    min-width: 130px;
                    height: 32px;
                    line-height: 32px;
                    text-align:center;
                    box-sizing: border-box;
                }
                &:last-child{
                    margin-top: 32px;
                    padding-left: 8px;
                }
                .tip{
                    margin-left: 8px;
                    color: #ff524e;
                }
            }
            .marginTop32 {
                margin-top: 32px;
            }

        }
        .welcome {
            max-width: 600px;
            padding-top: 30px;
            padding-right: 80px;
            .build-tip{
                font-size: 14px;
                color: #666;
                line-height: 25px;
                p:first-child{
                    color: #333;
                    font-weight: bold;
                }
            }
        }
        .err-border{
            border: 1px solid #ff524e;
        }
        .tip-btn-box {
            height: 28px;
        }

        .histroy-list-container {
            border-left: 1px solid #e1e6ee !important;
            .right-title {
                padding-bottom: 12px;
                border-bottom: 1px dashed #dadadc;
                font-weight: 500;
            }
            .right-list {
                overflow-y: auto;
                padding-top: 30px;
                height: calc(100% - 64px);
                li {
                  display: flex;
                  justify-content: space-between;
                  font-size: 14px;
                  span {
                    .delete-img {
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        margin-left: 24px;
                        cursor: pointer;
                    }
                  }
                }
                li + li {
                    margin-top: 24px;
                }
            }
        }
    }
}


@media screen
    and (min-width: 1600px) and (max-width: 1700px){
    .welcome{
    .banner-title{
        font-size: 40px!important;
    }
    .banner-desc{
        font-size: 24px!important;
    }
    .build-tip{
        font-size: 14px!important;
    }}
}


@media (max-width: 1600px){
    .welcome{
    .banner-title{
        font-size: 32px!important;
    }
    .banner-desc{
        font-size: 16px!important;
    }
    .build-tip{
        font-size: 12px!important;
    }}
}

.alerm-container {
    z-index: 1;
    position: absolute;
    right: 80px;
    top: 0;

    .alerm-circle {
      width: 80px;
      display: inline-block;
      height: 80px;
    }

    .alerm-tip {
      background-color: #282b33;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
      width: max-content;
      position: absolute;
      top: 80px;
      left: calc(-100% - 60px);
      display: none;
      padding: 10px;
      color: #fff;
      line-height: 20px;
      font-size: 14px;
    }
  }

  .alerm-container:hover .alerm-tip {
    display: block;
    z-index: 200;
  }

  .mask-container {
      .desc {
        color: $color61;
        p:nth-child(2n) {
            margin: 8px 0;
        }
      }
      .des {
        display: flex;
        align-items: flex-start;
        img {
            width: 24px;
            margin-right: 8px;
        }
        p {
            color: #222;
            font-size: 14px;;
            line-height: 20px;
        }
      }
      .userchange-zh {
          word-break: break-all;
      }
      .des-source {
          margin: 16px 0;
          .des-source-item {
              p {
                  font-size: 12px;
                  color: #222;
                  line-height: 24px;
              }
          }
      }
      .steps {
          margin-top: 24px;
          }
          .step-item {
            .step {
                font-size: 14px;
                color: #222;
                display: flex;
                align-items: center;
                .step-circle {
                    width: 6px;
                    height: 6px;
                    border: 1px solid #DFE1E6;
                    border-radius: 50%;
                    margin-right: 24px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
            .desMore {
                margin: 4px 0 12px;
                display: flex;
                .desMoreContent {
                    width: 100%;
                    p {
                        position: relative;
                        box-sizing: border-box;
                        padding: 8px 24px;
                        width: 100%;
                        background-color: #fafafa;
                        border-radius: 1px;
                        font-size: 12px;
                        line-height: 20px;
                        color: #616161;
                        -webkit-border-radius: 1px;
                        -moz-border-radius: 1px;
                        -ms-border-radius: 1px;
                        -o-border-radius: 1px;
                        .input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -666;
                            opacity: 0;
                        }
                        img {
                            float: right;
                            margin-top: 4px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .desMoreLast {
                border-left: none;
            }
        }
  }

.rebuild-upload-btn-disabled {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #ccc;
    cursor: not-allowed;
    &:hover {
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        color: #ccc;
    }
}

// ti-table错位问题
:host ::ng-deep .ti3-table>.ti3-table-fixed-head>table{
table-layout: fixed;
}
:host ::ng-deep .ti3-table>.ti3-table-container>table{
table-layout: fixed;
}

.config-modal {
    .mask-container {
        margin-top: 0;
        padding-top: 26px;
    }
    .btn-box {
      margin-top: 32px;
      button {
        min-width: 88px !important;
        &:nth-child(2) {
            margin: 0 16px;
        }
      }
    }
}
.no-file-selected,
.upload-restule-tip {
    width: 440px;
    font-size: 12px;
    line-height: 16px;

    img {
        width: 16px;
        vertical-align: middle;
        margin-right: 5px;
    }
  }
.no-file-selected {
    span {
        color: #ED4B4B;
    }
}

.right-report {
    flex: 1;
    overflow: hidden;
    p {
        &:first-child {
            padding-right: 20px;
            line-height: 24px;
            img,
            span {
                vertical-align: middle;
            }
            img {
                margin-right: 8px;
            }
        }
        &:last-child {
            color: $color61;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .create-time {
        margin-left: 24px;
    }
}
.relative-box {
    margin-bottom: -10px;
}

.areaMatch {
    box-sizing: border-box;
    width: 440px;
    padding: 7px;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-line;
}

.break-all {
    word-break: break-all;
}

.areaMatchData {
    width: 440px;
    height: 60px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal;
    padding: 7px;
    font-size: 14px;
    word-break: break-all;
}

.step-end {
    margin-left: 8px;
    padding-left: 16px;
    border-left: 1px solid #e1e6ee;
    color: #616161;
}

#zipload {
    display: none;
}
