.gcBtn {
  margin: 11px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  background-color: #0067ff;
}
.search-box {
  margin-top: 20px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}
thead {
  height: 32px;
}
thead > tr > th {
  font-size: 12px;
  height: 24px;
  font-weight: normal;
  font-stretch: normal;
  color: #616161;
  text-align: left !important;
}
tbody > tr > td {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  color: #222222;
  border-bottom: 1px solid #e1e6ee;
  padding: 7px 10px;
  text-align: left !important;
}
.table-box {
  position: relative;
  display: flex;
  padding-bottom: 25px;
  margin-left: 10px;
}
.table-y {
  width: 8%;
  height: 100%;
  .title {
    min-width: 80px;
  }
}
.table {
  height: 100%;
  flex: 1;
}
.line {
  width: 151%;
  height: 2px;
  background: #e1e6ee;
}
.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
}
.title-num {
  color: #616161;
}
#myEchart {
  min-height: 514px;
}
.analysis {
  top: 50%;
  position: absolute;
  left: 50%;
}
:host ::ng-deep .report-tips {
  margin-left: 32px;
}
.save-box{
  position: absolute;
  right: 44px;
  img{
    width: 28px;
    height: 28px;
  }
  .svg-toggle {
    img:hover {
      cursor: pointer;
    }

    & > img {
      display: none;
     }

    & > img:nth-of-type(1) {
      display: block;
    }

    &:hover {
      & > img:nth-of-type(1) {
          display: none;
      }

      & > img:nth-of-type(2) {
          display: block;
      }

      & > img:nth-of-type(3) {
          display: none;
      }
    }

    &:active {
      & > img:nth-of-type(1) {
          display: none;
      }

      & > img:nth-of-type(2) {
          display: none;
      }

      & > img:nth-of-type(3) {
          display: block;
      }
    }

  }
}
.statusBox {
  p {
      height: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;

      .status {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-right: 8px;
      }

      .status1 {
          border: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 8px;
      }

      .status2 {
          border: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 8px;
      }
  }
}
.gclog {
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
  .gc-log-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    margin-top:20px;
    .header-left {
      display: flex;
      align-items: center;
      .header-left-btn {
        margin-bottom: 20px;
        height: 32px;
        width: 150px;
      }
      .helpTop {
        width: 12px;
        height: 12px;
        margin-left: 8px;
      }
    }
  }
  .noDate {
    width: 90vw;
    height: 57vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    p {
      color: #616161;
      font-size: 14px;
      line-height: 21px;
      margin-top: 5px;
    }
  }
  
  .progress-svg{
    width: 320px; 
    height: 140px; 
    margin: 0 auto;

    .browser-img {
      width: 320px;
    }
  }
  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    p {
      margin-top: 50px;
      color: var(--input-placeholder-color);
    }
    .progress {
      margin-top: 16px;
      text-align: center;
      .barBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        .value {
          position: absolute;
          right: -50px;
        }
      }
      .line {
        width: 400px;
        height: 4px;
        border-radius: 2px;
        background-color: #e6ebf5;
        position: relative;
        overflow: hidden;
        .bar {
          display: inline-block;
          width: 100px;
          height: 4px;
          background-color: #61d274;
          position: absolute;
          top: 0;
          left: 0;
          animation: progressBar 1.5s linear infinite;
        }
        .progressBar {
          display: inline-block;
          height: 4px;
          background-color: #61d274;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .statusBox {
        p {
          height: 20px;
          margin-top: 20px;
          display: flex;
          justify-content: flex-start;

          .status {
            width: 14px;
            height: 14px;
            border: 2px solid #cccccc;
            border-radius: 50%;
            margin-right: 8px;
          }
          .status1 {
            border: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 8px;
            background-image: url(../../../../assets/img/newSvg/dumping.svg);
          }
          .status2 {
            border: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 8px;
            background-image: url(../../../../assets/img/newSvg/dump1.svg);
          }
        }
      }

      @keyframes progressBar {
        0% {
          left: -100%;
        }

        100% {
          left: 100%;
        }
      }
    }

    button {
      margin-top: 32px;
    }
  }

  .chartDiv {
    margin-top: 40px;
    margin-bottom: 80px;

    .time-box {
      width: 100%;
    }

    .gclog-echart-box {
      width: 100%;
      height: 380px;
    }
  }

  .sub-title {
    color: #222222;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sub-title1 {
    color: #222222;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 32px;
  }
  .key-point {
    width: 700px;
    height: 226px;
    border-right: 2px dashed #e1e6ee;
    padding-right: 36px;
    margin-right: 40px;
    & > div {
      display: flex;
      flex-wrap: wrap;
      & > div {
        width: 33%;
      }
      .distance {
        margin-top: 33px;
      }
      p {
        font-size: 32px;
        color: #222222;
      }
      div {
        color: #616161;
        font-size: 16px;
      }
    }
  }
  .highlight {
    color: #0067ff;
    cursor: pointer !important;
  }
  .colspan-center {
    text-align: center !important;
  }
  .cause-detail {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    #causeEchart {
      width: 180px;
      height: 180px;
    }
    .legends {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 208px;
      .legend {
        margin-bottom: 22px;
        margin-right: 52px;
        & > div:first-child {
          font-size: 14px;
          color: #222222;
          display: flex;
          align-items: center;
          & > span:first-child {
            width: 10px;
            height: 10px;
            margin-right: 8px;
          }
        }
        & > div:last-child {
          padding-left: 18px;
          font-size: 12px;
          color: #616161;
        }
        &:nth-of-type(4) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.loadData {
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  .nodata-text {
    font-size: 1.1rem;
    position: relative;
    color: #333;
    }
  }
  
  .noData {
    width: 92vw;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: #616161;
      font-size: 14px;
      line-height: 21px;
      margin-top: 5px;
      text-align: center;
    }
  }
  
  .allTitle{
    font-size: 20px;
      font-weight: normal;
      color: #222222;
    margin-bottom: 48px;
    .causeTitle{
      line-height: 30px;
      height: 30px;
    }
  }
  .pauseChart{
    width: 100%;
    height: 540px;
    margin-bottom: 60px;
    .top-title {
      color: #222222;
      font-size: 20px;
      margin-top: 40px;
      border-bottom: 1px dashed #d4d9e6;
      padding-bottom: 20px;
    }
    .right-title{
      width: 100%;
      height: 30px;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 30px;
      letter-spacing: 0px;
      color: #222222;
      margin-bottom: 20px;
    }

  }
  .leftTable{
    width: 208px;
    height: 94%;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: #222;
    border-right: 2px solid #eff0f5;
    .listData{
      width: 100%;
      .rowData{
        margin-top: 20px;
        width: 184px;
        height: 48px;
        line-height: 48px;
        text-align: left;
        padding: 0px 10px;
      }
    }
  }
  .tab-active {
    background-color: #ffffff;
    color: #0067ff !important;
    border: none !important;
    border-left: 2px solid #0067ff  !important;
  }
  .rightTable{
    float: left;
    width: calc(100% - 240px);
    margin-top: 20px;
  }
  
  .detail{
    color: #222;
    .topDetail{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
      .detailItem{
        font-size: 14px;
        padding: 0px 30px 0 0;
        color: #616161;
        .itemTitle{
          margin-bottom: 10px;
        }
        .itemValue{
          color: #222;
        }
      }
    }
  }
  .detailTitle{
    color: #222;
    margin-bottom: 20px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    position: relative;
    margin-top: 20px;
    
    .backImg{
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
    }
    .causeTitle{
      display: inline-block;
      height: 20px;
      line-height: 20px;
      margin-left: 20px;
    }
  }
  .operation-anal{
    font-size: 12px !important;
  }
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding: 0 32px 32px 32px;
  overflow: hidden;
  .header {
    font-size: 20px;
    color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
    border-bottom: solid 1px #e1e6ee;
    .close {
      cursor: pointer;
    }
  }
  .main-body {
    width: 100%;
    align-items: center;
    .tip{
      margin-top: 18px;
      .save-report-tips {
        height: 32px;
        line-height: 30px;
        background-color: #f0f6ff;
        border-radius: 2px;
        border: solid 1px #0067ff;
        min-width: 496px;
        display: flex;
        font-size: 12px;
        color: #222222;
        justify-content: space-between;
        div {
          img {
            vertical-align: middle;
          }
          .span {
            padding-left: 9px;
          }
        }
        .report-icon {
          padding-left: 17px;
        }
        .report-icon1 {
          height: 16px;
          width: 16px;
          cursor: pointer;
        }
        .report-close {
          justify-content: center;
          cursor: pointer;
          width: 16px;
          height: 16px;
          margin: 8px 19px 0 8px;
        }
      }
    }
    .inputDiv {
      margin-top: 20px;
      height: 100%;
      position: relative;
      display: flex;
      .leftText {
        font-size: 14px;
        line-height: 30px;
        color: #616161;
        display: block;
        min-width: 94px;
        flex-shrink: 0;
        margin-right: 16px;
      }
      .right {
        width: 300px;
        line-height: 30px;
        input{
          width: 300px;
        }
      }
    }
  }
  .foot {
    width: 100%;
    text-align: center;
    margin-top: 32px;
    button {
      width: 88px;
      height: 28px;
      line-height: 26px;
    }
    .confirm {
      margin-right: 16px;
    }
  }
}
.alertLink{
  top: 50px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  .see{
    cursor: pointer;
    color: #0067ff;
    margin-left: 10px;
  }
}
.no-data{
  width: 40vw;
  .noDataImg{
    display: block;
    margin: auto;
  }
  .nodataText{
    text-align: center;
  }
}
.hideClass{
  display: none;
}
::ng-deep ti-alert{
  width: auto !important;
}
.ti3-alert-success-container.ti3-alert-box-shadow{
  height: 40px;
}
.ti3-alert-success-container{
    background-color: #edfff9;
    border-radius: 2px;
    border: solid 1px #61d274;
}
.importClass{
  margin: 0 16px 0 0 !important
}
.helpTip{
  color: #0067ff;
}
.tipimg{
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.error-text{
  color:rgb(237, 75, 75);
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}
.errorClass{
  border: 1px solid rgb(237, 75, 75) !important;
}

.lightText{
  max-width: 80%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.lightImg{
  width:12px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}



:host ::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container > table > tbody > tr:last-child > td {
  border-bottom: 1px solid #e1e6ee !important;
}
