.hart-cpu-table {
  .pagination {
    margin-top: 18px;
  }
}

.cpu-modal {
  .ti3-modal-content {
    width: 900px;
    .ti3-close {
      margin-top: 8px;
    }

    .ti3-modal-header {
      margin: 0 32px 20px;
      padding: 23px 0 22px;
      border-bottom: 1px solid var(--common-color-divider);
    }

    .ti3-modal-body {
      overflow-y: hidden;
      min-height: 430px;
    }

    .body-header {
      display: flex;
      margin-bottom: 20px;
      .text {
        margin-right: 24px
      }
      .modal-detail {
        margin-left: 48px;
      }
    }
  }
}

.no-link {
  color: var(--d-aaaaaa-l-222222);
  &:hover {
    color: var(--d-aaaaaa-l-222222);
  }
}

:root .vscode-dark,
:root .vscode-light {
  .cpu-modal {
    .ti3-modal-header {
      margin: 0 0 20px;
    }
  }
}