<div class="report-diff-container" [ngClass]="{'pad80':routerFile || routerFileDQJC || routerFileCacheLine, 'collLeft': !isFileList}">
  <div class="main-title" *ngIf="routerFile">
    <img src="./assets/img/migration-center/icon_nav_back.svg" alt="" style="cursor: pointer;" (click)="goHome(changeWeb)" [tiTip]='goBackTip' tiTipPosition="right"/>
    <span class="title">{{i18n.common_term_opt_check_exit}}</span>
  </div>
  <div class="main-title" *ngIf="routerFileDQJC">
    <img src="./assets/img/migration-center/icon_nav_back.svg" alt="" style="cursor: pointer;" (click)="goHome(changeWeb)" [tiTip]='goBackTip' tiTipPosition="right"/>
    <span class="title">{{i18n.common_alignment_check.exit}}</span>
  </div>
  <div class="main-title" *ngIf="routerFileCacheLine">
    <img src="./assets/img/migration-center/icon_nav_back.svg" alt="" style="cursor: pointer;" (click)="goHome(changeWeb)" [tiTip]='goBackTip' tiTipPosition="right"/>
    <span class="title">{{i18n.common_cacheline_check.exit_report}}</span>
  </div>
  <div class="filelist-left" *ngIf="!isFileList">
    <h3 [tiTip]="closefileName" style="margin-bottom: 24px;display: inline-block;" ><img src="./assets/img/code-diff/filelist.svg"></h3>
    <div class="close-left">
      <img src="./assets/img/home/toggle.svg" style="transform: rotateY(180deg);" class="open-img" *ngIf="!isFileList" (click)="displayFileList()">
    </div>
  </div>
  <div class="left" *ngIf="isFileList">
      <div>
        <h3 style="margin-bottom: 24px;display: inline-block;">{{ i18n.common_term_file_list_label }}</h3>
        <span class="p-relative" *ngIf="!routerFileDQJC">
          <span class="tip-file-list" [ngClass]="{'tip-file-list-en': currLang !== 'zh-cn','tip-instruct-show': showTip}" [ngStyle]="downLoadAble === false ? { cursor: 'not-allowed' } : ''" tiTipPosition="top">
            <span *ngIf="downLoadAble" class="tip-span" >
                <app-icon-react name="uploadHistory" [freeze]="!downLoadAble ? 'disabled' : null" (click)="dowload(changeWebfile)"></app-icon-react>
            </span>
            <span *ngIf="!downLoadAble" class="tip-span">
                <app-icon-react name="uploadHistory" [freeze]="!downLoadAble ? 'disabled' : null" (click)="dowload(changeWebfile)"></app-icon-react>
            </span>
          </span>
        </span>
        <img src="./assets/img/home/toggle.svg" class="close-img" *ngIf="isFileList" (click)="displayFileList()">
      </div>
      <ti-searchbox
        maxlength="32"
        [placeholder]="fileSearch.placeholder"
        (search)="onSearch($event,changeWebfile)"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="fileSearch.value"
        class="inp-searchbox"
        tiMaxLength="32"
      >
      </ti-searchbox>
      <div class="tree-list">
        <ti-tree [data]="showData" [multiple]="isMultiple" [changedByCheckbox]="true" (select)="onSelect($event,changeWebfile)" (change)="changeFn($event)">
          <ng-template let-item let-i = index>
            <span>
                <span [ngClass]="{'file-text': item.isModify}" style="cursor: pointer">{{item.label}}</span>
            </span>
        </ng-template>
        </ti-tree>
        <div *ngIf="showData.length === 0" class="hs-no-data"  [hyNodata]="{text: i18n.common_term_task_nodata }" [nodataShow]="showData.length === 0">
        </div>
      </div>

  </div>
  <div class="file-diff" [ngClass]="{'close-width': !isFileList}">
    <app-code-monaco #diffInsfile [diffPath]="currentFile" [reportId]="report.id" *ngIf="!routerFile && !routerFileDQJC && !routerFileCacheLine" [isCheck]="routerFile"></app-code-monaco>
    <app-code-monaco #diffIns [diffPath]="filePath" [reportId]="report.id" *ngIf="routerFile" [isCheck] = "routerFile"></app-code-monaco>
    <app-code-monaco #diffInsCacheLine [diffPath]="filePath" [reportId]="report.id" *ngIf="routerFileCacheLine" [isCheck] = "routerFileCacheLine"></app-code-monaco>
    <!-- 添加对齐检查 -->
    <app-byte-show #diffInsByte [diffPath]="filePath" [reportId]="report.id" *ngIf="routerFileDQJC" [isCheck] = "routerFile"></app-byte-show>
  </div>
</div>
<ng-template #changeWeb let-context="context">
  <ti-modal-header>
    {{i18n.common_term_giveup_tip4}}
  </ti-modal-header>
  <ti-modal-body>
    <div class="del-content">
      <div class="title">
        <img src="./assets/img/home/warn-tip.svg" alt="">
        <p class="tip1">{{i18n.common_term_sure_leave_tip1}}</p>
      </div>
      <p class="tip2">{{i18n.common_term_leave_tip2}}</p>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <div class="btn-box">
      <button type="button" class="user-sure-btn" (click)="context.close()"
        tiButton>{{i18n.common_term_operate_ok}}</button>
      <button type="button" color="primary" class="user-close-btn" (click)="context.dismiss()"
        tiButton>{{i18n.common_term_operate_cancel}}</button>
    </div>
  </ti-modal-footer>
</ng-template>
<ng-template #changeWebfile let-context="context">
  <ti-modal-header>
    {{i18n.common_term_giveup_tip4}}
  </ti-modal-header>
  <ti-modal-body>
    <div class="del-content">
      <div class="title">
        <img src="./assets/img/home/warn-tip.svg" alt="">
        <p class="tip1">
          {{this.i18n.common_term_sure_giveup_tip1}}
          <span style="font-weight: bold;word-break: break-all;">{{this.giveupfilename}}</span>
          {{this.i18n.common_term_sure_giveup_tip3}}
          {{i18n.common_term_leave_tip2}}
        </p>
      </div>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <div class="btn-box">
      <button type="button" class="user-sure-btn" (click)="context.close()"
        tiButton>{{i18n.common_term_operate_ok}}</button>
      <button type="button" color="primary" class="user-close-btn" (click)="context.dismiss()"
        tiButton>{{i18n.common_term_operate_cancel}}</button>
    </div>
  </ti-modal-footer>
</ng-template>

<!-- 提醒是否保存弹窗-->
<ng-template #saveEditorModal let-context="context">
  <ti-modal-header>
    <p style="font-size: 20px; color: #222;">{{i18n.common_term_monaco_upload_information}}</p>
  </ti-modal-header>
  <ti-modal-body>
    <div class="del-content">
      <div class="title">
        <img src="./assets/img/tip/ie_tip.svg" alt="">
        <p>{{i18n.commmon_term_monaco_upload_tip}}</p>
      </div>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <div class="btn-box">
      <button type="button" class="user-close-btn" (click)="context.dismiss()"
        tiButton>{{i18n.common_term_operate_close}}</button>
    </div>
  </ti-modal-footer>
</ng-template>

<!-- IE提示弹窗 -->
<ng-template #ieShowModal let-context="context">
  <ti-modal-header>
    <p style="font-size: 20px; color: #222;">{{i18n.common_term_monaco_information}}</p>
  </ti-modal-header>
  <ti-modal-body>
    <div class="del-content">
      <div class="title">
        <img src="./assets/img/tip/ie_tip.svg" alt="">
        <p>{{i18n.commmon_term_compatibility_tips_IE}}</p>
      </div>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <div class="btn-box">
      <button type="button" class="user-close-btn" (click)="context.dismiss()"
        tiButton>{{i18n.common_term_operate_close}}</button>
    </div>
  </ti-modal-footer>
</ng-template>
