/* You can add global styles to this file, and also import other style files */
@import "variables";

$themeColor: #0067ff;
$tableBgColor: #f5f9ff;
// table tr hover 颜色
$tableTrHover: #f5f9ff;

html {
  font-size: 16px;
}
.ti3-tooltip {
  max-height: 300px;
  .ti3-tooltip-content {
    max-height: 80%;
    overflow-y: auto;
    font-size: 12px;
    b {
      font-size: 14px;
    }
  }
}
body {
  padding: 0 !important;
  margin: 0;
  height: 100vh;
  font-size: 14px;
  font-size: 1rem;
  font-family: "huawei sans";
  min-width: 1366px;
  min-height: 768px;
  overflow: auto;
}

body * {
  padding: 0px;
}
@media only screen and (max-width: 1580px) and (min-width: 1366px) {
  html {
    font-size: 75.7% !important;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 625px;
    font-size: 13px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1365px) {
  html {
    font-size: 75.7% !important;
  }
  body {
    padding: 0;
    margin: 0;
    height: 98vh;
    min-height: 612px;
    font-size: 12px;
    font-size: 1rem;
  }
}
p {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: break-word;
  outline: none;
}

dl,
ul,
ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}
table {
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
table > tr {
  vertical-align: baseline;
}
.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  width: 0px;
}
.cl {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.mg-top20 {
  margin-top: 20px;
}
.mg-left10 {
  margin-left: 10px;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: #eef0f5;
}
.main-title {
  line-height: 58px;
  height: 58px;
  margin-left: 28px;

  img {
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin-left: 15px;
  }

  span:nth-of-type(1) {
    font-size: 14px;
    color: #9ea4b3;
  }
  span:nth-of-type(2) {
    font-size: 20px;
    color: #333333;
  }
}

.main-content {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 100%;
}

.error-msg-tip {
  color: #ff4c4c;
}

// 树形表格的icon样式
.expand_icon {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #6c7280;
  vertical-align: middle;
  margin-right: 5px;
}
.not_expand_icon {
  display: inline-block;
  border: 5px solid transparent;
  border-left-color: #6c7280;
  vertical-align: middle;
  margin-right: 5px;
}

// 重写tiny无数据时的样式

.modal-dialog ti-formfield#select-modal table.ti3-form {
  margin-bottom: 20px !important;
}
.modal-dialog ti-formfield#select-modal-java table.ti3-form {
  margin-bottom: 20px !important;
}

.project-table .ti3-table > table > tbody > tr.ti3-table-nodata > td {
  height: 100%;
  background: url(./assets/img/projects/nodata.png) 50% no-repeat;
  height: 481px;
  padding: 320px 0 0;
}

// 无数据位置
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr.ti3-table-nodata-simple
  > td.chen-nodata-td {
  position: absolute;
}

#detail-container,
.project-tabs ti-tabs .ti3-tab-content {
  border-top: none !important;
}

#detail-container .project-tabs ti-tabs .ti3-tabs + .ti3-tab-slider {
  border-bottom: none;
}

#detail-container ti-tabs li.ti3-tab-active ti-tab-header span:nth-of-type(1) {
  color: #7a9cfa;
  border-bottom: 1px solid #7a9cfa;
}
.ti3-table-container table tr {
  border-bottom: 0px solid #e2e2e2 !important;
}
#detail-container .ti3-tabs > li {
  margin-right: 0;
}
.project-tabs > ti-tabs > ul > li.ti3-tab-li {
  padding-right: 20px;
}

.project-tabs > ti-tabs > ul {
  padding-top: 10px;
  height: 48px;
  background: #eef0f5;
}

.project-tabs ti-tabs .ti3-tab-content {
  border-top: none !important;
}

.project-tabs ti-tabs .ti3-tabs + .ti3-tab-slider {
  border-bottom: none;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li ti-tab-header > span.tab-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  color: #282b33;
  font-size: 16px;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li ti-tab-header > span.tab-close {
  position: absolute;
  right: -20px;
  cursor: pointer;
}

.project-tabs ti-tabs li.ti3-tab-active {
  background: #fff;
  height: 48px;
}
.ti3-validate-icon {
  margin-right: 5px !important;
  vertical-align: bottom !important;
}
.ti3-unifyvalid-error-container {
  font-size: 12px !important;
}

.desc-content {
  font-size: 12px;
  color: #888888;
}

.mytip {
  position: absolute;
  top: 50px;
  text-align: center;
  z-index: 111;
}
.mytip {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 99999;
  display: flex;
  justify-content: center;
  #close {
    margin-top: 8px;
  }
}

.tip-content {
  display: inline-block;
  pointer-events: all;
  padding: 8px 16px;
  max-width: 20vw;
  text-align: center;
  width: 400px;
  background: #edfff9;
  border: 1px solid #61d274;
  border-radius: 2px;
  font-size: 12px;
  color: #222;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-content-warn {
  background: #fff3e8;
  border: 1px solid #ff9b00;
}

.tip-content-success {
  background: #edfff9;
  border: 1px solid #61d274;
}

.tip-content-error {
  background: #ffeeed;
  border: 1px solid #ed4b4b;
}

.tip-content-tip {
  background: #f0f6ff;
  border: 1px solid #0067ff;
}

.tip-close {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
  }
}

.tip-icon {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  margin-right: 8px;
  position: relative;
  top: -1px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ccc;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #6b708b;
}

#test tr:nth-child(even) {
  background: #e1e4e5;
}
#assembly tr:nth-child(even) {
  background: #e1e4e5;
}
#assembly tr.active {
  background: #ecec77;
}
#test tr.active {
  background: #ecec77;
}
.ti3-table-tree {
  display: inline-block;
  transition: 0.5 ease-in-out;
}
.ti3-table-tree.active {
  transform: rotate(90deg);
}
.ti3-table-tree img {
  width: 12px;
}
#assembly .level1 {
  padding-left: 20px;
}
.chen-nodata-td {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
:host ::ng-deep .ti3-modal-body {
  word-break: break-word;
}
:host ::ng-deep body .ti3-modal-header span {
  word-break: break-word;
}

.line {
  width: 150%;
  height: 2px;
  background: #ddd;
}
.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  color: #ddd;
  font-size: 0.8rem;
}
.table-y .title {
  flex: 1;
  display: flex;
  align-items: center;
}
.title-num {
  text-align: right;
}
.chart-tip {
}
// input 输入框 focus
input[type="text"][tiText]:not([disabled]):not([noborder])[tiText]:focus {
  border: 1px solid $themeColor !important;
}

input[type="password"][tiText]:not([disabled]):not([noborder])[tiText]:focus {
  border: 1px solid $themeColor !important;
}

[tiText].ti3-text-input-noborder {
  border: 0 !important;
}

// 滚动条颜色
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #eae9e9 !important;
}
// 按钮样式
.ti3-btn-default[disabled],
[tiButton][disabled] {
  color: $btnDisabledColor !important;
  border: 1px solid $btnDisabledBorder !important;
  background: $btnBgDisabled !important;
}

.ti3-btn-default:not([disabled]):hover,
[tiButton]:not([disabled]):hover {
  color: $btnMinorHoverColor;
  border-color: $btnMinorHoverBorder !important;
  background: $btnMinorDefaultBg !important;
}

.ti3-btn-default:not([disabled]):focus,
[tiButton]:not([disabled]):focus,
.ti3-btn-default:not([disabled]):active,
[tiButton]:not([disabled]):active {
  color: $btnMinorFocusColor;
  border-color: $btnMinorFocusBorder !important;
  background: $btnMinorDefaultBg !important;
}

.ti3-btn-primary,
.ti3-btn-danger {
  color: $btnDefaultColor !important;
  border: 1px solid $btnBgDefault !important;
  background: $btnBgDefault !important;
}
.ti3-btn-primary:not([disabled]):hover,
.ti3-btn-danger:not([disabled]):hover {
  color: $btnDefaultColor !important;
  background: $btnBgHover !important;
  border-color: $btnBgHover !important;
}
.ti3-btn-primary:not([disabled]):focus,
.ti3-btn-primary:not([disabled]):active,
.ti3-btn-danger:not([disabled]):focus,
.ti3-btn-danger:not([disabled]):active {
  color: $btnDefaultColor !important;
  background: $btnBgFocus !important;
  border-color: $btnBgFocus !important;
}
.ti3-btn-primary[disabled],
.ti3-btn-danger[disabled] {
  color: $btnDisabledColor !important;
  border: 1px solid $btnDisabledBorder !important;
  background: $btnBgDisabled !important;
}
// 按钮样式 end

// 表格样式修改
.ti3-table > .ti3-resize-wrapper > table > thead > tr > th,
.ti3-table > .ti3-table-container > table > thead > tr > th,
.ti3-table > .ti3-table-fixed-head > table > thead > tr > th,
.ti3-table > table > thead > tr > th {
  background-color: $tableBgColor !important;
}

.ti3-table > .ti3-table-container > table > thead > tr > th {
  border-bottom: 0px solid var(--ti-table-border-bottom-color) !important;
}

.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr.ti3-odd-tr:not(.ti3-selected-tr),
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr.ti3-odd-tr:not(.ti3-selected-tr),
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr.ti3-odd-tr:not(.ti3-selected-tr),
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table > table > tbody > tr.ti3-odd-tr:not(.ti3-selected-tr),
.ti3-table
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr) {
  background: white !important;
}

.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr.ti3-even-tr:not(.ti3-selected-tr),
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr.ti3-even-tr:not(.ti3-selected-tr),
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr.ti3-even-tr:not(.ti3-selected-tr),
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr),
.ti3-table > table > tbody > tr.ti3-even-tr:not(.ti3-selected-tr),
.ti3-table
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr) {
  background: white !important;
}
.ti3-table > .ti3-resize-wrapper > table,
.ti3-table > .ti3-table-container > table,
.ti3-table > .ti3-table-fixed-head > table,
.ti3-table > table {
  font-size: 12px !important;
}

// 偶数行
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr.ti3-even-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr.ti3-even-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr.ti3-even-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
.ti3-table > table > tbody > tr.ti3-even-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
  background: $tableTrHover !important;
}
// 奇数行
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr.ti3-odd-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr.ti3-odd-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > .ti3-table-container
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr.ti3-odd-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > .ti3-table-fixed-head
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
.ti3-table > table > tbody > tr.ti3-odd-tr:not(.ti3-selected-tr):hover,
.ti3-table
  > table
  > tbody
  > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
  background: $tableTrHover !important;
}

body
  input[type="checkbox"][tiCheckbox]:not([disabled]):checked
  + .ti3-checkbox
  .ti3-checkbox-skin,
input[type="checkbox"][tiCheckbox]:not([disabled]):checked
  + .ti3-checkbox
  .ti3-checkbox-skin:focus {
  border-color: $themeColor !important;
  background-color: $themeColor !important;
  color: #fff;
}

.ti3-modal-footer {
  background: #fff !important;
  padding: 32px 20px !important;
  border-top: none !important;
}
.ti3-msg-icon {
  font-size: 24px !important;
}
.ti3-modal-body:after {
  height: 0 !important;
}
.ti3-msg-content-wrapper {
  line-height: 24px !important;
}
body [tiText] {
  height: 28px !important;
}
.ti3-form .ti3-form-label {
  line-height: 28px !important;
  min-width: 94px !important;
  padding: 0 16px 0 0 !important;
}
.ti3-btn,
[tiButton] {
  height: 28px !important;
  line-height: 26px !important;
  min-width: 88px !important;
  font-size: 12px !important;
  text-align: center !important;
}
.ti3-border-inline {
  display: none !important;
}

.ti3-select-dominator-container {
  height: 28px !important;
  line-height: 28px !important;
}
.ti3-select-small .ti3-select-dominator-container .ti3-select-dominator-text {
  width: 58px !important;
}
[tiText][disabled]:disabled {
  color: #cccccc !important;
  border: 1px solid #cccccc !important;
  background: #f5f5f5 !important;
}

//边框变蓝紫色
.ti3-dropdown-container-border {
  border: 1px solid #0067ff !important;
}

// 修改分页样式
.ti3-page-container {
  .ti3-select-small .ti3-select-dominator-container {
    height: 24px !important;
    line-height: 24px !important;
  }
  .ti3-select-dominator-text,
  .ti3-pag-total-items,
  .ti3-pag-prev,
  .ti3-pag-page.active,
  .ti3-pag-prev.disabled,
  .ti3-pag-next,
  .ti3-pag-page {
    font-size: 12px !important;
  }
  .ti3-dropdown-option-hover,
  .ti3-pag-page.active {
    color: #fff !important;
    background-color: #0067ff !important;
  }
}

// 分页中的小下拉样式
ti-list{
  font-size: 12px;
  padding: 0 !important;
  .ti3-drop-list-ul{
    .ti3-dropdown-option{
      cursor: pointer;
      height: 24px;
      line-height: 24px;
      padding: 0;
    }
    .ti3-dropdown-option-hover {
      background-color: #f5f9ff;
      color: #616161;
    }
    .ti3-dropdown-option-selected{
      background-color: #2072ea;
      color: #ffffff;
    }
  }
}

ti-searchbox.ti3-searchbox-container:not([disabled])[tiFocused],
ti-searchbox.ti3-searchbox-container:not([disabled]):hover {
  border-color: $themeColor !important;
}

[tiText].ti3-text-input-show-icon {
  background-repeat: no-repeat !important;
  background-size: 16px !important;
}

// tiny关闭按钮样式
.ti3-close {
  position: absolute;
  top: 15px;
  right: 23px;
  z-index: 2000;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--ti-modal-close-icon-color);
  cursor: pointer;
  font: normal normal normal var(--ti-common-font-size-base) /
    var(--ti-modal-header-height) tiFont;
  font-size: 14px;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti3-close:hover {
  color: var(--ti-modal-close-icon-color-hover);
}

// 干掉IE额外的大眼睛
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}

// 文本按钮
.textBtn {
  cursor: pointer;
  color: #0067ff;

  &:hover {
    color: #267dff;
  }

  &.active {
    color: #0057d9;
  }

  &.disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

// 弹窗样式整体修改
.ti3-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  > .ti3-modal-dialog {
    margin: 0;
  }

  .custemModal {
    width: auto !important;
    margin: 0;

    > .ti3-modal-content {
      width: 700px;
      max-height: 600px;
      overflow: hidden;

      > .ti3-icon-close {
        top: 15px;
      }

      > .ti3-modal-header {
        font-size: 20px !important;
        line-height: 30px;
        border-bottom: 1px dashed #e1e6ee;
        box-sizing: border-box;
        margin: 18px 32px 0;
        padding: 0 0 18px;
        color: #222;
      }

      > .ti3-modal-body {
        overflow-y: auto;
        max-height: 50vh;
        margin: 0;
        padding: 24px 32px 0 32px;
        box-sizing: border-box;
      }
    }

    &.autoWidth {
      > .ti3-modal-content {
        width: 700px;
        max-height: 600px;
      }
    }
  }
}

table {
  border-spacing: 0;
}

ti-pagination.ti3-page-container {
  .ti3-pag-prev:not(.disabled):active,
  .ti3-pag-next:not(.disabled):active {
    color: $themeColor !important;
  }
  .ti3-pag-goto {
    width: 87px;
    position: relative;
    box-sizing: border-box;
    margin-left: 8px;

    .ti3-pag-goto-input {
      width: 44px;
      border: 1px solid #979797 !important;
      height: 24px !important;
      text-align: center;
      line-height: 22px;
      border-radius: 2px;
    }
    .ti3-pag-goto-text{
      width: 44px;
      position: absolute;
      top: 0;
      left: 43px;
      font-size: 12px;
      text-align: center;
      line-height: 22px !important;
      margin: 0 !important;
      border: 1px solid #979797;
      border-left: 0;
      border-radius: 2px;
      box-sizing: border-box;
    }
    .ti3-pag-goto-icon-container{
      width: 44px !important;
      margin: 0 !important;
      position: absolute;
      top: 0;
      left: 43px;
      opacity: 0;
    }
  }
}

.ti3-pag-goto-icon {
  border-left: 6px solid #3399ff !important;
}
::ng-deep
  .ti3-page-container
  .ti3-select-small
  .ti3-select-dominator-container {
  height: 24px !important;
  line-height: 24px !important;
}
