.formContent {
  font-size: 14px;
}

:host ::ng-deep #missStatisticsBox {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title_bar{
    flex: 0 0 auto;
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    > ti-formfield {
      background: #f5f9ff;
      flex-grow: 1;
      padding: 0 10px;
  
      .ti3-form .ti3-text-form {
        .ti3-text-form-label, .ti3-text-form-content {
          line-height: 32px;
        }
      }
    }
  
    .right_switch{
      flex: 0 0 auto;
      display:flex;
      margin-left: 6px;

      app-icon-react {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  }
  
  app-miss-timing, app-sub-module-function {
    flex-grow: 1;
    overflow: hidden;
  }
}

:host ::ng-deep .missStatisticsTabs {
  .ti3-tab-content{
    padding-top: 10px !important;
  }
  .ti3-tab-slider{
    margin-left: 0px !important;
    padding-top: 0;
  }
  margin-top: 15px !important;

  .ti3-table {
    margin-top: 10px;
  }
}