<!-- Miss事件统计界面 -->
<div id="missStatisticsBox">
  <div class="title_bar">
    <!-- 描述信息表单 -->
    <ti-formfield type="text" colsNumber="5" [colsGap]="['60px']">
      <ti-item
        *ngFor="let formItem of missEventDes | keyvalue: trackByFn"
        [label]="formItem.value.label"
        [show]="formItem.value.show"
      >
        <span class="formContent">{{ formItem.value.value  | thousandSeparator}}</span>
      </ti-item>
    </ti-formfield>

    <div class="right_switch">
      <app-icon-react name="chartView" *ngIf="currentView !== 'timeSequence'" (click)="tabChang('timeSequence')" [tiTip]="i18n.ddr.timeSequence"></app-icon-react>
      <app-icon-react name="chartViewSelected" *ngIf="currentView === 'timeSequence'" (click)="tabChang('timeSequence')" [tiTip]="i18n.ddr.timeSequence"></app-icon-react>
      <app-icon-react name="tableView" *ngIf="currentView !== 'details'" (click)="tabChang('details')" [tiTip]="i18n.ddr.details"></app-icon-react>
      <app-icon-react name="tableViewSelected" *ngIf="currentView === 'details'" (click)="tabChang('details')" [tiTip]="i18n.ddr.details"></app-icon-react>
    </div>
  </div>

  <!-- 折线图 -->
  <app-miss-timing
    [hidden]="currentView !== 'timeSequence'"
    [chartData]="chartData"
    (obtainType)="obtainType($event)"
    [taskid]="taskid"
    [nodeid]="nodeid"
    [dataType]="dataType"
    [typeDetail]="typeDetail"
    [typeName]="typeName"
    [show]="show"
    [appLoading]="obtainingTimeSequenceData"
  ></app-miss-timing>

  <!-- 详细视图 -->
  <app-sub-module-function
    #subModuleFunction
    [hidden]="currentView !== 'details'"
    [appLoading]="obtainingTableData"
    [isLoading]="obtainingTableData"
    [taskid]="taskid"
    [nodeid]="nodeid"
    [optionList]="optionList"
    [theads]="theads"
    [columns]="columns"
    [srcData]="srcData"
    [sortList]="srcData.sort.list"
    [currentPage]="currentPage"
    [totalNumber]="totalNumber"
    [pageSize]="pageSize"
    [analysisType]="analysisType"
    (selectChange)="selectChange($event)"
    (getChildren)="getChildren($event)"
    (getTableData)="getTableData($event)"
    (sortTableData)="sortTableData($event)"
    (addFunctionTab)="addFunctionTab($event)"
  ></app-sub-module-function>
</div>
