<div id="detail-container" class="custemDetailContainer tuning-helper-info-log-container" [appLoading]="initializing">
    <ti-tabs class="custemTabs tabsWithSplitLine tabsWithUnderline">
      <ti-tab [(active)]="item.active" *ngFor="let item of navTabList" [disabled]="item.disable">
        <ti-tab-header>
          <span>{{item.title}}</span>
        </ti-tab-header>
  
        <ng-template #tiTabContent>
          <div class="content-container"
            *ngIf="item.title == i18n.common_term_task_tab_congration && item.disable==false">
            <app-mission-configuration *ngIf="configurationInfo" [data]="configurationInfo"></app-mission-configuration>
          </div>
          <div class="content-container"
            *ngIf="item.title == i18n.common_term_task_tab_log && item.disable==false">
            <app-mission-log [status]="status" [nodeid]="nodeId" [projectName]="projectName" [taskName]="taskName"
              [analysisType]="analysisType" [taskid]="taskId"></app-mission-log>
          </div>
        </ng-template>
      </ti-tab>
    </ti-tabs>
  </div>
  