.btn-header {
    display: flex;
    margin: 20px 0 20px 0;
    align-items: center;
    flex-wrap: wrap;

    .pro-title {
        font-size: 16px;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;

        .pro_text {
            height: 16px;
            display: flex;
            line-height: 16px;
            justify-content: center;

            .pro_text_img {
                display: flex;
                margin-left: 5px;
                height: 16px;
                width: 16px;
            }
        }

        .toggleSnapshot {
            margin: 0 5px;
            height: 16px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .formula_text {
        margin-left: 16px;
        height: 16px;
        display: flex;
        line-height: 16px;
        justify-content: center;
        font-size: 14px;

        .formula_text_img {
            display: flex;
            margin-left: 5px;
            height: 16px;
            width: 16px;
        }
    }
}

.file-io-compare {
    display: flex;
    flex-direction: column;

    .count-fill-red {
        color: #e85d54;
    }

    .count-fill-greed {
        color: #45cc90;
    }

    .count-fill {
        display: inline-block;
        background: var(--table-count-bg-color);
        width: 16.6667%;
        height: var(--ti-common-space-20);
        position: absolute;
        top: calc(50% - var(--ti-common-space-20) / 2);
        left: -10px;
    }

    .threshold {
        height: 24px;
        line-height: 24px;
        background: var(--snapshot-compare-threshold-background-color);
        margin-bottom: 20px;
        color: var(--ti-table-td-text-color);

        .thresholdBlock {
            margin-left: 26px;

            .thresholdText {
                margin-right: 10px;
            }
        }
    }

    .table {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;
        height: 100%;
        position: relative;

        .row-select-bg {
            background-color: var(--table-select-background-color) !important;
        }

        .row-left {
            border-right: 2px solid#0067ff;
            border-bottom: hidden !important;
            background: var(--table-td-left-color);
        }

        .table-content {
            margin-right: 20px;
            padding-left: 2px;
            width: 60%;
            overflow-x: auto;

        }

        .table-time {
            width: 40%;
            overflow-x: auto;
            padding-left: 2px;
        }

        .tr-hover {
            background-color: #fff;
        }

        .tr-hover:hover {
            background-color: #f7faff;
        }
    }

    .table-expand {
        width: 100%;
        height: 12px;
        position: absolute;
        left: 0;
        bottom: -12px;
        border-top: 1px solid var(--ti-table-border-bottom-color);
        text-align: center;
        cursor: pointer;

        hy-theme-content {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            line-height: 12px;
        }
    }

    .ti3-table>.ti3-table-fixed-head+.ti3-table-container {
        border-bottom: 0px !important;
    }

    .echarts {
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 24px;

        .echarts-title {
            font-size: 20px;
            position: absolute;
            z-index: 1;
        }

        .timeLine {
            width: 100%;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 40px;
        }

        .echarts-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            position: relative;

            .echarts-label {
                height: 195px;
                left: 0;
                bottom: 24px;
                position: absolute;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: right;
                color: grey;
                box-sizing: border-box;

                .echarts-label-top,
                .echarts-label-bottom {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .echarts-line {
                        width: 125px;
                        border: solid 1px lightgrey;
                    }
                }
            }

            .echarts-label-last {
                width: 4%;
                height: 192px;
                right: 0;
                bottom: 29px;
                position: absolute;
                border-top: solid 2px lightgrey;
                border-bottom: solid 2px lightgrey;
            }

            .myecharts {
                flex: 1;
            }
        }
    }

    .stack {
        padding: 20px 0;
        height: auto;
        margin-bottom: 24px;

        .config-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .config-border {
            height: 1px;
            width: 100%;
        }

        .config-tree {
            min-width: 300px;
            min-height: 250px;
            background: var(--d-161616-l-ffffff);
        }
    }

    .count-right {
        position: absolute;
        left: 0;
        top: -10px;
    }

    .stack-tip {
        position: relative;
        top: 2px;
        width: 11px;
        height: 11px;
        margin: 0 24px 0 10px;
    }
}

:host ::ng-deep .ti3-toggle-details .ti3-icon-angle-right:before {
    content: "\e919" !important;
}

:host ::ng-deep .ti3-icon-angle-transform-up-thin {
    display: inline-block;
    transform: rotate(270deg) !important;
}

:host ::ng-deep .ti3-icon-angle-transform-down-thin {
    display: inline-block;
    transform: rotate(180deg) !important;
}

:host ::ng-deep .ti3-table-column-fixed-left.ti3-table-floating-fixed-column {
    box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .ti3-table-column-fixed-right.ti3-table-floating-fixed-column {
    box-shadow: inherit;
}

.config_title {
    font-size: 14px;
    color: #282b33;
    padding-bottom: 8px;
    border-bottom: solid 1px #e6ebf5;
}

.spinner_content {
    display: flex;
    align-items: center;
    margin-top: 16px;
}


:host ::ng-deep .space_th {
    width: 32px !important;
}

.pagination-bottom {
    white-space: nowrap;
    overflow-y: hidden;
    margin-bottom: 16px;
    display: flex !important;
    position: absolute;
}

@media screen and(max-width:1080px) {
    .pagination-bottom {
        width: 300px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1190px) {
    .pagination-bottom {
        width: 330px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1330px) {
    .pagination-bottom {
        width: 360px;
    }
}

@media screen and (max-width: 1229px) {
    .pagination-bottom-right {
        width: 240px;
    }
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .pagination-bottom-right {
        width: 95%;
    }

    :host ::ng-deep .table-time {
        .table-search-box {
            width: 95% !important;
        }
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .pagination-bottom-right {
        width: 325px;
    }
}

@media screen and (min-width: 1540px) and (max-width: 1640px) {
    .pagination-bottom-right {
        width: 400px;
    }
}

:host ::ng-deep .ti3-select-small .ti3-select-dominator-container {
    display: flex !important;
    flex: none !important;
    width: 60px !important;
}

:host ::ng-deep .ti3-cols-toggle-container .ti3-cols-toggle-menu-container {
    height: 32px !important;
    background: transparent !important;
    border: snow !important;
    margin-top: -12px;
    ;
}

:host ::ng-deep .ti3-icon-config:before {
    color: transparent;
}
.expandAll {
    img {
        vertical-align: middle;
        margin-right: 4px;
    }
}