.env-main {
    padding: 20px 0;
    position: relative;
}

.cpu-box {
    width: 100%;
    border-radius: 1px;
    min-height: 25vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cpu-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #222222;
}

.table-container {
    display: flex;
    margin-top: 40px;
}

.left-box {
    flex: 1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    .tiTableDmo{
      margin-top: 20px;
    }
}

.right-box {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    .tiTableDmo{
      margin-top: 20px;
    }
}

.right-box > div {
    display: flex;
    flex-direction: column;
    border-radius: 1px;
}

.right-box > div:nth-child(2) {
    margin-top: 16px;
    flex: 1;
}

.search-box {
    background-color: var(--ti-table-th-bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d9e6;
    padding-left: 12px;
}

.box-title {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #282b33;
    margin-bottom: 15px;
    display: inline-block;
}

.info-box {
    display: flex;
}

.info-box-right {
    flex: 1;
    line-height: 32px;
}

.info-label {
    line-height: 32px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #616161;
}

.info-label.value {
    color: #222222;
    margin-left: 25px;
}

:host ::ng-deep .ti3-searchbox-container .ti3-searchbox-input {
    margin-top: 1px !important;
    height: calc(100% - 2px) !important;
}

.loadData {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

::ng-deep .vscode-dark {
    #Thor-Container .ti3-table > .ti3-table-container > table > tbody > .ti3-details-tr > td{
        padding-left: 36px!important;
    }
    .borderLeft{
        border-left: 32px solid #252525!important;
    }
    .ti3-table-nest>.ti3-resize-wrapper>table>tbody>tr, 
    .ti3-table-nest>.ti3-table-container>table>tbody>tr,
    .ti3-table-nest>.ti3-table-fixed-head>table>tbody>tr,
    .ti3-table-nest>table>tbody>tr{
        >td:first-child{
            >ti-details-icon{
                position: relative;
                left: -10px;
            }
        }
        >td:nth-child(2){
            padding-left: 6px!important;
        }
    }
    .env-main {
        padding: 0;

        .info-box {
            display: flex;
            flex-flow: wrap;
            background-color: #12223b;
            padding: 0 16px;
            margin: 20px 0;

            & > div {
                float: left;
                font-size: 14px;
                line-height: 32px;
                color: #e8e8e8;
                white-space: nowrap;

                .name {
                    margin-right: 10px;
                    white-space: nowrap;
                }

                .value {
                    margin-right: 48px;
                    white-space: nowrap;
                }

                &:last-of-type {
                    white-space: nowrap;

                    .value {
                        margin-right: 0;
                        word-break: normal;
                        display: block;
                        white-space: pre-wrap;
                        overflow: hidden;
                    }

                    .name {
                        white-space: nowrap;
                    }
                }
            }
        }

        .cpu-box {
            .cpu-title {
                color: #fff;
            }
        }

        .table-container {
            .box-title {
                color: #e8e8e8;
            }
        }

        .search-box {
            background-color: transparent;
            padding-left: 0;
            padding-bottom: 20px;
            border-color: #545454;
        }
    }

    .ti3-table > table > thead > tr > th,
    .ti3-table > .ti3-resize-wrapper > table > thead > tr > th,
    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th,
    .ti3-table > .ti3-table-container > table > thead > tr > th {
        border-color: #545454;
        background-color: #2a2a2a;
        font-size: 14px;
    }

    .ti3-table > table > tbody > tr > td,
    .ti3-table > .ti3-resize-wrapper > table > tbody > tr > td,
    .ti3-table > .ti3-table-fixed-head > table > tbody > tr > td,
    .ti3-table > .ti3-table-container > table > tbody > tr > td {
        border-color: #545454;
        color: #aaa;
        font-size: 14px;
    }

    .left-box,
    .right-box {
        box-shadow: none;
    }
}

::ng-deep .vscode-light {
    .env-main {
        padding: 0;

        .info-box {
            overflow: hidden;
            background-color: #f7faff;
            padding: 0 16px;
            margin: 20px 0;

            & > div {
                float: left;
                font-size: 14px;
                line-height: 32px;
                white-space: nowrap;

                .name {
                    margin-right: 10px;
                    white-space: nowrap;
                }

                .value {
                    margin-right: 65px;
                    white-space: nowrap;
                }

                &:last-of-type {
                    white-space: pre-wrap;

                    .value {
                        margin-right: 0;
                        white-space: pre-wrap;
                    }

                    .name {
                        white-space: pre-wrap;
                    }
                }
            }
        }

        .search-box {
            background-color: transparent;
            padding-left: 0;
            padding-bottom: 20px;
            border-color: #f7faff;
        }

        .cpu-box {
            box-shadow: none;
        }
    }

    .ti3-table > table > thead > tr > th,
    .ti3-table > .ti3-resize-wrapper > table > thead > tr > th,
    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th,
    .ti3-table > .ti3-table-container > table > thead > tr > th {
        border-color: #e1e6ee;
        background-color: #f7faff;
        font-size: 14px;
    }

    .ti3-table > table > tbody > tr > td,
    .ti3-table > .ti3-resize-wrapper > table > tbody > tr > td,
    .ti3-table > .ti3-table-fixed-head > table > tbody > tr > td,
    .ti3-table > .ti3-table-container > table > tbody > tr > td {
        border-color: #e1e6ee;
        font-size: 14px;
    }

    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th {
        background-color: #f7faff !important;
    }

    .ti3-table > .ti3-table-fixed-head > .ti3-table-fixed-head-filler {
        background-color: #f7faff !important;
    }

    #Thor-Container
        .ti3-table
        > .ti3-table-container
        > table
        > tbody
        > tr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
    #Thor-Container
        .ti3-table
        > .ti3-table-container
        > table
        > tbody
        > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
        background-color: #f7faff !important;
    }

    .left-box,
    .right-box {
        box-shadow: none;
    }

    .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
        border: none;
    }
}

::ng-deep .ti3-table > table > tbody > tr.ti3-table-nodata > td,
.ti3-table > .ti3-resize-wrapper > table > tbody > tr.ti3-table-nodata > td,
.ti3-table > .ti3-table-fixed-head > table > tbody > tr.ti3-table-nodata > td,
.ti3-table > .ti3-table-container > table > tbody > tr.ti3-table-nodata > td {
    background: none;
    padding: 0;

    img {
        width: 90px;
        display: block;
        margin: 0 auto;
        padding: 20px 0;
    }
}

.table-container {
    margin-bottom: 50px;
    overflow-x: auto;
}
