<div class="table-multiple-box">
    <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" tiColsResizable>
        <div class="ti3-table-fixed-head">
            <table>
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of columns; let index = index">
                            <th *ngIf="index === 0" tiColumnFixed='left' width='200px'>
                                <ti-cell-text>{{column.title}}</ti-cell-text>
                                <span class="ti3-searchbox-search ti3-icon ti3-icon-search" [ngClass]="{isIE: isIE, active: value !== ''}"
                                    *ngIf='originData.length > 0' (click)="isSearch = !isSearch">
                                </span>
                                <ti-head-filter [options]="column.options" [(ngModel)]="column.selected"
                                    (select)="onSelect($event)" class="first-th"
                                    [ngClass]="{'ti3-head-filtered': column.selected && column.selected.prop !== i18n.linkage.allParams}">
                                </ti-head-filter>
                                <ti-head-sort [sortKey]="column.sortKey" *ngIf="column.sortkey"></ti-head-sort>
                            </th>
                            <th *ngIf="index !== 0" width='200px'>
                                <ti-cell-text>{{column.title}}</ti-cell-text>
                                <ti-head-sort [sortKey]="column.sortKey" *ngIf="column.sortkey"></ti-head-sort>
                            </th>
                        </ng-container>
                    </tr>
                </thead>
            </table>
        </div>
        <!--在使用表格的列固定功能时一定要给table元素添加带有 ti3-table-container 这个样式类的父容器，并保证这个容器的父元素是ti-table。滚动条是出在这个容器上的-->
        <!--在使用表格的列拖动时要有 ti3-resize-wrapper 这个样式类的父容器-->
        <div class="ti3-table-container ti3-resize-wrapper">
            <table *ngIf="displayed.length > 0; else tlbNoData">
                <thead>
                    <tr>
                        <th *ngFor="let column of columns" width='200px'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of displayed; index as i; trackBy: trackByFn ">
                        <ng-container *ngFor="let row of columns; index as i">
                            <td tiOverflow tiColumnFixed='left' *ngIf="i === 0">
                                <span *ngIf="i === 0" class="img-span">
                                    <img src="./assets/img/linkage/abnormal.svg" class="ti-icon-red"
                                        *ngIf="item.different">
                                </span>
                                <span *ngIf="item[row.key] !== 0">{{item[row.key] || '--'}}</span>
                                <span *ngIf="item[row.key] === 0">{{item[row.key]}}</span>
                            </td>
                            <td tiOverflow *ngIf="i !== 0">
                                <span *ngIf="i === 0" class="img-span">
                                    <img src="./assets/img/linkage/abnormal.svg" class="ti-icon-red"
                                        *ngIf="item.different">
                                </span>
                                <span *ngIf="item[row.key] !== 0">{{item[row.key] || '--'}}</span>
                                <span *ngIf="item[row.key] === 0">{{item[row.key]}}</span>
                            </td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>
        <ti-pagination *ngIf="srcData.data.length > 10" [(currentPage)]="currentPage" [pageSize]="pageSize"
            [(totalNumber)]="srcData.data.length">
        </ti-pagination>
    </ti-table>
    <!-- 无数据 -->
    <ng-template #tlbNoData>
        <div class="nodata">
            <img src='./assets/img/projects/nodata.png' />
            <div>{{i18n.common_term_task_nodata2}}</div>
        </div>
    </ng-template>

    <ti-searchbox class="search-box" (search)="comSearch($event)" [(ngModel)]="value" (clear)="onClear()"
        [placeholder]="i18n.common_term_operate_search" *ngIf="isSearch && originData.length > 0" (mouseleave)="isSearch = false">
    </ti-searchbox>
</div>