::ng-deep .vscode-dark {
    --section-active-bg:#2a2a2a;
    --section-bg:#1e1e1e;
    --check-span-color:#e8e8e8;
    --tab-right-bar-bg:#353535;
    --chart-border-bottom: #484a4e;
}

::ng-deep .vscode-light {
    --section-bg:#f1f7ff;
    --section-active-bg:#ffffff;
    --check-span-color:#0067ff;
    --tab-right-bar-bg:#ffffff;
    --chart-border-bottom: #e1e6ee;
}
.main_content {
    display: flex;
    width: 100%;
}
.section_left {
    width: 9.5%;

    .arrow-up {
        height: 18px;
        width: 20px;
        margin-left: 10px;
        vertical-align: text-top;
        display: inline-block;
        cursor: pointer;
        margin-top: -5px;
        img {
            transition: all 100ms linear;
            &.active {
                transform: rotate(180deg);
            }
        }
    }

    .type_title {
        line-height: 35px;
        height: 36px;
        display: flex;
        align-items: center;
    }

    .read_title {
        height: 50px;
    }
    .read_title_inner {
        max-width: 105px;
        margin-top: 30px;
        box-sizing: content-box;
    }

    .border_bottom {
        margin-top: 0px;
        border-bottom: 1px var(--chart-border-bottom) solid;
    }
}

.section_right{
    width: 87.3%;

    .select_box{
        display: flex;
        line-height: 35px;
        height: 36px;
        align-items: flex-end;
        background: var(--section-bg);
    }

    .select_title{
        font-size: 14px;
        color: #616161;
        cursor: pointer;
        padding: 0 40px;
        height: 32px;
        line-height: 32px;
        &.active{
            color: var(--check-span-color);
            background-color: var(--section-active-bg);

        }
    
    }

    .chartBox{
        height:0px;
        border-bottom: 0px var(--chart-border-bottom) solid;

        &.active{
            height:80px;
        }
    }

    .border_bottom{
        margin-top: 0px;
        border-bottom: 1px var(--chart-border-bottom) solid;
    }
    .rightLittleBar{
        width: 2px;
        height: 20px; 
        background-color: var(--tab-right-bar-bg);
    }
}