<div class="cpu-load">
  <div class="cpu-header">
    <p class="title">{{ 'net_io.cpu_load' | i18n }}</p>
  </div>

  <div class="cpu-table">
    <ti-table 
      [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns"
      tiColsResizable
    >
      <div class="ti3-table-fixed-head">
        <table>
          <thead>
            <tr>
              <th tiOverflow *ngFor="let column of columns;index as index" width="{{column.width}}">
                <ti-cell-text>{{column.title}}</ti-cell-text>
                <ti-cell-icons class="cell-icon">
                  <hy-theme-content>
                    <img src="./assets/img/summary/tooltip_dark.svg" [tiTip]='column.tip' dark />
                    <img src="./assets/img/summary/tooltip.png" [tiTip]='column.tip' light />
                  </hy-theme-content>
                </ti-cell-icons>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="ti3-table-container ti3-resize-wrapper">
        <table>
          <thead>
            <tr>
              <th *ngFor="let column of columns" width="{{column.width}}"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of displayed;index as i">
              <td tiOverflow>{{ row.runqSz }}</td>
              <td tiOverflow>{{ row.plistSz }}</td>
              <td tiOverflow>{{ row.ldavg1 }}</td>
              <td tiOverflow>{{ row.ldavg5 }}</td>
              <td tiOverflow>{{ row.ldavg15 }}</td>
              <td tiOverflow>{{ row.blocked }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ti-table>
  </div>
</div>
