::ng-deep .light {
  --tab-list-tabDetail-background:#F5F9FF;
  --tab-list-tabBody-background:#FFFFFF;
  --tab-list-tabDetail-color: #222222;
  --tab-list-tabBody-borColor:#d7dbe7;
  --tab-list-tabDetail-borColor:#FFFFFF;
}
::ng-deep .dark {
  --tab-list-tabDetail-background:#252526;
  --tab-list-tabBody-background:#252526;
  --tab-list-tabDetail-color: #e8e8e8;
  --tab-list-tabBody-borColor:#252526;
  --tab-list-tabDetail-borColor:#6e6e6e;
}

.expectionTab {
  font-size: 14px;
  width: 100%;
  margin-top: 58px;
  position: relative;
  .header-left{
    position: absolute;
    top: -51px;
    font-size: 20px;
    left: 10px;
    span{
        margin-right: 10px;
    }
  }
  .tabDetail {
      margin-bottom: 10px;
      color: var(--tab-list-tabDetail-color);
    .detail-title {
      padding: 0 24px;
      display: flex;
      justify-content: space-between;
      height: 44px;
      align-items: center;
      background: var(--tab-list-tabDetail-background);
      border-bottom: 1px solid var(--tab-list-tabDetail-borColor);

      .toggleImg {
        transition: 0.5s linear;
      }
      .toggleImg.active {
        transform: rotate(180deg);
      }
    }
    .detail-body {
      background: var(--tab-list-tabBody-background);
      padding: 0 24px;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
      overflow: hidden;
      color: var(--tab-list-tabDetail-color);
      border: 1px solid var(--tab-list-tabBody-borColor);
      border-top: 0px solid var(--tab-list-tabBody-borColor);
      .accessType,
      .exceptionPoint,
      .Information {
        font-size: 14px;
        min-height: 21px;
        line-height: 21px;
        margin-bottom: 16px;
        margin-top: 16px;
        display: flex;
        .label {
          min-width: 100px;
        }
        .txtColor{
          color: var(--tab-list-tabDetail-color);
        }
        .titleTxtColor{
          color: #853aa5;
        }
      }
      .more-detail{
          display: block;
          margin-bottom: 16px;
      }
    }
    .detail-body.active {
      max-height: 5000px;
      overflow: auto;
      transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    }
  }
}
