<div #container class="pro-main-container">
  <div style="position: relative;">
    <div class="pro-main-title">
      <div class="pro-mian-title-left">
        <img class="pro-img" (mouseenter)="onHoverList('hover')" (mouseleave)="onHoverList()"
          [src]="currentHover==='hover' ? './assets/img/newSvg/back_hover.svg': './assets/img/projects/back.svg'"
          (click)="goHome()" [tiTip]="i18n.common_term_back" />
        <span class="pro-title" tiOverflow>{{ profileName }}</span><span class="langtip">{{langTip}}</span>
        <button type="button" id="myButton" class="stop-btn" (click)="stopAnalysis()" *ngIf="showStopBtn">
          <img class="imgNoActive" src="./assets/img/home/stop_analysis.svg" />
          <img class="imgActive" src="./assets/img/home/stop_analysisActive.svg" />
          <span>{{ i18n.protalserver_profiling_stop_analysis }}</span>
        </button>
        <button type="button" id="myButton" class="stop-btn" (mouseenter)="onHoverList('restartHover', 1)"
          (mouseleave)="onHoverList()" (click)="re_Profiling()" *ngIf="!showStopBtn && !isDownload"
          [tiTip]='restartTip'>
          <img class="restartImg"
            [src]="currentHover==='restartHover'?'./assets/img/newSvg/restart_modify.svg':'./assets/img/newSvg/restart_default1.svg'">
          <span>{{ i18n.protalserver_profiling_re_analysis }}</span>
        </button>
      </div>
      <div class="rightMenu">
        <div class="clearMenu" *ngIf="!isDownload">
          <button type="button" class="tiBtn">{{i18n.common_term_clear}}
            <span class="icon"></span>
          </button>
          <div class="menuList">
            <ul class="listUl">
              <li class="listItem" *ngFor="let item of typeOptions" (click)="typeChange(item)">{{item.label}}</li>
            </ul>
          </div>
        </div>
        <div class="exportBg" *ngIf="!isDownload" (click)="showReportView()" [tiTip]="i18n.common_term_export_report"
          tiTipPosition="top">
        </div>
        <div class="operate">
          <span *ngIf="showStopBtn" (click)="updateDataLimit()" [tiTip]="i18n.common_term_dataLimit" tiTipPosition="top"
            class="datalimitBg">
          </span>
        </div>
        <div class="operate sug-opetate">
          <img
            [src]="hoverSuggest==='suggest'?'./assets/img/newSvg/hover_suggests.svg':'./assets/img/newSvg/all_suggests.svg'"
            (mouseenter)="onHoverSuggest('suggest')" (mouseleave)="onHoverSuggest('')" class="operate-img"
            [tiTip]="i18n.protalserver_sampling_tab.suggestions" tiTipPosition='top' (click)="openModal()" />
          <span *ngIf="suggestNum>0">
            <span [ngClass]="suggestNum>9? 'allNums' :'allNum'">{{suggestNum}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="pro-main-content scroll-style">
    <!-- user-guide -->
    <div class="profile-tabs" *ngIf="innerDataTabs.length > 0">
      <ng-container *ngFor="let tab of innerDataTabs[0].children; let idx = index">
        <span class="item-tab" [ngClass]="{ 'tab-active': tab.active }" id="{{tab.styleId}}" *ngIf="tab.checked"
          (click)="tabsToggle(idx)">
          <span *ngIf="tab.tabName===i18n.protalserver_profiling_tab.snapshot && !tab.active"
            style="vertical-align: middle;margin-right: 2px;"><img src="./assets/img/profiling/photoSnap.svg"></span>
          <span *ngIf="tab.tabName===i18n.protalserver_profiling_tab.snapshot && tab.active"
            style="vertical-align: middle;margin-right: 2px;"><img
              src="./assets/img/profiling/photoSnap_click.svg"></span>
          {{tab.tabName }}
        </span>
      </ng-container>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-alert-message #stopAnalysisIns (confirmHandle)="confirmHandle_stop($event)"></app-alert-message>
<app-alert-message #restartAnalysis (confirmHandle)="confirmHandle_restart($event)"></app-alert-message>
<app-alert-message #deleteAll (confirmHandle)="confirmHandle_delAll($event)"></app-alert-message>
<app-alert-message #deleteOne (confirmHandle)="confirmHandle_delOne($event)"></app-alert-message>
<app-alert-modal #deleteSnapshot>
  <div class="content progress-modal">
    <div class="modal-header">
      <p tiOverflow> {{ i18n.protalserver_profiling_delSnapshot}}</p>
      <span class="close-icon">
        <img style="cursor: pointer; float: right;" (click)="closeDelmodal()" (mouseenter)="onHoverList('closer')"
          (mouseleave)="onHoverList('')"
          [src]="currentHover === 'closer'?'./assets/img/newSvg/close_hover.svg':' ./assets/img/header/close_icon.svg'">
      </span>
    </div>
    <div class="title1">
      <img src="./assets/img/newSvg/tip.svg" class="icon" />
      <span class="text">{{ i18n.protalserver_profiling_delSnapshotTip }} </span>
    </div>
    <div style="margin-top:32px">
      <button type="button" tiButton (click)="closeDelmodal()"> {{i18n.common_term_operate_close}} </button>
    </div>
  </div>
</app-alert-modal>
<app-mask #dataLimit>
  <div class="content modal-container" *ngIf="innerDataTabs.length > 0">
    <div class="data-title">{{ i18n.common_term_dataLimit }}</div>
    <div class="data-container">
      <!-- 概览 -->
      <div>
        <div class="item-title item-title-overview">
          <img class="triangle_icon" [ngClass]="overviewExpend ? '' : 'rotate'"
            src="./assets/img/newSvg/icon_triangle_down.svg" (click)="expend('overview')">
          <div>{{ i18n.protalserver_profiling_tab['overview'] }}</div>
        </div>
        <div id="overview" class="item_bottom" [ngStyle]="{display: overviewExpend ? 'block' : 'none'}">
          <app-limit-item [config]="commonConfig['over_view']" (confirm)="handleConfirm($event, 'over_view')"
            (restore)="handleRestore(commonConfig['over_view'].range[0], 'over_view')"
            [value]="formItems['over_view'].timeValue"></app-limit-item>
        </div>
      </div>
      <!-- gc -->
      <div>
        <div class="item-title">
          <img class="triangle_icon" [ngClass]="gcExpend ? '' : 'rotate'"
            src="./assets/img/newSvg/icon_triangle_down.svg" (click)="expend('gc')">
          <div>{{ i18n.protalserver_profiling_tab['gc'] }}</div>
        </div>
        <div id="gc" class="item_bottom" [ngStyle]="{display: gcExpend ? 'block' : 'none'}">
          <app-limit-item [config]="commonConfig['gcTime']" (confirm)="handleConfirm($event, 'gc')"
            (restore)="handleRestore(commonConfig['gcTime'].range[0], 'gc')" [value]="formItems['gc'].timeValue">
          </app-limit-item>
          <app-limit-item [config]="commonConfig['gcData']" (confirm)="handleConfirm($event, 'gc')"
            [setMargin]="'24px 0px 0px 10px'" (restore)="handleRestore(commonConfig['gcData'].range[0], 'gc')"
            [value]="formItems['gc'].dataValue">
          </app-limit-item>
        </div>
      </div>
      <!-- IO -->
      <div>
        <div class="item-title">
          <img class="triangle_icon" [ngClass]="ioExpend ? '' : 'rotate'"
            src="./assets/img/newSvg/icon_triangle_down.svg" (click)="expend('io')">
          <div>{{ i18n.protalserver_profiling_tab['io'] }}</div>
        </div>
        <div id="io" class="item_bottom" [ngStyle]="{display: ioExpend ? 'block' : 'none'}">
          <div class="item-title2">{{ i18n.protalserver_profiling_tab['fileIo'] }}</div>
          <app-limit-item [config]="commonConfig['fileIoTime']" (confirm)="handleConfirm($event, 'file_io')"
            (restore)="handleRestore(commonConfig['fileIoTime'].range[0], 'file_io')"
            [value]="formItems['file_io'].timeValue"></app-limit-item>
          <app-limit-item [config]="commonConfig['fileIoData']" (confirm)="handleConfirm($event, 'file_io')"
            (restore)="handleRestore(commonConfig['fileIoData'].range[0], 'file_io')" [setMargin]="'24px 0px 0px 10px'"
            [value]="formItems['file_io'].dataValue"></app-limit-item>
          <div class="item-title2 item-title-other">{{ i18n.protalserver_profiling_tab['socketIo'] }}</div>
          <app-limit-item [config]="commonConfig['socketIoTime']" (confirm)="handleConfirm($event, 'socket_io')"
            (restore)="handleRestore(commonConfig['socketIoTime'].range[0], 'socket_io')"
            [value]="formItems['socket_io'].timeValue"></app-limit-item>
          <app-limit-item [config]="commonConfig['socketIoData']" (confirm)="handleConfirm($event, 'socket_io')"
            (restore)="handleRestore(commonConfig['socketIoData'].range[0], 'socket_io')"
            [setMargin]="'24px 0px 0px 10px'" [value]="formItems['socket_io'].dataValue"></app-limit-item>
        </div>
      </div>
      <!-- 数据库 -->
      <div>
        <div class="item-title">
          <img class="triangle_icon" [ngClass]="databaseExpend ? '' : 'rotate'"
            src="./assets/img/newSvg/icon_triangle_down.svg" (click)="expend('database')">
          <div>{{ i18n.protalserver_profiling_tab['database'] }}</div>
        </div>
        <div id="database" class="item_bottom" [ngStyle]="{display: databaseExpend ? 'block' : 'none'}">
          <div class="item-title2">{{ i18n.protalserver_profiling_tab['jdbc'] }}</div>
          <app-limit-item [config]="commonConfig['jdbcTime']" (confirm)="handleConfirm($event, 'jdbc')"
            (restore)="handleRestore(commonConfig['jdbcTime'].range[0], 'jdbc')" [value]="formItems['jdbc'].timeValue">
          </app-limit-item>
          <div class="item-title2 item-title-other">{{ i18n.protalserver_profiling_tab['jdbcpool'] }}</div>
          <app-limit-item [config]="commonConfig['jdbcpoolData']" (confirm)="handleConfirm($event, 'pool_form')"
            (restore)="handleRestore(commonConfig['jdbcpoolData'].range[0], 'pool_form')"
            [value]="formItems['pool_form'].dataValue"></app-limit-item>
          <div class="item-title2 item-title-other">{{ i18n.protalserver_profiling_tab['mongodb'] }}</div>
          <app-limit-item [config]="commonConfig['mongodbTime']" (confirm)="handleConfirm($event, 'mongodb')"
            (restore)="handleRestore(commonConfig['mongodbTime'].range[0], 'mongodb')"
            [value]="formItems['mongodb'].timeValue"></app-limit-item>
          <div class="item-title2 item-title-other">{{ i18n.protalserver_profiling_tab['cassandra'] }}</div>
          <app-limit-item [config]="commonConfig['cassandraTime']" (confirm)="handleConfirm($event, 'cassandra')"
            (restore)="handleRestore(commonConfig['cassandraTime'].range[0], 'cassandra')"
            [value]="formItems['cassandra'].timeValue"></app-limit-item>
          <div class="item-title2 item-title-other">{{ i18n.protalserver_profiling_tab['hbase'] }}</div>
          <app-limit-item [config]="commonConfig['hbaseTime']" (confirm)="handleConfirm($event, 'hbase')"
            (restore)="handleRestore(commonConfig['hbaseTime'].range[0], 'hbase')"
            [value]="formItems['hbase'].timeValue">
          </app-limit-item>
        </div>
      </div>
      <div>
        <div class="item-title">
          <img class="triangle_icon" [ngClass]="webExpend ? '' : 'rotate'"
            src="./assets/img/newSvg/icon_triangle_down.svg" (click)="expend('web')">
          <div>{{ i18n.protalserver_profiling_tab['web'] }}</div>
        </div>
        <div id="httpRequest" class="item_bottom" [ngStyle]="{display: webExpend ? 'block' : 'none'}">
          <!-- http -->
          <div class="toptitle">{{ i18n.protalserver_profiling_tab['httpRequest'] }}</div>
          <div id="httpRequest" class="item_inner" style="padding-bottom: 16px;">
            <app-limit-item [config]="commonConfig['httpTime']" (confirm)="handleConfirm($event, 'http')"
              (restore)="handleRestore(commonConfig['httpTime'].range[0], 'http')"
              [value]="formItems['http'].timeValue">
            </app-limit-item>
          </div>
          <!-- springBoot -->
          <div id="springBoot" class="item_inner">
            <span class="toptitle">{{ i18n.protalserver_profiling_tab['springBoot'] }}</span>
            <span>--</span>
            <span class="item-title3">{{ i18n.protalserver_profiling_tab['metrics'] }}</span>
            <app-limit-item [config]="commonConfig['metricsTime']" (confirm)="handleConfirm($event, 'boot_metrics')"
              (restore)="handleRestore(commonConfig['metricsTime'].range[0], 'boot_metrics')"
              [value]="formItems['boot_metrics'].timeValue"></app-limit-item>
            <span class="toptitle">{{ i18n.protalserver_profiling_tab['springBoot'] }}</span>
            <span>--</span>
            <span class="item-title3 item-title-other">{{i18n.protalserver_profiling_tab['http_traces'] }}</span>
            <app-limit-item [config]="commonConfig['http_tracesTime']" (confirm)="handleConfirm($event, 'boot_traces')"
              (restore)="handleRestore(commonConfig['http_tracesTime'].range[0], 'boot_traces')"
              [value]="formItems['boot_traces'].timeValue"></app-limit-item>
            <app-limit-item [config]="commonConfig['http_tracesData']" (confirm)="handleConfirm($event, 'boot_traces')"
              (restore)="handleRestore(commonConfig['http_tracesData'].range[0], 'boot_traces')"
              [setMargin]="'24px 0px 0px 10px'" [value]="formItems['boot_traces'].dataValue"></app-limit-item>
          </div>
        </div>
      </div>
    </div>
    <div class="sug-btn">
      <button type="button" class="sug-button" tiButton
        (click)="closeDataLimit()">{{i18n.common_term_operate_close}}</button>
    </div>
  </div>
</app-mask>
<app-mask #exportTabs>
  <div class="content export-container">
    <div class="data-title">{{ i18n.common_term_export_report }}</div>
    <div class="data-content-main">
      <div class="checkTabs">
        <p class="choseTabs">{{i18n.common_term_export_reportTab}}</p>
        <div class="warn-box" *ngIf="noExportWarnTip">
          <div class="warn-icon">
            <img src="./assets/img/newSvg/tip.svg">
          </div>
          <div class="warn-text">{{i18n.common_term_no_export_reportTip}}</div>
          <div class="warn-close" (click)="closeWarnTip()">
            <img src="./assets/img/newSvg/tip_close.svg">
          </div>
        </div>
        <div class="treeData">
          <ti-tree id="exportDataTree" [data]="exInnerDataTabs" [multiple]="true" (select)="selectFn($event)">
            <ng-template let-item let-i=index>
              <span tiOverflow tiTipPosition="right" class="itemName">
                <img [src]="item.children ? './assets/img/projects/folder.svg' : './assets/img/projects/fileIcon.svg'">
                <span class="tabName" [tiTip]="item.disabled?item.tipText :''">{{item.tabName}}</span>
              </span>
            </ng-template>
          </ti-tree>
        </div>
      </div>
      <div class="footer-btn">
        <button type="button" color="primary" class="sureBtn" [disabled]="!showSuereBtn" (click)="choose_ok()" tiButton>
          {{ i18n.common_term_operate_ok }}
        </button>
        <button type="button" class="cancel" tiButton (click)="choose_cancel()">
          {{ i18n.common_term_operate_cancel }}
        </button>
      </div>
    </div>
  </div>

</app-mask>
<app-mask #suggestion>
  <div class="content modal-container">
    <div class="suggestion-title">{{ i18n.protalserver_sampling_tab.suggestions
      }}&nbsp;{{i18n.common_term_java_parentheses_left}}{{suggestNum}}{{i18n.common_term_java_parentheses_right}}</div>
    <ng-container *ngIf="suggestNum>0">
      <div class="data-content">
        <div *ngFor="let sug of suggestItem;let i =index">
          <div class="suggest-tit" *ngIf="sug.suggest.length>0">
            <img src="./assets/img/newSvg/icon_triangle_down.svg" class="suggests_icon"
              [ngClass]="{'suggest-rotate': !sug.expend}" (click)="unfold(sug)">
            <div>{{i18n.protalserver_profiling_tab[sug.tabName]}}</div>
          </div>
          <div *ngIf="sug.expend&&sug.suggest.length>0" class="allSug">
            <div class="left-sug">
            </div>
            <div class="right-sug" *ngIf="sug.subLabel && sug.suggest.length>0">
              <div class="sublable-sug ">
                <img src="./assets/img/newSvg/icon_triangle_down.svg" class="suggests_icon"
                  [ngClass]="{'suggest-rotate': !sug.show}" (click)="unfoldTitle(sug)" style="margin-top: 10px;">
                <div>
                  {{i18n.protalserver_profiling_tab[sug.object]}}
                </div>
              </div>
              <ng-container *ngFor="let item of sug.suggest;let idx=index">
                <div *ngIf="sug.show" class="sug-content">
                  <div class="left-sug">
                  </div>
                  <div [ngClass]="{'sug-border': !item.state}">
                    <div *ngIf="item.uiType===1">
                      <div class="sug-header" [ngClass]="{'sug-border': item.state}">
                        <span class="arow">
                          <img src="./assets/img/newSvg/down_arrow.svg" [ngClass]="{'suggest-rotate':!item.state}"
                            (click)="unfoldContent(item)">
                        </span>
                        <div class="sug-div" style="display: flex;">
                          <img src="./assets/img/newSvg/suggestions.svg">
                          <span tiOverflow style="width: 400px;">{{item.title || item.configKey}}</span>
                        </div>
                      </div>
                      <div *ngIf="item.state" style="border-bottom: 1px solid #e1e6ee;width: 464px;display: flex;">
                        <div class="left-color">
                        </div>
                        <div>
                          <div class="opti_title">{{ i18n.jdbcpool_optimization_title }} {{ item.potentialStuff[0]}}
                          </div>
                          <ti-table [(displayedData)]="configPoolDisplayed" [srcData]="configPoolSrcData"
                            class="sug-table" [columns]="configPoolColumns">
                            <table>
                              <thead>
                                <tr>
                                  <th tiOverflow *ngFor="let column of configPoolColumns" width="{{ column.width }}">
                                    {{ column.title }}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of item.detail">
                                  <td tiOverflow>{{ row.key }}</td>
                                  <td tiOverflow>{{ row.value * 100 }}%</td>
                                </tr>
                              </tbody>
                            </table>
                          </ti-table>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="item.uiType===0">
                      <div class="sug-header" [ngClass]="{'sug-border': item.state}" tiOverflow>
                        <span class="arow">
                          <img src="./assets/img/newSvg/down_arrow.svg" [ngClass]="{'suggest-rotate':!item.state}"
                            (click)="unfoldContent(item)">
                        </span>
                        <div class="sug-div" tiOveflow>
                          <img src="./assets/img/newSvg/suggestions.svg">
                          <span>{{item.title}}</span>
                        </div>
                      </div>
                      <div *ngIf="item.state">
                        <div class="sug-ctx">
                          <div class="left-color">
                          </div>
                          <span [innerHtml]="item.suggestion" class="right-content">
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div *ngIf="!sug.subLabel &&sug.suggest.length>0" style="width: 100%;">
              <ng-container *ngFor="let item of sug.suggest;let idx=index">
                <div class="sug-content">
                  <div [ngClass]="{'sug-border': !item.state}">
                    <div class="sug-header" [ngClass]="{'sug-border': item.state}" tiOverflow>
                      <span class="arow">
                        <img src="./assets/img/newSvg/down_arrow.svg" [ngClass]="{'suggest-rotate':!item.state}"
                          (click)="unfoldContent(item)">
                      </span>
                      <div class="sug-div" tiOverflow>
                        <img src="./assets/img/newSvg/suggestions.svg">
                        <span>{{item.title}}</span>
                      </div>
                    </div>
                    <div *ngIf="item.state">
                      <div class="sug-ctx">
                        <div class="left-color">
                        </div>
                        <span [innerHtml]="item.suggestion" class="right-content">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="sug-btn">
        <button type="button" class="sug-button" tiButton
          (click)="closeSuggest()">{{i18n.common_term_operate_close}}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="suggestNum===0">
      <div style="text-align: center;margin-top: 200px;">
        <img class='newNoData' src="./assets/img/projects/noData.svg" />
        <p class="nodata-text" style="margin-top: 20px;">{{ i18n.common_term_task_nodata}}</p>
      </div>
    </ng-container>
  </div>
</app-mask>
<!-- 切换页面提示框 -->
<app-alert-message #leavePage (confirmHandle)="confirmLeavePage($event)">
  <div class="alert-body checkSty">
    <input type="checkbox" tiCheckbox [name]='i18n.leavePage.leave_page_tip' [label]='i18n.leavePage.leave_page_tip'
      [(ngModel)]="downloadService.leavePageCheck">
  </div>
</app-alert-message>