.pro-main-container {
  width: 100%;
  height: 100%;
  padding: 60px 48px 0;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  .pro-main-content {
    flex: 1;
  }
  .pro-main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    border-bottom: 1px solid #e1e6ee;
    margin-bottom: 20px;
    .pro-mian-title-left {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 16px;
      .pro-img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      .pro-title {
        font-size: 20px;
        font-weight: 500;
        max-width: 800px;
        display: inline-block;
      }
      .langtip {
        margin-left: 8px;
        font-size: 16px;
        color: #979797;
      }
      .pro-top-time {
        font-size: 16px;
        color: #979797;
        margin-left: 8px;
      }
      .restart {
        margin-left: 20px;
      }
    }
    .rightMenu {
      display: flex;
      align-items: center;
      .operate {
        height: 28px;
        &.sug-opetate {
          position: relative;
        }
      }
      .clearMenu {
        position: relative;
        .icon {
          display: inline-block;
          width: 5px;
        }
        .menuList {
          width: 100%;
          position: absolute;
          top: 28px;
          left: 0;
          display: none;
          padding-top: 4px;
          .listUl {
            padding-top: 3px;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
            border: 1px solid #0067ff;
            .listItem {
              cursor: pointer;
              min-width: 100%;
              height: 28px;
              background: #fff;
              text-align: center;
              line-height: 28px;
              border-radius: 2px;
              &:hover {
                background: #0067ff;
                color: #fff;
              }
            }
          }
        }
        .tiBtn {
          height: 28px;
          line-height: 26px;
          background-color: #fff;
          font-size: 12px;
          border: 1px solid #979797;
          border-radius: 2px;
          color: #222222;
          padding: 0 16px;
          min-width: 112px;
        }
        .tiBtn {
          &:hover {
            border: 1px solid #0067ff;
          }
        }
      }

      .clearMenu .icon::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #222222;
        border-bottom: 0px solid transparent;
        margin-left: 5px;
        margin-bottom: 2px;
        vertical-align: middle;
        display: inline-block;
      }
      .clearMenu:hover .icon::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 5px solid #222222;
        margin-left: 5px;
        margin-bottom: 2px;
        vertical-align: middle;
        display: inline-block;
      }
      .clearMenu:hover .menuList {
        display: block;
        transform-origin: 50% 0;
        animation: slide-down 0.25s ease-out;
      }
    }
  }
}
.content-container {
  width: 100%;
}

.profile-tabs {
  height: 40px;
  padding-top: 4px;
  box-sizing: border-box;
  background-color: #f5f9ff;

  .item-tab {
    font-size: 14px;
    padding: 8px 24px;
    cursor: pointer;
    display: inline-block;
    color: #616161;
    margin-left: 4.2px;
  }
  .item-tab:hover {
    background-color: #ffffff;
    color: #222222;
  }
}

.tab-active {
  background-color: #ffffff;
  color: #0067ff !important;
  border: 1px solid #e6ebf5 !important;
  border-bottom: none !important;
}

.stop-btn {
  background-color: #ffffff;
  border: solid 1px #979797;
  border-radius: 2px;
  padding: 0 16px;
  height: 28px;
  line-height: 26px;
  margin-left: 20px;
  min-width: 112px !important;
  .imgNoActive {
    vertical-align: text-bottom;
    margin-right: 10px;
    display: inline-block;
    width: 14px;
    height: 16px;
  }
  .imgActive {
    vertical-align: text-bottom;
    margin-right: 10px;
    display: none;
    width: 14px;
    height: 16px;
  }
  &:hover {
    background-color: #ffffff;
    border: solid 1px var(--hover-color);
    color: var(--hover-color);
    padding: 0 16px;
    border-radius: 2px;
    height: 28px;
    line-height: 26px;
    margin-left: 20px;
    .imgNoActive {
      display: none;
    }
    .imgActive {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }
  .restartImg {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    width: 14px;
    height: 16px;
  }
}
.modal-container {
  padding: 32px;
  width: 600px;
  height: 100vh;
  overflow: auto;
  .data-title {
    font-size: 20px;
    color: #222222;
    margin-bottom: 18px;
  }
}

.export-container {
  padding: 32px;
  width: 700px;
  height: calc(100vh - 64px);
  overflow: auto;
  position: relative;
  .data-title {
    font-size: 20px;
    color: #222222;
    margin-bottom: 18px;
  }
  .data-content-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94%;
    .checkTabs {
      border-top: 1px solid #e1e6ee;
      height: 94%;
      .choseTabs {
        margin-top: 24px;
      }
      .treeData {
        margin-top: 20px;
        height: calc(100% - 100px);
        overflow-y: auto;
        .itemName {
          display: flex;
          align-items: center;
          .tabName {
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
    }
    .footer-btn {
      margin-top: 20px;
      text-align: center;
      .sureBtn {
        margin-right: 20px;
      }
    }
  }
}
:host ::ng-deep .input-warpper[lang="en-us"] .ti3-form .ti3-form-label {
  width: 180px !important;
}
:host ::ng-deep .input-warpper[lang="zh-cn"] .ti3-form .ti3-form-label {
  width: 180px !important;
}
:host ::ng-deep .valueInput {
  width: 300px !important;
}
:host ::ng-deep .input-range {
  left: 300px !important;
}
.item-title {
  font-size: 16px;
  padding: 8px 0;
  color: #2b313f;
  border-top: solid 1px #e1e6ee;
  line-height: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.toptitle {
  font-size: 14px;
  color: #2b313f;
  font-weight: bold;
  display: inline-block;
  margin: 24px 0px 0px 16px;
  align-items: center;
}
.item-title2 {
  font-size: 14px;
  color: #2b313f;
  font-weight: bold;
  display: inline-block;
  margin: 24px 0px 0px 16px;
}
.item-title3 {
  font-size: 14px;
  color: #2b313f;
  font-weight: bold;
  display: inline-block;
  margin: 24px 0px 0px 0px;
}
.triangle_icon {
  cursor: pointer;
  margin-right: 8px;
}
.rotate {
  transform: rotate(-90deg);
}
.item_bottom {
  margin-left: 10px;
  padding-bottom: 40px;
}
:host ::ng-deep .ti3-placeholder {
  color: #222222;
}
.progress-modal {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 201;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  padding: 0 32px 32px 32px;
  overflow: hidden;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
    font-size: 20px;
    border-bottom: dashed 1px #e1e6ee;
    p {
      font-size: 20px;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .title1 {
    width: 100%;
    margin: 22px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .icon {
      min-width: 24px;
      margin-right: 8px;
      width: 24px;
    }
    .text {
      font-size: 14px;
      color: #616161;
      line-height: 24px;
    }
  }
  .madal-content {
    width: 100%;
    .content {
      display: inline-block;
      color: #616161;
      font-size: 14px;
      margin-top: 22px;
    }
  }
  .cancel:hover {
    color: #6c92fa;
    border-color: #6c92fa !important;
  }
}
.allNums {
  width: 18px;
  height: 18px;
  font-size: 10px;
  background-color: #ed4b4b;
  color: #fff;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -10px;
}
.allNum {
  width: 16px;
  height: 16px;
  font-size: 10px;
  background-color: #ed4b4b;
  color: #fff;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -8px;
}
.suggestion-title {
  font-size: 20px;
  color: #222222;
  border-bottom: 1px solid #e1e6ee;
  padding-bottom: 18px;
}
.modal-container {
  padding: 32px 10px 32px 32px;
  width: 700px;
  height: 100vh;
  overflow: auto;
  .item-title {
    font-size: 16px;
    color: #2b313f;
    border-top: solid 1px #e1e6ee;
    line-height: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .data-content {
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 141px);
  }
  .data-title {
    font-size: 20px;
    color: #222222;
  }
  .suggest-tit {
    font-size: 16px;
    color: #2b313f;
    border-bottom: 1px solid #e1e6ee;
    line-height: 36px;
    font-weight: 700;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 0px;
  }
  .suggests_icon {
    cursor: pointer;
    margin-right: 8px;
    width: 10px;
    height: 10px;
  }
  .suggest-rotate {
    transform: rotate(-90deg);
  }
  .allSug {
    display: flex !important;
    border-bottom: 1px solid #e1e6ee;
    .left-sug {
      min-width: 36px;
      border-right: 2px solid #0067ff;
      background-color: #f5f9ff;
    }
    .right-sug {
      width: 100%;
      font-size: 14px;
      color: #222222;
    }
    .sublable-sug {
      display: flex;
      height: 32px;
      line-height: 30px;
      border-bottom: 1px solid #e1e6ee;
      width: 100%;
      padding-left: 20px;
    }
  }
  .sug-header {
    display: flex;
    color: #222222;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    .sug-div {
      padding-left: 12px;
      img {
        width: 16px;
        height: 16px;
        margin-top: 14px;
      }
      span {
        padding-left: 12px;
      }
    }
    .arow {
      padding-left: 20px;
      img {
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
  .sug-content {
    display: flex;
  }
  .sug-ctx {
    font-size: 14px;
    overflow: auto;
    display: flex;
    border-bottom: 1px solid #e1e6ee;
    .right-content {
      padding: 32px 24px 32px 24px;
      max-width: 540px;
    }
  }
  .sug-btn {
    margin-bottom: 20px;
    height: 28px;
    margin-top: 20px;
    .sug-button {
      position: absolute !important;
      left: 50%;
      margin-left: -44px;
    }
  }
  .sug-border {
    border-bottom: 1px solid #e1e6ee;
    width: 100%;
  }
  .opti_title {
    color: #222;
    font-size: 14px;
    margin: 32px 24px 32px 24px;
  }
  .sug-table {
    margin: 32px 24px 32px 24px;
  }
  .left-color {
    min-width: 34px;
    background-color: #f5f9ff;
    border-right: 2px solid #0067ff;
  }
}
.checkSty {
  margin: 20px 0 0 0;
}
.operate-img {
  width: 28px;
  height: 28px;
  margin-left: 16px;
}
.data-container {
  height: 83%;
  overflow-y: auto;
  border-top: 1px solid #e1e6ee;
  .item-title-other {
    margin-top: 40px;
  }
}
.item-title-overview{
  border-top: none !important;
}
.data-container::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background: rgba(40, 43, 51, 0.2);
}

::ng-deep .pro-main-container .item-table {
  .isSort .ti3-cell-text-container span {
      max-width: calc(100% - 24px) !important;
  }
  .ti3-sort {
      vertical-align: middle;
      cursor: pointer;
      font-size: 16px;
  }
  .ti3-sort:hover, .ti3-icon-sort-ascent, .ti3-icon-sort-descent {
      color: var(--ti-table-sort-icon-color-active)
  }
}
.warn-box {
  width: 100%;
  padding: 6px 20px 6px 16px;
  background-color: #f0f6ff;
  border-radius: 2px;
  border: 1px solid #0067ff;
  display: flex;
  margin-top: 20px;
  .warn-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    padding-top: 1px;
  }
  .warn-text {
    width: calc(100% - 32px);
    padding: 0px 10px;
    line-height: 18px;
    font-size: 12px;
    color: #222222;
  }
  .warn-close {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    padding-top: 1px;
  }
}
