<div class="bubble-box"
  [ngClass]="{
    active: active,
    'no-gradation': !data?.length,
    'idle-bubble': status === 'idle',
    'normal-bubble': status === 'normal',
    'busy-bubble': status === 'busy'
  }">
  <div class="bubble-box-header">
    <span class="bubble-header-name" *ngIf="active">{{ status | titlecase }}</span>
    <span class="bubble-header-threshold">{{
      (threshold?.start | percent) + '~' + (threshold?.end | percent)
    }}</span>
  </div>
  <div class="bubble-shrink-box" *ngIf="!active">
    <p>{{ status | titlecase }}</p>
    <p tiOverflow>{{ data?.length }} {{ type }}</p>
  </div>
  <div class="bubble-expand-box" *ngIf="active" [ngClass]="{'no-bubble': !data?.length}">
    <div #bubbleBox class="bubble-wrapper">
      <app-bubble
        *ngFor="let bubble of (data | page:viewPageConfig)"
        [active]="bubble.id === currShowBubble"
        [status]="status"
        (click)="onBubbleClick(bubble.id)"
        [opacity]="bubble.opacity"
        [shape]="shape"
        [info]="bubbleInfoMap ? bubbleInfoMap[bubble.id] : {}"
        [infoTipContent]="bubbleInfoTipContent">
      </app-bubble>
      <span class="no-bubble" *ngIf="!data?.length">{{
        i18n.tuninghelper.taskDetail.coreViewNoDataTip
      }}</span>
    </div>
    <div class="bubble-page-btn" *ngIf="active && viewPageConfig.pageArr.length > 1">
      <hy-theme-content class="bubble-page-left"
        [ngClass]="{'disabled': viewPageConfig.pageNumber === 1}"
        (click)="previousPage()">
        <app-icon-react name="arrowLeftDark" dark
          [freeze]="viewPageConfig.pageNumber === 1 ? 'disabled' : ''"
        ></app-icon-react>
        <app-icon-react name="arrowLeft" light
          [freeze]="viewPageConfig.pageNumber === 1 ? 'disabled' : ''"
        ></app-icon-react>
      </hy-theme-content>
      <hy-theme-content class="bubble-page-right"
        [ngClass]="{'disabled': viewPageConfig.pageNumber ===
          viewPageConfig.idle?.pageArr[viewPageConfig.pageArr.length - 1]}"
        (click)="nextPage()">
        <app-icon-react name="arrowLeftDark" dark
          [freeze]="viewPageConfig.pageNumber ===
          viewPageConfig.pageArr[viewPageConfig.pageArr.length - 1]
          ? 'disabled' : ''"
        ></app-icon-react>
        <app-icon-react name="arrowLeft" light
          [freeze]="viewPageConfig.pageNumber ===
          viewPageConfig.pageArr[viewPageConfig.pageArr.length - 1]
          ? 'disabled' : ''"
        ></app-icon-react>
      </hy-theme-content>
    </div>
  </div>
  <div class="bubble-box-footer" tiOverflow *ngIf="active && numaStatistic">
    <span *ngFor="let numa of numaStatistic | keyvalue">
      {{ 'NUMA' + numa.key + ': ' + numa.value }}
    </span>
  </div>
  <div class="bubble-page-box"
    *ngIf="active && viewPageConfig.pageArr.length > 1">
    <span
      class="bubble-page-item"
      *ngFor="let pageNumber of viewPageConfig.pageArr"
      [ngClass]="{'active': pageNumber === viewPageConfig.pageNumber}"
    ></span>
  </div>
  <div class="bubble-box-gradation"
    *ngIf="!active || (active && data?.length > 0)">
    <span *ngIf="active" class="start-value">{{
      threshold.start | percent
    }}</span>
    <span *ngIf="active" class="end-value">{{
      threshold.end | percent
    }}</span>
  </div>
</div>