:host {
  height: 100%;
  width: 88px;
  flex-shrink: 0;

  &.active {
    flex: 1;
  }

  .bubble-box {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    // 上下内边距4px，右边给渐变条留4px，左边不需要内边距
    padding: 4px 4px 4px 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &.active {
      cursor: auto;
      // 激活状态如果无核，渐变条不会显示，则右边距不需要
      padding-right: 0;
  
      // 给激活状态渐变条留10px位置
      &:not(.no-gradation) {
        padding-right: 10px;
      }

      .bubble-box-header {
        line-height: 20px;
        font-size: 14px;
        color: var(--common-color-font-primary);
      }
  
      .bubble-box-gradation {
        width: 10px;
      }
    }

    &.idle-bubble {
      border: 1px solid var(--color-bubble-box-idle-border);

      &:not(.active):hover {
        background: rgba(0, 103, 255, 0.04);
      }

      .bubble-box-gradation {
        background-image: var(--linear-gradient-bubble-idle-box);
      }
    }

    &.normal-bubble {
      border: 1px solid var(--color-bubble-box-normal-border);

      &:not(.active):hover {
        background: rgba(105, 203, 113, 0.04);
      }

      .bubble-box-gradation {
        background-image: var(--linear-gradient-bubble-normal-box);
      }
    }

    &.busy-bubble {
      border: 1px solid var(--color-bubble-box-busy-border);

      &:not(.active):hover {
        background: rgba(255, 78, 78, 0.04);
      }

      .bubble-box-gradation {
        background-image: var(--linear-gradient-bubble-busy-box);
      }
    }

    .bubble-box-header {
      .bubble-header-name {
        margin-right: 2px;
      }
    }

    .bubble-box-footer {
      padding: 0 24px;
      margin-top: 16px;

      span + span {
        margin-left: 10px;
      }
    }

    .bubble-box-header,
    .bubble-box-footer {
      height: 18px;
      font-size: 12px;
      line-height: 18px;
      color: var(--common-color-font-secondary);
      text-align: center;
      width: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .bubble-shrink-box {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      color: var(--common-color-font-primary);
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        width: 100%;
        text-align: center;
      }
    }

    .bubble-expand-box {
      flex: 1;
      max-height: 104px;
      box-sizing: border-box;
      padding: 0 42px;
      margin-top: 12px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &.no-bubble {
        max-height: 100%;
      }

      .bubble-wrapper {
        width: 100%;
        height: 104px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;
        position: relative;

        app-bubble {
          margin: 4px;
        }

        .no-bubble {
          width: 100%;
          text-align: center;
          color: var(--common-color-font-secondary);
        }
      }

      .bubble-page-btn {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;

        hy-theme-content {
          display: block;
          width: 8px;
          height: 14px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;

          &.disabled {
            cursor: not-allowed;
          }

          &.bubble-page-left {
            left: 19px;
          }

          &.bubble-page-right {
            right: 19px;
            transform: translateY(-50%) rotateY(180deg);
          }
        }
      }
    }

    .bubble-page-box {
      width: 100%;
      height: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 8px;

      .bubble-page-item + .bubble-page-item {
        margin-left: 8px;
      }

      .bubble-page-item {
        width: 8px;
        height: 8px;
        background-color: var(--color-bubble-box-page-item-background);
        border-radius: 100%;
        box-sizing: border-box;

        &.active {
          background-color: var(--color-bubble-box-page-item-active-background);
          border: 1px solid var(--color-bubble-box-page-item-active-border);
        }
      }
    }

    .bubble-box-gradation {
      position: absolute;
      right: 0px;
      top: 0;
      width: 4px;
      height: 100%;

      span {
        position: absolute;
        white-space: nowrap;
        transform: translate(-100%);
        left: -4px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        color: var(--color-bubble-box-gradation-label-font);

        &.start-value {
          bottom: 0;
        }

        &.end-value {
          top: 0;
        }
      }
    }
  }
}
