<app-banner></app-banner>
<div class="main-container">
    <div class="header-title">{{ i18n.plugins_common_remote_env.use_process }}</div>
    <div class="content-box">
        <div class="list-item" *ngFor="let item of introduceList, index as i">
            <div class="icon-item">
                <img class="icon" [src]="sanitizer.bypassSecurityTrustResourceUrl(currTheme === colorTheme.Dark ? item.icon.dark : item.icon.light)">
                <img *ngIf="i < introduceList.length - 1 && currTheme === colorTheme.Dark" class="arrow-icon" src="./assets/img/remote-env/arrow-dark.svg">
                <img *ngIf="i < introduceList.length - 1 && currTheme === colorTheme.Light" class="arrow-icon" src="./assets/img/remote-env/arrow-light.svg">
            </div>
            <div class="title">{{ item.title }}</div>
            <div class="info">{{ item.info }}</div>
            <div class="extension-info" *ngIf="item.extensionInfo.length > 0">
                {{ item.extensionInfo }}
                <span>10</span>
            </div>
            <a class="link_btn" *ngIf="item.href.length > 0" [href]="item.href">{{ item.linkBtnText }}</a>
            <div class="link_btn" *ngIf="item.href.length === 0 && item.linkBtnText.length > 0" (click)="clickLinkBtn(item)">{{ item.linkBtnText }}</div>
        </div>
    </div>
</div>