#detail {
    .taskParams {
      display: flex;
      .taskBox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
      }
      .label {
        min-width: 225px;
        display: flex;
        ti-icon {
          font-size: 16px;
        }
        .labelText {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0px;
          color: #616161;
          max-width: 172px;
        }
        .tooltip {
          margin-left: 8px;
          margin-top: 3px;
          width: 14px;
          height: 14px;
        }
      }
      .detail {
        position: relative;
        width: calc(100% - 225px);
        .diagnoseType {
          font-size: 14px;
          color: #222222;
        }
        .inputBox {
          width: 326px !important;
          margin-right: 8px;
        }
        .importModel {
          position: absolute;
          top: 0;
          left: 336px;
        }
        .rangeTip {
          color: #979797;
          margin-left: 8px;
        }
        .bottomTip {
          height: 18px;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0px;
          color: #616161;
          margin-top: 8px;
          cursor: pointer;
          .tipImg,
          .text {
            vertical-align: middle;
          }
          .tipImg {
            margin-right: 8px;
          }
          .tipWidth{
              display: flex;
          }
        }
        .memoryCheck {
          display: flex;
          height: 28px;
          .memory-leak,
          .memory-abnoemal {
            font-size: 14px;
            background: #f0f6ff;
            display: flex;
            align-items: center;
            margin-right: 24px;
            padding-left: 16px;
            box-sizing: border-box;
            .checkBox {
              margin-right: 24px;
              &:nth-child(3) {
                margin-right: 0;
              }
            }
          }
          .no-bg-color {
            padding-left: 0;
            background-color: transparent;
          }
          .memory-abnoemal {
            cursor: pointer;
          }
          .allCheck {
            img {
              width: 26px;
              height: 24px;
              margin-top: 6px;
              margin-left: 8px;
            }
          }
        }
      }
    }
    .scheduled {
      margin-top: 20px;
    }
    .operateBtn {
        position: absolute;
        bottom: 30px;
        right: 0;
        height: 28px!important;
        width: 760px;
        justify-content: center;
        display: flex;
      .btn {
        margin-right: 16px;
      }
      .btn:last-child{
        margin-right: 0;
      }
    }
  }
  :host .memoryCheck ::ng-deep .ti3-checkbox{
      line-height: 18px !important;
  }
  :host .memoryCheck ::ng-deep .ti3-checkbox .ti3-checkbox-label {
      color: #333333 !important;
  }
  
  :host .scheduled-task ::ng-deep td.ti3-form-label {
    display: inline-block;
    width: 210px !important;
  }