::ng-deep {
  body.vscode-dark .guide-warpper {
      --tip-warrper-background-color: #424242;
      --perf-background-color: #292a2b;
      --perf-hover-background-color: #363739;
      --perf-disabled-background-color: rgba(0, 0, 0, 0.21);
      --perf-title-hover-color: #e8e8e8;
      --split-line-color: #4b4c4f;
  }
  
  body.vscode-light .guide-warpper {
    --tip-warrper-background-color: #ffffff;
    --perf-background-color: #ffffff;
    --perf-hover-background-color: transparent;
    --perf-disabled-background-color: #e6ebf2;
    --analysis-type-color: #989da4;
    --perf-title-hover-color: #0067ff;
    --split-line-color: #e1e6ee;
  }
}
.guide-warpper {
    box-sizing: border-box;
    position: relative;
    .declaration {
      font-size: 30px;
      color: #9ba5c5;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 11%;
    }
    @media only screen and (max-height: 900px) {
      .declaration {
        top: 3vh;
      }
    }
    .enter-warpper {
      position: relative;
      height: 249px;
      width: 1427px;
      .axes-bg {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      span {
        width: 224px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        color: var(--analysis-type-color);
        &.basic-analysis {
          margin-left: 202px;
          width: 214px;
          display: inline-block;
        }
        &.top-analysis {
          margin-left: 276px;
        }
      }
      .enter-con-warpper {
        height: 195px;
        margin-top: 7px;
        display: flex;
        z-index: 1;
        position: relative;
        .popup {
          display: none;
          position: absolute;
          top: 213px;
          width: 700px;
          height: 320px;
          overflow: auto;
        }
      }
      .perf {
        width: 214px;
        height: 176px;
        flex-direction: column;
        background-color: var(--perf-background-color);
        border-radius: 6px;
        margin-bottom: 27px;
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        position: relative;
        box-shadow: 0 2px 16px 0 rgb(13 33 90 / 7%);
        &.perf-firs {
          margin-left: 200px;
        }
        img {
          margin-top: 16px;
          width: 48px;
          height: 48px;
        }
        hr {
          width: 32px;
          margin: 16px 0;
          border-top-width: 2px;
        }
        .perf-title {
          font-size: 14px;
          line-height: 18px;
          color: var(--common-color-font-primary);
        }
        .perf-title-detail {
          margin-top: 8px;
          font-size: 12px;
          line-height: 18px;
          color: var(--common-color-font-secondary);
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        button.hy-btn-text {
          position: absolute;
          top: 16px;
          right: 16px;
        }

        hr {
          border-top: 2px solid var(--split-line-color);
        }
        &.disabled {
          background-color: var(--perf-disabled-background-color);
          .perf-title {
            color: var(--common-color-font-secondary);
          }
          .perf-title-detail {
            color: var(--common-color-background-disabled);
          }
          button.hy-btn-text { 
            display: none;
          }
        }
        &:not(.disabled):hover {
          position: relative;
          background: var(--perf-hover-background-color);
        }
        &:hover {
          .perf-title {
            color: var(--perf-title-hover-color);
          }
        }
      }
      .perf-other {
        display: flex;
        margin-left: 276px;
        .perf {
          margin-right: 16px;
        }
      }
    }
    .tip-warpper {
      position: relative;
      top: -32px;
      left: 200px;
      width: 734px;
      height: 300px;
      background-color: var(--tip-warrper-background-color);
      border-radius: 6px;
      color: var(--common-color-font-primary);
      font-size: 12px;
      box-shadow: 0 2px 16px 0 rgb(13 33 90 / 7%);

      &.tuningHelper {
        left: 200px;
      }
      &.sys {
        left: 690px;
      }
      &.java {
        left: 660px;
      }
      &.diagnose {
        left: 630px;
      }

      .scroll-box {
        width: 100%;
        height: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        overflow-y: scroll;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }

      .tip-warpper-title {
        margin-bottom: 8px;
        line-height: 18px;
      }

      .screenshot {
        margin-top: 8px;
        img {
          width: 100%;
        }
      }
    }
}