.warpper {
    width: 100%;
    text-align: center;
    overflow-x: scroll;
    background-image: url('../../../../../assets/img/summary/node-list-bg.png');
    padding: 10px 0;
    .gplot-warpper {
        display: inline-block;
        width: max-content;
        position: relative;
        .namenode-area,
        .datanode-area {
            height: 130px;
            display: flex;
            justify-content: center;
            ::ng-deep app-server-node + app-server-node {
                margin-left: 70px;
            }
            
        }
        .namenode-area {
            align-items: flex-start; 
        }
        .datanode-area {
            align-items: flex-end;
            &[hidden] {
                display: none;
            }
        }
        .svg-area {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
           
        }
    }
}