::ng-deep {
  app-fun-stack-node {
    --color-node-active-border: #056aff;
    --color-node-background: #e0ecff;
    --color-node-text-divider: #9ba4b1;
    --color-node-se-dots-background: #cdcece;
    --color-node-tip-background: #ffffff;
  }
  
  .vscode-dark {
    app-fun-stack-node {
      --color-node-active-border: #e8e8e8;
      --color-node-background: #444447;
      --color-node-text-divider: #888888;
      --color-node-se-dots-background: #c5c5cc;
      --color-node-tip-background: #424242;
    }
  }
}

.fun-stack-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: max-content;
  margin: 30px 0;
}

.fun-stack-node {
  position: relative;
  height: 40px;
  background-color: var(--color-node-background);
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  color: var(--common-color-font-primary);
  width: fit-content;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  margin: 5px 0;

  .func-stack-node-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;

    .text-left {
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .text-right {
      white-space: nowrap;
    }

    .slef {
      width: 8px;
      height: 8px;
      background-color: #ed4b4b;
      border-radius: 4px;
      margin-right: 8px;
    }

    .divider {
      width: 1px;
      height: 14px;
      background-color: var(--color-node-text-divider);
      margin: 0 8px;
    }
  }

  &.active,
  &:hover {
    border: 2px solid var(--color-node-active-border);
  }

  &:hover {
    .fun-stack-node-tip {
      display: block;
    }
  }
}

.end-arrow {
  width: 7px;
  height: 5px;
  background-color: transparent;
  border: solid 2px transparent;

  .arrow {
    border-top: 5px solid var(--color-node-se-dots-background);
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
  }
}

.start-dot {
  width: 6px;
  height: 6px;
  background-color: var(--color-node-se-dots-background);
  border: solid 2px transparent;
  border-radius: 6px;
}

.fun-stack-node-tip {
  display: none;
  position: absolute;
  color: var(--common-color-font-primary);
  left: calc(100% - 10px);
  background: var(--color-node-tip-background);
  padding: 7px 16px 10px;
  min-width: 300px;
  max-width: 440px;
  box-shadow: var(--ti-tip-box-shadow);
  z-index: 1;

  &:hover {
    display: block;
  }

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: var(--color-node-tip-background);
    position: absolute;
    top: 50%;
    left: -6px;
    transform: rotate(45deg);
  }

  .name {
    span:last-of-type {
      margin-left: 10px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--common-color-divider);
    margin: 8px 0;
  }

  .leak-type {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-column-gap: 24px;

    span {
      font-size: 12px;
      line-height: 18px;
    }
  }

  button {
    border: none;
    background: none;
    font-size: 12px;
    line-height: 18px;
    color: #0067ff;
    margin-top: 10px;
    min-width: auto !important;
    cursor: pointer;
  }
}

