.mask {
  background: rgba(0, 0, 0, 0.298);
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  transition: 0.4s ease-out;
  z-index: 115;
}
.mask.active {
  display: block;
}
.content-box {
  position: fixed;
  right: -100%;
  background: white;
  width: auto;
  height: 100%;
  transition: 0.4s ease-out;
  top: 60px;
  z-index: 115;
}
.content-box.active {
  right: 0%;
}
