.switch {
  color: #616161;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  .label {
    width: 248px;
    margin-right: 16px;
    padding-left: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}

.form {
  font-size: 14px;
  color: #616161;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  .duration,
  .once {
    cursor: pointer;
  }
  .func,
  .point-time,
  .duration-time,
  .once-time {
    padding-bottom: 20px;
    .label {
      width: 245px;
      padding-right: 16px;
      height: 32px;
      line-height: 32px;
      text-align: left;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
  }
  .duration-time{
    padding-bottom: 0;
  }
  .title {
    width: 100%;
    margin-left: 16px;
    margin-bottom: 20px;
    > div {
      color: #616161;
      font-size: 14px;
    }
  }
  .point-time,
  .duration-time,
  .once-time {
    display: flex;
    justify-content: flex-start;
  }
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dateLabel {
  padding: 0 8px 0 13px;
  max-height: 32px;
  max-width: 100%;
}
.dateTipImg {
  margin-top: 2px;
}
.isShow {
  display: none;
}

.func {
  display: flex;
  align-items: center;
  .radio {
    display: flex;
    .radio-item + .radio-item {
      margin-left: 20px;
    }
  }
}
