.top-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .constent-box{
    width: 47%;
  }
}
.content-section {
    padding: 10px 0 22px 0px;
    div {
      display: flex;
      font-size: 12px;
      line-height: 18px;
      padding-bottom: 10px;
      .left-title {
        color: var(--common-color-font-secondary);
        margin-right: 16px;
        width: 180px;
        display: flex;
      }
      p{
        color: var(--common-color-font-secondary);
        margin-right: 10px;
        padding-left: 10px;
        max-width: 140px;
        position: relative;
    }
    p.important::before{
        content: '';
        display: block;
        position: absolute;
        top: 2;
        left: 0;
        width: 2px;
        height: 16px;
        background-color: #0067ff;
    }
      .right-data {
        color: var(--common-color-font-primary);
      }
      img {
        margin-top: 2px;
        height: 14px;
      }
    }
  }

.mem-usage{
  font-size: 12px;
  color: #0067ff;
  padding-left: 16px;
  cursor: pointer;
}
.about-mask {
  margin-top: 2px;
  app-icon-static {
    display: block;
    width: 14px;
    height: 14px;
  }
}