<div class="item">

  <div class="label">
    <span tiOverflow>{{ label }}</span>
    <span>
      <img
        *ngIf="isAnnotation"
        [tiTip]="annotationMsg"
        src="./assets/img/summary/tooltip.png" 
        class="img">
    </span>
  </div>

  <span class="value" *ngIf="textInfo != null && !showClick" tiOverflow>{{ textInfo }}
    <img 
      *ngIf="isSuggestion" 
      [tiTip]="suggestionMsg"
      src="./assets/img/rocket.svg"
      class="img">
  </span>

  <span class="value" *ngIf="textInfo != null && showClick" tiOverflow>
    <span style="color: #0067ff;" (click) = "viewMoreDetail()">
      {{ clickValue }}
    </span>
    <span>
      {{ normalValue }}
    </span>
  </span>

  <ng-container *ngIf="textInfo == null">
    <div class="inner-item">
      <app-node-info-panel [nodeInfo]="moreInfo">
      </app-node-info-panel>
    </div>
  </ng-container>
</div>


<app-pop-mask #viewDetailMask>
  <div class="content viewDetail-mask">
    <div class="viewDetail-title">
      <span class="create-title">{{ title }}</span>
      <img class="incorrect" (click)="viewDetailMask.Close()" src="./assets/img/header/close_icon.svg"
        style="cursor:pointer;">
    </div>
    <div class="viewDetail-content">
      <ti-table [(displayedData)]="displayed" [srcData]="srcData">
        <table>
            <thead>
                <tr>
                    <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of displayed;trackBy: trackByFn">
                    <td tiOverflow>{{row.range}}</td>
                    <td tiOverflow>{{row.value}}</td>
                </tr>
            </tbody>
        </table>
    </ti-table>
    </div>
    <div class="bottom-close">
      <button class="closeBtn" type="button" tiButton (click)="viewDetailMask.Close()">{{i18n.message_close}}</button>
    </div>
  </div>
</app-pop-mask>