.item {
  display: flex;
  font-size: 12px;
  line-height: 30px;

  .label {
    display: inline-flex;
    width: 152px;
    color: #616161;
    margin-right: 16px;
    flex-shrink: 0;
  }

  .value {
    color: #222222;
  }
  .img{
    margin-left: 8px;
    width: 14px;
    height: 14px;
  }
}

.viewDetail-mask {
  width: 700px;
  height: 600px;
  padding: 23px 32px 32px 32px;
  box-sizing: border-box;

  .viewDetail-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;

    .create-title {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      color: #222;
      margin-bottom: 22px;
    }
    .incorrect {
      width: 14px;
      height: 14px;
    }
  }
  .viewDetail-content {
    width: 100%;
    height: 428px;
    overflow-y: auto;
    padding: 20px 0 8px;
    box-sizing: border-box;
  }
  .bottom-close {
    height: 95px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;

    .closeBtn {
      width: 88px;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      text-align: center;
      border-radius: 2px;
      color: #222;
      border: 1px solid #979797;
    }
  }
}

