.table-box {
  position: relative;
  display: flex;
}
.table-y {
  width: 10%;
  height: 100%;
}
.over-table {
  height: 100%;
  flex: 1;
}
.line {
  width: 130%;
  height: 2px;
  background: #d4d9e6;
}
.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.title-num {
  text-align: right;
  color: #616161;
}
