
.sys-config-compare {
  height: 100%;

  .diff-icon {
    position: relative;
  }

  .diff-icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    display: block;
    width: 8px;
    height: 8px;
    background: #e2253b;
    border-radius: 50%;
  }
  
  ::ng-deep{
    .ti3-tab-content,.ti3-tabs-container1 {
      padding: 0 2%;
    }
  }
}