<div class="sys-config-compare">
  <ti-tabs class="custom-ti-tabs tab-split-line">
    <hy-backtop [target]="{classes: ['ti3-tab-content']}"></hy-backtop>
    <ti-tab [active]="true">
      <ti-tab-header>
        <span [ngClass]="{'diff-icon': sysConfigDiff?.cpu}">
          CPU
        </span>
      </ti-tab-header>
      <ng-template #tiTabContent>
        <app-sys-config-cpu-compare></app-sys-config-cpu-compare>
      </ng-template>
    </ti-tab>
    <ti-tab>
      <ti-tab-header>
        <span [ngClass]="{'diff-icon': sysConfigDiff?.memory}">
          {{ 'tuninghelper.sysConfigDetail.mem' | i18n }}
        </span>
      </ti-tab-header>
      <ng-template #tiTabContent>
        <app-sys-config-mem-compare></app-sys-config-mem-compare>
      </ng-template>
    </ti-tab>
    <ti-tab>
      <ti-tab-header>
        <span [ngClass]="{'diff-icon': sysConfigDiff?.storage}">
          {{ 'tuninghelper.sysConfigDetail.disk' | i18n }}
        </span>
      </ti-tab-header>
      <ng-template #tiTabContent>
        <app-sys-config-disk-compare></app-sys-config-disk-compare>
      </ng-template>
    </ti-tab>
    <ti-tab>
      <ti-tab-header>
        <span [ngClass]="{'diff-icon': sysConfigDiff?.network}">
          {{ 'tuninghelper.sysConfigDetail.net' | i18n }}
        </span>
      </ti-tab-header>
      <ng-template #tiTabContent>
        <app-sys-config-net-compare></app-sys-config-net-compare>
      </ng-template>
    </ti-tab>
    <ti-tab>
      <ti-tab-header>
        <span [ngClass]="{'diff-icon': sysConfigDiff?.os}">
          {{ 'tuninghelper.sysConfigDetail.osConfig' | i18n }}
        </span>
      </ti-tab-header>
      <ng-template #tiTabContent>
        <app-sys-config-os-compare></app-sys-config-os-compare>
      </ng-template>
    </ti-tab>
  </ti-tabs>
</div>