<div class="control" *ngIf="!isDownload">
    <div class="control-content">
        <button class="control-button" tiButton type="button" color="primary" *ngIf="!snapShot"
            [ngClass]="{ 'disable-btn': startBtnDisabled }" (click)="onControlAnalysis()"
            [disabled]="startBtnDisabled || snapShot">{{!beginFileIo ? i18n.io.beginFileIo : i18n.io.endFileIo }}
        </button>
        <div class="tip"><img [tiTip]='fileIoBtnTip' tiTipPosition="right" src="./assets/img/projects/help.svg"
                *ngIf="!snapShot"></div>
        <div class="control-value" [ngClass]="{'threadHoldBtn': snapShot}">
            <div class="control-value-title">{{i18n.io.threshold}}</div>
            <ti-formfield class="formList" [formGroup]="fileIOGroup">
                <ti-item>
                    <input class="fileIO-threshold" name="spinner" tiValidation
                        tiRequired [disabled]="startBtnDisabled || snapShot || beginFileIo"
                        (blur)="verifySpinnerValue(fileIOBlur)" formControlName="fileIO_duration"/>
                </ti-item>
            </ti-formfield>
            <div class="tip"><img [tiTip]='tipStr' tiTipMaxWidth="450px" tiTipPosition="right"
                    src="./assets/img/projects/help.svg" style="margin-left: 8px;"></div>
        </div>
    </div>
</div>
<div class="file-io" *ngIf="srcDataTable.data.length !== 0 else elseNodata">
    <div class="table">
        <div class="table-content">
            <app-table-search-box [searchOptions]="leftTable.searchOptions" (searchEvent)="searchEvent($event, 'left')">
            </app-table-search-box>
            <ti-table class="margin-spec-top" [(displayedData)]="displayedTable" [srcData]="srcDataTable"
                [columns]="columnsTable" [searchWords]="leftTable.searchWords" [searchKeys]="leftTable.searchKeys"
                [closeOtherDetails]="closeOtherDetails" tiColsResizable>
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                <ng-container *ngFor="let column of columnsTable; let idx = index">
                                    <th width="{{ column.width }}" *ngIf="idx !== 0" tiOverflow>
                                        <ti-cell-text>{{ column.title }}</ti-cell-text>
                                        <ti-head-sort *ngIf="column.isSort" [sortKey]="column.sortKey"></ti-head-sort>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-container ti3-resize-wrapper"
                    [ngStyle]="{'height': expand ? '400px' : '240px', 'min-height': '240px'}">
                    <table>
                        <thead>
                            <tr [ngStyle]="{ opacity: 0 }">
                                <ng-container *ngFor="let column of columnsTable; let idx = index">
                                    <th *ngIf="idx !== 0" tiOverflow width="{{ column.width }}"></th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody class="lastTr">
                            <ng-container *ngFor="let row of displayedTable; index as i">
                                <!-- 第一行 -->
                                <tr [ngStyle]="{'background-color': row.showDetails || row.isSelect ? '#F7FAFF' : '' }"
                                    (click)="onClickTableRow(row, i)"
                                    [ngClass]="{'tr-active': currentEchartsFileName === row.filePath}"
                                    class="border-top">
                                    <td tiOverflow>
                                        <ti-details-icon [row]="row" [index]="i" (beforeToggle)="beforeToggle(row)">
                                        </ti-details-icon>
                                        {{ row.filePath }}
                                    </td>
                                    <td tiOverflow>
                                        {{ onChangeTime(row.duration) }}
                                    </td>
                                    <td width="25%">
                                        <div style="position: relative;">
                                            <span *ngIf="row.count > 0" [ngStyle]="{
                                width: (row.count / row.count) * 100 + '%'
                              }" class="count-fill"></span>
                                            <span class="count-right">{{ row.count}}</span>
                                        </div>
                                    </td>
                                    <td tiOverflow>
                                        {{ row.rCount }}
                                    </td>
                                    <td tiOverflow>
                                        {{ row.wCount }}
                                    </td>
                                    <td tiOverflow>
                                        {{ libService.onChangeUnit(row.rByte) }}
                                    </td>
                                    <td tiOverflow>
                                        {{ libService.onChangeUnit(row.wByte) }}
                                    </td>
                                </tr>
                                <ng-container *ngIf="row.showDetails">
                                    <tr *ngFor="let subRow of formatViewData(row.threads); let idx = index"
                                        (click)="onClickTableRow(subRow, i, idx)"
                                        [ngStyle]="{'background-color': subRow.isSelect ? '#F7FAFF' : '' }"
                                        [ngClass]="{'tr-active': isSubActive(subRow.fd)}" class="border-top">
                                        <td class="td-third">
                                            <span class="blue-first"></span>
                                            <span tiOverflow class="fd">{{ subRow.fd }}</span>
                                        </td>
                                        <td tiOverflow>
                                            {{ onChangeTime(subRow.duration) }}
                                        </td>
                                        <td tiOverflow style="padding: 0;">
                                            <div style="position: relative;">
                                                <span *ngIf="subRow.count > 0"
                                                    [ngStyle]="{width:(subRow.count / row.count) * 100 + '%'}"
                                                    class="count-fill"></span>
                                                <span class="count-right">{{subRow.count}}</span>
                                            </div>
                                        </td>
                                        <td tiOverflow style="padding: 0 10px;">
                                            {{ subRow.readCount }}
                                        </td>
                                        <td tiOverflow>
                                            {{ subRow.writeCount }}
                                        </td>
                                        <td tiOverflow>
                                            {{ libService.onChangeUnit(subRow.readByte) }}
                                        </td>
                                        <td tiOverflow>
                                            {{ libService.onChangeUnit(subRow.writeByte) }}
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="displayedTable.length === 0"
                        [text]="isDownload || isStart ? i18n.common_term_task_empty_data : i18n.plugins_perf_java_profileNoData.fileIo ">
                    </app-default-page>
                </div>
                <ti-pagination [(currentPage)]="leftTable.pageNo" [pageSize]="leftTable.pageSize"
                    [(totalNumber)]="leftTable.total" class="pagination-bottom leftPage"></ti-pagination>
            </ti-table>

        </div>
        <div class="table-time" style="min-width: 509px;">
            <app-table-search-box [searchOptions]="rightTable.searchOptions"
                (searchEvent)="searchEvent($event, 'right')"></app-table-search-box>
            <ti-table class="margin-spec-top" #rightTableComp [(displayedData)]="displayedTableTime"
                [srcData]="srcDataTableTime" [columns]="columnsTableTime" tiColsResizable
                [searchWords]="rightTable.searchWords" [searchKeys]="rightTable.searchKeys">
                <div class="ti3-table-fixed-head" style="width: 100%;">
                    <table>
                        <thead>
                            <tr>
                                <ng-container *ngFor="let column of columnsTableTime;let i = index">
                                    <th width="{{column.width}}">
                                        <ti-cell-text>{{ column.title }}</ti-cell-text>
                                        <ti-head-sort *ngIf="column.isSort" [sortKey]="column.sortKey"></ti-head-sort>
                                        <ti-head-filter *ngIf="column.filter" [options]="column.options"
                                            [(ngModel)]="column.selected" (select)="onTypeSelect()"
                                            [ngClass]="{'ti3-head-filtered': column.selected && column.selected.length}"
                                            [multiple]="column.multiple" [selectAll]="column.selectAll"
                                            [searchable]="column.searchable">
                                        </ti-head-filter>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-container ti3-resize-wrapper" style="width: 100%"
                    [ngStyle]="{'height': expand ? '400px' : '240px', 'min-height': '240px'}">
                    <table>
                        <thead *ngIf="srcDataTable.data.length !== 0">
                            <tr>
                                <th *ngFor="let column of columnsTableTime" tiOverflow width="{{ column.width }}"></th>
                            </tr>
                        </thead>
                        <tbody id="gc_activity_body" *ngIf="srcDataTable.data.length !== 0">
                            <ng-container *ngFor="let item of displayedTableTime; let i = index">
                                <tr [ngStyle]="{'background-color': item.isSelect ? '#F7FAFF' : ''}"
                                    (click)="onClickRightTable(item, i)"
                                    [ngClass]="{'tr-active': rightTableSelected === i}">
                                    <td tiOverflow>{{ item.threadName }}</td>
                                    <td tiOverflow>{{ item.type }}</td>
                                    <td tiOverflow>{{ item.start }}</td>
                                    <td tiOverflow style="padding: 0 10px;">{{ libService.onChangeUnit(item.byte) }}
                                    </td>
                                    <td tiOverflow>
                                        {{ libService.onChangeUnit(item.rate*1024) }}/s</td>
                                    <td tiOverflow>{{ onChangeTime(item.duration) }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="displayedTableTime.length === 0"
                        [text]="isDownload || isStart ? i18n.common_term_task_empty_data : i18n.plugins_perf_java_profileNoData.fileIo">
                    </app-default-page>
                </div>
                <ti-pagination [(currentPage)]="rightTable.pageNo" class="pagination-bottom rightPage"
                    [pageSize]="rightTable.pageSize" [(totalNumber)]="rightTable.total"></ti-pagination>
            </ti-table>
        </div>
        <div class="table-expand">
            <hy-theme-content [hidden]="expand" (click)="onClickExpand()">
                <app-icon-react name="expandDown" light></app-icon-react>
                <app-icon-react name="expandDownDark" dark></app-icon-react>
            </hy-theme-content>
            <hy-theme-content [hidden]="!expand" (click)="onClickExpand()">
                <app-icon-react name="expandUp" light></app-icon-react>
                <app-icon-react name="expandUpDark" dark></app-icon-react>
            </hy-theme-content>
        </div>
    </div>
    <div class="echarts">
        <div class="echarts-title">
            <span>{{echartsTitle}}</span>
            <span class="fileName">{{currentEchartsFileName}}</span>
        </div>
        <div style="width: 100%;margin-top: 46px;">
            <app-time-line [timeData]='timeData' (timeLineData)='timeLineData($event)' #timeLineDetail></app-time-line>
        </div>

        <div class="echarts-content">
            <div class="myecharts" [id]="chartId + 'main'" echarts [options]="echartsOption" [merge]="updateOptions"
                (chartInit)="onChartInit($event)"></div>
        </div>
    </div>
    <div class="stack">
        <div class="config-title">
            {{ i18n.protalserver_sampling_lock_stack }}
            <app-stack-tip></app-stack-tip>
        </div>
        <div class="stack-tree">
            <ti-tree class="fileIotree" [data]="stackTranceData" (select)="onSelect()">
                <ng-template let-item let-i="index">
                    <span tiOverflow tiTipPosition="right" style="vertical-align: middle;">
                        <p class="stack-item-label">
                            <span class="expandAll" *ngIf="!item.expanded  && item.children && item.children.length"
                                (click)="expandAllNode(item)">
                                <img src="./assets/img/profiling/expandAll.svg">
                            </span>
                            <span class="expandAll" *ngIf="item.expanded && item.children && item.children.length"
                                (click)="expandAllNode(item)">
                                <img src="./assets/img/profiling/notExpandAll.svg">
                            </span>
                            <span class="count-block"
                                [ngStyle]="{'width': ((item.count / item.parentCount) * 150) + 'px' }"></span>
                            <span>{{ item.count }} Count - {{ item.label }}</span>
                        </p>
                    </span>
                </ng-template>
            </ti-tree>
        </div>
    </div>
</div>

<ng-template #elseNodata>
    <app-loading *ngIf="snapShot" [size]="'max'" [height]="'760px'" [bgColor]="'transparent'"></app-loading>
</ng-template>
<app-default-page *ngIf="srcDataTable.data.length === 0 && showLoading && !snapShot" [height]="'calc(80vh - 98px)'"
    [bgColor]="'#1e1e1e'" [scene]="'creatingTask'" [text]="i18n.common_term_file_IO_profiling">
</app-default-page>
<app-default-page *ngIf="srcDataTable.data.length === 0 && !showLoading && !snapShot" [height]="'calc(80vh - 98px)'"
    [bgColor]="'#1e1e1e'"
    [text]="isDownload ? i18n.common_term_task_nodata : i18n.plugins_perf_java_profileNoData.fileIo">
</app-default-page>

<ng-template #tipSnapshot let-context='context'>
    <div class="snap_title">{{i18n.snapshot_analysis}}</div>
    <div class="snap_content">
        <span>{{i18n.snapshot_analysis_content1}}</span>
        <span style="color: #3266C3 ;cursor: pointer;"
            (click)="jumpToSnapShot()">{{i18n.snapshot_analysis_content2}}</span>
        <span>{{i18n.snapshot_analysis_content3}}</span>
    </div>
</ng-template>