<div class="consume-io-process">
  <div class="consume-table">
    <app-common-table [commonTableData]="ioProcessTable">
      <ng-template let-displayed let-columns="columns">
        <tbody>
          <ng-container *ngFor="let row of displayed;index as i">
            <tr>
              <ng-container *ngFor="let column of columns;">
                <ng-container *ngIf="column.key === 'PID' else other">
                  <td tiOverflow>
                    <span [ngClass]="{'view-stacks': row[column.key] !== '-' }" (click)="viewDetailsPID(viewStack, row)">
                      {{ row[column.key] }}
                    </span>
                  </td>
                </ng-container>
                <ng-template #other>
                  <ng-container *ngIf="column.key === 'command'">
                    <td *ngIf="row.tip && row[column.key] !== '--'" [tiTip]='row.tip'>{{ row[column.key] }}</td>
                    <td *ngIf="row[column.key] === '--'">{{ row[column.key]}}</td>
                  </ng-container>
                  <ng-container *ngIf="column.key !== 'command'">
                    <td tiOverflow>{{ row[column.key] || '--' }}</td>
                  </ng-container>
                </ng-template>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </ng-template>
    </app-common-table>
  </div>
</div>

<ng-template #viewStack let-context='context'>
  <ti-modal-header>
    PID {{ selectPID.PID }}
  </ti-modal-header>
  <ti-modal-body> 
    <!-- CPU/内存消耗 -->
    <div class="table-title">{{i18n.disgnose.netIO.memoryConsumption}}</div>
    <app-common-table [commonTableData]="cpuMemoryConsumeTable"
      [isFilters]="cpuMemoryConsumeTable.isFilters" [isDetails]="cpuMemoryConsumeTable.isDetails"></app-common-table>

    <!-- CPU亲和性 -->
    <div class="table-title">{{i18n.disgnose.netIO.CPUAffinity}}</div>
    <app-common-table [commonTableData]="cpuAffinityTable" [isDetails]="cpuAffinityTable.isDetails"></app-common-table>
    
    <!-- 内存亲和性 -->
    <div class="table-title">{{i18n.disgnose.netIO.memoryAffinity}}</div>
    <app-common-table [commonTableData]="memoryAffinityTable"></app-common-table>

    <!-- 内存段NUMA分布 -->
    <div class="table-title">{{i18n.disgnose.netIO.memDis}}</div>
    <app-common-table [commonTableData]="numAllocationTable" [isFilters]="numAllocationTable.isFilters"></app-common-table>
  </ti-modal-body>

  <ti-modal-footer>
    <div >
      <button tiButton (click)="context.dismiss()">{{i18n.common_term_operate_close}}</button>
    </div>
  </ti-modal-footer>
</ng-template>
