.distributedBox {
  .titleBox {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    padding-top: 7px;
    height: 18px;
    background: #f5f9ff;
    .formContent {
      display: flex;
      font-size: 12px;
      color: #222222;
      line-height: 18px;
      margin-right: 24px;
      .formTitle {
        color: #616161;
        margin-right: 8px;
      }
    }
  }
  .distributedConfigBox {
    margin-top: 10px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    background: #edf4ff;
    .istributedConfigIcon {
      height: 15px;
      width: 15px;
      margin-right: 17px;
    }
    .istributedConfigContent {
      font-size: 14px;
      color: #222222;
      line-height: 20px;
      span {
        color: #0067ff;
        margin-right: 4px;
        cursor: pointer;
      }
    }
  }
  .distributedConfig {
    height: 32px;
    margin-top: 20px;
    display: flex;
    p {
      margin-right: 16px;
      font-size: 20px;
      color: #222222;
      line-height: 32px;
    }

    .typicalConfig {
      display: inline-block;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
  .congfigContent {
    margin-top: 20px;
    margin-bottom: 32px;
    display: flex;
    .distributedTitle {
      font-size: 14px;
      color: #222222;
      height: 30px;
      border-bottom: 1px dashed #e1e6ee;
    }
    .distributedHard,
    .distributedSystem,
    .distributedComponent {
      min-width: calc((100% - 80px) / 3);
      margin-right: 40px;
      .distributedContentBox {
        overflow-y: auto;
        padding-right: 10px;
        div {
          height: 18px;
          display: flex;
          align-items: center;
          margin-top: 12px;
          font-size: 12px;
          line-height: 18px;
          .left-title {
            color: #616161;
            margin-right: 16px;
            min-width: 200px;
            max-width: 200px;
            display: flex;
          }
          span {
            color: #222222;
          }
          img {
            min-height: 16px;
            min-width: 16px;
            margin-left: 8px;
            margin-top: 2px;
          }
        }
      }
      .Nodata {
        height: 173px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .distributedSystem {
      .distributedContentBox {
        div {
          .left-title {
            min-width: 200px;
            max-width: 200px;
          }
        }
      }
    }
    .distributedComponent {
      margin-right: 0px;
      .distributedContentBox {
        div {
          .left-title {
            min-width: 256px;
            max-width: 256px;
          }
        }
      }
    }
  }
  .preStyle {
    height: 204px;
    .distributedHard,
    .distributedSystem,
    .distributedComponent {
      .distributedContentBox {
        max-height: 173px;
      }
    }
  }
}
.viewDetail-mask {
  width: 700px;
  max-height: 700px;
  padding: 24px 32px;
  position: relative;
  .viewDetail-title {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px #e1e6ee;
    padding-bottom: 21px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .box {
    background: #f0f3fa;
    .raidConfig {
      height: 80px;
      .raidConfigContent {
        height: 20px;
        margin-top: 20px;
        display: flex;
        margin-left: 24px;
        span {
          width: 100px;
          font-family: "huawei sans";
          font-size: 12px;
          color: #616161;
          margin-right: 24px;
          line-height: 20px;
        }
        div {
          font-size: 14px;
          font-family: "huawei sans";
          color: #222222;
          line-height: 20px;
        }
      }
    }
  }
  .box:first-child {
    .box-title {
      border-top: 1px solid #e6ebf5;
    }
  }
  .box-title {
    position: relative;
    padding-left: 21px;
    height: 48px;
    line-height: 48px;
    background: white;
    border-bottom: 1px solid #e6ebf5;
    .titleDetail {
      display: flex;
      align-items: center;
      height: 18px;
      top: 15px;
      position: absolute;
      right: 0px;
      z-index: 99;
      div {
        width: 130px;
        border-left: 2px solid #e1e6ee;
        padding: 0px 15px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .left-box {
      width: 72%;
      margin-right: 7%;
    }
    .right-box {
      width: 21px;
    }
  }
  .box-content {
    background: white;
    margin-left: 41px;
    border-left: solid 2px #6c92fa;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
  .box-content.active {
    max-height: 6000px;
    transition: max-height 0.1s cubic-bezier(1, 0, 1, 0);
  }
  .title-icon {
    margin-right: 5px;
    transition: 0.5s linear;
    position: relative;
    top: 1px;
  }
  .title-icon.active {
    transform: rotate(90deg);
  }
  .box-config-content {
    margin-left: 24px;
    min-height: 18px;
    color: #222222;
    font-size: 12px;
    margin-top: 20px;
    line-height: 18px;
    display: flex;
    p {
      min-width: 234px;
      margin-right: 16px;
    }
    div {
      display: flex;
      flex-direction: column;
      max-width: 375px;
      span {
        margin-top: 10px;
        width: 375px;
      }
      span:first-child {
        margin-top: 0px;
      }
    }
  }
  .box-distributed-content {
    overflow-y: auto;
    margin-bottom: 72px;
    height: 450px;
    max-height: 557px;
  }
  .closeBtn {
    width: 88px;
    height: 32px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -44px;
  }
}
.configNodata {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6ebf5;
}
.nodeData {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tableFirstData {
  margin-left: 14px;
}
:host ::ng-deep .ti3-table > table > thead > tr > th {
  background-color: #fff !important;
}
//表头分割线颜色
:host
  ::ng-deep
  .box-content
  .ti3-table
  > .ti3-resize-wrapper
  > table
  > thead
  > tr
  > th:not(:last-child)::after,
.ti3-table
  > .ti3-table-container
  > table
  > thead
  > tr
  > th:not(:last-child)::after,
.ti3-table
  > .ti3-table-fixed-head
  > table
  > thead
  > tr
  > th:not(:last-child)::after,
.ti3-table > table > thead > tr > th:not(:last-child)::after {
  background: #e6ebf5;
}

//tr上边线
:host
  ::ng-deep
  .box-content
  .ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr
  > td,
.ti3-table > .ti3-table-container > table > tbody > tr > td,
.ti3-table > .ti3-table-fixed-head > table > tbody > tr > td,
.ti3-table > table > tbody > tr > td {
  border-bottom: 1px solid #e6ebf5;
}
:host ::ng-deep .ti3-table > table > thead > tr > th {
  border-bottom: 1px solid #e6ebf5;
}
.search.ti3-searchbox-container {
  width: 100%;
  margin: 10px 0 -2px 0;
}

.ti3-close {
  top: 26px;
  right: 32px;
}

.viewDetail-mask .box-content {
  .splitsClass {
    position: relative;
    margin-bottom: 28px;
    padding-bottom: 28px;
    border-bottom: 1px dashed #e1e6ee;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.distributedContentBox {
  max-height: 562px;
}
.distributedComponent .distributedContentBox {
  max-height: 520px;
}
@media only screen and (max-height: 900px) and (min-height: 768px) {
  .distributedContentBox {
    max-height: 382px;
  }
  .distributedComponent .distributedContentBox {
    max-height: 340px;
  }
}

@media only screen and (max-height: 768px) {
  .distributedContentBox {
    max-height: 252px;
  }
  .distributedComponent .distributedContentBox {
    max-height: 210px;
  }
}