:root,
:root .vscode-light,
:root .vscode-dark {
    /*不同主题下通用的色值*/
    --ti-base-color-brand: #0067ff;
    --normal-color: #0067ff;
    --hover-color: #267dff;
    --click-color: #0057d9;
    --input-error-color: #ed4b4b;
    --white-color: #ffffff;

    button {
        min-width: 88px !important;
    }
    
    .ti3-form .ti3-form-label{
      font-size: 14px !important; 
    }
    
    --ti-default-font-size: 12px;
    --tab-font-size-base: 14px;
    // 行间距
    --ti-common-space-base: 4px;
    --ti-common-space-5x: calc(var(--ti-common-space-base) * 5);
    --ti-common-space-10: 10px;
    --ti-common-space-12: 12px;
    --ti-common-line-height-number: 1.5; // 1.5可能是21px 

    /* ---------------button config----Start----------------------------------------------*/
    --ti-button-middle-height: 28px; //中尺寸按钮高度
    --ti-button-middle-padding-horizon: var(--ti-common-space-5x); //中尺寸按钮内边距
  
    --ti-button-default-normal-color: var(--ti-default-font-color);
    --ti-button-default-normal-bg-color: var(--button-default-bg-color);
    --ti-button-default-normal-border-color: var(--default-border-color);
  
    --ti-button-default-color-hover: var(--hover-color);
    --ti-button-default-bg-color-hover: var(--button-default-bg-color);
    --ti-button-default-border-color-hover: var(--hover-color);
  
    --ti-button-default-color-active: var(--click-color);
    --ti-button-default-bg-color-active: var(--button-default-bg-color);
    --ti-button-default-border-color-active: var(--click-color);
  
    --ti-button-default-color-disabled: var(--disabled-color);
    --ti-button-default-bg-color-disabled: var(--disabled-bg-color);
    --ti-button-default-border-color-disabled: var(--disabled-color);
  
    --ti-button-primary-normal-color: var(--white-color);
    --ti-button-primary-normal-bg-color: var(--normal-color);
    --ti-button-primary-normal-border-color: var(--normal-color);
  
    --ti-button-primary-color-hover: var(--white-color);
    --ti-button-primary-bg-color-hover: var(--hover-color);
    --ti-button-primary-border-color-hover: var(--hover-color);
  
    --ti-button-primary-color-active: var(--white-color);
    // 因base文件不涉及此种场景，所以此处直接使用颜色值定义。
    --ti-button-primary-bg-color-active: var(--click-color);
    --ti-button-primary-border-color-active: var(--click-color);
  
    --ti-button-primary-color-disabled: var(--disabled-color);
    --ti-button-primary-bg-color-disabled: var(--disabled-bg-color);
    --ti-button-primary-border-color-disabled: var(--disabled-color);
    /* ---------------button config----END----------------------------------------------*/
  
    /* ---------------pagination config----START----------------------------------------------*/
    --ti-pagination-height: 24px;
    --ti-pagination-margin-top-table: 10px;
    // Defalut
    --ti-pagination-bg-color: var(--ti-default-body-bg);
    --ti-pagination-border-color: var(--ti-default-body-bg);
    --ti-pagination-border-color-hover: var(--hover-color);
    --ti-pagination-text-color: var(--ti-default-font-color);
    // hover
    --ti-pagination-text-color-hover: var(--white-color);
    --ti-pagination-bg-color-hover: var(--hover-color);
    --ti-pagination-text-color-active-hover: var(--white-color);
    --ti-pagination-bg-color-active-hover: var(--hover-color);
    // disable
    --ti-pagination-total-disable: var(--disabled-color);
    --ti-pagination-bg-color-disabled: var(--white-color);
    --ti-pagination-text-color-disabled: var(--disabled-color);
    --ti-pagination-icon-color-disabled: var(--disabled-color);
    // active 选中的背景和字体色
    --ti-pagination-text-color-active: var(--white-color);
    --ti-pagination-bg-color-active: var(--normal-color);
    --ti-pagination-text-color-active-active: var(--white-color);
    --ti-pagination-bg-color-press: var(--click-color);
    // Selector
    --ti-pagination-prev-next-color: var(--ti-default-font-color);
    --ti-pagination-prev-next-width: 22px;
    --ti-pagination-button-bg-active: var(--hover-color);
    --ti-pagination-prev-next-color-active: var(--click-color);
  
    --ti-pagination-goto-icon-color: var(--ti-default-font-color);
    --ti-pagination-goto-input-width: 45px;
    --ti-pagination-goto-input-color: var(--ti-default-font-color);
    --ti-pagination-text-min-width: 20px;
    --ti-pagination-border-radius: var(--ti-common-border-radius-normal);
    --ti-pagination-select-padding-left: var(--ti-common-space-10);
    /* ---------------pagination config----END----------------------------------------------*/
    /* ---------------Select config----START----------------------------------------------*/
    // tag组件
    --ti-tag-bg-color: var(--ti-common-color-bg-normal); /* tag的背景色*/
    --ti-tag-bg-color-disabled: var(--ti-common-color-bg-disabled); /* tag灰化的背景色*/
    --ti-tag-text-color: var(--ti-common-color-text-secondary); /* tag的文本, 未使用?*/
    --ti-tag-text-color-hover: var(--normal-color); /* 文本hover颜色*/
    --ti-tag-text-color-disabled: var(--ti-common-color-text-disabled); /* 文本灰化颜色*/
    --ti-tag-icon-color: var(--ti-common-color-icon-graybg-normal); /* tag叉号的颜色*/
    --ti-tag-icon-color-hover: var(--normal-color); /* tag叉号的hover颜色*/
    --ti-tag-icon-color-disabled: var(--ti-common-color-icon-graybg-disabled); /* tag叉号的灰化颜色*/
    --ti-tag-icon-color-clear-hover: var(--ti-common-color-icon-hover);
  
    // dominator
    --ti-dominator-select-arrow-color: var(--ti-default-font-color); // 右侧箭头颜色
    --ti-dominator-select-arrow-color-disabled: var(
      --disabled-color
    ); // 右侧小按钮灰化的颜色
    --ti-dominator-multiselect-box-cell-border-color-disabled: var(
      --disabled-color
    ); // 多选灰化的边框色、多选下拉选项复选框的边框色
    --ti-dominator-select-clear-color: var(--disabled-color); // 清除图标按钮颜色
  
    // list
    --ti-select-item-bg-color-hover: var(--select-bg-color-hover); // 下拉选项hover颜色
    --ti-select-item-text-color-hover: var(--ti-default-font-color); // 下拉选项文本hover颜色
    --ti-select-item-selected-bg-color: var(--normal-color); // 下拉选项选中的背景色
    --ti-select-item-selected-text-color: var(--white-color); // 下拉选项选中项文本颜色
    --ti-select-text-color-disabled: var(--disabled-color); // 文本灰化颜色
    --ti-select-group-color: var(--ti-default-font-color); // 分组的文本颜色
    --ti-select-border-color-focus: var(--hover-color); // 下拉边框颜色
  
    // select-small
    --ti-select-small-height: var(--ti-pagination-height);
    --ti-select-small-dominator-text-left-padding: var(--ti-common-space-10);
    --ti-select-small-triangle-position-right: 9px;
    /* ---------------Select config----END----------------------------------------------*/
    /* ---------------table config----START----------------------------------------------*/
    // 基础样式
    --ti-table-th-height: 32px;
    --ti-table-th-bg-color: var(--table-header-bg-color);
    --ti-table-th-text-color: var(--table-header-text-color);
    --ti-table-th-spacing-line-color: var(--white-color);
    --ti-table-th-text-font-weight: 500;
    --ti-table-border-bottom-color: var(--table-border-bottom-color);
    --ti-table-td-text-color: var(--ti-default-font-color);
    --ti-table-td-padding: var(--ti-common-space-12) var(--ti-common-space-10);
    --ti-table-td-line-height: var(--ti-common-line-height-number);
    --ti-table-small-th-height: var(--ti-table-th-height);
    --ti-table-small-td-horizontal-padding: 10px;
    --ti-table-small-td-vertical-padding: var(--ti-common-space-2x);
    --ti-table-small-td-height: 32px;
    --ti-table-nest-th-height: var(--ti-table-small-th-height);
    --ti-table-nest-td-height: var(--ti-table-small-td-height);
    --ti-table-nest-td-border-bottom-color: var(--ti-table-border-bottom-color);
    --ti-table-tr-bg-color: var(--ti-default-body-bg);
    --ti-table-tr-bg-color-hover: var(--ti-table-th-bg-color);
    --ti-table-tr-bg-color-selected: var(--ti-table-tr-bg-color);
    --ti-table-tr-text-color-disabled: var(--ti-common-color-text-disabled);
    --ti-table-tr-bg-color-disabled: var(--ti-common-color-bg-disabled);
    --ti-table-tr-bg-color-nodata: var(--ti-table-tr-bg-color);
    --ti-table-tr-bg-color-nodata-color: var(--ti-common-color-text-link);
    --ti-table-tr-bg-color-nodata-color-hover: var(--ti-common-color-text-link-hover);
    --ti-table-nodata-td-color: var(--ti-common-color-text-secondary);
    --ti-table-nodata-height: 210px;
    --ti-table-small-nodata-height: 295px;
    --ti-table-nodata-td-font-size: var(--ti-common-font-size-1);
    // 表格为空
    --ti-table-nodata-lead-icon-height: 100px;
    // 列拖动
    --ti-table-col-resize-line: 1px dashed var(--ti-common-color-line-dividing);
    // 列隐藏和显示
    --ti-table-cols-toggle-menu-color: var(--ti-common-color-icon-normal);
    --ti-table-cols-toggle-menu-size: 48px;
    --ti-table-cols-toggle-menu-font-size: var(--ti-common-font-size-2);
    --ti-table-cols-toggle-menu-line-height: 48px;
    --ti-table-cols-toggle-menu-color-hover: var(--ti-common-color-icon-hover);
    --ti-table-cols-toggle-menu-color-disabled: var(
      --ti-common-color-icon-disabled
    );
    --ti-table-cols-toggle-menu-border-color: var(--ti-common-color-line-normal);
    --ti-table-cols-toggle-dropdown-border-radius: var(
      --ti-common-border-radius-normal
    );
    --ti-table-cols-toggle-dropdown-box-shadow: var(--ti-common-shadow-2);
    --ti-table-cols-toggle-dropdown-border-color: rgba(0, 0, 0, 0.2);
    // 排序样式
    --ti-table-sort-icon-color-active: var(--ti-common-color-icon-active);
    --ti-table-sort-color-hover: var(--ti-common-color-icon-hover);
    // 详情展开
    --ti-table-details-icon-color-hover: var(--ti-common-color-icon-hover);
    --ti-table-details-icon-color: var(--ti-common-color-icon-normal);
    --ti-table-details-bg-color: var(--ti-common-color-bg-white-emphasize);
    --ti-table-details-padding: 0;
    --ti-table-small-details-padding: var(--ti-common-space-5x);
    // tree
    --ti-table-tree-minus-square-color: var(--ti-common-color-icon-active);
    --ti-table-tree-minus-square-color-hover: var(--ti-common-color-icon-hover);
    --ti-table-tree-plus-square-color: var(--ti-common-color-icon-normal);
    --ti-table-tree-square-bg: var(--ti-default-body-bg);
    --ti-table-tree-square-right-space: var(--ti-common-space-2x);
    --ti-table-tree-square-icon-font-size: 16px;
    // 图标间距和宽度
    --ti-table-column-icon-left-space: var(--ti-common-space-5x);
    --ti-table-column-icon-right-space: var(--ti-common-space-6);
    --ti-table-column-select-icon-width: 32px;
    --ti-table-column-icon-width: 42px;
    /* ---------------table config----END----------------------------------------------*/
    /* ---------------input----START----------------------------------------------*/
    // 正常状态下变量定义
    --ti-input-height: 28px;
    --ti-input-font-size: var(--ti-default-font-size);
    --ti-input-border-radius: var(--ti-common-border-radius-normal);
    --ti-input-padding-horizontal: var(--ti-common-space-10);
    --ti-input-placeholder-color: var(--input-placeholder-color);
  
    --ti-input-border-color: var(--input-placeholder-color);
    --ti-input-text-color: var(--ti-default-font-color);
    --ti-input-bg-color: var(--ti-default-body-bg);
    --ti-input-clear-color: var(--ti-common-color-icon-normal);
  
    // 灰化状态下可变变量定义
    --ti-input-border-color-disabled: var(--disabled-color);
    --ti-input-text-color-disabled: var(--disabled-color);
    --ti-input-bg-color-disabled: var(--disabled-bg-color);
    --ti-input-clear-color-disabled: var(--ti-common-color-icon-disabled);
  
    // hover状态下可变变量定义
    --ti-input-border-color-hover: var(--normal-color);
    --ti-input-clear-color-hover: var(--ti-common-color-icon-hover);
  
    // focus状态下可变变量定义
    --ti-input-border-color-focus: var(--normal-color);
  
    // 错误状态下可变变量定义
    --ti-input-border-color-error: var(
      --input-error-color
    ); // TODO:与alert边框色不同
    --ti-input-bg-color-error: var(--ti-default-body-bg);
    // 错误提示图标及字体大小及颜色
    --ti-valid-error-icon-size: 20px;
    --ti-valid-error-color: var(
      --input-error-color
    ); // 错误情况下变量定义，包含error icon和error text
  
    --ti-textarea-padding-vertical: var(--ti-common-space-10);
    --ti-textarea-min-height: 82px;
    --ti-textarea-counter-text-color: var(--ti-default-font-color);
    --ti-textarea-counter-inputed-text-color: var(--ti-default-font-color);
    /* ---------------input----END------------------------------------------------*/
    /* ---------------tab config----START----------------------------------------------*/
    --ti-tab-border-color: var(--white-color);
    --ti-tab-border-color-hover: var(--white-color);
    --ti-tab-header-text-color: var(--table-header-text-color);
    --ti-tab-header-text-color-hover: var(--ti-default-font-color);
    --ti-tab-header-text-color-active: var(--normal-color);
    --ti-tab-header-text-color-active-font-weight: normal;
    --ti-tab-header-font-size: var(--tab-font-size-base);
    --ti-tab-header-border-bottom-active: 3px solid var(--normal-color);
    --ti-tab-second-level-header-text-color-active: var(--normal-color);
    --ti-tab-second-level-header-text-color-hover: var(--ti-default-font-color);
    // 以上变量规范暂无，暂未做修改
    --ti-tab-dark-text-color: var(--ti-common-color-text-darkbg);
    --ti-tab-dark-text-color-hover: var(--ti-common-color-text-white);
    --ti-tab-dark-text-color-active: var(--ti-common-color-text-primary);
    --ti-tab-dark-bg-color: var(--ti-common-color-bg-dark-normal);
    --ti-tab-dark-bg-color-hover: var(--ti-common-color-bg-dark-emphasize);
    --ti-tab-dark-bg-color-avtive: var(--ti-common-color-bg-normal);
    --ti-tab-dark-color-disabled: var(--ti-common-color-text-gray-disabled);
    --ti-tab-dark-padding-horizon: var(--ti-common-space-6x);
    --ti-tab-dark-border-radius: var(--ti-common-border-radius-normal)
      var(--ti-common-border-radius-normal) 0 0;
    /* ---------------tab config----END----------------------------------------------*/
    /* ---------------switch config----START----------------------------------------------*/
    --ti-switch-track-on-bg-color: var(--normal-color);
    --ti-switch-track-on-bg-color-hover: var(--hover-color);
    --ti-switch-track-off-bg-color: var(--input-placeholder-color);
    --ti-switch-track-off-bg-color-hover: var(--hover-color);
    --ti-switch-track-bg-color-disabled: var(--disabled-color);
  
    /* ---------------checkbox config----START----------------------------------------------*/
    --ti-checkbox-size: 16px;
    --ti-checkbox-mark-size: calc(var(--ti-checkbox-size) - 2px);
    --ti-checkbox-bg-color: var(--white-color);
    --ti-checkbox-label-color: var(--table-header-text-color);
    --ti-checkbox-border-radius: var(--ti-common-border-radius-normal);
    --ti-checkbox-label-right-space: calc(var(--ti-common-space-base) * 2);
    // checked
    --ti-checkbox-mark-color: var(--white-color); // 选中时的勾号颜色
    --ti-checkbox-bg-color-checked: var(--normal-color); // 选中状态下的复选框背景颜色
    --ti-checkbox-border-color: var(--ti-common-color-line-normal);
    --ti-checkbox-bg-color-checked-hover: var(--normal-color);
    --ti-checkbox-border-color-checked: var(--normal-color);
    --ti-checkbox-bg-color-checked-active: var(--normal-color);
    --ti-checkbox-label-color-checked: var(--ti-common-color-text-white);
    //active not checked
    --ti-checkbox-bg-color-unchecked-active: var(--ti-checkbox-bg-color);
    --ti-checkbox-border-color-unchecked-active: var(
      --ti-checkbox-border-color-hover
    );
    // hover
    --ti-checkbox-border-color-hover: var(--normal-color);
    // disabled
    --ti-checkbox-bg-color-disable: var(--ti-common-color-bg-disabled);
    --ti-checkbox-mark-color-disabled: var(
      --ti-common-color-icon-disabled
    ); // 选中时的勾号颜色
    --ti-checkbox-label-color-disabled: var(--ti-common-color-text-disabled);
    --ti-checkbox-border-color-checked-disabled: var(
      --ti-common-color-line-disabled
    );
    --ti-checkbox-border-color-unchecked-disabled: var(
      --ti-common-color-line-disabled
    );
    /* ---------------checkbox config----END----------------------------------------------*/
    .ti3-switch.ti3-switch-off .ti3-switch-track {
        height: 16px !important;
        top: 4px !important;
    }
    .ti3-switch.ti3-switch-on .ti3-switch-track {
        height: 16px !important;
        top: 4px !important;
    }
    .ti3-switch.ti3-switch-on .ti3-switch-pointer {
        left: 22px !important;
        top: 4px !important;
    }
    .ti3-switch.ti3-switch-off .ti3-switch-pointer {
        left: 0px !important;
        top: 4px !important;
    }
    /* ---------------switch config----END----------------------------------------------*/
    /* ---------------spinner config----START----------------------------------------------*/
    .ti3-spinner-upicon:not(disabled):hover,
    .ti3-spinner-downicon:not(disabled):hover {
        color: var(--click-color);
    }
    ti-spinner[disabled] .ti3-spinner-upicon,
    ti-spinner[disabled] .ti3-spinner-downicon {
        cursor: not-allowed !important;
        background-color: var(--disabled-bg-color);
        color: var(--disabled-color);
    }
    .ti3-icon-minus-square:before,
    .ti3-icon-plus-square:before {
        font-size: 16px !important;
    }
    /* ---------------spinner config----END----------------------------------------------*/
    .ti3-table > .ti3-table-fixed-head > table > thead > tr > th,.ti3-table > table > tbody > tr > td,.ti3-table > table > thead > tr > th{
        border-bottom: 0px solid var(--ti-table-border-bottom-color);
    }
}
