@import "./style.scss";

:root .vscode-dark {
  --ti-default-body-bg: #1e1e1e;
  --ti-default-font-color: #aaaaaa;
  --default-border-color: #dddddd;
  --disabled-color: #616161;
  --disabled-bg-color: #313131;
  --table-header-bg-color: #2a2a2a;
  --table-header-text-color: #e8e8e8;
  --input-placeholder-color: #aaaaaa;
  --table-border-bottom-color: #545454;
  --table-count-bg-color: #5d89d8;
  --select-bg-color-hover: #e8e8e8;
  --ti-tree-item-guide-line-color: #e1e6ee;
  --ti-tree-node-bg-color-checked: rgba(0, 103, 255, 0.08);
  --ti-tree-content-box-color-hover: #f5f9ff;
  --button-default-bg-color: #313131;
  /* modal start */
  --ti-modal-content-bg-color: #252526;
  --ti-modal-header-text-color: #e8e8e8;
  /* modal end */
  --edit-border-hover-clr:#0067FF;
  --ti3-tooltip-text-color:#aaaaaa;
  --ti3-tooltip-background-color:#252526;
}
