@import "./style.scss";

:root,
:root .vscode-light {
  --ti-default-body-bg: #ffffff;
  --ti-default-font-color: #222222;
  --default-border-color: #979797;
  --disabled-color: #cccccc;
  --disabled-bg-color: #f5f5f5;
  --table-header-bg-color: #f5f9ff;
  --table-header-text-color: #616161;
  --input-placeholder-color: #979797;
  --table-border-bottom-color: #e1e6ee;
  --table-count-bg-color: #5d89d8;
  --select-bg-color-hover: #f5f9ff;
  --ti-tree-item-guide-line-color: #e1e6ee;
  --ti-tree-node-bg-color-checked: rgba(0, 103, 255, 0.08);
  --ti-tree-content-box-color-hover: #f5f9ff;
  --button-default-bg-color: #ffffff;
  /* modal start */
  --ti-modal-content-bg-color: #fff;
  --ti-modal-header-text-color: #333;
  /* modal end */
  --edit-border-hover-clr:#0067FF;
}
