.overview-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 50px);
    overflow: hidden;

    .thread-tabs {
        width: 100%;
        margin-bottom: 20px;
        display: flex;

        .item-tab {
            display: inline-block;
            cursor: pointer;
            display: flex;
            line-height: 28px;

            .tab-label {
                padding: 0 16px;
                font-size: 14px;
            }

            .tab-label:hover {
                color: #267dff;
            }

            .tab-label-first {
                padding-left: 0;
            }

            .item-split-none {
                border-right: none;
            }
            .item-tab-line {
                right: 1px;
                width: 1px;
                height: 10px;
                margin-top: 9px;
                position: relative;
            }
        }

        .item-tab:last-child .item-tab-line {
            display: none;
        }

        .item-tab div .item-tab-line-underscore {
            left: calc((100% - 30px) / 2);
        }

        .item-tab:first-child div .item-tab-line-underscore {
            left: calc((100% - 30px) / 2 - 8px) !important;
        }

        .item-tab:hover {
            color: #0067ff;
        }

        .tab-active {
            padding-bottom: 5px;
        }
    }

    .thread-header,
    .thread-content,
    .x-labels {
        min-width: 750px;
    }

    .x-labels {
        padding: 0px 0px 20px 300px;
        display: flex;
        color: var(--time-x-label-color);
        font-size: 12px;
        text-align: center;
        box-sizing: border-box;
        margin-right: 60px;
    }

    .thread-header {
        display: flex;
        height: 28px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        ::ng-deep app-table-search-box {
            margin: 0 24px;

            .table-search-box {
                width: 260px;
                margin-bottom: 0;
            }
        }

        .thread-header-select {
            flex: 1;
            display: flex;
            align-items: center;

            & > span {
                margin-right: 16px;
            }

            ti-select {
                width: 260px;

                &:not([disabled])[tiFocused] {
                    border-color: #0067ff !important;

                    ::ng-deep .ti3-select-dominator-dropdown-btn::after {
                        transform: rotate(180deg);
                    }
                }
            }

            ::ng-deep ti-dominator.ti3-multiselect-container {
                height: 28px;

                .ti3-placeholder {
                    color: #aaa !important;
                }

                section > ti-tag.ti3-multiselect-box-cell {
                    color: #e8e8e8;
                    background-color: #313131;

                    & > section:nth-of-type(1) {
                        width: 50px;
                        font-size: 12px;
                    }

                    & > section:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }

        .thread-legend {
            line-height: 20px;
            display: flex;
            margin-top: 10px;
            & > span {
                .legend-icon {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                }

                .legend-label {
                    padding-left: 7px;
                }
            }
        }
    }

    .thread-content {
        height: calc(100vh - 240px);
        overflow-y: auto;

        .chart-box {
            display: flex;
            flex-direction: row;
        }

        .left {
            width: 300px;

            .thread-list {
                position: relative;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .right {
            flex: 1;
            background: white;
            position: relative;
        }

        .right-bg {
            position: absolute;
            width: 96%;
            height: 100%;
            left: 2%;
        }
    }

    .graph-btn {
        background: #0067ff !important;
        border: none !important;
        border-radius: 2px;
        color: var(--primary-button-font-color);
        cursor: pointer;
        font-size: 12px;

        &:hover {
            background: #5b7ede;
        }
    }

    .file-list {
        overflow: hidden;
        vertical-align: top;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #d4d9e6;
        height: calc(100% - 30px);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding-bottom: 26px;
        
        .leftListHeader {
            padding: 10px 10px 16px 0px;
            border-bottom: 1px dashed var(--left-header-border-color);
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .save-delete{
                display: flex;
                align-items: center;
            }

            span {
                padding-right: 8px;

                img:hover {
                    cursor: pointer;
                }
            }
            .tip-close {
                display: inline-block;

                img:hover {
                    cursor: pointer;
                }

                & > img {
                    display: none;
                }

                & > img:nth-of-type(1) {
                    display: block;
                }

                &:hover {
                    & > img:nth-of-type(1) {
                        display: none;
                    }

                    & > img:nth-of-type(2) {
                        display: block;
                    }

                    & > img:nth-of-type(3) {
                        display: none;
                    }
                }

                &:active {
                    & > img:nth-of-type(1) {
                        display: none;
                    }

                    & > img:nth-of-type(2) {
                        display: none;
                    }

                    & > img:nth-of-type(3) {
                        display: block;
                    }
                }
            }
        }

        .graph-list-content {
            min-width: 220px !important;
            padding-left: 0px !important;
            padding-right: 20px !important;
        }

        .list-content {
            width: 20%;
            padding: 20px 20px 20px 0px;
            overflow-y: auto;

            img {
                vertical-align: text-bottom;
                margin-right: 10px;
            }

            .list-item {
                line-height: 32px;
                padding-left: 16px;
                font-size: 14px;
            }

            .item-child {
                white-space: nowrap;
            }

            .active {
                background-color: #eef0f5;
            }

            .item-child:hover {
                background-color: #eef0f5;
            }
        }

        .split-line-toggle {
            height: calc(100% - 20px);
            padding: 0;
            position: relative;
            .toggle-btn {
                position: absolute;
                top: calc(50% - 45px);
                left: calc(20% - 17px);
                cursor: pointer;
                width: 20px;
                height: 90px;
                img {
                    width: 20px;
                    height: 90px;
                }
            }
            .activeToggle {
                left: -2px;
                transform: rotateY(180deg);
                z-index: 10;
            }
        }

        .file-diff {
            flex: 1;
            height: calc(100% - 20px);
            .echarts-btns {
                float: right;

                .btn-box {
                    border: 1px solid #ccc;
                    padding: 3px;
                }
            }

            .echarts-desc {
                position: relative;

                &:after {
                    content: "";
                    clear: both;
                    display: block;
                }

                .desc-number {
                    float: left;
                }

                .line-desc {
                    position: fixed;
                    right: 130px;
                }
            }
        }
    }

    .file-diff {
        max-width: 100vw;
        box-sizing: border-box;
        float: left;
        height: 100%;
        vertical-align: top;
        min-width: 800px;
        overflow: auto;
        position: relative;

        .source-area {
            flex: 1;
        }

        .advised-area {
            flex: 1;
        }

        &::ng-deep .d2h-file-diff {
            overflow-y: visible;
        }

        &::ng-deep .d2h-code-linenumber {
            position: static;
            border-width: 3px 0px;
        }

        &::ng-deep .code tbody tr td .d2h-code-line {
            padding: 0 !important;
        }
    }

    .active {
        background-color: #eef0f5;
    }

    ul.domtree,
    ul.domtree ul {
        margin: 0;
        padding: 0 0 0 2em;
    }

    ul.domtree li {
        list-style: none;
        position: relative;
    }

    ul.domtree li:before {
        position: absolute;
        content: "";
        top: -0.01em;
        left: -1.5em;
        width: 1.5em;
        height: 1.215em;
        border-style: none none solid solid;
        border-width: 0.05em;
        border-color: #525252;
    }

    ul.domtree li:not(:last-child):after {
        position: absolute;
        content: "";
        top: 0.7em;
        left: -1.5em;
        bottom: 0;
        border-style: none none none solid;
        border-width: 0.05em;
        border-color: #525252;
    }

    .overflow-class {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        font-size: 14px;
    }

    .circel-running,
    .circel-deadlock {
        display: inline-block;
        margin-bottom: 24px;

        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #67c78b;
            border-radius: 50%;
            margin-right: 8px;
        }
    }

    .circel-deadlock {
        span {
            background: #f45c5e;
            margin-left: 20px;
        }
    }
}

// 线程列表ti-select组件下拉面板样式
::ng-deep ti-list[ng-reflect-id="thread-header-select-comp_drop"] {
    .ti3-icon-checkmark::before {
        font-size: 12px;
    }
}

.disable-btn {
    background: #e6ebf5 !important;
    border: 1px solid #e6ebf5 !important;
    color: #b8becc !important;
    cursor: not-allowed !important;
}

.graph-header {
    height: 70px;
    padding: 10px 32px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 12px;

    .graph-control {
        display: flex;
        justify-content: flex-start;

        .obersver {
            margin-right: 32px;
        }

        .obersver,
        .compare {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            white-space: nowrap;
            word-wrap: normal !important;
            word-break: unset !important;

            .control-label {
                margin-right: 16px;
                font-size: 11px;
            }

            .control-switch {
                margin-right: 16px;
            }
        }
    }

    .graph-status {
        height: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .status {
            display: flex;
            justify-content: flex-end;

            div {
                height: 32px;
                line-height: 32px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 16px;
                font-size: 12px;

                white-space: nowrap;
                word-wrap: normal !important;
                word-break: unset !important;

                .circle {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 8px;
                    border-radius: 0px;
                }

                .green {
                    background-color: rgba(122, 223, 160, 0.75);
                }

                .red {
                    background-color: rgba(244, 92, 94, 0.75);
                }

                .yellow {
                    background-color: rgba(253, 202, 90, 0.75);
                }

                .orange {
                    background-color: rgba(244, 160, 0, 0.75);
                }
            }
        }

        .lines {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            div {
                display: flex;
                align-items: center;
                font-size: 12px;

                img {
                    margin-right: 8px;
                }
            }

            .dashLine {
                margin-right: 24px;
            }
        }
    }
}

.lock-graph {
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 700px;
    overflow: auto;
}

.graph-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
    .graph-svg {
        display: flex;
        .left {
            min-width: 600px;
            height: 100%;
        }
        .right {
            min-width: 600px;
            height: 100%;
        }
    }
}
.svgOperate {
    width: 100px;
    position: fixed;
    bottom: 40px;
    right: 88px;
}

.dump-nodata {
    width: 100%;
    height: 100%;
}

.ti3-tree-container .ti3-tree-parent-node .ti3-tree-leaf-node .ti3-tree-checkbox-wrapper {
    display: none;
}

.ti3-tree-content-box {
    align-items: baseline!important;
}

::ng-deep .ti3-modal-dialog {
    .ti3-modal-body {
        margin-top: 10px !important;
        padding-left: 0px;
    }
}

:host ::ng-deep #threadTree .ti3-tree-container > li > .ti3-tree-content-box {
    .ti3-tree-node-text-wrapper {
        span {
            margin-top: 2px;
            margin-left: 2px;
        }
    }
}
::ng-deep .vscode-dark {
    --left-header-border-color: #484a4e;
    --time-x-label-color: #9ea4b3;
    .split-line-toggle {
        border-left: 1px solid #545454;
    }
    .dump-nodata {
        color: #888888 !important;
    }

    .tab-active-under {
        background: #0067ff !important;
    }

    .ti3-switch.ti3-switch-off .ti3-switch-track {
        border-color: #313131 !important;
        background: #313131 !important;
    }

    .graph-header .graph-status .lines div {
        color: #e8e8e8 !important;
    }

    .item-tab-line {
        background-color: #888888 !important;
    }

    .overview-container .thread-tabs .item-tab .tab-label {
        color: #aaaaaa !important;
    }

    .overview-container .thread-tabs .item-tab .tab-label:hover {
        color: #0067ff !important;
    }

    .overview-container .thread-tabs .tab-active {
        color: #267dff !important;
        border-bottom: 2px solid #267dff;
    }

    .graph-header .graph-control .compare .control-label {
        color: #e8e8e8 !important;
    }

    .graph-header .graph-control .obersver .control-label {
        color: #e8e8e8 !important;
    }

    .graph-header .graph-status .status div {
        color: #e8e8e8 !important;
    }
    .ti3-tree-text-leaf-wrapper:hover{
        background: #313131 !important;
    }

    //提示框
    .ti3-tooltip {
        max-height: 60%;
        display: flex !important;
        flex-direction: column;
        border-radius: 2px !important;
        background: #424242 !important;
        border: 0 !important;

        .ti3-tooltip-content {
            max-height: 80%;
            overflow-y: auto;
            border-top: rgba(255, 255, 255, 0.12);
            color: #aaaaaa !important;
            .tipcontent{
                width:500px;
                >div{
                    font-size: 14px;
                }
                >div::before{
                    content: '';
                    display: inline-block;
                    top: 40px;
                    left: 0px;
                    width: 516px;
                    position: absolute;
                    border-top: 1px solid rgba(255, 255, 255, 0.12);
                }
                pre{
                    white-space:normal; 
                    font-family: PingFangSC-Regula;
                    &:first-child{
                        margin-top: 21px;
                    }
                }
            }
        }
    }

    .ti3-tooltip-bottom::before,
    .ti3-tooltip-bottom::after {
        background: #424242 !important;
        border: 0 !important;
    }

    .ti3-tooltip-top::before {
        border-right: 1px solid #424242 !important;
        border-bottom: 1px solid #424242 !important;
        background: #424242 !important;
    }

    .ti3-tooltip-top::after {
        background: #424242 !important;
    }

    .ti3-tooltip-top-left::before,
    .ti3-tooltip-top-right::before,
    .ti3-tooltip-right::before,
    .ti3-tooltip-right-top::before,
    .ti3-tooltip-left::before,
    .ti3-tooltip-left-top::before {
        border-right: 1px solid #424242 !important;
        border-bottom: 1px solid #424242 !important;
        background: #424242 !important;
    }

    .ti3-tooltip-top-left::after,
    .ti3-tooltip-top-right::after,
    .ti3-tooltip-right::after,
    .ti3-tooltip-right-top::after,
    .ti3-tooltip-left::after,
    .ti3-tooltip-left-top::after {
        background: #424242 !important;
    }

    .overview-container .graph-btn {
        width: 160px !important;
        height: 28px !important;
        font-size: 12px !important;
        text-align: center !important;
        border: 1px solid !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        background-color: #313131 !important;
        color: var(--primary-button-font-color) !important;
        border-color: #dddddd !important;

        &:hover {
            background-color: #267dff !important;
            border-color: #267dff !important;
        }

        &:active {
            background-color: #0057d9 !important;
            border-color: #0057d9 !important;
        }
    }

    .overview-container .file-list .list-content .item-child {
        span {
            color: #aaaaaa !important;
        }
    }

    .overview-container .file-list .list-content .item-child:hover {
        background-color: #313131 !important;

        span {
            color: #e8e8e8 !important;
        }
    }

    .overview-container .file-list .list-content .active {

        span {
            color: #e8e8e8 !important;
        }
    }

    ::-webkit-scrollbar {
        height: 6px !important;
    }

    ti-dominator.ti3-multiselect-container {
        height: 28px;

        .ti3-placeholder {
            color: #aaa !important;
        }

        section > ti-tag.ti3-multiselect-box-cell {
            color: #e8e8e8;
            background-color: #313131;
        }
    }
    .ti3-switch.ti3-switch-off[disabled] .ti3-switch-pointer {
        background: #616161 !important;
        border: 0 !important;
    }

    .save-content {
        // 弹窗背景颜色
        --modal-background-color: #252526;
        // 弹窗头部下边框颜色
        --modal-header-bottom-border-color: #4b4b4b;
        // 弹窗头部标题颜色
        --modal-header-title-color: #e8e8e8;
        // 弹窗底部上边框颜色
        --modal-footer-top-border-color: #6e6e6e;
        // 主要按钮字体颜色
        --primary-button-font-color: #e8e8e8;
        // 弹窗底部次级按钮字体颜色
        --modal-footer-secondary-button-font-color: #e8e8e8;
        // 弹窗底部次级按钮背景颜色
        --modal-footer-secondary-button-background-color: #313131;
        // 弹窗底部次级按钮边框颜色
        --modal-footer-secondary-button-border-color: #dddddd;
        // 弹窗内容提示文本颜色
        --model-tip-text-color: rgba(255, 255, 255, 0.65);
        // 滚动条滑块颜色
        --scrollbar-thumb-background-color: rgba(121, 121, 121, 0.4);
        // 滚动条外层轨道和内层滚动条颜色
        --scrollbar-thumb-track-background-color: #252526;
    
        --modal-body-tip-box-border-color: #15395b;
        --modal-body-tip-box-background-color: #111d2c;
        --primary-button-disabled-font-color: #b8becc;
        --primary-button-disabled-background-color: #313131;
    }
}

::ng-deep .vscode-light {
    --left-header-border-color: #eff0f5;
    --time-x-label-color: #999;
    .split-line-toggle {
        border-left: 1px solid #eff0f5;
    }
    .overview-container .graph-btn {
        width: 160px !important;
        height: 28px !important;
        font-size: 12px !important;
        text-align: center !important;
        border: 1px solid !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        background-color: #0057d9 !important;
        color: var(--primary-button-font-color) !important;

        &:hover {
            background-color: #267dff !important;
            border-color: #267dff !important;
        }

        &:active {
            background-color: #0057d9 !important;
            border-color: #0057d9 !important;
        }
    }
    ti-dominator.ti3-multiselect-container {
        .ti3-placeholder {
            color: #616161 !important;
        }

        section > ti-tag.ti3-multiselect-box-cell {
            color: #222 !important;
            background-color: #fff !important;
        }
    }

    .overview-container .thread-tabs .item-tab .tab-label:hover {
        color: #0067ff !important;
    }

    .overview-container .thread-tabs .tab-active {
        color: #267dff !important;
        border-bottom: 2px solid #267dff;
    }

    .ti3-switch.ti3-switch-off[disabled] .ti3-switch-pointer {
        background: #f5f5f5 !important;
        border: 0 !important;
    }
    .ti3-tree-text-leaf-wrapper:hover{
        background: #e8f5fe !important;
    }
    .save-content {
        --modal-background-color: #ffffff;
        --modal-header-bottom-border-color: #e1e6ee;
        --modal-header-title-color: #222222;
        --modal-footer-top-border-color: #e1e6ee;
        --primary-button-font-color: #ffffff;
        --modal-footer-secondary-button-font-color: #222222;
        --modal-footer-secondary-button-background-color: #ffffff;
        --modal-footer-secondary-button-border-color: #979797;
        --model-tip-text-color: #222222;
        --scrollbar-thumb-background-color: #979797;
        --scrollbar-thumb-track-background-color: #ffffff;
    
        --modal-body-tip-box-border-color: #0067ff;
        --modal-body-tip-box-background-color: #f0f6ff;
        --primary-button-disabled-font-color: #ccc;
        --primary-button-disabled-background-color: #f5f5f5;
    }
}

:host .lock-graph ::ng-deep .graph1 .attr {
    font-size: 12px !important;
}

:host .lock-graph ::ng-deep .graph1 .attr > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftListBt {
    width: 92%;
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;

    button {
        width: 88px;
        height: 28px;
        line-height: 26px;
    }

    .confirm {
        margin-right: 16px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 560px;
    padding: 0 32px 20px 32px;
    overflow: hidden;

    .header {
        font-size: 20px;
        color: #222222;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 66px;
        border-bottom: dashed 1px #e1e6ee;

        .close {
            cursor: pointer;
        }
    }
}

::ng-deep .vscode-dark #threadTree {
    .ti3-tree-container .ti3-icon-minus-square {
        font-size: 16px !important;
        color: #0067ff;
    }

    .ti3-tree-item-leaf {
        margin-left: 0 !important;
    }

    .ti3-tree-leaf-node > .ti3-tree-content-box > .ti3-tree-item-guide-line {
        width: 14px !important;
    }

    .ti3-tree-container .ti3-icon-plus-square:hover {
        font-size: 16px !important;
        color: #0067ff;
    }

    .ti3-tree-container .ti3-icon-plus-square {
        font-size: 16px !important;
    }

    input[type="checkbox"][tiCheckbox]:not([disabled]):indeterminate + .ti3-checkbox .ti3-checkbox-skin {
        background-color: #0067ff !important;
    }

    .ti3-tree-container {
        overflow: unset;
    }
}

::ng-deep ti-list {
    --ti-checkbox-bg-color-checked: #0067ff;
    --ti-checkbox-border-color: #888888;

    .ti3-multi-select-checkbox:not(.ti3-multi-select-checkbox-selected):not(.ti3-multi-select-checkbox-indeterminate)::before {
        content: "";
        display: block;
        background-color: var(--tree-tip-content-background-color);
        width: 100%;
        height: 100%;
    }
}
:host ::ng-deep .file-list .list-content #threadTree .ti3-tree-container {
    background: none;
    overflow: hidden;
    margin-left: -10px;
}
:host ::ng-deep .file-list .list-content #threadTree .ti3-tree-container {
    background: none;
    overflow: hidden;
    margin-left: -10px;
}
:host ::ng-deep .ti3-tree-text-leaf-wrapper{
    margin-left: -10px;
}
:host ::ng-deep #threadTree {
    .ti3-tree-container .ti3-icon-plus-square:before {
        vertical-align: unset !important;
    }
    .ti3-tree-container .ti3-icon-minus-square:before {
        vertical-align: unset !important;
    }
}
.overview-container .thread-datatype {
    width: 120px;
}

.loadData {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.zoom-screen {
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.save-content {
    background-color: var(--modal-background-color) !important;
    width: 660px;

    .header {
        color: var(--modal-header-title-color) !important;
        border-color: var(--modal-header-bottom-border-color);
        span {
            display: flex;
            font-size: 20px;
            line-height: 26px;
            justify-content: space-between;

            .close-icon {
                position: relative;
                top: 0;
                right: 0;
            }
        }
    }

    .main-body {
        max-height: 438px;
        width: 100%;
        ti-select,input{
            width: 100%;
            display: flex;
        }

        .tip-box {
            display: flex;
            align-items: center;
            margin-top: 20px;
            padding: 10px 20px;
            box-sizing: border-box;
            background-color: var(--modal-body-tip-box-background-color);
            border-radius: 2px;
            border: 1px solid var(--modal-body-tip-box-border-color);

            .tip-icon {
                width: 16px;
                height: 16px;
                margin-top: -16px;
            }

            .tip-text {
                margin-left: 10px;
                font-size: 14px;
                width: calc(100% - 52px);
                color: var(--model-tip-text-color);
            }
            .tip-close {
                margin-top: -20px;
                .close-icon {
                    width: 16px;
                    height: 16px;
                    margin-left: 10px;
                }
            }
        }
        .info-box {
            margin-top: 20px;
            padding: 0 2px;

            .info-item {
                display: flex;
                margin-bottom: 20px;
                font-size: 12px;

                .info-item-label {
                    height: 30px;
                    line-height: 30px;
                    width: 100px;
                    flex-shrink: 0;
                    color: var(--d-aaaaaa-l-616161);
                }
                .info-item-content {
                    margin-left: 10px;
                    line-height: 30px;
                    color: var(--ti-table-td-text-color);
                    width: 400px;

                    .info-input {
                        width: 100%;
                        background-color: transparent !important;
                    }
                }
            }
        }
    }

    .foot {
        padding: 14px 0 10px !important;
        background: var(--modal-background-color) !important;
        width: 100%;
        text-align: center;

        button {
            width: 160px;
            height: 32px;
            border-radius: 2px;
            font-size: 14px;
            line-height: 32px;

            &.sure-btn {
                text-align: center;
                background: #0067ff !important;
                color: #e8e8e8 !important;
                border: none !important;
                cursor: pointer;
            }

            &.sure-btn:hover {
                background: #267dff !important;
                color: #ffff !important;
            }

            &.sure-btn:active {
                background: #0057d9 !important;
                color: #ffff !important;
            }

            &.sure-btn[disabled] {
                color: var(--primary-button-disabled-font-color) !important;
                border: none !important;
                background: var(--primary-button-disabled-background-color) !important;
                cursor: not-allowed;
            }

            &.secondary {
                background: var(--modal-footer-secondary-button-background-color);
                border: 1px solid var(--modal-footer-secondary-button-border-color);
                color: var(--modal-footer-secondary-button-font-color);
                margin-left: 10px;

                &:hover {
                    color: #267dff;
                    border-color: #267dff;
                }

                &:active {
                    color: #0057d9;
                    border-color: #0057d9;
                }
            }
        }
    }
}
.profile-save {
    cursor: pointer;

    &>img:nth-of-type(1) {
        display: block;
    }

    &>img:nth-of-type(2) {
        display: none;
    }

    &>img:nth-of-type(3) {
        display: none;
    }

    &:hover,
    &.active {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }

        &>img:nth-of-type(3) {
            display: none;
        }
    }

    &.disabled, 
    &.disabled:hover, 
    &.disabled.active {
        &>img:nth-of-type(1) {
            display: none;
        }
        &>img:nth-of-type(2) {
            display: none;
        }
        &>img:nth-of-type(3) {
            display: block;
        }
    }
}

:host ::ng-deep .ti3-select-dominator-text{
    overflow: hidden !important;
}

:host ::ng-deep .list-content .ti3-tree-container .ti3-tree-parent-node .ti3-tree-leaf-node .ti3-tree-parent-node .ti3-tree-checkbox-wrapper {
    display: none;
}
:host ::ng-deep .file-list .list-content #threadTree .ti3-tree-container li{
    margin-bottom: 2px;
    .ti3-tree-node-text-wrapper:hover{
        background: #313131!important;
    }
}