.ti3-sort-container{
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
  
    >.ti3-sort {
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
  
      &:hover {
        color: var(--ti-table-sort-color-hover);
      }
    }
  
    &.ti3-sort-ascent, &.ti3-sort-descent {
      >.ti3-sort {
        color: var(--ti-table-sort-icon-color-active);
      }
      >.ti3-sort:hover {
        color: var(--ti-table-sort-color-hover);
      }
    }
  }