/* You can add global styles to this file, and also import other style files */
@import 'variables';

$themeColor: #0067FF;
$switchOffColor: #979797;
// table header 背景色
$tableBgColor: #F5F9FF;
// table tr hover 颜色
$tableTrHover: #F5F9FF;

html {
  font-size: 100%;
}

body {
  padding: 0 !important;
  margin: 0;
  height: 100vh;
  min-width: 1366px;
  min-height: 768px;
  font-size: 14px;
  font-family: "huawei sans";
  overflow-x: auto;
  overflow-y: hidden;
}

body * {
  padding: 0px;
}
@media only screen and (max-width: 1580px) and (min-width: 1366px) {
  html {
    font-size: 75.7% !important;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 625px;
    font-size: 13px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1365px) {
  html {
    font-size: 75.7% !important;
  }
  body {
    padding: 0;
    margin: 0;
    height: 98vh;
    min-height: 612px;
    font-size: 12px;
    font-size: 1rem;
  }
}
p {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: break-word;
  outline: none;
}

dl,
ul,
ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}
table {
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
table > tr {
  vertical-align: baseline;
}
.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  width: 0px;
}
.cl {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.mg-top20 {
  margin-top: 20px;
}
.mg-left10 {
  margin-left: 10px;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: #eef0f5;
}
.main-title {
  line-height: 58px;
  height: 58px;
  margin-left: 28px;

  img {
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin-left: 15px;
  }

  span:nth-of-type(1) {
    font-size: 14px;
    color: #9ea4b3;
  }
  span:nth-of-type(2) {
    font-size: 20px;
    color: #333333;
  }
}

.main-content {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 100%;
}

.error-msg-tip {
  color: #ff4c4c;
}

// 树形表格的icon样式
.expand_icon {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #6c7280;
  vertical-align: middle;
  margin-right: 5px;
}
.not_expand_icon {
  display: inline-block;
  border: 5px solid transparent;
  border-left-color: #6c7280;
  vertical-align: middle;
  margin-right: 5px;
}

// 设置 tiOverflow 最大高度，不然会超出屏幕
.ti3-tooltip {
  .ti3-tooltip-content {
    max-height: 500px;
    font-size: 12px;
    b {
      font-size: 14px;
    }
  }
}
ti-tip-container.ti3-tooltip-top-right.ti3-tooltip {
  padding-top: 6px;
  padding-bottom: 6px;
  .ti3-tooltip-content{
    
    .alerm-tip {
      line-height: 21px;
      color: #222;

    }
  }
}


.modal-dialog ti-formfield#select-modal table.ti3-form {
  margin-bottom: 20px !important;
}
.modal-dialog ti-formfield#select-modal-java table.ti3-form {
  margin-bottom: 20px !important;
}

#detail-container,
.project-tabs ti-tabs .ti3-tab-content {
  border-top: none !important;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li {
  padding-right: 20px;
}

.project-tabs > ti-tabs > ul {
  padding-top: 10px;
  height: 48px;
  background: #eef0f5;
}

.project-tabs ti-tabs .ti3-tab-content {
  border-top: none !important;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li ti-tab-header > span.tab-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  color: #282b33;
  font-size: 16px;
}

.project-tabs > ti-tabs > ul > li.ti3-tab-li ti-tab-header > span.tab-close {
  position: absolute;
  right: -20px;
  cursor: pointer;
}

.project-tabs ti-tabs li.ti3-tab-active {
  background: #fff;
  height: 48px;
}

.ti3-validate-icon{
  margin-right: 5px !important;
  vertical-align: bottom !important;
}

// 修改 tiny TiValidationDirective 的错误提示信息
.ti3-unifyvalid-error-container {
  align-items: flex-start;
  font-size: 12px !important;

  >.ti3-error-icon {
    margin-right: 8px;
    font-size: unset;
    width: 16px;
    height: 16px;
    background: url('./assets/img/tip/error.svg') 1px center no-repeat;
    background-size: 14px 14px;
    float: left;
    flex: 0 0 auto;

    &::before {
      content: '';
    }
  }

  
}

.desc-content {
  font-size: 12px;
  color: #888888;
}

.mytip {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100000;
}

.tip-toggle {
  vertical-align: bottom;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.tip-toggle.active {
  transform: rotate(90deg);
}
.tip-detail {
  display: none;
  margin-top: 5px;
}
.tip-detail.active {
  display: block;
}
.mytip {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 99999;
  #close {
    margin-top: 8px;
  }
}

.tip-content {
  display: inline-block;
  pointer-events: all;
  padding: 8px 16px;
  text-align: left;
  min-width: 400px;
  background: #EDFFF9;
  border: 1px solid #61D274;
  border-radius: 2px;
  font-size: 12px;
  color: #222;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.tip-content-warn {
  background: #FFF3E8;
  border: 1px solid #FF9B00;
}

.tip-content-success {
  background: #EDFFF9;
  border: 1px solid #61D274;
}

.tip-content-error {
  background: #FFEEED;
  border: 1px solid #ED4B4B;
}

.tip-content-tip {
  background: #F0F6FF;
  border: 1px solid #0067FF;
}

.tip-close {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
  }
}

.tip-icon {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  margin-right: 8px;
  position: relative;
  top: -1px;
}


::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(40,43,51,0.4) !important;
}

#test tr:nth-child(even) {
  background: #fff;
}
#assembly tr:nth-child(even) {
  background: #fff;
}
#assembly tr.active {
  background: #ecec77;
}
#test tr.active {
  background: #ecec77;
}
#assembly tr:hover {
  background: $tableTrHover;
}
#test tr:hover {
  background: $tableTrHover;
}
// 解决无数据时 hover 有背景色
#assembly tr td:only-of-type {
  background: #fff;
}
#test tr td:only-of-type {
  background: #fff;
}

.ti3-table-tree {
  display: inline-block;
  transition: 0.5s ease-in-out;
}
.ti3-table-tree.active {
  transform: rotate(90deg);
}
.ti3-table-tree img {
  width: 12px;
}
#assembly .level1 {
  padding-left: 20px;
}
.chen-nodata-td {
  position: absolute;
  width: 100%;
  height: calc(100% - 1px); // tiny升级3.2.0表头会多1px的border-bottom
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 0 28px;

  &.unsetPosition {
    position: static;
    height: 100%;
    max-height: calc(100% - 1px);
  }
}
:host ::ng-deep .ti3-modal-body {
  word-break: break-word;
}
:host ::ng-deep body .ti3-modal-header span {
  word-break: break-word;
}
.ti3-modal-content button.ng-star-inserted {
  min-width: 92px !important;
}

.ti3-modal-content .ti3-border-inline {
  border-left: 0px solid #39f !important;
  height: 0px !important;
}
ti-message .ti3-modal-header {
  margin: 18px 0px 0px 0px !important;
}

.line {
  width: 150%;
  height: 2px;
  background: #ddd;
}
.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  color: #ddd;
  font-size: 0.8rem;
}
.table-y .title {
  flex: 1;
  display: flex;
  align-items: center;
}
.title-num {
  text-align: right;
}

//loading
.loading-box {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  z-index: 111111;
}
.loading {
  z-index: 111111;
  text-align: center;
}
.loading h2 {
  color: #ccc;
  margin: 0;
  font: 0.8em verdana;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*
   * Loading Dots
   * Can we use pseudo elements here instead :after?
   */
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: #007db6;
  border-radius: 0.6em;
  animation: loading 1s infinite alternate;
}

/*
   * Dots Colors
   * Smarter targeting vs nth-of-type?
   */
.loading span:nth-of-type(2) {
  background: #008fb2;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009b9e;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00a77d;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #00b247;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #5ab027;
  animation-delay: 1s;
}
.loading span:nth-of-type(7) {
  background: #a0b61e;
  animation-delay: 1.2s;
}

/*
   * Animation keyframes
   * Use transition opacity instead of keyframes?
   */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host ::ng-deep #detail-container .content-container {
  transform: translateX(0px);
}
:host ::ng-deep body .ti3-tooltip {
  z-index: 1111111;
}

.d3-flame-graph g:hover {
  stroke-width: 1 !important;
  cursor: pointer !important;
}
.d3-flame-graph react:hover {
  stroke-width: 1 !important;
  cursor: pointer !important;
}

.d3-flame-graph foreignObject:hover {
  stroke-width: 1 !important;
  cursor: pointer !important;
}

.d3-flame-graph foreignObject > div{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    stroke-width: 1 !important;
    cursor: pointer !important;
  }
}
.d3-flame-graph-tip {
  background-color: #fff;
  border: 1px solid #333;

  padding: 3px 7px 3px 7px;
  min-width: 250px;
  text-align: left;
  color: #333;
  z-index: 10;
}
.d3-flame-graph-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: white;
  position: absolute;
  pointer-events: none;
}

:host ::ng-deep .d3-container .d3-flame-graph-label {
  margin-left: 4px;
  margin-right: 4px;
}

body .tree-box .ti3-icon-plus-square {
  font-size: 16px !important;
  vertical-align: middle;
}
body .tree-box .ti3-icon-minus-square {
  font-size: 16px !important;
  vertical-align: middle;
}
.ti3-modal-body {
  max-height: 50vh !important;
}
.ti3-modal-content {
  width: 50vh;
}
body .ti3-tab-slider {
  display: none;
}
.ti3-tabs > li.ti3-tab-active:not(.disabled) > a {
  border-bottom: 2px solid $themeColor !important;
}
.ti3-tree-content-box i {
  color: #6c7280;
}
.ti3-tree-content-box i:hover {
  color: $themeColor;
}

.ti3-tab-content {
  border-top: 0px solid #E1E6EE !important;
}
:host ::ng-deep body .missStatisticsTabs .ti3-tab-slider {
  margin-left: 0px !important;
}

// 按钮全局样式
// 常态
.ng-valid{
  .ti3-switch.ti3-switch-on .ti3-switch-track {
    top: 0 !important;
    border: 1px solid $themeColor !important;
    background: $themeColor !important;
  }
  .ti3-switch.ti3-switch-off .ti3-switch-track {
    top: 0 !important;
    height: 20px !important;
    border-radius: 20px !important;
    border-color: $switchOffColor !important;
    background: $switchOffColor !important;
  }
}
// 禁用态
.ti3-switch.ti3-switch-on .ti3-switch-track {
  top: 0 !important;
  border: 1px solid #ccc !important;
  background: #ccc !important;
}
.ti3-switch.ti3-switch-on .ti3-switch-pointer {
  margin-top: 0 !important;
  border: 1px solid #fff !important;
  background: #fff !important;
}
.ti3-switch.ti3-switch-off .ti3-switch-track {
  top: 0 !important;
  height: 20px !important;
  border-radius: 20px !important;
  border-color: #ccc !important;
  background: #ccc !important;
}
.ti3-switch.ti3-switch-off .ti3-switch-pointer {
  border: 1px solid #fff !important;
  background: #fff !important;
}

body
  input[type="checkbox"][tiCheckbox]:not([disabled]):checked
  + .ti3-checkbox
  .ti3-checkbox-skin,
input[type="checkbox"][tiCheckbox]:not([disabled]):checked
  + .ti3-checkbox
  .ti3-checkbox-skin:focus {
  border-color: $themeColor !important;
  background-color: $themeColor !important;
  color: #fff;
}
input[type='checkbox'][tiCheckbox] {
  display: none !important;
}
input[type='checkbox'][tiCheckbox][disabled] + .ti3-checkbox {
  cursor: not-allowed;
}
input[type='checkbox'][tiCheckbox][disabled]:checked + .ti3-checkbox .ti3-checkbox-skin {
  color: var(--ti-checkbox-mark-color-disabled);
  background-color: var(--ti-checkbox-bg-color-disable);
  border-color: var(--ti-checkbox-border-color-checked-disabled);
}
input[type='checkbox'][tiCheckbox] + .ti3-checkbox .ti3-checkbox-skin {
  position: relative;
  display: inline-block;
  margin-right: var(--ti-checkbox-label-right-space);
  margin-bottom: 0;
  height: var(--ti-checkbox-size);
  width: var(--ti-checkbox-size);
  line-height: var(--ti-checkbox-mark-size);
  background-color: var(--ti-checkbox-bg-color);
  border: 1px solid var(--ti-checkbox-border-color);
  text-align: center;
  color: transparent;
  vertical-align: middle;
  outline: none;
  border-collapse: separate;
  border-radius: 2px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color 0.15s, border-color 0.15s;
}
input[type='checkbox'][tiCheckbox][disabled] + .ti3-checkbox .ti3-checkbox-label {
  color: var(--ti-checkbox-label-color-disabled);
}
input[type='checkbox'][tiCheckbox] + .ti3-checkbox .ti3-checkbox-label {
  margin-bottom: 0px;
  display: inline;
  vertical-align: middle;
  user-select: none;
}
input[type="checkbox"][tiCheckbox]:not([disabled]):indeterminate
  + .ti3-checkbox .ti3-checkbox-skin{
    background-color: #0067ff !important;
}
[tiText][disabled]:disabled {
  color: #CCCCCC !important;
  border-color: #CCCCCC !important;
  background: #F5F5F5 !important;
}

// 文本输入框边框修改
textarea {
  border: 1px solid #ccc;
  line-height: 28px;
  padding: 0 10px !important;
  font-family: "huawei sans";

  &[disabled]{
    color: #ccc !important;
    background: #f5f5f5 !important;
    border: 1px solid #ccc !important;
  }
}

.ti3-compnent-container-border:disabled {
  color: #b8becc !important;
  border: 1px solid #e6ebf5 !important;
  background: #e6ebf5 !important;
}

// input 输入框 focus
/**
  使用 input[type='text'] input[type='password'] 而不是直接使用 [tiText]:not([disabled]):not([noborder])[tiText]:focus
  的原因是 [tiText]:not([disabled]):not([noborder])[tiText]:focus 会覆盖 带搜索的下拉框中的input样式
*/
input[type="text"][tiText]:not([disabled]):not([noborder])[tiText]:focus {
  border: 1px solid $themeColor;
}
textarea[titextarea]:not([disabled]):not([noborder])[titextarea]:focus {
  border: 1px solid $themeColor !important;
}

input[type="password"][tiText]:not([disabled]):not([noborder])[tiText]:focus {
  border: 1px solid $themeColor !important;
}

[tiText].ti3-text-input-noborder {
  border: 0 !important;
}

.ti3-spinner-container:active {
  border-color: $themeColor !important;
}

// 按钮样式 start
.ti3-btn-default[disabled],
[tiButton][disabled] {
  color: $btnDisabledColor !important;
  border: 1px solid $btnDisabledBorder !important;
  background: $btnBgDisabled !important;
}

.ti3-btn-default:not([disabled]):hover,
[tiButton]:not([disabled]):hover {
  color: $btnMinorHoverColor;
  border-color: $btnMinorHoverBorder !important;
  background: $btnMinorDefaultBg !important;
}

.ti3-btn-default:not([disabled]):focus,
[tiButton]:not([disabled]):focus,
.ti3-btn-default:not([disabled]):active,
[tiButton]:not([disabled]):active {
  color: $btnMinorFocusColor;
  border-color: $btnMinorFocusBorder !important;
  background: $btnMinorDefaultBg !important;
}

.ti3-btn-primary,
.ti3-btn-danger {
  color: $btnDefaultColor !important;
  border: 1px solid $btnBgDefault !important;
  background: $btnBgDefault !important;
}
.ti3-btn-primary:not([disabled]):hover,
.ti3-btn-danger:not([disabled]):hover {
  color: $btnDefaultColor !important;
  background: $btnBgHover !important;
  border-color: $btnBgHover !important;
}
.ti3-btn-primary:not([disabled]):focus,
.ti3-btn-primary:not([disabled]):active,
.ti3-btn-danger:not([disabled]):focus,
.ti3-btn-danger:not([disabled]):active {
  color: $btnDefaultColor !important;
  background: $btnBgFocus !important;
  border-color: $btnBgFocus !important;
}
.ti3-btn-primary[disabled],
.ti3-btn-danger[disabled] {
  color: $btnDisabledColor !important;
  border: 1px solid $btnDisabledBorder !important;
  background: $btnBgDisabled !important;
}

// 按钮样式 end

// 日期时间组件 当前天和近几天 背景颜色修改 start
.ti3-date-current-day,
.ti3-date-default-day:hover {
  background-color: $themeColor !important;
}
.ti3-dateRange-select-day {
  background: rgba(108, 146, 250, 0.1) !important;
}

.ti3-date-today {
  background: rgba(108, 146, 250, 0.2) !important;
  border: 1px dashed $themeColor !important;
}

.ti3-date-current-month,
.ti3-date-current-year {
  background-color: $themeColor !important;
}

.ti3-date-default-month:hover,
.ti3-date-default-year:hover {
  background-color: rgba(108, 146, 250, 0.2) !important;
}

.ti3-date-picker-year-month:hover {
  color: $themeColor !important;
}


// radio
input[type="radio"][tiRadio]:not(:disabled):checked
  + .ti3-radio
  .ti3-radio-skin {
  border-color: $themeColor !important;

  &::after {
    background-color: $themeColor !important;
  }

  &:hover {
    &::after {
      background-color: $themeColor !important;
    }
  }
}

.ti3-page-container .ti3-pag-page.active {
  color: $themeColor !important;
}
.ti3-page-container .ti3-pag-page:not(.ellipse):hover,
.ti3-page-container .ti3-pag-page.simple:hover {
  background-color: $themeColor !important;
  color: #fff !important;
}

.ti3-dropdown-container-border {
  border: 1px solid $themeColor !important;
}

// 解决在IE浏览器下modal中的下拉框会撑出滚动条的问题
ti-select {
  overflow: hidden;
  font-size: 12px;
}
.ti3-compnent-container-border:not([disabled])[tiFocused],
ti-select:not([disabled])[tiFocused] {
  border-color: $themeColor !important;
}

ti-pagination.ti3-page-container .ti3-pag-prev:not(.disabled):active,
ti-pagination.ti3-page-container .ti3-pag-next:not(.disabled):active {
  color: $themeColor !important;
}

ti-searchbox-notsearch.ti3-searchbox-container:not([disabled])[tiFocused],
ti-searchbox.ti3-searchbox-container:not([disabled])[tiFocused],
ti-searchbox.ti3-searchbox-container:not([disabled]):hover {
  border-color: $themeColor !important;
}

ti-tag.ti3-delete-box-cell:hover,
ti-tag.ti3-multiselect-box-cell:hover {
  color: $themeColor !important;
}


//边框变蓝紫色
.ti3-dropdown-container-border {
  border: 1px solid #0067FF !important;
}
//有数据的hover状态    选项边框变蓝紫色
.ti3-dropdown-option-hover .ti3-overflow-padding .ti3-multi-select-checkbox {
  border: 1px solid #0067FF !important;
}
//没有数据的背景颜色为白色，文字颜色为b8becc
.ti3-dropdown-option-disabled {
  color: #b8becc !important;
  background-color: #ffffff !important;
}
//没有数据的  选框、背景颜色为e6ebf5色
.ti3-dropdown-option-disabled .ti3-overflow-padding .ti3-multi-select-checkbox {
  background-color: #e6ebf5 !important;
  border: 1px solid #e6ebf5 !important;
}

//灰化选中变白色
.ti3-dropdown-option-disabled .ti3-overflow-padding .ti3-icon-checkmark {
  color: #ffffff !important;
}
.ti3-dropdown-container
  .ti3-dropdown-searchbox-wrapper-outer
  .ti3-dropdown-searchbox
  .ti3-searchbox-input {
  border-color: #ffffff !important;
}

.ti3-dropdown-container {
   font-size: 12px !important;
  .footer {
    font-size: 12px;
    line-height: 18px;
    color: #222222;
    padding: 8px 15px;
    border-top: 1px solid #e1e6ee;
  }
}

.ti3-icon-plus-square,
.ti3-tree-container .ti3-icon-minus-square {
  font-size: 14px !important;
}

.ti3-table
  > table
  > tbody
  > tr
  > td
  .ti3-table-tree
  .ti3-icon-minus-square:hover,
.ti3-table
  > table
  > tbody
  > tr
  > td
  .ti3-table-tree
  .ti3-icon-plus-square:hover {
  color: $themeColor !important;
}

.hover-line span:hover {
  border-bottom: 1px solid;
}

.system-content table tbody tr:hover {
  background: $tableTrHover;
}

.nodata img, .chen-nodata-td img{
  width: 320px !important;
}

// 表单顶部对齐
.formLabelAlign {
  &.top {
    >table{
      margin-left: 16px;

      >tbody>tr {
        display: block;
        position: relative !important;
        margin-top: 30px;
  
        >td {
          &:nth-child(1) {
            position: absolute !important;
            left: -16px;
            top: -35px;
          }
  
          &:nth-child(2) {
            position: absolute !important;
            left: 0px;
            top: -35px;
          }
        }
      }
    }
  }
}

// 自定义tiny message【tiny默认样式与ucd不同】
.custemMessage {
  width: auto;

  >.ti3-modal-content {
    width: 560px;
    overflow: hidden;

    >.ti3-close {
      top: 14px;
    }

    >ti-message {
      >.ti3-msg-header {
        margin: 18px 32px 0 !important;
        padding: 0 0 18px 0;
        border-bottom: 1px dashed #e1e6ee;

        >span {
          >.ti3-msg-icon {
            display: none;
          }

          >.ti3-msg-content-title {
            font-size: 20px;
            line-height: 30px;
            color: #222;
            font-weight: normal;
          }
        }
      }

      >.ti3-modal-body {
        margin: 24px 0 18px 32px;
        padding-left: 32px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &.prompt>.ti3-modal-content>ti-message>.ti3-modal-body::before{
    background-image: url(./assets/img/tip/tip.svg);
  }
}

// 弹窗样式整体修改
.ti3-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.2);

  >.ti3-modal-dialog {
    margin: 0;
  }

  .custemModal {
    width: auto !important;
    margin: 0;

    >.ti3-modal-content {
      width: 700px;
      max-height: 600px;
      overflow: hidden;
  
      >.ti3-icon-close {
        top: 15px;
      }
  
      >.ti3-modal-header {
        font-size: 20px !important;
        line-height: 30px;
        border-bottom: 1px dashed #e1e6ee;
        box-sizing: border-box;
        margin: 18px 32px 0;
        padding: 0 0 18px;
        color: #222;
      }
  
      >.ti3-modal-body {
        overflow-y: auto;
        max-height: 50vh;
        margin: 0;
        padding: 24px 32px 0 32px;
        box-sizing: border-box;
      }
    }

    &.autoWidth {
      >.ti3-modal-content {
        min-width: 700px;
        max-width: 86vw;
      }
    }

    &.modalWidth400>.ti3-modal-content { width: 400px; }
    &.modalWidth560>.ti3-modal-content { width: 560px; }
  }

  .smallModal {
    width: 600px;
    >.ti3-modal-content {
      width: 600px;
    }
  }
}

.modal832 {
  width: 832px !important;
  .ti3-modal-content {
    width: 832px;
    .ti3-close {
      margin-top: 8px;
    }

    .ti3-modal-header {
      margin: 0 32px 20px;
      padding: 23px 0 22px;
      border-bottom: 1px solid var(--common-color-divider);
    }

    .ti3-modal-body {
      overflow-y: scroll;
      height: 400px;
    }
  }
}

.ti3-modal-content {
  .ti3-close {
    right: 32px;
  }
}
.ti3-modal-header {
  font-size: 20px !important;
}
.ti3-modal-footer {
  background: #fff !important;
  padding: 32px 20px !important;
  border-top: none !important;
}
.ti3-msg-icon {
  font-size: 24px !important;
}
.ti3-modal-body:after {
  height: 0 !important;
}
.ti3-msg-content-wrapper {
  line-height: 24px !important;
}

.ti3-form {
  tbody:not(.ti3-text-form) {
    .ti3-form-require {
      line-height: 28px;
    }

    .ti3-form-label {
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 28px !important;
      min-width: 94px !important;
      padding: 0 16px 0 0;
    }
    ti-item-label{
      display: flex;
    }
  }
} 
.label-span{
  max-width: 210px;
}
.ti3-btn, [tiButton] {
  line-height: 26px !important;
  min-width: 88px !important;
  font-size: 12px !important;
  text-align: center !important;
}
.ti3-border-inline {
  display: none !important;
}

.ti3-select-dominator-container{
  height: 28px !important;
  line-height: 28px !important;

  &.ti3-multiselect-container {
    min-height: 28px !important;

    .ti3-select-dominator-text {
      vertical-align: baseline !important;
      max-height: 100% !important;
    }
  }
}
.ti3-head-filter-drop{
  .ti3-dropdown-no-data {
    display: none;
    padding: var(--ti-common-space-6) var(--ti-input-padding-horizontal);
    line-height: var(--ti-common-line-height-number);
  }
  .ti3-btn-small{
    height: 28px;
  }
}



// 修改 a 默认样式
a {
  color: #0067FF;

  &:hover {
    color: #004EC1;
  }

  &:visited {
    color: #004EC1;
  }

  &.visited {
    color: #004EC1;
  }
}

// 修改分页样式
.ti3-page-container {
  .ti3-select-dominator-text, .ti3-pag-total-items ,.ti3-pag-prev, .ti3-pag-page.active,
   .ti3-pag-prev.disabled, .ti3-pag-next, .ti3-pag-page {
    font-size: 12px !important;
  }
  .ti3-dropdown-option-hover, .ti3-pag-page.active {
    color: #FFF !important;
    background-color: #0067FF !important;
  }
  .ti3-pag-goto .ti3-pag-goto-input {
    text-align: center;
  }
}
// 分页中的小下拉样式
.ti3-select-small ti-list{
  font-size: 12px;
  padding: 0 !important;
  .ti3-drop-list-ul{
    .ti3-dropdown-option{
      cursor: pointer;
      height: 24px;
      line-height: 24px;
      padding: 0;
    }
    .ti3-dropdown-option-hover {
      background-color: #f5f9ff;
      color: #616161;
    }
    .ti3-dropdown-option-selected{
      background-color: #2072ea;
      color: #ffffff;
    }
  }
}
// 下拉样式
.ti3-dropdown-container ti-list .ti3-drop-list-ul{
  .ti3-dropdown-option-disabled{
    color: #ccc !important;
  }
  .ti3-dropdown-option-hover{
    --ti-select-item-bg-color-hover: #f5f9ff;
  }
  .ti3-dropdown-option-selected {
    --ti-select-item-selected-bg-color: #0067ff;
  }
} 

#close-guide {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #a9a9a9;
  box-sizing: border-box;
  right: 20px;
  top: 8px;
  cursor: pointer;
  font: 16px/35px tiFont;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: #0067FF;
  }
}
#close-guide::before {
  content: "\e905";
}

/*
 * 全景分析————自定义的提示框
 */
 .nice_tooltip {
  margin: 0px !important;
  opacity: 0;
  position: absolute;
  display: inline-block;
  height: auto;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  line-height: 20px;
  border-radius: 2px;
  margin-left: 12px;
  pointer-events: none;
  cursor: default;
  box-shadow: 0px 10px 20px 0px rgba(24, 25, 35, 0.14);
  width: fit-content;
  box-sizing: border-box;
  z-index: 999;
  padding: 16px;

  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    cursor: default;
  }

  &[placement="bottom"]:after {
    top: -8px;
    margin-left: -8px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-top: 0;
    border-left: 8px solid transparent;
  }

  &[placement="top"]:after {
    left: 50%;
    bottom: -8px;
    margin-left: -8px;
    border-bottom: 0;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
  }

  @for $i from 0 through 100 {
    $bottomProperty :'[placement="bottom"][offset="#{$i}"]';
    $topProperty :'[placement="top"][offset="#{$i}"]';
    $transform: $i;
    $left: $i;

    @if $i < 3 {
      $transform: 3;
      $left: 3;
    }

    @if $i>97 {
      $transform: 97;
      $left: 97;
    }

    &#{$bottomProperty } {
      transform: translate($transform * -1%, 11px);

      &:after {
        left: $left * 1%;
      }
    }

    &#{$topProperty } {
      transform: translate($transform * -1%, #{calc(-100% - 11px)});

      &:after {
        left: $left * 1%;
      }
    }
  }
}

// 和diff2html相关样式修改
.codediff .d2h-file-wrapper {
  border: none !important;
}
.codediff .d2h-file-list-wrapper{
  display: none;
}
//去掉diff的header
.codediff .d2h-file-header {
  display: none !important;
}

.codediff tbody tr .d2h-del {
  background-color: transparent !important;
  border-color: transparent !important;
}

.codediff tbody tr .d2h-info {
  display: none;
}

.codediff tbody tr td.d2h-code-linenumber {
  background-color: #f0f2f5 !important;
  width: 4em !important;
  text-align: center !important;
}

.codediff tbody tr td .d2h-code-line {
  padding: 0 4em !important;
}

.codediff tbody tr td .d2h-code-line .d2h-code-line-ctn {
  padding-left: 15px;
}

.codediff tbody tr td .d2h-code-line .d2h-code-line-prefix {
  display: none;
}


// tiny关闭按钮样式
.ti3-close {
  position: absolute;
  top: 15px;
  right: 23px;
  z-index: 2000;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--ti-modal-close-icon-color);
  cursor: pointer;
  font: normal normal normal var(--ti-common-font-size-base)/var(--ti-modal-header-height) tiFont;
  font-size: 14px;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti3-close:hover {
  color: var(--ti-modal-close-icon-color-hover);
}

// 干掉IE额外的大眼睛
input::-ms-clear{display: none;}
input::-ms-reveal{display: none;}

// 时间选择器
.ti3-time-select-container ul.ti3-drop-list-ul {
  height: auto;
}

.ti3-time-select-container.ti3-time-select-container-border ti-list {
  height: 230px;
  overflow-y: auto;
  width: 82px;
}

.ti3-date-dominator-container .ti3-date-show {
  font-size: 14px;
}
.ti3-date-edit-container .ti3-date-range-edit {
  width: 240px !important;
}

// placeholder样式
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 28px;
  color: #aaa !important;
  font-family: "huawei sans";
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 28px;
  color: #aaa !important;
  font-family: "huawei sans";
}

.ti3-head-filter-drop.ti3-dropdown-container.ti3-dropdown-container-border{
  min-width: 210px;
}

ti-spinner.ng-invalid {
  border: 1px solid #ff4c4c !important;
}
ti-item-label {
  .ti3-icon{
    img {
      position: relative;
      top: 2px;
    }
  }
}

// 创建任务确认弹窗内容在IE下只展示一行，不还行
.message-modal .ti3-modal-content app-message-modal ti-modal-body .content > p{
  width: 304px;
}

/**********************表格全局样式修改（主题无法解决的样式问题）************************/
.ti3-table>.ti3-resize-wrapper>table>tbody>.ti3-details-tr>td>.ti3-table-detail-container, .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr>td>.ti3-table-detail-container, .ti3-table>table>tbody>.ti3-details-tr>td>.ti3-table-detail-container {
    margin-left: 32px;
    border-left: #2072ea 2px solid;
}


// 采集时间弹窗样式
.ti3-time-select-container ul.ti3-drop-list-ul{
  width: 70px;
}

// 分页跳转输入框数字居中
ti-pagination {
  .ti3-pag-goto {
    .ti3-pag-goto-input {
      text-align: center;
    }
  }
}
.ti_input_ip_container_ipv6{
  --ti-input-bg-color-disabled: #f5f5f5;
}