// button
// 主要按钮
$btnDefaultColor: #fff;
$btnBgDefault: #0067FF;
$btnBgHover: #267DFF;
$btnBgFocus: #0057D9;
$btnBgDisabled: #F5F5F5;
$btnDisabledBorder: #ccc;
$btnDisabledColor: #ccc;
// 次要按钮
$btnMinorDefaultBg: $btnDefaultColor;
$btnMinorDefaultColor: #222;
$btnMinorDefaultBorder: #979797;
$btnMinorHoverColor: $btnBgHover;
$btnMinorHoverBorder: $btnBgHover;
$btnMinorFocusColor: $btnBgFocus;
$btnMinorFocusBorder: $btnBgFocus;
