:host ::ng-deep .summury-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.ie {
    height: 100%;
  }

  .FSSummaryTable {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    thead {
      .center {
        text-align: center;
      }
  
      th {
        .content {
          display: flex;
          align-items: center;
          overflow: hidden;
    
          .ti3-cell-text-container {
            overflow: hidden;
            height: 32px;
    
            .ti3-cell-text {
              max-width: 100% !important;
            }
          }
    
          &.center {
            justify-content: center;
          }
        }
      }
    }

    >.ti3-table-container {
      flex: 1;
      position: relative;

      tbody {
        .ti3-details-tr .ti3-details-td {
          padding: 0;
          background: #f5f9ff;
    
          .ti3-table-detail-container {
            padding: 0;
            border-left: 2px solid #0067ff;

            .ti3-table {
              >.ti3-table-fixed-head {
                th {
                  background: #fff !important;
                  border-top: 1px solid #d4d9e6;
                  border-bottom: 1px solid #d4d9e6;
        
                  &::after {
                    background: #d4d9e6;
                    height: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }
      
              >.ti3-table-container {
                position: relative;
                max-height: 30vh;
  
                &.noData {
                  height: 210px;
                }
  
                .canClick{
                  color: #6c92fa;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
:host ::ng-deep #sum-con .ti3-table{
  min-height: 0px !important;
}