<div class='box' #tiSelectCon>
  <!-- 修改密码弹窗 -->
  <app-modify-pwd #wed>
    <div class="content show-box" style="position: relative;" [ngClass]="{'show-box1': currLang === 'zh-cn'}">
      <div class="do-title">
        <img src="./assets/img/system/icon_system_tip.svg"
          style="display: inline-block; vertical-align: middle; margin-right: 10px; width: 24px;" />
        <span class="title">{{i18n.disclaimer_modal.title}}</span>
      </div>
      <div class="">
        <p *ngIf="currLang === 'zh-cn'">{{infochinese}}</p>
        <p *ngIf="currLang === 'en-us'">{{info}}</p>
      </div>
      <div class="btn-box">
        <button color="primary" (click)="closeWed()">{{i18n.common_term_operate_ok}}</button>
      </div>
      <div style="clear: both;"></div>
    </div>
  </app-modify-pwd>
  <img class="icon-banner1" src="./assets/img/home/top.svg" [ngClass]="{'toTop': !bannerShow}"
    [hidden]="bannerShow || toggerShow" alt="" (click)="topCollapse()" />
  <!-- 登录页面 -->
  <div *ngIf='!showHeader' class='router-content1'>
    <app-login (reLoad)="reLoad()" (showMain)="returnMain()"></app-login>
  </div>
  <div class='main' *ngIf="isMain">
    <div class="banner-container" [ngClass]="{'banner-collapse':!bannerShow}">
      <img class="icon-banner" src="./assets/img/home/top.svg" [hidden]="!bannerShow" alt="" (click)="topCollapse()" />
      <div class="alerm-container" *ngIf="progressData.isShow">
        <div class="alerm-circle">
          <app-circle-progress [progressData]="progressData" [progressPercent]="progressData.percent" [theme]="">
          </app-circle-progress>
        </div>
        <div class="alerm-tip" [ngStyle]="{
              left:
              currLang == 'en-us' ? 'calc(-100% - 100px)' : 'calc(-100% - 60px)'
            }">
          <p *ngFor="let tip of progressContext.tipContents">
            {{ tip.label }}
            <span [ngStyle]="{ color: tip.color }">{{ tip.value }}GB</span>
          </p>
          <p class="suggestion">{{ progressContext.suggestion }}</p>
        </div>
      </div>
      <div class="msg" *ngIf="currLang == 'zh-cn'">
        <ng-container *ngFor="let list of bannerList;let index = index">
          <a [href]="list.link" target="_blank" (mouseenter)="changebannerImgSrcZh(index, true)"
            (mouseleave)="changebannerImgSrcZh(index, false)">
            {{ list.title }}
            <img [src]="list.img" />
          </a>
        </ng-container>
      </div>
      <div class="msg" *ngIf="currLang == 'en-us'">
        <ng-container *ngFor="let list of bannerListEn;let index = index">
          <a [href]="list.link" target="_blank" (mouseenter)="changebannerImgSrcZh(index, true)"
            (mouseleave)="changebannerImgSrcZh(index, false)">
            {{ list.title }}
            <img [src]="list.img" />
          </a>
        </ng-container>
      </div>
    </div>
    <div class="container">

      <img class="img-open" src="./assets/img/home/toggle.svg" style="transform: rotateY(180deg);" alt=""
        [hidden]="navShow || toggerShow" (click)="toggleNav(true)" />
      <div class="nav" [ngClass]="{'navToggle': !navShow}">
        <img class="img-close" src="./assets/img/home/toggle.svg" alt="" [hidden]="!navShow"
          (click)="toggleNav(false)" />
        <ul>
          <li [ngClass]="{'active': chooseTab == 'porting-workload'}" routerLink="/homeNew/porting-workload" (click)="goTab('porting-workload',changeWeb)">
            {{i18n.common_term_headerTab1_labe_0}}</li>
          <li [ngClass]="{'active': chooseTab == 'home'}" routerLink="/homeNew/home" (click)="goTab('home',changeWeb)">
            {{i18n.common_term_headerTab1_label}}</li>
          <li [ngClass]="{'active': chooseTab == 'analysisCenter'}" routerLink="/homeNew/analysisCenter" (click)="goTab('analysisCenter',changeWeb)">
            {{i18n.common_term_headerTab3_label}}</li>
          <li [ngClass]="{'active': chooseTab == 'migrationCenter', 'isCollapse': isShow}" (click)="show()">
            <span (click)="collapse()" [ngClass]="{'port': isShow}">
              {{i18n.common_term_headerTab2_label}}
              <img src="./assets/img/home/icon-Pagination-right.png" alt="" />
            </span>
            <ul [ngClass]="{'collapse': !isShow}" [ngStyle]="{'margin-top':isShow?'10px':'0'}">
              <li *ngFor="let item of firstSortData;let index = index" (click)="showSecondData(item.key,index)"
                [ngClass]="{'active1': isClick == index}">
                {{item.label}}
              </li>
            </ul>
          </li>
          <li [ngClass]="{'active': chooseTab == 'PortingPre-check'}" routerLink="/homeNew/PortingPre-check" (click)="goTab('PortingPre-check')"
            [ngStyle]="{'margin-top':isShow?'10px':'0'}">
            {{i18n.common_term_headerTab4_label}}
          </li>
        </ul>
      </div>
      <div class='router-content'>
          <app-porting-workload *ngIf="tabLabel && tabLabel === 'porting-workload'"></app-porting-workload>
          <app-home *ngIf="tabLabel && tabLabel === 'home'"></app-home>
          <app-analysis-center *ngIf="tabLabel && tabLabel === 'analysisCenter'"></app-analysis-center>
          <app-migration-center *ngIf="tabLabel && tabLabel === 'migrationCenter'"  (voted)="onVoted($event)"></app-migration-center>
          <app-memory-barrier-analysis *ngIf="tabLabel && tabLabel === 'PortingPre-check'"></app-memory-barrier-analysis>
      </div>
    </div>
  </div>
</div>

<!-- 修改初始密码 modal start -->
<ng-template #firstLogin let-context='context'>
  <ti-modal-header>{{ context.title }}</ti-modal-header>
  <ti-modal-body>
    <div class="tip-box flex">
      <div class="img-box">
        <img src="./assets/img/home/icon_tip24.png" />
      </div>
      <p>{{ i18n.common_term_user_label.tip }}</p>
    </div>
    <div class="edit-box">
      <ti-formfield [formGroup]="userPwd">
        <ti-item [label]="label.userName">
          <input
            tiText class="inp-width300" disabled
            [(ngModel)]="userName"
            [tiValidation]="validation" formControlName="userName"
          />
        </ti-item>

        <ti-item [label]="label.oldPwd" [required]="true">
          <input tiText class="inp-width300" [tiValidation]="validation"
            formControlName="oldPwd" autocomplete="new-password" type="password" oncopy="return false"
            oncontextmenu="return false" onkeyup="if(event.ctrlKey&&event.keyCode===90){ return false;}"
            onkeydown="if(event.ctrlKey&&event.keyCode===90){return false;}"
            oncut="return false" maxlength="32" />
          <span class="init-pwd flex" #user></span>
        </ti-item>

        <ti-item [label]="label.Pwd" [required]="true">
          <input tiText class="inp-width300" [tiValidation]="validation" formControlName="pwd" type="password"
            [errorMessageWrapper]="newPwd" oncopy="return false" oncontextmenu="return false"
            onkeyup="if(event.ctrlKey&&event.keyCode===90){ return false;}"
            onkeydown="if(event.ctrlKey&&event.keyCode===90){return false;}"
            oncut="return false" maxlength="32" />
          <span class="init-pwd flex" #newPwd></span>
        </ti-item>

        <ti-item [label]="label.Cpwd" [required]="true">
          <input tiText class="inp-width300" [tiValidation]="validation" formControlName="cpwd" type="password"
            [errorMessageWrapper]="cPwd" oncopy="return false" oncontextmenu="return false"
            onkeyup="if(event.ctrlKey&&event.keyCode===90){ return false;}"
            onkeydown="if(event.ctrlKey&&event.keyCode===90){return false;}"
            oncut="return false" (keyup.enter)="context.close()" maxlength="32" />
          <span class="init-pwd flex" #cPwd></span>
        </ti-item>
      </ti-formfield>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <button type="button" color="primary" (click)="context.close()" tiButton>{{ i18n.common_term_operate_ok }}</button>
    <button type="button" (click)="context.dismiss()" tiButton>{{ i18n.common_term_operate_cancel }}</button>
  </ti-modal-footer>
</ng-template>
<!-- 修改初始密码 modal end -->

<ng-template #changeWeb let-context="context">
  <ti-modal-header>
  </ti-modal-header>
  <ti-modal-body>
    <div class="del-content" *ngIf="isChecked != 'true'">
      <div class="title">
        <img src="./assets/img/home/icon_warn.png" alt="">
        <p class="tip1">{{giveupfilename}}</p>
      </div>
      <p class="tip2">{{i18n.common_term_giveup_tip2}}</p>
    </div>
    <div class="del-content" *ngIf="isChecked == 'true'">
      <div class="title">
        <img src="./assets/img/home/icon_warn.png" alt="">
        <p class="tip1">{{giveupfilename}}</p>
      </div>
      <p class="tip2">{{i18n.common_term_leave_tip2}}</p>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <div class="changeWeb-btn-box">
      <button type="button" class="user-sure-btn" (click)="context.close()"
        tiButton>{{i18n.common_term_operate_ok}}</button>
      <button type="button" color="primary" class="user-close-btn" (click)="context.dismiss()"
        tiButton>{{i18n.common_term_operate_cancel}}</button>
    </div>
  </ti-modal-footer>
</ng-template>

<!-- 免责声明 Modal start -->
<app-about-mask #disclaimer [isDisclaimer]="true" [isFirstDisclaimer]="true">
  <div class="content">
    <app-common-disclaimer [isConfirm]="true" (closeDisclaimer)="closeDisclaimer()"
      (confirmDisclaimer)="confirmDisclaimer()"></app-common-disclaimer>
  </div>
</app-about-mask>
<!-- 免责声明 Modal end -->

<!-- 退出免责声明  modal -->
<ng-template #thinkModal let-context="context">
  <ti-modal-header>{{ i18n.disclaimer_modal.title }}</ti-modal-header>
  <ti-modal-body>
    <div class="content">
      <div class="img-box">
        <img src="./assets/img/home/icon_warn.png" />
      </div>
      <p>{{ i18n.disclaimer_modal.content }}</p>
    </div>
  </ti-modal-body>
  <ti-modal-footer>
    <button type="button" color="primary" (click)="context.dismiss()"
      tiButton>{{ i18n.disclaimer_modal.confirm }}</button>
    <button type="button" (click)="context.close()" tiButton>{{ i18n.common_term_user_info[5] }}</button>
  </ti-modal-footer>
</ng-template>

<!-- 意见反馈无网络  modal -->
<app-advice-error-alert #errorAlert></app-advice-error-alert>
