.box{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .ram{
        width: 48%;
        background: var(--d-161616-l-ffffff);
        padding: 24px;
        margin-right: 32px;

        .title{
            padding-bottom: 20px;
            border-bottom: 1px var(--d-solid-l-dotted) var(--d-484848-l-e1e6ee);
        }

        .ramBox{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            max-height: 300px;
            overflow: auto;

            .ramLeft,.ramRight{
                width: 48%;
                
                li{
                    min-width: 240px;
                }
                li:hover{
                    background: var(--d-383838-l-f5f9ff);
                }
                span{
                    min-width: 120px;
                    display: inline-block;
                    width: 48%;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    padding-left: 5px;
                    box-sizing: border-box;
                }
            }
        }
    }
    .instruction{
        width: 48%;
        background: var(--d-161616-l-ffffff);
        padding: 24px;
        .title{
            padding-bottom: 20px;
            border-bottom: 1px var(--d-solid-l-dotted) var(--d-484848-l-e1e6ee);
        }

        .instructionBox{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            max-height: 300px;
            overflow: auto;

            .instructionLeft,
            .instructionRight{
                width: 48%;
                box-sizing: border-box;

                li{
                    min-width: 240px;

                    div {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      font-size: 14px;

                      .item-name {
                        min-width: 120px;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 5px;
                        box-sizing: border-box;
                        flex: 1;

                        display: flex;
                        align-items: center;
                      }

                      .item-value {
                        padding-left: 10px;
                        width: 80px;
                      }
                    }
                }
                li:hover{
                    background: var(--d-383838-l-f5f9ff);
                }
            }
        }
    }
}
.imgLeft{
    margin-left: 8px;
}
.onlyRam{
    width: 100% !important;
    margin-right: 0 !important;
}