<div style="position: relative;">
    <app-banner></app-banner>
    <div class="login-box">
        <div class="login-form" *ngIf="isFirstLogin">
            <p class="login-title1">{{i18n.plugins_perf_title_login}}
                <a class="help-tips-icon"
                    [href]="pluginUrlCfg.sysLogin_openFAQ1">
                    <img *ngIf="currTheme == 1" src="./assets/img/common/icon-help-dark.svg" />
                    <img *ngIf="currTheme == 2" src="./assets/img/common/icon-help-light.svg" />
                </a>
            </p>
            <div class="login-title2">
                <img src="./assets/img/template/iconWarn.svg" /><span>{{i18n.plugins_perf_message_firstlogin}}</span>
            </div>
            <div *ngIf="isShow" class="info ti3-unifyvalid-error-container">
                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                <span>{{msg}}</span>
            </div>
            <form [formGroup]="firstform" style=" margin-top: 2.18vw;" autocomplete="off">
                <div class="login-form-item">
                    <div class="login-form-item-label">{{i18n.plugins_perf_label_username}}</div>
                    <input  type="text" disabled id="user" value="tunadmin">
                    <span #name></span>
                </div>
                <div class="login-form-item">
                    <div class="login-form-item-label ti3-icon ti3-icon-staricon ">{{i18n.plugins_perf_label_password}}
                    </div>
                    <input tiValidation formControlName="npwd" [type]="textType.type1" [tiValidation]="pwdValidation"
                        [errorMessageWrapper]="npwd" autocomplete="new-password" name="loginpwd" id="loginpwd" tiText
                        oncopy="return false" oncontextmenu="return false"
                        (ngModelChange)='resetConfirmValidator(firstform.controls.Cpwd)'
                        onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                        onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}" onpaste="return true"
                        oncut="return false" style="padding-right: 32px;" noeye/>
                        <div class="eye">
                            <span (click)="changeType(1)" *ngIf="textType.type1 == 'text'">
                                <img src="./assets/img/common/icon-view.svg" />
                            </span>
                            <span (click)="changeType1(1)" *ngIf="textType.type1 == 'password'">
                                <img src="./assets/img/common/icon-hide.svg" />
                            </span>
                        </div>
                    <span #npwd class="error-msg-span"></span>
                </div>
                <div class="login-form-item" style="margin-bottom: 50px;">
                    <div class="login-form-item-label ti3-icon  ti3-icon-staricon">{{confirmPwd}}</div>
                    <input tiValidation formControlName="Cpwd" [type]="textType.type2" [tiValidation]="CpwdValidation"
                        [errorMessageWrapper]="Cpwd" name="Cpwd" id="Cpwd" (keyup.enter)="setPwd()" tiText
                        oncopy="return false" oncontextmenu="return false"
                        onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                        onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}" onpaste="return true"
                        oncut="return false" style="padding-right: 32px;" noeye/>
                        <div class="eye">
                            <span (click)="changeType(2)" *ngIf="textType.type2 == 'text'">
                                <img src="./assets/img/common/icon-view.svg" />
                            </span>
                            <span (click)="changeType1(2)" *ngIf="textType.type2 == 'password'">
                                <img src="./assets/img/common/icon-hide.svg" />
                            </span>
                        </div>
                    <span #Cpwd class="error-msg-span"></span>
                </div>
                <button type="button" (click)="setPwd()" class="primary-btn" [disabled]="btnDisable">
                    <span>{{i18n.plugins_perf_button_confirm}}</span>
                </button>
            </form>
        </div>

        <div class="login-form" *ngIf="!isFirstLogin">
            <p class="login-title1">{{i18n.plugins_perf_title_login}}
                <a class=" help-tips-icon"
                [href]="pluginUrlCfg.sysLogin_openFAQ2">
                    <img *ngIf="currTheme == 1" src="./assets/img/common/icon-help-dark.svg" />
                    <img *ngIf="currTheme == 2" src="./assets/img/common/icon-help-light.svg" />
                </a>
            </p>
            <div *ngIf="isShow" class="info ti3-unifyvalid-error-container">
                <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                <span>{{msg}}</span>
            </div>
            <form [formGroup]="form" autocomplete="off">
                <div class="login-form-item">
                    <div class="login-form-item-label ti3-icon  ti3-icon-staricon">{{i18n.plugins_perf_label_username}}
                    </div>
                    <input tiValidation formControlName="name" [errorMessageWrapper]="name"
                        [tiValidation]="nameValidation" name="loginname" (blur)="getAutoCofig()" tiText 
                        oncopy="return false"
                        onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                        onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}"
                        onpaste="return true" 
                        oncut="return false" style="padding-right: 32px;"
                        maxlength="32"
                        tiMaxLength="32"
                        (ngModelChange)="handleChange($event)"
                    />
                    <span #name class="errMsg"></span>
                </div>
                <div class="login-form-item">
                    <div class="login-form-item-label ti3-icon  ti3-icon-staricon">{{i18n.plugins_perf_label_password}}
                    </div>
                    <input tiValidation formControlName="pwd" [type]="textType.type3" [tiValidation]="pwdValidation"
                        [errorMessageWrapper]="pwd" autocomplete="new-password"
                        name="loginpwd" id="userloginpwd" (keyup.enter)="preLogin()" tiText oncopy="return false"
                        oncontextmenu="return false" onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                        onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}" onpaste="return true"
                        oncut="return false" style="padding-right: 32px;" maxlength="32" noeye
                        tiMaxLength="32" />
                        <div class="eye" *ngIf="autologin">
                            <span (click)="changeType(3)" *ngIf="textType.type3 == 'text'">
                                <img src="./assets/img/common/icon-view.svg" />
                            </span>
                            <span (click)="changeType1(3)" *ngIf="textType.type3 == 'password'">
                                <img src="./assets/img/common/icon-hide.svg" />
                            </span>
                        </div>
                    <span #pwd class="errTip" [ngStyle]="{'margin-top': autologin ? '-20px' : 0}"></span>
                </div>
            </form>
            <div class="autoLogin" *ngIf="isSystem">
                <ng-container *ngIf="!autodis">
                    <div *ngFor="let auto of autos;let i = index" style="display: inline-block;margin-right: 40px">
                        <label><input tiCheckbox type="checkbox" [(ngModel)]="auto.checked"
                                (change)="checkEvent(auto,i)">{{auto.labelName}}</label>
                    </div>
                </ng-container>
                
                <ng-container *ngIf="autodis">
                    <div style="display: inline-block;margin-right: 40px" [tiTip]='i18n.plugins_common_admin_cannot_remember_password' tiTipPosition="right">
                        <input type="checkbox" tiCheckbox [disabled]="autodis" [label]="i18n.plugins_perf_label_rememberPwd">
                    </div>
                    <div style="display: inline-block;margin-right: 40px" [tiTip]='i18n.plugins_common_admin_cannot_auto_login' tiTipPosition="right">
                        <input type="checkbox" tiCheckbox [disabled]="autodis" [label]="i18n.plugins_perf_label_autoLogin">
                    </div>
                </ng-container>
                
                
            </div>
            <div class="login-form-item">
                <button type="button" (click)="preLogin()" class="primary-btn" [disabled]="btnDisable">
                    <span>{{i18n.plugins_perf_button_login}}</span>
                </button>
            </div>
        </div>

        <div class="footer">{{i18n.plugins_perf_term_copyright}}</div>
    </div>

    <!--用户修改初始密码-->
    <app-first-login #firstLogin>
        <div class="content firstLogin" style="position: relative;">
            <span *ngIf="changeFirstpwd" class="create-title">{{ i18n.plugins_perf_title_changeInitial }}</span>
            <span (mousedown)='closePwdReset()' class="tip-close">
                <img class="close-img" src="./assets/img/header/close_icon.svg" />
                <img class="close-img" src="./assets/img/header/close_icon_hover.svg">
            </span>
            <span *ngIf="!changeFirstpwd" style="position: relative;">{{i18n.plugins_perf_title_changePwd}}
                <div [tiTip]="tipIpt2" class="helpTip" style="background: url(./assets/img/common/icon_tip.png);"
                    tiTipPosition="right" tiTipMaxWidth="500px" style="width:13px;height:13px;margin-left: 5px;">
                </div></span>
            <div class="title-border"></div>
            <div class="message">
                <img class="tipImg" src="./assets/img/common/icon-information.png" alt="" />
                <span *ngIf="changeFirstpwd" class="create-remark">{{ i18n.plugins_perf_tips_creatrmk }}</span>
                <span *ngIf="!changeFirstpwd"
                    class="create-remark">{{ i18n.pwd_guoqi}}</span>
            </div>
            <div class="edit-box">
                <div *ngIf="isPwdShow" class="error-message ti3-unifyvalid-error-container">
                    <span class="ti3-error-icon-bg"><span class="ti3-error-icon ti3-icon ti3-icon-alert-warn"></span></span>
                    <span class="ti3-validate-text">{{msg}}</span>
                </div>
                <ti-formfield [formGroup]="userPwd">
                    <ti-item [label]="label.oldPwd" [required]="true">
                        <div style="position: relative;">
                        <input tiText [tiValidation]="validation" formControlName="oldPwd" autocomplete="new-password"
                            [type]="textType.type4" oncopy="return false" oncontextmenu="return false"
                            onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                            (blur)="resetConfirmValidator(userPwd.controls.pwd)"
                            onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}" onpaste="return true"
                            oncut="return false" style="padding-right: 32px;" noeye/>
                            <div class="eyes">
                                <span (click)="changeType(4)" *ngIf="textType.type4 == 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="changeType1(4)" *ngIf="textType.type4 == 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </ti-item>
                    <ti-item [label]="label.Pwd" [required]="true">
                        <div style="position: relative;">
                        <input tiText [tiValidation]="validation" formControlName="pwd" [type]="textType.type5"
                            oncopy="return false" oncontextmenu="return false"
                            onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                            (ngModelChange)='resetConfirmValidator(userPwd.controls.cpwd)'
                            onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}" onpaste="return true"
                            oncut="return false" style="padding-right: 32px;" noeye/>
                            <div class="eyes">
                                <span (click)="changeType(5)" *ngIf="textType.type5 == 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="changeType1(5)" *ngIf="textType.type5 == 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </ti-item>
                    <ti-item [label]="label.Cpwd" [required]="true">
                        <div style="position: relative;">
                        <input tiText [tiValidation]="validation" formControlName="cpwd" [type]="textType.type6"
                            oncopy="return false" oncontextmenu="return false"
                            onkeyup="if(event.ctrlKey&&event.keyCode==90){ return false;}"
                            onkeydown="if(event.ctrlKey&&event.keyCode==90){return false;}" onpaste="return true"
                            oncut="return false" (keyup.enter)="setUserPwd()" style="padding-right: 32px;" noeye/>
                            <div class="eyes">
                                <span (click)="changeType(6)" *ngIf="textType.type6 == 'text'">
                                    <img src="./assets/img/common/icon-view.svg" />
                                </span>
                                <span (click)="changeType1(6)" *ngIf="textType.type6 == 'password'">
                                    <img src="./assets/img/common/icon-hide.svg" />
                                </span>
                            </div>
                        </div>
                    </ti-item>
                </ti-formfield>
                <div style="text-align: center;">
                    <button type="button" class="primary-btn" (click)="setUserPwd()" [disabled]="!userPwd.valid">
                        <span>{{ i18n.plugins_perf_button_confirm }}</span>
                    </button>
                </div>
            </div>
        </div>
    </app-first-login>

    <div *ngIf="showLoading" class="loading">
        <app-loading [height]="'100%'" [size]="'max'"></app-loading>
    </div>
</div>