.login-box {
    width: 100%;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    min-height: 600px;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 46px;
}

.user-container {
    color: #6c7280;
    height: 64px;
    display: flex;
    align-items: center
}

.create-remark {
    color: #888888;
    font-size: 14px;
}

.user-container img {
    margin-left: 5px;
    vertical-align: middle;
}

.helpTip {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: -22px;
    margin-left: 10px;
}

.user-container:hover+.user-list-box {
    display: block;
    opacity: 1;
}

.change-lang {
    display: inline-block;
    padding-right: 10px;

    img {
        margin-right: 5px;
    }

    ul {
        right: 180px;
        width: 80px;
        color: #6c7280;
    }
}

.firstLogin {
    width: 558px;
    padding: 20px 40px 40px 40px;

    .close-img{
        position: absolute;
        right: 38px;
    }
    .tip-close{
        display: inline-block;
        img:hover {
            cursor: pointer;
        }
        & > img {
            display: none;
        }
        & > img:nth-of-type(1) {
            display: block;
        }
        &:hover {
            & > img:nth-of-type(1) {
                display: none;
            }
            & > img:nth-of-type(2) {
                display: block;
            }
        }
        &:active {
            & > img:nth-of-type(1) {
                display: none;
            }
            & > img:nth-of-type(2) {
                display: block;
            }
        }
    }

    .title-border {
        height: 1px;
        display: block;
        width: 100%;
        margin-top: 20px;
        border-bottom: 1px dashed #4B4B4B;
    }

    .edit-box {
        margin-top: 20px;

        input {
            width: 400px;
            height: 28px;
            background-color: var(--d-252526-l-ffffff) !important;
        }
    }

    .btn-box {
        margin-top: 1vw;
        text-align: center;
    }

    .tipImg {
        vertical-align: middle;
        margin-right: 4px;
        margin-bottom: 2px;
    }

}

.primary-btn {
    margin-top: 30px;
    width: 160px;
    line-height: 32px;
    height: 32px;
    margin-right: 0;
    border: none;
}

.primary-btn[disabled]{
    background: #313131 !important;
    color: #616161 !important; 
    cursor: not-allowed;
}

:host .firstLogin ::ng-deep .ti3-unifyvalid-error-container {
    width: 400px;
    display: flex;
    line-height: 16px;
    min-height: 16px;
    margin-bottom: 16px;
}


:host .firstLogin ::ng-deep .ti3-validate-text {
    vertical-align: top;
}

.user-list-box {
    width: 95px;
    height: auto;
    background-color: #202228;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0px;
    top: 50px;
    padding: 10px;
    z-index: 100;
    display: none;
    opacity: 0;
    transition: 0.5s linear;
    text-align: center;
    color: #6c7280;
}

.user-list-box>li {
    margin-top: 10px;
    cursor: pointer;
}

.user-list-box>li:nth-child(1) {
    margin-top: 0px
}

.user-list-box:hover {
    display: block;
    opacity: 1;
}

.title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 20px;
    vertical-align: top
}

.login-form {
    width: 26.1%;
    min-width: 200px;
    margin-left: 80px;
    margin-top: 40px;
    height: auto;
    box-sizing: border-box;
    top: 10vw;
    padding: 0px;

    .login-title1 {
        font-size: 20px;
        height: 26px;
        width: 688px;
        margin-bottom: 40px;
        position: relative;
    }

    a.help-tips-icon {
        position: absolute;
        top: 5px;
        padding-left: 10px;
        outline: none;

        img {
            vertical-align: top;
        }
    }

    .login-title2 {
        height: 20px;
        font-size: 14px;
        color: #B7B7B7;
        width: 688px;
        display: inline-block;

    }

    .login-title2 img {
        vertical-align: middle;
        margin-right: 6px;
    }

    .login-form-item {
        margin-top: 20px;

        .login-form-item-label {

            height: 18px;
            font-size: 14px;
            width: 400px;
        }

        input {
            width: 400px;
            border: none;
            margin-top: 10px;
            border: 1px solid var(--color-input-border);
            box-shadow: none;
            border-radius: 0px;
            background: var(--vscode-editor-background);
            height: 28px;
            font-size: 14px;
            color: var(--common-color-font-primary);
            background-image: unset !important;
        }

        input:focus {
            border: none;
            border: 1px solid #6C92FA;
        }

        input:hover {
            border: none;
            border: 1px solid #6C92FA;
        }

        .codeInput {
            width: 67%;
        }

        .codeImg {
            width: 5.416vw;
            height: 2.3vw;
            vertical-align: bottom;
            margin-left: 0.6vw;
        }

        .check {
            display: inline-block,
        }
    }
}

:host .check ::ng-deep :host input[type=checkbox][tiCheckbox]+.ti3-checkbox .ti3-checkbox-label {
    color: #222 !important;
    font-size: 1rem
}

:host .check ::ng-deep input[type=checkbox][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin,
input[type=checkbox][tiCheckbox]:not([disabled]):checked+.ti3-checkbox .ti3-checkbox-skin:focus {
    border-color: #6C92FA;
    background-color: #6C92FA;
}

.login-btn {
    display: inline-block;
    width: 98px;
    height: 28px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background: #0067FF;
    color: #ffffff;
    margin-top: 2vw;
    cursor: pointer;
}

.last-info {
    text-align: center;
    margin-top: 0.83vw;
    font-size: 1rem
}

.footer {
    font-size: 1rem;
    color: #888;
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
}

.tool-version {
    font-size: 1.25rem;
    color: #282B33;
    margin-top: 10px;
    margin-bottom: 2.18vw;
    font-family: "huawei sans";
}

#user {
    height: 28px;
    width: 400px;
    background-color: #e6ebf5;
    border-radius: 1px;
    font-family: "huawei sans";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #b8becc;
    padding-left: 10px;
    box-sizing: border-box;
}

.fisrstTit {
    background-color: #d1ebff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px #6cbfff;
    box-sizing: border-box;
    padding: 11px 16px;
}

.fisrstTit p {
    font-family: "huawei sans";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #282b33;

    img {
        padding-right: 8px;
        vertical-align: bottom;
    }
}

.info {
    width: 688px;
    margin-top: 10px;
}
::ng-deep .vscode-dark {
    .help-tips-icon {
        img {
            vertical-align: top;
        }
    }

    .firstLogin {

        background: #252526;

        .create-title {
            font-size: 20px;
            color: #e8e8e8;
        }

    }

    --background-clr: #1E1E1E;
    --font-clr: #AAAAAA;
    --title-clr: #DDDDDD;
    input[type=checkbox][tiCheckbox][disabled] + .ti3-checkbox .ti3-checkbox-skin {
        background-color: #313131 !important;
        border: solid 1px #616161 !important;
    }
}

::ng-deep .vscode-light {
    .help-tips-icon {
        img {
            vertical-align: top;
        }
    }
    input[type=checkbox][tiCheckbox][disabled] + .ti3-checkbox .ti3-checkbox-skin {
        background-color: #fff !important;
    }

    .firstLogin {
        background: #FFFFFF;
        .title-border {
            border-bottom: 1px dashed #4B4B4B;
        }

        .create-title {
            font-size: 20px;
            color: #222222 !important;
        }
    }

    .firstLogin .edit-box input {
        background-color: #fff !important;
    }
    .primary-btn[disabled] {
        background-color: #f5f5f5 !important;
    }

    --background-clr: #FFFFFF;
    --font-clr: #222222;
    --title-clr: #222222;
}

:host ::ng-deep .ti3-form .ti3-form-label {
    color: #aaaaaa !important;
    font-size: 12px !important;
}

.message {
    margin-top: 20px;
    line-height: 14px;
}

.autoLogin {
    margin-top: 20px;
    font-size: 14px;

    .inputSelect {
        width: auto !important;
        border-right: 10px;
    }

    .checkbox {
        display: inline-block;
        vertical-align: top;

        p {
            position: relative;
            font-size: 16px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    ::ng-deep .home_checkbox_item {
        .ti3-checkbox-skin {
            border-color: #888888 !important;

            &:hover {
                border-color: #0067ff !important;
            }

            &:active {
                animation: none !important;
            }
        }

        input:checked+.ti3-checkbox .ti3-checkbox-skin::before {
            content: '';
            display: block;
            width: 9px;
            height: 4.5px;
            transform: rotate(-45deg) translate(0, 3px);
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
    }
}
.eyes {
    position: absolute;
    left: 375px;
    top: 6px;
    width: 20px;
    height: 20px;
}
.eye {
    position: relative;
    left: 375px;
    top: -21px;
    width: 20px;
    height: 20px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.errTip {
    display: block;
}
::ng-deep .errTip> .ti3-unifyvalid-error-container, ::ng-deep .errMsg> .ti3-unifyvalid-error-container {
    padding-top: 4px;
    .ti3-error-icon {
        padding-right: 0.5px;
    }
}

::ng-deep .ti3-form .ti3-form-content {
    padding-bottom: 0px !important; 
}