:host .mem {
  padding-top: 0;
  .paramsConfigSuggestions {
    font-size: 12px;
    color: #888888;
    margin-bottom: 5px;
  }

  .form {
    display: flex;
    justify-content: space-between;

    .tips {
      width: 600px;

      .header {
        .title {
          color: #252b3a;
          font-weight: bold;
          font-size: 14px;
        }

        .subTitle {
          font-size: 14px;
          line-height: 18px;
          margin-top: 4px;
          color: #6c7280;
        }
      }

      .list {
        margin-top: 8px;

        .item {
          color: #666;
          font-size: 14px;
          line-height: 25px;
          margin: 4px 0;
        }
      }
    }
  }
  
  footer {
    display: flex;
    justify-content: flex-start;
    height: 96px;
    margin-top: 20px;
    padding: 20px 0px;
    font-size: 12px;

    button {
      width: 100px;
      height: 28px;
      margin-right: 20px;
      min-width: 120px;
      margin-left: 0;
      box-sizing: border-box;
      line-height: 28px;
      color: #E8E8E8;
      background: #313131;
      border: 1px solid #DDDDDD;
    }

    button:hover {
      animation: none !important;
    }

    button.toRight {
      margin-left: 130px;
    }
  }
  
  // 配置节点参数
  .node-config-box {
    .switch{
      margin-top: 20px;
      margin-bottom: 20px;
      .config-title{
        width: 220px;
        padding-right: 20px;
        color: #6c7280;
        font-size: 14px;
        display: flex;
        align-items: center;
      }

      .content {
        margin-top: 10px;
        display: flex;
        align-items: center;

        .tip {
          margin-left: 16px;
          display: flex;
          align-items: center;
          color: #888888;
    
          img {
            margin-right: 8px;
          }
    
          span {
            font-size: 12px;
          }
        }
      }
    }
  
    .node-config {
      margin-top: 20px;
      width: 670.3px;
      font-size: 14px;
  
      .table{
        .status-icon {
          border-radius: 50%;
          vertical-align: middle;
          display: inline-block;
          margin-right: 5px;
          border: 4px solid #63B6F7;
  
          &.success-icon {
            border: 4px solid #61D274;
          }
  
          &.reserve-icon {
            border: 4px solid #0067ff;
          }
        }
  
        .config-btn{
          color: #0067FF;
          cursor: pointer;
        }
      }
    }
  }
}

// 配置节点参数弹框
::ng-deep .nodeConfigModal {

  .ti3-modal-body {
    --ti-default-font-size: 12px;

    .nodeInfo {
      margin-bottom: 20px;

      ti-formfield{
        .ti3-form {
          // 解决没有required参数的表单会和带有required参数的表单不对齐的问题
          & > tbody > tr > td:first-child {
            width: 16px;
          }
  
          textarea {
            box-sizing: border-box;
          }

          .nodeInfoItem {
            line-height: 32px;
            font-size: 12px;
          }

        }
      }
    }
  }

  .ti-modal-footer {
    display: flex;
    justify-content: center;
  }
}

::ng-deep .nodeConfigModal input.ng-untouched.ng-pristine.ng-valid.ng-star-inserted{
    background: transparent !important;
}
:host ::ng-deep .ti3-form .ti3-form-require {
    position: absolute;
}