<div class="container">
    <div class="top">
        <h3 class="title-color" [ngStyle]="{'color':'var(--font-d-e8e8e8-l-282b33)'}">{{i18n.plugins_porting_message_enhancefun_label.sourceCode}}</h3>
        <div class="menu">
            <ul>
                <li [tiTip]="prevStr" (click)="prev()"><img src="./assets/img/code-diff/prev.svg" onmouseover="this.src='./assets/img/code-diff/prevhover.svg'"
                    onmouseout="this.src='./assets/img/code-diff/prev.svg'" alt="">
                </li>
                <li [tiTip]="nextStr" (click)="next()"><img src="./assets/img/code-diff/next.svg" onmouseover="this.src='./assets/img/code-diff/nexthover.svg'"
                    onmouseout="this.src='./assets/img/code-diff/next.svg'" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="main" id='codes'>

    </div>

</div>
