::ng-deep .vscode-dark {
    --color-box-content: #252526;
    $linkColor: #000000;
    --color-content-shadow: rgba($linkColor, 0.8);
    --color-message: #ffffff;
}

::ng-deep .vscode-light {
    --color-box-content: #FFFFFF;
    $linkColor: #000000;
    --color-content-shadow: rgba($linkColor, 0.1);
    --color-message: #616161;
}

.notification-action-box {
    background-color: var(--color-box-content);
    box-shadow: 0px 3px 6px 0px var(--color-content-shadow);
    position: fixed;
    min-width: 280px;
    height: fit-content;
    bottom: 10px;
    right: 10px;
    padding: 15px;
    z-index: 999;
    display: block;
}

// .notification-action-box.active {
//     display: block;
// }

.title {
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    margin-bottom: 24px;
}

.title-notification {
    font-size: 13px;
    color: var(--color-message);
    display: flex;
    line-height: 15px;
}

.notification-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    img {
        size: 15px 15px;
    }
}

.action {
    position: relative;
    bottom: 5px;
    right: 0;
    float: right;
}

.icon-close img {
    width: 15px;
    cursor: pointer;
}