<div class="notification-action-box" *ngIf="isShow">
    <div class="title">
        <!-- notification type icon -->
        <div class="title-notification">
            <span class="notification-icon" [ngClass]="{'success': 'success', 'info': 'info', 'warn': 'warn', 'error': 'error'}[type]"></span>
            <!-- notification message -->
            <ng-content select=".notification-message"></ng-content>
        </div>

        <div class="icon-close" (click)="close()">
            <img src="./assets/img/close_icon.svg">
            <img src="./assets/img/close_hover.svg">
        </div>
    </div>
    <div class="action">
        <ng-content select=".action-content"></ng-content>
    </div>
</div>
