:host ::ng-deep #missStatisticsBox {
  height: 100%;
  display: flex;
  flex-direction: column;

  >.des {
    background: var(--title-bg);
    padding-left: 16px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 32px;

    .ti3-form {
      .ti3-form-label {
        color: #aaa;
      }

      .formContent {
        font-size: 14px;
      }
    }
    .view-switch{
      flex: 0 0 auto;
      display:flex;
      margin-left: 6px;
    
      app-icon-react {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  }

  >.missStatisticsTabs {
    flex: 1;
    display: flex;
    flex-direction: column;

    .ti3-tabs {
      .ti3-tab-li {
        position: relative;
        &:not(:last-child):after {
          background-color: #888 !important;
        }
      }
    }

    .ti3-tab-slider{
      margin-left: 0px !important;
      padding-top: 0;
    }

    .ti3-tab-content{
      padding-top: 10px !important;
      box-sizing: border-box;
      overflow: hidden;

      >.ti3-tab-pane {
        height: 100%;
        box-sizing: border-box;
      }
    }
  }

  
}
::ng-deep .vscode-dark{
    --title-bg:#152133;
}
::ng-deep .vscode-light{
    --title-bg:#fff;
}
