.numa-box {
    display: flex;
    color: #282b33;
    margin-top: 32px;
    margin-bottom: 20px;
}
.transform {
    transform: translate3d(0px, 0px, 0px);
}
.right {
    flex: 1;
    height: 99.8%;
    box-sizing: border-box;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: var(--d-e8e8e8-l-222222);
    display: block;
    width: 100%;
    text-align: left;
}
.numas {
    width: 98%;
    position: relative;
    margin-top: 24px;
}
.numa-index {
    color: #6c7280;
    display: block;
    width: 100%;
    text-align: center;
}
.numa-detail {
    padding: 4px;
    border-radius: 2px;
    border: dashed 1px #6c7280;
    position: relative;
    width: 100%;
    margin-top: 12px;
    padding-bottom: 19px;
}

.numa-item {
    width: 10%;
    margin-left: 2.3%;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: var(--d-ffffff-l-222222);
    background-color: #9ea4b3;
    border-radius: 2px;
    font-size: 1rem;
    margin-top: 16px;
    text-align: center;
}
.numa-table {
    flex: 1;
    margin-top: 20px;
    width: 100%;
}
.user-manage {
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    height: 95%;
    .create-title {
        color: var(--g-color-input);
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 18px;
        border-bottom: 1px dashed lightgray;
    }
    .create-btn {
        width: 130px;
        margin-top: 1vw;
        background: #6c92fa;
        border-color: #6c92fa;
        font-size: 0.9rem;
    }
    .user-table {
        width: 35vw;
        margin-top: 1vw;
        flex: 1;
    }
    .user-close-btn {
        width: 15%;
        margin: 2vw auto;
        font-size: 0.9rem;
    }
    .user-opt {
        text-decoration: underline;
        margin-left: 1vw;
        color: #6c92fa;
        cursor: pointer;
    }
    .title-border {
        flex: 0 0 1px;
        display: block;
        width: 100%;
        background: #d4d9e6;
        margin-top: 1vw;
    }
}
.blockCls {
    color: red;
}
.blockCls img {
    position: relative;
    top: 1px;
}

.modal-dialog {
    padding: 0px 32px;
    max-width: 660px;
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    main {
        flex: 1;
        .start-now {
            width: 67px;
            height: 14px;
            font-family: "huawei sans";
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 14px;
            letter-spacing: 0px;
            color: #6c7280;
            vertical-align: text-bottom;
        }

        .create-title {
            display: inline-block;
            color: var(--g-color-input);
            width: 100%;
            font-size: 20px;
            font-weight: normal;
            padding-bottom: 18px;
            border-bottom: 1px dashed lightgray;
        }
    }

    footer {
        text-align: center;
        height: 96px;
        line-height: 96px;
        button {
            height: 32px;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-bottom: 20px;
    align-items: center;
    cursor: default;

    p {
        font-family: "FZLTHJW--GB1-0";
        color: var(--d-e8e8e8-l-222222);
        font-size: 20px;
        line-height: 26px;
    }

    div {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.rocket {
    margin-bottom: -4px;
    margin-left: 8px;
}

.suggest {
    color: var(--d-e8e8e8-l-222222);
    margin-left: 4px;
}

::ng-deep .ti3-table > .ti3-table-container > table > tbody > tr.active {
    &:first-of-type > td::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--rigth-title-bottom);
        left: 0;
        top: 0;
    }

    > td {
        line-height: none;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 14px;
        position: relative;
        border-bottom: 1px solid var(--d-545454-l-e1e6ee);

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: var(--rigth-title-bottom);
            left: 0;
            bottom: 0;
        }
    }
}

#numaBox > .right > .numa-table ::ng-deep .ti3-table > .ti3-table-container > table > tbody > tr:hover {
    td {
        background-color: var(--mc-color-tr-bg-hover) !important;
    }
}

#numaBox
    > .right
    > .numa-table
    ::ng-deep
    .ti3-table
    > .ti3-table-container
    > table
    > tbody
    > .ti3-table-nodata-simple:hover {
    td {
        background-color: var(--d-161616-l-ffffff) !important;
    }
}
#numaBox > .right > .numa-table ::ng-deep .ti3-table > .ti3-table-container > table > tbody > tr > .disabled {
    color: var(--d-616161-l-cccccc) !important;
}
#numaBox > .right > .numa-table ::ng-deep .ti3-table > .ti3-table-container > table > tbody > tr > .blue {
    color: #0067ff !important;
    cursor: pointer;

    &:hover {
        color: #267dff !important;
    }

    &:active {
        color: #0056D4 !important;
    }

    &:visited {
        color: #5D7DF1 !important;
    }
}

::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    border-bottom: 1px solid var(--d-545454-l-e1e6ee);
}

::ng-deep #switchingTimesHead {
    padding: 20px 0px 0px 0px !important;
}

::ng-deep #switchingTimesBody {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    &:after {
        height: 0px !important;
    }
}

::ng-deep #switchingTimesFooter {
    border: none;

    button {
        cursor: pointer;
        width: 160px !important;
        height: 32px !important;
        line-height: 32px !important;
    }
}

::ng-deep #switchingTimes .ti3-modal-dialog {
    margin: 0;
}

:host .numa-box ::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container.nodata-container {
    background: var(--d-161616-l-ffffff) !important;
}

.numa-box table > tbody > tr {
    &:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover,
    &:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
        td {
            background-color: var(--d-161616-l-ffffff) !important;
        }
    }
}

::ng-deep .ti3-modal-open .ti3-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .ti3-table > .ti3-table-fixed-head {
    overflow: visible;
    .search-icon {
        width: 12px;
        margin-left: 8px;
        cursor: pointer;
    }

    .ti3-table-fixed-head-filler {
        background-color: var(--d-2a2a2a-l-ffffff);
    }
}
.ti3-table > .ti3-table-fixed-head > table > thead > tr > th {
    overflow: visible !important;
}

.ti3-table > .ti3-table-container > table > tbody > tr > td {
    border-bottom: 1px solid var(--d-545454-l-e1e6ee);
}

::ng-deep ti-pagination.ti3-page-container .ti3-pag-total-items {
    color: var(--d-aaaaaa-l-222222);
}
