.chart-box {
    display: flex;
    flex-direction: row;
    top: 0px;
    position: relative;
    width: 100% !important;
}
.left {
    position: relative;
}
.right {
    flex: 1;
    background: var(--ti-default-body-bg);
    position: relative;
}
.right-bg {
    position: absolute;
    width: 96%;
    left: 2%;
}
.line {
    width: 140%;
    height: 1px;
    background: var(--rigth-title-bottom);
    position: absolute;
    z-index: 11;
}
.table-title {
    position: absolute;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    top: -8px;
}
.table-title li {
    display: inline-block;
}
.table-iterm {
    display: inline-block;
}
