<div class="migration-report-container">
  <div class="main-title" style="border-bottom: 1px solid #E1E6EE !important;">
    <img src="./assets/img/header/back.svg" alt="" style="cursor: pointer;" (click)="goHome()" [tiTip]='tipStr'
      tiTipPosition="right" />
    <span>{{ currentReport }}</span>
  </div>
  <div class="detail-container">
    <div id="report-arguments" class="detail-items detail-border scroll-style">
      <h1>{{ i18n.common_term_setting_infor }}</h1>
      <div class="setting-left">
        <div class="setting-left-item" *ngIf="textForm1.firstItem.value.length">
          <span>{{ textForm1.firstItem.label }}</span>
          <span class="package-tip" tiOverflow>{{ packageNameStr }}</span>
        </div>
        <div class="setting-left-item">
          <span>{{ textForm1.fifthItem.label }}</span>
          <span>{{ textForm1.fifthItem.value }}</span>
        </div>
        <div class="setting-left-item" *ngIf="textForm1.seventhItem.value.length">
          <span>{{ textForm1.seventhItem.label }}</span>
          <div style="max-width: 460px;">
            {{ textForm1.seventhItem.value }}
            <span *ngIf="textForm1.seventhItem.value.length > 1">,...</span>
          </div>
        </div>
        <div class="setting-left-item">
          <span>{{ textForm1.sixthItem.label }}</span>
          <span>{{ textForm1.sixthItem.value }}</span>
        </div>
      </div>
      <div class="setting-right">
        <div class="setting-right-item">
          <p>{{ i18n.common_term_report_level0_desc }}</p>
          <p>{{ soFilesUse }}</p>
        </div>
        <div class="setting-right-item">
          <p>{{ i18n.common_term_report_level2_desc }}</p>
          <p>{{ soFilesNeed }}</p>
        </div>
        <div class="setting-right-item">
          <p>{{ i18n.common_term_name_total }}</p>
          <p>{{ soFilesTotal }}</p>
        </div>
      </div>
    </div>

    <div class="recognize-items detail-border scroll-style">
      <div class="report-detail-table">
        <div *ngFor="let item of scanItems.type">
          <div class="table-container">
            <div class="detail-label">
              <span >{{ scanItems[item].label }}</span>
            </div>
          </div>
          <div class="items-detail-container">
            <div *ngIf="item == 'soFile'">
              <ti-table [(displayedData)]="binDetailDisplay" [srcData]="binDetailSrcData" [columns]="binDetailColumns" tiColsResizable [searchWords]="searchWords" [searchKeys]="searchKeys">
                <div class="ti3-table-fixed-head">
                    <table>
                        <thead>
                            <tr>
                                 <!--实际显示的表头。注意:给表格设置宽度时，给.ti3-table-fixed-head和.ti3-table-container下的对应的th都要设置-->
                                 <ng-container *ngFor="let column of binDetailColumns;index as i;">
                                  <th tiOverflow width="{{column.width}}" *ngIf="column.title !== i18n.common_term_operate_analysis_result">{{column.title}}</th>
                                  <th *ngIf="column.title === i18n.common_term_operate_analysis_result" width="{{column.width}}">
                                    <!--当表头有排序图标或漏斗排序图标，文本title需要显示不下出省略号及tip时需使用ti-cell-text组件；
                                        ti-head-sort为表头过滤漏斗图标-->
                                    <ti-cell-text>{{column.title}}</ti-cell-text>
                                    <!--ngModel接口可设置和获取headfilter下拉选中值，ti3-head-filtered样式类是
                                        组件提供的设置有过滤时漏斗的高亮样式，可自定义高亮时机-->
                                    <ti-head-filter [options]="column.options"
                                                    [(ngModel)]="column.selected"
                                                    [panelWidth]="column.panelWidth"
                                                    (select)="onBinDetailSelect($event, column)"
                                                    [ngClass]="{'ti3-head-filtered': column.selected && column.selected.label !== i18n.common_term_report_all}">
                                    </ti-head-filter>
                                  </th>
                                </ng-container>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ti3-table-container ti3-resize-wrapper" [hyNodata]="{text: i18n.common_term_design_nodata }" [nodataShow]="binDetailDisplay.length === 0">
                    <table>
                        <thead>
                            <tr>
                                <th tiOverflow *ngFor="let column of binDetailColumns" width="{{ column.width }}"></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="binDetailDisplay.length > 0">
                          <ng-container *ngFor="let row of binDetailDisplay;index as i">
                            <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                            <tr>
                              <td details-icon-column *ngIf="isPathExt">
                                <ti-details-icon
                                  [row]="row"
                                  [index]="i"
                                  (beforeToggle)="beforeToggle($event)"
                                  *ngIf="row.path_ext.length"
                                >
                                </ti-details-icon> <!--详情图标设置，传入行数据-->
                              </td>
                              <td tiOverflow>{{ row.number }}</td>
                              <td tiOverflow>{{ row.name }}</td>
                              <td tiOverflow>{{ row.type }}</td>
                              <td tiOverflow class="tb-border-gray">{{row.path}}</td>
                              <td tiOverflow [attr.rowspan]="row.rowSpan" *ngIf="row.showTd" class="tb-border-gray">{{ row.urlName }}</td>
                              <td tiOverflow [attr.rowspan]="row.rowSpan" *ngIf="row.showTd" class="tb-border-gray">{{ row.oper }}</td>
                              <td [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                <span class="down-copy" *ngIf="row.url.includes('http')">
                                  <a tiOverflow [ngClass]="{'visited': row.uploadVisited, 'isHttp': row.isHTTP}" (click)="downloadSoFile(row)" [tiTip]='row.isHTTP ? i18n.common_isHttp_disable : ""'>{{ row.result }}</a>
                                  <a class="re-copy-link" [ngClass]="{'visited': row.copyVisited}" (click)="onCopy(row.url, '.re-copy-inp', copy, row)" [tiTip]='copySuccess' tiTipTrigger='manual' #copy='tiTip'>{{ i18n.common_term_report_detail.copyLink }}</a>
                                  <input class="re-copy-inp" />
                                </span>
                                <span *ngIf="row.url && row.url.lastIndexOf('/') > -1 && row.isAarch64">{{ i18n.common_kunpeng_platform_compatible }}</span>
                                <span *ngIf="row.urlName === '--' && row.isAarch64 && (row.level === '0' || row.level === '3' || row.level === '6')" tiOverflow class="td-span">--</span>
                                <!-- 返回的下载链接为包名 -->
                                <span *ngIf="row.urlName === row.url" [tiTip]='i18n.common_upload_unable' class="cursor-default">--</span>
                                <span *ngIf="row.urlName === '--' && !row.isAarch64" tiOverflow class="td-span">{{ row.result }}</span>
                              </td>
                            </tr>
                            <ng-container *ngFor="let son of row.soInfoList">
                              <tr *tiDetailsTr="row">
                                <td tiOverflow class="no-border flex">
                                  <div class="ext_more"></div>
                                  <div></div>
                                </td>
                                <td tiOverflow></td>
                                <td tiOverflow>{{ row.name }}</td>
                                <td tiOverflow>{{ row.type }}</td>
                                <td tiOverflow class="tb-border-gray">{{son.path}}</td>
                                <!-- soFileHasUrl为true：.so文件有下载链接 -->
                                <ng-container *ngIf="row.soFileHasUrl">
                                    <!-- son.mergeRowSpan.urlName：需要合并的行数 son.showTd.urlName：是否显示该td-->
                                    <td tiOverflow [attr.rowspan]="son.mergeRowSpan.urlName" *ngIf="son.showTd.urlName" class="tb-border-gray">{{son.urlName}}</td>
                                    <td tiOverflow [attr.rowspan]="son.mergeRowSpan.oper" *ngIf="son.showTd.oper" class="tb-border-gray">{{son.oper}}</td>
                                    <td [attr.rowspan]="son.mergeRowSpan.result" *ngIf="son.showTd.result">
                                        <span class="down-copy" *ngIf="son.url">
                                          <a tiOverflow [ngClass]="{'visited': son.uploadVisited, 'isHttp': son.isHTTP}" (click)="downloadSoFile(son)" [tiTip]='son.isHTTP ? i18n.common_isHttp_disable : ""'>{{ son.result }}</a>
                                          <a class="re-copy-link" [ngClass]="{'visited': son.copyVisited}" (click)="onCopy(son.url, '.re-copy-inp', copy, son)" [tiTip]='copySuccess' tiTipTrigger='manual' #copy='tiTip'>{{ i18n.common_term_report_detail.copyLink }}</a>
                                          <input class="re-copy-inp" />
                                        </span>
                                        <span *ngIf="son.urlName === '--'" tiOverflow class="td-span">{{ son.result }}</span>
                                        <span *ngIf="son.result === '--'" [tiTip]='i18n.common_upload_unable' class="cursor-default">{{ son.result }}</span>
                                    </td>
                                </ng-container>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                    </table>
                </div>
            </ti-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="download-btn">
      <button tiButton type="button" (click)="downloadReportAsCvs()" style="margin-right: 16px">
        {{ i18n.common_term_history_project_downloadc }}
      </button>
      <button tiButton type="button" (click)="downloadReportAsHtml()">
        {{ i18n.common_term_history_project_downloadh }}
      </button>
    </div>

</div>
</div>
