// 深色主题
::ng-deep .vscode-dark {
    --mc-color-title-content: #e8e8e8;
    --mc-color-content: #aaaaaa;

    --mc-color-tab: #aaaaaa;
    --mc-color-tab-active: #0067ff;

    --mc-width-tb-border-bottom: 2px;
    --mc-color-tb-border-bottom: var(--vscode-editor-background);

    --mc-color-th: #e8e8e8;
    --mc-color-th-bg: #2a2a2a;
    --mc-color-th-separator: #4b4b4b;

    --mc-color-tr-bg-hover: #313131;
    --mc-color-tr-separator: #4b4b4b;

    --mc-color-td: #aaaaaa;
    --mc-color-td-bg: #161616;
    --mc-color-td-oper: #0067ff;

    --mc-color-dropdown-container-border: #0067ff;
    --mc-color-select-btn: #aaaaaa;

    --mc-color-select-option-selected: #ffffff;
    --mc-color-select-option-selected-bg: #0067ff;

    --mc-color-overflow-padding: #aaaaaa;

    --mc-color-page-size-option-bg: #313131;
    --mc-color-page-size-border: #888888;
    --mc-color-page-bg-disabled: #666666;
    --mc-color-page-prenext: #aaaaaa;
    --mc-color-page-bg-hover: #0067ff;
    --mc-color-page-bg-active: #0057d9;
    --mc-color-page-hover: #ffffff;

    --mc-color-separator: #4b4b4b;
    --mc-color-msgbox-bg: #252526;
    --mc-color-msgbox-close: #aaaaaa;
    --mc-color-msgbox-dsc-icon-bg: #ffffff;
    --mc-color-msgbox-content: #888888;
    --mc-color-msgbox-dsc-icon: #0067ff;

    --mc-color-btn-p: #e8e8e8;
    --mc-color-btn-p-bg-dft: #0067ff;
    --mc-color-btn-p-bg-hover: #267dff;
    --mc-color-btn-p-bg-active: #0057d9;
    --mc-color-btn-p-bg-disabled: #313131;
    --mc-color-btn-m-bg: #313131;
    --mc-color-btn-m-dft: #dddddd;
    --mc-color-btn-m-hover: #267dff;
    --mc-color-btn-m-active: #0057d9;
    --mc-color-btn-m-disabled: #616161;
    --mc-color-btn-m-bg-disabled: #313131;
    --mc-color-btn-text-disabled: #666666;
    --mc-color-faFileInstall-bg: #1e1e1e;
    --ti-form-label-color: #aaa;

    .ti3-dropdown-option-hover {
        background-color: var(--mc-color-tr-bg-hover) !important;
    }

    // 下拉框选项（选中）
    .ti3-dropdown-option-selected {
        background-color: var(--mc-color-select-option-selected-bg) !important;
        color: var(--mc-color-select-option-selected) !important;
    }

    .primary[disabled] {
        background: #313131 !important;
        color: #616161 !important;
        cursor: not-allowed;
    }
    .ti3-radio-label {
        color: #e8e8e8 !important;
    }
    .ti3-switch.ti3-switch-off .ti3-switch-track {
        background-color: #313131 !important;
    }
    .sampling-footer-btn1 .cancel {
        border: 1px solid #ddd;
        color: #e8e8e8;
    }
    .recordTip {
        color: #fff;
        background-color: #111d2c;
        border: 1px solid #15395b;
    }
    
}

// 浅色主题
::ng-deep .vscode-light {
    --mc-color-title-content: #222222;
    --mc-color-content: #979797;

    --mc-color-tab: #616161;
    --mc-color-tab-active: #0067ff;

    --mc-width-tb-border-bottom: 1px;
    --mc-color-tb-border-bottom: #e1e6ee;

    --mc-color-th: #616161;
    --mc-color-th-bg: #f5f9ff;
    --mc-color-th-separator: #ffffff;

    --mc-color-tr-bg-hover: #f5f5f5;
    --mc-color-tr-separator: #e1e6ee;

    --mc-color-td: #222222;
    --mc-color-td-bg: var(--vscode-editor-background);
    --mc-color-td-oper: #0067ff;

    --mc-color-dropdown-container-border: #0067ff;
    --mc-color-select-btn: #222222;

    --mc-color-select-option-selected: #ffffff;
    --mc-color-select-option-selected-bg: #0067ff;

    --mc-color-overflow-padding: #222222;

    --mc-color-page-size-option-bg: var(--vscode-editor-background);
    --mc-color-page-size-border: #979797;
    --mc-color-page-bg-disabled: #cccccc;
    --mc-color-page-prenext: #222222;
    --mc-color-page-bg-hover: #267dff;
    --mc-color-page-bg-active: #267dff;
    --mc-color-page-hover: #ffffff;

    --mc-color-separator: #e1e6ee;
    --mc-color-msgbox-bg: #ffffff;
    --mc-color-msgbox-close: #aaaaaa;
    --mc-color-msgbox-dsc-icon-bg: #ffffff;
    --mc-color-msgbox-content: #616161;
    --mc-color-msgbox-dsc-icon: #0067ff;

    --mc-color-btn-p: #ffffff;
    --mc-color-btn-p-bg-dft: #0067ff;
    --mc-color-btn-p-bg-hover: #267dff;
    --mc-color-btn-p-bg-active: #0057d9;
    --mc-color-btn-p-bg-disabled: #f5f5f5;

    --mc-color-btn-m-bg: #ffffff;
    --mc-color-btn-m-dft: #979797;
    --mc-color-btn-m-hover: #267dff;
    --mc-color-btn-m-active: #0057d9;
    --mc-color-btn-m-disabled: #cccccc;
    --mc-color-btn-m-bg-disabled: #f5f5f5;
    --mc-color-btn-text-disabled: #cccccc;
    --mc-color-faFileInstall-bg: #f3f3f3;
    --ti-form-label-color: #666;

    .ti3-dropdown-option-hover {
        background-color: var(--mc-color-tr-bg-hover) !important;
    }

    // 下拉框选项（选中）
    .ti3-dropdown-option-selected {
        background-color: var(--mc-color-select-option-selected-bg) !important;
        color: var(--mc-color-select-option-selected) !important;
    }
    .ti3-radio-label {
        color: #616161 !important;
    }
    .ti3-switch.ti3-switch-off .ti3-switch-track {
        background-color: #979797 !important;
    }
    .sampling-footer-btn1 .cancel {
        border: 1px solid #979797;
        color: #222222;
    }
    .primary[disabled] {
      background: #f5f5f5 !important;
      color: #ccc !important;
      border: 1px solid #ccc !important;
      cursor: not-allowed;
    }
    .recordTip {
        color: #222222;
        background-color: #f0f6ff;
        border: 1px solid #0067ff;
    }
}

.home-container {
    width: 100%;
    padding: 40px 80px;
    position: relative;
    background-color: var(--vscode-editor-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .analysis-box {
        .little-minor-btn {
            width: auto;
            min-width: 70px;
            padding: 0 15px;
        }
    }

    .thread-list {
        height: 100%;
        font-size: 14px;
        overflow-y: auto;

        .center-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            color: var(--mc-color-title-content);
            padding-bottom: 16px;
            border-bottom: 1px solid #333;
        }
    }
}

::ng-deep .home-container {
    .table-search-box {
        margin-bottom: 0px !important;
    }
}

.range {
    color: #888;
    margin-left: 8px;
    font-size: 12px;
    font-weight: normal;
}
.helpTip {
    position: relative;
    top: 3px; 
    width: 14px; 
    height: 14px;
    margin-left: 10px;
}

.home-container>.thread-list> ::ng-deep .ti3-table {
    &>.ti3-resize-wrapper {
        &>table {
            border-bottom-width: var(--mc-width-tb-border-bottom) !important;
            border-bottom-style: solid !important;
            border-bottom-color: var(--mc-color-tb-border-bottom) !important;
            border-collapse: collapse !important;

            &>thead>tr>th {
                color: var(--mc-color-th) !important;
                background-color: var(--mc-color-th-bg) !important;
                border: none !important;
                border-right: none;
                border-left-width: 1px !important;
                border-left-style: solid !important;
                border-left-color: var(--mc-color-th-separator) !important;
                padding-left: 10px !important;
                border-collapse: collapse !important;
                font-size: 14px !important;

                &:nth-child(1) {
                    border-left: none !important;
                }

                &:not(:last-child)::after {
                    width: 0px !important;
                }
            }

            &>tbody>tr {
                background-color: var(--mc-color-td-bg) !important;
                border-bottom: 0 !important;

                &:hover {
                    background-color: var(--d-252525-l-f5f9ff) !important;
                }

                &>td {
                    color: var(--mc-color-td) !important;
                    background-color: var(--mc-color-td-bg) !important;
                    font-size: 14px !important;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    border-bottom: 1px solid !important;
                    border-color: var(--mc-color-tr-separator) !important;


                    &>.jvm-name {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        
                        &>img {
                            width: 16px;
                            height: 16px;
                            margin-right: 8px;
                        }

                        &>.thread-title {
                            min-width: 20px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        &>.jvm-text{
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                        }
                    }

                    &>.analysis-box {
                        margin-right: 120px;
                        display: flex;
                        align-items: center;

                        &>.running {
                            margin-right: 10px;
                        }

                        button {
                            display: none;
                        }
                    }

                    &:hover {
                        button {
                            display: inline;
                        }
                        background-color: var(--d-252525-l-f5f9ff) !important;
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            width: 8px !important;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px !important;
            background: rgba(232, 232, 232, 0.2) !important;
        }

        &::-webkit-scrollbar-track {
            border: none !important;
        }

        .ti3-cell-text {
            font-size: 12px;
        }
    }
}
.toggleBtn{
    margin-right: 12px !important;
}
.showDetail{
    position: relative;
    .leftColorBlock{
        width: 38px;
        position: absolute;
        margin-left: 0px;
        background: var(--d-252525-l-f5f9ff);
        height: 40px;
    }
    .firstName{
        margin-left: 28px;
        border-left: 2px solid #2072ee;
    }
}

::ng-deep .ti3-page-container {
    margin-top: 10px !important;
}

::ng-deep .ti3-dropdown-container-border {
    border: 1px solid var(--mc-color-dropdown-container-border) !important;
}

// 下拉框右侧三角按钮
::ng-deep .ti3-select-dominator-dropdown-btn {
    color: var(--mc-color-select-btn) !important;
}

// 下拉框选项（选中）
::ng-deep .ti3-dropdown-option-selected {
    background-color: var(--mc-color-select-option-selected-bg) !important;
    color: var(--mc-color-select-option-selected) !important;
}

// select下拉选项
::ng-deep .ti3-page-container>.ti3-page-size-option {
    color: var(--mc-color-content) !important;
    background-color: var(--mc-color-page-size-option-bg) !important;
    border: 1px solid var(--mc-color-page-size-border) !important;
    float: left !important;
    font-size: 12px !important;
    height: 24px !important;
    width: 60px !important;
    border-radius: 2px !important;

    &:hover {
        border-color: var(--mc-color-page-size-border) !important;
    }
}

.database-tab {
    margin: 10px 0px 0px;
    font-size: 14px;
    border-bottom: none;
    position: relative;
    .data-tabs {
      .item-tab {
        padding: 0 10px;
        color: #aaa;
        
        .tab-title {
          display: inline-block;
          padding: 7px 0;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          box-sizing: border-box;
        }
        .tab-active {
          color: #0067ff !important;
          border-bottom: 2px solid #0067ff;
        }
      }
    }
    .data-tabs:last-child .item-tab {
      border-right: none;
    }
    .data-tabs:first-child .item-tab {
      padding-left: 0 !important;
    }
    .data-tabs .spliteline{
        position: relative;
        display: inline-block;
        width: 1px;
        height: 10px;
        background: #888;
    }
  }

// 总条数
::ng-deep .ti3-pag-total-items {
    float: left !important;
    font-size: 12px !important;

    &:disabled {
        color: var(--mc-color-page-bg-disabled) !important;
    }
}

// 翻页
::ng-deep .ti3-pag-next,
::ng-deep .ti3-pag-prev {
    color: var(--mc-color-page-prenext) !important;
    font-size: 12px !important;

    &:hover {
        background-color: var(--mc-color-page-bg-hover) !important;
    }

    &:active {
        background-color: var(--mc-color-page-bg-active) !important;
    }

    &:disabled {

        &>.ti3-icon-angle-left,
        &>.ti3-icon-angle-right {
            color: var(--mc-color-page-bg-disabled) !important;
        }
    }
}

// 页数
::ng-deep .ti3-pag-page {
    color: var(--mc-color-content) !important;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-size: 12px !important;
    border-radius: 2px !important;

    &:hover {
        background-color: var(--mc-color-page-bg-hover) !important;
        color: var(--mc-color-page-hover) !important;
    }

    // 当前选中
    &.active {
        background-color: var(--mc-color-page-bg-active) !important;
        color: var(--mc-color-page-hover) !important;
    }

    &:disabled {
        background-color: var(--mc-color-page-bg-disabled) !important;
        color: var(--mc-color-page-bg-disabled);
    }
}

.no-data {
    height: 500px;
}



.sampling-modal-title {
    font-size: 20px;
    color: #e8e8e8;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sampling-modal-content {
    height: 454px;
    padding: 20px 0 25px 0;
    border-bottom: 1px dashed #4b4b4b;
    overflow: auto;

    .radios {
        position: relative;
        display: flex;
        align-items: center;
        
        .radio-box {
            display: flex;
            &:last-child {
                margin-left: 10px;
            }

            &>img {
                width: 14px;
                height: 14px;
                margin-left: 10px;
            }
        }

        
    }

    .name_input {
        width: 320px;
    }
}

.sampling-footer-btn1 {
    width: 344px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 24px 0 !important;

    .primary {
        width: 160px;
        height: 32px;
        outline: none;
        border: none;
        font-size: 14px;
        color: #e8e8e8;
        background-color: #0067ff;
        border-radius: 2px;

        &:hover {
            background: #267dff;
        }

        &:active {
            background: #0057d9;
        }
    }

    .cancel {
        border-radius: 2px;
        width: 160px;
        height: 32px;
        font-size: 14px;
        outline: none;
        background-color: transparent !important;

        &:hover {
            color: #267dff !important;
            border-color: #267dff !important;
        }

        &:active {
            color: #0057d9 !important;
            border-color: #0057d9 !important;
        }
    }
}

::ng-deep .ti3-close {
    display: none !important;
}

::ng-deep .ti3-modal-body {
    margin: auto !important;
}

::ng-deep .ti3-modal-body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 2px !important;
}

::ng-deep .ti3-modal-body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px !important;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px !important;
}

::ng-deep .ti3-modal-body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 2px !important;
}

::ng-deep .sampling-modal-content {
    ti-spinner .ti3-spinner-downicon::after {
        display: none;
    }

    ti-spinner .ti3-spinner-upicon::after {
        display: none;
    }
} 

.tip-close {
    display: flex;
    width: 20px;
    img:hover {
        cursor: pointer;
    }

    &>img {
        display: none;
    }

    &>img:nth-of-type(1) {
        display: block;
    }

    &:hover {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }
    }

    &:active {
        &>img:nth-of-type(1) {
            display: none;
        }

        &>img:nth-of-type(2) {
            display: block;
        }
    }
}

::ng-deep.ti3-radio-label {
    font-size: 12px !important;
}

::ng-deep input[type="radio"][tiRadio]+.ti3-radio .ti3-radio-skin {
    background-color: transparent !important;
}

::ng-deep .ti3-form .ti3-form-label {
    min-width: 204px;
}

::ng-deep .tip-close {
    display: none;
}

::-webkit-scrollbar {
    width: 10px !important;
}

::ng-deep .guardianManagementModal .guardian-tip {
    font-size: 12px;
    color: #616161;
    line-height: 18px;
    width: 400px;
    margin-top: -16px;
}

::ng-deep .ti3-validate-text {
    font-size: 12px;
}

::ng-deep .ti3-icon-reduce {
    background: var(--vscode-editor-background) !important;
}

::ng-deep .ti3-icon-add {
    background: var(--vscode-editor-background) !important;
}

::ng-deep .ti3-validate-text {
    max-width: 300px;
}

::ng-deep .ti3-form .ti3-form-label {
    color: var(--ti-form-label-color);
}
.recordTip{
    margin-top: 20px;
    border-radius: 2px;
    font-size: 12px;
    width: 520px;
    height: 60px;
    position: relative;
    margin-left: -226px;;
    .tipIcon {
        position: absolute;
        margin-top: 10px;
        left: 10px;
    }
    .tipText {
        width: 442px;
        position: absolute;
        left: 36px;
        margin-top: 8px;
        line-height: 20px;
        font-size: 12px;
    }
    .closeIcon {
        position: absolute;
        right: 8px;
        margin-top: 10px;
        width: 16px;
        height: 16px;
    }
}

:host ::ng-deep .ti3-modal-header {
    border-bottom: 1px dashed #4b4b4b !important;
}

:host ::ng-deep .ti3-form {
    .ti3-form-content{
        vertical-align: middle;
        padding-bottom: 22px !important;
    }
    .ti3-form-label {
        --ti-default-font-size: 14px;
    }
    .ti3-form-label, .ti3-form-require .ti3-icon {
        --ti-formfield-item-required-label-line-height: 1.5;
    }
}
.tipImg1{
    position: relative;
    top: 3px; 
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

:host ::ng-deep ti-spinner {
    background: var(--d-313131-l-ffffff) !important;
    .ti3-spinner-downicon{
        background: var(--d-313131-l-ffffff) !important;
    }
    .ti3-spinner-input-box .ti3-spinner-input {
        background: var(--d-313131-l-ffffff) !important;
    }
    .ti3-spinner-upicon{
        background: var(--d-313131-l-ffffff) !important;
    }
}