.main {
    display: flex;
    flex-direction: column;
    .backup, .upgrade, .restore {
        margin-bottom: 12px;
        .title {
           font-size: 20px;
           color: #222; 
        }
        .remark {
            font-size: 14px;
            color: #979797;
            margin-top: 4px;
            margin-bottom: 16px;
        }
        button {
            font-size: 12px;
            margin-top: 16px;
        }
    }
}

.tips-box{
    position: relative;
    margin-top: 36px;
    .where-tip1,.where-tip2{
      height: 41px;
      font-family: "huawei sans";
      font-size: 28px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: 0px;
      color: #252b3a;
      margin: 12px auto;
      text-align: center;
    }
    .link-url1,.link-url2{
      margin: 0 auto;
      font-size: 20px;
      color: #575d6c;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: center;
      span{
        color: #5b7ede;
      }
    }
    .link-url1 {
      width: 781px;
      white-space: normal;
      word-wrap: break-word;
  
      a {
        word-wrap: break-word;
      }
    }
    .link-url2{
      width: 844px;
    }
    img{
      margin: 38px 240px;
    }
    .dot{
      position: absolute;
      left: 423px;
      top: 450px;
      width: 61px;
      height: 8px;
      i{
        margin: 0 5px;
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #e0e8fe;
        border-radius: 5px;
        opacity: 0.7;
      }
      span{
        margin: 0 5px;
        display: inline-block;
        width: 33px;
        height: 8px;
        background-color: #0067FF;
        border-radius: 5px;
      }
    }
    .tips-btn{
      width: 195px;
      height: 48px;
      position: absolute;
      left: 673px;
      top: 450px;
    }
  }