.suggestion-container {
  position: relative;
  height: calc(100vh - 308px);
  .suggestion-check {
    position: absolute;
    top: 300px;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    width: 29%;
    margin: 0 auto;

    .checkbox-item {
      margin: 20px 0;
    }
  }
}
