.detail-item {
  padding-left: 15px;
  color: #ddd;
} 

::ng-deep .taskDetailsTabs {
  .ti3-tabs-container {
    .ti3-tab-content {
      .ti3-tab-pane {
        .content-container {
          &.scroll {
            overflow: scroll;
          }
  
          .config-container .config-item .config-title {
            width: 128px !important;
          }
        }
      }
    }
  }
}