::ng-deep .vscode-dark {
  

  .code tbody tr td.d2h-code-linenumber {
      background-color: var(--ti-modal-content-bg-color) !important;
      width: 40px !important;
      text-align: center !important;
      color: var(--linenumber-font-color) !important;
      font-size: 14px;
  }
}
::ng-deep .d2h-file-stats {
  display: none !important;
}

::ng-deep .d2h-file-list-header {
  display: none !important;
}
::ng-deep .d2h-file-list-wrapper {
  display: none !important;
}

::ng-deep .split-line {
  display: none !important;
}

::ng-deep .file-list {
  border: none !important;
}