.interrupt-msg {
  .inter-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .title {
      margin-bottom: 0;
      font-size: 16px;
    }
    .inter-selected {
      width: 140px;
      margin: 0 16px;
    }
    .cpu-selected{
      width: 216px;
    }
  }
}
::ng-deep .boundDetailsClass {
  .ti3-modal-content {
    width: 912px;
    .ti3-close {
      margin-top: 8px;
    }
    .ti3-modal-header {
      margin: 0 32px 20px;
      padding: 23px 0 22px;
      border-bottom: 1px solid var(--modalTitle-border-bottom);
    }
    .ti3-modal-body {
      overflow-y: auto;
      min-height: 438px;
      .msg {
        display: flex;
        margin-bottom: 10px;
        div {
          margin-right: 40px;
          span {
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
      .ti3-table-container{
        max-height: 350px;
      }
    }
    .body-header {
      display: flex;
      margin-bottom: 20px;
      .text {
        margin-right: 24px;
      }
      .modal-detail {
        margin-left: 48px;
      }
    }
  }
}
