<div *ngIf="isOperate" id="itemSecretKey" class="certificate">
    <div class="key-title">
        <div class="title">{{ i18n.common_term_java_certificate }}</div>
        <img [tiTip]="i18n.newHeader.certificate.workingKey" tiTipPosition="right"
            src="./assets/img/mission/icon-help-dark.png">
    </div>
    <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
        <table>
            <thead>
                <tr class="ti3-table-fixed-head">
                    <ng-container *ngFor="let column of columns">
                        <th tiOverflow width="{{column.width}}">{{column.title}}</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of displayed">
                    <td tiOverflow>{{row.certName}}</td>
                    <td tiOverflow>{{row.certType}}</td>
                    <td tiOverflow>{{row.certValid}}</td>
                    <td tiOverflow class="validTh"><span class="circle"
                            [ngClass]="handleCertStatus(row.status)"></span>{{row.statusName}}</td>
                </tr>
            </tbody>
        </table>

        <app-loading *ngIf="displayed.length === 0 && showLoading"></app-loading>
        <app-default-page *ngIf="displayed.length === 0 && !showLoading"></app-default-page>
    </ti-table>
</div>