.certificate {
    width: 100%;
    margin-bottom: 20px;
    .key-title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        color: #222222;
        margin-bottom: 20px;
        .title {
            margin-right: 8px;
        }
    }
    .setting-title {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: var(--mc-color-td);
        margin-bottom: 10px;
    }
    .setting-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .ti3-table {
        .ti3-table-container {
            display: block;
            overflow-y: auto;
            border-bottom: 0px !important;

            table {
                tr {
                    td {
                        color: var(--color-body-font);
                        background-color: var(--color-body-background) !important;
                        border-collapse: collapse !important;
                    }

                    td:nth-child(4) {
                        color: #0067ff !important;
                    }

                    .ext_more {
                        position: relative;

                        p {
                            margin-left: 10px;
                        }

                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .ti3-table-container::-webkit-scrollbar-thumb {
            border-radius: 2px !important;
            background-color: var(--color-tb-scrollbar) !important;
        }

        .ti3-table-container::-webkit-scrollbar {
            width: 4px !important;
            background: var(--vscode-editor-background) !important;
        }

        .ti3-table-container::-webkit-scrollbar-track {
            border: none !important;
        }

        .ti3-table-fixed-head {
            table {
                tr {
                    th {
                        color: var(--color-head-font);
                        background-color: var(--color-head-background) !important;
                    }

                    th:not(:last-child)::after {
                        background: var(--color-head-border);
                    }
                }
            }
        }
    }
    .validTh {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .circle {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 8px;
        }
        .color-green {
            background-color: #77debf;
        }
        .color-orange {
            background-color: orange;
        }
        .color-red {
            background-color: red;
        }
    }
}
.key {
    margin-bottom: 30px;
    .key-title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        color: #222222;
        margin-bottom: 20px;
        .title {
            margin-right: 8px;
        }
    }
    .refresh {
        button {
            box-sizing: content-box;
            height: 28px;
        }
    }
}

::ng-deep .vscode-dark {
    .ti3-table > table > tbody > tr {
        font-size: 14px !important;
        background-color: #2a2a2a !important;
    }
    .ti3-table > table > thead > tr > th {
        font-size: 14px !important;;
        color: #E8E8E8 !important;;
        background-color: #2a2a2a !important;
        border-bottom: 1px solid #747474 !important;
    }
    .ti3-table > table > tbody > tr:hover {
        background-color: #313131 !important;
    }
    .ti3-table > table > thead > tr > th:not(:last-child)::after {
        background: #747474 !important;
    }
    .ti3-table > table > tbody > tr > td {
        border-bottom: 1px solid #747474 !important;
    }
}
::ng-deep .vscode-light {
    .ti3-table > table > tbody > tr {
        background-color: #ffffff !important;
    }
    .ti3-table > table > tbody > tr:hover {
        background-color: #f5f5f5 !important;
    }
    #itemSecretKey {
        --ti-table-border-bottom-color: var(--mc-color-tr-separator);
    }
}
