.bottomButton {
    cursor: pointer;
}
.box-content .box {
    overflow-y: auto;
    background: var(--ti-table-bg) !important;
    .box-sub-title {
        box-shadow: #161616 !important;
        padding-left: 21px;
    }
}

:host ::ng-deep .ti3-modal {
    z-index: 999999999 !important;
    .ti3-modal-dialog {
        margin: 150px auto 0 !important;
    }
}

::ng-deep .viewDetailModal {
    .ti3-icon.ti3-close.ti3-icon-close {
        right: 40px !important;
        padding-top: 5px !important;
        font-size: 16px !important;
    }
}

::ng-deep .viewDetailModal-content {
    max-height: 280px;
    overflow-y: auto;
    font-size: 14px;
    white-space: pre-line; //使换行符生效
    color: #888888;
}

::ng-deep .viewDetailModal-content::-webkit-scrollbar-thumb {
    background-color: #424242 !important;
}
::ng-deep .vscode-dark {
    --ti-table-bg:#161616;
}
::ng-deep .vscode-light {
    --ti-table-bg:#fff;
}