<div class="box accordion-border-top">
    <div class="box-title" (click)='toggle.environmentalInformation=!toggle.environmentalInformation'>
        <img *ngIf="currTheme == ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
            [ngClass]="{active: toggle.environmentalInformation}">
        <img *ngIf="currTheme == ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
            [ngClass]="{active: toggle.environmentalInformation}">
        {{i18n.sys.environment}}
    </div>
    <div class="box-content" [ngClass]="{active: toggle.environmentalInformation}">
        <div class="box">
            <div class="box-sub-title" id="box-title">
                <!-- 基础系统信息 -->
                <div class="content">
                    <div class="content-left">
                        <p>{{i18n.sys.baseInfo}}</p>
                        <div *ngFor="let item of noralMsgData.baseInfo[0]">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}
                                <img *ngIf="currTheme == ColorTheme.Dark && item.tipStr && item.tipStr !='NULL'"
                                    src="./assets/img/summary/tooltip_dark.svg" class="tooltip-icon" alt=""
                                    [tiTip]='item.tipStr' tiTipMaxWidth='700px' tiTipPosition="top-left" />
                                <img *ngIf="currTheme == ColorTheme.Light && item.tipStr && item.tipStr !='NULL'"
                                    src="./assets/img/summary/tooltip.png" class="tooltip-icon" alt=""
                                    [tiTip]='item.tipStr' tiTipMaxWidth='700px' tiTipPosition="top-left" />
                            </span>
                            <div tiOverflow tiTipPosition='left'>{{item.data}}</div>
                        </div>
                    </div>
                    <div class="content-intermediate">
                        <p></p>
                        <div *ngFor="let item of noralMsgData.baseInfo[1];index as i">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}</span>
                            <em tiOverflow tiTipPosition='left' (click)='viewDetail(item,i)'
                                [ngClass]="{'ifClick': item.ifClick}">{{item.data}}</em>
                        </div>
                    </div>
                    <div class="content-right">
                        <p></p>
                        <div *ngFor="let item of noralMsgData.baseInfo[2]">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}</span>
                            <div tiOverflow tiTipPosition='left'>{{item.data}}</div>
                        </div>

                    </div>
                </div>
                <!-- 内存管理系统   -->
                <div class="content">
                    <div class="content-left">
                        <p>{{i18n.sys.memManage}}</p>
                        <div *ngFor="let item of noralMsgData.memManage[0];index as i">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}
                                <img *ngIf="item.tipStr && item.tipStr !='NULL'" src="./assets/img/summary/compass.svg"
                                    alt="" class="compassplus" [tiTip]='item.tipStr' tiTipMaxWidth='700px'
                                    tiTipPosition="top-left" />
                                <img *ngIf="item.tip && item.tip !='NULL'" src="./assets/img/summary/compass.svg" alt=""
                                    class="compassplus" [tiTip]='item.tip' tiTipMaxWidth='700px'
                                    tiTipPosition="top-left" />
                            </span>
                            <div tiOverflow tiTipPosition='left'>{{item.data}}
                                <img *ngIf="currTheme == ColorTheme.Dark && item.tipStr2 && item.tipStr2 !='NULL'"
                                    src="./assets/img/rocket_dark.svg" class='rocket' alt="" [tiTip]='tipContent'
                                    [tiTipContext]='item.tipStr2' tiTipMaxWidth='700px' tiTipPosition="top-left">
                                <img *ngIf="currTheme == ColorTheme.Light && item.tipStr2 && item.tipStr2 !='NULL'"
                                    src="./assets/img/rocket.svg" class='rocket' alt="" [tiTip]='tipContent'
                                    [tiTipContext]='item.tipStr2' tiTipMaxWidth='700px' tiTipPosition="top-left">
                            </div>
                        </div>
                    </div>
                    <div class="content-intermediate">
                        <p></p>
                        <div *ngFor="let item of noralMsgData.memManage[1]">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}
                                <img *ngIf="item.tipStr && item.tipStr !='NULL'" src="./assets/img/summary/compass.svg"
                                    alt="" class="compassplus" [tiTip]='item.tipStr' tiTipMaxWidth='700px'
                                    tiTipPosition="top-left" />
                            </span>
                            <div tiOverflow tiTipPosition='left'
                                [ngClass]="{'viewDetail':item.data == i18n.sys.viewDetails}">{{item.data}}</div>
                        </div>
                    </div>
                </div>
                <!-- 网卡固件版本 -->
                <div class="content">
                    <div class="content-left">
                        <p>{{i18n.sys_cof.sum.firmware_info.nic_version}}</p>
                        <div *ngFor="let item of noralMsgData.netWorks[0]">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}</span>
                            <div tiOverflow tiTipPosition='left'>{{item.data}}</div>
                        </div>
                    </div>
                    <div class="content-intermediate">
                        <p style="margin-bottom: 22px; height: 14px;"></p>
                        <div *ngFor="let item of noralMsgData.netWorks[1]">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}</span>
                            <div tiOverflow tiTipPosition='left'>{{item.data}}</div>
                        </div>
                    </div>
                    <div class="content-right">
                        <p style="margin-bottom: 22px; height: 14px;"></p>
                        <div *ngFor="let item of noralMsgData.netWorks[2]">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}</span>
                            <div tiOverflow tiTipPosition='left'>{{item.data}}</div>
                        </div>
                    </div>
                </div>
                <!-- 虚拟机/容器 -->
                <div class="content">
                    <div class="virtual content-left" style="width: 100%;">
                        <p>{{i18n.sys_cof.sum.docker}}</p>
                        <div>
                            <span tiOverflow tiTipPosition='left'>{{dockerData[0].title}}</span>
                            <div tiOverflow tiTipPosition='right' style="line-height: 34px;">{{dockerData[0].data}}
                            </div>
                        </div>
                        <div style="align-items: baseline;">
                            <span tiOverflow tiTipPosition='left'>{{dockerData[1].title}}</span>
                            <div tiOverflow tiTipPosition='right' style="line-height: 34px;" *ngIf="nodeKvmData">
                                {{dockerData[1].data}}</div>
                            <div *ngIf="!nodeKvmData" style="flex:1;max-width:100%;margin-right: 15px;">
                                <i *ngFor="let item of dockerData[1].data;index as i" (click)="kvmConfig(item.title,i)"
                                    [ngClass]="{'virtualName':true,'ifClick': item.ifClick}">{{item.title.slice(13)}}</i>
                            </div>
                        </div>
                        <div>
                            <span tiOverflow tiTipPosition='left'>{{dockerData[2].title}}</span>
                            <div tiOverflow tiTipPosition='right' style="line-height: 34px;">{{dockerData[2].data}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- kernel内核参数 -->
                <div class="content" style="border: none;">
                    <div class="content-left">
                        <p>{{i18n.sys.kernelParams}}</p>
                        <div *ngFor="let item of noralMsgData.memManage[2]" [ngClass]="{'displayTime': item.display}">
                            <span tiOverflow tiTipPosition='left'>{{item.title}}
                                <img *ngIf="currTheme == ColorTheme.Dark && item.tipStr && item.tipStr !='NULL'"
                                    src="./assets/img/summary/compass.svg" alt="" class="compassplus"
                                    [tiTip]='item.tipStr' tiTipMaxWidth='700px' tiTipPosition="top-left">
                            </span>
                            <div tiOverflow tiTipPosition='left'
                                [ngClass]="{'viewDetail':item.data == i18n.sys.viewDetails,'ifClick': cmdIfClick}"
                                (click)='viewDetail(item,-1)'>{{item.data}}
                                <img *ngIf="currTheme == ColorTheme.Dark && item.tipStr2 && item.tipStr2 !='NULL'"
                                    src="./assets/img/rocket_dark.svg" class='rocket' alt="" [tiTip]='item.tipStr2'
                                    tiTipMaxWidth='700px' tiTipPosition="top-left">
                                <img *ngIf="currTheme == ColorTheme.Light && item.tipStr2 && item.tipStr2 !='NULL'"
                                    src="./assets/img/rocket.svg" class='rocket' alt="" [tiTip]='item.tipStr2'
                                    tiTipMaxWidth='700px' tiTipPosition="top-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #viewDetailModal let-context='context'>
    <ti-modal-header>{{configDetailItem.title}}</ti-modal-header>

    <ti-modal-body>
        <div class="viewDetailModal-content">{{configDetailItem.data}}</div>
    </ti-modal-body>

    <ti-modal-footer>
        <button class="little-minor-btn" type="button" (click)="context.dismiss()">
            {{ i18n.message_close }}
        </button>
    </ti-modal-footer>
</ng-template>

<app-pop-mask #viewDetailMask>
    <div class="content viewDetail-mask">
        <div class="viewDetail-title">
            <span class="create-title">{{configDetailItem.title}}</span>
            <img class="incorrect" (click)="viewDetailMask.Close()" src="./assets/img/header/close_icon.svg"
                style="cursor:pointer;">
        </div>
        <div class="viewDetail-content" 
            [hyNodata]="{text: i18n.common_term_task_nodata2 }" [nodataShow]="!configDetailItem.data">
            {{configDetailItem.data}}
        </div>
        <div class="bottom-close">
            <button class="closeBtn" type="button" tiButton
                (click)="viewDetailMask.Close()">{{i18n.message_close}}</button>
        </div>
    </div>
</app-pop-mask>
<ng-template #tipContent1 let-context='context'>
    <div class="suggest_content">
        <div [innerHTML]="context.tipPage" class="sug_content"></div>
    </div>
</ng-template>
<ng-template #tipContent let-context='context'>
    <span [innerHtml]="context"></span>
</ng-template>