.database-config {
  input {
    width: 300px;
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  ::ng-deep .ti3-form {
    margin-left: -16px;
  }
  .flex{
    display: flex;
    align-items: center;
  }
}
.icon-tip{
  margin-left: 10px;
  img{
    margin-bottom: -2px;
  }
}
:host ::ng-deep .tracing-config{
  input {
    width: 300px;
  }
 .ti3-text-form-content{
    min-width: 500px;
  }
 .tracing_help{
    line-height: 25px;
  }
  .ti-icon-blue{
    color: #0067ff;
  } 
  .ti3-form {
    margin-left: -16px;
  }
}

.modify-schedule-footer {
  display: flex;

  > div:first-of-type {
    margin-right: 20px;
  }
}
.tint{
  color: #979797;
  margin-left: 8px;
  font-size: 12px;
}
