<div class="proformance">
  <div id="user-guide-analysis-params">
    <ti-formfield
      vertical
      [labelWidth]="labelWidth"
      [formGroup]="currentForm"
      class="taskForm"
      *ngIf="sceneName === 'HPC'">
      <!-- 选择节点 -->
      <ti-item *ngIf="sceneName === 'HPC'" [required]="true">
        <ti-item-label>
          {{ i18n.node.selectNode }}
          <span class="tint">{{ 'project.HPCSelectNodeTxt' | i18n : ('mission_create.sysPro' | i18n)}}</span>
        </ti-item-label>
        <app-not-hpc-select-nodes
          [width]="isModifySchedule ? '670px' : '952px'"
          [nodeList]="nodeList"
          formControlName="nodeList">
        </app-not-hpc-select-nodes>
      </ti-item>
    </ti-formfield>
    <ti-formfield [labelWidth]="labelWidth" [formGroup]="sysScenesForm" class="taskForm"
      *ngIf="scenes === analysisScene.General || scenes === analysisScene.Hpc || scenes === analysisScene.Database">
      <ti-item class="database-config" [show]="scenes === analysisScene.Database">
        <ti-formfield [labelWidth]="labelWidth" formGroupName="databaseConfig"
          *ngIf="scenes === analysisScene.Database">
          <ti-item [label]="i18n.databaseConfig.ip" [required]="true">
            <input [placeholder]="i18n.databaseConfig.placeholderIp" [tiValidation]="validation"
              [errorMessageWrapper]="ipMsgWrapper" formControlName="ip" type="text" tiText />
            <div #ipMsgWrapper></div>
          </ti-item>
          <ti-item [label]="i18n.databaseConfig.port">
            <input [placeholder]="i18n.databaseConfig.placeholderPort" [localeable]="false" [tiValidation]="validation"
              [errorMessageWrapper]="portMsgWrapper" formControlName="port" type="text" tiText tiNumber format="n0" />
            <div #portMsgWrapper></div>
          </ti-item>
          <ti-item [label]="i18n.databaseConfig.username" [required]="true">
            <input [placeholder]="i18n.databaseConfig.placeholderUsername" [tiValidation]="validation"
              [errorMessageWrapper]="usernameMsgWrapper" formControlName="username" type="text" tiText />
            <div #usernameMsgWrapper></div>
          </ti-item>
          <ti-item [label]="i18n.databaseConfig.password" [required]="true">
            <input [placeholder]="i18n.databaseConfig.placeholderPassword" [tiValidation]="validation"
              [errorMessageWrapper]="passwordMsgWrapper" formControlName="password" type="password" tiText />
            <div #passwordMsgWrapper></div>
          </ti-item>
        </ti-formfield>
      </ti-item>
      <!-- 采样时长 -->
      <ti-item [label]="sysItems.duration.label" [required]="sysItems.duration.required">
        <div class="formContent">
          <ti-spinner name='spinner' [step]='sysItems.duration.spinner.step' [correctable]="false" tiValidation
            [format]="sysItems.duration.spinner.format" [placeholder]='sysItems.duration.spinner.placeholder'
            [appSpinnerBlur]="durationBlur" formControlName='duration' style='width: 145px;'
            [errorMessageWrapper]='durationErrorMsgWrapper'></ti-spinner>

          <!-- 尾后提示 -->
          <span class="tailPrompt">
            {{ sysItems.duration.tailPrompt }}
          </span>
        </div>

        <!-- 自定义错误提示位置 -->
        <div #durationErrorMsgWrapper></div>
      </ti-item>

      <!-- 采样间隔 -->
      <ti-item [label]="sysItems.interval.label" [required]="sysItems.interval.required">
        <div class="formContent">
          <ti-spinner name='spinner' [step]='sysItems.interval.spinner.step' [correctable]="false"
            [format]="sysItems.interval.spinner.format" [placeholder]='sysItems.interval.spinner.placeholder'
            tiValidation [appSpinnerBlur]="intervalBlur" formControlName='interval' style='width: 145px;'
            [errorMessageWrapper]='intervalErrorMsgWrapper'></ti-spinner>

          <!-- tip【home界面，在输入框的后方显示】 -->
          <div *ngIf="!widthIsLimited" class='info-icon'>
            <span>{{ i18n.process.intervalTip1 }}</span>
          </div>
        </div>

        <!-- 自定义错误提示位置 -->
        <div #intervalErrorMsgWrapper></div>

        <!-- tip【修改预约任务界面，在输入框的下方显示】 -->
        <div *ngIf="widthIsLimited" class='info-icon'>
          <img src="./assets/img/tip/tip.svg" />
          <span>{{ i18n.process.intervalTip1 }}</span>
        </div>
      </ti-item>

      <!-- 采集Tracing数据 -->
      <ti-item class="tracing-config" [show]="scenes === analysisScene.Database">
        <ti-formfield [labelWidth]="labelWidth" formGroupName="traceForm" *ngIf="scenes === analysisScene.Database">
          <ti-item [required]="false">
            <input type="checkbox" tiCheckbox [name]='i18n.sys.scenes_tracing' [tiValidation]='validation'
              formControlName='traceSwitch'>
            <span class="start-now">{{i18n.sys.scenes_tracing}}</span>
            <ti-icon [tiTip]="i18n.sys.traceTips" class="icon-tip" tiTipMaxWidth='370px' tiTipPosition="bottom">
              <img src='./assets/img/summary/tooltip.png'>
            </ti-icon>
          </ti-item>
          <ti-item [required]="false">
            <ti-icon name='info-circle' class="ti-icon-blue"></ti-icon>
            {{i18n.sys.tracingHold}}
            <a class="tracing_help" (click)="openHelp()">{{i18n.sys.tracing_help}}</a>
          </ti-item>
          <ti-item [label]="i18n.sys.tracing_event" [required]="true" [show]="ifTracing">
            <input [placeholder]="i18n.sys.inpu_eg" [tiValidation]="validation" [errorMessageWrapper]="eventsWrapper"
              formControlName="events" tiText />
            <div #eventsWrapper></div>
          </ti-item>
        </ti-formfield>
      </ti-item>

      <!-- 采集Top活跃进程 -->
      <ti-item [required]="false">
        <ti-item-label>
          <div class="flex">
            <input type="checkbox" tiCheckbox [name]='sysItems.scenes.collectTop' [tiValidation]='validation'
            formControlName='collectTop'>
          <span class="start-now">{{sysItems.scenes.collectTop}}</span>
        </div>
        </ti-item-label>
      </ti-item>
    </ti-formfield>
    <ti-formfield [labelWidth]="labelWidth" [formGroup]="sysForm" class="taskForm"
      *ngIf="scenes === analysisScene.Distribute || scenes === analysisScene.BigData">
      <!-- 采样时长 -->
      <ti-item [label]="sysItems.duration.label" [required]="sysItems.duration.required">
        <div class="formContent">
          <ti-spinner name='spinner' [step]='sysItems.duration.spinner.step' [correctable]="false"
            [format]="sysItems.duration.spinner.format" [placeholder]='sysItems.duration.spinner.placeholder'
            tiValidation [appSpinnerBlur]="durationBlurSysForm" formControlName='duration' style='width: 145px;'
            [errorMessageWrapper]='durationErrorMsgWrapper'></ti-spinner>

          <!-- 尾后提示 -->
          <span class="tailPrompt">
            {{ sysItems.duration.tailPrompt }}
          </span>
        </div>

        <!-- 自定义错误提示位置 -->
        <div #durationErrorMsgWrapper></div>
      </ti-item>

      <!-- 采样间隔 -->
      <ti-item [label]="sysItems.interval.label" [required]="sysItems.interval.required">
        <div class="formContent">
          <ti-spinner name='spinner' [step]='sysItems.interval.spinner.step' [correctable]="false"
            [format]="sysItems.interval.spinner.format" [placeholder]='sysItems.interval.spinner.placeholder'
            tiValidation [appSpinnerBlur]="intervalBlurSysForm" formControlName='interval' style='width: 145px;'
            [errorMessageWrapper]='intervalErrorMsgWrapper'></ti-spinner>

          <!-- tip【home界面，在输入框的后方显示】 -->
          <div *ngIf="!widthIsLimited" class='info-icon'>
            <span>{{ i18n.process.intervalTip1 }}</span>
          </div>
        </div>

        <!-- 自定义错误提示位置 -->
        <div #intervalErrorMsgWrapper></div>

        <!-- tip【修改预约任务界面，在输入框的下方显示】 -->
        <div *ngIf="widthIsLimited" class='info-icon'>
          <img src="./assets/img/tip/tip.svg" />
          <span>{{ i18n.process.intervalTip1 }}</span>
        </div>
      </ti-item>

      <!-- 典型场景配置文件路径 -->
      <ti-item [required]="false">
        <ti-item-label>
          <span>{{sysItems.scenes.label}}</span>
        </ti-item-label>
        <input type="text" tiText [tiValidation]='validation' formControlName='scenes' style="width: 335px"
          [placeholder]='sysItems.scenes.placeholder' [errorMessageWrapper]='scencesErrorMsgWrapper'>
        <!-- 尾后提示 -->
        <span class="tailPrompt">
        </span>
        <!-- 自定义错误提示位置 -->
        <div #scencesErrorMsgWrapper></div>
      </ti-item>
      <!-- 采集Top活跃进程 -->
      <ti-item [required]="false">
        <ti-item-label>
          <input type="checkbox" tiCheckbox [name]='sysItems.scenes.collectTop' [tiValidation]='validation'
            formControlName='collectTop'>
          <span class="start-now">{{sysItems.scenes.collectTop}}</span>
        </ti-item-label>
      </ti-item>

    </ti-formfield>

    <!-- 配置节点参数 -->
    <div *ngIf="scenes === analysisScene.Database" class="node-config-modal">
      <app-mission-node-config #nodeConfigModal [labelWidth]="labelWidth"
        [isAbled]="!(currentForm.valid && taskNameValid)" [projectId]="projectId" [taskType]="'system'" [formData]="formDatas"
         [nodeConfigShow]="nodeConfigShow" [nodeConfigedData]="nodeConfigedData" [nodeList]="currentForm.get('nodeList').value"
        (controlNode)="onControlNode($event)" (opentNode)="handleNodeEmit($event)"></app-mission-node-config>
    </div>
    <!-- 预约 -->
    <div style="margin-top: 20px; flex:1">
      <app-mission-reservation #preSwitchSysA [labelWidth]="labelWidth"
        [isModifySchedule]="isModifySchedule || isRestart || isEdit" [switch]="scenes === analysisScene.Database"
        [Database]="scenes === analysisScene.Database"></app-mission-reservation>
      <!-- 立坳 -->
      <div style="margin-top: 20px;padding-left:16px;" *ngIf='!preSwitchSysA.switchState && !isRestart'>
        <input type="checkbox" tiCheckbox [name]='startCheckSys.title' [(ngModel)]="startCheckSys.checked"
          [disabled]="scenes === analysisScene.Database">
        <span class="start-now">{{startCheckC.title}}</span>
      </div>
    </div>
  </div>
  <footer id="create-task-sure" [ngClass]="{ 'modify-schedule-footer': isModifySchedule }">
    <!-- user-guide -->
    <div [tiTip]="startOrSaveBtnTip" tiTipPosition="top">
      <button id="user-guide-analysis-submit" tiButton type="button" color="primary" (click)="createSys(isEdit)"
        [ngClass]="{toRight: isModifySchedule}" [disabled]='startOrSaveBtnIsDisabled()'>
        {{i18n.common_term_operate_ok}}
      </button>
    </div>
    <button tiButton type="button" (click)="close()"> {{i18n.common_term_operate_cancel}} </button>
    <div [tiTip]="startOrSaveBtnTip" tiTipPosition="top">
      <button tiButton type="button" (click)="saveTemplates()" *ngIf="!isModifySchedule"
        [disabled]='startOrSaveBtnIsDisabled()'>
        {{i18n.mission_modal.saveTemplates}}
      </button>
    </div>
  </footer>
</div>