.cpu-utilization-compare {
    .cpu-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .title {
            font-size: 16px;
        }
        ti-select {
            width: 141px;
        }
        .cpu-selected {
            margin-left: 16px;
        }
    }
    .expendIcon {
        width: 26px;
        display: inline-block;
        img {
            width: 6px;
            height: 10px;
        }
    }
    .active {
        transform: rotate(90deg);
    }
    .levelStyle {
        width: 34px;
        height: 41px;
        background-color: var(--level-background-color);
        border-right: 2px solid var(--level-border-color);
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .levelvalue {
        margin-left: 69px;
    }
}
