<div class="hot-function-compare">
  <app-common-table *ngIf="hotFunctionCompareTableData.srcData.data.length" [commonTableData]="hotFunctionCompareTableData" [isFilters]="true">
    <ng-template let-displayed let-tabcolumns="columns">
      <tbody>
        <ng-container *ngFor="let row of displayed;index as i">
          <tr>
            <ng-container *ngFor="let column of tabcolumns;">
              <ng-container *ngIf="column.key === 'command' else other">
                <td *ngIf="column.show || column.show === undefined"
                  [tiTip]="commandTip" [tiTipContext]='row' tiTipMaxWidth='400px'>{{ row[column.key] || '--' }}
                </td>
              </ng-container>
              <ng-template #other>
                <td *ngIf="column.show || column.show === undefined" tiOverflow>{{ row[column.key] || '--' }}</td>
              </ng-template>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </ng-template>
  </app-common-table>
  <div *ngIf="!hotFunctionCompareTableData.srcData.data.length" hyNodata [nodataShow]="!hotFunctionCompareTableData.srcData.data.length" class="no-data"></div>
</div>

<!-- command指令tip -->
<ng-template #commandTip let-context='context'>
  <div class="tip-hot-func-content">
      <div class="tip-func-name">{{ context.command }}</div>
      <div class="tip-middle-line"></div>
      <ng-container *ngIf="context.command_line">
          <div class="tip-cmd-title" >cmdline</div>
          <div class="tip-cmd-name">{{ context.command_line }}</div>
      </ng-container>
      <div class="tip-no-tracks" *ngIf="!context.command_line">{{ 'tuninghelper.taskDetail.noCommandLine' | i18n }}</div>
  </div>
</ng-template>
