<div class="weidheight" id="itemWhitelist">
    <div class='padding-top0' style="display: flex;">
        <div class='title_20'>{{i18n.plugins_porting_menu_dependency_dic}}</div>
        <div>
            <a *ngIf="currLang === 'zh-cn'" [href]="pluginUrlCfg.faqTwentyOneZn">
                <img *ngIf="currentTheme == 1" src="./assets/img/icon-help-dark.svg" alt="" class="help-tips">
                <img *ngIf="currentTheme == 2" src="./assets/img/icon-help-light.svg" alt="" class="help-tips">
            </a>
            <a *ngIf="currLang === 'en' || currLang === 'en-us'" [href]="pluginUrlCfg.faqTwentyOneEn">
                <img *ngIf="currentTheme == 1" src="./assets/img/icon-help-dark.svg" alt="" class="help-tips">
                <img *ngIf="currentTheme == 2" src="./assets/img/icon-help-light.svg" alt="" class="help-tips">
            </a>
        </div>
    </div>
    <p class="title_14">{{i18n.plugins_porting_tips_whiteListManagement_confirm}}</p>
    <!-- 升级 -->
    <div class='margin-top_30'>
        <div class='title_20'>{{i18n.plugins_porting_label_whiteListManagement_upgrade}}</div>
        <div class="title_14">
            <span>{{ i18n.plugins_porting_tips_whiteListManagement_uploadZip }}</span>
            <a class='line' [href]='pluginUrlCfg.portingPackages'
            >{{ i18n.plugins_porting_tips_whiteListManagement_uploadZip_link }}</a>
        </div>
    </div>
    <ti-formfield [formGroup]="userPwdUpgrade" labelWidth="300px">
        <ti-item *ngIf="!isShowUpgrade">
            <button type="button" class="little-primary-btn margin-top_20" [disabled]="isProcessing"
                onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}" (click)="beginUpgrade()">{{
                i18n.plugins_porting_button_whiteListManagement_startUpgrade}}</button>
        </ti-item>
        <ti-item *ngIf="isShowUpgrade">
            <p class="feild_title_14">{{i18n.plugins_porting_label_whiteListManagement_uploadZip}}</p>
            <div style="display: flex;">
                <textarea tiText name="" id="" cols="30" rows="1" class="textarea_width" resize="vertical"
                    [(ngModel)]="uploadPath" formControlName="packpath" tiOverflow
                    readonly></textarea>
                <div>
                    <button type="button" class="little-minor-btn" [disabled]="isUploading"
                        [ngClass]="{enSelectUpload: currLang == 'en'}"
                        onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                        onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                        (click)="zipUpload()">{{i18n.plugins_common_button_upcode}}
                        <input type="file" id="depzipload" style="display: none;" (change)="uploadFile()" accept=".tar.gz"/></button>
                </div>
            </div>
            <div class="feild_title_14">
                <div class="ti3-icon ti3-icon-staricon">{{i18n.plugins_porting_title_whiteListManagement_managerPwd}}
                </div>
            </div>
            <div class="input-eyes">
                <input class='input_width' tiText id='userPwdUpgrade' [ngClass]="{inputError: errorPwdUpgradeFlag}"
                    [type]="portType.type2" formControlName="pwd" [(ngModel)]="pwdUpgrade"
                    (focus)="errorPwdUpgradeFlag = false"
                    style="width: 420px !important;"
                    onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                    onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}" onpaste="return true"
                    oncopy="return false" oncut="return false" (ngModelChange)="getPwdUpgrade()" maxlength="32" noeye />
                <div class="eyes" style="left: 395px">
                    <span (click)="portType0(2)" *ngIf="portType.type2 == 'text'">
                        <img src="./assets/img/icon-view.svg" />
                    </span>
                    <span (click)="portType1(2)" *ngIf="portType.type2 == 'password'">
                        <img src="./assets/img/icon-hide.svg" />
                    </span>
                </div>
            </div>
            <div *ngIf="errorPwdUpgradeFlag" class="ti3-unifyvalid-error-container">
                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                <span class="ti3-validate-text">{{errorPwdUpgradeInfo}}</span>
            </div>
            <div class="margin-top_20">
                <button type="button" class="little-primary-btn"
                    onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                    onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}" (click)="upgrade()">{{
                    i18n.plugins_common_button_term_operate_ok}}</button>
                <button type="button" class="little-minor-btn" [disabled]="isUploading"
                    onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                    onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                    (click)="cancelUpgrade()">{{ i18n.plugins_common_button_term_operate_cancel}}</button>
            </div>
        </ti-item>
    </ti-formfield>

    <!-- 恢复 -->
    <div class='margin-top_30'>
        <div class='title_20'>{{i18n.plugins_porting_label_whiteListManagement_recovery}}</div>
        <p class="title_14">{{i18n.plugins_porting_tips_whiteListManagement_confirmRecovery}}</p>
    </div>
    <ti-formfield [formGroup]="userPwdRecovery" labelWidth="300px">
        <ti-item *ngIf="!isShowRecovery">
            <button type="button" class="little-primary-btn margin-top_20 margin-bottom_20" [disabled]="isProcessing"
                onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                (click)="beginRecovery()">{{
                i18n.plugins_porting_button_whiteListManagement_startRecovery}}</button>
        </ti-item>
        <ti-item *ngIf="isShowRecovery">
            <div class="feild_title_14">
                <div class="ti3-icon ti3-icon-staricon">{{i18n.plugins_porting_title_whiteListManagement_managerPwd}}
                </div>
            </div>
            <div class="input-eyes">
                <input class='input_width' tiText id='userPwdUpgrade' [ngClass]="{inputError: errorPwdRecoveryFlag}"
                    [type]="portType.type3" formControlName="pwd" [(ngModel)]="pwdRecovery"
                    (focus)="errorPwdRecoveryFlag = false"
                    onkeyup="if(event.ctrlKey && event.keyCode === 90){ return false;}"
                    onkeydown="if(event.ctrlKey && event.keyCode === 90){ return false;}" onpaste="return true"
                    oncopy="return false" oncut="return false" (ngModelChange)="getPwdRecovery()" maxlength="32" noeye />
                <div class="eyes">
                    <span (click)="portType0(3)" *ngIf="portType.type3 == 'text'">
                        <img src="./assets/img/icon-view.svg" />
                    </span>
                    <span (click)="portType1(3)" *ngIf="portType.type3 == 'password'">
                        <img src="./assets/img/icon-hide.svg" />
                    </span>
                </div>
            </div>
            <div *ngIf="errorPwdRecoveryFlag" class="ti3-unifyvalid-error-container">
                <span class="ti3-validate-icon ti3-icon ti3-icon-exclamation-circle"></span>
                <span class="ti3-validate-text">{{errorPwdRecoveryInfo}}</span>
            </div>
            <div class="margin-bottom_20 margin-top_20">
                <button type="button" class="little-primary-btn"
                    onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                    onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}" (click)="recovery()">{{
                    i18n.plugins_common_button_term_operate_ok}}</button>
                <button type="button" class="little-minor-btn"
                    onkeyup="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                    onkeydown="if(event.keyCode === 13 || event.keyCode === 32){ return false;}"
                    (click)="cancelRecovery()">{{ i18n.plugins_common_button_term_operate_cancel}}</button>
            </div>
        </ti-item>
    </ti-formfield>
</div>
