.weidheight {
    line-height:25px;
    margin-bottom: 10px;
}

.divset {
    padding-top: 10px;
    cursor: default;
    height: 48px;
}

.title_20 {
    font-size: 20px;
    line-height: 26px;
}

.title_14 {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
}

.feild_title_14 {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.input_width {
    width: 400px;
    height: 28px;
    resize: none;
}

.textarea_width {
    width: 420px !important;
    padding: 5px 10px 5px 10px !important;
    font-size: 12px !important;
    min-height: 28px;
    height: 28px;
    border-radius: 2px;
}

.divset_en {
    width: 740px;
    height: 68px !important;
}

.margin-top_20 {
    margin-top: 20px;
}

.margin-top_30 {
    margin-top: 30px;
}

.margin-top_10 {
    margin-top: 10px;
}

.margin-bottom_20 {
    margin-bottom: 20px;
}

.inputError {
    border:1px solid #ff4c4c!important;
}

.line {
    text-decoration:underline;
    color: #0067FF;
}

.padding-top0 {
    padding-top: 0 !important;
}

.little-minor-btn {
    margin-left: 10px;
}

//黑色主题
::ng-deep .vscode-dark {
    .title_20 {
        color: #E8E8E8 ;
    }

    .title_14 {
        color: #888888 ;
    }

    .feild_title_14 {
        color: #AAAAAA ;
    }

    textarea:disabled {
        border-color: #616161 !important;
        background: #313131 !important;
        color: #616161 !important;
    }
    .help-tips {
        height: 18px;
        margin-left: 10px;
        margin-top: 3px;
    }
}

//浅色主题
::ng-deep .vscode-light {
    .title_20 {
        color: #222222 ;
    }

    .title_14 {
        color: #616161 ;
    }

    .feild_title_14 {
        color: #616161 ;
    }

    textarea:disabled {
        border-color: #CCCCCC !important;
        background: #F5F5F5 !important;
        color: #CCCCCC !important;
    }
    .help-tips {
        height: 18px;
        margin-left: 10px;
        margin-top: 3px;
    }
}
.input-eyes {
    position: relative;
    font-size: 0;

    .eyes {
      position: absolute;
      left: 375px;
      top: 6px;
      width: 20px;
      height: 20px;
    }
}
