::ng-deep {

  :root {
    --color-details-td-background: #f5f9ff;
  }

  .vscode-dark .core-detail {
    --color-details-td-background: #252525;
  }
}

.core-detail {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  header {
    flex-shrink: 0;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: var(--common-color-font-primary);
  }

  hr {
    flex-shrink: 0;
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .table-box {
    flex: 1;
    overflow: auto;

    .table-wrapper {

      title {
        display: block;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        color: var(--common-color-font-primary);
      }
  
      ti-table {
        margin-top: 10px;

        .ti3-table-fixed-head {
          ti-cell-text {

            ::ng-deep {
              > span {
                max-width: calc(100% - 24px) !important;
              }
            }
          }

          ti-icon.sort-icon {
            margin-left: 10px;
            cursor: pointer;
            font-size: 14px;

            &.ti3-icon-sort-descent,
            &.ti3-icon-sort-ascent {
              color: #0067ff;
            }
          }

          ti-icon.search-icon {
            margin-left: 10px;
            cursor: pointer;
          }
        }
  
        .ti3-table-container {
          min-height: 272px;

          tbody {
            .pid-cell {
              color: #2072ea;
            }
  
            td[details-icon-column] {

              ti-icon {
                color: #979797;
                cursor: pointer;
    
                &.active {
                  display: block;
                  transform: rotate(90deg);
                }
              }

              &.details-td {
                background: var(--color-details-td-background);
                border-right: 2px solid #0067ff;
                border-bottom: none;
              }
            }

            .ti3-table-nodata {
              pointer-events: none;
              td {
                background: none;
                padding: 0;
              }
            }
          }

        }
      }

    }

    .table-wrapper + .table-wrapper {
      margin-top: 32px;
    }

  }

}

// 进程线程pid搜索框
::ng-deep .process-search-pop {
  z-index: 1;
}