.template-all-content {
  .delete {
    width: max-content;
    margin-bottom: 10px;
  }
  .templateList {
    width: 100%;
    .nodata-temp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .no-data {
        font-size: 1rem;
      }
    }
      .template {
      width: 100%;
      .nav-1 {
        width: 100%;
        height: 49px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f7faff;
        border: solid 1px #E8E8E8;
        border-radius: 1px;
        box-sizing: border-box;
        cursor: pointer;
        .head-radio {
          margin-left: 24px;
          height: 16px;
          font-size: 14px;
          font-family: "huawei sans";
          font-weight: normal;
          letter-spacing: 0px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
        }
      }
      .clicked{
        border: solid 1px #6c92fa;
      }
      .collapsed {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 32px !important;
        background-color: #f0f3fa;
        .table {
          width: 100%;
          padding-left: 2%;
          padding: 0px 0px 0px 58px;
          box-sizing: border-box;
          border-left: 2px solid #6c92fa;
          background-color: #fff;
          .table-left,
          .table-right {
            ul li p {
              width: 100%;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .table-left {
          width: 33%;
          display: inline-block;
          font-size: 14px;
          color: grey;
        }
            .table-right {
            width: 67%;
            display: inline-block;
            padding-left: 5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  .footer {
  height: 32px;
  margin: 32px 0px;
  text-align: center;
  button {
    width: 96px;
  }
}
.isShow {
  display: none;
}
.content-list {
  .lable-right {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px;
    .label {
      width: 195px;
      color: #9ea4b3;
    }
  }
}
.clicked{
  border: solid 1px #6c92fa;
}

.list-info{
  .table {
    width: 100%;
    padding-left: 2%;
    padding: 10px 0px 10px 8px;
    box-sizing: border-box;
    .config-info{
      display: flex;
      justify-content: flex-start;
      min-height: 45px;
      line-height: 45px;
      font-size: 14px;
      .table-left {
        width: 25%;
        display: inline-block;
        color: #9ea4b3;
      }
      .table-right {
        width: 67%;
        display: inline-block;
        box-sizing: border-box;
      }
    }
  }

  .content-box {
    .lable-right {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 20px 0px;
      .label {
        width: 33%;
        color: #9ea4b3;
      }
    }
  }
}
.ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr{
  background-color: #fff;
  td{
    padding:0px;
    border-top: 1px solid #e2e2e2;
  }
}
.ti3-table-container table{
  border-collapse: collapse;
  }

  .ti3-table>.ti3-table-container>table>tbody>tr.nodataTr{
    border-bottom: 0px solid #e2e2e2;
  }
  .ti3-table > .ti3-table-container > table > tbody > tr.nodataTr:nth-child(odd):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover{
    background-color: #fff !important;
  }
.ti3-table>.ti3-table-fixed-head {
  overflow: visible;
}
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th{
  overflow: visible;
}
.filter-box{
  position:relative;
  display: inline-block;
  padding-left:8px;
  padding-top: 2px;
  padding-right:50px;
  img{
    cursor: pointer;
  }
  .filter-box-list{
    position:absolute;
    display: none;
    top:34px;
    left:0px;
    background-color: #fff;
    padding:20px;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  }
}

.filter-box:hover .filter-box-list{
  display: flex;
  flex-flow:column nowrap; 
}

.content{
  padding:22.8px 40px 32px;
  box-sizing: border-box;
  .mask-title{
  display:flex;
  justify-content: space-between;
  border-bottom: dashed 1px #d4d9e6;
  padding-bottom:20px;
  height:20px;
  font-size:20px;
}
.tip_title{
  padding-top:24px;
  padding-bottom:8px;
  font-size:14px;
  color: #616161;
  img{
    margin-bottom: -5px;
    padding-right: 10px;
  }
}

.ti3-table>.ti3-table-fixed-head>table>thead>tr>th:first-child[checkbox-column]{
  padding-left: 10px!important;
}
.ti3-table>.ti3-table-container{
  border-bottom: 0px solid transparent;
}
.footer_button{
  margin:0 auto;
  margin-top:32px;
  width: 192px;
  font-size: 12px;
  button{
    line-height: 26px;
    width:88px;
    height:28px
  }
}
}
.templates-del{
  width: 700px;
  max-height: 600px;
  .container-box{
    max-height: 331px;
    overflow: auto !important;
    td{
      padding: 7px 10px !important;
    }
  }
}
::ng-deep .delete-box .ti3-modal-content{
  width: 400px !important;
  margin: 0 auto;
}