<div class="detail_contain">
    <app-sub-module-function #subModuleFunction [taskid]="taskid" [nodeid]="nodeid" [optionList]="optionList"
        [columns]="columns" [theads]="theads" [srcData]="srcData" [currentPage]="currentPage"
        [totalNumber]="totalNumber" [pageSize]="pageSize" [analysisType]="analysisType"
        [addPercentSignFields]="addPercentSignFields" (selectChange)="selectChange($event)"
        (expandColumn)="expandColumn($event)" (getChildren)="getChildren($event)" (getTableData)="getTableData($event)"
        (addFunctionTab)="addFunctionTab($event)"></app-sub-module-function>
    <div class="loading" *ngIf="showLoading">
        <app-loading [size]="'min'" [height]="'100vh'"></app-loading>
    </div>
</div>