.form-sug-detail {
  position: relative;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;

  .item-label {
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--font-d-aaaaaa-l-616161);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .about-mask {
      display: inline-block;
      height: 16px;
      vertical-align: middle;
      margin-left: 4px;
      height: 14px;
      line-height: 14px;
    }
  }

  .item-value {
    color: var(--font-d-e8e8e8-l-222222);
  }
}