.progress-box {
    --progress-box-width: 152px;
    --progress-slider-width: 20px;

    width: var(--progress-box-width);
    height: 9px;
    background: #4b4b4b;
    margin: 3px 10px 0;

    .progress-slider {
        width: var(--progress-slider-width);
        height: 100%;
        background: #61d274;

        &.slider-anim {
            animation: scroll 3s ease-in-out 0s infinite alternate;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            33% {
                width: calc(var(--progress-slider-width) + calc(var(--progress-slider-width) * 0.2));
            }

            66% {
                width: calc(var(--progress-slider-width) - calc(var(--progress-slider-width) * 0.2));
            }

            100% {
                transform: translateX(calc(var(--progress-box-width) - var(--progress-slider-width)));
            }
        }
    }
}
