.mem {
  .paramsConfigSuggestions {
    padding-left: 16px;
    font-size: 13px;
    color: #6c7280;
    margin-bottom: 16px;
    margin-top: -10px;
  }

  .form {
    display: flex;
    justify-content: space-between;

    .tips {
      width: 600px;

      .header {
        .title {
          color: #252b3a;
          font-weight: bold;
          font-size: 14px;
        }

        .subTitle {
          font-size: 14px;
          line-height: 18px;
          margin-top: 4px;
          color: #6c7280;
        }
      }

      .list {
        margin-top: 8px;

        .item {
          color: #666;
          font-size: 14px;
          line-height: 25px;
          margin: 4px 0;
        }
      }
    }
  }
  
  footer{
    display: flex;
    justify-content: flex-start;
    height: 96px;
    margin-top: 23px;
    padding: 23px 0px;
    font-size: 12px;
    button{
      height: 28px;
      line-height: 0px;
      margin-right: 20px;
      min-width: 120px;
      margin-left:0;
    }
    button.toRight{
      margin-left:130px;
    }
  }
  
  // 配置节点参数
  .node-config-modal{
    .switch{
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .config-title{
        width: 220px;
        padding-left: 16px;
        margin: 20px 0px;
        color: #6c7280;
        font-size: 14px;
        display: flex;
        align-items: center;
      }
    }
  
    .node-config{
      width: calc(100% - 16px);
      margin-left: 16px;
      font-size: 14px;
  
      .table{
        .status-icon {
          border-radius: 50%;
          vertical-align: middle;
          display: inline-block;
          margin-right: 5px;
          border: 3px solid #63B6F7;
  
          &.success-icon {
            border: 3px solid #7ADFA0;
          }
  
          &.reserve-icon {
            border: 3px solid #63B6F7;
          }
        }
  
        .config-btn{
          color: #6c92fa;
          cursor: pointer;
        }
      }
    }
  
    .tip {
      display: flex;
      align-items: center;
      color: #6c7280;
      padding-left: 16px;

      img {
        margin-right: 8px;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }
}
