.common-warpper {
  .common-item {
    margin-top: 16px;
    &+.common-item {
      margin-top: 24px;
    }
  }
  .histroy-tip-container {
    margin-bottom: 20px;
    img,
    span {
      vertical-align: middle;
    }
    img {
      margin-right: 8px;
    }
  }
}