.light {
  --star-width: 16px;
}
.dark {
  --star-width: 0;
}
.targetAndClient {
  display: flex;
  flex-wrap: wrap;
}
.target {
  margin-right: 120px;
}
.form-value {
  width: 326px;
  height: 28px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.control {
  margin-top: 20px;
}
.control ::ng-deep ti-formfield .ti3-form tbody tr td:first-child {
  width: var(--star-width);
}
.flex {
  display: flex;
  width: fit-content;
  align-items: center;

  img{
    margin-left: 8px;
    width: 14px;
    height: 14px;
  }
}
.location {
  position: absolute;
  left: 0;
  top: 20px;
}
:host ::ng-deep .ti3-unifyvalid-tip-error-container {
  align-items: center;
  .ti3-error-icon-bg {
    width: 14px;
    height: 14px;
    line-height: 14px;
  }
  .ti3-error-icon {
    font-size: 12px;
  }
}
:host ::ng-deep .targetAndClient .control ti-formfield .ti3-form tbody tr td:first-child{
  width: 16px;
}
