:root {
    --ti-default-font-color: var(--vscode-editor-foreground);
    --ti-common-color-line-dividing: #0067ff;
    --ti-select-small-dominator-text-left-padding: 10px;
    --ti-input-height: 28px;
    --ti-input-border-color: #888888;
    --ti-input-bg-color: transparent;
    --ti-searchbox-divider-width: 0px;

    //表格
    --ti-table-small-td-height: 32px;
    --ti-table-th-spacing-line-color: #545454;
    --ti-table-sort-icon-color-active: #0067ff;
    --ti-table-sort-color-hover: #0067ff;
    --ti-searchbox-divider-width: 0px;
    --ti-ti3-tabs-padding-height:80px;
    --ti3-tabs-padding-top:20px;
    --point-time-timeTab-width:102px;

    /*************************** 按钮 ******************************/
    --ti-button-middle-width: 88px;
    --ti-common-font-size-base: 12px;

    // 深色模式
    .vscode-dark {
        --ti-default-body-bg: #313335;
        --ti-input-bg-color-disabled: #313131;
        --ti-table-th-spacing-line-color: #4b4b4b;
        --ti-common-bg: #252526;
        --ti-button-default-normal-bg-color: #313131;
        --ti-button-default-normal-color: #e8e8e8;
        --ti-button-default-normal-border-color: #dddddd;
        --ti-button-default-bg-color-hover: #313131;
        --ti-button-default-color-hover: #267dff;

        --d-aaaaaa-l-616161: #aaaaaa;
        --d-aaaaaa-l-0057d9: #aaaaaa;
        --d-aaaaaa-l-222222: #aaaaaa;
        --d-aaaaaa-l-000000: #aaaaaa;
        --d-aaaaaa-l-979797: #aaaaaa;
        --d-cccccc-l-222222: #cccccc;
        --d-dddddd-l-979797: #dddddd;
        --d-313131-l-cccccc: #313131;
        --d-313131-l-ffffff: #313131;
        --d-313131-l-f5f5f5: #313131;
        --d-313131-l-f5f6f7: #313131;
        --d-313131-l-e6ebf5: #313131;
        --d-313131-l-f5f9ff: #313131;
        --d-383838-l-f5f9ff: #383838;
        --d-e8e8e8-l-0057d9: #e8e8e8;
        --d-e8e8e8-l-222222: #e8e8e8;
        --d-e8e8e8-l-333333: #e8e8e8;
        --d-e8e8e8-l-616161: #e8e8e8;
        --d-5b5b5b-l-868686: #5b5b5b;
        --d-545454-l-e1e6ee: #545454;
        --d-888888-l-616161: #888888;
        --d-888888-l-979797: #888888;
        --d-252526-l-ffffff: #252526;
        --d-616161-l-cccccc: #616161;
        --d-0067ff-l-222222: #0067ff;
        --d-4b4b4b-l-e2e2e2: #4b4b4b;
        --d-12223b-l-ffffff: #12223b;
        --d-2a2a2a-l-f5f9ff: #2a2a2a;
        --d-2a2a2a-l-ffffff: #2a2a2a;
        --d-2d2d2d-l-f5f9ff: #2d2d2d;
        --d-161616-l-ffffff: #161616;
        --d-ffffff-l-222222: #ffffff;
        --d-d4d4d4-l-222222: #222222;
        --d-111d2c-l-f0f6ff: #111d2c;
        --d-15395b-l-0067ff: #15395b;
        --d-f0f3fa-l-edf4ff: #f0f3fa;
        --d-484a4e-l-e1e6ee: #484a4e;
        --d-484848-l-e1e6ee: #484848;
        --d-424242-l-ffffff: #424242;
        --d-252525-l-f5f9ff: #252525;
        --d-313131ff-l-6c92fa33: #313131ff;
        --d-000000-l-ffffff: #00000000;
        --d-00000000-l-ccccccff: #00000000;

        --d-solid-l-dashed: solid;
        --d-solid-l-dotted: solid;
        --tooltip-border: 1px solid #424242;
        --mc-color-page-bg-hover: #0067ff;
        --mc-color-page-bg-active: #0057d9;
        --filter-button-border: 1px solid #ddd;
        --accordion-border-top: 1px solid #4b4b4b;

        /*************************** 树 ********************************/
        --ti-tree-node-bg-color-checked: #313131;
        --ti-tree-content-box-color-hover: #313131;
        
        // 默认
        --ti-button-default-normal-bg-color: #313131;
        --ti-button-default-normal-border-color: solid 1px #dddddd;
        --ti-button-default-normal-color: #e8e8e8;
        --ti-button-default-bg-color-hover: #313131;

        // 主要
        --ti-button-primary-normal-bg-color: #2072ea;
        --ti-button-primary-normal-border-color:#2072ea;
        --ti-button-primary-normal-color: #e8e8e8;

        /************************** 联合分析 *****************************/
        --linkage-tab-active-bg-color: #181818;
        --linkage-tab-normal-bg-color: rgba(255, 255, 255, 0.07);
        --linkage-tab-header-border-color: rgba(255, 255, 255, 0.07);
        --linkage-tab-body-border-color: unset;
        --lickage-project-box-bg-color: #181818;
    }

    .vscode-light {
        --ti-default-body-bg: #ffffff;
        --ti-input-bg-color-disabled: #f5f5f5;
        --ti-table-th-spacing-line-color: #ffffff;
        --ti-common-bg: #fff;

        --d-aaaaaa-l-616161: #616161;
        --d-aaaaaa-l-0057d9: #0057d9;
        --d-aaaaaa-l-222222: #222222;
        --d-aaaaaa-l-000000: #000000;
        --d-aaaaaa-l-979797: #979797;
        --d-cccccc-l-222222: #222222;
        --d-dddddd-l-979797: #979797;
        --d-313131-l-cccccc: #cccccc;
        --d-313131-l-ffffff: #ffffff;
        --d-313131-l-f5f5f5: #f5f5f5;
        --d-313131-l-f5f6f7: #f5f6f7;
        --d-313131-l-e6ebf5: #e6ebf5;
        --d-313131-l-f5f9ff: #f5f9ff;
        --d-383838-l-f5f9ff: #f5f9ff;
        --d-e8e8e8-l-0057d9: #0057d9;
        --d-e8e8e8-l-222222: #222222;
        --d-e8e8e8-l-333333: #333333;
        --d-e8e8e8-l-616161: #616161;
        --d-5b5b5b-l-868686: #868686;
        --d-545454-l-e1e6ee: #e1e6ee;
        --d-888888-l-616161: #616161;
        --d-888888-l-979797: #979797;
        --d-252526-l-ffffff: #ffffff;
        --d-616161-l-cccccc: #cccccc;
        --d-0067ff-l-222222: #222222;
        --d-4b4b4b-l-e2e2e2: #e2e2e2;
        --d-12223b-l-ffffff: #ffffff;
        --d-2a2a2a-l-f5f9ff: #f5f9ff;
        --d-2a2a2a-l-ffffff: #ffffff;
        --d-2d2d2d-l-f5f9ff: #f5f9ff;
        --d-161616-l-ffffff: #ffffff;
        --d-ffffff-l-222222: #222222;
        --d-d4d4d4-l-222222: #222222;
        --d-111d2c-l-f0f6ff: #f0f6ff;
        --d-15395b-l-0067ff: #0067ff;
        --d-f0f3fa-l-edf4ff: #edf4ff;
        --d-484a4e-l-e1e6ee: #e1e6ee;
        --d-484848-l-e1e6ee: #e1e6ee;
        --d-424242-l-ffffff: #ffffff;
        --d-252525-l-f5f9ff: #f5f9ff;
        --d-313131ff-l-6c92fa33: #6c92fa33;
        --d-000000-l-ffffff: #ccccccff;
        --d-00000000-l-ccccccff: #ccccccff;

        --d-solid-l-dashed: dashed;
        --d-solid-l-dotted: dotted;
        --tooltip-border: 1px solid #fff;
        --mc-color-page-bg-hover: #267dff;
        --mc-color-page-bg-active: #267dff;
        --filter-button-border: 1px solid #979797;

        /************************** 联合分析 *****************************/
        --linkage-tab-active-bg-color: #fff;
        --linkage-tab-normal-bg-color: #f5f9ff;
        --linkage-tab-header-border-color: #e1e6ee; 
        --linkage-tab-body-border-color: #e1e6ee;
        --lickage-project-box-bg-color: #fff;

        --accordion-border-top: 1px solid #e6ebf5;
    }
}
