.help-info{
    display: flex;
    .msg-title {
        display: flex;
        width: 1414px;
        background-color: #f0f6ff;
        border-radius: 2px;
        border: solid 1px #2072ea;
        display: flex;
        line-height: 20px;
        margin-top:32px;
        padding: 10px 0;
        box-sizing: border-box;
        .ti-icon{
            vertical-align:middle;
            margin-left:8px;
            font-size: 16px;
            &.blue{
                color:  #0067ff; 
            }
            &.green{
                color: #3ad53e;
            }
            &.red{
              margin-bottom: -2px;
            }
        }
        .des {
            flex: 1;
            margin-left:8px;
        } 
    }
    .img-wrapper{
        align-self: flex-end;
        display: flex;
        .img-tip{
            display: flex;
            align-self: flex-end;
            margin-left: 41px;
            width: 22px;
            height: 22px;
            font-size: 22px;
          }         
    }
   
}

.diff-box{
    height: 100px;
    .top-colum{
        display: flex;
        margin-top: 16px;
        justify-content: space-between;
        ::ng-deep .left-top{
            display: flex;
            .ti-select1{
                margin-left: 24px;
                width: 150px;
                height: 32px;
                background-color: #ffffff;
                border-radius: 2px;
                border: solid 1px #979797;

                .ti3-select-dominator-container {
                    height: 32px !important;
                    line-height: 30px !important;
                }

                .ti3-select-dominator-dropdown-btn {
                    height: 32px;
                }
            }       
            .ti-select2{
                margin-left: 8px;
                width: 150px;
                height: 32px;
                background-color: #ffffff;
                border-radius: 2px;
                border: solid 1px #979797;

                .ti3-select-dominator-container {
                    height: 32px !important;
                    line-height: 30px !important;
                }

                .ti3-select-dominator-dropdown-btn {
                    height: 32px;
                }
            }       
            .ti-button-diff{
                margin-left: 8px;
                padding:0 25px;
                height: 32px !important;
                border-radius: 2px;
            }   
        }
        .searchbox{
            position: relative;
            width: 320px;
            height: 32px;
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 1px #979797;
            right: 16px;
        }
    }
    .show-icon{
        float: right;
        right: 16px;
        margin-top: 16px;
        .legned{
            align-self: flex-end;
            display: flex;
            padding-right: 16px;

            .l1{
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-left: 24px;
                .pic{
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                }
                .til{
                    font-size: 12px;
                    color: #222;
                }
            }
        }        
    }
    .nodata {
        margin: auto;
        margin-top: 148px;
        display: flex;
        width: 320px;
        height: 156px;
        flex-direction: column;
        align-items: center;
    }
    
    .flame-box{
        margin-top: 85px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 613px;
        .d3-container{
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
        .svgContent{
            svg{
                width: 100% !important;   
            }
        }
    }

}



#flame-menu{
    position: fixed;
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;
    top:0px;
    display: flex;
    justify-content: center;
    .functionName{
        max-width: 271px;
        line-height: 18px;
        font-size: 12px;
        color: #616161;
        border-right: 1px solid #D7DEEE;
        padding-right: 12px;
        white-space: nowrap;
    }
    .menu-item{
        white-space: nowrap;
        font-size: 12px;
        cursor: pointer;
        color: #222222 ;
        padding-left: 12px;
        line-height: 18px;
        color: #267DFF;
        
    }
}
#flame-menu.notStack{
    .functionName{
        padding-right: 0px;
        border-right: 0px solid #D7DEEE;
    }
}
:host ::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    background: #FFF;
    max-height: 300px;
}

ti-tip-container.ti3-tooltip{
    z-index: 10000000 !important;
}
@media only screen and (max-height: 900px){
    .nodata{
        margin: 0;
        padding: 10px
    }
    :host ::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
        max-height: 126px;
    }
    .nodata img, .chen-nodata-td img {
        width: 220px !important;
    }
}
