::ng-deep {
  :root {
    --log-bg-color: #f5f9ff;
  }
  body.dark,
  body.vscode-dark {
    --log-bg-color: #161616;
  }
}
.storageCollect {
  .collection {
    height: 390px;
    box-sizing: border-box;
    margin-bottom: 32px;
  }
  .myhead {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }
  .hcenter {
    height: 340px;
    overflow-y: auto;
    background-color: var(--log-bg-color);
    padding: 16px;
    box-sizing: border-box;
    .hcontent {
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0px;
    }
  }
}
