<div class="config-log">
  <!-- 微架构和Miss任务在820版本只有一种采集日志 -->
  <div
    *ngIf="collectionLog?.all; else other"
    class="log-box all"
    [appLoading]="obtainingLog"
  >
    <div class="log-item" *ngFor="let item of collectionLog.all">
      <div>{{ item }}</div>
    </div>
    <div *ngIf="!obtainingLog && collectionLog.all.length == 0">
      {{ i18n.common_term_task_nodata }}
    </div>
  </div>

  <ng-template #other>
    <div class="Acq" *ngIf="analysisType !== 'task_contrast'">
      <span class="log-title">{{ i18n.common_term_task_tab_log_basic }}</span>
      <div class="log-box" [appLoading]="obtainingLog">
        <div class="log-item" *ngFor="let item of Acq">
          <div>{{ item }}</div>
        </div>
        <div *ngIf="!obtainingLog && Acq.length == 0">
          {{ i18n.common_term_task_nodata }}
        </div>
      </div>
    </div>

    <div class="Data">
      <span class="log-title">{{ i18n.common_term_task_tab_log_data }}</span>
      <div class="log-box" [appLoading]="obtainingLog">
        <div class="log-item" *ngFor="let item of Data">
          <div>{{ item }}</div>
        </div>
        <div *ngIf="!obtainingLog && Data.length == 0">
          {{ i18n.common_term_task_nodata }}
        </div>
      </div>
    </div>
  </ng-template>
</div>
