.config-log {
  .log-title {
    font-size: 16px;
  }
  .log-box {
    margin-top: 0.7vw;
    padding: 1.04vw;
    background: var(--common-color-background-secondary);
    height: 15.6vw;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: 14px;
    .log-item {
      display: flex;
      margin-top: 1.04vw;
      .log-label {
        flex: 0 0 192px;
      }
      .log-info {
        margin-left: 1.04vw;
        color: #6c7280;
      }
    }

    &.all {
      height: 70vh;
    }
  }
  .log-box.system {
    height: 31.5vw;
  }
  .Data {
    margin-top: 1vw;
  }
}
