::ng-deep #timeChartConfig {
    z-index: 999999999 !important;

    .ti3-modal-dialog {
        margin: 212px auto 0 !important;
        height: 700px !important;
    }
}

::ng-deep ti-drop.ti3-dropdown-container {
    z-index: 999999999 !important;
}

.EchartShow {
    display: none;
}

.showEchart {
    display: none;
}

.ifShow.svgPage {
    display: block;
}

.svgPage {
    display: none;
    left: 10000px;
    overflow: hidden;
}

::ng-deep.select-box {
    width: 0px !important;
    overflow: hidden;
}

::ng-deep .content-container {
    margin-top: 0px;
}

:host .fixedArea {
    position: absolute;
    width: calc(100% - 32px*2);
    min-width: calc(1062px - 32px*2);
    height: 80px;
    z-index: 2;
    background: var(--vscode-editor-background);
    top: 80px;
}

.micarch_echarts {
    margin-top: 125px;
}

.micarch_table {
    margin-top: 50px;
}

.title_bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .left_title {
        font-size: 20px;
        color: var(--title-color);
        display: flex;
        line-height: 32px;

        .selectIcon {
            height: 32px;
            width: 32px;
            margin-left: 10px;
            cursor: pointer;
            background: var(--filter-bg);
            border-radius: 2px;
            border: var(--icon-border-color);

            img {
                width: 12px;
                height: 12px;
                margin: 11px 10px;
            } 
  
            &:hover {
                border: var(--icon-border-hover-color);
            }
        }

        .help-tip {
          height: 14px;
          width: 14px;
          margin-top: 10px;
          margin-left: 5px;
        }
    }

    .right_switch {
        display: flex;
        .view-switch {
            display: flex;
            app-icon-react {
                display: block;
                width: 32px;
                height: 32px;
            }
            app-icon-react + app-icon-react {
                margin-left: 1px;
            }
        }
        img {
            cursor: pointer;
        }
    }
}

.filterConfig {
    max-height: 100%;
    margin-right: 34px;

    .filterConfig_head {
        padding: 18px 0px 17px 0px;
        border-bottom: 1px dashed #4B4B4B;
        margin-bottom: 25px;
        color: var(--common-color-font-primary);
        font-size: 20px;
        height: 30px;

    }

    .filterConfig_content {
        margin-bottom: 32px;

        .filterConfig_title {
            background: rgba(0, 103, 255, 0.24);
            height: 20px;
            border-radius: 2px;
            padding: 14px 16px 14px 26px;
            position: relative;
            cursor: pointer;
            margin-right: 4px;

            span {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 20px;
                letter-spacing: 0px;
                color: var(--common-color-font-primary);
            }

            img {
                position: absolute;
                right: 0px;
                bottom: 0px;
            }
        }

        .filterConfigClose {
            background-color: var(--common-color-background-secondary) !important;
        }

        .filterCondition {
            margin-top: 16px;
            margin-left: 26px;

            .average {
                height: 18px;
                padding-bottom: 10px;

                label {
                    height: 18px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 18px;
                    letter-spacing: 0px;
                    color: var(--common-color-font-primary);
                }
            }

            .filterTitle_box {
                display: flex;
                margin-top: 10px;

                .filterTitle {
                    width: 100%;

                    p {
                        font-size: 14px;
                        color: var(--common-color-font-primary);
                        line-height: 12px;
                        height: 17px;
                    }
                }
            }
        }
    }
}

.little-minor-btn {
    margin-left: 24px;
}

.ti-select-set {
    width: 100%;
    margin-top: 6px;
}

.margin-left-26 {
    margin-left: 26px;
}

.div-margin {
    margin-left: 26px;
    margin-right: 24px;
}

.selectTable {
    margin-top: 10px;
}

.ti3-table>table>tbody>tr.ti3-selected-tr {
    background-color: var(--vscode-editor-background) !important;
}

.margin-right-32 {
    margin-right: 32px;
}

.switch {
    position: relative;
    width: 35px;
    height: 20px;
    background-color: var(--switch-background-color);
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 12px;
}

.selectedLeft {
    position: absolute;
    width: 32px;
    height: 20px;
    background-color: #0067FF;
    border-radius: 10px;
    right: -2px;
    transition: all .25s linear;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
}

.selectedRight {
    position: absolute;
    width: 32px;
    height: 20px;
    background-color: #0067FF;
    border-radius: 10px;
    right: 25px;
    transition: all .25s linear;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
}

.selectTableBox {
    position: relative;

    .headerFilter {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 1;

        img {
            cursor: pointer;
            height: 9px;
            width: 9px;
        }
    }

    .statusFilter {
        font-size: 14px;
        display: none;
        position: relative;
        position: absolute;
        top: 25px;
        right: 5px;
        min-width: 150px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding-top: 15px;
        background-color: #252526 !important;

        span {
            line-height: 32px;
            padding: 0 15px;
            box-sizing: border-box;
            width: 100%;
            height: 32px;

            &:hover {
                background-color: #0067FF;
            }
        }
    }

    .statusFilter.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

::ng-deep .ti3-page-container .ti3-pag-pages>.ti3-pag-next {
    font-size: 12px !important;
    background-color: unset !important;
    color: #666666 !important;
}

::ng-deep .ti3-page-container .ti3-pag-pages>.ti3-pag-prev {
    font-size: 12px !important;
    background-color: unset !important;
    color: #666666 !important;
}

::ng-deep .ti3-page-container .ti3-pag-page {
    font-size: 12px !important;

    .active {
        font-weight: normal;
    }
}

::ng-deep .ti3-page-container .ti3-page-mini-option,
.ti3-page-container .ti3-page-size-option {
    height: 24px !important;
    border-color: #888888 !important;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.content-box {
    box-sizing: content-box;
    display: none;
    width: 580px;
    padding: 20px 40px 40px 40px;
    background-color: var(--color-box-content);
    box-shadow: 0px 3px 6px 0px var(--color-content-shadow);
    margin: 20px auto;
    z-index: 114;
}

::ng-deep .vscode-dark {
    .timeChartConfigModal .ti3-modal-content {
        width: 660px !important;
        background-color: #252526 !important;
        box-shadow: 0 3px 6px 0 #000 !important;
        padding: 0!important;
        height: 600px !important;
    }

    --dark-tooltip-background-color: #424242;

    .ti3-tooltip {
        background-color: var(--dark-tooltip-background-color) !important;
        border-color: var(--dark-tooltip-background-color) !important;
        z-index: 999999999;
    }

    .ti3-tooltip-top::after,
    .ti3-tooltip-right::after,
    .ti3-tooltip-top-left::after,
    .ti3-tooltip-top-right::after,
    .ti3-tooltip-bottom-right::after {
        background-color: var(--dark-tooltip-background-color) !important;
    }

    .ti3-tooltip-top::before,
    .ti3-tooltip-right::before,
    .ti3-tooltip-top-left::before,
    .ti3-tooltip-top-right::before,
    .ti3-tooltip-bottom-right::before {
        background-color: var(--dark-tooltip-background-color) !important;
        border-color: var(--dark-tooltip-background-color) !important;
    }

}

::ng-deep .vscode-light {
    .ti3-tooltip {
        color: #222222 !important;
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-top::after,
    .ti3-tooltip-right::after,
    .ti3-tooltip-top-left::after,
    .ti3-tooltip-top-right::after,
    .ti3-tooltip-bottom-right::after {
        background-color: var(--vscode-editor-background) !important;
    }

    .ti3-tooltip-top::before,
    .ti3-tooltip-right::before,
    .ti3-tooltip-top-left::before,
    .ti3-tooltip-top-right::before,
    .ti3-tooltip-bottom-right::before {
        background-color: var(--vscode-editor-background) !important;
        border-color: var(--vscode-editor-background) !important;
    }
}

::ng-deep .timeChartConfigModal .ti3-close {
    position: absolute;
    top: 15px !important;
    right: 40px !important;
}

::ng-deep .timeChartConfigModal .ti3-modal-header {
    padding: 20px 0px !important;
    margin: 0 40px;
    color: var(--common-color-font-primary) !important;
    border-bottom: 1px dashed #4b4b4b;
    font-size: 20px !important;
}

::ng-deep .timeChartConfigModal .ti3-modal-body {
    margin: 25px 0 0 40px !important;
    height: 432px !important;
    max-height: 432px !important;
}

::ng-deep .timeChartConfigModal .ti3-modal-footer {
    height: 75px;
    border-top: 1px dashed #4b4b4b;
    padding: 23px 0 24px !important;
    margin: 0 40px;
    box-sizing: border-box;
}

::ng-deep .timeChartConfigModal ::-webkit-scrollbar {
    width: 5px !important;
}

::ng-deep .timeChartConfigModal .ti3-multiselect-container .ti3-select-dominator-text {
    height: auto;
    min-height: 26px !important;
    max-height: 26px !important;
    align-items: center;
}

::ng-deep .vscode-dark{
    --title-color:#e8e8e8;
    --filter-bg: #313131;
    --icon-border-color: 1px solid #313131;
    --icon-border-hover-color: 1px solid #313131;
}
::ng-deep .vscode-light{
    --title-color:#282B33;
    --filter-bg: #fff;
    --icon-border-color: 1px solid #aaa;
    --icon-border-hover-color: 1px solid #0067ff;
}