.source-code-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .header-left {
      font-size: 20px;
      max-width: 600px;
      display: flex;

      span {
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 200px;

        &:last-of-type {
          margin-left: 10px;
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      .legend {
        display: flex;
        align-items: center;

        > div {
          display: flex;
          align-items: center;

          &:first-of-type {
            margin-right: 16px;
          }
        }

        .self-rect,
        .child-rect {
          width: 8px;
          height: 8px;
          margin-right: 8px;
        }

        .self-rect {
          background-color: #ed4b4b;
        }

        .child-rect {
          background-color: #ff9b00;
        }

        span {
          font-size: 14px;
          line-height: 20px;
          color: #222222;
        }
      }

      .jump-btns {
        margin-left: 37px;

        img {
          width: 14px;
          height: 14px;
          cursor: pointer;

          &.jump-up {
            margin-right: 18px;
          }
        }
      }
      .shortLine {
        line-height: 21px;
        color: #d8d8d8;
        height: 27px;
        display: block;
        margin-left: 10px;
      }
    }
    .moveLeft {
      margin-right: 74px;
    }
  }

  .code-viwer-box {
    flex: 1;
    position: relative;
    padding-top: 30px;
    border: 1px solid #e1e6ee;
    max-height: calc(100% - 20px);
    box-sizing: border-box;

    #code-viwer {
      height: 100%;
    }
  }
}

::ng-deep #code-viwer {
  &.leak {
    // monaco编辑器左侧行号栏样式
    .margin-view-overlays {
      > div {
        .self-icon,
        .child-icon {
          border-radius: 7px;
          width: 56px !important;
          height: 16px !important;
          margin: 0 8px;
          line-height: 16px;
          box-sizing: border-box;
          font-size: 14px;
          padding: 0 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .self-icon {
          color: #ed4b4b;
          border: 1px solid #ed4b4b;

          &.active-line {
            color: #ffffff;
            background: #ed4b4b;
          }
        }

        .child-icon {
          color: #ff9b00;
          border: 1px solid #ff9b00;

          &.active-line {
            color: #ffffff;
            background: #ff9b00;
          }
        }

        // 行号位置
        .line-numbers {
          left: 72px !important;
        }

        // 展开代码图标位置
        .folding {
          left: 88px !important;
        }
      }
    }
  }

  // monaco编辑器滚动条样式
  .monaco-scrollable-element > .scrollbar {
    cursor: default;

    > .slider {
      cursor: default;
    }
  }
  // monaco编辑器小地图样式
  .minimap {
    cursor: default;
  }

  .light-icon {
    background-image: url(../../../../../assets/img/memDiagnose/fix-tip.svg);
    background-size: 80% !important;
    background-position-y: 40%;
    background-repeat: no-repeat !important;
    left: 5% !important;
    cursor: pointer;
    z-index: 100;
  }
}
::ng-deep .monaco-editor-hover {
  background-color: var(--ti-tip-bg-color) !important;
  border: none !important;
  border-radius: var(--ti-tip-border-radius);
  box-shadow: var(--ti-tip-box-shadow);
  box-sizing: border-box;
  color: var(--ti-tip-text-color);
  display: block;
  line-height: var(--ti-common-line-height-number);
  padding: 11px 15px;
  position: absolute;
  white-space: normal;
  word-wrap: break-word;
  z-index: var(--ti-tip-z-index);
  left: 35px !important;
  overflow:visible;
  width: 180px;
  &::before {
    border-left: var(--ti-tip-border);
    border-top: var(--ti-tip-border);
    width: 8px;
    height: 8px;
    margin-left: -5px;
    bottom: -5px;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    content: "";
    overflow: hidden;
    background: #fff;
    transform: translateY(-50%) rotate(-135deg);
    top: 50%;
    left: 0;
    z-index: 10;
  }
  &::after {
    display: block;
    position: absolute;
    content: "";
    overflow: hidden;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    width: 10px;
    height: 100%;
    z-index: 11;
  }
  .hover-row {
    top: 200px;
    left: 0px;
  }
}
