.topDiv {
    margin: 0px 0;
    position: relative;
}

.detailTD {
    padding: 0 0 20px 21px !important;
    border-left: 2px solid #5e7ce0;

    table {
        width: 100%;

        td {
            padding: 10px;
            border-bottom: 1px solid #e2e2e2;
        }
    }
}

.activeSearch {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    .selected {
        margin: 0 10px;
        font-size: 16px;
    }

    img {
        vertical-align: middle;
    }
    .task {
        padding: 5px 15px;
        position: relative;
        border-radius: 3px;
        margin: 5px 4px;
        background-color: var(--ti-tag-select);
        border-radius: 3px;
        width: 193px;
        padding-right: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            position: absolute;
            right: 8px;
            cursor: pointer;
            margin-left: 5px;
            top: 7px;
            color: var(--ti-modal-close-icon-color);
            --ti-modal-header-height: 12px;
            --ti-common-font-size-base: 12px;
            z-index: 1;
        }
    }
    .icon {
        width: 30px;
        height: 30px;
        background: var(--filter-bg);
        border-radius: 2px;
        border: var(--icon-border-color);
        cursor: pointer;
        
        img {
            width: 12px;
            height: 12px;
            margin: 10px 9px;
        }
    }
    .icon:hover {
        border: var(--icon-border-hover-color);
    }
}


.searchBtn {
    float: right;
}

.activeText {
    color: #0067ff;
}

.listDiv {
    z-index: 1000;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 20px 0 20px 0;
    background-color: var(--ti-list-div-bg);

    div {
        display: inline-block;

        p {
            padding: 5px 15px;
            display: inline-block;
            margin: 5px 4px;
            position: relative;
            background-color: var(--ti-tag-select);
            border-radius: 3px;
            color: var(--ti-list-div-color);

            img {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.listTitle {
    vertical-align: top;
}

.listContent {
    width: calc(100% - 120px);
    color: #6c7280;
    margin-top: 15px;
    margin-left: 15px;
}

.nodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 10% 0;
    margin-top: 0;
}

.shape {
    width: 9px;
    height: 5px;
}

.selectTask {
    margin-left: 16px;
    position: relative;
    top: 1px;
}
.numa-table{
    max-height: 672px;
}

.ti3-table-container{
    max-height: 577px;
    border-bottom: 1px solid var(--tbody-td-bottom-bg) !important;
}
.numa-table ::ng-deep ti-pagination >ti-select{
    height: 24px !important;
    >ti-dominator{
        height: 24px !important;
        >section{
            line-height: 22px;
        }
    }
}
.numa-table ti-table>.ti3-table-container>#selected>tbody>tr:hover, .numa-table ti-table>.ti3-table-container>#selected>tbody>.child-node{
    background: var(--tbody-tr-bg) !important;
}
.ti3-table-fixed-head > table > thead > tr > th{
    border-bottom: 1px solid var(--thead-th-border-color);
    span{
        height: 22px;
    }
}
.ti3-table-container>table>tbody>tr{
    td{
        border-bottom: 1px solid var(--tbody-td-bottom-bg);
        padding-top: 6px;
        padding-bottom: 6px;
        position: relative;
        .toggle-icon {
            position: absolute;
            right: 0;
            top: 8px;
            cursor: pointer;
        }
    }
    &.child-node {
        td:first-child {
            border-bottom: none;
        }
        .add-border {
            border-left: 2px solid #0067ff;
        }
    }
}

.ti3-table-fixed-head {
    thead {
        .center {
            text-align: center;
        }

        th {
            .content {
                display: flex;
                align-items: center;
                overflow: hidden;
                justify-content: flex-start;

                .ti3-cell-text-container {
                    overflow: hidden;
                    height: 32px;

                    .ti3-cell-text {
                        max-width: 100% !important;
                    }
                }

                &.center {
                    justify-content: center;
                }

                .tableSort {
                    display: flex;
                    align-items: center;
                }
            }

            // 解决表格最后一列没有border的显示问题
            &::after {
                width: 1px !important;
                background: var(--thead-th-border-right-color);
                color: transparent;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                content: "";
            }
            &:first-child::after {
                width: 0 !important;
            }
        }
    }
}
::ng-deep .vscode-dark {
    --ti-tag-select: #313131;
    --ti-list-div-bg:#252526;
    --ti-list-div-color:#d4d4d4;
    --thead-th-border-color:#545454;
    --thead-th-border-right-color:#4B4B4B;
    --tbody-tr-bg:#222;
    --tbody-td-bottom-bg:#545454;
    --filter-bg: #313131;
    --icon-border-color: 1px solid #313131;
    --icon-border-hover-color: 1px solid #313131;
}
::ng-deep .vscode-light {
    --ti-tag-select: #e6ebf5;
    --ti-list-div-bg:#ffffff;
    --ti-list-div-color:#000;
    --thead-th-border-color:#e1e6ee;
    --thead-th-border-right-color:#ffffff;
    --tbody-tr-bg:#f5f9ff;
    --tbody-td-bottom-bg:#e1e6ee;
    --filter-bg: #fff;
    --icon-border-color: 1px solid #aaa;
    --icon-border-hover-color: 1px solid #0067ff;
}

::ng-deep .filterConfig .selectTableBox {
    .ti3-table-container > table > tbody > tr > td {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
::ng-deep .ti3-table-container .transform {
    .title-icon {
        width: 12px;
        height: 12px;
        &.active-icon {
            transform: rotate(90deg);
        }
    }
}
.operate-btn {
    color: #6c92fa;
    cursor: pointer;
}
.operate-btn span:hover {
    border-bottom: 1px solid;
}