.upload-container{
    position: fixed;
    z-index: 111;
    bottom: 10px;
    right: 45px;
    width: 480px;
	background-color: #ffffff;
	box-shadow: 0px 6px 18px 0px 
		rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    text-align: center;
    .top{
        padding: 9px 16px;
        background-color: #5599FF;
        border-radius: 1px;
        font-size: 14px;
        font-weight: normal;
        line-height: 14px;
        letter-spacing: 0px;
        color: #fff;
        text-align: left;
    }
    .content{
        position: relative;
        margin: 18px;
        padding: 18px;
        border: solid 1px #d8d8d8;
        text-align: left;
        border-radius: 1px;
        img {
          position: absolute;
          right: 20px;
          top: 22px;
        }
        .progress-bar-bg{
            width: 415px;
            height: 3px;
            background-color: darkgray;
            border-radius: 2px;
            margin-top: 16px;
            position: relative;
            .progress-bar{
                width: 30px;
                height: 5px;
                background-color:#68D196;
                text-align: center;
                border-radius: 2px;
                position: absolute;
                top: -1px;
                left: 0;
                animation: fadeInLeft 2s infinite alternate;
            }
        }
    }

    .close-btn{
        float: right;
    }
}


@keyframes fadeInLeft {
	0% {
		transform: translateX(0px);
	}	
	100% {
		transform: translateX(347px);
	}
}
