.light.select-nodes {
   .select-boxs {
    background: rgba(0, 103, 255, 0.1);
  }
  .select-boxs .select-chosen{
    color: #fff;
  }
}

.dark.select-nodes {
  .select-boxs {
    background: #616161;
  }
  .select-boxs .select-chosen{
    color: #e8e8e8;
  }
}
.select-nodes {
  margin-left: 16px;
  .select-boxs {
    position: relative;
    width: 61px;
    height: 18px;
    margin-top: 2px;
    border-radius: 9px;

    .chosen {
      position: absolute;
      top: 0;
      width: 32px;
      height: 18px;
      color: var(--common-color-font-primary);
      border-radius: 9px;
      font-size: 12px;
      text-align: center;
      line-height: 18px;
      cursor: pointer;
    }
    .has {
      left: 0;
    }
    .all {
      right: 0;
    }
    .select-chosen {
      background: #0067ff;
    }
  }
  .nodes-table {
    margin: 10px 0 20px;
    position: relative;

    .keep {
      width: 10%;
      height: 31px;
      background: var(--ti-table-th-bg-color);
      padding: 0 var(--ti-table-column-icon-right-space) 0
        var(--ti-table-column-icon-left-space);
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .status-icon {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
      background: #7adfa0;
    }
    .reserve-icon {
      background: #b8becc;
    }
    ti-pagination {
      margin-bottom: 20px;
    }
    .search-icon {
      margin-left: 8px;
    }
    .nodata {
      height: 160px;
      text-align: center;
      ::ng-deep img {
        width: 320px !important;
        height: 130px;
      }
    }
  }
}
::ng-deep ti-drop {
  .ti3-searchbox-container {
    cursor: unset !important;
  }
  .ti3-searchbox-container:not([disabled]) {
    .ti3-searchbox-search:hover {
      color: var(--ti-common-color-icon-normal) !important;
    }
  }
}
