<div class="warpper">
    <div class="nothing" [class]="detailTarget"></div>
    <div class="list-warpper" [class]="detailTarget">
        <ti-formfield [labelWidth]="labelWidth">
            <ng-container *ngFor="let item of displayList">
                <ti-item *ngIf="item.display">
                    <ti-item-label>{{item.label}}</ti-item-label>
                    <span>{{item.value}}</span>
                </ti-item>
            </ng-container>
        </ti-formfield>
        <!-- 配置节点参数 -->
        <div *ngIf="isNodeListShow">
            <div *ngFor="let node of nodeList">
                <app-mission-panel [title]="node.title" [active]="false">
                    <div class="content-box ">
                        <ti-formfield [labelWidth]="labelWidth">
                            <ng-container *ngFor="let item of node.nodeInfo">
                                <ti-item [label]="item.label" *ngIf="item.display">
                                    <span>{{item.value}}</span>
                                </ti-item>
                            </ng-container>
                        </ti-formfield>
                    </div>
                </app-mission-panel>
            </div>
        </div>
    </div>
</div>