<div class="overview-container">
    <div class="tabs" *ngIf="show">
        <div [ngClass]="{active:tabs==1}" (click)="activeChange(1)" [routerLink]="['objects']"
            [queryParams]="{enableOldObjectSample:show}">
            {{i18n.protalserver_sampling_tab.allObjects}}
        </div>
        <div class="line"></div>
        <div class="item-tab" [ngClass]="{active:tabs==2}" (click)="activeChange(2)" [routerLink]="['leak']"
            [queryParams]="{enableOldObjectSample:show}">
            {{i18n.protalserver_sampling_tab.leak}}
        </div>
    </div>
    <router-outlet></router-outlet>
</div>