.overview-container {
    .tabs {
        display: flex;
        font-size: 14px;
        margin-top: 20px;
        cursor: pointer;
        color: #aaa;

        .line {
            width: 1px;
            height: 10px;
            background-color: #888;
            margin: 0 16px;
            margin-top: 5px;
        }

        .item-tab:hover {
            color: #0067ff;
        }

        .active {
            color: #067dff;
            position: relative;
            background-color: transparent;
            padding-bottom: 10px;
            border-bottom: 2px solid;
        }
    }
}