<div class="download" style="position: absolute; right:5vw;top:20px;z-index: 99;">
    <a style="display: block;margin-bottom:5px;" (click)="downloadCsv()"
        [title]="i18n.sys_cof.sum.download_csv">
        <img src="./assets/img/download.svg" alt="" />
    </a>
</div>

<div class="system-content">
    <div class="system-item">
        <h1 class="system-content-title">{{i18n.sys_cof.sum.raid}}</h1>
        <table class="system-content-table" style="margin-top: 46px;">
            <thead>
                <tr class="system-titlebar">
                    <td tiOverflow tiTipPosition='left' *ngFor="let item of items ;index as i"
                        [ngClass]="{'system-line': i!=0}">
                        {{item.title}}</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of lists" class="system-word">
                    <td tiOverflow tiTipPosition='left'>{{list.data1}}</td>
                    <td tiOverflow tiTipPosition='left'>{{list.data2}}</td>
                    <td tiOverflow tiTipPosition='left'>{{list.data3}} MB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>