<div class="timingSummaryBox" [appLoading]="initializing">
  <div class="filterBox">
    <div class="filterImg">
      <app-icon-react name="filter" [freeze]="allTasks.length ? null : 'disabled'" class="filerIcon"
      (click)="showSelectTaskModal()"></app-icon-react>
    </div>
    

    <div class="selectedTasks">
      <span class="label">{{ i18n.lock.selectedTask }}{{ i18n.common_term_colon }}</span>

      <ti-tag *ngFor="let item of selectedTasks" (delete)="deleteTask(item)" tiOverflow [disabled]="item.disable">{{
        item.label }}</ti-tag>
    </div>
  </div>

  <div class="numa-table" [ngClass]="{'row-has-children': rowHasChildren}">
    <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns" tiColsResizable
      (stateUpdate)="stateUpdate($event)" [appLoading]="obtainingTableData">
      <div class="ti3-table-fixed-head">
        <table>
          <thead>
            <tr>
              <th not-resizable *ngIf="rowHasChildren" [attr.rowspan]="2" colspan="1" details-icon-column></th>
              <th *ngFor="let column of allColumns.firstRow" [width]="column.width" [attr.rowspan]="column.rowspan"
                [attr.colspan]="column.colspan">
                <div class="content" [ngClass]="{ center: column.center }">
                  <ti-cell-text>{{ column.title }}</ti-cell-text>
                </div>
              </th>
            </tr>
            <tr>
              <th not-resizable *ngFor="let column of allColumns.secondRow" [width]="column.width" [attr.rowspan]="column.rowspan"
                [attr.colspan]="column.colspan">
                <div class="content" [ngClass]="{ center: column.center }">
                  <ti-cell-text>{{ column.title }}</ti-cell-text>
                </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="ti3-table-container ti3-resize-wrapper" style="max-height: 530px;overflow-y: auto;">
        <table>
          <thead>
            <tr>
              <th *ngIf="rowHasChildren" [attr.rowspan]="2" colspan="1" details-icon-column></th>
              <th *ngFor="let column of allColumns.firstRow" [width]="column.width"
                [attr.rowspan]="column.rowspan" [attr.colspan]="column.colspan"></th>
            </tr>
            <tr>
              <th *ngFor="let column of allColumns.secondRow" [width]="column.width"
                [attr.rowspan]="column.rowspan" [attr.colspan]="column.colspan"></th>
            </tr>
          </thead>
          <tbody>
            <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
            <ng-container *ngFor="let node of displayed">
              <tr *ngIf='node.isShow'>
                <ng-container *ngIf="rowHasChildren">
                  <td *ngIf="node.hasChildren">
                    <span class="nodeOne" *ngIf="node.hasChildren">
                      <span class="nodeRow" (click)="toggle(node);$event.stopPropagation()">
                        <img src="./assets/img/summary/row.png" class='title-icon' [ngClass]="{active: node.expand}">
                      </span>
                    </span>
                  </td>
                  <td *ngIf="!node.hasChildren" style="position: relative; overflow: visible;">
                    <span class="nodeOne">
                      <span class="headbg"></span>
                    </span>
                  </td>
                </ng-container>
                
                <td *ngIf="node.hasChildren" style="overflow: visible;">{{ node.tid || (node.lock_time | threePoint:6)}}</td>
                <td *ngIf="!node.hasChildren" tiOverflow>{{ node.tid || (node.lock_time | threePoint:6)}}</td>
                <td tiOverflow>{{node.lock_dso}}</td>
                <td tiOverflow>{{node.lock_symbol}}</td>
                <td tiOverflow>{{node.lock_call_dso}}</td>
                <td tiOverflow>{{node.lock_call_symbol}}</td>
                <td tiOverflow>{{node.lock_code}}</td>
                <td tiOverflow>{{node.lock_line}}</td>
                <td tiOverflow class="operate-btn" (click)="addFunctionTab(node,'detail');$event.stopPropagation()">
                  <a *ngIf='!node.hasChildren'
                    [ngClass]="{'visited': node.visited}">{{i18n.common_term_view}}</a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="nodata" *ngIf="!initializing && !obtainingTableData && !srcData.data.length">
        <img style='width:20%;display:block' src='./assets/img/projects/nodata.png' />
        <div style="font-size: 0.8rem">{{i18n.common_term_task_nodata}}</div>
      </div>
      <ti-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" [(totalNumber)]="totalNumber">
      </ti-pagination>
    </ti-table>
  </div>
</div>

<!-- 选择任务-drawer -->
<app-mission-modal #selectTaskModal>
  <div class="modal-dialog" [style.width.px]="700">
    <div class="modal-title">{{ i18n.lock.selectTask }}</div>

    <div class="modal-content">
      <ti-searchbox [placeholder]="i18n.lock.selectTaskPlaceholder" [(ngModel)]="selectTaskTable.searchWords">
      </ti-searchbox>

      <ti-table [(displayedData)]="selectTaskTable.displayed" [srcData]="selectTaskTable.srcData"
        [columns]="selectTaskTable.columns" [searchWords]="[selectTaskTable.searchWords]"
        [searchKeys]="selectTaskTable.searchKeys">
        <div class="ti3-table-fixed-head">
          <table>
            <thead>
              <tr>
                <th checkbox-column>
                  <input type="checkbox" tiCheckgroup [items]="allTasks" [(checkeds)]="selectTaskTable.selectedTasks" (checkedsChange)="onMyChange($event)" />
                </th>
                <th *ngFor="let column of selectTaskTable.columns" tiOverflow>{{ column.title }}</th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="ti3-table-container ti3-resize-wrapper">
          <table>
            <thead>
              <tr>
                <th checkbox-column></th>
                <th *ngFor="let column of selectTaskTable.columns" tiOverflow></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row of selectTaskTable.displayed">
                <td checkbox-column>
                  <input type="checkbox" tiCheckitem [item]="row" />
                </td>
                <td tiOverflow>{{ row.label }}</td>
              </tr>
            </tbody>
          </table>

          <!-- 无数据 -->
          <div *ngIf="!selectTaskTable.displayed.length" class='chen-nodata-td unsetPosition'>
            <img src='./assets/img/projects/nodata.png' />
            <div>{{ i18n.common_term_task_nodata }}</div>
          </div>
        </div>

        <ti-pagination [(currentPage)]="selectTaskTable.pageNo" [pageSize]="selectTaskTable.pageSize"
          [(totalNumber)]="selectTaskTable.total" [type]="'mini'" autoHide></ti-pagination>
      </ti-table>
    </div>

    <footer class="buttonGroup">
      <button tiButton type="button" color="primary" [disabled]="confimModalDisabled" (click)="confimModal()">{{ i18n.common_term_operate_ok }}</button>
      <button tiButton type="button" (click)="selectTaskModal.close()">{{ i18n.common_term_operate_close }}</button>
    </footer>
  </div>
</app-mission-modal>