.timingSummaryBox {
  height: 100%;

  > .filterBox {
    display: inline-grid;
    > .filterImg{
      width: 32px;
      height: 32px;
    }

    > .filerIcon {
      cursor: pointer;
    }

    > .selectedTasks {
      margin-left: 48px;
      margin-top: -32px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > .label {
        float: left;
        color: #222;
        line-height: 32px;
        font-size: 16px;
        margin-right: 6px;
      }
    }
  }

  > .numa-table {
    margin-top: 20px;
  }
}

.modal-dialog {
  .modal-content {
    > .ti3-searchbox-container {
      width: 320px;
    }

    > ti-table {
      margin-top: 20px;
    }
  }
}

.nodata {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0 10% 0;
  margin-top: 0;
}

.ti3-table > .ti3-table-fixed-head > table > thead > tr > th,
.ti3-table > table > tbody > tr > td,
.ti3-table > table > thead > tr > th {
  border-bottom: 1px solid var(--ti-table-border-bottom-color);
}

.ti3-table-fixed-head {
  flex: 0 0 auto;

  thead {
    .center {
      text-align: center;
    }

    th {
      border-bottom: 1px solid #fff;

      .content {
        display: flex;
        align-items: center;
        overflow: hidden;

        .ti3-cell-text-container {
          overflow: hidden;
          height: 32px;

          .ti3-cell-text {
            max-width: 100% !important;
          }
        }

        &.center {
          justify-content: center;
        }

        .tableSort {
          display: flex;
          align-items: center;
        }

        img {
          transform: rotate(90deg);
          margin-left: 6px;
          vertical-align: middle;
          cursor: pointer;

          &.expand {
            transform: rotate(-90deg);
          }
        }
      }

      // 解决表格最后一列没有border的显示问题
      &::after {
        width: 1px !important;
        background: #fff;
        color: transparent;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        content: "";
      }
    }
  }
}
.nodeOne{
  display: flex;
  align-items: center;
  .headbg {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 32px;
    top: 0;
    left: 0;
    background-color: #f5f9ff;
    border-right: 2px solid #0067ff;
  }
  .nodeRow{
    position: absolute;
    display: flex;
    left: 23px;
    cursor: pointer;
  }
  .nodeTop{
    margin-left: 60px;
  }
  .title-icon.active{
    transform: rotate(90deg)
  }
}
.operate-btn {
  cursor: pointer;
}
a {
  &:link {
    color: #0067ff;
    text-decoration: none;
  }
  &:active {
    color: #5e9eff;
  }
  &:hover {
    color: #5e9eff;
  }
}
.visited {
  color: #004ec1 !important;
}
:host ti-tag{
  width: 195px;
}

:host ::ng-deep .timingSummaryBox {
  .row-has-children {
    .ti3-table .ti3-table-fixed-head table tr th:first-of-type {
      &::after {
        content: '';
        width: 0 !important;
      }
    }
    .ti3-table .ti3-table-fixed-head table tr th {
      &:nth-child(2) {
        padding-left: 24px;
      }
    }

    .ti3-table .ti3-table-container table tbody tr td {
      &:nth-child(2) {
        padding-left: 24px;
      }
    }
  }
}