.dark {
  --ti-common-color-text-secondary: #aaaaaa;
}

.warpper {
  width: 100%;

  .prefix-miss {
    margin-left: 16px;
  }
  .control {
    margin-top: 20px;
  }
  .opreation {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 912px;
    justify-content: center;
    display: flex;

    button + button {
      margin-left: 16px;
    }
  }
}

:host ::ng-deep .control .node-info-form .node-boxs .node-box {
  width: 508px;
  padding: 16px 24px 16px 27px;
}
:host ::ng-deep .control .node-info-form > .node-boxs > .node-box {
  margin-right: 0;
}
:host ::ng-deep .control .node-info-form > .node-boxs .node-box:nth-child(2){
  margin-top: 20px;
}
:host ::ng-deep .ti3-form .ti3-form-label{
  min-width: unset !important;
}
