.mask {
    background: #1E1E1E;
    opacity: 0.24;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 150;
}

.mask.active {
    display: block;
}

.content-box {
    display: none;
    position: fixed;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
}

.content-box.active {
    display: block;
}

// 深色主题
::ng-deep .vscode-dark {
    .content-box {
        background: #252526;
    }
}

// 浅色主题
::ng-deep .vscode-light {
    .content-box {
        background: #fff;
        .content{
            .header {
                color: #222;
            }
            .contrast-main {
                .selectDiv {
                    color: #222 !important;
                    .selectDivText{
                        color: #222 !important;
                    }
                }
            }
        }
    }
}