.modal-box {
    .tip-dsc {
        overflow-y: auto;
        height: 389px;
        display: flex;
        .content {
          float: left;
          width: 97%;
            .disclaimer-notice {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin-top: 24px;
                margin-bottom: 8px;
                color: var(--disclaimer-notice-clr);
            }

            .info-img {
                width:16px;
                height: 16px;
                vertical-align: middle;
                margin-bottom: 3px;
            }

            p {
                font-size: 14px;
                color: var(--disclaimer-font-clr);
                margin-bottom: 8px;
                line-height: 20px;
            }
        }

    }

    .modal-tip-dsc {
        display: flex;
        padding-top: 20px;

        img {
            margin-right: 10px;
        }

        p {
            font-size: 14px;
            color: #888888;
            height: 20px;
            line-height: 20px;
        }
    }

    .checkBox {
        padding-top: 10px;
        font-size: 14px;
    }

    .modal-group-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
}