.network-port-info {
  .ti3-cell-text-container {
    margin-right: 4px;
  }

  .align {
    padding-right: 20px;
    border: none;
    text-align: center;
  }

  .ti3-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    &.active-icon {
      transform: rotate(90deg);
    }
  }
}

.network-port-info ::ng-deep {
  .ti3-table>table>thead>tr>th {
    overflow: visible;
  }
}