.light{
    --configuration-title-color: #616161;
    --configuration-content-color: #222;
    --configuration-dotted-line-border: 1px dashed #e1e6ee; 
}
.dark{
    --configuration-title-color: #e8e8e8;
    --configuration-content-color: #e8e8e8;
    --configuration-dotted-line-border: 1px dashed #484a4e; 
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.task-info {
    width: 100%;
    margin-top: -10px;
}

.span-left {
    display: block;
    float: left;
    width: 220px;
    line-height: 40px;
    padding-right: 20px;
    font-size: 14px;
    color: var(--d-aaaaaa-l-616161);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.span-right {
    float: left;
    max-width: calc(100% - 240px);

    span {
        display: inline-block;
        line-height: 40px;
        font-size: 14px;
        color: var(--d-e8e8e8-l-222222);
    }
    .status-icon {
        margin-right: 8px;
    }
}

.dotted-line {
    border-top: var(--configuration-dotted-line-border);
    padding-top: 10px;
    margin-top: 10px;
}

.analyzing-icon {
    border: 5px solid #7adfa0;
    border-radius: 10px;
    margin-right: 3px;
}
.failed-icon {
    border: 5px solid #f45c5e;
    border-radius: 10px;
    margin-right: 3px;
}
.created-icon {
    border: 5px solid #888888;
    border-radius: 10px;
    margin-right: 3px;
}
.span-right-up{
    display: flex;
    align-items: center;

    .arrow-up {
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
    .arrow-up:hover{
        color: #267dff;
    }
    .rotateAni {
        transform: rotateX(180deg);
    }
}

.reason-title {
    font-size: 14px;
    color: var(--configuration-title-color);
    margin-bottom: 10px;
}
.reason-content {
    font-size: 14px;
    color: var(--configuration-content-color);
    max-height: 60px;
    overflow: auto;
    margin-bottom: 20px;
}
.linkage-table-box{
    padding-top: 10px;
  }
