<div class='content'>
  <app-header *ngIf='showHeader'></app-header>
  <div class='main'>
    <div class='router-content'>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class='loading-box' id='loading-box'>
    <div class="loading">
      <h2>{{i18n.loading}}</h2>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="chartTip">

  </div>
</div>

<app-advice-feedback-icon #adviceIcon>
</app-advice-feedback-icon>