.main_content{
    display: flex;
    width: calc(100% - 30px);
}
.section_left{
    width: calc(8% + 25px);
}
.type_title{
    line-height: 35px;
    height: 36px; 
    display: flex;
    align-items: center;
}
.arrow-up {
    height: 18px;
    width: 20px;
    margin-left: 10px;
    vertical-align: text-top;
    cursor: pointer;
    background: url("../../../../../../assets/img/header/disblock-down.svg") center no-repeat;
    margin-top: -1px; 
    &:hover{
        background: url("../../../../../../assets/img/header/disblock-down-hover.svg") center no-repeat; 
    }
  }
  .arrow-up.down{
    background: url("../../../../../../assets/img/header/disblock-up.svg") center no-repeat;
    &:hover{
        background: url("../../../../../../assets/img/header/disblock-up-hover.svg") center no-repeat; 
    }
  }
.section_right{
    width: calc(92% - 45px);
}
.select_box{
    display: flex;
    background-color: #F1F7FF;
    line-height: 35px;
    height: 36px;
}
.select_title{
    font-size: 14px;
    color: #616161;
    cursor: pointer;
    padding: 0 40px;
background-color: #F1F7FF;
border:2px solid #F1F7FF;
border-bottom: 1px solid #F1F7FF

}
.select_title.active{
    color: #0067FF;
    background-color: #fff;
    border-bottom: 1px solid #FFF;
}
.read_title{
    height:50px;
}
.read_title_inner{
    max-width: 105px;
    margin-top: 30px;
    box-sizing: content-box;
}
.chartBox{
    height:0px;
    border-bottom: 0px #E1E6EE solid;
}
.border_bottom{
    margin-top: -1px;
    border-bottom: 1px #E1E6EE solid;
}
.chartBox.active{
    height:80px;
}
.margin_bottom.active{
    margin-bottom: 20px;
}