.btn-header {
  display: flex;
  margin: 20px 0 20px 0;
  align-items: center;
  min-width: 536px;
  max-width: 100%;
  .pro-title {
    font-size: 16px;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    .pro_text {
      height: 20px;
      display: flex;
      line-height: 20px;
      justify-content: center;
      .pro_text_img {
        display: flex;
        margin-left: 5px;
        height: 20px;
        width: 20px;
      }
    }
    .toggleSnapshot {
      display: flex;
    }
    .toggleSnapshot:hover {
      cursor: pointer;
    }
  }
  .formula_text {
    margin-left: 20px;
    height: 20px;
    display: flex;
    line-height: 20px;
    justify-content: center;
    .formula_text_img {
      display: flex;
      margin-left: 5px;
      height: 20px;
      width: 20px;
    }
  }
}
.count-fill-red {
  color: #e85d54;
}
.count-fill-greed {
  color: #45cc90;
}
:host ::ng-deep .ti3-table-column-fixed-left.ti3-table-floating-fixed-column {
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
}
:host ::ng-deep .ti3-table-column-fixed-right.ti3-table-floating-fixed-column {
  box-shadow: inherit;
}
.jdbcpool {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .control {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      .btntip {
        display: flex;
        align-items: center;
      }
      .tip {
        margin-left: 10px;
        margin-right: 24px;
      }
      .control-value {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        .control-value-title,
        .control-value-input {
          margin-right: 8px;
          color: #6c7280;
        }
        .control-value-input {
          height: 32px;
        }
      }
      .visible-type {
        display: flex;
        justify-content: flex-start;
        color: #6c7280;
        .visible-type-label {
          font-size: 14px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .jdbcpool-table {
    display: flex;
  }
  .jdbcpool-echarts {
    display: none;
  }
  .show {
    display: flex;
  }
  .stack {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    .jdbcpool-tack {
      width: 100%;
      padding: 20px;
      height: 230px;
      overflow: auto;
      .config-title {
        font-size: 16px;
        margin-bottom: 20px;

        app-stack-tip {
          margin-left: 8px;
        }
      }
      .config-border {
        height: 1px;
        width: 100%;
        border-bottom: 1px solid #e1e6ee;
        margin-bottom: 20px;
      }
    }
  }
}
:host ::ng-deep .report-tips {
  margin-left: 32px;
}
.profile-echarts {
  height: 360px;
  position: relative;
  .right-legend {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: #ffffff;
    z-index: 10;
    .green-legend {
      margin-right: 16px;
    }
  }
  .echart {
    width: 100%;
    height: 375px;
    position: relative;
    .mychart {
      width: 100%;
      height: 100%;
    }
  }
}
.green {
  background-color: #7adfa0;
}
.red {
  background-color: #f45c5e;
}
.blue {
  background-color: #037dff;
}
.orange {
  background-color: #e88b00;
}
.write {
  box-shadow: 0 0 1px #000000;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.link-position {
  color: #9ea4b3;
  font-size: 12px;
  position: absolute;
  top: 26px;
  left: 22px;
}
.box-echarts {
  width: 100%;
  height: 380px;
  overflow: auto;
  position: absolute;
  top: 0px;
}
.childrenTable {
  .ti3-table {
    border-left: solid 2px #0067ff !important;
  }
}
.newNoData-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 57vh;
  .newNoData-text {
    color: #616161;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
}
:host ::ng-deep .setfirsttd {
  width: 40px;
}
:host ::ng-deep .ti3-icon-angle-right:before {
  content: "\e919" !important;
}
:host ::ng-deep .ti3-icon-angle-transform-up-thin {
  display: inline-block;
  transform: rotate(270deg) !important;
}
:host ::ng-deep .ti3-icon-angle-transform-down-thin {
  display: inline-block;
  transform: rotate(180deg) !important;
}
:host ::ng-deep .ti3-cols-toggle-container .ti3-cols-toggle-menu-container {
  height: 32px !important;
  width: 6px !important;
  background: #f5f9ff !important;
  line-height: normal !important;
  border: snow !important;
}
:host ::ng-deep .ti3-icon-config:before {
  content: url("../../../../../../assets/img/newSvg/sift_table.svg") !important;
}
:host ::ng-deep .space_th {
  width: 32px !important;
}
.expandAll img {
  vertical-align: middle;
  margin-right: 4px;
}