.key {
    margin-bottom: 30px;
    .key-title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        color: #222222;
        margin-bottom: 20px;
        .title {
            margin-right: 8px;
        }
    }
    .refresh {
        button {
            box-sizing: content-box;
            height: 28px;
        }
    }
}