<div class="res-summury-container" *ngIf="isActive">
    <!-- 进程线程切换表格 -->
    <div class="process res-tab section ">
        <div class="summury-header" style="position: relative;">
            <p> {{i18n.sys_res.sum.process}}</p>
        </div>
        <ti-table #tableComponent [(displayedData)]="TPSwitchTable.displayed" [srcData]="TPSwitchTable.srcData"
           [columns]="TPSwitchTable.columns" (stateUpdate)="onStateUpdate($event)" >
            <div class="ti3-table-fixed-head">
                <table class="table">
                    <thead>
                        <tr class="tableTitle">
                            <th tiTipPosition='left' *ngFor="let column of TPSwitchTable.columns;index as i"
                                width="{{column.width}}">

                                <ti-cell-text>
                                    <span>{{column.label}}</span>
                                    <ti-icon *ngIf="column.searchKey"
                                        class="search-icon"
                                        [ngClass]="{'active': processSearchPop.isShow || searchWordsSave[column.searchKey]}" 
                                        name="search"
                                        [pop]="processSearchTipContent"
                                        [popContext]="{ key: column.searchKey, index: i }"
                                        #processSearchPop="pop"
                                        [popOffset]="{ x: -40, y: 24 }"
                                        popClass="process-search-pop">
                                    </ti-icon>
                                </ti-cell-text>
                                <!-- sort接口为排序的属性名(字段，例如‘firstName’)-->
                                <!-- compareFn对比函数，自定义排序规则-->
                                <ti-head-sort *ngIf="column.sortKey" [sortKey]="column.sortKey" [asc]="requestService.calcSortStatus(column.sortStatus)"></ti-head-sort>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="ti3-table-container ti3-resize-wrapper" style="max-height: 396px;">
                <table class="table">
                    <tbody>
                        <tr class="active" *ngFor="let row of TPSwitchTable.displayed; let index = index">
                            <td tiOverflow tiTipPosition='left'>{{row.task}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.tid}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.pid}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.runtime | threePoint:3}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.switches | thousandSeparator}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.avg_delay | threePoint:3}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.max_delay | threePoint:3}}</td>
                            <td tiOverflow tiTipPosition='left'>{{row.max_delay_at | threePoint:6}}</td>
                            <td class="operateBox">
                                <span class="operateIcon" *ngIf="row.switches; else noOperate"
                                    (click)="viewSwitchDetails(row)">{{ i18n.sys_res.viewSwtichDetail }}</span>

                                <ng-template #noOperate>
                                    <span class="disabledClick">{{ i18n.sys_res.viewSwtichDetail }}</span>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <app-loading *ngIf="showLoading"></app-loading>
                <app-default-page *ngIf="TPSwitchTable.displayed.length === 0 && !showLoading"></app-default-page>
            </div>
            <ti-pagination [hidden]="TPSwitchTable.displayed.length === 0" [(currentPage)]="TPSwitchTable.currentPage"
                [pageSize]="TPSwitchTable.pageSize" [(totalNumber)]="TPSwitchTable.total" [showGotoLink]="true">
            </ti-pagination>
        </ti-table>
    </div>
</div>
<ng-template #processSearchTipContent let-context="context">
  <ti-searchbox
    [ngModel]="searchWordsSave[context.key]"
    (clear)="onTableHeaderSearch('', context)"
    (search)="onTableHeaderSearch($event, context)"></ti-searchbox>
</ng-template>