
.summury-up {
    margin-bottom: 16px;
    height: 34.5vh;
}

.summury-header {
    font-family: "huawei sans";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: var(--d-e8e8e8-l-222222);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    img {
        width: 14px;
        height: 14px;
        vertical-align: center;
        padding: 3px;
        cursor: pointer;
    }
}

.process {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.operateBox {
    span.operateIcon {
      color: #0067FF;
      cursor: pointer;
  
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }

  .disabledClick{
    color: var(--d-dddddd-l-979797);
  }

::ng-deep .ti3-table > .ti3-table-fixed-head {
    overflow: visible;

    .ti3-table-fixed-head-filler {
        background-color: var(--d-2a2a2a-l-f5f9ff);
    }
}

::ng-deep .ti3-table > .ti3-page-container {
    margin-top: 20px;
    .ti3-pag-goto {
        display: none;
    }
}
.ti3-table > .ti3-table-fixed-head > table > thead > tr > th {
    overflow: visible;
    .search-icon {
        width: 12px;
        margin-left: 8px;
        cursor: pointer;
    }
}

:host .res-summury-container ::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container.nodata-container {
    background: var(--d-161616-l-ffffff) !important;
}

::ng-deep .ti3-head-filter-icon {
    &:hover {
        color: var(--mc-color-page-bg-hover) !important;
    }

    &:active {
        color: var(--mc-color-page-bg-active) !important;
    }
}
