.warpper {
  position: relative;
  overflow: visible;

  .head-info {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #565d6b;
    margin-bottom: 16px;

    .head-info-item + .head-info-item {
      margin-left: 24px;
    }
  }
  .svg-container {
    text-align: center;
    width: auto;
    height: auto;
    background-position-x: center;
  }
}

/*
 * 自定义的提示框
 */
.nice_tooltip {
  width: 450px;
}

.memory-tip-warpper {
  .memory-tip-title {
    font-size: 18px;
    color: #2a2f35;
    margin-bottom: 28px;
  }
  .memory-tip-content {
    display: inline-flex;
    width: 400px;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  .memory-tip-label {
    flex: 0 0 20%;
    margin-bottom: 10px;
    font-size: 14px;
    color: #616161;
  }
  .memory-tip-right{
    margin-right: 28px;
  }
  .memory-tip-value-lang{
    flex: 0 0 80%;
    margin-bottom: 10px;
    font-size: 14px;
    color: #222;
  }
  .memory-tip-value {
    flex: 0 0 25%;
    margin-bottom: 10px;
    font-size: 14px;
    color: #222;
  }
}
