<div class="limit warpper" [ngClass]="theme$ | async">
  <ti-formfield [formGroup]="formGroup" [labelWidth]="'160px'">
    <!-- 拨测时长（s） -->
    <ti-item>
      <ti-item-label>
        <div tiOverflow>
          <input
            type="radio"
            tiRadio
            formControlName="limitType"
            [value]="dialLimitTypeEnum.Duration"
          />
          <span
            >{{ "network_diagnositic.advanced_param.duration" | i18n }}
          </span>
        </div>
      </ti-item-label>
      <div class="paramValue">
        <ti-spinner
          formControlName="duration"
          name="spinner"
          [format]="'N0'"
          [hySpinnerBlur]="{
            control: formGroup.get('duration'),
            min: 1,
            max: 60
          }"
          tiValidation
        ></ti-spinner>
        <span>{{ "common_scope_replace_teml" | i18n: "1~60" }}</span>
      </div>
    </ti-item>
    <!-- 拨测报文总长（byte） -->
    <ti-item>
      <ti-item-label>
        <div tiOverflow>
          <input
            type="radio"
            tiRadio
            formControlName="limitType"
            [value]="dialLimitTypeEnum.MsgLen"
          />
          <span>{{
            "network_diagnositic.advanced_param.message_total_length" | i18n
          }}</span>
        </div>
      </ti-item-label>
      <div class="paramValue">
        <div style="width: 236px">
          <app-input-params-unit
            [unitList]="unitList"
            formControlName="msgLen"
            (unitSelect)="onMsgLenUnitSelect($event)"
          ></app-input-params-unit>
        </div>
        <ng-container [ngSwitch]="currMsgLenUnit">
          <span *ngSwitchCase="msgLenUnitEnum.K">
            {{ "common_scope_replace_teml" | i18n: "1~1048576" }}
          </span>
          <span *ngSwitchCase="msgLenUnitEnum.M">
            {{ "common_scope_replace_teml" | i18n: "1~1024" }}
          </span>
        </ng-container>
      </div>
    </ti-item>
    <!-- 拨测报文包数 -->
    <ti-item>
      <ti-item-label>
        <div tiOverflow>
          <input
            type="radio"
            tiRadio
            formControlName="limitType"
            [value]="dialLimitTypeEnum.BlockCount"
          />
          <span
            >{{ "network_diagnositic.advanced_param.package_num" | i18n }}
          </span>
        </div>
      </ti-item-label>
      <div class="paramValue">
        <input
          type="text"
          tiText
          tiNumber
          formControlName="blockCount"
          [hySpinnerBlur]="{
            control: formGroup.get('blockCount'),
            min: 1,
            max: 10000
          }"
          [format]="'N0'"
          tiValidation
        />
        <span>{{ "common_scope_replace_teml" | i18n: "1~10000" }}</span>
      </div>
    </ti-item>
  </ti-formfield>
</div>
