:host ::ng-deep .function {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  >#myselect {
    width: 300px;
    height: 28px !important;

    ti-dominator.ti3-select-dominator-container {
      height: 28px;
      line-height: 26px;
    }
  }

  >.subModuleFunction {
    margin-top: 20px;
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .ti3-table-fixed-head {
        thead {
            .center {
                text-align: center;
            }

            th {
                .content {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    justify-content: flex-start;

                    .ti3-cell-text-container {
                        overflow: hidden;
                        height: 32px;

                        .ti3-cell-text {
                            max-width: 100% !important;
                        }
                    }

                    &.center {
                        justify-content: center;
                    }

                    .tableSort {
                        display: flex;
                        align-items: center;
                    }

                    img {
                        transform: rotate(90deg);
                        margin-left: 6px;
                        vertical-align: middle;
                        cursor: pointer;

                        &.expand {
                            transform: rotate(-90deg);
                        }
                    }
                }

                // 解决表格最后一列没有border的显示问题
                &::after {
                    width: 1px !important;
                    background: #4B4B4B;
                    color: transparent;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: "";
                }
            }
        }
    }

    >.ti3-table-container {
      flex: 1;
      overflow-y: auto;
    }
  }
}
// 函数名可点击跳转至源码界面
.canClick {
  text-decoration: underline;
  cursor: pointer;
  color: #0067FF;
}

// 每行最大值高亮显示
.ti3-table.custemTable>.ti3-table-container>table>tbody>tr>td.red {
  color: #FF5558 !important;
}
.ti3-table.custemTable > .ti3-table-container > table > tbody > tr > td .angleBtn {
    margin-right: 2px;
    width: 16px;
}

.ti3-table.custemTable > .ti3-table-container > table > tbody > tr > td > .tdContent > .overflowEllipsis {
    padding-left: 24px;
}

.stack-tip {
  white-space: nowrap;
  max-width: 470px;
  max-height: 500px;
  overflow-y: auto;
  background: #424242;
  color: #aaa;
}

 



:host ::ng-deep .ti3-table-fixed-head-filler {
    background-color: #2A2A2A !important;
}

.ti3-table-fixed-head th:nth-child(1) {
    padding-left: 15px !important;
}



//分页
:host ::ng-deep .ti3-page-container>.ti3-page-size-option {
    width: 60px !important;
    height: 24px !important;
    background-color: var(--ti3-page-size-option) !important;
    border: 1px solid #888888;
}

:host ::ng-deep .ti3-page-container>.ti3-page-size-option>.ti3-select-dominator-container {
    border: 0;
}

:host ::ng-deep .ti3-page-container>.ti3-page-size-option>.ti3-select-dominator-container>.ti3-select-dominator-text {
    width: 60px !important;
}

:host ::ng-deep .function>.ti3-table>.ti3-page-container>.ti3-pag-total-items {
    margin: 0 20px !important;
    color: #AAAAAA !important;
}

:host ::ng-deep .function .ti3-pag-pages>.ti3-pag-prev,
:host ::ng-deep .function .ti3-pag-pages>.ti3-pag-next {
    display: inline-block;
    width: 22px;
    height: 22px !important;
}

:host ::ng-deep .function .ti3-pag-pages>.ti3-pag-prev:hover,
:host ::ng-deep .function .ti3-pag-pages>.ti3-pag-next:hover,
:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.ti3-pag-prev:hover,
:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.ti3-pag-next:hover {
    background-color: #0067FF !important;
    color: #E8E8E8 !important;
}

:host ::ng-deep .function .ti3-pag-pages>.ti3-pag-page {
    width: 22px !important;
    height: 24px !important;
    color: #AAAAAA !important;
    border-radius: 2px !important;
    padding: 0 !important;
    text-align: center !important;
    font-size: 12px !important;
}

//详细分页

:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.ti3-pag-prev,
:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.ti3-pag-next,
:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.ti3-pag-page {
    background: var(--ti3-page-size-option) !important;
}

:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.ti3-pag-page:hover {
    background-color: #267DFF !important;
    color: #FFFFFF !important;
}

:host ::ng-deep .function .ti3-pag-pages>.ti3-pag-page:hover {
    background-color: #267DFF !important;
    color: #FFFFFF !important;
}

:host ::ng-deep .function .ti3-pag-pages>.active,
:host ::ng-deep .function tbody>tr>td>.ti3-table-detail-container>.ti3-table>.ti3-page-container>.ti3-pag-pages>.active {
    background-color: #0067FF !important;
    color: #FFFFFF !important;
}

:host ::ng-deep .function a:focus {
    outline: 0 !important;
}
//箭头
:host .angleBth > ti-details-icon ::ng-deep .ti3-toggle-details>.ti3-icon-angle-right:before{
    content: "" !important;
}
:host ::ng-deep .ti3-icon-angle-transform-down-thin{
    transform:rotate(180deg);
}

//   深色主题
::ng-deep .vscode-dark {
    --ti3-page-size-option:#313131;
    --thead-th-bg:#2A2A2A;

    .chen-nodata-td {
        .nodata_word {
           color: #AAAAAA; 
        }
    }
}
//   浅色主题
::ng-deep .vscode-light {
    --ti3-page-size-option:#ffffff;
    --thead-th-bg:#f5f9ff;

    .chen-nodata-td {
        .nodata_word {
           color: #AAAAAA; 
        }
    }
}
.tipField{
    color: #0067FF;
}
