.banner-container {
    height: 260px;
    overflow: hidden;
    width: 100%;
    position: relative;

    .bg {
        height: 260px;
        display: flex;
        flex-direction: row;
        z-index: 79;

        .fit-bg {
            z-index: 80;
            height: 260px;
            flex-grow: 1;
            background-color: #040a15;
        }

        .bg-img {
            height: 260px;
            width: 1062px;
            z-index: 80;
        }
    }

    .arrow {
        margin-left: 6px;
        position: relative;
        top: -2px;
        transform: rotate(-90deg);
    }

    .welcome {
        position: absolute;
        z-index: 100;
        margin-top: 63px;

        p {
            font-size: 16px;
            position: relative;
            margin-left: 80px;
            line-height: 24px;
            margin-bottom: 16px;
            position: relative;
        }

        p :hover {
            color: #0067ff;
        }

        p :active {
            color: #135fcf;
        }
    }

    .welcome p:nth-child(2) {
        margin-top: 16px;
    }

    .welcome p:nth-child(3) {
        margin-top: 16px;
    }

    .url {
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
}

::ng-deep .vscode-light {
    .url {
        color: #ffffff;
    }
}

::ng-deep .vscode-dark {
    .url {
        color: #cccccc;
    }
}
