.suggest {
  width: 700px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -300px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  z-index:100;
  .content {
    width: 636px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #e1e6ee;
    justify-content: space-between;
    .suggest-title {
      font-size: 20px;
      color: #222222;
      line-height: 65px;
    }
    img {
      height: 20px;
      margin-top: 23px;
      cursor: pointer;
    }
  }
  .ctx {
    width: 636px;
    height: 466px;
    margin: 0 auto;
    overflow: auto;
    .sug-header {
      display: flex;
      border-bottom: 1px solid #e1e6ee;
      color: #222222;
      height: 44px;
      line-height: 44px;
      font-size: 14px;
      .sug-div {
        padding-left: 24px;
        img {
          vertical-align: middle;
        }
        span {
          padding-left: 12px;
        }
      }
      .arow {
        padding-left: 24px;
        cursor: pointer;
        transform: rotate(360deg);
        img {
          vertical-align: middle;
        }
      }
      .toggle-up {
        cursor: pointer;
        transform: rotate(270deg);
      }
    }
    .sug-content {
      font-size: 14px;
      overflow: auto;
      display: flex;
      width: 100%;
      .right-content {
        padding: 32px 24px 32px 24px;
      }
    }
  }
  .sug-btn {
    margin-bottom: 20px;
    height: 28px;
    margin-top: 20px;
    .sug-button {
      position: absolute !important ;
      left: 306px !important ;
    }
  }
  .opti_title{
    color: #222;
    font-size: 14px;
    margin: 32px 24px 32px 24px;
  }
  .sug-table{
    margin: 32px 24px 32px 24px
  }
  .left-color {
    min-width: 34px;
    background-color: #f5f9ff;
    border-right: 2px solid #0067ff;
  }
  .sug-border{
    border-bottom: 1px solid #e1e6ee;
    display: flex;
  }
}
