<div class="control">
  <div class="item-table">
    <div style="margin-bottom: 20px;display: flex;justify-content: space-between;align-items: center;">
      <div style="display: flex;align-items: center;">
        <div style="display: flex;align-items: center;">
          <button type="button" (click)="startJDBC()" tiButton color="primary" [disabled]="startBtnDisabled || snapShot"
            *ngIf="!isStart" class="jdbc-btn">
            {{ i18n.protalserver_profiling_jdbc.start_analysis }}
          </button>
          <button type="button" tiButton color="primary" (click)="stopJDBC()" *ngIf="isStart" class="jdbc-btn">
            {{ i18n.protalserver_profiling_jdbc.stop_analysis }}
          </button>
          <img [tiTip]="jdbcBtnTip" tiTipPosition="right" style="width: 12px; height: 12px;margin-left: 10px;"
            src="./assets/img/newSvg/hollowTip.svg" alt="">
        </div>
        <div style="display: flex; margin-left: 24px; align-items: center;">
          <span style="margin-right: 10px; font-size: 14px; color: #6c7280;">{{
            threshold.label
            }}</span>
          <ti-formfield [formGroup]="jdbcGroup">
            <ti-item>
              <ti-spinner class="jdbc-threshold" style="width: 170px;" name="spinner" [format]="threshold.format"
                [tiRangeValue]="threshold.rangeValue" tiValidation tiRequired
                [disabled]="startBtnDisabled || snapShot || isStart" (blur)="verifySpinnerValue(jdbcBlur)"
                formControlName="jdbc_threshold">
              </ti-spinner>
            </ti-item>
          </ti-formfield>
          <img [tiTip]="jdbcThresholdTip" tiTipPosition="right" style="width: 12px; height: 12px;margin-left: 10px;
          margin-right: 32px;" src="./assets/img/newSvg/hollowTip.svg" alt="">
          <input type="checkbox" tiCheckbox [name]='i18n.jdbcpool.analysisDbPool' [(ngModel)]="analysisDbPool"
            (click)="onChoseAsync()" [label]='i18n.jdbcpool.analysisDbPool'
            [disabled]="downloadService.dataSave.isAsyncDis || snapShot || startBtnDisabled">
        </div>
      </div>
      <div style="position: relative;cursor: pointer;" *ngIf="!snapShot">
        <div [ngClass]="isDownload?'notSnapshot':'snapshotBg'" (click)="doSnap('jdbc')"
          [tiTip]='i18n.snapshot_analysis_content1' tiTipMaxWidth="221px" [tiTipContext]='tip1Context'
          tiTipPosition='top-right'></div>
        <span [ngClass]="isDownload?'count_disabled':'red_count'" *ngIf="snapCount > 0">{{snapCount}}</span>
      </div>
    </div>
    <div id="jdbc-sql-table" *ngIf="srcData.data.length !== 0">
      <!-- 热点语句树表 -->
      <app-hotword-table #hotWordTable [srcData]="srcData" [columns]="columns"
        (sendExpandData)="send_ExpandData($event)" (sendTableSort)="onTableSort($event)">
      </app-hotword-table>
    </div>
    <div *ngIf="srcData.data.length === 0" class="nodataBox">
      <div *ngIf="!isStart">
        <img class='newNoData' src="./assets/img/projects/noData.svg" />
      </div>
      <div class="analyz-svg" *ngIf="isStart">
        <img class="browser-img" src="./assets/img/profiling/browserPreview.gif">
      </div>
      <div class="nodata-text">
        {{ isStart ? i18n.profileNoData.jdbcNoDataMsg2 : noDataMsg }}</div>
    </div>
  </div>
  <div class="item-echart" style="height: 310px;" *ngIf="echartDatas.executed && echartDatas.executed.length">
    <div class="title">{{ i18n.protalserver_profiling_jdbc.monitor }}</div>
    <ng-container>
      <app-echarts-common #jdbcEcharts [startDate]="startDate" [datas]="echartDatas" [updateOptions]="updateOptions"
        [timeData]='timeData'>
      </app-echarts-common>
    </ng-container>
  </div>
</div>