<div class="config-container">
    <ul class="config-leftmenu">
        <li class="leftmenu-level" *ngFor="let level1 of leftMenuList">
            <div class="leftmenu-level1" [ngClass]="{no_drop: level1.disable}"
                (click)="toggleExpand(level1.title,level1)">
                <p>{{level1.title}}</p>
                <div [ngClass]="{upArr: level1.expand,downArr: !level1.expand}"></div>
            </div>
            <div class="leftmenu-leve2-box" [ngClass]="{activebox: level1.expand}">
                <div class="leftmenu-level2" [ngClass]="{activeLevel2: level2.active}"
                    *ngFor="let level2 of level1.children" (click)=getConfigDetail(level1.title,level2.title)>
                    {{level2.title}}</div>
            </div>
        </li>
    </ul>
    <div class="config-line"></div>
    <div class="config-detail">
        <app-cpu-config *ngIf="item.level2 == 'cpu' &&  showDetail ==2" [configItemData]='configItemData'>
        </app-cpu-config>
        <app-ram-config *ngIf="item.level2 == 'mem' && showDetail ==2" [configItemData]='configItemData'>
        </app-ram-config>
        <app-storage-config *ngIf="item.level2 == 'disk' && showDetail ==2" [configItemData]='configItemData'>
        </app-storage-config>
        <app-pcie-config *ngIf="item.level2 == 'pcie'&& showDetail ==2" [configItemData]='configItemData'>
        </app-pcie-config>
        <app-network-config *ngIf="item.level2 == 'network' && showDetail ==2" [configItemData]='configItemData'>
        </app-network-config>
        <app-raid-config *ngIf="item.level2 == 'raid' && item.level1 == 'hard' &&  showDetail ==2 "
            [configItemData]='configItemData'></app-raid-config>
        <app-base-info-config *ngIf="item.level2 == 'normal_msg' && showDetail ==2" [configItemData]='configItemData'>
        </app-base-info-config>
        <app-raid-level *ngIf="item.level2 == 'raid' && item.level1 == 'soft' &&  showDetail ==2"
            [configItemData]='configItemData'></app-raid-level>
            <app-firmware *ngIf="item.level2 == 'cfg_firm_ver' && showDetail ==2"
            [configItemData]='configItemData'></app-firmware>
        <app-storage-info-config *ngIf="item.level2 == 'storage_msg' && showDetail ==2"
            [configItemData]='configItemData'></app-storage-info-config>
        <app-file-config *ngIf="item.level2 == 'file_system_msg' && showDetail ==2" [configItemData]='configItemData'>
        </app-file-config>
        <app-virtual-machin-config *ngIf="item.level2 == 'docker' && showDetail ==2" [configItemData]='configItemData'>
        </app-virtual-machin-config>

        <div class="nodata" *ngIf="showDetail !== 2">
            <img src='./assets/img/projects/nodata-dark.png' />
            <div *ngIf="(showDetail == 3 || configItemData == {}) && item.level2 == 'raid'" style="font-size: 1rem">
                {{i18n.sys_cof.sum.noRaid}}
            </div>
            <div *ngIf="(showDetail == 3 || configItemData == {}) && item.level2 != 'raid'" style="font-size: 1rem">
                {{i18n.common_term_task_nodata}}
            </div>
            <div *ngIf="showDetail < 2 " style="font-size: 1.1rem">{{i18n.loading}}</div>
        </div>
    </div>
</div>