.home2{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    .ti3-modal-content{
        width: auto !important;
    }
}
// 兼容ie10+
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
    .mem-info svg{
        transform-origin:center;
        transform:rotate(-90deg);
    }
}
.mian-box{
    flex: 1;
    background: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .left{
        flex: 0 0 0px;
        min-width: 0px;
        position: relative;
        transition: all 100ms linear;
        border-right: 1px solid #d4d9e6;

        .tab-content {
            height: calc(100% - 136px);
        }

        .diagnose-tuningHelper-tab {
          height: 100%;
        }

        .left-mian{
            width: 100%;
            height: 100%;
            overflow: auto;
            padding-left: 0px;
            padding-top: 0px;
            box-sizing: border-box;
        }
        .manage-box{
            height: 100%;
        }
        .tab-herder{
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom:1px #d4d9e6 dashed;
          padding-bottom: 5px;
          margin: 0 10px 35px 36px;
          .task-list{
            margin: 24px 0;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                margin-bottom: 7px;
                width: 24px;
                height: 24px;
            }
            span{
                font-size: 12px;
                color: #616161;
                &.active{
                    color: black;
                }
            }
          }
          .project-task{
            border-right: 1px solid #d4d9e6;
          
          }
        }
        .hide-header{
          display: none;
        }
        .toggle-btn{
            position: absolute;
            top: 45%;
            right: -4px;
            cursor: pointer;
            img{
                width: 20px;
                height: 90px;
            }
            &.active{
                position: absolute;
                top: 45%;
                right: -17px;
                transform: rotateY(180deg);
                z-index: 10;

            }
        }
    }
    .left.active{
        flex: 0 0 18.5%;
        min-width: 300px;
        position: relative;
        background-color: #fff;
        .left-mian{
            padding-left: 34px;
            position: relative;
            overflow-y: auto !important;
        }
    }
    .left.tuninghelper.active {
        flex: 0 0 288px;
        min-width: 288px;
        position: relative;
        background-color: #fff;
        box-sizing: border-box;
        .left-mian{
            padding-left: 32px;
            position: relative;
            overflow-y: auto !important;
        }
    }
    .right{
        flex: 1;
        transition: all 100ms linear;
        position: relative;
        width: 0px;
        .toggle-btn-top{
            text-align: center;
            cursor: pointer;
            position: absolute;
            width: 100%;
            img{
                transition: all 100ms linear;
                &.active{
                    transform: rotate(180deg);
                }
            }
        }
    }
    .show-data{
        height: 100%;
        box-sizing: border-box;
        ::ng-deep .tab-box{
            width: 100%;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background-color: #f3f5f9;
            .tab-main{
                display: flex;
                height: 56px;
                flex-shrink: 0;
                .angle-icon{
                  cursor: pointer;
                  float: left;
                  font-size: 20px;
                  color: #444;
                  position: relative;
                  top: 16px;
                  margin-right: 3px;
                }
            }
            .tab-content{
                overflow-y: auto;
                padding-left: 2%;
                padding-right: 2%;
                flex: 1;
                background-color: #fff;
            }
            .split-line{
                width: 99%;
                margin-left: 2%;
                height: 1px;
                border-top: 1px dashed #D4D9E6;
                position: relative;
                top: 48px;
            }
            .tab-header{
                width: 100%;
                .ti3-tabs {
                    height: 56px;
                    &> li.ti3-tab-li {
                        margin: 0;
                        height: 56px;

                        &:not(:last-child)::before {
                            content: '';
                            width: 2px;
                            height: 24px;
                            background-color: #d2d2d2;
                            position: absolute;
                            top: 16px;
                            right: 0;
                            z-index: 1;
                        }
                        &.ti3-tab-active::before {
                            right: -2px;
                        }
    
                        a {
                            padding: 0;
                            height: 56px;
                        }
                    }
                }
                .ti3-tab-more {
                    height: 56px;
                    padding-top: 18px;
                    padding-right: 10px;
                    box-sizing: border-box;
                    box-shadow: 0 -10px 15px 10px #d2d2d2;
                    background-color: #fff;
                    z-index: 1;
                    color: #575d6c;
                    &:hover {
                        color: #0067ff;
                    }
                }
                .ti3-tabs-header .ti3-tab-slider-container {
                    display: none;
                }
                .ti3-tab-content {
                    display: none;
                }
                .tab-btn{
                    max-width: 200px;
                    font-size: 16px;
                    height: 56px;
                    line-height: 50px;
                    padding-left: 15px;
                    padding-right: 15px;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    color: #222222;

                    &.active {
                        background-color: #fff;
                    }

                    &:hover:not(.active) {
                        color: #0067ff;
                        background-color: #f9fafc;
                    }

                    .tab-btn-title{
                        display: inline-block;
                        max-width: 87%;
                        vertical-align: middle;
                    }
                    .tab-close {
                        position: relative;
                        top: 2px;
                        margin-left: 14px;
                        width: 10px;
                        height: 10px;
                        cursor: pointer;
                        font-size: 12px;
                        color: #d2d2d2;

                        &:hover {
                            color: #0067ff;
                        }
                    }
                }

            }
        }
        .notask{
            text-align: center;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .notask-img{
              width: 320px;
            }
            .notask-word{
              text-align: center;
              font-size: 16px;
              margin-top: 15px;
            }
            .add-button{
              margin-top: 1.5%;
              height: 28px;
            }
            img{
                width: 198px;
            }
        }

    }
}
:host ::ng-deep ti-select .ti3-select-dominator-container.ti3-multiselect-container ti-tag{
    background: #e6ebf5 !important;
  }
:host ::ng-deep ti-select:not([disabled])[tiFocused]{
    border-color: #6c92fa !important;
}
::ng-deep .delete-analysis .ti3-modal-content{
    width: 400px !important;
    margin: 0 auto;
}
