.tip {
  display: flex;
  margin: 5px 0px 25px 0px;
  color: #616161;
  font-size: 14px;
}
.imgTip {
  width: 18px;
  height: 16px;
  margin-right: 6px;
}

.nodata {
  text-align: center;
  padding: 20px;
}
