:host ::ng-deep .shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}

.cpu-topology {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .background1,
  .background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .background1 {
    background: -webkit-linear-gradient(top, transparent 29px, #efefef 30px),
      -webkit-linear-gradient(left, transparent 29px, #efefef 30px);
    background-size: 30px 30px;
  }

  .background2 {
    background: -webkit-linear-gradient(top, transparent 14px, #f8f8f8 15px),
      -webkit-linear-gradient(left, transparent 14px, #f8f8f8 15px);
    background-size: 15px 15px;
  }

  .picture {
    width: 100%;
    z-index: 1;

    title {
      display: block;
      width: 100%;
      height: 26px;
      font-size: 12px;
      line-height: 26px;
      color: #222222;
      position: absolute;
      background-color: rgba(0, 103, 255, 0.05);
      text-align: center;
      z-index: 1;
    }

    .tree {
      background-color: #f4f8ff92;

      .shadow {
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        /* Similar syntax to box-shadow */
      }

      ::ng-deep .active-circle {
        display: none;

        &.show {
          display: block;
        }
      }
    }
  }

  .right-thumbnail-list {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    padding: 0 8px;
    z-index: 2;

    .thumbnail {
      position: relative;
      width: 148px;
      height: 62px;
      margin: 16px 0;
      background: #f4f8ff;
      border-radius: 2px;
      box-sizing: border-box;
      cursor: pointer;
      border: solid 2px #f4f8ff;
      overflow: hidden;

      .label {
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        color: #222222;
        position: absolute;
        left: 8px;
        top: 8px;
      }

      &.active {
        border-color: #0067ff;
      }
    }
  }

  .right-zoom {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 2;
    border-radius: 1px;
    border: solid 1px #979797;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;

    .divider {
      width: 100%;
      height: 1px;
      background-color: #e1e6ee;
      margin: 5px 0;
    }

    > span {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
      color: #979797;
      cursor: pointer;
    }
  }
}
