<div class="modal-dialog">
    <div class="content flex-column">
        <span class="create-title">{{i18n.common_term_user_info[3]}}</span>
        <div class="main modal-dialog-container">
            <div class="upgrade">
                <p class="title">{{ i18n.whitelist.upgrade }}</p>
                <p class="remark">
                    {{ i18n.whitelist.upgradeRemark }}
                    <a class="cursor-link" [href]="depDictoryUrl" target="_blank">{{ i18n.whitelist.whitelistPackage }}</a>
                    <span *ngIf="currLang === 'en-us'">.</span>
                </p>
                <app-whitelist-item [config]="commonConfig.upgrade" [value]="upgradePwd"
                    (confirm)="onRestoreConfirm($event)">
                </app-whitelist-item>
            </div>
            <div class="restore">
                <p class="title">{{i18n.whitelist.restore}}</p>
                <p class="remark">{{i18n.whitelist.restoreRemark}}</p>
                <app-whitelist-item [config]="commonConfig.restore" [value]="restorePwd"
                    (confirm)="onRestoreConfirm($event)">
                </app-whitelist-item>
            </div>
        </div>
    </div>
</div>

<app-so-situation [soSituation]="soSituation" [soinfo]="soinfo"></app-so-situation>