.progress-bg {
  border: 1px solid #ccc;
  padding: 10px;
}

.progress-modal {

  .madal-content {
    text-align: left;

    p {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
    }

    .progress-bar-bg {
      position: relative;
      width: 440px;
      height: 5px;
      background-color: darkgray;
      border-radius: 2px;
      .progress-bar {
        position: absolute;
        width: 60px;
        height: 100%;
        background-color: #68D196;
        text-align: center;
      }
    }
  }


}
