.ti3-table {
    position: relative;
  }
  
  .irp-modal {
    position: relative;
  
    .headerFilter {
      position: absolute;
      top: 27px;
      right: 13px;
      z-index: 2;     
  
      .statusFilter {
        font-size: 14px;
        display: none;
        position: absolute;
        top: 25px;
        right: 5px;
        min-width: 195px;
        background-color: var(--ti-table-tr-bg-color-selected);
        max-height: 310px;
        overflow-y: auto;
        border-radius: 4px;
        border: 1px solid #0067ff;
        
        span {
          line-height: 32px;
          box-sizing: border-box;
          width: 100%;
          height: 32px;
  
          &:hover {
            background-color: #f0f3fa;
          }
  
          ::ng-deep .ti3-checkbox {
            padding: 0 15px !important;
            width: 100% !important;
          }
        }
      }
  
      .statusFilter.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  
    .ti3-table>.ti3-table-fixed-head+.ti3-table-container {
      max-height: 320px;
    }
  }
  
  .map-modal {
    .ti3-modal-content {
      width: 912px;
      padding: 0 32px;
      .ti3-close {
        margin-top: 8px;
      }
  
      .ti3-modal-header {
        margin: 0 0 26px;
        padding: 22px 0 21px;
        border-bottom: 1px dashed var(--common-color-divider);
      }
  
      .ti3-modal-body {
        overflow-y: auto;
        height: 422px;
        padding: 0 !important;
        margin: 0;
      }
      .ti3-modal-footer {
        border-top: 1px dashed var(--common-color-divider) !important;
        box-sizing: border-box;
        padding: 32px 0 0 0 !important;
        height: 88px;
      }
  
      .body-header {
        display: flex;
        margin-bottom: 20px;
        .text {
          margin-right: 24px
        }
        .modal-detail {
          margin-left: 48px;
        }
      }
    }
  }
  
  .hart-name-map-modal {
    .ti3-modal-content {
      .ti3-modal-body {
        overflow-y: auto;
        max-height: 600px !important;
      }
    }
  }
  
  .ti3-table>.ti3-table-fixed-head>table>thead>tr>th.center {
    border: none;
    text-align: center;
  }
  
  :host .irp-modal ::ng-deep .ti3-tree-item-leaf {
    margin-left: 0;
  }
  
  :host .irp-modal ::ng-deep .ti3-tree-container .ti3-icon-minus-square {
    display: none;
  }
  ti-icon.search-icon {
    margin-left: 10px;
    cursor: pointer;
  }

  // 进程线程pid搜索框
::ng-deep .process-search-pop {
  z-index: 9999;
}

.th-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  &.th-box-center {
      justify-content: center;
  }

  .icon {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .tab-header-expand-icon {
      color: var(--button-color-border-secondary);
      display: inline-block;
      cursor: pointer;
    
      &.expanded {
        transform: rotate(180deg);
      }
  }
  .sortIcon {
      width: 24px;
      height: 100%;
  }

  .tipIcon {
      width: 13px;
      padding-left: 8px;
  }

  .searchIcon {
      padding-left: 8px;
  }
}

.th-filter {
  width: 30px !important;
  padding-left: 10px;
  padding-right: 0;
  .filter-icon {
      cursor: pointer;
      width: 14px;
      margin-top: 5px;
  }
}