
  <div class="modal-dialog" *ngIf="ifShow">
    <div class="list-info">
      <div class="table">
        <div class="config-info" *ngFor="let item of configList">
          <ng-container *ngIf="item.text !== 'updateNodata' && ((hasProperty(item, 'ifShow') && item.ifShow) || !hasProperty(item, 'ifShow'))">
          <div class="table-left">{{item.key}}</div>
          <div class="table-right" *ngIf="isInterval(item.key)">  {{item.text | thousandSeparator }}</div>
          <div class="table-right" *ngIf="!isInterval(item.key)"> {{item.text }}  </div>
        </ng-container>
      </div>

        <!-- 配置节点参数 -->
        <div *ngIf="taskData.switch ">
          <div *ngFor="let item of panelList index as i">
            <app-mission-panel [title]="taskData.nodeConfig[i].nodeName + '(' + taskData.nodeConfig[i].nodeIp + ')'" [active]="false" *ngIf='taskData.nodeConfig[i].nodeIp'>
              <div class="content-box">
                <div class="config-info" *ngFor="let items of item">
                  <div class="table-left">{{items.key}}</div>
                  <div class="table-right">{{items.text}}</div>
                </div>
              </div>
            </app-mission-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
