<div class="process-perf-data-detail-container">
    <div class="basic-info-box" tiOverflow>
        <ng-container *ngIf="taskData">
            <span class="info-key">{{'common_term_projiect_name' | i18n}}</span>
            <span class="info-value">{{ taskData.task_param.projectname || '' }}</span>
            <span class="info-key">{{'common_term_task_name' | i18n}}</span>
            <span class="info-value">{{ taskData.task_param.taskname || '' }}</span>
            <span class="info-key">{{'nodeManagement.nodeName' | i18n}}</span>
            <span class="info-value">{{ taskData.nodeNickName || '' }}</span>
            <span class="info-key">{{'common_term_node_ip' | i18n}}</span>
            <span class="info-value">{{ taskData.nodeIp || '' }}</span>
            <ng-container *ngIf="taskData.task_param.appDir">
                <span class="info-key">{{'common_term_task_crate_app_path' | i18n}}</span>
                <span class="info-value">{{ taskData.task_param.appDir }}</span>
            </ng-container>
            <ng-container *ngIf="taskData.task_param.processName">
                <span class="info-key">{{'mission_create.process_alias' | i18n}}</span>
                <span class="info-value">{{ taskData.task_param.processName }}</span>
            </ng-container>
            <ng-container *ngIf="taskData.task_param.targetPid">
                <span class="info-key">{{'common_term_task_crate_pid' | i18n}}</span>
                <span class="info-value">{{ taskData.task_param.targetPid }}</span>
            </ng-container>
        </ng-container>
    </div>
    <div class="table-box">
        <div class="app-process-box" *ngIf="showAppProcess">
            <div class="table-title">{{'tuninghelper.processDetailData.analyzedApplicationsProcesses' | i18n}}</div>
            <div class="app-table" *ngIf="appProcessInfoData">
                <app-process-indicator-info [indiacatorInfoData]="appProcessInfoData" [isLookPidDetail]="true" (lookPidDetail)="lookPidDetail($event)">
                </app-process-indicator-info>
            </div>
        </div>
        <div class="all-process-box">
            <div class="table-title">{{'tuninghelper.processDetailData.allProcess' | i18n}}</div>
            <div class="all-table" *ngIf="allProcessInfoData">
                <app-process-indicator-info [indiacatorInfoData]="allProcessInfoData"></app-process-indicator-info>
            </div>
        </div> 
    </div>
</div>