.histogram {
  margin-top: 20px;
  .ti3-table-container {
    margin-bottom: 10px;
    min-height: 590px;
    max-height: 590px;
    overflow-y: auto;
  }
}
.sortIcon {
  .sortList {
    cursor: pointer;
  }
}
.noDate {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #616161;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
    text-align: center;
  }
}
.sortIcon {
  margin-left: 5px;
}
.noHover:hover {
  background-color: transparent !important;
}
:host ::ng-deep .ti3-table-container {
  max-height: 62vh;
}
:host ::ng-deep .ti3-table > .ti3-table-fixed-head > table,
:host ::ng-deep .ti3-table > .ti3-resize-wrapper > table,
:host ::ng-deep .ti3-table-container > table {
    border: none !important;

    & > thead > tr > th {
        font-size: 16px !important;
    }
}
.cellText{
    font-size: 12px !important;
}
.sortIcon{
  .tableIcon{
    display: inline-block;
    ti-icon{
        vertical-align: middle;
        height: 16px;
        width: 16px;
    }
  }
  .colorIcon{
    color: #267dff;
  }
  .tableIcon:hover{
    color: #267dff;
  }
}
