@import 'projects/sys/src-web/assets/styles/custemTabs.scss';
@import 'projects/sys/src-web/assets/styles/custemDetailContainer.scss';

:host ::ng-deep {
    .ti3-table>.ti3-table-container>table>tbody>.tiDetailsTr>td{
        padding: 0 !important;
    }
    .ti3-table>.ti3-table-container>table>tbody>tr>td{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr{
        background-color: #fff;
    }
    .ti3-table-small>table>thead>tr>th:nth-child(1){
        padding-left: 24px;
    }
    .ti3-table-small>table>tbody>tr>td:nth-child(1){
        padding-left: 24px;
    }
    .ti3-table>.ti3-table-container>table>tbody>.ti3-table-detail-icon-tr>td:nth-child(2){
        padding-left: 16px;
    }
    .section-content>.ti3-table > .ti3-table-fixed-head > table > thead > tr > th, .ti3-table > table > thead > tr > th:nth-child(2){
        padding-left: 16px;
    }
}