@import '../styles/custemTabs.scss';
@import '../styles/custemDetailContainer.scss';
:host ::ng-deep .custemDetailContainer {

  .ti3-tabs-container1 .ti3-tab-active {
    border-bottom: 2px solid #0067FF;
  }

  .ti3-table-container {
    table {
      tbody {
        td {
          &.details-icon-column {
            ti-details-icon {
              .ti3-icon-angle-right {
                &:before {
                  content: "\e929";
                }

                &.ti3-icon-angle-transform-down-thin {
                  display: inline-block;
                  transform: rotate(0deg);
                }
                &.ti3-icon-angle-transform-up-thin {
                  display: inline-block;
                  transform: rotate(90deg);
                }
              }
            }
          }
          &.details-hd {
            background: var(--ti-table-expand-children-margin-background-color);
            border-right: 2px solid #0067ff;
            border-bottom: none !important;
          }
        }
      }
    }
  }

  .ti3-table>.ti3-resize-wrapper>table>tbody>.ti3-details-tr,
  .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr,
  .ti3-table>table>tbody>.ti3-details-tr {
    background: var(--ti-table-tr-bg-color);
  }
  .ti3-table>.ti3-resize-wrapper>table>tbody>.ti3-details-tr:hover,
  .ti3-table>.ti3-table-container>table>tbody>.ti3-details-tr:hover,
  .ti3-table>table>tbody>.ti3-details-tr:hover {
    background-color: var(--ti-table-tr-bg-color-hover);
    transition: background-color .2s var(--ti-timing-function-default);
  }
}