<div class="warpper">
    <div class="input-warpper" [lang]="language">
        <div class="input-form">
            <ti-formfield vertical [formGroup]='sysConfForm'>
                <ti-item [label]="config.label">
                    <input tiText [tiValidation]='validation' formControlName='inputValue' type="text" style="width: 400px;">
                </ti-item>
            </ti-formfield>
        </div>
        <div *ngIf="isAdmin" class="btn-warpper">
            <div *ngIf="mode === 'read'">
                <button type="button" color="primary" tiButton class="little-primary-btn"
                    (click)="onFixConfig()">{{i18n.plugins_perf_javaperfsetting.logModify }}</button>
            </div>
            <div *ngIf="mode === 'write'">
                <button type="button" tiButton color="primary" (click)="onSubmit()" class="little-primary-btn"
                    [disabled]="!sysConfForm.valid">{{i18n.common_term_operate_ok}}</button>
                <button type="button" tiButton class="little-minor-btn"
                    (click)="onCancel($event)">{{i18n.common_term_operate_cancel}}</button>
            </div>
        </div>
    </div>

</div>