/*
	通用样式
*/
::ng-deep body {
	height: 100% !important;
    overflow: hidden !important;
    width: 100% !important;
}
::ng-deep a {
    text-decoration: underline !important;
    outline: 0 !important;
}
.error-instruction-container {
    display: flex;
    height: 100%;
	flex-direction: column;
	.instruction-title {
		padding-top: 50px;
		margin-left: 80px;
		margin-right: 80px;
        font-size: 20px;
        .instruction-title-content {
            margin-left: 14px;
        }
	}
	.instruction-step-list {
		margin-top:40px;
		margin-left: 80px;
		margin-right: 80px;
		font-size: 14px;
		.instruction-step {
			margin-top: 20px;
			margin-left: 24px;
			.normal-suggestion {
				margin-left: 14px;
			}
			.exception-suggestion {
				margin-left: 14px;
			}
		}
		.instruction-step:last-child {
			margin-bottom:20px;
		}
	}
}

/*
	深色主题适配
*/
::ng-deep .vscode-dark {
	.error-instruction-container {
		color: #E8E8E8;
		.instruction-step-list {
			background-color: #161616;
		}
	}
}

/*
	浅色主题适配
*/
::ng-deep .vscode-light {
	.error-instruction-container {
		color: #222222;
		.instruction-step-list {
			background-color: #F3F3F3;
		}
	}
}