<div class="proformance">
    <ti-formfield
      vertical
      [labelWidth]="labelWidth"
      [formGroup]="currentForm"
      class="taskForm"
      *ngIf="analysisScene.TYPE_HPC === scenes">
      <!-- 选择节点 -->
      <ti-item [required]="true">
        <ti-item-label>
          {{ i18n.node.selectNode }}
          <span class="tint">{{ 'project.HPCSelectNodeTxt' | i18n : ('mission_create.sysPro' | i18n)}}</span>
        </ti-item-label>
        <app-not-hpc-select-nodes
          [width]="isModifySchedule ? '600px' : '952px'"
          [nodeList]="nodeList"
          formControlName="nodeList">
        </app-not-hpc-select-nodes>
      </ti-item>
    </ti-formfield>
    <!-- 通用模式下的全景分析 -->
    <ti-formfield [labelWidth]="labelWidth" [formGroup]="sysScenesForm"
        *ngIf="scenes === 'TYPE_GENERAL' || scenes === 'TYPE_HPC' || scenes === 'TYPE_DATABASE'">
        <ti-item class="database-config"  [hidden]="scenes !== 'TYPE_DATABASE'">
            <ti-formfield vertical [labelWidth]="labelWidth" formGroupName="databaseConfig">
                <ti-item [label]="i18n.databaseConfig.ip" [required]="true">
                    <input [placeholder]="i18n.databaseConfig.placeholderIp" [tiValidation]="validation"
                        [errorMessageWrapper]="ipMsgWrapper" formControlName="ip" type="text" tiText />
                    <div #ipMsgWrapper></div>
                </ti-item>
                <ti-item [label]="i18n.databaseConfig.port">
                    <input [placeholder]="i18n.databaseConfig.placeholderPort" [localeable]="false"
                        [tiValidation]="validation" [errorMessageWrapper]="portMsgWrapper" formControlName="port"
                        type="text" tiText tiNumber format="n0" />
                    <div #portMsgWrapper></div>
                </ti-item>
                <ti-item [label]="i18n.databaseConfig.username" [required]="true">
                    <input [placeholder]="i18n.databaseConfig.placeholderUsername" [tiValidation]="validation"
                        [errorMessageWrapper]="usernameMsgWrapper" formControlName="username" type="text" tiText />
                    <div #usernameMsgWrapper></div>
                </ti-item>
                <ti-item [label]="i18n.databaseConfig.password" [required]="true">
                    <div class="passwd-input-box" style="position: relative;">
                        <input [placeholder]="i18n.databaseConfig.placeholderPassword" [tiValidation]="validation"
                        [errorMessageWrapper]="passwordMsgWrapper" formControlName="password" type="password" tiText />
                        <div #passwordMsgWrapper></div>
                    </div>  
                </ti-item>
            </ti-formfield>
        </ti-item>
        <!-- 采样时长 -->
        <ti-item [ngClass]="{inffont: isModifySchedule}" [required]="true">
            <div class="margin-bottom-10" [ngClass]="{'ti3-icon': sysItems.duration.required,'infoicon': isModifySchedule,
                'ti3-icon-staricon': sysItems.duration.required}">{{sysItems.duration.label}}
            </div>
            <div>
                <ti-spinner name='spinner' (blur)="onDurationBlur(sysScenesForm)"
                    [step]='sysItems.duration.spinner.step' [format]="sysItems.duration.spinner.format"
                    [appSpinnerBlur]="durationBlur" [placeholder]='sysItems.duration.spinner.placeholder' tiValidation
                    formControlName='duration'>
                </ti-spinner>
                <span class="margin-left-10">{{i18n.plugins_common_tips_interval}}</span>
            </div>

        </ti-item>
        <!-- 采样间隔 -->
        <ti-item [ngClass]="{inffont: isModifySchedule}" [required]="true">
            <div class="margin-bottom-10" [ngClass]="{'ti3-icon': sysItems.interval.required,'infoicon': isModifySchedule,
                'ti3-icon-staricon': sysItems.interval.required}">{{sysItems.interval.label}}
            </div>
            <div>
                <ti-spinner name='spinner' (blur)='onIntervalBlur(sysScenesForm)'
                    [step]='sysItems.interval.spinner.step' [format]="sysItems.interval.spinner.format"
                    [placeholder]='sysItems.interval.spinner.placeholder' [appSpinnerBlur]="intervalBlur" tiValidation
                    formControlName='interval'></ti-spinner>
                <span class="margin-left-10">{{i18n.process.intervalTip1}}</span>
            </div>

        </ti-item>
        <!-- 采集Tracing数据 -->
        <ti-item class="tracing-config" [show]="scenes === 'TYPE_DATABASE'">
            <ti-formfield formGroupName="traceForm" vertical>
                <ti-item [required]="false">
                    <input type="checkbox" tiCheckbox [name]='i18n.sys.scenes_tracing' [tiValidation]='validation'
                        formControlName='traceSwitch'>
                    <span class="start-now" [ngClass]="{'selected': currentForm?.controls?.traceForm?.value?.traceSwitch}">{{i18n.sys.scenes_tracing}}</span>
                    <ti-icon [tiTip]="i18n.sys.traceTips" class="icon-tip" tiTipMaxWidth='370px' tiTipPosition="bottom">
                        <img src='./assets/img/template/icon_question.svg' *ngIf="currTheme === ColorTheme.Dark">
                        <img src='./assets/img/template/icon_question_light.svg' *ngIf="currTheme === ColorTheme.Light">
                    </ti-icon>
                </ti-item>
                <ti-item [required]="false">
                    <ti-item-label>
                        <img src="./assets/img/common/icon-information.png">
                        {{i18n.sys.tracingHold}}
                        <a class="tracing_help" (click)="openHelp()">{{i18n.sys.tracing_help}}</a>
                    </ti-item-label>
                </ti-item>
                <ti-item [label]="i18n.sys.tracing_event" [required]="true" [show]="ifTracing">
                    <input [placeholder]="i18n.sys.inpu_eg" [tiValidation]="validation"
                        [errorMessageWrapper]="eventsWrapper" formControlName="events" tiText />
                    <div #eventsWrapper></div>
                </ti-item>
            </ti-formfield>
        </ti-item>
        <!-- 添加采集Top活跃进程 -->
        <ti-item [required]="false">
            <input type="checkbox" tiCheckbox [name]='sysItems.scenes.collectTop' [tiValidation]='validation'
                formControlName='collectTop'>
            <span class="start-now" [ngClass]="{'selected': currentForm?.controls?.collectTop?.value}">{{sysItems.scenes.collectTop}}</span>
        </ti-item>
    </ti-formfield>

    <!-- 大数据以及分布式下的全景分析 -->
    <ti-formfield [labelWidth]="labelWidth" [formGroup]="sysForm"
        *ngIf="scenes === 'TYPE_BIGDATA' || scenes === 'TYPE_DISTRIBUTED'">
        <!-- 采样时长 -->
        <ti-item [ngClass]="{inffont: isModifySchedule}" [required]="true">
            <div class="margin-bottom-10" [ngClass]="{'ti3-icon': sysItems.duration.required,'infoicon': isModifySchedule,
                'ti3-icon-staricon': sysItems.duration.required}">{{sysItems.duration.label}}
            </div>
            <div>
                <ti-spinner name='spinner' (blur)="onDurationBlur(sysForm)" [step]='sysItems.duration.spinner.step'
                    [format]="sysItems.duration.spinner.format" [placeholder]='sysItems.duration.spinner.placeholder'
                    tiValidation [appSpinnerBlur]="durationBlur" formControlName='duration'>
                </ti-spinner>
                <span class="margin-left-10">{{i18n.plugins_common_tips_interval}}</span>
            </div>
        </ti-item>
        <!-- 采样间隔 -->
        <ti-item [ngClass]="{inffont: isModifySchedule}" [required]="true">
            <div class="margin-bottom-10" [ngClass]="{'ti3-icon': sysItems.interval.required,'infoicon': isModifySchedule,
                'ti3-icon-staricon': sysItems.interval.required}">{{sysItems.interval.label}}
            </div>
            <div>
                <ti-spinner [ngClass]="{'left': isModifySchedule}" name='spinner' (blur)='onIntervalBlur(sysForm)'
                    [step]='sysItems.interval.spinner.step' [format]="sysItems.interval.spinner.format"
                    [appSpinnerBlur]="intervalBlur" [placeholder]='sysItems.interval.spinner.placeholder' tiValidation
                    formControlName='interval'>
                </ti-spinner>
                <span class="margin-left-10" [ngClass]="{'left': isModifySchedule}">{{i18n.process.intervalTip1}}</span>
            </div>
        </ti-item>
        <!-- 大数据工具 -->
        <ti-item [required]="false">
            <span style="display: block" class="file-path margin-bottom-10"
                [ngClass]="{'configuration-tool': isModifySchedule}">{{sysItems.scenes.label}}</span>
            <input class="file-path-text" type="text" [ngClass]="{'configuration-tool-text': isModifySchedule}" tiText
                [tiValidation]='validation' formControlName='scenes' [placeholder]='sysItems.scenes.placeholder'
                [errorMessageWrapper]='scencesErrorMsgWrapper'>
            <!-- 自定义错误提示位置 -->
            <div #scencesErrorMsgWrapper></div>
        </ti-item>
        <!-- 采集Top活跃进程 -->
        <ti-item [required]="false">
            <input type="checkbox" tiCheckbox [name]='sysItems.scenes.collectTop' [tiValidation]='validation'
                formControlName='collectTop'>
            <span class="start-now" [ngClass]="{'selected': currentForm?.controls?.collectTop?.value}">{{sysItems.scenes.collectTop}}</span>
        </ti-item>
    </ti-formfield>

    <div *ngIf="scenes === 'TYPE_DATABASE' && nodeConfigShow" class="node-config-modal">
        <app-mission-node-configuration
            [projectId]="projectId"
            [options]="nodeConfigOptions"
            [importConfig]="importConfig"
            [formValid]="nodeConfigForm.valid"
            [formValue]="nodeConfigForm.value">
            
            <ng-template let-row>
                <ti-formfield [labelWidth]="labelWidth" type="text">
                    <ti-item [label]="i18n.common_term_another_nodename">
                        <span>{{ row.nickName }}</span>
                    </ti-item>
                    <ti-item [label]="i18n.common_term_node_ip">
                        <span>{{ row.nodeIp }}</span>
                    </ti-item>
                </ti-formfield>
                <ti-formfield class="node-config-form" [labelWidth]="labelWidth" [formGroup]="nodeConfigForm">
                    <ti-item [label]="i18n.databaseConfig.ip" [required]="true">
                        <input [placeholder]="i18n.databaseConfig.placeholderIp" [tiValidation]="validation"
                            [errorMessageWrapper]="ipMsgWrapper" formControlName="ip" type="text" tiText />
                        <div #ipMsgWrapper></div>
                    </ti-item>
                    <ti-item [label]="i18n.databaseConfig.port">
                        <input [placeholder]="i18n.databaseConfig.placeholderPort" [localeable]="false"
                            [tiValidation]="validation" [errorMessageWrapper]="portMsgWrapper" formControlName="port"
                            type="text" tiText tiNumber format="n0" />
                        <div #portMsgWrapper></div>
                    </ti-item>
                    <ti-item [label]="i18n.databaseConfig.username" [required]="true">
                        <input [placeholder]="i18n.databaseConfig.placeholderUsername" [tiValidation]="validation"
                            [errorMessageWrapper]="usernameMsgWrapper" formControlName="username" type="text" tiText />
                        <div #usernameMsgWrapper></div>
                    </ti-item>
                    <ti-item [label]="i18n.databaseConfig.password" [required]="true">
                        <div class="passwd-input-box" style="position: relative;">
                            <input [placeholder]="i18n.databaseConfig.placeholderPassword" [tiValidation]="validation"
                            [errorMessageWrapper]="passwordMsgWrapper" formControlName="password" type="password" tiText />
                            <div #passwordMsgWrapper></div>
                        </div>  
                    </ti-item>
                </ti-formfield>
            </ng-template>

        </app-mission-node-configuration>
    </div>

    <!-- 预约 -->
    <div class="reservation">
        <app-mission-reservation #preSwitchSysA [labelWidth]="labelWidth"
            [switch]="scenes === 'TYPE_DATABASE'" [switchTip]="switchTip"
            [isModifySchedule]="isModifySchedule || isRestart || isEdit">
        </app-mission-reservation>
        <!-- 立即执行 -->
        <div *ngIf='!preSwitchSysA.switchState && !isRestart' [ngClass]="{'disabledInput': scenes === 'TYPE_DATABASE'}">
            <input type="checkbox" tiCheckbox [name]='startCheckSys.title' [(ngModel)]="startCheckSys.checked"
                [disabled]="scenes === 'TYPE_DATABASE'">
            <span class="start-now" [ngClass]="{'selected': startCheckSys?.checked}">{{startCheckC.title}}</span>
        </div>
    </div>
    <footer [ngClass]="{ footer: isModifySchedule }">
        <div [tiTip]="startOrSaveBtnTip" tiTipPosition="top">
            <button class="little-primary-btn" type="button" (click)="createSys(isEdit)"
                [ngClass]="{toRight: isModifySchedule}" [disabled]='startOrSaveBtnIsDisabled()'>
                {{i18n.common_term_operate_ok}}
            </button>
        </div>
        <button class="little-minor-btn" type="button" (click)="close()"> {{i18n.plugins_perf_button_cancel}} </button>
        <div [tiTip]="startOrSaveBtnTip" tiTipPosition="top">
            <button class="little-minor-btn" type="button" (click)="saveTemplates()" *ngIf="!isModifySchedule"
                [disabled]='startOrSaveBtnIsDisabled()'>
                {{i18n.mission_modal.saveTemplates}}
            </button>
        </div>
    </footer>
</div>
<ng-template #createConfirmModal let-context='context'>
    <ti-modal-header>{{i18n.secret_title}}</ti-modal-header>

    <ti-modal-body>
        <div style="display:flex;font-size: 12px;color: #888888;line-height: 18px;">
            <img src="./assets/img/common/icon_warning.png" alt="" style="width:20px;height:20px;">
            <span style="margin-left:12px;font-size: 14px;">{{i18n.secret_count}}</span>
        </div>
    </ti-modal-body>

    <ti-modal-footer>
        <button class="little-primary-btn" type="button" color="primary" style="margin-right: 16px;"
            (click)="context.close()">
            {{ i18n.common_term_operate_ok }}
        </button>

        <button class="little-minor-btn" type="button" (click)="context.dismiss()">
            {{ i18n.common_term_operate_cancel }}
        </button>
    </ti-modal-footer>
</ng-template>