::ng-deep .modal-box {
  background: rgba(0, 0, 0, 0.298);
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  z-index: 120;

  &.show-modal {
    display: block;
  }

  &.absolute {
    position: absolute;
  }

  .modal-background {
    width: 100%;
    height: 100%;
  }

  .modal-container {
    background: #fff;
    width: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 64px;
    bottom: 0;
    transform: translateX(100%);
    transition: transform .4s;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 30px;
    box-sizing: border-box;

    &.show-container {
      transform: translateX(0);
    }

    .modal-dialog{
      height: 100%;
      display: flex;
      flex-direction: column;

      .modal-title{
        height: 20px;
        margin: 0px 32px;
        padding-bottom: 32px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        color: #222222;
        border-bottom: 1px lightgrey dashed;
      }
    
      .modal-content{
        flex: 1;
        padding: 32px;
        overflow: scroll;
      }

      footer {
        height: 50px;
        clear: both;
        text-align: center;
        padding-top: 24px;
        &.buttonGroup {
          >button:not(:first-child) {
            margin-left: 16px;
          }
        }
      }
    }
  }
}