<ti-table 
    [(displayedData)]="displayed"
    [srcData]="srcData"
    [columns]="columns"
    tiColsResizable
    [searchWords]="search.words"
    [searchKeys]="search.keys">
    <div class="ti3-table-fixed-head">
        <table>
            <thead>
                <tr>
                    <th *ngIf="hasCheckBox" checkbox-column>
                        <input type="checkbox" tiCheckgroup [items]="allNodeIds" [(checkeds)]="selectedNodeIds" />
                    </th>

                    <ng-container *ngFor="let column of columns">
                        <th width="{{ column.width }}">
                            <ti-cell-text>{{ column.title }}</ti-cell-text>
                            <hy-popup-search
                                *ngIf="column.search"
                                [(ngModel)]="search.words[column.searchIndex]"
                            ></hy-popup-search>
                            <div
                                *ngIf="column.filter"
                                class="filter-icon">
                                <ti-head-filter 
                                  [options]="column.options"
                                  [(ngModel)]="column.selected"
                                  (select)="onNodeStatusSelect($event, column)"
                                  [ngClass]="{'ti3-head-filtered': column.selected && column.selected.length}"
                                  [multiple]="column.multiple">
                                </ti-head-filter>
                            </div>
                            <div *ngIf="column.iconTip" class="thContent" [ngClass]="{center: column.align}">
                                <ti-icon [tiTip]="column.iconTip" style="margin-left: 8px;"
                                    tiTipMaxWidth='370px' tiTipPosition="bottom">
                                    <img src='./assets/img/template/icon_question.svg'
                                        *ngIf="currTheme === ColorTheme.Dark" class="img-question">
                                    <img src='./assets/img/template/icon_question_light.svg'
                                        *ngIf="currTheme === ColorTheme.Light" class="img-question">
                                </ti-icon>
                            </div>
                        </th>
                    </ng-container>
                </tr>
            </thead>
        </table>
    </div>

    <div class="ti3-table-container ti3-resize-wrapper">
        <table>
            <thead>
                <tr>
                    <th *ngIf="hasCheckBox" checkbox-column></th>
                    <th *ngFor="let column of columns" tiOverflow width="{{column.width}}"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let node of displayed; trackBy: trackByFn">
                    <td *ngIf="hasCheckBox" checkbox-column>
                        <input type="checkbox" tiCheckitem [item]="node.id"
                            [disabled]="!(node.nodeStatus === 'on' || selectedNodeIds.includes(node.id))" />
                    </td>

                    <td *ngFor="let column of columns" tiOverflow>
                        <ng-container [ngSwitch]="column.prop">
                            <!-- 节点状态 -->
                            <div *ngSwitchCase="'nodeStatus'" class="nodeStatus">
                                <div
                                    *ngIf="['init', 'lock', 'update'].includes(node[column.prop]); else icon_nodeStatus">
                                    <hy-theme-content>
                                        <img class="running" src="./assets/img/loding.svg" dark>
                                        <img class="runing-light" src="./assets/img/running.gif" light>
                                    </hy-theme-content>
                                </div>
                                <ng-template #icon_nodeStatus>
                                    <div [ngClass]="nodeStatusList[node[column.prop]].className"
                                        [ngStyle]="nodeStatusList[node[column.prop]].color ? { background: nodeStatusList[node[column.prop]].color } : {}">
                                    </div>
                                </ng-template>
                                <span tiOverflow>
                                    {{ nodeStatusList[node[column.prop]].text }}
                                    {{ node.nodeStatusInfo ? (i18n.common_term_sign_colon + node.nodeStatusInfo) : ''  }}
                                </span>
                            </div>

                            <!-- 运行目录/安装目录 -->
                            <div *ngSwitchCase="['Installation', 'Log'].includes(column.prop) ? column.prop : ''"
                                class="alarmInfo">
                                <span *ngIf="node.nodeStatus === 'failed' || isNull(alarmInfo[node.nodeIP + '.' + column.prop]?.usageRatio);
                                    else fillGauge" tiOverflow>--</span>

                                <ng-template #fillGauge>
                                    <div [tiTip]="alarmInfo[node.nodeIP + '.' + column.prop] && alarmInfoTipContent"
                                        [tiTipContext]="alarmInfo[node.nodeIP + '.' + column.prop] || {}"
                                        tiTipPosition="top" [tiTipMaxWidth]="'360px'" #t="tiTip"
                                        (mouseenter)="updateGaugeTipContent(t, alarmInfo[node.nodeIP + '.' + column.prop])">
                                        <app-liquid-fill-gauge width="16px"
                                            [value]="alarmInfo[node.nodeIP + '.' + column.prop]?.usageRatio"
                                            [gaugeColor]="alarmInfo[node.nodeIP + '.' + column.prop]?.gaugeColor">
                                        </app-liquid-fill-gauge>
                                        <span class="fillGauge-span">{{
                                            alarmInfo[node.nodeIP + '.' + column.prop]?.free }}</span>
                                    </div>
                                </ng-template>
                            </div>

                            <!-- 操作 -->
                            <div *ngSwitchCase="'operate'" class="operateBox">
                                <ng-container *ngFor="let operate of node[column.prop]; let index = index">
                                    <span class='aLink' (click)="operate.onclick(node)"
                                        [ngStyle]="{'margin-left': index > 0 ? '6px': ''}">
                                        {{ operate.label }}
                                    </span>
                                </ng-container>
                            </div>

                            <span *ngSwitchDefault>{{ node[column.prop] }}</span>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-loading *ngIf="showLoading"></app-loading>
        <app-default-page *ngIf="displayed.length === 0 && !showLoading"></app-default-page>
    </div>
    <ti-pagination
        *ngIf="totalNumber > 10"
        [autoHide]="true"
        [showGotoLink]="true"
        [(currentPage)]="currentPage"
        [pageSize]="pageSize"
        [(totalNumber)]="totalNumber">
    </ti-pagination>
</ti-table>

<!-- 目录信息显示 -->
<ng-template #alarmInfoTipContent let-context='context'>
    <div class="alarmTip">
        <div class="tipLine">{{ context.total }}</div>
        <div class="tipLine" *ngIf="context.hasOverflow">{{ context.free }}</div>
        <div class="tipLine">{{ context.suggest }}</div>

        <p *ngIf="context.suggestion" class="suggestion">{{ context.suggestion }}</p>
    </div>
</ng-template>