<div id="helpercreateProject">
  <div class="project-table">
    <!-- 工程名称 -->
    <div class="proName">
      <ti-formfield [formGroup]="projectInfoFormGroup" [labelWidth]="labelWidth">
        <ti-item [label]="i18n.common_term_projiect_name1" [required]="true">
          <input type="text" tiText class="bigInput" formControlName="projectName" [tiValidation]="validation"
            [(ngModel)]="projectName" (blur)="onBlur(projectName)">
        </ti-item>
      </ti-formfield>
    </div>
    <!-- 选择节点 -->
    <div class="nodeList">
      <ti-formfield [formGroup]="projectInfoFormGroup" vertical>
        <ti-item [label]="i18n.node.selectNode" [required]="true">
          <p class="nodeListTip">
            {{ i18n.nodeManagement.selectNodesInfo }}
            <a *ngIf="role === 'Admin'" (click)="linkTo()">
              {{ i18n.nodeManagement.goToNodeManagement }}
            </a>
          </p>
          <div class="nodeListTable">
            <app-node-table-info [selectedNodeIds]="selectedNodeIds" [selectMode]='selectMode' [tableWidth]="tableWidth"
              (selectedNodeIdsChange)="selectedNodeIdsChange($event)" [alertTipBox]="alertTipBox"></app-node-table-info>
          </div>
        </ti-item>
      </ti-formfield>
    </div>
  </div>
  <div class="footer">
    <button class="little-primary-btn" color='primary' tiButton [disabled]='!projectInfoFormGroup.valid'
      (click)="createProject()">{{
      i18n.common_term_operate_ok }}</button>
    <button class="cancalBtn little-minor-btn" tiButton (click)="cancalCreate()">{{ i18n.common_term_operate_cancel
      }}</button>
  </div>
</div>