::ng-deep {
  .vscode-dark {
    .ti3-modal-header {
      margin: 0px !important;
      padding: 23px 0 22px;
      border-bottom: 1px dashed #484a4e !important;
    }
  }
}

.core-details {
  .tuning-threads {
    .header {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .threads {
      width: 100%;
      height: 114px;
      position: relative;
      textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .runingThreads {
        width: 99.8%;
        height: 98%;
        position: absolute;
        top: 1px;
        left: 0px;
        box-sizing: border-box;
        padding: 4px 10px;
        overflow-y: auto;
        .oneThreads {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
.clickStyle {
  color: #0067ff;
  cursor: pointer;
  &:hover {
    color: #267dff;
  }
  &:active {
    color: #0057d9;
  }
}
:host ::ng-deep ti-table {
  font-size: 12px;
}
