<div class="exceptionDetail">
    <div class="exceptionBox" *ngIf="!nodataDiaplay">
        <div class="source-code-left">
            <app-mem-leak-func-list [taskId]="taskId" [nodeId]="nodeId" [memType]="'mem_exception'"
                (functionClick)="handleFuncClick($event)">
            </app-mem-leak-func-list>
        </div>
        <div class="source-code-right">
            <div class="right_switch">
                <app-icon-react name="tableView" *ngIf="isTable" (click)="chart()"></app-icon-react>
                <app-icon-react name="tableViewSelected" *ngIf="!isTable" (click)="chart()"></app-icon-react>
                <app-icon-react name="codeView" *ngIf="!isTable" (click)="chart()"></app-icon-react>
                <app-icon-react name="codeViewSelected" *ngIf="isTable" (click)="chart()"></app-icon-react>
            </div>
            <div class="tableListDetail contentDrtail" [ngClass]="{ifShow: !isTable}">
                <app-tab-list-detail [data]='tabListData'>
                </app-tab-list-detail>
            </div>
            <div class="codeDetail contentDrtail" [ngClass]="{ifShow: isTable}">
                <app-source-code-viewer [memLeakType]="diagnosticType" [data]="sourceCodeData">
                </app-source-code-viewer>
            </div>
        </div>
    </div>
    <div *ngIf="nodataDiaplay" class="nodataBox">
        <img src="./assets/img/projects/nodata.png" />
        <p>{{ i18n.diagnostic.noException }}</p>
    </div>
</div>