:host ::ng-deep .logManageBox {
  .ti3-tabs-container {
    >.ti3-tabs-container1 {
      .ti3-tabs-header {
        padding-bottom: 0;
      }
    }

    &:not([dark]) {
      >.ti3-tabs-container1 {
        .ti3-tabs-header {
          >.ti3-tabs {
            > li {
              margin: 0 12px;

              > a {
                padding: 6px 0 8px !important;
              }

              &:first-child {
                margin-left: 0;
              }
  
              &:not(:first-child) {
                position: relative;
  
                &::before {
                  content: '';
                  position: absolute;
                  left: -12px;
                  top: 10px;
                  width: 1px;
                  height: 14px;
                  background: #e1e6ee;
                }
              }
            }
          }
        }
      }
    }

    &[dark] {
      >.ti3-tabs-container1 {
        >.ti3-tabs-header {
          background: #f5f9ff !important;

          >.ti3-tabs {
            padding-top: 4px;

            > li {
              > a {
                background: transparent;
                color: #616161;
                height: 36px;
                line-height: 36px;
                padding: 0 24px !important;
      
                &:hover, &:focus {
                  background-color: #fff !important;
                  color: #222 !important;
                }
              }
      
              &.ti3-tab-active:not(.disabled) {
                >a {
                  background-color: #fff !important;
                  color: #0067ff !important;
                  box-shadow: inset 0px 1px 0px 0px #e1e6ee, inset 1px 0px 0px 0px #e1e6ee, inset -1px 0px 0px 0px #e1e6ee;
                }
              }
            }
          }
        }
      }
    }

    >.ti3-tab-content {
      overflow: hidden;

      >.ti3-tab-pane {
        padding-top: 12px;
        box-sizing: border-box;
      }
    }
  }

  .logTab {
    height: 100%;
    display: flex;
    flex-direction: column;

    >.ti3-tabs-container1 {
      flex: 0 0 auto;
    }

    >.ti3-tab-content {
      flex-grow: 1;

      >.ti3-tab-pane {
        height: 100%;
      }
    }
  }
}