<!-- 源码迁移历史报告 -->
<div class="detail-container">
    <div *ngIf="showLoading" class="loading">
      <app-loading [height]="'100%'" [size]="'max'"></app-loading>
    </div>
    <div>
        <p class="p-title-item"><span>{{ i18n.common_term_report_generation_time }} {{ currentReport }}</span></p>
        <div class="config-list-title"  [ngStyle]="{'margin-top':intelliJFlagDef?'24px':'20px'}">{{i18n.plugins_porting_setting_label}}</div>
        <div id="report-arguments" class="detail-items detail-border scroll-style">
            <div class="setting-left">
                <div class="setting-left-item">
                    <div class="item-label">{{textForm1.firstItem.label}}: </div>
                    <div class="item-content" >
                        <span [tiTip]="packageTipStr">{{ packageTipStr }}</span>
                    </div>
                </div>
                <div class="setting-left-item">
                    <div class="item-label">{{textForm1.secondItem.label}}: </div>
                    <div class="item-content">{{ textForm1.secondItem.value }}</div>
                </div>
                <div class="setting-left-item">
                    <div class="item-label">{{textForm1.thirdItem.label}}: </div>
                    <div class="item-content">{{ textForm1.thirdItem.value }}</div>
                </div>
                <div class="setting-left-item">
                    <div class="item-label">{{textForm1.fourthItem.label}}: </div>
                    <div class="item-content">{{ textForm1.fourthItem.value }}</div>
                </div>
                <div class="setting-left-item">
                    <div class="item-label">{{textForm1.fifthItem.label}}: </div>
                    <div class="item-content">{{ textForm1.fifthItem.value }}</div>
                </div>
                <div class="setting-left-item">
                    <div class="item-label">{{textForm1.sixthItem.label}}: </div>
                    <div class="item-content">{{ textForm1.sixthItem.value }}</div>
                </div>
            </div>
            <div class="setting-right">
                <div class="setting-right-top">
                    <div class="setting-right-item">
                        <p>{{ i18n.plugins_port_label_cFileSummary }}</p>
                        <p>{{ soFilesTotal - soFilesNeed }}</p>
                    </div>
                    <div class="setting-right-item" *ngIf="!intelliJFlagDef">
                        <p>{{ i18n.plugins_port_label_linesSummary }}</p>
                        <p>{{ soFilesNeed }}</p>
                    </div>
                    <div class="setting-right-item" *ngIf="intelliJFlagDef" style="border-color: #5E5E6E!important;">
                        <p>{{ i18n.plugins_port_label_linesSummary }}</p>
                        <p>{{ soFilesNeed }}</p>
                    </div>
                    <div class="setting-right-item">
                        <p>{{ i18n.plugins_port_label_soFileSummary }}</p>
                        <p>{{ soFilesTotal }}</p>
                    </div>
                </div>
                <div class="setting-right-bottom">
                    <div class="setting-right-item">
                        <p>{{ i18n.common_term_migrate_result_cFile}}</p>
                        <p>{{ cfileLine }}</p>
                    </div>
                    <div class="setting-right-item">
                        <p>{{ i18n.common_term_migrate_result_lines}}</p>
                        <p [tiTip]='realTotalLine>100000?realTotalLine:""'>{{ totalLine }}</p>
                    </div>
                    <div class="setting-right-item" *ngIf="showHumanFlag && showHumanBudgetNum && intelliJFlagDef"
                         style="border-color: #5E5E6E!important;">
                      <p>{{ i18n.common_term_report_right_info4 }}</p>
                      <p style="margin-top: 20px;">{{ humanBudgetNum }}<span>{{ humanBudget }}</span></p>
                    </div>
                    <div class="setting-right-item" *ngIf="showHumanFlag && showHumanBudgetNum && !intelliJFlagDef">
                      <p>{{ i18n.common_term_report_right_info4 }}</p>
                      <p style="margin-top: 20px;">{{ humanBudgetNum }}<span>{{ humanBudget }}</span></p>
                    </div>
                </div>
                <p class="tit" *ngIf="showHumanFlag && showHumanBudgetNum" style="margin-top: 10px;color: #616161; ">
                    {{ humanStandard }}</p>
            </div>
        </div>
        <div *ngIf="!intelliJFlagDef" class="recognize-items detail-border scroll-style">
            <div class="report-detail-table">
                <div class="" *ngFor="let item of scanItems">
                    <div class="table-container" *ngIf="item!=='lines'">
                        <div class="detail-label" style="width: 100%;">
                            <span>{{ scanItemsObj[item].label }}</span>
                            <span tiOverflow class="cfile-line-detail" *ngIf="item=== 'cFile'">
                                {{ scanItemsObj[item].content }} ({{ needTransStatement }})</span>
                        </div>
                    </div>
                    <div *ngIf="scanItemsObj[item].isOpen" class="items-detail-container" style="overflow: hidden;">
                        <div *ngIf="item == 'cFile'">
                            <div class="go-tip-div" *ngIf="(item === 'cFile' && goTipSwitch )">
                                <span class="go-tip" tiOverflow>{{ goTip }}</span>
                            </div>
                            <ti-table [(displayedData)]="cfileDetailDisplay" [srcData]="cfileDetailSrcData"
                                [columns]="cfileDetailColumn" tiColsResizable>
                                <div class="ti3-table-fixed-head" [ngStyle]="{'padding-right':cfileDetailDisplay.length>6 ? '6px':'0px'}">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th tiOverflow *ngFor="let column of cfileDetailColumn;index as i;" width="{{column.width}}">
                                                    <ti-cell-text>{{column.title}}</ti-cell-text>
                                                    <ti-head-filter [options]="column.options"
                                                    [(ngModel)]="column.selected" (select)="onSelect($event)"
                                                    [ngClass]="{'ti3-head-filtered': column.selected && column.selected.label !== i18n.plugins_porting_option_cFile_all}" *ngIf="i === 3 && column.title">
                                                    </ti-head-filter>
                                                    <ti-head-sort [sortKey]="column.sortKey" [compareFn]="compareFn" *ngIf="i === 2 || i === 4 && column.title"></ti-head-sort>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="ti3-table-container ti3-resize-wrapper" style="max-height:190px;">
                                    <table>
                                        <thead>

                                            <tr>
                                                <th tiOverflow *ngFor=" let column of cfileDetailColumn"
                                                    width="{{column.width}}">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="cfileDetailDisplay.length !== 0 ">
                                            <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                                            <!--为了更好的渲染性能，建议在ngFor数据时总是trackBy数据条目中的某个唯一属性值(如id)-->
                                            <tr *ngFor="let row of cfileDetailDisplay">
                                                <!-- tiOverflow指令的作用是使文本溢出时出'...'，且hover时出tip-->
                                                <td tiOverflow>{{row.id}}</td>
                                                <td tiOverflow>{{row.filename}}</td>
                                                <td tiOverflow>{{row.path}}</td>
                                                <td tiOverflow>{{row.fileType}}</td>
                                                <td tiOverflow>{{row.linecount}}</td>
                                                <td tiOverflow>
                                                    <a *ngIf="row.url !== '--'"
                                                        [ngClass]="row.visited?'a-color-visited':''"
                                                        (click)="codeSuggestingOpe(row.path, row.remotePath, row.fileType)">{{
                                                        i18n.plugins_porting_report_suggestion }}</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <app-default-page *ngIf="cfileDetailDisplay.length === 0" [height]="'180px'"
                                        [text]="cFileNoData">
                                    </app-default-page>
                                </div>
                            </ti-table>
                        </div>
                        <div *ngIf="item === 'soFile'">
                            <ti-table [(displayedData)]="binDetailDisplay" [srcData]="binDetailSrcData"
                                [columns]="binDetailColumns" tiColsResizable>
                                <div class="ti3-table-fixed-head" [ngStyle]="{'padding-right':binDetailDisplay.length>6 ? '6px':'0px'}">
                                    <table>
                                        <thead>
                                            <tr>
                                                <ng-container *ngFor="let column of binDetailColumns; index as i;">
                                                    <th *ngIf="i !== 4" tiOverflow width="{{column.width}}">
                                                        {{column.title}}</th>
                                                    <th *ngIf="i === 4" width="{{column.width}}">
                                                        <!--当表头有排序图标或漏斗排序图标，文本title需要显示不下出省略号及tip时需使用ti-cell-text组件；
                                  ti-head-filter为表头过滤漏斗图标-->
                                                        <ti-cell-text>{{column.title}}</ti-cell-text>
                                                        <!--ngModel接口可设置和获取headfilter下拉选中值，ti3-head-filtered样式类是
                                      组件提供的设置有过滤时漏斗的高亮样式，可自定义高亮时机-->
                                                        <ti-head-filter [options]="column.options"
                                                            [(ngModel)]="column.selected"
                                                            (select)="onSelectWithSoFile($event)"
                                                            [ngClass]="{'ti3-head-filtered': column.selected && column.selected.label !== i18n.plugins_porting_option_cFile_all}">
                                                        </ti-head-filter>
                                                    </th>
                                                </ng-container>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="ti3-table-container ti3-resize-wrapper" style="max-height:190px;">
                                    <table>
                                        <thead>
                                            <tr *ngIf="!isPathname">
                                                <ng-container *ngFor="let column of binDetailColumns; index as i;">
                                                    <th tiOverflow width="{{column.width}}">
                                                    </th>
                                                </ng-container>
                                            </tr>
                                            <tr *ngIf="isPathname">
                                                <ng-container *ngFor="let column of binDetailColumns; index as i;">
                                                    <th *ngIf="i === 0" tiOverflow width="7%"></th>
                                                    <th *ngIf="i === 1" tiOverflow width="13%"></th>
                                                    <th *ngIf="i === 2" tiOverflow width="10%"></th>
                                                    <th *ngIf="i === 3" tiOverflow width="30%"></th>
                                                    <th *ngIf="i === 4" tiOverflow width="15%"></th>
                                                    <th *ngIf="i === 5 " tiOverflow width="24.7%">
                                                    </th>
                                                </ng-container>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="binDetailDisplay.length > 0 && binDetailSrcData.data.length > 0">
                                            <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                                            <tr *ngFor="let row of binDetailDisplay">
                                                <td tiOverflow>{{ row.number }}</td>
                                                <td tiOverflow>{{ row.name }}</td>
                                                <td tiOverflow class="td-border-right">
                                                    {{row.type}}
                                                </td>
                                                <td tiOverflow class="td-border-right" [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                                    {{row.pathName || '--'}}</td>
                                                <td tiOverflow class="td-border-right" [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                                    {{row.oper}} </td>
                                                <td tiOverflow [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                                    <span *ngIf="row.url === '--'">{{ row.result }}</span>
                                                    <span *ngIf="row.url !== '--' && row.url.lastIndexOf('/') > -1" class="p-relative">
                                                      <span *ngIf="row.downloadDesc">{{row.downloadDesc + ' ' + row.url}}</span>
                                                      <ng-container>
                                                        <a *ngIf="row.level === '0' && !row.downloadDesc" [ngClass]="{'visited': row.uploadVisited, 'isHttp': row.isHTTP}" (click)="downloadSoFile(row.url)" [tiTip]='row.isHTTP ? i18n.common_isHttp_disable : ""'>{{ row.result }}</a>
                                                        <a class="re-copy-link" [ngClass]="{'visited': row.copyVisited}" (click)="onCopy(row.url, copy, row)" [tiTip]='copySuccess' tiTipTrigger='manual' #copy='tiTip'>{{ i18n.common_term_report_detail.copyLink }}</a>
                                                        <input class="re-copy-inp" />
                                                      </ng-container>
                                                      <a [ngClass]="{'visited': row.uploadVisited}" *ngIf="row.level !== '0' && !row.downloadDesc && row.result !== '下载源码' && row.result !== 'Download Source Code'" (click)="downloadSoFile(row)">{{ row.result }}</a>
                                                      <a *ngIf="row.level !== '0' && !row.downloadDesc && (row.result === '下载源码' || row.result === 'Download Source Code')" [href]="row.url" target="_blank">{{ row.result }}</a>
                                                    </span>
                                                    <span *ngIf="row.url !== '--' && row.url.lastIndexOf('/') === -1" [tiTip]='i18n.common_term_upload_unable' class="cursor-default">--</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <app-default-page *ngIf="binDetailDisplay.length === 0" [height]="'180px'"
                                        [text]="i18n.plugins_porting_message_soFile_noData1"></app-default-page>
                                </div>
                            </ti-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="intelliJFlagDef" class="recognize-items detail-border scroll-style" id="intelij">
            <div class="report-detail-table">
                <div class="" *ngFor="let item of scanItems">
                    <div class="table-container" *ngIf="item!=='lines'">
                        <div class="detail-label"  style="width: 100%;">
                            <span>{{ scanItemsObj[item].label }}</span>
                            <span tiOverflow class="cfile-line-detail" *ngIf="item=== 'cFile'">
                                {{ scanItemsObj[item].content }} ({{ needTransStatement }})</span>
                        </div>
                    </div>
                    <div *ngIf="scanItemsObj[item].isOpen" class="items-detail-container" style="overflow: hidden;">
                        <div *ngIf="item === 'cFile'">
                            <div class="go-tip-div" *ngIf="(item === 'cFile' && goTipSwitch )">
                                <span class="go-tip" tiOverflow>{{ goTip }}</span>
                            </div>
                            <ti-table [(displayedData)]="cfileDetailDisplay" [srcData]="cfileDetailSrcData"
                                [columns]="cfileDetailColumn" tiColsResizable>
                                <div class="ti3-table-fixed-head"  [ngStyle]="{'padding-right' : cfileDetailDisplay.length > 6 ? '6px' : '0px'}">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th tiOverflow *ngFor="let column of cfileDetailColumn;index as i;" width="{{column.width}}">
                                                    <ti-cell-text>{{column.title}}</ti-cell-text>
                                                    <ti-head-filter [options]="column.options"
                                                    [(ngModel)]="column.selected" (select)="onSelect($event)"
                                                    [ngClass]="{'ti3-head-filtered': column.selected && column.selected.label !== i18n.plugins_porting_option_cFile_all}" *ngIf="i === 3 && column.title">
                                                    </ti-head-filter>
                                                    <ti-head-sort [sortKey]="column.sortKey" [compareFn]="compareFn" *ngIf="i === 2 || i === 4 && column.title"></ti-head-sort>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="ti3-table-container ti3-resize-wrapper" style="max-height:190px;">
                                    <table>
                                        <thead>
                                            <tr *ngIf="cfileDetailSrcData.data.length > 0">
                                                <th tiOverflow *ngFor="let column of cfileDetailColumn"
                                                    width="{{column.width}}"></th>
                                            </tr>
                                        </thead>
                                        <tbody
                                            *ngIf="cfileDetailDisplay.length > 0 && cfileDetailSrcData.data.length > 0">
                                            <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                                            <!--为了更好的渲染性能，建议在ngFor数据时总是trackBy数据条目中的某个唯一属性值(如id)-->
                                            <tr *ngFor="let row of cfileDetailDisplay">
                                                <!-- tiOverflow指令的作用是使文本溢出时出'...'，且hover时出tip-->
                                                <td tiOverflow>{{row.id}}</td>
                                                <td tiOverflow>{{row.filename}}</td>
                                                <td tiOverflow>{{row.path}}</td>
                                                <td tiOverflow>{{row.fileType}}</td>
                                                <td tiOverflow>{{row.linecount}}</td>
                                                <td tiOverflow>
                                                    <a *ngIf="row.url !== '--'"
                                                        [ngClass]="row.visited?'a-color-visited':''"
                                                        (click)="codeSuggestingOpe(row.path, row.remotePath, row.fileType)">{{
                                                        i18n.plugins_porting_report_suggestion }}</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <app-default-page *ngIf="cfileDetailDisplay.length === 0" [height]="'180px'"
                                        [text]="cFileNoData" [image]="nodataImage">
                                    </app-default-page>
                                </div>
                            </ti-table>
                        </div>
                      <div *ngIf="item === 'soFile'">
                        <ti-table [(displayedData)]="binDetailDisplay" [srcData]="binDetailSrcData"
                                  [columns]="binDetailColumns" tiColsResizable>
                          <div class="ti3-table-fixed-head" [ngStyle]="{'padding-right' : binDetailDisplay.length > 6 ? '6px' : '0px'}">
                            <table>
                              <thead>
                              <tr>
                                <ng-container *ngFor="let column of binDetailColumns; index as i;">
                                  <th *ngIf="i !== 4" tiOverflow width="{{column.width}}">
                                    {{column.title}}</th>
                                  <th *ngIf="i === 4" width="{{column.width}}">
                                    <!--当表头有排序图标或漏斗排序图标，文本title需要显示不下出省略号及tip时需使用ti-cell-text组件；
              ti-head-filter为表头过滤漏斗图标-->
                                    <ti-cell-text>{{column.title}}</ti-cell-text>
                                    <!--ngModel接口可设置和获取headfilter下拉选中值，ti3-head-filtered样式类是
                  组件提供的设置有过滤时漏斗的高亮样式，可自定义高亮时机-->
                                    <ti-head-filter [options]="column.options"
                                                    [(ngModel)]="column.selected"
                                                    (select)="onSelectWithSoFile($event)"
                                                    [ngClass]="{'ti3-head-filtered': column.selected && column.selected.label !== i18n.plugins_porting_option_cFile_all}">
                                    </ti-head-filter>
                                  </th>
                                </ng-container>
                              </tr>
                              </thead>
                            </table>
                          </div>
                          <div class="ti3-table-container ti3-resize-wrapper" style="max-height:190px;">
                            <table>
                              <thead>
                              <tr *ngIf="!isPathname">
                                <ng-container *ngFor="let column of binDetailColumns; index as i;">
                                  <th tiOverflow width="{{column.width}}">
                                  </th>
                                </ng-container>
                              </tr>
                              <tr *ngIf="isPathname">
                                <ng-container *ngFor="let column of binDetailColumns; index as i;">
                                  <th *ngIf="i === 0" tiOverflow width="7%"></th>
                                  <th *ngIf="i === 1" tiOverflow width="13%"></th>
                                  <th *ngIf="i === 2" tiOverflow width="10%"></th>
                                  <th *ngIf="i === 3" tiOverflow width="30%"></th>
                                  <th *ngIf="i === 4" tiOverflow width="15%"></th>
                                  <th *ngIf="i === 5 " tiOverflow width="24.7%">
                                  </th>
                                </ng-container>
                              </tr>
                              </thead>
                              <tbody *ngIf="binDetailDisplay.length > 0 && binDetailSrcData.data.length > 0">
                              <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                              <tr *ngFor="let row of binDetailDisplay">
                                <td tiOverflow>{{ row.number }}</td>
                                <td tiOverflow>{{ row.name }}</td>
                                <td tiOverflow class="td-border-right">
                                  {{row.type}}
                                </td>
                                <td tiOverflow class="td-border-right" [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                  {{row.pathName || '--'}}</td>
                                <td tiOverflow class="td-border-right" [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                  {{row.oper}} </td>
                                <td tiOverflow [attr.rowspan]="row.rowSpan" *ngIf="row.showTd">
                                  <span *ngIf="row.url === '--'">{{ row.result }}</span>
                                  <span *ngIf="row.url !== '--' && row.url.lastIndexOf('/') > -1" class="p-relative">
                                                      <span *ngIf="row.downloadDesc">{{row.downloadDesc + ' ' + row.url}}</span>
                                                      <ng-container>
                                                        <a *ngIf="row.level === '0' && !row.downloadDesc" [ngClass]="{'visited': row.uploadVisited, 'isHttp': row.isHTTP}" (click)="downloadSoFile(row.url)" [tiTip]='row.isHTTP ? i18n.common_isHttp_disable : ""'>{{ row.result }}</a>
                                                        <a class="re-copy-link" [ngClass]="{'visited': row.copyVisited}" (click)="onCopy(row.url, copy, row)" [tiTip]='copySuccess' tiTipTrigger='manual' #copy='tiTip'>{{ i18n.common_term_report_detail.copyLink }}</a>
                                                        <input class="re-copy-inp" />
                                                      </ng-container>
                                                      <a [ngClass]="{'visited': row.uploadVisited}" *ngIf="row.level !== '0' && !row.downloadDesc && row.result !== '下载源码' && row.result !== 'Download Source Code'" (click)="downloadSoFile(row)">{{ row.result }}</a>
                                                      <a *ngIf="row.level !== '0' && !row.downloadDesc && (row.result === '下载源码' || row.result === 'Download Source Code')" [href]="row.url" target="_blank">{{ row.result }}</a>
                                                    </span>
                                  <span *ngIf="row.url !== '--' && row.url.lastIndexOf('/') === -1" [tiTip]='i18n.common_term_upload_unable' class="cursor-default">--</span>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                            <app-default-page *ngIf="binDetailDisplay.length === 0" [height]="'180px'"
                                              [text]="i18n.plugins_porting_message_soFile_noData1"></app-default-page>
                          </div>
                        </ti-table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="download-btn" id="intelij-btn">
            <button type="button" (click)="downloadOrGoReport()" [ngClass]="{'intelijbtn' : intelliJFlagDef}">
                {{ i18n.common_term_history_project_downloadc }}
            </button>
            <button type="button" (click)="downloadOrGoReport(1)" [ngClass]="{'intelijbtn' : intelliJFlagDef}">
                {{ i18n.common_term_history_project_downloadh }}
            </button>
        </div>
    </div>
</div>
