<div class="notification-box" [ngClass]="{'active':isShow}">
    <!-- notification type icon -->
    <div class="notification-icon">
        <img *ngIf="type == 'success'" src="./assets/img/tip/icon_success.svg">
        <img *ngIf="type == 'info'" src="./assets/img/tip/icon_information.svg">
        <img *ngIf="type == 'warn'" src="./assets/img/tip/warn.svg">
        <img *ngIf="type == 'error'" src="./assets/img/tip/icon_failure.svg">
    </div>
    <!-- notification message -->
    <ng-content select=".notification-message"></ng-content>
</div>