::ng-deep .vscode-dark {
    --color-box-content: #252526;
    $linkColor: #000000;
    --color-content-shadow: rgba($linkColor, 0.8);
    --color-message: #aaaaaa;
}

::ng-deep .vscode-light {
    --color-box-content: #FFFFFF;
    $linkColor: #000000;
    --color-content-shadow: rgba($linkColor, 0.1);
    --color-message: #616161;
}

.notification-box {
    background-color: var(--color-box-content);
    box-shadow: 0px 3px 6px 0px var(--color-content-shadow);
    position: fixed;
    width: fit-content;
    height: 35px;
    top: 30px;
    left: 50%;
    display: none;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    z-index: 999;
    transform: translateX(-50%);

    font-size: 12px;
    color: var(--color-message);
}

.notification-box.active {
    display: flex;
}

.notification-icon {
    // background-image: url(../../assets/img/tip/icon_success.svg);
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-size: 15px 15px;
}

.notification-icon.success {
    background-image: url(../../assets/img/tip/icon_success.svg);
}

.notification-icon.info {
    background-image: url(../../assets/img/tip/icon_information.svg);
}

.notification-icon.error {
    background-image: url(../../assets/img/tip/icon_failure.svg);
}

.notification-icon.warn {
    background-image: url(../../assets/img/tip/warn.svg);
}