<app-mission-public #missionPublic [labelWidth]="labelWidth" [drawerLevel]="drawerLevel"
    [nodeName]="nodeName" [nodaIP]="nodeIP">
    <div class="model-body" [formGroup]="ppCroup">
        <app-pid-process-input formControlName="pidProcess" [labelWidth]="labelWidth"></app-pid-process-input>
    </div>
    <footer>
        <button tiButton type="button" color="primary" style="margin-right: 20px" 
            [disabled]="!pidProcessValid"
            (click)="confirm()"> {{i18n.common_term_operate_ok}}</button>
        <button tiButton type="button" (click)="close()"> {{i18n.common_term_operate_cancel}} </button>
    </footer>
</app-mission-public>
