<div class="warpper">
  <div class="fix-area right_align prefix-miss">
    <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
      <!-- 过滤条件 -->
      <ti-item [label]="'net_io.filter_cond' | i18n">
        <app-packetloss-filter
          formControlName="filterCondition"
          style="width: 326px"
        ></app-packetloss-filter>
      </ti-item>
    </ti-formfield>
  </div>
  <div class="fix-area">
    <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
      <!-- 采样时长 -->
      <ti-item [label]="'net_io.collect_time' | i18n: 's'" [required]="true">
        <ti-spinner
          formControlName="collectDuration"
          [hySpinnerBlur]="{
            control: formGroup.get('collectDuration'),
            min: 1,
            max: 300
          }"
          [format]="'N0'"
          tiValidation
          style="width: 132px"
        ></ti-spinner>
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "1~300" }}
        </div>
      </ti-item>
      <!-- 采集内核调用栈丢包 -->
      <ti-item>
        <ti-item-label>
          <span [ngStyle]="{ width: labelWidth }" tiOverflow>
            {{ "net_io.collect_core_stack" | i18n }}
          </span>
        </ti-item-label>
        <div class="flex">
          <ti-switch formControlName="isCollectKernel"></ti-switch>
        </div>
      </ti-item>
    </ti-formfield>
  </div>
  <div class="fix-area" [hidden]="!formGroup.get('isCollectKernel').value">
    <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
      <!-- 采样频率 -->
      <ti-item [required]="true">
        <ti-item-label>
          <div [ngStyle]="{ width: labelWidth }" tiOverflow>{{ "net_io.simple_freq" | i18n: intervalUnit }}</div>
        </ti-item-label>
        <app-sample-frequency
          formControlName="interval"
          [required]="true"
          tiValidation
        ></app-sample-frequency>
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "1~1000" }}
        </div>
      </ti-item>
      <!-- 采集文件大小 -->
      <ti-item>
        <ti-item-label>
          <div [ngStyle]="{ width: labelWidth }" tiOverflow>{{ "net_io.collect_file_size" | i18n: "MiB" }}</div>
        </ti-item-label>
        <input
          formControlName="fileSize"
          type="text"
          tiText
          tiNumber
          [hySpinnerBlur]="{
            control: formGroup.get('fileSize'),
            min: 1,
            max: 1024
          }"
          [format]="'N0'"
          tiValidation
          style="width: 326px"
        />
        <div class="tail-annotation">
          {{ "common_scope_replace_teml" | i18n: "1~1024" }}
        </div>
      </ti-item>
    </ti-formfield>
  </div>
</div>
