.cert-content{
  .content-table{
    .ti3-table {
      margin-top: 10px;
      height: calc(100% - 30px);
    }
  }

  .content-table-admin{
    .ti3-table {
      margin-top: 10px;
      height: calc(100% - 120px);
    }
  }

  .operateBox {
    .splitLine {
      float:left;
      width: 1px;
      height: 12px;
      background: #E1E6EE;
      margin:8px;
      margin-top: 4px;
    }

    .operation-text {
      float: left;
      font-size: 12px;
      color: #0067FF;
      cursor: pointer;
    }
  }
}

.certInfo {
  height: 48px;
  line-height: 48px;

  .status-icon {
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;

    &.valid { border: 5px solid #7ADFA0; }
    &.nearFailure { border: 5px solid #FFB146; }
    &.failure { border: 5px solid #F45C5E; }
  }
}

.nodata{
  width: 200px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  img{
    width: auto;
    height: auto;
  }
}

// 提示快到期或已经到期的证书
::ng-deep .agent-mask {
  .ti3-modal-body {
    .tipInfo {
      display: flex;

      .img {
        height: 24px;
      }

      span {
        margin-left: 8px;
        color: #616161;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
      }
    }

    .ti3-table {
      margin-top: 10px;

      .cert-status-spot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;

        &.nearFailure { background-color: #FF9B00; }
        &.failure { background-color: red; }
      }
    }
  }
}

// 更换证书/工作秘钥时需要节点认证
::ng-deep .nodeAuthModal {
  input:not(.ti_input_ip_anchor):not(.ti_input_ip_octet), ti-select {
    width: 350px;
  }

  .textFomContent {
    line-height: 28px;
    font-size: 14px;
  }

  .rootPwdTip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 16px;
    width: 524px;
  }

  .ti3-form {
    // 解决没有required参数的表单会和带有required参数的表单不对齐的问题
    & > tbody > tr > td:first-child {
      width: 16px;
    }
  }
}

::ng-deep .ti3-modal .fingerPrintConfirmationModal {
  .ti3-modal-content {
    width: 680px;

    .tipInfo {
      color: #616161;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;

      img {
        margin-right: 6px;
        vertical-align: sub;
        width: 20px;
      }
    }
  }
}
.agentTip{
    margin-top: 10px;
    width: 100%;
    min-height: 40px;
    background-color: #f0f6ff;
    border-radius: 2px;
    border: solid 1px #2072ea;
    display: flex;
    padding: 11px 0px 11px 17px;
    align-items: flex-start;
    box-sizing: border-box;
    font-size: 12px;
    .tipImg{
        width: 14px;
        height: 14px;
        margin-right: 9px;
    }
    .div-width{
      width: calc(100% - 34px);
    }
    .ssh_tip{
      margin-top: 2px;
    }
}
.sshSafeTip {
  margin-top: 20px;
  .sshTitle{
    width: 144px;
    display: inline-block;
  }
  .sshTipText {
    max-width: 440px;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
  }
}
.addNodeModalBody{
  min-height: 320px;
  max-height: 437px !important;
}
