<div class="cert-content configItemBox">
    <div class="boxMain" [ngClass]="{'content-table-admin' : isAdmin,'content-table' : !isAdmin}">
        <div>
            <button *ngIf="isAdmin" class="delete" tiButton type="button" (click)='createCert()'>
                {{i18n.common_term_certificate}}
            </button>
        </div>
        <div *ngIf="isAdmin" class="agentTip">
            <img class="tipImg" src="./assets/img/tip/tip.svg">
            <div class="div-width">
                <div tiOverflow>{{i18n.common_term_certificate_tip}}</div>
            </div>
        </div>
        <ti-table [(displayedData)]="agentData.displayed" [srcData]="agentData.srcData" [columns]="agentData.columns" [appLoading]="isLoading">
            <div class="ti3-table-fixed-head">
                <table>
                    <thead>
                        <tr>
                            <th tiOverflow *ngFor="let column of agentData.columns" width="{{column.width}}">{{column.title}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="ti3-table-container">
                <table>
                    <thead>
                        <tr>
                            <th tiOverflow *ngFor="let column of agentData.columns" width="{{column.width}}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of agentData.displayed;">
                            <td tiOverflow>{{row.nodeIp}}</td>
                            <td tiOverflow>{{row.nodeName}}</td>
                            <td tiOverflow>
                                <div *ngFor="let item of row.certInfo" class="certInfo">{{ item.certName }}</div>
                            </td>
                            <td tiOverflow>
                                <div *ngFor="let item of row.certInfo" class="certInfo">{{ item.certExpTime| timeProcess
                                    }} </div>
                            </td>
                            <td tiOverflow>
                                <div *ngFor="let item of row.certInfo" class="certInfo">
                                    <span [ngClass]="['status-icon', item.certStatus]"></span>{{
                                    certStatusList[item.certStatus]?.label }}
                                </div>
                            </td>
                            <td tiOverflow *ngIf="isAdmin">
                                <div class="operateBox">
                                    <div class="operation-text" (click)="replaceCert(row)">{{
                                        this.i18n.agentCertificate.update_certificate }}</div>
                                    <div class="splitLine"></div>
                                    <div class="operation-text" (click)="replaceWorkingSecretKey(row)">{{
                                        this.i18n.agentCertificate.update_work_key }}</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ti-pagination *ngIf="agentData.srcData.data.length > 10" [(currentPage)]="agentData.currentPage"
                [pageSize]="agentData.pageSize" [(totalNumber)]="agentData.srcData.data.length">
            </ti-pagination>
        </ti-table>
        <div class="nodata" *ngIf="!agentData.srcData.data.length && !isLoading">
            <img src="./assets/img/projects/nodata.png">
            <span>{{i18n.common_term_task_nodata}}</span>
        </div>
    </div>
</div>

<!-- 更换证书/工作秘钥时需要节点认证 -->
<ng-template #nodeAuthModalComponent let-context="context">
    <ti-modal-header>
        {{ context.title }}
    </ti-modal-header>

    <ti-modal-body class="addNodeModalBody">
        <ti-formfield labelWidth="144px" [formGroup]="nodeAuthFormGroup" class="taskForm">
            <!-- 节点IP -->
            <ti-item [label]="i18n.nodeConfig.node">
                <span class="textFomContent">{{ context.nodeIP }}</span>
            </ti-item>

            <!-- 用户名 -->
            <ti-item [label]="i18n.common_term_login_name" [required]="true">
                <input type="text" tiText formControlName="username" [tiValidation]='validation' oncopy="return false"
                    oncut="return false">
            </ti-item>

            <!-- 认证方式 -->
            <ti-item [label]="i18n.nodeManagement.authenticationMode" [required]="true">
                <ti-select formControlName="authenticationMode" [options]="authenticationModeList"
                    [tiValidation]="validation">
                </ti-select>
            </ti-item>

            <!-- 口令 -->
            <ti-item [label]="i18n.nodeManagement.password" [required]="true"
                [show]="nodeAuthFormGroup.value?.authenticationMode?.value === 'password'">
                <input type="password" tiText formControlName='password'
                    [placeholder]="i18n.nodeManagement.pwdPlaceholder" [tiValidation]='validation' appDisableCtrl>
            </ti-item>

            <!-- 私钥文件 -->
            <ti-item [label]="i18n.nodeManagement.keyFile" [required]="true"
                [show]="nodeAuthFormGroup.value?.authenticationMode?.value === 'private_key'">
                <input type="password" tiText formControlName='keyFile' [tiValidation]='validation' appDisableCtrl>
            </ti-item>

            <!-- 密码短语 -->
            <ti-item [label]="i18n.nodeManagement.passphrase"
                [show]="nodeAuthFormGroup.value?.authenticationMode?.value === 'private_key'">
                <input type="password" tiText formControlName='passphrase'
                    [placeholder]="i18n.nodeManagement.passphrasePlaceholder" [tiValidation]='validation'
                    appDisableCtrl>
            </ti-item>
        </ti-formfield>

        <!-- root口令 -->
        <div *ngIf="nodeAuthFormGroup.value?.username !== 'root'" class="tip-content tip-content-tip rootPwdTip">
            <img src='./assets/img/tip/tip.svg' class="tip-icon" />
            <span>{{ i18n.nodeManagement.rootPwdTip }}</span>
        </div>
        <ti-formfield labelWidth="144px" [formGroup]="nodeAuthFormGroup" class="taskForm">
            <ti-item [label]="i18n.nodeManagement.rootPwd" [required]="true"
                [show]="nodeAuthFormGroup.value?.username !== 'root'">
                <input type="password" tiText formControlName='rootPassword'
                    [placeholder]="i18n.nodeManagement.rootPwdPlaceholder" [tiValidation]='validation' appDisableCtrl>
            </ti-item>
        </ti-formfield>
        <div class="sshSafeTip">
            <ti-formfield [formGroup]="nodeAuthFormGroup" class="taskForm">
                <ti-item [required]="true">
                    <ti-item-label>
                        <span tiOverflow class="sshTitle">{{i18n.nodeManagement.ssh_Transmission}}</span>
                    </ti-item-label>
                    <p class="sshTipText">{{i18n.common_term_certificate_tip_ssh}}</p>
                    <input type="checkbox" tiCheckbox [label]='i18n.common_term_read' formControlName='sshTip'>
                </ti-item>
            </ti-formfield>
        </div>
    </ti-modal-body>

    <ti-modal-footer>
        <button tiButton type="button" color="primary" [disabled]="!nodeAuthFormGroup.valid || context.interfacing"
            (click)="context.confirm(context)">
            {{ i18n.common_term_operate_ok }}
        </button>

        <button tiButton type="button" (mousedown)="context.dismiss()">{{ i18n.common_term_operate_cancel }}</button>
    </ti-modal-footer>
</ng-template>

<!-- 确认指纹/root用户二次确认弹框 -->
<ng-template #fingerPrintConfirmationModalComponent let-context='context'>
    <ti-modal-header>
        {{ i18n.nodeManagement.information }}
    </ti-modal-header>

    <!-- 弹框内容定义 -->
    <ti-modal-body>
        <p class="tipInfo">
            <img src="./assets/img/tip/tip.svg" alt="" />
            {{ context.tipInfo }}
        </p>

        <ti-table [(displayedData)]="fingerPrintConfirmationTable.displayed"
            [srcData]="fingerPrintConfirmationTable.srcData" [columns]="fingerPrintConfirmationTable.columns">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let column of fingerPrintConfirmationTable.columns"
                            width="{{column.width}}">{{ column.title }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let row of fingerPrintConfirmationTable.displayed">
                        <td tiOverflow *ngFor="let column of fingerPrintConfirmationTable.columns">{{ row[column.prop]
                            }}</td>
                    </tr>
                </tbody>
            </table>
        </ti-table>
    </ti-modal-body>

    <ti-modal-footer>
        <button tiButton type="button" color="primary" (click)="context.confirm(context)">{{ i18n.common_term_operate_ok
            }}</button>
        <button type="button" (mousedown)="context.dismiss()" tiButton>{{ i18n.common_term_operate_cancel }}</button>
    </ti-modal-footer>
</ng-template>

<!-- 提示快到期或已经到期的证书 -->
<ng-template #noticeModalComponent let-context="context">
    <ti-modal-header>
        {{ i18n.certificate.notice }}
    </ti-modal-header>

    <ti-modal-body>
        <div class="tipInfo">
            <img src="./assets/img/tip/warn_triangle.svg" />
            <span>{{ i18n.certificate.agentWarnNotice }}</span>
        </div>

        <ti-table [(displayedData)]="agentMaskTipData.displayed" [srcData]="agentMaskTipData.srcData"
            [columns]="agentMaskTipData.columns" class="ti3-table-small">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let column of agentMaskTipData.columns" width="{{column.width}}">
                            {{column.title}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let row of agentMaskTipData.displayed">
                        <td tiOverflow>{{ row.nodeIp }}</td>
                        <td tiOverflow>{{ row.certName }}</td>
                        <td tiOverflow>{{ row.certExpTime| timeProcess }}</td>
                        <td tiOverflow>
                            <div [ngClass]="['cert-status-spot', row.certStatus]"></div>
                            {{ certStatusList[row.certStatus]?.label }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <ti-pagination *ngIf="agentMaskTipData.srcData.data.length > 10" [(currentPage)]="agentMaskTipData.currentPage"
               [pageSize]="agentMaskTipData.pageSize" [(totalNumber)]="agentMaskTipData.srcData.data.length">
            </ti-pagination>
        </ti-table>
    </ti-modal-body>

    <ti-modal-footer>
        <button type="button" tiButton (click)="context.dismiss()">{{ i18n.certificate.close }}</button>
    </ti-modal-footer>
</ng-template>
