<div class="tip" *ngIf="!switchStatus">
    <img src="./assets/img/tip/tip.svg" />
    <span>{{i18n.nodeConfig.nodeTip}}</span>
</div>

<div class="node-config" *ngIf="switchStatus">
    <div class="table">
        <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
            <table>
                <thead>
                    <tr>
                        <th tiOverflow *ngFor="let row of columns">{{row.title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                    <!--为了更好的渲染性能，建议在ngFor数据时总是trackBy数据条目中的某个唯一属性值(如id)-->
                    <tr *ngFor="let row of displayed;index as i;">
                        <td tiOverflow>{{row.nickName}}</td>
                        <td tiOverflow>{{row.node}}</td>
                        <td tiOverflow>
                            <span class="status-icon" [ngClass]="statusFormat(row.params.status)"></span>
                            <span>{{row.params.status ? i18n.nodeConfig.configed : i18n.nodeConfig.noConfig}}</span>
                        </td>
                        <td tiOverflow><span (click)="onConfigParams(row)"
                            class="config-btn">{{i18n.nodeConfig.configParams}}</span></td>
                    </tr>
                </tbody>
            </table>
        </ti-table>
    </div>
</div>