<ng-template #excelParseModal let-context="context">
  <ti-modal-header>
    {{
      (batchOptTypeEnum.Import === batchOptType
        ? "nodeManagement.batchImportNodes"
        : "nodeManagement.batchDeleteNodes"
      ) | i18n
    }}
    <span class="tip-nodeclose" (click)="onModelClose($event)">
      <img class="ti3-close" src="./assets/img/analyzing/images/close_icon.svg" />
      <img class="ti3-close" src="./assets/img/analyzing/images/close_hover.svg">
    </span>
  </ti-modal-header>
  <ti-modal-body>
    <div class="warpper-line"></div>
    <div class="parse">
      <hy-theme-content>
        <div light class="progress-svg">
          <img
            *ngIf="parseState === 'error'"
            class="browser-img"
            src="./assets/img/analyzing/images/fail.svg"
          />
          <img
            *ngIf="parseState !== 'error'"
            class="browser-img"
            style="width: 203px"
            src="./assets/img/analyzing/images/img_0.gif"
          />
        </div>
        <div dark class="progress-svg" style="position: relative;">
          <img
            *ngIf="parseState === 'error'"
            class="browser-img"
            src="./assets/img/analyzing/images/fail_dark.svg"
          />
          <img *ngIf="parseState !== 'error'" src="./assets/img/analyzing/analyzeBg.png" class="analyzing-gif">
          <img *ngIf="parseState !== 'error'" src="./assets/img/analyzing/analyzeAnimation.gif" class="analyzing-gif1">
        </div>
      </hy-theme-content>

      <div class="progress">
        <div>
          <div class="line" *ngIf="parseState !== 'error'">
            <span class="bar"></span>
          </div>
        </div>
        <div class="statusBox">
          <p>
            <span
              class="pstatus-ready"
              *ngIf="parseInfoStack.get()[0]?.type === 'ready'"
            ></span>
            <img
              src="./assets/img/analyzing/images/dumping.svg"
              class="pstatus"
              *ngIf="parseInfoStack.get()[0]?.type === 'parsing'"
            />
            <img
              src="./assets/img/analyzing/images/dump1.svg"
              class="pstatus"
              *ngIf="parseInfoStack.get()[0]?.type === 'success'"
            />
            <img
              src="./assets/img/analyzing/images/error.svg"
              class="pstatus"
              *ngIf="parseInfoStack.get()[0]?.type === 'fail'"
            />
            <span class="statusMsg">{{ parseInfoStack.get()[0]?.text }}</span>
            <ng-container *ngIf="parseInfoStack.get()[0]?.type === 'fail'">
              <span class="retry" (click)="onRetry()">{{
                "nodeManagement.retry" | i18n
              }}</span>
              <span class="replace" (click)="onReplaceClick()">{{
                "nodeManagement.replaces" | i18n
              }}</span>
            </ng-container>
          </p>
          <p [ngClass]="{'greyStyle': parseInfoStack.get()[1]?.type === 'ready'}">
            <span
              class="vstatus-ready"
              *ngIf="parseInfoStack.get()[1]?.type === 'ready'"
            ></span>
            <img
              src="./assets/img/analyzing/images/dumping.svg"
              class="vstatus"
              *ngIf="parseInfoStack.get()[1]?.type === 'parsing'"
            />
            <img
              src="./assets/img/analyzing/images/dump1.svg"
              class="vstatus"
              *ngIf="parseInfoStack.get()[1]?.type === 'success'"
            />
            {{ parseInfoStack.get()[1]?.text }}
          </p>
        </div>
      </div>
    </div>
  </ti-modal-body>
  <ti-modal-footer class="parseFooter">
    <button type="button" (click)="onModelClose($event)" tiButton>
      {{ "common_term_operate_close" | i18n }}
    </button>
  </ti-modal-footer>
</ng-template>
