::ng-deep body {
  &.dark {
    .parse {
      .progress {
        .line {
          height: 2px;
          background-color: #484a4e;
        }
        .statusBox {
          p {
            .vstatus-ready {
              border: 2px solid #888888;
            }
          }
          .greyStyle {
            color: #aaaaaa;
          }
        }
      }
    }
  }

  &.light {
    .parse {
      .progress {
        .line {
          height: 4px;
          background-color: #e6ebf5;
        }
        .statusBox {
          p {
            .vstatus-ready {
              border: 2px solid #cccccc;
            }
          }
          .greyStyle {
            color: #979797;
          }
        }
      }
    }
  }
}

.parseFooter.ti3-modal-footer {
  padding: 91px 0px 32px 0px !important;
}


.parse {
  height: 279px;
  width: 400px;
  margin: 0px auto;
  margin-top: 78px;
  .progress-svg {
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    .analyzing-gif1 {
      width: 203px;
      height: 116px;
      position: absolute;
      left: 25%;
      top: 11%;
    }
    .analyzing-gif {
      width: 203px;
      height: 116px;
    }
  }
  .progress {
    margin-top: 35px;
    .line {
      width: 100%;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
      .bar {
        height: 4px;
        width: 100px;
        display: inline-block;
        background-color: #61d274;
        position: absolute;
        top: 0px;
        left: 0px;
        animation: progressBar 1.5s linear infinite;
      }
    }
    .value {
      position: absolute;
      top: 214px;
      right: 222px;
    }
    @keyframes progressBar {
      0% {
        left: -100%;
      }

      100% {
        left: 100%;
      }
    }
    .statusBox {
      p {
        height: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        font-size: 12px;

        .pstatus-ready {
          width: 12px;
          height: 12px;
          border: 2px solid #cccccc;
          border-radius: 50%;
          margin-right: 8px;
        }
        .pstatus {
          border: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 8px;
        }
        .vstatus-ready {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 8px;
        }
        .vstatus {
          border: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 8px;
        }
        .retry {
          margin-left: 80px;
          color: #0067ff;
          cursor: pointer;
          margin-left: 35px;
        }
        .replace {
          margin-left: 20px;
          color: #0067ff;
          cursor: pointer;
        }
        .statusMsg {
          max-width: 245px;
          white-space: pre-wrap;
        }
      }
    }
  }
}
