$com30: 1.5625vw;
$com440: 440px;

$col97: #979797;
$themeColor: #0067FF;
$switchOffColor: #9ea4b3;

.home-container {
  position: relative;
  flex: 1;
  width: 100%;
  min-height: 100%;
  .banner-container {
    height: 49%;
    position: relative;
    overflow: hidden;

    .bg-img {
      position: absolute;
      width: 100%;
    }

    .welcome {
      margin-left: 3%;
      top: 5.6vw;
      position: relative;
      color: #fafbff;
    }

    .welcome p:nth-child(1) {
      font-size: 48px;
      color: #fafbff;
    }

    .welcome p:nth-child(2) {
      top: 1.6vw;
      font-size: 16px;
      position: relative;
      color: #fafbff;
    }
  }

  .right-title {
    padding-bottom: 12px;
    border-bottom: 1px dashed #dadadc;
    font-weight: 500;
  }

  .project-container {
    position: relative;
    display: flex;

    .project-left {
      box-sizing: border-box;
      position: relative;
      flex: 2.7 1 auto;
      padding: 32px $com30 66px;
      border-right: 1px solid #e1e6ee !important;
      background: #fff;

      .left-container {
        .left-content {
          display: inline-block;
          width: 740px;
          .areaMatch {
            width: 440px;
            box-sizing: border-box;
            word-wrap: break-word;
            white-space: pre-line;
            padding: 7px;
            font-size: 14px;
            position: relative;
          }
          .areaMatch-zh {
            word-break: break-all;
          }
          .version-select {
            width: 212px;
          }

          ti-select, input {
            width: $com440;
          }
          /* 输入自动匹配 */
          .areaMatchDiv {
            position: absolute;
            left: 0 ;
            width: $com440;
            box-sizing: border-box;
            border: 1px solid $themeColor;
            border-top: 1px solid #E1E6EE;
            background-color: #fff;
            z-index: 9;
            max-height: 300px;
            overflow-y: auto;
            &.areaMatchMac {
              margin-top: -22px;
            }
            &.areaMatchMacEn {
              margin-top: -38px;
            }
            li {
              padding: 8px 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                font-size: 14px;
                color: #282b33;
                line-height: 20px;
                width: calc( 100% - 32px);
              }
              div {
                background: url("../../../../assets/img/common/icon_delete_nor.svg") no-repeat;
                width: 16px;
                height: 16px;
                &:hover {
                  background-image: url("../../../../assets/img/common/icon_delete_sel.svg");
                }
              }
            }
            li:hover {
              background-color: #F5F9FF;
            }
          }
        }

        .fixed-path {
          display: inline-block;
          background-color: #f0f0f0;
          color: #999;
          border: 1px solid #ccc;
          cursor: not-allowed !important;
          height: 32px;
          line-height: 32px;
          border-right: none;
          vertical-align: middle;
          box-sizing: border-box;
          padding: 0 10px;
          font-size: 14px;
          border-radius: 2px;
        }
      }

      .operation {
        min-width: 130px;
        color: #fff;
      }

      .operation[disabled] {
        color: #b8becc;
      }
    }

    .project-right {
      flex: 1 1 auto;
      background: #fff;
      .right-list {
        width: 100%;
        margin-bottom: 20px;
        padding-top: 20px;
        height: calc(100% - 64px);
        line-height: 36px;
        overflow-y: auto;
        li {
          display: flex;
          font-size: 14px;
          justify-content: space-between;
          span {
            .delete-img {
              width: 16px;
              height: 16px;
              display: inline-block;
              margin-left: 24px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.tip-container {
  box-sizing: border-box;
  position: absolute;
  background-color: #fff;
  color: #666;
  padding: 9px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 5000;
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  transform: translate(-80%, 30%);
  width: 200px;
}
/* 源码类型 */
.ti-item-right-content {
  margin-left: 16px;
  .source-type {
    margin-right: 40px;
  }
  .source-type-en {
    margin-right: 30px;
  }
  .user-path {
    height: 28px;
    line-height: 28px;
    max-width: 540px;
  }
  .command-tip {
    width: 460px;
    margin-top: 4px;
    font-size: 12px;
    color: $col97;
  }
}

.kernel-input {
  border-color: #ccc;
  background-color: #f5f5f5;
  line-height: 28px;
}

.generate-btn {
  margin-top: 4px;
}

.tip-container::after {
  display: block;
  position: absolute;
  content: "";
  top: -11px;
  left: 140px;
  border-bottom: 11px solid #fff;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
}

:host .errorMessageWrapper ::ng-deep .ti3-validate-text {
  font-size: 14px;
}

:host .firstLogin ::ng-deep .ti3-validate-text {
  font-size: 14px;
}

.firstLogin {
  padding: 35px;
  background: white;

  .title-border {
    height: 1px;
    display: block;
    width: 100%;
    background: #d4d9e6;
    margin-top: 1vw;
  }

  .create-title {
    color: #222;
  }

  .edit-box {
    margin-top: 1vw;
  }

  .btn-box {
    margin-top: 1vw;
    text-align: center;
  }
}

:host .firstLogin ::ng-deep .ti3-validate-text {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.selectUpload {
  box-sizing: border-box;
  display: inline-flex;
  position: absolute;
  top: 28px;
  left: 440px;
  min-width: 80px;
  margin-left: 8px;
  border: solid 1px #979797;
  background-color: #fff;
  font-size: 14px;
  color: #282b33;
  text-align: left;
  line-height: 14px;
  font-weight: normal;
  font-stretch: normal;
  border-radius: 1px;
  letter-spacing: 0;
}
.selectUpload:hover {
  border-radius: 1px;
  border-color: #0067FF;
}

.selectUpload-disabled {
  top: 28px;
  right: 0;
  left: 440px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #ccc;
  max-width: 80px;
}
.selectUpload-disabled:hover {
  border: 1px solid #ccc;
}

.selectUpload li,
.selectUpload label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 80px;
  height: 34px;
  padding-left: 10px;
}

.selectItem {
  justify-content: center;
  padding-left: 0;
  text-align: left;
  > p {
    height: 100%;
    line-height: 34px;
    &:first-child {
      margin-top: -2px;
    }
  }
}

.selectItem:hover {
  background-color: #0067FF;
  color: #fff;
}

.enSelectUpload {
  left: $com440;
  width: 8.59375vw;
  z-index: 99;
  ul,
  li,
  label {
    width: 100%;
  }
}

.alerm-container {
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 0;

  .alerm-circle {
    width: 80px;
    display: inline-block;
    height: 80px;
  }

  .alerm-tip {
    background-color: #282b33;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    width: max-content;
    position: absolute;
    top: 80px;
    left: calc(-100% - 60px);
    display: none;
    padding: 10px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
  }
}

.alerm-container:hover .alerm-tip {
  display: block;
  z-index: 200;
}

.config-modal {
  .mask-title {
    .close-btn {
      cursor: pointer;
    }
  }
  .btn-box {
    margin-top: 32px;
    button {
      min-width: 88px !important;
      &:nth-child(2) {
        margin: 0 16px;
      }
    }
  }
  .mask-footer {
    margin-top: 32px;
    text-align: center;
  }
}

/* 上传 info start */
.no-file-selected,
.upload-restule-tip,
.mac-info {
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
  width: 460px;
}
.mac-info {
  color: $col97;
}

.no-file-selected {
  span {
    color: #ED4B4B;
  }
}

.no-file-selected,
.upload-restule-tip {
  img {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}


/* 上传 info start */

.arm-tip-container {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  background-color: #F0F6FF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: solid 1px #0067FF;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: 0;
  color: #282b33;
  position: relative;
  margin-bottom: 15px;

  .img-box {
    img {
      width: 16px;
      margin-right: 6px;
    }
  }

  img {
    vertical-align: middle;
  }

  .arm-content {
    margin-right: 10px;
  }

  .close-arm-tip {
    position: absolute;
    right: 16px;
    cursor: pointer;
  }

  .link:hover {
    text-decoration: underline;
  }
  .link:active {
    text-decoration: underline;
  }
}

.common-size {
  font-size: 12px;
}

// 上传按钮
@media screen and (max-width: 1575px) {
  .enSelectUpload {
    width: 92px;
  }
}

@media screen and (min-width: 1575px) {
  .ti-item-en-right-content {
    width: 500px;
  }
}
/* 源码增强检查 英文状态 */
@media screen and (max-width: 1792px) {
  .enhanced-text {
    max-width: 150px;
  }
}

.port-tip {
  height: 18px;
  font-family: FZLTHJW--GB1-0;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: 0;
  color: #979797;
}

.enhanced-text {
  vertical-align: middle;
}
.enhanced-img {
  width: 14px;
  vertical-align: middle;
  margin-left: 3px;
  cursor: pointer;
}

.link {
  font-size: 12px;
  color: #0067FF !important;
  &:hover {
    text-decoration: none !important;
    color: #5E9EFF !important;
  }
}

::ng-deep .ti3-tooltip-content a:visited{
  color: #0067FF !important;
}
.del-report-notDown {
  width: 400px !important;
}

.btn-box-down {
  text-align: center;
  width: 100%;
  button {
    min-width: 88px !important;
  }
  .user-sure-btn {
    margin-right: 6px;
  }
}
