<div id='appParamsForm'>
  <ti-formfield [formGroup]="appParamsFormGroup" [labelWidth]="labelWidth">
    <ti-item [label]="i18n.common_term_task_crate_app_path" [required]="true">
      <input [ngStyle]="{'width': inputWidth}" class="inputBox" type="text" tiText formControlName='appPath'
        [tiValidation]='validation' [placeholder]="appPathPlaceholder" />
      <div class="bottomTip" tiOverflow>{{i18n.mission_create.modeAppPathSaftWarn}}</div>
      <div class="bottomTip" tiOverflow [ngStyle]="{'width': tipWidth}">{{appPathTip}}</div>
    </ti-item>
    <ti-item [label]="i18n.common_term_task_crate_parameters">
      <textarea [ngStyle]="{'width': inputWidth}" tiTextarea type="text" class="textarea-params"
        formControlName='appParams' [tiValidation]='validation' resize="'vertical'"
        [placeholder]="i18n.mission_create.modeAppParamsHolder"></textarea>
    </ti-item>
    <ti-item [label]="i18n.common_term_task_crate_app_runUser">
      <ti-switch id="myswitch" [(ngModel)]="runUserSwitch" (ngModelChange)="runUserparamChange($event)"
        formControlName='appUserSwitch'>
      </ti-switch>
    </ti-item>
  </ti-formfield>
  <div class="appUser" *ngIf="runUserSwitch">
    <ti-formfield [formGroup]="userFormGroup" [labelWidth]="labelWidth">
      <ti-item [label]="i18n.common_term_task_crate_app_user" [required]="true">
        <input [ngStyle]="{'width': inputWidth}" class="inputBox"
          [placeholder]='i18n.common_term_task_crate_app_runUser_pwdPlaceholder' type="text" tiText
          [tiValidation]='validation' formControlName='userName'>
      </ti-item>
      <ti-item [label]="i18n.common_term_task_crate_app_passWord" [required]="true">
        <input [ngStyle]="{'width': inputWidth}" class="inputBox"
          [placeholder]='i18n.common_term_task_crate_app_passWord_pwdPlaceholder' type="password" tiText
          [tiValidation]='validation' formControlName='password' appDisableCtrl>
      </ti-item>
    </ti-formfield>
  </div>
</div>