.mask {
  background: rgba(0, 0, 0, 0.298);
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 150;
}
.mask.active {
  display: block;
}
.content-box {
  display: none;
  position: fixed;
  background: white;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
}
.content-box.active {
  display: block;
}
