<div id="detail-container" class="custemDetailContainer">
  <ti-tabs class="custemTabs tabsWithSplitLine tabsWithUnderline">
    <ti-tab [(active)]="item.active" *ngFor="let item of detailList; let index = index" [disabled]="item.disable" (activeChange)='change()'>
      <ti-tab-header>
        <span>{{item.title}}</span>
      </ti-tab-header>

      <!--懒加载的内容区必须使用ng-template标签包裹，并且加上#tiTabContent的标识-->
      <ng-template #tiTabContent>
      <div class="content-container"
        *ngIf="item.title == i18n.common_term_task_tab_congration && item.disable==false">
        <app-configuration [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [status]='status'
          [analysisType]='analysisType' [taskid]='id'></app-configuration>
      </div>
      <div class="content-container"
        *ngIf="item.title == i18n.common_term_task_tab_log && item.disable==false">
        <app-configuration-log [status]='status' [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName'
          [analysisType]='analysisType' [taskid]='id'></app-configuration-log>
      </div>
      <div class="content-container"
        *ngIf="item.title == i18n.common_term_task_tab_summary && item.disable==false">
        <app-lock-summury [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName'
          [analysisType]='analysisType' [taskid]='id'></app-lock-summury>
      </div>
      <div class="content-container"
        *ngIf="item.title == this.i18n.lock.timing && item.disable==false">
        <app-timing-summury [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName'
          [analysisType]='analysisType' [taskid]='id'></app-timing-summury>
      </div>
      </ng-template>
    </ti-tab>
  </ti-tabs>
</div>
