.cpu-usage {
  .cpu-header {
    display: flex;
    .title {
      margin-right: 16px;
      font-size: 20px;
    }
    .cpu-selected {
      width: 144px;
      height: 28px;
    }
  }

  .cpu-table {
    .pagination {
      margin-top: 18px;
    }
  }
}