.config-detail {
  .table + .table {
    margin-top: 32px;
  }

  .table {
    .title {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;
      height: 24px;
      color: #222222;
    }

    ti-table {

      .ti3-table-fixed-head {
        .thContent {
          display: flex;
          align-items: center;
          ::ng-deep .ti3-cell-text {
            max-width: 100% !important;
          }
        }
      }

      .ti3-table-container {
        min-height: 272px;

        .pro-rate {
          background: #d6e4ff;
        }
      }

      ti-pagination {
        --ti-pagination-margin-top-table: 20px;
      }
    }
  }
}

.config-detail ::ng-deep {
  .ti3-table>.ti3-table-fixed-head>table>thead>tr>th {
    line-height: 13px;
  }
}