::ng-deep {

    // 表格列头筛选下拉框
    ti-drop {
        &.ti3-dropdown-container {
            background-color: var(--vscode-editor-background);
        }

        &.ti3-head-filter-drop {
            padding: 0;
        }
    }
}

:host ::ng-deep {
    .overview-container {
        --ti-valid-error-color: #ee2223;

        app-time-line .box {
            margin-bottom: 0;
        }

        // ti3 TiTimeModule 组件输入框样式
        ti-time .ti3-time-input {
            border: none !important;
            background: none !important;
        }

        a:focus,
        input:focus,
        select:focus,
        textarea:focus {
            outline: none;
        }

        .ti3-table-fixed-head {

            // 列头筛选图标
            .ti3-head-filter-container {
                .ti3-head-filter-icon {
                    font-size: 16px;
                    color: var(--d-aaaaaa-l-616161);
                }

                &:not(.ti3-head-filtered) .ti3-head-filter-icon {
                    color: var(--d-aaaaaa-l-616161);
                    &:hover {
                        color: #267dff;
                    }

                    &:active {
                        color: #0057d9;
                    }
                }
            }

            // 列头排序图标
            .ti3-sort-container {
                .ti3-sort {
                    color: var(--d-aaaaaa-l-616161);
                    font-size: 16px;
                }
            }
        }

        ti-pagination {
            ti-select {
                height: 24px !important;
                background-color: #313131;

                &:focus {
                    border-color: #747474 !important;
                }

                &:hover {
                    border-color: #747474 !important;
                }
            }

            // 总条数
            .ti3-pag-total-items {
                color: var(--ti-table-td-text-color) !important;
                float: left !important;
                font-family: FZLTHJW--GB1-0 !important;
                font-size: 12px !important;
            }

            // 翻页
            .ti3-pag-next,
            .ti3-pag-prev {
                color: var(--ti-table-td-text-color) !important;
                background-color: inherit !important;
                width: 22px !important;
                height: 22px !important;

                &:hover {
                    color: #ffffff !important;
                    background-color: #0067ff !important;
                }

                &:active {
                    color: #ffffff !important;
                    background-color: #0057d9 !important;
                }

                &.disabled {
                    color: #666666 !important;
                    background-color: inherit !important;
                }
            }

            // 页数
            .ti3-pag-page {
                color: var(--ti-table-td-text-color) !important;
                display: inline-block;
                cursor: pointer;
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                font-family: FZLTHJW--GB1-0 !important;
                font-size: 12px !important;
                border-radius: 2px !important;

                &:hover {
                    background-color: #267dff !important;
                    color: #ffffff !important;
                }

                // 按下
                &:active {
                    background-color: #0057d9 !important;
                }

                // 当前选中
                &.active {
                    background-color: #0067ff !important;
                    color: #ffffff !important;
                }
            }
        }
    }
}

.overview-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 153px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    .container {
        width: 100%;
        height: 100%;

        .springBoot-login {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .login-form {
                width: 390px;

                .login-title1 {
                    font-size: 24px;
                    color: #aaaaaa;
                    margin-bottom: 15px;
                    line-height: 33px;
                    font-family: 'PingFangSC-Regular';
                }

                .login-title2 {
                    font-size: 32px;
                    color: var(--common-font-color);
                    line-height: 32px;
                    margin-bottom: 48px;
                    font-family: 'PingFangSC-Semibold';
                }

                .login-form-item {
                    &:nth-of-type(2) {
                        margin-top: 20px;
                    }

                    .login-form-item-label {
                        font-size: 14px;
                        color: var(--common-font-color);
                        line-height: 16px;
                        font-family: 'PingFangSC-Regular';
                    }

                    input {
                        width: 100%;
                        border: none !important;
                        border-bottom: 1px #888888 solid !important;
                        font-size: 18px !important;
                        line-height: 25px;
                        height: 25px !important;
                        padding: 10px 0 5px 0 !important;
                        box-sizing: content-box;
                        color: var(--common-font-color) !important;

                        &::placeholder {
                            color: #616161;
                        }

                        &:focus,
                        &:active {
                            border-bottom-color: #0067ff !important;
                        }

                        &.ng-invalid.ng-touched[tiBlurCheck]:not([tiFocused]),
                        &.ng-invalid.ng-dirty[tiBlurCheck]:not([tiFocused]),
                        &.login-failed {
                            border-bottom-color: #ee2223 !important;
                        }

                        ti-error-msg {
                            margin-top: 10px;
                        }
                    }
                    
                    .passwd-box {
                        position: relative;
                    }
                }

                .login-failed-msg {
                    margin-top: 10px;
                    color: #ee2223;
                    font-size: 14px;
                }
            }

            .login-btn {
                display: inline-block;
                width: 100%;
                height: 48px;
                line-height: 48px;
                border-radius: 1px;
                font-size: 20px;
                text-align: center;
                background-color: #0067ff;
                color: #ffffff;
                margin-top: 48px;
                cursor: pointer;
            }
        }

        .dataDteail {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;

            .button-container {
                flex: none;
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                img {
                    margin-left: 8px;
                }

                .start-button {
                    display: flex;
                    align-items: center;
                    padding-right: 24px;

                    .springBoot-btn {
                        background: #0067ff;
                        width: 160px;
                        height: 28px;
                        line-height: 28px;
                        border: none;
                        border-radius: 2px;
                        font-size: 12px;
                        color: #e8e8e8;
                        cursor: pointer;

                        &:disabled {
                            color: #aaaaaa;
                            background: #313131;
                        }
                    }
                }

                .threshold-value-box {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 8px;
                        font-size: 14px;
                        color: var(--d-e8e8e8-l-222222);
                        line-height: 28px;
                    }

                    input {
                        width: 80px;
                        border-radius: 1px !important;
                        box-sizing: border-box;
                        padding: 0 15px;
                        color: var(--d-e8e8e8-l-222222) !important;

                        &:disabled {
                            cursor: not-allowed;
                            color: #aaa !important;
                        }
                    }
                }
            }

            .spring-boot-tab {
                flex: none;
                display: flex;
                margin-bottom: 20px;
                .item-tab {
                    position: relative;
                    font-size: 14px;
                    color: var(--d-aaaaaa-l-616161);
                    height: 20px;
                    line-height: 20px;
                    box-sizing: content-box;
                    padding: 0 17px 8px 16px;
                    cursor: pointer;

                    // tab之间的竖线
                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 1px;
                        height: 10px;
                        background-color: #888888;
                        left: -1px;
                        top: 5px;
                    }

                    &.tab-active {
                        color: #0067ff;

                        // active状态的tab下的下划线
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 30px;
                            height: 2px;
                            background-color: #0067ff;
                            left: 50%;
                            margin-left: -15px;
                            bottom: 0;
                        }
                    }

                    &:nth-of-type(1) {
                        padding-left: 0;

                        &::before {
                            content: none;
                        }

                        &::after {
                            margin-left: -24px;
                        }
                    }
                }
            }

            &>div:last-of-type {
                flex: 1;
                width: calc(100% - 25px);
            }

            .health {
                .healthList {
                    background-color: var(--d-161616-l-ffffff);
                    padding: 24px;

                    .instance {
                        border-bottom: 1px solid var(--ti-table-border-bottom-color);
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-bottom: 24px;
                        color: #e8e8e8;

                        .title {
                            font-size: 20px;
                            line-height: 20px;
                            height: 20px;
                        }

                        .status {
                            font-size: 14px;
                            line-height: 14px;
                            color: var(--d-e8e8e8-l-222222);
                            margin-left: 24px;
                            display: flex;
                            align-items: center;

                            span {
                                margin-right: 8px;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background: #4477d1;
                            }
                        }
                    }

                    .list {
                        display: flex;
                        flex-flow: row wrap;
                        padding-top: 24px;
                        color: var(--d-e8e8e8-l-222222);

                        .list-item {
                            flex: 1;
                            width: 33%;
                            box-sizing: border-box;

                            .itemDate {
                                display: flex;
                                align-items: center;
                                margin-bottom: 32px;
                                color: #e8e8e8;

                                .title {
                                    font-size: 16px;
                                    height: 16px;
                                    line-height: 16px;
                                }

                                .status {
                                    font-size: 14px;
                                    line-height: 14px;
                                    color: var(--d-e8e8e8-l-222222);
                                    margin-left: 24px;
                                    display: flex;
                                    align-items: center;

                                    span {
                                        margin-right: 8px;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background: #4477d1;
                                    }
                                }
                            }

                            .item-details {
                                display: flex;
                                flex-wrap: wrap;
                            }

                            .database {
                                width: 100%;
                                margin-top: 20px;
                                box-sizing: border-box;
                                font-size: 14px;

                                &:nth-of-type(1) {
                                    margin-top: 0;
                                }

                                .key {
                                    color: var(--d-aaaaaa-l-616161);
                                    margin-right: 24px;
                                }
                            }
                        }
                    }
                }
            }

            .beans {
                height: calc(100% - 96px);
                overflow-y: scroll;

                .beansList {
                    font-size: 14px;
                    line-height: 18px;

                    .beans-item {
                        &:nth-of-type(1) .beansData {
                            border-top: 1px solid var(--ti-table-border-bottom-color);
                        }

                        .beansData {
                            height: 48px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid var(--ti-table-border-bottom-color);
                            padding: 0 43px 0 24px;
                            box-sizing: border-box;

                            .arrow {
                                width: 16px;
                                height: 16px;
                                padding: 3px 5px;
                                box-sizing: border-box;

                                &.active {
                                    transform: rotate(90deg);
                                }
                            }

                            .divider {
                                width: 2px;
                                height: 14px;
                                background: #545454;
                                margin: 0 16px;
                            }

                            .beanName {
                                width: 40%;
                                margin-left: 24px;
                                color: var(--d-e8e8e8-l-222222);
                            }

                            .type {
                                flex: 1;
                                color: var(--d-aaaaaa-l-616161);
                                font-size: 12px;
                            }

                            .scope {
                                font-size: 12px;
                                color: var(--d-aaaaaa-l-616161);
                            }
                        }

                        .beansContent {
                            padding-left: 40px;
                            border-bottom: 1px solid var(--ti-table-border-bottom-color);
                            background: var(--d-252525-l-f5f9ff);

                            .box {
                                background: var(--d-161616-l-ffffff);
                                padding: 24px;
                                border-left: 2px solid #0067ff;

                                div:nth-of-type(2) {
                                    margin-top: 20px;
                                }

                                .resource,
                                .dependencies {
                                    display: flex;
                                    line-height: 21px;
                                    color: var(--d-e8e8e8-l-222222);

                                    span {
                                        color: var(--d-aaaaaa-l-616161);
                                        width: 72px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .metrics {
                .echartsList {
                    .myecharts {
                        margin-top: 40px;
                        width: calc(100% + 25px);
                        height: 214px;

                        &:nth-of-type(1) {
                            margin-top: 32px;
                        }
                    }
                }
            }

            .http-traces {
                .filter-input {
                    display: flex;
                    margin-bottom: 20px;
                    .input-box {
                        font-size: 12px;
                        width: 400px;
                        height: 28px;
                        border: 1px solid #888888;
                        border-radius: 2px;
                        display: flex;
                        line-height: 26px;
                        padding: 0 10px;
                        margin-right: 10px;

                        &:focus {
                            border-color: #0067ff;
                        }

                        input {
                            border: none !important;
                            width: 100%;
                            height: 26px !important;
                            padding-right: 10px;

                            &::placeholder {
                                color: #616161;
                            }
                        }

                        .count {
                            color: #616161;
                            flex: none;
                        }
                    }

                    button {
                        border: 1px solid var(--d-dddddd-l-979797);
                        border-radius: 2px;
                        width: 100px;
                        height: 28px;
                        background: var(--d-313131-l-ffffff);
                        color: var(--d-e8e8e8-l-222222);
                        font-size: 12px;
                        cursor: pointer;

                        &:hover {
                            color: #267dff;
                            border-color: #267dff;
                        }

                        &:active {
                            color: #0057d9;
                            border-color: #0057d9;
                        }
                    }

                    >img {
                        margin-left: 8px;
                    }
                }


                .echarts {
                    display: flex;
                    flex-direction: column;

                    #http-echarts {
                        width: calc(100% + 25px);
                        height: 240px;
                    }

                    app-time-line {
                        margin-bottom: 20px;
                    }
                }

                .tracesTable {
                    margin-top: 20px;
                    position: relative;

                    ti-table {
                        .ti3-table-fixed-head {
                            height: 32px;

                            th {
                                border-bottom: none;

                                // 列头单元格文字样式
                                ti-cell-text {
                                    font-size: 14px;
                                }
                            }
                        }

                        .ti3-table-container {
                            min-height: 160px;
                            max-height: 400px;
                            font-size: 14px;
                            border-top: 1px solid var(--ti-table-border-bottom-color);
                            border-bottom: 1px solid var(--ti-table-border-bottom-color) !important;
                            background: var(--d-161616-l-ffffff);

                            th {
                                border-bottom: none;
                            }

                            td {
                                color: var(--d-aaaaaa-l-616161);
                            }
                        }
                    }
                }

                .select-time {
                    font-size: 14px;
                    display: none;
                    position: absolute;
                    top: 32px;
                    left: 50px;
                    background-color: var(--vscode-editor-background);
                    border: 1px solid var(--ti-select-border-color-focus);
                    border-radius: 2px;
                    padding: 0 10px;
                    box-sizing: border-box;

                    .title {
                        width: 100%;
                        font-size: 16px;
                        height: 38px;
                        line-height: 38px;
                    }

                    .select-time-container {
                        border-top: 1px dashed var(--ti-table-border-bottom-color);
                        border-bottom: 1px dashed var(--ti-table-border-bottom-color);
                        padding-bottom: 10px;

                        p {
                            margin-top: 10px;
                        }

                        .data-input {
                            width: 100px;
                            height: 30px;
                            border: 1px solid #ccc;
                            margin-right: 15px;
                            padding-left: 10px;
                            box-sizing: border-box;
                        }
                    }

                    .time-btn {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        padding: 10px 0;

                        button {
                            font-size: 14px;
                            height: 28px;
                            line-height: 28px;
                            padding: 0 15px;
                            border-radius: 2px;
                            border: none;
                            color: #e8e8e8;
                            cursor: pointer;

                            &.time-btn-ok {
                                background: #0067ff;

                                &:hover {
                                    background: #267dff;
                                }

                                &:active {
                                    background: #0057d9;
                                }
                            }

                            &.time-btn-cancel {
                                background: #313131;
                                border: 1px solid #dddddd;

                                &:hover {
                                    color: #267dff;
                                    border-color: #267dff;
                                }

                                &:active {
                                    color: #0057d9;
                                    border-color: #0057d9;
                                }
                            }
                        }
                    }

                    &.active {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                // 状态过滤弹窗
                .status-filter {
                    font-size: 14px;
                    display: none;
                    position: absolute;
                    top: 32px;
                    left: 60%;
                    background-color: var(--vscode-editor-background);
                    border-radius: 2px;
                    border: 1px solid var(--ti-select-border-color-focus);

                    span {
                        line-height: 30px;
                        padding: 0 10px;
                        box-sizing: border-box;
                        height: 30px;
                        width: 100%;

                        &:hover {
                            background-color: #313131;
                        }
                    }

                    .btn-group {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding: 10px 0;

                        button {
                            font-size: 14px;
                            height: 28px;
                            line-height: 28px;
                            padding: 0 15px;
                            border-radius: 2px;
                            background: #0067ff;
                            border: none;
                            color: #e8e8e8;
                            cursor: pointer;

                            &:hover {
                                background: #267dff;
                            }

                            &:active {
                                background: #0057d9;
                            }
                        }
                    }

                    // 显示状态
                    &.active {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }

    }
}
.timeFilter {
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    width: 20px;
    margin-left: 6px;
    color: var(--d-aaaaaa-l-616161);
    &:hover {
        color: #267dff;
    }

    &:active {
        color: #0057d9;
    }
}
:host .ti3-icon-filter:before {
    font-size: 16px;
}
.springBoot-btn:hover {
    background-color: #267DFF !important;
}
.springBoot-btn:active {
    background-color: #0057D9 !important;
}
.spring-boot-tab .item-tab:hover {
    color: #267dff !important;  
}
.eyes {
    position: absolute;
    left: 375px;
    top: 12px;
    width: 20px;
    height: 20px;
}
::ng-deep .vscode-dark {
    --common-font-color: #e8e8e8;
}
::ng-deep .vscode-light {
    --common-font-color: #222222;
    .ti3-table-container {
        background: #fff !important;
    }
}
:host ::ng-deep .ti3-table>.ti3-table-fixed-head>table>thead>tr>th{
    line-height: 16px !important;
}