<app-mission-modal #missionModal class="configNodeModal" [drawerClass]="'configNodeModal'">
  <div class="modal-dialog" [ngClass]="[explorer]" [style.width.px]="760 - (drawerLevel || 0) * 32">
    <div class="modal-title">{{ i18n.mission_create.nodeParamsConfig}}</div>

    <div class="modal-content">
      <div class="nodeInfo">
        <ti-formfield [labelWidth]="labelWidth">
          <!-- 节点别名 -->
          <ti-item [label]="i18n.common_term_another_nodename">
            <span class="nodeInfoItem">{{ nodeName }}</span>
          </ti-item>

          <!-- 节点IP -->
          <ti-item [label]="i18n.common_term_node_ip">
            <span class="nodeInfoItem">{{ nodaIP }}</span>
          </ti-item>
        </ti-formfield>
      </div>

      <ng-content select="ti-formfield" class="customFormField"></ng-content>
      <ng-content select=".model-body"></ng-content>
      <ng-content select="app-task-form"></ng-content>
    </div>

    <ng-content select="footer"></ng-content>
  </div>
</app-mission-modal>