::ng-deep .vscode-dark {
    --title-text-color: #aaaaaa;
}
::ng-deep .vscode-light {
    --title-text-color: #616161;
}
.createProBox {
    padding-left: 56px;
}
.div-p-title {
    margin: 40px 0px 20px 80px;
    .p-title {
        font-size: 20px;
        line-height: 26px;
        color: var(--title-text-color);
    }
}
