.system-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  header {
    display: flex;

    hy-theme-content {
      margin-left: 8px;
      cursor: pointer;
  
      app-icon-react {
        display: block;
        width: 28px;
        height: 28px;
      }
    }
  }

  .topology-tree {
    height: calc(100% - 28px - 10px - 224px);
    padding-bottom: 18px;
    box-sizing: border-box;
  }
}