@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.maskBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > .containerBox {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .circleBox {
            position: relative;
            width: 56px;
            height: 56px;

            > .circleItem {
                > .circle {
                    width: 100%;
                    height: 100%;
                    animation-fill-mode: both;
                    background-color: #0067ff;
                    border-radius: 50%;
                }
            }
        }

        > .text {
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
            color: #616161;
        }
    }
}
