<app-common-table [isFilters]="true" [commonTableData]="tableData">
    <ng-template let-displayed let-tabcolumns="columns">
        <tbody>
            <ng-container *ngFor="let row of displayed;index as i">
                <tr>
                    <ng-container *ngFor="let column of tabcolumns;">
                        <ng-container *ngIf="column.key === 'original' && isLookCommandDetail else other">
                            <td *ngIf="column.show || column.show === undefined" 
                                class="can-click" (click)="triggerCommand(row)"
                                [tiTip]='commandTip' [tiTipContext]='row' tiTipPosition="right" tiTipMaxWidth='400px'>
                                {{ row[column.key] || '--' }}
                            </td>
                        </ng-container>
                        <ng-template #other>
                            <td *ngIf="column.show || column.show === undefined" tiOverflow>{{ row[column.key] || '--' }}</td>
                        </ng-template>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </ng-template>
</app-common-table>

<!-- command指令tip -->
<ng-template #commandTip let-context='context'>
    <div class="tip-hot-func-content">
        <div class="tip-func-name">{{ context.original }}</div>
        <div class="tip-middle-line"></div>
        <ng-container *ngIf="context.cmdline">
            <div class="tip-cmd-title" >cmdline</div>
            <div class="tip-cmd-name">{{ context.cmdline }}</div>
        </ng-container>
        <div class="tip-no-tracks" *ngIf="!context.cmdline">{{ 'tuninghelper.taskDetail.noCommandLine' | i18n }}</div>
    </div>
</ng-template>