.config-detail {

  .table + .table {
    margin-top: 32px;
  }

  .table {
    .title {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;
      height: 24px;
      color: var(--common-color-font-primary);
    }

    ti-table {

      .ti3-table-fixed-head {
        .thContent {
          ::ng-deep .ti3-cell-text {
            max-width: 100% !important;
          }
        }
      }
      .ti3-table-container {
        min-height: 272px;
        max-height: 410px;
      }

      ti-pagination {
        --ti-pagination-margin-top-table: 20px;
      }
    }
  }
}
