<div id="httpcontent" class="overview-container" style="height: calc(100% - 65px);">
    <div class="thread-content">
        <div style="display: inline-block;justify-content: space-between; flex: none;" *ngIf="!isDownload">
            <div>
                <div style="display: inline-block;">
                    <button type="button" class="operation-anal" [disabled]="startBtnDisabled" (click)="startHttp()"
                        *ngIf="!isStart&&!snapShot">
                        {{ i18n.protalserver_profiling_http.start }}
                    </button>
                    <button type="button" class="operation-anal" (click)="stopHttp()" *ngIf="isStart">
                        {{ i18n.protalserver_profiling_http.stop }}
                    </button>
                    <img [tiTip]="httpBtnTip" tiTipPosition="right"
                        style="position: relative; width: 11px; height: 11px;margin-left: 5px;"
                        src="./assets/img/projects/help.svg" *ngIf="!snapShot">
                </div>
                <div style="display: inline-block;" [ngStyle]="{'margin-left' : snapShot ? 0 : '40px'}">
                    <span style="margin-right: 10px; font-size: 14px;">{{ threshold.label}}</span>
                    <ti-formfield class="httpForm" [formGroup]="httpGroup">
                        <ti-item>
                            <ti-spinner style="width: 80px; height: 28px !important; background-color: transparent;"
                                class="http-threshold" name="spinner" [format]="threshold.format"
                                [tiRangeValue]="threshold.rangeValue" tiValidation tiRequired
                                [disabled]="!canInput||snapShot" (blur)="verifySpinnerValue(httpBlur)"
                                formControlName="http_threshold">
                            </ti-spinner>
                        </ti-item>
                    </ti-formfield>

                    <img [tiTip]="httpThresholdTip" tiTipPosition="right"
                        style="position: relative; width: 11px; height: 11px;margin-left: 5px;"
                        src="./assets/img/projects/help.svg" alt="">
                </div>
            </div>
            <!-- 先隐藏快照功能 -->
            <div style="position: relative;" *ngIf="false">
                <img (click)="doSnap('http')" [tiTip]='tipSnapshot' tiTipMaxWidth="221px" [tiTipContext]='tip1Context'
                    src="./assets/img/home/snapshot_border.svg">
                <span class="red_count" *ngIf="snapCount > 0">{{snapCount}}</span>
            </div>
        </div>
        <div *ngIf="(echartDatas.request.length) else elseNodata">
            <div class="thread-tabs">
                {{ i18n.protalserver_profiling_http.hot_spots }}
            </div>
            <div class="hot-tree" id="http-hot-tree" [ngStyle]="{ height: treeHeight }">
                <ti-tree [data]="httpTreeData" *ngIf="httpTreeData[0].children.length"></ti-tree>
            </div>
            <div class="unfolder_data">
                <hy-theme-content [hidden]="unfoldedFlag" (click)="operateTreeNode()">
                    <app-icon-react name="expandDown" light></app-icon-react>
                    <app-icon-react name="expandDownDark" dark></app-icon-react>
                </hy-theme-content>
                <hy-theme-content [hidden]="!unfoldedFlag" (click)="operateTreeNode()">
                    <app-icon-react name="expandUp" light></app-icon-react>
                    <app-icon-react name="expandUpDark" dark></app-icon-react>
                </hy-theme-content>
            </div>
            <div style="min-height: 100px; width: 100%; margin-top: 45px;">
                <app-time-line *ngIf="timeData.length" [timeData]='timeData' (timeLineData)='timeLineData($event)'
                    #timeLineDetail>
                </app-time-line>
                <div *ngIf="echartDatas.request.length">
                    <ng-container>
                        <app-echarts-common [startDate]="startDate" [datas]="requestEchartDatas"
                            [updateOptions]="requestUpdateOptions" [timeData]='timeLine' [gridRight]="echartGridRight"
                            (dataZoom)='dataZoom($event)' #requestEchart>
                        </app-echarts-common>

                    </ng-container>
                    <ng-container>
                        <app-echarts-common [startDate]="startDate" [datas]="aveTimeEchartDatas"
                            [updateOptions]="aveTimeUpdateOptions" [timeData]='timeLine' [gridRight]="echartGridRight"
                            (dataZoom)='dataZoom($event)' #aveTimeEchart>
                        </app-echarts-common>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #elseNodata>
    <app-loading *ngIf="snapShot" [size]="'max'" [height]="'760px'" [bgColor]="'transparent'"></app-loading>
    <app-default-page *ngIf="!isStart&&!snapShot" [height]="'calc(80vh - 98px)'" [bgColor]="'#1e1e1e'"
        [text]="isDownload ? i18n.common_term_task_nodata : i18n.plugins_perf_java_profileNoData.http">
    </app-default-page>
    <app-default-page *ngIf="isStart&&!snapShot" [height]="'calc(80vh - 98px)'" [bgColor]="'#1e1e1e'"
        [text]="i18n.plugins_perf_java_profileNoData.http2" [scene]="'creatingTask'"></app-default-page>
</ng-template>
<ng-template #tipSnapshot let-context='context'>
    <div class="snap_title">{{i18n.snapshot_analysis}}</div>
    <div class="snap_content">
        <span>{{i18n.snapshot_analysis_content1}}</span>
        <span style="color: #0067ff;cursor: pointer;"
            (click)="jumpToSnapShot()">{{i18n.snapshot_analysis_content2}}</span>
        <span>{{i18n.snapshot_analysis_content3}}</span>
    </div>
</ng-template>