<!-- 阈值设置 -->
<div class="threshold-setting-container">
  <div class="middle" 
    [ngStyle]="{'height': hasAuthotity ? 'calc(100% - 64px)' : '100%'}">
    <!-- 系统配置 -->
    <div *ngIf="optimizationType === optimizationTypes.systemConfig">
      <div *ngIf="isIO" class="form-title">{{i18n.tuninghelper.treeDetail.ioIntensive}}</div>
      <div *ngIf="!isIO" class="form-title">{{i18n.tuninghelper.treeDetail.noIoIntensive}}</div>
    </div>
    <ng-container *ngTemplateOutlet="formContent; context: {$implicit: thresholdFormGroup, form: thresholdForm}"></ng-container>
    <div *ngIf="memoryFreeForm.length" class="memory-free-form">
      <ng-container *ngTemplateOutlet="formContent; context: {$implicit: thresholdFormGroup, form: memoryFreeForm}"></ng-container>
    </div>
  </div>
  <div *ngIf="hasAuthotity" class="footer">
    <button [disabled]="!thresholdFormGroup.valid || isDisabled" type="button" (click)="setThreshold()" class="primary-button">{{i18n.tuninghelper.treeDetail.apply}}</button>
    <button [disabled]="isDisabled" type="button" (click)="resetThreshold()" class="secondary-button">{{i18n.tuninghelper.treeDetail.reset}}</button>
  </div>
</div>

<!-- 使用模板投影 -->
<ng-template #formContent let-formGroup let-formList="form">
  <ti-formfield [formGroup]="formGroup" [ngClass]="[statusService.rightExpand ? 'right-expand-form' : 'right-no-expand-form']">
    <ti-item *ngFor="let item of formList; trackBy: trackByItems">
      <ti-item-label>
        <div>
          <span tiOverflow [ngClass]="[item.desc ? 'lable-desc' : 'lable-no-desc']">{{item.label}}</span>
          <span *ngIf="item.desc" class="about-mask" [tiTip]="item.desc">
            <hy-theme-content>
              <app-icon-static [name]="'questionMarkTipDark'" dark></app-icon-static>
              <app-icon-static [name]="'questionMarkTipLight'" light></app-icon-static>
            </hy-theme-content>
          </span>
        </div>
      </ti-item-label>
      <input
        [placeholder]="formItemTcp.includes(item.indicator) ? i18n.validata.integer_rule2
          : (item.label.includes('%')? i18n.validata.integer_rule : i18n.validata.integer_rule1)"
        type="text" tiText 
        [(ngModel)]="item.expected_value"
        [tiValidation]="validation"
        [formControlName]="item.indicator">
      <div class="curr-value" *ngIf="!averageCollectedValue.includes(item.indicator)">{{i18n.tuninghelper.treeDetail.currentValueText}}{{item.value}}</div>
      <div class="curr-value" *ngIf="averageCollectedValue.includes(item.indicator)">{{i18n.tuninghelper.treeDetail.avgValueText}}{{item.value}}</div>
    </ti-item>
  </ti-formfield>
</ng-template>
