.mission-node-configuration {
  .switch-box {
    display: flex;

    .switch-tip {
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      color: var(--d-888888-l-979797);
      margin-left: 8px;
    }
    
  }

  ::ng-deep .ti3-form-content {
    margin-bottom: 0;
  }

  ti-table {
    width: 670px;
    margin-top: 10px;

    .node-status {
      display: flex;
      align-items: center;

      .status-icon {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 5px;
  
        &.success {
          background: #61d274;
        }
        
        &.reserve {
          background: #0067ff;
        }
      }
    }
  }
}