.batch-opreation-class {
  width: 912px !important;
  --ti-modal-width: auto;
  --ti-modal-header-padding: 20px 32px;
  --ti-common-border-radius-normal: 0px;
  .ti3-modal-content {
    width: 912px;

    .ti3-modal-header {
      padding: 20px 32px;
    }
    .ti3-modal-footer {
      padding: 28px 0px !important;
    }
    .ti3-modal-body {
      padding-top: 0px;
      .warpper-line {
        height: 0;
        border-top: 1px dashed #e1e6ee;
        padding: 14px 10px 15px;
      }
    }
  }
  .tip-nodeclose {
    img:hover {
      cursor: pointer;
    }
    & > img {
      display: none;
    }
    & > img:nth-of-type(1) {
      display: block;
    }
    &:hover {
      & > img:nth-of-type(1) {
        display: none;
      }
      & > img:nth-of-type(2) {
        display: block;
      }
    }
    &:active {
      & > img:nth-of-type(1) {
        display: none;
      }
      & > img:nth-of-type(2) {
        display: block;
      }
    }
  }
}
