::ng-deep {
  :root {
    --status-success-bg: #2aa956;
    --status-failed-bg: #e2253b;
    --status-created-bg: #888888;
  }
  body.dark,
  body.vscode-dark {
    --status-success-bg: #7adfa0;
    --status-failed-bg: #f45c5e;
    --status-created-bg: #888888;
  }
}

.mission-configuration {
  section {
    display: flex;
    line-height: 40px;
    font-size: 14px;
    .mainsItem {
      display: flex;
      line-height: 40px;
    }
    .label {
      flex-shrink: 0;
      width: 220px;
      padding-right: 20px;
      color: var(--common-color-font-secondary);
    }

    .value {
      color: var(--common-color-font-secondary);

      .status-icon {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 8px;
      }

      > ti-icon {
        font-size: 10px;
        cursor: pointer;
      }

      > div {
        line-height: 20px;

        .reason-content {
          margin-top: 8px;
          color: var(--common-color-font-secondary);
          max-height: 60px;
          overflow-y: auto;
        }
      }
    }
  }

  .divider {
    margin: 10px 0;
    border-top: var(--divider-style);
  }
  .status-success {
    background-color: var(--status-success-bg);
  }

  .status-failed {
    background-color: var(--status-failed-bg);
  }

  .status-created {
    background-color: var(--status-created-bg);
  }
}
