<div id="detail-container" class="custemDetailContainer" [appLoading]="initializing">
  <ti-tabs class="custemTabs tabsWithSplitLine tabsWithUnderline">
    <ti-tab [(active)]="item.active" *ngFor="let item of detailList; let index = index" [disabled]="item.disable" (activeChange)='change()'>
      <ti-tab-header>
        <span>{{item.title}}</span>
      </ti-tab-header>

      <!--懒加载的内容区必须使用ng-template标签包裹，并且加上#tiTabContent的标识-->
      <ng-template #tiTabContent>
        <div class="content-container" *ngIf="item.title == i18n.common_term_task_tab_congration && item.disable==false">
          <app-configuration [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [status]='status'
            [analysisType]='analysisType' [taskid]='id'></app-configuration>
        </div>

        <div class="content-container" *ngIf="item.title == i18n.common_term_task_tab_log && item.disable==false">
          <app-configuration-log [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName'
            [analysisType]='analysisType' [status]='status' [taskid]='id'></app-configuration-log>
        </div>

        <div class="content-container" *ngIf="item.title == i18n.common_term_task_tab_summary && item.disable==false" >
          <app-pro-summury [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName'
            [analysisType]='analysisType' [isActive]="item.active" [taskid]='id'></app-pro-summury>
        </div>

        <div class="content-container" *ngIf="item.title == i18n.sys.cpu && item.disable==false">
          <app-pro-cpu #proCpu [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [analysisType]='analysisType'
            [taskid]='id' (getCmdline)="proCpu.receiveCmdline(getCmdline($event))" [devType]="'cpu'"></app-pro-cpu>
        </div>

        <div class="content-container" *ngIf="item.title == i18n.sys.mem && item.disable==false">
          <app-pro-cpu #proMem [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [analysisType]='analysisType'
            [taskid]='id' (getCmdline)="proMem.receiveCmdline(getCmdline($event))" [devType]="'mem'"></app-pro-cpu>
        </div>

        <div class="content-container" *ngIf="item.title == i18n.sys.disk && item.disable==false">
          <app-pro-cpu #proDisk [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [analysisType]='analysisType'
            [taskid]='id' (getCmdline)="proDisk.receiveCmdline(getCmdline($event))" [devType]="'disk'"></app-pro-cpu>
        </div>

        <div class="content-container" [ngClass]="{showDetail: item.active}" *ngIf="item.title == i18n.process.context && item.disable==false">
          <app-pro-cpu #proContext [nodeid]='nodeid' [projectName]='projectName' [taskName]='taskName' [devType]="'context'"
            [analysisType]='analysisType' [taskid]='id' (getCmdline)="proContext.receiveCmdline(getCmdline($event))"></app-pro-cpu>
        </div>
      </ng-template>
    </ti-tab>
  </ti-tabs>
</div>
