<div class="form" [ngClass]="theme$ | async">
  <!-- // 预约采集 采集方式 1  周期， 2 单次 -->
  <div class="reservation_title" *ngIf="!this.isModifySchedule">
    <span class="timeLabel" tiOverflow>{{ i18n.preSwitch.serverTime + i18n.common_term_sign_colon }}</span>
    <div>
      <span>{{ nowTime.nowYear }}</span>
      <span>/</span>
      <span>{{
        nowTime.nowMonth < 10 ? "0" + nowTime.nowMonth : nowTime.nowMonth
      }}</span>
      <span>/</span>
      <span>{{
        nowTime.nowDay < 10 ? "0" + nowTime.nowDay : nowTime.nowDay
      }}</span>
      <span>&nbsp;</span>
      <span>{{
        nowTime.nowHour < 10 ? "0" + nowTime.nowHour : nowTime.nowHour
      }}</span>
      <span>:</span>
      <span>{{
        nowTime.nowMinutes < 10 ? "0" + nowTime.nowMinutes : nowTime.nowMinutes
      }}</span>
      <span>:</span>
      <span>{{
        nowTime.nowSecond < 10 ? "0" + nowTime.nowSecond : nowTime.nowSecond
      }}</span>
    </div>
  </div>
  <div class="control">
    <ti-formfield [labelWidth]="labelWidth">
      <ti-item [label]="'preSwitch.colectMethods' | i18n" [required]="true">
        <div class="radio">
          <div class="radio-item">
            <input
              type="radio"
              tiRadio
              name="group1"
              [(ngModel)]="selected"
              (click)="changeColect()"
              [value]="1"
              [label]="i18n.preSwitch.duraColect"
            /><br />
          </div>
          <div class="radio-item">
            <input
              type="radio"
              tiRadio
              name="group1"
              [(ngModel)]="selected"
              (click)="changeColect()"
              [value]="2"
              [label]="i18n.preSwitch.onceColect"
            /><br />
          </div>
        </div>
      </ti-item>
    </ti-formfield>
  </div>
  <div class="control" *ngIf="selected === 1">
    <ti-formfield [labelWidth]="labelWidth">
      <ti-item [required]="true">
        <ti-item-label>
          <div class="flex">
            <span>{{ "preSwitch.pointTime" | i18n }}</span>
            <img
              src="./assets/img/summary/tooltip.png"
              [tiTip]="i18n.preSwitch.onceTimeWarn"
              [tiTipPosition]="'right'"
            />
          </div>
        </ti-item-label>
        <div>
          <ti-time
            [(ngModel)]="pointTime"
            [format]="formatD.time"
            (ngModelChange)="onChangeTime($event)"
            tiRequired
          >
          </ti-time>
          <p
            *ngIf="isErrorTime"
            class="show_error"
          >
          <ti-icon name="exclamation-circle" class="icon"></ti-icon>
            {{ errorMsgTime }}
          </p>
        </div>
      </ti-item>
    </ti-formfield>
  </div>
  <div class="control" *ngIf="selected === 1">
    <ti-formfield [labelWidth]="labelWidth">
      <ti-item [label]="'preSwitch.pointDuration' | i18n" [required]="true">
        <div>
          <ti-date-range
            [format]="formatD.date"
            [(ngModel)]="duration"
            [min]="minDura"
            [max]="maxDura"
            (ngModelChange)="onChangeRange($event)"
            tiRequired
            panelAlign="left"
          >
          </ti-date-range>
          <p
            *ngIf="isError"
            class="show_error"
          >
          <ti-icon name="exclamation-circle" class="icon"></ti-icon>
            {{ errorMsg }}
          </p>
        </div>
      </ti-item>
    </ti-formfield>
  </div>
  <!-- 单次 -->
  <div class="control" *ngIf="selected === 2">
    <ti-formfield [labelWidth]="labelWidth">
      <ti-item [required]="true">
        <ti-item-label>
          <div class="flex">
            <span tiOverflow>{{ "preSwitch.onceTime" | i18n }}</span>
            <img
              src="./assets/img/summary/tooltip.png"
              [tiTip]="i18n.preSwitch.onceTimeWarn"
              [tiTipPosition]="'right'"
            />
          </div>
        </ti-item-label>
        <div>
          <ti-datetime
            [(ngModel)]="onceDate"
            [format]="format"
            [min]="minOnce"
            [max]="maxOnce"
            tiRequired
            [panelAlign]="'right'"
            (ngModelChange)="onChangeOnce($event)"
          >
          </ti-datetime>
          <p
            *ngIf="isErrorDate"
            class="show_error"
          >
          <ti-icon name="exclamation-circle" class="icon"></ti-icon>
          <span>{{ errorMsgDate }}</span>
          </p>
        </div>
      </ti-item>
    </ti-formfield>
  </div>
</div>
