<div class="port-xps-rps">
  <!-- 硬中断信息 -->
  <div class="hart-inter-info-container info-container">
    <app-port-hart-inter
      [allIrqData]="allIrqData"
      [singleIrqData]="singleIrqData"
      [allIrqCPUData]="allIrqCPUData"
      [singleIrqCPUData]="singleIrqCPUData"
      [bindName]="bindName"
      [ipiInfo]="ipiInfo"
    ></app-port-hart-inter>
  </div>

  <!-- 软中断信息 -->
  <div class="software-inter-info-container info-container">
    <p class="title">{{ 'net_io.xps_rps.software_info.info' | i18n }}</p>
    <app-port-software-inter 
      [softwareInterData]="softwareInterData"
      [ksoftirqdList]="ksoftirqdList"
    ></app-port-software-inter>
  </div>

  <!-- 中断分布统计 -->
  <div class="inter-dis-statistics info-container">
    <app-inter-dis-static 
      [softwareData]="softwareInterData"  
      [hardwareData]="allIrqCPUData"
      [irqData]="allIrqData"
    ></app-inter-dis-static>
  </div> 
</div>
