.jdbcpool {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .control {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      .btntip {
        display: flex;
        align-items: center;
        .left-btn{
          width: 150px!important;
          height: 32px!important;
        }
      }
      .tip {
        margin-left: 10px;
        margin-right: 24px;
      }
      .control-value {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        .control-value-title,
        .control-value-input {
          margin-right: 8px;
          color: #6c7280;
        }
        .control-value-input {
          height: 28px;
          width: 200px;
        }
      }
      .visible-type {
        display: flex;
        justify-content: flex-start;
        color: #6c7280;
        .visible-type-label {
          font-size: 14px;
          display: flex;
          align-items: center;
        }
      }
    }
    .config {
      margin-left: 8px;
      display: flex;
      .configBg {
        margin-left: 16px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        background-image: url("../../../../assets/img/home/data_config.svg");
      }
      .configBg:hover {
        background-image: url("../../../../assets/img/home/data_config_hover.svg");
      }
      .configBg:active {
        background-image: url("../../../../assets/img/home/data_config_active.svg");
      }
      .snapphote{
        position: relative; 
        display: flex;
        cursor: pointer;
        margin-left: 16px;
      }
    }
  }
  .jdbcpool-table {
    display: none;
  }
  .jdbcpool-echarts {
    display: none;
  }
  .show {
    display: block;
  }
  .stack {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    .jdbcpool-tack {
      width: 100%;
      padding: 20px;
      .config-title {
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        app-stack-tip {
          margin-left: 8px;
        }
      }
      .config-border {
        height: 1px;
        width: 100%;
        border-bottom: 1px solid #e1e6ee;
      }
      .config-tree {
        width: 100%;
        min-width: 300px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        .noData {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: -200px;
          p {
            color: #616161;
            font-size: 14px;
            line-height: 21px;
            margin-top: 5px;
            text-align: center;
          }
        }
      }
    }
  }
}
:host ::ng-deep .report-tips {
  margin-left: 32px;
}
.analysis {
  top: 50%;
  position: absolute;
  left: 50%;
}

.disable-btn {
  background: #e6ebf5 !important;
  border: 1px solid #e6ebf5 !important;
  color: #b8becc !important;
  cursor: not-allowed !important;
}
.snap_title {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}
.snap_content {
  font-size: 12px;
  line-height: 18px;
  color: #616161;
}
.red_count {
  width: 14px;
  height: 14px;
  font-size: 10px;
  background-color: #ed4b4b;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -7px;
}
.count_disabled {
  width: 14px;
  height: 14px;
  font-size: 10px;
  background-color: #f5f5f5;
  color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -6px;
}

.config_title {
  font-size: 14px;
  color: #282b33;
  padding-bottom: 8px;
  border-bottom: solid 1px #e6ebf5;
}
.spinner_content {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.opti_title {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 7px;
}
.opti_content {
  font-size: 12px;
  margin-bottom: 5px;
  color: #616161;
}

.profile-echarts {
  height: 360px;
  position: relative;
  .right-legend {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: #ffffff;
    z-index: 10;
    .green-legend {
      margin-right: 16px;
    }
  }
  .echart {
    width: 100%;
    height: 375px;
    position: relative;
    .mychart {
      width: 100%;
      height: 100%;
    }
  }
}
.green {
  background-color: #7adfa0;
}
.red {
  background-color: #f45c5e;
}
.write {
  box-shadow: 0 0 1px #000000;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.link-position {
  color: #9ea4b3;
  font-size: 12px;
  position: absolute;
  top: 26px;
  left: 22px;
}
.box-echarts {
  width: 100%;
  height: 380px;
  overflow: auto;
  position: absolute;
  top: 0px;
}
.ti3-table > .ti3-table-container > table > tbody > tr > td {
  border-bottom: 1px solid #e2e2e2;
}
#Thor-Container
  .ti3-table
  > .ti3-table-container
  > table
  > tbody
  > .ti3-details-tr
  > td {
  padding: 0 !important;
}
:host ::ng-deep .ti3-icon-angle-right:before {
  content: "\e919" !important;
}
:host ::ng-deep .ti3-icon-angle-transform-up-thin {
  display: inline-block;
  transform: rotate(270deg) !important;
  color: #777777;
}
:host ::ng-deep .ti3-icon-angle-transform-down-thin {
  display: inline-block;
  transform: rotate(180deg) !important;
  color: #777777;
}
.ti3-table {
  border-left: solid 2px #0067ff !important;
}
.jdbcSug {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  .tip-config {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .config-title {
      color: #222222;
      margin: 20px 32px;
      padding-bottom: 20px;
      border-bottom: solid 1px lightgrey;
    }
    .config-border {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid #e1e6ee;
    }
    .config-tree {
      width: 100%;
      min-width: 300px;
      height: 280px;
      overflow: auto;
      padding-top: 20px;
      .noDate {
        width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: #616161;
          font-size: 14px;
          line-height: 21px;
          margin-top: 5px;
          text-align: center;
        }
      }
    }
    .config-content {
      display: flex;
      justify-content: flex-start;
      margin: 0px 32px 32px 32px;
      font-size: 14px;
      overflow: auto;
      height: 400px;
      .label {
        display: flex;
        flex-direction: column;
        color: #9ea4b3;
        width: 100%;
        .label-box {
          display: flex;
          align-items: center;
          .content-label {
            width: 40%;
            margin: 10px 10px 10px 0px;
          }
          .content-value {
            width: 60%;
            margin: 10px 0px 10px 10px;
          }
        }
      }
      .value {
        display: flex;
        flex-direction: column;
        color: #282b33;
        margin-left: 20px;
      }
    }
    .no-data-content {
      .label {
        height: 200px;
        line-height: 200px;
        text-align: center;
      }
      p {
        margin-top: -160px;
      }
    }
  }
  .jdbc-btn {
    margin: 20px 0 20px 304px;
  }
}
.poolSug {
  z-index: 100;
}
:host ::ng-deep .setfirsttd {
  width: 40px;
}
.analyz-svg{
  width: 240px;

  .browser-img {
    width: 240px;
  }
}
.expandAll {
  img {
      vertical-align: middle;
      margin-right: 4px;
  }
}


::ng-deep .ti3-tree-container {   
  height: auto !important;
  min-height: 230px;
}