<div class="mem" [ngClass]="{fontsize: isModifySchedule}">
    <!-- 公共参数 + 访存分析类型 -->
    <div class="taskForm" *ngIf="type === 'create'" >
        <div class="title">{{ memAnalysisModeInfo.label }}</div>
        <span *ngFor="let item of memAnalysisModeInfo.list;index as i" class="typeItem">
            <input type="radio" tiRadio (ngModelChange)="ngModelChange(i)" [(ngModel)]="memAnalysisMode"
                   [value]="item.value" [label]="item.label">
            <ti-icon [tiTip]="item.iconTip" style="margin-left:10px;" tiTipMaxWidth='370px' tiTipPosition="bottom">
                <img src='./assets/img/template/icon_question.svg' class="imgQuestion">
            </ti-icon>
        </span>
    </div>

    <!-- 使用[hidden]是因为ngif来回切会丢失错误提示信息 -->
    <ng-container *ngFor="let option of formEl.form.memAnalysisMode.list; let index = value">
        <app-task-tmpl [hidden]="memAnalysisMode !== option.value" #taskTmpl [analysisType]="option.value"
                       [parentFormEl]="formEl" [formEl]="this[formRelated[option.value]]" [widthIsLimited]="widthIsLimited"
                       [isModifySchedule]="isModifySchedule" [labelWidth]="labelWidth" [nodeConfigShow]="nodeConfigShow"
                       [projectId]="projectId" [appendTarget]="appendTarget" [drawerLevel]="drawerLevel"
                       [modeAppRunUserValid]="modeAppRunUserValid" (sendAppOrPidDisable)="sendAppOrPidDisable.emit($event)"
                       (handlePidTidDisable)="handlePidTidDisable.emit($event)" (sendRunUserDataObj)=sendRunUserDataObj($event)
                       (click)="updateWebViewPage()">
        </app-task-tmpl>
    </ng-container>

    <!-- 预约 -->
    <div style="flex:1">
        <app-mission-reservation #scheduledStartup [labelWidth]="labelWidth"
                                 [isModifySchedule]="isModifySchedule || type === 'restart' || type === 'edit'" [switch]="isShowReserveAndImmedia">
        </app-mission-reservation>

        <!-- 立即 -->
        <div *ngIf="!scheduledStartup.switchState && type !== 'restart'" class="immediately">
            <div *ngIf="isShowReserveAndImmedia" [tiTip]="i18n.mission_create.disableeTip">
                <input type="checkbox" tiCheckbox [(ngModel)]="scheduledPrams.startNow" [disabled]="true">
            </div>
            <input *ngIf="!isShowReserveAndImmedia" type="checkbox" tiCheckbox [(ngModel)]="scheduledPrams.startNow">
            <span class="start-now">{{ i18n.common_term_task_start_now }}</span>
        </div>
    </div>

    <footer [ngClass]="{ footer: isModifySchedule }">
        <button tiButton type="button" color="primary" class="little-primary-btn"
                [ngClass]="{toRight: isModifySchedule}" (click)="clickConfirmBtn()" [disabled]="!(formValid && taskNameValid
            && appAndPidValid && (scheduledStartup.previewState || !scheduledStartup.switchState))">{{
            i18n.common_term_operate_ok }}</button>

        <button class="little-minor-btn" tiButton type="button" (click)="close()"> {{ i18n.common_term_operate_cancel }}
        </button>

        <button class="little-minor-btn little-minor-save" tiButton type="button" *ngIf="!isModifySchedule"
                (click)="saveTemplates()" [disabled]="!formValid || !scheduledStartupParamsValid || !appAndPidValid">{{
            i18n.mission_modal.saveTemplates }}</button>
    </footer>
</div>