.light {
  --hy-collapse-border: #d7dbe7;
  --hy-collapse-bg-color: #ffffff;
  --hy-collapse-title-bg-color: #f5f9ff;
}
.dark {
  --hy-collapse-border: #414141;
  --hy-collapse-bg-color: #414141;
  --hy-collapse-title-bg-color: #414141;
}
.hy-collapse-warpper {
  background-color: var(--hy-collapse-bg-color);
  text-align: initial;
  width: 100%;
  .hy-collapse-header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    background-color: var(--hy-collapse-title-bg-color);
    box-sizing: border-box;
    padding: 12px 24px;
    .hy-collapse-title {
      font-size: 14px;
      line-height: 20px;
    }
    .hy-collapse-trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      transition: 0.5s linear;
    }
  }
  .hy-collapse-content {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 16px 24px;
    border-bottom: solid 1px var(--hy-collapse-border);
    border-left: solid 1px var(--hy-collapse-border);
    border-right: solid 1px var(--hy-collapse-border);
  }
}
