:host ::ng-deep #custemTable {
    .ti3-table-fixed-head + .ti3-table-container {
        max-height: 300px;
    }
    .ti3-table-fixed-head {
        flex: 0 0 auto;

        .thContent {
            display: flex;
            height: 32px;
        }
    }
    .ti3-table-fixed-head > table > thead > tr > th {
        border-bottom: none;
    }
    .ti3-table>.ti3-table-fixed-head+.ti3-table-container{
         border-bottom: var(--table-border-bottom);
    }
}