<div class="distributedBox">
    <div class="titleBox">
        <div class="formContent" *ngFor="let item of headData">
            <p class="formTitle">{{item.title}}</p>
            <p>{{item.data}}</p>
        </div>
    </div>
    <div class="distributedConfigBox" *ngIf="!nodeData">
        <img src="./assets/img/summary/typicalConfig.svg" class="istributedConfigIcon">
        <p class="istributedConfigContent">
            <ng-container *ngIf="scene === 'Big Data'">{{i18n.sys_summary.distributed.typicalConfig}}</ng-container>
            <ng-container *ngIf="scene === 'Distributed Storage'">{{i18n.sys_summary.distributed.solution}}
            </ng-container>
            <ng-container *ngIf="scene === 'database'">{{i18n.sys_summary.distributed.database}}</ng-container>
            <span (click)="viewConfig(true)">{{i18n.sys_summary.distributed.clickView}}</span>
            {{i18n.sys_summary.distributed.correspond}}
        </p>
    </div>
    <div class="distributedConfig-content" [ngClass]="{'preStyle': sceneSolution !== 2}">
        <div class="distributedConfig">
            <p style="display: inline;">{{i18n.sys_summary.distributed.Configuration}}</p>
            <div style="display: inline;" (click)="viewConfig(false)" (mouseenter)="suggestHover = true"
                (mouseleave)="suggestHover = false" *ngIf="!nodeData">
                <div style="display: inline;" *ngIf="currTheme === ColorTheme.Dark">
                    <img *ngIf="!suggestHover && !isSuggest" src="./assets/img/summary/suggest-normal-icon-dark.svg">
                    <img *ngIf="suggestHover && !isSuggest" src="./assets/img/summary/suggest-hover-icon-dark.svg">
                    <img *ngIf="isSuggest" src="./assets/img/summary/suggest-down-icon-dark.svg">
                </div>
                <div style="display: inline;" *ngIf="currTheme === ColorTheme.Light">
                    <img *ngIf="!suggestHover && !isSuggest" src="./assets/img/summary/suggest-normal-icon-light.svg">
                    <img *ngIf="suggestHover && !isSuggest" src="./assets/img/summary/suggest-hover-icon-light.svg">
                    <img *ngIf="isSuggest" src="./assets/img/summary/suggest-down-icon-light.svg">
                </div>
            </div>
        </div>
        <div class="distributedConfigTip">
            <p class="tipBox">
                <ti-icon name='check-circle' class="ti-icon green"></ti-icon>
                    <span class="tipText">{{i18n.linkage.paramsSame}}</span>
                </p>
            <p class="tipBox"> 
                <img src="./assets/img/linkage-analysis/abnormal.svg" class="ti-icon red" />
                <span class="tipText">{{i18n.linkage.paramsNotSame}}</span>
            </p>
        </div>
        <div class="congfigContent" *ngIf="!nodeData">
            <div class="distributedHard">
                <p class="distributedTitle">{{i18n.sys_cof.check_types.hard}}</p>
                <div class="distributedLine"></div>
                <div class="distributedContentBox" *ngIf="hardData.length>0">
                    <div class="common-item" *ngFor="let item of hardData">
                        <div class="left-title">
                            <div class="config-title">
                                <ti-icon name='check-circle' class="ti-icon green" *ngIf="item.data !== 'view_details'">
                                </ti-icon>
                                <img src="./assets/img/linkage-analysis/abnormal.svg" class="ti-icon red"
                                    *ngIf="item.data === 'view_details'">
                                <span tiOverflow>{{item.title}}</span>
                            </div>

                            <img src="./assets/img/summary/compass.svg" class="compass"
                                [tiTip]='i18n.typicalConfigTips[item.title]' tiTipMaxWidth='550px'
                                *ngIf="i18n.typicalConfigTips[item.title]" tiTipPosition="top-left" />
                        </div>
                        <div class="config-data">
                            <span tiOverflow *ngIf="item.data !== 'view_details'">{{item.data}}</span>
                            <span tiOverflow class="viewDetails" [ngClass]="{'clicked': item.clicked}"
                                *ngIf="item.data === 'view_details'"
                                (click)="viewDetails(item)">{{i18n.sys.viewDetails}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="hardData.length===0" class="Nodata">
                    <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                        src="./assets/img/projects/nodata-dark.png" />
                    <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                        src="./assets/img/projects/nodata-light.png" />
                </div>
            </div>
            <div class="distributedSystem">
                <p class="distributedTitle">{{i18n.common_term_projiect_task_system}}</p>
                <div class="distributedLine"></div>
                <div class="distributedContentBox" *ngIf="systemData.length>0">
                    <div class="common-item" *ngFor="let item of systemData">
                        <div class="left-title">
                            <div class="config-title">
                                <ti-icon name='check-circle' class="ti-icon green" *ngIf="item.data !== 'view_details'">
                                </ti-icon>
                                <img src="./assets/img/linkage-analysis/abnormal.svg" class="ti-icon red"
                                    *ngIf="item.data === 'view_details'">
                                <span tiOverflow>{{item.title}}</span>
                            </div>
                            <img src="./assets/img/summary/compass.svg" class="compass"
                                [tiTip]='i18n.typicalConfigTips[item.title]' tiTipMaxWidth='550px'
                                *ngIf="i18n.typicalConfigTips[item.title]" tiTipPosition="top-left" />
                        </div>
                        <div class="config-data">
                            <span tiOverflow *ngIf="item.data !== 'view_details'">{{item.data}}</span>
                            <span tiOverflow class="viewDetails" [ngClass]="{'clicked': item.clicked}"
                                *ngIf="item.data === 'view_details'"
                                (click)="viewDetails(item)">{{i18n.sys.viewDetails}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="systemData.length===0" class="Nodata">
                    <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                        src="./assets/img/projects/nodata-dark.png" />
                    <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                        src="./assets/img/projects/nodata-light.png" />
                </div>
            </div>
            <div class="distributedComponent">
                <p class="distributedTitle">{{i18n.sys_summary.distributed.component}}</p>
                <div class="distributedLine"></div>
                <ti-searchbox class="search" [placeholder]="i18n.sys_summary.distributed.searcHold"
                    (search)="comSearch($event)" (clear)="onClear()" *ngIf="componentData.length>0">
                </ti-searchbox>
                <div class="distributedContentBox" *ngIf="componentData.length>0">
                    <div class="common-item" *ngFor="let item of searchComponent">
                        <div class="left-title">
                            <div class="config-title">
                                <ti-icon name='check-circle' class="ti-icon green" *ngIf="item.data !== 'view_details'">
                                </ti-icon>
                                <img src="./assets/img/linkage-analysis/abnormal.svg" class="ti-icon red"
                                    *ngIf="item.data === 'view_details'">
                                <span tiOverflow>{{item.title}}</span>
                            </div>
                            <img src="./assets/img/summary/compass.svg" class="compass"
                                [tiTip]='i18n.typicalConfigTips[item.title]' tiTipMaxWidth='550px'
                                *ngIf="i18n.typicalConfigTips[item.title]" tiTipPosition="top-left" />
                        </div>
                        <div class="config-data">
                            <span tiOverflow *ngIf="item.data !== 'view_details'">{{item.data}}</span>
                            <span tiOverflow class="viewDetails" [ngClass]="{'clicked': item.clicked}"
                                *ngIf="item.data === 'view_details'"
                                (click)="viewDetails(item)">{{i18n.sys.viewDetails}}</span>
                        </div>

                    </div>
                </div>
                <div *ngIf="componentData.length===0" class="Nodata">
                    <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                        src="./assets/img/projects/nodata-dark.png" />
                    <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                        src="./assets/img/projects/nodata-light.png" />
                </div>

            </div>
        </div>

        <div *ngIf="nodeData" class="nodeData">
            <img style='width:198px;' src='./assets/img/projects/nodata-dark.png' />
            <div style="font-size: 1rem">{{i18n.sys_summary.cpupackage_tabel.virtual}}</div>
        </div>
    </div>
</div>
<app-pop-mask #viewDetailMask>
    <div class="content viewDetail-mask" [ngClass]="{'suggestAll': !ifConfig}">
        <div class="viewDetail-title">
            <span class="create-title" *ngIf="ifConfig">{{i18n.sys_summary.distributed.compSceneConfig}}</span>
            <span class="create-title" *ngIf="!ifConfig">{{i18n.sys_summary.distributed.recommendation}}</span>
            <div style="cursor:pointer;" (click)="viewDetailMask.Close()" (mouseenter)="closeHover = true"
                (mouseleave)="closeHover = false">
                <img *ngIf="!closeHover" src="./assets/img/header/close_icon.svg">
                <img *ngIf="closeHover" src="./assets/img/header/close_icon_hover.svg">
            </div>
        </div>
        <!-- 配置 -->
        <div class="box-distributed-content" *ngIf="ifConfig">
            <!-- MySQL -->
            <ng-container *ngIf="isMySQL">
                <div class="box" *ngFor="let obj of MySQLData">
                    <div class="box-title" (click)='obj.toggle=!obj.toggle'>
                        <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon' [ngClass]="{active: !obj.toggle}">
                        {{obj.title}}
                    </div>
                    <div class="box-content" [ngClass]="{active: obj.toggle}">
                        <div *ngIf="obj.data.length>0" style="padding-bottom:20px">
                            <div class="box-config-content" *ngFor="let item of obj.data"
                                [ngClass]="{'splitsClass': item[0]==='OS'}">
                                <p>{{item[0]}}</p>
                                <div>
                                    <span tiOverflow tiTipPosition='left'>{{item[1]}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="obj.data.length === 0" class="configNodata">
                            <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                                src="./assets/img/projects/nodata-dark.png" />
                            <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                                src="./assets/img/projects/nodata-light.png" />
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isMySQL">
                <!-- 硬件配置 -->
                <div class="box">
                    <div class="box-title" (click)='toggle.hard=!toggle.hard'>
                        <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon' [ngClass]="{active: !toggle.hard}">
                        {{i18n.sys_summary.distributed.hardConfig}}
                    </div>
                    <div class="box-content" [ngClass]="{active: toggle.hard}">
                        <div *ngIf="hardConfigData.length>0" style="padding-bottom:20px">
                            <div class="box-config-content" *ngFor="let item of hardConfigData">
                                <p>{{item.title}}</p>
                                <div>
                                    <span *ngFor="let value of item.data" tiOverflow
                                        tiTipPosition='left'>{{value}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="hardConfigData.length === 0" class="configNodata">
                            <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                                src="./assets/img/projects/nodata-dark.png" />
                            <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                                src="./assets/img/projects/nodata-light.png" />
                        </div>
                    </div>
                </div>
                <!-- 软件配置 -->
                <div class="box">
                    <div class="box-title" (click)='toggle.soft=!toggle.soft'>
                        <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon' [ngClass]="{active: !toggle.soft}">
                        {{i18n.sys_summary.distributed.softConfig}}
                    </div>
                    <div class="box-content" [ngClass]="{active: toggle.soft}">
                        <div *ngIf="softConfigData.length>0" style="padding-bottom:20px">
                            <div class="box-config-content" *ngFor="let item of softConfigData">
                                <p>{{item.title}}</p>
                                <div>
                                    <span *ngFor="let value of item.data" tiOverflow
                                        tiTipPosition='left'>{{value}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="softConfigData.length===0" class="configNodata">
                            <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                                src="./assets/img/projects/nodata-dark.png" />
                            <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                                src="./assets/img/projects/nodata-light.png" />
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- 优化建议 -->
        <div class="box-distributed-content" *ngIf="!ifConfig">
            <!-- 硬件 -->
            <div class="box">
                <div class="box-title" (click)='toggle.hardTab=!toggle.hardTab'>
                    <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon' [ngClass]="{active: !toggle.hardTab}">
                    {{i18n.sys_cof.check_types.hard}}
                </div>
                <div class="box-content" [ngClass]="{active: toggle.hardTab}">
                    <ti-table [(displayedData)]="hardDisplayData" [srcData]="hardContentData" [columns]="hardTitle">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of hardTitle;index as i">
                                        <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="hardDisplayData.length>0">
                                <tr *ngFor="let row of hardDisplayData;">
                                    <td tiOverflow><span class="tableFirstData">{{row.config}}</span></td>
                                    <td tiOverflow>{{row.suggest}}</td>
                                    <td tiOverflow>{{row.suggestValue}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="hardDisplayData.length === 0">
                                <tr class="ti3-table-nodata-simple">
                                    <td tiColspan>
                                        <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                                            src="./assets/img/projects/nodata-dark.png" />
                                        <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                                            src="./assets/img/projects/nodata-light.png" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ti-pagination *ngIf="hardTotalNumber > 10" [(currentPage)]="hardCurrentPage"
                            style="padding-left: 10px;" [pageSize]="hardPageSize" [(totalNumber)]="hardTotalNumber">
                        </ti-pagination>
                    </ti-table>
                </div>
            </div>
            <!-- 系统 -->
            <div class="box">
                <div class="box-title" (click)='toggle.syttemTab=!toggle.syttemTab'>
                    <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon' [ngClass]="{active: !toggle.syttemTab}">
                    {{i18n.common_term_projiect_task_system}}
                </div>
                <div class="box-content" [ngClass]="{active: toggle.syttemTab}">
                    <ti-table [(displayedData)]="systemDisplayData" [srcData]="systemContentData"
                        [columns]="systemTitle">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of systemTitle;index as i">
                                        <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="systemDisplayData.length>0">
                                <tr *ngFor="let row of systemDisplayData;">
                                    <td tiOverflow><span class="tableFirstData">{{row.config}}</span></td>
                                    <td tiOverflow>{{row.suggest}}</td>
                                    <td tiOverflow>{{row.suggestValue}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="systemDisplayData.length === 0">
                                <tr class="ti3-table-nodata-simple">
                                    <td tiColspan>
                                        <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                                            src="./assets/img/projects/nodata-dark.png" />
                                        <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                                            src="./assets/img/projects/nodata-light.png" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ti-pagination *ngIf="systemTotalNumber > 10" [(currentPage)]="systemCurrentPage"
                            style="padding-left: 10px;" [pageSize]="systemPageSize" [(totalNumber)]="systemTotalNumber">
                        </ti-pagination>
                    </ti-table>
                </div>
            </div>
            <!-- 组件 -->
            <div class="box">
                <div class="box-title" (click)='toggle.componentTab=!toggle.componentTab'>
                    <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon'
                        [ngClass]="{active: !toggle.componentTab}">
                    {{i18n.sys_summary.distributed.component}}
                </div>
                <div class="box-content" [ngClass]="{active: toggle.componentTab}">
                    <ti-table [(displayedData)]="componentDisplayData" [srcData]="componentContentData"
                        [columns]="componentitle">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of componentitle;index as i">
                                        <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="componentDisplayData.length>0">
                                <tr *ngFor="let row of componentDisplayData;">
                                    <td tiOverflow><span class="tableFirstData">{{row.config}}</span></td>
                                    <td tiOverflow>{{row.suggest}}</td>
                                    <td tiOverflow>{{row.suggestValue}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="componentDisplayData.length === 0">
                                <tr class="ti3-table-nodata-simple">
                                    <td tiColspan>
                                        <img style='width:198px;' *ngIf="currTheme === ColorTheme.Dark"
                                            src="./assets/img/projects/nodata-dark.png" />
                                        <img style='width:198px;' *ngIf="currTheme === ColorTheme.Light"
                                            src="./assets/img/projects/nodata-light.png" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ti-pagination *ngIf="componentTotalNumber > 10" [(currentPage)]="componentCurrentPage"
                            style="padding-left: 10px;" [pageSize]="componentPageSize"
                            [(totalNumber)]="componentTotalNumber">
                        </ti-pagination>
                    </ti-table>
                </div>
            </div>
        </div>
        <button class="closeBtn" type="button" tiButton
            (click)="viewDetailMask.Close()">{{i18n.common_term_operate_close}}</button>
    </div>
</app-pop-mask>
<app-pop-mask #constastMask>
    <div class="content viewDetail-mask">
        <div class="thread-screen ">
            <div class="ts-title-box">
                <div class="header-title">{{tableTitle}}</div>
                <span class="ti3-close ti3-icon ti3-icon-close" (click)="constastMask.Close()"></span>
            </div>
            <div class="table-wrapper" *ngIf="srcData.data.length > 0; else noData">
                <app-disk-table [dataList]="srcData" [totalPage]="srcData.data.length" [columns]="columns"
                    [hasPage]="true"></app-disk-table>
            </div>
            <div class="opreation-btn">
            </div>
        </div>
        <div class="closeButton-box">
            <button class="closeButton" (click)="constastMask.Close()" tiButton type="button">
                {{i18n.common_term_operate_close}}
            </button>
        </div>
    </div>
</app-pop-mask>

<!-- 无数据 -->
<ng-template #noData>
    <div class="nodata">
        <img *ngIf="currTheme === ColorTheme.Dark"
            src="./assets/img/projects/nodata-dark.png" />
        <img *ngIf="currTheme === ColorTheme.Light"
            src="./assets/img/projects/nodata-light.png" />
        <div class="nodata-tips">{{i18n.common_term_task_nodata2}}</div>
    </div>
</ng-template>