<app-pop-mask #modal>
    <div class="content" *ngIf="isOpen">
      <div class="header">
        <span>{{i18n.logout}}</span>
        <span class="ti3-close ti3-icon ti3-icon-close" (click)='close()'></span>
      </div>
      <div class="main">
        <img src="./assets/img/header/svg/warn.svg" >
        <span>{{i18n.ifLogout}}</span>
      </div>
      <div class="foot">
        <button class="confirm" type="button" color="primary" tiButton (click)="confirm()">{{i18n.common_term_operate_ok}}</button>
        <button type="button" tiButton  (click)="close()">{{i18n.common_term_operate_cancel}}</button>
      </div>
    </div>
  </app-pop-mask>