.webBox {
  .webContent {
    .addwebPwd {
      display: flex;
      justify-content: space-between;
    }
    .webPwdList {
      margin-top: 10px;
      .status-icon {
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 2px;
      }
      .analyzing-icon {
        border: 5px solid #7adfa0;
      }
      .stopping-icon {
        border: 5px solid #ffb146;
      }
      .failed-icon {
        border: 5px solid #f45c5e;
      }
      .inactive-icon {
        border: 5px solid blue;
      }
      .user-opt {
        color: #0067ff;
        cursor: pointer;
        &:hover {
          color: #267dff !important;
        }
        &:active {
          color: #0057d9 !important;
        }
      }
      .lastopt {
        margin-left: 0.5vw;
      }
      .csr-line {
        margin-left: 0.5vw;
        color: #e1e6ee;
        font-size: 14px;
      }
    }
  }

  .webEmpty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.csrModal,
.csrLeadModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 560px;
  padding: 0 32px 32px 32px;
  overflow: hidden;
  .create-title {
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed lightgray;
    font-size: 20px;
    .close-btn {
      cursor: default;
    }
  }
  .edit-box {
    margin-top: 1vw;
    width: 100%;
    p {
      display: flex;
      margin-bottom: 26px;
      img {
        min-width: 24px;
        margin-right: 8px;
      }
      span {
        font-size: 14px;
        color: #616161;
        line-height: 24px;
      }
    }
  }
  .btn-box {
    margin-top: 32px;
    text-align: center;
    width: 100%;
    button {
      width: 88px;
      height: 28px;
      line-height: 26px;
    }
    .user-close-btn {
      margin-left: 16px;
    }
  }
}
.csrlead-tip {
  color: #979797;
  font-size: 12px;
  padding-top: 4px;
}
.showTd {
  overflow: visible !important;
  .last-alink {
    display: inline-block;
    height: 20px;
    min-width: 60px;
    position: relative;
    .tiplist {
      display: none;
      position: absolute;
      top: 20px;
      left: 12px;
      .more {
        border: 1px solid #0067ff;
        .moreText {
          color: #222;
          cursor: pointer;
          font-size: 12px;
          display: block;
          height: 28px;
          line-height: 28px;
          padding: 0 20px;
          background-color: #fff;
          &:hover {
            color: #ffffff;
            background: #0067ff;
          }
        }
      }
      &:hover {
        display: block;
      }
    }
    &:hover .tiplist {
      display: block;
    }
  }
}
.cert-nodata {
  width: 74vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40% 0 0 0;
}
.csr-input {
  width: 300px;
}
::ng-deep .ti3-file-upload-container {
  display: inline;
  margin-left: 8px !important;
}
:host .content ::ng-deep .ti3-validate-text {
  max-width: 250px;
}
