<div class="webBox">
    <div class="webContent">
        <div class="webPwdList">
            <ti-table [(displayedData)]="displayed" [srcData]="srcData" [columns]="columns">
                <table>
                    <thead>
                        <tr>
                            <th tiOverflow *ngFor="let column of columns" width="{{column.width}}">{{column.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of displayed;">
                            <td tiOverflow>{{row.name}}</td>
                            <td tiOverflow>{{row.validTime}}</td>
                            <td tiOverflow><span class="status-icon"
                                    [ngClass]="statusFormat(row.certStatus)"></span>{{row.status}}</td>
                            <td class="showTd" *ngIf="role =='Admin'">
                                <a class="user-opt"
                                    (click)="createCSR('csrinput')">{{this.i18n.certificate.createCsr}} </a>
                                <span class="csr-line">|</span>
                                <a class="user-opt lastopt"
                                    (click)="createCSR('lead')">{{this.i18n.certificate.leadCsr}} </a>
                                <span class="csr-line">|</span>
                                <div class="last-alink">
                                    <a class="user-opt lastopt"
                                        tiTipPosition='bottom-left'>{{this.i18n.certificate.more}}</a>
                                    <div class="tiplist">
                                        <div class="more">
                                            <span class="moreText"
                                                (click)="changeSecret()">{{this.i18n.certificate.changeCipher}}</span>
                                            <span class="moreText"
                                                (click)="serverReast()">{{this.i18n.certificate.resetServer}}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="displayed.length === 0">
                        <div class="cert-nodata">
                            <img class='newNoData' src="./assets/img/projects/noData.svg" />
                            <div>
                                {{ i18n.common_term_task_nodata }}
                            </div>
                        </div>
                    </tbody>
                </table>
            </ti-table>
        </div>
    </div>
</div>
<!-- 生成csr文件模态框 -->
<app-alert-modal #csrModal>
    <div class="content csrModal">
        <p class="create-title">
            <span>{{this.i18n.certificate.createCsr}}</span>
            <img class="close" (click)="cancle('csrinput')" (mouseenter)="onHoverClose('closer')"
                (mouseleave)="onHoverClose('')"
                [src]="hoverClose==='closer'?'./assets/img/newSvg/close_hover.svg':' ./assets/img/newSvg/close_icon.svg'">
        </p>
        <div class="edit-box">
            <p>
                <img src="./assets/img/newSvg/tip.svg" />
                <span>{{i18n.certificate.common_term_webcert_import_pre_tip}}</span>
            </p>
            <ti-formfield [formGroup]='csrFrom'>
                <ti-item [label]="label.country" [required]='true'>
                    <input class="csr-input" tiText [tiValidation]='validation' formControlName='country' type="word">
                </ti-item>
                <ti-item [label]="label.province">
                    <input class="csr-input" tiText [tiValidation]='validation' formControlName='province' type="word">
                </ti-item>
                <ti-item [label]="label.city">
                    <input class="csr-input" tiText [tiValidation]='validation' formControlName='city' type="word">
                </ti-item>
                <ti-item [label]="label.organization">
                    <input class="csr-input" tiText [tiValidation]='validation' formControlName='organization'
                        type="word">
                </ti-item>
                <ti-item [label]="label.department">
                    <input class="csr-input" tiText [tiValidation]='validation' formControlName='department'
                        type="word">
                </ti-item>
                <ti-item [label]="label.commonName" [required]='true'>
                    <input class="csr-input" tiText [tiValidation]='validation' formControlName='commonName'
                        type="word">
                </ti-item>
            </ti-formfield>
            <div class="btn-box">
                <button type="button" tiButton color="primary" (click)='confirm(csrFrom)'
                    [disabled]='!csrFrom.valid || !csrFrom.valid'>{{i18n.common_term_operate_ok}}</button>
                <button type="button" tiButton class="user-close-btn"
                    (click)="cancle('csrinput')">{{i18n.common_term_operate_cancel}}</button>
            </div>
        </div>
    </div>
</app-alert-modal>

<!-- 生成导入证书模态框 -->
<app-alert-modal #csrLeadModal>
    <div class="content csrLeadModal">
        <p class="create-title">
            <span>{{this.i18n.certificate.leadCsr}}</span>
            <img class="close-btn" (click)="cancle('lead')" (mouseenter)="onHoverClose('closer')"
                (mouseleave)="onHoverClose('')"
                [src]="hoverClose==='closer'?'./assets/img/newSvg/close_hover.svg':' ./assets/img/newSvg/close_icon.svg'" />
        </p>
        <div class="edit-box">
            <ti-formfield [formGroup]='csrLeadFrom'>
                <ti-item [label]="label.csrFile" [required]='true'>
                    <input tiText formControlName='csrFile' [(ngModel)]='csrLeadList.csrFile' type="word"
                        class="csr-input">
                    <ti-upload type='button' [url]='url' [alias]="'file'" [filters]='filters' [method]="'put'"
                        [headers]='header' [autoUpload]='autoUpload' [buttonText]='this.i18n.certificate.lead'
                        (addItemFailed)='onAddItemFailed($event)' (addItemSuccess)='onAddItemSuccess($event)'
                        (errorItems)='onErrorItems($event)' (beforeSendItems)='onBeforeSendItems($event)'
                        (successItems)='onSuccessItems($event)' #uploadComp>
                    </ti-upload>
                    <div class="csrlead-tip">
                        {{i18n.certificate.common_term_webcert_import_tip}}</div>
                </ti-item>
            </ti-formfield>
            <div class="btn-box">
                <button type="button" tiButton color="primary" (click)='uploadComp.upload()'
                    [disabled]='!csrLeadFrom.valid || !csrLeadFrom.valid'>{{i18n.common_term_operate_ok}}</button>
                <button type="button" tiButton class="user-close-btn"
                    (click)="cancle('lead')">{{i18n.common_term_operate_cancel}}</button>
            </div>
        </div>
    </div>
</app-alert-modal>