::ng-deep .vscode-dark {
    --color-box-content: #252526;
    $linkColor: #000000;
    --color-content-shadow: rgba($linkColor, 0.8);
}

::ng-deep .vscode-light {
    --color-box-content: #FFFFFF;
    $linkColor: #000000;
    --color-content-shadow: rgba($linkColor, 0.1);
}

.mask {
    background: rgba(0, 0, 0, 0.298);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    display: none;
    transition: .4s ease-out;
    z-index: 1000;
}

.mask.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box {
    box-sizing: content-box;
    display: none;
    width: 580px;
    padding: 20px 40px 24px 40px;
    background-color: var(--color-box-content);
    box-shadow: 0px 3px 6px 0px var(--color-content-shadow);
    z-index: 114;

    img {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
    }
}

::ng-deep .vscode-dark {
    .content-box{
        box-shadow: 2px 3px 4px 0px #000000, -2px -3px 4px 0px rgba(0, 0, 0, 0.5);
    }
}
.content-box.en-content-box {
    width: 640px !important;
}

.content-box.active {
    display: block;
}
