<!-- r profile -->
<app-mission-public
  #missionPublic
  [labelWidth]="labelWidth"
  [drawerLevel]="drawerLevel"
  [nodeName]="nodeParams.nodeName"
  [nodaIP]="nodeParams.nodeIP"
>
  <ti-formfield [labelWidth]="labelWidth" [formGroup]='formGroup'>
    <ti-item [label]="i18n.databaseConfig.ip" [required]="true">
      <input
        [placeholder]="i18n.databaseConfig.placeholderIp"
        [tiValidation]="validation"
        [errorMessageWrapper]="ipMsgWrapper"
        formControlName="ip"
        type="text"
        tiText
      />
      <div #ipMsgWrapper></div>
    </ti-item>
    <ti-item [label]="i18n.databaseConfig.port">
      <input
        [placeholder]="i18n.databaseConfig.placeholderPort"
        [localeable]="false"
        [tiValidation]="validation"
        [errorMessageWrapper]="portMsgWrapper"
        formControlName="port"
        type="text"
        tiText
        tiNumber
        format="n0"
      />
      <div #portMsgWrapper></div>
    </ti-item>
    <ti-item [label]="i18n.databaseConfig.username" [required]="true">
      <input
        [placeholder]="i18n.databaseConfig.placeholderUsername"
        [tiValidation]="validation"
        [errorMessageWrapper]="usernameMsgWrapper"
        formControlName="username"
        type="text"
        tiText
      />
      <div #usernameMsgWrapper></div>
    </ti-item>
    <ti-item [label]="i18n.databaseConfig.password" [required]="true">
      <input
        [placeholder]="i18n.databaseConfig.placeholderPassword"
        [tiValidation]="validation"
        [errorMessageWrapper]="passwordMsgWrapper"
        formControlName="password"
        type="password"
        tiText
      />
      <div #passwordMsgWrapper></div>
    </ti-item>
  </ti-formfield>

  <footer>
    <button tiButton type="button" color="primary" style="margin-right: 20px" [disabled]='!formGroup.valid'
      (click)="confirm()">{{ i18n.common_term_operate_ok }}</button>
    <button tiButton type="button" (click)="close()">{{ i18n.common_term_operate_cancel }}</button>
  </footer>
</app-mission-public>