<div class="box">
    <div class="box-title" (click)='toggle.storageSystem=!toggle.storageSystem'>
        <img *ngIf="currTheme == ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
            [ngClass]="{active: toggle.storageSystem}">
        <img *ngIf="currTheme == ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
            [ngClass]="{active: toggle.storageSystem}">
        {{i18n.sys_summary.storage_subsystem_text}}
        <div class="titleDetail">
            <div tiOverflow *ngFor="let item of titleDetail">{{item.title}}: <span>{{item.data}}</span></div>
        </div>
    </div>
    <div class="box-content" [ngClass]="{active: toggle.storageSystem}">
        <!-- 硬盘 -->
        <div class="box">
            <div class="box-title" (click)='toggle.hardDisk=!toggle.hardDisk'>
                <img *ngIf="currTheme == ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.hardDisk}">
                <img *ngIf="currTheme == ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.hardDisk}">
                {{i18n.sys_cof.sum.disk}}
            </div>
            <div class="box-content" [ngClass]="{active: toggle.hardDisk}">
                <ti-table [(displayedData)]="hardDiskDisplayData" [srcData]="hardDiskContentData"
                    [columns]="hardDiskTitle">
                    <table>
                        <thead>
                            <tr>
                                <th tiOverflow *ngFor="let column of hardDiskTitle;index as i" width="{{column.width}}">
                                    <span [ngClass]="{'tableFirstData': i == 0}">{{column.title}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!ifhardDisk">
                            <tr *ngFor="let row of hardDiskDisplayData;">
                                <td tiOverflow><span class="tableFirstData">{{row.name}}</span></td>
                                <td tiOverflow>{{row.model}}</td>
                                <td tiOverflow>{{row.capacity}}</td>
                                <td tiOverflow>{{row.type}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="ifhardDisk" [text]="hardDisk"></app-default-page>
                    <ti-pagination *ngIf="!ifhardDisk" autoHide="true" [(currentPage)]="hardDiskCurrentPage" style="padding-left: 10px;"
                        [pageSize]="hardDiskPageSize" [(totalNumber)]="hardDiskTotalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
        <!-- RAID控制卡 -->
        <div class="box">
            <div class="box-title" (click)='toggle.RAID=!toggle.RAID'>
                <img *ngIf="currTheme == ColorTheme.Dark" src="./assets/img/summary/row_dark.svg" class='title-icon'
                    [ngClass]="{active: toggle.RAID}">
                <img *ngIf="currTheme == ColorTheme.Light" src="./assets/img/summary/row.png" class='title-icon'
                    [ngClass]="{active: toggle.RAID}">
                {{i18n.sys_cof.sum.raid}}
            </div>
            <div class="box-content" [ngClass]="{active: toggle.RAID}">
                <ti-table [(displayedData)]="RAIDDisplayData" [srcData]="RAIDContentData" [columns]="RAIDTitle">
                    <table>
                        <thead>
                            <tr>
                                <th tiOverflow *ngFor="let column of RAIDTitle;index as i" width="{{column.width}}">
                                    <span [ngClass]="{'tableFirstData': i == 0}">{{column.title}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!ifRAIDTitle">
                            <tr *ngFor="let row of RAIDDisplayData;">
                                <td tiOverflow><span class="tableFirstData">{{row.Controller}}</span></td>
                                <td tiOverflow>{{row.model}}</td>
                                <td tiOverflow>{{row.size}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <app-default-page *ngIf="ifRAIDTitle" [text]="RAIDTitleData"></app-default-page>
                    <ti-pagination *ngIf="!ifRAIDTitle" autoHide="true" [(currentPage)]="RAIDCurrentPage" style="padding-left: 10px;"
                        [pageSize]="RAIDPageSize" [(totalNumber)]="RAIDTotalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
    </div>
</div>