:host ::ng-deep .ti3-form {
    .ti3-form-label {
        padding: 0 !important;
    }
}
.form-warpper {
    .form-area {
        .control {
            & + .control {
                margin-top: 20px;
            }
            .spinner-domain {
                margin-left: 8px;
            }
        }
        .taskName,
        .mpiStatus,
        .doOrder,
        .preset,
        .taskStartNow,
        .openMpParams,
        .mpiParams,
        .doNodeConfig {
            margin-left: 17px;
        }
        .doNodeConfig {
            .node-config-tip {
                display: flex;
                align-items: center;
                color: #6c7280;
                margin-top: 14px;

                img {
                    margin-right: 8px;
                }

                span {
                    font-size: 0.8rem;
                }
            }
        }
        .preset {
            .radio-item {
                margin-right: 32px;
                display: inline-block;
            }
        }
        .rank{
            width: 952px;
        }
    }
    .tint{
        color: #979797;
        margin-left: 8px;
        font-size: 12px;
    }
    .opreation {
        margin: 40px 0px 114px 0px;
        padding-left: 16px;
        padding-bottom: 114px;
        button + button {
            margin-left: 20px;
        }
    }
    .overFlowSpan{
        max-width: 200px;
        display: inline-block;
    }
}
.immediately {
    display: flex;
}
.margin_left{
    margin-left: 10px;
}
.botPading{
    padding-bottom: 20px;
}