<div class="form-warpper">
    <div class="form-area">
        <!-- 任务名称 -->
        <div class="control taskName" [hidden]="!formOption.taskName.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [label]="i18n.storageIO.mission_create.mission_name">
                    <input tiText type="text" formControlName="taskName">
                </ti-item>
            </ti-formfield>
        </div>

        <!-- 应用名称 和 应用参数 -->
        <div [hidden]="!formOption.appAndParams.display">
            <div [formGroup]="formGroup">
                <app-app-params-input formControlName="appAndParams">
                </app-app-params-input>
            </div>
        </div>

        <!-- 进程名称 和 PID -->
        <div [hidden]="!formOption.pidProcess.display">
            <div [formGroup]="formGroup">
                <app-pid-process-input formControlName="pidProcess">
                </app-pid-process-input>
            </div>
        </div>
        
        <!-- 选择节点 -->
        <div [hidden]="!formOption.selectNodeList.display">
            <ti-formfield
                vertical
                [formGroup]="formGroup"
                [labelWidth]="labelWidth"
            >
            <ti-item [required]="true">
              <ti-item-label>
                {{ i18n.node.selectNode }}
              </ti-item-label>
              <app-not-hpc-select-nodes
                [nodeList]="nodeList"
                [isSelectNodeDisabled]="isSelectNodeDisabled"
                formControlName="nodeList"
                [isHPC]="true"
              ></app-not-hpc-select-nodes>
            </ti-item>
          </ti-formfield>
        </div>
        

        <!-- 采样时长（秒） -->
        <div class="control duration" *ngIf="formOption.duration.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [label]="i18n.storageIO.mission_create.duration" [required]="true">
                    <ti-spinner formControlName="duration" format="N0" style='width: 140px;' placeholder="1 ~ 3600"
                        [min]="1" [max]="3600" tiValidation [errorMessageWrapper]='durationErrorMsgWrapper'
                        [appSpinnerBlur]="samplingDurationBlur">
                    </ti-spinner>
                    <span class="spinner-domain">
                        {{ i18n.common_term_sign_left }}1 ~ 3600{{ i18n.common_term_sign_right }}
                    </span>
                    <div #durationErrorMsgWrapper></div>
                </ti-item>
            </ti-formfield>
        </div>

        <!-- 采样类型 -->
        <div class="control preset" *ngIf="formOption.preset.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [label]="i18n.hpc.mission_create.analysis_type" [required]="false">
                    <div class="radio-item">
                        <input type="radio" tiRadio formControlName="preset" [value]="hpcPresetOption.Summary"
                            [label]="i18n.hpc.mission_create.summary" />
                    </div>
                    <div class="radio-item">
                        <input type="radio" tiRadio formControlName="preset" [value]="hpcPresetOption.InstrucMix"
                            [label]="i18n.hpc.mission_create.instr_dis" />
                    </div>
                    <div class="radio-item">
                        <input type="radio" tiRadio formControlName="preset" [value]="hpcPresetOption.Topdown"
                            [label]="'HPC Top-Down'" />
                    </div>
                </ti-item>
            </ti-formfield>
        </div>
        <!-- 采集类型 -->
        <div class="control preset" *ngIf="formOption.mpiStatus.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [label]="i18n.hpc.mission_create.collectionType" [required]="false">
                    <div class="radio-item">
                        <input type="radio" tiRadio formControlName="mpiStatus" [value]="false"
                            [label]="collectionType.OpenMP" />
                    </div>
                    <div class="radio-item">
                        <input type="radio" tiRadio formControlName="mpiStatus" [value]="true"
                            [label]="collectionType.MPI" />
                    </div>
                </ti-item>
            </ti-formfield>
        </div>
        <!-- OpenMP 参数 -->
        <div class="control openMpParams" *ngIf="formOption.openMpParams.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item>
                    <ti-item-label>
                        <span>{{i18n.hpc.mission_create.openMpParams}}</span>
                            <ti-icon [tiTip]="i18n.hpc.mission_create.openMpParams_tip" style="margin-left:10px;" tiTipMaxWidth='370px'
                                tiTipPosition="bottom">
                                <img src='./assets/img/summary/tooltip.png'>
                            </ti-icon>
                    </ti-item-label>
                    <input tiText type="text" formControlName="openMpParams" [tiValidation]="validation"
                        [placeholder]="i18n.hpc.mission_create.openMpParams" style="width: 300px" />
                </ti-item>
            </ti-formfield>
        </div>
        <!--MPI命令所在目录-->
        <div class="control mpiEnvDir" *ngIf="formOption.MPIParams.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [label]="i18n.hpc.mission_create.mpi_env_dir" [required]="true">
                    <input tiText formControlName="mpiEnvDir" type="text"
                        [placeholder]="i18n.hpc.mission_create.mpi_env_dir_tip" style="width: 300px"
                        [tiValidation]="{type: 'blur'}" [errorMessageWrapper]='mpiEnvDirErrorMsgWrapper' />
                    <div #mpiEnvDirErrorMsgWrapper></div>
                </ti-item>
            </ti-formfield>
        </div>
        <!-- MPI参数 -->
        <div class="control mpiParams" *ngIf="formOption.MPIParams.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item>
                    <ti-item-label>
                        <span>{{i18n.hpc.mission_create.mpiParams}}</span>
                            <ti-icon [tiTip]="i18n.hpc.mission_create.mpi_parameters_tips" style="margin-left:10px;" tiTipMaxWidth='370px'
                                tiTipPosition="bottom">
                                <img src='./assets/img/summary/tooltip.png'>
                            </ti-icon>
                    </ti-item-label>
                    <textarea tiTextarea type="text" formControlName="mpiParams" style="width: 278px;"
                        class="textarea-params" resize="'vertical'">
                    </textarea>
                </ti-item>
            </ti-formfield>
        </div>
        <!-- 选择运行mpirun的节点 -->
        <div class="control duration" *ngIf="formOption.MPIParams.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [required]="true">
                    <ti-item-label>
                        <span tiOverflow class="overFlowSpan">{{i18n.hpc.mission_create.selectNode}}</span>
                    </ti-item-label>
                    <ti-select style="width: 300px;" [options]="rankNodes.srcData.data" tiValidation
                        formControlName='selectNode' valueKey='nodeIp' [searchable]="true"></ti-select>
                </ti-item>
            </ti-formfield>
        </div>
        <!-- 配置节点运行rank数量 -->
        <div class="control rank preset botPading" *ngIf="formOption.MPIParams.display">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [required]="false">
                    <app-node-rank-config formControlName="hpc_mlt_rank_info"></app-node-rank-config>
                </ti-item>
            </ti-formfield>
        </div>

        <!-- 配置指定节点参数 -->
        <div class="node-config-modal import-btn" [ngClass]="{'botPading': !formOption.MPIParams.display}"
            *ngIf="formOption.doNodeConfig.display">
            <app-mission-node-config #nodeConfigC [labelWidth]="labelWidth" [nodeList]="formGroup.get('nodeList').value"
                [isAbled]="!(formGroup.valid  && runUservalid &&  modePidValid)" [taskType]="analysisType.Hpc"
                [formData]="formDatas" [projectId]="projectInfo.id" [nodeConfigShow]="formOption.doNodeConfig.display"
                [nodeConfigedData]="nodeConfigedData" [runUserData]="runUserData" [runUserDataObj]="runUserDataObj"
                (controlNode)="onControlNode($event)" (opentNode)="handleNodeEmit($event)" (selectNodeDisable)="selectNodeDisable($event)">
            </app-mission-node-config>
        </div>

        <!-- 预约定时启动 -->
        <div class="control doOrder" *ngIf="formOption.doOrder.display && actionType ==='create'">
            <ti-formfield [formGroup]="formGroup" [labelWidth]="labelWidth">
                <ti-item [label]="i18n.storageIO.mission_create.order">
                    <div [tiTip]="(switchState || nodeSwitchStatus)?i18n.mission_create.disableeTip:''">
                        <ti-switch formControlName="doOrder"></ti-switch>
                    </div>
                </ti-item>
            </ti-formfield>
        </div>

        <!-- 预约定时编辑控件 -->
        <div class="control orderConfig" *ngIf="formOption.orderConfig.display">
            <div [formGroup]="formGroup">
                <app-mission-reservation-plus formControlName="orderConfig" [labelWidth]="labelWidth">
                </app-mission-reservation-plus>
            </div>
        </div>

        <!-- 立即启动 -->
        <div class="control taskStartNow" *ngIf="formOption.taskStartNow.display">
            <div [formGroup]="formGroup" class="immediately">
                <div *ngIf="switchState" [tiTip]="(switchState || nodeSwitchStatus)?i18n.mission_create.disableeTip:''">
                    <input tiCheckbox type="checkbox" formControlName="taskStartNow"
                        [disabled]="switchState || nodeSwitchStatus">
                </div>
                <div [tiTip]="(switchState || nodeSwitchStatus)?i18n.mission_create.disableeTip:''">
                    <input tiCheckbox *ngIf="!switchState" type="checkbox" formControlName="taskStartNow"
                        [disabled]="switchState || nodeSwitchStatus">
                </div>
                <span class="start-now">{{i18n.common_term_task_start_now}}</span>
            </div>
        </div>
    </div>

    <!-- 操作 -->
    <div class="opreation">
        <button tiButton [disabled]="!(formGroup.valid && runUservalid && modePidValid)" type="button" color="primary"
            (click)="onCreate()">{{i18n.common_term_operate_ok}}</button>
        <button tiButton type="button" (click)="onClose()"> {{i18n.common_term_operate_cancel}} </button>
        <button tiButton [disabled]="!(formGroup.valid && runUservalid && modePidValid)" type="button"
            (click)="onSaveTemplate()">{{i18n.mission_modal.saveTemplates}}</button>
    </div>
</div>