::ng-deep {
  app-fun-stack {
    --color-box-background: #ffffff;
    --color-box-background-line1: #efefef;
    --color-box-background-line2: #f8f8f8;
    --color-box-border: #e1e6ee;
    --color-box-header-background: #ffffffaa;
  }
  
  .vscode-dark {
    app-fun-stack {
      --color-box-background: #161616;
      --color-box-background-line1: #222222;
      --color-box-background-line2: #1c1c1c;
      --color-box-border: transparent;
      --color-box-header-background: #16161680;
    }
  }
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid var(--color-box-border);
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  cursor: grab;
  background: var(--color-box-background);

  .background1,
  .background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
  }

  .background1 {
    background:
      -webkit-linear-gradient(top, transparent 29px, var(--color-box-background-line1) 30px),
      -webkit-linear-gradient(left, transparent 29px, var(--color-box-background-line1) 30px);
    background-size: 30px 30px;
  }

  .background2 {
    background:
      -webkit-linear-gradient(top, transparent 14px, var(--color-box-background-line2) 15px),
      -webkit-linear-gradient(left, transparent 14px, var(--color-box-background-line2) 15px);
    background-size: 15px 15px;
  }

  header {
    font-size: 14px;
    line-height: 20px;
    color: var(--common-color-font-primary);
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 999;
    position: relative;
    background: var(--color-box-header-background);

    .header-left {
      width: 40%;
      display: flex;

      span {
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:last-of-type {
          margin-left: 10px;
        }
      }
    }
  
    .header-right {
      display: flex;
      align-items: center;
      width: 60%;
      justify-content: flex-end;

      .invocation-depth,
      .be-invocation-depth {
        display: flex;
        align-items: center;
        margin-left: 32px;

        span {
          margin-right: 8px;
        }

        ti-select {
          width: 78px;
        }
      }
    }
  }

  .stack {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;

    .stack-row {
      display: flex;

      app-fun-stack-node {
        margin: 0 40px;
      }
    }

    #line-box {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }

  .oprate-btns {
    position: absolute;
    bottom: 40px;
    right: 40px;

    span {
      width: 32px;
      height: 32px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .save-btn {
      border: 1px solid #979797;
    }

    .zoom-btn {
      border: 1px solid #979797;
      margin-top: 8px;

      .divider {
        width: 24px;
        height: 1px;
        background-color: var(--common-color-divider);
        margin: 0 4px;
      }
    }
  }
}
