<div class="tree-container">
  <div *ngIf="!isNumaView && seriesData.length">
    <div *ngIf="seriesData.length" id="echarts-tree" class="echarts-tree"
      echarts [options]="treeOption" [initOpts]="treeOpts"
      (chartInit)="onChartInit($event)"
      [appDragBox]="treeBox" [appZoomBox]="treeBox" #zoomBox="zoomBox" #dragBox="dragBox" #treeBox>
    </div>
    <div *ngIf="seriesData.length" class="right-zoom">
      <span (click)="zoomBox.zoomUp()">
        <ti-icon name="add"></ti-icon>
      </span>
      <div class="divider"></div>
      <span (click)="zoomBox.zoomDown()">
        <ti-icon name="reduce"></ti-icon>
      </span>
    </div>
    <!-- 获取树节点图标，避免节点状态每次改变都再次请求 -->
    <div [hidden]="true" *ngIf="imgArr.length">
      <img *ngFor="let url of imgArr" [src]="url">
    </div>
  </div>
  <div [hyNodata]="{ text: i18n.tuninghelper.taskDetail.noObjectView }" [nodataShow]="seriesData.length === 0 || isNumaView" class="no-data"></div>
</div>