:host ::ng-deep .content{
  height: 100%;
  .content-table{
    .ti3-details-tr {
      > td {
        padding: 0 !important;

        .ti3-table-fixed-head {
          > table {
            table-layout: fixed;
          }
        }

        .ti3-table-container {
          max-height:196px;
          overflow-y: auto;
          > table {
            .fileName {
              padding-left: 48px;
            }

            .noData {
              width: 636px;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 24px 0;
              font-size: 12px;
              margin-left: 24%;

              > img {
                width: 20%;
              }

              > div {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

.status-icon {
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
.analyzing-icon {
  border: 3px solid #7ADFA0;
}
.stopping-icon {
  border: 3px solid #FFB146;
}
.failed-icon {
  border: 3px solid #F45C5E;
}
.download{
  color: #0067FF;
  cursor: pointer;
}
.ti3-table>table{
  border-collapse: collapse;
  }
  .ti3-table>table>tbody>tr {
    border-bottom: 1px solid #E1E6EE;
  }

  .ti3-table>table>thead>tr {
    border-bottom: 1px solid #E1E6EE;
  }
  
  .ti3-table>table>tbody>tr>td{
    padding:14px 10px;
  }
  
.downloadContent{
  padding:22.8px 32px 32px;
  box-sizing: border-box;
  .mask-title{
  display:flex;
  justify-content: space-between;
  border-bottom: dashed 1px #E1E6EE;
  padding-bottom:20px;
  height:20px;
  font-size:20px;
}
.tip_title{
  padding-top:26px;
  padding-bottom:26px;
  font-size:14px;
  color: #616161;
  img{
    margin-bottom: -5px;
    padding-right: 10px;
  }
}

.ti3-table>.ti3-table-fixed-head>table>thead>tr>th:first-child[checkbox-column]{
  padding-left: 10px!important;
  padding-right:45px;
}

.ti3-table>.ti3-table-fixed-head{
  border-bottom: 1px solid  #E1E6EE;
}
.ti3-table>.ti3-table-container>table>tbody>tr{
  border-bottom: 1px solid  #E1E6EE;
}
.ti3-table>.ti3-table-fixed-head+.ti3-table-container {
  border: none !important;
}
.footer_button{
  margin:0 auto;
  margin-top:32px;
  width: 192px;
  font-size: 12px;
  button{
    line-height: 26px;
    width:88px;
    height:28px
  }
}
}
:host ::ng-deep .ti3-icon-angle-right:before { 
  content: "\e919" !important; 
}
:host ::ng-deep .ti3-icon-angle-transform-up-thin {
   display: inline-block; transform: rotate(270deg) !important; 
}
:host ::ng-deep .ti3-icon-angle-transform-down-thin {
   display: inline-block; transform: rotate(180deg) !important; 
}
:host ::ng-deep .ti3-table-detail-container {
  padding: 0!important;
}

