.ddr-summury {

  .sys-info {
    margin-bottom: 20px;

    .info-title {
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      color: var(--common-color-font-primary);
    }
  
    .divider {
      width: 100%;
      height: 1px;
      border-top: dashed 1px var(--common-color-divider);
      margin: 9px 0;
    }

    .info-content {
      display: flex;

      .info-left,
      .info-right {
        width: 50%;
        display: flex;
        font-size: 14px;
        line-height: 20px;
        color: var(--common-color-font-primary);

        .info-label {
          width: fit-content;
          color: var(--common-color-font-secondary);
        }

        .info-text {
          width: fit-content;
          margin-left: 20px;
        }

        p + p {
          margin-top: 10px;
        }
      }
    }
  }

  .time-line {
    app-time-line {
      ::ng-deep .box {
        width: calc(100% - 2px);
        box-sizing: border-box;
      }
    }
  }

  .echart-list {
    display: flex;
    flex-flow: column nowrap;

    app-ddr-summury-echart + app-ddr-summury-echart {
      margin-top: 26px;
    }
  }
}