::ng-deep {
  :root {
    --status-success: #7adfa0;
    --status-failed: #f45c5e;
    --status-created: #888888;
  }

  .vscode-dark {
    .mission-configuration {
      --status-success: #2aa956;
      --status-failed: #e2253b;
      --status-created: #888888;
    }
  }
}
.obj-detail {
  display: flex;
  justify-content: flex-start;
  .mission-configuration {
    section {
      display: flex;
      line-height: 40px;
      font-size: 14px;
  
      .label {
        flex-shrink: 0;
        width: 139px;
        padding-right: 15px;
        color: var(--common-color-font-secondary);
      }
  
      .value {
        color: var(--common-color-font-primary);
        width: 592px;
      }
    }
  
    .header {
      font-size: 16px;
      color: var(--common-color-font-primary);
    }
  
    .divider {
      margin-bottom: 10px;
      border-top: var(--divider-style);
    }
  }
}

