.modal-dialog {
  --ti-formfield-item-label-padding-right: 0;
  height: calc(100% - 85px);
  display: flex;
  flex-direction: column;
  padding: 0px 32px;
  overflow: auto;
  box-sizing: border-box;
  
  .header {
    width: 100%;
    min-height: 43px;
    font-size: 20px;
    border-bottom: 1px #9ea4b3 dashed;
  }
  .list-info {

    .table {
      width: 100%;
      padding: 10px 0 0 0;
      box-sizing: border-box;
      .config-info {
        display: flex;
        justify-content: flex-start;
        min-height: 45px;
        line-height: 45px;
        font-size: 14px;
        .table-left {
          padding-left: 16px;
          width: 240px;
          margin-right: 16px;
          display: inline-block;
          color: #666;
          box-sizing: border-box;
        }
        .table-right {
          display: inline-block;
          box-sizing: border-box;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: flex-start;
      height: 96px;
      padding: 20px 15px;
      font-size: 12px;
      button {
        height: 28px;
        line-height: 0px;
        margin-right: 20px;
        min-width: 120px;
        margin-left: 0;
      }
      button.toRight {
        margin-left: 130px;
      }
    }
  }
}
.content-box {
  .lable-right {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px;
    .label {
      width: 33%;
      color: #9ea4b3;
    }
  }
}

:host ::ng-deep .ti3-form {
  margin-left: -2px;
  .ti3-form-label {
    width: 240px;
  }
}
:host ::ng-deep textarea {
  box-sizing: border-box !important;
}


.analysis-info {

  .analysis-target-app-choose {
    margin-top: 8px;
    height: 32px;
    line-height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .choose-list {
      margin-left: 64px;
      display: flex;
      justify-content: flex-start;
      box-sizing: border-box;
      img {
        margin-right: 8px;
      }
    }
    .choose-list:hover {
      color: #6c92fa;
      cursor: pointer;
    }
  }
  .analysis-target-application {
    font-size: 14px;

    .analysis-target-application-contnet{
      display: flex;
      margin-bottom: 20px;

      .analysis-target-application-contnet-label{
        padding-right: 16px;
        color: #666;

        ti-icon{
          font-size: 16px;
          color: red;
        }
      }
    }
    .mission-app-warn {
      line-height: 24px;
      color: red;
      max-width: 430px;
    }
  }
  .analysis-target-pid {
    display: flex;
    flex-direction: column;
    z-index: -1;
    margin-bottom: 20px;

    // 侧划框宽度不够，需要覆盖控件里的input宽度
    .analysis-target-pid-input ::ng-deep .warpper .content .inputValue input{
      width: 430px;
    }

    .analysis-target-app-notice,
    .analysis-target-pid-notice {
      line-height: 20px;
      font-size: 16px;
    }
    .analysis-target-content {
      display: flex;
      justify-content: flex-start;
      margin-top: 8px;
      .analysis-target-app-label {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        width: 256px;
        color: #666;
        .analysis-target-app-input-app {
          display: flex;
          justify-content: flex-start;
          height: 32px;
          line-height: 32px;
          margin-bottom: 24px;
        }
      }
      .analysis-target-app-input {
        display: flex;
        flex-direction: column;
        input {
          width: 300px;
        }
        .mission-app-warn,
        .mission-pid-warn {
          line-height: 24px;
          color: red;
        }
        .analysis-target-app-input-app {
          height: 56px;
        }
        .analysis-target-app-input-params {
          min-height: 76px;
        }
      }
    }
  }
}

.analysis-target-app-label-params span{
  color: #666;
}

::ng-deep .missionModal {
  .modal-background {
    z-index: 50 !important;
  }

  .modal-container {
    z-index: 51 !important;
  }
}

:host ::ng-deep  {
  footer  {
    opacity: 0;
  } 
  .show-container  footer  {
    opacity: 1;
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 28px !important;
    transition: 0.4s;
    display: flex;
    width: 760px;
    justify-content: center;
    > button.toRight{
      margin-right: 20px;
    }
  }  
  .io-form-warpper .opreation, .form-warpper .opreation {
   display: none;
   position: absolute;
   bottom: 54px;
   left: 50%;
   transform: translateX(-50%);
   margin: 0 !important;
  }
  .show-container .io-form-warpper .opreation, .show-container .form-warpper .opreation {
    display: block;
    transition: display 0.4s;
   }
}
.netio-diagnostic{
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
  border-bottom: 1px dashed #9ea4b3;
}
