.light {
  --hpc-rankNum-selectBoxs-bg: rgba(0, 103, 255, 0.1);
  --hpc-rankNum-selectBoxs-color: #ffffff;
  --hpc-rankNum-selectChosen-bg: #0067ff;
  --hpc-rankNum-radioLabel-color: #222222;
  --hpc-rankNum-radioLabelSelect-color: #222222;
  --hpc-font-d-aaaaaa-l-979797: #979797;
  --hpc-btn-border-d-dddddd-l-979797: #979797;
  --hpc-th-border_b-d-4b4b4b-l-e1e6ee: #e1e6ee;
  --hpc-td-text-d-aaaaaa-l-222222: #222222;
}
.dark {
  --hpc-rankNum-selectBoxs-bg: #616161;
  --hpc-rankNum-selectBoxs-color: #e8e8e8;
  --hpc-rankNum-selectChosen-bg: #0067ff;
  --hpc-rankNum-radioLabel-color: #aaaaaa;
  --hpc-rankNum-radioLabelSelect-color: #e8e8e8;
  --hpc-font-d-aaaaaa-l-979797: #aaaaaa;
  --hpc-btn-border-d-dddddd-l-979797: #dddddd;
  --hpc-th-border_b-d-4b4b4b-l-e1e6ee: #4b4b4b;
  --hpc-td-text-d-aaaaaa-l-222222: #aaaaaa;
}

.config-rank-class {
  width: 600px;
  max-height: 600px;
  --ti-modal-width: auto;
  --ti-modal-header-padding: 18px 32px;
  --ti-common-border-radius-normal: 0px;
  .ti3-modal-content {
    width: 600px;
    max-height: 600px;
    overflow: hidden;

    .ti3-modal-header {
      line-height: 30px;
    }

    .ti3-modal-footer {
      button:nth-of-type(3) {
        margin-left: 10px;
      }
    }

    .ti3-modal-body {
      .rank-name {
        .tip-text {
          color: #979797;
          font-size: 12px;
        }
        .radio-item {
          display: inline-block;
          color: var(--hpc-rankNum-radioLabel-color);
          font-size: 14px;
          line-height: 28px;
          .ti3-radio .ti3-radio-label {
            color: var(--hpc-rankNum-radioLabel-color) !important;
          }
        }
        .radio-item:last-child {
          margin-left: 30px;
        }
        .select .ti3-radio .ti3-radio-label {
          color: var(--hpc-rankNum-radioLabelSelect-color) !important;
        }
      }

      .table-wapper {
        .select-boxs {
          position: relative;
          width: 61px;
          height: 18px;
          margin-top: 10px;
          border-radius: 9px;
          background: var(--hpc-rankNum-selectBoxs-bg);
          margin-bottom: 10px;
          .chosen {
            position: absolute;
            top: 0;
            width: 32px;
            height: 18px;
            color: var(--common-color-font-primary);
            border-radius: 9px;
            font-size: 12px;
            text-align: center;
            line-height: 18px;
            cursor: pointer;
          }
          .has {
            left: 0;
          }
          .all {
            right: 0;
          }
          .select-chosen {
            background: var(--hpc-rankNum-selectChosen-bg);
            color: var(--hpc-rankNum-selectBoxs-color);
          }
        }
        .rank-table {
          font-size: 12px;
          max-height: 303px;
          td {
            padding-top: 6px;
            padding-bottom: 6px;
          }
          .search-icon {
            margin-left: 8px;
          }
        }
      }
    }

    .ti3-modal-footer {
      button:not(.ok, [disabled]):hover {
        color: #0067ff !important;
      }
    }
  }
}

.vscode-dark button[disabled]:hover {
  border-color: #616161 !important;
}
