.warpper {
    font-family: "huawei sans";

    .boxMain {
        overflow-y: auto;
    }

    .common-warpper {
        .common-item {
            margin-top: 16px;

            &+.common-item {
                margin-top: 24px;
            }
        }
    }

    .sys-warpper {
        margin-top: 30px;

        .sys-item {
            margin-top: 16px;

            &+.sys-item {
                margin-top: 24px;
            }
        }
    }
}

.sub-title {
    font-size: 20px;
    color: #222222;
}

.content {
    padding: 22px 40px;
    width: 700px;

    .mask-tip-title {
        display: flex;
        justify-content: space-between;

        .mask-tip-title-text {
            font-size: 20px;
            color: #222222;;
        }

        .mask-tip-close-icon {
            cursor: pointer;
        }
    }

    .diliver {
        width: 100%;
        margin: 23px 0px;
        border-bottom: dashed 1px #E1E6EE;
    }

    .mask-tip-operation {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 10px;
    }
}
.agent-mask {
    .mask-tip-content {
        .mask-tip-content-one {
            display: flex;

            .mask-tip-warn-icon {
                cursor: pointer;
                position: relative;
                bottom: -1px;
                height: min-content;
            }

            .mask-tip-content-text {
                margin-left: 10px;
                color: #616161;
            }
        }

        .mask-tip-content-two {
            margin-top: 10px;
            .cert-status-spot {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 5px;
                border-radius: 50%;
            }

            .status1 {
                background-color: #FF9B00;
            }

            .status2 {
                background-color: red;
            }
        }
    }
}

:host ::ng-deep .warpper .ti3-form tbody:not(.ti3-text-form) .ti3-form-label {
    box-sizing: content-box;
    max-width: none;
} 