.sys-perf-memory-compare {
    .part {
        margin-bottom: 32px;
        > div:first-child {
            font-size: 16px;
            color: var(--common-color-font-primary);
            margin-bottom: 11px;
        }
    }
}