<div class="analysis-path" >
    <div class="record-title">
        {{projectName}}/{{name}}{{i18n.tuninghelper.record.analysisPath}}
    </div>
    <div class="box record-box" [ngClass]="{'isIE': isIE}" [appDragBox]="stack" [appZoomBox]="stack" #zoomBox="zoomBox" #dragBox="dragBox">
        <div class="background1"></div>
        <div class="background2"></div>

        <div id="record-stack-box" #stack class="stack">
            <div class="download-box">
            <div class="servreBox hidden-select" [ngClass]="{'active': serveOption && taskDetail.level === 'task'}">
                <ul class="select">
                    <li class="option" tiOverflow *ngFor="let item of serveOption" (click)="selectServe(item)">{{item.node_name}}
                    </li>
                </ul>
            </div>
            <div class="taskRect" *ngFor="let node of nodes" (mouseenter)="enterUrl = './assets/img/tuninghelper/enter-hover.svg';" 
            (click)="taskClick(node)" [ngClass]="{'selected': node.selected}"
            [ngStyle]="{'top': node.x + top - 15 + 'px', 'left': node.y + left + 13  + 'px'}">
                <span class="text" tiOverflow>{{node.data.task_name}}</span>
                <img [src]="enterUrl" (click)="arrowClick(node);$event.stopPropagation()" (mouseleave)="enterUrl = './assets/img/tuninghelper/enter-hover.svg';"
                [tiTip]='i18n.project.viewTask' tiTipPosition="top">
            </div>
        </div>
    </div>
        <div class="oprate-btns">
            <span class="save-btn" (click)="downLandSvg()">
                <img src="./assets/img/memDiagnose/save.svg" />
            </span>
            <div class="zoom-btn">
                <span (click)="zoomBox.zoomUp()">
                    <ti-icon class="icon" name="add"></ti-icon>
                </span>
                <div class="divider"></div>
                <span (click)="zoomBox.zoomDown()">
                    <ti-icon class="icon" name="reduce"></ti-icon>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="optimization-suggestions">
    <div class="record-title">{{i18n.tuninghelper.record.suggest }}</div>
    <div id="detail-container" class="custemDetailContainer">
        <ti-tabs class="custemTabs tabsWithSplitLine tabsWithUnderline"
            [ngClass]="{'nodeScene': taskDetail.level === 'node'}">
            <ti-tab [(active)]="item.active" *ngFor="let item of detailList; let index = index"
                (activeChange)='change(item)'>
                <ti-tab-header>
                    <span>{{item.label}}</span>
                </ti-tab-header>

                <div class="content-container" [ngClass]="{'column-container': item.serve.length > 0}">
                    <ng-container *ngIf="item.serve.length > 0">
                        <ng-container *ngFor="let block of item.serve">
                            <app-suggestions-block [suggestData]='block' [taskDetail]='taskDetail' [nodeId]='nodeId'
                                [taskName]='taskName' [taskId]='taskId'>
                            </app-suggestions-block>
                        </ng-container>
                    </ng-container>
                    <div [hyNodata]="nodataTip" class="nodata-box" [nodataShow]="item.serve.length === 0"
                        *ngIf="item.serve.length === 0" style="height: 272px;">
                        <div class="nodata-text">
                            <span>{{i18n.tuninghelper.record.noaccept}}</span>
                            <span class="view-details" (click)="noDataClick(item)">{{i18n.sys.viewDetails}}</span>
                        </div>
                    </div>

                </div>
            </ti-tab>
        </ti-tabs>
    </div>
</div>