::ng-deep {
  :root {
    --color-block-background: #fff;
    --color-option-hover: #f5f9ff;
    --color-box-background-line1: #efefef;
    --color-box-background-line2: #f8f8f8;
    --color-tree-box-background: #f4f8ff92;
    --color-tree-box-title-background: #0067ff0d;
    --color-thumbnail-background: #f4f8ff;
    --color-box-shadow: #056aff;
    --color-line-background: #e1e6ee;
    --color-box-border: #e1e6ee;
    --color-btn-icon: #979797;
    --color-rect-bg: #e0ecff;
    --color-rect-bg-hover: #cbdffc;
    --color-rect-bg-active: #a9c4ec;
  }

  .vscode-dark {
    .analysis-path {
      --color-block-background: #252526;
      --color-option-hover: #313131;
      --color-box-background-line1: #2a2a2a;
      --color-box-background-line2: #242424;
      --color-tree-box-background: #333435;
      --color-tree-box-title-background: #ffffff21;
      --color-thumbnail-background: #2b2c2d;
      --color-box-shadow: #c5c5cc;
      --color-line-background: #545454;
      --color-box-border: #1e1e1e;
      --color-btn-icon: #828282;
      --color-rect-bg: #444447;
      --color-rect-bg-hover: #2a2a2a;
      --color-rect-bg-active: #2a2a2a;
    
  }

}
.box {
    width: 100%;
    height: 384px;
    position: relative;
    border: 1px solid var(--color-box-border);
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    cursor: grab;
    background-color: var(--d-161616-l-ffffff);
  
    .background1,
    .background2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: repeat;
    }
  
    .background1 {
      background:
      -webkit-linear-gradient(top, transparent 29px, var(--color-box-background-line1) 30px),
      -webkit-linear-gradient(left, transparent 29px, var(--color-box-background-line1) 30px);
      background-size: 30px 30px;
    }
  
    .background2 {
      background:
      -webkit-linear-gradient(top, transparent 14px, var(--color-box-background-line2) 15px),
      -webkit-linear-gradient(left, transparent 14px, var(--color-box-background-line2) 15px);
      background-size: 15px 15px;
    }
  
    .stack {
      width: 100%;
      height: 100%;
    }
    .download-box{
      width: max-content;
    }
  
    .oprate-btns {
      position: absolute;
      bottom: 40px;
      right: 40px;
  
      span {
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .save-btn {
        border: 1px solid var(--color-btn-icon);
      }
  
      .zoom-btn {
        border: 1px solid  var(--color-btn-icon);
        margin-top: 8px;
  
        .divider {
          width: 24px;
          height: 1px;
          background-color: var(--color-line-background);
          margin: 0 4px;
        }
      }
      .icon{
        color:  var(--color-btn-icon);
      }
    }
  }

  .isIE{
    .background1 {
        background:
        -ms-linear-gradient(top, transparent 29px, #efefef 30px),
        -ms-linear-gradient(left, transparent 29px, #efefef 30px);
        background-size: 30px 30px;
    }
    .background2 {
        background:
        -ms-linear-gradient(top, transparent 14px, #f8f8f8 15px),
        -ms-linear-gradient(left, transparent 14px, #f8f8f8 15px);
        background-size: 15px 15px;
    }
  }

 .hidden-select{
  visibility: hidden;
  position: absolute;
  width: 200px;
  border-radius: 2px;
	border: solid 1px #2072ea;
  max-height: 248px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  ul{
    display: flex;
    flex-direction: column;
    background-color: var(--color-block-background);
  }
  li{
    height: 28px;
    font-size: 12px;
    color: #222222;
    line-height: 28px;
    cursor: pointer;
    padding: 0 10px;
    color: var(--d-aaaaaa-l-222222);
    &:hover{
      background-color: var(--color-option-hover);
    }
  }
  &.active{
    visibility: visible;
  }
}
::ng-deep .vscode-dark .optimization-suggestions{
    --color-content-background: #161616;
  }
::ng-deep .optimization-suggestions{
  --color-content-background: #f8fafd;
 .ti3-tab-content{
  background-color: #f8fafd;
    background-color: var(--color-content-background);
    padding: 4px 12px;
    .ti3-tab-pane{
        padding-top: 0 !important; 
    }
} 
}
.record-title{
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0 10px 0;
    color: var(--d-e8e8e8-l-222222);
}
:host ::ng-deep .custemTabs.tabsWithSplitLine>.ti3-tabs-container1 .ti3-tabs-header>.ti3-tabs>li:not(:first-child) {
    position: relative;
    &:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 10px;
    width: 1px;
    height: 14px;
    background: #e1e6ee;
    }
}
:host ::ng-deep .custemTabs.tabsWithUnderline.nodeScene > .ti3-tabs-container1 .ti3-tabs-header{
    height: 0;
    border-bottom: 0px solid #e1e6ee;
}
.column-container{
  column-count: 2;
  column-gap: 0;
}
.nodata-box{
  position: relative;
}
.nodata-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% + 67px);
}
.view-details{
  color: #0067ff;
  cursor: pointer;
}

.taskRect{
  position: absolute;
  background-color: var(--color-rect-bg);
  width: 104px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding: 0 6px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  z-index: 1;
  .text{
    width: 100px;
    padding-right: 2px;
  }
  img{
    width: 0;
    height: 100%;
    visibility: hidden;
  }  
  &.selected{
    background-color: var(--color-rect-bg);
  }
 
  &:active, &.selected, &:hover{
    border: 2px solid var(--color-box-shadow);
  }
  &:hover{
    background-color: var(--color-rect-bg-hover) !important;
    img{
      width: 22px;
      visibility: visible;
    }
    .text{
      width: 80px;
    }
  }
 &:active{
    background-color: var(--color-rect-bg-active) !important;
  }
}
}