.tableBox {
  .tableTitle {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #282b33;
    margin: 48px 0px 16px 0px;
  }
}

:host ::ng-deep .ti3-table>table>thead>tr>th {
  background-color: #f5f9ff !important
}
.tableFirstData{
  margin-left: 14px;
}
.questionMark{
  display: flex;
  align-items: center;
}
