<div class="icons-warpper">
    <div class="icon" [hidden]="!(iconStatus === IconStatusEnum.Normal)">
        <app-icon-static *ngIf="iconData != null"  [name]="iconData.normal"></app-icon-static>
    </div>
    <div class="icon" [hidden]="!(iconStatus === IconStatusEnum.Active)">
        <app-icon-static *ngIf="iconData != null" [name]="iconData.active"></app-icon-static>
    </div>
    <div class="icon" [hidden]="!(iconStatus === IconStatusEnum.Hover)">
        <app-icon-static *ngIf="iconData != null" [name]="iconData.hover"></app-icon-static>
    </div>
    <div class="icon" [hidden]="!(iconStatus === IconStatusEnum.Disabled)">
        <app-icon-static *ngIf="iconData != null" [name]="iconData.disabled"></app-icon-static>
    </div>
</div>
