$font14: 14px;

$col97: #979797;
$colf5: #f5f5f5;
$col222: #222;
$colfff: #fff;
$colccc: #ccc;
$col0067ff: #0067FF;

.drop-down {
  overflow: hidden;
  max-width: 142px;
  height: 32px;
  margin-bottom: -72px;
  border: 1px solid $col97;
  font-size: $font14;
  text-align: center;
  color: $col222;
  li {
    padding-left: 18px;
    padding-right: 10px;
    height: 32px;
    background-color: #fff;
    line-height: 32px;
    cursor: pointer;
    img {
      margin-left: 8px;
      vertical-align: middle;
    }
  }
  .hover-text {
    height: 0;
    &:hover {
      background-color: $col0067ff;
      color: $colfff;
    }
  }
  &:hover {
    height: auto;
    border-color: $col0067ff;
    .hover-text {
      position: relative;
      z-index: 66;
      height: 32px;
    }
  }
}
.disable-drop {
  border-color: $colccc;
  background-color: $colf5;
  color: $colccc;
  &:hover {
    height: 32px;
    border-color: $colccc;
  }
  li:first-child {
    cursor: not-allowed;
  }
}
.disable-text {
  background-color: $colf5;
  color: $colccc;
  &:hover {
    background-color: $colf5 !important;
    color: $colccc !important;
    cursor: not-allowed !important;
  }
}