<ng-container>
  <app-common-history-list
    #historyListChild
    type="weakCheck"
    [tabs]="tabs"
    [safeFlag]="safeFlag"
    [dangerFlag]="dangerFlag"
    [safeFlagBc]="safeFlagBc"
    [dangerFlagBc]="dangerFlagBc"
    [reportList]="reportList"
    (getReportDetail)="searchReportDetail($event)"
    (goReport)="goReport($event)"
    (searchHistory)="searchHistory($event)"
  >

    <div class="drop-down" [ngClass]="{'disable-drop': !tabs[0]['num'] && !tabs[1]['num']}">
      <ul>
        <li>
          <span>{{ i18n.common_term_clear_btn }}</span>
          <img src="./assets/img/header/select-down.png" *ngIf="!(!tabs[0]['num'] && !tabs[1]['num'])"/>
          <img src="./assets/img/header/select-dis.png" *ngIf="!tabs[0]['num'] && !tabs[1]['num']"/>
        </li>
        <li class="hover-text" (click)="historyListChild.deleteAll('source')" [ngClass]="{'disable-text': !tabs[0]['num']}"><span>{{ i18n.check_weak.sourceHistory }}</span></li>
        <li class="hover-text" (click)="historyListChild.deleteAll('BC')" [ngClass]="{'disable-text': !tabs[1]['num']}"><span>{{ i18n.check_weak.BCHistory }}</span></li>
      </ul>
    </div>

  </app-common-history-list>
</ng-container>