@import "../../../../styles/custemTabs.scss";
@import "../../../../styles/custemDetailContainer.scss";
::ng-deep {
	:root {
		--background-color: #f5f9ff;
		--container-text-color: #616161;
		--text-color: #222222;
	}
	.vscode-dark .sys-perf-compare {
		--background-color: #12223b;
		--container-text-color: #aaaaaa;
		--text-color: #dcdcdc;
	}
}
.sys-perf-compare {
	padding-top: 0 !important;
	.table-container {
		margin-bottom: 32px;
		min-height: 130px;
		.cpu-title {
			font-size: 16px;
			margin-bottom: 10px;
		}
		.mic-introduction {
			margin: 10px 0px;
			display: flex;
			height: 24px;
			line-height: 24px;
			padding-left: 10px;
			background: var(--background-color);
			.infoValue {
				height: 18px;
				margin-right: 24px;
				.metrics {
					font-size: 12px;
					color: var(--container-text-color);
					display: inline-block;
					margin-right: 8px;
				}
				.mic-intro-spanColor {
					font-size: 12px;
					color: var(--text-color);
				}
			}
		}
	}
}
:host ::ng-deep ti-table {
	font-size: 12px;
}
