.warpper {
    box-sizing: border-box;
    font-family: "huawei sans";

    .header {
        .title {
            -webkit-font-smoothing: none;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 20px;
            letter-spacing: 0px;
            color: #222222;
        }
    }

    .common-warpper {
        .common-item {
            margin-top: 16px;

            &+.common-item {
                margin-top: 24px;
            }
        }
    }

    .sys-warpper {
        margin-top: 30px;

        .sys-item {
            margin-top: 16px;

            &+.sys-item {
                margin-top: 24px;
            }
        }
    }
}

.sub-title {
    font-size: 20px;
    color: #222222;
}

.content {
    padding: 20px 30px;

    .mask-tip-title {
        display: flex;
        justify-content: space-between;

        .mask-tip-title-text {
            font-size: 18px;
        }

        .mask-tip-close-icon {
            cursor: pointer;
        }
    }

    .diliver {
        width: 100%;
        margin: 22px 0px;
        border-bottom: solid 1px #d4d9e6;
    }

    .mask-tip-operation {
        text-align: center;
        margin-top: 30px;
    }
}

.web-mask {
    width: 30vw;

    .mask-tip-content {
        display: flex;

        .mask-tip-warn-icon {
            cursor: pointer;
            position: relative;
            bottom: -1px;
            height: min-content;
        }

        .mask-tip-content-text {
            margin-left: 10px;
        }
    }
}

.agent-mask {
    width: 34vw;

    .mask-tip-content {
        .mask-tip-content-one {
            display: flex;

            .mask-tip-warn-icon {
                cursor: pointer;
                position: relative;
                bottom: -1px;
                height: min-content;
            }

            .mask-tip-content-text {
                margin-left: 10px;
            }
        }

        .mask-tip-content-two {
            margin-top: 10px;
            .cert-status-spot {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 5px;
                border-radius: 50%;
            }

            .status1 {
                background-color: #FF9B00;
            }

            .status2 {
                background-color: red;
            }
        }
    }
}
