.webBox{
  .webContent{
    .status-icon {
      border-radius: 50%;
      vertical-align: middle;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 2px;

      &.analyzing-icon {
        border: 5px solid #7ADFA0;
      }
      &.stopping-icon {
        border: 5px solid #FFB146;
      }
      &.failed-icon {
        border: 5px solid #F45C5E;
      }
      &.inactive-icon {
        border: 5px solid blue;
      }
    }

    ti-actionmenu {
      >.ti3-action-menu-item {
        color: #0067FF;

        &:hover {
          color: #267dff;
        }
  
        &.active {
          color: #0057d9;
        }
  
        &.disabled {
          color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }

  .webEmpty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

::ng-deep .ti3-file-upload-container {
  display: inline;
  margin-left: 8px !important;
}


::ng-deep .createCsrFileModal {
  .tipInfo {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 18px;

    img {
      width: 18px;
    }

    span {
      margin-left: 18px;
      font-size: 14px;
      line-height: 20px;
      color: #616161;
    }
  }

  ti-formfield {
    input {
      width: 300px;
    }
  }
}

::ng-deep .importCertModal {
  ti-formfield {
    input {
      width: 240px;
    }
  }

  .tipInfo {
    color: #979797;
    font-size: 12px;
    padding-top:4px;
  }
}