<div class="webBox configItemBox">
  <p class="webTitle boxHeader">{{i18n.certificate.title}}</p>

  <div class="webContent boxMain" [appLoading]="isLoading">
    <ti-table [(displayedData)]="certList.displayed" [srcData]="certList.srcData" [columns]="certList.columns">
      <table>
        <thead>
          <tr>
            <th tiOverflow *ngFor="let column of certList.columns" width="{{column.width}}">{{column.title}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of certList.displayed;">
            <td tiOverflow>{{row.name}}</td>
            <td tiOverflow>{{row.validTime | timeProcess}}</td>
            <td tiOverflow>
              <span class="status-icon" [ngClass]="statusFormat(row.certStatus)"></span>
              {{row.status}}
            </td>
            <td *ngIf="role ==='Admin'" tiOverflow>
              <ti-actionmenu [items]="certList.operateList" [maxShowNum]="3" [panelMaxWidth]="'200px'" (select)='$event.click()'></ti-actionmenu>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!certList.displayed.length && !isLoading" class="webEmpty">
        <img src="./assets/img/projects/nodata.png" alt="" />
        <div>{{this.i18n.common_term_task_nodata}}</div>
      </div>
    </ti-table>
  </div>
</div>

<!-- 生成csr文件模态框 -->
<ng-template #createCsrFileModalComponent let-context='context'>
  <ti-modal-header>
    {{ i18n.certificate.createCsr }}
  </ti-modal-header>

  <ti-modal-body>
    <p class="tipInfo">
      <img src="./assets/img/tip/tip.svg" />
      <span>{{ i18n.certificate.common_term_webcert_import_pre_tip }}</span>
    </p>

    <ti-formfield [formGroup]="csrFormGroup">
      <ti-item [label]="i18n.certificate.country" [required]='true'>
        <input tiText [tiValidation]='validation' formControlName='country' type="word">
      </ti-item>

      <ti-item [label]="i18n.certificate.province">
        <input tiText [tiValidation]='validation' formControlName='province' type="word">
      </ti-item>

      <ti-item [label]="i18n.certificate.city">
        <input tiText [tiValidation]='validation' formControlName='city' type="word">
      </ti-item>

      <ti-item [label]="i18n.certificate.organization">
        <input tiText [tiValidation]='validation' formControlName='organization' type="word">
      </ti-item>

      <ti-item [label]="i18n.certificate.department">
        <input tiText [tiValidation]='validation' formControlName='department' type="word">
      </ti-item>

      <ti-item [label]="i18n.certificate.commonName" [required]='true'>
        <input tiText [tiValidation]='validation' formControlName='commonName' type="word">
      </ti-item>
    </ti-formfield>
  </ti-modal-body>

  <ti-modal-footer>
    <button type="button" tiButton color="primary" [disabled]="!csrFormGroup.valid" (click)='context.confirm(context)'>
      {{ i18n.common_term_operate_ok }}
    </button>

    <button type="button" tiButton (click)="context.dismiss()">{{ i18n.common_term_operate_cancel }}</button>
  </ti-modal-footer>
</ng-template>

<!-- 导入证书模态框 -->
<ng-template #importCertModalComponent let-context='context'>
  <ti-modal-header>
    {{ i18n.certificate.leadCsr }}
  </ti-modal-header>

  <ti-modal-body>
    <ti-formfield [formGroup]="importCertFormGroup">
      <ti-item [label]="i18n.certificate.csrFile" [required]="true">
        <input tiText formControlName="csrFile" type="word">

        <ti-upload
          #uploadComp
          type="button"
          [url]="'api/v2.2/certificates/'"
          [alias]="'file'"
          [filters]='filters'
          [method]="'put'"
          [headers]="header"
          [autoUpload]="false"
          [buttonText]="this.i18n.certificate.lead"
          (addItemSuccess)='onAddItemSuccess($event)'
          (beforeSendItems)='onBeforeSendItems($event)'
          (successItems)='onSuccessItems($event, context)'
          (errorItems)='onErrorItems($event)'
        ></ti-upload>

        <div class="tipInfo">{{i18n.certificate.common_term_webcert_import_tip}}</div>
      </ti-item>
    </ti-formfield>
  </ti-modal-body>

  <ti-modal-footer>
    <button type="button" tiButton color="primary" [disabled]="!importCertFormGroup.valid" (click)="uploadComp.upload()">
      {{i18n.common_term_operate_ok}}
    </button>

    <button type="button" tiButton (click)="context.dismiss()">{{ i18n.common_term_operate_cancel }}</button>
  </ti-modal-footer>
</ng-template>