<ng-container *ngIf="displayType === 'dataDisplay'">
    <div class="task-content-box" *ngIf="toolType !== ToolType.TUNINGHELPER">
        <app-hpc-detail *ngIf="analysisType.indexOf('hpc') > -1" [projectName]='projectName' [taskName]='taskName'
            [analysisType]='analysisType' [analysisTarget]='analysisTarget' [status]='status' [id]='id'
            [nodeid]='nodeid'>
        </app-hpc-detail>
        <app-tab-detail *ngIf="analysisType === 'java-mixed-mode' || analysisType === 'C/C++ Program'"
            [projectName]='projectName' [taskName]='taskName' [analysisType]='analysisType' [status]='status' [id]='id'
            [nodeid]='nodeid'>
        </app-tab-detail>
        <app-locktab-detail *ngIf="analysisType === 'system_lock'" [projectName]='projectName' [taskName]='taskName'
            [analysisType]='analysisType' [status]='status' [id]='id' [nodeid]='nodeid'>
        </app-locktab-detail>
        <app-protab-detail *ngIf="analysisType === 'process-thread-analysis'" [taskName]='taskName'
            [projectName]='projectName' [analysisType]='analysisType' [status]='status' [id]='id' [nodeid]='nodeid'>
        </app-protab-detail>
        <app-systab-detail *ngIf="analysisType === 'system'" [taskName]='taskName' [projectName]='projectName'
            [analysisType]='analysisType' [status]='status' [id]='id' [nodeid]='nodeid' [tabShowing]="tabShowing">
        </app-systab-detail>
        <app-conftab-detail *ngIf="analysisType === 'system_config'" [taskName]='taskName' [projectName]='projectName'
            [analysisType]='analysisType' [status]='status' [id]='id' [nodeid]='nodeid'>
        </app-conftab-detail>
        <app-restab-detail *ngIf="analysisType === 'resource_schedule'" [taskName]='taskName'
            [projectName]='projectName' [analysisType]='analysisType' [status]='status' [id]='id' [nodeid]='nodeid'>
        </app-restab-detail>
        <app-ddrtab-detail *ngIf="analysisType === 'mem_access'" [taskName]='taskName' [projectName]='projectName'
            [status]='status' [id]='id' [nodeid]='nodeid'>
        </app-ddrtab-detail>
        <app-micarch *ngIf="analysisType === 'microarchitecture'" [taskName]='taskName' [projectName]='projectName'
            [analysisType]='analysisType' [status]='status' [id]='id' [nodeid]='nodeid'>
        </app-micarch>
        <app-miss-detail *ngIf="analysisType === 'miss_event'" [taskName]='taskName' [projectName]='projectName'
            [analysisType]='analysisType' [status]='status' [taskid]='id' [nodeid]='nodeid'
            [missNoImmediately]='missNoImmediately'></app-miss-detail>
        <app-false-sharing *ngIf="analysisType === 'falsesharing'" [taskName]='taskName' [projectName]='projectName'
            [analysisType]='analysisType' [status]='status' [taskid]='id' [nodeid]='nodeid'></app-false-sharing>
        <app-storage-detail *ngIf="analysisType === 'ioperformance'" [taskName]='taskName' [id]='id'
            [projectName]='projectName' [analysisType]='analysisType' [status]='status' [nodeid]='nodeid'>
        </app-storage-detail>
        <app-linkage-detail *ngIf="analysisType ==='task_contrast'" [taskName]='taskName' [projectName]='projectName'
            [status]='status' [taskId]='id' [nodeid]='nodeid'></app-linkage-detail>
        <app-diagnose-leak-detail *ngIf="analysisType ==='memory_diagnostic'" [taskName]='taskName'
            [projectName]='projectName' [status]='status' [taskId]='id' [nodeId]='nodeid' [tabShowing]='tabShowing' [taskDetail]="taskDetail">
        </app-diagnose-leak-detail>
        <app-net-io-detail *ngIf="analysisType === 'netio_diagnostic'" [taskName]='taskName'
            [projectName]='projectName' [status]='status' [taskId]='id'   [nodeId]='nodeid' [tabShowing]='tabShowing'>
        </app-net-io-detail>
        <!-- 内存诊断存储io分析 -->
        <app-storage-io-detail *ngIf="analysisType === 'storageio_diagnostic'" [taskId]="id" [nodeId]="nodeid"
        [status]="status"></app-storage-io-detail>
    </div>
    <div class="tuninghelper-content-box" *ngIf="toolType === ToolType.TUNINGHELPER"
        [ngClass]="{'gradient-bg': analysisType === 'optimization'}">
        <app-tuninghelper-task-detail
            *ngIf="analysisType === 'optimization'"
            [taskId]="id"
            [nodeId]="nodeid"
            [status]="status"
            [ownerId]="ownerId">
        </app-tuninghelper-task-detail>
        <app-tuninghelper-record-detail
            *ngIf="analysisType === 'tuninghelperRelation'"
            [taskDetail]='taskDetail'
            [taskName]="taskName"
            [currentTool]="'popTip'"
            (showInfoBox)='showInfoBox($event)'
            [projectName]="projectName">
        </app-tuninghelper-record-detail>
        <app-tuninghelper-detaildata *ngIf="analysisType === 'tuninghelperDateiledData'" [taskDetail]="taskDetail">
        </app-tuninghelper-detaildata>
        <app-tuninghelper-compare
            *ngIf="analysisType === 'tuninghelperCompare'"
            [status]="status"
            [taskId]="id"
            [nodeId]="nodeid"
        ></app-tuninghelper-compare>
    </div>
</ng-container>
<ng-container *ngIf="displayType === 'nodeProcessDisplay'">
    <div class="process">
        <hy-theme-content>
            <div class="darkkAnalyze" dark> 
                <img src="./assets/img/analyzing/analyzeBg.png" class="analyzing-gif">
                <img src="./assets/img/analyzing/analyzeAnimation.gif" class="analyzing-gif1">
            </div>
            <img src="./assets/img/analyzing/light-analyzing.gif" class="analyzing-gif" light>
        </hy-theme-content>
        <span class="status-text">{{statusText}}</span>
        <div class="process-anim" *ngIf="status !== 'Created'">
            <div class="process-static-bar"></div>
            <div class="process-bar"></div>
        </div>
    </div>
</ng-container>
