// 弹窗容器样式设置
:host ::ng-deep app-mission-modal-header {
  .content-box.active {
    width: 912px !important;
    padding: 20px 40px 60px;
    height: 600px;
    position: relative;
    box-sizing: border-box;

    .modify-schedule {
      // 头部
      .header {
        font-size: 20px;
        border-bottom: 1px var(--d-4b4b4b-l-e2e2e2) dashed;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img.close-img {
          cursor: pointer;
        }
        .tip-close {
          display: inline-block;
          img:hover {
            cursor: pointer;
          }
          & > img {
            display: none;
          }
          & > img:nth-of-type(1) {
            display: block;
          }
          &:hover {
            & > img:nth-of-type(1) {
              display: none;
            }
            & > img:nth-of-type(2) {
              display: block;
            }
          }
          &:active {
            & > img:nth-of-type(1) {
              display: none;
            }
            & > img:nth-of-type(2) {
              display: block;
            }
          }
        }
      }

      // 内容
      .list-info {
        overflow-y: auto;
        max-height: 444px;
        border-bottom: 1px dashed var(--d-4b4b4b-l-e2e2e2);
        &::-webkit-scrollbar {
          width: 6px;
        }
      }
    }
  }
}

// ide与web的不同，特殊处理
:host ::ng-deep .list-info .missMobal .warpper .prefix-miss,
:host ::ng-deep .missMobal .warpper .form .prefix-miss,
:host ::ng-deep .missMobal .warpper .opreation.prefix-miss {
  margin-left: 0;
}
:host ::ng-deep .missMobal .warpper .targetAndClient .control ti-formfield .ti3-form tbody tr td:first-child{
  width: 0;
}


:host ::ng-deep .missMobal .warpper .form .reservation_title {
  padding-left: 0;
  margin-top: 10px;
}
:host ::ng-deep .list-info .missMobal .warpper .prefix{
  margin-left: 12px;
}
:host ::ng-deep .missMobal .targetAndClient {
  margin-left: -16px;
  .ti3-form .ti3-form-require .ti3-icon::before {
    margin-left: 0 !important;
  }
}
:host ::ng-deep .missMobal .warpper .limit .ti3-form .ti3-form-content {
  padding-bottom: 20px !important;
}
:host
  ::ng-deep
  .missMobal
  .warpper
  .limit
  .ti3-form
  .ti3-form-list
  .ti3-form-content {
  padding-bottom: 16px !important;
}

:host ::ng-deep .warpper .control .hy-collapse-warpper .hy-collapse-content {
  padding-left: 24px;

  .title,
  .label_margin,
  .advanced-parame {
    margin-left: 0;
  }
}
