$themeColor: #0067FF;

  .upload{
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: row;
      height: 100%;
      min-height: 300px;
      background: #ffffff;
    .uploader{
        width: calc(100% - 520px);
        flex: 1.5;
        box-sizing: border-box;
        & > ul {
          max-width: 960px;
          &:nth-child(2) {
            li + li {
              margin-bottom: 24px;
            }
          }
        }
      .step-path {
        max-width: 530px;
      }
      .value{
          display: inline-block;
          color: #282b33;
          .selsct-type-radio:nth-of-type(2) {
            padding: 0 40px;
          }
          .areaMatchWeakDisplay {
            margin-left: 0;
            li {
              &:nth-of-type(3) {
                margin: 0 !important;
              }
            }
          }
      }
      .tip-btn-box,
      .disabled-btn {
        position: absolute;
        left: 440px;
      }
      .disabled-btn {
        margin-left: 10px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        color: #ccc;
        cursor: not-allowed;
        &:hover {
          border: 1px solid #ccc;
          background-color: #f5f5f5;
          color: #ccc;
        }
      }
      .next-btn {
        position: absolute;
        left: 0;
        bottom: -60px;
      }
      .areaMatchDiv {
        position: absolute;
        left: 0 ;
        width: 440px;
        margin-left: 10px;
        box-sizing: border-box;
        border: 1px solid $themeColor;
        border-top: 1px solid #E1E6EE;
        background-color: #fff;
        z-index: 9;
        max-height: 300px;
        overflow-y: auto;
        li {
          margin-bottom: 0;
        }
        li:last-child {
          margin-top: 0;
          margin-bottom: 0 !important;
        }
      }
      .areaMatch {
        margin-left: 10px;
      }
      .areaMatch,
      .areaMatchWeakDiv {
        box-sizing: border-box;
        width: 440px;
        padding: 7px;
        font-size: 14px;
        word-wrap: break-word;
        white-space: pre-line;
      }
      .areaMatch-zh {
        height: 110px;
      }
      .areaMatch-zh,
      .areaMatchWeakDiv-zh {
        word-break: break-all;
      }

    }
    .upload-restule-tip {
      font-size: 12px;
      line-height: 16px;
      margin-left: calc(20% + 15px);
      img {
        width: 16px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  .btn-box {
      margin-top: 32px;
      button {
        min-width: 88px !important;
        &:nth-child(2) {
          margin: 0 16px;
        }
      }
  }
  .file-name {
    width: 100%;
    word-break: break-all;
  }


