<li class="upload">
  <div class="uploader">
    <p class="step-path step-relative" tiOverflow>
      <span>{{ i18n.check_weak.step[0].path_bc }} {{ workspace }}</span>
    </p>
    <p style="position: relative;">
      <span class="value">
        <span class="value-row">
          <span [tiTip]='!weakEnvironment ? i18n.disable_tip.arm_tip : ""' tiTipPosition="center"
            [tiTipMaxWidth]="currLang === 'zh-cn' ? '176px' : '180px'">
            <textarea type="text" tiText
              placeholder="{{i18n.check_weak.textarea_weak_bc1}}&#10;{{i18n.check_weak.textarea_weak_bc2}}&#10;{{bcPlaceholder}}" 
              class="areaMatchWeakDiv"
              [ngClass]="{'areaMatchWeakDiv-zh': bcFileName !== ''}"
              [ngStyle]="{'height': (this.currLang == 'zh-cn') ? '142px' : '150px', 'border-color':bcUploadResultTip.content && bcUploadResultTip.state==='error'? '#ED4B4B':''}"
              [(ngModel)]="bcFileName" (focus)="focusWeakTextArea()" (blur)="blurAreaMatch()"
              (keyup)="keyupWeakAreaMatch()" [tiValidation]="validationChange" [formControl]="maxFilenameLength">
              </textarea>
          </span>
          <p class="upload-restule-tip" *ngIf="bcUploadResultTip.content" style="margin-left: 0;">
            <img [src]="bcUploadResultTip.state === 'success'? './assets/img/home/success-tip.svg': './assets/img/home/icon_error.png'">
            <span [ngStyle]="{'color': bcUploadResultTip.state === 'success' ? '#616161':'#ED4B4B'}">{{ bcUploadResultTip.content }}</span>
            <ng-container *ngIf="fileExceed">
              <span *ngIf="currLang === 'zh-cn'" class="file-err-help"><a (click)="goFileHelp()">{{ i18n.common_term_help_tip }}</a>。</span>
              <span *ngIf="currLang === 'en-us'" class="file-err-help"><a (click)="goFileHelp()">online help</a>.</span>
            </ng-container>
          </p>
          <!-- 输入自动匹配 -->
          <div class="areaMatchWeakDisplay areaMatchDiv" 
            *ngIf="displayAreaMatch && (weakPathList.length !== 0)">
            <ul>
              <li style="margin: 0;" *ngFor="let path of weakPathList" style="cursor: pointer;">
                <p (mousedown)="clickWeakMatch(path)">{{ path }}</p>
                <div (mousedown)="isDeleteAreaMatch(path)"></div>
              </li>
            </ul>
          </div>
        </span>
      </span>
      <button *ngIf="isShow || isCompress" type="button" [tiTip]="i18n.common_term_upload_file_resource" tiButton class="disabled-btn">{{ i18n.common_term_upload_software }}</button>
      <span [tiTip]='!weakEnvironment ? i18n.disable_tip.arm_tip : ""' tiTipPosition="right"
        [tiTipMaxWidth]="currLang === 'zh-cn' ? '176px' : '180px'" class="tip-btn-box">
        <button *ngIf="!isShow && !isCompress" (click)="zipUpload()" type="button" style="margin-left: 10px;" tiButton
          [disabled]='!weakEnvironment'>{{ i18n.common_term_upload_software }}<input type="file" id="bcload"
            style="display: none;" (change)="uploadWeakFile('normal', '8')" accept=".bc" />
        </button>
      </span>
      <span [tiTip]='!weakEnvironment ? i18n.disable_tip.arm_tip : ""' tiTipPosition="right" [tiTipMaxWidth]="currLang === 'zh-cn' ? '176px' : '180px'" class="next-btn">
        <button type="button" tiButton color="primary" (click)="startCheck()" [disabled]="!bcFileName || BCCommit || createBtnDisabled">
          {{ i18n.check_weak.start_check }}
        </button>
      </span>
    </p>
  </div>
</li>

<!-- 上传重复文件 modal start -->
<app-pop-mask #exitmask>
  <div class="content config-modal exit-modal-560">
    <p class="mask-title">
      <span>{{i18n.analysis_center.exit.title}}</span>
      <span class="close-btn" (click)="closeMaskExit()">
        <img src="./assets/img/header/icon_header_pop_close.svg" />
        </span>
    </p>
    <div class="mask-container">
      <div class="img-box">
        <img src="./assets/img/tip/warn.svg" />
      </div>
      <p style="max-width: 460px;">{{exitFileNameReplace}}</p>
    </div>
    <div class="btn-box">
      <button type="button" tiButton color="primary"
        (click)="uploadAgain('override')">{{ i18n.analysis_center.exit.replace }}</button>
      <button type="button" tiButton (click)="uploadAgain('save_as')">{{ i18n.analysis_center.exit.save_as }}</button>
      <button type="button" tiButton (click)="closeMaskExit()">{{ i18n.common_term_operate_cancel }}</button>
    </div>
  </div>
</app-pop-mask>
<!-- 上传重复文件 modal end -->

<!-- 另存为 modal start -->
<app-pop-mask #saveasmask>
  <div class="content config-modal exit-modal-560">
    <p class="mask-title">
      <span>{{i18n.analysis_center.exit.save_as}}</span>
      <span class="close-btn" (click)="closeMaskSaveAs()">
        <img src="./assets/img/header/icon_header_pop_close.svg" />
        </span>
    </p>
    <div class="mask-container">
      <ti-formfield class="save-as-field">
        <ti-item [label]="confirmName.zip.label" [required]="confirmName.zip.required">
          <input class="command-input saveAs-input" type="text" tiText [(ngModel)]="bcExitFileName"
            [tiValidation]="validation" [formControl]="confirmUploadZip" [errorMessageWrapper]="wrapper" />
          <span class="bcsuffix">{{bcsuffix}}</span>
          <div #wrapper></div>
        </ti-item>
      </ti-formfield>
    </div>
    <div class="btn-box">
      <button type="button" tiButton color="primary" (click)="saveAs('save_as')">{{i18n.common_term_operate_ok}}</button>
      <button type="button" tiButton (click)="closeMaskSaveAs()">{{i18n.common_term_operate_cancel}}</button>
    </div>
  </div>
</app-pop-mask>
<!-- 另存为 modal end -->

