<div class="warpper">
  <ng-container
    *ngFor="let item of pureOptions; index as i; trackBy: trackByFn"
  >
    <div class="block" (click)="onClick(i)">
      <div
        [ngClass]="{ color: true, checkout: !item.checked }"
        [ngStyle]="{
          'background-color':
            null == colorKey ? item[defaultColorKey] : item[colorKey]
        }"
      ></div>
      <div [ngClass]="{ value: true, checkout: !item.checked }">
        {{ null == labelKey ? item[defaultLabelKey] : item[labelKey] }}
      </div>
    </div>
  </ng-container>
</div>
