
/** 表格相关样式自定义 */
// 表格第一列左边距
.ti3-table>.ti3-resize-wrapper>table>thead>tr:first-of-type>th:first-child,
.ti3-table>.ti3-table-container>table>thead>tr:first-of-type>th:first-child,
.ti3-table>.ti3-table-fixed-head>table>thead>tr:first-of-type>th:first-child,
.ti3-table>table>thead>tr:first-of-type>th:first-child,
.ti3-table>.ti3-resize-wrapper>table>tbody>tr>td:first-child,
.ti3-table>.ti3-table-container>table>tbody>tr>td:first-child,
.ti3-table>.ti3-table-fixed-head>table>tbody>tr>td:first-child,
.ti3-table>table>tbody>tr>td:first-child {
  padding-left: 24px;
}

// 表格表头里的图片大小
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th,
.ti3-table>.ti3-table-container>table>thead>tr>th,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th,
.ti3-table>table>thead>tr>th {
  img {
    width: 14px;
    height: 14px;
  }
}

// 表头分割线颜色
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th:not(:last-child):after,
.ti3-table>.ti3-table-container>table>thead>tr>th:not(:last-child):after,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th:not(:last-child):after,
.ti3-table>table>thead>tr>th:not(:last-child):after{
  background: var(--ti-table-head-th-border-right-color) !important;
}

// 表格表头多层级的有子级的th底边框颜色
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th.hasChildren,
.ti3-table>.ti3-table-container>table>thead>tr>th.hasChildren,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th.hasChildren,
.ti3-table>table>thead>tr>th.hasChildren{
  border-bottom: 1px solid var(--ti-table-head-th-border-right-color) !important;
}

// 排序图标大小
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th>.ti3-sort-container,
.ti3-table>.ti3-table-container>table>thead>tr>th>.ti3-sort-container,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th>.ti3-sort-container,
.ti3-table>table>thead>tr>th>.ti3-sort-container {
  .ti3-sort {
    font-size: 14px !important;
  }
}

.ti3-table>.ti3-resize-wrapper>table>thead>tr>th>.ti3-sort-container .ti3-sort,
.ti3-table>.ti3-table-container>table>thead>tr>th>.ti3-sort-container .ti3-sort, .ti3-table>.ti3-table-fixed-head>table>thead>tr>th>.ti3-sort-container .ti3-sort,
.ti3-table>table>thead>tr>th>.ti3-sort-container .ti3-sort {
  height: 31px !important;
  line-height: 31px !important;
}

// 排序图标 color
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th>.ti3-sort-container .ti3-sort,
.ti3-table>.ti3-table-container>table>thead>tr>th>.ti3-sort-container .ti3-sort,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th>.ti3-sort-container .ti3-sort,
.ti3-table>table>thead>tr>th>.ti3-sort-container .ti3-sort {
  color: var(--ti-sort-icon-color);
}

// 表格出现滚动条时，左固定右边框颜色
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th.floating-fixed-left-column:after,
.ti3-table>.ti3-table-container>table>thead>tr>th.floating-fixed-left-column:after,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th.floating-fixed-left-column:after,
.ti3-table>table>thead>tr>th.floating-fixed-left-column:after {
  background: transparent !important;
}

// 表格出现滚动条时，左固定阴影
.ti3-table>.ti3-resize-wrapper>table>thead>tr>th.floating-fixed-left-column,
.ti3-table>.ti3-table-container>table>thead>tr>th.floating-fixed-left-column,
.ti3-table>.ti3-table-fixed-head>table>thead>tr>th.floating-fixed-left-column,
.ti3-table>table>thead>tr>th.floating-fixed-left-column {
  box-shadow: var(--ti-table-floating-fixed-left-column-shadow);
}

// 表格出现滚动条时，表头右侧筛选按钮样式
.ti3-table .th-filter.floating-fixed-right-column {
  border-left: 1px solid transparent;
  box-shadow: var(--ti-table-th-filter-floating-shadow);
}

.ti3-table>.ti3-resize-wrapper>table>tbody>tr>td,
.ti3-table>.ti3-table-container>table>tbody>tr>td,
.ti3-table>.ti3-table-fixed-head>table>tbody>tr>td,
.ti3-table>table>tbody>tr>td {
  a {
    color: #0067FF;
  }
}

// 表格行高
.ti3-table>.ti3-resize-wrapper>table>tbody>tr>td,
.ti3-table>.ti3-table-container>table>tbody>tr>td,
.ti3-table>.ti3-table-fixed-head>table>tbody>tr>td,
.ti3-table>table>tbody>tr>td {
  height: 32px;
}

.ti3-table .ti3-table-container table tbody td.details-icon-column ti-icon {
  color: var(--ti-sort-icon-color);
  cursor: pointer;
  width: 16px;
  height: 16px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    transform: rotate(90deg);
  }
}