#source-code {
    width: 100%;
    height: calc(100vh - 217px);
    overflow-y: auto;
    display: flex;
  
  .source-code-left {
    width: 326px;
    height: 100%;
    margin-right: 32px;
  
    .pid-select {
      width: 100%;
      height: 28px;
      margin-bottom: 10px;
    }
  
    .memory-exception {
      display: flex;
      margin-bottom: 10px;
  
      .memory-exception-select {
        width: 239px;
        margin-right: 2px;
        height: 28px;
      }
  
      .icon {
        width: 28px;
        height: 28px;
  
        &:last-of-type {
          margin-left: 2px;
        }
      }
    }
  
    .func-input {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .func-list {
      height: 500px;
      overflow-y: auto;
      li {
        box-sizing: border-box;
        width: 100%;
        height: 36px;
        padding: 8px;
        display: flex;
        align-content: flex-start;
        cursor: pointer;
  
        .icon {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          margin: 6px 8px 6px 0;
  
          &.self {
            background-color: #ed4b4b;
          }
        }
  
        .left-text {
          width: 60px;
          height: 100%;
        }
  
        .func-name {
          flex: 1;
        }
      }
    }
  }
  
  .source-code-right {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 358px);
    height: calc(100vh - 220px);
  
    .right-top {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      flex: 1 0 auto;
    }

    .right-bottom {
      height: fit-content;
      flex: 1;
      background: #ffffff;
      z-index: 1;

      .table-head-top {
        background: #f5f9ff;
        padding: 0 10px;
        box-sizing: border-box;
  
        .is-self-filter {
          line-height: 18px;
          font-size: 12px;
          text-align: center;
          padding: 6px 0;
          color: #222222;
        }
  
        .head-second-row {
          display: flex;
          justify-content: space-between;
  
          .stack-searcher {
            font-size: 12px;
            line-height: 18px;
            color: #222222;
          }
  
          .cols-toggle {
            position: relative;
            width: 16px;
            height: 16px;
            cursor: pointer;
  
            ::ng-deep ti-cols-toggle {
              position: relative;
              width: 16px;
              height: 16px;
              opacity: 0;
              z-index: 1;
    
              .ti3-cols-toggle-menu-container {
                width: 10px;
                height: 10px;
                background: none;
                border: none;
    
                .ti3-cols-toggle-menu {
                  display: none;
                }
              }
            }
  
            app-icon-react {
              position: absolute;
              top: 0;
              left: 0;
              width: 16px;
              height: 16px;
              z-index: 0;
            }
          }
        }
  
        ti-icon {
          margin-left: 8px;
        }
      }
    }
  }
}

.ti3-table > .ti3-table-fixed-head > table > thead > tr > th,
.ti3-table > table > tbody > tr > td,
.ti3-table > table > thead > tr > th {
  border-bottom: 1px solid var(--ti-table-border-bottom-color);
}

.ti3-table-fixed-head {
  flex: 0 0 auto;

  thead {
    .center {
      text-align: center;
    }

    th {
      border-bottom: 1px solid #fff;

      .content {
        display: flex;
        align-items: center;
        overflow: hidden;

        .ti3-cell-text-container {
          overflow: hidden;
          height: 32px;

          .ti3-cell-text {
            max-width: 100% !important;
          }
        }

        &.center {
          justify-content: center;
        }

        .tableSort {
          display: flex;
          align-items: center;
        }

        img {
          transform: rotate(90deg);
          margin-left: 6px;
          vertical-align: middle;
          cursor: pointer;

          &.expand {
            transform: rotate(-90deg);
          }
        }
      }

      // 解决表格最后一列没有border的显示问题
      &::after {
        width: 1px !important;
        background: #fff;
        color: transparent;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        content: "";
      }
    }
  }
}

.ti3-table-container {
  min-height: 225px;
  max-height: 530px;
  overflow-y: auto;
  position: relative;
}

  