<div class="summury-container" *ngIf="isActive">
    <!-- 优化建议 -->
    <app-msg-suggestion *ngIf="suggestMsg.length" [showHeader]="false" [suggestMsg]="suggestMsg"></app-msg-suggestion>

    <ti-table [(displayedData)]="summaryTable.displayed" [srcData]="summaryTable.srcData"
        [columns]="summaryTable.columns" [closeOtherDetails]="closeOtherDetails"
        class="FSSummaryTable darkTable custemTable" tiColsResizable>
        <div class="ti3-table-fixed-head">
            <table>
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of summaryTable.columns; let index = index">
                            <!--使用展开详情图标时，需要给展开详情图标列加 details-icon-column 属性-->
                            <th *ngIf="column.prop === 'detailsIcon'; else otherTh" details-icon-column></th>

                            <ng-template #otherTh>
                                <th tiOverflow [width]="column.width">
                                    <div class="content" [ngClass]="{center: column.align}">
                                        <ti-cell-text>{{ column.label }}</ti-cell-text>

                                        <app-sub-module-table-sort *ngIf="column.sortKey"
                                            [sortStatus]="column.sortStatus"
                                            (sortTable)="tableService.sortTable(summaryTable.srcData.data, summaryTable.columns, column.sortKey, $event)">
                                        </app-sub-module-table-sort>

                                        <ti-icon *ngIf="column.iconTip" [tiTip]="column.iconTip"
                                            style="margin-left:10px;" tiTipMaxWidth='370px' tiTipPosition="bottom">
                                            <img src='./assets/img/template/icon_question.svg'
                                                *ngIf="currTheme === ColorTheme.Dark">
                                            <img src='./assets/img/template/icon_question_light.svg'
                                                *ngIf="currTheme === ColorTheme.Light">
                                        </ti-icon>
                                    </div>
                                </th>
                            </ng-template>
                        </ng-container>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="ti3-table-container ti3-resize-wrapper">
            <table>
                <thead>
                    <tr>
                        <ng-container *ngFor="let column of summaryTable.columns; let index = index">
                            <!--使用展开详情图标时，需要给展开详情图标列加 details-icon-column 属性-->
                            <th *ngIf="column.prop === 'detailsIcon'; else otherTh" details-icon-column></th>

                            <ng-template #otherTh>
                                <th tiOverflow [width]="column.width"></th>
                            </ng-template>
                        </ng-container>
                    </tr>
                </thead>

                <tbody>
                    <!--注意:ngFor中的displayed数据与displayedData传入的数据一致, 初始化设置为[]即可-->
                    <ng-container *ngFor="let row of summaryTable.displayed;index as i">
                        <tr>
                            <ng-container *ngFor="let column of summaryTable.columns; let index = index">
                                <!--使用展开详情图标时，需要给展开详情图标列加 details-icon-column 属性-->
                                <td *ngIf="column.prop === 'detailsIcon'; else otherTd" details-icon-column>
                                    <ti-details-icon [row]="row" [index]="i" (beforeToggle)="beforeToggle($event)">
                                    </ti-details-icon>
                                    <!--详情图标设置，传入行数据-->
                                </td>

                                <ng-template #otherTd>
                                    <td tiOverflow>{{ row[column.prop] | thousandSeparator }}</td>
                                </ng-template>
                            </ng-container>
                        </tr>

                        <tr *tiDetailsTr="row" class="childTr">
                            <td tiColspan class="ti3-details-td" [ngStyle]="{'padding-left': '40px'}">
                                <!-- Tiny3.1.3版本新增，theme-ui3主题下不用加此div和类名。 -->
                                <div class="ti3-table-detail-container">
                                    <div class="indentLine"></div>

                                    <ti-table [(displayedData)]="row.details.displayed" [srcData]="row.details.srcData"
                                        [columns]="detailsTable.columns" class="ti3-table-nest custemTable"
                                        tiColsResizable>
                                        <div class="ti3-table-fixed-head">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th *ngFor="let column of detailsTable.columns; let index = index"
                                                            [width]="column.width">
                                                            <div class="content" [ngClass]="{center: column.align}">
                                                                <ti-cell-text>{{ column.label }}</ti-cell-text>

                                                                <app-sub-module-table-sort *ngIf="column.sortKey"
                                                                    [sortStatus]="column.sortStatus"
                                                                    (sortTable)="tableService.sortTable(row.details.srcData.data, detailsTable.columns, column.sortKey, $event)">
                                                                </app-sub-module-table-sort>

                                                                <ti-icon *ngIf="column.iconTip" [tiTip]="column.iconTip"
                                                                    style="margin-left:10px;" tiTipMaxWidth='370px'
                                                                    tiTipPosition="bottom">
                                                                    <img src='./assets/img/template/icon_question.svg'
                                                                        *ngIf="currTheme == ColorTheme.Dark"
                                                                        class="imgQuestion">
                                                                    <img src='./assets/img/template/icon_question_light.svg'
                                                                        *ngIf="currTheme == ColorTheme.Light"
                                                                        class="imgQuestion">
                                                                </ti-icon>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="ti3-table-container ti3-resize-wrapper"
                                            [ngClass]="{noData: row.details.hasGet && !row.details.displayed.length}">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th *ngFor="let column of detailsTable.columns; let index = index"
                                                            [width]="column.width"></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr *ngFor="let detailsRow of row.details.displayed">
                                                        <ng-container *ngFor="let column of detailsTable.columns">
                                                            <td *ngIf="column.prop === 'symbol'; else otherDetailsTd"
                                                                class="canClick" tiOverflow>
                                                                <span (click)='addFunctionTab(detailsRow)'
                                                                    [ngClass]="{visited: detailsRow.visited}">{{
                                                                    detailsRow[column.prop] | thousandSeparator}}</span>
                                                            </td>

                                                            <ng-template #otherDetailsTd>
                                                                <td tiOverflow>
                                                                    {{ detailsRow[column.prop] | thousandSeparator}}
                                                                </td>
                                                            </ng-template>
                                                        </ng-container>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- 无数据 -->

                                            <div *ngIf="!row.details.displayed.length" class='chen-nodata-td'
                                                style="position: relative;">
                                                <app-default-page [scene]="'noData'"
                                                    [text]="i18n.common_term_task_nodata"></app-default-page>
                                            </div>
                                        </div>
                                    </ti-table>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!-- 无数据 -->
            <div *ngIf="!summaryTable.displayed.length" class='chen-nodata-td' style="position: relative;">
                <app-default-page [scene]="'noData'" [height]="'70vh'" [text]="i18n.common_term_task_nodata">
                </app-default-page>
            </div>
        </div>

        <ti-pagination [(currentPage)]="summaryTable.pageNo" [pageSize]="summaryTable.pageSize"
            [(totalNumber)]="summaryTable.total"></ti-pagination>
    </ti-table>
</div>