.user-guide-content {
    font-size: 12px;
    color: #616161;

    .user-guide-btn {
        color: #0067ff;
        cursor: pointer;
    
        &:hover {
            color: #5E9EFF;
        }
    }
}