.tip {
  display: flex;
  margin: 5px 0px 25px 0px;
  color: #616161;
  font-size: 14px;
  align-items: center;
  .imgTip {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.nested-table-container {
  padding-left: 0px !important;
}
.ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > .ti3-details-tr
  > td.nested-table-container {
  padding: 0px 0px 0px 0px !important;
  & > .ti3-table-detail-container {
    padding: 0px !important;
  }
}

.nodata {
  text-align: center;
  padding: 20px;
}

::ng-deep .confirm-fingerprint-warpper {
  .ti3-icon-angle-transform-up-thin {
    display: inline-block;
    transform: rotate(270deg) !important;
    color: var(--ti-table-details-icon-color) !important;
  }
  .ti3-icon-angle-transform-down-thin {
    display: inline-block;
    transform: rotate(180deg) !important;
    color: var(--ti-table-details-icon-color) !important;
  }
  .ti3-toggle-details .ti3-icon-angle-right:before {
    content: "\e919" !important;
  }
}
