
  
  .switch {
    position: relative;
    width: 60px;
    height: 18px;
    border-radius: 9px;
    background-color: #e5efff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;

    span {
      width: 30px;
      height: 18px;
      line-height: 18px;
      border-radius: 9px;
      font-size: 12px;
      text-align: center;
      color: #222222;

      &.active {
        color: #ffffff;
        background-color: #0067ff;
      }
    }
  }
  
  .selectTableBox{
    position: relative;
    .headerFilter{
      position: absolute;
      top: 7px;
      right: 10px;
      z-index: 1;
      .statusFilter{
        min-width: 200px;
      }
      img{
        cursor: pointer;
        height: 9px;
        width: 9px;
      }
      ::ng-deep input[type=checkbox][tiCheckbox] + .ti3-checkbox .ti3-checkbox-label{
        white-space: nowrap;
      }
    }
    .statusFilter {
      font-size: 14px;
      display: none;
      position: relative;
      position: absolute;
      top: 25px;
      right: 5px;
      min-width: 150px;
      background-color: #ffffff;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding-top: 15px;
      span {
        line-height: 32px;
        padding: 0 15px;
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        white-space: nowrap;

        &:hover {
          background-color: #f0f3fa;
        }
      }
    }
    .statusFilter.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .selectTh th:last-child{
    padding-right: 30px;
  }
  .search-icon {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    cursor: pointer;
  }
  .modal-dialog{
    height: 100%;
    display: flex;
    flex-direction: column;

    .modal-title{
      height: 20px;
      margin: 0px 32px;
      padding-bottom: 15px;
      padding-top: 28px;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 20px;
      color: #222222;
      border-bottom: 1px dashed #d4d9e6;
    }
  
    .modal-content{
      flex: 1;
      padding: 32px;
      overflow: scroll;
      padding-top: 20px;
    }

    footer {
      height: 50px;
      clear: both;
      text-align: center;
      padding-top: 24px;
      &.buttonGroup {
        >button:not(:first-child) {
          margin-left: 16px;
        }
      }
    }
  }

:host ::ng-deep .ti3-table > table > thead > tr > th > .ti3-sort-container .ti3-sort{
  max-width: 10px;
}
::ng-deep .side-modal-pop {
  z-index: 1051;
}
  