// 内部通信证书自动告警时间（天）
.certificate-info {
    .title {
        font-size: 20px;
        margin-bottom: 20px;
        cursor: default;
        color: var(--mc-color-title-content);
    }

    .setting-title {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: var(--mc-color-td);
        margin-bottom: 10px;
    }

    .setting-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

// 运行日志级别
.run-log {
    .middle-font {
        font-size: 14px;
        line-height: 20px;
        color: var(--color-middle-font) !important;
    }

    .help-icon {
        position: relative;
        top: 2px;
        width: 14px;
    }

    .inputstyle-select-disable {
        margin-right: 10px !important;
        width: 400px !important;
        margin-top: 10px;
        vertical-align: bottom;
        background-color: var(--color-inputstyle-select-disable) !important;

        &:hover {
            border-color: #747474 !important;
        }

        ::ng-deep .ti3-overflow-padding { 
            color: var(--color-inputstyle-select-disable-font) !important;
        }
    }

    .inputstyle-select {
        margin-right: 10px !important;
        width: 400px !important;
        margin-top: 10px;
        vertical-align: bottom;
        border: 1px solid #888888 !important;
    }

    .inputstyle-select:focus {
        border: 1px solid #0067ff !important;
    }

    .inputstyle-select:hover {
        border: 1px solid #0067ff !important;
    }

    ::ng-deep .ti3-form .ti3-form-label {
        padding: 0 0px 14px 0 !important;
    }
}

.required-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    padding: 1px 0;
    margin-left: -12px;
}
::ng-deep .vscode-light .run-log ti-dominator.ti3-select-dominator-container {
    border: 1px solid #ccc;
}