<div class="webpack-situation-modal" *ngIf="soSituation === 1">
    <div class="progress-modal">
        <div class="backup-loading"></div>
        <div class="madal-content">
            <p class="situation analyzing"><img class="loading" src="./assets/img/analysis/loading.svg"
                alt="">{{soinfo.ing}}{{soinfo.tip}}</p>
            <div class="progress-bar-bg">
                <div class="progress-bar" [ngStyle]="{'width': soinfo.barWidth + 'px'}"></div>
            </div>
            <span style="padding-left: 5px">{{soinfo.progessValue}}</span>
            <div style="margin-top: 20px;">{{soinfo.operation}} </div>
        </div>
    </div>
</div>

<div class="webpack-success-modal" *ngIf="soSituation === 2">
    <div class="webpack-success-wrap">
        <div class="situation">{{soinfo.success}}</div>
        <img class="close-tip" (click)="closeModal()" src="./assets/img/common/modal_close.svg" />
        <div class="tip">
            <p><img style="width: 16px;height: 16px;" src="./assets/img/analysis/packing_ok.png" alt="" /></p>
            <p class="analyzing" [ngStyle]="{'word-break': currLang === 'zh-cn' ? 'break-all':'keep-all'}">{{soinfo.tip}}</p>
        </div>
        <div class="close"><button  type="button" tiButton (click)="closeModal()" style="cursor:pointer">{{i18n.common_term_operate_close}}</button></div>
    </div>
</div>

<div class="webpack-fail-modal" *ngIf="soSituation === 3">
    <div class="webpack-fail-wrap">
        <div class="situation">{{soinfo.fail}}</div>
        <img class="close-tip" (click)="closeModal()" src="./assets/img/common/modal_close.svg" />
        <div class="tip">
            <p><img style="width: 16px;height: 16px;" src="./assets/img/analysis/packing_err.png" alt="" /></p>
            <p class="analyzing" [ngStyle]="{'word-break': currLang === 'zh-cn' ? 'break-all':'keep-all'}">{{soinfo.tip}}{{ i18n.onlineHelp.tip }}
                <a style="word-break: keep-all;" (click)="help('depDictionaryFaild')">{{ i18n.onlineHelp.url }}</a>
            </p>
        </div>
        <div class="close"><button tiButton  type="button" (click)="closeModal()" style="cursor:pointer">{{i18n.common_term_operate_close}}</button></div>
    </div>
</div>
