.box {
    position: relative;
}
.back {
    height: 21px;
    line-height: 21px;
    font-size: 21px;
    color: #252c3c;
    display: flex;
    align-items: center;
    img {
        height: 10px;
        width: 6px;
        margin-right: 16px;
    }
}

.show {
    display: none;
}

.titleDetail {
    display: flex;
    align-items: center;
    height: 18px;
    justify-content: center;
    margin: 27px 0px 16px 0px;
    div {    
        font-size: 14px;
        line-height: 18px;
        color: #434856;
    }
    div:not(:last-child) {
        margin-right: 32px;
    }
}
.tableBox {
    .tableTitle {
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        margin: 48px 0px 16px 0px;
    }
}

:host ::ng-deep .ti3-table > table > thead > tr > th {
    background-color: #f0f3fa !important;
}
#Left-Normal,
#right-Hover {
    cursor: pointer;
}

/*
   * 自定义的提示框
   */
.nice_tooltip {
    margin: 0px !important;
    opacity: 0;
    position: absolute;
    display: inline-block;
    padding: 13px;
    height: auto;
    font-size: 14px;
    background-color: var(--subsystem-tooltip-bg);
    line-height: 20px;
    border-radius: 2px;
    margin-left: 12px;
    pointer-events: none;
    cursor: default;
    box-shadow: 0px 10px 20px 0px rgba(24, 25, 35, 0.14);
    width: 300px;

    &:after {
        content: "";
        position: absolute;
        pointer-events: none;
        cursor: default;
    }

    &[placement="bottom"]:after {
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid var(--subsystem-tooltip-bg);
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }

    &[placement="top"]:after {
        left: 50%;
        bottom: -8px;
        margin-left: -8px;
        border-bottom: 0;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--subsystem-tooltip-bg);
        border-left: 8px solid transparent;
    }

    @for $i from 0 through 100 {
        $bottomProperty: '[placement="bottom"][offset="#{$i}"]';
        $topProperty: '[placement="top"][offset="#{$i}"]';
        $transform: $i;
        $left: $i;

        @if $i < 3 {
            $transform: 3;
            $left: 3;
        }

        @if $i>97 {
            $transform: 97;
            $left: 97;
        }

        &#{$bottomProperty } {
            transform: translate($transform * -1%, 11px);

            &:after {
                left: $left * 1%;
            }
        }

        &#{$topProperty } {
            transform: translate($transform * -1%, #{calc(-100% - 11px)});

            &:after {
                left: $left * 1%;
            }
        }
    }
}

::ng-deep .vscode-dark {
    .box {
        background: none !important;
    }
    .titleDetail {
        div {
            color: #aaaaaa !important;
            span {
                color: #e8e8e8 !important;
            }
        }
    }
}
