.ifShow.svgPage {
  display: block;
  border-top: 1px solid #e6ebf5;
}
.svgPage {
  display: none;
  left: 10000px;
  overflow: hidden;
}
.summury-box {
  color: #282b33;
  padding-bottom: 20px;
  overflow: auto;
}
.box {
  background: #f0f3fa;
}
.blockCls {
  img {
    vertical-align: middle;
  }
}
.box-title {
  position: relative;
  padding-left: 21px;
  height: 48px;
  line-height: 48px;
  background: white;
  border-bottom: 1px solid #e6ebf5;
}
.box-content {
  background: white;
  margin-left: 41px;
  border-left: solid 2px #6c92fa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.box-content.active {
  max-height: 6000px;
  transition: max-height 0.1s cubic-bezier(1, 0, 1, 0);
  .ti3-table > table {
    border-bottom: 1px solid #dfe1e6;
  }
}
.title-icon {
  margin-right: 5px;
  transition: 0.5s linear;
  position: relative;
  top: 1px;
}
.title-icon.active {
  transform: rotate(90deg);
}
.table-body {
  border-bottom: 1px solid #e6ebf5;
}
.table {
  font-size: 0.8rem;
  width: 100%;
}
:host
  ::ng-deep
  .box-content
  .ti3-table
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr) {
  //隔行不换色
  background: white;
}
:host
  ::ng-deep
  .box-content
  .ti3-table
  > table
  > tbody
  > tr:nth-child(even):not(.ti3-selected-tr):not(.ti3-odd-tr):not(.ti3-even-tr):not(.ti3-details-tr):hover {
  background: #eaf6f9;
}
:host ::ng-deep .box-content .ti3-table > table > thead > tr > th {
  //表头颜色
  background: white;
}
//表头分割线颜色
:host
  ::ng-deep
  .box-content
  .ti3-table
  > .ti3-resize-wrapper
  > table
  > thead
  > tr
  > th:not(:last-child)::after,
.ti3-table
  > .ti3-table-container
  > table
  > thead
  > tr
  > th:not(:last-child)::after,
.ti3-table
  > .ti3-table-fixed-head
  > table
  > thead
  > tr
  > th:not(:last-child)::after,
.ti3-table > table > thead > tr > th:not(:last-child)::after {
  background: #e6ebf5;
}

//tr上边线
:host
  ::ng-deep
  .box-content
  .ti3-table
  > .ti3-resize-wrapper
  > table
  > tbody
  > tr
  > td,
.ti3-table > .ti3-table-container > table > tbody > tr > td,
.ti3-table > .ti3-table-fixed-head > table > tbody > tr > td,
.ti3-table > table > tbody > tr > td {
  border-top: 1px solid #e6ebf5;
}
.above {
  color: #f45c5e;
}
.th-tip-icon {
  position: relative;
  top: 4px;
  margin-left: 8px;
  height: 14px;
  width: 14px;
}
.nodata {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.sort-title {
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: calc(100% - 23px);
}

:host ::ng-deep .ti3-table {
  .thContent {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 32px;

    .ti3-cell-text-container {
      overflow: hidden;
      height: 100%;

      .ti3-cell-text {
        max-width: 100% !important;
      }
    }

    &.center {
      justify-content: center;
    }

    // ti-head-sort不在th下一级，css不生效
    .ti3-sort-container {
      cursor: pointer;
      padding-left: 10px;
      position: relative;
      height: 100%;
      width: 8px;
      display: inline-block;
      vertical-align: top;

      &:hover {
        .ti3-sort-up {
          border-bottom-color: #39f;
        }
        .ti3-sort-down {
          border-top-color: #39f;
        }
      }

      .ti3-sort-up {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        display: block;
        position: absolute;
        border-bottom: 5px solid #666;
        top: calc(50% - 5px - 1.5px);
        cursor: pointer;
      }

      .ti3-sort-down {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        display: block;
        position: absolute;
        border-top: 5px solid #666;
        top: calc(50% + 1.5px);
        cursor: pointer;
      }
    }
    .ti3-sort-container.ti3-sort-ascent .ti3-sort-up {
      border-bottom-color: #39f;
    }
    .ti3-sort-container.ti3-sort-descent .ti3-sort-down {
      border-top-color: #39f;
    }
  }
}
.tableFirstData {
  margin-left: 14px;
  span {
    max-width: 65px;
  }
}
.tabSearch {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
  background: url("../../../../../assets/img/summary/tabSearch2.svg");
  background-size: 16px 16px;
}
.tabSearch:hover {
  background: url("../../../../../assets/img/summary/tabSearch.svg");
  background-size: 16px 16px;
}
.tabSearch {
  div {
    height: 100%;
    width: 100%;
  }
  margin-bottom: -5px;
}

.tabSearchClick {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
  background: url("../../../../../assets/img/summary/tabSearch.svg");
  background-size: 16px 16px;
}
.tabSearchClick {
  div {
    height: 100%;
    width: 100%;
  }
  margin-bottom: -5px;
}
.tabSearchBox {
  height: 137px;
  width: 200px;
  padding: 0px 9px;
  p {
    height: 20px;
    color: #222222;
    font-size: 14px;
  }
  .slide {
    height: 1px;
    width: 100%;
    background-color: #c3c3c3;
    border-radius: 2px;
    position: relative;
    margin-top: 20px;
  }
  .range {
    height: 5px;
    background-color: #0067ff;
    top: -3px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0px;
    span {
      display: block;
      height: 22px;
      width: 9px;
      cursor: pointer;
      margin-top: -10px;
    }
    .left {
      margin-left: -9px;
      background: url("../../../../../assets/img/summary/slideNomal.png");
    }
    .right {
      margin-right: -9px;
      background: url("../../../../../assets/img/summary/slideNomal.png");
    }
    .left:hover {
      background: url("../../../../../assets/img/summary/slidehover.png");
    }
    .right:hover {
      background: url("../../../../../assets/img/summary/slidehover.png");
    }
  }
  .slideNumber {
    height: 28px;
    width: 100%;
    border-bottom: 1px solid #e1e6ee;
    padding-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #222222;
    input {
      height: 28px;
      width: 64px;
      border: 1px solid #979797;
      border-radius: 2px;
    }
    input:hover {
      border: 1px solid #0067ff;
    }
    span {
      height: 1px;
      width: 20px;
      background-color: #979797;
    }
  }
  .btn {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 8px;
      min-width: 64px !important;
    }
  }
}
.maxNum,
.minNum {
  display: none;
}
