@import "../../../src-com/app/mission-analysis/styles/custemTabs.scss";
@import "../../../src-com/app/mission-analysis/styles/custemDetailContainer.scss";

.showDetail {
  opacity: 1 !important;
  height: calc(100vh - 112px);
  overflow: auto;
}

::ng-deep .ti3-tooltip {
  white-space: pre-wrap !important;
  max-height: 600px;
}
