/** checkbox start**/
.input-checkbox {

    // 勾选框
    input[type="checkbox"][tiCheckbox] + .ti3-checkbox .ti3-checkbox-skin {
        border-color: var(--border-d-888888-l-979797) !important;
    }

    input[type="checkbox"][tiCheckbox]:not([disabled]):checked + .ti3-checkbox .ti3-checkbox-skin,
    input[type="checkbox"][tiCheckbox]:not([disabled]):checked + .ti3-checkbox .ti3-checkbox-skin:focus {
        border-color: #0067ff !important;
    }

    // 勾选框禁用
    input[type="checkbox"][tiCheckbox][disabled] + .ti3-checkbox .ti3-checkbox-skin {
        background-color: var(--bg-d-313131-l-f5f5f5) !important;
        border-color: var(--border-d-616161-l-cccccc) !important;
    }

    // lable
    input[type=checkbox][tiCheckbox]:not([disabled]) + .ti3-checkbox .ti3-checkbox-label {
        color: var(--font-d-aaaaaa-l-222222) !important;
    }

    // label禁用
    input[type=checkbox][tiCheckbox][disabled] + .ti3-checkbox .ti3-checkbox-label {
        color: var(--font-d-616161-l-cccccc) !important;
    }
}
/** checkbox end**/