<div class="warpper">
    <div class="static-icon icon-warpper">
        <div class="icon-title">
            <span>
                STATIC ICONS LIB
            </span>
        </div>
        <div class="icon-content">
            <div *ngFor="let icon of staticIcons" class="icon-item">
                <div class="icon-being">
                    <hy-icon-static [name]="icon">
                    </hy-icon-static>
                </div>
                <div class="icon-name">{{ icon }}</div>
            </div>
        </div>
    </div>
    <div class="middle-line"></div>
    <div class="react-icon icon-warpper">
        <div class="icon-title">
            <span>
                REACT ICONS LIB
            </span>
        </div>
        <div class="icon-content">
            <div *ngFor="let icon of reactIcons" class="icon-item">
                <div class="icon-being">
                    <hy-icon-react [name]="icon">
                    </hy-icon-react>
                </div>
                <div class="icon-name">{{ icon }}</div>
            </div>
        </div>
    </div>
</div>