<app-common-table class="noPagination body-compare-table" [commonTableData]="tableData" [isPagination]="false">
    <ng-template let-displayed let-tabcolumns="columns">
        <tbody>
            <ng-container *ngFor="let row of displayed;let odd = odd;let even = even;">
                <tr>
                    <ng-container *ngFor="let column of tabcolumns;">
                        <ng-container *ngIf="column.key === 'file_name' else other">
                            <td *ngIf="even" rowspan="2" tiOverflow>{{ row[column.key] || '--' }}</td>
                        </ng-container>
                        <ng-template #other>
                            <ng-container *ngIf="column.key === 'mode'">
                                <td *ngIf="column.show || column.show === undefined">
                                    <app-diff-td [hasEmptyPlace]="modeHasEmptyPlace" [diff]="row.modeNoSame" [value]="row.mode"></app-diff-td>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="column.key !== 'mode'">
                                <td *ngIf="column.show || column.show === undefined" tiOverflow>{{ row[column.key] || '--' }}</td>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </ng-template>
</app-common-table>