::ng-deep .vscode-dark {
    .head-info-item {
        color: #aaaaaa !important;
    }
    .head-info-item span {
        color: #e8e8e8 !important;
    }
}

.warpper {
    position: relative;
    overflow: visible;

    .head-info {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 16px;

        .head-info-item + .head-info-item {
            margin-left: 32px;
        }
    }
    .svg-container {
        text-align: center;
        width: auto;
        height: auto;
        background-position-x: center;

        .cpu1-mem-left, .cpu1-mem-right,
        .cpu2-mem-left, .cpu2-mem-right {
            cursor: pointer;
        }
    }
}

/*
   * 自定义的提示框
   */
#nice-tooltip {
    margin: 0px;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 16px;
    height: auto;
    font-size: 14px;
    background-color: var(--d-424242-l-ffffff);
    line-height: 20px;
    border-radius: 2px;
    pointer-events: none;
    cursor: default;
    box-shadow: 0px 10px 20px 0px rgba(24, 25, 35, 0.14);
    width: 380px;
    box-sizing: border-box;
    z-index: 999;
    transition: opacity 0.5s, left 1s, top 1s;

    &:after {
        content: "";
        position: absolute;
        pointer-events: none;
        cursor: default;
    }

    &[placement="bottom"]:after {
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid var(--d-424242-l-ffffff);
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }

    &[placement="top"]:after {
        left: 50%;
        bottom: -8px;
        margin-left: -8px;
        border-bottom: 0;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--d-424242-l-ffffff);
        border-left: 8px solid transparent;
    }

    .memory-tip-title {
        font-size: 18px;
        color: var(--d-aaaaaa-l-616161);
        margin-bottom: 28px;
    }
    .memory-tip-content {
        display: grid;
        grid-column-gap: 5px;
        grid-row-gap: 14px;
        grid-template-columns: 56px 1fr 56px 1fr;
        box-shadow: none;
    }
    .memory-tip-label {
        font-size: 14px;
        color: var(--d-aaaaaa-l-616161);
    }
    .memory-tip-value {
        font-size: 14px;
        color: var(--d-e8e8e8-l-222222);
    }
}
