::ng-deep body {
  &.dark {
    .datavalidfail {
      .prompt-information {
        color: #aaaaaa;
      }
    }
  }

  &.light {
    .datavalidfail {
      .prompt-information {
        background-color: #fff3e8;
        border: solid 1px #e66e11;
      }
    }
  }
}

.datavalidfail {
  .prompt-information {
    width: 848px;
    height: 32px;
    border-radius: 2px;
    line-height: 32px;
    margin-bottom: 20px;
    font-size: 12px;
    img {
      width: 16px;
      height: 15px;
    }
  }
  .node-information-display {
    .error-param {
      color: #ed4b4b !important;
    }
  }
}
