.gclog{
  padding-bottom: 60px;
}
.suggest-tip {
    position: relative;
}
.span-num {
    width: 14px;
    height: 14px;
    font-size: 10px;
    background-color: #ed4b4b;
    color: #fff;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: -7px;
    top: -7px;
}
.typeSelect{
  width: 200px;
  margin-right: 20px;
}
.span-nums {
    width: 16px;
    height: 16px;
    font-size: 10px;
    background-color: #ed4b4b;
    color: #fff;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: -8px;
    top: -8px;
}
.suggestSate {
    margin-top: 4px;
    font-size: 12px;
    color: #616161;
}
.statusBox {
    p {
        height: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
  
        .status {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-right: 8px;
        }
  
        .status1 {
            border: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 8px;
        }
  
        .status2 {
            border: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
}
.gclog {
    height: 100%;
    padding-bottom: 60px;
    position: relative;
    .gc-log-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
      .header-left {
        display: flex;
        align-items: center;
        .operation-anal:not([disabled]):hover {
            background: #267dff !important;
            color: #ffffff;
        }
        .header-left-btn {
          margin-bottom: 20px;
          height: 32px;
          width: 150px;
        }
        .helpTop {
          width: 12px;
          height: 12px;
          margin-left: 8px;
          margin-right: 24px;
        }
        .display-type-text {
          margin-right: 16px;
        }
      }
    }
    .noData {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-sizing: border-box;
      font-size: 14px;
    }
    .pageNoData {
      height: 60vh
    }
    
    .progress-svg{
      width: 320px; 
      height: 140px; 
      margin: 0 auto;
    }
    
    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 150px;
      p {
        margin-top: 50px;
        color: var(--content-font-color);
      }
      .progress {
        margin-top: 16px;
        text-align: center;
        .barBox {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          position: relative;
  
          .value {
            position: absolute;
            right: -50px;
          }
        }
        .line {
          width: 400px;
          height: 2px;
          border-radius: 2px;
          background-color: var(--echarts-line-bg-color);
          position: relative;
          overflow: hidden;
          .bar {
            display: inline-block;
            width: 100px;
            height: 4px;
            background-color: #36bc80;
            position: absolute;
            top: 0;
            left: 0;
            animation: progressBar 1.5s linear infinite;
          }
          .progressBar {
            display: inline-block;
            height: 4px;
            background-color: #36bc80;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        button {
            margin-top: 32px;
            width: 100px;
            height: 28px;
            text-align: center;
            border-radius: 2px;
            border: 1px solid #ddd;
            --ti-button-default-normal-bg-color: var(--vscode-editor-background);
            font-size: 12px;
            line-height: 22px;
            color: var(--subtitle-font-color);
        }
        .statusBox {
          p {
            height: 20px;
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
  
            .status {
              width: 14px;
              height: 14px;
              border: 2px solid #cccccc;
              border-radius: 50%;
              margin-right: 8px;
            }
            .status1 {
              border: none;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              margin-right: 8px;
            }
            .status2 {
              border: none;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              margin-right: 8px;
            }
          }
        }
  
        @keyframes progressBar {
          0% {
            left: -100%;
          }
  
          100% {
            left: 100%;
          }
        }
      }
  
      button {
        margin-top: 32px;
      }
    }
    .sub-title {
      color: var(--subtitle-font-color);
      font-size: 20px;
      margin-bottom: 20px;
    }
    .key-point {
      width: 700px;
      height: 226px;
      padding-right: 36px;
      margin-right: 40px;
      & > div {
        display: flex;
        flex-wrap: wrap;
        & > div {
          width: 33%;
        }
        .distance {
          margin-top: 33px;
        }
        p {
          font-size: 32px;
          color: var(--subtitle-font-color);
        }
        div {
          color: var(--content-font-color);
          font-size: 16px;
        }
      }
    }
    .highlight {
      cursor: pointer;
      color: #0067ff !important
    }
    .colspan-center {
      text-align: center;
      border-bottom: 1px solid var(--colspan-center-border-color) !important;
    }
    .cause-detail {
      display: flex;
      align-items: center;
      margin-bottom: 64px;
      #causeEchart {
        width: 180px;
        height: 180px;
      }
      .legends {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 208px;
        .legend {
          margin-bottom: 22px;
          margin-right: 52px;
          & > div:first-child {
            font-size: 14px;
            color: var(--subtitle-font-color);
            display: flex;
            align-items: center;
            & > span:first-child {
              width: 10px;
              height: 10px;
              margin-right: 8px;
            }
          }
          & > div:last-child {
            padding-left: 18px;
            font-size: 12px;
            color: var(--content-font-color);
          }
          &:nth-of-type(4) {
            margin-bottom: 0;
          }
        }
      }
    }
    .gc-pause tbody > tr > td {
        padding: 7px 10px;
    }
}
::ng-deep .vscode-dark .gclog {
    --subtitle-font-color: #e8e8e8;
    --content-font-color: #aaaaaa;
    --colspan-center-border-color: #4b4b4b;
    --ti-table-th-after-color: #545454;
    --tab-highlight-color: #2a2a2a;
    --tab-segregate-line-color: #4b4b4b;
}
::ng-deep .vscode-light .gclog {
    --subtitle-font-color: #222222;
    --content-font-color: #616161;
    --colspan-center-border-color: #e1e6ee;
    --ti-table-th-after-color: #e1e6ee;
    --tab-highlight-color: #f5f9ff;
    --tab-segregate-line-color: #eff0f5; 
}

.cancelBtn{
  width: auto !important;
}

.over-table{
    margin-top: 20px;
    .loadData {
      margin-top: 120px;
    }
}

.collect-echart-content {
  margin-top: 40px;

  .collect-time-box {
    width: 100%;
  }

  .collect-echart-box {
    width: 100%;
    height: 380px;
  }
}

.allTitle{
  font-size: 20px;
	font-weight: normal;
	color: #222222;
  margin-bottom: 48px;
  .causeTitle{
    line-height: 30px;
    height: 30px;
  }
}

.excuteBtn{
  font-size: 12px;
}

.pauseChart{
  width: 100%;
  height: 540px;
  .top-title {
    font-size: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .right-title{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }

}
.leftTable{
  width: 206px;
  float: left;
  padding-top: 20px;
  margin-right: 50px;
  font-size: 14px;
  position: relative;
  .listData{
    position: relative;
    .rowData{
      height: 48px;
      line-height: 48px;
      text-align: left;
      padding: 0px 10px;

      &.tab-active {
        background-color: var(--tab-highlight-color);
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 496px;
    background-color: var(--tab-segregate-line-color);
  }
}
.tab-active {
  color: #0067ff !important;
  border: none !important;
  border-left: 2px solid #0067ff  !important;
}
.rightTable{
  float: left;
  width: calc(100% - 260px);
  margin-top: 20px;
}

.lightText{
  max-width: 76%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.lightImg{
  width:12px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.detail{
  .topDetail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    .detailItem{
      font-size: 14px;
      padding: 0px 30px 0 0;
      color: #e8e8e8;
      .itemTitle{
        margin-bottom: 10px;
      }
    }
  }
}
.phase-title {
  color: var(--subtitle-font-color);
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.detailTitle{
  margin-bottom: 20px;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  position: relative;
  
  .backImg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    display: inline-block;

    img:hover {
        cursor: pointer;
    }

    & > img {
        display: none;
    }

    & > img:nth-of-type(1) {
        display: block;
    }

    &:hover {
        & > img:nth-of-type(1) {
            display: none;
        }

        & > img:nth-of-type(2) {
            display: block;
        }

        & > img:nth-of-type(3) {
            display: none;
        }
    }

    &:active {
        & > img:nth-of-type(1) {
            display: none;
        }

        & > img:nth-of-type(2) {
            display: none;
        }

        & > img:nth-of-type(3) {
            display: block;
        }
    }
}
  .causeTitle{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
  }
}

::ng-deep .vscode-dark{
  .excuteBtn{
    background: #0067ff !important;
    color: #e8e8e8 !important;
  }
  .excuteBtn[disabled]{
    background: #313131 !important;
    color: #aaa !important;
    border: none !important;
  }
  .allTitle{
    color: #e8e8e8;
  }
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container > table > tbody > tr:last-child > td{
    border-bottom: 1px solid #4b4b4b !important;
  }
  .key-point{
    border-right: 2px dashed #4b4b4b;
  }
  .little-primary-btn {
    background-color: #313131;
    border-radius: 2px;
    border: solid 1px #dddddd;
  }
  .little-minor-btn {
    background-color: #0067ff;
    border-radius: 2px;
    border: none !important;
    color: #e8e8e8;
  }
  .little-minor-btn:hover {
    &:hover {
      background: #267dff !important;
      color: #ffffff !important;
    }
  }
  .leftTable{
    color: #e8e8e8;
  }
  .pauseChart{
    color: #e8e8e8;
    .top-title{
      color: #e8e8e8;
      border-bottom: 1px dashed #4b4b4b;
    }
    .right-title{
      color: #e8e8e8;
    }
  }
  .detailTitle{
    color: #e8e8e8;
  }
  tbody > tr > td,
  thead > tr > th {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: #e8e8e8;
    border-bottom: 1px solid #a4a4a4;
    padding: 7px 10px;
  }
  .detail{
    color: #e8e8e8;
    .topDetail{
      .detailItem{
        .itemTitle{
          color: #aaa;
        }
        .itemValue{
          color: #e8e8e8;
        }
      }
    }
  }

}

::ng-deep .vscode-light{
  .excuteBtn{
    background: #0067ff !important;
    color: #ffffff !important;
  }
  .excuteBtn:disabled{
    background: #f5f5f5 !important;
    color: #ccc !important;
  }
  .key-point{
    border-right: 2px dashed #e1e6ee;
  }
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container > table > tbody > tr:last-child > td{
    border-bottom: 1px solid #e1e6ee !important;
  }
  .allTitle{
    color: #222;
  }
  .ti3-table>.ti3-table-container>table>tbody>tr{
      border-bottom: 1px solid #e1e6ee!important;
  }
  .ti3-table>.ti3-table-container>table>tbody>tr>td{
      color: #222 !important;
      border-bottom: 1px solid #e1e6ee!important;
  }
  .ti3-table > .ti3-table-fixed-head + .ti3-table-container{
    border-bottom: 1px solid #e1e6ee!important;
  }
  .leftTable{
    color: #222;
  }
  .pauseChart{
    color: #222;
    .top-title{
      color: #222;
      border-bottom: 1px dashed #d4d9e6;
    }
    .right-title{
      color: #222;
    }
  }
  .detailTitle{
    color: #222;
  }
  .detail{
    color: #222;
    .topDetail{
      .detailItem{
        .itemTitle{
          color: #616161;
        }
        .itemValue{
          color: #222;
        }
      }
    }
  }
  tbody > tr > td,
  thead > tr > th {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: #222222;
    border-bottom: 1px solid #e1e6ee;
    padding: 7px 10px;
  }
}
::ng-deep .gclog {
  .ti3-table> .ti3-table-fixed-head + .ti3-table-container>table>thead>tr>th {
    border-bottom: none;
  }
  .b-r {
    border-right: 1px solid var(--ti-table-th-after-color);
  }
} 