::ng-deep .vscode-dark {
    --ti-brush-main-bg-color: #313131;
    --ti-func-title-color: #e8e8e8;
    --ti-time-title-color: #aaaaaa;
    --ti-tip-bg-color: #424242;

    .brush-main {
        box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.2),
            0px 6px 16px 0px rgba(0, 0, 0, 0.32),
            0px 3px 6px -4px rgba(0, 0, 0, 0.48);
    }
}

::ng-deep .vscode-light {
    --ti-brush-main-bg-color: #fff;
    --ti-func-title-color: #222222;
    --ti-time-title-color: #616161;

    .brush-main {
        box-shadow: 0px 9px 28px 8px rgba(255, 255, 255, 0.2),
            0px 6px 16px 0px rgba(255, 255, 255, 0.32),
            0px 3px 6px -4px rgba(255, 255, 255, 0.48);
    }
}

.brush-main {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    height: 78px;
    left: 0;
    width: 100%;
    padding: 0px 80px;
    box-sizing: border-box;
    background-color: var(--ti-brush-main-bg-color);
    transition: height 0.2s;
    z-index: 1003;

    &.active {
        height: 482px;
        transition: height 0.2s;
    }
    &.active.tips {
        height: 240px;
        transition: height 0.2s;
    }
    .content1 {
        margin-top: 16px;
    }
}

.toggle-btn-top {
    text-align: center;
    cursor: pointer;
    width: 100%;
    z-index: 99;
    user-select: none;

    img {
        transition: all 100ms linear;
        &.active {
            transform: rotate(180deg);
        }
    }
}

.page-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .function-title {
        font-size: 20px;
        color: var(--ti-func-title-color);
    }
    .time_title {
        color: var(--ti-time-title-color);
        font-size: 14px;
    }
}


::ng-deep .custemTable {
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .ti3-table-fixed-head {
        flex: 0 0 auto;

        .thContent {
            display: flex;
            height: 32px;
        }
    }

    .ti3-table-container {
        flex-grow: 1;

        td {
            position: relative;

            .pro-rate {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #d6e4ff;
                .rateContent {
                    line-height: 42px;
                }
            }
        }
    }

    .ti3-page-container {
        flex: 0 0 auto;
    }
}

:host ::ng-deep .ti3-tooltip {
    white-space: pre-wrap !important;
    max-height: 600px;
}
:host ::ng-deep .ti3-table > .ti3-table-fixed-head + .ti3-table-container {
    height: 320px !important;
}
::ng-deep ti-tip-container.ti3-tooltip {
    &::before {
        background: var(--ti-tip-bg-color);
        border-right: var(--ti-tip-bg-color);
        border-top: var(--ti-tip-bg-color);
    }
    &::after {
        background-color: var(--ti-tip-bg-color);
    }
}
