.detail-item {
    padding-left: 15px;
    color: #ddd;
}

#detail-container {
    position: relative;

    .content-container {
        opacity: 0;
        height: 88% !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}

.showDetail {
    opacity: 1 !important;
}
::ng-deep .ti3-tabs {
    width: 93.5%;
    position: fixed !important;
    height: 70px !important;
    background: var(--title-bg) !important;
    z-index: 999;
    padding-top: 20px !important;
}
:host ::ng-deep .ti3-tab-content {
    margin-top: 45px;
}
::ng-deep #detail-container .ti3-tabs-container .ti3-tabs > li {
    margin-right: 30px;
    a {
        padding: 10px 0 !important;
        ti-tab-header {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
.summury-table tr td {
    color: unset;
}

//浅色主题样式
::ng-deep .vscode-light {
    --title-bg: #fff;

    .createTab ti-tab-header {
        margin-left: 0px !important;
    }

    .createTab .createClass {
        font-size: 20px !important;
        color: #222 !important;
    }
}

//深色主题样式
::ng-deep .vscode-dark {
    --title-bg: #1e1e1e;
    .createTab ti-tab-header {
        margin-left: 0px !important;
    }

    .createTab .createClass {
        font-size: 20px !important;
        color: #e8e8e8 !important;
    }
}

.ti3-tab-pane {
    padding-top: 0 !important;
}

:host ::ng-deep .content-container .table-box {
    position: relative;

    .select-box {
        position: absolute;
        left: 0;
        top: 74px;
    }
}

:host ::ng-deep .createTab .ti3-tab-slider {
    display: none !important;
}

:host ::ng-deep #detail-container .ti3-tabs-container .ti3-tabs > li a {
    padding: 10px 0 !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
