<div class="warpper">
    <div class="nothing" [class]="detailTarget"></div>
    <div class="list-warpper" [class]="detailTarget">
        <ti-formfield [labelWidth]="labelWidth">
            <ng-container *ngFor="let item of displayList">
                <ti-item *ngIf="item.display">
                    <ti-item-label>{{item.label}}</ti-item-label>
                    <span>{{item.value}}</span>
                </ti-item>
            </ng-container>
        </ti-formfield>
        <div *ngIf="taskInfo.switch">
            <div *ngFor="let item of taskInfo.nodeConfig">
                <div *ngIf="taskInfo['analysis-target'] === 'Launch Application'" >
                  <app-mission-panel [title]="item.nodeName + '(' + item.nodeIp + ')'" [active]="false">
                    <div class="content-box">
                        <div class="lable-right">
                          <p class="label">
                            {{ i18n.mission_modal.cProcess.app_path }}
                          </p>
                          <p>{{ item.task_param["app-dir"] || '--' }}</p>
                        </div>
                        <div class="lable-right">
                          <p class="label">
                            {{ i18n.mission_modal.cProcess.app_params }}
                          </p>
                          <p>{{ item.task_param["app-parameters"] || '--' }}</p>
                        </div>
                        <div class="lable-right">
                          <p class="label">
                            {{ i18n.hpc.mission_create.openMpParams}}
                          </p>
                          <p>{{ item.task_param.open_mp_param || '--' }}</p>
                        </div>
                    </div>
                  </app-mission-panel>
                </div>
                <div *ngIf="taskInfo['analysis-target'] === 'Attach to Process'" >
                  <app-mission-panel [title]="item.nodeName + '(' + item.nodeIp + ')'" [active]="false">
                    <div class="content-box">
                        <div class="lable-right">
                          <p class="label">
                            {{ i18n.sys_res.PID }}
                          </p>
                          <p>{{ item.task_param.targetPid || '--' }}</p>
                        </div>
                        <div class="lable-right">
                          <p class="label">
                            {{ i18n.sys_res.processName }}
                          </p>
                          <p>{{ item.task_param.process_name || '--' }}</p>
                        </div>
                    </div>
                  </app-mission-panel>
                </div>
            </div>
        </div>

        <div *ngIf="taskInfo?.hpc_mlt_rank_info?.length > 0">
            <div *ngFor="let item of taskInfo.hpc_mlt_rank_info">
                <app-mission-panel [title]="item.IP" [active]="false">
                    <div class="content-box">
                        <div class="lable-right">
                            <p class="label">
                            rank
                            </p>
                            <p>{{ item.rank || '--' }}</p>
                        </div>
                    </div>
                  </app-mission-panel>
            </div>
        </div>
    </div>
</div>