@import "../../../styles/custemTabs.scss";
@import "../../../styles/custemDetailContainer.scss";
#detail-container {
  padding-top: 24px;
  .content-container {
    margin-top: 8px;
  }
}
::ng-deep .table-title{
  font-size: 16px;
  color: var(--common-color-font-primary);
  padding-bottom: 10px;
  &.mem-title{
    border-bottom: var(--divider-style);
  }
}
::ng-deep .ti3-modal-content .ti3-modal-header span{
  max-width: 600px;
  display: inline-block;
}
::ng-deep .processMemoryUsageModal{
  .ti3-modal-content{
    width: 700px;
  }
}
.basic-info-box {
  margin-top: 24px;
  padding: 0 24px;
  background-color: var(--ti-table-th-bg-color);
  height: 24px;
  line-height: 24px;
  font-size: 12px;

  .info-key {
    color: var(--common-color-font-secondary);
    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  .info-value {
    color: var(--common-color-font-primary);
    margin-left: 8px;
  }
}