<div class="distributedBox">
    <div class="titleBox">
        <div class="formContent" *ngFor="let item of headData">
            <p class="formTitle">{{item.title}}</p>
            <p>{{item.data}}</p>
        </div>
    </div>
    <div class="distributedConfigBox" *ngIf="!nodeData">
        <img src="./assets/img/summary/typicalConfig.svg" class="istributedConfigIcon">
        <p class="istributedConfigContent">
            <ng-container *ngIf="scene === 'Big Data'">{{i18n.sys_summary.distributed.typicalConfig}}</ng-container>
            <ng-container *ngIf="scene === 'Distributed Storage'">{{i18n.sys_summary.distributed.solution}}
            </ng-container>
            <ng-container *ngIf="scene === 'database'">{{i18n.sys_summary.distributed.database}}</ng-container>
            <span (click)="viewConfig(true)">{{i18n.sys_summary.distributed.clickView}}</span>
            {{i18n.sys_summary.distributed.correspond}}
        </p>
    </div>
    <div class="distributedConfig-content" [ngClass]="{'preStyle': sceneSolution !== 2}">
        <div class="distributedConfig">
            <p>{{i18n.sys_summary.distributed.Configuration}}</p>
            <div (click)="viewConfig(false)" (mouseenter)="suggestHover = true" (mouseleave)="suggestHover = false"
                *ngIf="!nodeData">
                <div *ngIf="currTheme === ColorTheme.Dark">
                    <img *ngIf="!suggestHover && !isSuggest" src="./assets/img/summary/suggest-normal-icon-dark.svg">
                    <img *ngIf="suggestHover && !isSuggest" src="./assets/img/summary/suggest-hover-icon-dark.svg">
                    <img *ngIf="isSuggest" src="./assets/img/summary/suggest-down-icon-dark.svg">
                </div>
                <div *ngIf="currTheme === ColorTheme.Light">
                    <img *ngIf="!suggestHover && !isSuggest" src="./assets/img/summary/suggest-normal-icon-light.svg">
                    <img *ngIf="suggestHover && !isSuggest" src="./assets/img/summary/suggest-hover-icon-light.svg">
                    <img *ngIf="isSuggest" src="./assets/img/summary/suggest-down-icon-light.svg">
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="congfigContent" *ngIf="!nodeData">
            <div class="distributedHard distributedSection">
                <p class="distributedTitle">{{i18n.sys_cof.check_types.hard}}</p>
                <div class="distributedContentBox" *ngIf="hardData.length>0">
                    <div *ngFor="let item of hardData">
                        <span class="left-title">
                            <p tiOverflow tiTipPosition='left'>{{item.title}}</p>
                            <img src="./assets/img/summary/compass.svg" class="compass"
                                [tiTip]='item.declaration' tiTipMaxWidth='550px'
                                *ngIf="item.declaration" tiTipPosition="top-left" />
                        </span>
                        <span tiOverflow tiTipPosition='left'>{{item.data}}</span>
                        <img src="./assets/img/rocket.svg" *ngIf="item.tip!=='NULL'" class='rocket'
                            tiTipMaxWidth='700px' tiOverflow tiTipPosition="top-left" [tiTip]='item.tip'>

                    </div>
                </div>
                <div *ngIf="hardData.length===0" class="noData">
                    <img *ngIf="currTheme === ColorTheme.Dark" src='./assets/img/projects/nodata-dark.png' />
                    <img *ngIf="currTheme === ColorTheme.Light" src='./assets/img/projects/nodata-light.png' />
                    <div>{{nodataTips}}</div>
                </div>
            </div>
            <div class="distributedSystem distributedSection">
                <p class="distributedTitle">{{i18n.common_term_projiect_task_system}}</p>
                <div class="distributedContentBox" *ngIf="systemData.length>0">
                    <div *ngFor="let item of systemData">
                        <span class="left-title">
                            <p tiOverflow tiTipPosition='left'>{{item.title}}</p>
                            <img src="./assets/img/summary/compass.svg" class="compass"
                                [tiTip]='item.declaration' tiTipMaxWidth='550px'
                                *ngIf="item.declaration" tiTipPosition="top-left" />
                        </span>
                        <span tiOverflow tiTipPosition='left'>{{item.data}}</span>
                        <img src="./assets/img/rocket.svg" *ngIf="item.tip!=='NULL'" class='rocket'
                            tiTipMaxWidth='700px' tiOverflow tiTipPosition="top-left" [tiTip]='item.tip'>
                    </div>
                </div>
                <div *ngIf="systemData.length===0" class="noData">
                    <img *ngIf="currTheme === ColorTheme.Dark" src='./assets/img/projects/nodata-dark.png' />
                    <img *ngIf="currTheme === ColorTheme.Light" src='./assets/img/projects/nodata-light.png' />
                    <div>{{nodataTips}}</div>
                </div>
            </div>
            <div class="distributedComponent distributedSection">
                <p class="distributedTitle">{{i18n.sys_summary.distributed.component}}</p>
                <ti-searchbox class="search" [placeholder]="i18n.sys_summary.distributed.searcHold"
                    (search)="comSearch($event)" (clear)="onClear()" *ngIf="componentData.length>0">
                </ti-searchbox>
                <div class="distributedContentBox componentBox" *ngIf="componentData.length>0">
                    <div *ngFor="let item of searchComponent">
                        <span class="left-title">
                            <p tiOverflow tiTipPosition='left'>{{item.title}}</p>
                            <img src="./assets/img/summary/compass.svg" class="compass"
                                [tiTip]='item.declaration' tiTipMaxWidth='550px'
                                *ngIf="item.declaration" tiTipPosition="top-left" />
                        </span>
                        <span tiOverflow tiTipPosition='left'>{{item.data}}</span>
                        <img src="./assets/img/rocket.svg" *ngIf="item.tip!=='NULL'" class='rocket'
                            tiTipMaxWidth='700px' tiOverflow tiTipPosition="top-left" [tiTip]='item.tip'>
                    </div>
                </div>
                <div *ngIf="componentData.length===0" class="noData">
                    <img *ngIf="currTheme === ColorTheme.Dark" src='./assets/img/projects/nodata-dark.png' />
                    <img *ngIf="currTheme === ColorTheme.Light" src='./assets/img/projects/nodata-light.png' />
                    <div>{{nodataTips}}</div>
                </div>

            </div>
        </div>
        <div *ngIf="nodeData" class="noNodeData">
            <img *ngIf="currTheme === ColorTheme.Dark" src='./assets/img/projects/nodata-dark.png' />
            <img *ngIf="currTheme === ColorTheme.Light" src='./assets/img/projects/nodata-light.png' />
            <div>{{i18n.sys_summary.cpupackage_tabel.virtual}}</div>
        </div>
    </div>
</div>
<app-pop-mask #viewDetailMask>
    <div class="content viewDetail-mask" [ngClass]="{suggestAll: !ifConfig}">
        <div class="viewDetail-title">
            <span class="create-title" *ngIf="ifConfig">{{i18n.sys_summary.distributed.compSceneConfig}}</span>
            <span class="create-title" *ngIf="!ifConfig">{{i18n.sys_summary.distributed.recommendation}}</span>
            <div style="cursor:pointer;" (click)="closeDetailMask()" (mouseenter)="closeHover = true"
                (mouseleave)="closeHover = false">
                <img *ngIf="!closeHover" src="./assets/img/header/close_icon.svg">
                <img *ngIf="closeHover" src="./assets/img/header/close_icon_hover.svg">
            </div>
        </div>
        <!-- 场景配置 -->
        <div class="box-distributed-content" *ngIf="ifConfig">
            <div class="box-content-all">
                <!-- MySQL -->
                <ng-container *ngIf="isMySQL">
                    <div class="box" *ngFor="let obj of MySQLData">

                        <div class="margin-box">
                            <div class="box-title scene-configuration" (click)='obj.toggle=!obj.toggle'>
                                <img src="./assets/img/summary/row.png" class='title-icon'
                                    [ngClass]="{active:  obj.toggle}">
                                {{obj.title}}
                            </div>
                            <div class="box-content" [ngClass]="{active: obj.toggle}">
                                <div *ngIf="obj.data.length>0" style="padding-bottom:20px">
                                    <div class="box-config-content" *ngFor="let item of obj.data"  [ngClass]="{'splitsClass': item[0]==='OS'}">
                                        <p >{{item[0]}}</p>
                                        <div>
                                            <span tiOverflow tiTipPosition='left'>{{item[1]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="obj.data.length === 0" class="configNodata">
                                    <img *ngIf="currTheme === ColorTheme.Dark"
                                        src='./assets/img/projects/nodata-dark.png' />
                                    <img *ngIf="currTheme === ColorTheme.Light"
                                        src='./assets/img/projects/nodata-light.png' />
                                    <div style="font-size: 1rem">{{nodataTips}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isMySQL">
                    <!-- 硬件配置 -->
                    <div class="box">
                        <div class="margin-box">
                            <div class="box-title scene-configuration" (click)='toggle.hard=!toggle.hard'>
                                <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon'
                                    [ngClass]="{active: !toggle.hard}">
                                {{i18n.sys_summary.distributed.hardConfig}}
                            </div>
                            <div class="box-content" [ngClass]="{active: toggle.hard}">
                                <div *ngIf="hardConfigData.length>0" style="padding-bottom:20px">
                                    <div class="box-config-content" *ngFor="let item of hardConfigData">
                                        <p>{{item.title}}</p>
                                        <div>
                                            <span *ngFor="let value of item.data">{{value}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="hardConfigData.length===0" class="configNodata">
                                    <img *ngIf="currTheme === ColorTheme.Dark"
                                        src='./assets/img/projects/nodata-dark.png' />
                                    <img *ngIf="currTheme === ColorTheme.Light"
                                        src='./assets/img/projects/nodata-light.png' />
                                    <div>{{nodataTips}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 软件配置 -->
                    <div class="box">
                        <div class="box-title scene-configuration" (click)='toggle.soft=!toggle.soft'>
                            <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon'
                                [ngClass]="{active: !toggle.soft}">
                            {{i18n.sys_summary.distributed.softConfig}}
                        </div>
                        <div class="box-content" [ngClass]="{active: toggle.soft}">
                            <div *ngIf="softConfigData.length>0" style="padding-bottom:20px">
                                <div class="box-config-content" *ngFor="let item of softConfigData">
                                    <p>{{item.title}}</p>
                                    <div>
                                        <span *ngFor="let value of item.data">{{value}}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="softConfigData.length===0" class="configNodata">
                                <img *ngIf="currTheme === ColorTheme.Dark"
                                    src='./assets/img/projects/nodata-dark.png' />
                                <img *ngIf="currTheme === ColorTheme.Light"
                                    src='./assets/img/projects/nodata-light.png' />
                                <div>{{nodataTips}}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- 全量建议 -->
        <div class="box-distributed-content" *ngIf="!ifConfig">
            <div class="box-content-all">
                <!-- 硬件 -->
                <div class="box">
                    <div class="margin-box">
                        <div class="box-title" (click)='toggle.hardTab=!toggle.hardTab'>
                            <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon'
                                [ngClass]="{active: !toggle.hardTab}">
                            {{i18n.sys_cof.check_types.hard}}
                        </div>
                        <div class="box-content" [ngClass]="{active: toggle.hardTab}">
                            <ti-table [(displayedData)]="hardDisplayData" [srcData]="hardContentData"
                                [columns]="hardTitle">
                                <table>
                                    <thead>
                                        <tr>
                                            <th tiOverflow *ngFor="let column of hardTitle;index as i">
                                                <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="hardDisplayData.length>0">
                                        <tr *ngFor="let row of hardDisplayData;">
                                            <td tiOverflow><span class="tableFirstData">{{row.config}}</span></td>
                                            <td tiOverflow>{{row.current}}</td>
                                            <td tiOverflow>{{row.suggest}}</td>
                                            <td tiOverflow>{{row.suggestValue}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="hardDisplayData.length === 0">
                                        <tr class="ti3-table-nodata-simple">
                                            <td tiColspan>
                                                <div class="nodata">
                                                    <img *ngIf="currTheme === ColorTheme.Dark"
                                                        src='./assets/img/projects/nodata-dark.png' />
                                                    <img *ngIf="currTheme === ColorTheme.Light"
                                                        src='./assets/img/projects/nodata-light.png' />
                                                    <div>{{nodataTips}}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ti-pagination *ngIf="hardTotalNumber > 10" [(currentPage)]="hardCurrentPage"
                                    style="padding-left: 10px;" [pageSize]="hardPageSize"
                                    [(totalNumber)]="hardTotalNumber">
                                </ti-pagination>
                            </ti-table>
                        </div>
                    </div>
                </div>
                <!-- 系统 -->
                <div class="box">
                    <div class="box-title" (click)='toggle.syttemTab=!toggle.syttemTab'>
                        <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon'
                            [ngClass]="{active: !toggle.syttemTab}">
                        {{i18n.common_term_projiect_task_system}}
                    </div>
                    <div class="box-content" [ngClass]="{active: toggle.syttemTab}">
                        <ti-table [(displayedData)]="systemDisplayData" [srcData]="systemContentData"
                            [columns]="systemTitle">
                            <table>
                                <thead>
                                    <tr>
                                        <th tiOverflow *ngFor="let column of systemTitle;index as i">
                                            <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="systemDisplayData.length>0">
                                    <tr *ngFor="let row of systemDisplayData;">
                                        <td tiOverflow><span class="tableFirstData">{{row.config}}</span></td>
                                        <td tiOverflow>{{row.current}}</td>
                                        <td tiOverflow>{{row.suggest}}</td>
                                        <td tiOverflow>{{row.suggestValue}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="systemDisplayData.length === 0">
                                    <tr class="ti3-table-nodata-simple">
                                        <td tiColspan>
                                            <div class="nodata">
                                                <img *ngIf="currTheme === ColorTheme.Dark"
                                                    src='./assets/img/projects/nodata-dark.png' />
                                                <img *ngIf="currTheme === ColorTheme.Light"
                                                    src='./assets/img/projects/nodata-light.png' />
                                                <div>{{nodataTips}}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ti-pagination *ngIf="systemTotalNumber > 10" [(currentPage)]="systemCurrentPage"
                                style="padding-left: 10px;" [pageSize]="systemPageSize"
                                [(totalNumber)]="systemTotalNumber">
                            </ti-pagination>
                        </ti-table>
                    </div>
                </div>
                <!-- 组件 -->
                <div class="box">
                    <div class="box-title" (click)='toggle.componentTab=!toggle.componentTab'>
                        <img src="./assets/img/summary/arrow-down-icon.svg" class='title-icon'
                            [ngClass]="{active: !toggle.componentTab}">
                        {{i18n.sys_summary.distributed.component}}
                    </div>
                    <div class="box-content" [ngClass]="{active: toggle.componentTab}">
                        <ti-table [(displayedData)]="componentDisplayData" [srcData]="componentContentData"
                            [columns]="componentitle">
                            <table>
                                <thead>
                                    <tr>
                                        <th tiOverflow *ngFor="let column of componentitle;index as i">
                                            <span [ngClass]="{'tableFirstData': i === 0}">{{column.title}}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="componentDisplayData.length>0">
                                    <tr *ngFor="let row of componentDisplayData;">
                                        <td tiOverflow><span class="tableFirstData">{{row.config}}</span></td>
                                        <td tiOverflow>{{row.current}}</td>
                                        <td tiOverflow>{{row.suggest}}</td>
                                        <td tiOverflow>{{row.suggestValue}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="componentDisplayData.length === 0">
                                    <tr class="ti3-table-nodata-simple">
                                        <td tiColspan>
                                            <div class="nodata">
                                                <img *ngIf="currTheme === ColorTheme.Dark"
                                                    src='./assets/img/projects/nodata-dark.png' />
                                                <img *ngIf="currTheme === ColorTheme.Light"
                                                    src='./assets/img/projects/nodata-light.png' />
                                                <div>{{nodataTips}}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ti-pagination *ngIf="componentTotalNumber > 10" [(currentPage)]="componentCurrentPage"
                                style="padding-left: 10px;" [pageSize]="componentPageSize"
                                [(totalNumber)]="componentTotalNumber">
                            </ti-pagination>
                        </ti-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_top">
            <button class="closeBtn" type="button" tiButton
                (click)="closeDetailMask()">{{i18n.common_term_operate_close}}</button>
        </div>
    </div>
</app-pop-mask>