<div class="content" id="itemLog">
    <!-- 操作日志 -->
    <div class="weidheight" id="itemOperatlog">
        <div id="item4" class='titleset'>{{i18n.plugins_porting_menu_operation_log}}
            <div class='secondheight'>
                <span class="little-primary-btn mt-20"
                    (click)="dowloadOperLog()">{{i18n.plugins_porting_button_download_log}}</span>
                <span class="operate-log-tip">{{i18n.commonTermUserSyslogRemark}}</span>
            </div>
            <div class="mt-20">
                <ti-table [(displayedData)]="logDisplayed" class="user-table" [srcData]="operLogList"
                    [columns]="columnLog" class="-table">
                    <div class="ti3-table-fixed-head">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of columnLog"
                                        width="{{column.width}}">
                                        {{column.title}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="ti3-table-container operate-log-table">
                        <table>
                            <thead>
                                <tr>
                                    <th *ngFor="let column of columnLog" width="{{column.width}}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of logDisplayed">
                                    <td tiOverflow>{{row.username}}</td>
                                    <td tiOverflow>{{row.event}}</td>
                                    <td tiOverflow>
                                        <span class="status-icon"
                                            [ngClass]="operLogManageComponent.statusFormat(row.result)"></span>
                                        <span>{{row.result}}</span></td>
                                    <td tiOverflow>{{row.time}}</td>
                                    <td tiOverflow>{{row.detail}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <app-loading *ngIf="logDisplayed.length === 0 && operatLogShowLoading"></app-loading>
                        <app-default-page *ngIf="logDisplayed.length === 0 && !operatLogShowLoading"></app-default-page>
                    </div>
                    <ti-pagination 
                        *ngIf="totalNumber > 10"
                        [(currentPage)]="currentPage"
                        [pageSize]="pageSize"
                        [(totalNumber)]="totalNumber">
                    </ti-pagination>
                </ti-table>
            </div>
        </div>
    </div>
    <!-- 运行日志-->
    <div *ngIf="isAdmin" class="weidheight" id="itemRunlog">
        <div id="item4" class='titleset'>{{i18n.plugins_porting_menu_run_log}}
            <div style="margin-top: 20px;">
                <ti-table [(displayedData)]="runLogDisplay" class="user-table" [srcData]="runLogList"
                    [columns]="columsRunLog">
                    <div class="ti3-table-fixed-head">
                        <table>
                            <thead>
                                <tr>
                                    <th tiOverflow *ngFor="let column of columsRunLog" width="{{column.width}}">
                                        {{column.title}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="ti3-table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th *ngFor=" let column of columsRunLog" width="{{column.width}}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td tiOverflow>log.zip</td>
                                    <td tiOverflow>
                                        <button type="button" [disabled]="isDownLoad" class="btn-download" [ngClass]="{'aLink': !isDownLoad, 'disabled-link': isDownLoad}" (click)='openRunLog()'>{{i18n.plugins_porting_download_log}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <app-loading *ngIf="runLogDisplay.length === 0 && runLogShowLoading"></app-loading>
                        <app-default-page *ngIf="runLogDisplay.length === 0 && !runLogShowLoading"></app-default-page>
                    </div>
                </ti-table>
            </div>
        </div>
        <app-log-situation [situation]="runLogManageComponent.situation" [info]="runLogManageComponent.progressInfo">
        </app-log-situation>
    </div>
</div>