.summury_icicle_chart_container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.summury_icicle_chart_tooltip {
    margin: 0px !important;
    opacity: 0;
    position: absolute;
    display: inline-block;
    padding: 13px;
    height: auto;
    font-family: "huawei sans";
    font-size: 14px;
    color: rgba(40, 43, 51, 1);
    background-color: rgb(255, 255, 255);
    line-height: 20px;
    border-radius: 2px;
    margin-left: 12px;
    pointer-events: none;
    cursor: default;
    box-shadow: 0px 4px 8px 0px rgba(67, 76, 99, 1);
    width: 300px;
    
    p{
        line-height: 20px;
    }
}

.summury_icicle_chart_tooltip:after {
    content: '';
    position: absolute;
    pointer-events: none;
    cursor: default;
}

.summury_icicle_chart_tooltip[orient="tip-right"] {
    transform: translate(150px, -50%);
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='0'] {
    transform: translate(-3%, 22px);
    font-size: offset;

    &:after {
        left: 3%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='1'] {
    transform: translate(-12.5%, 22px);

    &:after {
        left: 12%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='2'] {
    transform: translate(-22%, 22px);

    &:after {
        left: 21%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='3'] {
    transform: translate(-32%, 22px);

    &:after {
        left: 31%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='4'] {
    transform: translate(-40%, 22px);

    &:after {
        left: 40%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='5'] {
    transform: translate(-50%, 22px);

    &:after {
        left: 50%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='6'] {
    transform: translate(-60%, 22px);

    &:after {
        left: 60%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='7'] {
    transform: translate(-70%, 22px);

    &:after {
        left: 69%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='8'] {
    transform: translate(-78%, 22px);

    &:after {
        left: 78%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='9'] {
    transform: translate(-89%, 22px);

    &:after {
        left: 88%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-bottom"][offset='10'] {
    transform: translate(-97%, 22px);

    &:after {
        left: 97%;
        top: -8px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-top: 0;
        border-left: 8px solid transparent;
    }
}

.summury_icicle_chart_tooltip[orient="tip-right"]:after {
    left: 0;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
    border-top: 8px solid transparent;
    border-left: 0;
}
