<div class="statement-mask" *ngIf="showStatement">
    <div class="statement-box">
        <div class="statement">
            <div class="title">
                <span>{{i18n.common_term_statement}}</span>
                <img style="cursor: pointer;width: 20px;height: 20px;"
                 (mouseenter)="onHoverClose('closer')" 
                (mouseleave)="onHoverClose('')" 
                src="./assets/img/common/icon-close.png" (click)="clostStatement()" alt="">
            </div>
            <div class="contentText">
                <p style="font-weight: 600;">{{i18n.statement.title}}</p>
                <p>{{i18n.statement.content1}}</p>
                <p>{{i18n.statement.content2}}</p>
                <p>{{i18n.statement.content3}}</p>
                <p>{{i18n.statement.content4}}</p>
                <p>{{i18n.statement.content5}}</p>
                <p>{{i18n.statement.content6}}</p>
                <p>{{i18n.statement.content7}}</p>
            </div>
            <div class="checkBox">
                <input type="checkbox" tiCheckbox [name]='i18n.common_term_read' [(ngModel)]="readChecked"
                    [label]='i18n.common_term_read'>
            </div>
            <div class="stateButton tip-confirm">
                <button style="margin-right:16px;width: 88px;" type="button" tiButton color='primary' (click)="getDisclaimer()"
                    [disabled]='!readChecked'>{{i18n.common_term_agree}}</button>
                <button style="width: 88px;" type="button" class="cancelBtn" tiButton (click)="clostStatement()">{{i18n.plugins_common_button_cancel}}</button>
            </div>
        </div>
    </div>
</div>
<app-messagebox #saveConfirmTip>
    <div class="content tip-box">
        <div class="tip-title">
            <span class="title-content">{{i18n.plugins_sysperf_message_nodeManagement.tip}}</span>
            <img src="./assets/img/common/icon-close.png" (click)="confirmMsgTip()">
        </div>
        <div class="tip-title-border"></div>
        <div class="tip-dsc">
            <img class="img_box" src="./assets/img/common/icon_warning.png">
            <p>{{i18n.common_term_ThinkTip}}</p>
        </div>
        <div class="tip-confirm">
            <button type="button" (click)="confirmMsgTip()">{{i18n.common_term_Think}}</button>
            <button type="button" (click)="cancelMsgTip()">{{i18n.common_term_admin_log_out}}</button>
        </div>
    </div>
</app-messagebox>