.summary-box > div {
  display: inline-block;
}
.rocket {
  margin-bottom: -4px;
  margin-left: 8px;
}
.redColor {
  color: #f45c5e;
}
.summary-box .contentBox {
  position: relative;
  margin-bottom: 10px;

  .sum-left {
    width: 100%;
    display: flex;

    .stat-box,
    .col-box {
      flex: 1;
    }

    .stat-box {
      margin-right: 81px;

      .stat-item {
        margin-top: 20px;
        width: calc(50% - 10px);
        display: inline-block;

        .item-num {
          font-size: 32px;
          line-height: 32px;
          color: var(--d-e8e8e8-l-222222);
        }

        .item-title {
          margin-top: 10px;
          font-size: 16px;
          line-height: 24px;
          color: var(--d-aaaaaa-l-222222);
        }

        &:nth-child(4),
        &:nth-child(5) {
          margin-top: 32px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          margin-right: 20px;
        }
      }
    }

    .col-box {
      .col-item {
        margin-top: 18px;
        display: flex;
        justify-content: flex-start;

        .label {
          font-size: 14px;
          line-height: 20px;
          color: var(--d-aaaaaa-l-222222);
          margin-right: 16px;

          > div:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }

        .value {
          font-size: 14px;
          line-height: 20px;
          color: var(--d-e8e8e8-l-222222);

          > div:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 30px;

    .header-title {
      font-size: 20px;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  .top-box {
    max-height: 65vh;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .top-table {
      margin-top: 1.2vw;
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .ti3-table-container {
        flex: 1;
      }
    }
  }
}

:host .top-table ::ng-deep .ti3-table > .ti3-resize-wrapper > table > tbody > tr > td,
.ti3-table > .ti3-table-container > table > tbody > tr > td,
.ti3-table > .ti3-table-fixed-head > table > tbody > tr > td,
.ti3-table > table > tbody > tr > td {
  padding: 6px 10px;
}

.suggest_content {
  font-size: 14px;
  color: #282b33;
  line-height: 22px;

  .suggest_tip {
    line-height: 27px;
  }

  .url_copy {
    width: 1px;
    height: 1px;
    border-width: 0;
    opacity: 0;
  }

  .url {
    display: flex;
  }

  .copy {
    padding-right: 20px;
    color: #6c92fa;
    cursor: pointer;
  }
}

.td-hover a:hover {
  border-bottom: 1px solid;
}

.td_left {
  max-width: 80%;
  padding-right: 10px;
  display: inline-block;
}

::ng-deep .vscode-dark {
  .stat-box .stat-item .item-num,
  .col-box .col-item .info {
    color: var(--d-e8e8e8-l-222222) !important;
  }
  .suggest_content {
    color: var(--d-e8e8e8-l-222222) !important;
  }
}
