.flame-box{
 
    text-align: center;
    display: -ms-flexbox;
     display: flex; 
    -ms-flex-align: center;
    align-items: center;
     position: relative; 
    justify-content: center;
    height: 73vh;
    .svgContent{
       
        svg{
            width: 100% !important;
            
        }
    }
}
.d3-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#flame-menu{
    position: fixed;
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;
    top:0px;
    display: flex;
    justify-content: center;
    .functionName{
        max-width: 271px;
        line-height: 18px;
        font-size: 12px;
        color: #616161;
        border-right: 1px solid #D7DEEE;
        padding-right: 12px;
        white-space: nowrap;
    }
    .menu-item{
        white-space: nowrap;
        font-size: 12px;
        cursor: pointer;
        color: #222222 ;
        padding-left: 12px;
        line-height: 18px;
        color: #267DFF;
        
    }
    &[hidden]{
        display: none;
    }
}
#flame-menu.notStack{
    .functionName{
        padding-right: 0px;
        border-right: 0px solid #D7DEEE;
    }
}
.msg-title {
    display: flex;
    align-items: center;
    height: 44px;
    line-height: 44px;
    background-color: #edf4ff;
    cursor: pointer;

    img {
        margin: 0 13px 0 20px;
    }

    .des {
        flex: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

}