<div class="disclaimer-box">
    <div class="disclaimer-title">
        <span class="title-content">{{i18n.plugins_porting_disclaimer_title}}</span>
    </div>
    <div class="disclaimer-dsc">
        <p class="disclaimer-notice">{{i18n.plugins_porting_message_disclaimer_confirmed}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_zero}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_one}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_two}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_three}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_four}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_five}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_six}}</p>
        <p>{{i18n.plugins_porting_disclaimer_item_seven}}</p>
    </div>
</div>
