.warpper {
  --ti-common-space-5x: 0;
  .dial-test-common-table-l1 {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .ti3-table-detail-container {
    --ti-table-th-bg-color: none;
  }
}
