<div class="warpper">
    <div class="dial-test-common-table-l1">{{'net_io.dialing_stat_info' | i18n}}</div>
    <ti-table [(displayedData)]="displayed" [srcData]="srcData">
        <table>
            <thead>
                <tr>
                    <th details-icon-column></th>
                    <th tiOverflow *ngFor="let column of statColumns" width="{{column.width}}">
                        <ti-cell-text>{{column.title}}</ti-cell-text>
                        <ti-head-sort [sortKey]="column.sortKey"></ti-head-sort>
                    </th>
                    <th width="112px">{{'net_io.operation' | i18n}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let row of displayed; index as i; trackBy: trackByFn">
                    <tr>
                        <td details-icon-column>
                            <ti-details-icon [row]="row" [index]="i"></ti-details-icon>
                        </td>
                        <td tiOverflow *ngFor="let col of statColumns; trackBy: trackByFnCol">
                            {{row[col.prop]?.toString() || '--'}}
                        </td>
                        <td><a (click)="onDetailClick(row)">{{'net_io.checkin' | i18n}}</a></td>
                    </tr>
                    <tr *tiDetailsTr="row">
                        <td tiColspan>
                            <div class="ti3-table-detail-container">
                                <app-seque-sub-table [columns]="sequeColumns" [row]="row.children">
                                </app-seque-sub-table>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </ti-table>
</div>

<app-seque-sub-chart [showMask]="showEchartModel" [endType]="endType" [dialType]="dialType" [sequeData]="sequeData"
    [connectId]="connectId" (closeModel)="onModelClose()">
</app-seque-sub-chart>