.net-capture-packet {
  .download-btn {
    margin-bottom: 10px;
  }
}

:host .net-capture-packet ::ng-deep {
  .ti3-table-container {
    max-height: 320px;
  }

  .ti3-table > .ti3-table-container > table > tbody > tr > td {
    line-height: 11px;
  }
}