.node-config-modal {
    .tip {
        padding-left: 16px;
        display: flex;
        align-items: center;
        color: #888888;
    }
}

footer {
    margin-top: 40px;
    button {
        height: 28px;
        line-height: 0px;
        margin-right: 20px;
        min-width: 120px;
        margin-left: 0;
    }

    button.toRight {
        margin-left: 0 !important;
    }
}

.footer {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 130px);
}

.dire-ctrl-select {
    width: 335px;
    margin-bottom: 10px;
}

.cpu-ctrl {
    width: 165px;
    margin-right: 5px;
}

.cpu-ctrl-select {
    margin-right: 5px;
}

:host .cplusplus ::ng-deep .ti3-select-dominator-container {
    background: none !important;
}

::ng-deep .ti3-icon-warn:before {
    content: "";
}

::ng-deep .warn-tip-img {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

::ng-deep .warn-tip-msg {
    float: left;
    width: calc(100% - 30px);
}

::ng-deep .ti3-modal-open .ti3-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .ti3-modal-dialog {
    margin: 0 !important;
}

ti-switch.ti3-switch-container {
    padding-top: 6px;
}

:host ::ng-deep .create > ti-formfield > table > tbody > tr {
    margin-bottom: 20px;
}
:host ::ng-deep ti-formfield .ti3-form tbody tr td .ti3-form-content {
    margin-bottom: 20px;
}
