$common48: 2.5%;

.layout {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 64px;
  left: 0;
  z-index: 112;
  background-color: #fff;
}

.layout-main {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  .nav-bar-container {
    width: 14.58%;
    padding-left: $common48;
  }
  .router-main {
    flex: 1;  
    padding-right: 2.5%;
  }
}

:host ::ng-deep .btn-max-width-zh {
    .ti3-aui-file-container {
        .ti3-file-upload-btnCon {
            max-width: 108px;
        }
    }
}
:host ::ng-deep .btn-max-width-en {
    .ti3-aui-file-container {
        .ti3-file-upload-btnCon {
            max-width: 118px;
        }
    }
}

:host ::ng-deep .ti3-unifyvalid-tip-error-container {

    .ti3-error-icon-bg {
        margin-right: 5px;
    }
}