.main-content {
  height: auto;
}
.main-title {
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e6ee;
  .title {
    font-size: 20px;
    color: #222;
 }
}
.project-tabs {
  margin-top: 20px;
}
.tabs {
  display: flex;
  height: 44px;
  padding-left: 16px;
  background-color: #f7faff;
  line-height: 44px;
  .tab {
    min-width: 140px;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
  }
  .tab-active {
    border: 1px solid #e6ebf5;
    border-bottom: none;
    background-color: #fff;
  }
}

.content-container {
  width: 100%;
}

.ti-tab-title {
  display: block;
  background-color: #f7faff;
}
.ti-tab-active-title {
  background-color: #fff;
}
.header-tip{
  padding-bottom: 0;
  background: #fff;
  .title{
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px dashed #E1E6EE;
    img{
      margin-right: 6px;
    }
    p{
      font-family: "huawei sans";
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 18px;
      letter-spacing: 0;
      color: #282b33;
    }
  }
}
.content1{
    max-height: 420px !important;
  .sign-content{
    box-sizing: border-box;
      p{
        font-family: "huawei sans";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0;
        color: #6c7280;
      }
    }
}

.btn-box {
  text-align: center;
  width: 100%;

  .user-sure-btn {
    margin-right: 6px;
  }
}

.ti3-tab-pane {
  padding-top: 0;
}

:host ::ng-deep [tiButton]:not([disabled]):focus {
  background: var(--ti-button-default-normal-bg-color);
  border-color: var(--ti-button-default-normal-border-color);
  color: var(--ti-button-default-normal-color);
}

:host ::ng-deep [tiButton]:not([disabled]):hover {
  background: var(--ti-button-default-bg-color-active);
  border-color: var(--ti-button-default-border-color-active);
  color: var(--ti-button-default-color-active);
}
.del-report {
  width: 400px !important;
}
.btn-box {
  text-align: center;
  width: 100%;
  button {
    min-width: 88px !important;
  }
  .user-sure-btn {
    margin-right: 6px;
  }
}
