<div class="cpu-detail">
    <div class="cpu-usage" *ngIf="transmission">
        <span class="box-title-set" style="position: relative;display: block">{{i18n.sys.titles.netOk}}
            <div class="download" style=" width:0;overflow:hidden; right:5vw;top:1px;z-index: 99;display: none;">
                <a style="display: block;margin-bottom:5px;" (click)="downloadCsv1()"
                    [title]="i18n.sys_cof.sum.download_csv">
                    <img src="./assets/img/download.svg" alt="" />
                </a>
            </div>
        </span>
        <div class="table-box">
            <div *ngIf="okEchartsData.length>0">
                <div *ngFor="let item of okEchartsData">
                    <app-tables #netOk [timeLine]='timeLine' [datas]='item' (dataZoom)='dataZoom($event)'
                        (echartsInstOut)='echartsInstOut($event)'></app-tables>
                </div>
            </div>
            <app-loading *ngIf="showLoading" [size]="'min'"></app-loading>
            <app-default-page *ngIf="!okData&&!showLoading" [scene]="'noData'" [text]="i18n.common_term_task_nodata">
            </app-default-page>
        </div>
    </div>

    <div class="cpu-usage" *ngIf="malfunction">
        <span class="box-title-set" style="position: relative;display: block">{{i18n.sys.titles.netError}}
        </span>
        <div class="table-box">
            <div *ngIf="errorEchartsData.length>0">
                <div *ngFor="let item of errorEchartsData">
                    <app-tables #netError [timeLine]='timeLine' [datas]='item' (dataZoom)='dataZoom($event)'
                        (echartsInstOut)='echartsInstOut($event)'>
                    </app-tables>
                </div>
            </div>
            <app-loading *ngIf="showLoading" [size]="'min'"></app-loading>
            <app-default-page *ngIf="!errorData&&!showLoading" [scene]="'noData'" [text]="i18n.common_term_task_nodata">
            </app-default-page>
        </div>
    </div>
</div>