.ctx {
  width: 560px;
  margin: 0 auto;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 26px;
  width: 100%;

  .infor-title {
    font-size: 20px;
    height: 26px;
    line-height: 26px;
  }
}
.set-body {
  margin-top: 24px;
  .set-textarea {
    width: 594px;
    height: 262px;
    resize: none;
  }
}

.infor-btn {
  height: 32px;
  display: flex;
  justify-content: center;
  .infor-button {
    width: 88px;
    background-color: var(--infor-detail-button-bg-color);
    border-radius: 2px;
    border: solid 1px var(--default-border-color);
  }

  .infor-button:hover {
    color: var(--infor-detail-button-hover-color) !important;
    border-color: var(--infor-detail-button-hover-color) !important;
    background: var(--d-313131-l-ffffff);
  }
}

.opti_title {
  font-size: 14px;
  margin: 16px 24px 12px 24px;
}

.tip-close {
  display: flex;

  img:hover {
    cursor: pointer;
  }

  & > img {
    display: none;
  }

  & > img:nth-of-type(1) {
    display: block !important;
  }

  &:hover {
    & > img:nth-of-type(1) {
      display: none !important;
    }

    & > img:nth-of-type(2) {
      display: block !important;
    }
  }

  &:active {
    & > img:nth-of-type(1) {
      display: none !important;
    }

    & > img:nth-of-type(2) {
      display: block !important;
    }
  }
}
#addWeakBody {
  overflow: hidden !important;
  --ti-modal-content-margin: 0;
  padding: 0px !important;
}
#weakHeader {
  padding: 20px 0;
}

::ng-deep .ti3-modal-body {
  margin: auto !important;
}
::ng-deep .ti3-modal-dialog {
  width: 660px !important;
}
::ng-deep .ti3-modal-content {
  padding: 0 32px;
  width: 100%;
}
::ng-deep .ti3-modal-header {
  padding: 20px 0 19px !important;
  border-bottom: 1px dashed #4b4b4b;
  span {
    font-size: 20px;
    line-height: 26px;
    justify-content: space-between;

    .ti3-close {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}
::ng-deep .ti3-icon-close:before {
  content: none !important;
}
:host ::ng-deep .ti3-modal-body {
  padding: 0px !important;
}
