.ddr-ddr-echarts {
  app-time-line {
    ::ng-deep .box {
      width: calc(100% - 2px);
      box-sizing: border-box;
    }
  }

  .cpu-usage {
    &:not(:first-child) {
      margin-top: 20px;
    }

    > .box-title {
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
    }

    > .select-box {
      margin-top: 8px;
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
    
      > .selectItem {
        display: flex;
        align-items: center;
    
        > .select-title {
          white-space: nowrap;
          color: #282b33;
        }
    
        > ti-select {
          width: 200px;
          margin-left: 16px;
        }
    
        &:not(:first-child) {
          margin-left: 32px;
        }
      }
    }

    > .table-box {
      width: 100%;
      margin-top: 2%;
      min-height: 200px;
    }

  }

}